.light {
  --md-sys-color-primary-palette-key-color: #09b1a1;
  --md-sys-color-secondary-palette-key-color: #8b7444;
  --md-sys-color-tertiary-palette-key-color: #b37f03;
  --md-sys-color-neutral-palette-key-color: #5e7d7c;
  --md-sys-color-neutral-variant-palette-key-color: #07908f;
  --md-sys-color-error-palette-key-color: #cc4b49;
  --md-sys-color-background: #e3fffd;
  --md-sys-color-on-background: #003939;
  --md-sys-color-surface: #e3fffd;
  --md-sys-color-surface-dim: #a1e6e5;
  --md-sys-color-surface-bright: #e3fffd;
  --md-sys-color-surface-container-lowest: #ffffff;
  --md-sys-color-surface-container-low: #d3fbfa;
  --md-sys-color-surface-container: #c8f7f5;
  --md-sys-color-surface-container-high: #bcf2f0;
  --md-sys-color-surface-container-highest: #b0eeec;
  --md-sys-color-on-surface: #003939;
  --md-sys-color-surface-variant: #b0eeec;
  --md-sys-color-on-surface-variant: #2a6867;
  --md-sys-color-inverse-surface: #001111;
  --md-sys-color-inverse-on-surface: #84a3a2;
  --md-sys-color-outline: #488483;
  --md-sys-color-outline-variant: #80bdbb;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #006b61;
  --md-sys-color-primary: #006b61;
  --md-sys-color-primary-dim: #005e55;
  --md-sys-color-on-primary: #e2fff9;
  --md-sys-color-primary-container: #6df2e0;
  --md-sys-color-on-primary-container: #005950;
  --md-sys-color-inverse-primary: #7afeeb;
  --md-sys-color-primary-fixed: #6df2e0;
  --md-sys-color-primary-fixed-dim: #5de3d2;
  --md-sys-color-on-primary-fixed: #00443d;
  --md-sys-color-on-primary-fixed-variant: #00635a;
  --md-sys-color-secondary: #715c2f;
  --md-sys-color-secondary-dim: #655024;
  --md-sys-color-on-secondary: #fff8f1;
  --md-sys-color-secondary-container: #fddfa6;
  --md-sys-color-on-secondary-container: #634f23;
  --md-sys-color-secondary-fixed: #fddfa6;
  --md-sys-color-secondary-fixed-dim: #eed199;
  --md-sys-color-on-secondary-fixed: #4f3d12;
  --md-sys-color-on-secondary-fixed-variant: #6e592b;
  --md-sys-color-tertiary: #7e5800;
  --md-sys-color-tertiary-dim: #6f4d00;
  --md-sys-color-on-tertiary: #fff8f2;
  --md-sys-color-tertiary-container: #fcbf4b;
  --md-sys-color-on-tertiary-container: #593d00;
  --md-sys-color-tertiary-fixed: #fcbf4b;
  --md-sys-color-tertiary-fixed-dim: #edb13f;
  --md-sys-color-on-tertiary-fixed: #3f2a00;
  --md-sys-color-on-tertiary-fixed-variant: #644500;
  --md-sys-color-error: #ac3434;
  --md-sys-color-error-dim: #70030f;
  --md-sys-color-on-error: #fff7f6;
  --md-sys-color-error-container: #f56965;
  --md-sys-color-on-error-container: #65000b;
}

.light-medium-contrast {
  --md-sys-color-primary-palette-key-color: #09b1a1;
  --md-sys-color-secondary-palette-key-color: #8b7444;
  --md-sys-color-tertiary-palette-key-color: #b37f03;
  --md-sys-color-neutral-palette-key-color: #5e7d7c;
  --md-sys-color-neutral-variant-palette-key-color: #07908f;
  --md-sys-color-error-palette-key-color: #cc4b49;
  --md-sys-color-background: #e3fffd;
  --md-sys-color-on-background: #002929;
  --md-sys-color-surface: #e3fffd;
  --md-sys-color-surface-dim: #a1e6e5;
  --md-sys-color-surface-bright: #e3fffd;
  --md-sys-color-surface-container-lowest: #ffffff;
  --md-sys-color-surface-container-low: #d3fbfa;
  --md-sys-color-surface-container: #c8f7f5;
  --md-sys-color-surface-container-high: #bcf2f0;
  --md-sys-color-surface-container-highest: #b0eeec;
  --md-sys-color-on-surface: #002929;
  --md-sys-color-surface-variant: #b0eeec;
  --md-sys-color-on-surface-variant: #004b4a;
  --md-sys-color-inverse-surface: #001111;
  --md-sys-color-inverse-on-surface: #abcbca;
  --md-sys-color-outline: #2a6867;
  --md-sys-color-outline-variant: #488483;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #004c44;
  --md-sys-color-primary: #004c44;
  --md-sys-color-primary-dim: #003f39;
  --md-sys-color-on-primary: #6aefdd;
  --md-sys-color-primary-container: #008377;
  --md-sys-color-on-primary-container: #ffffff;
  --md-sys-color-inverse-primary: #7afeeb;
  --md-sys-color-primary-fixed: #008377;
  --md-sys-color-primary-fixed-dim: #00756a;
  --md-sys-color-on-primary-fixed: #ffffff;
  --md-sys-color-on-primary-fixed-variant: #ffffff;
  --md-sys-color-secondary: #534015;
  --md-sys-color-secondary-dim: #47350b;
  --md-sys-color-on-secondary: #f3d69e;
  --md-sys-color-secondary-container: #887242;
  --md-sys-color-on-secondary-container: #ffffff;
  --md-sys-color-secondary-fixed: #887242;
  --md-sys-color-secondary-fixed-dim: #7b6537;
  --md-sys-color-on-secondary-fixed: #ffffff;
  --md-sys-color-on-secondary-fixed-variant: #ffffff;
  --md-sys-color-tertiary: #5a3e00;
  --md-sys-color-tertiary-dim: #4b3300;
  --md-sys-color-on-tertiary: #ffd38a;
  --md-sys-color-tertiary-container: #9a6c00;
  --md-sys-color-on-tertiary-container: #ffffff;
  --md-sys-color-tertiary-fixed: #9a6c00;
  --md-sys-color-tertiary-fixed-dim: #8a6100;
  --md-sys-color-on-tertiary-fixed: #ffffff;
  --md-sys-color-on-tertiary-fixed-variant: #ffffff;
  --md-sys-color-error: #84161b;
  --md-sys-color-error-dim: #70030f;
  --md-sys-color-on-error: #ffceca;
  --md-sys-color-error-container: #c94947;
  --md-sys-color-on-error-container: #ffffff;
}

.light-high-contrast {
  --md-sys-color-primary-palette-key-color: #09b1a1;
  --md-sys-color-secondary-palette-key-color: #8b7444;
  --md-sys-color-tertiary-palette-key-color: #b37f03;
  --md-sys-color-neutral-palette-key-color: #5e7d7c;
  --md-sys-color-neutral-variant-palette-key-color: #07908f;
  --md-sys-color-error-palette-key-color: #cc4b49;
  --md-sys-color-background: #e3fffd;
  --md-sys-color-on-background: #000000;
  --md-sys-color-surface: #e3fffd;
  --md-sys-color-surface-dim: #a1e6e5;
  --md-sys-color-surface-bright: #e3fffd;
  --md-sys-color-surface-container-lowest: #ffffff;
  --md-sys-color-surface-container-low: #d3fbfa;
  --md-sys-color-surface-container: #c8f7f5;
  --md-sys-color-surface-container-high: #bcf2f0;
  --md-sys-color-surface-container-highest: #b0eeec;
  --md-sys-color-on-surface: #000000;
  --md-sys-color-surface-variant: #b0eeec;
  --md-sys-color-on-surface-variant: #002929;
  --md-sys-color-inverse-surface: #001111;
  --md-sys-color-inverse-on-surface: #ffffff;
  --md-sys-color-outline: #004b4a;
  --md-sys-color-outline-variant: #2a6867;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #002925;
  --md-sys-color-primary: #002925;
  --md-sys-color-primary-dim: #001e1a;
  --md-sys-color-on-primary: #6aefdd;
  --md-sys-color-primary-container: #006b61;
  --md-sys-color-on-primary-container: #ffffff;
  --md-sys-color-inverse-primary: #7afeeb;
  --md-sys-color-primary-fixed: #006b61;
  --md-sys-color-primary-fixed-dim: #005e55;
  --md-sys-color-on-primary-fixed: #ffffff;
  --md-sys-color-on-primary-fixed-variant: #ffffff;
  --md-sys-color-secondary: #302200;
  --md-sys-color-secondary-dim: #231800;
  --md-sys-color-on-secondary: #f4d79e;
  --md-sys-color-secondary-container: #715c2f;
  --md-sys-color-on-secondary-container: #ffffff;
  --md-sys-color-secondary-fixed: #715c2f;
  --md-sys-color-secondary-fixed-dim: #655024;
  --md-sys-color-on-secondary-fixed: #ffffff;
  --md-sys-color-on-secondary-fixed-variant: #ffffff;
  --md-sys-color-tertiary: #322100;
  --md-sys-color-tertiary-dim: #251700;
  --md-sys-color-on-tertiary: #ffd48b;
  --md-sys-color-tertiary-container: #7e5800;
  --md-sys-color-on-tertiary-container: #ffffff;
  --md-sys-color-tertiary-fixed: #7e5800;
  --md-sys-color-tertiary-fixed-dim: #6f4d00;
  --md-sys-color-on-tertiary-fixed: #ffffff;
  --md-sys-color-on-tertiary-fixed-variant: #ffffff;
  --md-sys-color-error: #510007;
  --md-sys-color-error-dim: #3d0004;
  --md-sys-color-on-error: #ffcfcb;
  --md-sys-color-error-container: #ac3434;
  --md-sys-color-on-error-container: #ffffff;
}

.dark {
  --md-sys-color-primary-palette-key-color: #2c8479;
  --md-sys-color-secondary-palette-key-color: #857556;
  --md-sys-color-tertiary-palette-key-color: #b37f03;
  --md-sys-color-neutral-palette-key-color: #657b7a;
  --md-sys-color-neutral-variant-palette-key-color: #398281;
  --md-sys-color-error-palette-key-color: #cc4b49;
  --md-sys-color-background: #001111;
  --md-sys-color-on-background: #c2eeec;
  --md-sys-color-surface: #001111;
  --md-sys-color-surface-dim: #001111;
  --md-sys-color-surface-bright: #1b302f;
  --md-sys-color-surface-container-lowest: #000000;
  --md-sys-color-surface-container-low: #001716;
  --md-sys-color-surface-container: #001e1d;
  --md-sys-color-surface-container-high: #002424;
  --md-sys-color-surface-container-highest: #002b2b;
  --md-sys-color-on-surface: #c2eeec;
  --md-sys-color-surface-variant: #002b2b;
  --md-sys-color-on-surface-variant: #88b3b2;
  --md-sys-color-inverse-surface: #e7fefd;
  --md-sys-color-inverse-on-surface: #445958;
  --md-sys-color-outline: #537d7c;
  --md-sys-color-outline-variant: #254e4e;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #e4fff9;
  --md-sys-color-primary: #e4fff9;
  --md-sys-color-primary-dim: #a6fbed;
  --md-sys-color-on-primary: #006b61;
  --md-sys-color-primary-container: #a6fbed;
  --md-sys-color-on-primary-container: #006258;
  --md-sys-color-inverse-primary: #006b61;
  --md-sys-color-primary-fixed: #98ecdf;
  --md-sys-color-primary-fixed-dim: #8aded1;
  --md-sys-color-on-primary-fixed: #00443d;
  --md-sys-color-on-primary-fixed-variant: #00635a;
  --md-sys-color-secondary: #d8c4a0;
  --md-sys-color-secondary-dim: #cab693;
  --md-sys-color-on-secondary: #4c3e24;
  --md-sys-color-secondary-container: #2f240c;
  --md-sys-color-on-secondary-container: #b4a280;
  --md-sys-color-secondary-fixed: #fee9c3;
  --md-sys-color-secondary-fixed-dim: #efdab5;
  --md-sys-color-on-secondary-fixed: #504328;
  --md-sys-color-on-secondary-fixed-variant: #6e5f41;
  --md-sys-color-tertiary: #ffd080;
  --md-sys-color-tertiary-dim: #fcbf4b;
  --md-sys-color-on-tertiary: #644500;
  --md-sys-color-tertiary-container: #fcbf4b;
  --md-sys-color-on-tertiary-container: #593d00;
  --md-sys-color-tertiary-fixed: #fcbf4b;
  --md-sys-color-tertiary-fixed-dim: #edb13f;
  --md-sys-color-on-tertiary-fixed: #3f2a00;
  --md-sys-color-on-tertiary-fixed-variant: #644500;
  --md-sys-color-error: #ff716c;
  --md-sys-color-error-dim: #c94947;
  --md-sys-color-on-error: #490006;
  --md-sys-color-error-container: #8a1a1e;
  --md-sys-color-on-error-container: #ff9993;
}

.dark-medium-contrast {
  --md-sys-color-primary-palette-key-color: #2c8479;
  --md-sys-color-secondary-palette-key-color: #857556;
  --md-sys-color-tertiary-palette-key-color: #b37f03;
  --md-sys-color-neutral-palette-key-color: #657b7a;
  --md-sys-color-neutral-variant-palette-key-color: #398281;
  --md-sys-color-error-palette-key-color: #cc4b49;
  --md-sys-color-background: #001111;
  --md-sys-color-on-background: #ffffff;
  --md-sys-color-surface: #001111;
  --md-sys-color-surface-dim: #001111;
  --md-sys-color-surface-bright: #1b302f;
  --md-sys-color-surface-container-lowest: #000000;
  --md-sys-color-surface-container-low: #001716;
  --md-sys-color-surface-container: #001e1d;
  --md-sys-color-surface-container-high: #002424;
  --md-sys-color-surface-container-highest: #002b2b;
  --md-sys-color-on-surface: #ffffff;
  --md-sys-color-surface-variant: #002b2b;
  --md-sys-color-on-surface-variant: #96c1bf;
  --md-sys-color-inverse-surface: #e7fefd;
  --md-sys-color-inverse-on-surface: #273c3b;
  --md-sys-color-outline: #719b9a;
  --md-sys-color-outline-variant: #537d7c;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #e4fff9;
  --md-sys-color-primary: #e4fff9;
  --md-sys-color-primary-dim: #a6fbed;
  --md-sys-color-on-primary: #006057;
  --md-sys-color-primary-container: #a6fbed;
  --md-sys-color-on-primary-container: #00574e;
  --md-sys-color-inverse-primary: #006057;
  --md-sys-color-primary-fixed: #98ecdf;
  --md-sys-color-primary-fixed-dim: #8aded1;
  --md-sys-color-on-primary-fixed: #001f1b;
  --md-sys-color-on-primary-fixed-variant: #00443d;
  --md-sys-color-secondary: #d8c4a0;
  --md-sys-color-secondary-dim: #cab693;
  --md-sys-color-on-secondary: #41341b;
  --md-sys-color-secondary-container: #837354;
  --md-sys-color-on-secondary-container: #ffffff;
  --md-sys-color-secondary-fixed: #fee9c3;
  --md-sys-color-secondary-fixed-dim: #efdab5;
  --md-sys-color-on-secondary-fixed: #30240c;
  --md-sys-color-on-secondary-fixed-variant: #504328;
  --md-sys-color-tertiary: #ffd080;
  --md-sys-color-tertiary-dim: #fcbf4b;
  --md-sys-color-on-tertiary: #573c00;
  --md-sys-color-tertiary-container: #fcbf4b;
  --md-sys-color-on-tertiary-container: #4c3400;
  --md-sys-color-tertiary-fixed: #fcbf4b;
  --md-sys-color-tertiary-fixed-dim: #edb13f;
  --md-sys-color-on-tertiary-fixed: #000000;
  --md-sys-color-on-tertiary-fixed-variant: #3f2a00;
  --md-sys-color-error: #ff9f99;
  --md-sys-color-error-dim: #ff8882;
  --md-sys-color-on-error: #60000a;
  --md-sys-color-error-container: #c94947;
  --md-sys-color-on-error-container: #ffffff;
}

.dark-high-contrast {
  --md-sys-color-primary-palette-key-color: #2c8479;
  --md-sys-color-secondary-palette-key-color: #857556;
  --md-sys-color-tertiary-palette-key-color: #b37f03;
  --md-sys-color-neutral-palette-key-color: #657b7a;
  --md-sys-color-neutral-variant-palette-key-color: #398281;
  --md-sys-color-error-palette-key-color: #cc4b49;
  --md-sys-color-background: #001111;
  --md-sys-color-on-background: #ffffff;
  --md-sys-color-surface: #001111;
  --md-sys-color-surface-dim: #001111;
  --md-sys-color-surface-bright: #1b302f;
  --md-sys-color-surface-container-lowest: #000000;
  --md-sys-color-surface-container-low: #001716;
  --md-sys-color-surface-container: #001e1d;
  --md-sys-color-surface-container-high: #002424;
  --md-sys-color-surface-container-highest: #002b2b;
  --md-sys-color-on-surface: #ffffff;
  --md-sys-color-surface-variant: #002b2b;
  --md-sys-color-on-surface-variant: #c2eeec;
  --md-sys-color-inverse-surface: #e7fefd;
  --md-sys-color-inverse-on-surface: #000000;
  --md-sys-color-outline: #96c1bf;
  --md-sys-color-outline-variant: #719b9a;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #e4fff9;
  --md-sys-color-primary: #e4fff9;
  --md-sys-color-primary-dim: #a6fbed;
  --md-sys-color-on-primary: #004039;
  --md-sys-color-primary-container: #a6fbed;
  --md-sys-color-on-primary-container: #003631;
  --md-sys-color-inverse-primary: #004039;
  --md-sys-color-primary-fixed: #98ecdf;
  --md-sys-color-primary-fixed-dim: #8aded1;
  --md-sys-color-on-primary-fixed: #000000;
  --md-sys-color-on-primary-fixed-variant: #001f1b;
  --md-sys-color-secondary: #f8e3be;
  --md-sys-color-secondary-dim: #e9d5b0;
  --md-sys-color-on-secondary: #362a11;
  --md-sys-color-secondary-container: #ae9c7a;
  --md-sys-color-on-secondary-container: #000000;
  --md-sys-color-secondary-fixed: #fee9c3;
  --md-sys-color-secondary-fixed-dim: #efdab5;
  --md-sys-color-on-secondary-fixed: #000000;
  --md-sys-color-on-secondary-fixed-variant: #30240c;
  --md-sys-color-tertiary: #ffe1b4;
  --md-sys-color-tertiary-dim: #ffcd77;
  --md-sys-color-on-tertiary: #3c2800;
  --md-sys-color-tertiary-container: #fcbf4b;
  --md-sys-color-on-tertiary-container: #1e1200;
  --md-sys-color-tertiary-fixed: #fcbf4b;
  --md-sys-color-tertiary-fixed-dim: #edb13f;
  --md-sys-color-on-tertiary-fixed: #000000;
  --md-sys-color-on-tertiary-fixed-variant: #000000;
  --md-sys-color-error: #ffdedb;
  --md-sys-color-error-dim: #ffc7c3;
  --md-sys-color-on-error: #60000a;
  --md-sys-color-error-container: #ff716c;
  --md-sys-color-on-error-container: #000000;
}

