.light {
  --md-sys-color-primary-palette-key-color: #0e867a;
  --md-sys-color-secondary-palette-key-color: #8b7444;
  --md-sys-color-tertiary-palette-key-color: #b37f03;
  --md-sys-color-neutral-palette-key-color: #697a79;
  --md-sys-color-neutral-variant-palette-key-color: #48807f;
  --md-sys-color-error-palette-key-color: #bb5955;
  --md-sys-color-background: #000000;
  --md-sys-color-on-background: #ffffff;
  --md-sys-color-surface: #000000;
  --md-sys-color-surface-dim: #021110;
  --md-sys-color-surface-bright: #073231;
  --md-sys-color-surface-container-lowest: #000000;
  --md-sys-color-surface-container-low: #182928;
  --md-sys-color-surface-container: #233333;
  --md-sys-color-surface-container-high: #2e3e3e;
  --md-sys-color-surface-container-highest: #062b2a;
  --md-sys-color-on-surface: #fdfffe;
  --md-sys-color-surface-variant: #062b2a;
  --md-sys-color-on-surface-variant: #bfd2d1;
  --md-sys-color-inverse-surface: #eafdfc;
  --md-sys-color-inverse-on-surface: #475858;
  --md-sys-color-outline: #97a9a8;
  --md-sys-color-outline-variant: #778988;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #8ceedf;
  --md-sys-color-primary: #8ceedf;
  --md-sys-color-primary-dim: #7ee0d1;
  --md-sys-color-on-primary: #00443d;
  --md-sys-color-primary-container: #005048;
  --md-sys-color-on-primary-container: #8ff1e2;
  --md-sys-color-inverse-primary: #006057;
  --md-sys-color-primary-fixed: #005048;
  --md-sys-color-primary-fixed-dim: #00443d;
  --md-sys-color-on-primary-fixed: #7ddfd0;
  --md-sys-color-on-primary-fixed-variant: #52b6a8;
  --md-sys-color-secondary: #fadca3;
  --md-sys-color-secondary-dim: #ebce96;
  --md-sys-color-on-secondary: #4d3b10;
  --md-sys-color-secondary-container: #574419;
  --md-sys-color-on-secondary-container: #fadda4;
  --md-sys-color-secondary-fixed: #574419;
  --md-sys-color-secondary-fixed-dim: #4b390e;
  --md-sys-color-on-secondary-fixed: #e7cb93;
  --md-sys-color-on-secondary-fixed-variant: #bda26e;
  --md-sys-color-tertiary: #ffc459;
  --md-sys-color-tertiary-dim: #f2b643;
  --md-sys-color-on-tertiary: #442e00;
  --md-sys-color-tertiary-container: #d49b29;
  --md-sys-color-on-tertiary-container: #251800;
  --md-sys-color-tertiary-fixed: #d49b29;
  --md-sys-color-tertiary-fixed-dim: #c58e1b;
  --md-sys-color-on-tertiary-fixed: #080400;
  --md-sys-color-on-tertiary-fixed-variant: #422c00;
  --md-sys-color-error: #ffbeb9;
  --md-sys-color-error-dim: #f58680;
  --md-sys-color-on-error: #3f0004;
  --md-sys-color-error-container: #7e2a29;
  --md-sys-color-on-error-container: #ffd7d4;
}

.light-medium-contrast {
  --md-sys-color-primary-palette-key-color: #0e867a;
  --md-sys-color-secondary-palette-key-color: #8b7444;
  --md-sys-color-tertiary-palette-key-color: #b37f03;
  --md-sys-color-neutral-palette-key-color: #697a79;
  --md-sys-color-neutral-variant-palette-key-color: #48807f;
  --md-sys-color-error-palette-key-color: #bb5955;
  --md-sys-color-background: #000000;
  --md-sys-color-on-background: #ffffff;
  --md-sys-color-surface: #000000;
  --md-sys-color-surface-dim: #021110;
  --md-sys-color-surface-bright: #073231;
  --md-sys-color-surface-container-lowest: #000000;
  --md-sys-color-surface-container-low: #182928;
  --md-sys-color-surface-container: #233333;
  --md-sys-color-surface-container-high: #2e3e3e;
  --md-sys-color-surface-container-highest: #062b2a;
  --md-sys-color-on-surface: #ffffff;
  --md-sys-color-surface-variant: #062b2a;
  --md-sys-color-on-surface-variant: #fdfffe;
  --md-sys-color-inverse-surface: #eafdfc;
  --md-sys-color-inverse-on-surface: #2b3b3b;
  --md-sys-color-outline: #bfd2d1;
  --md-sys-color-outline-variant: #97a9a8;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #fefffd;
  --md-sys-color-primary: #fefffd;
  --md-sys-color-primary-dim: #9afded;
  --md-sys-color-on-primary: #003631;
  --md-sys-color-primary-container: #005048;
  --md-sys-color-on-primary-container: #ffffff;
  --md-sys-color-inverse-primary: #004039;
  --md-sys-color-primary-fixed: #005048;
  --md-sys-color-primary-fixed-dim: #00443d;
  --md-sys-color-on-primary-fixed: #fefffd;
  --md-sys-color-on-primary-fixed-variant: #7ddfd0;
  --md-sys-color-secondary: #fffeff;
  --md-sys-color-secondary-dim: #fadca3;
  --md-sys-color-on-secondary: #352500;
  --md-sys-color-secondary-container: #574419;
  --md-sys-color-on-secondary-container: #ffffff;
  --md-sys-color-secondary-fixed: #574419;
  --md-sys-color-secondary-fixed-dim: #4b390e;
  --md-sys-color-on-secondary-fixed: #fffeff;
  --md-sys-color-on-secondary-fixed-variant: #e7cb93;
  --md-sys-color-tertiary: #fffeff;
  --md-sys-color-tertiary-dim: #ffc459;
  --md-sys-color-on-tertiary: #251700;
  --md-sys-color-tertiary-container: #e3a936;
  --md-sys-color-on-tertiary-container: #000000;
  --md-sys-color-tertiary-fixed: #d49b29;
  --md-sys-color-tertiary-fixed-dim: #c58e1b;
  --md-sys-color-on-tertiary-fixed: #000000;
  --md-sys-color-on-tertiary-fixed-variant: #080400;
  --md-sys-color-error: #fffeff;
  --md-sys-color-error-dim: #ffbeb9;
  --md-sys-color-on-error: #3d0004;
  --md-sys-color-error-container: #7e2a29;
  --md-sys-color-on-error-container: #ffffff;
}

.light-high-contrast {
  --md-sys-color-primary-palette-key-color: #0e867a;
  --md-sys-color-secondary-palette-key-color: #8b7444;
  --md-sys-color-tertiary-palette-key-color: #b37f03;
  --md-sys-color-neutral-palette-key-color: #697a79;
  --md-sys-color-neutral-variant-palette-key-color: #48807f;
  --md-sys-color-error-palette-key-color: #bb5955;
  --md-sys-color-background: #000000;
  --md-sys-color-on-background: #ffffff;
  --md-sys-color-surface: #000000;
  --md-sys-color-surface-dim: #021110;
  --md-sys-color-surface-bright: #073231;
  --md-sys-color-surface-container-lowest: #000000;
  --md-sys-color-surface-container-low: #182928;
  --md-sys-color-surface-container: #233333;
  --md-sys-color-surface-container-high: #2e3e3e;
  --md-sys-color-surface-container-highest: #062b2a;
  --md-sys-color-on-surface: #ffffff;
  --md-sys-color-surface-variant: #062b2a;
  --md-sys-color-on-surface-variant: #ffffff;
  --md-sys-color-inverse-surface: #eafdfc;
  --md-sys-color-inverse-on-surface: #000000;
  --md-sys-color-outline: #fdfffe;
  --md-sys-color-outline-variant: #bfd2d1;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #ffffff;
  --md-sys-color-primary: #ffffff;
  --md-sys-color-primary-dim: #fefffd;
  --md-sys-color-on-primary: #000000;
  --md-sys-color-primary-container: #005048;
  --md-sys-color-on-primary-container: #ffffff;
  --md-sys-color-inverse-primary: #000000;
  --md-sys-color-primary-fixed: #005048;
  --md-sys-color-primary-fixed-dim: #00443d;
  --md-sys-color-on-primary-fixed: #ffffff;
  --md-sys-color-on-primary-fixed-variant: #fefffd;
  --md-sys-color-secondary: #ffffff;
  --md-sys-color-secondary-dim: #fffeff;
  --md-sys-color-on-secondary: #000000;
  --md-sys-color-secondary-container: #574419;
  --md-sys-color-on-secondary-container: #ffffff;
  --md-sys-color-secondary-fixed: #574419;
  --md-sys-color-secondary-fixed-dim: #4b390e;
  --md-sys-color-on-secondary-fixed: #ffffff;
  --md-sys-color-on-secondary-fixed-variant: #fffeff;
  --md-sys-color-tertiary: #ffffff;
  --md-sys-color-tertiary-dim: #fffeff;
  --md-sys-color-on-tertiary: #000000;
  --md-sys-color-tertiary-container: #fcbf4b;
  --md-sys-color-on-tertiary-container: #000000;
  --md-sys-color-tertiary-fixed: #d49b29;
  --md-sys-color-tertiary-fixed-dim: #c58e1b;
  --md-sys-color-on-tertiary-fixed: #000000;
  --md-sys-color-on-tertiary-fixed-variant: #000000;
  --md-sys-color-error: #ffffff;
  --md-sys-color-error-dim: #fffeff;
  --md-sys-color-on-error: #000000;
  --md-sys-color-error-container: #7e2a29;
  --md-sys-color-on-error-container: #ffffff;
}

.dark {
  --md-sys-color-primary-palette-key-color: #0e867a;
  --md-sys-color-secondary-palette-key-color: #8b7444;
  --md-sys-color-tertiary-palette-key-color: #b37f03;
  --md-sys-color-neutral-palette-key-color: #697a79;
  --md-sys-color-neutral-variant-palette-key-color: #48807f;
  --md-sys-color-error-palette-key-color: #bb5955;
  --md-sys-color-background: #000000;
  --md-sys-color-on-background: #ffffff;
  --md-sys-color-surface: #000000;
  --md-sys-color-surface-dim: #021110;
  --md-sys-color-surface-bright: #073231;
  --md-sys-color-surface-container-lowest: #000000;
  --md-sys-color-surface-container-low: #182928;
  --md-sys-color-surface-container: #233333;
  --md-sys-color-surface-container-high: #2e3e3e;
  --md-sys-color-surface-container-highest: #062b2a;
  --md-sys-color-on-surface: #fdfffe;
  --md-sys-color-surface-variant: #062b2a;
  --md-sys-color-on-surface-variant: #bfd2d1;
  --md-sys-color-inverse-surface: #eafdfc;
  --md-sys-color-inverse-on-surface: #475858;
  --md-sys-color-outline: #97a9a8;
  --md-sys-color-outline-variant: #778988;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #8ceedf;
  --md-sys-color-primary: #8ceedf;
  --md-sys-color-primary-dim: #7ee0d1;
  --md-sys-color-on-primary: #00443d;
  --md-sys-color-primary-container: #005048;
  --md-sys-color-on-primary-container: #8ff1e2;
  --md-sys-color-inverse-primary: #006057;
  --md-sys-color-primary-fixed: #005048;
  --md-sys-color-primary-fixed-dim: #00443d;
  --md-sys-color-on-primary-fixed: #7ddfd0;
  --md-sys-color-on-primary-fixed-variant: #52b6a8;
  --md-sys-color-secondary: #fadca3;
  --md-sys-color-secondary-dim: #ebce96;
  --md-sys-color-on-secondary: #4d3b10;
  --md-sys-color-secondary-container: #574419;
  --md-sys-color-on-secondary-container: #fadda4;
  --md-sys-color-secondary-fixed: #574419;
  --md-sys-color-secondary-fixed-dim: #4b390e;
  --md-sys-color-on-secondary-fixed: #e7cb93;
  --md-sys-color-on-secondary-fixed-variant: #bda26e;
  --md-sys-color-tertiary: #ffc459;
  --md-sys-color-tertiary-dim: #f2b643;
  --md-sys-color-on-tertiary: #442e00;
  --md-sys-color-tertiary-container: #d49b29;
  --md-sys-color-on-tertiary-container: #251800;
  --md-sys-color-tertiary-fixed: #d49b29;
  --md-sys-color-tertiary-fixed-dim: #c58e1b;
  --md-sys-color-on-tertiary-fixed: #080400;
  --md-sys-color-on-tertiary-fixed-variant: #422c00;
  --md-sys-color-error: #ffbeb9;
  --md-sys-color-error-dim: #f58680;
  --md-sys-color-on-error: #3f0004;
  --md-sys-color-error-container: #7e2a29;
  --md-sys-color-on-error-container: #ffd7d4;
}

.dark-medium-contrast {
  --md-sys-color-primary-palette-key-color: #0e867a;
  --md-sys-color-secondary-palette-key-color: #8b7444;
  --md-sys-color-tertiary-palette-key-color: #b37f03;
  --md-sys-color-neutral-palette-key-color: #697a79;
  --md-sys-color-neutral-variant-palette-key-color: #48807f;
  --md-sys-color-error-palette-key-color: #bb5955;
  --md-sys-color-background: #000000;
  --md-sys-color-on-background: #ffffff;
  --md-sys-color-surface: #000000;
  --md-sys-color-surface-dim: #021110;
  --md-sys-color-surface-bright: #073231;
  --md-sys-color-surface-container-lowest: #000000;
  --md-sys-color-surface-container-low: #182928;
  --md-sys-color-surface-container: #233333;
  --md-sys-color-surface-container-high: #2e3e3e;
  --md-sys-color-surface-container-highest: #062b2a;
  --md-sys-color-on-surface: #ffffff;
  --md-sys-color-surface-variant: #062b2a;
  --md-sys-color-on-surface-variant: #fdfffe;
  --md-sys-color-inverse-surface: #eafdfc;
  --md-sys-color-inverse-on-surface: #2b3b3b;
  --md-sys-color-outline: #bfd2d1;
  --md-sys-color-outline-variant: #97a9a8;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #fefffd;
  --md-sys-color-primary: #fefffd;
  --md-sys-color-primary-dim: #9afded;
  --md-sys-color-on-primary: #003631;
  --md-sys-color-primary-container: #005048;
  --md-sys-color-on-primary-container: #ffffff;
  --md-sys-color-inverse-primary: #004039;
  --md-sys-color-primary-fixed: #005048;
  --md-sys-color-primary-fixed-dim: #00443d;
  --md-sys-color-on-primary-fixed: #fefffd;
  --md-sys-color-on-primary-fixed-variant: #7ddfd0;
  --md-sys-color-secondary: #fffeff;
  --md-sys-color-secondary-dim: #fadca3;
  --md-sys-color-on-secondary: #352500;
  --md-sys-color-secondary-container: #574419;
  --md-sys-color-on-secondary-container: #ffffff;
  --md-sys-color-secondary-fixed: #574419;
  --md-sys-color-secondary-fixed-dim: #4b390e;
  --md-sys-color-on-secondary-fixed: #fffeff;
  --md-sys-color-on-secondary-fixed-variant: #e7cb93;
  --md-sys-color-tertiary: #fffeff;
  --md-sys-color-tertiary-dim: #ffc459;
  --md-sys-color-on-tertiary: #251700;
  --md-sys-color-tertiary-container: #e3a936;
  --md-sys-color-on-tertiary-container: #000000;
  --md-sys-color-tertiary-fixed: #d49b29;
  --md-sys-color-tertiary-fixed-dim: #c58e1b;
  --md-sys-color-on-tertiary-fixed: #000000;
  --md-sys-color-on-tertiary-fixed-variant: #080400;
  --md-sys-color-error: #fffeff;
  --md-sys-color-error-dim: #ffbeb9;
  --md-sys-color-on-error: #3d0004;
  --md-sys-color-error-container: #7e2a29;
  --md-sys-color-on-error-container: #ffffff;
}

.dark-high-contrast {
  --md-sys-color-primary-palette-key-color: #0e867a;
  --md-sys-color-secondary-palette-key-color: #8b7444;
  --md-sys-color-tertiary-palette-key-color: #b37f03;
  --md-sys-color-neutral-palette-key-color: #697a79;
  --md-sys-color-neutral-variant-palette-key-color: #48807f;
  --md-sys-color-error-palette-key-color: #bb5955;
  --md-sys-color-background: #000000;
  --md-sys-color-on-background: #ffffff;
  --md-sys-color-surface: #000000;
  --md-sys-color-surface-dim: #021110;
  --md-sys-color-surface-bright: #073231;
  --md-sys-color-surface-container-lowest: #000000;
  --md-sys-color-surface-container-low: #182928;
  --md-sys-color-surface-container: #233333;
  --md-sys-color-surface-container-high: #2e3e3e;
  --md-sys-color-surface-container-highest: #062b2a;
  --md-sys-color-on-surface: #ffffff;
  --md-sys-color-surface-variant: #062b2a;
  --md-sys-color-on-surface-variant: #ffffff;
  --md-sys-color-inverse-surface: #eafdfc;
  --md-sys-color-inverse-on-surface: #000000;
  --md-sys-color-outline: #fdfffe;
  --md-sys-color-outline-variant: #bfd2d1;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #ffffff;
  --md-sys-color-primary: #ffffff;
  --md-sys-color-primary-dim: #fefffd;
  --md-sys-color-on-primary: #000000;
  --md-sys-color-primary-container: #005048;
  --md-sys-color-on-primary-container: #ffffff;
  --md-sys-color-inverse-primary: #000000;
  --md-sys-color-primary-fixed: #005048;
  --md-sys-color-primary-fixed-dim: #00443d;
  --md-sys-color-on-primary-fixed: #ffffff;
  --md-sys-color-on-primary-fixed-variant: #fefffd;
  --md-sys-color-secondary: #ffffff;
  --md-sys-color-secondary-dim: #fffeff;
  --md-sys-color-on-secondary: #000000;
  --md-sys-color-secondary-container: #574419;
  --md-sys-color-on-secondary-container: #ffffff;
  --md-sys-color-secondary-fixed: #574419;
  --md-sys-color-secondary-fixed-dim: #4b390e;
  --md-sys-color-on-secondary-fixed: #ffffff;
  --md-sys-color-on-secondary-fixed-variant: #fffeff;
  --md-sys-color-tertiary: #ffffff;
  --md-sys-color-tertiary-dim: #fffeff;
  --md-sys-color-on-tertiary: #000000;
  --md-sys-color-tertiary-container: #fcbf4b;
  --md-sys-color-on-tertiary-container: #000000;
  --md-sys-color-tertiary-fixed: #d49b29;
  --md-sys-color-tertiary-fixed-dim: #c58e1b;
  --md-sys-color-on-tertiary-fixed: #000000;
  --md-sys-color-on-tertiary-fixed-variant: #000000;
  --md-sys-color-error: #ffffff;
  --md-sys-color-error-dim: #fffeff;
  --md-sys-color-on-error: #000000;
  --md-sys-color-error-container: #7e2a29;
  --md-sys-color-on-error-container: #ffffff;
}

