.light {
  --md-sys-color-primary-palette-key-color: #049789;
  --md-sys-color-secondary-palette-key-color: #577e77;
  --md-sys-color-tertiary-palette-key-color: #bf7157;
  --md-sys-color-neutral-palette-key-color: #727876;
  --md-sys-color-neutral-variant-palette-key-color: #6d7a77;
  --md-sys-color-error-palette-key-color: #de3730;
  --md-sys-color-background: #f5faf8;
  --md-sys-color-on-background: #2e3432;
  --md-sys-color-surface: #f5faf8;
  --md-sys-color-surface-dim: #d6dbd9;
  --md-sys-color-surface-bright: #f5faf8;
  --md-sys-color-surface-container-lowest: #ffffff;
  --md-sys-color-surface-container-low: #eff5f2;
  --md-sys-color-surface-container: #eaefed;
  --md-sys-color-surface-container-high: #e4e9e7;
  --md-sys-color-surface-container-highest: #dee4e1;
  --md-sys-color-on-surface: #2e3432;
  --md-sys-color-surface-variant: #dee4e1;
  --md-sys-color-on-surface-variant: #5a605f;
  --md-sys-color-inverse-surface: #0a0f0e;
  --md-sys-color-inverse-on-surface: #989e9c;
  --md-sys-color-outline: #767c7a;
  --md-sys-color-outline-variant: #aeb3b1;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #006b61;
  --md-sys-color-primary: #006b61;
  --md-sys-color-primary-dim: #005e55;
  --md-sys-color-on-primary: #e2fff9;
  --md-sys-color-primary-container: #7ff0df;
  --md-sys-color-on-primary-container: #005950;
  --md-sys-color-inverse-primary: #85f6e5;
  --md-sys-color-primary-fixed: #7ff0df;
  --md-sys-color-primary-fixed-dim: #70e1d1;
  --md-sys-color-on-primary-fixed: #00443d;
  --md-sys-color-on-primary-fixed-variant: #00635a;
  --md-sys-color-secondary: #3f6660;
  --md-sys-color-secondary-dim: #335a54;
  --md-sys-color-on-secondary: #e2fff9;
  --md-sys-color-secondary-container: #c1ebe3;
  --md-sys-color-on-secondary-container: #315952;
  --md-sys-color-secondary-fixed: #c1ebe3;
  --md-sys-color-secondary-fixed-dim: #b3ddd5;
  --md-sys-color-on-secondary-fixed: #1e4640;
  --md-sys-color-on-secondary-fixed-variant: #3b625c;
  --md-sys-color-tertiary: #914c34;
  --md-sys-color-tertiary-dim: #82412a;
  --md-sys-color-on-tertiary: #fff7f5;
  --md-sys-color-tertiary-container: #fea588;
  --md-sys-color-on-tertiary-container: #612712;
  --md-sys-color-tertiary-fixed: #fea588;
  --md-sys-color-tertiary-fixed-dim: #ee987c;
  --md-sys-color-on-tertiary-fixed: #441202;
  --md-sys-color-on-tertiary-fixed-variant: #6c301a;
  --md-sys-color-error: #bb1b1b;
  --md-sys-color-error-dim: #a90810;
  --md-sys-color-on-error: #fff7f6;
  --md-sys-color-error-container: #fe4e44;
  --md-sys-color-on-error-container: #570003;
}

.light-medium-contrast {
  --md-sys-color-primary-palette-key-color: #049789;
  --md-sys-color-secondary-palette-key-color: #577e77;
  --md-sys-color-tertiary-palette-key-color: #bf7157;
  --md-sys-color-neutral-palette-key-color: #727876;
  --md-sys-color-neutral-variant-palette-key-color: #6d7a77;
  --md-sys-color-error-palette-key-color: #de3730;
  --md-sys-color-background: #f5faf8;
  --md-sys-color-on-background: #1f2524;
  --md-sys-color-surface: #f5faf8;
  --md-sys-color-surface-dim: #d6dbd9;
  --md-sys-color-surface-bright: #f5faf8;
  --md-sys-color-surface-container-lowest: #ffffff;
  --md-sys-color-surface-container-low: #eff5f2;
  --md-sys-color-surface-container: #eaefed;
  --md-sys-color-surface-container-high: #e4e9e7;
  --md-sys-color-surface-container-highest: #dee4e1;
  --md-sys-color-on-surface: #1f2524;
  --md-sys-color-surface-variant: #dee4e1;
  --md-sys-color-on-surface-variant: #3e4443;
  --md-sys-color-inverse-surface: #0a0f0e;
  --md-sys-color-inverse-on-surface: #c0c6c4;
  --md-sys-color-outline: #5a605f;
  --md-sys-color-outline-variant: #767c7a;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #004c44;
  --md-sys-color-primary: #004c44;
  --md-sys-color-primary-dim: #003f39;
  --md-sys-color-on-primary: #7ceddc;
  --md-sys-color-primary-container: #008377;
  --md-sys-color-on-primary-container: #ffffff;
  --md-sys-color-inverse-primary: #85f6e5;
  --md-sys-color-primary-fixed: #008377;
  --md-sys-color-primary-fixed-dim: #00756a;
  --md-sys-color-on-primary-fixed: #ffffff;
  --md-sys-color-on-primary-fixed-variant: #ffffff;
  --md-sys-color-secondary: #224944;
  --md-sys-color-secondary-dim: #153e38;
  --md-sys-color-on-secondary: #b8e2da;
  --md-sys-color-secondary-container: #547c75;
  --md-sys-color-on-secondary-container: #ffffff;
  --md-sys-color-secondary-fixed: #547c75;
  --md-sys-color-secondary-fixed-dim: #486f69;
  --md-sys-color-on-secondary-fixed: #ffffff;
  --md-sys-color-on-secondary-fixed-variant: #ffffff;
  --md-sys-color-tertiary: #6e311b;
  --md-sys-color-tertiary-dim: #5f2611;
  --md-sys-color-on-tertiary: #ffcfc0;
  --md-sys-color-tertiary-container: #ab6148;
  --md-sys-color-on-tertiary-container: #ffffff;
  --md-sys-color-tertiary-fixed: #ab6148;
  --md-sys-color-tertiary-fixed-dim: #9c553c;
  --md-sys-color-on-tertiary-fixed: #ffffff;
  --md-sys-color-on-tertiary-fixed-variant: #ffffff;
  --md-sys-color-error: #8c0009;
  --md-sys-color-error-dim: #760006;
  --md-sys-color-on-error: #ffcec8;
  --md-sys-color-error-container: #da342e;
  --md-sys-color-on-error-container: #ffffff;
}

.light-high-contrast {
  --md-sys-color-primary-palette-key-color: #049789;
  --md-sys-color-secondary-palette-key-color: #577e77;
  --md-sys-color-tertiary-palette-key-color: #bf7157;
  --md-sys-color-neutral-palette-key-color: #727876;
  --md-sys-color-neutral-variant-palette-key-color: #6d7a77;
  --md-sys-color-error-palette-key-color: #de3730;
  --md-sys-color-background: #f5faf8;
  --md-sys-color-on-background: #000000;
  --md-sys-color-surface: #f5faf8;
  --md-sys-color-surface-dim: #d6dbd9;
  --md-sys-color-surface-bright: #f5faf8;
  --md-sys-color-surface-container-lowest: #ffffff;
  --md-sys-color-surface-container-low: #eff5f2;
  --md-sys-color-surface-container: #eaefed;
  --md-sys-color-surface-container-high: #e4e9e7;
  --md-sys-color-surface-container-highest: #dee4e1;
  --md-sys-color-on-surface: #000000;
  --md-sys-color-surface-variant: #dee4e1;
  --md-sys-color-on-surface-variant: #1f2524;
  --md-sys-color-inverse-surface: #0a0f0e;
  --md-sys-color-inverse-on-surface: #ffffff;
  --md-sys-color-outline: #3e4443;
  --md-sys-color-outline-variant: #5a605f;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #002925;
  --md-sys-color-primary: #002925;
  --md-sys-color-primary-dim: #001e1a;
  --md-sys-color-on-primary: #7ceddd;
  --md-sys-color-primary-container: #006b61;
  --md-sys-color-on-primary-container: #ffffff;
  --md-sys-color-inverse-primary: #85f6e5;
  --md-sys-color-primary-fixed: #006b61;
  --md-sys-color-primary-fixed-dim: #005e55;
  --md-sys-color-on-primary-fixed: #ffffff;
  --md-sys-color-on-primary-fixed-variant: #ffffff;
  --md-sys-color-secondary: #002925;
  --md-sys-color-secondary-dim: #001e1a;
  --md-sys-color-on-secondary: #b8e3da;
  --md-sys-color-secondary-container: #3f6660;
  --md-sys-color-on-secondary-container: #ffffff;
  --md-sys-color-secondary-fixed: #3f6660;
  --md-sys-color-secondary-fixed-dim: #335a54;
  --md-sys-color-on-secondary-fixed: #ffffff;
  --md-sys-color-on-secondary-fixed-variant: #ffffff;
  --md-sys-color-tertiary: #451302;
  --md-sys-color-tertiary-dim: #360b00;
  --md-sys-color-on-tertiary: #ffd0c1;
  --md-sys-color-tertiary-container: #914c34;
  --md-sys-color-on-tertiary-container: #ffffff;
  --md-sys-color-tertiary-fixed: #914c34;
  --md-sys-color-tertiary-fixed-dim: #82412a;
  --md-sys-color-on-tertiary-fixed: #ffffff;
  --md-sys-color-on-tertiary-fixed-variant: #ffffff;
  --md-sys-color-error: #510003;
  --md-sys-color-error-dim: #3e0002;
  --md-sys-color-on-error: #ffcfc9;
  --md-sys-color-error-container: #bb1b1b;
  --md-sys-color-on-error-container: #ffffff;
}

.dark {
  --md-sys-color-primary-palette-key-color: #049789;
  --md-sys-color-secondary-palette-key-color: #577e77;
  --md-sys-color-tertiary-palette-key-color: #bf7157;
  --md-sys-color-neutral-palette-key-color: #727876;
  --md-sys-color-neutral-variant-palette-key-color: #6d7a77;
  --md-sys-color-error-palette-key-color: #de3730;
  --md-sys-color-background: #0a0f0e;
  --md-sys-color-on-background: #e1e7e4;
  --md-sys-color-surface: #0a0f0e;
  --md-sys-color-surface-dim: #0a0f0e;
  --md-sys-color-surface-bright: #282d2c;
  --md-sys-color-surface-container-lowest: #000000;
  --md-sys-color-surface-container-low: #0f1413;
  --md-sys-color-surface-container: #151b1a;
  --md-sys-color-surface-container-high: #1b211f;
  --md-sys-color-surface-container-highest: #212726;
  --md-sys-color-on-surface: #e1e7e4;
  --md-sys-color-surface-variant: #212726;
  --md-sys-color-on-surface-variant: #a7acaa;
  --md-sys-color-inverse-surface: #f5faf8;
  --md-sys-color-inverse-on-surface: #505655;
  --md-sys-color-outline: #717775;
  --md-sys-color-outline-variant: #434948;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #7ff0df;
  --md-sys-color-primary: #7ff0df;
  --md-sys-color-primary-dim: #70e1d1;
  --md-sys-color-on-primary: #005950;
  --md-sys-color-primary-container: #3ab2a3;
  --md-sys-color-on-primary-container: #002824;
  --md-sys-color-inverse-primary: #006b61;
  --md-sys-color-primary-fixed: #7ff0df;
  --md-sys-color-primary-fixed-dim: #70e1d1;
  --md-sys-color-on-primary-fixed: #00443d;
  --md-sys-color-on-primary-fixed-variant: #00635a;
  --md-sys-color-secondary: #a5cfc7;
  --md-sys-color-secondary-dim: #98c1b9;
  --md-sys-color-on-secondary: #1f4741;
  --md-sys-color-secondary-container: #1a423c;
  --md-sys-color-on-secondary-container: #9ec8c0;
  --md-sys-color-secondary-fixed: #c1ebe3;
  --md-sys-color-secondary-fixed-dim: #b3ddd5;
  --md-sys-color-on-secondary-fixed: #1e4640;
  --md-sys-color-on-secondary-fixed-variant: #3b625c;
  --md-sys-color-tertiary: #ffb9a2;
  --md-sys-color-tertiary-dim: #fea588;
  --md-sys-color-on-tertiary: #6d301b;
  --md-sys-color-tertiary-container: #fea588;
  --md-sys-color-on-tertiary-container: #612712;
  --md-sys-color-tertiary-fixed: #fea588;
  --md-sys-color-tertiary-fixed-dim: #ee987c;
  --md-sys-color-on-tertiary-fixed: #441202;
  --md-sys-color-on-tertiary-fixed-variant: #6c301a;
  --md-sys-color-error: #ff7164;
  --md-sys-color-error-dim: #da342e;
  --md-sys-color-on-error: #4a0002;
  --md-sys-color-error-container: #ac0c12;
  --md-sys-color-on-error-container: #ffb8b0;
}

.dark-medium-contrast {
  --md-sys-color-primary-palette-key-color: #049789;
  --md-sys-color-secondary-palette-key-color: #577e77;
  --md-sys-color-tertiary-palette-key-color: #bf7157;
  --md-sys-color-neutral-palette-key-color: #727876;
  --md-sys-color-neutral-variant-palette-key-color: #6d7a77;
  --md-sys-color-error-palette-key-color: #de3730;
  --md-sys-color-background: #0a0f0e;
  --md-sys-color-on-background: #ffffff;
  --md-sys-color-surface: #0a0f0e;
  --md-sys-color-surface-dim: #0a0f0e;
  --md-sys-color-surface-bright: #282d2c;
  --md-sys-color-surface-container-lowest: #000000;
  --md-sys-color-surface-container-low: #0f1413;
  --md-sys-color-surface-container: #151b1a;
  --md-sys-color-surface-container-high: #1b211f;
  --md-sys-color-surface-container-highest: #212726;
  --md-sys-color-on-surface: #ffffff;
  --md-sys-color-surface-variant: #212726;
  --md-sys-color-on-surface-variant: #b4bab8;
  --md-sys-color-inverse-surface: #f5faf8;
  --md-sys-color-inverse-on-surface: #343938;
  --md-sys-color-outline: #8f9593;
  --md-sys-color-outline-variant: #717775;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #7ff0df;
  --md-sys-color-primary: #7ff0df;
  --md-sys-color-primary-dim: #70e1d1;
  --md-sys-color-on-primary: #004e46;
  --md-sys-color-primary-container: #3ab2a3;
  --md-sys-color-on-primary-container: #001815;
  --md-sys-color-inverse-primary: #006057;
  --md-sys-color-primary-fixed: #7ff0df;
  --md-sys-color-primary-fixed-dim: #70e1d1;
  --md-sys-color-on-primary-fixed: #001f1b;
  --md-sys-color-on-primary-fixed-variant: #00443d;
  --md-sys-color-secondary: #a5cfc7;
  --md-sys-color-secondary-dim: #98c1b9;
  --md-sys-color-on-secondary: #133c37;
  --md-sys-color-secondary-container: #547c75;
  --md-sys-color-on-secondary-container: #ffffff;
  --md-sys-color-secondary-fixed: #c1ebe3;
  --md-sys-color-secondary-fixed-dim: #b3ddd5;
  --md-sys-color-on-secondary-fixed: #002420;
  --md-sys-color-on-secondary-fixed-variant: #1e4640;
  --md-sys-color-tertiary: #ffb9a2;
  --md-sys-color-tertiary-dim: #fea588;
  --md-sys-color-on-tertiary: #602712;
  --md-sys-color-tertiary-container: #fea588;
  --md-sys-color-on-tertiary-container: #531d09;
  --md-sys-color-tertiary-fixed: #fea588;
  --md-sys-color-tertiary-fixed-dim: #ee987c;
  --md-sys-color-on-tertiary-fixed: #000000;
  --md-sys-color-on-tertiary-fixed-variant: #441202;
  --md-sys-color-error: #ff9f94;
  --md-sys-color-error-dim: #ff887c;
  --md-sys-color-on-error: #600004;
  --md-sys-color-error-container: #da342e;
  --md-sys-color-on-error-container: #ffffff;
}

.dark-high-contrast {
  --md-sys-color-primary-palette-key-color: #049789;
  --md-sys-color-secondary-palette-key-color: #577e77;
  --md-sys-color-tertiary-palette-key-color: #bf7157;
  --md-sys-color-neutral-palette-key-color: #727876;
  --md-sys-color-neutral-variant-palette-key-color: #6d7a77;
  --md-sys-color-error-palette-key-color: #de3730;
  --md-sys-color-background: #0a0f0e;
  --md-sys-color-on-background: #ffffff;
  --md-sys-color-surface: #0a0f0e;
  --md-sys-color-surface-dim: #0a0f0e;
  --md-sys-color-surface-bright: #282d2c;
  --md-sys-color-surface-container-lowest: #000000;
  --md-sys-color-surface-container-low: #0f1413;
  --md-sys-color-surface-container: #151b1a;
  --md-sys-color-surface-container-high: #1b211f;
  --md-sys-color-surface-container-highest: #212726;
  --md-sys-color-on-surface: #ffffff;
  --md-sys-color-surface-variant: #212726;
  --md-sys-color-on-surface-variant: #e1e7e4;
  --md-sys-color-inverse-surface: #f5faf8;
  --md-sys-color-inverse-on-surface: #000000;
  --md-sys-color-outline: #b4bab8;
  --md-sys-color-outline-variant: #8f9593;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #88f9e8;
  --md-sys-color-primary: #88f9e8;
  --md-sys-color-primary-dim: #79eada;
  --md-sys-color-on-primary: #00322d;
  --md-sys-color-primary-container: #3ab2a3;
  --md-sys-color-on-primary-container: #000000;
  --md-sys-color-inverse-primary: #004039;
  --md-sys-color-primary-fixed: #7ff0df;
  --md-sys-color-primary-fixed-dim: #70e1d1;
  --md-sys-color-on-primary-fixed: #000000;
  --md-sys-color-on-primary-fixed-variant: #001f1b;
  --md-sys-color-secondary: #c4eee6;
  --md-sys-color-secondary-dim: #b6e0d8;
  --md-sys-color-on-secondary: #06322d;
  --md-sys-color-secondary-container: #7da69e;
  --md-sys-color-on-secondary-container: #000000;
  --md-sys-color-secondary-fixed: #c1ebe3;
  --md-sys-color-secondary-fixed-dim: #b3ddd5;
  --md-sys-color-on-secondary-fixed: #000000;
  --md-sys-color-on-secondary-fixed-variant: #002420;
  --md-sys-color-tertiary: #ffdfd5;
  --md-sys-color-tertiary-dim: #ffc9b7;
  --md-sys-color-on-tertiary: #501b07;
  --md-sys-color-tertiary-container: #fea588;
  --md-sys-color-on-tertiary-container: #000000;
  --md-sys-color-tertiary-fixed: #fea588;
  --md-sys-color-tertiary-fixed-dim: #ee987c;
  --md-sys-color-on-tertiary-fixed: #000000;
  --md-sys-color-on-tertiary-fixed-variant: #000000;
  --md-sys-color-error: #ffdeda;
  --md-sys-color-error-dim: #ffc8c1;
  --md-sys-color-on-error: #600004;
  --md-sys-color-error-container: #ff7164;
  --md-sys-color-on-error-container: #000000;
}

