.light {
  --md-sys-color-primary-palette-key-color: #049789;
  --md-sys-color-secondary-palette-key-color: #577e77;
  --md-sys-color-tertiary-palette-key-color: #bf7157;
  --md-sys-color-neutral-palette-key-color: #727876;
  --md-sys-color-neutral-variant-palette-key-color: #6d7a77;
  --md-sys-color-error-palette-key-color: #de3730;
  --md-sys-color-background: #f5faf8;
  --md-sys-color-on-background: #171d1b;
  --md-sys-color-surface: #f5faf8;
  --md-sys-color-surface-dim: #d6dbd9;
  --md-sys-color-surface-bright: #f5faf8;
  --md-sys-color-surface-container-lowest: #ffffff;
  --md-sys-color-surface-container-low: #eff5f2;
  --md-sys-color-surface-container: #eaefed;
  --md-sys-color-surface-container-high: #e4e9e7;
  --md-sys-color-surface-container-highest: #dee4e1;
  --md-sys-color-on-surface: #171d1b;
  --md-sys-color-surface-variant: #d8e5e2;
  --md-sys-color-on-surface-variant: #3d4947;
  --md-sys-color-inverse-surface: #2c3230;
  --md-sys-color-inverse-on-surface: #edf2ef;
  --md-sys-color-outline: #6d7a77;
  --md-sys-color-outline-variant: #bcc9c6;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #006a60;
  --md-sys-color-primary: #006a60;
  --md-sys-color-primary-dim: #00756a;
  --md-sys-color-on-primary: #ffffff;
  --md-sys-color-primary-container: #005048;
  --md-sys-color-on-primary-container: #54c7b8;
  --md-sys-color-inverse-primary: #67d9c9;
  --md-sys-color-primary-fixed: #85f6e5;
  --md-sys-color-primary-fixed-dim: #67d9c9;
  --md-sys-color-on-primary-fixed: #00201c;
  --md-sys-color-on-primary-fixed-variant: #005048;
  --md-sys-color-secondary: #3e655f;
  --md-sys-color-secondary-dim: #486f69;
  --md-sys-color-on-secondary: #ffffff;
  --md-sys-color-secondary-container: #264d48;
  --md-sys-color-on-secondary-container: #94bdb6;
  --md-sys-color-secondary-fixed: #c1ebe3;
  --md-sys-color-secondary-fixed-dim: #a5cfc7;
  --md-sys-color-on-secondary-fixed: #00201c;
  --md-sys-color-on-secondary-fixed-variant: #264d48;
  --md-sys-color-tertiary: #904b34;
  --md-sys-color-tertiary-dim: #9b553c;
  --md-sys-color-on-tertiary: #ffffff;
  --md-sys-color-tertiary-container: #73351f;
  --md-sys-color-on-tertiary-container: #f69f82;
  --md-sys-color-tertiary-fixed: #ffdbd0;
  --md-sys-color-tertiary-fixed-dim: #ffb59d;
  --md-sys-color-on-tertiary-fixed: #390c00;
  --md-sys-color-on-tertiary-fixed-variant: #73351f;
  --md-sys-color-error: #ba1a1a;
  --md-sys-color-error-dim: #ac0c12;
  --md-sys-color-on-error: #ffffff;
  --md-sys-color-error-container: #93000a;
  --md-sys-color-on-error-container: #ff9a8e;
}

.light-medium-contrast {
  --md-sys-color-primary-palette-key-color: #049789;
  --md-sys-color-secondary-palette-key-color: #577e77;
  --md-sys-color-tertiary-palette-key-color: #bf7157;
  --md-sys-color-neutral-palette-key-color: #727876;
  --md-sys-color-neutral-variant-palette-key-color: #6d7a77;
  --md-sys-color-error-palette-key-color: #de3730;
  --md-sys-color-background: #f5faf8;
  --md-sys-color-on-background: #171d1b;
  --md-sys-color-surface: #f5faf8;
  --md-sys-color-surface-dim: #c2c8c5;
  --md-sys-color-surface-bright: #f5faf8;
  --md-sys-color-surface-container-lowest: #ffffff;
  --md-sys-color-surface-container-low: #eff5f2;
  --md-sys-color-surface-container: #e4e9e7;
  --md-sys-color-surface-container-high: #d9dedc;
  --md-sys-color-surface-container-highest: #cdd3d0;
  --md-sys-color-on-surface: #0d1211;
  --md-sys-color-surface-variant: #d8e5e2;
  --md-sys-color-on-surface-variant: #2d3936;
  --md-sys-color-inverse-surface: #2c3230;
  --md-sys-color-inverse-on-surface: #edf2ef;
  --md-sys-color-outline: #495552;
  --md-sys-color-outline-variant: #63706d;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #006a60;
  --md-sys-color-primary: #003e37;
  --md-sys-color-primary-dim: #004e46;
  --md-sys-color-on-primary: #ffffff;
  --md-sys-color-primary-container: #002622;
  --md-sys-color-on-primary-container: #49beae;
  --md-sys-color-inverse-primary: #67d9c9;
  --md-sys-color-primary-fixed: #007b6f;
  --md-sys-color-primary-fixed-dim: #006056;
  --md-sys-color-on-primary-fixed: #ffffff;
  --md-sys-color-on-primary-fixed-variant: #ffffff;
  --md-sys-color-secondary: #133c37;
  --md-sys-color-secondary-dim: #244b45;
  --md-sys-color-on-secondary: #ffffff;
  --md-sys-color-secondary-container: #002622;
  --md-sys-color-on-secondary-container: #8bb4ac;
  --md-sys-color-secondary-fixed: #4d746e;
  --md-sys-color-secondary-fixed-dim: #355c56;
  --md-sys-color-on-secondary-fixed: #ffffff;
  --md-sys-color-on-secondary-fixed-variant: #ffffff;
  --md-sys-color-tertiary: #5e2510;
  --md-sys-color-tertiary-dim: #70331d;
  --md-sys-color-on-tertiary: #ffffff;
  --md-sys-color-tertiary-container: #411001;
  --md-sys-color-on-tertiary-container: #ec967a;
  --md-sys-color-tertiary-fixed: #a25a41;
  --md-sys-color-tertiary-fixed-dim: #84422b;
  --md-sys-color-on-tertiary-fixed: #ffffff;
  --md-sys-color-on-tertiary-fixed-variant: #ffffff;
  --md-sys-color-error: #740006;
  --md-sys-color-error-dim: #8f0009;
  --md-sys-color-on-error: #ffffff;
  --md-sys-color-error-container: #4b0002;
  --md-sys-color-on-error-container: #ff8b7e;
}

.light-high-contrast {
  --md-sys-color-primary-palette-key-color: #049789;
  --md-sys-color-secondary-palette-key-color: #577e77;
  --md-sys-color-tertiary-palette-key-color: #bf7157;
  --md-sys-color-neutral-palette-key-color: #727876;
  --md-sys-color-neutral-variant-palette-key-color: #6d7a77;
  --md-sys-color-error-palette-key-color: #de3730;
  --md-sys-color-background: #f5faf8;
  --md-sys-color-on-background: #171d1b;
  --md-sys-color-surface: #f5faf8;
  --md-sys-color-surface-dim: #b4bab8;
  --md-sys-color-surface-bright: #f5faf8;
  --md-sys-color-surface-container-lowest: #ffffff;
  --md-sys-color-surface-container-low: #edf2ef;
  --md-sys-color-surface-container: #dee4e1;
  --md-sys-color-surface-container-high: #d0d6d3;
  --md-sys-color-surface-container-highest: #c2c8c5;
  --md-sys-color-on-surface: #000000;
  --md-sys-color-surface-variant: #d8e5e2;
  --md-sys-color-on-surface-variant: #000000;
  --md-sys-color-inverse-surface: #2c3230;
  --md-sys-color-inverse-on-surface: #ffffff;
  --md-sys-color-outline: #232e2c;
  --md-sys-color-outline-variant: #3f4c49;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #006a60;
  --md-sys-color-primary: #00332d;
  --md-sys-color-primary-dim: #002420;
  --md-sys-color-on-primary: #ffffff;
  --md-sys-color-primary-container: #001c18;
  --md-sys-color-on-primary-container: #6edfcf;
  --md-sys-color-inverse-primary: #67d9c9;
  --md-sys-color-primary-fixed: #00534b;
  --md-sys-color-primary-fixed-dim: #003a34;
  --md-sys-color-on-primary-fixed: #ffffff;
  --md-sys-color-on-primary-fixed-variant: #ffffff;
  --md-sys-color-secondary: #06322d;
  --md-sys-color-secondary-dim: #002420;
  --md-sys-color-on-secondary: #ffffff;
  --md-sys-color-secondary-container: #001c18;
  --md-sys-color-on-secondary-container: #abd5cd;
  --md-sys-color-secondary-fixed: #29504a;
  --md-sys-color-secondary-fixed-dim: #0f3933;
  --md-sys-color-on-secondary-fixed: #ffffff;
  --md-sys-color-on-secondary-fixed-variant: #ffffff;
  --md-sys-color-tertiary: #501b07;
  --md-sys-color-tertiary-dim: #3f0e00;
  --md-sys-color-on-tertiary: #ffffff;
  --md-sys-color-tertiary-container: #320900;
  --md-sys-color-on-tertiary-container: #ffbda8;
  --md-sys-color-tertiary-fixed: #763721;
  --md-sys-color-tertiary-fixed-dim: #59210d;
  --md-sys-color-on-tertiary-fixed: #ffffff;
  --md-sys-color-on-tertiary-fixed-variant: #ffffff;
  --md-sys-color-error: #600004;
  --md-sys-color-error-dim: #480002;
  --md-sys-color-on-error: #ffffff;
  --md-sys-color-error-container: #390001;
  --md-sys-color-on-error-container: #ffbcb4;
}

.dark {
  --md-sys-color-primary-palette-key-color: #049789;
  --md-sys-color-secondary-palette-key-color: #577e77;
  --md-sys-color-tertiary-palette-key-color: #bf7157;
  --md-sys-color-neutral-palette-key-color: #727876;
  --md-sys-color-neutral-variant-palette-key-color: #6d7a77;
  --md-sys-color-error-palette-key-color: #de3730;
  --md-sys-color-background: #0f1413;
  --md-sys-color-on-background: #dee4e1;
  --md-sys-color-surface: #0f1413;
  --md-sys-color-surface-dim: #0f1413;
  --md-sys-color-surface-bright: #353a39;
  --md-sys-color-surface-container-lowest: #0a0f0e;
  --md-sys-color-surface-container-low: #171d1b;
  --md-sys-color-surface-container: #1b211f;
  --md-sys-color-surface-container-high: #252b2a;
  --md-sys-color-surface-container-highest: #303635;
  --md-sys-color-on-surface: #dee4e1;
  --md-sys-color-surface-variant: #3d4947;
  --md-sys-color-on-surface-variant: #bcc9c6;
  --md-sys-color-inverse-surface: #dee4e1;
  --md-sys-color-inverse-on-surface: #2c3230;
  --md-sys-color-outline: #869390;
  --md-sys-color-outline-variant: #3d4947;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #67d9c9;
  --md-sys-color-primary: #67d9c9;
  --md-sys-color-primary-dim: #85f6e5;
  --md-sys-color-on-primary: #003731;
  --md-sys-color-primary-container: #85f6e5;
  --md-sys-color-on-primary-container: #00231f;
  --md-sys-color-inverse-primary: #006a60;
  --md-sys-color-primary-fixed: #85f6e5;
  --md-sys-color-primary-fixed-dim: #67d9c9;
  --md-sys-color-on-primary-fixed: #00201c;
  --md-sys-color-on-primary-fixed-variant: #005048;
  --md-sys-color-secondary: #a5cfc7;
  --md-sys-color-secondary-dim: #c1ebe3;
  --md-sys-color-on-secondary: #0c3731;
  --md-sys-color-secondary-container: #c1ebe3;
  --md-sys-color-on-secondary-container: #446c65;
  --md-sys-color-secondary-fixed: #c1ebe3;
  --md-sys-color-secondary-fixed-dim: #a5cfc7;
  --md-sys-color-on-secondary-fixed: #00201c;
  --md-sys-color-on-secondary-fixed-variant: #264d48;
  --md-sys-color-tertiary: #ffb59d;
  --md-sys-color-tertiary-dim: #ffc8b7;
  --md-sys-color-on-tertiary: #561f0b;
  --md-sys-color-tertiary-container: #ffdbd0;
  --md-sys-color-on-tertiary-container: #3d0d00;
  --md-sys-color-tertiary-fixed: #ffdbd0;
  --md-sys-color-tertiary-fixed-dim: #ffb59d;
  --md-sys-color-on-tertiary-fixed: #390c00;
  --md-sys-color-on-tertiary-fixed-variant: #73351f;
  --md-sys-color-error: #ffb4ab;
  --md-sys-color-error-dim: #ffc7c0;
  --md-sys-color-on-error: #690005;
  --md-sys-color-error-container: #ffdad6;
  --md-sys-color-on-error-container: #c32220;
}

.dark-medium-contrast {
  --md-sys-color-primary-palette-key-color: #049789;
  --md-sys-color-secondary-palette-key-color: #577e77;
  --md-sys-color-tertiary-palette-key-color: #bf7157;
  --md-sys-color-neutral-palette-key-color: #727876;
  --md-sys-color-neutral-variant-palette-key-color: #6d7a77;
  --md-sys-color-error-palette-key-color: #de3730;
  --md-sys-color-background: #0f1413;
  --md-sys-color-on-background: #dee4e1;
  --md-sys-color-surface: #0f1413;
  --md-sys-color-surface-dim: #0f1413;
  --md-sys-color-surface-bright: #404644;
  --md-sys-color-surface-container-lowest: #040807;
  --md-sys-color-surface-container-low: #191f1d;
  --md-sys-color-surface-container: #232928;
  --md-sys-color-surface-container-high: #2e3432;
  --md-sys-color-surface-container-highest: #393f3d;
  --md-sys-color-on-surface: #ffffff;
  --md-sys-color-surface-variant: #3d4947;
  --md-sys-color-on-surface-variant: #d2dfdb;
  --md-sys-color-inverse-surface: #dee4e1;
  --md-sys-color-inverse-on-surface: #252b2a;
  --md-sys-color-outline: #a7b5b1;
  --md-sys-color-outline-variant: #869390;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #67d9c9;
  --md-sys-color-primary: #7fefdf;
  --md-sys-color-primary-dim: #85f6e5;
  --md-sys-color-on-primary: #002b26;
  --md-sys-color-primary-container: #e2fff8;
  --md-sys-color-on-primary-container: #00231f;
  --md-sys-color-inverse-primary: #005249;
  --md-sys-color-primary-fixed: #85f6e5;
  --md-sys-color-primary-fixed-dim: #67d9c9;
  --md-sys-color-on-primary-fixed: #001512;
  --md-sys-color-on-primary-fixed-variant: #003e37;
  --md-sys-color-secondary: #bbe5dd;
  --md-sys-color-secondary-dim: #c1ebe3;
  --md-sys-color-on-secondary: #002b26;
  --md-sys-color-secondary-container: #e2fff8;
  --md-sys-color-on-secondary-container: #355c56;
  --md-sys-color-secondary-fixed: #c1ebe3;
  --md-sys-color-secondary-fixed-dim: #a5cfc7;
  --md-sys-color-on-secondary-fixed: #001512;
  --md-sys-color-on-secondary-fixed-variant: #133c37;
  --md-sys-color-tertiary: #ffd3c5;
  --md-sys-color-tertiary-dim: #ffc8b7;
  --md-sys-color-on-tertiary: #481503;
  --md-sys-color-tertiary-container: #fff7f5;
  --md-sys-color-on-tertiary-container: #3d0d00;
  --md-sys-color-tertiary-fixed: #ffdbd0;
  --md-sys-color-tertiary-fixed-dim: #ffb59d;
  --md-sys-color-on-tertiary-fixed: #270600;
  --md-sys-color-on-tertiary-fixed-variant: #5e2510;
  --md-sys-color-error: #ffd2cc;
  --md-sys-color-error-dim: #ffc7c0;
  --md-sys-color-on-error: #540003;
  --md-sys-color-error-container: #fff7f6;
  --md-sys-color-on-error-container: #ab0b12;
}

.dark-high-contrast {
  --md-sys-color-primary-palette-key-color: #049789;
  --md-sys-color-secondary-palette-key-color: #577e77;
  --md-sys-color-tertiary-palette-key-color: #bf7157;
  --md-sys-color-neutral-palette-key-color: #727876;
  --md-sys-color-neutral-variant-palette-key-color: #6d7a77;
  --md-sys-color-error-palette-key-color: #de3730;
  --md-sys-color-background: #0f1413;
  --md-sys-color-on-background: #dee4e1;
  --md-sys-color-surface: #0f1413;
  --md-sys-color-surface-dim: #0f1413;
  --md-sys-color-surface-bright: #4b5150;
  --md-sys-color-surface-container-lowest: #000000;
  --md-sys-color-surface-container-low: #1b211f;
  --md-sys-color-surface-container: #2c3230;
  --md-sys-color-surface-container-high: #373d3b;
  --md-sys-color-surface-container-highest: #424846;
  --md-sys-color-on-surface: #ffffff;
  --md-sys-color-surface-variant: #3d4947;
  --md-sys-color-on-surface-variant: #ffffff;
  --md-sys-color-inverse-surface: #dee4e1;
  --md-sys-color-inverse-on-surface: #000000;
  --md-sys-color-outline: #e5f3ef;
  --md-sys-color-outline-variant: #b8c5c2;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #67d9c9;
  --md-sys-color-primary: #85f6e5;
  --md-sys-color-primary-dim: #fefffd;
  --md-sys-color-on-primary: #000000;
  --md-sys-color-primary-container: #ffffff;
  --md-sys-color-on-primary-container: #00231f;
  --md-sys-color-inverse-primary: #005249;
  --md-sys-color-primary-fixed: #85f6e5;
  --md-sys-color-primary-fixed-dim: #67d9c9;
  --md-sys-color-on-primary-fixed: #000000;
  --md-sys-color-on-primary-fixed-variant: #001512;
  --md-sys-color-secondary: #c1ebe3;
  --md-sys-color-secondary-dim: #fefffd;
  --md-sys-color-on-secondary: #000000;
  --md-sys-color-secondary-container: #ffffff;
  --md-sys-color-on-secondary-container: #1a423c;
  --md-sys-color-secondary-fixed: #c1ebe3;
  --md-sys-color-secondary-fixed-dim: #a5cfc7;
  --md-sys-color-on-secondary-fixed: #000000;
  --md-sys-color-on-secondary-fixed-variant: #001512;
  --md-sys-color-tertiary: #ffdbd0;
  --md-sys-color-tertiary-dim: #fffeff;
  --md-sys-color-on-tertiary: #000000;
  --md-sys-color-tertiary-container: #ffffff;
  --md-sys-color-on-tertiary-container: #3d0d00;
  --md-sys-color-tertiary-fixed: #ffdbd0;
  --md-sys-color-tertiary-fixed-dim: #ffb59d;
  --md-sys-color-on-tertiary-fixed: #000000;
  --md-sys-color-on-tertiary-fixed-variant: #270600;
  --md-sys-color-error: #ffdad6;
  --md-sys-color-error-dim: #fffeff;
  --md-sys-color-on-error: #000000;
  --md-sys-color-error-container: #ffffff;
  --md-sys-color-on-error-container: #7e0007;
}

