.light {
  --md-sys-color-primary-palette-key-color: #049789;
  --md-sys-color-secondary-palette-key-color: #577e77;
  --md-sys-color-tertiary-palette-key-color: #bf7157;
  --md-sys-color-neutral-palette-key-color: #727876;
  --md-sys-color-neutral-variant-palette-key-color: #6d7a77;
  --md-sys-color-error-palette-key-color: #de3730;
  --md-sys-color-background: #0f1413;
  --md-sys-color-on-background: #dee4e1;
  --md-sys-color-surface: #0f1413;
  --md-sys-color-surface-dim: #0f1413;
  --md-sys-color-surface-bright: #353a39;
  --md-sys-color-surface-container-lowest: #0a0f0e;
  --md-sys-color-surface-container-low: #171d1b;
  --md-sys-color-surface-container: #1b211f;
  --md-sys-color-surface-container-high: #252b2a;
  --md-sys-color-surface-container-highest: #303635;
  --md-sys-color-on-surface: #dee4e1;
  --md-sys-color-surface-variant: #3d4947;
  --md-sys-color-on-surface-variant: #bcc9c6;
  --md-sys-color-inverse-surface: #dee4e1;
  --md-sys-color-inverse-on-surface: #2c3230;
  --md-sys-color-outline: #869390;
  --md-sys-color-outline-variant: #3d4947;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #67d9c9;
  --md-sys-color-primary: #67d9c9;
  --md-sys-color-primary-dim: #85f6e5;
  --md-sys-color-on-primary: #003731;
  --md-sys-color-primary-container: #85f6e5;
  --md-sys-color-on-primary-container: #00231f;
  --md-sys-color-inverse-primary: #006a60;
  --md-sys-color-primary-fixed: #85f6e5;
  --md-sys-color-primary-fixed-dim: #67d9c9;
  --md-sys-color-on-primary-fixed: #00201c;
  --md-sys-color-on-primary-fixed-variant: #005048;
  --md-sys-color-secondary: #a5cfc7;
  --md-sys-color-secondary-dim: #c1ebe3;
  --md-sys-color-on-secondary: #0c3731;
  --md-sys-color-secondary-container: #c1ebe3;
  --md-sys-color-on-secondary-container: #446c65;
  --md-sys-color-secondary-fixed: #c1ebe3;
  --md-sys-color-secondary-fixed-dim: #a5cfc7;
  --md-sys-color-on-secondary-fixed: #00201c;
  --md-sys-color-on-secondary-fixed-variant: #264d48;
  --md-sys-color-tertiary: #ffb59d;
  --md-sys-color-tertiary-dim: #ffc8b7;
  --md-sys-color-on-tertiary: #561f0b;
  --md-sys-color-tertiary-container: #ffdbd0;
  --md-sys-color-on-tertiary-container: #3d0d00;
  --md-sys-color-tertiary-fixed: #ffdbd0;
  --md-sys-color-tertiary-fixed-dim: #ffb59d;
  --md-sys-color-on-tertiary-fixed: #390c00;
  --md-sys-color-on-tertiary-fixed-variant: #73351f;
  --md-sys-color-error: #ffb4ab;
  --md-sys-color-error-dim: #ffc7c0;
  --md-sys-color-on-error: #690005;
  --md-sys-color-error-container: #ffdad6;
  --md-sys-color-on-error-container: #c32220;
}

.light-medium-contrast {
  --md-sys-color-primary-palette-key-color: #049789;
  --md-sys-color-secondary-palette-key-color: #577e77;
  --md-sys-color-tertiary-palette-key-color: #bf7157;
  --md-sys-color-neutral-palette-key-color: #727876;
  --md-sys-color-neutral-variant-palette-key-color: #6d7a77;
  --md-sys-color-error-palette-key-color: #de3730;
  --md-sys-color-background: #0f1413;
  --md-sys-color-on-background: #dee4e1;
  --md-sys-color-surface: #0f1413;
  --md-sys-color-surface-dim: #0f1413;
  --md-sys-color-surface-bright: #404644;
  --md-sys-color-surface-container-lowest: #040807;
  --md-sys-color-surface-container-low: #191f1d;
  --md-sys-color-surface-container: #232928;
  --md-sys-color-surface-container-high: #2e3432;
  --md-sys-color-surface-container-highest: #393f3d;
  --md-sys-color-on-surface: #ffffff;
  --md-sys-color-surface-variant: #3d4947;
  --md-sys-color-on-surface-variant: #d2dfdb;
  --md-sys-color-inverse-surface: #dee4e1;
  --md-sys-color-inverse-on-surface: #252b2a;
  --md-sys-color-outline: #a7b5b1;
  --md-sys-color-outline-variant: #869390;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #67d9c9;
  --md-sys-color-primary: #7fefdf;
  --md-sys-color-primary-dim: #85f6e5;
  --md-sys-color-on-primary: #002b26;
  --md-sys-color-primary-container: #e2fff8;
  --md-sys-color-on-primary-container: #00231f;
  --md-sys-color-inverse-primary: #005249;
  --md-sys-color-primary-fixed: #85f6e5;
  --md-sys-color-primary-fixed-dim: #67d9c9;
  --md-sys-color-on-primary-fixed: #001512;
  --md-sys-color-on-primary-fixed-variant: #003e37;
  --md-sys-color-secondary: #bbe5dd;
  --md-sys-color-secondary-dim: #c1ebe3;
  --md-sys-color-on-secondary: #002b26;
  --md-sys-color-secondary-container: #e2fff8;
  --md-sys-color-on-secondary-container: #355c56;
  --md-sys-color-secondary-fixed: #c1ebe3;
  --md-sys-color-secondary-fixed-dim: #a5cfc7;
  --md-sys-color-on-secondary-fixed: #001512;
  --md-sys-color-on-secondary-fixed-variant: #133c37;
  --md-sys-color-tertiary: #ffd3c5;
  --md-sys-color-tertiary-dim: #ffc8b7;
  --md-sys-color-on-tertiary: #481503;
  --md-sys-color-tertiary-container: #fff7f5;
  --md-sys-color-on-tertiary-container: #3d0d00;
  --md-sys-color-tertiary-fixed: #ffdbd0;
  --md-sys-color-tertiary-fixed-dim: #ffb59d;
  --md-sys-color-on-tertiary-fixed: #270600;
  --md-sys-color-on-tertiary-fixed-variant: #5e2510;
  --md-sys-color-error: #ffd2cc;
  --md-sys-color-error-dim: #ffc7c0;
  --md-sys-color-on-error: #540003;
  --md-sys-color-error-container: #fff7f6;
  --md-sys-color-on-error-container: #ab0b12;
}

.light-high-contrast {
  --md-sys-color-primary-palette-key-color: #049789;
  --md-sys-color-secondary-palette-key-color: #577e77;
  --md-sys-color-tertiary-palette-key-color: #bf7157;
  --md-sys-color-neutral-palette-key-color: #727876;
  --md-sys-color-neutral-variant-palette-key-color: #6d7a77;
  --md-sys-color-error-palette-key-color: #de3730;
  --md-sys-color-background: #0f1413;
  --md-sys-color-on-background: #dee4e1;
  --md-sys-color-surface: #0f1413;
  --md-sys-color-surface-dim: #0f1413;
  --md-sys-color-surface-bright: #4b5150;
  --md-sys-color-surface-container-lowest: #000000;
  --md-sys-color-surface-container-low: #1b211f;
  --md-sys-color-surface-container: #2c3230;
  --md-sys-color-surface-container-high: #373d3b;
  --md-sys-color-surface-container-highest: #424846;
  --md-sys-color-on-surface: #ffffff;
  --md-sys-color-surface-variant: #3d4947;
  --md-sys-color-on-surface-variant: #ffffff;
  --md-sys-color-inverse-surface: #dee4e1;
  --md-sys-color-inverse-on-surface: #000000;
  --md-sys-color-outline: #e5f3ef;
  --md-sys-color-outline-variant: #b8c5c2;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #67d9c9;
  --md-sys-color-primary: #85f6e5;
  --md-sys-color-primary-dim: #fefffd;
  --md-sys-color-on-primary: #000000;
  --md-sys-color-primary-container: #ffffff;
  --md-sys-color-on-primary-container: #00231f;
  --md-sys-color-inverse-primary: #005249;
  --md-sys-color-primary-fixed: #85f6e5;
  --md-sys-color-primary-fixed-dim: #67d9c9;
  --md-sys-color-on-primary-fixed: #000000;
  --md-sys-color-on-primary-fixed-variant: #001512;
  --md-sys-color-secondary: #c1ebe3;
  --md-sys-color-secondary-dim: #fefffd;
  --md-sys-color-on-secondary: #000000;
  --md-sys-color-secondary-container: #ffffff;
  --md-sys-color-on-secondary-container: #1a423c;
  --md-sys-color-secondary-fixed: #c1ebe3;
  --md-sys-color-secondary-fixed-dim: #a5cfc7;
  --md-sys-color-on-secondary-fixed: #000000;
  --md-sys-color-on-secondary-fixed-variant: #001512;
  --md-sys-color-tertiary: #ffdbd0;
  --md-sys-color-tertiary-dim: #fffeff;
  --md-sys-color-on-tertiary: #000000;
  --md-sys-color-tertiary-container: #ffffff;
  --md-sys-color-on-tertiary-container: #3d0d00;
  --md-sys-color-tertiary-fixed: #ffdbd0;
  --md-sys-color-tertiary-fixed-dim: #ffb59d;
  --md-sys-color-on-tertiary-fixed: #000000;
  --md-sys-color-on-tertiary-fixed-variant: #270600;
  --md-sys-color-error: #ffdad6;
  --md-sys-color-error-dim: #fffeff;
  --md-sys-color-on-error: #000000;
  --md-sys-color-error-container: #ffffff;
  --md-sys-color-on-error-container: #7e0007;
}

.dark {
  --md-sys-color-primary-palette-key-color: #049789;
  --md-sys-color-secondary-palette-key-color: #577e77;
  --md-sys-color-tertiary-palette-key-color: #bf7157;
  --md-sys-color-neutral-palette-key-color: #727876;
  --md-sys-color-neutral-variant-palette-key-color: #6d7a77;
  --md-sys-color-error-palette-key-color: #de3730;
  --md-sys-color-background: #0f1413;
  --md-sys-color-on-background: #dee4e1;
  --md-sys-color-surface: #0f1413;
  --md-sys-color-surface-dim: #0f1413;
  --md-sys-color-surface-bright: #353a39;
  --md-sys-color-surface-container-lowest: #0a0f0e;
  --md-sys-color-surface-container-low: #171d1b;
  --md-sys-color-surface-container: #1b211f;
  --md-sys-color-surface-container-high: #252b2a;
  --md-sys-color-surface-container-highest: #303635;
  --md-sys-color-on-surface: #dee4e1;
  --md-sys-color-surface-variant: #3d4947;
  --md-sys-color-on-surface-variant: #bcc9c6;
  --md-sys-color-inverse-surface: #dee4e1;
  --md-sys-color-inverse-on-surface: #2c3230;
  --md-sys-color-outline: #869390;
  --md-sys-color-outline-variant: #3d4947;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #67d9c9;
  --md-sys-color-primary: #67d9c9;
  --md-sys-color-primary-dim: #85f6e5;
  --md-sys-color-on-primary: #003731;
  --md-sys-color-primary-container: #85f6e5;
  --md-sys-color-on-primary-container: #00231f;
  --md-sys-color-inverse-primary: #006a60;
  --md-sys-color-primary-fixed: #85f6e5;
  --md-sys-color-primary-fixed-dim: #67d9c9;
  --md-sys-color-on-primary-fixed: #00201c;
  --md-sys-color-on-primary-fixed-variant: #005048;
  --md-sys-color-secondary: #a5cfc7;
  --md-sys-color-secondary-dim: #c1ebe3;
  --md-sys-color-on-secondary: #0c3731;
  --md-sys-color-secondary-container: #c1ebe3;
  --md-sys-color-on-secondary-container: #446c65;
  --md-sys-color-secondary-fixed: #c1ebe3;
  --md-sys-color-secondary-fixed-dim: #a5cfc7;
  --md-sys-color-on-secondary-fixed: #00201c;
  --md-sys-color-on-secondary-fixed-variant: #264d48;
  --md-sys-color-tertiary: #ffb59d;
  --md-sys-color-tertiary-dim: #ffc8b7;
  --md-sys-color-on-tertiary: #561f0b;
  --md-sys-color-tertiary-container: #ffdbd0;
  --md-sys-color-on-tertiary-container: #3d0d00;
  --md-sys-color-tertiary-fixed: #ffdbd0;
  --md-sys-color-tertiary-fixed-dim: #ffb59d;
  --md-sys-color-on-tertiary-fixed: #390c00;
  --md-sys-color-on-tertiary-fixed-variant: #73351f;
  --md-sys-color-error: #ffb4ab;
  --md-sys-color-error-dim: #ffc7c0;
  --md-sys-color-on-error: #690005;
  --md-sys-color-error-container: #ffdad6;
  --md-sys-color-on-error-container: #c32220;
}

.dark-medium-contrast {
  --md-sys-color-primary-palette-key-color: #049789;
  --md-sys-color-secondary-palette-key-color: #577e77;
  --md-sys-color-tertiary-palette-key-color: #bf7157;
  --md-sys-color-neutral-palette-key-color: #727876;
  --md-sys-color-neutral-variant-palette-key-color: #6d7a77;
  --md-sys-color-error-palette-key-color: #de3730;
  --md-sys-color-background: #0f1413;
  --md-sys-color-on-background: #dee4e1;
  --md-sys-color-surface: #0f1413;
  --md-sys-color-surface-dim: #0f1413;
  --md-sys-color-surface-bright: #404644;
  --md-sys-color-surface-container-lowest: #040807;
  --md-sys-color-surface-container-low: #191f1d;
  --md-sys-color-surface-container: #232928;
  --md-sys-color-surface-container-high: #2e3432;
  --md-sys-color-surface-container-highest: #393f3d;
  --md-sys-color-on-surface: #ffffff;
  --md-sys-color-surface-variant: #3d4947;
  --md-sys-color-on-surface-variant: #d2dfdb;
  --md-sys-color-inverse-surface: #dee4e1;
  --md-sys-color-inverse-on-surface: #252b2a;
  --md-sys-color-outline: #a7b5b1;
  --md-sys-color-outline-variant: #869390;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #67d9c9;
  --md-sys-color-primary: #7fefdf;
  --md-sys-color-primary-dim: #85f6e5;
  --md-sys-color-on-primary: #002b26;
  --md-sys-color-primary-container: #e2fff8;
  --md-sys-color-on-primary-container: #00231f;
  --md-sys-color-inverse-primary: #005249;
  --md-sys-color-primary-fixed: #85f6e5;
  --md-sys-color-primary-fixed-dim: #67d9c9;
  --md-sys-color-on-primary-fixed: #001512;
  --md-sys-color-on-primary-fixed-variant: #003e37;
  --md-sys-color-secondary: #bbe5dd;
  --md-sys-color-secondary-dim: #c1ebe3;
  --md-sys-color-on-secondary: #002b26;
  --md-sys-color-secondary-container: #e2fff8;
  --md-sys-color-on-secondary-container: #355c56;
  --md-sys-color-secondary-fixed: #c1ebe3;
  --md-sys-color-secondary-fixed-dim: #a5cfc7;
  --md-sys-color-on-secondary-fixed: #001512;
  --md-sys-color-on-secondary-fixed-variant: #133c37;
  --md-sys-color-tertiary: #ffd3c5;
  --md-sys-color-tertiary-dim: #ffc8b7;
  --md-sys-color-on-tertiary: #481503;
  --md-sys-color-tertiary-container: #fff7f5;
  --md-sys-color-on-tertiary-container: #3d0d00;
  --md-sys-color-tertiary-fixed: #ffdbd0;
  --md-sys-color-tertiary-fixed-dim: #ffb59d;
  --md-sys-color-on-tertiary-fixed: #270600;
  --md-sys-color-on-tertiary-fixed-variant: #5e2510;
  --md-sys-color-error: #ffd2cc;
  --md-sys-color-error-dim: #ffc7c0;
  --md-sys-color-on-error: #540003;
  --md-sys-color-error-container: #fff7f6;
  --md-sys-color-on-error-container: #ab0b12;
}

.dark-high-contrast {
  --md-sys-color-primary-palette-key-color: #049789;
  --md-sys-color-secondary-palette-key-color: #577e77;
  --md-sys-color-tertiary-palette-key-color: #bf7157;
  --md-sys-color-neutral-palette-key-color: #727876;
  --md-sys-color-neutral-variant-palette-key-color: #6d7a77;
  --md-sys-color-error-palette-key-color: #de3730;
  --md-sys-color-background: #0f1413;
  --md-sys-color-on-background: #dee4e1;
  --md-sys-color-surface: #0f1413;
  --md-sys-color-surface-dim: #0f1413;
  --md-sys-color-surface-bright: #4b5150;
  --md-sys-color-surface-container-lowest: #000000;
  --md-sys-color-surface-container-low: #1b211f;
  --md-sys-color-surface-container: #2c3230;
  --md-sys-color-surface-container-high: #373d3b;
  --md-sys-color-surface-container-highest: #424846;
  --md-sys-color-on-surface: #ffffff;
  --md-sys-color-surface-variant: #3d4947;
  --md-sys-color-on-surface-variant: #ffffff;
  --md-sys-color-inverse-surface: #dee4e1;
  --md-sys-color-inverse-on-surface: #000000;
  --md-sys-color-outline: #e5f3ef;
  --md-sys-color-outline-variant: #b8c5c2;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #67d9c9;
  --md-sys-color-primary: #85f6e5;
  --md-sys-color-primary-dim: #fefffd;
  --md-sys-color-on-primary: #000000;
  --md-sys-color-primary-container: #ffffff;
  --md-sys-color-on-primary-container: #00231f;
  --md-sys-color-inverse-primary: #005249;
  --md-sys-color-primary-fixed: #85f6e5;
  --md-sys-color-primary-fixed-dim: #67d9c9;
  --md-sys-color-on-primary-fixed: #000000;
  --md-sys-color-on-primary-fixed-variant: #001512;
  --md-sys-color-secondary: #c1ebe3;
  --md-sys-color-secondary-dim: #fefffd;
  --md-sys-color-on-secondary: #000000;
  --md-sys-color-secondary-container: #ffffff;
  --md-sys-color-on-secondary-container: #1a423c;
  --md-sys-color-secondary-fixed: #c1ebe3;
  --md-sys-color-secondary-fixed-dim: #a5cfc7;
  --md-sys-color-on-secondary-fixed: #000000;
  --md-sys-color-on-secondary-fixed-variant: #001512;
  --md-sys-color-tertiary: #ffdbd0;
  --md-sys-color-tertiary-dim: #fffeff;
  --md-sys-color-on-tertiary: #000000;
  --md-sys-color-tertiary-container: #ffffff;
  --md-sys-color-on-tertiary-container: #3d0d00;
  --md-sys-color-tertiary-fixed: #ffdbd0;
  --md-sys-color-tertiary-fixed-dim: #ffb59d;
  --md-sys-color-on-tertiary-fixed: #000000;
  --md-sys-color-on-tertiary-fixed-variant: #270600;
  --md-sys-color-error: #ffdad6;
  --md-sys-color-error-dim: #fffeff;
  --md-sys-color-on-error: #000000;
  --md-sys-color-error-container: #ffffff;
  --md-sys-color-on-error-container: #7e0007;
}

