.light {
  --md-sys-color-primary-palette-key-color: #558332;
  --md-sys-color-secondary-palette-key-color: #5f8045;
  --md-sys-color-tertiary-palette-key-color: #2c8479;
  --md-sys-color-neutral-palette-key-color: #6c7a77;
  --md-sys-color-neutral-variant-palette-key-color: #627c77;
  --md-sys-color-error-palette-key-color: #de3730;
  --md-sys-color-background: #eefdf8;
  --md-sys-color-on-background: #283532;
  --md-sys-color-surface: #eefdf8;
  --md-sys-color-surface-dim: #cfddd9;
  --md-sys-color-surface-bright: #eefdf8;
  --md-sys-color-surface-container-lowest: #ffffff;
  --md-sys-color-surface-container-low: #e8f7f3;
  --md-sys-color-surface-container: #e2f1ed;
  --md-sys-color-surface-container-high: #ddebe7;
  --md-sys-color-surface-container-highest: #d7e6e2;
  --md-sys-color-on-surface: #283532;
  --md-sys-color-surface-variant: #d7e6e2;
  --md-sys-color-on-surface-variant: #54625f;
  --md-sys-color-inverse-surface: #05100e;
  --md-sys-color-inverse-on-surface: #92a09c;
  --md-sys-color-outline: #707e7a;
  --md-sys-color-outline-variant: #a7b5b1;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #3e6a1b;
  --md-sys-color-primary: #3e6a1b;
  --md-sys-color-primary-dim: #325e0f;
  --md-sys-color-on-primary: #edffd9;
  --md-sys-color-primary-container: #c5fb9a;
  --md-sys-color-on-primary-container: #366113;
  --md-sys-color-inverse-primary: #c8fe9c;
  --md-sys-color-primary-fixed: #c5fb9a;
  --md-sys-color-primary-fixed-dim: #b7ec8d;
  --md-sys-color-on-primary-fixed: #244e00;
  --md-sys-color-on-primary-fixed-variant: #406c1d;
  --md-sys-color-secondary: #486830;
  --md-sys-color-secondary-dim: #3d5b25;
  --md-sys-color-on-secondary: #edffd9;
  --md-sys-color-secondary-container: #c8eea8;
  --md-sys-color-on-secondary-container: #3b5a24;
  --md-sys-color-secondary-fixed: #c8eea8;
  --md-sys-color-secondary-fixed-dim: #bbe09b;
  --md-sys-color-on-secondary-fixed: #294712;
  --md-sys-color-on-secondary-fixed-variant: #45642c;
  --md-sys-color-tertiary: #006b61;
  --md-sys-color-tertiary-dim: #005e55;
  --md-sys-color-on-tertiary: #e2fff9;
  --md-sys-color-tertiary-container: #a6fbed;
  --md-sys-color-on-tertiary-container: #006258;
  --md-sys-color-tertiary-fixed: #a6fbed;
  --md-sys-color-tertiary-fixed-dim: #98ecdf;
  --md-sys-color-on-tertiary-fixed: #004e46;
  --md-sys-color-on-tertiary-fixed-variant: #026d63;
  --md-sys-color-error: #bb1b1b;
  --md-sys-color-error-dim: #a90810;
  --md-sys-color-on-error: #fff7f6;
  --md-sys-color-error-container: #fe4e44;
  --md-sys-color-on-error-container: #570003;
}

.light-medium-contrast {
  --md-sys-color-primary-palette-key-color: #558332;
  --md-sys-color-secondary-palette-key-color: #5f8045;
  --md-sys-color-tertiary-palette-key-color: #2c8479;
  --md-sys-color-neutral-palette-key-color: #6c7a77;
  --md-sys-color-neutral-variant-palette-key-color: #627c77;
  --md-sys-color-error-palette-key-color: #de3730;
  --md-sys-color-background: #eefdf8;
  --md-sys-color-on-background: #1a2624;
  --md-sys-color-surface: #eefdf8;
  --md-sys-color-surface-dim: #cfddd9;
  --md-sys-color-surface-bright: #eefdf8;
  --md-sys-color-surface-container-lowest: #ffffff;
  --md-sys-color-surface-container-low: #e8f7f3;
  --md-sys-color-surface-container: #e2f1ed;
  --md-sys-color-surface-container-high: #ddebe7;
  --md-sys-color-surface-container-highest: #d7e6e2;
  --md-sys-color-on-surface: #1a2624;
  --md-sys-color-surface-variant: #d7e6e2;
  --md-sys-color-on-surface-variant: #384543;
  --md-sys-color-inverse-surface: #05100e;
  --md-sys-color-inverse-on-surface: #b9c8c4;
  --md-sys-color-outline: #54625f;
  --md-sys-color-outline-variant: #707e7a;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #234c00;
  --md-sys-color-primary: #234c00;
  --md-sys-color-primary-dim: #1d4000;
  --md-sys-color-on-primary: #b4e98a;
  --md-sys-color-primary-container: #53802f;
  --md-sys-color-on-primary-container: #ffffff;
  --md-sys-color-inverse-primary: #c8fe9c;
  --md-sys-color-primary-fixed: #53802f;
  --md-sys-color-primary-fixed-dim: #477424;
  --md-sys-color-on-primary-fixed: #ffffff;
  --md-sys-color-on-primary-fixed-variant: #ffffff;
  --md-sys-color-secondary: #2d4a16;
  --md-sys-color-secondary-dim: #223f0b;
  --md-sys-color-on-secondary: #c0e59f;
  --md-sys-color-secondary-container: #5d7e43;
  --md-sys-color-on-secondary-container: #ffffff;
  --md-sys-color-secondary-fixed: #5d7e43;
  --md-sys-color-secondary-fixed-dim: #517138;
  --md-sys-color-on-secondary-fixed: #ffffff;
  --md-sys-color-on-secondary-fixed-variant: #ffffff;
  --md-sys-color-tertiary: #004c44;
  --md-sys-color-tertiary-dim: #003f39;
  --md-sys-color-on-tertiary: #95e9db;
  --md-sys-color-tertiary-container: #288176;
  --md-sys-color-on-tertiary-container: #ffffff;
  --md-sys-color-tertiary-fixed: #288176;
  --md-sys-color-tertiary-fixed-dim: #14756a;
  --md-sys-color-on-tertiary-fixed: #ffffff;
  --md-sys-color-on-tertiary-fixed-variant: #ffffff;
  --md-sys-color-error: #8c0009;
  --md-sys-color-error-dim: #760006;
  --md-sys-color-on-error: #ffcec8;
  --md-sys-color-error-container: #da342e;
  --md-sys-color-on-error-container: #ffffff;
}

.light-high-contrast {
  --md-sys-color-primary-palette-key-color: #558332;
  --md-sys-color-secondary-palette-key-color: #5f8045;
  --md-sys-color-tertiary-palette-key-color: #2c8479;
  --md-sys-color-neutral-palette-key-color: #6c7a77;
  --md-sys-color-neutral-variant-palette-key-color: #627c77;
  --md-sys-color-error-palette-key-color: #de3730;
  --md-sys-color-background: #eefdf8;
  --md-sys-color-on-background: #000000;
  --md-sys-color-surface: #eefdf8;
  --md-sys-color-surface-dim: #cfddd9;
  --md-sys-color-surface-bright: #eefdf8;
  --md-sys-color-surface-container-lowest: #ffffff;
  --md-sys-color-surface-container-low: #e8f7f3;
  --md-sys-color-surface-container: #e2f1ed;
  --md-sys-color-surface-container-high: #ddebe7;
  --md-sys-color-surface-container-highest: #d7e6e2;
  --md-sys-color-on-surface: #000000;
  --md-sys-color-surface-variant: #d7e6e2;
  --md-sys-color-on-surface-variant: #1a2624;
  --md-sys-color-inverse-surface: #05100e;
  --md-sys-color-inverse-on-surface: #ffffff;
  --md-sys-color-outline: #384543;
  --md-sys-color-outline-variant: #54625f;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #112a00;
  --md-sys-color-primary: #112a00;
  --md-sys-color-primary-dim: #0a1e00;
  --md-sys-color-on-primary: #b5e98b;
  --md-sys-color-primary-container: #3e6a1b;
  --md-sys-color-on-primary-container: #ffffff;
  --md-sys-color-inverse-primary: #c8fe9c;
  --md-sys-color-primary-fixed: #3e6a1b;
  --md-sys-color-primary-fixed-dim: #325e0f;
  --md-sys-color-on-primary-fixed: #ffffff;
  --md-sys-color-on-primary-fixed-variant: #ffffff;
  --md-sys-color-secondary: #112a00;
  --md-sys-color-secondary-dim: #0a1e00;
  --md-sys-color-on-secondary: #c0e5a0;
  --md-sys-color-secondary-container: #486830;
  --md-sys-color-on-secondary-container: #ffffff;
  --md-sys-color-secondary-fixed: #486830;
  --md-sys-color-secondary-fixed-dim: #3d5b25;
  --md-sys-color-on-secondary-fixed: #ffffff;
  --md-sys-color-on-secondary-fixed-variant: #ffffff;
  --md-sys-color-tertiary: #002925;
  --md-sys-color-tertiary-dim: #001e1a;
  --md-sys-color-on-tertiary: #96e9dc;
  --md-sys-color-tertiary-container: #006b61;
  --md-sys-color-on-tertiary-container: #ffffff;
  --md-sys-color-tertiary-fixed: #006b61;
  --md-sys-color-tertiary-fixed-dim: #005e55;
  --md-sys-color-on-tertiary-fixed: #ffffff;
  --md-sys-color-on-tertiary-fixed-variant: #ffffff;
  --md-sys-color-error: #510003;
  --md-sys-color-error-dim: #3e0002;
  --md-sys-color-on-error: #ffcfc9;
  --md-sys-color-error-container: #bb1b1b;
  --md-sys-color-on-error-container: #ffffff;
}

.dark {
  --md-sys-color-primary-palette-key-color: #558332;
  --md-sys-color-secondary-palette-key-color: #5f8045;
  --md-sys-color-tertiary-palette-key-color: #2c8479;
  --md-sys-color-neutral-palette-key-color: #6c7a77;
  --md-sys-color-neutral-variant-palette-key-color: #627c77;
  --md-sys-color-error-palette-key-color: #de3730;
  --md-sys-color-background: #05100e;
  --md-sys-color-on-background: #dae9e5;
  --md-sys-color-surface: #05100e;
  --md-sys-color-surface-dim: #05100e;
  --md-sys-color-surface-bright: #222f2c;
  --md-sys-color-surface-container-lowest: #000000;
  --md-sys-color-surface-container-low: #091614;
  --md-sys-color-surface-container: #0f1c1a;
  --md-sys-color-surface-container-high: #152220;
  --md-sys-color-surface-container-highest: #1b2826;
  --md-sys-color-on-surface: #dae9e5;
  --md-sys-color-surface-variant: #1b2826;
  --md-sys-color-on-surface-variant: #a0aeaa;
  --md-sys-color-inverse-surface: #eefdf8;
  --md-sys-color-inverse-on-surface: #4a5855;
  --md-sys-color-outline: #6a7875;
  --md-sys-color-outline-variant: #3d4b48;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #c8fe9c;
  --md-sys-color-primary: #c8fe9c;
  --md-sys-color-primary-dim: #baef90;
  --md-sys-color-on-primary: #376314;
  --md-sys-color-primary-container: #7dae57;
  --md-sys-color-on-primary-container: #102800;
  --md-sys-color-inverse-primary: #3e6a1b;
  --md-sys-color-primary-fixed: #c5fb9a;
  --md-sys-color-primary-fixed-dim: #b7ec8d;
  --md-sys-color-on-primary-fixed: #244e00;
  --md-sys-color-on-primary-fixed-variant: #406c1d;
  --md-sys-color-secondary: #add28e;
  --md-sys-color-secondary-dim: #9fc481;
  --md-sys-color-on-secondary: #2a4813;
  --md-sys-color-secondary-container: #26430f;
  --md-sys-color-on-secondary-container: #a6ca87;
  --md-sys-color-secondary-fixed: #c8eea8;
  --md-sys-color-secondary-fixed-dim: #bbe09b;
  --md-sys-color-on-secondary-fixed: #294712;
  --md-sys-color-on-secondary-fixed-variant: #45642c;
  --md-sys-color-tertiary: #e4fff9;
  --md-sys-color-tertiary-dim: #a6fbed;
  --md-sys-color-on-tertiary: #006b61;
  --md-sys-color-tertiary-container: #a6fbed;
  --md-sys-color-on-tertiary-container: #006258;
  --md-sys-color-tertiary-fixed: #a6fbed;
  --md-sys-color-tertiary-fixed-dim: #98ecdf;
  --md-sys-color-on-tertiary-fixed: #004e46;
  --md-sys-color-on-tertiary-fixed-variant: #026d63;
  --md-sys-color-error: #ff7164;
  --md-sys-color-error-dim: #da342e;
  --md-sys-color-on-error: #4a0002;
  --md-sys-color-error-container: #ac0c12;
  --md-sys-color-on-error-container: #ffb8b0;
}

.dark-medium-contrast {
  --md-sys-color-primary-palette-key-color: #558332;
  --md-sys-color-secondary-palette-key-color: #5f8045;
  --md-sys-color-tertiary-palette-key-color: #2c8479;
  --md-sys-color-neutral-palette-key-color: #6c7a77;
  --md-sys-color-neutral-variant-palette-key-color: #627c77;
  --md-sys-color-error-palette-key-color: #de3730;
  --md-sys-color-background: #05100e;
  --md-sys-color-on-background: #ffffff;
  --md-sys-color-surface: #05100e;
  --md-sys-color-surface-dim: #05100e;
  --md-sys-color-surface-bright: #222f2c;
  --md-sys-color-surface-container-lowest: #000000;
  --md-sys-color-surface-container-low: #091614;
  --md-sys-color-surface-container: #0f1c1a;
  --md-sys-color-surface-container-high: #152220;
  --md-sys-color-surface-container-highest: #1b2826;
  --md-sys-color-on-surface: #ffffff;
  --md-sys-color-surface-variant: #1b2826;
  --md-sys-color-on-surface-variant: #adbcb8;
  --md-sys-color-inverse-surface: #eefdf8;
  --md-sys-color-inverse-on-surface: #2e3b38;
  --md-sys-color-outline: #889693;
  --md-sys-color-outline-variant: #6a7875;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #c8fe9c;
  --md-sys-color-primary: #c8fe9c;
  --md-sys-color-primary-dim: #baef90;
  --md-sys-color-on-primary: #2e5909;
  --md-sys-color-primary-container: #7dae57;
  --md-sys-color-on-primary-container: #071800;
  --md-sys-color-inverse-primary: #346011;
  --md-sys-color-primary-fixed: #c5fb9a;
  --md-sys-color-primary-fixed-dim: #b7ec8d;
  --md-sys-color-on-primary-fixed: #122c00;
  --md-sys-color-on-primary-fixed-variant: #244e00;
  --md-sys-color-secondary: #add28e;
  --md-sys-color-secondary-dim: #9fc481;
  --md-sys-color-on-secondary: #203d09;
  --md-sys-color-secondary-container: #5d7e43;
  --md-sys-color-on-secondary-container: #ffffff;
  --md-sys-color-secondary-fixed: #c8eea8;
  --md-sys-color-secondary-fixed-dim: #bbe09b;
  --md-sys-color-on-secondary-fixed: #0e2500;
  --md-sys-color-on-secondary-fixed-variant: #294712;
  --md-sys-color-tertiary: #e4fff9;
  --md-sys-color-tertiary-dim: #a6fbed;
  --md-sys-color-on-tertiary: #006057;
  --md-sys-color-tertiary-container: #a6fbed;
  --md-sys-color-on-tertiary-container: #00574e;
  --md-sys-color-tertiary-fixed: #a6fbed;
  --md-sys-color-tertiary-fixed-dim: #98ecdf;
  --md-sys-color-on-tertiary-fixed: #002c27;
  --md-sys-color-on-tertiary-fixed-variant: #004e46;
  --md-sys-color-error: #ff9f94;
  --md-sys-color-error-dim: #ff887c;
  --md-sys-color-on-error: #600004;
  --md-sys-color-error-container: #da342e;
  --md-sys-color-on-error-container: #ffffff;
}

.dark-high-contrast {
  --md-sys-color-primary-palette-key-color: #558332;
  --md-sys-color-secondary-palette-key-color: #5f8045;
  --md-sys-color-tertiary-palette-key-color: #2c8479;
  --md-sys-color-neutral-palette-key-color: #6c7a77;
  --md-sys-color-neutral-variant-palette-key-color: #627c77;
  --md-sys-color-error-palette-key-color: #de3730;
  --md-sys-color-background: #05100e;
  --md-sys-color-on-background: #ffffff;
  --md-sys-color-surface: #05100e;
  --md-sys-color-surface-dim: #05100e;
  --md-sys-color-surface-bright: #222f2c;
  --md-sys-color-surface-container-lowest: #000000;
  --md-sys-color-surface-container-low: #091614;
  --md-sys-color-surface-container: #0f1c1a;
  --md-sys-color-surface-container-high: #152220;
  --md-sys-color-surface-container-highest: #1b2826;
  --md-sys-color-on-surface: #ffffff;
  --md-sys-color-surface-variant: #1b2826;
  --md-sys-color-on-surface-variant: #dae9e5;
  --md-sys-color-inverse-surface: #eefdf8;
  --md-sys-color-inverse-on-surface: #000000;
  --md-sys-color-outline: #adbcb8;
  --md-sys-color-outline-variant: #889693;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #c8fe9c;
  --md-sys-color-primary: #c8fe9c;
  --md-sys-color-primary-dim: #baef90;
  --md-sys-color-on-primary: #193900;
  --md-sys-color-primary-container: #7dae57;
  --md-sys-color-on-primary-container: #000000;
  --md-sys-color-inverse-primary: #1d4000;
  --md-sys-color-primary-fixed: #c5fb9a;
  --md-sys-color-primary-fixed-dim: #b7ec8d;
  --md-sys-color-on-primary-fixed: #000000;
  --md-sys-color-on-primary-fixed-variant: #122c00;
  --md-sys-color-secondary: #cbf1aa;
  --md-sys-color-secondary-dim: #bde39d;
  --md-sys-color-on-secondary: #163301;
  --md-sys-color-secondary-container: #85a869;
  --md-sys-color-on-secondary-container: #000000;
  --md-sys-color-secondary-fixed: #c8eea8;
  --md-sys-color-secondary-fixed-dim: #bbe09b;
  --md-sys-color-on-secondary-fixed: #000000;
  --md-sys-color-on-secondary-fixed-variant: #0e2500;
  --md-sys-color-tertiary: #e4fff9;
  --md-sys-color-tertiary-dim: #a6fbed;
  --md-sys-color-on-tertiary: #004039;
  --md-sys-color-tertiary-container: #a6fbed;
  --md-sys-color-on-tertiary-container: #003631;
  --md-sys-color-tertiary-fixed: #a6fbed;
  --md-sys-color-tertiary-fixed-dim: #98ecdf;
  --md-sys-color-on-tertiary-fixed: #000000;
  --md-sys-color-on-tertiary-fixed-variant: #002c27;
  --md-sys-color-error: #ffdeda;
  --md-sys-color-error-dim: #ffc8c1;
  --md-sys-color-on-error: #600004;
  --md-sys-color-error-container: #ff7164;
  --md-sys-color-on-error-container: #000000;
}

