.light {
  --md-sys-color-primary-palette-key-color: #558332;
  --md-sys-color-secondary-palette-key-color: #5f8045;
  --md-sys-color-tertiary-palette-key-color: #2c8479;
  --md-sys-color-neutral-palette-key-color: #6c7a77;
  --md-sys-color-neutral-variant-palette-key-color: #627c77;
  --md-sys-color-error-palette-key-color: #de3730;
  --md-sys-color-background: #000000;
  --md-sys-color-on-background: #ffffff;
  --md-sys-color-surface: #000000;
  --md-sys-color-surface-dim: #05100e;
  --md-sys-color-surface-bright: #222f2c;
  --md-sys-color-surface-container-lowest: #000000;
  --md-sys-color-surface-container-low: #1b2826;
  --md-sys-color-surface-container: #263330;
  --md-sys-color-surface-container-high: #313e3b;
  --md-sys-color-surface-container-highest: #1b2826;
  --md-sys-color-on-surface: #ddebe7;
  --md-sys-color-surface-variant: #1b2826;
  --md-sys-color-on-surface-variant: #c3d1cd;
  --md-sys-color-inverse-surface: #eefdf8;
  --md-sys-color-inverse-on-surface: #4a5855;
  --md-sys-color-outline: #9aa9a5;
  --md-sys-color-outline-variant: #7b8985;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #c8fe9c;
  --md-sys-color-primary: #c8fe9c;
  --md-sys-color-primary-dim: #baef90;
  --md-sys-color-on-primary: #265000;
  --md-sys-color-primary-container: #265101;
  --md-sys-color-on-primary-container: #bbef90;
  --md-sys-color-inverse-primary: #346011;
  --md-sys-color-primary-fixed: #265101;
  --md-sys-color-primary-fixed-dim: #1f4400;
  --md-sys-color-on-primary-fixed: #a9dd80;
  --md-sys-color-on-primary-fixed-variant: #82b35c;
  --md-sys-color-secondary: #c8eea8;
  --md-sys-color-secondary-dim: #bbe09b;
  --md-sys-color-on-secondary: #294712;
  --md-sys-color-secondary-container: #314f19;
  --md-sys-color-on-secondary-container: #c6eca5;
  --md-sys-color-secondary-fixed: #314f19;
  --md-sys-color-secondary-fixed-dim: #26430f;
  --md-sys-color-on-secondary-fixed: #b4d995;
  --md-sys-color-on-secondary-fixed-variant: #8db070;
  --md-sys-color-tertiary: #a6fbed;
  --md-sys-color-tertiary-dim: #98ecdf;
  --md-sys-color-on-tertiary: #004e46;
  --md-sys-color-tertiary-container: #7cd0c3;
  --md-sys-color-on-tertiary-container: #003933;
  --md-sys-color-tertiary-fixed: #7cd0c3;
  --md-sys-color-tertiary-fixed-dim: #6fc2b5;
  --md-sys-color-on-tertiary-fixed: #002e29;
  --md-sys-color-on-tertiary-fixed-variant: #004f47;
  --md-sys-color-error: #ffbeb7;
  --md-sys-color-error-dim: #ff8073;
  --md-sys-color-on-error: #400002;
  --md-sys-color-error-container: #93000a;
  --md-sys-color-on-error-container: #ffd7d2;
}

.light-medium-contrast {
  --md-sys-color-primary-palette-key-color: #558332;
  --md-sys-color-secondary-palette-key-color: #5f8045;
  --md-sys-color-tertiary-palette-key-color: #2c8479;
  --md-sys-color-neutral-palette-key-color: #6c7a77;
  --md-sys-color-neutral-variant-palette-key-color: #627c77;
  --md-sys-color-error-palette-key-color: #de3730;
  --md-sys-color-background: #000000;
  --md-sys-color-on-background: #ffffff;
  --md-sys-color-surface: #000000;
  --md-sys-color-surface-dim: #05100e;
  --md-sys-color-surface-bright: #222f2c;
  --md-sys-color-surface-container-lowest: #000000;
  --md-sys-color-surface-container-low: #1b2826;
  --md-sys-color-surface-container: #263330;
  --md-sys-color-surface-container-high: #313e3b;
  --md-sys-color-surface-container-highest: #1b2826;
  --md-sys-color-on-surface: #fefffd;
  --md-sys-color-surface-variant: #1b2826;
  --md-sys-color-on-surface-variant: #fefffd;
  --md-sys-color-inverse-surface: #eefdf8;
  --md-sys-color-inverse-on-surface: #2e3b38;
  --md-sys-color-outline: #c3d1cd;
  --md-sys-color-outline-variant: #9aa9a5;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #fffeff;
  --md-sys-color-primary: #fffeff;
  --md-sys-color-primary-dim: #c8fe9c;
  --md-sys-color-on-primary: #193900;
  --md-sys-color-primary-container: #265101;
  --md-sys-color-on-primary-container: #ffffff;
  --md-sys-color-inverse-primary: #1d4000;
  --md-sys-color-primary-fixed: #265101;
  --md-sys-color-primary-fixed-dim: #1f4400;
  --md-sys-color-on-primary-fixed: #fffeff;
  --md-sys-color-on-primary-fixed-variant: #a9dd80;
  --md-sys-color-secondary: #fffeff;
  --md-sys-color-secondary-dim: #c8eea8;
  --md-sys-color-on-secondary: #143000;
  --md-sys-color-secondary-container: #314f19;
  --md-sys-color-on-secondary-container: #ffffff;
  --md-sys-color-secondary-fixed: #314f19;
  --md-sys-color-secondary-fixed-dim: #26430f;
  --md-sys-color-on-secondary-fixed: #fffeff;
  --md-sys-color-on-secondary-fixed-variant: #b4d995;
  --md-sys-color-tertiary: #fefffd;
  --md-sys-color-tertiary-dim: #a6fbed;
  --md-sys-color-on-tertiary: #003631;
  --md-sys-color-tertiary-container: #8aded1;
  --md-sys-color-on-tertiary-container: #001f1b;
  --md-sys-color-tertiary-fixed: #7cd0c3;
  --md-sys-color-tertiary-fixed-dim: #6fc2b5;
  --md-sys-color-on-tertiary-fixed: #000000;
  --md-sys-color-on-tertiary-fixed-variant: #002e29;
  --md-sys-color-error: #fffeff;
  --md-sys-color-error-dim: #ffbeb7;
  --md-sys-color-on-error: #3d0002;
  --md-sys-color-error-container: #93000a;
  --md-sys-color-on-error-container: #ffffff;
}

.light-high-contrast {
  --md-sys-color-primary-palette-key-color: #558332;
  --md-sys-color-secondary-palette-key-color: #5f8045;
  --md-sys-color-tertiary-palette-key-color: #2c8479;
  --md-sys-color-neutral-palette-key-color: #6c7a77;
  --md-sys-color-neutral-variant-palette-key-color: #627c77;
  --md-sys-color-error-palette-key-color: #de3730;
  --md-sys-color-background: #000000;
  --md-sys-color-on-background: #ffffff;
  --md-sys-color-surface: #000000;
  --md-sys-color-surface-dim: #05100e;
  --md-sys-color-surface-bright: #222f2c;
  --md-sys-color-surface-container-lowest: #000000;
  --md-sys-color-surface-container-low: #1b2826;
  --md-sys-color-surface-container: #263330;
  --md-sys-color-surface-container-high: #313e3b;
  --md-sys-color-surface-container-highest: #1b2826;
  --md-sys-color-on-surface: #ffffff;
  --md-sys-color-surface-variant: #1b2826;
  --md-sys-color-on-surface-variant: #ffffff;
  --md-sys-color-inverse-surface: #eefdf8;
  --md-sys-color-inverse-on-surface: #000000;
  --md-sys-color-outline: #fefffd;
  --md-sys-color-outline-variant: #c3d1cd;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #ffffff;
  --md-sys-color-primary: #ffffff;
  --md-sys-color-primary-dim: #fffeff;
  --md-sys-color-on-primary: #000000;
  --md-sys-color-primary-container: #265101;
  --md-sys-color-on-primary-container: #ffffff;
  --md-sys-color-inverse-primary: #000000;
  --md-sys-color-primary-fixed: #265101;
  --md-sys-color-primary-fixed-dim: #1f4400;
  --md-sys-color-on-primary-fixed: #ffffff;
  --md-sys-color-on-primary-fixed-variant: #fffeff;
  --md-sys-color-secondary: #ffffff;
  --md-sys-color-secondary-dim: #fffeff;
  --md-sys-color-on-secondary: #000000;
  --md-sys-color-secondary-container: #314f19;
  --md-sys-color-on-secondary-container: #ffffff;
  --md-sys-color-secondary-fixed: #314f19;
  --md-sys-color-secondary-fixed-dim: #26430f;
  --md-sys-color-on-secondary-fixed: #ffffff;
  --md-sys-color-on-secondary-fixed-variant: #fffeff;
  --md-sys-color-tertiary: #ffffff;
  --md-sys-color-tertiary-dim: #fefffd;
  --md-sys-color-on-tertiary: #000000;
  --md-sys-color-tertiary-container: #9ef1e4;
  --md-sys-color-on-tertiary-container: #000000;
  --md-sys-color-tertiary-fixed: #7cd0c3;
  --md-sys-color-tertiary-fixed-dim: #6fc2b5;
  --md-sys-color-on-tertiary-fixed: #000000;
  --md-sys-color-on-tertiary-fixed-variant: #000000;
  --md-sys-color-error: #ffffff;
  --md-sys-color-error-dim: #fffeff;
  --md-sys-color-on-error: #000000;
  --md-sys-color-error-container: #93000a;
  --md-sys-color-on-error-container: #ffffff;
}

.dark {
  --md-sys-color-primary-palette-key-color: #558332;
  --md-sys-color-secondary-palette-key-color: #5f8045;
  --md-sys-color-tertiary-palette-key-color: #2c8479;
  --md-sys-color-neutral-palette-key-color: #6c7a77;
  --md-sys-color-neutral-variant-palette-key-color: #627c77;
  --md-sys-color-error-palette-key-color: #de3730;
  --md-sys-color-background: #000000;
  --md-sys-color-on-background: #ffffff;
  --md-sys-color-surface: #000000;
  --md-sys-color-surface-dim: #05100e;
  --md-sys-color-surface-bright: #222f2c;
  --md-sys-color-surface-container-lowest: #000000;
  --md-sys-color-surface-container-low: #1b2826;
  --md-sys-color-surface-container: #263330;
  --md-sys-color-surface-container-high: #313e3b;
  --md-sys-color-surface-container-highest: #1b2826;
  --md-sys-color-on-surface: #ddebe7;
  --md-sys-color-surface-variant: #1b2826;
  --md-sys-color-on-surface-variant: #c3d1cd;
  --md-sys-color-inverse-surface: #eefdf8;
  --md-sys-color-inverse-on-surface: #4a5855;
  --md-sys-color-outline: #9aa9a5;
  --md-sys-color-outline-variant: #7b8985;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #c8fe9c;
  --md-sys-color-primary: #c8fe9c;
  --md-sys-color-primary-dim: #baef90;
  --md-sys-color-on-primary: #265000;
  --md-sys-color-primary-container: #265101;
  --md-sys-color-on-primary-container: #bbef90;
  --md-sys-color-inverse-primary: #346011;
  --md-sys-color-primary-fixed: #265101;
  --md-sys-color-primary-fixed-dim: #1f4400;
  --md-sys-color-on-primary-fixed: #a9dd80;
  --md-sys-color-on-primary-fixed-variant: #82b35c;
  --md-sys-color-secondary: #c8eea8;
  --md-sys-color-secondary-dim: #bbe09b;
  --md-sys-color-on-secondary: #294712;
  --md-sys-color-secondary-container: #314f19;
  --md-sys-color-on-secondary-container: #c6eca5;
  --md-sys-color-secondary-fixed: #314f19;
  --md-sys-color-secondary-fixed-dim: #26430f;
  --md-sys-color-on-secondary-fixed: #b4d995;
  --md-sys-color-on-secondary-fixed-variant: #8db070;
  --md-sys-color-tertiary: #a6fbed;
  --md-sys-color-tertiary-dim: #98ecdf;
  --md-sys-color-on-tertiary: #004e46;
  --md-sys-color-tertiary-container: #7cd0c3;
  --md-sys-color-on-tertiary-container: #003933;
  --md-sys-color-tertiary-fixed: #7cd0c3;
  --md-sys-color-tertiary-fixed-dim: #6fc2b5;
  --md-sys-color-on-tertiary-fixed: #002e29;
  --md-sys-color-on-tertiary-fixed-variant: #004f47;
  --md-sys-color-error: #ffbeb7;
  --md-sys-color-error-dim: #ff8073;
  --md-sys-color-on-error: #400002;
  --md-sys-color-error-container: #93000a;
  --md-sys-color-on-error-container: #ffd7d2;
}

.dark-medium-contrast {
  --md-sys-color-primary-palette-key-color: #558332;
  --md-sys-color-secondary-palette-key-color: #5f8045;
  --md-sys-color-tertiary-palette-key-color: #2c8479;
  --md-sys-color-neutral-palette-key-color: #6c7a77;
  --md-sys-color-neutral-variant-palette-key-color: #627c77;
  --md-sys-color-error-palette-key-color: #de3730;
  --md-sys-color-background: #000000;
  --md-sys-color-on-background: #ffffff;
  --md-sys-color-surface: #000000;
  --md-sys-color-surface-dim: #05100e;
  --md-sys-color-surface-bright: #222f2c;
  --md-sys-color-surface-container-lowest: #000000;
  --md-sys-color-surface-container-low: #1b2826;
  --md-sys-color-surface-container: #263330;
  --md-sys-color-surface-container-high: #313e3b;
  --md-sys-color-surface-container-highest: #1b2826;
  --md-sys-color-on-surface: #fefffd;
  --md-sys-color-surface-variant: #1b2826;
  --md-sys-color-on-surface-variant: #fefffd;
  --md-sys-color-inverse-surface: #eefdf8;
  --md-sys-color-inverse-on-surface: #2e3b38;
  --md-sys-color-outline: #c3d1cd;
  --md-sys-color-outline-variant: #9aa9a5;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #fffeff;
  --md-sys-color-primary: #fffeff;
  --md-sys-color-primary-dim: #c8fe9c;
  --md-sys-color-on-primary: #193900;
  --md-sys-color-primary-container: #265101;
  --md-sys-color-on-primary-container: #ffffff;
  --md-sys-color-inverse-primary: #1d4000;
  --md-sys-color-primary-fixed: #265101;
  --md-sys-color-primary-fixed-dim: #1f4400;
  --md-sys-color-on-primary-fixed: #fffeff;
  --md-sys-color-on-primary-fixed-variant: #a9dd80;
  --md-sys-color-secondary: #fffeff;
  --md-sys-color-secondary-dim: #c8eea8;
  --md-sys-color-on-secondary: #143000;
  --md-sys-color-secondary-container: #314f19;
  --md-sys-color-on-secondary-container: #ffffff;
  --md-sys-color-secondary-fixed: #314f19;
  --md-sys-color-secondary-fixed-dim: #26430f;
  --md-sys-color-on-secondary-fixed: #fffeff;
  --md-sys-color-on-secondary-fixed-variant: #b4d995;
  --md-sys-color-tertiary: #fefffd;
  --md-sys-color-tertiary-dim: #a6fbed;
  --md-sys-color-on-tertiary: #003631;
  --md-sys-color-tertiary-container: #8aded1;
  --md-sys-color-on-tertiary-container: #001f1b;
  --md-sys-color-tertiary-fixed: #7cd0c3;
  --md-sys-color-tertiary-fixed-dim: #6fc2b5;
  --md-sys-color-on-tertiary-fixed: #000000;
  --md-sys-color-on-tertiary-fixed-variant: #002e29;
  --md-sys-color-error: #fffeff;
  --md-sys-color-error-dim: #ffbeb7;
  --md-sys-color-on-error: #3d0002;
  --md-sys-color-error-container: #93000a;
  --md-sys-color-on-error-container: #ffffff;
}

.dark-high-contrast {
  --md-sys-color-primary-palette-key-color: #558332;
  --md-sys-color-secondary-palette-key-color: #5f8045;
  --md-sys-color-tertiary-palette-key-color: #2c8479;
  --md-sys-color-neutral-palette-key-color: #6c7a77;
  --md-sys-color-neutral-variant-palette-key-color: #627c77;
  --md-sys-color-error-palette-key-color: #de3730;
  --md-sys-color-background: #000000;
  --md-sys-color-on-background: #ffffff;
  --md-sys-color-surface: #000000;
  --md-sys-color-surface-dim: #05100e;
  --md-sys-color-surface-bright: #222f2c;
  --md-sys-color-surface-container-lowest: #000000;
  --md-sys-color-surface-container-low: #1b2826;
  --md-sys-color-surface-container: #263330;
  --md-sys-color-surface-container-high: #313e3b;
  --md-sys-color-surface-container-highest: #1b2826;
  --md-sys-color-on-surface: #ffffff;
  --md-sys-color-surface-variant: #1b2826;
  --md-sys-color-on-surface-variant: #ffffff;
  --md-sys-color-inverse-surface: #eefdf8;
  --md-sys-color-inverse-on-surface: #000000;
  --md-sys-color-outline: #fefffd;
  --md-sys-color-outline-variant: #c3d1cd;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #ffffff;
  --md-sys-color-primary: #ffffff;
  --md-sys-color-primary-dim: #fffeff;
  --md-sys-color-on-primary: #000000;
  --md-sys-color-primary-container: #265101;
  --md-sys-color-on-primary-container: #ffffff;
  --md-sys-color-inverse-primary: #000000;
  --md-sys-color-primary-fixed: #265101;
  --md-sys-color-primary-fixed-dim: #1f4400;
  --md-sys-color-on-primary-fixed: #ffffff;
  --md-sys-color-on-primary-fixed-variant: #fffeff;
  --md-sys-color-secondary: #ffffff;
  --md-sys-color-secondary-dim: #fffeff;
  --md-sys-color-on-secondary: #000000;
  --md-sys-color-secondary-container: #314f19;
  --md-sys-color-on-secondary-container: #ffffff;
  --md-sys-color-secondary-fixed: #314f19;
  --md-sys-color-secondary-fixed-dim: #26430f;
  --md-sys-color-on-secondary-fixed: #ffffff;
  --md-sys-color-on-secondary-fixed-variant: #fffeff;
  --md-sys-color-tertiary: #ffffff;
  --md-sys-color-tertiary-dim: #fefffd;
  --md-sys-color-on-tertiary: #000000;
  --md-sys-color-tertiary-container: #9ef1e4;
  --md-sys-color-on-tertiary-container: #000000;
  --md-sys-color-tertiary-fixed: #7cd0c3;
  --md-sys-color-tertiary-fixed-dim: #6fc2b5;
  --md-sys-color-on-tertiary-fixed: #000000;
  --md-sys-color-on-tertiary-fixed-variant: #000000;
  --md-sys-color-error: #ffffff;
  --md-sys-color-error-dim: #fffeff;
  --md-sys-color-on-error: #000000;
  --md-sys-color-error-container: #93000a;
  --md-sys-color-on-error-container: #ffffff;
}

