.light {
  --md-sys-color-primary-palette-key-color: #558332;
  --md-sys-color-secondary-palette-key-color: #5f8045;
  --md-sys-color-tertiary-palette-key-color: #2c8479;
  --md-sys-color-neutral-palette-key-color: #6c7a77;
  --md-sys-color-neutral-variant-palette-key-color: #627c77;
  --md-sys-color-error-palette-key-color: #de3730;
  --md-sys-color-background: #eefdf8;
  --md-sys-color-on-background: #111e1c;
  --md-sys-color-surface: #eefdf8;
  --md-sys-color-surface-dim: #cfddd9;
  --md-sys-color-surface-bright: #eefdf8;
  --md-sys-color-surface-container-lowest: #ffffff;
  --md-sys-color-surface-container-low: #e8f7f3;
  --md-sys-color-surface-container: #e2f1ed;
  --md-sys-color-surface-container-high: #ddebe7;
  --md-sys-color-surface-container-highest: #d7e6e2;
  --md-sys-color-on-surface: #111e1c;
  --md-sys-color-surface-variant: #cce8e2;
  --md-sys-color-on-surface-variant: #334b47;
  --md-sys-color-inverse-surface: #263330;
  --md-sys-color-inverse-on-surface: #e5f4f0;
  --md-sys-color-outline: #627c77;
  --md-sys-color-outline-variant: #b1ccc6;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #3d691a;
  --md-sys-color-primary: #3d691a;
  --md-sys-color-primary-dim: #467324;
  --md-sys-color-on-primary: #ffffff;
  --md-sys-color-primary-container: #265101;
  --md-sys-color-on-primary-container: #91c369;
  --md-sys-color-inverse-primary: #a2d579;
  --md-sys-color-primary-fixed: #bdf292;
  --md-sys-color-primary-fixed-dim: #a2d579;
  --md-sys-color-on-primary-fixed: #0b2000;
  --md-sys-color-on-primary-fixed-variant: #265101;
  --md-sys-color-secondary: #48672f;
  --md-sys-color-secondary-dim: #517138;
  --md-sys-color-on-secondary: #ffffff;
  --md-sys-color-secondary-container: #314f19;
  --md-sys-color-on-secondary-container: #9cc07e;
  --md-sys-color-secondary-fixed: #c8eea8;
  --md-sys-color-secondary-fixed-dim: #add28e;
  --md-sys-color-on-secondary-fixed: #0b2000;
  --md-sys-color-on-secondary-fixed-variant: #314f19;
  --md-sys-color-tertiary: #006a60;
  --md-sys-color-tertiary-dim: #14746a;
  --md-sys-color-on-tertiary: #ffffff;
  --md-sys-color-tertiary-container: #005048;
  --md-sys-color-on-tertiary-container: #70c4b7;
  --md-sys-color-tertiary-fixed: #9ef2e4;
  --md-sys-color-tertiary-fixed-dim: #82d5c8;
  --md-sys-color-on-tertiary-fixed: #00201c;
  --md-sys-color-on-tertiary-fixed-variant: #005048;
  --md-sys-color-error: #ba1a1a;
  --md-sys-color-error-dim: #ac0c12;
  --md-sys-color-on-error: #ffffff;
  --md-sys-color-error-container: #93000a;
  --md-sys-color-on-error-container: #ff9a8e;
}

.light-medium-contrast {
  --md-sys-color-primary-palette-key-color: #558332;
  --md-sys-color-secondary-palette-key-color: #5f8045;
  --md-sys-color-tertiary-palette-key-color: #2c8479;
  --md-sys-color-neutral-palette-key-color: #6c7a77;
  --md-sys-color-neutral-variant-palette-key-color: #627c77;
  --md-sys-color-error-palette-key-color: #de3730;
  --md-sys-color-background: #eefdf8;
  --md-sys-color-on-background: #111e1c;
  --md-sys-color-surface: #eefdf8;
  --md-sys-color-surface-dim: #bbcac6;
  --md-sys-color-surface-bright: #eefdf8;
  --md-sys-color-surface-container-lowest: #ffffff;
  --md-sys-color-surface-container-low: #e8f7f3;
  --md-sys-color-surface-container: #ddebe7;
  --md-sys-color-surface-container-high: #d1e0dc;
  --md-sys-color-surface-container-highest: #c6d5d1;
  --md-sys-color-on-surface: #071311;
  --md-sys-color-surface-variant: #cce8e2;
  --md-sys-color-on-surface-variant: #223b37;
  --md-sys-color-inverse-surface: #263330;
  --md-sys-color-inverse-on-surface: #e5f4f0;
  --md-sys-color-outline: #3e5753;
  --md-sys-color-outline-variant: #58726d;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #3d691a;
  --md-sys-color-primary: #1c3e00;
  --md-sys-color-primary-dim: #244e00;
  --md-sys-color-on-primary: #ffffff;
  --md-sys-color-primary-container: #0f2600;
  --md-sys-color-on-primary-container: #88ba61;
  --md-sys-color-inverse-primary: #a2d579;
  --md-sys-color-primary-fixed: #4b7928;
  --md-sys-color-primary-fixed-dim: #345f10;
  --md-sys-color-on-primary-fixed: #ffffff;
  --md-sys-color-on-primary-fixed-variant: #ffffff;
  --md-sys-color-secondary: #203d09;
  --md-sys-color-secondary-dim: #2e4c17;
  --md-sys-color-on-secondary: #ffffff;
  --md-sys-color-secondary-container: #0f2600;
  --md-sys-color-on-secondary-container: #93b675;
  --md-sys-color-secondary-fixed: #56763c;
  --md-sys-color-secondary-fixed-dim: #3e5d26;
  --md-sys-color-on-secondary-fixed: #ffffff;
  --md-sys-color-on-secondary-fixed-variant: #ffffff;
  --md-sys-color-tertiary: #003e37;
  --md-sys-color-tertiary-dim: #004e46;
  --md-sys-color-on-tertiary: #ffffff;
  --md-sys-color-tertiary-container: #002622;
  --md-sys-color-on-tertiary-container: #67baae;
  --md-sys-color-tertiary-fixed: #1d7a6f;
  --md-sys-color-tertiary-fixed-dim: #006056;
  --md-sys-color-on-tertiary-fixed: #ffffff;
  --md-sys-color-on-tertiary-fixed-variant: #ffffff;
  --md-sys-color-error: #740006;
  --md-sys-color-error-dim: #8f0009;
  --md-sys-color-on-error: #ffffff;
  --md-sys-color-error-container: #4b0002;
  --md-sys-color-on-error-container: #ff8b7e;
}

.light-high-contrast {
  --md-sys-color-primary-palette-key-color: #558332;
  --md-sys-color-secondary-palette-key-color: #5f8045;
  --md-sys-color-tertiary-palette-key-color: #2c8479;
  --md-sys-color-neutral-palette-key-color: #6c7a77;
  --md-sys-color-neutral-variant-palette-key-color: #627c77;
  --md-sys-color-error-palette-key-color: #de3730;
  --md-sys-color-background: #eefdf8;
  --md-sys-color-on-background: #111e1c;
  --md-sys-color-surface: #eefdf8;
  --md-sys-color-surface-dim: #adbcb8;
  --md-sys-color-surface-bright: #eefdf8;
  --md-sys-color-surface-container-lowest: #ffffff;
  --md-sys-color-surface-container-low: #e5f4f0;
  --md-sys-color-surface-container: #d7e6e2;
  --md-sys-color-surface-container-high: #c9d7d4;
  --md-sys-color-surface-container-highest: #bbcac6;
  --md-sys-color-on-surface: #000000;
  --md-sys-color-surface-variant: #cce8e2;
  --md-sys-color-on-surface-variant: #000000;
  --md-sys-color-inverse-surface: #263330;
  --md-sys-color-inverse-on-surface: #ffffff;
  --md-sys-color-outline: #17302d;
  --md-sys-color-outline-variant: #354e4a;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #3d691a;
  --md-sys-color-primary: #163300;
  --md-sys-color-primary-dim: #0e2500;
  --md-sys-color-on-primary: #ffffff;
  --md-sys-color-primary-container: #091c00;
  --md-sys-color-on-primary-container: #a7db7e;
  --md-sys-color-inverse-primary: #a2d579;
  --md-sys-color-primary-fixed: #295303;
  --md-sys-color-primary-fixed-dim: #1a3a00;
  --md-sys-color-on-primary-fixed: #ffffff;
  --md-sys-color-on-primary-fixed-variant: #ffffff;
  --md-sys-color-secondary: #173301;
  --md-sys-color-secondary-dim: #0e2500;
  --md-sys-color-on-secondary: #ffffff;
  --md-sys-color-secondary-container: #091c00;
  --md-sys-color-on-secondary-container: #b3d793;
  --md-sys-color-secondary-fixed: #33511c;
  --md-sys-color-secondary-fixed-dim: #1d3a06;
  --md-sys-color-on-secondary-fixed: #ffffff;
  --md-sys-color-on-secondary-fixed-variant: #ffffff;
  --md-sys-color-tertiary: #00332d;
  --md-sys-color-tertiary-dim: #002420;
  --md-sys-color-on-tertiary: #ffffff;
  --md-sys-color-tertiary-container: #001c18;
  --md-sys-color-on-tertiary-container: #88dbce;
  --md-sys-color-tertiary-fixed: #00534b;
  --md-sys-color-tertiary-fixed-dim: #003a34;
  --md-sys-color-on-tertiary-fixed: #ffffff;
  --md-sys-color-on-tertiary-fixed-variant: #ffffff;
  --md-sys-color-error: #600004;
  --md-sys-color-error-dim: #480002;
  --md-sys-color-on-error: #ffffff;
  --md-sys-color-error-container: #390001;
  --md-sys-color-on-error-container: #ffbcb4;
}

.dark {
  --md-sys-color-primary-palette-key-color: #558332;
  --md-sys-color-secondary-palette-key-color: #5f8045;
  --md-sys-color-tertiary-palette-key-color: #2c8479;
  --md-sys-color-neutral-palette-key-color: #6c7a77;
  --md-sys-color-neutral-variant-palette-key-color: #627c77;
  --md-sys-color-error-palette-key-color: #de3730;
  --md-sys-color-background: #091614;
  --md-sys-color-on-background: #d7e6e2;
  --md-sys-color-surface: #091614;
  --md-sys-color-surface-dim: #091614;
  --md-sys-color-surface-bright: #2f3c39;
  --md-sys-color-surface-container-lowest: #05100e;
  --md-sys-color-surface-container-low: #111e1c;
  --md-sys-color-surface-container: #152220;
  --md-sys-color-surface-container-high: #202c2a;
  --md-sys-color-surface-container-highest: #2a3735;
  --md-sys-color-on-surface: #d7e6e2;
  --md-sys-color-surface-variant: #334b47;
  --md-sys-color-on-surface-variant: #b1ccc6;
  --md-sys-color-inverse-surface: #d7e6e2;
  --md-sys-color-inverse-on-surface: #263330;
  --md-sys-color-outline: #7c9691;
  --md-sys-color-outline-variant: #334b47;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #a2d579;
  --md-sys-color-primary: #a2d579;
  --md-sys-color-primary-dim: #c8fe9c;
  --md-sys-color-on-primary: #183800;
  --md-sys-color-primary-container: #bdf292;
  --md-sys-color-on-primary-container: #437020;
  --md-sys-color-inverse-primary: #3d691a;
  --md-sys-color-primary-fixed: #bdf292;
  --md-sys-color-primary-fixed-dim: #a2d579;
  --md-sys-color-on-primary-fixed: #0b2000;
  --md-sys-color-on-primary-fixed-variant: #265101;
  --md-sys-color-secondary: #add28e;
  --md-sys-color-secondary-dim: #c8eea8;
  --md-sys-color-on-secondary: #1b3704;
  --md-sys-color-secondary-container: #c8eea8;
  --md-sys-color-on-secondary-container: #4d6d34;
  --md-sys-color-secondary-fixed: #c8eea8;
  --md-sys-color-secondary-fixed-dim: #add28e;
  --md-sys-color-on-secondary-fixed: #0b2000;
  --md-sys-color-on-secondary-fixed-variant: #314f19;
  --md-sys-color-tertiary: #82d5c8;
  --md-sys-color-tertiary-dim: #a6fbed;
  --md-sys-color-on-tertiary: #003731;
  --md-sys-color-tertiary-container: #9ef2e4;
  --md-sys-color-on-tertiary-container: #0c7166;
  --md-sys-color-tertiary-fixed: #9ef2e4;
  --md-sys-color-tertiary-fixed-dim: #82d5c8;
  --md-sys-color-on-tertiary-fixed: #00201c;
  --md-sys-color-on-tertiary-fixed-variant: #005048;
  --md-sys-color-error: #ffb4ab;
  --md-sys-color-error-dim: #ffc7c0;
  --md-sys-color-on-error: #690005;
  --md-sys-color-error-container: #ffdad6;
  --md-sys-color-on-error-container: #c32220;
}

.dark-medium-contrast {
  --md-sys-color-primary-palette-key-color: #558332;
  --md-sys-color-secondary-palette-key-color: #5f8045;
  --md-sys-color-tertiary-palette-key-color: #2c8479;
  --md-sys-color-neutral-palette-key-color: #6c7a77;
  --md-sys-color-neutral-variant-palette-key-color: #627c77;
  --md-sys-color-error-palette-key-color: #de3730;
  --md-sys-color-background: #091614;
  --md-sys-color-on-background: #d7e6e2;
  --md-sys-color-surface: #091614;
  --md-sys-color-surface-dim: #091614;
  --md-sys-color-surface-bright: #3a4744;
  --md-sys-color-surface-container-lowest: #010908;
  --md-sys-color-surface-container-low: #13201e;
  --md-sys-color-surface-container: #1e2a28;
  --md-sys-color-surface-container-high: #283533;
  --md-sys-color-surface-container-highest: #33403e;
  --md-sys-color-on-surface: #ffffff;
  --md-sys-color-surface-variant: #334b47;
  --md-sys-color-on-surface-variant: #c6e2dc;
  --md-sys-color-inverse-surface: #d7e6e2;
  --md-sys-color-inverse-on-surface: #202c2a;
  --md-sys-color-outline: #9cb7b2;
  --md-sys-color-outline-variant: #7b9690;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #a2d579;
  --md-sys-color-primary: #b7ec8d;
  --md-sys-color-primary-dim: #c8fe9c;
  --md-sys-color-on-primary: #122c00;
  --md-sys-color-primary-container: #edffd8;
  --md-sys-color-on-primary-container: #345f10;
  --md-sys-color-inverse-primary: #275202;
  --md-sys-color-primary-fixed: #bdf292;
  --md-sys-color-primary-fixed-dim: #a2d579;
  --md-sys-color-on-primary-fixed: #061500;
  --md-sys-color-on-primary-fixed-variant: #1c3e00;
  --md-sys-color-secondary: #c2e8a2;
  --md-sys-color-secondary-dim: #c8eea8;
  --md-sys-color-on-secondary: #122c00;
  --md-sys-color-secondary-container: #edffd8;
  --md-sys-color-on-secondary-container: #3e5d26;
  --md-sys-color-secondary-fixed: #c8eea8;
  --md-sys-color-secondary-fixed-dim: #add28e;
  --md-sys-color-on-secondary-fixed: #061500;
  --md-sys-color-on-secondary-fixed-variant: #203d09;
  --md-sys-color-tertiary: #98ecde;
  --md-sys-color-tertiary-dim: #a6fbed;
  --md-sys-color-on-tertiary: #002b26;
  --md-sys-color-tertiary-container: #e2fff8;
  --md-sys-color-on-tertiary-container: #006056;
  --md-sys-color-tertiary-fixed: #9ef2e4;
  --md-sys-color-tertiary-fixed-dim: #82d5c8;
  --md-sys-color-on-tertiary-fixed: #001512;
  --md-sys-color-on-tertiary-fixed-variant: #003e37;
  --md-sys-color-error: #ffd2cc;
  --md-sys-color-error-dim: #ffc7c0;
  --md-sys-color-on-error: #540003;
  --md-sys-color-error-container: #fff7f6;
  --md-sys-color-on-error-container: #ab0b12;
}

.dark-high-contrast {
  --md-sys-color-primary-palette-key-color: #558332;
  --md-sys-color-secondary-palette-key-color: #5f8045;
  --md-sys-color-tertiary-palette-key-color: #2c8479;
  --md-sys-color-neutral-palette-key-color: #6c7a77;
  --md-sys-color-neutral-variant-palette-key-color: #627c77;
  --md-sys-color-error-palette-key-color: #de3730;
  --md-sys-color-background: #091614;
  --md-sys-color-on-background: #d7e6e2;
  --md-sys-color-surface: #091614;
  --md-sys-color-surface-dim: #091614;
  --md-sys-color-surface-bright: #455350;
  --md-sys-color-surface-container-lowest: #000000;
  --md-sys-color-surface-container-low: #152220;
  --md-sys-color-surface-container: #263330;
  --md-sys-color-surface-container-high: #313e3b;
  --md-sys-color-surface-container-highest: #3c4947;
  --md-sys-color-on-surface: #ffffff;
  --md-sys-color-surface-variant: #334b47;
  --md-sys-color-on-surface-variant: #ffffff;
  --md-sys-color-inverse-surface: #d7e6e2;
  --md-sys-color-inverse-on-surface: #000000;
  --md-sys-color-outline: #daf6f0;
  --md-sys-color-outline-variant: #adc8c2;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #a2d579;
  --md-sys-color-primary: #bdf292;
  --md-sys-color-primary-dim: #fffeff;
  --md-sys-color-on-primary: #000000;
  --md-sys-color-primary-container: #ffffff;
  --md-sys-color-on-primary-container: #1f4400;
  --md-sys-color-inverse-primary: #275202;
  --md-sys-color-primary-fixed: #bdf292;
  --md-sys-color-primary-fixed-dim: #a2d579;
  --md-sys-color-on-primary-fixed: #000000;
  --md-sys-color-on-primary-fixed-variant: #061500;
  --md-sys-color-secondary: #c8eea8;
  --md-sys-color-secondary-dim: #fffeff;
  --md-sys-color-on-secondary: #000000;
  --md-sys-color-secondary-container: #ffffff;
  --md-sys-color-on-secondary-container: #26430f;
  --md-sys-color-secondary-fixed: #c8eea8;
  --md-sys-color-secondary-fixed-dim: #add28e;
  --md-sys-color-on-secondary-fixed: #000000;
  --md-sys-color-on-secondary-fixed-variant: #061500;
  --md-sys-color-tertiary: #9ef2e4;
  --md-sys-color-tertiary-dim: #fefffd;
  --md-sys-color-on-tertiary: #000000;
  --md-sys-color-tertiary-container: #ffffff;
  --md-sys-color-on-tertiary-container: #00443d;
  --md-sys-color-tertiary-fixed: #9ef2e4;
  --md-sys-color-tertiary-fixed-dim: #82d5c8;
  --md-sys-color-on-tertiary-fixed: #000000;
  --md-sys-color-on-tertiary-fixed-variant: #001512;
  --md-sys-color-error: #ffdad6;
  --md-sys-color-error-dim: #fffeff;
  --md-sys-color-on-error: #000000;
  --md-sys-color-error-container: #ffffff;
  --md-sys-color-on-error-container: #7e0007;
}

