.light {
  --md-sys-color-primary-palette-key-color: #697b77;
  --md-sys-color-secondary-palette-key-color: #6f7977;
  --md-sys-color-tertiary-palette-key-color: #627c77;
  --md-sys-color-neutral-palette-key-color: #777776;
  --md-sys-color-neutral-variant-palette-key-color: #777776;
  --md-sys-color-error-palette-key-color: #de3730;
  --md-sys-color-background: #faf9f8;
  --md-sys-color-on-background: #1b1c1b;
  --md-sys-color-surface: #faf9f8;
  --md-sys-color-surface-dim: #dbdad9;
  --md-sys-color-surface-bright: #faf9f8;
  --md-sys-color-surface-container-lowest: #ffffff;
  --md-sys-color-surface-container-low: #f4f3f2;
  --md-sys-color-surface-container: #efeeec;
  --md-sys-color-surface-container-high: #e9e8e7;
  --md-sys-color-surface-container-highest: #e3e2e1;
  --md-sys-color-on-surface: #1b1c1b;
  --md-sys-color-surface-variant: #e3e2e1;
  --md-sys-color-on-surface-variant: #464746;
  --md-sys-color-inverse-surface: #2f3130;
  --md-sys-color-inverse-on-surface: #f2f0ef;
  --md-sys-color-outline: #777776;
  --md-sys-color-outline-variant: #c7c6c5;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #51625e;
  --md-sys-color-primary: #51625e;
  --md-sys-color-primary-dim: #5a6b68;
  --md-sys-color-on-primary: #ffffff;
  --md-sys-color-primary-container: #394a47;
  --md-sys-color-on-primary-container: #a7b9b5;
  --md-sys-color-inverse-primary: #b8cac6;
  --md-sys-color-primary-fixed: #d4e7e2;
  --md-sys-color-primary-fixed-dim: #b8cac6;
  --md-sys-color-on-primary-fixed: #0e1e1c;
  --md-sys-color-on-primary-fixed-variant: #394a47;
  --md-sys-color-secondary: #56605e;
  --md-sys-color-secondary-dim: #606a68;
  --md-sys-color-on-secondary: #ffffff;
  --md-sys-color-secondary-container: #3f4947;
  --md-sys-color-on-secondary-container: #adb7b4;
  --md-sys-color-secondary-fixed: #dae5e1;
  --md-sys-color-secondary-fixed-dim: #bec9c6;
  --md-sys-color-on-secondary-fixed: #141d1c;
  --md-sys-color-on-secondary-fixed-variant: #3f4947;
  --md-sys-color-tertiary: #4a635f;
  --md-sys-color-tertiary-dim: #536d68;
  --md-sys-color-on-tertiary: #ffffff;
  --md-sys-color-tertiary-container: #334b47;
  --md-sys-color-on-tertiary-container: #a0bbb5;
  --md-sys-color-tertiary-fixed: #cce8e2;
  --md-sys-color-tertiary-fixed-dim: #b1ccc6;
  --md-sys-color-on-tertiary-fixed: #05201c;
  --md-sys-color-on-tertiary-fixed-variant: #334b47;
  --md-sys-color-error: #ba1a1a;
  --md-sys-color-error-dim: #ac0c12;
  --md-sys-color-on-error: #ffffff;
  --md-sys-color-error-container: #93000a;
  --md-sys-color-on-error-container: #ff9a8e;
}

.light-medium-contrast {
  --md-sys-color-primary-palette-key-color: #697b77;
  --md-sys-color-secondary-palette-key-color: #6f7977;
  --md-sys-color-tertiary-palette-key-color: #627c77;
  --md-sys-color-neutral-palette-key-color: #777776;
  --md-sys-color-neutral-variant-palette-key-color: #777776;
  --md-sys-color-error-palette-key-color: #de3730;
  --md-sys-color-background: #faf9f8;
  --md-sys-color-on-background: #1b1c1b;
  --md-sys-color-surface: #faf9f8;
  --md-sys-color-surface-dim: #c7c6c5;
  --md-sys-color-surface-bright: #faf9f8;
  --md-sys-color-surface-container-lowest: #ffffff;
  --md-sys-color-surface-container-low: #f4f3f2;
  --md-sys-color-surface-container: #e9e8e7;
  --md-sys-color-surface-container-high: #dddddb;
  --md-sys-color-surface-container-highest: #d2d1d0;
  --md-sys-color-on-surface: #101111;
  --md-sys-color-surface-variant: #e3e2e1;
  --md-sys-color-on-surface-variant: #353636;
  --md-sys-color-inverse-surface: #2f3130;
  --md-sys-color-inverse-on-surface: #f2f0ef;
  --md-sys-color-outline: #525352;
  --md-sys-color-outline-variant: #6d6d6c;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #51625e;
  --md-sys-color-primary: #293936;
  --md-sys-color-primary-dim: #374845;
  --md-sys-color-on-primary: #ffffff;
  --md-sys-color-primary-container: #132421;
  --md-sys-color-on-primary-container: #9db0ab;
  --md-sys-color-inverse-primary: #b8cac6;
  --md-sys-color-primary-fixed: #5f716d;
  --md-sys-color-primary-fixed-dim: #475855;
  --md-sys-color-on-primary-fixed: #ffffff;
  --md-sys-color-on-primary-fixed-variant: #ffffff;
  --md-sys-color-secondary: #2e3836;
  --md-sys-color-secondary-dim: #3d4744;
  --md-sys-color-on-secondary: #ffffff;
  --md-sys-color-secondary-container: #192321;
  --md-sys-color-on-secondary-container: #a4aeab;
  --md-sys-color-secondary-fixed: #656f6d;
  --md-sys-color-secondary-fixed-dim: #4d5755;
  --md-sys-color-on-secondary-fixed: #ffffff;
  --md-sys-color-on-secondary-fixed-variant: #ffffff;
  --md-sys-color-tertiary: #223b37;
  --md-sys-color-tertiary-dim: #304945;
  --md-sys-color-on-tertiary: #ffffff;
  --md-sys-color-tertiary-container: #0b2521;
  --md-sys-color-on-tertiary-container: #96b1ac;
  --md-sys-color-tertiary-fixed: #58726d;
  --md-sys-color-tertiary-fixed-dim: #405a55;
  --md-sys-color-on-tertiary-fixed: #ffffff;
  --md-sys-color-on-tertiary-fixed-variant: #ffffff;
  --md-sys-color-error: #740006;
  --md-sys-color-error-dim: #8f0009;
  --md-sys-color-on-error: #ffffff;
  --md-sys-color-error-container: #4b0002;
  --md-sys-color-on-error-container: #ff8b7e;
}

.light-high-contrast {
  --md-sys-color-primary-palette-key-color: #697b77;
  --md-sys-color-secondary-palette-key-color: #6f7977;
  --md-sys-color-tertiary-palette-key-color: #627c77;
  --md-sys-color-neutral-palette-key-color: #777776;
  --md-sys-color-neutral-variant-palette-key-color: #777776;
  --md-sys-color-error-palette-key-color: #de3730;
  --md-sys-color-background: #faf9f8;
  --md-sys-color-on-background: #1b1c1b;
  --md-sys-color-surface: #faf9f8;
  --md-sys-color-surface-dim: #b9b9b7;
  --md-sys-color-surface-bright: #faf9f8;
  --md-sys-color-surface-container-lowest: #ffffff;
  --md-sys-color-surface-container-low: #f2f0ef;
  --md-sys-color-surface-container: #e3e2e1;
  --md-sys-color-surface-container-high: #d5d4d3;
  --md-sys-color-surface-container-highest: #c7c6c5;
  --md-sys-color-on-surface: #000000;
  --md-sys-color-surface-variant: #e3e2e1;
  --md-sys-color-on-surface-variant: #000000;
  --md-sys-color-inverse-surface: #2f3130;
  --md-sys-color-inverse-on-surface: #ffffff;
  --md-sys-color-outline: #2b2c2c;
  --md-sys-color-outline-variant: #484949;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #51625e;
  --md-sys-color-primary: #1f2f2c;
  --md-sys-color-primary-dim: #122220;
  --md-sys-color-on-primary: #ffffff;
  --md-sys-color-primary-container: #0a1a18;
  --md-sys-color-on-primary-container: #bed0cc;
  --md-sys-color-inverse-primary: #b8cac6;
  --md-sys-color-primary-fixed: #3c4c49;
  --md-sys-color-primary-fixed-dim: #253633;
  --md-sys-color-on-primary-fixed: #ffffff;
  --md-sys-color-on-primary-fixed-variant: #ffffff;
  --md-sys-color-secondary: #252e2c;
  --md-sys-color-secondary-dim: #18211f;
  --md-sys-color-on-secondary: #ffffff;
  --md-sys-color-secondary-container: #101918;
  --md-sys-color-on-secondary-container: #c4cfcb;
  --md-sys-color-secondary-fixed: #414b49;
  --md-sys-color-secondary-fixed-dim: #2b3533;
  --md-sys-color-on-secondary-fixed: #ffffff;
  --md-sys-color-on-secondary-fixed-variant: #ffffff;
  --md-sys-color-tertiary: #17302d;
  --md-sys-color-tertiary-dim: #092320;
  --md-sys-color-on-tertiary: #ffffff;
  --md-sys-color-tertiary-container: #021c18;
  --md-sys-color-on-tertiary-container: #b6d2cc;
  --md-sys-color-tertiary-fixed: #354e4a;
  --md-sys-color-tertiary-fixed-dim: #1e3733;
  --md-sys-color-on-tertiary-fixed: #ffffff;
  --md-sys-color-on-tertiary-fixed-variant: #ffffff;
  --md-sys-color-error: #600004;
  --md-sys-color-error-dim: #480002;
  --md-sys-color-on-error: #ffffff;
  --md-sys-color-error-container: #390001;
  --md-sys-color-on-error-container: #ffbcb4;
}

.dark {
  --md-sys-color-primary-palette-key-color: #697b77;
  --md-sys-color-secondary-palette-key-color: #6f7977;
  --md-sys-color-tertiary-palette-key-color: #627c77;
  --md-sys-color-neutral-palette-key-color: #777776;
  --md-sys-color-neutral-variant-palette-key-color: #777776;
  --md-sys-color-error-palette-key-color: #de3730;
  --md-sys-color-background: #121413;
  --md-sys-color-on-background: #e3e2e1;
  --md-sys-color-surface: #121413;
  --md-sys-color-surface-dim: #121413;
  --md-sys-color-surface-bright: #383939;
  --md-sys-color-surface-container-lowest: #0d0e0e;
  --md-sys-color-surface-container-low: #1b1c1b;
  --md-sys-color-surface-container: #1f201f;
  --md-sys-color-surface-container-high: #292a2a;
  --md-sys-color-surface-container-highest: #343534;
  --md-sys-color-on-surface: #e3e2e1;
  --md-sys-color-surface-variant: #464746;
  --md-sys-color-on-surface-variant: #c7c6c5;
  --md-sys-color-inverse-surface: #e3e2e1;
  --md-sys-color-inverse-on-surface: #2f3130;
  --md-sys-color-outline: #919190;
  --md-sys-color-outline-variant: #464746;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #b8cac6;
  --md-sys-color-primary: #b8cac6;
  --md-sys-color-primary-dim: #c6d8d4;
  --md-sys-color-on-primary: #233431;
  --md-sys-color-primary-container: #d4e7e2;
  --md-sys-color-on-primary-container: #576864;
  --md-sys-color-inverse-primary: #51625e;
  --md-sys-color-primary-fixed: #d4e7e2;
  --md-sys-color-primary-fixed-dim: #b8cac6;
  --md-sys-color-on-primary-fixed: #0e1e1c;
  --md-sys-color-on-primary-fixed-variant: #394a47;
  --md-sys-color-secondary: #bec9c6;
  --md-sys-color-secondary-dim: #ccd7d3;
  --md-sys-color-on-secondary: #293230;
  --md-sys-color-secondary-container: #dae5e1;
  --md-sys-color-on-secondary-container: #5c6664;
  --md-sys-color-secondary-fixed: #dae5e1;
  --md-sys-color-secondary-fixed-dim: #bec9c6;
  --md-sys-color-on-secondary-fixed: #141d1c;
  --md-sys-color-on-secondary-fixed-variant: #3f4947;
  --md-sys-color-tertiary: #b1ccc6;
  --md-sys-color-tertiary-dim: #ddfaf3;
  --md-sys-color-on-tertiary: #1c3531;
  --md-sys-color-tertiary-container: #cce8e2;
  --md-sys-color-on-tertiary-container: #506965;
  --md-sys-color-tertiary-fixed: #cce8e2;
  --md-sys-color-tertiary-fixed-dim: #b1ccc6;
  --md-sys-color-on-tertiary-fixed: #05201c;
  --md-sys-color-on-tertiary-fixed-variant: #334b47;
  --md-sys-color-error: #ffb4ab;
  --md-sys-color-error-dim: #ffc7c0;
  --md-sys-color-on-error: #690005;
  --md-sys-color-error-container: #ffdad6;
  --md-sys-color-on-error-container: #c32220;
}

.dark-medium-contrast {
  --md-sys-color-primary-palette-key-color: #697b77;
  --md-sys-color-secondary-palette-key-color: #6f7977;
  --md-sys-color-tertiary-palette-key-color: #627c77;
  --md-sys-color-neutral-palette-key-color: #777776;
  --md-sys-color-neutral-variant-palette-key-color: #777776;
  --md-sys-color-error-palette-key-color: #de3730;
  --md-sys-color-background: #121413;
  --md-sys-color-on-background: #e3e2e1;
  --md-sys-color-surface: #121413;
  --md-sys-color-surface-dim: #121413;
  --md-sys-color-surface-bright: #444544;
  --md-sys-color-surface-container-lowest: #060807;
  --md-sys-color-surface-container-low: #1d1e1d;
  --md-sys-color-surface-container: #272828;
  --md-sys-color-surface-container-high: #323332;
  --md-sys-color-surface-container-highest: #3d3e3d;
  --md-sys-color-on-surface: #ffffff;
  --md-sys-color-surface-variant: #464746;
  --md-sys-color-on-surface-variant: #dddcdb;
  --md-sys-color-inverse-surface: #e3e2e1;
  --md-sys-color-inverse-on-surface: #292a2a;
  --md-sys-color-outline: #b2b2b1;
  --md-sys-color-outline-variant: #90908f;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #b8cac6;
  --md-sys-color-primary: #cee0dc;
  --md-sys-color-primary-dim: #c6d8d4;
  --md-sys-color-on-primary: #182926;
  --md-sys-color-primary-container: #eafdf8;
  --md-sys-color-on-primary-container: #475855;
  --md-sys-color-inverse-primary: #3a4b48;
  --md-sys-color-primary-fixed: #d4e7e2;
  --md-sys-color-primary-fixed-dim: #b8cac6;
  --md-sys-color-on-primary-fixed: #041411;
  --md-sys-color-on-primary-fixed-variant: #293936;
  --md-sys-color-secondary: #d4dfdb;
  --md-sys-color-secondary-dim: #ccd7d3;
  --md-sys-color-on-secondary: #1e2726;
  --md-sys-color-secondary-container: #f1fbf8;
  --md-sys-color-on-secondary-container: #4d5754;
  --md-sys-color-secondary-fixed: #dae5e1;
  --md-sys-color-secondary-fixed-dim: #bec9c6;
  --md-sys-color-on-secondary-fixed: #0a1311;
  --md-sys-color-on-secondary-fixed-variant: #2e3836;
  --md-sys-color-tertiary: #c6e2dc;
  --md-sys-color-tertiary-dim: #ddfaf3;
  --md-sys-color-on-tertiary: #112a26;
  --md-sys-color-tertiary-container: #e3fff8;
  --md-sys-color-on-tertiary-container: #405a55;
  --md-sys-color-tertiary-fixed: #cce8e2;
  --md-sys-color-tertiary-fixed-dim: #b1ccc6;
  --md-sys-color-on-tertiary-fixed: #001512;
  --md-sys-color-on-tertiary-fixed-variant: #223b37;
  --md-sys-color-error: #ffd2cc;
  --md-sys-color-error-dim: #ffc7c0;
  --md-sys-color-on-error: #540003;
  --md-sys-color-error-container: #fff7f6;
  --md-sys-color-on-error-container: #ab0b12;
}

.dark-high-contrast {
  --md-sys-color-primary-palette-key-color: #697b77;
  --md-sys-color-secondary-palette-key-color: #6f7977;
  --md-sys-color-tertiary-palette-key-color: #627c77;
  --md-sys-color-neutral-palette-key-color: #777776;
  --md-sys-color-neutral-variant-palette-key-color: #777776;
  --md-sys-color-error-palette-key-color: #de3730;
  --md-sys-color-background: #121413;
  --md-sys-color-on-background: #e3e2e1;
  --md-sys-color-surface: #121413;
  --md-sys-color-surface-dim: #121413;
  --md-sys-color-surface-bright: #4f504f;
  --md-sys-color-surface-container-lowest: #000000;
  --md-sys-color-surface-container-low: #1f201f;
  --md-sys-color-surface-container: #2f3130;
  --md-sys-color-surface-container-high: #3b3c3b;
  --md-sys-color-surface-container-highest: #464746;
  --md-sys-color-on-surface: #ffffff;
  --md-sys-color-surface-variant: #464746;
  --md-sys-color-on-surface-variant: #ffffff;
  --md-sys-color-inverse-surface: #e3e2e1;
  --md-sys-color-inverse-on-surface: #000000;
  --md-sys-color-outline: #f1f0ee;
  --md-sys-color-outline-variant: #c3c2c1;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #b8cac6;
  --md-sys-color-primary: #d4e7e2;
  --md-sys-color-primary-dim: #fefffd;
  --md-sys-color-on-primary: #000000;
  --md-sys-color-primary-container: #ffffff;
  --md-sys-color-on-primary-container: #2e3f3c;
  --md-sys-color-inverse-primary: #3a4b48;
  --md-sys-color-primary-fixed: #d4e7e2;
  --md-sys-color-primary-fixed-dim: #b8cac6;
  --md-sys-color-on-primary-fixed: #000000;
  --md-sys-color-on-primary-fixed-variant: #041411;
  --md-sys-color-secondary: #dae5e1;
  --md-sys-color-secondary-dim: #fefffd;
  --md-sys-color-on-secondary: #000000;
  --md-sys-color-secondary-container: #ffffff;
  --md-sys-color-on-secondary-container: #343d3b;
  --md-sys-color-secondary-fixed: #dae5e1;
  --md-sys-color-secondary-fixed-dim: #bec9c6;
  --md-sys-color-on-secondary-fixed: #000000;
  --md-sys-color-on-secondary-fixed-variant: #0a1311;
  --md-sys-color-tertiary: #cce8e2;
  --md-sys-color-tertiary-dim: #fefffd;
  --md-sys-color-on-tertiary: #000000;
  --md-sys-color-tertiary-container: #ffffff;
  --md-sys-color-on-tertiary-container: #27403c;
  --md-sys-color-tertiary-fixed: #cce8e2;
  --md-sys-color-tertiary-fixed-dim: #b1ccc6;
  --md-sys-color-on-tertiary-fixed: #000000;
  --md-sys-color-on-tertiary-fixed-variant: #001512;
  --md-sys-color-error: #ffdad6;
  --md-sys-color-error-dim: #fffeff;
  --md-sys-color-on-error: #000000;
  --md-sys-color-error-container: #ffffff;
  --md-sys-color-on-error-container: #7e0007;
}

