.light {
  --md-sys-color-primary-palette-key-color: #697b77;
  --md-sys-color-secondary-palette-key-color: #717876;
  --md-sys-color-tertiary-palette-key-color: #538251;
  --md-sys-color-neutral-palette-key-color: #717876;
  --md-sys-color-neutral-variant-palette-key-color: #677b77;
  --md-sys-color-error-palette-key-color: #b25f5b;
  --md-sys-color-background: #000000;
  --md-sys-color-on-background: #ffffff;
  --md-sys-color-surface: #000000;
  --md-sys-color-surface-dim: #090f0e;
  --md-sys-color-surface-bright: #19302d;
  --md-sys-color-surface-container-lowest: #000000;
  --md-sys-color-surface-container-low: #212726;
  --md-sys-color-surface-container: #2b3230;
  --md-sys-color-surface-container-high: #363d3b;
  --md-sys-color-surface-container-highest: #162926;
  --md-sys-color-on-surface: #e3e9e7;
  --md-sys-color-surface-variant: #162926;
  --md-sys-color-on-surface-variant: #c9cfcd;
  --md-sys-color-inverse-surface: #f4fbf8;
  --md-sys-color-inverse-on-surface: #505655;
  --md-sys-color-outline: #a0a7a5;
  --md-sys-color-outline-variant: #808785;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #d4e7e2;
  --md-sys-color-primary: #d4e7e2;
  --md-sys-color-primary-dim: #c6d8d4;
  --md-sys-color-on-primary: #32433f;
  --md-sys-color-primary-container: #394a47;
  --md-sys-color-on-primary-container: #d1e4df;
  --md-sys-color-inverse-primary: #475855;
  --md-sys-color-primary-fixed: #394a47;
  --md-sys-color-primary-fixed-dim: #2e3f3c;
  --md-sys-color-on-primary-fixed: #bfd2cd;
  --md-sys-color-on-primary-fixed-variant: #97aaa5;
  --md-sys-color-secondary: #dde4e1;
  --md-sys-color-secondary-dim: #cfd6d3;
  --md-sys-color-on-secondary: #3a413f;
  --md-sys-color-secondary-container: #414846;
  --md-sys-color-on-secondary-container: #dbe1df;
  --md-sys-color-secondary-fixed: #414846;
  --md-sys-color-secondary-fixed-dim: #363d3b;
  --md-sys-color-on-secondary-fixed: #c9cfcd;
  --md-sys-color-on-secondary-fixed-variant: #a0a7a5;
  --md-sys-color-tertiary: #c9ffc2;
  --md-sys-color-tertiary-dim: #bbf0b5;
  --md-sys-color-on-tertiary: #245126;
  --md-sys-color-tertiary-container: #a0d49b;
  --md-sys-color-on-tertiary-container: #103f15;
  --md-sys-color-tertiary-fixed: #a0d49b;
  --md-sys-color-tertiary-fixed-dim: #93c58e;
  --md-sys-color-on-tertiary-fixed: #03340c;
  --md-sys-color-on-tertiary-fixed-variant: #255327;
  --md-sys-color-error: #ffbeb9;
  --md-sys-color-error-dim: #ea8c86;
  --md-sys-color-on-error: #3c0507;
  --md-sys-color-error-container: #77302e;
  --md-sys-color-on-error-container: #ffd7d4;
}

.light-medium-contrast {
  --md-sys-color-primary-palette-key-color: #697b77;
  --md-sys-color-secondary-palette-key-color: #717876;
  --md-sys-color-tertiary-palette-key-color: #538251;
  --md-sys-color-neutral-palette-key-color: #717876;
  --md-sys-color-neutral-variant-palette-key-color: #677b77;
  --md-sys-color-error-palette-key-color: #b25f5b;
  --md-sys-color-background: #000000;
  --md-sys-color-on-background: #ffffff;
  --md-sys-color-surface: #000000;
  --md-sys-color-surface-dim: #090f0e;
  --md-sys-color-surface-bright: #19302d;
  --md-sys-color-surface-container-lowest: #000000;
  --md-sys-color-surface-container-low: #212726;
  --md-sys-color-surface-container: #2b3230;
  --md-sys-color-surface-container-high: #363d3b;
  --md-sys-color-surface-container-highest: #162926;
  --md-sys-color-on-surface: #fefffd;
  --md-sys-color-surface-variant: #162926;
  --md-sys-color-on-surface-variant: #fefffd;
  --md-sys-color-inverse-surface: #f4fbf8;
  --md-sys-color-inverse-on-surface: #333938;
  --md-sys-color-outline: #c9cfcd;
  --md-sys-color-outline-variant: #a0a7a5;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #fefffd;
  --md-sys-color-primary: #fefffd;
  --md-sys-color-primary-dim: #c6d8d4;
  --md-sys-color-on-primary: #122220;
  --md-sys-color-primary-container: #394a47;
  --md-sys-color-on-primary-container: #ffffff;
  --md-sys-color-inverse-primary: #2b3b38;
  --md-sys-color-primary-fixed: #394a47;
  --md-sys-color-primary-fixed-dim: #2e3f3c;
  --md-sys-color-on-primary-fixed: #fefffd;
  --md-sys-color-on-primary-fixed-variant: #bfd2cd;
  --md-sys-color-secondary: #fefffd;
  --md-sys-color-secondary-dim: #cfd6d3;
  --md-sys-color-on-secondary: #1a211f;
  --md-sys-color-secondary-container: #414846;
  --md-sys-color-on-secondary-container: #ffffff;
  --md-sys-color-secondary-fixed: #414846;
  --md-sys-color-secondary-fixed-dim: #363d3b;
  --md-sys-color-on-secondary-fixed: #fefffd;
  --md-sys-color-on-secondary-fixed-variant: #c9cfcd;
  --md-sys-color-tertiary: #fffff9;
  --md-sys-color-tertiary-dim: #c9fec2;
  --md-sys-color-on-tertiary: #0c3b12;
  --md-sys-color-tertiary-container: #ade1a7;
  --md-sys-color-on-tertiary-container: #002605;
  --md-sys-color-tertiary-fixed: #a0d49b;
  --md-sys-color-tertiary-fixed-dim: #93c58e;
  --md-sys-color-on-tertiary-fixed: #000000;
  --md-sys-color-on-tertiary-fixed-variant: #03340c;
  --md-sys-color-error: #fffeff;
  --md-sys-color-error-dim: #ffbeb9;
  --md-sys-color-on-error: #3a0406;
  --md-sys-color-error-container: #77302e;
  --md-sys-color-on-error-container: #ffffff;
}

.light-high-contrast {
  --md-sys-color-primary-palette-key-color: #697b77;
  --md-sys-color-secondary-palette-key-color: #717876;
  --md-sys-color-tertiary-palette-key-color: #538251;
  --md-sys-color-neutral-palette-key-color: #717876;
  --md-sys-color-neutral-variant-palette-key-color: #677b77;
  --md-sys-color-error-palette-key-color: #b25f5b;
  --md-sys-color-background: #000000;
  --md-sys-color-on-background: #ffffff;
  --md-sys-color-surface: #000000;
  --md-sys-color-surface-dim: #090f0e;
  --md-sys-color-surface-bright: #19302d;
  --md-sys-color-surface-container-lowest: #000000;
  --md-sys-color-surface-container-low: #212726;
  --md-sys-color-surface-container: #2b3230;
  --md-sys-color-surface-container-high: #363d3b;
  --md-sys-color-surface-container-highest: #162926;
  --md-sys-color-on-surface: #ffffff;
  --md-sys-color-surface-variant: #162926;
  --md-sys-color-on-surface-variant: #ffffff;
  --md-sys-color-inverse-surface: #f4fbf8;
  --md-sys-color-inverse-on-surface: #000000;
  --md-sys-color-outline: #fefffd;
  --md-sys-color-outline-variant: #c9cfcd;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #ffffff;
  --md-sys-color-primary: #ffffff;
  --md-sys-color-primary-dim: #fefffd;
  --md-sys-color-on-primary: #000000;
  --md-sys-color-primary-container: #394a47;
  --md-sys-color-on-primary-container: #ffffff;
  --md-sys-color-inverse-primary: #000000;
  --md-sys-color-primary-fixed: #394a47;
  --md-sys-color-primary-fixed-dim: #2e3f3c;
  --md-sys-color-on-primary-fixed: #ffffff;
  --md-sys-color-on-primary-fixed-variant: #fefffd;
  --md-sys-color-secondary: #ffffff;
  --md-sys-color-secondary-dim: #fefffd;
  --md-sys-color-on-secondary: #000000;
  --md-sys-color-secondary-container: #414846;
  --md-sys-color-on-secondary-container: #ffffff;
  --md-sys-color-secondary-fixed: #414846;
  --md-sys-color-secondary-fixed-dim: #363d3b;
  --md-sys-color-on-secondary-fixed: #ffffff;
  --md-sys-color-on-secondary-fixed-variant: #fefffd;
  --md-sys-color-tertiary: #ffffff;
  --md-sys-color-tertiary-dim: #fffff9;
  --md-sys-color-on-tertiary: #000000;
  --md-sys-color-tertiary-container: #bbf0b4;
  --md-sys-color-on-tertiary-container: #000000;
  --md-sys-color-tertiary-fixed: #a0d49b;
  --md-sys-color-tertiary-fixed-dim: #93c58e;
  --md-sys-color-on-tertiary-fixed: #000000;
  --md-sys-color-on-tertiary-fixed-variant: #000000;
  --md-sys-color-error: #ffffff;
  --md-sys-color-error-dim: #fffeff;
  --md-sys-color-on-error: #000000;
  --md-sys-color-error-container: #77302e;
  --md-sys-color-on-error-container: #ffffff;
}

.dark {
  --md-sys-color-primary-palette-key-color: #697b77;
  --md-sys-color-secondary-palette-key-color: #717876;
  --md-sys-color-tertiary-palette-key-color: #538251;
  --md-sys-color-neutral-palette-key-color: #717876;
  --md-sys-color-neutral-variant-palette-key-color: #677b77;
  --md-sys-color-error-palette-key-color: #b25f5b;
  --md-sys-color-background: #000000;
  --md-sys-color-on-background: #ffffff;
  --md-sys-color-surface: #000000;
  --md-sys-color-surface-dim: #090f0e;
  --md-sys-color-surface-bright: #19302d;
  --md-sys-color-surface-container-lowest: #000000;
  --md-sys-color-surface-container-low: #212726;
  --md-sys-color-surface-container: #2b3230;
  --md-sys-color-surface-container-high: #363d3b;
  --md-sys-color-surface-container-highest: #162926;
  --md-sys-color-on-surface: #e3e9e7;
  --md-sys-color-surface-variant: #162926;
  --md-sys-color-on-surface-variant: #c9cfcd;
  --md-sys-color-inverse-surface: #f4fbf8;
  --md-sys-color-inverse-on-surface: #505655;
  --md-sys-color-outline: #a0a7a5;
  --md-sys-color-outline-variant: #808785;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #d4e7e2;
  --md-sys-color-primary: #d4e7e2;
  --md-sys-color-primary-dim: #c6d8d4;
  --md-sys-color-on-primary: #32433f;
  --md-sys-color-primary-container: #394a47;
  --md-sys-color-on-primary-container: #d1e4df;
  --md-sys-color-inverse-primary: #475855;
  --md-sys-color-primary-fixed: #394a47;
  --md-sys-color-primary-fixed-dim: #2e3f3c;
  --md-sys-color-on-primary-fixed: #bfd2cd;
  --md-sys-color-on-primary-fixed-variant: #97aaa5;
  --md-sys-color-secondary: #dde4e1;
  --md-sys-color-secondary-dim: #cfd6d3;
  --md-sys-color-on-secondary: #3a413f;
  --md-sys-color-secondary-container: #414846;
  --md-sys-color-on-secondary-container: #dbe1df;
  --md-sys-color-secondary-fixed: #414846;
  --md-sys-color-secondary-fixed-dim: #363d3b;
  --md-sys-color-on-secondary-fixed: #c9cfcd;
  --md-sys-color-on-secondary-fixed-variant: #a0a7a5;
  --md-sys-color-tertiary: #c9ffc2;
  --md-sys-color-tertiary-dim: #bbf0b5;
  --md-sys-color-on-tertiary: #245126;
  --md-sys-color-tertiary-container: #a0d49b;
  --md-sys-color-on-tertiary-container: #103f15;
  --md-sys-color-tertiary-fixed: #a0d49b;
  --md-sys-color-tertiary-fixed-dim: #93c58e;
  --md-sys-color-on-tertiary-fixed: #03340c;
  --md-sys-color-on-tertiary-fixed-variant: #255327;
  --md-sys-color-error: #ffbeb9;
  --md-sys-color-error-dim: #ea8c86;
  --md-sys-color-on-error: #3c0507;
  --md-sys-color-error-container: #77302e;
  --md-sys-color-on-error-container: #ffd7d4;
}

.dark-medium-contrast {
  --md-sys-color-primary-palette-key-color: #697b77;
  --md-sys-color-secondary-palette-key-color: #717876;
  --md-sys-color-tertiary-palette-key-color: #538251;
  --md-sys-color-neutral-palette-key-color: #717876;
  --md-sys-color-neutral-variant-palette-key-color: #677b77;
  --md-sys-color-error-palette-key-color: #b25f5b;
  --md-sys-color-background: #000000;
  --md-sys-color-on-background: #ffffff;
  --md-sys-color-surface: #000000;
  --md-sys-color-surface-dim: #090f0e;
  --md-sys-color-surface-bright: #19302d;
  --md-sys-color-surface-container-lowest: #000000;
  --md-sys-color-surface-container-low: #212726;
  --md-sys-color-surface-container: #2b3230;
  --md-sys-color-surface-container-high: #363d3b;
  --md-sys-color-surface-container-highest: #162926;
  --md-sys-color-on-surface: #fefffd;
  --md-sys-color-surface-variant: #162926;
  --md-sys-color-on-surface-variant: #fefffd;
  --md-sys-color-inverse-surface: #f4fbf8;
  --md-sys-color-inverse-on-surface: #333938;
  --md-sys-color-outline: #c9cfcd;
  --md-sys-color-outline-variant: #a0a7a5;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #fefffd;
  --md-sys-color-primary: #fefffd;
  --md-sys-color-primary-dim: #c6d8d4;
  --md-sys-color-on-primary: #122220;
  --md-sys-color-primary-container: #394a47;
  --md-sys-color-on-primary-container: #ffffff;
  --md-sys-color-inverse-primary: #2b3b38;
  --md-sys-color-primary-fixed: #394a47;
  --md-sys-color-primary-fixed-dim: #2e3f3c;
  --md-sys-color-on-primary-fixed: #fefffd;
  --md-sys-color-on-primary-fixed-variant: #bfd2cd;
  --md-sys-color-secondary: #fefffd;
  --md-sys-color-secondary-dim: #cfd6d3;
  --md-sys-color-on-secondary: #1a211f;
  --md-sys-color-secondary-container: #414846;
  --md-sys-color-on-secondary-container: #ffffff;
  --md-sys-color-secondary-fixed: #414846;
  --md-sys-color-secondary-fixed-dim: #363d3b;
  --md-sys-color-on-secondary-fixed: #fefffd;
  --md-sys-color-on-secondary-fixed-variant: #c9cfcd;
  --md-sys-color-tertiary: #fffff9;
  --md-sys-color-tertiary-dim: #c9fec2;
  --md-sys-color-on-tertiary: #0c3b12;
  --md-sys-color-tertiary-container: #ade1a7;
  --md-sys-color-on-tertiary-container: #002605;
  --md-sys-color-tertiary-fixed: #a0d49b;
  --md-sys-color-tertiary-fixed-dim: #93c58e;
  --md-sys-color-on-tertiary-fixed: #000000;
  --md-sys-color-on-tertiary-fixed-variant: #03340c;
  --md-sys-color-error: #fffeff;
  --md-sys-color-error-dim: #ffbeb9;
  --md-sys-color-on-error: #3a0406;
  --md-sys-color-error-container: #77302e;
  --md-sys-color-on-error-container: #ffffff;
}

.dark-high-contrast {
  --md-sys-color-primary-palette-key-color: #697b77;
  --md-sys-color-secondary-palette-key-color: #717876;
  --md-sys-color-tertiary-palette-key-color: #538251;
  --md-sys-color-neutral-palette-key-color: #717876;
  --md-sys-color-neutral-variant-palette-key-color: #677b77;
  --md-sys-color-error-palette-key-color: #b25f5b;
  --md-sys-color-background: #000000;
  --md-sys-color-on-background: #ffffff;
  --md-sys-color-surface: #000000;
  --md-sys-color-surface-dim: #090f0e;
  --md-sys-color-surface-bright: #19302d;
  --md-sys-color-surface-container-lowest: #000000;
  --md-sys-color-surface-container-low: #212726;
  --md-sys-color-surface-container: #2b3230;
  --md-sys-color-surface-container-high: #363d3b;
  --md-sys-color-surface-container-highest: #162926;
  --md-sys-color-on-surface: #ffffff;
  --md-sys-color-surface-variant: #162926;
  --md-sys-color-on-surface-variant: #ffffff;
  --md-sys-color-inverse-surface: #f4fbf8;
  --md-sys-color-inverse-on-surface: #000000;
  --md-sys-color-outline: #fefffd;
  --md-sys-color-outline-variant: #c9cfcd;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #ffffff;
  --md-sys-color-primary: #ffffff;
  --md-sys-color-primary-dim: #fefffd;
  --md-sys-color-on-primary: #000000;
  --md-sys-color-primary-container: #394a47;
  --md-sys-color-on-primary-container: #ffffff;
  --md-sys-color-inverse-primary: #000000;
  --md-sys-color-primary-fixed: #394a47;
  --md-sys-color-primary-fixed-dim: #2e3f3c;
  --md-sys-color-on-primary-fixed: #ffffff;
  --md-sys-color-on-primary-fixed-variant: #fefffd;
  --md-sys-color-secondary: #ffffff;
  --md-sys-color-secondary-dim: #fefffd;
  --md-sys-color-on-secondary: #000000;
  --md-sys-color-secondary-container: #414846;
  --md-sys-color-on-secondary-container: #ffffff;
  --md-sys-color-secondary-fixed: #414846;
  --md-sys-color-secondary-fixed-dim: #363d3b;
  --md-sys-color-on-secondary-fixed: #ffffff;
  --md-sys-color-on-secondary-fixed-variant: #fefffd;
  --md-sys-color-tertiary: #ffffff;
  --md-sys-color-tertiary-dim: #fffff9;
  --md-sys-color-on-tertiary: #000000;
  --md-sys-color-tertiary-container: #bbf0b4;
  --md-sys-color-on-tertiary-container: #000000;
  --md-sys-color-tertiary-fixed: #a0d49b;
  --md-sys-color-tertiary-fixed-dim: #93c58e;
  --md-sys-color-on-tertiary-fixed: #000000;
  --md-sys-color-on-tertiary-fixed-variant: #000000;
  --md-sys-color-error: #ffffff;
  --md-sys-color-error-dim: #fffeff;
  --md-sys-color-on-error: #000000;
  --md-sys-color-error-container: #77302e;
  --md-sys-color-on-error-container: #ffffff;
}

