.light {
  --md-sys-color-primary-palette-key-color: #6f7977;
  --md-sys-color-secondary-palette-key-color: #747876;
  --md-sys-color-tertiary-palette-key-color: #667d63;
  --md-sys-color-neutral-palette-key-color: #777776;
  --md-sys-color-neutral-variant-palette-key-color: #757776;
  --md-sys-color-error-palette-key-color: #be5753;
  --md-sys-color-background: #fbf9f8;
  --md-sys-color-on-background: #303332;
  --md-sys-color-surface: #fbf9f8;
  --md-sys-color-surface-dim: #d9dad9;
  --md-sys-color-surface-bright: #f8faf8;
  --md-sys-color-surface-container-lowest: #ffffff;
  --md-sys-color-surface-container-low: #f5f3f2;
  --md-sys-color-surface-container: #eeeeec;
  --md-sys-color-surface-container-high: #e8e8e7;
  --md-sys-color-surface-container-highest: #e2e3e1;
  --md-sys-color-on-surface: #303332;
  --md-sys-color-surface-variant: #e2e3e1;
  --md-sys-color-on-surface-variant: #5d5f5e;
  --md-sys-color-inverse-surface: #0e0e0e;
  --md-sys-color-inverse-on-surface: #9e9d9c;
  --md-sys-color-outline: #797b7a;
  --md-sys-color-outline-variant: #b1b2b1;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #56605e;
  --md-sys-color-primary: #56605e;
  --md-sys-color-primary-dim: #4b5452;
  --md-sys-color-on-primary: #f0faf7;
  --md-sys-color-primary-container: #dae5e1;
  --md-sys-color-on-primary-container: #4a5451;
  --md-sys-color-inverse-primary: #f4fffb;
  --md-sys-color-primary-fixed: #dae5e1;
  --md-sys-color-primary-fixed-dim: #ccd7d3;
  --md-sys-color-on-primary-fixed: #38413f;
  --md-sys-color-on-primary-fixed-variant: #545e5b;
  --md-sys-color-secondary: #5c605e;
  --md-sys-color-secondary-dim: #505453;
  --md-sys-color-on-secondary: #f7f9f7;
  --md-sys-color-secondary-container: #e0e3e1;
  --md-sys-color-on-secondary-container: #4f5251;
  --md-sys-color-secondary-fixed: #e0e3e1;
  --md-sys-color-secondary-fixed-dim: #d2d5d3;
  --md-sys-color-on-secondary-fixed: #3c403f;
  --md-sys-color-on-secondary-fixed-variant: #595c5b;
  --md-sys-color-tertiary: #4f654c;
  --md-sys-color-tertiary-dim: #435940;
  --md-sys-color-on-tertiary: #eaffe3;
  --md-sys-color-tertiary-container: #e1fbda;
  --md-sys-color-on-tertiary-container: #4c6149;
  --md-sys-color-tertiary-fixed: #e1fbda;
  --md-sys-color-tertiary-fixed-dim: #d3eccd;
  --md-sys-color-on-tertiary-fixed: #3a4f37;
  --md-sys-color-on-tertiary-fixed-variant: #566c52;
  --md-sys-color-error: #9f403d;
  --md-sys-color-error-dim: #4e0309;
  --md-sys-color-on-error: #fff7f6;
  --md-sys-color-error-container: #fe8983;
  --md-sys-color-on-error-container: #752121;
}

.light-medium-contrast {
  --md-sys-color-primary-palette-key-color: #6f7977;
  --md-sys-color-secondary-palette-key-color: #747876;
  --md-sys-color-tertiary-palette-key-color: #667d63;
  --md-sys-color-neutral-palette-key-color: #777776;
  --md-sys-color-neutral-variant-palette-key-color: #757776;
  --md-sys-color-error-palette-key-color: #be5753;
  --md-sys-color-background: #fbf9f8;
  --md-sys-color-on-background: #222424;
  --md-sys-color-surface: #fbf9f8;
  --md-sys-color-surface-dim: #d9dad9;
  --md-sys-color-surface-bright: #f8faf8;
  --md-sys-color-surface-container-lowest: #ffffff;
  --md-sys-color-surface-container-low: #f5f3f2;
  --md-sys-color-surface-container: #eeeeec;
  --md-sys-color-surface-container-high: #e8e8e7;
  --md-sys-color-surface-container-highest: #e2e3e1;
  --md-sys-color-on-surface: #222424;
  --md-sys-color-surface-variant: #e2e3e1;
  --md-sys-color-on-surface-variant: #414342;
  --md-sys-color-inverse-surface: #0e0e0e;
  --md-sys-color-inverse-on-surface: #c6c4c3;
  --md-sys-color-outline: #5d5f5e;
  --md-sys-color-outline-variant: #797b7a;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #3b4543;
  --md-sys-color-primary: #3b4543;
  --md-sys-color-primary-dim: #303a37;
  --md-sys-color-on-primary: #d2dcd9;
  --md-sys-color-primary-container: #6d7774;
  --md-sys-color-on-primary-container: #ffffff;
  --md-sys-color-inverse-primary: #f4fffb;
  --md-sys-color-primary-fixed: #6d7774;
  --md-sys-color-primary-fixed-dim: #606a68;
  --md-sys-color-on-primary-fixed: #ffffff;
  --md-sys-color-on-primary-fixed-variant: #ffffff;
  --md-sys-color-secondary: #404442;
  --md-sys-color-secondary-dim: #353837;
  --md-sys-color-on-secondary: #d8dad8;
  --md-sys-color-secondary-container: #727574;
  --md-sys-color-on-secondary-container: #ffffff;
  --md-sys-color-secondary-fixed: #727574;
  --md-sys-color-secondary-fixed-dim: #656967;
  --md-sys-color-on-secondary-fixed: #ffffff;
  --md-sys-color-on-secondary-fixed-variant: #ffffff;
  --md-sys-color-tertiary: #334831;
  --md-sys-color-tertiary-dim: #283d26;
  --md-sys-color-on-tertiary: #c8e1c1;
  --md-sys-color-tertiary-container: #647b60;
  --md-sys-color-on-tertiary-container: #ffffff;
  --md-sys-color-tertiary-fixed: #647b60;
  --md-sys-color-tertiary-fixed-dim: #586e54;
  --md-sys-color-on-tertiary-fixed: #ffffff;
  --md-sys-color-on-tertiary-fixed-variant: #ffffff;
  --md-sys-color-error: #7a2524;
  --md-sys-color-error-dim: #4e0309;
  --md-sys-color-on-error: #ffceca;
  --md-sys-color-error-container: #bb5551;
  --md-sys-color-on-error-container: #ffffff;
}

.light-high-contrast {
  --md-sys-color-primary-palette-key-color: #6f7977;
  --md-sys-color-secondary-palette-key-color: #747876;
  --md-sys-color-tertiary-palette-key-color: #667d63;
  --md-sys-color-neutral-palette-key-color: #777776;
  --md-sys-color-neutral-variant-palette-key-color: #757776;
  --md-sys-color-error-palette-key-color: #be5753;
  --md-sys-color-background: #fbf9f8;
  --md-sys-color-on-background: #000000;
  --md-sys-color-surface: #fbf9f8;
  --md-sys-color-surface-dim: #d9dad9;
  --md-sys-color-surface-bright: #f8faf8;
  --md-sys-color-surface-container-lowest: #ffffff;
  --md-sys-color-surface-container-low: #f5f3f2;
  --md-sys-color-surface-container: #eeeeec;
  --md-sys-color-surface-container-high: #e8e8e7;
  --md-sys-color-surface-container-highest: #e2e3e1;
  --md-sys-color-on-surface: #000000;
  --md-sys-color-surface-variant: #e2e3e1;
  --md-sys-color-on-surface-variant: #222424;
  --md-sys-color-inverse-surface: #0e0e0e;
  --md-sys-color-inverse-on-surface: #ffffff;
  --md-sys-color-outline: #414342;
  --md-sys-color-outline-variant: #5d5f5e;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #1c2624;
  --md-sys-color-primary: #1c2624;
  --md-sys-color-primary-dim: #121c1a;
  --md-sys-color-on-primary: #d2dcd9;
  --md-sys-color-primary-container: #57615f;
  --md-sys-color-on-primary-container: #ffffff;
  --md-sys-color-inverse-primary: #f4fffb;
  --md-sys-color-primary-fixed: #57615f;
  --md-sys-color-primary-fixed-dim: #4b5553;
  --md-sys-color-on-primary-fixed: #ffffff;
  --md-sys-color-on-primary-fixed-variant: #ffffff;
  --md-sys-color-secondary: #212524;
  --md-sys-color-secondary-dim: #171b1a;
  --md-sys-color-on-secondary: #d8dbd9;
  --md-sys-color-secondary-container: #5c605e;
  --md-sys-color-on-secondary-container: #ffffff;
  --md-sys-color-secondary-fixed: #5c605e;
  --md-sys-color-secondary-fixed-dim: #505453;
  --md-sys-color-on-secondary-fixed: #ffffff;
  --md-sys-color-on-secondary-fixed-variant: #ffffff;
  --md-sys-color-tertiary: #152814;
  --md-sys-color-tertiary-dim: #0a1e0b;
  --md-sys-color-on-tertiary: #c8e1c2;
  --md-sys-color-tertiary-container: #4f654c;
  --md-sys-color-on-tertiary-container: #ffffff;
  --md-sys-color-tertiary-fixed: #4f654c;
  --md-sys-color-tertiary-fixed-dim: #435940;
  --md-sys-color-on-tertiary-fixed: #ffffff;
  --md-sys-color-on-tertiary-fixed-variant: #ffffff;
  --md-sys-color-error: #4f0409;
  --md-sys-color-error-dim: #3d0004;
  --md-sys-color-on-error: #ffcfcb;
  --md-sys-color-error-container: #9f403d;
  --md-sys-color-on-error-container: #ffffff;
}

.dark {
  --md-sys-color-primary-palette-key-color: #6f7977;
  --md-sys-color-secondary-palette-key-color: #747876;
  --md-sys-color-tertiary-palette-key-color: #667d63;
  --md-sys-color-neutral-palette-key-color: #777776;
  --md-sys-color-neutral-variant-palette-key-color: #757776;
  --md-sys-color-error-palette-key-color: #be5753;
  --md-sys-color-background: #0e0e0e;
  --md-sys-color-on-background: #e5e6e4;
  --md-sys-color-surface: #0e0e0e;
  --md-sys-color-surface-dim: #0e0e0e;
  --md-sys-color-surface-bright: #2c2c2c;
  --md-sys-color-surface-container-lowest: #000000;
  --md-sys-color-surface-container-low: #121413;
  --md-sys-color-surface-container: #181a19;
  --md-sys-color-surface-container-high: #1e201f;
  --md-sys-color-surface-container-highest: #242625;
  --md-sys-color-on-surface: #e5e6e4;
  --md-sys-color-surface-variant: #242625;
  --md-sys-color-on-surface-variant: #aaabaa;
  --md-sys-color-inverse-surface: #fbf9f8;
  --md-sys-color-inverse-on-surface: #555554;
  --md-sys-color-outline: #747675;
  --md-sys-color-outline-variant: #464847;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #bec9c6;
  --md-sys-color-primary: #bec9c6;
  --md-sys-color-primary-dim: #b1bbb8;
  --md-sys-color-on-primary: #384240;
  --md-sys-color-primary-container: #3f4947;
  --md-sys-color-on-primary-container: #c8d3cf;
  --md-sys-color-inverse-primary: #57615f;
  --md-sys-color-primary-fixed: #dae5e1;
  --md-sys-color-primary-fixed-dim: #ccd7d3;
  --md-sys-color-on-primary-fixed: #38413f;
  --md-sys-color-on-primary-fixed-variant: #545e5b;
  --md-sys-color-secondary: #9b9e9d;
  --md-sys-color-secondary-dim: #9b9e9d;
  --md-sys-color-on-secondary: #1d2120;
  --md-sys-color-secondary-container: #383c3b;
  --md-sys-color-on-secondary-container: #bdc0be;
  --md-sys-color-secondary-fixed: #e0e3e1;
  --md-sys-color-secondary-fixed-dim: #d2d5d3;
  --md-sys-color-on-secondary-fixed: #3c403f;
  --md-sys-color-on-secondary-fixed-variant: #595c5b;
  --md-sys-color-tertiary: #ecffe5;
  --md-sys-color-tertiary-dim: #d9f2d2;
  --md-sys-color-on-tertiary: #4f654c;
  --md-sys-color-tertiary-container: #d9f2d2;
  --md-sys-color-on-tertiary-container: #475c44;
  --md-sys-color-tertiary-fixed: #e1fbda;
  --md-sys-color-tertiary-fixed-dim: #d3eccd;
  --md-sys-color-on-tertiary-fixed: #3a4f37;
  --md-sys-color-on-tertiary-fixed-variant: #566c52;
  --md-sys-color-error: #fe8983;
  --md-sys-color-error-dim: #bb5551;
  --md-sys-color-on-error: #5b0d10;
  --md-sys-color-error-container: #7f2927;
  --md-sys-color-on-error-container: #ff9993;
}

.dark-medium-contrast {
  --md-sys-color-primary-palette-key-color: #6f7977;
  --md-sys-color-secondary-palette-key-color: #747876;
  --md-sys-color-tertiary-palette-key-color: #667d63;
  --md-sys-color-neutral-palette-key-color: #777776;
  --md-sys-color-neutral-variant-palette-key-color: #757776;
  --md-sys-color-error-palette-key-color: #be5753;
  --md-sys-color-background: #0e0e0e;
  --md-sys-color-on-background: #ffffff;
  --md-sys-color-surface: #0e0e0e;
  --md-sys-color-surface-dim: #0e0e0e;
  --md-sys-color-surface-bright: #2c2c2c;
  --md-sys-color-surface-container-lowest: #000000;
  --md-sys-color-surface-container-low: #121413;
  --md-sys-color-surface-container: #181a19;
  --md-sys-color-surface-container-high: #1e201f;
  --md-sys-color-surface-container-highest: #242625;
  --md-sys-color-on-surface: #ffffff;
  --md-sys-color-surface-variant: #242625;
  --md-sys-color-on-surface-variant: #b8b9b8;
  --md-sys-color-inverse-surface: #fbf9f8;
  --md-sys-color-inverse-on-surface: #383838;
  --md-sys-color-outline: #929492;
  --md-sys-color-outline-variant: #747675;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #bec9c6;
  --md-sys-color-primary: #bec9c6;
  --md-sys-color-primary-dim: #b1bbb8;
  --md-sys-color-on-primary: #2e3836;
  --md-sys-color-primary-container: #6d7774;
  --md-sys-color-on-primary-container: #ffffff;
  --md-sys-color-inverse-primary: #4d5755;
  --md-sys-color-primary-fixed: #dae5e1;
  --md-sys-color-primary-fixed-dim: #ccd7d3;
  --md-sys-color-on-primary-fixed: #18211f;
  --md-sys-color-on-primary-fixed-variant: #38413f;
  --md-sys-color-secondary: #b6b9b8;
  --md-sys-color-secondary-dim: #a9acaa;
  --md-sys-color-on-secondary: #292d2c;
  --md-sys-color-secondary-container: #727574;
  --md-sys-color-on-secondary-container: #ffffff;
  --md-sys-color-secondary-fixed: #e0e3e1;
  --md-sys-color-secondary-fixed-dim: #d2d5d3;
  --md-sys-color-on-secondary-fixed: #1c201f;
  --md-sys-color-on-secondary-fixed-variant: #3c403f;
  --md-sys-color-tertiary: #ecffe5;
  --md-sys-color-tertiary-dim: #d9f2d2;
  --md-sys-color-on-tertiary: #455b42;
  --md-sys-color-tertiary-container: #d9f2d2;
  --md-sys-color-on-tertiary-container: #3d523b;
  --md-sys-color-tertiary-fixed: #e1fbda;
  --md-sys-color-tertiary-fixed-dim: #d3eccd;
  --md-sys-color-on-tertiary-fixed: #1d311c;
  --md-sys-color-on-tertiary-fixed-variant: #3a4f37;
  --md-sys-color-error: #ff9f99;
  --md-sys-color-error-dim: #fd8983;
  --md-sys-color-on-error: #5b0d10;
  --md-sys-color-error-container: #bb5551;
  --md-sys-color-on-error-container: #ffffff;
}

.dark-high-contrast {
  --md-sys-color-primary-palette-key-color: #6f7977;
  --md-sys-color-secondary-palette-key-color: #747876;
  --md-sys-color-tertiary-palette-key-color: #667d63;
  --md-sys-color-neutral-palette-key-color: #777776;
  --md-sys-color-neutral-variant-palette-key-color: #757776;
  --md-sys-color-error-palette-key-color: #be5753;
  --md-sys-color-background: #0e0e0e;
  --md-sys-color-on-background: #ffffff;
  --md-sys-color-surface: #0e0e0e;
  --md-sys-color-surface-dim: #0e0e0e;
  --md-sys-color-surface-bright: #2c2c2c;
  --md-sys-color-surface-container-lowest: #000000;
  --md-sys-color-surface-container-low: #121413;
  --md-sys-color-surface-container: #181a19;
  --md-sys-color-surface-container-high: #1e201f;
  --md-sys-color-surface-container-highest: #242625;
  --md-sys-color-on-surface: #ffffff;
  --md-sys-color-surface-variant: #242625;
  --md-sys-color-on-surface-variant: #e5e6e4;
  --md-sys-color-inverse-surface: #fbf9f8;
  --md-sys-color-inverse-on-surface: #000000;
  --md-sys-color-outline: #b8b9b8;
  --md-sys-color-outline-variant: #929492;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #dde8e4;
  --md-sys-color-primary: #dde8e4;
  --md-sys-color-primary-dim: #ccd7d3;
  --md-sys-color-on-primary: #242e2c;
  --md-sys-color-primary-container: #96a09d;
  --md-sys-color-on-primary-container: #000000;
  --md-sys-color-inverse-primary: #303a38;
  --md-sys-color-primary-fixed: #dae5e1;
  --md-sys-color-primary-fixed-dim: #ccd7d3;
  --md-sys-color-on-primary-fixed: #000000;
  --md-sys-color-on-primary-fixed-variant: #18211f;
  --md-sys-color-secondary: #e3e6e4;
  --md-sys-color-secondary-dim: #d2d5d3;
  --md-sys-color-on-secondary: #292d2c;
  --md-sys-color-secondary-container: #9b9e9d;
  --md-sys-color-on-secondary-container: #000000;
  --md-sys-color-secondary-fixed: #e0e3e1;
  --md-sys-color-secondary-fixed-dim: #d2d5d3;
  --md-sys-color-on-secondary-fixed: #000000;
  --md-sys-color-on-secondary-fixed-variant: #1c201f;
  --md-sys-color-tertiary: #ecffe5;
  --md-sys-color-tertiary-dim: #d9f2d2;
  --md-sys-color-on-tertiary: #293d27;
  --md-sys-color-tertiary-container: #d9f2d2;
  --md-sys-color-on-tertiary-container: #20341f;
  --md-sys-color-tertiary-fixed: #e1fbda;
  --md-sys-color-tertiary-fixed-dim: #d3eccd;
  --md-sys-color-on-tertiary-fixed: #000000;
  --md-sys-color-on-tertiary-fixed-variant: #1d311c;
  --md-sys-color-error: #ffdedb;
  --md-sys-color-error-dim: #ffc7c3;
  --md-sys-color-on-error: #5a0d10;
  --md-sys-color-error-container: #ee7d77;
  --md-sys-color-on-error-container: #000000;
}

