.light {
  --md-sys-color-primary-palette-key-color: #09b1a1;
  --md-sys-color-secondary-palette-key-color: #627c77;
  --md-sys-color-tertiary-palette-key-color: #5e7a93;
  --md-sys-color-neutral-palette-key-color: #777777;
  --md-sys-color-neutral-variant-palette-key-color: #777777;
  --md-sys-color-error-palette-key-color: #de3730;
  --md-sys-color-background: #f9f9f9;
  --md-sys-color-on-background: #323232;
  --md-sys-color-surface: #f9f9f9;
  --md-sys-color-surface-dim: #dadada;
  --md-sys-color-surface-bright: #f9f9f9;
  --md-sys-color-surface-container-lowest: #ffffff;
  --md-sys-color-surface-container-low: #f3f3f3;
  --md-sys-color-surface-container: #eeeeee;
  --md-sys-color-surface-container-high: #e8e8e8;
  --md-sys-color-surface-container-highest: #e2e2e2;
  --md-sys-color-on-surface: #323232;
  --md-sys-color-surface-variant: #e2e2e2;
  --md-sys-color-on-surface-variant: #5f5f5f;
  --md-sys-color-inverse-surface: #0e0e0e;
  --md-sys-color-inverse-on-surface: #9d9d9d;
  --md-sys-color-outline: #7b7b7b;
  --md-sys-color-outline-variant: #b2b2b2;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #006b61;
  --md-sys-color-primary: #006b61;
  --md-sys-color-primary-dim: #005e55;
  --md-sys-color-on-primary: #e2fff9;
  --md-sys-color-primary-container: #6df2e0;
  --md-sys-color-on-primary-container: #005950;
  --md-sys-color-inverse-primary: #7afeeb;
  --md-sys-color-primary-fixed: #6df2e0;
  --md-sys-color-primary-fixed-dim: #5de3d2;
  --md-sys-color-on-primary-fixed: #00443d;
  --md-sys-color-on-primary-fixed-variant: #00635a;
  --md-sys-color-secondary: #4b645f;
  --md-sys-color-secondary-dim: #3f5853;
  --md-sys-color-on-secondary: #e3fff9;
  --md-sys-color-secondary-container: #cce8e2;
  --md-sys-color-on-secondary-container: #3d5752;
  --md-sys-color-secondary-fixed: #cce8e2;
  --md-sys-color-secondary-fixed-dim: #bedad4;
  --md-sys-color-on-secondary-fixed: #2b4440;
  --md-sys-color-on-secondary-fixed-variant: #47605c;
  --md-sys-color-tertiary: #46627a;
  --md-sys-color-tertiary-dim: #3a566e;
  --md-sys-color-on-tertiary: #f6f9ff;
  --md-sys-color-tertiary-container: #c3e0fd;
  --md-sys-color-on-tertiary-container: #355169;
  --md-sys-color-tertiary-fixed: #c3e0fd;
  --md-sys-color-tertiary-fixed-dim: #b5d2ee;
  --md-sys-color-on-tertiary-fixed: #223e55;
  --md-sys-color-on-tertiary-fixed-variant: #3f5b73;
  --md-sys-color-error: #bb1b1b;
  --md-sys-color-error-dim: #a90810;
  --md-sys-color-on-error: #fff7f6;
  --md-sys-color-error-container: #fe4e44;
  --md-sys-color-on-error-container: #570003;
}

.light-medium-contrast {
  --md-sys-color-primary-palette-key-color: #09b1a1;
  --md-sys-color-secondary-palette-key-color: #627c77;
  --md-sys-color-tertiary-palette-key-color: #5e7a93;
  --md-sys-color-neutral-palette-key-color: #777777;
  --md-sys-color-neutral-variant-palette-key-color: #777777;
  --md-sys-color-error-palette-key-color: #de3730;
  --md-sys-color-background: #f9f9f9;
  --md-sys-color-on-background: #242424;
  --md-sys-color-surface: #f9f9f9;
  --md-sys-color-surface-dim: #dadada;
  --md-sys-color-surface-bright: #f9f9f9;
  --md-sys-color-surface-container-lowest: #ffffff;
  --md-sys-color-surface-container-low: #f3f3f3;
  --md-sys-color-surface-container: #eeeeee;
  --md-sys-color-surface-container-high: #e8e8e8;
  --md-sys-color-surface-container-highest: #e2e2e2;
  --md-sys-color-on-surface: #242424;
  --md-sys-color-surface-variant: #e2e2e2;
  --md-sys-color-on-surface-variant: #434343;
  --md-sys-color-inverse-surface: #0e0e0e;
  --md-sys-color-inverse-on-surface: #c5c5c5;
  --md-sys-color-outline: #5f5f5f;
  --md-sys-color-outline-variant: #7b7b7b;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #004c44;
  --md-sys-color-primary: #004c44;
  --md-sys-color-primary-dim: #003f39;
  --md-sys-color-on-primary: #6aefdd;
  --md-sys-color-primary-container: #008377;
  --md-sys-color-on-primary-container: #ffffff;
  --md-sys-color-inverse-primary: #7afeeb;
  --md-sys-color-primary-fixed: #008377;
  --md-sys-color-primary-fixed-dim: #00756a;
  --md-sys-color-on-primary-fixed: #ffffff;
  --md-sys-color-on-primary-fixed-variant: #ffffff;
  --md-sys-color-secondary: #2f4743;
  --md-sys-color-secondary-dim: #233c38;
  --md-sys-color-on-secondary: #c4dfd9;
  --md-sys-color-secondary-container: #607a75;
  --md-sys-color-on-secondary-container: #ffffff;
  --md-sys-color-secondary-fixed: #607a75;
  --md-sys-color-secondary-fixed-dim: #546d68;
  --md-sys-color-on-secondary-fixed: #ffffff;
  --md-sys-color-on-secondary-fixed-variant: #ffffff;
  --md-sys-color-tertiary: #29455c;
  --md-sys-color-tertiary-dim: #1d3a51;
  --md-sys-color-on-tertiary: #c0ddf9;
  --md-sys-color-tertiary-container: #5c7791;
  --md-sys-color-on-tertiary-container: #ffffff;
  --md-sys-color-tertiary-fixed: #5c7791;
  --md-sys-color-tertiary-fixed-dim: #4f6b84;
  --md-sys-color-on-tertiary-fixed: #ffffff;
  --md-sys-color-on-tertiary-fixed-variant: #ffffff;
  --md-sys-color-error: #8c0009;
  --md-sys-color-error-dim: #760006;
  --md-sys-color-on-error: #ffcec8;
  --md-sys-color-error-container: #da342e;
  --md-sys-color-on-error-container: #ffffff;
}

.light-high-contrast {
  --md-sys-color-primary-palette-key-color: #09b1a1;
  --md-sys-color-secondary-palette-key-color: #627c77;
  --md-sys-color-tertiary-palette-key-color: #5e7a93;
  --md-sys-color-neutral-palette-key-color: #777777;
  --md-sys-color-neutral-variant-palette-key-color: #777777;
  --md-sys-color-error-palette-key-color: #de3730;
  --md-sys-color-background: #f9f9f9;
  --md-sys-color-on-background: #000000;
  --md-sys-color-surface: #f9f9f9;
  --md-sys-color-surface-dim: #dadada;
  --md-sys-color-surface-bright: #f9f9f9;
  --md-sys-color-surface-container-lowest: #ffffff;
  --md-sys-color-surface-container-low: #f3f3f3;
  --md-sys-color-surface-container: #eeeeee;
  --md-sys-color-surface-container-high: #e8e8e8;
  --md-sys-color-surface-container-highest: #e2e2e2;
  --md-sys-color-on-surface: #000000;
  --md-sys-color-surface-variant: #e2e2e2;
  --md-sys-color-on-surface-variant: #242424;
  --md-sys-color-inverse-surface: #0e0e0e;
  --md-sys-color-inverse-on-surface: #ffffff;
  --md-sys-color-outline: #434343;
  --md-sys-color-outline-variant: #5f5f5f;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #002925;
  --md-sys-color-primary: #002925;
  --md-sys-color-primary-dim: #001e1a;
  --md-sys-color-on-primary: #6aefdd;
  --md-sys-color-primary-container: #006b61;
  --md-sys-color-on-primary-container: #ffffff;
  --md-sys-color-inverse-primary: #7afeeb;
  --md-sys-color-primary-fixed: #006b61;
  --md-sys-color-primary-fixed-dim: #005e55;
  --md-sys-color-on-primary-fixed: #ffffff;
  --md-sys-color-on-primary-fixed-variant: #ffffff;
  --md-sys-color-secondary: #0f2824;
  --md-sys-color-secondary-dim: #041e1a;
  --md-sys-color-on-secondary: #c4e0da;
  --md-sys-color-secondary-container: #4b645f;
  --md-sys-color-on-secondary-container: #ffffff;
  --md-sys-color-secondary-fixed: #4b645f;
  --md-sys-color-secondary-fixed-dim: #3f5853;
  --md-sys-color-on-secondary-fixed: #ffffff;
  --md-sys-color-on-secondary-fixed-variant: #ffffff;
  --md-sys-color-tertiary: #05263c;
  --md-sys-color-tertiary-dim: #001c2e;
  --md-sys-color-on-tertiary: #c0ddfa;
  --md-sys-color-tertiary-container: #46627a;
  --md-sys-color-on-tertiary-container: #ffffff;
  --md-sys-color-tertiary-fixed: #46627a;
  --md-sys-color-tertiary-fixed-dim: #3a566e;
  --md-sys-color-on-tertiary-fixed: #ffffff;
  --md-sys-color-on-tertiary-fixed-variant: #ffffff;
  --md-sys-color-error: #510003;
  --md-sys-color-error-dim: #3e0002;
  --md-sys-color-on-error: #ffcfc9;
  --md-sys-color-error-container: #bb1b1b;
  --md-sys-color-on-error-container: #ffffff;
}

.dark {
  --md-sys-color-primary-palette-key-color: #09b1a1;
  --md-sys-color-secondary-palette-key-color: #627c77;
  --md-sys-color-tertiary-palette-key-color: #5e7a93;
  --md-sys-color-neutral-palette-key-color: #777777;
  --md-sys-color-neutral-variant-palette-key-color: #777777;
  --md-sys-color-error-palette-key-color: #de3730;
  --md-sys-color-background: #0e0e0e;
  --md-sys-color-on-background: #e5e5e5;
  --md-sys-color-surface: #0e0e0e;
  --md-sys-color-surface-dim: #0e0e0e;
  --md-sys-color-surface-bright: #2c2c2c;
  --md-sys-color-surface-container-lowest: #000000;
  --md-sys-color-surface-container-low: #131313;
  --md-sys-color-surface-container: #191919;
  --md-sys-color-surface-container-high: #1f1f1f;
  --md-sys-color-surface-container-highest: #262626;
  --md-sys-color-on-surface: #e5e5e5;
  --md-sys-color-surface-variant: #262626;
  --md-sys-color-on-surface-variant: #ababab;
  --md-sys-color-inverse-surface: #f9f9f9;
  --md-sys-color-inverse-on-surface: #555555;
  --md-sys-color-outline: #757575;
  --md-sys-color-outline-variant: #484848;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #6df2e0;
  --md-sys-color-primary: #6df2e0;
  --md-sys-color-primary-dim: #5de3d2;
  --md-sys-color-on-primary: #005950;
  --md-sys-color-primary-container: #13b4a3;
  --md-sys-color-on-primary-container: #002824;
  --md-sys-color-inverse-primary: #006b61;
  --md-sys-color-primary-fixed: #6df2e0;
  --md-sys-color-primary-fixed-dim: #5de3d2;
  --md-sys-color-on-primary-fixed: #00443d;
  --md-sys-color-on-primary-fixed-variant: #00635a;
  --md-sys-color-secondary: #b1ccc6;
  --md-sys-color-secondary-dim: #a3beb9;
  --md-sys-color-on-secondary: #2c4541;
  --md-sys-color-secondary-container: #27403c;
  --md-sys-color-on-secondary-container: #aac5bf;
  --md-sys-color-secondary-fixed: #cce8e2;
  --md-sys-color-secondary-fixed-dim: #bedad4;
  --md-sys-color-on-secondary-fixed: #2b4440;
  --md-sys-color-on-secondary-fixed-variant: #47605c;
  --md-sys-color-tertiary: #dcedff;
  --md-sys-color-tertiary-dim: #c3e0fd;
  --md-sys-color-on-tertiary: #3e5a71;
  --md-sys-color-tertiary-container: #c3e0fd;
  --md-sys-color-on-tertiary-container: #355169;
  --md-sys-color-tertiary-fixed: #c3e0fd;
  --md-sys-color-tertiary-fixed-dim: #b5d2ee;
  --md-sys-color-on-tertiary-fixed: #223e55;
  --md-sys-color-on-tertiary-fixed-variant: #3f5b73;
  --md-sys-color-error: #ff7164;
  --md-sys-color-error-dim: #da342e;
  --md-sys-color-on-error: #4a0002;
  --md-sys-color-error-container: #ac0c12;
  --md-sys-color-on-error-container: #ffb8b0;
}

.dark-medium-contrast {
  --md-sys-color-primary-palette-key-color: #09b1a1;
  --md-sys-color-secondary-palette-key-color: #627c77;
  --md-sys-color-tertiary-palette-key-color: #5e7a93;
  --md-sys-color-neutral-palette-key-color: #777777;
  --md-sys-color-neutral-variant-palette-key-color: #777777;
  --md-sys-color-error-palette-key-color: #de3730;
  --md-sys-color-background: #0e0e0e;
  --md-sys-color-on-background: #ffffff;
  --md-sys-color-surface: #0e0e0e;
  --md-sys-color-surface-dim: #0e0e0e;
  --md-sys-color-surface-bright: #2c2c2c;
  --md-sys-color-surface-container-lowest: #000000;
  --md-sys-color-surface-container-low: #131313;
  --md-sys-color-surface-container: #191919;
  --md-sys-color-surface-container-high: #1f1f1f;
  --md-sys-color-surface-container-highest: #262626;
  --md-sys-color-on-surface: #ffffff;
  --md-sys-color-surface-variant: #262626;
  --md-sys-color-on-surface-variant: #b9b9b9;
  --md-sys-color-inverse-surface: #f9f9f9;
  --md-sys-color-inverse-on-surface: #383838;
  --md-sys-color-outline: #939393;
  --md-sys-color-outline-variant: #757575;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #6df2e0;
  --md-sys-color-primary: #6df2e0;
  --md-sys-color-primary-dim: #5de3d2;
  --md-sys-color-on-primary: #004e46;
  --md-sys-color-primary-container: #13b4a3;
  --md-sys-color-on-primary-container: #001815;
  --md-sys-color-inverse-primary: #006057;
  --md-sys-color-primary-fixed: #6df2e0;
  --md-sys-color-primary-fixed-dim: #5de3d2;
  --md-sys-color-on-primary-fixed: #001f1b;
  --md-sys-color-on-primary-fixed-variant: #00443d;
  --md-sys-color-secondary: #b1ccc6;
  --md-sys-color-secondary-dim: #a3beb9;
  --md-sys-color-on-secondary: #223b37;
  --md-sys-color-secondary-container: #607a75;
  --md-sys-color-on-secondary-container: #ffffff;
  --md-sys-color-secondary-fixed: #cce8e2;
  --md-sys-color-secondary-fixed-dim: #bedad4;
  --md-sys-color-on-secondary-fixed: #092320;
  --md-sys-color-on-secondary-fixed-variant: #2b4440;
  --md-sys-color-tertiary: #dcedff;
  --md-sys-color-tertiary-dim: #c3e0fd;
  --md-sys-color-on-tertiary: #345067;
  --md-sys-color-tertiary-container: #c3e0fd;
  --md-sys-color-on-tertiary-container: #2b475e;
  --md-sys-color-tertiary-fixed: #c3e0fd;
  --md-sys-color-tertiary-fixed-dim: #b5d2ee;
  --md-sys-color-on-tertiary-fixed: #001c2f;
  --md-sys-color-on-tertiary-fixed-variant: #223e55;
  --md-sys-color-error: #ff9f94;
  --md-sys-color-error-dim: #ff887c;
  --md-sys-color-on-error: #600004;
  --md-sys-color-error-container: #da342e;
  --md-sys-color-on-error-container: #ffffff;
}

.dark-high-contrast {
  --md-sys-color-primary-palette-key-color: #09b1a1;
  --md-sys-color-secondary-palette-key-color: #627c77;
  --md-sys-color-tertiary-palette-key-color: #5e7a93;
  --md-sys-color-neutral-palette-key-color: #777777;
  --md-sys-color-neutral-variant-palette-key-color: #777777;
  --md-sys-color-error-palette-key-color: #de3730;
  --md-sys-color-background: #0e0e0e;
  --md-sys-color-on-background: #ffffff;
  --md-sys-color-surface: #0e0e0e;
  --md-sys-color-surface-dim: #0e0e0e;
  --md-sys-color-surface-bright: #2c2c2c;
  --md-sys-color-surface-container-lowest: #000000;
  --md-sys-color-surface-container-low: #131313;
  --md-sys-color-surface-container: #191919;
  --md-sys-color-surface-container-high: #1f1f1f;
  --md-sys-color-surface-container-highest: #262626;
  --md-sys-color-on-surface: #ffffff;
  --md-sys-color-surface-variant: #262626;
  --md-sys-color-on-surface-variant: #e5e5e5;
  --md-sys-color-inverse-surface: #f9f9f9;
  --md-sys-color-inverse-on-surface: #000000;
  --md-sys-color-outline: #b9b9b9;
  --md-sys-color-outline-variant: #939393;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #77fbe8;
  --md-sys-color-primary: #77fbe8;
  --md-sys-color-primary-dim: #67ecda;
  --md-sys-color-on-primary: #00322d;
  --md-sys-color-primary-container: #13b4a3;
  --md-sys-color-on-primary-container: #000000;
  --md-sys-color-inverse-primary: #004039;
  --md-sys-color-primary-fixed: #6df2e0;
  --md-sys-color-primary-fixed-dim: #5de3d2;
  --md-sys-color-on-primary-fixed: #000000;
  --md-sys-color-on-primary-fixed-variant: #001f1b;
  --md-sys-color-secondary: #cfebe5;
  --md-sys-color-secondary-dim: #c1ddd7;
  --md-sys-color-on-secondary: #17302c;
  --md-sys-color-secondary-container: #89a39e;
  --md-sys-color-on-secondary-container: #000000;
  --md-sys-color-secondary-fixed: #cce8e2;
  --md-sys-color-secondary-fixed-dim: #bedad4;
  --md-sys-color-on-secondary-fixed: #000000;
  --md-sys-color-on-secondary-fixed-variant: #092320;
  --md-sys-color-tertiary: #dcedff;
  --md-sys-color-tertiary-dim: #c3e0fd;
  --md-sys-color-on-tertiary: #143248;
  --md-sys-color-tertiary-container: #c3e0fd;
  --md-sys-color-on-tertiary-container: #07283e;
  --md-sys-color-tertiary-fixed: #c3e0fd;
  --md-sys-color-tertiary-fixed-dim: #b5d2ee;
  --md-sys-color-on-tertiary-fixed: #000000;
  --md-sys-color-on-tertiary-fixed-variant: #001c2f;
  --md-sys-color-error: #ffdeda;
  --md-sys-color-error-dim: #ffc8c1;
  --md-sys-color-on-error: #600004;
  --md-sys-color-error-container: #ff7164;
  --md-sys-color-on-error-container: #000000;
}

