.light {
  --md-sys-color-primary-palette-key-color: #09b1a1;
  --md-sys-color-secondary-palette-key-color: #627c77;
  --md-sys-color-tertiary-palette-key-color: #5e7a93;
  --md-sys-color-neutral-palette-key-color: #777777;
  --md-sys-color-neutral-variant-palette-key-color: #777777;
  --md-sys-color-error-palette-key-color: #de3730;
  --md-sys-color-background: #131313;
  --md-sys-color-on-background: #e2e2e2;
  --md-sys-color-surface: #131313;
  --md-sys-color-surface-dim: #131313;
  --md-sys-color-surface-bright: #393939;
  --md-sys-color-surface-container-lowest: #0e0e0e;
  --md-sys-color-surface-container-low: #1b1b1b;
  --md-sys-color-surface-container: #1f1f1f;
  --md-sys-color-surface-container-high: #2a2a2a;
  --md-sys-color-surface-container-highest: #353535;
  --md-sys-color-on-surface: #e2e2e2;
  --md-sys-color-surface-variant: #474747;
  --md-sys-color-on-surface-variant: #c6c6c6;
  --md-sys-color-inverse-surface: #e2e2e2;
  --md-sys-color-inverse-on-surface: #303030;
  --md-sys-color-outline: #919191;
  --md-sys-color-outline-variant: #474747;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #53dbc9;
  --md-sys-color-primary: #53dbc9;
  --md-sys-color-primary-dim: #7afeeb;
  --md-sys-color-on-primary: #003731;
  --md-sys-color-primary-container: #74f8e5;
  --md-sys-color-on-primary-container: #007166;
  --md-sys-color-inverse-primary: #006a60;
  --md-sys-color-primary-fixed: #74f8e5;
  --md-sys-color-primary-fixed-dim: #53dbc9;
  --md-sys-color-on-primary-fixed: #00201c;
  --md-sys-color-on-primary-fixed-variant: #005048;
  --md-sys-color-secondary: #b1ccc6;
  --md-sys-color-secondary-dim: #cce8e2;
  --md-sys-color-on-secondary: #1c3531;
  --md-sys-color-secondary-container: #cce8e2;
  --md-sys-color-on-secondary-container: #506965;
  --md-sys-color-secondary-fixed: #cce8e2;
  --md-sys-color-secondary-fixed-dim: #b1ccc6;
  --md-sys-color-on-secondary-fixed: #05201c;
  --md-sys-color-on-secondary-fixed-variant: #334b47;
  --md-sys-color-tertiary: #adcae6;
  --md-sys-color-tertiary-dim: #c3e0fd;
  --md-sys-color-on-tertiary: #153349;
  --md-sys-color-tertiary-container: #cce5ff;
  --md-sys-color-on-tertiary-container: #4b6780;
  --md-sys-color-tertiary-fixed: #cce5ff;
  --md-sys-color-tertiary-fixed-dim: #adcae6;
  --md-sys-color-on-tertiary-fixed: #001e31;
  --md-sys-color-on-tertiary-fixed-variant: #2d4961;
  --md-sys-color-error: #ffb4ab;
  --md-sys-color-error-dim: #ffc7c0;
  --md-sys-color-on-error: #690005;
  --md-sys-color-error-container: #ffdad6;
  --md-sys-color-on-error-container: #c32220;
}

.light-medium-contrast {
  --md-sys-color-primary-palette-key-color: #09b1a1;
  --md-sys-color-secondary-palette-key-color: #627c77;
  --md-sys-color-tertiary-palette-key-color: #5e7a93;
  --md-sys-color-neutral-palette-key-color: #777777;
  --md-sys-color-neutral-variant-palette-key-color: #777777;
  --md-sys-color-error-palette-key-color: #de3730;
  --md-sys-color-background: #131313;
  --md-sys-color-on-background: #e2e2e2;
  --md-sys-color-surface: #131313;
  --md-sys-color-surface-dim: #131313;
  --md-sys-color-surface-bright: #444444;
  --md-sys-color-surface-container-lowest: #070707;
  --md-sys-color-surface-container-low: #1d1d1d;
  --md-sys-color-surface-container: #282828;
  --md-sys-color-surface-container-high: #323232;
  --md-sys-color-surface-container-highest: #3e3e3e;
  --md-sys-color-on-surface: #ffffff;
  --md-sys-color-surface-variant: #474747;
  --md-sys-color-on-surface-variant: #dcdcdc;
  --md-sys-color-inverse-surface: #e2e2e2;
  --md-sys-color-inverse-on-surface: #2a2a2a;
  --md-sys-color-outline: #b2b2b2;
  --md-sys-color-outline-variant: #909090;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #53dbc9;
  --md-sys-color-primary: #6df1df;
  --md-sys-color-primary-dim: #7afeeb;
  --md-sys-color-on-primary: #002b26;
  --md-sys-color-primary-container: #e2fff8;
  --md-sys-color-on-primary-container: #006056;
  --md-sys-color-inverse-primary: #005249;
  --md-sys-color-primary-fixed: #74f8e5;
  --md-sys-color-primary-fixed-dim: #53dbc9;
  --md-sys-color-on-primary-fixed: #001512;
  --md-sys-color-on-primary-fixed-variant: #003e37;
  --md-sys-color-secondary: #c6e2dc;
  --md-sys-color-secondary-dim: #cce8e2;
  --md-sys-color-on-secondary: #112a26;
  --md-sys-color-secondary-container: #e3fff8;
  --md-sys-color-on-secondary-container: #405a55;
  --md-sys-color-secondary-fixed: #cce8e2;
  --md-sys-color-secondary-fixed-dim: #b1ccc6;
  --md-sys-color-on-secondary-fixed: #001512;
  --md-sys-color-on-secondary-fixed-variant: #223b37;
  --md-sys-color-tertiary: #c3e0fc;
  --md-sys-color-tertiary-dim: #c3e0fd;
  --md-sys-color-on-tertiary: #07283e;
  --md-sys-color-tertiary-container: #f6f9ff;
  --md-sys-color-on-tertiary-container: #3c576f;
  --md-sys-color-tertiary-fixed: #cce5ff;
  --md-sys-color-tertiary-fixed-dim: #adcae6;
  --md-sys-color-on-tertiary-fixed: #001321;
  --md-sys-color-on-tertiary-fixed-variant: #1b394f;
  --md-sys-color-error: #ffd2cc;
  --md-sys-color-error-dim: #ffc7c0;
  --md-sys-color-on-error: #540003;
  --md-sys-color-error-container: #fff7f6;
  --md-sys-color-on-error-container: #ab0b12;
}

.light-high-contrast {
  --md-sys-color-primary-palette-key-color: #09b1a1;
  --md-sys-color-secondary-palette-key-color: #627c77;
  --md-sys-color-tertiary-palette-key-color: #5e7a93;
  --md-sys-color-neutral-palette-key-color: #777777;
  --md-sys-color-neutral-variant-palette-key-color: #777777;
  --md-sys-color-error-palette-key-color: #de3730;
  --md-sys-color-background: #131313;
  --md-sys-color-on-background: #e2e2e2;
  --md-sys-color-surface: #131313;
  --md-sys-color-surface-dim: #131313;
  --md-sys-color-surface-bright: #505050;
  --md-sys-color-surface-container-lowest: #000000;
  --md-sys-color-surface-container-low: #1f1f1f;
  --md-sys-color-surface-container: #303030;
  --md-sys-color-surface-container-high: #3b3b3b;
  --md-sys-color-surface-container-highest: #474747;
  --md-sys-color-on-surface: #ffffff;
  --md-sys-color-surface-variant: #474747;
  --md-sys-color-on-surface-variant: #ffffff;
  --md-sys-color-inverse-surface: #e2e2e2;
  --md-sys-color-inverse-on-surface: #000000;
  --md-sys-color-outline: #f0f0f0;
  --md-sys-color-outline-variant: #c2c2c2;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #53dbc9;
  --md-sys-color-primary: #74f8e5;
  --md-sys-color-primary-dim: #fefffd;
  --md-sys-color-on-primary: #000000;
  --md-sys-color-primary-container: #ffffff;
  --md-sys-color-on-primary-container: #00443d;
  --md-sys-color-inverse-primary: #005249;
  --md-sys-color-primary-fixed: #74f8e5;
  --md-sys-color-primary-fixed-dim: #53dbc9;
  --md-sys-color-on-primary-fixed: #000000;
  --md-sys-color-on-primary-fixed-variant: #001512;
  --md-sys-color-secondary: #cce8e2;
  --md-sys-color-secondary-dim: #fefffd;
  --md-sys-color-on-secondary: #000000;
  --md-sys-color-secondary-container: #ffffff;
  --md-sys-color-on-secondary-container: #27403c;
  --md-sys-color-secondary-fixed: #cce8e2;
  --md-sys-color-secondary-fixed-dim: #b1ccc6;
  --md-sys-color-on-secondary-fixed: #000000;
  --md-sys-color-on-secondary-fixed-variant: #001512;
  --md-sys-color-tertiary: #cce5ff;
  --md-sys-color-tertiary-dim: #fffeff;
  --md-sys-color-on-tertiary: #000000;
  --md-sys-color-tertiary-container: #ffffff;
  --md-sys-color-on-tertiary-container: #213e55;
  --md-sys-color-tertiary-fixed: #cce5ff;
  --md-sys-color-tertiary-fixed-dim: #adcae6;
  --md-sys-color-on-tertiary-fixed: #000000;
  --md-sys-color-on-tertiary-fixed-variant: #001321;
  --md-sys-color-error: #ffdad6;
  --md-sys-color-error-dim: #fffeff;
  --md-sys-color-on-error: #000000;
  --md-sys-color-error-container: #ffffff;
  --md-sys-color-on-error-container: #7e0007;
}

.dark {
  --md-sys-color-primary-palette-key-color: #09b1a1;
  --md-sys-color-secondary-palette-key-color: #627c77;
  --md-sys-color-tertiary-palette-key-color: #5e7a93;
  --md-sys-color-neutral-palette-key-color: #777777;
  --md-sys-color-neutral-variant-palette-key-color: #777777;
  --md-sys-color-error-palette-key-color: #de3730;
  --md-sys-color-background: #131313;
  --md-sys-color-on-background: #e2e2e2;
  --md-sys-color-surface: #131313;
  --md-sys-color-surface-dim: #131313;
  --md-sys-color-surface-bright: #393939;
  --md-sys-color-surface-container-lowest: #0e0e0e;
  --md-sys-color-surface-container-low: #1b1b1b;
  --md-sys-color-surface-container: #1f1f1f;
  --md-sys-color-surface-container-high: #2a2a2a;
  --md-sys-color-surface-container-highest: #353535;
  --md-sys-color-on-surface: #e2e2e2;
  --md-sys-color-surface-variant: #474747;
  --md-sys-color-on-surface-variant: #c6c6c6;
  --md-sys-color-inverse-surface: #e2e2e2;
  --md-sys-color-inverse-on-surface: #303030;
  --md-sys-color-outline: #919191;
  --md-sys-color-outline-variant: #474747;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #53dbc9;
  --md-sys-color-primary: #53dbc9;
  --md-sys-color-primary-dim: #7afeeb;
  --md-sys-color-on-primary: #003731;
  --md-sys-color-primary-container: #74f8e5;
  --md-sys-color-on-primary-container: #007166;
  --md-sys-color-inverse-primary: #006a60;
  --md-sys-color-primary-fixed: #74f8e5;
  --md-sys-color-primary-fixed-dim: #53dbc9;
  --md-sys-color-on-primary-fixed: #00201c;
  --md-sys-color-on-primary-fixed-variant: #005048;
  --md-sys-color-secondary: #b1ccc6;
  --md-sys-color-secondary-dim: #cce8e2;
  --md-sys-color-on-secondary: #1c3531;
  --md-sys-color-secondary-container: #cce8e2;
  --md-sys-color-on-secondary-container: #506965;
  --md-sys-color-secondary-fixed: #cce8e2;
  --md-sys-color-secondary-fixed-dim: #b1ccc6;
  --md-sys-color-on-secondary-fixed: #05201c;
  --md-sys-color-on-secondary-fixed-variant: #334b47;
  --md-sys-color-tertiary: #adcae6;
  --md-sys-color-tertiary-dim: #c3e0fd;
  --md-sys-color-on-tertiary: #153349;
  --md-sys-color-tertiary-container: #cce5ff;
  --md-sys-color-on-tertiary-container: #4b6780;
  --md-sys-color-tertiary-fixed: #cce5ff;
  --md-sys-color-tertiary-fixed-dim: #adcae6;
  --md-sys-color-on-tertiary-fixed: #001e31;
  --md-sys-color-on-tertiary-fixed-variant: #2d4961;
  --md-sys-color-error: #ffb4ab;
  --md-sys-color-error-dim: #ffc7c0;
  --md-sys-color-on-error: #690005;
  --md-sys-color-error-container: #ffdad6;
  --md-sys-color-on-error-container: #c32220;
}

.dark-medium-contrast {
  --md-sys-color-primary-palette-key-color: #09b1a1;
  --md-sys-color-secondary-palette-key-color: #627c77;
  --md-sys-color-tertiary-palette-key-color: #5e7a93;
  --md-sys-color-neutral-palette-key-color: #777777;
  --md-sys-color-neutral-variant-palette-key-color: #777777;
  --md-sys-color-error-palette-key-color: #de3730;
  --md-sys-color-background: #131313;
  --md-sys-color-on-background: #e2e2e2;
  --md-sys-color-surface: #131313;
  --md-sys-color-surface-dim: #131313;
  --md-sys-color-surface-bright: #444444;
  --md-sys-color-surface-container-lowest: #070707;
  --md-sys-color-surface-container-low: #1d1d1d;
  --md-sys-color-surface-container: #282828;
  --md-sys-color-surface-container-high: #323232;
  --md-sys-color-surface-container-highest: #3e3e3e;
  --md-sys-color-on-surface: #ffffff;
  --md-sys-color-surface-variant: #474747;
  --md-sys-color-on-surface-variant: #dcdcdc;
  --md-sys-color-inverse-surface: #e2e2e2;
  --md-sys-color-inverse-on-surface: #2a2a2a;
  --md-sys-color-outline: #b2b2b2;
  --md-sys-color-outline-variant: #909090;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #53dbc9;
  --md-sys-color-primary: #6df1df;
  --md-sys-color-primary-dim: #7afeeb;
  --md-sys-color-on-primary: #002b26;
  --md-sys-color-primary-container: #e2fff8;
  --md-sys-color-on-primary-container: #006056;
  --md-sys-color-inverse-primary: #005249;
  --md-sys-color-primary-fixed: #74f8e5;
  --md-sys-color-primary-fixed-dim: #53dbc9;
  --md-sys-color-on-primary-fixed: #001512;
  --md-sys-color-on-primary-fixed-variant: #003e37;
  --md-sys-color-secondary: #c6e2dc;
  --md-sys-color-secondary-dim: #cce8e2;
  --md-sys-color-on-secondary: #112a26;
  --md-sys-color-secondary-container: #e3fff8;
  --md-sys-color-on-secondary-container: #405a55;
  --md-sys-color-secondary-fixed: #cce8e2;
  --md-sys-color-secondary-fixed-dim: #b1ccc6;
  --md-sys-color-on-secondary-fixed: #001512;
  --md-sys-color-on-secondary-fixed-variant: #223b37;
  --md-sys-color-tertiary: #c3e0fc;
  --md-sys-color-tertiary-dim: #c3e0fd;
  --md-sys-color-on-tertiary: #07283e;
  --md-sys-color-tertiary-container: #f6f9ff;
  --md-sys-color-on-tertiary-container: #3c576f;
  --md-sys-color-tertiary-fixed: #cce5ff;
  --md-sys-color-tertiary-fixed-dim: #adcae6;
  --md-sys-color-on-tertiary-fixed: #001321;
  --md-sys-color-on-tertiary-fixed-variant: #1b394f;
  --md-sys-color-error: #ffd2cc;
  --md-sys-color-error-dim: #ffc7c0;
  --md-sys-color-on-error: #540003;
  --md-sys-color-error-container: #fff7f6;
  --md-sys-color-on-error-container: #ab0b12;
}

.dark-high-contrast {
  --md-sys-color-primary-palette-key-color: #09b1a1;
  --md-sys-color-secondary-palette-key-color: #627c77;
  --md-sys-color-tertiary-palette-key-color: #5e7a93;
  --md-sys-color-neutral-palette-key-color: #777777;
  --md-sys-color-neutral-variant-palette-key-color: #777777;
  --md-sys-color-error-palette-key-color: #de3730;
  --md-sys-color-background: #131313;
  --md-sys-color-on-background: #e2e2e2;
  --md-sys-color-surface: #131313;
  --md-sys-color-surface-dim: #131313;
  --md-sys-color-surface-bright: #505050;
  --md-sys-color-surface-container-lowest: #000000;
  --md-sys-color-surface-container-low: #1f1f1f;
  --md-sys-color-surface-container: #303030;
  --md-sys-color-surface-container-high: #3b3b3b;
  --md-sys-color-surface-container-highest: #474747;
  --md-sys-color-on-surface: #ffffff;
  --md-sys-color-surface-variant: #474747;
  --md-sys-color-on-surface-variant: #ffffff;
  --md-sys-color-inverse-surface: #e2e2e2;
  --md-sys-color-inverse-on-surface: #000000;
  --md-sys-color-outline: #f0f0f0;
  --md-sys-color-outline-variant: #c2c2c2;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #53dbc9;
  --md-sys-color-primary: #74f8e5;
  --md-sys-color-primary-dim: #fefffd;
  --md-sys-color-on-primary: #000000;
  --md-sys-color-primary-container: #ffffff;
  --md-sys-color-on-primary-container: #00443d;
  --md-sys-color-inverse-primary: #005249;
  --md-sys-color-primary-fixed: #74f8e5;
  --md-sys-color-primary-fixed-dim: #53dbc9;
  --md-sys-color-on-primary-fixed: #000000;
  --md-sys-color-on-primary-fixed-variant: #001512;
  --md-sys-color-secondary: #cce8e2;
  --md-sys-color-secondary-dim: #fefffd;
  --md-sys-color-on-secondary: #000000;
  --md-sys-color-secondary-container: #ffffff;
  --md-sys-color-on-secondary-container: #27403c;
  --md-sys-color-secondary-fixed: #cce8e2;
  --md-sys-color-secondary-fixed-dim: #b1ccc6;
  --md-sys-color-on-secondary-fixed: #000000;
  --md-sys-color-on-secondary-fixed-variant: #001512;
  --md-sys-color-tertiary: #cce5ff;
  --md-sys-color-tertiary-dim: #fffeff;
  --md-sys-color-on-tertiary: #000000;
  --md-sys-color-tertiary-container: #ffffff;
  --md-sys-color-on-tertiary-container: #213e55;
  --md-sys-color-tertiary-fixed: #cce5ff;
  --md-sys-color-tertiary-fixed-dim: #adcae6;
  --md-sys-color-on-tertiary-fixed: #000000;
  --md-sys-color-on-tertiary-fixed-variant: #001321;
  --md-sys-color-error: #ffdad6;
  --md-sys-color-error-dim: #fffeff;
  --md-sys-color-on-error: #000000;
  --md-sys-color-error-container: #ffffff;
  --md-sys-color-on-error-container: #7e0007;
}

