.light {
  --md-sys-color-primary-palette-key-color: #3c8278;
  --md-sys-color-secondary-palette-key-color: #627c77;
  --md-sys-color-tertiary-palette-key-color: #4d7e91;
  --md-sys-color-neutral-palette-key-color: #737876;
  --md-sys-color-neutral-variant-palette-key-color: #6e7976;
  --md-sys-color-error-palette-key-color: #c84f4c;
  --md-sys-color-background: #f6faf8;
  --md-sys-color-on-background: #2a3432;
  --md-sys-color-surface: #f6faf8;
  --md-sys-color-surface-dim: #d1dcd9;
  --md-sys-color-surface-bright: #f0fcf8;
  --md-sys-color-surface-container-lowest: #ffffff;
  --md-sys-color-surface-container-low: #eef5f2;
  --md-sys-color-surface-container: #e7f0ed;
  --md-sys-color-surface-container-high: #e1eae7;
  --md-sys-color-surface-container-highest: #dae5e1;
  --md-sys-color-on-surface: #2a3432;
  --md-sys-color-surface-variant: #dae5e1;
  --md-sys-color-on-surface-variant: #56615f;
  --md-sys-color-inverse-surface: #0a0f0e;
  --md-sys-color-inverse-on-surface: #999e9c;
  --md-sys-color-outline: #727d7a;
  --md-sys-color-outline-variant: #a9b4b1;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #1f6a61;
  --md-sys-color-primary: #1f6a61;
  --md-sys-color-primary-dim: #0a5e55;
  --md-sys-color-on-primary: #e2fff9;
  --md-sys-color-primary-container: #a9f0e4;
  --md-sys-color-on-primary-container: #075c53;
  --md-sys-color-inverse-primary: #b4fcef;
  --md-sys-color-primary-fixed: #a9f0e4;
  --md-sys-color-primary-fixed-dim: #9be2d6;
  --md-sys-color-on-primary-fixed: #004841;
  --md-sys-color-on-primary-fixed-variant: #1a665d;
  --md-sys-color-secondary: #4b645f;
  --md-sys-color-secondary-dim: #3f5853;
  --md-sys-color-on-secondary: #e3fff9;
  --md-sys-color-secondary-container: #cce8e2;
  --md-sys-color-on-secondary-container: #3d5752;
  --md-sys-color-secondary-fixed: #cce8e2;
  --md-sys-color-secondary-fixed-dim: #bedad4;
  --md-sys-color-on-secondary-fixed: #2b4440;
  --md-sys-color-on-secondary-fixed-variant: #47605c;
  --md-sys-color-tertiary: #336578;
  --md-sys-color-tertiary-dim: #26596b;
  --md-sys-color-on-tertiary: #f2faff;
  --md-sys-color-tertiary-container: #b5e7fd;
  --md-sys-color-on-tertiary-container: #225668;
  --md-sys-color-tertiary-fixed: #b5e7fd;
  --md-sys-color-tertiary-fixed-dim: #a8d9ee;
  --md-sys-color-on-tertiary-fixed: #064355;
  --md-sys-color-on-tertiary-fixed-variant: #2e6072;
  --md-sys-color-error: #a83836;
  --md-sys-color-error-dim: #67040d;
  --md-sys-color-on-error: #fff7f6;
  --md-sys-color-error-container: #fa746f;
  --md-sys-color-on-error-container: #6e0a12;
}

.light-medium-contrast {
  --md-sys-color-primary-palette-key-color: #3c8278;
  --md-sys-color-secondary-palette-key-color: #627c77;
  --md-sys-color-tertiary-palette-key-color: #4d7e91;
  --md-sys-color-neutral-palette-key-color: #737876;
  --md-sys-color-neutral-variant-palette-key-color: #6e7976;
  --md-sys-color-error-palette-key-color: #c84f4c;
  --md-sys-color-background: #f6faf8;
  --md-sys-color-on-background: #1c2624;
  --md-sys-color-surface: #f6faf8;
  --md-sys-color-surface-dim: #d1dcd9;
  --md-sys-color-surface-bright: #f0fcf8;
  --md-sys-color-surface-container-lowest: #ffffff;
  --md-sys-color-surface-container-low: #eef5f2;
  --md-sys-color-surface-container: #e7f0ed;
  --md-sys-color-surface-container-high: #e1eae7;
  --md-sys-color-surface-container-highest: #dae5e1;
  --md-sys-color-on-surface: #1c2624;
  --md-sys-color-surface-variant: #dae5e1;
  --md-sys-color-on-surface-variant: #3a4543;
  --md-sys-color-inverse-surface: #0a0f0e;
  --md-sys-color-inverse-on-surface: #c1c6c4;
  --md-sys-color-outline: #56615f;
  --md-sys-color-outline-variant: #727d7a;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #004c44;
  --md-sys-color-primary: #004c44;
  --md-sys-color-primary-dim: #003f39;
  --md-sys-color-on-primary: #a0e7db;
  --md-sys-color-primary-container: #398076;
  --md-sys-color-on-primary-container: #ffffff;
  --md-sys-color-inverse-primary: #b4fcef;
  --md-sys-color-primary-fixed: #398076;
  --md-sys-color-primary-fixed-dim: #2b736a;
  --md-sys-color-on-primary-fixed: #ffffff;
  --md-sys-color-on-primary-fixed-variant: #ffffff;
  --md-sys-color-secondary: #2f4743;
  --md-sys-color-secondary-dim: #233c38;
  --md-sys-color-on-secondary: #c4dfd9;
  --md-sys-color-secondary-container: #607a75;
  --md-sys-color-on-secondary-container: #ffffff;
  --md-sys-color-secondary-fixed: #607a75;
  --md-sys-color-secondary-fixed-dim: #546d68;
  --md-sys-color-on-secondary-fixed: #ffffff;
  --md-sys-color-on-secondary-fixed-variant: #ffffff;
  --md-sys-color-tertiary: #10495a;
  --md-sys-color-tertiary-dim: #003d4e;
  --md-sys-color-on-tertiary: #afe1f7;
  --md-sys-color-tertiary-container: #4a7b8e;
  --md-sys-color-on-tertiary-container: #ffffff;
  --md-sys-color-tertiary-fixed: #4a7b8e;
  --md-sys-color-tertiary-fixed-dim: #3d6e81;
  --md-sys-color-on-tertiary-fixed: #ffffff;
  --md-sys-color-on-tertiary-fixed-variant: #ffffff;
  --md-sys-color-error: #811b1d;
  --md-sys-color-error-dim: #67040d;
  --md-sys-color-on-error: #ffceca;
  --md-sys-color-error-container: #c54d4a;
  --md-sys-color-on-error-container: #ffffff;
}

.light-high-contrast {
  --md-sys-color-primary-palette-key-color: #3c8278;
  --md-sys-color-secondary-palette-key-color: #627c77;
  --md-sys-color-tertiary-palette-key-color: #4d7e91;
  --md-sys-color-neutral-palette-key-color: #737876;
  --md-sys-color-neutral-variant-palette-key-color: #6e7976;
  --md-sys-color-error-palette-key-color: #c84f4c;
  --md-sys-color-background: #f6faf8;
  --md-sys-color-on-background: #000000;
  --md-sys-color-surface: #f6faf8;
  --md-sys-color-surface-dim: #d1dcd9;
  --md-sys-color-surface-bright: #f0fcf8;
  --md-sys-color-surface-container-lowest: #ffffff;
  --md-sys-color-surface-container-low: #eef5f2;
  --md-sys-color-surface-container: #e7f0ed;
  --md-sys-color-surface-container-high: #e1eae7;
  --md-sys-color-surface-container-highest: #dae5e1;
  --md-sys-color-on-surface: #000000;
  --md-sys-color-surface-variant: #dae5e1;
  --md-sys-color-on-surface-variant: #1c2624;
  --md-sys-color-inverse-surface: #0a0f0e;
  --md-sys-color-inverse-on-surface: #ffffff;
  --md-sys-color-outline: #3a4543;
  --md-sys-color-outline-variant: #56615f;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #002925;
  --md-sys-color-primary: #002925;
  --md-sys-color-primary-dim: #001e1a;
  --md-sys-color-on-primary: #a1e7db;
  --md-sys-color-primary-container: #1f6a61;
  --md-sys-color-on-primary-container: #ffffff;
  --md-sys-color-inverse-primary: #b4fcef;
  --md-sys-color-primary-fixed: #1f6a61;
  --md-sys-color-primary-fixed-dim: #0a5e55;
  --md-sys-color-on-primary-fixed: #ffffff;
  --md-sys-color-on-primary-fixed-variant: #ffffff;
  --md-sys-color-secondary: #0f2824;
  --md-sys-color-secondary-dim: #041e1a;
  --md-sys-color-on-secondary: #c4e0da;
  --md-sys-color-secondary-container: #4b645f;
  --md-sys-color-on-secondary-container: #ffffff;
  --md-sys-color-secondary-fixed: #4b645f;
  --md-sys-color-secondary-fixed-dim: #3f5853;
  --md-sys-color-on-secondary-fixed: #ffffff;
  --md-sys-color-on-secondary-fixed-variant: #ffffff;
  --md-sys-color-tertiary: #002834;
  --md-sys-color-tertiary-dim: #001d26;
  --md-sys-color-on-tertiary: #b0e1f7;
  --md-sys-color-tertiary-container: #336578;
  --md-sys-color-on-tertiary-container: #ffffff;
  --md-sys-color-tertiary-fixed: #336578;
  --md-sys-color-tertiary-fixed-dim: #26596b;
  --md-sys-color-on-tertiary-fixed: #ffffff;
  --md-sys-color-on-tertiary-fixed-variant: #ffffff;
  --md-sys-color-error: #510007;
  --md-sys-color-error-dim: #3d0004;
  --md-sys-color-on-error: #ffcfcb;
  --md-sys-color-error-container: #a83836;
  --md-sys-color-on-error-container: #ffffff;
}

.dark {
  --md-sys-color-primary-palette-key-color: #4d8078;
  --md-sys-color-secondary-palette-key-color: #627c77;
  --md-sys-color-tertiary-palette-key-color: #4d7e91;
  --md-sys-color-neutral-palette-key-color: #737876;
  --md-sys-color-neutral-variant-palette-key-color: #6e7976;
  --md-sys-color-error-palette-key-color: #c84f4c;
  --md-sys-color-background: #0a0f0e;
  --md-sys-color-on-background: #dce8e4;
  --md-sys-color-surface: #0a0f0e;
  --md-sys-color-surface-dim: #0a0f0e;
  --md-sys-color-surface-bright: #282d2c;
  --md-sys-color-surface-container-lowest: #000000;
  --md-sys-color-surface-container-low: #0e1513;
  --md-sys-color-surface-container: #131b1a;
  --md-sys-color-surface-container-high: #192120;
  --md-sys-color-surface-container-highest: #1e2826;
  --md-sys-color-on-surface: #dce8e4;
  --md-sys-color-surface-variant: #1e2826;
  --md-sys-color-on-surface-variant: #a2adaa;
  --md-sys-color-inverse-surface: #f6faf8;
  --md-sys-color-inverse-on-surface: #515655;
  --md-sys-color-outline: #6d7875;
  --md-sys-color-outline-variant: #3f4a48;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #9cd1c7;
  --md-sys-color-primary: #9cd1c7;
  --md-sys-color-primary-dim: #8fc3ba;
  --md-sys-color-on-primary: #104841;
  --md-sys-color-primary-container: #275b53;
  --md-sys-color-on-primary-container: #b8eee4;
  --md-sys-color-inverse-primary: #356860;
  --md-sys-color-primary-fixed: #b8ede3;
  --md-sys-color-primary-fixed-dim: #aadfd5;
  --md-sys-color-on-primary-fixed: #0f4740;
  --md-sys-color-on-primary-fixed-variant: #31645d;
  --md-sys-color-secondary: #b1ccc6;
  --md-sys-color-secondary-dim: #a3beb9;
  --md-sys-color-on-secondary: #2c4541;
  --md-sys-color-secondary-container: #27403c;
  --md-sys-color-on-secondary-container: #aac5bf;
  --md-sys-color-secondary-fixed: #cce8e2;
  --md-sys-color-secondary-fixed-dim: #bedad4;
  --md-sys-color-on-secondary-fixed: #2b4440;
  --md-sys-color-on-secondary-fixed-variant: #47605c;
  --md-sys-color-tertiary: #d7f2ff;
  --md-sys-color-tertiary-dim: #b5e7fd;
  --md-sys-color-on-tertiary: #2c5f71;
  --md-sys-color-tertiary-container: #b5e7fd;
  --md-sys-color-on-tertiary-container: #225668;
  --md-sys-color-tertiary-fixed: #b5e7fd;
  --md-sys-color-tertiary-fixed-dim: #a8d9ee;
  --md-sys-color-on-tertiary-fixed: #064355;
  --md-sys-color-on-tertiary-fixed-variant: #2e6072;
  --md-sys-color-error: #fa746f;
  --md-sys-color-error-dim: #c54d4a;
  --md-sys-color-on-error: #490006;
  --md-sys-color-error-container: #871f21;
  --md-sys-color-on-error-container: #ff9993;
}

.dark-medium-contrast {
  --md-sys-color-primary-palette-key-color: #4d8078;
  --md-sys-color-secondary-palette-key-color: #627c77;
  --md-sys-color-tertiary-palette-key-color: #4d7e91;
  --md-sys-color-neutral-palette-key-color: #737876;
  --md-sys-color-neutral-variant-palette-key-color: #6e7976;
  --md-sys-color-error-palette-key-color: #c84f4c;
  --md-sys-color-background: #0a0f0e;
  --md-sys-color-on-background: #ffffff;
  --md-sys-color-surface: #0a0f0e;
  --md-sys-color-surface-dim: #0a0f0e;
  --md-sys-color-surface-bright: #282d2c;
  --md-sys-color-surface-container-lowest: #000000;
  --md-sys-color-surface-container-low: #0e1513;
  --md-sys-color-surface-container: #131b1a;
  --md-sys-color-surface-container-high: #192120;
  --md-sys-color-surface-container-highest: #1e2826;
  --md-sys-color-on-surface: #ffffff;
  --md-sys-color-surface-variant: #1e2826;
  --md-sys-color-on-surface-variant: #b0bbb8;
  --md-sys-color-inverse-surface: #f6faf8;
  --md-sys-color-inverse-on-surface: #343938;
  --md-sys-color-outline: #8b9693;
  --md-sys-color-outline-variant: #6d7875;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #9cd1c7;
  --md-sys-color-primary: #9cd1c7;
  --md-sys-color-primary-dim: #8fc3ba;
  --md-sys-color-on-primary: #003e37;
  --md-sys-color-primary-container: #4b7e76;
  --md-sys-color-on-primary-container: #ffffff;
  --md-sys-color-inverse-primary: #2a5d56;
  --md-sys-color-primary-fixed: #b8ede3;
  --md-sys-color-primary-fixed-dim: #aadfd5;
  --md-sys-color-on-primary-fixed: #002420;
  --md-sys-color-on-primary-fixed-variant: #0f4740;
  --md-sys-color-secondary: #b1ccc6;
  --md-sys-color-secondary-dim: #a3beb9;
  --md-sys-color-on-secondary: #223b37;
  --md-sys-color-secondary-container: #607a75;
  --md-sys-color-on-secondary-container: #ffffff;
  --md-sys-color-secondary-fixed: #cce8e2;
  --md-sys-color-secondary-fixed-dim: #bedad4;
  --md-sys-color-on-secondary-fixed: #092320;
  --md-sys-color-on-secondary-fixed-variant: #2b4440;
  --md-sys-color-tertiary: #d7f2ff;
  --md-sys-color-tertiary-dim: #b5e7fd;
  --md-sys-color-on-tertiary: #205567;
  --md-sys-color-tertiary-container: #b5e7fd;
  --md-sys-color-on-tertiary-container: #154c5e;
  --md-sys-color-tertiary-fixed: #b5e7fd;
  --md-sys-color-tertiary-fixed-dim: #a8d9ee;
  --md-sys-color-on-tertiary-fixed: #00202b;
  --md-sys-color-on-tertiary-fixed-variant: #064355;
  --md-sys-color-error: #ff9f99;
  --md-sys-color-error-dim: #ff8882;
  --md-sys-color-on-error: #60000a;
  --md-sys-color-error-container: #c54d4a;
  --md-sys-color-on-error-container: #ffffff;
}

.dark-high-contrast {
  --md-sys-color-primary-palette-key-color: #4d8078;
  --md-sys-color-secondary-palette-key-color: #627c77;
  --md-sys-color-tertiary-palette-key-color: #4d7e91;
  --md-sys-color-neutral-palette-key-color: #737876;
  --md-sys-color-neutral-variant-palette-key-color: #6e7976;
  --md-sys-color-error-palette-key-color: #c84f4c;
  --md-sys-color-background: #0a0f0e;
  --md-sys-color-on-background: #ffffff;
  --md-sys-color-surface: #0a0f0e;
  --md-sys-color-surface-dim: #0a0f0e;
  --md-sys-color-surface-bright: #282d2c;
  --md-sys-color-surface-container-lowest: #000000;
  --md-sys-color-surface-container-low: #0e1513;
  --md-sys-color-surface-container: #131b1a;
  --md-sys-color-surface-container-high: #192120;
  --md-sys-color-surface-container-highest: #1e2826;
  --md-sys-color-on-surface: #ffffff;
  --md-sys-color-surface-variant: #1e2826;
  --md-sys-color-on-surface-variant: #dce8e4;
  --md-sys-color-inverse-surface: #f6faf8;
  --md-sys-color-inverse-on-surface: #000000;
  --md-sys-color-outline: #b0bbb8;
  --md-sys-color-outline-variant: #8b9693;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #bbf0e6;
  --md-sys-color-primary: #bbf0e6;
  --md-sys-color-primary-dim: #ade2d8;
  --md-sys-color-on-primary: #00322d;
  --md-sys-color-primary-container: #74a89f;
  --md-sys-color-on-primary-container: #000000;
  --md-sys-color-inverse-primary: #034039;
  --md-sys-color-primary-fixed: #b8ede3;
  --md-sys-color-primary-fixed-dim: #aadfd5;
  --md-sys-color-on-primary-fixed: #000000;
  --md-sys-color-on-primary-fixed-variant: #002420;
  --md-sys-color-secondary: #cfebe5;
  --md-sys-color-secondary-dim: #c1ddd7;
  --md-sys-color-on-secondary: #17302c;
  --md-sys-color-secondary-container: #89a39e;
  --md-sys-color-on-secondary-container: #000000;
  --md-sys-color-secondary-fixed: #cce8e2;
  --md-sys-color-secondary-fixed-dim: #bedad4;
  --md-sys-color-on-secondary-fixed: #000000;
  --md-sys-color-on-secondary-fixed-variant: #092320;
  --md-sys-color-tertiary: #d7f2ff;
  --md-sys-color-tertiary-dim: #b5e7fd;
  --md-sys-color-on-tertiary: #003646;
  --md-sys-color-tertiary-container: #b5e7fd;
  --md-sys-color-on-tertiary-container: #002c39;
  --md-sys-color-tertiary-fixed: #b5e7fd;
  --md-sys-color-tertiary-fixed-dim: #a8d9ee;
  --md-sys-color-on-tertiary-fixed: #000000;
  --md-sys-color-on-tertiary-fixed-variant: #00202b;
  --md-sys-color-error: #ffdedb;
  --md-sys-color-error-dim: #ffc7c3;
  --md-sys-color-on-error: #60000a;
  --md-sys-color-error-container: #fa746f;
  --md-sys-color-on-error-container: #000000;
}

