.light {
  --md-sys-color-primary-palette-key-color: #0ee4d0;
  --md-sys-color-secondary-palette-key-color: #288483;
  --md-sys-color-tertiary-palette-key-color: #06b7f7;
  --md-sys-color-neutral-palette-key-color: #5a7d7c;
  --md-sys-color-neutral-variant-palette-key-color: #4d807f;
  --md-sys-color-error-palette-key-color: #c84f4c;
  --md-sys-color-background: #000000;
  --md-sys-color-on-background: #ffffff;
  --md-sys-color-surface: #000000;
  --md-sys-color-surface-dim: #001111;
  --md-sys-color-surface-bright: #003232;
  --md-sys-color-surface-container-lowest: #000000;
  --md-sys-color-surface-container-low: #032b2a;
  --md-sys-color-surface-container: #113635;
  --md-sys-color-surface-container-high: #1d4140;
  --md-sys-color-surface-container-highest: #002b2b;
  --md-sys-color-on-surface: #ccf2f1;
  --md-sys-color-surface-variant: #002b2b;
  --md-sys-color-on-surface-variant: #b0d5d4;
  --md-sys-color-inverse-surface: #e3fffd;
  --md-sys-color-inverse-on-surface: #385b5a;
  --md-sys-color-outline: #88adab;
  --md-sys-color-outline-variant: #698c8b;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #3bf6e1;
  --md-sys-color-primary: #3bf6e1;
  --md-sys-color-primary-dim: #1be7d3;
  --md-sys-color-on-primary: #00443d;
  --md-sys-color-primary-container: #005048;
  --md-sys-color-on-primary-container: #41f9e4;
  --md-sys-color-inverse-primary: #006057;
  --md-sys-color-primary-fixed: #005048;
  --md-sys-color-primary-fixed-dim: #00443d;
  --md-sys-color-on-primary-fixed: #18e6d2;
  --md-sys-color-on-primary-fixed-variant: #00baa9;
  --md-sys-color-secondary: #9cf1ef;
  --md-sys-color-secondary-dim: #8ee3e1;
  --md-sys-color-on-secondary: #004747;
  --md-sys-color-secondary-container: #00504f;
  --md-sys-color-on-secondary-container: #9aefed;
  --md-sys-color-secondary-fixed: #00504f;
  --md-sys-color-secondary-fixed-dim: #004342;
  --md-sys-color-on-secondary-fixed: #88dcda;
  --md-sys-color-on-secondary-fixed-variant: #5eb3b2;
  --md-sys-color-tertiary: #93d6ff;
  --md-sys-color-tertiary-dim: #1ebdfd;
  --md-sys-color-on-tertiary: #00293a;
  --md-sys-color-tertiary-container: #00a9e5;
  --md-sys-color-on-tertiary-container: #00121d;
  --md-sys-color-tertiary-fixed: #00a9e5;
  --md-sys-color-tertiary-fixed-dim: #009bd2;
  --md-sys-color-on-tertiary-fixed: #000000;
  --md-sys-color-on-tertiary-fixed-variant: #002d40;
  --md-sys-color-error: #ffbeb9;
  --md-sys-color-error-dim: #ff7f79;
  --md-sys-color-on-error: #3f0004;
  --md-sys-color-error-container: #871f21;
  --md-sys-color-on-error-container: #ffd7d4;
}

.light-medium-contrast {
  --md-sys-color-primary-palette-key-color: #0ee4d0;
  --md-sys-color-secondary-palette-key-color: #288483;
  --md-sys-color-tertiary-palette-key-color: #06b7f7;
  --md-sys-color-neutral-palette-key-color: #5a7d7c;
  --md-sys-color-neutral-variant-palette-key-color: #4d807f;
  --md-sys-color-error-palette-key-color: #c84f4c;
  --md-sys-color-background: #000000;
  --md-sys-color-on-background: #ffffff;
  --md-sys-color-surface: #000000;
  --md-sys-color-surface-dim: #001111;
  --md-sys-color-surface-bright: #003232;
  --md-sys-color-surface-container-lowest: #000000;
  --md-sys-color-surface-container-low: #032b2a;
  --md-sys-color-surface-container: #113635;
  --md-sys-color-surface-container-high: #1d4140;
  --md-sys-color-surface-container-highest: #002b2b;
  --md-sys-color-on-surface: #fdfffe;
  --md-sys-color-surface-variant: #002b2b;
  --md-sys-color-on-surface-variant: #fdfffe;
  --md-sys-color-inverse-surface: #e3fffd;
  --md-sys-color-inverse-on-surface: #1a3e3d;
  --md-sys-color-outline: #b0d5d4;
  --md-sys-color-outline-variant: #88adab;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #fefffd;
  --md-sys-color-primary: #fefffd;
  --md-sys-color-primary-dim: #45fce6;
  --md-sys-color-on-primary: #00302b;
  --md-sys-color-primary-container: #005048;
  --md-sys-color-on-primary-container: #ffffff;
  --md-sys-color-inverse-primary: #004039;
  --md-sys-color-primary-fixed: #005048;
  --md-sys-color-primary-fixed-dim: #00443d;
  --md-sys-color-on-primary-fixed: #fefffd;
  --md-sys-color-on-primary-fixed-variant: #18e6d2;
  --md-sys-color-secondary: #fdfffe;
  --md-sys-color-secondary-dim: #9cf1ef;
  --md-sys-color-on-secondary: #00302f;
  --md-sys-color-secondary-container: #00504f;
  --md-sys-color-on-secondary-container: #ffffff;
  --md-sys-color-secondary-fixed: #00504f;
  --md-sys-color-secondary-fixed-dim: #004342;
  --md-sys-color-on-secondary-fixed: #fdfffe;
  --md-sys-color-on-secondary-fixed-variant: #88dcda;
  --md-sys-color-tertiary: #fffeff;
  --md-sys-color-tertiary-dim: #93d6ff;
  --md-sys-color-on-tertiary: #001c2a;
  --md-sys-color-tertiary-container: #1ebdfd;
  --md-sys-color-on-tertiary-container: #000000;
  --md-sys-color-tertiary-fixed: #00a9e5;
  --md-sys-color-tertiary-fixed-dim: #009bd2;
  --md-sys-color-on-tertiary-fixed: #000000;
  --md-sys-color-on-tertiary-fixed-variant: #000000;
  --md-sys-color-error: #fffeff;
  --md-sys-color-error-dim: #ffbeb9;
  --md-sys-color-on-error: #3d0004;
  --md-sys-color-error-container: #871f21;
  --md-sys-color-on-error-container: #ffffff;
}

.light-high-contrast {
  --md-sys-color-primary-palette-key-color: #0ee4d0;
  --md-sys-color-secondary-palette-key-color: #288483;
  --md-sys-color-tertiary-palette-key-color: #06b7f7;
  --md-sys-color-neutral-palette-key-color: #5a7d7c;
  --md-sys-color-neutral-variant-palette-key-color: #4d807f;
  --md-sys-color-error-palette-key-color: #c84f4c;
  --md-sys-color-background: #000000;
  --md-sys-color-on-background: #ffffff;
  --md-sys-color-surface: #000000;
  --md-sys-color-surface-dim: #001111;
  --md-sys-color-surface-bright: #003232;
  --md-sys-color-surface-container-lowest: #000000;
  --md-sys-color-surface-container-low: #032b2a;
  --md-sys-color-surface-container: #113635;
  --md-sys-color-surface-container-high: #1d4140;
  --md-sys-color-surface-container-highest: #002b2b;
  --md-sys-color-on-surface: #ffffff;
  --md-sys-color-surface-variant: #002b2b;
  --md-sys-color-on-surface-variant: #ffffff;
  --md-sys-color-inverse-surface: #e3fffd;
  --md-sys-color-inverse-on-surface: #000000;
  --md-sys-color-outline: #fdfffe;
  --md-sys-color-outline-variant: #b0d5d4;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #ffffff;
  --md-sys-color-primary: #ffffff;
  --md-sys-color-primary-dim: #fefffd;
  --md-sys-color-on-primary: #000000;
  --md-sys-color-primary-container: #005048;
  --md-sys-color-on-primary-container: #ffffff;
  --md-sys-color-inverse-primary: #000000;
  --md-sys-color-primary-fixed: #005048;
  --md-sys-color-primary-fixed-dim: #00443d;
  --md-sys-color-on-primary-fixed: #ffffff;
  --md-sys-color-on-primary-fixed-variant: #fefffd;
  --md-sys-color-secondary: #ffffff;
  --md-sys-color-secondary-dim: #fdfffe;
  --md-sys-color-on-secondary: #000000;
  --md-sys-color-secondary-container: #00504f;
  --md-sys-color-on-secondary-container: #ffffff;
  --md-sys-color-secondary-fixed: #00504f;
  --md-sys-color-secondary-fixed-dim: #004342;
  --md-sys-color-on-secondary-fixed: #ffffff;
  --md-sys-color-on-secondary-fixed-variant: #fdfffe;
  --md-sys-color-tertiary: #ffffff;
  --md-sys-color-tertiary-dim: #fffeff;
  --md-sys-color-on-tertiary: #000000;
  --md-sys-color-tertiary-container: #1ebdfd;
  --md-sys-color-on-tertiary-container: #000000;
  --md-sys-color-tertiary-fixed: #00a9e5;
  --md-sys-color-tertiary-fixed-dim: #009bd2;
  --md-sys-color-on-tertiary-fixed: #000000;
  --md-sys-color-on-tertiary-fixed-variant: #000000;
  --md-sys-color-error: #ffffff;
  --md-sys-color-error-dim: #fffeff;
  --md-sys-color-on-error: #000000;
  --md-sys-color-error-container: #871f21;
  --md-sys-color-on-error-container: #ffffff;
}

.dark {
  --md-sys-color-primary-palette-key-color: #0ee4d0;
  --md-sys-color-secondary-palette-key-color: #288483;
  --md-sys-color-tertiary-palette-key-color: #06b7f7;
  --md-sys-color-neutral-palette-key-color: #5a7d7c;
  --md-sys-color-neutral-variant-palette-key-color: #4d807f;
  --md-sys-color-error-palette-key-color: #c84f4c;
  --md-sys-color-background: #000000;
  --md-sys-color-on-background: #ffffff;
  --md-sys-color-surface: #000000;
  --md-sys-color-surface-dim: #001111;
  --md-sys-color-surface-bright: #003232;
  --md-sys-color-surface-container-lowest: #000000;
  --md-sys-color-surface-container-low: #032b2a;
  --md-sys-color-surface-container: #113635;
  --md-sys-color-surface-container-high: #1d4140;
  --md-sys-color-surface-container-highest: #002b2b;
  --md-sys-color-on-surface: #ccf2f1;
  --md-sys-color-surface-variant: #002b2b;
  --md-sys-color-on-surface-variant: #b0d5d4;
  --md-sys-color-inverse-surface: #e3fffd;
  --md-sys-color-inverse-on-surface: #385b5a;
  --md-sys-color-outline: #88adab;
  --md-sys-color-outline-variant: #698c8b;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #3bf6e1;
  --md-sys-color-primary: #3bf6e1;
  --md-sys-color-primary-dim: #1be7d3;
  --md-sys-color-on-primary: #00443d;
  --md-sys-color-primary-container: #005048;
  --md-sys-color-on-primary-container: #41f9e4;
  --md-sys-color-inverse-primary: #006057;
  --md-sys-color-primary-fixed: #005048;
  --md-sys-color-primary-fixed-dim: #00443d;
  --md-sys-color-on-primary-fixed: #18e6d2;
  --md-sys-color-on-primary-fixed-variant: #00baa9;
  --md-sys-color-secondary: #9cf1ef;
  --md-sys-color-secondary-dim: #8ee3e1;
  --md-sys-color-on-secondary: #004747;
  --md-sys-color-secondary-container: #00504f;
  --md-sys-color-on-secondary-container: #9aefed;
  --md-sys-color-secondary-fixed: #00504f;
  --md-sys-color-secondary-fixed-dim: #004342;
  --md-sys-color-on-secondary-fixed: #88dcda;
  --md-sys-color-on-secondary-fixed-variant: #5eb3b2;
  --md-sys-color-tertiary: #93d6ff;
  --md-sys-color-tertiary-dim: #1ebdfd;
  --md-sys-color-on-tertiary: #00293a;
  --md-sys-color-tertiary-container: #00a9e5;
  --md-sys-color-on-tertiary-container: #00121d;
  --md-sys-color-tertiary-fixed: #00a9e5;
  --md-sys-color-tertiary-fixed-dim: #009bd2;
  --md-sys-color-on-tertiary-fixed: #000000;
  --md-sys-color-on-tertiary-fixed-variant: #002d40;
  --md-sys-color-error: #ffbeb9;
  --md-sys-color-error-dim: #ff7f79;
  --md-sys-color-on-error: #3f0004;
  --md-sys-color-error-container: #871f21;
  --md-sys-color-on-error-container: #ffd7d4;
}

.dark-medium-contrast {
  --md-sys-color-primary-palette-key-color: #0ee4d0;
  --md-sys-color-secondary-palette-key-color: #288483;
  --md-sys-color-tertiary-palette-key-color: #06b7f7;
  --md-sys-color-neutral-palette-key-color: #5a7d7c;
  --md-sys-color-neutral-variant-palette-key-color: #4d807f;
  --md-sys-color-error-palette-key-color: #c84f4c;
  --md-sys-color-background: #000000;
  --md-sys-color-on-background: #ffffff;
  --md-sys-color-surface: #000000;
  --md-sys-color-surface-dim: #001111;
  --md-sys-color-surface-bright: #003232;
  --md-sys-color-surface-container-lowest: #000000;
  --md-sys-color-surface-container-low: #032b2a;
  --md-sys-color-surface-container: #113635;
  --md-sys-color-surface-container-high: #1d4140;
  --md-sys-color-surface-container-highest: #002b2b;
  --md-sys-color-on-surface: #fdfffe;
  --md-sys-color-surface-variant: #002b2b;
  --md-sys-color-on-surface-variant: #fdfffe;
  --md-sys-color-inverse-surface: #e3fffd;
  --md-sys-color-inverse-on-surface: #1a3e3d;
  --md-sys-color-outline: #b0d5d4;
  --md-sys-color-outline-variant: #88adab;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #fefffd;
  --md-sys-color-primary: #fefffd;
  --md-sys-color-primary-dim: #45fce6;
  --md-sys-color-on-primary: #00302b;
  --md-sys-color-primary-container: #005048;
  --md-sys-color-on-primary-container: #ffffff;
  --md-sys-color-inverse-primary: #004039;
  --md-sys-color-primary-fixed: #005048;
  --md-sys-color-primary-fixed-dim: #00443d;
  --md-sys-color-on-primary-fixed: #fefffd;
  --md-sys-color-on-primary-fixed-variant: #18e6d2;
  --md-sys-color-secondary: #fdfffe;
  --md-sys-color-secondary-dim: #9cf1ef;
  --md-sys-color-on-secondary: #00302f;
  --md-sys-color-secondary-container: #00504f;
  --md-sys-color-on-secondary-container: #ffffff;
  --md-sys-color-secondary-fixed: #00504f;
  --md-sys-color-secondary-fixed-dim: #004342;
  --md-sys-color-on-secondary-fixed: #fdfffe;
  --md-sys-color-on-secondary-fixed-variant: #88dcda;
  --md-sys-color-tertiary: #fffeff;
  --md-sys-color-tertiary-dim: #93d6ff;
  --md-sys-color-on-tertiary: #001c2a;
  --md-sys-color-tertiary-container: #1ebdfd;
  --md-sys-color-on-tertiary-container: #000000;
  --md-sys-color-tertiary-fixed: #00a9e5;
  --md-sys-color-tertiary-fixed-dim: #009bd2;
  --md-sys-color-on-tertiary-fixed: #000000;
  --md-sys-color-on-tertiary-fixed-variant: #000000;
  --md-sys-color-error: #fffeff;
  --md-sys-color-error-dim: #ffbeb9;
  --md-sys-color-on-error: #3d0004;
  --md-sys-color-error-container: #871f21;
  --md-sys-color-on-error-container: #ffffff;
}

.dark-high-contrast {
  --md-sys-color-primary-palette-key-color: #0ee4d0;
  --md-sys-color-secondary-palette-key-color: #288483;
  --md-sys-color-tertiary-palette-key-color: #06b7f7;
  --md-sys-color-neutral-palette-key-color: #5a7d7c;
  --md-sys-color-neutral-variant-palette-key-color: #4d807f;
  --md-sys-color-error-palette-key-color: #c84f4c;
  --md-sys-color-background: #000000;
  --md-sys-color-on-background: #ffffff;
  --md-sys-color-surface: #000000;
  --md-sys-color-surface-dim: #001111;
  --md-sys-color-surface-bright: #003232;
  --md-sys-color-surface-container-lowest: #000000;
  --md-sys-color-surface-container-low: #032b2a;
  --md-sys-color-surface-container: #113635;
  --md-sys-color-surface-container-high: #1d4140;
  --md-sys-color-surface-container-highest: #002b2b;
  --md-sys-color-on-surface: #ffffff;
  --md-sys-color-surface-variant: #002b2b;
  --md-sys-color-on-surface-variant: #ffffff;
  --md-sys-color-inverse-surface: #e3fffd;
  --md-sys-color-inverse-on-surface: #000000;
  --md-sys-color-outline: #fdfffe;
  --md-sys-color-outline-variant: #b0d5d4;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #ffffff;
  --md-sys-color-primary: #ffffff;
  --md-sys-color-primary-dim: #fefffd;
  --md-sys-color-on-primary: #000000;
  --md-sys-color-primary-container: #005048;
  --md-sys-color-on-primary-container: #ffffff;
  --md-sys-color-inverse-primary: #000000;
  --md-sys-color-primary-fixed: #005048;
  --md-sys-color-primary-fixed-dim: #00443d;
  --md-sys-color-on-primary-fixed: #ffffff;
  --md-sys-color-on-primary-fixed-variant: #fefffd;
  --md-sys-color-secondary: #ffffff;
  --md-sys-color-secondary-dim: #fdfffe;
  --md-sys-color-on-secondary: #000000;
  --md-sys-color-secondary-container: #00504f;
  --md-sys-color-on-secondary-container: #ffffff;
  --md-sys-color-secondary-fixed: #00504f;
  --md-sys-color-secondary-fixed-dim: #004342;
  --md-sys-color-on-secondary-fixed: #ffffff;
  --md-sys-color-on-secondary-fixed-variant: #fdfffe;
  --md-sys-color-tertiary: #ffffff;
  --md-sys-color-tertiary-dim: #fffeff;
  --md-sys-color-on-tertiary: #000000;
  --md-sys-color-tertiary-container: #1ebdfd;
  --md-sys-color-on-tertiary-container: #000000;
  --md-sys-color-tertiary-fixed: #00a9e5;
  --md-sys-color-tertiary-fixed-dim: #009bd2;
  --md-sys-color-on-tertiary-fixed: #000000;
  --md-sys-color-on-tertiary-fixed-variant: #000000;
  --md-sys-color-error: #ffffff;
  --md-sys-color-error-dim: #fffeff;
  --md-sys-color-on-error: #000000;
  --md-sys-color-error-container: #871f21;
  --md-sys-color-on-error-container: #ffffff;
}

