.light {
  --md-sys-color-primary-palette-key-color: #00fde6;
  --md-sys-color-secondary-palette-key-color: #517e82;
  --md-sys-color-tertiary-palette-key-color: #3f7f92;
  --md-sys-color-neutral-palette-key-color: #6c7a77;
  --md-sys-color-neutral-variant-palette-key-color: #697b77;
  --md-sys-color-error-palette-key-color: #de3730;
  --md-sys-color-background: #eefdf8;
  --md-sys-color-on-background: #111e1c;
  --md-sys-color-surface: #eefdf8;
  --md-sys-color-surface-dim: #cfddd9;
  --md-sys-color-surface-bright: #eefdf8;
  --md-sys-color-surface-container-lowest: #ffffff;
  --md-sys-color-surface-container-low: #e8f7f3;
  --md-sys-color-surface-container: #e2f1ed;
  --md-sys-color-surface-container-high: #ddebe7;
  --md-sys-color-surface-container-highest: #d7e6e2;
  --md-sys-color-on-surface: #111e1c;
  --md-sys-color-surface-variant: #d4e7e2;
  --md-sys-color-on-surface-variant: #394a47;
  --md-sys-color-inverse-surface: #263330;
  --md-sys-color-inverse-on-surface: #e5f4f0;
  --md-sys-color-outline: #697b77;
  --md-sys-color-outline-variant: #b8cac6;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #006a60;
  --md-sys-color-primary: #006a60;
  --md-sys-color-primary-dim: #00756a;
  --md-sys-color-on-primary: #ffffff;
  --md-sys-color-primary-container: #005048;
  --md-sys-color-on-primary-container: #00cbb8;
  --md-sys-color-inverse-primary: #00deca;
  --md-sys-color-primary-fixed: #00fde7;
  --md-sys-color-primary-fixed-dim: #00deca;
  --md-sys-color-on-primary-fixed: #00201c;
  --md-sys-color-on-primary-fixed-variant: #005048;
  --md-sys-color-secondary: #386569;
  --md-sys-color-secondary-dim: #426f73;
  --md-sys-color-on-secondary: #ffffff;
  --md-sys-color-secondary-container: #1e4d51;
  --md-sys-color-on-secondary-container: #8fbdc1;
  --md-sys-color-secondary-fixed: #bcebef;
  --md-sys-color-secondary-fixed-dim: #a0cfd3;
  --md-sys-color-on-secondary-fixed: #002022;
  --md-sys-color-on-secondary-fixed-variant: #1e4d51;
  --md-sys-color-tertiary: #216679;
  --md-sys-color-tertiary-dim: #2d7083;
  --md-sys-color-on-tertiary: #ffffff;
  --md-sys-color-tertiary-container: #004e5f;
  --md-sys-color-on-tertiary-container: #80bed3;
  --md-sys-color-tertiary-fixed: #b2ebff;
  --md-sys-color-tertiary-fixed-dim: #91d0e5;
  --md-sys-color-on-tertiary-fixed: #001f27;
  --md-sys-color-on-tertiary-fixed-variant: #004e5f;
  --md-sys-color-error: #ba1a1a;
  --md-sys-color-error-dim: #ac0c12;
  --md-sys-color-on-error: #ffffff;
  --md-sys-color-error-container: #93000a;
  --md-sys-color-on-error-container: #ff9a8e;
}

.light-medium-contrast {
  --md-sys-color-primary-palette-key-color: #00fde6;
  --md-sys-color-secondary-palette-key-color: #517e82;
  --md-sys-color-tertiary-palette-key-color: #3f7f92;
  --md-sys-color-neutral-palette-key-color: #6c7a77;
  --md-sys-color-neutral-variant-palette-key-color: #697b77;
  --md-sys-color-error-palette-key-color: #de3730;
  --md-sys-color-background: #eefdf8;
  --md-sys-color-on-background: #111e1c;
  --md-sys-color-surface: #eefdf8;
  --md-sys-color-surface-dim: #bbcac6;
  --md-sys-color-surface-bright: #eefdf8;
  --md-sys-color-surface-container-lowest: #ffffff;
  --md-sys-color-surface-container-low: #e8f7f3;
  --md-sys-color-surface-container: #ddebe7;
  --md-sys-color-surface-container-high: #d1e0dc;
  --md-sys-color-surface-container-highest: #c6d5d1;
  --md-sys-color-on-surface: #071311;
  --md-sys-color-surface-variant: #d4e7e2;
  --md-sys-color-on-surface-variant: #293936;
  --md-sys-color-inverse-surface: #263330;
  --md-sys-color-inverse-on-surface: #e5f4f0;
  --md-sys-color-outline: #455652;
  --md-sys-color-outline-variant: #5f716d;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #006a60;
  --md-sys-color-primary: #003e37;
  --md-sys-color-primary-dim: #004e46;
  --md-sys-color-on-primary: #ffffff;
  --md-sys-color-primary-container: #002622;
  --md-sys-color-on-primary-container: #00c1af;
  --md-sys-color-inverse-primary: #00deca;
  --md-sys-color-primary-fixed: #007b6f;
  --md-sys-color-primary-fixed-dim: #006056;
  --md-sys-color-on-primary-fixed: #ffffff;
  --md-sys-color-on-primary-fixed-variant: #ffffff;
  --md-sys-color-secondary: #073c40;
  --md-sys-color-secondary-dim: #1c4b4f;
  --md-sys-color-on-secondary: #ffffff;
  --md-sys-color-secondary-container: #002528;
  --md-sys-color-on-secondary-container: #86b4b8;
  --md-sys-color-secondary-fixed: #477478;
  --md-sys-color-secondary-fixed-dim: #2e5c5f;
  --md-sys-color-on-secondary-fixed: #ffffff;
  --md-sys-color-on-secondary-fixed-variant: #ffffff;
  --md-sys-color-tertiary: #003c49;
  --md-sys-color-tertiary-dim: #004b5c;
  --md-sys-color-on-tertiary: #ffffff;
  --md-sys-color-tertiary-container: #00252e;
  --md-sys-color-on-tertiary-container: #76b5c9;
  --md-sys-color-tertiary-fixed: #347588;
  --md-sys-color-tertiary-fixed-dim: #125c6f;
  --md-sys-color-on-tertiary-fixed: #ffffff;
  --md-sys-color-on-tertiary-fixed-variant: #ffffff;
  --md-sys-color-error: #740006;
  --md-sys-color-error-dim: #8f0009;
  --md-sys-color-on-error: #ffffff;
  --md-sys-color-error-container: #4b0002;
  --md-sys-color-on-error-container: #ff8b7e;
}

.light-high-contrast {
  --md-sys-color-primary-palette-key-color: #00fde6;
  --md-sys-color-secondary-palette-key-color: #517e82;
  --md-sys-color-tertiary-palette-key-color: #3f7f92;
  --md-sys-color-neutral-palette-key-color: #6c7a77;
  --md-sys-color-neutral-variant-palette-key-color: #697b77;
  --md-sys-color-error-palette-key-color: #de3730;
  --md-sys-color-background: #eefdf8;
  --md-sys-color-on-background: #111e1c;
  --md-sys-color-surface: #eefdf8;
  --md-sys-color-surface-dim: #adbcb8;
  --md-sys-color-surface-bright: #eefdf8;
  --md-sys-color-surface-container-lowest: #ffffff;
  --md-sys-color-surface-container-low: #e5f4f0;
  --md-sys-color-surface-container: #d7e6e2;
  --md-sys-color-surface-container-high: #c9d7d4;
  --md-sys-color-surface-container-highest: #bbcac6;
  --md-sys-color-on-surface: #000000;
  --md-sys-color-surface-variant: #d4e7e2;
  --md-sys-color-on-surface-variant: #000000;
  --md-sys-color-inverse-surface: #263330;
  --md-sys-color-inverse-on-surface: #ffffff;
  --md-sys-color-outline: #1f2f2c;
  --md-sys-color-outline-variant: #3c4c49;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #006a60;
  --md-sys-color-primary: #00332d;
  --md-sys-color-primary-dim: #002420;
  --md-sys-color-on-primary: #ffffff;
  --md-sys-color-primary-container: #001c18;
  --md-sys-color-on-primary-container: #00e5d0;
  --md-sys-color-inverse-primary: #00deca;
  --md-sys-color-primary-fixed: #00534b;
  --md-sys-color-primary-fixed-dim: #003a34;
  --md-sys-color-on-primary-fixed: #ffffff;
  --md-sys-color-on-primary-fixed-variant: #ffffff;
  --md-sys-color-secondary: #003235;
  --md-sys-color-secondary-dim: #002426;
  --md-sys-color-on-secondary: #ffffff;
  --md-sys-color-secondary-container: #001b1d;
  --md-sys-color-on-secondary-container: #a6d5d9;
  --md-sys-color-secondary-fixed: #215053;
  --md-sys-color-secondary-fixed-dim: #02393c;
  --md-sys-color-on-secondary-fixed: #ffffff;
  --md-sys-color-on-secondary-fixed-variant: #ffffff;
  --md-sys-color-tertiary: #00313c;
  --md-sys-color-tertiary-dim: #00232c;
  --md-sys-color-on-tertiary: #ffffff;
  --md-sys-color-tertiary-container: #001b22;
  --md-sys-color-on-tertiary-container: #97d6eb;
  --md-sys-color-tertiary-fixed: #005062;
  --md-sys-color-tertiary-fixed-dim: #003845;
  --md-sys-color-on-tertiary-fixed: #ffffff;
  --md-sys-color-on-tertiary-fixed-variant: #ffffff;
  --md-sys-color-error: #600004;
  --md-sys-color-error-dim: #480002;
  --md-sys-color-on-error: #ffffff;
  --md-sys-color-error-container: #390001;
  --md-sys-color-on-error-container: #ffbcb4;
}

.dark {
  --md-sys-color-primary-palette-key-color: #00fde6;
  --md-sys-color-secondary-palette-key-color: #517e82;
  --md-sys-color-tertiary-palette-key-color: #3f7f92;
  --md-sys-color-neutral-palette-key-color: #6c7a77;
  --md-sys-color-neutral-variant-palette-key-color: #697b77;
  --md-sys-color-error-palette-key-color: #de3730;
  --md-sys-color-background: #091614;
  --md-sys-color-on-background: #d7e6e2;
  --md-sys-color-surface: #091614;
  --md-sys-color-surface-dim: #091614;
  --md-sys-color-surface-bright: #2f3c39;
  --md-sys-color-surface-container-lowest: #05100e;
  --md-sys-color-surface-container-low: #111e1c;
  --md-sys-color-surface-container: #152220;
  --md-sys-color-surface-container-high: #202c2a;
  --md-sys-color-surface-container-highest: #2a3735;
  --md-sys-color-on-surface: #d7e6e2;
  --md-sys-color-surface-variant: #394a47;
  --md-sys-color-on-surface-variant: #b8cac6;
  --md-sys-color-inverse-surface: #d7e6e2;
  --md-sys-color-inverse-on-surface: #263330;
  --md-sys-color-outline: #829490;
  --md-sys-color-outline-variant: #394a47;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #00deca;
  --md-sys-color-primary: #00deca;
  --md-sys-color-primary-dim: #00fde7;
  --md-sys-color-on-primary: #003731;
  --md-sys-color-primary-container: #00fde7;
  --md-sys-color-on-primary-container: #007166;
  --md-sys-color-inverse-primary: #006a60;
  --md-sys-color-primary-fixed: #00fde7;
  --md-sys-color-primary-fixed-dim: #00deca;
  --md-sys-color-on-primary-fixed: #00201c;
  --md-sys-color-on-primary-fixed-variant: #005048;
  --md-sys-color-secondary: #a0cfd3;
  --md-sys-color-secondary-dim: #bcebef;
  --md-sys-color-on-secondary: #00363a;
  --md-sys-color-secondary-container: #bcebef;
  --md-sys-color-on-secondary-container: #3e6b6f;
  --md-sys-color-secondary-fixed: #bcebef;
  --md-sys-color-secondary-fixed-dim: #a0cfd3;
  --md-sys-color-on-secondary-fixed: #002022;
  --md-sys-color-on-secondary-fixed-variant: #1e4d51;
  --md-sys-color-tertiary: #91d0e5;
  --md-sys-color-tertiary-dim: #aae9ff;
  --md-sys-color-on-tertiary: #003642;
  --md-sys-color-tertiary-container: #b2ebff;
  --md-sys-color-on-tertiary-container: #296c7f;
  --md-sys-color-tertiary-fixed: #b2ebff;
  --md-sys-color-tertiary-fixed-dim: #91d0e5;
  --md-sys-color-on-tertiary-fixed: #001f27;
  --md-sys-color-on-tertiary-fixed-variant: #004e5f;
  --md-sys-color-error: #ffb4ab;
  --md-sys-color-error-dim: #ffc7c0;
  --md-sys-color-on-error: #690005;
  --md-sys-color-error-container: #ffdad6;
  --md-sys-color-on-error-container: #c32220;
}

.dark-medium-contrast {
  --md-sys-color-primary-palette-key-color: #00fde6;
  --md-sys-color-secondary-palette-key-color: #517e82;
  --md-sys-color-tertiary-palette-key-color: #3f7f92;
  --md-sys-color-neutral-palette-key-color: #6c7a77;
  --md-sys-color-neutral-variant-palette-key-color: #697b77;
  --md-sys-color-error-palette-key-color: #de3730;
  --md-sys-color-background: #091614;
  --md-sys-color-on-background: #d7e6e2;
  --md-sys-color-surface: #091614;
  --md-sys-color-surface-dim: #091614;
  --md-sys-color-surface-bright: #3a4744;
  --md-sys-color-surface-container-lowest: #010908;
  --md-sys-color-surface-container-low: #13201e;
  --md-sys-color-surface-container: #1e2a28;
  --md-sys-color-surface-container-high: #283533;
  --md-sys-color-surface-container-highest: #33403e;
  --md-sys-color-on-surface: #ffffff;
  --md-sys-color-surface-variant: #394a47;
  --md-sys-color-on-surface-variant: #cee0dc;
  --md-sys-color-inverse-surface: #d7e6e2;
  --md-sys-color-inverse-on-surface: #202c2a;
  --md-sys-color-outline: #a3b6b1;
  --md-sys-color-outline-variant: #829490;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #00deca;
  --md-sys-color-primary: #00f7e0;
  --md-sys-color-primary-dim: #00fde7;
  --md-sys-color-on-primary: #002b26;
  --md-sys-color-primary-container: #e2fff8;
  --md-sys-color-on-primary-container: #006056;
  --md-sys-color-inverse-primary: #005249;
  --md-sys-color-primary-fixed: #00fde7;
  --md-sys-color-primary-fixed-dim: #00deca;
  --md-sys-color-on-primary-fixed: #001512;
  --md-sys-color-on-primary-fixed-variant: #003e37;
  --md-sys-color-secondary: #b6e5e9;
  --md-sys-color-secondary-dim: #bcebef;
  --md-sys-color-on-secondary: #002b2e;
  --md-sys-color-secondary-container: #e6fdff;
  --md-sys-color-on-secondary-container: #2e5c5f;
  --md-sys-color-secondary-fixed: #bcebef;
  --md-sys-color-secondary-fixed-dim: #a0cfd3;
  --md-sys-color-on-secondary-fixed: #001416;
  --md-sys-color-on-secondary-fixed-variant: #073c40;
  --md-sys-color-tertiary: #a7e6fb;
  --md-sys-color-tertiary-dim: #aae9ff;
  --md-sys-color-on-tertiary: #002a34;
  --md-sys-color-tertiary-container: #f0fbff;
  --md-sys-color-on-tertiary-container: #125c6f;
  --md-sys-color-tertiary-fixed: #b2ebff;
  --md-sys-color-tertiary-fixed-dim: #91d0e5;
  --md-sys-color-on-tertiary-fixed: #00141a;
  --md-sys-color-on-tertiary-fixed-variant: #003c49;
  --md-sys-color-error: #ffd2cc;
  --md-sys-color-error-dim: #ffc7c0;
  --md-sys-color-on-error: #540003;
  --md-sys-color-error-container: #fff7f6;
  --md-sys-color-on-error-container: #ab0b12;
}

.dark-high-contrast {
  --md-sys-color-primary-palette-key-color: #00fde6;
  --md-sys-color-secondary-palette-key-color: #517e82;
  --md-sys-color-tertiary-palette-key-color: #3f7f92;
  --md-sys-color-neutral-palette-key-color: #6c7a77;
  --md-sys-color-neutral-variant-palette-key-color: #697b77;
  --md-sys-color-error-palette-key-color: #de3730;
  --md-sys-color-background: #091614;
  --md-sys-color-on-background: #d7e6e2;
  --md-sys-color-surface: #091614;
  --md-sys-color-surface-dim: #091614;
  --md-sys-color-surface-bright: #455350;
  --md-sys-color-surface-container-lowest: #000000;
  --md-sys-color-surface-container-low: #152220;
  --md-sys-color-surface-container: #263330;
  --md-sys-color-surface-container-high: #313e3b;
  --md-sys-color-surface-container-highest: #3c4947;
  --md-sys-color-on-surface: #ffffff;
  --md-sys-color-surface-variant: #394a47;
  --md-sys-color-on-surface-variant: #ffffff;
  --md-sys-color-inverse-surface: #d7e6e2;
  --md-sys-color-inverse-on-surface: #000000;
  --md-sys-color-outline: #e1f4ef;
  --md-sys-color-outline-variant: #b4c7c2;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #00deca;
  --md-sys-color-primary: #00fde7;
  --md-sys-color-primary-dim: #fefffd;
  --md-sys-color-on-primary: #000000;
  --md-sys-color-primary-container: #ffffff;
  --md-sys-color-on-primary-container: #00443d;
  --md-sys-color-inverse-primary: #005249;
  --md-sys-color-primary-fixed: #00fde7;
  --md-sys-color-primary-fixed-dim: #00deca;
  --md-sys-color-on-primary-fixed: #000000;
  --md-sys-color-on-primary-fixed-variant: #001512;
  --md-sys-color-secondary: #bcebef;
  --md-sys-color-secondary-dim: #fdffff;
  --md-sys-color-on-secondary: #000000;
  --md-sys-color-secondary-container: #ffffff;
  --md-sys-color-on-secondary-container: #104245;
  --md-sys-color-secondary-fixed: #bcebef;
  --md-sys-color-secondary-fixed-dim: #a0cfd3;
  --md-sys-color-on-secondary-fixed: #000000;
  --md-sys-color-on-secondary-fixed-variant: #001416;
  --md-sys-color-tertiary: #b2ebff;
  --md-sys-color-tertiary-dim: #fffeff;
  --md-sys-color-on-tertiary: #000000;
  --md-sys-color-tertiary-container: #ffffff;
  --md-sys-color-on-tertiary-container: #004150;
  --md-sys-color-tertiary-fixed: #b2ebff;
  --md-sys-color-tertiary-fixed-dim: #91d0e5;
  --md-sys-color-on-tertiary-fixed: #000000;
  --md-sys-color-on-tertiary-fixed-variant: #00141a;
  --md-sys-color-error: #ffdad6;
  --md-sys-color-error-dim: #fffeff;
  --md-sys-color-on-error: #000000;
  --md-sys-color-error-container: #ffffff;
  --md-sys-color-on-error-container: #7e0007;
}

