.light {
  --md-sys-color-primary-palette-key-color: #00fde6;
  --md-sys-color-secondary-palette-key-color: #0eecea;
  --md-sys-color-tertiary-palette-key-color: #06b7f7;
  --md-sys-color-neutral-palette-key-color: #46807f;
  --md-sys-color-neutral-variant-palette-key-color: #278483;
  --md-sys-color-error-palette-key-color: #db3a3d;
  --md-sys-color-background: #d3fffd;
  --md-sys-color-on-background: #003534;
  --md-sys-color-surface: #d3fffd;
  --md-sys-color-surface-dim: #87e4e2;
  --md-sys-color-surface-bright: #d3fffd;
  --md-sys-color-surface-container-lowest: #ffffff;
  --md-sys-color-surface-container-low: #bafdfb;
  --md-sys-color-surface-container: #adf5f3;
  --md-sys-color-surface-container-high: #a2f0ee;
  --md-sys-color-surface-container-highest: #96ebe9;
  --md-sys-color-on-surface: #003534;
  --md-sys-color-surface-variant: #96ebe9;
  --md-sys-color-on-surface-variant: #296463;
  --md-sys-color-inverse-surface: #001111;
  --md-sys-color-inverse-on-surface: #6da7a5;
  --md-sys-color-outline: #46807f;
  --md-sys-color-outline-variant: #7db7b6;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #00675d;
  --md-sys-color-primary: #00675d;
  --md-sys-color-primary-dim: #005a51;
  --md-sys-color-on-primary: #c0fff4;
  --md-sys-color-primary-container: #00f7e1;
  --md-sys-color-on-primary-container: #005950;
  --md-sys-color-inverse-primary: #00fde7;
  --md-sys-color-primary-fixed: #00f7e1;
  --md-sys-color-primary-fixed-dim: #00e8d3;
  --md-sys-color-on-primary-fixed: #00443d;
  --md-sys-color-on-primary-fixed-variant: #00635a;
  --md-sys-color-secondary: #006666;
  --md-sys-color-secondary-dim: #005959;
  --md-sys-color-on-secondary: #bbfffd;
  --md-sys-color-secondary-container: #37fbf8;
  --md-sys-color-on-secondary-container: #005c5b;
  --md-sys-color-secondary-fixed: #37fbf8;
  --md-sys-color-secondary-fixed-dim: #0eecea;
  --md-sys-color-on-secondary-fixed: #004747;
  --md-sys-color-on-secondary-fixed-variant: #006666;
  --md-sys-color-tertiary: #006287;
  --md-sys-color-tertiary-dim: #005676;
  --md-sys-color-on-tertiary: #e7f4ff;
  --md-sys-color-tertiary-container: #1ebdfd;
  --md-sys-color-on-tertiary-container: #00354a;
  --md-sys-color-tertiary-fixed: #1ebdfd;
  --md-sys-color-tertiary-fixed-dim: #00afec;
  --md-sys-color-on-tertiary-fixed: #001a27;
  --md-sys-color-on-tertiary-fixed-variant: #003e57;
  --md-sys-color-error: #b31b25;
  --md-sys-color-error-dim: #9f0519;
  --md-sys-color-on-error: #ffefee;
  --md-sys-color-error-container: #fb5151;
  --md-sys-color-on-error-container: #570008;
}

.light-medium-contrast {
  --md-sys-color-primary-palette-key-color: #00fde6;
  --md-sys-color-secondary-palette-key-color: #0eecea;
  --md-sys-color-tertiary-palette-key-color: #06b7f7;
  --md-sys-color-neutral-palette-key-color: #46807f;
  --md-sys-color-neutral-variant-palette-key-color: #278483;
  --md-sys-color-error-palette-key-color: #db3a3d;
  --md-sys-color-background: #d3fffd;
  --md-sys-color-on-background: #002424;
  --md-sys-color-surface: #d3fffd;
  --md-sys-color-surface-dim: #87e4e2;
  --md-sys-color-surface-bright: #d3fffd;
  --md-sys-color-surface-container-lowest: #ffffff;
  --md-sys-color-surface-container-low: #bafdfb;
  --md-sys-color-surface-container: #adf5f3;
  --md-sys-color-surface-container-high: #a2f0ee;
  --md-sys-color-surface-container-highest: #96ebe9;
  --md-sys-color-on-surface: #002424;
  --md-sys-color-surface-variant: #96ebe9;
  --md-sys-color-on-surface-variant: #004747;
  --md-sys-color-inverse-surface: #001111;
  --md-sys-color-inverse-on-surface: #95cfce;
  --md-sys-color-outline: #296463;
  --md-sys-color-outline-variant: #46807f;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #004841;
  --md-sys-color-primary: #004841;
  --md-sys-color-primary-dim: #003c35;
  --md-sys-color-on-primary: #00edd8;
  --md-sys-color-primary-container: #008377;
  --md-sys-color-on-primary-container: #ffffff;
  --md-sys-color-inverse-primary: #00fde7;
  --md-sys-color-primary-fixed: #008377;
  --md-sys-color-primary-fixed-dim: #00756a;
  --md-sys-color-on-primary-fixed: #ffffff;
  --md-sys-color-on-primary-fixed-variant: #ffffff;
  --md-sys-color-secondary: #004747;
  --md-sys-color-secondary-dim: #003b3a;
  --md-sys-color-on-secondary: #0cecea;
  --md-sys-color-secondary-container: #008281;
  --md-sys-color-on-secondary-container: #ffffff;
  --md-sys-color-secondary-fixed: #008281;
  --md-sys-color-secondary-fixed-dim: #007473;
  --md-sys-color-on-secondary-fixed: #ffffff;
  --md-sys-color-on-secondary-fixed-variant: #ffffff;
  --md-sys-color-tertiary: #00445f;
  --md-sys-color-tertiary-dim: #00384f;
  --md-sys-color-on-tertiary: #a2dbff;
  --md-sys-color-tertiary-container: #007daa;
  --md-sys-color-on-tertiary-container: #ffffff;
  --md-sys-color-tertiary-fixed: #007daa;
  --md-sys-color-tertiary-fixed-dim: #007099;
  --md-sys-color-on-tertiary-fixed: #ffffff;
  --md-sys-color-on-tertiary-fixed-variant: #ffffff;
  --md-sys-color-error: #850012;
  --md-sys-color-error-dim: #70000d;
  --md-sys-color-on-error: #ffc7c2;
  --md-sys-color-error-container: #d7383b;
  --md-sys-color-on-error-container: #ffffff;
}

.light-high-contrast {
  --md-sys-color-primary-palette-key-color: #00fde6;
  --md-sys-color-secondary-palette-key-color: #0eecea;
  --md-sys-color-tertiary-palette-key-color: #06b7f7;
  --md-sys-color-neutral-palette-key-color: #46807f;
  --md-sys-color-neutral-variant-palette-key-color: #278483;
  --md-sys-color-error-palette-key-color: #db3a3d;
  --md-sys-color-background: #d3fffd;
  --md-sys-color-on-background: #000000;
  --md-sys-color-surface: #d3fffd;
  --md-sys-color-surface-dim: #87e4e2;
  --md-sys-color-surface-bright: #d3fffd;
  --md-sys-color-surface-container-lowest: #ffffff;
  --md-sys-color-surface-container-low: #bafdfb;
  --md-sys-color-surface-container: #adf5f3;
  --md-sys-color-surface-container-high: #a2f0ee;
  --md-sys-color-surface-container-highest: #96ebe9;
  --md-sys-color-on-surface: #000000;
  --md-sys-color-surface-variant: #96ebe9;
  --md-sys-color-on-surface-variant: #002424;
  --md-sys-color-inverse-surface: #001111;
  --md-sys-color-inverse-on-surface: #ffffff;
  --md-sys-color-outline: #004747;
  --md-sys-color-outline-variant: #296463;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #002420;
  --md-sys-color-primary: #002420;
  --md-sys-color-primary-dim: #001916;
  --md-sys-color-on-primary: #00eed8;
  --md-sys-color-primary-container: #00675d;
  --md-sys-color-on-primary-container: #ffffff;
  --md-sys-color-inverse-primary: #00fde7;
  --md-sys-color-primary-fixed: #00675d;
  --md-sys-color-primary-fixed-dim: #005a51;
  --md-sys-color-on-primary-fixed: #ffffff;
  --md-sys-color-on-primary-fixed-variant: #ffffff;
  --md-sys-color-secondary: #002424;
  --md-sys-color-secondary-dim: #001919;
  --md-sys-color-on-secondary: #0fecea;
  --md-sys-color-secondary-container: #006666;
  --md-sys-color-on-secondary-container: #ffffff;
  --md-sys-color-secondary-fixed: #006666;
  --md-sys-color-secondary-fixed-dim: #005959;
  --md-sys-color-on-secondary-fixed: #ffffff;
  --md-sys-color-on-secondary-fixed-variant: #ffffff;
  --md-sys-color-tertiary: #002232;
  --md-sys-color-tertiary-dim: #001824;
  --md-sys-color-on-tertiary: #a3dcff;
  --md-sys-color-tertiary-container: #006287;
  --md-sys-color-on-tertiary-container: #ffffff;
  --md-sys-color-tertiary-fixed: #006287;
  --md-sys-color-tertiary-fixed-dim: #005676;
  --md-sys-color-on-tertiary-fixed: #ffffff;
  --md-sys-color-on-tertiary-fixed-variant: #ffffff;
  --md-sys-color-error: #480005;
  --md-sys-color-error-dim: #350003;
  --md-sys-color-on-error: #ffc7c3;
  --md-sys-color-error-container: #b31b25;
  --md-sys-color-on-error-container: #ffffff;
}

.dark {
  --md-sys-color-primary-palette-key-color: #00fde6;
  --md-sys-color-secondary-palette-key-color: #0eecea;
  --md-sys-color-tertiary-palette-key-color: #06b7f7;
  --md-sys-color-neutral-palette-key-color: #46807f;
  --md-sys-color-neutral-variant-palette-key-color: #278483;
  --md-sys-color-error-palette-key-color: #db3a3d;
  --md-sys-color-background: #001111;
  --md-sys-color-on-background: #b8f3f1;
  --md-sys-color-surface: #001111;
  --md-sys-color-surface-dim: #001111;
  --md-sys-color-surface-bright: #003232;
  --md-sys-color-surface-container-lowest: #000000;
  --md-sys-color-surface-container-low: #001716;
  --md-sys-color-surface-container: #001e1d;
  --md-sys-color-surface-container-high: #002424;
  --md-sys-color-surface-container-highest: #002b2b;
  --md-sys-color-on-surface: #b8f3f1;
  --md-sys-color-surface-variant: #002b2b;
  --md-sys-color-on-surface-variant: #7bb5b4;
  --md-sys-color-inverse-surface: #e3fffd;
  --md-sys-color-inverse-on-surface: #215e5d;
  --md-sys-color-outline: #457f7e;
  --md-sys-color-outline-variant: #0d5050;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #b4fff2;
  --md-sys-color-primary: #b4fff2;
  --md-sys-color-primary-dim: #00fde7;
  --md-sys-color-on-primary: #00665c;
  --md-sys-color-primary-container: #00fde7;
  --md-sys-color-on-primary-container: #005c53;
  --md-sys-color-inverse-primary: #006b61;
  --md-sys-color-primary-fixed: #00f7e1;
  --md-sys-color-primary-fixed-dim: #00e8d3;
  --md-sys-color-on-primary-fixed: #00443d;
  --md-sys-color-on-primary-fixed-variant: #00635a;
  --md-sys-color-secondary: #00dddb;
  --md-sys-color-secondary-dim: #00cecc;
  --md-sys-color-on-secondary: #004848;
  --md-sys-color-secondary-container: #006a69;
  --md-sys-color-on-secondary-container: #dafffd;
  --md-sys-color-secondary-fixed: #37fbf8;
  --md-sys-color-secondary-fixed-dim: #0eecea;
  --md-sys-color-on-secondary-fixed: #004747;
  --md-sys-color-on-secondary-fixed-variant: #006666;
  --md-sys-color-tertiary: #62c9ff;
  --md-sys-color-tertiary-dim: #1ebdfd;
  --md-sys-color-on-tertiary: #003f58;
  --md-sys-color-tertiary-container: #1ebdfd;
  --md-sys-color-on-tertiary-container: #00354a;
  --md-sys-color-tertiary-fixed: #1ebdfd;
  --md-sys-color-tertiary-fixed-dim: #00afec;
  --md-sys-color-on-tertiary-fixed: #001a27;
  --md-sys-color-on-tertiary-fixed-variant: #003e57;
  --md-sys-color-error: #ff716c;
  --md-sys-color-error-dim: #d7383b;
  --md-sys-color-on-error: #490006;
  --md-sys-color-error-container: #9f0519;
  --md-sys-color-on-error-container: #ffa8a3;
}

.dark-medium-contrast {
  --md-sys-color-primary-palette-key-color: #00fde6;
  --md-sys-color-secondary-palette-key-color: #0eecea;
  --md-sys-color-tertiary-palette-key-color: #06b7f7;
  --md-sys-color-neutral-palette-key-color: #46807f;
  --md-sys-color-neutral-variant-palette-key-color: #278483;
  --md-sys-color-error-palette-key-color: #db3a3d;
  --md-sys-color-background: #001111;
  --md-sys-color-on-background: #ffffff;
  --md-sys-color-surface: #001111;
  --md-sys-color-surface-dim: #001111;
  --md-sys-color-surface-bright: #003232;
  --md-sys-color-surface-container-lowest: #000000;
  --md-sys-color-surface-container-low: #001716;
  --md-sys-color-surface-container: #001e1d;
  --md-sys-color-surface-container-high: #002424;
  --md-sys-color-surface-container-highest: #002b2b;
  --md-sys-color-on-surface: #ffffff;
  --md-sys-color-surface-variant: #002b2b;
  --md-sys-color-on-surface-variant: #89c3c2;
  --md-sys-color-inverse-surface: #e3fffd;
  --md-sys-color-inverse-on-surface: #003f3f;
  --md-sys-color-outline: #649d9c;
  --md-sys-color-outline-variant: #457f7e;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #b4fff2;
  --md-sys-color-primary: #b4fff2;
  --md-sys-color-primary-dim: #00fde7;
  --md-sys-color-on-primary: #005b52;
  --md-sys-color-primary-container: #00fde7;
  --md-sys-color-on-primary-container: #005249;
  --md-sys-color-inverse-primary: #006057;
  --md-sys-color-primary-fixed: #00f7e1;
  --md-sys-color-primary-fixed-dim: #00e8d3;
  --md-sys-color-on-primary-fixed: #001f1b;
  --md-sys-color-on-primary-fixed-variant: #00443d;
  --md-sys-color-secondary: #00dddb;
  --md-sys-color-secondary-dim: #00cecc;
  --md-sys-color-on-secondary: #003d3d;
  --md-sys-color-secondary-container: #008281;
  --md-sys-color-on-secondary-container: #ffffff;
  --md-sys-color-secondary-fixed: #37fbf8;
  --md-sys-color-secondary-fixed-dim: #0eecea;
  --md-sys-color-on-secondary-fixed: #002424;
  --md-sys-color-on-secondary-fixed-variant: #004747;
  --md-sys-color-tertiary: #62c9ff;
  --md-sys-color-tertiary-dim: #1ebdfd;
  --md-sys-color-on-tertiary: #00344a;
  --md-sys-color-tertiary-container: #1ebdfd;
  --md-sys-color-on-tertiary-container: #00293a;
  --md-sys-color-tertiary-fixed: #1ebdfd;
  --md-sys-color-tertiary-fixed-dim: #00afec;
  --md-sys-color-on-tertiary-fixed: #000000;
  --md-sys-color-on-tertiary-fixed-variant: #001a27;
  --md-sys-color-error: #ff9f99;
  --md-sys-color-error-dim: #ff8882;
  --md-sys-color-on-error: #60000a;
  --md-sys-color-error-container: #d7383b;
  --md-sys-color-on-error-container: #ffffff;
}

.dark-high-contrast {
  --md-sys-color-primary-palette-key-color: #00fde6;
  --md-sys-color-secondary-palette-key-color: #0eecea;
  --md-sys-color-tertiary-palette-key-color: #06b7f7;
  --md-sys-color-neutral-palette-key-color: #46807f;
  --md-sys-color-neutral-variant-palette-key-color: #278483;
  --md-sys-color-error-palette-key-color: #db3a3d;
  --md-sys-color-background: #001111;
  --md-sys-color-on-background: #ffffff;
  --md-sys-color-surface: #001111;
  --md-sys-color-surface-dim: #001111;
  --md-sys-color-surface-bright: #003232;
  --md-sys-color-surface-container-lowest: #000000;
  --md-sys-color-surface-container-low: #001716;
  --md-sys-color-surface-container: #001e1d;
  --md-sys-color-surface-container-high: #002424;
  --md-sys-color-surface-container-highest: #002b2b;
  --md-sys-color-on-surface: #ffffff;
  --md-sys-color-surface-variant: #002b2b;
  --md-sys-color-on-surface-variant: #b5f0ef;
  --md-sys-color-inverse-surface: #e3fffd;
  --md-sys-color-inverse-on-surface: #000000;
  --md-sys-color-outline: #89c3c2;
  --md-sys-color-outline-variant: #649d9c;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #b4fff2;
  --md-sys-color-primary: #b4fff2;
  --md-sys-color-primary-dim: #00fde7;
  --md-sys-color-on-primary: #003a34;
  --md-sys-color-primary-container: #00fde7;
  --md-sys-color-on-primary-container: #00302b;
  --md-sys-color-inverse-primary: #004039;
  --md-sys-color-primary-fixed: #00f7e1;
  --md-sys-color-primary-fixed-dim: #00e8d3;
  --md-sys-color-on-primary-fixed: #000000;
  --md-sys-color-on-primary-fixed-variant: #001f1b;
  --md-sys-color-secondary: #3dfefb;
  --md-sys-color-secondary-dim: #1befed;
  --md-sys-color-on-secondary: #003231;
  --md-sys-color-secondary-container: #00b0ae;
  --md-sys-color-on-secondary-container: #000000;
  --md-sys-color-secondary-fixed: #37fbf8;
  --md-sys-color-secondary-fixed-dim: #0eecea;
  --md-sys-color-on-secondary-fixed: #000000;
  --md-sys-color-on-secondary-fixed-variant: #002424;
  --md-sys-color-tertiary: #cbeaff;
  --md-sys-color-tertiary-dim: #a4dcff;
  --md-sys-color-on-tertiary: #003044;
  --md-sys-color-tertiary-container: #1ebdfd;
  --md-sys-color-on-tertiary-container: #000000;
  --md-sys-color-tertiary-fixed: #1ebdfd;
  --md-sys-color-tertiary-fixed-dim: #00afec;
  --md-sys-color-on-tertiary-fixed: #000000;
  --md-sys-color-on-tertiary-fixed-variant: #000000;
  --md-sys-color-error: #ffdedb;
  --md-sys-color-error-dim: #ffc7c3;
  --md-sys-color-on-error: #60000a;
  --md-sys-color-error-container: #ff716c;
  --md-sys-color-on-error-container: #000000;
}

