.light {
  --md-sys-color-primary-palette-key-color: #5178b2;
  --md-sys-color-secondary-palette-key-color: #967049;
  --md-sys-color-tertiary-palette-key-color: #5d8050;
  --md-sys-color-neutral-palette-key-color: #85736e;
  --md-sys-color-neutral-variant-palette-key-color: #8c7169;
  --md-sys-color-error-palette-key-color: #de3730;
  --md-sys-color-background: #fff8f6;
  --md-sys-color-on-background: #251915;
  --md-sys-color-surface: #fff8f6;
  --md-sys-color-surface-dim: #ecd5cf;
  --md-sys-color-surface-bright: #fff8f6;
  --md-sys-color-surface-container-lowest: #ffffff;
  --md-sys-color-surface-container-low: #fff1ed;
  --md-sys-color-surface-container: #ffe9e3;
  --md-sys-color-surface-container-high: #fbe3dd;
  --md-sys-color-surface-container-highest: #f5ded7;
  --md-sys-color-on-surface: #251915;
  --md-sys-color-surface-variant: #fddbd2;
  --md-sys-color-on-surface-variant: #58423b;
  --md-sys-color-inverse-surface: #3b2d29;
  --md-sys-color-inverse-on-surface: #ffede8;
  --md-sys-color-outline: #8c7169;
  --md-sys-color-outline-variant: #dfc0b6;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #375f97;
  --md-sys-color-primary: #375f97;
  --md-sys-color-primary-dim: #4169a1;
  --md-sys-color-on-primary: #ffffff;
  --md-sys-color-primary-container: #d5e3ff;
  --md-sys-color-on-primary-container: #1b477e;
  --md-sys-color-inverse-primary: #a7c8ff;
  --md-sys-color-primary-fixed: #d5e3ff;
  --md-sys-color-primary-fixed-dim: #a7c8ff;
  --md-sys-color-on-primary-fixed: #001b3c;
  --md-sys-color-on-primary-fixed-variant: #1b477e;
  --md-sys-color-secondary: #7a5732;
  --md-sys-color-secondary-dim: #85613b;
  --md-sys-color-on-secondary: #ffffff;
  --md-sys-color-secondary-container: #ffdcbc;
  --md-sys-color-on-secondary-container: #60401d;
  --md-sys-color-secondary-fixed: #ffdcbc;
  --md-sys-color-secondary-fixed-dim: #ecbe91;
  --md-sys-color-on-secondary-fixed: #2c1600;
  --md-sys-color-on-secondary-fixed-variant: #60401d;
  --md-sys-color-tertiary: #466739;
  --md-sys-color-tertiary-dim: #4f7142;
  --md-sys-color-on-tertiary: #ffffff;
  --md-sys-color-tertiary-container: #c7eeb4;
  --md-sys-color-on-tertiary-container: #2e4e24;
  --md-sys-color-tertiary-fixed: #c7eeb4;
  --md-sys-color-tertiary-fixed-dim: #abd19a;
  --md-sys-color-on-tertiary-fixed: #032100;
  --md-sys-color-on-tertiary-fixed-variant: #2e4e24;
  --md-sys-color-error: #ba1a1a;
  --md-sys-color-error-dim: #ac0c12;
  --md-sys-color-on-error: #ffffff;
  --md-sys-color-error-container: #ffdad6;
  --md-sys-color-on-error-container: #93000a;
  --md-sys-color-control-activated: #d5e3ff;
  --md-sys-color-control-normal: #58423b;
  --md-sys-color-control-highlight: #0000001f;
  --md-sys-color-text-primary-inverse: #f5ded7;
  --md-sys-color-text-secondary-and-tertiary-inverse: #dfc0b6;
  --md-sys-color-text-primary-inverse-disable-only: #f5ded7;
  --md-sys-color-text-secondary-and-tertiary-inverse-disabled: #f5ded7;
  --md-sys-color-text-hint-inverse: #f5ded7;
}

.light-medium-contrast {
  --md-sys-color-primary-palette-key-color: #5178b2;
  --md-sys-color-secondary-palette-key-color: #967049;
  --md-sys-color-tertiary-palette-key-color: #5d8050;
  --md-sys-color-neutral-palette-key-color: #85736e;
  --md-sys-color-neutral-variant-palette-key-color: #8c7169;
  --md-sys-color-error-palette-key-color: #de3730;
  --md-sys-color-background: #fff8f6;
  --md-sys-color-on-background: #251915;
  --md-sys-color-surface: #fff8f6;
  --md-sys-color-surface-dim: #d8c2bc;
  --md-sys-color-surface-bright: #fff8f6;
  --md-sys-color-surface-container-lowest: #ffffff;
  --md-sys-color-surface-container-low: #fff1ed;
  --md-sys-color-surface-container: #fbe3dd;
  --md-sys-color-surface-container-high: #efd8d2;
  --md-sys-color-surface-container-highest: #e3cdc7;
  --md-sys-color-on-surface: #190e0b;
  --md-sys-color-surface-variant: #fddbd2;
  --md-sys-color-on-surface-variant: #46312b;
  --md-sys-color-inverse-surface: #3b2d29;
  --md-sys-color-inverse-on-surface: #ffede8;
  --md-sys-color-outline: #654d46;
  --md-sys-color-outline-variant: #816760;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #375f97;
  --md-sys-color-primary: #00366b;
  --md-sys-color-primary-dim: #17457b;
  --md-sys-color-on-primary: #ffffff;
  --md-sys-color-primary-container: #476ea7;
  --md-sys-color-on-primary-container: #ffffff;
  --md-sys-color-inverse-primary: #a7c8ff;
  --md-sys-color-primary-fixed: #476ea7;
  --md-sys-color-primary-fixed-dim: #2c558d;
  --md-sys-color-on-primary-fixed: #ffffff;
  --md-sys-color-on-primary-fixed-variant: #ffffff;
  --md-sys-color-secondary: #4d300e;
  --md-sys-color-secondary-dim: #5d3e1b;
  --md-sys-color-on-secondary: #ffffff;
  --md-sys-color-secondary-container: #8a663f;
  --md-sys-color-on-secondary-container: #ffffff;
  --md-sys-color-secondary-fixed: #8a663f;
  --md-sys-color-secondary-fixed-dim: #6f4e2a;
  --md-sys-color-on-secondary-fixed: #ffffff;
  --md-sys-color-on-secondary-fixed-variant: #ffffff;
  --md-sys-color-tertiary: #1e3d15;
  --md-sys-color-tertiary-dim: #2c4c22;
  --md-sys-color-on-tertiary: #ffffff;
  --md-sys-color-tertiary-container: #547647;
  --md-sys-color-on-tertiary-container: #ffffff;
  --md-sys-color-tertiary-fixed: #547647;
  --md-sys-color-tertiary-fixed-dim: #3c5d31;
  --md-sys-color-on-tertiary-fixed: #ffffff;
  --md-sys-color-on-tertiary-fixed-variant: #ffffff;
  --md-sys-color-error: #740006;
  --md-sys-color-error-dim: #8f0009;
  --md-sys-color-on-error: #ffffff;
  --md-sys-color-error-container: #cf2c27;
  --md-sys-color-on-error-container: #ffffff;
  --md-sys-color-control-activated: #d5e3ff;
  --md-sys-color-control-normal: #58423b;
  --md-sys-color-control-highlight: #0000001f;
  --md-sys-color-text-primary-inverse: #f5ded7;
  --md-sys-color-text-secondary-and-tertiary-inverse: #dfc0b6;
  --md-sys-color-text-primary-inverse-disable-only: #f5ded7;
  --md-sys-color-text-secondary-and-tertiary-inverse-disabled: #f5ded7;
  --md-sys-color-text-hint-inverse: #f5ded7;
}

.light-high-contrast {
  --md-sys-color-primary-palette-key-color: #5178b2;
  --md-sys-color-secondary-palette-key-color: #967049;
  --md-sys-color-tertiary-palette-key-color: #5d8050;
  --md-sys-color-neutral-palette-key-color: #85736e;
  --md-sys-color-neutral-variant-palette-key-color: #8c7169;
  --md-sys-color-error-palette-key-color: #de3730;
  --md-sys-color-background: #fff8f6;
  --md-sys-color-on-background: #251915;
  --md-sys-color-surface: #fff8f6;
  --md-sys-color-surface-dim: #cab4ae;
  --md-sys-color-surface-bright: #fff8f6;
  --md-sys-color-surface-container-lowest: #ffffff;
  --md-sys-color-surface-container-low: #ffede8;
  --md-sys-color-surface-container: #f5ded7;
  --md-sys-color-surface-container-high: #e6d0c9;
  --md-sys-color-surface-container-highest: #d8c2bc;
  --md-sys-color-on-surface: #000000;
  --md-sys-color-surface-variant: #fddbd2;
  --md-sys-color-on-surface-variant: #000000;
  --md-sys-color-inverse-surface: #3b2d29;
  --md-sys-color-inverse-on-surface: #ffffff;
  --md-sys-color-outline: #3b2721;
  --md-sys-color-outline-variant: #5b443d;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #375f97;
  --md-sys-color-primary: #002c59;
  --md-sys-color-primary-dim: #001f42;
  --md-sys-color-on-primary: #ffffff;
  --md-sys-color-primary-container: #1e4980;
  --md-sys-color-on-primary-container: #ffffff;
  --md-sys-color-inverse-primary: #a7c8ff;
  --md-sys-color-primary-fixed: #1e4980;
  --md-sys-color-primary-fixed-dim: #003265;
  --md-sys-color-on-primary-fixed: #ffffff;
  --md-sys-color-on-primary-fixed-variant: #ffffff;
  --md-sys-color-secondary: #412605;
  --md-sys-color-secondary-dim: #311a00;
  --md-sys-color-on-secondary: #ffffff;
  --md-sys-color-secondary-container: #62421f;
  --md-sys-color-on-secondary-container: #ffffff;
  --md-sys-color-secondary-fixed: #62421f;
  --md-sys-color-secondary-fixed-dim: #492c0b;
  --md-sys-color-on-secondary-fixed: #ffffff;
  --md-sys-color-on-secondary-fixed-variant: #ffffff;
  --md-sys-color-tertiary: #14330b;
  --md-sys-color-tertiary-dim: #062502;
  --md-sys-color-on-tertiary: #ffffff;
  --md-sys-color-tertiary-container: #315126;
  --md-sys-color-on-tertiary-container: #ffffff;
  --md-sys-color-tertiary-fixed: #315126;
  --md-sys-color-tertiary-fixed-dim: #1b3a12;
  --md-sys-color-on-tertiary-fixed: #ffffff;
  --md-sys-color-on-tertiary-fixed-variant: #ffffff;
  --md-sys-color-error: #600004;
  --md-sys-color-error-dim: #480002;
  --md-sys-color-on-error: #ffffff;
  --md-sys-color-error-container: #98000a;
  --md-sys-color-on-error-container: #ffffff;
  --md-sys-color-control-activated: #d5e3ff;
  --md-sys-color-control-normal: #58423b;
  --md-sys-color-control-highlight: #0000001f;
  --md-sys-color-text-primary-inverse: #f5ded7;
  --md-sys-color-text-secondary-and-tertiary-inverse: #dfc0b6;
  --md-sys-color-text-primary-inverse-disable-only: #f5ded7;
  --md-sys-color-text-secondary-and-tertiary-inverse-disabled: #f5ded7;
  --md-sys-color-text-hint-inverse: #f5ded7;
}

.dark {
  --md-sys-color-primary-palette-key-color: #5178b2;
  --md-sys-color-secondary-palette-key-color: #967049;
  --md-sys-color-tertiary-palette-key-color: #5d8050;
  --md-sys-color-neutral-palette-key-color: #85736e;
  --md-sys-color-neutral-variant-palette-key-color: #8c7169;
  --md-sys-color-error-palette-key-color: #de3730;
  --md-sys-color-background: #1c110d;
  --md-sys-color-on-background: #f5ded7;
  --md-sys-color-surface: #1c110d;
  --md-sys-color-surface-dim: #1c110d;
  --md-sys-color-surface-bright: #443632;
  --md-sys-color-surface-container-lowest: #160c08;
  --md-sys-color-surface-container-low: #251915;
  --md-sys-color-surface-container: #291d19;
  --md-sys-color-surface-container-high: #342723;
  --md-sys-color-surface-container-highest: #40322d;
  --md-sys-color-on-surface: #f5ded7;
  --md-sys-color-surface-variant: #58423b;
  --md-sys-color-on-surface-variant: #dfc0b6;
  --md-sys-color-inverse-surface: #f5ded7;
  --md-sys-color-inverse-on-surface: #3b2d29;
  --md-sys-color-outline: #a78a82;
  --md-sys-color-outline-variant: #58423b;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #a7c8ff;
  --md-sys-color-primary: #a7c8ff;
  --md-sys-color-primary-dim: #bed5ff;
  --md-sys-color-on-primary: #003061;
  --md-sys-color-primary-container: #1b477e;
  --md-sys-color-on-primary-container: #d5e3ff;
  --md-sys-color-inverse-primary: #375f97;
  --md-sys-color-primary-fixed: #d5e3ff;
  --md-sys-color-primary-fixed-dim: #a7c8ff;
  --md-sys-color-on-primary-fixed: #001b3c;
  --md-sys-color-on-primary-fixed-variant: #1b477e;
  --md-sys-color-secondary: #ecbe91;
  --md-sys-color-secondary-dim: #fecfa0;
  --md-sys-color-on-secondary: #462a09;
  --md-sys-color-secondary-container: #60401d;
  --md-sys-color-on-secondary-container: #ffdcbc;
  --md-sys-color-secondary-fixed: #ffdcbc;
  --md-sys-color-secondary-fixed-dim: #ecbe91;
  --md-sys-color-on-secondary-fixed: #2c1600;
  --md-sys-color-on-secondary-fixed-variant: #60401d;
  --md-sys-color-tertiary: #abd19a;
  --md-sys-color-tertiary-dim: #d7ffc4;
  --md-sys-color-on-tertiary: #18370f;
  --md-sys-color-tertiary-container: #2e4e24;
  --md-sys-color-on-tertiary-container: #c7eeb4;
  --md-sys-color-tertiary-fixed: #c7eeb4;
  --md-sys-color-tertiary-fixed-dim: #abd19a;
  --md-sys-color-on-tertiary-fixed: #032100;
  --md-sys-color-on-tertiary-fixed-variant: #2e4e24;
  --md-sys-color-error: #ffb4ab;
  --md-sys-color-error-dim: #ffc7c0;
  --md-sys-color-on-error: #690005;
  --md-sys-color-error-container: #93000a;
  --md-sys-color-on-error-container: #ffdad6;
  --md-sys-color-control-activated: #1b477e;
  --md-sys-color-control-normal: #dfc0b6;
  --md-sys-color-control-highlight: #ffffff33;
  --md-sys-color-text-primary-inverse: #251915;
  --md-sys-color-text-secondary-and-tertiary-inverse: #58423b;
  --md-sys-color-text-primary-inverse-disable-only: #251915;
  --md-sys-color-text-secondary-and-tertiary-inverse-disabled: #251915;
  --md-sys-color-text-hint-inverse: #251915;
}

.dark-medium-contrast {
  --md-sys-color-primary-palette-key-color: #5178b2;
  --md-sys-color-secondary-palette-key-color: #967049;
  --md-sys-color-tertiary-palette-key-color: #5d8050;
  --md-sys-color-neutral-palette-key-color: #85736e;
  --md-sys-color-neutral-variant-palette-key-color: #8c7169;
  --md-sys-color-error-palette-key-color: #de3730;
  --md-sys-color-background: #1c110d;
  --md-sys-color-on-background: #f5ded7;
  --md-sys-color-surface: #1c110d;
  --md-sys-color-surface-dim: #1c110d;
  --md-sys-color-surface-bright: #50413d;
  --md-sys-color-surface-container-lowest: #0e0504;
  --md-sys-color-surface-container-low: #271b17;
  --md-sys-color-surface-container: #322521;
  --md-sys-color-surface-container-high: #3d2f2b;
  --md-sys-color-surface-container-highest: #493a36;
  --md-sys-color-on-surface: #ffffff;
  --md-sys-color-surface-variant: #58423b;
  --md-sys-color-on-surface-variant: #f6d5cc;
  --md-sys-color-inverse-surface: #f5ded7;
  --md-sys-color-inverse-on-surface: #342723;
  --md-sys-color-outline: #caaba2;
  --md-sys-color-outline-variant: #a68a82;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #a7c8ff;
  --md-sys-color-primary: #cbddff;
  --md-sys-color-primary-dim: #bed5ff;
  --md-sys-color-on-primary: #00254e;
  --md-sys-color-primary-container: #6c92cd;
  --md-sys-color-on-primary-container: #000000;
  --md-sys-color-inverse-primary: #1c487f;
  --md-sys-color-primary-fixed: #d5e3ff;
  --md-sys-color-primary-fixed-dim: #a7c8ff;
  --md-sys-color-on-primary-fixed: #001129;
  --md-sys-color-on-primary-fixed-variant: #00366b;
  --md-sys-color-secondary: #ffd5ac;
  --md-sys-color-secondary-dim: #fecfa0;
  --md-sys-color-on-secondary: #392001;
  --md-sys-color-secondary-container: #b28960;
  --md-sys-color-on-secondary-container: #000000;
  --md-sys-color-secondary-fixed: #ffdcbc;
  --md-sys-color-secondary-fixed-dim: #ecbe91;
  --md-sys-color-on-secondary-fixed: #1d0d00;
  --md-sys-color-on-secondary-fixed-variant: #4d300e;
  --md-sys-color-tertiary: #c0e7ae;
  --md-sys-color-tertiary-dim: #d7ffc4;
  --md-sys-color-on-tertiary: #0d2c06;
  --md-sys-color-tertiary-container: #779a68;
  --md-sys-color-on-tertiary-container: #000000;
  --md-sys-color-tertiary-fixed: #c7eeb4;
  --md-sys-color-tertiary-fixed-dim: #abd19a;
  --md-sys-color-on-tertiary-fixed: #011500;
  --md-sys-color-on-tertiary-fixed-variant: #1e3d15;
  --md-sys-color-error: #ffd2cc;
  --md-sys-color-error-dim: #ffc7c0;
  --md-sys-color-on-error: #540003;
  --md-sys-color-error-container: #ff5449;
  --md-sys-color-on-error-container: #000000;
  --md-sys-color-control-activated: #1b477e;
  --md-sys-color-control-normal: #dfc0b6;
  --md-sys-color-control-highlight: #ffffff33;
  --md-sys-color-text-primary-inverse: #251915;
  --md-sys-color-text-secondary-and-tertiary-inverse: #58423b;
  --md-sys-color-text-primary-inverse-disable-only: #251915;
  --md-sys-color-text-secondary-and-tertiary-inverse-disabled: #251915;
  --md-sys-color-text-hint-inverse: #251915;
}

.dark-high-contrast {
  --md-sys-color-primary-palette-key-color: #5178b2;
  --md-sys-color-secondary-palette-key-color: #967049;
  --md-sys-color-tertiary-palette-key-color: #5d8050;
  --md-sys-color-neutral-palette-key-color: #85736e;
  --md-sys-color-neutral-variant-palette-key-color: #8c7169;
  --md-sys-color-error-palette-key-color: #de3730;
  --md-sys-color-background: #1c110d;
  --md-sys-color-on-background: #f5ded7;
  --md-sys-color-surface: #1c110d;
  --md-sys-color-surface-dim: #1c110d;
  --md-sys-color-surface-bright: #5c4d48;
  --md-sys-color-surface-container-lowest: #000000;
  --md-sys-color-surface-container-low: #291d19;
  --md-sys-color-surface-container: #3b2d29;
  --md-sys-color-surface-container-high: #473834;
  --md-sys-color-surface-container-highest: #53433f;
  --md-sys-color-on-surface: #ffffff;
  --md-sys-color-surface-variant: #58423b;
  --md-sys-color-on-surface-variant: #ffffff;
  --md-sys-color-inverse-surface: #f5ded7;
  --md-sys-color-inverse-on-surface: #000000;
  --md-sys-color-outline: #ffece7;
  --md-sys-color-outline-variant: #dbbcb3;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #a7c8ff;
  --md-sys-color-primary: #eaf0ff;
  --md-sys-color-primary-dim: #fffeff;
  --md-sys-color-on-primary: #000000;
  --md-sys-color-primary-container: #a0c4ff;
  --md-sys-color-on-primary-container: #000b1f;
  --md-sys-color-inverse-primary: #1c487f;
  --md-sys-color-primary-fixed: #d5e3ff;
  --md-sys-color-primary-fixed-dim: #a7c8ff;
  --md-sys-color-on-primary-fixed: #000000;
  --md-sys-color-on-primary-fixed-variant: #001129;
  --md-sys-color-secondary: #ffedde;
  --md-sys-color-secondary-dim: #fffeff;
  --md-sys-color-on-secondary: #000000;
  --md-sys-color-secondary-container: #e8ba8d;
  --md-sys-color-on-secondary-container: #150800;
  --md-sys-color-secondary-fixed: #ffdcbc;
  --md-sys-color-secondary-fixed-dim: #ecbe91;
  --md-sys-color-on-secondary-fixed: #000000;
  --md-sys-color-on-secondary-fixed-variant: #1d0d00;
  --md-sys-color-tertiary: #d4fbc1;
  --md-sys-color-tertiary-dim: #fffeff;
  --md-sys-color-on-tertiary: #000000;
  --md-sys-color-tertiary-container: #a7cd96;
  --md-sys-color-on-tertiary-container: #010f00;
  --md-sys-color-tertiary-fixed: #c7eeb4;
  --md-sys-color-tertiary-fixed-dim: #abd19a;
  --md-sys-color-on-tertiary-fixed: #000000;
  --md-sys-color-on-tertiary-fixed-variant: #011500;
  --md-sys-color-error: #ffece9;
  --md-sys-color-error-dim: #fffeff;
  --md-sys-color-on-error: #000000;
  --md-sys-color-error-container: #ffaea4;
  --md-sys-color-on-error-container: #220001;
  --md-sys-color-control-activated: #1b477e;
  --md-sys-color-control-normal: #dfc0b6;
  --md-sys-color-control-highlight: #ffffff33;
  --md-sys-color-text-primary-inverse: #251915;
  --md-sys-color-text-secondary-and-tertiary-inverse: #58423b;
  --md-sys-color-text-primary-inverse-disable-only: #251915;
  --md-sys-color-text-secondary-and-tertiary-inverse-disabled: #251915;
  --md-sys-color-text-hint-inverse: #251915;
}

