.light {
  --md-sys-color-primary-palette-key-color: #bb5957;
  --md-sys-color-secondary-palette-key-color: #557d8b;
  --md-sys-color-tertiary-palette-key-color: #02adc8;
  --md-sys-color-neutral-palette-key-color: #956e65;
  --md-sys-color-neutral-variant-palette-key-color: #b45f4d;
  --md-sys-color-error-palette-key-color: #cb4f31;
  --md-sys-color-background: #fff8f6;
  --md-sys-color-on-background: #53251b;
  --md-sys-color-surface: #fff8f6;
  --md-sys-color-surface-dim: #ffcfc5;
  --md-sys-color-surface-bright: #fff8f6;
  --md-sys-color-surface-container-lowest: #ffffff;
  --md-sys-color-surface-container-low: #fff0ee;
  --md-sys-color-surface-container: #ffe9e5;
  --md-sys-color-surface-container-high: #ffe2dc;
  --md-sys-color-surface-container-highest: #ffdad3;
  --md-sys-color-on-surface: #53251b;
  --md-sys-color-surface-variant: #ffdad3;
  --md-sys-color-on-surface-variant: #885044;
  --md-sys-color-inverse-surface: #1e0704;
  --md-sys-color-inverse-on-surface: #be938a;
  --md-sys-color-outline: #a86b5d;
  --md-sys-color-outline-variant: #e7a191;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #9d4241;
  --md-sys-color-primary: #9d4241;
  --md-sys-color-primary-dim: #8e3636;
  --md-sys-color-on-primary: #fff7f6;
  --md-sys-color-primary-container: #ffaba7;
  --md-sys-color-on-primary-container: #702021;
  --md-sys-color-inverse-primary: #f88885;
  --md-sys-color-primary-fixed: #ffaba7;
  --md-sys-color-primary-fixed-dim: #ff9692;
  --md-sys-color-on-primary-fixed: #530a0f;
  --md-sys-color-on-primary-fixed-variant: #7c2929;
  --md-sys-color-secondary: #3c6572;
  --md-sys-color-secondary-dim: #305965;
  --md-sys-color-on-secondary: #f1fbff;
  --md-sys-color-secondary-container: #bfe9f9;
  --md-sys-color-on-secondary-container: #2e5764;
  --md-sys-color-secondary-fixed: #bfe9f9;
  --md-sys-color-secondary-fixed-dim: #b1dbea;
  --md-sys-color-on-secondary-fixed: #194551;
  --md-sys-color-on-secondary-fixed-variant: #38616e;
  --md-sys-color-tertiary: #00697a;
  --md-sys-color-tertiary-dim: #005c6b;
  --md-sys-color-on-tertiary: #effbff;
  --md-sys-color-tertiary-container: #5edffb;
  --md-sys-color-on-tertiary-container: #004d5a;
  --md-sys-color-tertiary-fixed: #5edffb;
  --md-sys-color-tertiary-fixed-dim: #4dd1ed;
  --md-sys-color-on-tertiary-fixed: #003842;
  --md-sys-color-on-tertiary-fixed-variant: #005765;
  --md-sys-color-error: #aa371c;
  --md-sys-color-error-dim: #821a01;
  --md-sys-color-on-error: #fff7f6;
  --md-sys-color-error-container: #fa7150;
  --md-sys-color-on-error-container: #671200;
  --md-sys-color-control-activated: #ffaba7;
  --md-sys-color-control-normal: #885044;
  --md-sys-color-control-highlight: #0000001f;
  --md-sys-color-text-primary-inverse: #be938a;
  --md-sys-color-text-secondary-and-tertiary-inverse: #ffb4a4;
  --md-sys-color-text-primary-inverse-disable-only: #ffdad3;
  --md-sys-color-text-secondary-and-tertiary-inverse-disabled: #ffdad3;
  --md-sys-color-text-hint-inverse: #ffdad3;
}

.light-medium-contrast {
  --md-sys-color-primary-palette-key-color: #bb5957;
  --md-sys-color-secondary-palette-key-color: #557d8b;
  --md-sys-color-tertiary-palette-key-color: #02adc8;
  --md-sys-color-neutral-palette-key-color: #956e65;
  --md-sys-color-neutral-variant-palette-key-color: #b45f4d;
  --md-sys-color-error-palette-key-color: #cb4f31;
  --md-sys-color-background: #fff8f6;
  --md-sys-color-on-background: #41170e;
  --md-sys-color-surface: #fff8f6;
  --md-sys-color-surface-dim: #ffcfc5;
  --md-sys-color-surface-bright: #fff8f6;
  --md-sys-color-surface-container-lowest: #ffffff;
  --md-sys-color-surface-container-low: #fff0ee;
  --md-sys-color-surface-container: #ffe9e5;
  --md-sys-color-surface-container-high: #ffe2dc;
  --md-sys-color-surface-container-highest: #ffdad3;
  --md-sys-color-on-surface: #41170e;
  --md-sys-color-surface-variant: #ffdad3;
  --md-sys-color-on-surface-variant: #67352a;
  --md-sys-color-inverse-surface: #1e0704;
  --md-sys-color-inverse-on-surface: #e9bab0;
  --md-sys-color-outline: #885044;
  --md-sys-color-outline-variant: #a86b5d;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #782627;
  --md-sys-color-primary: #782627;
  --md-sys-color-primary-dim: #691b1d;
  --md-sys-color-on-primary: #ffcecb;
  --md-sys-color-primary-container: #b85654;
  --md-sys-color-on-primary-container: #ffffff;
  --md-sys-color-inverse-primary: #f88885;
  --md-sys-color-primary-fixed: #b85654;
  --md-sys-color-primary-fixed-dim: #a94a49;
  --md-sys-color-on-primary-fixed: #ffffff;
  --md-sys-color-on-primary-fixed-variant: #ffffff;
  --md-sys-color-secondary: #1e4855;
  --md-sys-color-secondary-dim: #0f3d49;
  --md-sys-color-on-secondary: #b6e0f0;
  --md-sys-color-secondary-container: #527a88;
  --md-sys-color-on-secondary-container: #ffffff;
  --md-sys-color-secondary-fixed: #527a88;
  --md-sys-color-secondary-fixed-dim: #466e7b;
  --md-sys-color-on-secondary-fixed: #ffffff;
  --md-sys-color-on-secondary-fixed-variant: #ffffff;
  --md-sys-color-tertiary: #004a57;
  --md-sys-color-tertiary-dim: #003e49;
  --md-sys-color-on-tertiary: #87e7ff;
  --md-sys-color-tertiary-container: #008095;
  --md-sys-color-on-tertiary-container: #ffffff;
  --md-sys-color-tertiary-fixed: #008095;
  --md-sys-color-tertiary-fixed-dim: #007285;
  --md-sys-color-on-tertiary-fixed: #ffffff;
  --md-sys-color-on-tertiary-fixed-variant: #ffffff;
  --md-sys-color-error: #821b02;
  --md-sys-color-error-dim: #6f1400;
  --md-sys-color-on-error: #ffcfc4;
  --md-sys-color-error-container: #c74c2f;
  --md-sys-color-on-error-container: #ffffff;
  --md-sys-color-control-activated: #b85654;
  --md-sys-color-control-normal: #67352a;
  --md-sys-color-control-highlight: #0000001f;
  --md-sys-color-text-primary-inverse: #e9bab0;
  --md-sys-color-text-secondary-and-tertiary-inverse: #ffb4a4;
  --md-sys-color-text-primary-inverse-disable-only: #ffdad3;
  --md-sys-color-text-secondary-and-tertiary-inverse-disabled: #ffdad3;
  --md-sys-color-text-hint-inverse: #ffdad3;
}

.light-high-contrast {
  --md-sys-color-primary-palette-key-color: #bb5957;
  --md-sys-color-secondary-palette-key-color: #557d8b;
  --md-sys-color-tertiary-palette-key-color: #02adc8;
  --md-sys-color-neutral-palette-key-color: #956e65;
  --md-sys-color-neutral-variant-palette-key-color: #b45f4d;
  --md-sys-color-error-palette-key-color: #cb4f31;
  --md-sys-color-background: #fff8f6;
  --md-sys-color-on-background: #000000;
  --md-sys-color-surface: #fff8f6;
  --md-sys-color-surface-dim: #ffcfc5;
  --md-sys-color-surface-bright: #fff8f6;
  --md-sys-color-surface-container-lowest: #ffffff;
  --md-sys-color-surface-container-low: #fff0ee;
  --md-sys-color-surface-container: #ffe9e5;
  --md-sys-color-surface-container-high: #ffe2dc;
  --md-sys-color-surface-container-highest: #ffdad3;
  --md-sys-color-on-surface: #000000;
  --md-sys-color-surface-variant: #ffdad3;
  --md-sys-color-on-surface-variant: #41170e;
  --md-sys-color-inverse-surface: #1e0704;
  --md-sys-color-inverse-on-surface: #ffffff;
  --md-sys-color-outline: #67352a;
  --md-sys-color-outline-variant: #885044;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #4e050c;
  --md-sys-color-primary: #4e050c;
  --md-sys-color-primary-dim: #3d0005;
  --md-sys-color-on-primary: #ffcfcc;
  --md-sys-color-primary-container: #9d4241;
  --md-sys-color-on-primary-container: #ffffff;
  --md-sys-color-inverse-primary: #ffb1ad;
  --md-sys-color-primary-fixed: #9d4241;
  --md-sys-color-primary-fixed-dim: #8e3636;
  --md-sys-color-on-primary-fixed: #ffffff;
  --md-sys-color-on-primary-fixed-variant: #ffffff;
  --md-sys-color-secondary: #002832;
  --md-sys-color-secondary-dim: #001d25;
  --md-sys-color-on-secondary: #b7e1f0;
  --md-sys-color-secondary-container: #3c6572;
  --md-sys-color-on-secondary-container: #ffffff;
  --md-sys-color-secondary-fixed: #3c6572;
  --md-sys-color-secondary-fixed-dim: #305965;
  --md-sys-color-on-secondary-fixed: #ffffff;
  --md-sys-color-on-secondary-fixed-variant: #ffffff;
  --md-sys-color-tertiary: #002830;
  --md-sys-color-tertiary-dim: #001d23;
  --md-sys-color-on-tertiary: #89e8ff;
  --md-sys-color-tertiary-container: #00697a;
  --md-sys-color-on-tertiary-container: #ffffff;
  --md-sys-color-tertiary-fixed: #00697a;
  --md-sys-color-tertiary-fixed-dim: #005c6b;
  --md-sys-color-on-tertiary-fixed: #ffffff;
  --md-sys-color-on-tertiary-fixed-variant: #ffffff;
  --md-sys-color-error: #4c0a00;
  --md-sys-color-error-dim: #390600;
  --md-sys-color-on-error: #ffcfc4;
  --md-sys-color-error-container: #aa371c;
  --md-sys-color-on-error-container: #ffffff;
  --md-sys-color-control-activated: #9d4241;
  --md-sys-color-control-normal: #41170e;
  --md-sys-color-control-highlight: #0000001f;
  --md-sys-color-text-primary-inverse: #ffffff;
  --md-sys-color-text-secondary-and-tertiary-inverse: #ffb4a4;
  --md-sys-color-text-primary-inverse-disable-only: #ffdad3;
  --md-sys-color-text-secondary-and-tertiary-inverse-disabled: #ffdad3;
  --md-sys-color-text-hint-inverse: #ffdad3;
}

.dark {
  --md-sys-color-primary-palette-key-color: #ad625f;
  --md-sys-color-secondary-palette-key-color: #647b83;
  --md-sys-color-tertiary-palette-key-color: #02adc8;
  --md-sys-color-neutral-palette-key-color: #8f7069;
  --md-sys-color-neutral-variant-palette-key-color: #a96556;
  --md-sys-color-error-palette-key-color: #cb4f31;
  --md-sys-color-background: #1b0906;
  --md-sys-color-on-background: #ffded7;
  --md-sys-color-surface: #1b0906;
  --md-sys-color-surface-dim: #1b0906;
  --md-sys-color-surface-bright: #3d2621;
  --md-sys-color-surface-container-lowest: #000000;
  --md-sys-color-surface-container-low: #230d09;
  --md-sys-color-surface-container: #2c120d;
  --md-sys-color-surface-container-high: #351711;
  --md-sys-color-surface-container-highest: #3e1c15;
  --md-sys-color-on-surface: #ffded7;
  --md-sys-color-surface-variant: #3e1c15;
  --md-sys-color-on-surface-variant: #d59e92;
  --md-sys-color-inverse-surface: #fff8f6;
  --md-sys-color-inverse-on-surface: #6a4e48;
  --md-sys-color-outline: #9a6a5f;
  --md-sys-color-outline-variant: #663d34;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #ffb7b4;
  --md-sys-color-primary: #ffb7b4;
  --md-sys-color-primary-dim: #fda4a0;
  --md-sys-color-on-primary: #6d2e2d;
  --md-sys-color-primary-container: #fda4a0;
  --md-sys-color-on-primary-container: #612525;
  --md-sys-color-inverse-primary: #904a48;
  --md-sys-color-primary-fixed: #ffaba7;
  --md-sys-color-primary-fixed-dim: #f39c98;
  --md-sys-color-on-primary-fixed: #4b1515;
  --md-sys-color-on-primary-fixed-variant: #713230;
  --md-sys-color-secondary: #b3cad4;
  --md-sys-color-secondary-dim: #a5bdc6;
  --md-sys-color-on-secondary: #2d434b;
  --md-sys-color-secondary-container: #122930;
  --md-sys-color-on-secondary-container: #90a8b0;
  --md-sys-color-secondary-fixed: #dcf5fe;
  --md-sys-color-secondary-fixed-dim: #cee6f0;
  --md-sys-color-on-secondary-fixed: #354b53;
  --md-sys-color-on-secondary-fixed-variant: #516870;
  --md-sys-color-tertiary: #94e9ff;
  --md-sys-color-tertiary-dim: #5edffb;
  --md-sys-color-on-tertiary: #005665;
  --md-sys-color-tertiary-container: #5edffb;
  --md-sys-color-on-tertiary-container: #004d5a;
  --md-sys-color-tertiary-fixed: #5edffb;
  --md-sys-color-tertiary-fixed-dim: #4dd1ed;
  --md-sys-color-on-tertiary-fixed: #003842;
  --md-sys-color-on-tertiary-fixed-variant: #005765;
  --md-sys-color-error: #fe7453;
  --md-sys-color-error-dim: #c74c2f;
  --md-sys-color-on-error: #450900;
  --md-sys-color-error-container: #881f05;
  --md-sys-color-on-error-container: #ff9b82;
  --md-sys-color-control-activated: #fda4a0;
  --md-sys-color-control-normal: #d59e92;
  --md-sys-color-control-highlight: #ffffff33;
  --md-sys-color-text-primary-inverse: #6a4e48;
  --md-sys-color-text-secondary-and-tertiary-inverse: #6f372a;
  --md-sys-color-text-primary-inverse-disable-only: #2b1612;
  --md-sys-color-text-secondary-and-tertiary-inverse-disabled: #2b1612;
  --md-sys-color-text-hint-inverse: #2b1612;
}

.dark-medium-contrast {
  --md-sys-color-primary-palette-key-color: #ad625f;
  --md-sys-color-secondary-palette-key-color: #647b83;
  --md-sys-color-tertiary-palette-key-color: #02adc8;
  --md-sys-color-neutral-palette-key-color: #8f7069;
  --md-sys-color-neutral-variant-palette-key-color: #a96556;
  --md-sys-color-error-palette-key-color: #cb4f31;
  --md-sys-color-background: #1b0906;
  --md-sys-color-on-background: #ffffff;
  --md-sys-color-surface: #1b0906;
  --md-sys-color-surface-dim: #1b0906;
  --md-sys-color-surface-bright: #3d2621;
  --md-sys-color-surface-container-lowest: #000000;
  --md-sys-color-surface-container-low: #230d09;
  --md-sys-color-surface-container: #2c120d;
  --md-sys-color-surface-container-high: #351711;
  --md-sys-color-surface-container-highest: #3e1c15;
  --md-sys-color-on-surface: #ffffff;
  --md-sys-color-surface-variant: #3e1c15;
  --md-sys-color-on-surface-variant: #e4ab9f;
  --md-sys-color-inverse-surface: #fff8f6;
  --md-sys-color-inverse-on-surface: #4b322d;
  --md-sys-color-outline: #bb877c;
  --md-sys-color-outline-variant: #9a6a5f;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #ffb7b4;
  --md-sys-color-primary: #ffb7b4;
  --md-sys-color-primary-dim: #fda4a0;
  --md-sys-color-on-primary: #602524;
  --md-sys-color-primary-container: #fda4a0;
  --md-sys-color-on-primary-container: #541b1b;
  --md-sys-color-inverse-primary: #84413f;
  --md-sys-color-primary-fixed: #ffaba7;
  --md-sys-color-primary-fixed-dim: #f39c98;
  --md-sys-color-on-primary-fixed: #000000;
  --md-sys-color-on-primary-fixed-variant: #4b1515;
  --md-sys-color-secondary: #b3cad4;
  --md-sys-color-secondary-dim: #a5bdc6;
  --md-sys-color-on-secondary: #233941;
  --md-sys-color-secondary-container: #617880;
  --md-sys-color-on-secondary-container: #ffffff;
  --md-sys-color-secondary-fixed: #dcf5fe;
  --md-sys-color-secondary-fixed-dim: #cee6f0;
  --md-sys-color-on-secondary-fixed: #172d34;
  --md-sys-color-on-secondary-fixed-variant: #354b53;
  --md-sys-color-tertiary: #94e9ff;
  --md-sys-color-tertiary-dim: #5edffb;
  --md-sys-color-on-tertiary: #004c59;
  --md-sys-color-tertiary-container: #5edffb;
  --md-sys-color-on-tertiary-container: #00424e;
  --md-sys-color-tertiary-fixed: #5edffb;
  --md-sys-color-tertiary-fixed-dim: #4dd1ed;
  --md-sys-color-on-tertiary-fixed: #000a0d;
  --md-sys-color-on-tertiary-fixed-variant: #003842;
  --md-sys-color-error: #ffa089;
  --md-sys-color-error-dim: #ff8a6d;
  --md-sys-color-on-error: #5a0e00;
  --md-sys-color-error-container: #c74c2f;
  --md-sys-color-on-error-container: #ffffff;
  --md-sys-color-control-activated: #fda4a0;
  --md-sys-color-control-normal: #e4ab9f;
  --md-sys-color-control-highlight: #ffffff33;
  --md-sys-color-text-primary-inverse: #4b322d;
  --md-sys-color-text-secondary-and-tertiary-inverse: #6f372a;
  --md-sys-color-text-primary-inverse-disable-only: #2b1612;
  --md-sys-color-text-secondary-and-tertiary-inverse-disabled: #2b1612;
  --md-sys-color-text-hint-inverse: #2b1612;
}

.dark-high-contrast {
  --md-sys-color-primary-palette-key-color: #ad625f;
  --md-sys-color-secondary-palette-key-color: #647b83;
  --md-sys-color-tertiary-palette-key-color: #02adc8;
  --md-sys-color-neutral-palette-key-color: #8f7069;
  --md-sys-color-neutral-variant-palette-key-color: #a96556;
  --md-sys-color-error-palette-key-color: #cb4f31;
  --md-sys-color-background: #1b0906;
  --md-sys-color-on-background: #ffffff;
  --md-sys-color-surface: #1b0906;
  --md-sys-color-surface-dim: #1b0906;
  --md-sys-color-surface-bright: #3d2621;
  --md-sys-color-surface-container-lowest: #000000;
  --md-sys-color-surface-container-low: #230d09;
  --md-sys-color-surface-container: #2c120d;
  --md-sys-color-surface-container-high: #351711;
  --md-sys-color-surface-container-highest: #3e1c15;
  --md-sys-color-on-surface: #ffffff;
  --md-sys-color-surface-variant: #3e1c15;
  --md-sys-color-on-surface-variant: #ffded7;
  --md-sys-color-inverse-surface: #fff8f6;
  --md-sys-color-inverse-on-surface: #000000;
  --md-sys-color-outline: #e4ab9f;
  --md-sys-color-outline-variant: #bb877c;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #ffdedc;
  --md-sys-color-primary: #ffdedc;
  --md-sys-color-primary-dim: #ffc7c4;
  --md-sys-color-on-primary: #511919;
  --md-sys-color-primary-container: #fda4a0;
  --md-sys-color-on-primary-container: #000000;
  --md-sys-color-inverse-primary: #602524;
  --md-sys-color-primary-fixed: #ffaba7;
  --md-sys-color-primary-fixed-dim: #f39c98;
  --md-sys-color-on-primary-fixed: #000000;
  --md-sys-color-on-primary-fixed-variant: #000000;
  --md-sys-color-secondary: #d1e9f3;
  --md-sys-color-secondary-dim: #c3dbe5;
  --md-sys-color-on-secondary: #192f36;
  --md-sys-color-secondary-container: #8aa2aa;
  --md-sys-color-on-secondary-container: #000000;
  --md-sys-color-secondary-fixed: #dcf5fe;
  --md-sys-color-secondary-fixed-dim: #cee6f0;
  --md-sys-color-on-secondary-fixed: #000000;
  --md-sys-color-on-secondary-fixed-variant: #172d34;
  --md-sys-color-tertiary: #b3efff;
  --md-sys-color-tertiary-dim: #70e4ff;
  --md-sys-color-on-tertiary: #00313a;
  --md-sys-color-tertiary-container: #5edffb;
  --md-sys-color-on-tertiary-container: #001e24;
  --md-sys-color-tertiary-fixed: #5edffb;
  --md-sys-color-tertiary-fixed-dim: #4dd1ed;
  --md-sys-color-on-tertiary-fixed: #000000;
  --md-sys-color-on-tertiary-fixed-variant: #000a0d;
  --md-sys-color-error: #ffded7;
  --md-sys-color-error-dim: #ffc8bb;
  --md-sys-color-on-error: #5a0e00;
  --md-sys-color-error-container: #fe7453;
  --md-sys-color-on-error-container: #000000;
  --md-sys-color-control-activated: #fda4a0;
  --md-sys-color-control-normal: #ffded7;
  --md-sys-color-control-highlight: #ffffff33;
  --md-sys-color-text-primary-inverse: #000000;
  --md-sys-color-text-secondary-and-tertiary-inverse: #6f372a;
  --md-sys-color-text-primary-inverse-disable-only: #2b1612;
  --md-sys-color-text-secondary-and-tertiary-inverse-disabled: #2b1612;
  --md-sys-color-text-hint-inverse: #2b1612;
}

