.light {
  --md-sys-color-primary-palette-key-color: #fd0033;
  --md-sys-color-secondary-palette-key-color: #d83e43;
  --md-sys-color-tertiary-palette-key-color: #008ca6;
  --md-sys-color-neutral-palette-key-color: #8e706e;
  --md-sys-color-neutral-variant-palette-key-color: #946e6c;
  --md-sys-color-error-palette-key-color: #de3730;
  --md-sys-color-background: #fff8f7;
  --md-sys-color-on-background: #2a1615;
  --md-sys-color-surface: #fff8f7;
  --md-sys-color-surface-dim: #f7d1cf;
  --md-sys-color-surface-bright: #fff8f7;
  --md-sys-color-surface-container-lowest: #ffffff;
  --md-sys-color-surface-container-low: #fff0ef;
  --md-sys-color-surface-container: #ffe9e7;
  --md-sys-color-surface-container-high: #ffe1df;
  --md-sys-color-surface-container-highest: #ffdad8;
  --md-sys-color-on-surface: #2a1615;
  --md-sys-color-surface-variant: #ffdad8;
  --md-sys-color-on-surface-variant: #5f3e3d;
  --md-sys-color-inverse-surface: #412a29;
  --md-sys-color-inverse-on-surface: #ffedeb;
  --md-sys-color-outline: #946e6b;
  --md-sys-color-outline-variant: #e9bcb9;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #bf0024;
  --md-sys-color-primary: #bf0024;
  --md-sys-color-primary-dim: #d10028;
  --md-sys-color-on-primary: #ffffff;
  --md-sys-color-primary-container: #930019;
  --md-sys-color-on-primary-container: #ff9995;
  --md-sys-color-inverse-primary: #ffb3af;
  --md-sys-color-primary-fixed: #ffdad8;
  --md-sys-color-primary-fixed-dim: #ffb3af;
  --md-sys-color-on-primary-fixed: #410006;
  --md-sys-color-on-primary-fixed-variant: #930019;
  --md-sys-color-secondary: #b5232d;
  --md-sys-color-secondary-dim: #c32e35;
  --md-sys-color-on-secondary: #ffffff;
  --md-sys-color-secondary-container: #920119;
  --md-sys-color-on-secondary-container: #ff9995;
  --md-sys-color-secondary-fixed: #ffdad8;
  --md-sys-color-secondary-fixed-dim: #ffb3af;
  --md-sys-color-on-secondary-fixed: #410006;
  --md-sys-color-on-secondary-fixed-variant: #920119;
  --md-sys-color-tertiary: #00687b;
  --md-sys-color-tertiary-dim: #007287;
  --md-sys-color-on-tertiary: #ffffff;
  --md-sys-color-tertiary-container: #004e5d;
  --md-sys-color-on-tertiary-container: #00c6ea;
  --md-sys-color-tertiary-fixed: #afecff;
  --md-sys-color-tertiary-fixed-dim: #13d8ff;
  --md-sys-color-on-tertiary-fixed: #001f27;
  --md-sys-color-on-tertiary-fixed-variant: #004e5d;
  --md-sys-color-error: #ba1a1a;
  --md-sys-color-error-dim: #ac0c12;
  --md-sys-color-on-error: #ffffff;
  --md-sys-color-error-container: #93000a;
  --md-sys-color-on-error-container: #ff9a8e;
}

.light-medium-contrast {
  --md-sys-color-primary-palette-key-color: #fd0033;
  --md-sys-color-secondary-palette-key-color: #d83e43;
  --md-sys-color-tertiary-palette-key-color: #008ca6;
  --md-sys-color-neutral-palette-key-color: #8e706e;
  --md-sys-color-neutral-variant-palette-key-color: #946e6c;
  --md-sys-color-error-palette-key-color: #de3730;
  --md-sys-color-background: #fff8f7;
  --md-sys-color-on-background: #2a1615;
  --md-sys-color-surface: #fff8f7;
  --md-sys-color-surface-dim: #e2bebc;
  --md-sys-color-surface-bright: #fff8f7;
  --md-sys-color-surface-container-lowest: #ffffff;
  --md-sys-color-surface-container-low: #fff0ef;
  --md-sys-color-surface-container: #ffe1df;
  --md-sys-color-surface-container-high: #fad4d2;
  --md-sys-color-surface-container-highest: #eec9c7;
  --md-sys-color-on-surface: #1e0c0b;
  --md-sys-color-surface-variant: #ffdad8;
  --md-sys-color-on-surface-variant: #4c2e2d;
  --md-sys-color-inverse-surface: #412a29;
  --md-sys-color-inverse-on-surface: #ffedeb;
  --md-sys-color-outline: #6c4a48;
  --md-sys-color-outline-variant: #896462;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #bf0024;
  --md-sys-color-primary: #730011;
  --md-sys-color-primary-dim: #8e0018;
  --md-sys-color-on-primary: #ffffff;
  --md-sys-color-primary-container: #4b0008;
  --md-sys-color-on-primary-container: #ff8a86;
  --md-sys-color-inverse-primary: #ffb3af;
  --md-sys-color-primary-fixed: #db002a;
  --md-sys-color-primary-fixed-dim: #ad001f;
  --md-sys-color-on-primary-fixed: #ffffff;
  --md-sys-color-on-primary-fixed-variant: #ffffff;
  --md-sys-color-secondary: #730011;
  --md-sys-color-secondary-dim: #8e0018;
  --md-sys-color-on-secondary: #ffffff;
  --md-sys-color-secondary-container: #4b0008;
  --md-sys-color-on-secondary-container: #ff8a86;
  --md-sys-color-secondary-fixed: #ca333a;
  --md-sys-color-secondary-fixed-dim: #a71725;
  --md-sys-color-on-secondary-fixed: #ffffff;
  --md-sys-color-on-secondary-fixed-variant: #ffffff;
  --md-sys-color-tertiary: #003c48;
  --md-sys-color-tertiary-dim: #004c5b;
  --md-sys-color-on-tertiary: #ffffff;
  --md-sys-color-tertiary-container: #00252d;
  --md-sys-color-on-tertiary-container: #00bcde;
  --md-sys-color-tertiary-fixed: #00778e;
  --md-sys-color-tertiary-fixed-dim: #005d6f;
  --md-sys-color-on-tertiary-fixed: #ffffff;
  --md-sys-color-on-tertiary-fixed-variant: #ffffff;
  --md-sys-color-error: #740006;
  --md-sys-color-error-dim: #8f0009;
  --md-sys-color-on-error: #ffffff;
  --md-sys-color-error-container: #4b0002;
  --md-sys-color-on-error-container: #ff8b7e;
}

.light-high-contrast {
  --md-sys-color-primary-palette-key-color: #fd0033;
  --md-sys-color-secondary-palette-key-color: #d83e43;
  --md-sys-color-tertiary-palette-key-color: #008ca6;
  --md-sys-color-neutral-palette-key-color: #8e706e;
  --md-sys-color-neutral-variant-palette-key-color: #946e6c;
  --md-sys-color-error-palette-key-color: #de3730;
  --md-sys-color-background: #fff8f7;
  --md-sys-color-on-background: #2a1615;
  --md-sys-color-surface: #fff8f7;
  --md-sys-color-surface-dim: #d4b1ae;
  --md-sys-color-surface-bright: #fff8f7;
  --md-sys-color-surface-container-lowest: #ffffff;
  --md-sys-color-surface-container-low: #ffedeb;
  --md-sys-color-surface-container: #ffdad8;
  --md-sys-color-surface-container-high: #f1ccca;
  --md-sys-color-surface-container-highest: #e2bebc;
  --md-sys-color-on-surface: #000000;
  --md-sys-color-surface-variant: #ffdad8;
  --md-sys-color-on-surface-variant: #000000;
  --md-sys-color-inverse-surface: #412a29;
  --md-sys-color-inverse-on-surface: #ffffff;
  --md-sys-color-outline: #412423;
  --md-sys-color-outline-variant: #62413f;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #bf0024;
  --md-sys-color-primary: #60000c;
  --md-sys-color-primary-dim: #480007;
  --md-sys-color-on-primary: #ffffff;
  --md-sys-color-primary-container: #390004;
  --md-sys-color-on-primary-container: #ffbcb8;
  --md-sys-color-inverse-primary: #ffb3af;
  --md-sys-color-primary-fixed: #97001a;
  --md-sys-color-primary-fixed-dim: #6d000f;
  --md-sys-color-on-primary-fixed: #ffffff;
  --md-sys-color-on-primary-fixed-variant: #ffffff;
  --md-sys-color-secondary: #60000c;
  --md-sys-color-secondary-dim: #480007;
  --md-sys-color-on-secondary: #ffffff;
  --md-sys-color-secondary-container: #390004;
  --md-sys-color-on-secondary-container: #ffbcb8;
  --md-sys-color-secondary-fixed: #96051b;
  --md-sys-color-secondary-fixed-dim: #6d000f;
  --md-sys-color-on-secondary-fixed: #ffffff;
  --md-sys-color-on-secondary-fixed-variant: #ffffff;
  --md-sys-color-tertiary: #00313c;
  --md-sys-color-tertiary-dim: #00232c;
  --md-sys-color-on-tertiary: #ffffff;
  --md-sys-color-tertiary-container: #001b22;
  --md-sys-color-on-tertiary-container: #52ddff;
  --md-sys-color-tertiary-fixed: #005160;
  --md-sys-color-tertiary-fixed-dim: #003844;
  --md-sys-color-on-tertiary-fixed: #ffffff;
  --md-sys-color-on-tertiary-fixed-variant: #ffffff;
  --md-sys-color-error: #600004;
  --md-sys-color-error-dim: #480002;
  --md-sys-color-on-error: #ffffff;
  --md-sys-color-error-container: #390001;
  --md-sys-color-on-error-container: #ffbcb4;
}

.dark {
  --md-sys-color-primary-palette-key-color: #fd0033;
  --md-sys-color-secondary-palette-key-color: #d83e43;
  --md-sys-color-tertiary-palette-key-color: #008ca6;
  --md-sys-color-neutral-palette-key-color: #8e706e;
  --md-sys-color-neutral-variant-palette-key-color: #946e6c;
  --md-sys-color-error-palette-key-color: #de3730;
  --md-sys-color-background: #210e0d;
  --md-sys-color-on-background: #ffdad8;
  --md-sys-color-surface: #210e0d;
  --md-sys-color-surface-dim: #210e0d;
  --md-sys-color-surface-bright: #4b3332;
  --md-sys-color-surface-container-lowest: #1b0909;
  --md-sys-color-surface-container-low: #2a1615;
  --md-sys-color-surface-container: #2f1a19;
  --md-sys-color-surface-container-high: #3a2423;
  --md-sys-color-surface-container-highest: #462f2e;
  --md-sys-color-on-surface: #ffdad8;
  --md-sys-color-surface-variant: #5f3e3d;
  --md-sys-color-on-surface-variant: #e9bcb9;
  --md-sys-color-inverse-surface: #ffdad8;
  --md-sys-color-inverse-on-surface: #412a29;
  --md-sys-color-outline: #b08784;
  --md-sys-color-outline-variant: #5f3e3d;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #ffb3af;
  --md-sys-color-primary: #ffb3af;
  --md-sys-color-primary-dim: #ffc7c4;
  --md-sys-color-on-primary: #68000e;
  --md-sys-color-primary-container: #ffdad8;
  --md-sys-color-on-primary-container: #380004;
  --md-sys-color-inverse-primary: #bf0024;
  --md-sys-color-primary-fixed: #ffdad8;
  --md-sys-color-primary-fixed-dim: #ffb3af;
  --md-sys-color-on-primary-fixed: #410006;
  --md-sys-color-on-primary-fixed-variant: #930019;
  --md-sys-color-secondary: #ffb3af;
  --md-sys-color-secondary-dim: #ffc7c4;
  --md-sys-color-on-secondary: #68000e;
  --md-sys-color-secondary-container: #ffdad8;
  --md-sys-color-on-secondary-container: #be2a32;
  --md-sys-color-secondary-fixed: #ffdad8;
  --md-sys-color-secondary-fixed-dim: #ffb3af;
  --md-sys-color-on-secondary-fixed: #410006;
  --md-sys-color-on-secondary-fixed-variant: #920119;
  --md-sys-color-tertiary: #13d8ff;
  --md-sys-color-tertiary-dim: #7ce2ff;
  --md-sys-color-on-tertiary: #003641;
  --md-sys-color-tertiary-container: #afecff;
  --md-sys-color-on-tertiary-container: #001a21;
  --md-sys-color-tertiary-fixed: #afecff;
  --md-sys-color-tertiary-fixed-dim: #13d8ff;
  --md-sys-color-on-tertiary-fixed: #001f27;
  --md-sys-color-on-tertiary-fixed-variant: #004e5d;
  --md-sys-color-error: #ffb4ab;
  --md-sys-color-error-dim: #ffc7c0;
  --md-sys-color-on-error: #690005;
  --md-sys-color-error-container: #ffdad6;
  --md-sys-color-on-error-container: #c32220;
}

.dark-medium-contrast {
  --md-sys-color-primary-palette-key-color: #fd0033;
  --md-sys-color-secondary-palette-key-color: #d83e43;
  --md-sys-color-tertiary-palette-key-color: #008ca6;
  --md-sys-color-neutral-palette-key-color: #8e706e;
  --md-sys-color-neutral-variant-palette-key-color: #946e6c;
  --md-sys-color-error-palette-key-color: #de3730;
  --md-sys-color-background: #210e0d;
  --md-sys-color-on-background: #ffdad8;
  --md-sys-color-surface: #210e0d;
  --md-sys-color-surface-dim: #210e0d;
  --md-sys-color-surface-bright: #573e3d;
  --md-sys-color-surface-container-lowest: #120404;
  --md-sys-color-surface-container-low: #2c1817;
  --md-sys-color-surface-container: #382221;
  --md-sys-color-surface-container-high: #442d2b;
  --md-sys-color-surface-container-highest: #503736;
  --md-sys-color-on-surface: #ffffff;
  --md-sys-color-surface-variant: #5f3e3d;
  --md-sys-color-on-surface-variant: #ffd2cf;
  --md-sys-color-inverse-surface: #ffdad8;
  --md-sys-color-inverse-on-surface: #3a2423;
  --md-sys-color-outline: #d3a7a5;
  --md-sys-color-outline-variant: #af8684;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #ffb3af;
  --md-sys-color-primary: #ffd2cf;
  --md-sys-color-primary-dim: #ffc7c4;
  --md-sys-color-on-primary: #540009;
  --md-sys-color-primary-container: #fff7f6;
  --md-sys-color-on-primary-container: #380004;
  --md-sys-color-inverse-primary: #950019;
  --md-sys-color-primary-fixed: #ffdad8;
  --md-sys-color-primary-fixed-dim: #ffb3af;
  --md-sys-color-on-primary-fixed: #2d0003;
  --md-sys-color-on-primary-fixed-variant: #730011;
  --md-sys-color-secondary: #ffd2cf;
  --md-sys-color-secondary-dim: #ffc7c4;
  --md-sys-color-on-secondary: #540009;
  --md-sys-color-secondary-container: #fff7f6;
  --md-sys-color-on-secondary-container: #a71725;
  --md-sys-color-secondary-fixed: #ffdad8;
  --md-sys-color-secondary-fixed-dim: #ffb3af;
  --md-sys-color-on-secondary-fixed: #2d0003;
  --md-sys-color-on-secondary-fixed-variant: #730011;
  --md-sys-color-tertiary: #9ae8ff;
  --md-sys-color-tertiary-dim: #7ce2ff;
  --md-sys-color-on-tertiary: #002a33;
  --md-sys-color-tertiary-container: #f0fbff;
  --md-sys-color-on-tertiary-container: #001a21;
  --md-sys-color-tertiary-fixed: #afecff;
  --md-sys-color-tertiary-fixed-dim: #13d8ff;
  --md-sys-color-on-tertiary-fixed: #001419;
  --md-sys-color-on-tertiary-fixed-variant: #003c48;
  --md-sys-color-error: #ffd2cc;
  --md-sys-color-error-dim: #ffc7c0;
  --md-sys-color-on-error: #540003;
  --md-sys-color-error-container: #fff7f6;
  --md-sys-color-on-error-container: #ab0b12;
}

.dark-high-contrast {
  --md-sys-color-primary-palette-key-color: #fd0033;
  --md-sys-color-secondary-palette-key-color: #d83e43;
  --md-sys-color-tertiary-palette-key-color: #008ca6;
  --md-sys-color-neutral-palette-key-color: #8e706e;
  --md-sys-color-neutral-variant-palette-key-color: #946e6c;
  --md-sys-color-error-palette-key-color: #de3730;
  --md-sys-color-background: #210e0d;
  --md-sys-color-on-background: #ffdad8;
  --md-sys-color-surface: #210e0d;
  --md-sys-color-surface-dim: #210e0d;
  --md-sys-color-surface-bright: #644948;
  --md-sys-color-surface-container-lowest: #000000;
  --md-sys-color-surface-container-low: #2f1a19;
  --md-sys-color-surface-container: #412a29;
  --md-sys-color-surface-container-high: #4e3534;
  --md-sys-color-surface-container-highest: #5a403f;
  --md-sys-color-on-surface: #ffffff;
  --md-sys-color-surface-variant: #5f3e3d;
  --md-sys-color-on-surface-variant: #ffffff;
  --md-sys-color-inverse-surface: #ffdad8;
  --md-sys-color-inverse-on-surface: #000000;
  --md-sys-color-outline: #ffecea;
  --md-sys-color-outline-variant: #e5b8b5;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #ffb3af;
  --md-sys-color-primary: #ffdad8;
  --md-sys-color-primary-dim: #fffeff;
  --md-sys-color-on-primary: #000000;
  --md-sys-color-primary-container: #ffffff;
  --md-sys-color-on-primary-container: #380004;
  --md-sys-color-inverse-primary: #950019;
  --md-sys-color-primary-fixed: #ffdad8;
  --md-sys-color-primary-fixed-dim: #ffb3af;
  --md-sys-color-on-primary-fixed: #000000;
  --md-sys-color-on-primary-fixed-variant: #2d0003;
  --md-sys-color-secondary: #ffdad8;
  --md-sys-color-secondary-dim: #fffeff;
  --md-sys-color-on-secondary: #000000;
  --md-sys-color-secondary-container: #ffffff;
  --md-sys-color-on-secondary-container: #7d0013;
  --md-sys-color-secondary-fixed: #ffdad8;
  --md-sys-color-secondary-fixed-dim: #ffb3af;
  --md-sys-color-on-secondary-fixed: #000000;
  --md-sys-color-on-secondary-fixed-variant: #2d0003;
  --md-sys-color-tertiary: #afecff;
  --md-sys-color-tertiary-dim: #fffeff;
  --md-sys-color-on-tertiary: #000000;
  --md-sys-color-tertiary-container: #ffffff;
  --md-sys-color-on-tertiary-container: #001a21;
  --md-sys-color-tertiary-fixed: #afecff;
  --md-sys-color-tertiary-fixed-dim: #13d8ff;
  --md-sys-color-on-tertiary-fixed: #000000;
  --md-sys-color-on-tertiary-fixed-variant: #001419;
  --md-sys-color-error: #ffdad6;
  --md-sys-color-error-dim: #fffeff;
  --md-sys-color-on-error: #000000;
  --md-sys-color-error-container: #ffffff;
  --md-sys-color-on-error-container: #7e0007;
}

