.light {
  --md-sys-color-primary-palette-key-color: #fd0033;
  --md-sys-color-secondary-palette-key-color: #d83e43;
  --md-sys-color-tertiary-palette-key-color: #008ca6;
  --md-sys-color-neutral-palette-key-color: #8e706e;
  --md-sys-color-neutral-variant-palette-key-color: #946e6c;
  --md-sys-color-error-palette-key-color: #de3730;
  --md-sys-color-background: #fff8f7;
  --md-sys-color-on-background: #442c2b;
  --md-sys-color-surface: #fff8f7;
  --md-sys-color-surface-dim: #f7d1cf;
  --md-sys-color-surface-bright: #fff8f7;
  --md-sys-color-surface-container-lowest: #ffffff;
  --md-sys-color-surface-container-low: #fff0ef;
  --md-sys-color-surface-container: #ffe9e7;
  --md-sys-color-surface-container-high: #ffe1df;
  --md-sys-color-surface-container-highest: #ffdad8;
  --md-sys-color-on-surface: #442c2b;
  --md-sys-color-surface-variant: #ffdad8;
  --md-sys-color-on-surface-variant: #745857;
  --md-sys-color-inverse-surface: #1b0909;
  --md-sys-color-inverse-on-surface: #b69593;
  --md-sys-color-outline: #927372;
  --md-sys-color-outline-variant: #ccaaa8;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #c10024;
  --md-sys-color-primary: #c10024;
  --md-sys-color-primary-dim: #aa001e;
  --md-sys-color-on-primary: #fff7f6;
  --md-sys-color-primary-container: #ff7573;
  --md-sys-color-on-primary-container: #4e0008;
  --md-sys-color-inverse-primary: #ff5356;
  --md-sys-color-primary-fixed: #ff7573;
  --md-sys-color-primary-fixed-dim: #ff595c;
  --md-sys-color-on-primary-fixed: #000000;
  --md-sys-color-on-primary-fixed-variant: #60000c;
  --md-sys-color-secondary: #b6242e;
  --md-sys-color-secondary-dim: #a51523;
  --md-sys-color-on-secondary: #fff7f6;
  --md-sys-color-secondary-container: #ffdad8;
  --md-sys-color-on-secondary-container: #a31322;
  --md-sys-color-secondary-fixed: #ffdad8;
  --md-sys-color-secondary-fixed-dim: #ffc7c4;
  --md-sys-color-on-secondary-fixed: #850015;
  --md-sys-color-on-secondary-fixed-variant: #b1202b;
  --md-sys-color-tertiary: #00687c;
  --md-sys-color-tertiary-dim: #005b6d;
  --md-sys-color-on-tertiary: #f0fbff;
  --md-sys-color-tertiary-container: #00d6fc;
  --md-sys-color-on-tertiary-container: #004553;
  --md-sys-color-tertiary-fixed: #00d6fc;
  --md-sys-color-tertiary-fixed-dim: #00c7eb;
  --md-sys-color-on-tertiary-fixed: #002f39;
  --md-sys-color-on-tertiary-fixed-variant: #004e5e;
  --md-sys-color-error: #bb1b1b;
  --md-sys-color-error-dim: #a90810;
  --md-sys-color-on-error: #fff7f6;
  --md-sys-color-error-container: #fe4e44;
  --md-sys-color-on-error-container: #570003;
}

.light-medium-contrast {
  --md-sys-color-primary-palette-key-color: #fd0033;
  --md-sys-color-secondary-palette-key-color: #d83e43;
  --md-sys-color-tertiary-palette-key-color: #008ca6;
  --md-sys-color-neutral-palette-key-color: #8e706e;
  --md-sys-color-neutral-variant-palette-key-color: #946e6c;
  --md-sys-color-error-palette-key-color: #de3730;
  --md-sys-color-background: #fff8f7;
  --md-sys-color-on-background: #341e1d;
  --md-sys-color-surface: #fff8f7;
  --md-sys-color-surface-dim: #f7d1cf;
  --md-sys-color-surface-bright: #fff8f7;
  --md-sys-color-surface-container-lowest: #ffffff;
  --md-sys-color-surface-container-low: #fff0ef;
  --md-sys-color-surface-container: #ffe9e7;
  --md-sys-color-surface-container-high: #ffe1df;
  --md-sys-color-surface-container-highest: #ffdad8;
  --md-sys-color-on-surface: #341e1d;
  --md-sys-color-surface-variant: #ffdad8;
  --md-sys-color-on-surface-variant: #563d3b;
  --md-sys-color-inverse-surface: #1b0909;
  --md-sys-color-inverse-on-surface: #e0bcba;
  --md-sys-color-outline: #745857;
  --md-sys-color-outline-variant: #927372;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #8b0017;
  --md-sys-color-primary: #8b0017;
  --md-sys-color-primary-dim: #760012;
  --md-sys-color-on-primary: #ffcecb;
  --md-sys-color-primary-container: #e9002e;
  --md-sys-color-on-primary-container: #ffffff;
  --md-sys-color-inverse-primary: #ff6e6d;
  --md-sys-color-primary-fixed: #e9002e;
  --md-sys-color-primary-fixed-dim: #d20028;
  --md-sys-color-on-primary-fixed: #ffffff;
  --md-sys-color-on-primary-fixed-variant: #ffffff;
  --md-sys-color-secondary: #8b0017;
  --md-sys-color-secondary-dim: #760012;
  --md-sys-color-on-secondary: #ffcecb;
  --md-sys-color-secondary-container: #d53b41;
  --md-sys-color-on-secondary-container: #ffffff;
  --md-sys-color-secondary-fixed: #d53b41;
  --md-sys-color-secondary-fixed-dim: #c32e36;
  --md-sys-color-on-secondary-fixed: #ffffff;
  --md-sys-color-on-secondary-fixed-variant: #ffffff;
  --md-sys-color-tertiary: #004a58;
  --md-sys-color-tertiary-dim: #003d4a;
  --md-sys-color-on-tertiary: #91e6ff;
  --md-sys-color-tertiary-container: #008098;
  --md-sys-color-on-tertiary-container: #ffffff;
  --md-sys-color-tertiary-fixed: #008098;
  --md-sys-color-tertiary-fixed-dim: #007288;
  --md-sys-color-on-tertiary-fixed: #ffffff;
  --md-sys-color-on-tertiary-fixed-variant: #ffffff;
  --md-sys-color-error: #8c0009;
  --md-sys-color-error-dim: #760006;
  --md-sys-color-on-error: #ffcec8;
  --md-sys-color-error-container: #da342e;
  --md-sys-color-on-error-container: #ffffff;
}

.light-high-contrast {
  --md-sys-color-primary-palette-key-color: #fd0033;
  --md-sys-color-secondary-palette-key-color: #d83e43;
  --md-sys-color-tertiary-palette-key-color: #008ca6;
  --md-sys-color-neutral-palette-key-color: #8e706e;
  --md-sys-color-neutral-variant-palette-key-color: #946e6c;
  --md-sys-color-error-palette-key-color: #de3730;
  --md-sys-color-background: #fff8f7;
  --md-sys-color-on-background: #000000;
  --md-sys-color-surface: #fff8f7;
  --md-sys-color-surface-dim: #f7d1cf;
  --md-sys-color-surface-bright: #fff8f7;
  --md-sys-color-surface-container-lowest: #ffffff;
  --md-sys-color-surface-container-low: #fff0ef;
  --md-sys-color-surface-container: #ffe9e7;
  --md-sys-color-surface-container-high: #ffe1df;
  --md-sys-color-surface-container-highest: #ffdad8;
  --md-sys-color-on-surface: #000000;
  --md-sys-color-surface-variant: #ffdad8;
  --md-sys-color-on-surface-variant: #341e1d;
  --md-sys-color-inverse-surface: #1b0909;
  --md-sys-color-inverse-on-surface: #ffffff;
  --md-sys-color-outline: #563d3b;
  --md-sys-color-outline-variant: #745857;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #510009;
  --md-sys-color-primary: #510009;
  --md-sys-color-primary-dim: #3d0005;
  --md-sys-color-on-primary: #ffcfcc;
  --md-sys-color-primary-container: #c10024;
  --md-sys-color-on-primary-container: #ffffff;
  --md-sys-color-inverse-primary: #ffb1ad;
  --md-sys-color-primary-fixed: #c10024;
  --md-sys-color-primary-fixed-dim: #aa001e;
  --md-sys-color-on-primary-fixed: #ffffff;
  --md-sys-color-on-primary-fixed-variant: #ffffff;
  --md-sys-color-secondary: #510009;
  --md-sys-color-secondary-dim: #3d0005;
  --md-sys-color-on-secondary: #ffcfcc;
  --md-sys-color-secondary-container: #b6242e;
  --md-sys-color-on-secondary-container: #ffffff;
  --md-sys-color-secondary-fixed: #b6242e;
  --md-sys-color-secondary-fixed-dim: #a51523;
  --md-sys-color-on-secondary-fixed: #ffffff;
  --md-sys-color-on-secondary-fixed-variant: #ffffff;
  --md-sys-color-tertiary: #002831;
  --md-sys-color-tertiary-dim: #001d24;
  --md-sys-color-on-tertiary: #92e6ff;
  --md-sys-color-tertiary-container: #00687c;
  --md-sys-color-on-tertiary-container: #ffffff;
  --md-sys-color-tertiary-fixed: #00687c;
  --md-sys-color-tertiary-fixed-dim: #005b6d;
  --md-sys-color-on-tertiary-fixed: #ffffff;
  --md-sys-color-on-tertiary-fixed-variant: #ffffff;
  --md-sys-color-error: #510003;
  --md-sys-color-error-dim: #3e0002;
  --md-sys-color-on-error: #ffcfc9;
  --md-sys-color-error-container: #bb1b1b;
  --md-sys-color-on-error-container: #ffffff;
}

.dark {
  --md-sys-color-primary-palette-key-color: #fd0033;
  --md-sys-color-secondary-palette-key-color: #d83e43;
  --md-sys-color-tertiary-palette-key-color: #008ca6;
  --md-sys-color-neutral-palette-key-color: #8e706e;
  --md-sys-color-neutral-variant-palette-key-color: #946e6c;
  --md-sys-color-error-palette-key-color: #de3730;
  --md-sys-color-background: #1b0909;
  --md-sys-color-on-background: #ffdedc;
  --md-sys-color-surface: #1b0909;
  --md-sys-color-surface-dim: #1b0909;
  --md-sys-color-surface-bright: #3d2625;
  --md-sys-color-surface-container-lowest: #000000;
  --md-sys-color-surface-container-low: #210e0d;
  --md-sys-color-surface-container: #281413;
  --md-sys-color-surface-container-high: #2f1a19;
  --md-sys-color-surface-container-highest: #36201f;
  --md-sys-color-on-surface: #ffdedc;
  --md-sys-color-surface-variant: #36201f;
  --md-sys-color-on-surface-variant: #c5a3a1;
  --md-sys-color-inverse-surface: #fff8f7;
  --md-sys-color-inverse-on-surface: #694e4d;
  --md-sys-color-outline: #8c6e6c;
  --md-sys-color-outline-variant: #5b4140;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #ff8d8a;
  --md-sys-color-primary: #ff8d8a;
  --md-sys-color-primary-dim: #e9002e;
  --md-sys-color-on-primary: #65000e;
  --md-sys-color-primary-container: #ff7573;
  --md-sys-color-on-primary-container: #4e0008;
  --md-sys-color-inverse-primary: #c10024;
  --md-sys-color-primary-fixed: #ff7573;
  --md-sys-color-primary-fixed-dim: #ff595c;
  --md-sys-color-on-primary-fixed: #000000;
  --md-sys-color-on-primary-fixed-variant: #60000c;
  --md-sys-color-secondary: #ffb3af;
  --md-sys-color-secondary-dim: #ff706f;
  --md-sys-color-on-secondary: #860016;
  --md-sys-color-secondary-container: #7d0013;
  --md-sys-color-on-secondary-container: #ffa9a5;
  --md-sys-color-secondary-fixed: #ffdad8;
  --md-sys-color-secondary-fixed-dim: #ffc7c4;
  --md-sys-color-on-secondary-fixed: #850015;
  --md-sys-color-on-secondary-fixed-variant: #b1202b;
  --md-sys-color-tertiary: #6fe0ff;
  --md-sys-color-tertiary-dim: #00d6fc;
  --md-sys-color-on-tertiary: #004f5e;
  --md-sys-color-tertiary-container: #00d6fc;
  --md-sys-color-on-tertiary-container: #004553;
  --md-sys-color-tertiary-fixed: #00d6fc;
  --md-sys-color-tertiary-fixed-dim: #00c7eb;
  --md-sys-color-on-tertiary-fixed: #002f39;
  --md-sys-color-on-tertiary-fixed-variant: #004e5e;
  --md-sys-color-error: #ff7164;
  --md-sys-color-error-dim: #da342e;
  --md-sys-color-on-error: #4a0002;
  --md-sys-color-error-container: #ac0c12;
  --md-sys-color-on-error-container: #ffb8b0;
}

.dark-medium-contrast {
  --md-sys-color-primary-palette-key-color: #fd0033;
  --md-sys-color-secondary-palette-key-color: #d83e43;
  --md-sys-color-tertiary-palette-key-color: #008ca6;
  --md-sys-color-neutral-palette-key-color: #8e706e;
  --md-sys-color-neutral-variant-palette-key-color: #946e6c;
  --md-sys-color-error-palette-key-color: #de3730;
  --md-sys-color-background: #1b0909;
  --md-sys-color-on-background: #ffffff;
  --md-sys-color-surface: #1b0909;
  --md-sys-color-surface-dim: #1b0909;
  --md-sys-color-surface-bright: #3d2625;
  --md-sys-color-surface-container-lowest: #000000;
  --md-sys-color-surface-container-low: #210e0d;
  --md-sys-color-surface-container: #281413;
  --md-sys-color-surface-container-high: #2f1a19;
  --md-sys-color-surface-container-highest: #36201f;
  --md-sys-color-on-surface: #ffffff;
  --md-sys-color-surface-variant: #36201f;
  --md-sys-color-on-surface-variant: #d4b1ae;
  --md-sys-color-inverse-surface: #fff8f7;
  --md-sys-color-inverse-on-surface: #4a3231;
  --md-sys-color-outline: #ac8c8a;
  --md-sys-color-outline-variant: #8c6e6c;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #ff9f9b;
  --md-sys-color-primary: #ff9f9b;
  --md-sys-color-primary-dim: #ff8884;
  --md-sys-color-on-primary: #60000c;
  --md-sys-color-primary-container: #ff7573;
  --md-sys-color-on-primary-container: #330004;
  --md-sys-color-inverse-primary: #ae001f;
  --md-sys-color-primary-fixed: #ff7573;
  --md-sys-color-primary-fixed-dim: #ff595c;
  --md-sys-color-on-primary-fixed: #000000;
  --md-sys-color-on-primary-fixed-variant: #000000;
  --md-sys-color-secondary: #ffb3af;
  --md-sys-color-secondary-dim: #ff8884;
  --md-sys-color-on-secondary: #730011;
  --md-sys-color-secondary-container: #d53b41;
  --md-sys-color-on-secondary-container: #ffffff;
  --md-sys-color-secondary-fixed: #ffdad8;
  --md-sys-color-secondary-fixed-dim: #ffc7c4;
  --md-sys-color-on-secondary-fixed: #480007;
  --md-sys-color-on-secondary-fixed-variant: #850015;
  --md-sys-color-tertiary: #6fe0ff;
  --md-sys-color-tertiary-dim: #00d6fc;
  --md-sys-color-on-tertiary: #004452;
  --md-sys-color-tertiary-container: #00d6fc;
  --md-sys-color-on-tertiary-container: #003a46;
  --md-sys-color-tertiary-fixed: #00d6fc;
  --md-sys-color-tertiary-fixed-dim: #00c7eb;
  --md-sys-color-on-tertiary-fixed: #000000;
  --md-sys-color-on-tertiary-fixed-variant: #002f39;
  --md-sys-color-error: #ff9f94;
  --md-sys-color-error-dim: #ff887c;
  --md-sys-color-on-error: #600004;
  --md-sys-color-error-container: #da342e;
  --md-sys-color-on-error-container: #ffffff;
}

.dark-high-contrast {
  --md-sys-color-primary-palette-key-color: #fd0033;
  --md-sys-color-secondary-palette-key-color: #d83e43;
  --md-sys-color-tertiary-palette-key-color: #008ca6;
  --md-sys-color-neutral-palette-key-color: #8e706e;
  --md-sys-color-neutral-variant-palette-key-color: #946e6c;
  --md-sys-color-error-palette-key-color: #de3730;
  --md-sys-color-background: #1b0909;
  --md-sys-color-on-background: #ffffff;
  --md-sys-color-surface: #1b0909;
  --md-sys-color-surface-dim: #1b0909;
  --md-sys-color-surface-bright: #3d2625;
  --md-sys-color-surface-container-lowest: #000000;
  --md-sys-color-surface-container-low: #210e0d;
  --md-sys-color-surface-container: #281413;
  --md-sys-color-surface-container-high: #2f1a19;
  --md-sys-color-surface-container-highest: #36201f;
  --md-sys-color-on-surface: #ffffff;
  --md-sys-color-surface-variant: #36201f;
  --md-sys-color-on-surface-variant: #ffdedc;
  --md-sys-color-inverse-surface: #fff8f7;
  --md-sys-color-inverse-on-surface: #000000;
  --md-sys-color-outline: #d4b1ae;
  --md-sys-color-outline-variant: #ac8c8a;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #ffdedc;
  --md-sys-color-primary: #ffdedc;
  --md-sys-color-primary-dim: #ffc7c4;
  --md-sys-color-on-primary: #60000c;
  --md-sys-color-primary-container: #ff7573;
  --md-sys-color-on-primary-container: #000000;
  --md-sys-color-inverse-primary: #770012;
  --md-sys-color-primary-fixed: #ff7573;
  --md-sys-color-primary-fixed-dim: #ff595c;
  --md-sys-color-on-primary-fixed: #000000;
  --md-sys-color-on-primary-fixed-variant: #000000;
  --md-sys-color-secondary: #ffdedc;
  --md-sys-color-secondary-dim: #ffc7c4;
  --md-sys-color-on-secondary: #60000c;
  --md-sys-color-secondary-container: #ff706f;
  --md-sys-color-on-secondary-container: #000000;
  --md-sys-color-secondary-fixed: #ffdad8;
  --md-sys-color-secondary-fixed-dim: #ffc7c4;
  --md-sys-color-on-secondary-fixed: #000000;
  --md-sys-color-on-secondary-fixed-variant: #480007;
  --md-sys-color-tertiary: #b9eeff;
  --md-sys-color-tertiary-dim: #7de3ff;
  --md-sys-color-on-tertiary: #00313b;
  --md-sys-color-tertiary-container: #00d6fc;
  --md-sys-color-on-tertiary-container: #000f14;
  --md-sys-color-tertiary-fixed: #00d6fc;
  --md-sys-color-tertiary-fixed-dim: #00c7eb;
  --md-sys-color-on-tertiary-fixed: #000000;
  --md-sys-color-on-tertiary-fixed-variant: #000000;
  --md-sys-color-error: #ffdeda;
  --md-sys-color-error-dim: #ffc8c1;
  --md-sys-color-on-error: #600004;
  --md-sys-color-error-container: #ff7164;
  --md-sys-color-on-error-container: #000000;
}

