.light {
  --md-sys-color-primary-palette-key-color: #a35ea4;
  --md-sys-color-secondary-palette-key-color: #986697;
  --md-sys-color-tertiary-palette-key-color: #ad625f;
  --md-sys-color-neutral-palette-key-color: #887270;
  --md-sys-color-neutral-variant-palette-key-color: #916e6c;
  --md-sys-color-error-palette-key-color: #de3730;
  --md-sys-color-background: #fff8f7;
  --md-sys-color-on-background: #3f2e2d;
  --md-sys-color-surface: #fff8f7;
  --md-sys-color-surface-dim: #f0d4d2;
  --md-sys-color-surface-bright: #fff8f7;
  --md-sys-color-surface-container-lowest: #ffffff;
  --md-sys-color-surface-container-low: #fff0ef;
  --md-sys-color-surface-container: #ffe9e7;
  --md-sys-color-surface-container-high: #fee2e0;
  --md-sys-color-surface-container-highest: #f8dcda;
  --md-sys-color-on-surface: #3f2e2d;
  --md-sys-color-surface-variant: #f8dcda;
  --md-sys-color-on-surface-variant: #6f5a59;
  --md-sys-color-inverse-surface: #180b0a;
  --md-sys-color-inverse-on-surface: #b09796;
  --md-sys-color-outline: #8c7574;
  --md-sys-color-outline-variant: #c6acaa;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #88468a;
  --md-sys-color-primary: #88468a;
  --md-sys-color-primary-dim: #7b3a7d;
  --md-sys-color-on-primary: #fff7fa;
  --md-sys-color-primary-container: #f8a9f5;
  --md-sys-color-on-primary-container: #632466;
  --md-sys-color-inverse-primary: #f8a9f5;
  --md-sys-color-primary-fixed: #f8a9f5;
  --md-sys-color-primary-fixed-dim: #e99ce7;
  --md-sys-color-on-primary-fixed: #4b0b50;
  --md-sys-color-on-primary-fixed-variant: #6d2d70;
  --md-sys-color-secondary: #7e4e7d;
  --md-sys-color-secondary-dim: #714271;
  --md-sys-color-on-secondary: #fff7fa;
  --md-sys-color-secondary-container: #ffd6fa;
  --md-sys-color-on-secondary-container: #6f416f;
  --md-sys-color-secondary-fixed: #ffd6fa;
  --md-sys-color-secondary-fixed-dim: #fdc2f8;
  --md-sys-color-on-secondary-fixed: #5b2f5c;
  --md-sys-color-on-secondary-fixed-variant: #7a4b7a;
  --md-sys-color-tertiary: #914b48;
  --md-sys-color-tertiary-dim: #823f3d;
  --md-sys-color-on-tertiary: #fff7f6;
  --md-sys-color-tertiary-container: #fda4a0;
  --md-sys-color-on-tertiary-container: #612525;
  --md-sys-color-tertiary-fixed: #fda4a0;
  --md-sys-color-tertiary-fixed-dim: #ed9793;
  --md-sys-color-on-tertiary-fixed: #451011;
  --md-sys-color-on-tertiary-fixed-variant: #6c2e2d;
  --md-sys-color-error: #bb1b1b;
  --md-sys-color-error-dim: #a90810;
  --md-sys-color-on-error: #fff7f6;
  --md-sys-color-error-container: #fe4e44;
  --md-sys-color-on-error-container: #570003;
}

.light-medium-contrast {
  --md-sys-color-primary-palette-key-color: #a35ea4;
  --md-sys-color-secondary-palette-key-color: #986697;
  --md-sys-color-tertiary-palette-key-color: #ad625f;
  --md-sys-color-neutral-palette-key-color: #887270;
  --md-sys-color-neutral-variant-palette-key-color: #916e6c;
  --md-sys-color-error-palette-key-color: #de3730;
  --md-sys-color-background: #fff8f7;
  --md-sys-color-on-background: #30201f;
  --md-sys-color-surface: #fff8f7;
  --md-sys-color-surface-dim: #f0d4d2;
  --md-sys-color-surface-bright: #fff8f7;
  --md-sys-color-surface-container-lowest: #ffffff;
  --md-sys-color-surface-container-low: #fff0ef;
  --md-sys-color-surface-container: #ffe9e7;
  --md-sys-color-surface-container-high: #fee2e0;
  --md-sys-color-surface-container-highest: #f8dcda;
  --md-sys-color-on-surface: #30201f;
  --md-sys-color-surface-variant: #f8dcda;
  --md-sys-color-on-surface-variant: #513e3d;
  --md-sys-color-inverse-surface: #180b0a;
  --md-sys-color-inverse-on-surface: #d9bfbd;
  --md-sys-color-outline: #6f5a59;
  --md-sys-color-outline-variant: #8c7574;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #68296b;
  --md-sys-color-primary: #68296b;
  --md-sys-color-primary-dim: #5b1c5f;
  --md-sys-color-on-primary: #ffc9fa;
  --md-sys-color-primary-container: #a05ba1;
  --md-sys-color-on-primary-container: #ffffff;
  --md-sys-color-inverse-primary: #f8a9f5;
  --md-sys-color-primary-fixed: #a05ba1;
  --md-sys-color-primary-fixed-dim: #924f94;
  --md-sys-color-on-primary-fixed: #ffffff;
  --md-sys-color-on-primary-fixed-variant: #ffffff;
  --md-sys-color-secondary: #5f325f;
  --md-sys-color-secondary-dim: #522753;
  --md-sys-color-on-secondary: #ffc9fa;
  --md-sys-color-secondary-container: #966394;
  --md-sys-color-on-secondary-container: #ffffff;
  --md-sys-color-secondary-fixed: #966394;
  --md-sys-color-secondary-fixed-dim: #885787;
  --md-sys-color-on-secondary-fixed: #ffffff;
  --md-sys-color-on-secondary-fixed-variant: #ffffff;
  --md-sys-color-tertiary: #6e2f2e;
  --md-sys-color-tertiary-dim: #602424;
  --md-sys-color-on-tertiary: #ffcecb;
  --md-sys-color-tertiary-container: #aa5f5d;
  --md-sys-color-on-tertiary-container: #ffffff;
  --md-sys-color-tertiary-fixed: #aa5f5d;
  --md-sys-color-tertiary-fixed-dim: #9b5351;
  --md-sys-color-on-tertiary-fixed: #ffffff;
  --md-sys-color-on-tertiary-fixed-variant: #ffffff;
  --md-sys-color-error: #8c0009;
  --md-sys-color-error-dim: #760006;
  --md-sys-color-on-error: #ffcec8;
  --md-sys-color-error-container: #da342e;
  --md-sys-color-on-error-container: #ffffff;
}

.light-high-contrast {
  --md-sys-color-primary-palette-key-color: #a35ea4;
  --md-sys-color-secondary-palette-key-color: #986697;
  --md-sys-color-tertiary-palette-key-color: #ad625f;
  --md-sys-color-neutral-palette-key-color: #887270;
  --md-sys-color-neutral-variant-palette-key-color: #916e6c;
  --md-sys-color-error-palette-key-color: #de3730;
  --md-sys-color-background: #fff8f7;
  --md-sys-color-on-background: #000000;
  --md-sys-color-surface: #fff8f7;
  --md-sys-color-surface-dim: #f0d4d2;
  --md-sys-color-surface-bright: #fff8f7;
  --md-sys-color-surface-container-lowest: #ffffff;
  --md-sys-color-surface-container-low: #fff0ef;
  --md-sys-color-surface-container: #ffe9e7;
  --md-sys-color-surface-container-high: #fee2e0;
  --md-sys-color-surface-container-highest: #f8dcda;
  --md-sys-color-on-surface: #000000;
  --md-sys-color-surface-variant: #f8dcda;
  --md-sys-color-on-surface-variant: #30201f;
  --md-sys-color-inverse-surface: #180b0a;
  --md-sys-color-inverse-on-surface: #ffffff;
  --md-sys-color-outline: #513e3d;
  --md-sys-color-outline-variant: #6f5a59;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #440249;
  --md-sys-color-primary: #440249;
  --md-sys-color-primary-dim: #340039;
  --md-sys-color-on-primary: #ffc9fa;
  --md-sys-color-primary-container: #88468a;
  --md-sys-color-on-primary-container: #ffffff;
  --md-sys-color-inverse-primary: #f8a9f5;
  --md-sys-color-primary-fixed: #88468a;
  --md-sys-color-primary-fixed-dim: #7b3a7d;
  --md-sys-color-on-primary-fixed: #ffffff;
  --md-sys-color-on-primary-fixed-variant: #ffffff;
  --md-sys-color-secondary: #3c123e;
  --md-sys-color-secondary-dim: #300733;
  --md-sys-color-on-secondary: #ffc9fa;
  --md-sys-color-secondary-container: #7e4e7d;
  --md-sys-color-on-secondary-container: #ffffff;
  --md-sys-color-secondary-fixed: #7e4e7d;
  --md-sys-color-secondary-fixed-dim: #714271;
  --md-sys-color-on-secondary-fixed: #ffffff;
  --md-sys-color-on-secondary-fixed-variant: #ffffff;
  --md-sys-color-tertiary: #461112;
  --md-sys-color-tertiary-dim: #380709;
  --md-sys-color-on-tertiary: #ffcfcc;
  --md-sys-color-tertiary-container: #914b48;
  --md-sys-color-on-tertiary-container: #ffffff;
  --md-sys-color-tertiary-fixed: #914b48;
  --md-sys-color-tertiary-fixed-dim: #823f3d;
  --md-sys-color-on-tertiary-fixed: #ffffff;
  --md-sys-color-on-tertiary-fixed-variant: #ffffff;
  --md-sys-color-error: #510003;
  --md-sys-color-error-dim: #3e0002;
  --md-sys-color-on-error: #ffcfc9;
  --md-sys-color-error-container: #bb1b1b;
  --md-sys-color-on-error-container: #ffffff;
}

.dark {
  --md-sys-color-primary-palette-key-color: #a35ea4;
  --md-sys-color-secondary-palette-key-color: #986697;
  --md-sys-color-tertiary-palette-key-color: #ad625f;
  --md-sys-color-neutral-palette-key-color: #887270;
  --md-sys-color-neutral-variant-palette-key-color: #916e6c;
  --md-sys-color-error-palette-key-color: #de3730;
  --md-sys-color-background: #180b0a;
  --md-sys-color-on-background: #fbdfdd;
  --md-sys-color-surface: #180b0a;
  --md-sys-color-surface-dim: #180b0a;
  --md-sys-color-surface-bright: #392827;
  --md-sys-color-surface-container-lowest: #000000;
  --md-sys-color-surface-container-low: #1e100f;
  --md-sys-color-surface-container: #251615;
  --md-sys-color-surface-container-high: #2b1c1b;
  --md-sys-color-surface-container-highest: #322221;
  --md-sys-color-on-surface: #fbdfdd;
  --md-sys-color-surface-variant: #322221;
  --md-sys-color-on-surface-variant: #bfa5a3;
  --md-sys-color-inverse-surface: #fff8f7;
  --md-sys-color-inverse-on-surface: #64504f;
  --md-sys-color-outline: #87706f;
  --md-sys-color-outline-variant: #564342;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #f8a9f5;
  --md-sys-color-primary: #f8a9f5;
  --md-sys-color-primary-dim: #e99ce7;
  --md-sys-color-on-primary: #632466;
  --md-sys-color-primary-container: #d187d0;
  --md-sys-color-on-primary-container: #420148;
  --md-sys-color-inverse-primary: #88468a;
  --md-sys-color-primary-fixed: #f8a9f5;
  --md-sys-color-primary-fixed-dim: #e99ce7;
  --md-sys-color-on-primary-fixed: #4b0b50;
  --md-sys-color-on-primary-fixed-variant: #6d2d70;
  --md-sys-color-secondary: #eeb4ea;
  --md-sys-color-secondary-dim: #dfa6dc;
  --md-sys-color-on-secondary: #5c305d;
  --md-sys-color-secondary-container: #572b57;
  --md-sys-color-on-secondary-container: #e6ade2;
  --md-sys-color-secondary-fixed: #ffd6fa;
  --md-sys-color-secondary-fixed-dim: #fdc2f8;
  --md-sys-color-on-secondary-fixed: #5b2f5c;
  --md-sys-color-on-secondary-fixed-variant: #7a4b7a;
  --md-sys-color-tertiary: #ffb7b4;
  --md-sys-color-tertiary-dim: #fda4a0;
  --md-sys-color-on-tertiary: #6d2e2d;
  --md-sys-color-tertiary-container: #fda4a0;
  --md-sys-color-on-tertiary-container: #612525;
  --md-sys-color-tertiary-fixed: #fda4a0;
  --md-sys-color-tertiary-fixed-dim: #ed9793;
  --md-sys-color-on-tertiary-fixed: #451011;
  --md-sys-color-on-tertiary-fixed-variant: #6c2e2d;
  --md-sys-color-error: #ff7164;
  --md-sys-color-error-dim: #da342e;
  --md-sys-color-on-error: #4a0002;
  --md-sys-color-error-container: #ac0c12;
  --md-sys-color-on-error-container: #ffb8b0;
}

.dark-medium-contrast {
  --md-sys-color-primary-palette-key-color: #a35ea4;
  --md-sys-color-secondary-palette-key-color: #986697;
  --md-sys-color-tertiary-palette-key-color: #ad625f;
  --md-sys-color-neutral-palette-key-color: #887270;
  --md-sys-color-neutral-variant-palette-key-color: #916e6c;
  --md-sys-color-error-palette-key-color: #de3730;
  --md-sys-color-background: #180b0a;
  --md-sys-color-on-background: #ffffff;
  --md-sys-color-surface: #180b0a;
  --md-sys-color-surface-dim: #180b0a;
  --md-sys-color-surface-bright: #392827;
  --md-sys-color-surface-container-lowest: #000000;
  --md-sys-color-surface-container-low: #1e100f;
  --md-sys-color-surface-container: #251615;
  --md-sys-color-surface-container-high: #2b1c1b;
  --md-sys-color-surface-container-highest: #322221;
  --md-sys-color-on-surface: #ffffff;
  --md-sys-color-surface-variant: #322221;
  --md-sys-color-on-surface-variant: #cdb3b1;
  --md-sys-color-inverse-surface: #fff8f7;
  --md-sys-color-inverse-on-surface: #463433;
  --md-sys-color-outline: #a68e8c;
  --md-sys-color-outline-variant: #87706f;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #f8a9f5;
  --md-sys-color-primary: #f8a9f5;
  --md-sys-color-primary-dim: #e99ce7;
  --md-sys-color-on-primary: #57185b;
  --md-sys-color-primary-container: #d187d0;
  --md-sys-color-on-primary-container: #2b002f;
  --md-sys-color-inverse-primary: #7d3c7f;
  --md-sys-color-primary-fixed: #f8a9f5;
  --md-sys-color-primary-fixed-dim: #e99ce7;
  --md-sys-color-on-primary-fixed: #000000;
  --md-sys-color-on-primary-fixed-variant: #4b0b50;
  --md-sys-color-secondary: #eeb4ea;
  --md-sys-color-secondary-dim: #dfa6dc;
  --md-sys-color-on-secondary: #512652;
  --md-sys-color-secondary-container: #966394;
  --md-sys-color-on-secondary-container: #ffffff;
  --md-sys-color-secondary-fixed: #ffd6fa;
  --md-sys-color-secondary-fixed-dim: #fdc2f8;
  --md-sys-color-on-secondary-fixed: #370d39;
  --md-sys-color-on-secondary-fixed-variant: #5b2f5c;
  --md-sys-color-tertiary: #ffb7b4;
  --md-sys-color-tertiary-dim: #fda4a0;
  --md-sys-color-on-tertiary: #602524;
  --md-sys-color-tertiary-container: #fda4a0;
  --md-sys-color-on-tertiary-container: #541b1b;
  --md-sys-color-tertiary-fixed: #fda4a0;
  --md-sys-color-tertiary-fixed-dim: #ed9793;
  --md-sys-color-on-tertiary-fixed: #000000;
  --md-sys-color-on-tertiary-fixed-variant: #451011;
  --md-sys-color-error: #ff9f94;
  --md-sys-color-error-dim: #ff887c;
  --md-sys-color-on-error: #600004;
  --md-sys-color-error-container: #da342e;
  --md-sys-color-on-error-container: #ffffff;
}

.dark-high-contrast {
  --md-sys-color-primary-palette-key-color: #a35ea4;
  --md-sys-color-secondary-palette-key-color: #986697;
  --md-sys-color-tertiary-palette-key-color: #ad625f;
  --md-sys-color-neutral-palette-key-color: #887270;
  --md-sys-color-neutral-variant-palette-key-color: #916e6c;
  --md-sys-color-error-palette-key-color: #de3730;
  --md-sys-color-background: #180b0a;
  --md-sys-color-on-background: #ffffff;
  --md-sys-color-surface: #180b0a;
  --md-sys-color-surface-dim: #180b0a;
  --md-sys-color-surface-bright: #392827;
  --md-sys-color-surface-container-lowest: #000000;
  --md-sys-color-surface-container-low: #1e100f;
  --md-sys-color-surface-container: #251615;
  --md-sys-color-surface-container-high: #2b1c1b;
  --md-sys-color-surface-container-highest: #322221;
  --md-sys-color-on-surface: #ffffff;
  --md-sys-color-surface-variant: #322221;
  --md-sys-color-on-surface-variant: #fbdfdd;
  --md-sys-color-inverse-surface: #fff8f7;
  --md-sys-color-inverse-on-surface: #000000;
  --md-sys-color-outline: #cdb3b1;
  --md-sys-color-outline-variant: #a68e8c;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #ffdbf9;
  --md-sys-color-primary: #ffdbf9;
  --md-sys-color-primary-dim: #ffc1fb;
  --md-sys-color-on-primary: #4d0e52;
  --md-sys-color-primary-container: #d187d0;
  --md-sys-color-on-primary-container: #000000;
  --md-sys-color-inverse-primary: #5c1d60;
  --md-sys-color-primary-fixed: #f8a9f5;
  --md-sys-color-primary-fixed-dim: #e99ce7;
  --md-sys-color-on-primary-fixed: #000000;
  --md-sys-color-on-primary-fixed-variant: #000000;
  --md-sys-color-secondary: #ffdbf9;
  --md-sys-color-secondary-dim: #fdc2f9;
  --md-sys-color-on-secondary: #451b47;
  --md-sys-color-secondary-container: #c28cbf;
  --md-sys-color-on-secondary-container: #000000;
  --md-sys-color-secondary-fixed: #ffd6fa;
  --md-sys-color-secondary-fixed-dim: #fdc2f8;
  --md-sys-color-on-secondary-fixed: #000000;
  --md-sys-color-on-secondary-fixed-variant: #370d39;
  --md-sys-color-tertiary: #ffdedc;
  --md-sys-color-tertiary-dim: #ffc7c4;
  --md-sys-color-on-tertiary: #511919;
  --md-sys-color-tertiary-container: #fda4a0;
  --md-sys-color-on-tertiary-container: #000000;
  --md-sys-color-tertiary-fixed: #fda4a0;
  --md-sys-color-tertiary-fixed-dim: #ed9793;
  --md-sys-color-on-tertiary-fixed: #000000;
  --md-sys-color-on-tertiary-fixed-variant: #000000;
  --md-sys-color-error: #ffdeda;
  --md-sys-color-error-dim: #ffc8c1;
  --md-sys-color-on-error: #600004;
  --md-sys-color-error-container: #ff7164;
  --md-sys-color-on-error-container: #000000;
}

