.light {
  --md-sys-color-primary-palette-key-color: #a35ea4;
  --md-sys-color-secondary-palette-key-color: #986697;
  --md-sys-color-tertiary-palette-key-color: #ad625f;
  --md-sys-color-neutral-palette-key-color: #887270;
  --md-sys-color-neutral-variant-palette-key-color: #916e6c;
  --md-sys-color-error-palette-key-color: #de3730;
  --md-sys-color-background: #fff8f7;
  --md-sys-color-on-background: #271817;
  --md-sys-color-surface: #fff8f7;
  --md-sys-color-surface-dim: #f0d4d2;
  --md-sys-color-surface-bright: #fff8f7;
  --md-sys-color-surface-container-lowest: #ffffff;
  --md-sys-color-surface-container-low: #fff0ef;
  --md-sys-color-surface-container: #ffe9e7;
  --md-sys-color-surface-container-high: #fee2e0;
  --md-sys-color-surface-container-highest: #f8dcda;
  --md-sys-color-on-surface: #271817;
  --md-sys-color-surface-variant: #ffdad8;
  --md-sys-color-on-surface-variant: #5d3f3e;
  --md-sys-color-inverse-surface: #3d2c2b;
  --md-sys-color-inverse-on-surface: #ffedeb;
  --md-sys-color-outline: #926e6d;
  --md-sys-color-outline-variant: #e7bdba;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #874589;
  --md-sys-color-primary: #874589;
  --md-sys-color-primary-dim: #924f93;
  --md-sys-color-on-primary: #ffffff;
  --md-sys-color-primary-container: #6c2d70;
  --md-sys-color-on-primary-container: #e89be6;
  --md-sys-color-inverse-primary: #fbacf8;
  --md-sys-color-primary-fixed: #ffd6fa;
  --md-sys-color-primary-fixed-dim: #fbacf8;
  --md-sys-color-on-primary-fixed: #37003c;
  --md-sys-color-on-primary-fixed-variant: #6c2d70;
  --md-sys-color-secondary: #7d4e7d;
  --md-sys-color-secondary-dim: #885787;
  --md-sys-color-on-secondary: #ffffff;
  --md-sys-color-secondary-container: #633664;
  --md-sys-color-on-secondary-container: #dba3d8;
  --md-sys-color-secondary-fixed: #ffd6fa;
  --md-sys-color-secondary-fixed-dim: #eeb4ea;
  --md-sys-color-on-secondary-fixed: #320935;
  --md-sys-color-on-secondary-fixed-variant: #633664;
  --md-sys-color-tertiary: #904a48;
  --md-sys-color-tertiary-dim: #9b5351;
  --md-sys-color-on-tertiary: #ffffff;
  --md-sys-color-tertiary-container: #733332;
  --md-sys-color-on-tertiary-container: #f59e9a;
  --md-sys-color-tertiary-fixed: #ffdad8;
  --md-sys-color-tertiary-fixed-dim: #ffb3af;
  --md-sys-color-on-tertiary-fixed: #3b080a;
  --md-sys-color-on-tertiary-fixed-variant: #733332;
  --md-sys-color-error: #ba1a1a;
  --md-sys-color-error-dim: #ac0c12;
  --md-sys-color-on-error: #ffffff;
  --md-sys-color-error-container: #93000a;
  --md-sys-color-on-error-container: #ff9a8e;
}

.light-medium-contrast {
  --md-sys-color-primary-palette-key-color: #a35ea4;
  --md-sys-color-secondary-palette-key-color: #986697;
  --md-sys-color-tertiary-palette-key-color: #ad625f;
  --md-sys-color-neutral-palette-key-color: #887270;
  --md-sys-color-neutral-variant-palette-key-color: #916e6c;
  --md-sys-color-error-palette-key-color: #de3730;
  --md-sys-color-background: #fff8f7;
  --md-sys-color-on-background: #271817;
  --md-sys-color-surface: #fff8f7;
  --md-sys-color-surface-dim: #dbc0be;
  --md-sys-color-surface-bright: #fff8f7;
  --md-sys-color-surface-container-lowest: #ffffff;
  --md-sys-color-surface-container-low: #fff0ef;
  --md-sys-color-surface-container: #fee2e0;
  --md-sys-color-surface-container-high: #f3d6d4;
  --md-sys-color-surface-container-highest: #e7cbc9;
  --md-sys-color-on-surface: #1b0d0d;
  --md-sys-color-surface-variant: #ffdad8;
  --md-sys-color-on-surface-variant: #4b2f2e;
  --md-sys-color-inverse-surface: #3d2c2b;
  --md-sys-color-inverse-on-surface: #ffedeb;
  --md-sys-color-outline: #6a4b49;
  --md-sys-color-outline-variant: #876563;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #874589;
  --md-sys-color-primary: #591b5d;
  --md-sys-color-primary-dim: #6a2a6d;
  --md-sys-color-on-primary: #ffffff;
  --md-sys-color-primary-container: #3f0045;
  --md-sys-color-on-primary-container: #de92dc;
  --md-sys-color-inverse-primary: #fbacf8;
  --md-sys-color-primary-fixed: #985499;
  --md-sys-color-primary-fixed-dim: #7d3b7f;
  --md-sys-color-on-primary-fixed: #ffffff;
  --md-sys-color-on-primary-fixed-variant: #ffffff;
  --md-sys-color-secondary: #512652;
  --md-sys-color-secondary-dim: #613461;
  --md-sys-color-on-secondary: #ffffff;
  --md-sys-color-secondary-container: #380f3b;
  --md-sys-color-on-secondary-container: #d19ace;
  --md-sys-color-secondary-fixed: #8d5c8c;
  --md-sys-color-secondary-fixed-dim: #734473;
  --md-sys-color-on-secondary-fixed: #ffffff;
  --md-sys-color-on-secondary-fixed-variant: #ffffff;
  --md-sys-color-tertiary: #5e2323;
  --md-sys-color-tertiary-dim: #703130;
  --md-sys-color-on-tertiary: #ffffff;
  --md-sys-color-tertiary-container: #420e0f;
  --md-sys-color-on-tertiary-container: #eb9591;
  --md-sys-color-tertiary-fixed: #a15856;
  --md-sys-color-tertiary-fixed-dim: #84413f;
  --md-sys-color-on-tertiary-fixed: #ffffff;
  --md-sys-color-on-tertiary-fixed-variant: #ffffff;
  --md-sys-color-error: #740006;
  --md-sys-color-error-dim: #8f0009;
  --md-sys-color-on-error: #ffffff;
  --md-sys-color-error-container: #4b0002;
  --md-sys-color-on-error-container: #ff8b7e;
}

.light-high-contrast {
  --md-sys-color-primary-palette-key-color: #a35ea4;
  --md-sys-color-secondary-palette-key-color: #986697;
  --md-sys-color-tertiary-palette-key-color: #ad625f;
  --md-sys-color-neutral-palette-key-color: #887270;
  --md-sys-color-neutral-variant-palette-key-color: #916e6c;
  --md-sys-color-error-palette-key-color: #de3730;
  --md-sys-color-background: #fff8f7;
  --md-sys-color-on-background: #271817;
  --md-sys-color-surface: #fff8f7;
  --md-sys-color-surface-dim: #cdb3b1;
  --md-sys-color-surface-bright: #fff8f7;
  --md-sys-color-surface-container-lowest: #ffffff;
  --md-sys-color-surface-container-low: #ffedeb;
  --md-sys-color-surface-container: #f8dcda;
  --md-sys-color-surface-container-high: #eacecc;
  --md-sys-color-surface-container-highest: #dbc0be;
  --md-sys-color-on-surface: #000000;
  --md-sys-color-surface-variant: #ffdad8;
  --md-sys-color-on-surface-variant: #000000;
  --md-sys-color-inverse-surface: #3d2c2b;
  --md-sys-color-inverse-on-surface: #ffffff;
  --md-sys-color-outline: #3f2524;
  --md-sys-color-outline-variant: #604140;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #874589;
  --md-sys-color-primary: #4d0e52;
  --md-sys-color-primary-dim: #3d0043;
  --md-sys-color-on-primary: #ffffff;
  --md-sys-color-primary-container: #300035;
  --md-sys-color-on-primary-container: #ffb3fc;
  --md-sys-color-inverse-primary: #fbacf8;
  --md-sys-color-primary-fixed: #6f2f72;
  --md-sys-color-primary-fixed-dim: #55165a;
  --md-sys-color-on-primary-fixed: #ffffff;
  --md-sys-color-on-primary-fixed-variant: #ffffff;
  --md-sys-color-secondary: #451b47;
  --md-sys-color-secondary-dim: #370d39;
  --md-sys-color-on-secondary: #ffffff;
  --md-sys-color-secondary-container: #2d0431;
  --md-sys-color-on-secondary-container: #f4baf0;
  --md-sys-color-secondary-fixed: #663966;
  --md-sys-color-secondary-fixed-dim: #4d224e;
  --md-sys-color-on-secondary-fixed: #ffffff;
  --md-sys-color-on-secondary-fixed-variant: #ffffff;
  --md-sys-color-tertiary: #511919;
  --md-sys-color-tertiary-dim: #400c0e;
  --md-sys-color-on-tertiary: #ffffff;
  --md-sys-color-tertiary-container: #350507;
  --md-sys-color-on-tertiary-container: #ffbcb8;
  --md-sys-color-tertiary-fixed: #763534;
  --md-sys-color-tertiary-fixed-dim: #59201f;
  --md-sys-color-on-tertiary-fixed: #ffffff;
  --md-sys-color-on-tertiary-fixed-variant: #ffffff;
  --md-sys-color-error: #600004;
  --md-sys-color-error-dim: #480002;
  --md-sys-color-on-error: #ffffff;
  --md-sys-color-error-container: #390001;
  --md-sys-color-on-error-container: #ffbcb4;
}

.dark {
  --md-sys-color-primary-palette-key-color: #a35ea4;
  --md-sys-color-secondary-palette-key-color: #986697;
  --md-sys-color-tertiary-palette-key-color: #ad625f;
  --md-sys-color-neutral-palette-key-color: #887270;
  --md-sys-color-neutral-variant-palette-key-color: #916e6c;
  --md-sys-color-error-palette-key-color: #de3730;
  --md-sys-color-background: #1e100f;
  --md-sys-color-on-background: #f8dcda;
  --md-sys-color-surface: #1e100f;
  --md-sys-color-surface-dim: #1e100f;
  --md-sys-color-surface-bright: #473534;
  --md-sys-color-surface-container-lowest: #180b0a;
  --md-sys-color-surface-container-low: #271817;
  --md-sys-color-surface-container: #2b1c1b;
  --md-sys-color-surface-container-high: #362625;
  --md-sys-color-surface-container-highest: #42302f;
  --md-sys-color-on-surface: #f8dcda;
  --md-sys-color-surface-variant: #5d3f3e;
  --md-sys-color-on-surface-variant: #e7bdba;
  --md-sys-color-inverse-surface: #f8dcda;
  --md-sys-color-inverse-on-surface: #3d2c2b;
  --md-sys-color-outline: #ad8885;
  --md-sys-color-outline-variant: #5d3f3e;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #fbacf8;
  --md-sys-color-primary: #fbacf8;
  --md-sys-color-primary-dim: #ffc0fb;
  --md-sys-color-on-primary: #521457;
  --md-sys-color-primary-container: #ffd6fa;
  --md-sys-color-on-primary-container: #8e4b90;
  --md-sys-color-inverse-primary: #874589;
  --md-sys-color-primary-fixed: #ffd6fa;
  --md-sys-color-primary-fixed-dim: #fbacf8;
  --md-sys-color-on-primary-fixed: #37003c;
  --md-sys-color-on-primary-fixed-variant: #6c2d70;
  --md-sys-color-secondary: #eeb4ea;
  --md-sys-color-secondary-dim: #fdc2f8;
  --md-sys-color-on-secondary: #4a204c;
  --md-sys-color-secondary-container: #ffd6fa;
  --md-sys-color-on-secondary-container: #845483;
  --md-sys-color-secondary-fixed: #ffd6fa;
  --md-sys-color-secondary-fixed-dim: #eeb4ea;
  --md-sys-color-on-secondary-fixed: #320935;
  --md-sys-color-on-secondary-fixed-variant: #633664;
  --md-sys-color-tertiary: #ffb3af;
  --md-sys-color-tertiary-dim: #ffc7c4;
  --md-sys-color-on-tertiary: #571d1d;
  --md-sys-color-tertiary-container: #ffdad8;
  --md-sys-color-on-tertiary-container: #97504d;
  --md-sys-color-tertiary-fixed: #ffdad8;
  --md-sys-color-tertiary-fixed-dim: #ffb3af;
  --md-sys-color-on-tertiary-fixed: #3b080a;
  --md-sys-color-on-tertiary-fixed-variant: #733332;
  --md-sys-color-error: #ffb4ab;
  --md-sys-color-error-dim: #ffc7c0;
  --md-sys-color-on-error: #690005;
  --md-sys-color-error-container: #ffdad6;
  --md-sys-color-on-error-container: #c32220;
}

.dark-medium-contrast {
  --md-sys-color-primary-palette-key-color: #a35ea4;
  --md-sys-color-secondary-palette-key-color: #986697;
  --md-sys-color-tertiary-palette-key-color: #ad625f;
  --md-sys-color-neutral-palette-key-color: #887270;
  --md-sys-color-neutral-variant-palette-key-color: #916e6c;
  --md-sys-color-error-palette-key-color: #de3730;
  --md-sys-color-background: #1e100f;
  --md-sys-color-on-background: #f8dcda;
  --md-sys-color-surface: #1e100f;
  --md-sys-color-surface-dim: #1e100f;
  --md-sys-color-surface-bright: #53403f;
  --md-sys-color-surface-container-lowest: #100504;
  --md-sys-color-surface-container-low: #291a19;
  --md-sys-color-surface-container: #342423;
  --md-sys-color-surface-container-high: #402e2d;
  --md-sys-color-surface-container-highest: #4c3938;
  --md-sys-color-on-surface: #ffffff;
  --md-sys-color-surface-variant: #5d3f3e;
  --md-sys-color-on-surface-variant: #fed2cf;
  --md-sys-color-inverse-surface: #f8dcda;
  --md-sys-color-inverse-on-surface: #362625;
  --md-sys-color-outline: #d1a8a6;
  --md-sys-color-outline-variant: #ad8785;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #fbacf8;
  --md-sys-color-primary: #ffcdfa;
  --md-sys-color-primary-dim: #ffc0fb;
  --md-sys-color-on-primary: #46044b;
  --md-sys-color-primary-container: #fff7fa;
  --md-sys-color-on-primary-container: #7c3b7f;
  --md-sys-color-inverse-primary: #6e2e71;
  --md-sys-color-primary-fixed: #ffd6fa;
  --md-sys-color-primary-fixed-dim: #fbacf8;
  --md-sys-color-on-primary-fixed: #250029;
  --md-sys-color-on-primary-fixed-variant: #591b5d;
  --md-sys-color-secondary: #ffcdfa;
  --md-sys-color-secondary-dim: #fdc2f8;
  --md-sys-color-on-secondary: #3e1440;
  --md-sys-color-secondary-container: #fff7fa;
  --md-sys-color-on-secondary-container: #734473;
  --md-sys-color-secondary-fixed: #ffd6fa;
  --md-sys-color-secondary-fixed-dim: #eeb4ea;
  --md-sys-color-on-secondary-fixed: #250029;
  --md-sys-color-on-secondary-fixed-variant: #512652;
  --md-sys-color-tertiary: #ffd2cf;
  --md-sys-color-tertiary-dim: #ffc7c4;
  --md-sys-color-on-tertiary: #481313;
  --md-sys-color-tertiary-container: #fff7f6;
  --md-sys-color-on-tertiary-container: #84413f;
  --md-sys-color-tertiary-fixed: #ffdad8;
  --md-sys-color-tertiary-fixed-dim: #ffb3af;
  --md-sys-color-on-tertiary-fixed: #2c0103;
  --md-sys-color-on-tertiary-fixed-variant: #5e2323;
  --md-sys-color-error: #ffd2cc;
  --md-sys-color-error-dim: #ffc7c0;
  --md-sys-color-on-error: #540003;
  --md-sys-color-error-container: #fff7f6;
  --md-sys-color-on-error-container: #ab0b12;
}

.dark-high-contrast {
  --md-sys-color-primary-palette-key-color: #a35ea4;
  --md-sys-color-secondary-palette-key-color: #986697;
  --md-sys-color-tertiary-palette-key-color: #ad625f;
  --md-sys-color-neutral-palette-key-color: #887270;
  --md-sys-color-neutral-variant-palette-key-color: #916e6c;
  --md-sys-color-error-palette-key-color: #de3730;
  --md-sys-color-background: #1e100f;
  --md-sys-color-on-background: #f8dcda;
  --md-sys-color-surface: #1e100f;
  --md-sys-color-surface-dim: #1e100f;
  --md-sys-color-surface-bright: #5f4b4a;
  --md-sys-color-surface-container-lowest: #000000;
  --md-sys-color-surface-container-low: #2b1c1b;
  --md-sys-color-surface-container: #3d2c2b;
  --md-sys-color-surface-container-high: #493736;
  --md-sys-color-surface-container-highest: #554241;
  --md-sys-color-on-surface: #ffffff;
  --md-sys-color-surface-variant: #5d3f3e;
  --md-sys-color-on-surface-variant: #ffffff;
  --md-sys-color-inverse-surface: #f8dcda;
  --md-sys-color-inverse-on-surface: #000000;
  --md-sys-color-outline: #ffecea;
  --md-sys-color-outline-variant: #e2b9b6;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #fbacf8;
  --md-sys-color-primary: #ffd6fa;
  --md-sys-color-primary-dim: #fffeff;
  --md-sys-color-on-primary: #000000;
  --md-sys-color-primary-container: #ffffff;
  --md-sys-color-on-primary-container: #5f2163;
  --md-sys-color-inverse-primary: #6e2e71;
  --md-sys-color-primary-fixed: #ffd6fa;
  --md-sys-color-primary-fixed-dim: #fbacf8;
  --md-sys-color-on-primary-fixed: #000000;
  --md-sys-color-on-primary-fixed-variant: #250029;
  --md-sys-color-secondary: #ffd6fa;
  --md-sys-color-secondary-dim: #fffeff;
  --md-sys-color-on-secondary: #000000;
  --md-sys-color-secondary-container: #ffffff;
  --md-sys-color-on-secondary-container: #572b57;
  --md-sys-color-secondary-fixed: #ffd6fa;
  --md-sys-color-secondary-fixed-dim: #eeb4ea;
  --md-sys-color-on-secondary-fixed: #000000;
  --md-sys-color-on-secondary-fixed-variant: #250029;
  --md-sys-color-tertiary: #ffdad8;
  --md-sys-color-tertiary-dim: #fffeff;
  --md-sys-color-on-tertiary: #000000;
  --md-sys-color-tertiary-container: #ffffff;
  --md-sys-color-on-tertiary-container: #652827;
  --md-sys-color-tertiary-fixed: #ffdad8;
  --md-sys-color-tertiary-fixed-dim: #ffb3af;
  --md-sys-color-on-tertiary-fixed: #000000;
  --md-sys-color-on-tertiary-fixed-variant: #2c0103;
  --md-sys-color-error: #ffdad6;
  --md-sys-color-error-dim: #fffeff;
  --md-sys-color-on-error: #000000;
  --md-sys-color-error-container: #ffffff;
  --md-sys-color-on-error-container: #7e0007;
}

