.light {
  --md-sys-color-primary-palette-key-color: #777777;
  --md-sys-color-secondary-palette-key-color: #777777;
  --md-sys-color-tertiary-palette-key-color: #777777;
  --md-sys-color-neutral-palette-key-color: #777777;
  --md-sys-color-neutral-variant-palette-key-color: #777777;
  --md-sys-color-error-palette-key-color: #de3730;
  --md-sys-color-background: #f9f9f9;
  --md-sys-color-on-background: #323232;
  --md-sys-color-surface: #f9f9f9;
  --md-sys-color-surface-dim: #dadada;
  --md-sys-color-surface-bright: #f9f9f9;
  --md-sys-color-surface-container-lowest: #ffffff;
  --md-sys-color-surface-container-low: #f3f3f3;
  --md-sys-color-surface-container: #eeeeee;
  --md-sys-color-surface-container-high: #e8e8e8;
  --md-sys-color-surface-container-highest: #e2e2e2;
  --md-sys-color-on-surface: #323232;
  --md-sys-color-surface-variant: #e2e2e2;
  --md-sys-color-on-surface-variant: #5f5f5f;
  --md-sys-color-inverse-surface: #0e0e0e;
  --md-sys-color-inverse-on-surface: #9d9d9d;
  --md-sys-color-outline: #7b7b7b;
  --md-sys-color-outline-variant: #b2b2b2;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #5f5f5f;
  --md-sys-color-primary: #5f5f5f;
  --md-sys-color-primary-dim: #535353;
  --md-sys-color-on-primary: #f9f9f9;
  --md-sys-color-primary-container: #ebebeb;
  --md-sys-color-on-primary-container: #575757;
  --md-sys-color-inverse-primary: #ffffff;
  --md-sys-color-primary-fixed: #ebebeb;
  --md-sys-color-primary-fixed-dim: #dddddd;
  --md-sys-color-on-primary-fixed: #444444;
  --md-sys-color-on-primary-fixed-variant: #616161;
  --md-sys-color-secondary: #5f5f5f;
  --md-sys-color-secondary-dim: #535353;
  --md-sys-color-on-secondary: #f9f9f9;
  --md-sys-color-secondary-container: #e2e2e2;
  --md-sys-color-on-secondary-container: #525252;
  --md-sys-color-secondary-fixed: #e2e2e2;
  --md-sys-color-secondary-fixed-dim: #d4d4d4;
  --md-sys-color-on-secondary-fixed: #3f3f3f;
  --md-sys-color-on-secondary-fixed-variant: #5b5b5b;
  --md-sys-color-tertiary: #5f5f5f;
  --md-sys-color-tertiary-dim: #535353;
  --md-sys-color-on-tertiary: #f9f9f9;
  --md-sys-color-tertiary-container: #ffffff;
  --md-sys-color-on-tertiary-container: #626262;
  --md-sys-color-tertiary-fixed: #ffffff;
  --md-sys-color-tertiary-fixed-dim: #f1f1f1;
  --md-sys-color-on-tertiary-fixed: #505050;
  --md-sys-color-on-tertiary-fixed-variant: #6d6d6d;
  --md-sys-color-error: #bb1b1b;
  --md-sys-color-error-dim: #a90810;
  --md-sys-color-on-error: #fff7f6;
  --md-sys-color-error-container: #fe4e44;
  --md-sys-color-on-error-container: #570003;
}

.light-medium-contrast {
  --md-sys-color-primary-palette-key-color: #777777;
  --md-sys-color-secondary-palette-key-color: #777777;
  --md-sys-color-tertiary-palette-key-color: #777777;
  --md-sys-color-neutral-palette-key-color: #777777;
  --md-sys-color-neutral-variant-palette-key-color: #777777;
  --md-sys-color-error-palette-key-color: #de3730;
  --md-sys-color-background: #f9f9f9;
  --md-sys-color-on-background: #242424;
  --md-sys-color-surface: #f9f9f9;
  --md-sys-color-surface-dim: #dadada;
  --md-sys-color-surface-bright: #f9f9f9;
  --md-sys-color-surface-container-lowest: #ffffff;
  --md-sys-color-surface-container-low: #f3f3f3;
  --md-sys-color-surface-container: #eeeeee;
  --md-sys-color-surface-container-high: #e8e8e8;
  --md-sys-color-surface-container-highest: #e2e2e2;
  --md-sys-color-on-surface: #242424;
  --md-sys-color-surface-variant: #e2e2e2;
  --md-sys-color-on-surface-variant: #434343;
  --md-sys-color-inverse-surface: #0e0e0e;
  --md-sys-color-inverse-on-surface: #c5c5c5;
  --md-sys-color-outline: #5f5f5f;
  --md-sys-color-outline-variant: #7b7b7b;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #434343;
  --md-sys-color-primary: #434343;
  --md-sys-color-primary-dim: #373737;
  --md-sys-color-on-primary: #dadada;
  --md-sys-color-primary-container: #747474;
  --md-sys-color-on-primary-container: #ffffff;
  --md-sys-color-inverse-primary: #ffffff;
  --md-sys-color-primary-fixed: #747474;
  --md-sys-color-primary-fixed-dim: #686868;
  --md-sys-color-on-primary-fixed: #ffffff;
  --md-sys-color-on-primary-fixed-variant: #ffffff;
  --md-sys-color-secondary: #434343;
  --md-sys-color-secondary-dim: #373737;
  --md-sys-color-on-secondary: #dadada;
  --md-sys-color-secondary-container: #747474;
  --md-sys-color-on-secondary-container: #ffffff;
  --md-sys-color-secondary-fixed: #747474;
  --md-sys-color-secondary-fixed-dim: #686868;
  --md-sys-color-on-secondary-fixed: #ffffff;
  --md-sys-color-on-secondary-fixed-variant: #ffffff;
  --md-sys-color-tertiary: #434343;
  --md-sys-color-tertiary-dim: #373737;
  --md-sys-color-on-tertiary: #dadada;
  --md-sys-color-tertiary-container: #747474;
  --md-sys-color-on-tertiary-container: #ffffff;
  --md-sys-color-tertiary-fixed: #747474;
  --md-sys-color-tertiary-fixed-dim: #686868;
  --md-sys-color-on-tertiary-fixed: #ffffff;
  --md-sys-color-on-tertiary-fixed-variant: #ffffff;
  --md-sys-color-error: #8c0009;
  --md-sys-color-error-dim: #760006;
  --md-sys-color-on-error: #ffcec8;
  --md-sys-color-error-container: #da342e;
  --md-sys-color-on-error-container: #ffffff;
}

.light-high-contrast {
  --md-sys-color-primary-palette-key-color: #777777;
  --md-sys-color-secondary-palette-key-color: #777777;
  --md-sys-color-tertiary-palette-key-color: #777777;
  --md-sys-color-neutral-palette-key-color: #777777;
  --md-sys-color-neutral-variant-palette-key-color: #777777;
  --md-sys-color-error-palette-key-color: #de3730;
  --md-sys-color-background: #f9f9f9;
  --md-sys-color-on-background: #000000;
  --md-sys-color-surface: #f9f9f9;
  --md-sys-color-surface-dim: #dadada;
  --md-sys-color-surface-bright: #f9f9f9;
  --md-sys-color-surface-container-lowest: #ffffff;
  --md-sys-color-surface-container-low: #f3f3f3;
  --md-sys-color-surface-container: #eeeeee;
  --md-sys-color-surface-container-high: #e8e8e8;
  --md-sys-color-surface-container-highest: #e2e2e2;
  --md-sys-color-on-surface: #000000;
  --md-sys-color-surface-variant: #e2e2e2;
  --md-sys-color-on-surface-variant: #242424;
  --md-sys-color-inverse-surface: #0e0e0e;
  --md-sys-color-inverse-on-surface: #ffffff;
  --md-sys-color-outline: #434343;
  --md-sys-color-outline-variant: #5f5f5f;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #242424;
  --md-sys-color-primary: #242424;
  --md-sys-color-primary-dim: #1a1a1a;
  --md-sys-color-on-primary: #dadada;
  --md-sys-color-primary-container: #5f5f5f;
  --md-sys-color-on-primary-container: #ffffff;
  --md-sys-color-inverse-primary: #ffffff;
  --md-sys-color-primary-fixed: #5f5f5f;
  --md-sys-color-primary-fixed-dim: #535353;
  --md-sys-color-on-primary-fixed: #ffffff;
  --md-sys-color-on-primary-fixed-variant: #ffffff;
  --md-sys-color-secondary: #242424;
  --md-sys-color-secondary-dim: #1a1a1a;
  --md-sys-color-on-secondary: #dadada;
  --md-sys-color-secondary-container: #5f5f5f;
  --md-sys-color-on-secondary-container: #ffffff;
  --md-sys-color-secondary-fixed: #5f5f5f;
  --md-sys-color-secondary-fixed-dim: #535353;
  --md-sys-color-on-secondary-fixed: #ffffff;
  --md-sys-color-on-secondary-fixed-variant: #ffffff;
  --md-sys-color-tertiary: #242424;
  --md-sys-color-tertiary-dim: #1a1a1a;
  --md-sys-color-on-tertiary: #dadada;
  --md-sys-color-tertiary-container: #5f5f5f;
  --md-sys-color-on-tertiary-container: #ffffff;
  --md-sys-color-tertiary-fixed: #5f5f5f;
  --md-sys-color-tertiary-fixed-dim: #535353;
  --md-sys-color-on-tertiary-fixed: #ffffff;
  --md-sys-color-on-tertiary-fixed-variant: #ffffff;
  --md-sys-color-error: #510003;
  --md-sys-color-error-dim: #3e0002;
  --md-sys-color-on-error: #ffcfc9;
  --md-sys-color-error-container: #bb1b1b;
  --md-sys-color-on-error-container: #ffffff;
}

.dark {
  --md-sys-color-primary-palette-key-color: #777777;
  --md-sys-color-secondary-palette-key-color: #777777;
  --md-sys-color-tertiary-palette-key-color: #777777;
  --md-sys-color-neutral-palette-key-color: #777777;
  --md-sys-color-neutral-variant-palette-key-color: #777777;
  --md-sys-color-error-palette-key-color: #de3730;
  --md-sys-color-background: #0e0e0e;
  --md-sys-color-on-background: #e5e5e5;
  --md-sys-color-surface: #0e0e0e;
  --md-sys-color-surface-dim: #0e0e0e;
  --md-sys-color-surface-bright: #2c2c2c;
  --md-sys-color-surface-container-lowest: #000000;
  --md-sys-color-surface-container-low: #131313;
  --md-sys-color-surface-container: #191919;
  --md-sys-color-surface-container-high: #1f1f1f;
  --md-sys-color-surface-container-highest: #262626;
  --md-sys-color-on-surface: #e5e5e5;
  --md-sys-color-surface-variant: #262626;
  --md-sys-color-on-surface-variant: #ababab;
  --md-sys-color-inverse-surface: #f9f9f9;
  --md-sys-color-inverse-on-surface: #555555;
  --md-sys-color-outline: #757575;
  --md-sys-color-outline-variant: #484848;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #f9f9f9;
  --md-sys-color-primary: #f9f9f9;
  --md-sys-color-primary-dim: #ebebeb;
  --md-sys-color-on-primary: #5f5f5f;
  --md-sys-color-primary-container: #a0a0a0;
  --md-sys-color-on-primary-container: #232323;
  --md-sys-color-inverse-primary: #5f5f5f;
  --md-sys-color-primary-fixed: #ebebeb;
  --md-sys-color-primary-fixed-dim: #dddddd;
  --md-sys-color-on-primary-fixed: #444444;
  --md-sys-color-on-primary-fixed-variant: #616161;
  --md-sys-color-secondary: #c6c6c6;
  --md-sys-color-secondary-dim: #b9b9b9;
  --md-sys-color-on-secondary: #404040;
  --md-sys-color-secondary-container: #3b3b3b;
  --md-sys-color-on-secondary-container: #bfbfbf;
  --md-sys-color-secondary-fixed: #e2e2e2;
  --md-sys-color-secondary-fixed-dim: #d4d4d4;
  --md-sys-color-on-secondary-fixed: #3f3f3f;
  --md-sys-color-on-secondary-fixed-variant: #5b5b5b;
  --md-sys-color-tertiary: #f9f9f9;
  --md-sys-color-tertiary-dim: #ebebeb;
  --md-sys-color-on-tertiary: #5f5f5f;
  --md-sys-color-tertiary-container: #ebebeb;
  --md-sys-color-on-tertiary-container: #575757;
  --md-sys-color-tertiary-fixed: #ffffff;
  --md-sys-color-tertiary-fixed-dim: #f1f1f1;
  --md-sys-color-on-tertiary-fixed: #505050;
  --md-sys-color-on-tertiary-fixed-variant: #6d6d6d;
  --md-sys-color-error: #ff7164;
  --md-sys-color-error-dim: #da342e;
  --md-sys-color-on-error: #4a0002;
  --md-sys-color-error-container: #ac0c12;
  --md-sys-color-on-error-container: #ffb8b0;
}

.dark-medium-contrast {
  --md-sys-color-primary-palette-key-color: #777777;
  --md-sys-color-secondary-palette-key-color: #777777;
  --md-sys-color-tertiary-palette-key-color: #777777;
  --md-sys-color-neutral-palette-key-color: #777777;
  --md-sys-color-neutral-variant-palette-key-color: #777777;
  --md-sys-color-error-palette-key-color: #de3730;
  --md-sys-color-background: #0e0e0e;
  --md-sys-color-on-background: #ffffff;
  --md-sys-color-surface: #0e0e0e;
  --md-sys-color-surface-dim: #0e0e0e;
  --md-sys-color-surface-bright: #2c2c2c;
  --md-sys-color-surface-container-lowest: #000000;
  --md-sys-color-surface-container-low: #131313;
  --md-sys-color-surface-container: #191919;
  --md-sys-color-surface-container-high: #1f1f1f;
  --md-sys-color-surface-container-highest: #262626;
  --md-sys-color-on-surface: #ffffff;
  --md-sys-color-surface-variant: #262626;
  --md-sys-color-on-surface-variant: #b9b9b9;
  --md-sys-color-inverse-surface: #f9f9f9;
  --md-sys-color-inverse-on-surface: #383838;
  --md-sys-color-outline: #939393;
  --md-sys-color-outline-variant: #757575;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #f9f9f9;
  --md-sys-color-primary: #f9f9f9;
  --md-sys-color-primary-dim: #ebebeb;
  --md-sys-color-on-primary: #555555;
  --md-sys-color-primary-container: #a0a0a0;
  --md-sys-color-on-primary-container: #141414;
  --md-sys-color-inverse-primary: #555555;
  --md-sys-color-primary-fixed: #ebebeb;
  --md-sys-color-primary-fixed-dim: #dddddd;
  --md-sys-color-on-primary-fixed: #262626;
  --md-sys-color-on-primary-fixed-variant: #444444;
  --md-sys-color-secondary: #c6c6c6;
  --md-sys-color-secondary-dim: #b9b9b9;
  --md-sys-color-on-secondary: #363636;
  --md-sys-color-secondary-container: #747474;
  --md-sys-color-on-secondary-container: #ffffff;
  --md-sys-color-secondary-fixed: #e2e2e2;
  --md-sys-color-secondary-fixed-dim: #d4d4d4;
  --md-sys-color-on-secondary-fixed: #1f1f1f;
  --md-sys-color-on-secondary-fixed-variant: #3f3f3f;
  --md-sys-color-tertiary: #f9f9f9;
  --md-sys-color-tertiary-dim: #ebebeb;
  --md-sys-color-on-tertiary: #555555;
  --md-sys-color-tertiary-container: #ebebeb;
  --md-sys-color-on-tertiary-container: #4d4d4d;
  --md-sys-color-tertiary-fixed: #ffffff;
  --md-sys-color-tertiary-fixed-dim: #f1f1f1;
  --md-sys-color-on-tertiary-fixed: #333333;
  --md-sys-color-on-tertiary-fixed-variant: #505050;
  --md-sys-color-error: #ff9f94;
  --md-sys-color-error-dim: #ff887c;
  --md-sys-color-on-error: #600004;
  --md-sys-color-error-container: #da342e;
  --md-sys-color-on-error-container: #ffffff;
}

.dark-high-contrast {
  --md-sys-color-primary-palette-key-color: #777777;
  --md-sys-color-secondary-palette-key-color: #777777;
  --md-sys-color-tertiary-palette-key-color: #777777;
  --md-sys-color-neutral-palette-key-color: #777777;
  --md-sys-color-neutral-variant-palette-key-color: #777777;
  --md-sys-color-error-palette-key-color: #de3730;
  --md-sys-color-background: #0e0e0e;
  --md-sys-color-on-background: #ffffff;
  --md-sys-color-surface: #0e0e0e;
  --md-sys-color-surface-dim: #0e0e0e;
  --md-sys-color-surface-bright: #2c2c2c;
  --md-sys-color-surface-container-lowest: #000000;
  --md-sys-color-surface-container-low: #131313;
  --md-sys-color-surface-container: #191919;
  --md-sys-color-surface-container-high: #1f1f1f;
  --md-sys-color-surface-container-highest: #262626;
  --md-sys-color-on-surface: #ffffff;
  --md-sys-color-surface-variant: #262626;
  --md-sys-color-on-surface-variant: #e5e5e5;
  --md-sys-color-inverse-surface: #f9f9f9;
  --md-sys-color-inverse-on-surface: #000000;
  --md-sys-color-outline: #b9b9b9;
  --md-sys-color-outline-variant: #939393;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #f9f9f9;
  --md-sys-color-primary: #f9f9f9;
  --md-sys-color-primary-dim: #ebebeb;
  --md-sys-color-on-primary: #383838;
  --md-sys-color-primary-container: #a0a0a0;
  --md-sys-color-on-primary-container: #000000;
  --md-sys-color-inverse-primary: #383838;
  --md-sys-color-primary-fixed: #ebebeb;
  --md-sys-color-primary-fixed-dim: #dddddd;
  --md-sys-color-on-primary-fixed: #000000;
  --md-sys-color-on-primary-fixed-variant: #262626;
  --md-sys-color-secondary: #e5e5e5;
  --md-sys-color-secondary-dim: #d7d7d7;
  --md-sys-color-on-secondary: #2c2c2c;
  --md-sys-color-secondary-container: #9e9e9e;
  --md-sys-color-on-secondary-container: #000000;
  --md-sys-color-secondary-fixed: #e2e2e2;
  --md-sys-color-secondary-fixed-dim: #d4d4d4;
  --md-sys-color-on-secondary-fixed: #000000;
  --md-sys-color-on-secondary-fixed-variant: #1f1f1f;
  --md-sys-color-tertiary: #f9f9f9;
  --md-sys-color-tertiary-dim: #ebebeb;
  --md-sys-color-on-tertiary: #383838;
  --md-sys-color-tertiary-container: #ebebeb;
  --md-sys-color-on-tertiary-container: #2f2f2f;
  --md-sys-color-tertiary-fixed: #ffffff;
  --md-sys-color-tertiary-fixed-dim: #f1f1f1;
  --md-sys-color-on-tertiary-fixed: #000000;
  --md-sys-color-on-tertiary-fixed-variant: #333333;
  --md-sys-color-error: #ffdeda;
  --md-sys-color-error-dim: #ffc8c1;
  --md-sys-color-on-error: #600004;
  --md-sys-color-error-container: #ff7164;
  --md-sys-color-on-error-container: #000000;
}

