.light {
  --md-sys-color-primary-palette-key-color: #857372;
  --md-sys-color-secondary-palette-key-color: #7f7574;
  --md-sys-color-tertiary-palette-key-color: #916d7e;
  --md-sys-color-neutral-palette-key-color: #7b7676;
  --md-sys-color-neutral-variant-palette-key-color: #7d7574;
  --md-sys-color-error-palette-key-color: #bd5941;
  --md-sys-color-background: #fff8f7;
  --md-sys-color-on-background: #373131;
  --md-sys-color-surface: #fff8f7;
  --md-sys-color-surface-dim: #e3d7d6;
  --md-sys-color-surface-bright: #fff8f7;
  --md-sys-color-surface-container-lowest: #ffffff;
  --md-sys-color-surface-container-low: #faf2f1;
  --md-sys-color-surface-container: #f5eceb;
  --md-sys-color-surface-container-high: #f0e6e5;
  --md-sys-color-surface-container-highest: #ebe0df;
  --md-sys-color-on-surface: #373131;
  --md-sys-color-surface-variant: #ebe0df;
  --md-sys-color-on-surface-variant: #655d5d;
  --md-sys-color-inverse-surface: #100e0d;
  --md-sys-color-inverse-on-surface: #a19c9b;
  --md-sys-color-outline: #817978;
  --md-sys-color-outline-variant: #b9b0af;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #6b5a59;
  --md-sys-color-primary: #6b5a59;
  --md-sys-color-primary-dim: #5f4f4e;
  --md-sys-color-on-primary: #fff6f5;
  --md-sys-color-primary-container: #f4dddc;
  --md-sys-color-on-primary-container: #5e4e4d;
  --md-sys-color-inverse-primary: #f2dad9;
  --md-sys-color-primary-fixed: #f4dddc;
  --md-sys-color-primary-fixed-dim: #e6cfce;
  --md-sys-color-on-primary-fixed: #4b3c3b;
  --md-sys-color-on-primary-fixed-variant: #685856;
  --md-sys-color-secondary: #665d5c;
  --md-sys-color-secondary-dim: #5a5150;
  --md-sys-color-on-secondary: #fff7f6;
  --md-sys-color-secondary-container: #ede0de;
  --md-sys-color-on-secondary-container: #58504f;
  --md-sys-color-secondary-fixed: #ede0de;
  --md-sys-color-secondary-fixed-dim: #ded2d0;
  --md-sys-color-on-secondary-fixed: #453d3d;
  --md-sys-color-on-secondary-fixed-variant: #625959;
  --md-sys-color-tertiary: #775566;
  --md-sys-color-tertiary-dim: #6a4a5a;
  --md-sys-color-on-tertiary: #fff7f8;
  --md-sys-color-tertiary-container: #fdd1e5;
  --md-sys-color-on-tertiary-container: #654555;
  --md-sys-color-tertiary-fixed: #fdd1e5;
  --md-sys-color-tertiary-fixed-dim: #eec3d7;
  --md-sys-color-on-tertiary-fixed: #503342;
  --md-sys-color-on-tertiary-fixed-variant: #6f4e5f;
  --md-sys-color-error: #9e422c;
  --md-sys-color-error-dim: #5c1202;
  --md-sys-color-on-error: #fff7f6;
  --md-sys-color-error-container: #fe8b70;
  --md-sys-color-on-error-container: #742410;
}

.light-medium-contrast {
  --md-sys-color-primary-palette-key-color: #857372;
  --md-sys-color-secondary-palette-key-color: #7f7574;
  --md-sys-color-tertiary-palette-key-color: #916d7e;
  --md-sys-color-neutral-palette-key-color: #7b7676;
  --md-sys-color-neutral-variant-palette-key-color: #7d7574;
  --md-sys-color-error-palette-key-color: #bd5941;
  --md-sys-color-background: #fff8f7;
  --md-sys-color-on-background: #282322;
  --md-sys-color-surface: #fff8f7;
  --md-sys-color-surface-dim: #e3d7d6;
  --md-sys-color-surface-bright: #fff8f7;
  --md-sys-color-surface-container-lowest: #ffffff;
  --md-sys-color-surface-container-low: #faf2f1;
  --md-sys-color-surface-container: #f5eceb;
  --md-sys-color-surface-container-high: #f0e6e5;
  --md-sys-color-surface-container-highest: #ebe0df;
  --md-sys-color-on-surface: #282322;
  --md-sys-color-surface-variant: #ebe0df;
  --md-sys-color-on-surface-variant: #484141;
  --md-sys-color-inverse-surface: #100e0d;
  --md-sys-color-inverse-on-surface: #c9c3c3;
  --md-sys-color-outline: #655d5d;
  --md-sys-color-outline-variant: #817978;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #4e3f3e;
  --md-sys-color-primary: #4e3f3e;
  --md-sys-color-primary-dim: #433433;
  --md-sys-color-on-primary: #ebd5d3;
  --md-sys-color-primary-container: #82706f;
  --md-sys-color-on-primary-container: #ffffff;
  --md-sys-color-inverse-primary: #f2dad9;
  --md-sys-color-primary-fixed: #82706f;
  --md-sys-color-primary-fixed-dim: #756463;
  --md-sys-color-on-primary-fixed: #ffffff;
  --md-sys-color-on-primary-fixed-variant: #ffffff;
  --md-sys-color-secondary: #494140;
  --md-sys-color-secondary-dim: #3d3635;
  --md-sys-color-on-secondary: #e4d7d6;
  --md-sys-color-secondary-container: #7c7272;
  --md-sys-color-on-secondary-container: #ffffff;
  --md-sys-color-secondary-fixed: #7c7272;
  --md-sys-color-secondary-fixed-dim: #6f6665;
  --md-sys-color-on-secondary-fixed: #ffffff;
  --md-sys-color-on-secondary-fixed-variant: #ffffff;
  --md-sys-color-tertiary: #583a49;
  --md-sys-color-tertiary-dim: #4c2f3e;
  --md-sys-color-on-tertiary: #f9cee1;
  --md-sys-color-tertiary-container: #8e6b7c;
  --md-sys-color-on-tertiary-container: #ffffff;
  --md-sys-color-tertiary-fixed: #8e6b7c;
  --md-sys-color-tertiary-fixed-dim: #805e6f;
  --md-sys-color-on-tertiary-fixed: #ffffff;
  --md-sys-color-on-tertiary-fixed-variant: #ffffff;
  --md-sys-color-error: #792713;
  --md-sys-color-error-dim: #5c1202;
  --md-sys-color-on-error: #ffcfc4;
  --md-sys-color-error-container: #ba573f;
  --md-sys-color-on-error-container: #ffffff;
}

.light-high-contrast {
  --md-sys-color-primary-palette-key-color: #857372;
  --md-sys-color-secondary-palette-key-color: #7f7574;
  --md-sys-color-tertiary-palette-key-color: #916d7e;
  --md-sys-color-neutral-palette-key-color: #7b7676;
  --md-sys-color-neutral-variant-palette-key-color: #7d7574;
  --md-sys-color-error-palette-key-color: #bd5941;
  --md-sys-color-background: #fff8f7;
  --md-sys-color-on-background: #000000;
  --md-sys-color-surface: #fff8f7;
  --md-sys-color-surface-dim: #e3d7d6;
  --md-sys-color-surface-bright: #fff8f7;
  --md-sys-color-surface-container-lowest: #ffffff;
  --md-sys-color-surface-container-low: #faf2f1;
  --md-sys-color-surface-container: #f5eceb;
  --md-sys-color-surface-container-high: #f0e6e5;
  --md-sys-color-surface-container-highest: #ebe0df;
  --md-sys-color-on-surface: #000000;
  --md-sys-color-surface-variant: #ebe0df;
  --md-sys-color-on-surface-variant: #282322;
  --md-sys-color-inverse-surface: #100e0d;
  --md-sys-color-inverse-on-surface: #ffffff;
  --md-sys-color-outline: #484141;
  --md-sys-color-outline-variant: #655d5d;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #2e2120;
  --md-sys-color-primary: #2e2120;
  --md-sys-color-primary-dim: #231716;
  --md-sys-color-on-primary: #ecd5d3;
  --md-sys-color-primary-container: #6c5b5a;
  --md-sys-color-on-primary-container: #ffffff;
  --md-sys-color-inverse-primary: #f2dad9;
  --md-sys-color-primary-fixed: #6c5b5a;
  --md-sys-color-primary-fixed-dim: #5f4f4e;
  --md-sys-color-on-primary-fixed: #ffffff;
  --md-sys-color-on-primary-fixed-variant: #ffffff;
  --md-sys-color-secondary: #292222;
  --md-sys-color-secondary-dim: #1f1818;
  --md-sys-color-on-secondary: #e4d7d6;
  --md-sys-color-secondary-container: #665d5c;
  --md-sys-color-on-secondary-container: #ffffff;
  --md-sys-color-secondary-fixed: #665d5c;
  --md-sys-color-secondary-fixed-dim: #5a5150;
  --md-sys-color-on-secondary-fixed: #ffffff;
  --md-sys-color-on-secondary-fixed-variant: #ffffff;
  --md-sys-color-tertiary: #361b2a;
  --md-sys-color-tertiary-dim: #2a111f;
  --md-sys-color-on-tertiary: #facee2;
  --md-sys-color-tertiary-container: #775566;
  --md-sys-color-on-tertiary-container: #ffffff;
  --md-sys-color-tertiary-fixed: #775566;
  --md-sys-color-tertiary-fixed-dim: #6a4a5a;
  --md-sys-color-on-tertiary-fixed: #ffffff;
  --md-sys-color-on-tertiary-fixed-variant: #ffffff;
  --md-sys-color-error: #4c0a00;
  --md-sys-color-error-dim: #390600;
  --md-sys-color-on-error: #ffcfc4;
  --md-sys-color-error-container: #9e422c;
  --md-sys-color-on-error-container: #ffffff;
}

.dark {
  --md-sys-color-primary-palette-key-color: #857372;
  --md-sys-color-secondary-palette-key-color: #7f7574;
  --md-sys-color-tertiary-palette-key-color: #916d7e;
  --md-sys-color-neutral-palette-key-color: #7b7676;
  --md-sys-color-neutral-variant-palette-key-color: #7d7574;
  --md-sys-color-error-palette-key-color: #bd5941;
  --md-sys-color-background: #100e0d;
  --md-sys-color-on-background: #eee3e2;
  --md-sys-color-surface: #100e0d;
  --md-sys-color-surface-dim: #100e0d;
  --md-sys-color-surface-bright: #2e2b2b;
  --md-sys-color-surface-container-lowest: #000000;
  --md-sys-color-surface-container-low: #161312;
  --md-sys-color-surface-container: #1c1918;
  --md-sys-color-surface-container-high: #231f1e;
  --md-sys-color-surface-container-highest: #2a2524;
  --md-sys-color-on-surface: #eee3e2;
  --md-sys-color-surface-variant: #2a2524;
  --md-sys-color-on-surface-variant: #b2a9a8;
  --md-sys-color-inverse-surface: #fff8f7;
  --md-sys-color-inverse-on-surface: #585454;
  --md-sys-color-outline: #7b7473;
  --md-sys-color-outline-variant: #4d4646;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #d7c1c0;
  --md-sys-color-primary: #d7c1c0;
  --md-sys-color-primary-dim: #c9b4b2;
  --md-sys-color-on-primary: #4c3d3c;
  --md-sys-color-primary-container: #534342;
  --md-sys-color-on-primary-container: #e2cbca;
  --md-sys-color-inverse-primary: #6c5b5a;
  --md-sys-color-primary-fixed: #f4dddc;
  --md-sys-color-primary-fixed-dim: #e6cfce;
  --md-sys-color-on-primary-fixed: #4b3c3b;
  --md-sys-color-on-primary-fixed-variant: #685856;
  --md-sys-color-secondary: #a69b9a;
  --md-sys-color-secondary-dim: #a69b9a;
  --md-sys-color-on-secondary: #251f1e;
  --md-sys-color-secondary-container: #413a39;
  --md-sys-color-on-secondary-container: #c9bdbb;
  --md-sys-color-secondary-fixed: #ede0de;
  --md-sys-color-secondary-fixed-dim: #ded2d0;
  --md-sys-color-on-secondary-fixed: #453d3d;
  --md-sys-color-on-secondary-fixed-variant: #625959;
  --md-sys-color-tertiary: #ffe4ef;
  --md-sys-color-tertiary-dim: #fdd1e5;
  --md-sys-color-on-tertiary: #6e4d5d;
  --md-sys-color-tertiary-container: #fdd1e5;
  --md-sys-color-on-tertiary-container: #654555;
  --md-sys-color-tertiary-fixed: #fdd1e5;
  --md-sys-color-tertiary-fixed-dim: #eec3d7;
  --md-sys-color-on-tertiary-fixed: #503342;
  --md-sys-color-on-tertiary-fixed-variant: #6f4e5f;
  --md-sys-color-error: #fe8b70;
  --md-sys-color-error-dim: #ba573f;
  --md-sys-color-on-error: #5a1001;
  --md-sys-color-error-container: #7e2b17;
  --md-sys-color-on-error-container: #ff9b82;
}

.dark-medium-contrast {
  --md-sys-color-primary-palette-key-color: #857372;
  --md-sys-color-secondary-palette-key-color: #7f7574;
  --md-sys-color-tertiary-palette-key-color: #916d7e;
  --md-sys-color-neutral-palette-key-color: #7b7676;
  --md-sys-color-neutral-variant-palette-key-color: #7d7574;
  --md-sys-color-error-palette-key-color: #bd5941;
  --md-sys-color-background: #100e0d;
  --md-sys-color-on-background: #ffffff;
  --md-sys-color-surface: #100e0d;
  --md-sys-color-surface-dim: #100e0d;
  --md-sys-color-surface-bright: #2e2b2b;
  --md-sys-color-surface-container-lowest: #000000;
  --md-sys-color-surface-container-low: #161312;
  --md-sys-color-surface-container: #1c1918;
  --md-sys-color-surface-container-high: #231f1e;
  --md-sys-color-surface-container-highest: #2a2524;
  --md-sys-color-on-surface: #ffffff;
  --md-sys-color-surface-variant: #2a2524;
  --md-sys-color-on-surface-variant: #c0b7b6;
  --md-sys-color-inverse-surface: #fff8f7;
  --md-sys-color-inverse-on-surface: #3b3737;
  --md-sys-color-outline: #9a9191;
  --md-sys-color-outline-variant: #7b7473;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #d7c1c0;
  --md-sys-color-primary: #d7c1c0;
  --md-sys-color-primary-dim: #c9b4b2;
  --md-sys-color-on-primary: #413332;
  --md-sys-color-primary-container: #82706f;
  --md-sys-color-on-primary-container: #ffffff;
  --md-sys-color-inverse-primary: #625150;
  --md-sys-color-primary-fixed: #f4dddc;
  --md-sys-color-primary-fixed-dim: #e6cfce;
  --md-sys-color-on-primary-fixed: #291c1c;
  --md-sys-color-on-primary-fixed-variant: #4b3c3b;
  --md-sys-color-secondary: #c2b6b5;
  --md-sys-color-secondary-dim: #b4a9a8;
  --md-sys-color-on-secondary: #312a2a;
  --md-sys-color-secondary-container: #7c7272;
  --md-sys-color-on-secondary-container: #ffffff;
  --md-sys-color-secondary-fixed: #ede0de;
  --md-sys-color-secondary-fixed-dim: #ded2d0;
  --md-sys-color-on-secondary-fixed: #241e1d;
  --md-sys-color-on-secondary-fixed-variant: #453d3d;
  --md-sys-color-tertiary: #ffe4ef;
  --md-sys-color-tertiary-dim: #fdd1e5;
  --md-sys-color-on-tertiary: #634454;
  --md-sys-color-tertiary-container: #fdd1e5;
  --md-sys-color-on-tertiary-container: #5a3b4b;
  --md-sys-color-tertiary-fixed: #fdd1e5;
  --md-sys-color-tertiary-fixed-dim: #eec3d7;
  --md-sys-color-on-tertiary-fixed: #2b1220;
  --md-sys-color-on-tertiary-fixed-variant: #503342;
  --md-sys-color-error: #ffa089;
  --md-sys-color-error-dim: #fd8b6f;
  --md-sys-color-on-error: #591001;
  --md-sys-color-error-container: #ba573f;
  --md-sys-color-on-error-container: #ffffff;
}

.dark-high-contrast {
  --md-sys-color-primary-palette-key-color: #857372;
  --md-sys-color-secondary-palette-key-color: #7f7574;
  --md-sys-color-tertiary-palette-key-color: #916d7e;
  --md-sys-color-neutral-palette-key-color: #7b7676;
  --md-sys-color-neutral-variant-palette-key-color: #7d7574;
  --md-sys-color-error-palette-key-color: #bd5941;
  --md-sys-color-background: #100e0d;
  --md-sys-color-on-background: #ffffff;
  --md-sys-color-surface: #100e0d;
  --md-sys-color-surface-dim: #100e0d;
  --md-sys-color-surface-bright: #2e2b2b;
  --md-sys-color-surface-container-lowest: #000000;
  --md-sys-color-surface-container-low: #161312;
  --md-sys-color-surface-container: #1c1918;
  --md-sys-color-surface-container-high: #231f1e;
  --md-sys-color-surface-container-highest: #2a2524;
  --md-sys-color-on-surface: #ffffff;
  --md-sys-color-surface-variant: #2a2524;
  --md-sys-color-on-surface-variant: #eee3e2;
  --md-sys-color-inverse-surface: #fff8f7;
  --md-sys-color-inverse-on-surface: #000000;
  --md-sys-color-outline: #c0b7b6;
  --md-sys-color-outline-variant: #9a9191;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #f7e0de;
  --md-sys-color-primary: #f7e0de;
  --md-sys-color-primary-dim: #e6cfce;
  --md-sys-color-on-primary: #362928;
  --md-sys-color-primary-container: #ad9998;
  --md-sys-color-on-primary-container: #000000;
  --md-sys-color-inverse-primary: #433534;
  --md-sys-color-primary-fixed: #f4dddc;
  --md-sys-color-primary-fixed-dim: #e6cfce;
  --md-sys-color-on-primary-fixed: #000000;
  --md-sys-color-on-primary-fixed-variant: #291c1c;
  --md-sys-color-secondary: #f0e3e1;
  --md-sys-color-secondary-dim: #ded2d0;
  --md-sys-color-on-secondary: #312a2a;
  --md-sys-color-secondary-container: #a69b9a;
  --md-sys-color-on-secondary-container: #000000;
  --md-sys-color-secondary-fixed: #ede0de;
  --md-sys-color-secondary-fixed-dim: #ded2d0;
  --md-sys-color-on-secondary-fixed: #000000;
  --md-sys-color-on-secondary-fixed-variant: #241e1d;
  --md-sys-color-tertiary: #ffe4ef;
  --md-sys-color-tertiary-dim: #fdd1e5;
  --md-sys-color-on-tertiary: #432736;
  --md-sys-color-tertiary-container: #fdd1e5;
  --md-sys-color-on-tertiary-container: #381e2c;
  --md-sys-color-tertiary-fixed: #fdd1e5;
  --md-sys-color-tertiary-fixed-dim: #eec3d7;
  --md-sys-color-on-tertiary-fixed: #000000;
  --md-sys-color-on-tertiary-fixed-variant: #2b1220;
  --md-sys-color-error: #ffded7;
  --md-sys-color-error-dim: #ffc8bb;
  --md-sys-color-on-error: #591001;
  --md-sys-color-error-container: #ed7f64;
  --md-sys-color-on-error-container: #000000;
}

