.light {
  --md-sys-color-primary-palette-key-color: #8c716f;
  --md-sys-color-secondary-palette-key-color: #827473;
  --md-sys-color-tertiary-palette-key-color: #a36385;
  --md-sys-color-neutral-palette-key-color: #827473;
  --md-sys-color-neutral-variant-palette-key-color: #8d706e;
  --md-sys-color-error-palette-key-color: #b2604c;
  --md-sys-color-background: #000000;
  --md-sys-color-on-background: #ffffff;
  --md-sys-color-surface: #000000;
  --md-sys-color-surface-dim: #140c0c;
  --md-sys-color-surface-bright: #3e2624;
  --md-sys-color-surface-container-lowest: #000000;
  --md-sys-color-surface-container-low: #2d2323;
  --md-sys-color-surface-container: #382e2d;
  --md-sys-color-surface-container-high: #443938;
  --md-sys-color-surface-container-highest: #35201f;
  --md-sys-color-on-surface: #f6e4e2;
  --md-sys-color-surface-variant: #35201f;
  --md-sys-color-on-surface-variant: #dbcac9;
  --md-sys-color-inverse-surface: #fff8f7;
  --md-sys-color-inverse-on-surface: #5f5251;
  --md-sys-color-outline: #b2a2a1;
  --md-sys-color-outline-variant: #918281;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #fcdbd9;
  --md-sys-color-primary: #fcdbd9;
  --md-sys-color-primary-dim: #eecdcb;
  --md-sys-color-on-primary: #503a39;
  --md-sys-color-primary-container: #584140;
  --md-sys-color-on-primary-container: #fad8d6;
  --md-sys-color-inverse-primary: #674f4e;
  --md-sys-color-primary-fixed: #584140;
  --md-sys-color-primary-fixed-dim: #4c3635;
  --md-sys-color-on-primary-fixed: #e7c7c4;
  --md-sys-color-on-primary-fixed-variant: #bd9f9d;
  --md-sys-color-secondary: #f0dedd;
  --md-sys-color-secondary-dim: #e2d0cf;
  --md-sys-color-on-secondary: #483d3c;
  --md-sys-color-secondary-container: #504443;
  --md-sys-color-on-secondary-container: #eedcdb;
  --md-sys-color-secondary-fixed: #504443;
  --md-sys-color-secondary-fixed-dim: #443938;
  --md-sys-color-on-secondary-fixed: #dbcac9;
  --md-sys-color-on-secondary-fixed-variant: #b2a2a1;
  --md-sys-color-tertiary: #ffbadc;
  --md-sys-color-tertiary-dim: #f5aad0;
  --md-sys-color-on-tertiary: #531f3e;
  --md-sys-color-tertiary-container: #d790b5;
  --md-sys-color-on-tertiary-container: #360625;
  --md-sys-color-tertiary-fixed: #d790b5;
  --md-sys-color-tertiary-fixed-dim: #c883a7;
  --md-sys-color-on-tertiary-fixed: #110009;
  --md-sys-color-on-tertiary-fixed-variant: #511d3c;
  --md-sys-color-error: #ffbfb0;
  --md-sys-color-error-dim: #ea8d77;
  --md-sys-color-on-error: #3b0700;
  --md-sys-color-error-container: #763221;
  --md-sys-color-on-error-container: #ffd7ce;
}

.light-medium-contrast {
  --md-sys-color-primary-palette-key-color: #8c716f;
  --md-sys-color-secondary-palette-key-color: #827473;
  --md-sys-color-tertiary-palette-key-color: #a36385;
  --md-sys-color-neutral-palette-key-color: #827473;
  --md-sys-color-neutral-variant-palette-key-color: #8d706e;
  --md-sys-color-error-palette-key-color: #b2604c;
  --md-sys-color-background: #000000;
  --md-sys-color-on-background: #ffffff;
  --md-sys-color-surface: #000000;
  --md-sys-color-surface-dim: #140c0c;
  --md-sys-color-surface-bright: #3e2624;
  --md-sys-color-surface-container-lowest: #000000;
  --md-sys-color-surface-container-low: #2d2323;
  --md-sys-color-surface-container: #382e2d;
  --md-sys-color-surface-container-high: #443938;
  --md-sys-color-surface-container-highest: #35201f;
  --md-sys-color-on-surface: #fffeff;
  --md-sys-color-surface-variant: #35201f;
  --md-sys-color-on-surface-variant: #fffeff;
  --md-sys-color-inverse-surface: #fff8f7;
  --md-sys-color-inverse-on-surface: #413635;
  --md-sys-color-outline: #dbcac9;
  --md-sys-color-outline-variant: #b2a2a1;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #fffeff;
  --md-sys-color-primary: #fffeff;
  --md-sys-color-primary-dim: #eecdcb;
  --md-sys-color-on-primary: #2d1b1a;
  --md-sys-color-primary-container: #584140;
  --md-sys-color-on-primary-container: #ffffff;
  --md-sys-color-inverse-primary: #483332;
  --md-sys-color-primary-fixed: #584140;
  --md-sys-color-primary-fixed-dim: #4c3635;
  --md-sys-color-on-primary-fixed: #fffeff;
  --md-sys-color-on-primary-fixed-variant: #e7c7c4;
  --md-sys-color-secondary: #fffeff;
  --md-sys-color-secondary-dim: #e2d0cf;
  --md-sys-color-on-secondary: #271d1d;
  --md-sys-color-secondary-container: #504443;
  --md-sys-color-on-secondary-container: #ffffff;
  --md-sys-color-secondary-fixed: #504443;
  --md-sys-color-secondary-fixed-dim: #443938;
  --md-sys-color-on-secondary-fixed: #fffeff;
  --md-sys-color-on-secondary-fixed-variant: #dbcac9;
  --md-sys-color-tertiary: #fffeff;
  --md-sys-color-tertiary-dim: #ffbadc;
  --md-sys-color-on-tertiary: #350525;
  --md-sys-color-tertiary-container: #e69dc2;
  --md-sys-color-on-tertiary-container: #000000;
  --md-sys-color-tertiary-fixed: #d790b5;
  --md-sys-color-tertiary-fixed-dim: #c883a7;
  --md-sys-color-on-tertiary-fixed: #000000;
  --md-sys-color-on-tertiary-fixed-variant: #110009;
  --md-sys-color-error: #fffeff;
  --md-sys-color-error-dim: #ffbfb0;
  --md-sys-color-on-error: #390600;
  --md-sys-color-error-container: #763221;
  --md-sys-color-on-error-container: #ffffff;
}

.light-high-contrast {
  --md-sys-color-primary-palette-key-color: #8c716f;
  --md-sys-color-secondary-palette-key-color: #827473;
  --md-sys-color-tertiary-palette-key-color: #a36385;
  --md-sys-color-neutral-palette-key-color: #827473;
  --md-sys-color-neutral-variant-palette-key-color: #8d706e;
  --md-sys-color-error-palette-key-color: #b2604c;
  --md-sys-color-background: #000000;
  --md-sys-color-on-background: #ffffff;
  --md-sys-color-surface: #000000;
  --md-sys-color-surface-dim: #140c0c;
  --md-sys-color-surface-bright: #3e2624;
  --md-sys-color-surface-container-lowest: #000000;
  --md-sys-color-surface-container-low: #2d2323;
  --md-sys-color-surface-container: #382e2d;
  --md-sys-color-surface-container-high: #443938;
  --md-sys-color-surface-container-highest: #35201f;
  --md-sys-color-on-surface: #ffffff;
  --md-sys-color-surface-variant: #35201f;
  --md-sys-color-on-surface-variant: #ffffff;
  --md-sys-color-inverse-surface: #fff8f7;
  --md-sys-color-inverse-on-surface: #000000;
  --md-sys-color-outline: #fffeff;
  --md-sys-color-outline-variant: #dbcac9;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #ffffff;
  --md-sys-color-primary: #ffffff;
  --md-sys-color-primary-dim: #fffeff;
  --md-sys-color-on-primary: #000000;
  --md-sys-color-primary-container: #584140;
  --md-sys-color-on-primary-container: #ffffff;
  --md-sys-color-inverse-primary: #000000;
  --md-sys-color-primary-fixed: #584140;
  --md-sys-color-primary-fixed-dim: #4c3635;
  --md-sys-color-on-primary-fixed: #ffffff;
  --md-sys-color-on-primary-fixed-variant: #fffeff;
  --md-sys-color-secondary: #ffffff;
  --md-sys-color-secondary-dim: #fffeff;
  --md-sys-color-on-secondary: #000000;
  --md-sys-color-secondary-container: #504443;
  --md-sys-color-on-secondary-container: #ffffff;
  --md-sys-color-secondary-fixed: #504443;
  --md-sys-color-secondary-fixed-dim: #443938;
  --md-sys-color-on-secondary-fixed: #ffffff;
  --md-sys-color-on-secondary-fixed-variant: #fffeff;
  --md-sys-color-tertiary: #ffffff;
  --md-sys-color-tertiary-dim: #fffeff;
  --md-sys-color-on-tertiary: #000000;
  --md-sys-color-tertiary-container: #ffb3d9;
  --md-sys-color-on-tertiary-container: #000000;
  --md-sys-color-tertiary-fixed: #d790b5;
  --md-sys-color-tertiary-fixed-dim: #c883a7;
  --md-sys-color-on-tertiary-fixed: #000000;
  --md-sys-color-on-tertiary-fixed-variant: #000000;
  --md-sys-color-error: #ffffff;
  --md-sys-color-error-dim: #fffeff;
  --md-sys-color-on-error: #000000;
  --md-sys-color-error-container: #763221;
  --md-sys-color-on-error-container: #ffffff;
}

.dark {
  --md-sys-color-primary-palette-key-color: #8c716f;
  --md-sys-color-secondary-palette-key-color: #827473;
  --md-sys-color-tertiary-palette-key-color: #a36385;
  --md-sys-color-neutral-palette-key-color: #827473;
  --md-sys-color-neutral-variant-palette-key-color: #8d706e;
  --md-sys-color-error-palette-key-color: #b2604c;
  --md-sys-color-background: #000000;
  --md-sys-color-on-background: #ffffff;
  --md-sys-color-surface: #000000;
  --md-sys-color-surface-dim: #140c0c;
  --md-sys-color-surface-bright: #3e2624;
  --md-sys-color-surface-container-lowest: #000000;
  --md-sys-color-surface-container-low: #2d2323;
  --md-sys-color-surface-container: #382e2d;
  --md-sys-color-surface-container-high: #443938;
  --md-sys-color-surface-container-highest: #35201f;
  --md-sys-color-on-surface: #f6e4e2;
  --md-sys-color-surface-variant: #35201f;
  --md-sys-color-on-surface-variant: #dbcac9;
  --md-sys-color-inverse-surface: #fff8f7;
  --md-sys-color-inverse-on-surface: #5f5251;
  --md-sys-color-outline: #b2a2a1;
  --md-sys-color-outline-variant: #918281;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #fcdbd9;
  --md-sys-color-primary: #fcdbd9;
  --md-sys-color-primary-dim: #eecdcb;
  --md-sys-color-on-primary: #503a39;
  --md-sys-color-primary-container: #584140;
  --md-sys-color-on-primary-container: #fad8d6;
  --md-sys-color-inverse-primary: #674f4e;
  --md-sys-color-primary-fixed: #584140;
  --md-sys-color-primary-fixed-dim: #4c3635;
  --md-sys-color-on-primary-fixed: #e7c7c4;
  --md-sys-color-on-primary-fixed-variant: #bd9f9d;
  --md-sys-color-secondary: #f0dedd;
  --md-sys-color-secondary-dim: #e2d0cf;
  --md-sys-color-on-secondary: #483d3c;
  --md-sys-color-secondary-container: #504443;
  --md-sys-color-on-secondary-container: #eedcdb;
  --md-sys-color-secondary-fixed: #504443;
  --md-sys-color-secondary-fixed-dim: #443938;
  --md-sys-color-on-secondary-fixed: #dbcac9;
  --md-sys-color-on-secondary-fixed-variant: #b2a2a1;
  --md-sys-color-tertiary: #ffbadc;
  --md-sys-color-tertiary-dim: #f5aad0;
  --md-sys-color-on-tertiary: #531f3e;
  --md-sys-color-tertiary-container: #d790b5;
  --md-sys-color-on-tertiary-container: #360625;
  --md-sys-color-tertiary-fixed: #d790b5;
  --md-sys-color-tertiary-fixed-dim: #c883a7;
  --md-sys-color-on-tertiary-fixed: #110009;
  --md-sys-color-on-tertiary-fixed-variant: #511d3c;
  --md-sys-color-error: #ffbfb0;
  --md-sys-color-error-dim: #ea8d77;
  --md-sys-color-on-error: #3b0700;
  --md-sys-color-error-container: #763221;
  --md-sys-color-on-error-container: #ffd7ce;
}

.dark-medium-contrast {
  --md-sys-color-primary-palette-key-color: #8c716f;
  --md-sys-color-secondary-palette-key-color: #827473;
  --md-sys-color-tertiary-palette-key-color: #a36385;
  --md-sys-color-neutral-palette-key-color: #827473;
  --md-sys-color-neutral-variant-palette-key-color: #8d706e;
  --md-sys-color-error-palette-key-color: #b2604c;
  --md-sys-color-background: #000000;
  --md-sys-color-on-background: #ffffff;
  --md-sys-color-surface: #000000;
  --md-sys-color-surface-dim: #140c0c;
  --md-sys-color-surface-bright: #3e2624;
  --md-sys-color-surface-container-lowest: #000000;
  --md-sys-color-surface-container-low: #2d2323;
  --md-sys-color-surface-container: #382e2d;
  --md-sys-color-surface-container-high: #443938;
  --md-sys-color-surface-container-highest: #35201f;
  --md-sys-color-on-surface: #fffeff;
  --md-sys-color-surface-variant: #35201f;
  --md-sys-color-on-surface-variant: #fffeff;
  --md-sys-color-inverse-surface: #fff8f7;
  --md-sys-color-inverse-on-surface: #413635;
  --md-sys-color-outline: #dbcac9;
  --md-sys-color-outline-variant: #b2a2a1;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #fffeff;
  --md-sys-color-primary: #fffeff;
  --md-sys-color-primary-dim: #eecdcb;
  --md-sys-color-on-primary: #2d1b1a;
  --md-sys-color-primary-container: #584140;
  --md-sys-color-on-primary-container: #ffffff;
  --md-sys-color-inverse-primary: #483332;
  --md-sys-color-primary-fixed: #584140;
  --md-sys-color-primary-fixed-dim: #4c3635;
  --md-sys-color-on-primary-fixed: #fffeff;
  --md-sys-color-on-primary-fixed-variant: #e7c7c4;
  --md-sys-color-secondary: #fffeff;
  --md-sys-color-secondary-dim: #e2d0cf;
  --md-sys-color-on-secondary: #271d1d;
  --md-sys-color-secondary-container: #504443;
  --md-sys-color-on-secondary-container: #ffffff;
  --md-sys-color-secondary-fixed: #504443;
  --md-sys-color-secondary-fixed-dim: #443938;
  --md-sys-color-on-secondary-fixed: #fffeff;
  --md-sys-color-on-secondary-fixed-variant: #dbcac9;
  --md-sys-color-tertiary: #fffeff;
  --md-sys-color-tertiary-dim: #ffbadc;
  --md-sys-color-on-tertiary: #350525;
  --md-sys-color-tertiary-container: #e69dc2;
  --md-sys-color-on-tertiary-container: #000000;
  --md-sys-color-tertiary-fixed: #d790b5;
  --md-sys-color-tertiary-fixed-dim: #c883a7;
  --md-sys-color-on-tertiary-fixed: #000000;
  --md-sys-color-on-tertiary-fixed-variant: #110009;
  --md-sys-color-error: #fffeff;
  --md-sys-color-error-dim: #ffbfb0;
  --md-sys-color-on-error: #390600;
  --md-sys-color-error-container: #763221;
  --md-sys-color-on-error-container: #ffffff;
}

.dark-high-contrast {
  --md-sys-color-primary-palette-key-color: #8c716f;
  --md-sys-color-secondary-palette-key-color: #827473;
  --md-sys-color-tertiary-palette-key-color: #a36385;
  --md-sys-color-neutral-palette-key-color: #827473;
  --md-sys-color-neutral-variant-palette-key-color: #8d706e;
  --md-sys-color-error-palette-key-color: #b2604c;
  --md-sys-color-background: #000000;
  --md-sys-color-on-background: #ffffff;
  --md-sys-color-surface: #000000;
  --md-sys-color-surface-dim: #140c0c;
  --md-sys-color-surface-bright: #3e2624;
  --md-sys-color-surface-container-lowest: #000000;
  --md-sys-color-surface-container-low: #2d2323;
  --md-sys-color-surface-container: #382e2d;
  --md-sys-color-surface-container-high: #443938;
  --md-sys-color-surface-container-highest: #35201f;
  --md-sys-color-on-surface: #ffffff;
  --md-sys-color-surface-variant: #35201f;
  --md-sys-color-on-surface-variant: #ffffff;
  --md-sys-color-inverse-surface: #fff8f7;
  --md-sys-color-inverse-on-surface: #000000;
  --md-sys-color-outline: #fffeff;
  --md-sys-color-outline-variant: #dbcac9;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #ffffff;
  --md-sys-color-primary: #ffffff;
  --md-sys-color-primary-dim: #fffeff;
  --md-sys-color-on-primary: #000000;
  --md-sys-color-primary-container: #584140;
  --md-sys-color-on-primary-container: #ffffff;
  --md-sys-color-inverse-primary: #000000;
  --md-sys-color-primary-fixed: #584140;
  --md-sys-color-primary-fixed-dim: #4c3635;
  --md-sys-color-on-primary-fixed: #ffffff;
  --md-sys-color-on-primary-fixed-variant: #fffeff;
  --md-sys-color-secondary: #ffffff;
  --md-sys-color-secondary-dim: #fffeff;
  --md-sys-color-on-secondary: #000000;
  --md-sys-color-secondary-container: #504443;
  --md-sys-color-on-secondary-container: #ffffff;
  --md-sys-color-secondary-fixed: #504443;
  --md-sys-color-secondary-fixed-dim: #443938;
  --md-sys-color-on-secondary-fixed: #ffffff;
  --md-sys-color-on-secondary-fixed-variant: #fffeff;
  --md-sys-color-tertiary: #ffffff;
  --md-sys-color-tertiary-dim: #fffeff;
  --md-sys-color-on-tertiary: #000000;
  --md-sys-color-tertiary-container: #ffb3d9;
  --md-sys-color-on-tertiary-container: #000000;
  --md-sys-color-tertiary-fixed: #d790b5;
  --md-sys-color-tertiary-fixed-dim: #c883a7;
  --md-sys-color-on-tertiary-fixed: #000000;
  --md-sys-color-on-tertiary-fixed-variant: #000000;
  --md-sys-color-error: #ffffff;
  --md-sys-color-error-dim: #fffeff;
  --md-sys-color-on-error: #000000;
  --md-sys-color-error-container: #763221;
  --md-sys-color-on-error-container: #ffffff;
}

