.light {
  --md-sys-color-primary-palette-key-color: #bb5957;
  --md-sys-color-secondary-palette-key-color: #916e6c;
  --md-sys-color-tertiary-palette-key-color: #8e7344;
  --md-sys-color-neutral-palette-key-color: #777777;
  --md-sys-color-neutral-variant-palette-key-color: #777777;
  --md-sys-color-error-palette-key-color: #de3730;
  --md-sys-color-background: #131313;
  --md-sys-color-on-background: #e2e2e2;
  --md-sys-color-surface: #131313;
  --md-sys-color-surface-dim: #131313;
  --md-sys-color-surface-bright: #393939;
  --md-sys-color-surface-container-lowest: #0e0e0e;
  --md-sys-color-surface-container-low: #1b1b1b;
  --md-sys-color-surface-container: #1f1f1f;
  --md-sys-color-surface-container-high: #2a2a2a;
  --md-sys-color-surface-container-highest: #353535;
  --md-sys-color-on-surface: #e2e2e2;
  --md-sys-color-surface-variant: #474747;
  --md-sys-color-on-surface-variant: #c6c6c6;
  --md-sys-color-inverse-surface: #e2e2e2;
  --md-sys-color-inverse-on-surface: #303030;
  --md-sys-color-outline: #919191;
  --md-sys-color-outline-variant: #474747;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #ffb3af;
  --md-sys-color-primary: #ffb3af;
  --md-sys-color-primary-dim: #ffc7c4;
  --md-sys-color-on-primary: #5f1317;
  --md-sys-color-primary-container: #ffdad8;
  --md-sys-color-on-primary-container: #a44746;
  --md-sys-color-inverse-primary: #9c4140;
  --md-sys-color-primary-fixed: #ffdad8;
  --md-sys-color-primary-fixed-dim: #ffb3af;
  --md-sys-color-on-primary-fixed: #410006;
  --md-sys-color-on-primary-fixed-variant: #7e2a2b;
  --md-sys-color-secondary: #e7bdba;
  --md-sys-color-secondary-dim: #f5cac8;
  --md-sys-color-on-secondary: #442928;
  --md-sys-color-secondary-container: #ffdad8;
  --md-sys-color-on-secondary-container: #7d5c5a;
  --md-sys-color-secondary-fixed: #ffdad8;
  --md-sys-color-secondary-fixed-dim: #e7bdba;
  --md-sys-color-on-secondary-fixed: #2c1514;
  --md-sys-color-on-secondary-fixed-variant: #5d3f3e;
  --md-sys-color-tertiary: #e3c28c;
  --md-sys-color-tertiary-dim: #fddba3;
  --md-sys-color-on-tertiary: #412d05;
  --md-sys-color-tertiary-container: #ffdea9;
  --md-sys-color-on-tertiary-container: #7a6034;
  --md-sys-color-tertiary-fixed: #ffdea9;
  --md-sys-color-tertiary-fixed-dim: #e3c28c;
  --md-sys-color-on-tertiary-fixed: #271900;
  --md-sys-color-on-tertiary-fixed-variant: #594319;
  --md-sys-color-error: #ffb4ab;
  --md-sys-color-error-dim: #ffc7c0;
  --md-sys-color-on-error: #690005;
  --md-sys-color-error-container: #ffdad6;
  --md-sys-color-on-error-container: #c32220;
}

.light-medium-contrast {
  --md-sys-color-primary-palette-key-color: #bb5957;
  --md-sys-color-secondary-palette-key-color: #916e6c;
  --md-sys-color-tertiary-palette-key-color: #8e7344;
  --md-sys-color-neutral-palette-key-color: #777777;
  --md-sys-color-neutral-variant-palette-key-color: #777777;
  --md-sys-color-error-palette-key-color: #de3730;
  --md-sys-color-background: #131313;
  --md-sys-color-on-background: #e2e2e2;
  --md-sys-color-surface: #131313;
  --md-sys-color-surface-dim: #131313;
  --md-sys-color-surface-bright: #444444;
  --md-sys-color-surface-container-lowest: #070707;
  --md-sys-color-surface-container-low: #1d1d1d;
  --md-sys-color-surface-container: #282828;
  --md-sys-color-surface-container-high: #323232;
  --md-sys-color-surface-container-highest: #3e3e3e;
  --md-sys-color-on-surface: #ffffff;
  --md-sys-color-surface-variant: #474747;
  --md-sys-color-on-surface-variant: #dcdcdc;
  --md-sys-color-inverse-surface: #e2e2e2;
  --md-sys-color-inverse-on-surface: #2a2a2a;
  --md-sys-color-outline: #b2b2b2;
  --md-sys-color-outline-variant: #909090;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #ffb3af;
  --md-sys-color-primary: #ffd2cf;
  --md-sys-color-primary-dim: #ffc7c4;
  --md-sys-color-on-primary: #50070d;
  --md-sys-color-primary-container: #fff7f6;
  --md-sys-color-on-primary-container: #903837;
  --md-sys-color-inverse-primary: #7f2b2c;
  --md-sys-color-primary-fixed: #ffdad8;
  --md-sys-color-primary-fixed-dim: #ffb3af;
  --md-sys-color-on-primary-fixed: #2d0003;
  --md-sys-color-on-primary-fixed-variant: #67191c;
  --md-sys-color-secondary: #fed2cf;
  --md-sys-color-secondary-dim: #f5cac8;
  --md-sys-color-on-secondary: #381f1e;
  --md-sys-color-secondary-container: #fff7f6;
  --md-sys-color-on-secondary-container: #6c4d4b;
  --md-sys-color-secondary-fixed: #ffdad8;
  --md-sys-color-secondary-fixed-dim: #e7bdba;
  --md-sys-color-on-secondary-fixed: #200b0a;
  --md-sys-color-on-secondary-fixed-variant: #4b2f2e;
  --md-sys-color-tertiary: #fad8a0;
  --md-sys-color-tertiary-dim: #fddba3;
  --md-sys-color-on-tertiary: #342200;
  --md-sys-color-tertiary-container: #fff8f1;
  --md-sys-color-on-tertiary-container: #695126;
  --md-sys-color-tertiary-fixed: #ffdea9;
  --md-sys-color-tertiary-fixed-dim: #e3c28c;
  --md-sys-color-on-tertiary-fixed: #1a0f00;
  --md-sys-color-on-tertiary-fixed-variant: #47330a;
  --md-sys-color-error: #ffd2cc;
  --md-sys-color-error-dim: #ffc7c0;
  --md-sys-color-on-error: #540003;
  --md-sys-color-error-container: #fff7f6;
  --md-sys-color-on-error-container: #ab0b12;
}

.light-high-contrast {
  --md-sys-color-primary-palette-key-color: #bb5957;
  --md-sys-color-secondary-palette-key-color: #916e6c;
  --md-sys-color-tertiary-palette-key-color: #8e7344;
  --md-sys-color-neutral-palette-key-color: #777777;
  --md-sys-color-neutral-variant-palette-key-color: #777777;
  --md-sys-color-error-palette-key-color: #de3730;
  --md-sys-color-background: #131313;
  --md-sys-color-on-background: #e2e2e2;
  --md-sys-color-surface: #131313;
  --md-sys-color-surface-dim: #131313;
  --md-sys-color-surface-bright: #505050;
  --md-sys-color-surface-container-lowest: #000000;
  --md-sys-color-surface-container-low: #1f1f1f;
  --md-sys-color-surface-container: #303030;
  --md-sys-color-surface-container-high: #3b3b3b;
  --md-sys-color-surface-container-highest: #474747;
  --md-sys-color-on-surface: #ffffff;
  --md-sys-color-surface-variant: #474747;
  --md-sys-color-on-surface-variant: #ffffff;
  --md-sys-color-inverse-surface: #e2e2e2;
  --md-sys-color-inverse-on-surface: #000000;
  --md-sys-color-outline: #f0f0f0;
  --md-sys-color-outline-variant: #c2c2c2;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #ffb3af;
  --md-sys-color-primary: #ffdad8;
  --md-sys-color-primary-dim: #fffeff;
  --md-sys-color-on-primary: #000000;
  --md-sys-color-primary-container: #ffffff;
  --md-sys-color-on-primary-container: #6e1f20;
  --md-sys-color-inverse-primary: #7f2b2c;
  --md-sys-color-primary-fixed: #ffdad8;
  --md-sys-color-primary-fixed-dim: #ffb3af;
  --md-sys-color-on-primary-fixed: #000000;
  --md-sys-color-on-primary-fixed-variant: #2d0003;
  --md-sys-color-secondary: #ffdad8;
  --md-sys-color-secondary-dim: #fffeff;
  --md-sys-color-on-secondary: #000000;
  --md-sys-color-secondary-container: #ffffff;
  --md-sys-color-on-secondary-container: #503433;
  --md-sys-color-secondary-fixed: #ffdad8;
  --md-sys-color-secondary-fixed-dim: #e7bdba;
  --md-sys-color-on-secondary-fixed: #000000;
  --md-sys-color-on-secondary-fixed-variant: #200b0a;
  --md-sys-color-tertiary: #ffdea9;
  --md-sys-color-tertiary-dim: #fffeff;
  --md-sys-color-on-tertiary: #000000;
  --md-sys-color-tertiary-container: #ffffff;
  --md-sys-color-on-tertiary-container: #4d380f;
  --md-sys-color-tertiary-fixed: #ffdea9;
  --md-sys-color-tertiary-fixed-dim: #e3c28c;
  --md-sys-color-on-tertiary-fixed: #000000;
  --md-sys-color-on-tertiary-fixed-variant: #1a0f00;
  --md-sys-color-error: #ffdad6;
  --md-sys-color-error-dim: #fffeff;
  --md-sys-color-on-error: #000000;
  --md-sys-color-error-container: #ffffff;
  --md-sys-color-on-error-container: #7e0007;
}

.dark {
  --md-sys-color-primary-palette-key-color: #bb5957;
  --md-sys-color-secondary-palette-key-color: #916e6c;
  --md-sys-color-tertiary-palette-key-color: #8e7344;
  --md-sys-color-neutral-palette-key-color: #777777;
  --md-sys-color-neutral-variant-palette-key-color: #777777;
  --md-sys-color-error-palette-key-color: #de3730;
  --md-sys-color-background: #131313;
  --md-sys-color-on-background: #e2e2e2;
  --md-sys-color-surface: #131313;
  --md-sys-color-surface-dim: #131313;
  --md-sys-color-surface-bright: #393939;
  --md-sys-color-surface-container-lowest: #0e0e0e;
  --md-sys-color-surface-container-low: #1b1b1b;
  --md-sys-color-surface-container: #1f1f1f;
  --md-sys-color-surface-container-high: #2a2a2a;
  --md-sys-color-surface-container-highest: #353535;
  --md-sys-color-on-surface: #e2e2e2;
  --md-sys-color-surface-variant: #474747;
  --md-sys-color-on-surface-variant: #c6c6c6;
  --md-sys-color-inverse-surface: #e2e2e2;
  --md-sys-color-inverse-on-surface: #303030;
  --md-sys-color-outline: #919191;
  --md-sys-color-outline-variant: #474747;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #ffb3af;
  --md-sys-color-primary: #ffb3af;
  --md-sys-color-primary-dim: #ffc7c4;
  --md-sys-color-on-primary: #5f1317;
  --md-sys-color-primary-container: #ffdad8;
  --md-sys-color-on-primary-container: #a44746;
  --md-sys-color-inverse-primary: #9c4140;
  --md-sys-color-primary-fixed: #ffdad8;
  --md-sys-color-primary-fixed-dim: #ffb3af;
  --md-sys-color-on-primary-fixed: #410006;
  --md-sys-color-on-primary-fixed-variant: #7e2a2b;
  --md-sys-color-secondary: #e7bdba;
  --md-sys-color-secondary-dim: #f5cac8;
  --md-sys-color-on-secondary: #442928;
  --md-sys-color-secondary-container: #ffdad8;
  --md-sys-color-on-secondary-container: #7d5c5a;
  --md-sys-color-secondary-fixed: #ffdad8;
  --md-sys-color-secondary-fixed-dim: #e7bdba;
  --md-sys-color-on-secondary-fixed: #2c1514;
  --md-sys-color-on-secondary-fixed-variant: #5d3f3e;
  --md-sys-color-tertiary: #e3c28c;
  --md-sys-color-tertiary-dim: #fddba3;
  --md-sys-color-on-tertiary: #412d05;
  --md-sys-color-tertiary-container: #ffdea9;
  --md-sys-color-on-tertiary-container: #7a6034;
  --md-sys-color-tertiary-fixed: #ffdea9;
  --md-sys-color-tertiary-fixed-dim: #e3c28c;
  --md-sys-color-on-tertiary-fixed: #271900;
  --md-sys-color-on-tertiary-fixed-variant: #594319;
  --md-sys-color-error: #ffb4ab;
  --md-sys-color-error-dim: #ffc7c0;
  --md-sys-color-on-error: #690005;
  --md-sys-color-error-container: #ffdad6;
  --md-sys-color-on-error-container: #c32220;
}

.dark-medium-contrast {
  --md-sys-color-primary-palette-key-color: #bb5957;
  --md-sys-color-secondary-palette-key-color: #916e6c;
  --md-sys-color-tertiary-palette-key-color: #8e7344;
  --md-sys-color-neutral-palette-key-color: #777777;
  --md-sys-color-neutral-variant-palette-key-color: #777777;
  --md-sys-color-error-palette-key-color: #de3730;
  --md-sys-color-background: #131313;
  --md-sys-color-on-background: #e2e2e2;
  --md-sys-color-surface: #131313;
  --md-sys-color-surface-dim: #131313;
  --md-sys-color-surface-bright: #444444;
  --md-sys-color-surface-container-lowest: #070707;
  --md-sys-color-surface-container-low: #1d1d1d;
  --md-sys-color-surface-container: #282828;
  --md-sys-color-surface-container-high: #323232;
  --md-sys-color-surface-container-highest: #3e3e3e;
  --md-sys-color-on-surface: #ffffff;
  --md-sys-color-surface-variant: #474747;
  --md-sys-color-on-surface-variant: #dcdcdc;
  --md-sys-color-inverse-surface: #e2e2e2;
  --md-sys-color-inverse-on-surface: #2a2a2a;
  --md-sys-color-outline: #b2b2b2;
  --md-sys-color-outline-variant: #909090;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #ffb3af;
  --md-sys-color-primary: #ffd2cf;
  --md-sys-color-primary-dim: #ffc7c4;
  --md-sys-color-on-primary: #50070d;
  --md-sys-color-primary-container: #fff7f6;
  --md-sys-color-on-primary-container: #903837;
  --md-sys-color-inverse-primary: #7f2b2c;
  --md-sys-color-primary-fixed: #ffdad8;
  --md-sys-color-primary-fixed-dim: #ffb3af;
  --md-sys-color-on-primary-fixed: #2d0003;
  --md-sys-color-on-primary-fixed-variant: #67191c;
  --md-sys-color-secondary: #fed2cf;
  --md-sys-color-secondary-dim: #f5cac8;
  --md-sys-color-on-secondary: #381f1e;
  --md-sys-color-secondary-container: #fff7f6;
  --md-sys-color-on-secondary-container: #6c4d4b;
  --md-sys-color-secondary-fixed: #ffdad8;
  --md-sys-color-secondary-fixed-dim: #e7bdba;
  --md-sys-color-on-secondary-fixed: #200b0a;
  --md-sys-color-on-secondary-fixed-variant: #4b2f2e;
  --md-sys-color-tertiary: #fad8a0;
  --md-sys-color-tertiary-dim: #fddba3;
  --md-sys-color-on-tertiary: #342200;
  --md-sys-color-tertiary-container: #fff8f1;
  --md-sys-color-on-tertiary-container: #695126;
  --md-sys-color-tertiary-fixed: #ffdea9;
  --md-sys-color-tertiary-fixed-dim: #e3c28c;
  --md-sys-color-on-tertiary-fixed: #1a0f00;
  --md-sys-color-on-tertiary-fixed-variant: #47330a;
  --md-sys-color-error: #ffd2cc;
  --md-sys-color-error-dim: #ffc7c0;
  --md-sys-color-on-error: #540003;
  --md-sys-color-error-container: #fff7f6;
  --md-sys-color-on-error-container: #ab0b12;
}

.dark-high-contrast {
  --md-sys-color-primary-palette-key-color: #bb5957;
  --md-sys-color-secondary-palette-key-color: #916e6c;
  --md-sys-color-tertiary-palette-key-color: #8e7344;
  --md-sys-color-neutral-palette-key-color: #777777;
  --md-sys-color-neutral-variant-palette-key-color: #777777;
  --md-sys-color-error-palette-key-color: #de3730;
  --md-sys-color-background: #131313;
  --md-sys-color-on-background: #e2e2e2;
  --md-sys-color-surface: #131313;
  --md-sys-color-surface-dim: #131313;
  --md-sys-color-surface-bright: #505050;
  --md-sys-color-surface-container-lowest: #000000;
  --md-sys-color-surface-container-low: #1f1f1f;
  --md-sys-color-surface-container: #303030;
  --md-sys-color-surface-container-high: #3b3b3b;
  --md-sys-color-surface-container-highest: #474747;
  --md-sys-color-on-surface: #ffffff;
  --md-sys-color-surface-variant: #474747;
  --md-sys-color-on-surface-variant: #ffffff;
  --md-sys-color-inverse-surface: #e2e2e2;
  --md-sys-color-inverse-on-surface: #000000;
  --md-sys-color-outline: #f0f0f0;
  --md-sys-color-outline-variant: #c2c2c2;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #ffb3af;
  --md-sys-color-primary: #ffdad8;
  --md-sys-color-primary-dim: #fffeff;
  --md-sys-color-on-primary: #000000;
  --md-sys-color-primary-container: #ffffff;
  --md-sys-color-on-primary-container: #6e1f20;
  --md-sys-color-inverse-primary: #7f2b2c;
  --md-sys-color-primary-fixed: #ffdad8;
  --md-sys-color-primary-fixed-dim: #ffb3af;
  --md-sys-color-on-primary-fixed: #000000;
  --md-sys-color-on-primary-fixed-variant: #2d0003;
  --md-sys-color-secondary: #ffdad8;
  --md-sys-color-secondary-dim: #fffeff;
  --md-sys-color-on-secondary: #000000;
  --md-sys-color-secondary-container: #ffffff;
  --md-sys-color-on-secondary-container: #503433;
  --md-sys-color-secondary-fixed: #ffdad8;
  --md-sys-color-secondary-fixed-dim: #e7bdba;
  --md-sys-color-on-secondary-fixed: #000000;
  --md-sys-color-on-secondary-fixed-variant: #200b0a;
  --md-sys-color-tertiary: #ffdea9;
  --md-sys-color-tertiary-dim: #fffeff;
  --md-sys-color-on-tertiary: #000000;
  --md-sys-color-tertiary-container: #ffffff;
  --md-sys-color-on-tertiary-container: #4d380f;
  --md-sys-color-tertiary-fixed: #ffdea9;
  --md-sys-color-tertiary-fixed-dim: #e3c28c;
  --md-sys-color-on-tertiary-fixed: #000000;
  --md-sys-color-on-tertiary-fixed-variant: #1a0f00;
  --md-sys-color-error: #ffdad6;
  --md-sys-color-error-dim: #fffeff;
  --md-sys-color-on-error: #000000;
  --md-sys-color-error-container: #ffffff;
  --md-sys-color-on-error-container: #7e0007;
}

