.light {
  --md-sys-color-primary-palette-key-color: #bb5957;
  --md-sys-color-secondary-palette-key-color: #916e6c;
  --md-sys-color-tertiary-palette-key-color: #8e7344;
  --md-sys-color-neutral-palette-key-color: #777777;
  --md-sys-color-neutral-variant-palette-key-color: #777777;
  --md-sys-color-error-palette-key-color: #de3730;
  --md-sys-color-background: #f9f9f9;
  --md-sys-color-on-background: #323232;
  --md-sys-color-surface: #f9f9f9;
  --md-sys-color-surface-dim: #dadada;
  --md-sys-color-surface-bright: #f9f9f9;
  --md-sys-color-surface-container-lowest: #ffffff;
  --md-sys-color-surface-container-low: #f3f3f3;
  --md-sys-color-surface-container: #eeeeee;
  --md-sys-color-surface-container-high: #e8e8e8;
  --md-sys-color-surface-container-highest: #e2e2e2;
  --md-sys-color-on-surface: #323232;
  --md-sys-color-surface-variant: #e2e2e2;
  --md-sys-color-on-surface-variant: #5f5f5f;
  --md-sys-color-inverse-surface: #0e0e0e;
  --md-sys-color-inverse-on-surface: #9d9d9d;
  --md-sys-color-outline: #7b7b7b;
  --md-sys-color-outline-variant: #b2b2b2;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #9d4241;
  --md-sys-color-primary: #9d4241;
  --md-sys-color-primary-dim: #8e3636;
  --md-sys-color-on-primary: #fff7f6;
  --md-sys-color-primary-container: #f88885;
  --md-sys-color-on-primary-container: #560c11;
  --md-sys-color-inverse-primary: #f88885;
  --md-sys-color-primary-fixed: #f88885;
  --md-sys-color-primary-fixed-dim: #e87c78;
  --md-sys-color-on-primary-fixed: #230002;
  --md-sys-color-on-primary-fixed-variant: #631619;
  --md-sys-color-secondary: #785755;
  --md-sys-color-secondary-dim: #6b4b4a;
  --md-sys-color-on-secondary: #fff7f6;
  --md-sys-color-secondary-container: #ffdad8;
  --md-sys-color-on-secondary-container: #694a48;
  --md-sys-color-secondary-fixed: #ffdad8;
  --md-sys-color-secondary-fixed-dim: #f5cac8;
  --md-sys-color-on-secondary-fixed: #553836;
  --md-sys-color-on-secondary-fixed-variant: #745352;
  --md-sys-color-tertiary: #745b2f;
  --md-sys-color-tertiary-dim: #674f24;
  --md-sys-color-on-tertiary: #fff8f2;
  --md-sys-color-tertiary-container: #fddba3;
  --md-sys-color-on-tertiary-container: #644c22;
  --md-sys-color-tertiary-fixed: #fddba3;
  --md-sys-color-tertiary-fixed-dim: #eecd97;
  --md-sys-color-on-tertiary-fixed: #4f3a11;
  --md-sys-color-on-tertiary-fixed-variant: #6e562a;
  --md-sys-color-error: #bb1b1b;
  --md-sys-color-error-dim: #a90810;
  --md-sys-color-on-error: #fff7f6;
  --md-sys-color-error-container: #fe4e44;
  --md-sys-color-on-error-container: #570003;
}

.light-medium-contrast {
  --md-sys-color-primary-palette-key-color: #bb5957;
  --md-sys-color-secondary-palette-key-color: #916e6c;
  --md-sys-color-tertiary-palette-key-color: #8e7344;
  --md-sys-color-neutral-palette-key-color: #777777;
  --md-sys-color-neutral-variant-palette-key-color: #777777;
  --md-sys-color-error-palette-key-color: #de3730;
  --md-sys-color-background: #f9f9f9;
  --md-sys-color-on-background: #242424;
  --md-sys-color-surface: #f9f9f9;
  --md-sys-color-surface-dim: #dadada;
  --md-sys-color-surface-bright: #f9f9f9;
  --md-sys-color-surface-container-lowest: #ffffff;
  --md-sys-color-surface-container-low: #f3f3f3;
  --md-sys-color-surface-container: #eeeeee;
  --md-sys-color-surface-container-high: #e8e8e8;
  --md-sys-color-surface-container-highest: #e2e2e2;
  --md-sys-color-on-surface: #242424;
  --md-sys-color-surface-variant: #e2e2e2;
  --md-sys-color-on-surface-variant: #434343;
  --md-sys-color-inverse-surface: #0e0e0e;
  --md-sys-color-inverse-on-surface: #c5c5c5;
  --md-sys-color-outline: #5f5f5f;
  --md-sys-color-outline-variant: #7b7b7b;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #782627;
  --md-sys-color-primary: #782627;
  --md-sys-color-primary-dim: #691b1d;
  --md-sys-color-on-primary: #ffcecb;
  --md-sys-color-primary-container: #b85654;
  --md-sys-color-on-primary-container: #ffffff;
  --md-sys-color-inverse-primary: #f88885;
  --md-sys-color-primary-fixed: #b85654;
  --md-sys-color-primary-fixed-dim: #a94a49;
  --md-sys-color-on-primary-fixed: #ffffff;
  --md-sys-color-on-primary-fixed-variant: #ffffff;
  --md-sys-color-secondary: #593b3a;
  --md-sys-color-secondary-dim: #4c302f;
  --md-sys-color-on-secondary: #fbcfcd;
  --md-sys-color-secondary-container: #8f6c6a;
  --md-sys-color-on-secondary-container: #ffffff;
  --md-sys-color-secondary-fixed: #8f6c6a;
  --md-sys-color-secondary-fixed-dim: #81605e;
  --md-sys-color-on-secondary-fixed: #ffffff;
  --md-sys-color-on-secondary-fixed-variant: #ffffff;
  --md-sys-color-tertiary: #553f16;
  --md-sys-color-tertiary-dim: #49340b;
  --md-sys-color-on-tertiary: #f7d59e;
  --md-sys-color-tertiary-container: #8b7042;
  --md-sys-color-on-tertiary-container: #ffffff;
  --md-sys-color-tertiary-fixed: #8b7042;
  --md-sys-color-tertiary-fixed-dim: #7e6437;
  --md-sys-color-on-tertiary-fixed: #ffffff;
  --md-sys-color-on-tertiary-fixed-variant: #ffffff;
  --md-sys-color-error: #8c0009;
  --md-sys-color-error-dim: #760006;
  --md-sys-color-on-error: #ffcec8;
  --md-sys-color-error-container: #da342e;
  --md-sys-color-on-error-container: #ffffff;
}

.light-high-contrast {
  --md-sys-color-primary-palette-key-color: #bb5957;
  --md-sys-color-secondary-palette-key-color: #916e6c;
  --md-sys-color-tertiary-palette-key-color: #8e7344;
  --md-sys-color-neutral-palette-key-color: #777777;
  --md-sys-color-neutral-variant-palette-key-color: #777777;
  --md-sys-color-error-palette-key-color: #de3730;
  --md-sys-color-background: #f9f9f9;
  --md-sys-color-on-background: #000000;
  --md-sys-color-surface: #f9f9f9;
  --md-sys-color-surface-dim: #dadada;
  --md-sys-color-surface-bright: #f9f9f9;
  --md-sys-color-surface-container-lowest: #ffffff;
  --md-sys-color-surface-container-low: #f3f3f3;
  --md-sys-color-surface-container: #eeeeee;
  --md-sys-color-surface-container-high: #e8e8e8;
  --md-sys-color-surface-container-highest: #e2e2e2;
  --md-sys-color-on-surface: #000000;
  --md-sys-color-surface-variant: #e2e2e2;
  --md-sys-color-on-surface-variant: #242424;
  --md-sys-color-inverse-surface: #0e0e0e;
  --md-sys-color-inverse-on-surface: #ffffff;
  --md-sys-color-outline: #434343;
  --md-sys-color-outline-variant: #5f5f5f;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #4e050c;
  --md-sys-color-primary: #4e050c;
  --md-sys-color-primary-dim: #3d0005;
  --md-sys-color-on-primary: #ffcfcc;
  --md-sys-color-primary-container: #9d4241;
  --md-sys-color-on-primary-container: #ffffff;
  --md-sys-color-inverse-primary: #ffb1ad;
  --md-sys-color-primary-fixed: #9d4241;
  --md-sys-color-primary-fixed-dim: #8e3636;
  --md-sys-color-on-primary-fixed: #ffffff;
  --md-sys-color-on-primary-fixed-variant: #ffffff;
  --md-sys-color-secondary: #361d1c;
  --md-sys-color-secondary-dim: #2a1312;
  --md-sys-color-on-secondary: #fbd0cd;
  --md-sys-color-secondary-container: #785755;
  --md-sys-color-on-secondary-container: #ffffff;
  --md-sys-color-secondary-fixed: #785755;
  --md-sys-color-secondary-fixed-dim: #6b4b4a;
  --md-sys-color-on-secondary-fixed: #ffffff;
  --md-sys-color-on-secondary-fixed-variant: #ffffff;
  --md-sys-color-tertiary: #322100;
  --md-sys-color-tertiary-dim: #251700;
  --md-sys-color-on-tertiary: #f7d59e;
  --md-sys-color-tertiary-container: #745b2f;
  --md-sys-color-on-tertiary-container: #ffffff;
  --md-sys-color-tertiary-fixed: #745b2f;
  --md-sys-color-tertiary-fixed-dim: #674f24;
  --md-sys-color-on-tertiary-fixed: #ffffff;
  --md-sys-color-on-tertiary-fixed-variant: #ffffff;
  --md-sys-color-error: #510003;
  --md-sys-color-error-dim: #3e0002;
  --md-sys-color-on-error: #ffcfc9;
  --md-sys-color-error-container: #bb1b1b;
  --md-sys-color-on-error-container: #ffffff;
}

.dark {
  --md-sys-color-primary-palette-key-color: #bb5957;
  --md-sys-color-secondary-palette-key-color: #916e6c;
  --md-sys-color-tertiary-palette-key-color: #8e7344;
  --md-sys-color-neutral-palette-key-color: #777777;
  --md-sys-color-neutral-variant-palette-key-color: #777777;
  --md-sys-color-error-palette-key-color: #de3730;
  --md-sys-color-background: #0e0e0e;
  --md-sys-color-on-background: #e5e5e5;
  --md-sys-color-surface: #0e0e0e;
  --md-sys-color-surface-dim: #0e0e0e;
  --md-sys-color-surface-bright: #2c2c2c;
  --md-sys-color-surface-container-lowest: #000000;
  --md-sys-color-surface-container-low: #131313;
  --md-sys-color-surface-container: #191919;
  --md-sys-color-surface-container-high: #1f1f1f;
  --md-sys-color-surface-container-highest: #262626;
  --md-sys-color-on-surface: #e5e5e5;
  --md-sys-color-surface-variant: #262626;
  --md-sys-color-on-surface-variant: #ababab;
  --md-sys-color-inverse-surface: #f9f9f9;
  --md-sys-color-inverse-on-surface: #555555;
  --md-sys-color-outline: #757575;
  --md-sys-color-outline-variant: #484848;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #fe8e8a;
  --md-sys-color-primary: #fe8e8a;
  --md-sys-color-primary-dim: #ee817d;
  --md-sys-color-on-primary: #5d1115;
  --md-sys-color-primary-container: #ee817d;
  --md-sys-color-on-primary-container: #4c040b;
  --md-sys-color-inverse-primary: #9d4241;
  --md-sys-color-primary-fixed: #f88885;
  --md-sys-color-primary-fixed-dim: #e87c78;
  --md-sys-color-on-primary-fixed: #230002;
  --md-sys-color-on-primary-fixed-variant: #631619;
  --md-sys-color-secondary: #e7bdba;
  --md-sys-color-secondary-dim: #d8afad;
  --md-sys-color-on-secondary: #563937;
  --md-sys-color-secondary-container: #503433;
  --md-sys-color-on-secondary-container: #dfb5b3;
  --md-sys-color-secondary-fixed: #ffdad8;
  --md-sys-color-secondary-fixed-dim: #f5cac8;
  --md-sys-color-on-secondary-fixed: #553836;
  --md-sys-color-on-secondary-fixed-variant: #745352;
  --md-sys-color-tertiary: #ffebcf;
  --md-sys-color-tertiary-dim: #fddba3;
  --md-sys-color-on-tertiary: #6d5529;
  --md-sys-color-tertiary-container: #fddba3;
  --md-sys-color-on-tertiary-container: #644c22;
  --md-sys-color-tertiary-fixed: #fddba3;
  --md-sys-color-tertiary-fixed-dim: #eecd97;
  --md-sys-color-on-tertiary-fixed: #4f3a11;
  --md-sys-color-on-tertiary-fixed-variant: #6e562a;
  --md-sys-color-error: #ff7164;
  --md-sys-color-error-dim: #da342e;
  --md-sys-color-on-error: #4a0002;
  --md-sys-color-error-container: #ac0c12;
  --md-sys-color-on-error-container: #ffb8b0;
}

.dark-medium-contrast {
  --md-sys-color-primary-palette-key-color: #bb5957;
  --md-sys-color-secondary-palette-key-color: #916e6c;
  --md-sys-color-tertiary-palette-key-color: #8e7344;
  --md-sys-color-neutral-palette-key-color: #777777;
  --md-sys-color-neutral-variant-palette-key-color: #777777;
  --md-sys-color-error-palette-key-color: #de3730;
  --md-sys-color-background: #0e0e0e;
  --md-sys-color-on-background: #ffffff;
  --md-sys-color-surface: #0e0e0e;
  --md-sys-color-surface-dim: #0e0e0e;
  --md-sys-color-surface-bright: #2c2c2c;
  --md-sys-color-surface-container-lowest: #000000;
  --md-sys-color-surface-container-low: #131313;
  --md-sys-color-surface-container: #191919;
  --md-sys-color-surface-container-high: #1f1f1f;
  --md-sys-color-surface-container-highest: #262626;
  --md-sys-color-on-surface: #ffffff;
  --md-sys-color-surface-variant: #262626;
  --md-sys-color-on-surface-variant: #b9b9b9;
  --md-sys-color-inverse-surface: #f9f9f9;
  --md-sys-color-inverse-on-surface: #383838;
  --md-sys-color-outline: #939393;
  --md-sys-color-outline-variant: #757575;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #ff9f9b;
  --md-sys-color-primary: #ff9f9b;
  --md-sys-color-primary-dim: #fa8a87;
  --md-sys-color-on-primary: #590f13;
  --md-sys-color-primary-container: #ee817d;
  --md-sys-color-on-primary-container: #330004;
  --md-sys-color-inverse-primary: #903838;
  --md-sys-color-primary-fixed: #f88885;
  --md-sys-color-primary-fixed-dim: #e87c78;
  --md-sys-color-on-primary-fixed: #000000;
  --md-sys-color-on-primary-fixed-variant: #230002;
  --md-sys-color-secondary: #e7bdba;
  --md-sys-color-secondary-dim: #d8afad;
  --md-sys-color-on-secondary: #4b2f2e;
  --md-sys-color-secondary-container: #8f6c6a;
  --md-sys-color-on-secondary-container: #ffffff;
  --md-sys-color-secondary-fixed: #ffdad8;
  --md-sys-color-secondary-fixed-dim: #f5cac8;
  --md-sys-color-on-secondary-fixed: #311918;
  --md-sys-color-on-secondary-fixed-variant: #553836;
  --md-sys-color-tertiary: #ffebcf;
  --md-sys-color-tertiary-dim: #fddba3;
  --md-sys-color-on-tertiary: #624b20;
  --md-sys-color-tertiary-container: #fddba3;
  --md-sys-color-on-tertiary-container: #594319;
  --md-sys-color-tertiary-fixed: #fddba3;
  --md-sys-color-tertiary-fixed-dim: #eecd97;
  --md-sys-color-on-tertiary-fixed: #291a00;
  --md-sys-color-on-tertiary-fixed-variant: #4f3a11;
  --md-sys-color-error: #ff9f94;
  --md-sys-color-error-dim: #ff887c;
  --md-sys-color-on-error: #600004;
  --md-sys-color-error-container: #da342e;
  --md-sys-color-on-error-container: #ffffff;
}

.dark-high-contrast {
  --md-sys-color-primary-palette-key-color: #bb5957;
  --md-sys-color-secondary-palette-key-color: #916e6c;
  --md-sys-color-tertiary-palette-key-color: #8e7344;
  --md-sys-color-neutral-palette-key-color: #777777;
  --md-sys-color-neutral-variant-palette-key-color: #777777;
  --md-sys-color-error-palette-key-color: #de3730;
  --md-sys-color-background: #0e0e0e;
  --md-sys-color-on-background: #ffffff;
  --md-sys-color-surface: #0e0e0e;
  --md-sys-color-surface-dim: #0e0e0e;
  --md-sys-color-surface-bright: #2c2c2c;
  --md-sys-color-surface-container-lowest: #000000;
  --md-sys-color-surface-container-low: #131313;
  --md-sys-color-surface-container: #191919;
  --md-sys-color-surface-container-high: #1f1f1f;
  --md-sys-color-surface-container-highest: #262626;
  --md-sys-color-on-surface: #ffffff;
  --md-sys-color-surface-variant: #262626;
  --md-sys-color-on-surface-variant: #e5e5e5;
  --md-sys-color-inverse-surface: #f9f9f9;
  --md-sys-color-inverse-on-surface: #000000;
  --md-sys-color-outline: #b9b9b9;
  --md-sys-color-outline-variant: #939393;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #ffdedc;
  --md-sys-color-primary: #ffdedc;
  --md-sys-color-primary-dim: #ffc7c4;
  --md-sys-color-on-primary: #590f13;
  --md-sys-color-primary-container: #ee817d;
  --md-sys-color-on-primary-container: #000000;
  --md-sys-color-inverse-primary: #6a1b1d;
  --md-sys-color-primary-fixed: #f88885;
  --md-sys-color-primary-fixed-dim: #e87c78;
  --md-sys-color-on-primary-fixed: #000000;
  --md-sys-color-on-primary-fixed-variant: #000000;
  --md-sys-color-secondary: #ffdedc;
  --md-sys-color-secondary-dim: #f5cac8;
  --md-sys-color-on-secondary: #3f2524;
  --md-sys-color-secondary-container: #bb9592;
  --md-sys-color-on-secondary-container: #000000;
  --md-sys-color-secondary-fixed: #ffdad8;
  --md-sys-color-secondary-fixed-dim: #f5cac8;
  --md-sys-color-on-secondary-fixed: #000000;
  --md-sys-color-on-secondary-fixed-variant: #311918;
  --md-sys-color-tertiary: #ffebcf;
  --md-sys-color-tertiary-dim: #fddba3;
  --md-sys-color-on-tertiary: #422e05;
  --md-sys-color-tertiary-container: #fddba3;
  --md-sys-color-on-tertiary-container: #372500;
  --md-sys-color-tertiary-fixed: #fddba3;
  --md-sys-color-tertiary-fixed-dim: #eecd97;
  --md-sys-color-on-tertiary-fixed: #000000;
  --md-sys-color-on-tertiary-fixed-variant: #291a00;
  --md-sys-color-error: #ffdeda;
  --md-sys-color-error-dim: #ffc8c1;
  --md-sys-color-on-error: #600004;
  --md-sys-color-error-container: #ff7164;
  --md-sys-color-on-error-container: #000000;
}

