.light {
  --md-sys-color-primary-palette-key-color: #bb5957;
  --md-sys-color-secondary-palette-key-color: #916e6c;
  --md-sys-color-tertiary-palette-key-color: #8e7344;
  --md-sys-color-neutral-palette-key-color: #777777;
  --md-sys-color-neutral-variant-palette-key-color: #777777;
  --md-sys-color-error-palette-key-color: #de3730;
  --md-sys-color-background: #000000;
  --md-sys-color-on-background: #ffffff;
  --md-sys-color-surface: #000000;
  --md-sys-color-surface-dim: #0e0e0e;
  --md-sys-color-surface-bright: #2c2c2c;
  --md-sys-color-surface-container-lowest: #000000;
  --md-sys-color-surface-container-low: #262626;
  --md-sys-color-surface-container: #303030;
  --md-sys-color-surface-container-high: #3b3b3b;
  --md-sys-color-surface-container-highest: #262626;
  --md-sys-color-on-surface: #ffffff;
  --md-sys-color-surface-variant: #262626;
  --md-sys-color-on-surface-variant: #cecece;
  --md-sys-color-inverse-surface: #f9f9f9;
  --md-sys-color-inverse-on-surface: #555555;
  --md-sys-color-outline: #a6a6a6;
  --md-sys-color-outline-variant: #858585;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #ffbebb;
  --md-sys-color-primary: #ffbebb;
  --md-sys-color-primary-dim: #f88885;
  --md-sys-color-on-primary: #450007;
  --md-sys-color-primary-container: #7e2a2b;
  --md-sys-color-on-primary-container: #ffd7d4;
  --md-sys-color-inverse-primary: #903838;
  --md-sys-color-primary-fixed: #7e2a2b;
  --md-sys-color-primary-fixed-dim: #6e1f20;
  --md-sys-color-on-primary-fixed: #ffbebb;
  --md-sys-color-on-primary-fixed-variant: #f58682;
  --md-sys-color-secondary: #f5cac8;
  --md-sys-color-secondary-dim: #e7bdba;
  --md-sys-color-on-secondary: #4b2f2e;
  --md-sys-color-secondary-container: #5d3f3e;
  --md-sys-color-on-secondary-container: #ffd7d4;
  --md-sys-color-secondary-fixed: #5d3f3e;
  --md-sys-color-secondary-fixed-dim: #503433;
  --md-sys-color-on-secondary-fixed: #efc4c1;
  --md-sys-color-on-secondary-fixed-variant: #c49c9a;
  --md-sys-color-tertiary: #fddba3;
  --md-sys-color-tertiary-dim: #eecd97;
  --md-sys-color-on-tertiary: #4f3a11;
  --md-sys-color-tertiary-container: #d1b17d;
  --md-sys-color-on-tertiary-container: #392701;
  --md-sys-color-tertiary-fixed: #d1b17d;
  --md-sys-color-tertiary-fixed-dim: #c3a471;
  --md-sys-color-on-tertiary-fixed: #2a1b00;
  --md-sys-color-on-tertiary-fixed-variant: #4f3a11;
  --md-sys-color-error: #ffbeb7;
  --md-sys-color-error-dim: #ff8073;
  --md-sys-color-on-error: #400002;
  --md-sys-color-error-container: #93000a;
  --md-sys-color-on-error-container: #ffd7d2;
}

.light-medium-contrast {
  --md-sys-color-primary-palette-key-color: #bb5957;
  --md-sys-color-secondary-palette-key-color: #916e6c;
  --md-sys-color-tertiary-palette-key-color: #8e7344;
  --md-sys-color-neutral-palette-key-color: #777777;
  --md-sys-color-neutral-variant-palette-key-color: #777777;
  --md-sys-color-error-palette-key-color: #de3730;
  --md-sys-color-background: #000000;
  --md-sys-color-on-background: #ffffff;
  --md-sys-color-surface: #000000;
  --md-sys-color-surface-dim: #0e0e0e;
  --md-sys-color-surface-bright: #2c2c2c;
  --md-sys-color-surface-container-lowest: #000000;
  --md-sys-color-surface-container-low: #262626;
  --md-sys-color-surface-container: #303030;
  --md-sys-color-surface-container-high: #3b3b3b;
  --md-sys-color-surface-container-highest: #262626;
  --md-sys-color-on-surface: #ffffff;
  --md-sys-color-surface-variant: #262626;
  --md-sys-color-on-surface-variant: #ffffff;
  --md-sys-color-inverse-surface: #f9f9f9;
  --md-sys-color-inverse-on-surface: #383838;
  --md-sys-color-outline: #cecece;
  --md-sys-color-outline-variant: #a6a6a6;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #fffeff;
  --md-sys-color-primary: #fffeff;
  --md-sys-color-primary-dim: #ffbebb;
  --md-sys-color-on-primary: #3d0005;
  --md-sys-color-primary-container: #7e2a2b;
  --md-sys-color-on-primary-container: #ffffff;
  --md-sys-color-inverse-primary: #6a1b1d;
  --md-sys-color-primary-fixed: #7e2a2b;
  --md-sys-color-primary-fixed-dim: #6e1f20;
  --md-sys-color-on-primary-fixed: #fffeff;
  --md-sys-color-on-primary-fixed-variant: #ffbebb;
  --md-sys-color-secondary: #fffeff;
  --md-sys-color-secondary-dim: #f5cac8;
  --md-sys-color-on-secondary: #311918;
  --md-sys-color-secondary-container: #5d3f3e;
  --md-sys-color-on-secondary-container: #ffffff;
  --md-sys-color-secondary-fixed: #5d3f3e;
  --md-sys-color-secondary-fixed-dim: #503433;
  --md-sys-color-on-secondary-fixed: #fffeff;
  --md-sys-color-on-secondary-fixed-variant: #efc4c1;
  --md-sys-color-tertiary: #fffeff;
  --md-sys-color-tertiary-dim: #fddba3;
  --md-sys-color-on-tertiary: #372500;
  --md-sys-color-tertiary-container: #e0bf8a;
  --md-sys-color-on-tertiary-container: #150b00;
  --md-sys-color-tertiary-fixed: #d1b17d;
  --md-sys-color-tertiary-fixed-dim: #c3a471;
  --md-sys-color-on-tertiary-fixed: #000000;
  --md-sys-color-on-tertiary-fixed-variant: #2a1b00;
  --md-sys-color-error: #fffeff;
  --md-sys-color-error-dim: #ffbeb7;
  --md-sys-color-on-error: #3d0002;
  --md-sys-color-error-container: #93000a;
  --md-sys-color-on-error-container: #ffffff;
}

.light-high-contrast {
  --md-sys-color-primary-palette-key-color: #bb5957;
  --md-sys-color-secondary-palette-key-color: #916e6c;
  --md-sys-color-tertiary-palette-key-color: #8e7344;
  --md-sys-color-neutral-palette-key-color: #777777;
  --md-sys-color-neutral-variant-palette-key-color: #777777;
  --md-sys-color-error-palette-key-color: #de3730;
  --md-sys-color-background: #000000;
  --md-sys-color-on-background: #ffffff;
  --md-sys-color-surface: #000000;
  --md-sys-color-surface-dim: #0e0e0e;
  --md-sys-color-surface-bright: #2c2c2c;
  --md-sys-color-surface-container-lowest: #000000;
  --md-sys-color-surface-container-low: #262626;
  --md-sys-color-surface-container: #303030;
  --md-sys-color-surface-container-high: #3b3b3b;
  --md-sys-color-surface-container-highest: #262626;
  --md-sys-color-on-surface: #ffffff;
  --md-sys-color-surface-variant: #262626;
  --md-sys-color-on-surface-variant: #ffffff;
  --md-sys-color-inverse-surface: #f9f9f9;
  --md-sys-color-inverse-on-surface: #000000;
  --md-sys-color-outline: #ffffff;
  --md-sys-color-outline-variant: #cecece;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #ffffff;
  --md-sys-color-primary: #ffffff;
  --md-sys-color-primary-dim: #fffeff;
  --md-sys-color-on-primary: #000000;
  --md-sys-color-primary-container: #7e2a2b;
  --md-sys-color-on-primary-container: #ffffff;
  --md-sys-color-inverse-primary: #000000;
  --md-sys-color-primary-fixed: #7e2a2b;
  --md-sys-color-primary-fixed-dim: #6e1f20;
  --md-sys-color-on-primary-fixed: #ffffff;
  --md-sys-color-on-primary-fixed-variant: #fffeff;
  --md-sys-color-secondary: #ffffff;
  --md-sys-color-secondary-dim: #fffeff;
  --md-sys-color-on-secondary: #000000;
  --md-sys-color-secondary-container: #5d3f3e;
  --md-sys-color-on-secondary-container: #ffffff;
  --md-sys-color-secondary-fixed: #5d3f3e;
  --md-sys-color-secondary-fixed-dim: #503433;
  --md-sys-color-on-secondary-fixed: #ffffff;
  --md-sys-color-on-secondary-fixed-variant: #fffeff;
  --md-sys-color-tertiary: #ffffff;
  --md-sys-color-tertiary-dim: #fffeff;
  --md-sys-color-on-tertiary: #000000;
  --md-sys-color-tertiary-container: #fddba3;
  --md-sys-color-on-tertiary-container: #000000;
  --md-sys-color-tertiary-fixed: #d1b17d;
  --md-sys-color-tertiary-fixed-dim: #c3a471;
  --md-sys-color-on-tertiary-fixed: #000000;
  --md-sys-color-on-tertiary-fixed-variant: #000000;
  --md-sys-color-error: #ffffff;
  --md-sys-color-error-dim: #fffeff;
  --md-sys-color-on-error: #000000;
  --md-sys-color-error-container: #93000a;
  --md-sys-color-on-error-container: #ffffff;
}

.dark {
  --md-sys-color-primary-palette-key-color: #bb5957;
  --md-sys-color-secondary-palette-key-color: #916e6c;
  --md-sys-color-tertiary-palette-key-color: #8e7344;
  --md-sys-color-neutral-palette-key-color: #777777;
  --md-sys-color-neutral-variant-palette-key-color: #777777;
  --md-sys-color-error-palette-key-color: #de3730;
  --md-sys-color-background: #000000;
  --md-sys-color-on-background: #ffffff;
  --md-sys-color-surface: #000000;
  --md-sys-color-surface-dim: #0e0e0e;
  --md-sys-color-surface-bright: #2c2c2c;
  --md-sys-color-surface-container-lowest: #000000;
  --md-sys-color-surface-container-low: #262626;
  --md-sys-color-surface-container: #303030;
  --md-sys-color-surface-container-high: #3b3b3b;
  --md-sys-color-surface-container-highest: #262626;
  --md-sys-color-on-surface: #ffffff;
  --md-sys-color-surface-variant: #262626;
  --md-sys-color-on-surface-variant: #cecece;
  --md-sys-color-inverse-surface: #f9f9f9;
  --md-sys-color-inverse-on-surface: #555555;
  --md-sys-color-outline: #a6a6a6;
  --md-sys-color-outline-variant: #858585;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #ffbebb;
  --md-sys-color-primary: #ffbebb;
  --md-sys-color-primary-dim: #f88885;
  --md-sys-color-on-primary: #450007;
  --md-sys-color-primary-container: #7e2a2b;
  --md-sys-color-on-primary-container: #ffd7d4;
  --md-sys-color-inverse-primary: #903838;
  --md-sys-color-primary-fixed: #7e2a2b;
  --md-sys-color-primary-fixed-dim: #6e1f20;
  --md-sys-color-on-primary-fixed: #ffbebb;
  --md-sys-color-on-primary-fixed-variant: #f58682;
  --md-sys-color-secondary: #f5cac8;
  --md-sys-color-secondary-dim: #e7bdba;
  --md-sys-color-on-secondary: #4b2f2e;
  --md-sys-color-secondary-container: #5d3f3e;
  --md-sys-color-on-secondary-container: #ffd7d4;
  --md-sys-color-secondary-fixed: #5d3f3e;
  --md-sys-color-secondary-fixed-dim: #503433;
  --md-sys-color-on-secondary-fixed: #efc4c1;
  --md-sys-color-on-secondary-fixed-variant: #c49c9a;
  --md-sys-color-tertiary: #fddba3;
  --md-sys-color-tertiary-dim: #eecd97;
  --md-sys-color-on-tertiary: #4f3a11;
  --md-sys-color-tertiary-container: #d1b17d;
  --md-sys-color-on-tertiary-container: #392701;
  --md-sys-color-tertiary-fixed: #d1b17d;
  --md-sys-color-tertiary-fixed-dim: #c3a471;
  --md-sys-color-on-tertiary-fixed: #2a1b00;
  --md-sys-color-on-tertiary-fixed-variant: #4f3a11;
  --md-sys-color-error: #ffbeb7;
  --md-sys-color-error-dim: #ff8073;
  --md-sys-color-on-error: #400002;
  --md-sys-color-error-container: #93000a;
  --md-sys-color-on-error-container: #ffd7d2;
}

.dark-medium-contrast {
  --md-sys-color-primary-palette-key-color: #bb5957;
  --md-sys-color-secondary-palette-key-color: #916e6c;
  --md-sys-color-tertiary-palette-key-color: #8e7344;
  --md-sys-color-neutral-palette-key-color: #777777;
  --md-sys-color-neutral-variant-palette-key-color: #777777;
  --md-sys-color-error-palette-key-color: #de3730;
  --md-sys-color-background: #000000;
  --md-sys-color-on-background: #ffffff;
  --md-sys-color-surface: #000000;
  --md-sys-color-surface-dim: #0e0e0e;
  --md-sys-color-surface-bright: #2c2c2c;
  --md-sys-color-surface-container-lowest: #000000;
  --md-sys-color-surface-container-low: #262626;
  --md-sys-color-surface-container: #303030;
  --md-sys-color-surface-container-high: #3b3b3b;
  --md-sys-color-surface-container-highest: #262626;
  --md-sys-color-on-surface: #ffffff;
  --md-sys-color-surface-variant: #262626;
  --md-sys-color-on-surface-variant: #ffffff;
  --md-sys-color-inverse-surface: #f9f9f9;
  --md-sys-color-inverse-on-surface: #383838;
  --md-sys-color-outline: #cecece;
  --md-sys-color-outline-variant: #a6a6a6;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #fffeff;
  --md-sys-color-primary: #fffeff;
  --md-sys-color-primary-dim: #ffbebb;
  --md-sys-color-on-primary: #3d0005;
  --md-sys-color-primary-container: #7e2a2b;
  --md-sys-color-on-primary-container: #ffffff;
  --md-sys-color-inverse-primary: #6a1b1d;
  --md-sys-color-primary-fixed: #7e2a2b;
  --md-sys-color-primary-fixed-dim: #6e1f20;
  --md-sys-color-on-primary-fixed: #fffeff;
  --md-sys-color-on-primary-fixed-variant: #ffbebb;
  --md-sys-color-secondary: #fffeff;
  --md-sys-color-secondary-dim: #f5cac8;
  --md-sys-color-on-secondary: #311918;
  --md-sys-color-secondary-container: #5d3f3e;
  --md-sys-color-on-secondary-container: #ffffff;
  --md-sys-color-secondary-fixed: #5d3f3e;
  --md-sys-color-secondary-fixed-dim: #503433;
  --md-sys-color-on-secondary-fixed: #fffeff;
  --md-sys-color-on-secondary-fixed-variant: #efc4c1;
  --md-sys-color-tertiary: #fffeff;
  --md-sys-color-tertiary-dim: #fddba3;
  --md-sys-color-on-tertiary: #372500;
  --md-sys-color-tertiary-container: #e0bf8a;
  --md-sys-color-on-tertiary-container: #150b00;
  --md-sys-color-tertiary-fixed: #d1b17d;
  --md-sys-color-tertiary-fixed-dim: #c3a471;
  --md-sys-color-on-tertiary-fixed: #000000;
  --md-sys-color-on-tertiary-fixed-variant: #2a1b00;
  --md-sys-color-error: #fffeff;
  --md-sys-color-error-dim: #ffbeb7;
  --md-sys-color-on-error: #3d0002;
  --md-sys-color-error-container: #93000a;
  --md-sys-color-on-error-container: #ffffff;
}

.dark-high-contrast {
  --md-sys-color-primary-palette-key-color: #bb5957;
  --md-sys-color-secondary-palette-key-color: #916e6c;
  --md-sys-color-tertiary-palette-key-color: #8e7344;
  --md-sys-color-neutral-palette-key-color: #777777;
  --md-sys-color-neutral-variant-palette-key-color: #777777;
  --md-sys-color-error-palette-key-color: #de3730;
  --md-sys-color-background: #000000;
  --md-sys-color-on-background: #ffffff;
  --md-sys-color-surface: #000000;
  --md-sys-color-surface-dim: #0e0e0e;
  --md-sys-color-surface-bright: #2c2c2c;
  --md-sys-color-surface-container-lowest: #000000;
  --md-sys-color-surface-container-low: #262626;
  --md-sys-color-surface-container: #303030;
  --md-sys-color-surface-container-high: #3b3b3b;
  --md-sys-color-surface-container-highest: #262626;
  --md-sys-color-on-surface: #ffffff;
  --md-sys-color-surface-variant: #262626;
  --md-sys-color-on-surface-variant: #ffffff;
  --md-sys-color-inverse-surface: #f9f9f9;
  --md-sys-color-inverse-on-surface: #000000;
  --md-sys-color-outline: #ffffff;
  --md-sys-color-outline-variant: #cecece;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #ffffff;
  --md-sys-color-primary: #ffffff;
  --md-sys-color-primary-dim: #fffeff;
  --md-sys-color-on-primary: #000000;
  --md-sys-color-primary-container: #7e2a2b;
  --md-sys-color-on-primary-container: #ffffff;
  --md-sys-color-inverse-primary: #000000;
  --md-sys-color-primary-fixed: #7e2a2b;
  --md-sys-color-primary-fixed-dim: #6e1f20;
  --md-sys-color-on-primary-fixed: #ffffff;
  --md-sys-color-on-primary-fixed-variant: #fffeff;
  --md-sys-color-secondary: #ffffff;
  --md-sys-color-secondary-dim: #fffeff;
  --md-sys-color-on-secondary: #000000;
  --md-sys-color-secondary-container: #5d3f3e;
  --md-sys-color-on-secondary-container: #ffffff;
  --md-sys-color-secondary-fixed: #5d3f3e;
  --md-sys-color-secondary-fixed-dim: #503433;
  --md-sys-color-on-secondary-fixed: #ffffff;
  --md-sys-color-on-secondary-fixed-variant: #fffeff;
  --md-sys-color-tertiary: #ffffff;
  --md-sys-color-tertiary-dim: #fffeff;
  --md-sys-color-on-tertiary: #000000;
  --md-sys-color-tertiary-container: #fddba3;
  --md-sys-color-on-tertiary-container: #000000;
  --md-sys-color-tertiary-fixed: #d1b17d;
  --md-sys-color-tertiary-fixed-dim: #c3a471;
  --md-sys-color-on-tertiary-fixed: #000000;
  --md-sys-color-on-tertiary-fixed-variant: #000000;
  --md-sys-color-error: #ffffff;
  --md-sys-color-error-dim: #fffeff;
  --md-sys-color-on-error: #000000;
  --md-sys-color-error-container: #93000a;
  --md-sys-color-on-error-container: #ffffff;
}

