.light {
  --md-sys-color-primary-palette-key-color: #ad625f;
  --md-sys-color-secondary-palette-key-color: #916e6c;
  --md-sys-color-tertiary-palette-key-color: #8e7344;
  --md-sys-color-neutral-palette-key-color: #827473;
  --md-sys-color-neutral-variant-palette-key-color: #857372;
  --md-sys-color-error-palette-key-color: #de3730;
  --md-sys-color-background: #fff8f7;
  --md-sys-color-on-background: #231919;
  --md-sys-color-surface: #fff8f7;
  --md-sys-color-surface-dim: #e8d6d5;
  --md-sys-color-surface-bright: #fff8f7;
  --md-sys-color-surface-container-lowest: #ffffff;
  --md-sys-color-surface-container-low: #fff0ef;
  --md-sys-color-surface-container: #fceae8;
  --md-sys-color-surface-container-high: #f6e4e3;
  --md-sys-color-surface-container-highest: #f0dedd;
  --md-sys-color-on-surface: #231919;
  --md-sys-color-surface-variant: #f4dddc;
  --md-sys-color-on-surface-variant: #534342;
  --md-sys-color-inverse-surface: #382e2d;
  --md-sys-color-inverse-on-surface: #ffedeb;
  --md-sys-color-outline: #857372;
  --md-sys-color-outline-variant: #d7c1c0;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #904a48;
  --md-sys-color-primary: #904a48;
  --md-sys-color-primary-dim: #9b5351;
  --md-sys-color-on-primary: #ffffff;
  --md-sys-color-primary-container: #733332;
  --md-sys-color-on-primary-container: #f59e9a;
  --md-sys-color-inverse-primary: #ffb3af;
  --md-sys-color-primary-fixed: #ffdad8;
  --md-sys-color-primary-fixed-dim: #ffb3af;
  --md-sys-color-on-primary-fixed: #3b080a;
  --md-sys-color-on-primary-fixed-variant: #733332;
  --md-sys-color-secondary: #775654;
  --md-sys-color-secondary-dim: #81605e;
  --md-sys-color-on-secondary: #ffffff;
  --md-sys-color-secondary-container: #5d3f3e;
  --md-sys-color-on-secondary-container: #d4aba9;
  --md-sys-color-secondary-fixed: #ffdad8;
  --md-sys-color-secondary-fixed-dim: #e7bdba;
  --md-sys-color-on-secondary-fixed: #2c1514;
  --md-sys-color-on-secondary-fixed-variant: #5d3f3e;
  --md-sys-color-tertiary: #735a2e;
  --md-sys-color-tertiary-dim: #7e6437;
  --md-sys-color-on-tertiary: #ffffff;
  --md-sys-color-tertiary-container: #594319;
  --md-sys-color-on-tertiary-container: #d0b17d;
  --md-sys-color-tertiary-fixed: #ffdea9;
  --md-sys-color-tertiary-fixed-dim: #e3c28c;
  --md-sys-color-on-tertiary-fixed: #271900;
  --md-sys-color-on-tertiary-fixed-variant: #594319;
  --md-sys-color-error: #ba1a1a;
  --md-sys-color-error-dim: #ac0c12;
  --md-sys-color-on-error: #ffffff;
  --md-sys-color-error-container: #93000a;
  --md-sys-color-on-error-container: #ff9a8e;
}

.light-medium-contrast {
  --md-sys-color-primary-palette-key-color: #ad625f;
  --md-sys-color-secondary-palette-key-color: #916e6c;
  --md-sys-color-tertiary-palette-key-color: #8e7344;
  --md-sys-color-neutral-palette-key-color: #827473;
  --md-sys-color-neutral-variant-palette-key-color: #857372;
  --md-sys-color-error-palette-key-color: #de3730;
  --md-sys-color-background: #fff8f7;
  --md-sys-color-on-background: #231919;
  --md-sys-color-surface: #fff8f7;
  --md-sys-color-surface-dim: #d4c3c1;
  --md-sys-color-surface-bright: #fff8f7;
  --md-sys-color-surface-container-lowest: #ffffff;
  --md-sys-color-surface-container-low: #fff0ef;
  --md-sys-color-surface-container: #f6e4e3;
  --md-sys-color-surface-container-high: #ebd9d7;
  --md-sys-color-surface-container-highest: #dfcecc;
  --md-sys-color-on-surface: #170f0f;
  --md-sys-color-surface-variant: #f4dddc;
  --md-sys-color-on-surface-variant: #413332;
  --md-sys-color-inverse-surface: #382e2d;
  --md-sys-color-inverse-on-surface: #ffedeb;
  --md-sys-color-outline: #5f4f4e;
  --md-sys-color-outline-variant: #7b6968;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #904a48;
  --md-sys-color-primary: #5e2323;
  --md-sys-color-primary-dim: #703130;
  --md-sys-color-on-primary: #ffffff;
  --md-sys-color-primary-container: #420e0f;
  --md-sys-color-on-primary-container: #eb9591;
  --md-sys-color-inverse-primary: #ffb3af;
  --md-sys-color-primary-fixed: #a15856;
  --md-sys-color-primary-fixed-dim: #84413f;
  --md-sys-color-on-primary-fixed: #ffffff;
  --md-sys-color-on-primary-fixed-variant: #ffffff;
  --md-sys-color-secondary: #4b2f2e;
  --md-sys-color-secondary-dim: #5b3d3b;
  --md-sys-color-on-secondary: #ffffff;
  --md-sys-color-secondary-container: #321a19;
  --md-sys-color-on-secondary-container: #caa2a0;
  --md-sys-color-secondary-fixed: #876563;
  --md-sys-color-secondary-fixed-dim: #6c4d4b;
  --md-sys-color-on-secondary-fixed: #ffffff;
  --md-sys-color-on-secondary-fixed-variant: #ffffff;
  --md-sys-color-tertiary: #47330a;
  --md-sys-color-tertiary-dim: #574117;
  --md-sys-color-on-tertiary: #ffffff;
  --md-sys-color-tertiary-container: #2e1e00;
  --md-sys-color-on-tertiary-container: #c6a774;
  --md-sys-color-tertiary-fixed: #83693b;
  --md-sys-color-tertiary-fixed-dim: #695126;
  --md-sys-color-on-tertiary-fixed: #ffffff;
  --md-sys-color-on-tertiary-fixed-variant: #ffffff;
  --md-sys-color-error: #740006;
  --md-sys-color-error-dim: #8f0009;
  --md-sys-color-on-error: #ffffff;
  --md-sys-color-error-container: #4b0002;
  --md-sys-color-on-error-container: #ff8b7e;
}

.light-high-contrast {
  --md-sys-color-primary-palette-key-color: #ad625f;
  --md-sys-color-secondary-palette-key-color: #916e6c;
  --md-sys-color-tertiary-palette-key-color: #8e7344;
  --md-sys-color-neutral-palette-key-color: #827473;
  --md-sys-color-neutral-variant-palette-key-color: #857372;
  --md-sys-color-error-palette-key-color: #de3730;
  --md-sys-color-background: #fff8f7;
  --md-sys-color-on-background: #231919;
  --md-sys-color-surface: #fff8f7;
  --md-sys-color-surface-dim: #c6b5b4;
  --md-sys-color-surface-bright: #fff8f7;
  --md-sys-color-surface-container-lowest: #ffffff;
  --md-sys-color-surface-container-low: #ffedeb;
  --md-sys-color-surface-container: #f0dedd;
  --md-sys-color-surface-container-high: #e2d0cf;
  --md-sys-color-surface-container-highest: #d4c3c1;
  --md-sys-color-on-surface: #000000;
  --md-sys-color-surface-variant: #f4dddc;
  --md-sys-color-on-surface-variant: #000000;
  --md-sys-color-inverse-surface: #382e2d;
  --md-sys-color-inverse-on-surface: #ffffff;
  --md-sys-color-outline: #362928;
  --md-sys-color-outline-variant: #554544;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #904a48;
  --md-sys-color-primary: #511919;
  --md-sys-color-primary-dim: #400c0e;
  --md-sys-color-on-primary: #ffffff;
  --md-sys-color-primary-container: #350507;
  --md-sys-color-on-primary-container: #ffbcb8;
  --md-sys-color-inverse-primary: #ffb3af;
  --md-sys-color-primary-fixed: #763534;
  --md-sys-color-primary-fixed-dim: #59201f;
  --md-sys-color-on-primary-fixed: #ffffff;
  --md-sys-color-on-primary-fixed-variant: #ffffff;
  --md-sys-color-secondary: #3f2524;
  --md-sys-color-secondary-dim: #311918;
  --md-sys-color-on-secondary: #ffffff;
  --md-sys-color-secondary-container: #281110;
  --md-sys-color-on-secondary-container: #edc2c0;
  --md-sys-color-secondary-fixed: #604140;
  --md-sys-color-secondary-fixed-dim: #472b2a;
  --md-sys-color-on-secondary-fixed: #ffffff;
  --md-sys-color-on-secondary-fixed-variant: #ffffff;
  --md-sys-color-tertiary: #3c2902;
  --md-sys-color-tertiary-dim: #2c1d00;
  --md-sys-color-on-tertiary: #ffffff;
  --md-sys-color-tertiary-container: #221500;
  --md-sys-color-on-tertiary-container: #e9c892;
  --md-sys-color-tertiary-fixed: #5c451b;
  --md-sys-color-tertiary-fixed-dim: #432f06;
  --md-sys-color-on-tertiary-fixed: #ffffff;
  --md-sys-color-on-tertiary-fixed-variant: #ffffff;
  --md-sys-color-error: #600004;
  --md-sys-color-error-dim: #480002;
  --md-sys-color-on-error: #ffffff;
  --md-sys-color-error-container: #390001;
  --md-sys-color-on-error-container: #ffbcb4;
}

.dark {
  --md-sys-color-primary-palette-key-color: #ad625f;
  --md-sys-color-secondary-palette-key-color: #916e6c;
  --md-sys-color-tertiary-palette-key-color: #8e7344;
  --md-sys-color-neutral-palette-key-color: #827473;
  --md-sys-color-neutral-variant-palette-key-color: #857372;
  --md-sys-color-error-palette-key-color: #de3730;
  --md-sys-color-background: #1a1111;
  --md-sys-color-on-background: #f0dedd;
  --md-sys-color-surface: #1a1111;
  --md-sys-color-surface-dim: #1a1111;
  --md-sys-color-surface-bright: #423736;
  --md-sys-color-surface-container-lowest: #140c0c;
  --md-sys-color-surface-container-low: #231919;
  --md-sys-color-surface-container: #271d1d;
  --md-sys-color-surface-container-high: #322827;
  --md-sys-color-surface-container-highest: #3d3231;
  --md-sys-color-on-surface: #f0dedd;
  --md-sys-color-surface-variant: #534342;
  --md-sys-color-on-surface-variant: #d7c1c0;
  --md-sys-color-inverse-surface: #f0dedd;
  --md-sys-color-inverse-on-surface: #382e2d;
  --md-sys-color-outline: #a08c8b;
  --md-sys-color-outline-variant: #534342;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #ffb3af;
  --md-sys-color-primary: #ffb3af;
  --md-sys-color-primary-dim: #ffc7c4;
  --md-sys-color-on-primary: #571d1d;
  --md-sys-color-primary-container: #ffdad8;
  --md-sys-color-on-primary-container: #97504d;
  --md-sys-color-inverse-primary: #904a48;
  --md-sys-color-primary-fixed: #ffdad8;
  --md-sys-color-primary-fixed-dim: #ffb3af;
  --md-sys-color-on-primary-fixed: #3b080a;
  --md-sys-color-on-primary-fixed-variant: #733332;
  --md-sys-color-secondary: #e7bdba;
  --md-sys-color-secondary-dim: #f5cac8;
  --md-sys-color-on-secondary: #442928;
  --md-sys-color-secondary-container: #ffdad8;
  --md-sys-color-on-secondary-container: #7d5c5a;
  --md-sys-color-secondary-fixed: #ffdad8;
  --md-sys-color-secondary-fixed-dim: #e7bdba;
  --md-sys-color-on-secondary-fixed: #2c1514;
  --md-sys-color-on-secondary-fixed-variant: #5d3f3e;
  --md-sys-color-tertiary: #e3c28c;
  --md-sys-color-tertiary-dim: #fddba3;
  --md-sys-color-on-tertiary: #412d05;
  --md-sys-color-tertiary-container: #ffdea9;
  --md-sys-color-on-tertiary-container: #7a6034;
  --md-sys-color-tertiary-fixed: #ffdea9;
  --md-sys-color-tertiary-fixed-dim: #e3c28c;
  --md-sys-color-on-tertiary-fixed: #271900;
  --md-sys-color-on-tertiary-fixed-variant: #594319;
  --md-sys-color-error: #ffb4ab;
  --md-sys-color-error-dim: #ffc7c0;
  --md-sys-color-on-error: #690005;
  --md-sys-color-error-container: #ffdad6;
  --md-sys-color-on-error-container: #c32220;
}

.dark-medium-contrast {
  --md-sys-color-primary-palette-key-color: #ad625f;
  --md-sys-color-secondary-palette-key-color: #916e6c;
  --md-sys-color-tertiary-palette-key-color: #8e7344;
  --md-sys-color-neutral-palette-key-color: #827473;
  --md-sys-color-neutral-variant-palette-key-color: #857372;
  --md-sys-color-error-palette-key-color: #de3730;
  --md-sys-color-background: #1a1111;
  --md-sys-color-on-background: #f0dedd;
  --md-sys-color-surface: #1a1111;
  --md-sys-color-surface-dim: #1a1111;
  --md-sys-color-surface-bright: #4d4241;
  --md-sys-color-surface-container-lowest: #0d0606;
  --md-sys-color-surface-container-low: #251b1b;
  --md-sys-color-surface-container: #302525;
  --md-sys-color-surface-container-high: #3b302f;
  --md-sys-color-surface-container-highest: #463b3a;
  --md-sys-color-on-surface: #ffffff;
  --md-sys-color-surface-variant: #534342;
  --md-sys-color-on-surface-variant: #eed7d5;
  --md-sys-color-inverse-surface: #f0dedd;
  --md-sys-color-inverse-on-surface: #322827;
  --md-sys-color-outline: #c2adac;
  --md-sys-color-outline-variant: #9f8c8a;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #ffb3af;
  --md-sys-color-primary: #ffd2cf;
  --md-sys-color-primary-dim: #ffc7c4;
  --md-sys-color-on-primary: #481313;
  --md-sys-color-primary-container: #fff7f6;
  --md-sys-color-on-primary-container: #84413f;
  --md-sys-color-inverse-primary: #743433;
  --md-sys-color-primary-fixed: #ffdad8;
  --md-sys-color-primary-fixed-dim: #ffb3af;
  --md-sys-color-on-primary-fixed: #2c0103;
  --md-sys-color-on-primary-fixed-variant: #5e2323;
  --md-sys-color-secondary: #fed2cf;
  --md-sys-color-secondary-dim: #f5cac8;
  --md-sys-color-on-secondary: #381f1e;
  --md-sys-color-secondary-container: #fff7f6;
  --md-sys-color-on-secondary-container: #6c4d4b;
  --md-sys-color-secondary-fixed: #ffdad8;
  --md-sys-color-secondary-fixed-dim: #e7bdba;
  --md-sys-color-on-secondary-fixed: #200b0a;
  --md-sys-color-on-secondary-fixed-variant: #4b2f2e;
  --md-sys-color-tertiary: #fad8a0;
  --md-sys-color-tertiary-dim: #fddba3;
  --md-sys-color-on-tertiary: #342200;
  --md-sys-color-tertiary-container: #fff8f1;
  --md-sys-color-on-tertiary-container: #695126;
  --md-sys-color-tertiary-fixed: #ffdea9;
  --md-sys-color-tertiary-fixed-dim: #e3c28c;
  --md-sys-color-on-tertiary-fixed: #1a0f00;
  --md-sys-color-on-tertiary-fixed-variant: #47330a;
  --md-sys-color-error: #ffd2cc;
  --md-sys-color-error-dim: #ffc7c0;
  --md-sys-color-on-error: #540003;
  --md-sys-color-error-container: #fff7f6;
  --md-sys-color-on-error-container: #ab0b12;
}

.dark-high-contrast {
  --md-sys-color-primary-palette-key-color: #ad625f;
  --md-sys-color-secondary-palette-key-color: #916e6c;
  --md-sys-color-tertiary-palette-key-color: #8e7344;
  --md-sys-color-neutral-palette-key-color: #827473;
  --md-sys-color-neutral-variant-palette-key-color: #857372;
  --md-sys-color-error-palette-key-color: #de3730;
  --md-sys-color-background: #1a1111;
  --md-sys-color-on-background: #f0dedd;
  --md-sys-color-surface: #1a1111;
  --md-sys-color-surface-dim: #1a1111;
  --md-sys-color-surface-bright: #594d4c;
  --md-sys-color-surface-container-lowest: #000000;
  --md-sys-color-surface-container-low: #271d1d;
  --md-sys-color-surface-container: #382e2d;
  --md-sys-color-surface-container-high: #443938;
  --md-sys-color-surface-container-highest: #504443;
  --md-sys-color-on-surface: #ffffff;
  --md-sys-color-surface-variant: #534342;
  --md-sys-color-on-surface-variant: #ffffff;
  --md-sys-color-inverse-surface: #f0dedd;
  --md-sys-color-inverse-on-surface: #000000;
  --md-sys-color-outline: #ffecea;
  --md-sys-color-outline-variant: #d3bebc;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #ffb3af;
  --md-sys-color-primary: #ffdad8;
  --md-sys-color-primary-dim: #fffeff;
  --md-sys-color-on-primary: #000000;
  --md-sys-color-primary-container: #ffffff;
  --md-sys-color-on-primary-container: #652827;
  --md-sys-color-inverse-primary: #743433;
  --md-sys-color-primary-fixed: #ffdad8;
  --md-sys-color-primary-fixed-dim: #ffb3af;
  --md-sys-color-on-primary-fixed: #000000;
  --md-sys-color-on-primary-fixed-variant: #2c0103;
  --md-sys-color-secondary: #ffdad8;
  --md-sys-color-secondary-dim: #fffeff;
  --md-sys-color-on-secondary: #000000;
  --md-sys-color-secondary-container: #ffffff;
  --md-sys-color-on-secondary-container: #503433;
  --md-sys-color-secondary-fixed: #ffdad8;
  --md-sys-color-secondary-fixed-dim: #e7bdba;
  --md-sys-color-on-secondary-fixed: #000000;
  --md-sys-color-on-secondary-fixed-variant: #200b0a;
  --md-sys-color-tertiary: #ffdea9;
  --md-sys-color-tertiary-dim: #fffeff;
  --md-sys-color-on-tertiary: #000000;
  --md-sys-color-tertiary-container: #ffffff;
  --md-sys-color-on-tertiary-container: #4d380f;
  --md-sys-color-tertiary-fixed: #ffdea9;
  --md-sys-color-tertiary-fixed-dim: #e3c28c;
  --md-sys-color-on-tertiary-fixed: #000000;
  --md-sys-color-on-tertiary-fixed-variant: #1a0f00;
  --md-sys-color-error: #ffdad6;
  --md-sys-color-error-dim: #fffeff;
  --md-sys-color-on-error: #000000;
  --md-sys-color-error-container: #ffffff;
  --md-sys-color-on-error-container: #7e0007;
}

