.light {
  --md-sys-color-primary-palette-key-color: #a86461;
  --md-sys-color-secondary-palette-key-color: #916e6c;
  --md-sys-color-tertiary-palette-key-color: #986f3e;
  --md-sys-color-neutral-palette-key-color: #807473;
  --md-sys-color-neutral-variant-palette-key-color: #867372;
  --md-sys-color-error-palette-key-color: #c75236;
  --md-sys-color-background: #fff8f7;
  --md-sys-color-on-background: #3e2f2e;
  --md-sys-color-surface: #fff8f7;
  --md-sys-color-surface-dim: #edd5d3;
  --md-sys-color-surface-bright: #fff8f7;
  --md-sys-color-surface-container-lowest: #ffffff;
  --md-sys-color-surface-container-low: #fff0ef;
  --md-sys-color-surface-container: #fee9e8;
  --md-sys-color-surface-container-high: #f9e3e2;
  --md-sys-color-surface-container-highest: #f5dddb;
  --md-sys-color-on-surface: #3e2f2e;
  --md-sys-color-surface-variant: #f5dddb;
  --md-sys-color-on-surface-variant: #6d5b5a;
  --md-sys-color-inverse-surface: #130c0c;
  --md-sys-color-inverse-on-surface: #a79a99;
  --md-sys-color-outline: #8a7675;
  --md-sys-color-outline-variant: #c3adab;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #8c4d4b;
  --md-sys-color-primary: #8c4d4b;
  --md-sys-color-primary-dim: #7e4240;
  --md-sys-color-on-primary: #fff7f6;
  --md-sys-color-primary-container: #f3a4a1;
  --md-sys-color-on-primary-container: #5b2625;
  --md-sys-color-inverse-primary: #f3a4a1;
  --md-sys-color-primary-fixed: #f3a4a1;
  --md-sys-color-primary-fixed-dim: #e49794;
  --md-sys-color-on-primary-fixed: #3f1011;
  --md-sys-color-on-primary-fixed-variant: #662f2d;
  --md-sys-color-secondary: #785755;
  --md-sys-color-secondary-dim: #6b4b4a;
  --md-sys-color-on-secondary: #fff7f6;
  --md-sys-color-secondary-container: #ffdad8;
  --md-sys-color-on-secondary-container: #694a48;
  --md-sys-color-secondary-fixed: #ffdad8;
  --md-sys-color-secondary-fixed-dim: #f5cac8;
  --md-sys-color-on-secondary-fixed: #553836;
  --md-sys-color-on-secondary-fixed-variant: #745352;
  --md-sys-color-tertiary: #7d5729;
  --md-sys-color-tertiary-dim: #704c1e;
  --md-sys-color-on-tertiary: #fff7f3;
  --md-sys-color-tertiary-container: #ffcb92;
  --md-sys-color-on-tertiary-container: #644215;
  --md-sys-color-tertiary-fixed: #ffcb92;
  --md-sys-color-tertiary-fixed-dim: #efbd86;
  --md-sys-color-on-tertiary-fixed: #4e2f04;
  --md-sys-color-on-tertiary-fixed-variant: #6f4b1e;
  --md-sys-color-error: #a73b21;
  --md-sys-color-error-dim: #791903;
  --md-sys-color-on-error: #fff7f6;
  --md-sys-color-error-container: #fd795a;
  --md-sys-color-on-error-container: #6e1400;
  --md-sys-color-control-activated: #f3a4a1;
  --md-sys-color-control-normal: #6d5b5a;
  --md-sys-color-control-highlight: #0000001f;
  --md-sys-color-text-primary-inverse: #a79a99;
  --md-sys-color-text-secondary-and-tertiary-inverse: #d8c1c0;
  --md-sys-color-text-primary-inverse-disable-only: #efdfde;
  --md-sys-color-text-secondary-and-tertiary-inverse-disabled: #efdfde;
  --md-sys-color-text-hint-inverse: #efdfde;
}

.light-medium-contrast {
  --md-sys-color-primary-palette-key-color: #a86461;
  --md-sys-color-secondary-palette-key-color: #916e6c;
  --md-sys-color-tertiary-palette-key-color: #986f3e;
  --md-sys-color-neutral-palette-key-color: #807473;
  --md-sys-color-neutral-variant-palette-key-color: #867372;
  --md-sys-color-error-palette-key-color: #c75236;
  --md-sys-color-background: #fff8f7;
  --md-sys-color-on-background: #2e2120;
  --md-sys-color-surface: #fff8f7;
  --md-sys-color-surface-dim: #edd5d3;
  --md-sys-color-surface-bright: #fff8f7;
  --md-sys-color-surface-container-lowest: #ffffff;
  --md-sys-color-surface-container-low: #fff0ef;
  --md-sys-color-surface-container: #fee9e8;
  --md-sys-color-surface-container-high: #f9e3e2;
  --md-sys-color-surface-container-highest: #f5dddb;
  --md-sys-color-on-surface: #2e2120;
  --md-sys-color-surface-variant: #f5dddb;
  --md-sys-color-on-surface-variant: #4f3f3e;
  --md-sys-color-inverse-surface: #130c0c;
  --md-sys-color-inverse-on-surface: #d0c1c0;
  --md-sys-color-outline: #6d5b5a;
  --md-sys-color-outline-variant: #8a7675;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #6a3231;
  --md-sys-color-primary: #6a3231;
  --md-sys-color-primary-dim: #5c2726;
  --md-sys-color-on-primary: #ffcecb;
  --md-sys-color-primary-container: #a5625f;
  --md-sys-color-on-primary-container: #ffffff;
  --md-sys-color-inverse-primary: #f3a4a1;
  --md-sys-color-primary-fixed: #a5625f;
  --md-sys-color-primary-fixed-dim: #975654;
  --md-sys-color-on-primary-fixed: #ffffff;
  --md-sys-color-on-primary-fixed-variant: #ffffff;
  --md-sys-color-secondary: #593b3a;
  --md-sys-color-secondary-dim: #4c302f;
  --md-sys-color-on-secondary: #fbcfcd;
  --md-sys-color-secondary-container: #8f6c6a;
  --md-sys-color-on-secondary-container: #ffffff;
  --md-sys-color-secondary-fixed: #8f6c6a;
  --md-sys-color-secondary-fixed-dim: #81605e;
  --md-sys-color-on-secondary-fixed: #ffffff;
  --md-sys-color-on-secondary-fixed-variant: #ffffff;
  --md-sys-color-tertiary: #5d3c0f;
  --md-sys-color-tertiary-dim: #503105;
  --md-sys-color-on-tertiary: #ffd2a1;
  --md-sys-color-tertiary-container: #956d3c;
  --md-sys-color-on-tertiary-container: #ffffff;
  --md-sys-color-tertiary-fixed: #956d3c;
  --md-sys-color-tertiary-fixed-dim: #876031;
  --md-sys-color-on-tertiary-fixed: #ffffff;
  --md-sys-color-on-tertiary-fixed-variant: #ffffff;
  --md-sys-color-error: #801f07;
  --md-sys-color-error-dim: #6f1400;
  --md-sys-color-on-error: #ffcfc4;
  --md-sys-color-error-container: #c44f34;
  --md-sys-color-on-error-container: #ffffff;
  --md-sys-color-control-activated: #a5625f;
  --md-sys-color-control-normal: #4f3f3e;
  --md-sys-color-control-highlight: #0000001f;
  --md-sys-color-text-primary-inverse: #d0c1c0;
  --md-sys-color-text-secondary-and-tertiary-inverse: #d8c1c0;
  --md-sys-color-text-primary-inverse-disable-only: #efdfde;
  --md-sys-color-text-secondary-and-tertiary-inverse-disabled: #efdfde;
  --md-sys-color-text-hint-inverse: #efdfde;
}

.light-high-contrast {
  --md-sys-color-primary-palette-key-color: #a86461;
  --md-sys-color-secondary-palette-key-color: #916e6c;
  --md-sys-color-tertiary-palette-key-color: #986f3e;
  --md-sys-color-neutral-palette-key-color: #807473;
  --md-sys-color-neutral-variant-palette-key-color: #867372;
  --md-sys-color-error-palette-key-color: #c75236;
  --md-sys-color-background: #fff8f7;
  --md-sys-color-on-background: #000000;
  --md-sys-color-surface: #fff8f7;
  --md-sys-color-surface-dim: #edd5d3;
  --md-sys-color-surface-bright: #fff8f7;
  --md-sys-color-surface-container-lowest: #ffffff;
  --md-sys-color-surface-container-low: #fff0ef;
  --md-sys-color-surface-container: #fee9e8;
  --md-sys-color-surface-container-high: #f9e3e2;
  --md-sys-color-surface-container-highest: #f5dddb;
  --md-sys-color-on-surface: #000000;
  --md-sys-color-surface-variant: #f5dddb;
  --md-sys-color-on-surface-variant: #2e2120;
  --md-sys-color-inverse-surface: #130c0c;
  --md-sys-color-inverse-on-surface: #ffffff;
  --md-sys-color-outline: #4f3f3e;
  --md-sys-color-outline-variant: #6d5b5a;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #431414;
  --md-sys-color-primary: #431414;
  --md-sys-color-primary-dim: #360a0b;
  --md-sys-color-on-primary: #ffcfcc;
  --md-sys-color-primary-container: #8c4d4b;
  --md-sys-color-on-primary-container: #ffffff;
  --md-sys-color-inverse-primary: #ffb1ad;
  --md-sys-color-primary-fixed: #8c4d4b;
  --md-sys-color-primary-fixed-dim: #7e4240;
  --md-sys-color-on-primary-fixed: #ffffff;
  --md-sys-color-on-primary-fixed-variant: #ffffff;
  --md-sys-color-secondary: #361d1c;
  --md-sys-color-secondary-dim: #2a1312;
  --md-sys-color-on-secondary: #fbd0cd;
  --md-sys-color-secondary-container: #785755;
  --md-sys-color-on-secondary-container: #ffffff;
  --md-sys-color-secondary-fixed: #785755;
  --md-sys-color-secondary-fixed-dim: #6b4b4a;
  --md-sys-color-on-secondary-fixed: #ffffff;
  --md-sys-color-on-secondary-fixed-variant: #ffffff;
  --md-sys-color-tertiary: #361e00;
  --md-sys-color-tertiary-dim: #281500;
  --md-sys-color-on-tertiary: #ffd2a2;
  --md-sys-color-tertiary-container: #7d5729;
  --md-sys-color-on-tertiary-container: #ffffff;
  --md-sys-color-tertiary-fixed: #7d5729;
  --md-sys-color-tertiary-fixed-dim: #704c1e;
  --md-sys-color-on-tertiary-fixed: #ffffff;
  --md-sys-color-on-tertiary-fixed-variant: #ffffff;
  --md-sys-color-error: #4c0a00;
  --md-sys-color-error-dim: #390600;
  --md-sys-color-on-error: #ffcfc4;
  --md-sys-color-error-container: #a73b21;
  --md-sys-color-on-error-container: #ffffff;
  --md-sys-color-control-activated: #8c4d4b;
  --md-sys-color-control-normal: #2e2120;
  --md-sys-color-control-highlight: #0000001f;
  --md-sys-color-text-primary-inverse: #ffffff;
  --md-sys-color-text-secondary-and-tertiary-inverse: #d8c1c0;
  --md-sys-color-text-primary-inverse-disable-only: #efdfde;
  --md-sys-color-text-secondary-and-tertiary-inverse-disabled: #efdfde;
  --md-sys-color-text-hint-inverse: #efdfde;
}

.dark {
  --md-sys-color-primary-palette-key-color: #a06866;
  --md-sys-color-secondary-palette-key-color: #916e6c;
  --md-sys-color-tertiary-palette-key-color: #986f3e;
  --md-sys-color-neutral-palette-key-color: #807473;
  --md-sys-color-neutral-variant-palette-key-color: #867372;
  --md-sys-color-error-palette-key-color: #c75236;
  --md-sys-color-background: #130c0c;
  --md-sys-color-on-background: #f8e0de;
  --md-sys-color-surface: #130c0c;
  --md-sys-color-surface-dim: #130c0c;
  --md-sys-color-surface-bright: #332a29;
  --md-sys-color-surface-container-lowest: #000000;
  --md-sys-color-surface-container-low: #1a1111;
  --md-sys-color-surface-container: #211716;
  --md-sys-color-surface-container-high: #281d1c;
  --md-sys-color-surface-container-highest: #302222;
  --md-sys-color-on-surface: #f8e0de;
  --md-sys-color-surface-variant: #302222;
  --md-sys-color-on-surface-variant: #bca6a5;
  --md-sys-color-inverse-surface: #fff8f7;
  --md-sys-color-inverse-on-surface: #5d5352;
  --md-sys-color-outline: #847170;
  --md-sys-color-outline-variant: #544443;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #f8b6b2;
  --md-sys-color-primary: #f8b6b2;
  --md-sys-color-primary-dim: #e9a8a5;
  --md-sys-color-on-primary: #613332;
  --md-sys-color-primary-container: #764543;
  --md-sys-color-on-primary-container: #ffdbd9;
  --md-sys-color-inverse-primary: #85514f;
  --md-sys-color-primary-fixed: #ffbbb8;
  --md-sys-color-primary-fixed-dim: #efaeaa;
  --md-sys-color-on-primary-fixed: #4e2423;
  --md-sys-color-on-primary-fixed-variant: #703f3e;
  --md-sys-color-secondary: #e7bdba;
  --md-sys-color-secondary-dim: #d8afad;
  --md-sys-color-on-secondary: #563937;
  --md-sys-color-secondary-container: #503433;
  --md-sys-color-on-secondary-container: #dfb5b3;
  --md-sys-color-secondary-fixed: #ffdad8;
  --md-sys-color-secondary-fixed-dim: #f5cac8;
  --md-sys-color-on-secondary-fixed: #553836;
  --md-sys-color-on-secondary-fixed-variant: #745352;
  --md-sys-color-tertiary: #ffddba;
  --md-sys-color-tertiary-dim: #ffcb92;
  --md-sys-color-on-tertiary: #6e4a1d;
  --md-sys-color-tertiary-container: #ffcb92;
  --md-sys-color-on-tertiary-container: #644215;
  --md-sys-color-tertiary-fixed: #ffcb92;
  --md-sys-color-tertiary-fixed-dim: #efbd86;
  --md-sys-color-on-tertiary-fixed: #4e2f04;
  --md-sys-color-on-tertiary-fixed-variant: #6f4b1e;
  --md-sys-color-error: #fd795a;
  --md-sys-color-error-dim: #c44f34;
  --md-sys-color-on-error: #4a0a00;
  --md-sys-color-error-container: #85230a;
  --md-sys-color-on-error-container: #ff9b82;
  --md-sys-color-control-activated: #764543;
  --md-sys-color-control-normal: #bca6a5;
  --md-sys-color-control-highlight: #ffffff33;
  --md-sys-color-text-primary-inverse: #5d5352;
  --md-sys-color-text-secondary-and-tertiary-inverse: #534342;
  --md-sys-color-text-primary-inverse-disable-only: #211a19;
  --md-sys-color-text-secondary-and-tertiary-inverse-disabled: #211a19;
  --md-sys-color-text-hint-inverse: #211a19;
}

.dark-medium-contrast {
  --md-sys-color-primary-palette-key-color: #a06866;
  --md-sys-color-secondary-palette-key-color: #916e6c;
  --md-sys-color-tertiary-palette-key-color: #986f3e;
  --md-sys-color-neutral-palette-key-color: #807473;
  --md-sys-color-neutral-variant-palette-key-color: #867372;
  --md-sys-color-error-palette-key-color: #c75236;
  --md-sys-color-background: #130c0c;
  --md-sys-color-on-background: #ffffff;
  --md-sys-color-surface: #130c0c;
  --md-sys-color-surface-dim: #130c0c;
  --md-sys-color-surface-bright: #332a29;
  --md-sys-color-surface-container-lowest: #000000;
  --md-sys-color-surface-container-low: #1a1111;
  --md-sys-color-surface-container: #211716;
  --md-sys-color-surface-container-high: #281d1c;
  --md-sys-color-surface-container-highest: #302222;
  --md-sys-color-on-surface: #ffffff;
  --md-sys-color-surface-variant: #302222;
  --md-sys-color-on-surface-variant: #cab4b2;
  --md-sys-color-inverse-surface: #fff8f7;
  --md-sys-color-inverse-on-surface: #3f3635;
  --md-sys-color-outline: #a38f8d;
  --md-sys-color-outline-variant: #847170;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #f8b6b2;
  --md-sys-color-primary: #f8b6b2;
  --md-sys-color-primary-dim: #e9a8a5;
  --md-sys-color-on-primary: #552928;
  --md-sys-color-primary-container: #9d6663;
  --md-sys-color-on-primary-container: #ffffff;
  --md-sys-color-inverse-primary: #794745;
  --md-sys-color-primary-fixed: #ffbbb8;
  --md-sys-color-primary-fixed-dim: #efaeaa;
  --md-sys-color-on-primary-fixed: #0e0000;
  --md-sys-color-on-primary-fixed-variant: #4e2423;
  --md-sys-color-secondary: #e7bdba;
  --md-sys-color-secondary-dim: #d8afad;
  --md-sys-color-on-secondary: #4b2f2e;
  --md-sys-color-secondary-container: #8f6c6a;
  --md-sys-color-on-secondary-container: #ffffff;
  --md-sys-color-secondary-fixed: #ffdad8;
  --md-sys-color-secondary-fixed-dim: #f5cac8;
  --md-sys-color-on-secondary-fixed: #311918;
  --md-sys-color-on-secondary-fixed-variant: #553836;
  --md-sys-color-tertiary: #ffddba;
  --md-sys-color-tertiary-dim: #ffcb92;
  --md-sys-color-on-tertiary: #634114;
  --md-sys-color-tertiary-container: #ffcb92;
  --md-sys-color-on-tertiary-container: #59380c;
  --md-sys-color-tertiary-fixed: #ffcb92;
  --md-sys-color-tertiary-fixed-dim: #efbd86;
  --md-sys-color-on-tertiary-fixed: #1d0e00;
  --md-sys-color-on-tertiary-fixed-variant: #4e2f04;
  --md-sys-color-error: #ffa089;
  --md-sys-color-error-dim: #ff8a6d;
  --md-sys-color-on-error: #5a0e00;
  --md-sys-color-error-container: #c44f34;
  --md-sys-color-on-error-container: #ffffff;
  --md-sys-color-control-activated: #9d6663;
  --md-sys-color-control-normal: #cab4b2;
  --md-sys-color-control-highlight: #ffffff33;
  --md-sys-color-text-primary-inverse: #3f3635;
  --md-sys-color-text-secondary-and-tertiary-inverse: #534342;
  --md-sys-color-text-primary-inverse-disable-only: #211a19;
  --md-sys-color-text-secondary-and-tertiary-inverse-disabled: #211a19;
  --md-sys-color-text-hint-inverse: #211a19;
}

.dark-high-contrast {
  --md-sys-color-primary-palette-key-color: #a06866;
  --md-sys-color-secondary-palette-key-color: #916e6c;
  --md-sys-color-tertiary-palette-key-color: #986f3e;
  --md-sys-color-neutral-palette-key-color: #807473;
  --md-sys-color-neutral-variant-palette-key-color: #867372;
  --md-sys-color-error-palette-key-color: #c75236;
  --md-sys-color-background: #130c0c;
  --md-sys-color-on-background: #ffffff;
  --md-sys-color-surface: #130c0c;
  --md-sys-color-surface-dim: #130c0c;
  --md-sys-color-surface-bright: #332a29;
  --md-sys-color-surface-container-lowest: #000000;
  --md-sys-color-surface-container-low: #1a1111;
  --md-sys-color-surface-container: #211716;
  --md-sys-color-surface-container-high: #281d1c;
  --md-sys-color-surface-container-highest: #302222;
  --md-sys-color-on-surface: #ffffff;
  --md-sys-color-surface-variant: #302222;
  --md-sys-color-on-surface-variant: #f8e0de;
  --md-sys-color-inverse-surface: #fff8f7;
  --md-sys-color-inverse-on-surface: #000000;
  --md-sys-color-outline: #cab4b2;
  --md-sys-color-outline-variant: #a38f8d;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #ffdedc;
  --md-sys-color-primary: #ffdedc;
  --md-sys-color-primary-dim: #ffc7c4;
  --md-sys-color-on-primary: #49201f;
  --md-sys-color-primary-container: #cc8e8b;
  --md-sys-color-on-primary-container: #000000;
  --md-sys-color-inverse-primary: #572b2a;
  --md-sys-color-primary-fixed: #ffbbb8;
  --md-sys-color-primary-fixed-dim: #efaeaa;
  --md-sys-color-on-primary-fixed: #000000;
  --md-sys-color-on-primary-fixed-variant: #0e0000;
  --md-sys-color-secondary: #ffdedc;
  --md-sys-color-secondary-dim: #f5cac8;
  --md-sys-color-on-secondary: #3f2524;
  --md-sys-color-secondary-container: #bb9592;
  --md-sys-color-on-secondary-container: #000000;
  --md-sys-color-secondary-fixed: #ffdad8;
  --md-sys-color-secondary-fixed-dim: #f5cac8;
  --md-sys-color-on-secondary-fixed: #000000;
  --md-sys-color-on-secondary-fixed-variant: #311918;
  --md-sys-color-tertiary: #ffe0c1;
  --md-sys-color-tertiary-dim: #ffcb92;
  --md-sys-color-on-tertiary: #422600;
  --md-sys-color-tertiary-container: #ffcb92;
  --md-sys-color-on-tertiary-container: #301a00;
  --md-sys-color-tertiary-fixed: #ffcb92;
  --md-sys-color-tertiary-fixed-dim: #efbd86;
  --md-sys-color-on-tertiary-fixed: #000000;
  --md-sys-color-on-tertiary-fixed-variant: #1d0e00;
  --md-sys-color-error: #ffded7;
  --md-sys-color-error-dim: #ffc8bb;
  --md-sys-color-on-error: #5a0e00;
  --md-sys-color-error-container: #f97758;
  --md-sys-color-on-error-container: #000000;
  --md-sys-color-control-activated: #cc8e8b;
  --md-sys-color-control-normal: #f8e0de;
  --md-sys-color-control-highlight: #ffffff33;
  --md-sys-color-text-primary-inverse: #000000;
  --md-sys-color-text-secondary-and-tertiary-inverse: #534342;
  --md-sys-color-text-primary-inverse-disable-only: #211a19;
  --md-sys-color-text-secondary-and-tertiary-inverse-disabled: #211a19;
  --md-sys-color-text-hint-inverse: #211a19;
}

