.light {
  --md-sys-color-primary-palette-key-color: #a86461;
  --md-sys-color-secondary-palette-key-color: #916e6c;
  --md-sys-color-tertiary-palette-key-color: #9c6e36;
  --md-sys-color-neutral-palette-key-color: #887270;
  --md-sys-color-neutral-variant-palette-key-color: #936e6c;
  --md-sys-color-error-palette-key-color: #bb5b44;
  --md-sys-color-background: #000000;
  --md-sys-color-on-background: #ffffff;
  --md-sys-color-surface: #000000;
  --md-sys-color-surface-dim: #180b0a;
  --md-sys-color-surface-bright: #402523;
  --md-sys-color-surface-container-lowest: #000000;
  --md-sys-color-surface-container-low: #322221;
  --md-sys-color-surface-container: #3d2c2b;
  --md-sys-color-surface-container-high: #493736;
  --md-sys-color-surface-container-highest: #391e1d;
  --md-sys-color-on-surface: #fffeff;
  --md-sys-color-surface-variant: #391e1d;
  --md-sys-color-on-surface-variant: #e3c8c6;
  --md-sys-color-inverse-surface: #fff8f7;
  --md-sys-color-inverse-on-surface: #64504f;
  --md-sys-color-outline: #b9a09e;
  --md-sys-color-outline-variant: #98807f;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #ffbebb;
  --md-sys-color-primary: #ffbebb;
  --md-sys-color-primary-dim: #f3a4a1;
  --md-sys-color-on-primary: #4e1c1b;
  --md-sys-color-primary-container: #6f3634;
  --md-sys-color-on-primary-container: #ffd7d4;
  --md-sys-color-inverse-primary: #804442;
  --md-sys-color-primary-fixed: #6f3634;
  --md-sys-color-primary-fixed-dim: #612b2a;
  --md-sys-color-on-primary-fixed: #ffbebb;
  --md-sys-color-on-primary-fixed-variant: #de928e;
  --md-sys-color-secondary: #f5cac8;
  --md-sys-color-secondary-dim: #e7bdba;
  --md-sys-color-on-secondary: #4b2f2e;
  --md-sys-color-secondary-container: #5d3f3e;
  --md-sys-color-on-secondary-container: #ffd7d4;
  --md-sys-color-secondary-fixed: #5d3f3e;
  --md-sys-color-secondary-fixed-dim: #503433;
  --md-sys-color-on-secondary-fixed: #efc4c1;
  --md-sys-color-on-secondary-fixed-variant: #c49c9a;
  --md-sys-color-tertiary: #fdc383;
  --md-sys-color-tertiary-dim: #edb676;
  --md-sys-color-on-tertiary: #492b00;
  --md-sys-color-tertiary-container: #cf9b5e;
  --md-sys-color-on-tertiary-container: #291600;
  --md-sys-color-tertiary-fixed: #cf9b5e;
  --md-sys-color-tertiary-fixed-dim: #c18e52;
  --md-sys-color-on-tertiary-fixed: #0a0300;
  --md-sys-color-on-tertiary-fixed-variant: #472900;
  --md-sys-color-error: #ffbfb0;
  --md-sys-color-error-dim: #f4886d;
  --md-sys-color-on-error: #3b0600;
  --md-sys-color-error-container: #7d2c19;
  --md-sys-color-on-error-container: #ffd7ce;
}

.light-medium-contrast {
  --md-sys-color-primary-palette-key-color: #a86461;
  --md-sys-color-secondary-palette-key-color: #916e6c;
  --md-sys-color-tertiary-palette-key-color: #9c6e36;
  --md-sys-color-neutral-palette-key-color: #887270;
  --md-sys-color-neutral-variant-palette-key-color: #936e6c;
  --md-sys-color-error-palette-key-color: #bb5b44;
  --md-sys-color-background: #000000;
  --md-sys-color-on-background: #ffffff;
  --md-sys-color-surface: #000000;
  --md-sys-color-surface-dim: #180b0a;
  --md-sys-color-surface-bright: #402523;
  --md-sys-color-surface-container-lowest: #000000;
  --md-sys-color-surface-container-low: #322221;
  --md-sys-color-surface-container: #3d2c2b;
  --md-sys-color-surface-container-high: #493736;
  --md-sys-color-surface-container-highest: #391e1d;
  --md-sys-color-on-surface: #ffffff;
  --md-sys-color-surface-variant: #391e1d;
  --md-sys-color-on-surface-variant: #fffeff;
  --md-sys-color-inverse-surface: #fff8f7;
  --md-sys-color-inverse-on-surface: #463433;
  --md-sys-color-outline: #e3c8c6;
  --md-sys-color-outline-variant: #b9a09e;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #fffeff;
  --md-sys-color-primary: #fffeff;
  --md-sys-color-primary-dim: #ffbebb;
  --md-sys-color-on-primary: #360a0b;
  --md-sys-color-primary-container: #6f3634;
  --md-sys-color-on-primary-container: #ffffff;
  --md-sys-color-inverse-primary: #5d2827;
  --md-sys-color-primary-fixed: #6f3634;
  --md-sys-color-primary-fixed-dim: #612b2a;
  --md-sys-color-on-primary-fixed: #fffeff;
  --md-sys-color-on-primary-fixed-variant: #ffbebb;
  --md-sys-color-secondary: #fffeff;
  --md-sys-color-secondary-dim: #f5cac8;
  --md-sys-color-on-secondary: #311918;
  --md-sys-color-secondary-container: #5d3f3e;
  --md-sys-color-on-secondary-container: #ffffff;
  --md-sys-color-secondary-fixed: #5d3f3e;
  --md-sys-color-secondary-fixed-dim: #503433;
  --md-sys-color-on-secondary-fixed: #fffeff;
  --md-sys-color-on-secondary-fixed-variant: #efc4c1;
  --md-sys-color-tertiary: #fffeff;
  --md-sys-color-tertiary-dim: #fdc383;
  --md-sys-color-on-tertiary: #281500;
  --md-sys-color-tertiary-container: #dea86a;
  --md-sys-color-on-tertiary-container: #000000;
  --md-sys-color-tertiary-fixed: #cf9b5e;
  --md-sys-color-tertiary-fixed-dim: #c18e52;
  --md-sys-color-on-tertiary-fixed: #000000;
  --md-sys-color-on-tertiary-fixed-variant: #0a0300;
  --md-sys-color-error: #fffeff;
  --md-sys-color-error-dim: #ffbfb0;
  --md-sys-color-on-error: #390600;
  --md-sys-color-error-container: #7d2c19;
  --md-sys-color-on-error-container: #ffffff;
}

.light-high-contrast {
  --md-sys-color-primary-palette-key-color: #a86461;
  --md-sys-color-secondary-palette-key-color: #916e6c;
  --md-sys-color-tertiary-palette-key-color: #9c6e36;
  --md-sys-color-neutral-palette-key-color: #887270;
  --md-sys-color-neutral-variant-palette-key-color: #936e6c;
  --md-sys-color-error-palette-key-color: #bb5b44;
  --md-sys-color-background: #000000;
  --md-sys-color-on-background: #ffffff;
  --md-sys-color-surface: #000000;
  --md-sys-color-surface-dim: #180b0a;
  --md-sys-color-surface-bright: #402523;
  --md-sys-color-surface-container-lowest: #000000;
  --md-sys-color-surface-container-low: #322221;
  --md-sys-color-surface-container: #3d2c2b;
  --md-sys-color-surface-container-high: #493736;
  --md-sys-color-surface-container-highest: #391e1d;
  --md-sys-color-on-surface: #ffffff;
  --md-sys-color-surface-variant: #391e1d;
  --md-sys-color-on-surface-variant: #ffffff;
  --md-sys-color-inverse-surface: #fff8f7;
  --md-sys-color-inverse-on-surface: #000000;
  --md-sys-color-outline: #fffeff;
  --md-sys-color-outline-variant: #e3c8c6;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #ffffff;
  --md-sys-color-primary: #ffffff;
  --md-sys-color-primary-dim: #fffeff;
  --md-sys-color-on-primary: #000000;
  --md-sys-color-primary-container: #6f3634;
  --md-sys-color-on-primary-container: #ffffff;
  --md-sys-color-inverse-primary: #000000;
  --md-sys-color-primary-fixed: #6f3634;
  --md-sys-color-primary-fixed-dim: #612b2a;
  --md-sys-color-on-primary-fixed: #ffffff;
  --md-sys-color-on-primary-fixed-variant: #fffeff;
  --md-sys-color-secondary: #ffffff;
  --md-sys-color-secondary-dim: #fffeff;
  --md-sys-color-on-secondary: #000000;
  --md-sys-color-secondary-container: #5d3f3e;
  --md-sys-color-on-secondary-container: #ffffff;
  --md-sys-color-secondary-fixed: #5d3f3e;
  --md-sys-color-secondary-fixed-dim: #503433;
  --md-sys-color-on-secondary-fixed: #ffffff;
  --md-sys-color-on-secondary-fixed-variant: #fffeff;
  --md-sys-color-tertiary: #ffffff;
  --md-sys-color-tertiary-dim: #fffeff;
  --md-sys-color-on-tertiary: #000000;
  --md-sys-color-tertiary-container: #f7bf7e;
  --md-sys-color-on-tertiary-container: #000000;
  --md-sys-color-tertiary-fixed: #cf9b5e;
  --md-sys-color-tertiary-fixed-dim: #c18e52;
  --md-sys-color-on-tertiary-fixed: #000000;
  --md-sys-color-on-tertiary-fixed-variant: #000000;
  --md-sys-color-error: #ffffff;
  --md-sys-color-error-dim: #fffeff;
  --md-sys-color-on-error: #000000;
  --md-sys-color-error-container: #7d2c19;
  --md-sys-color-on-error-container: #ffffff;
}

.dark {
  --md-sys-color-primary-palette-key-color: #a86461;
  --md-sys-color-secondary-palette-key-color: #916e6c;
  --md-sys-color-tertiary-palette-key-color: #9c6e36;
  --md-sys-color-neutral-palette-key-color: #887270;
  --md-sys-color-neutral-variant-palette-key-color: #936e6c;
  --md-sys-color-error-palette-key-color: #bb5b44;
  --md-sys-color-background: #000000;
  --md-sys-color-on-background: #ffffff;
  --md-sys-color-surface: #000000;
  --md-sys-color-surface-dim: #180b0a;
  --md-sys-color-surface-bright: #402523;
  --md-sys-color-surface-container-lowest: #000000;
  --md-sys-color-surface-container-low: #322221;
  --md-sys-color-surface-container: #3d2c2b;
  --md-sys-color-surface-container-high: #493736;
  --md-sys-color-surface-container-highest: #391e1d;
  --md-sys-color-on-surface: #fffeff;
  --md-sys-color-surface-variant: #391e1d;
  --md-sys-color-on-surface-variant: #e3c8c6;
  --md-sys-color-inverse-surface: #fff8f7;
  --md-sys-color-inverse-on-surface: #64504f;
  --md-sys-color-outline: #b9a09e;
  --md-sys-color-outline-variant: #98807f;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #ffbebb;
  --md-sys-color-primary: #ffbebb;
  --md-sys-color-primary-dim: #f3a4a1;
  --md-sys-color-on-primary: #4e1c1b;
  --md-sys-color-primary-container: #6f3634;
  --md-sys-color-on-primary-container: #ffd7d4;
  --md-sys-color-inverse-primary: #804442;
  --md-sys-color-primary-fixed: #6f3634;
  --md-sys-color-primary-fixed-dim: #612b2a;
  --md-sys-color-on-primary-fixed: #ffbebb;
  --md-sys-color-on-primary-fixed-variant: #de928e;
  --md-sys-color-secondary: #f5cac8;
  --md-sys-color-secondary-dim: #e7bdba;
  --md-sys-color-on-secondary: #4b2f2e;
  --md-sys-color-secondary-container: #5d3f3e;
  --md-sys-color-on-secondary-container: #ffd7d4;
  --md-sys-color-secondary-fixed: #5d3f3e;
  --md-sys-color-secondary-fixed-dim: #503433;
  --md-sys-color-on-secondary-fixed: #efc4c1;
  --md-sys-color-on-secondary-fixed-variant: #c49c9a;
  --md-sys-color-tertiary: #fdc383;
  --md-sys-color-tertiary-dim: #edb676;
  --md-sys-color-on-tertiary: #492b00;
  --md-sys-color-tertiary-container: #cf9b5e;
  --md-sys-color-on-tertiary-container: #291600;
  --md-sys-color-tertiary-fixed: #cf9b5e;
  --md-sys-color-tertiary-fixed-dim: #c18e52;
  --md-sys-color-on-tertiary-fixed: #0a0300;
  --md-sys-color-on-tertiary-fixed-variant: #472900;
  --md-sys-color-error: #ffbfb0;
  --md-sys-color-error-dim: #f4886d;
  --md-sys-color-on-error: #3b0600;
  --md-sys-color-error-container: #7d2c19;
  --md-sys-color-on-error-container: #ffd7ce;
}

.dark-medium-contrast {
  --md-sys-color-primary-palette-key-color: #a86461;
  --md-sys-color-secondary-palette-key-color: #916e6c;
  --md-sys-color-tertiary-palette-key-color: #9c6e36;
  --md-sys-color-neutral-palette-key-color: #887270;
  --md-sys-color-neutral-variant-palette-key-color: #936e6c;
  --md-sys-color-error-palette-key-color: #bb5b44;
  --md-sys-color-background: #000000;
  --md-sys-color-on-background: #ffffff;
  --md-sys-color-surface: #000000;
  --md-sys-color-surface-dim: #180b0a;
  --md-sys-color-surface-bright: #402523;
  --md-sys-color-surface-container-lowest: #000000;
  --md-sys-color-surface-container-low: #322221;
  --md-sys-color-surface-container: #3d2c2b;
  --md-sys-color-surface-container-high: #493736;
  --md-sys-color-surface-container-highest: #391e1d;
  --md-sys-color-on-surface: #ffffff;
  --md-sys-color-surface-variant: #391e1d;
  --md-sys-color-on-surface-variant: #fffeff;
  --md-sys-color-inverse-surface: #fff8f7;
  --md-sys-color-inverse-on-surface: #463433;
  --md-sys-color-outline: #e3c8c6;
  --md-sys-color-outline-variant: #b9a09e;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #fffeff;
  --md-sys-color-primary: #fffeff;
  --md-sys-color-primary-dim: #ffbebb;
  --md-sys-color-on-primary: #360a0b;
  --md-sys-color-primary-container: #6f3634;
  --md-sys-color-on-primary-container: #ffffff;
  --md-sys-color-inverse-primary: #5d2827;
  --md-sys-color-primary-fixed: #6f3634;
  --md-sys-color-primary-fixed-dim: #612b2a;
  --md-sys-color-on-primary-fixed: #fffeff;
  --md-sys-color-on-primary-fixed-variant: #ffbebb;
  --md-sys-color-secondary: #fffeff;
  --md-sys-color-secondary-dim: #f5cac8;
  --md-sys-color-on-secondary: #311918;
  --md-sys-color-secondary-container: #5d3f3e;
  --md-sys-color-on-secondary-container: #ffffff;
  --md-sys-color-secondary-fixed: #5d3f3e;
  --md-sys-color-secondary-fixed-dim: #503433;
  --md-sys-color-on-secondary-fixed: #fffeff;
  --md-sys-color-on-secondary-fixed-variant: #efc4c1;
  --md-sys-color-tertiary: #fffeff;
  --md-sys-color-tertiary-dim: #fdc383;
  --md-sys-color-on-tertiary: #281500;
  --md-sys-color-tertiary-container: #dea86a;
  --md-sys-color-on-tertiary-container: #000000;
  --md-sys-color-tertiary-fixed: #cf9b5e;
  --md-sys-color-tertiary-fixed-dim: #c18e52;
  --md-sys-color-on-tertiary-fixed: #000000;
  --md-sys-color-on-tertiary-fixed-variant: #0a0300;
  --md-sys-color-error: #fffeff;
  --md-sys-color-error-dim: #ffbfb0;
  --md-sys-color-on-error: #390600;
  --md-sys-color-error-container: #7d2c19;
  --md-sys-color-on-error-container: #ffffff;
}

.dark-high-contrast {
  --md-sys-color-primary-palette-key-color: #a86461;
  --md-sys-color-secondary-palette-key-color: #916e6c;
  --md-sys-color-tertiary-palette-key-color: #9c6e36;
  --md-sys-color-neutral-palette-key-color: #887270;
  --md-sys-color-neutral-variant-palette-key-color: #936e6c;
  --md-sys-color-error-palette-key-color: #bb5b44;
  --md-sys-color-background: #000000;
  --md-sys-color-on-background: #ffffff;
  --md-sys-color-surface: #000000;
  --md-sys-color-surface-dim: #180b0a;
  --md-sys-color-surface-bright: #402523;
  --md-sys-color-surface-container-lowest: #000000;
  --md-sys-color-surface-container-low: #322221;
  --md-sys-color-surface-container: #3d2c2b;
  --md-sys-color-surface-container-high: #493736;
  --md-sys-color-surface-container-highest: #391e1d;
  --md-sys-color-on-surface: #ffffff;
  --md-sys-color-surface-variant: #391e1d;
  --md-sys-color-on-surface-variant: #ffffff;
  --md-sys-color-inverse-surface: #fff8f7;
  --md-sys-color-inverse-on-surface: #000000;
  --md-sys-color-outline: #fffeff;
  --md-sys-color-outline-variant: #e3c8c6;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #ffffff;
  --md-sys-color-primary: #ffffff;
  --md-sys-color-primary-dim: #fffeff;
  --md-sys-color-on-primary: #000000;
  --md-sys-color-primary-container: #6f3634;
  --md-sys-color-on-primary-container: #ffffff;
  --md-sys-color-inverse-primary: #000000;
  --md-sys-color-primary-fixed: #6f3634;
  --md-sys-color-primary-fixed-dim: #612b2a;
  --md-sys-color-on-primary-fixed: #ffffff;
  --md-sys-color-on-primary-fixed-variant: #fffeff;
  --md-sys-color-secondary: #ffffff;
  --md-sys-color-secondary-dim: #fffeff;
  --md-sys-color-on-secondary: #000000;
  --md-sys-color-secondary-container: #5d3f3e;
  --md-sys-color-on-secondary-container: #ffffff;
  --md-sys-color-secondary-fixed: #5d3f3e;
  --md-sys-color-secondary-fixed-dim: #503433;
  --md-sys-color-on-secondary-fixed: #ffffff;
  --md-sys-color-on-secondary-fixed-variant: #fffeff;
  --md-sys-color-tertiary: #ffffff;
  --md-sys-color-tertiary-dim: #fffeff;
  --md-sys-color-on-tertiary: #000000;
  --md-sys-color-tertiary-container: #f7bf7e;
  --md-sys-color-on-tertiary-container: #000000;
  --md-sys-color-tertiary-fixed: #cf9b5e;
  --md-sys-color-tertiary-fixed-dim: #c18e52;
  --md-sys-color-on-tertiary-fixed: #000000;
  --md-sys-color-on-tertiary-fixed-variant: #000000;
  --md-sys-color-error: #ffffff;
  --md-sys-color-error-dim: #fffeff;
  --md-sys-color-on-error: #000000;
  --md-sys-color-error-container: #7d2c19;
  --md-sys-color-on-error-container: #ffffff;
}

