.light {
  --md-sys-color-primary-palette-key-color: #fd0033;
  --md-sys-color-secondary-palette-key-color: #9d6b59;
  --md-sys-color-tertiary-palette-key-color: #a26a3e;
  --md-sys-color-neutral-palette-key-color: #887270;
  --md-sys-color-neutral-variant-palette-key-color: #8c716f;
  --md-sys-color-error-palette-key-color: #de3730;
  --md-sys-color-background: #fff8f7;
  --md-sys-color-on-background: #271817;
  --md-sys-color-surface: #fff8f7;
  --md-sys-color-surface-dim: #f0d4d2;
  --md-sys-color-surface-bright: #fff8f7;
  --md-sys-color-surface-container-lowest: #ffffff;
  --md-sys-color-surface-container-low: #fff0ef;
  --md-sys-color-surface-container: #ffe9e7;
  --md-sys-color-surface-container-high: #fee2e0;
  --md-sys-color-surface-container-highest: #f8dcda;
  --md-sys-color-on-surface: #271817;
  --md-sys-color-surface-variant: #fcdbd9;
  --md-sys-color-on-surface-variant: #584140;
  --md-sys-color-inverse-surface: #3d2c2b;
  --md-sys-color-inverse-on-surface: #ffedeb;
  --md-sys-color-outline: #8b716f;
  --md-sys-color-outline-variant: #dfbfbd;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #bf0024;
  --md-sys-color-primary: #bf0024;
  --md-sys-color-primary-dim: #d10028;
  --md-sys-color-on-primary: #ffffff;
  --md-sys-color-primary-container: #930019;
  --md-sys-color-on-primary-container: #ff9995;
  --md-sys-color-inverse-primary: #ffb3af;
  --md-sys-color-primary-fixed: #ffdad8;
  --md-sys-color-primary-fixed-dim: #ffb3af;
  --md-sys-color-on-primary-fixed: #410006;
  --md-sys-color-on-primary-fixed-variant: #930019;
  --md-sys-color-secondary: #815342;
  --md-sys-color-secondary-dim: #8c5c4b;
  --md-sys-color-on-secondary: #ffffff;
  --md-sys-color-secondary-container: #663c2c;
  --md-sys-color-on-secondary-container: #e2a893;
  --md-sys-color-secondary-fixed: #ffdbcf;
  --md-sys-color-secondary-fixed-dim: #f5b9a3;
  --md-sys-color-on-secondary-fixed: #321206;
  --md-sys-color-on-secondary-fixed-variant: #663c2c;
  --md-sys-color-tertiary: #865228;
  --md-sys-color-tertiary-dim: #915b31;
  --md-sys-color-on-tertiary: #ffffff;
  --md-sys-color-tertiary-container: #6a3b13;
  --md-sys-color-on-tertiary-container: #e9a776;
  --md-sys-color-tertiary-fixed: #ffdcc4;
  --md-sys-color-tertiary-fixed-dim: #fcb885;
  --md-sys-color-on-tertiary-fixed: #301400;
  --md-sys-color-on-tertiary-fixed-variant: #6a3b13;
  --md-sys-color-error: #ba1a1a;
  --md-sys-color-error-dim: #ac0c12;
  --md-sys-color-on-error: #ffffff;
  --md-sys-color-error-container: #93000a;
  --md-sys-color-on-error-container: #ff9a8e;
}

.light-medium-contrast {
  --md-sys-color-primary-palette-key-color: #fd0033;
  --md-sys-color-secondary-palette-key-color: #9d6b59;
  --md-sys-color-tertiary-palette-key-color: #a26a3e;
  --md-sys-color-neutral-palette-key-color: #887270;
  --md-sys-color-neutral-variant-palette-key-color: #8c716f;
  --md-sys-color-error-palette-key-color: #de3730;
  --md-sys-color-background: #fff8f7;
  --md-sys-color-on-background: #271817;
  --md-sys-color-surface: #fff8f7;
  --md-sys-color-surface-dim: #dbc0be;
  --md-sys-color-surface-bright: #fff8f7;
  --md-sys-color-surface-container-lowest: #ffffff;
  --md-sys-color-surface-container-low: #fff0ef;
  --md-sys-color-surface-container: #fee2e0;
  --md-sys-color-surface-container-high: #f3d6d4;
  --md-sys-color-surface-container-highest: #e7cbc9;
  --md-sys-color-on-surface: #1b0d0d;
  --md-sys-color-surface-variant: #fcdbd9;
  --md-sys-color-on-surface-variant: #463130;
  --md-sys-color-inverse-surface: #3d2c2b;
  --md-sys-color-inverse-on-surface: #ffedeb;
  --md-sys-color-outline: #644d4b;
  --md-sys-color-outline-variant: #816765;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #bf0024;
  --md-sys-color-primary: #730011;
  --md-sys-color-primary-dim: #8e0018;
  --md-sys-color-on-primary: #ffffff;
  --md-sys-color-primary-container: #4b0008;
  --md-sys-color-on-primary-container: #ff8a86;
  --md-sys-color-inverse-primary: #ffb3af;
  --md-sys-color-primary-fixed: #db002a;
  --md-sys-color-primary-fixed-dim: #ad001f;
  --md-sys-color-on-primary-fixed: #ffffff;
  --md-sys-color-on-primary-fixed-variant: #ffffff;
  --md-sys-color-secondary: #522c1d;
  --md-sys-color-secondary-dim: #633a2a;
  --md-sys-color-on-secondary: #ffffff;
  --md-sys-color-secondary-container: #39170a;
  --md-sys-color-on-secondary-container: #d89f8a;
  --md-sys-color-secondary-fixed: #92614f;
  --md-sys-color-secondary-fixed-dim: #764a39;
  --md-sys-color-on-secondary-fixed: #ffffff;
  --md-sys-color-on-secondary-fixed-variant: #ffffff;
  --md-sys-color-tertiary: #562b04;
  --md-sys-color-tertiary-dim: #673911;
  --md-sys-color-on-tertiary: #ffffff;
  --md-sys-color-tertiary-container: #371900;
  --md-sys-color-on-tertiary-container: #df9e6d;
  --md-sys-color-tertiary-fixed: #976035;
  --md-sys-color-tertiary-fixed-dim: #7a4920;
  --md-sys-color-on-tertiary-fixed: #ffffff;
  --md-sys-color-on-tertiary-fixed-variant: #ffffff;
  --md-sys-color-error: #740006;
  --md-sys-color-error-dim: #8f0009;
  --md-sys-color-on-error: #ffffff;
  --md-sys-color-error-container: #4b0002;
  --md-sys-color-on-error-container: #ff8b7e;
}

.light-high-contrast {
  --md-sys-color-primary-palette-key-color: #fd0033;
  --md-sys-color-secondary-palette-key-color: #9d6b59;
  --md-sys-color-tertiary-palette-key-color: #a26a3e;
  --md-sys-color-neutral-palette-key-color: #887270;
  --md-sys-color-neutral-variant-palette-key-color: #8c716f;
  --md-sys-color-error-palette-key-color: #de3730;
  --md-sys-color-background: #fff8f7;
  --md-sys-color-on-background: #271817;
  --md-sys-color-surface: #fff8f7;
  --md-sys-color-surface-dim: #cdb3b1;
  --md-sys-color-surface-bright: #fff8f7;
  --md-sys-color-surface-container-lowest: #ffffff;
  --md-sys-color-surface-container-low: #ffedeb;
  --md-sys-color-surface-container: #f8dcda;
  --md-sys-color-surface-container-high: #eacecc;
  --md-sys-color-surface-container-highest: #dbc0be;
  --md-sys-color-on-surface: #000000;
  --md-sys-color-surface-variant: #fcdbd9;
  --md-sys-color-on-surface-variant: #000000;
  --md-sys-color-inverse-surface: #3d2c2b;
  --md-sys-color-inverse-on-surface: #ffffff;
  --md-sys-color-outline: #3b2726;
  --md-sys-color-outline-variant: #5a4442;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #bf0024;
  --md-sys-color-primary: #60000c;
  --md-sys-color-primary-dim: #480007;
  --md-sys-color-on-primary: #ffffff;
  --md-sys-color-primary-container: #390004;
  --md-sys-color-on-primary-container: #ffbcb8;
  --md-sys-color-inverse-primary: #ffb3af;
  --md-sys-color-primary-fixed: #97001a;
  --md-sys-color-primary-fixed-dim: #6d000f;
  --md-sys-color-on-primary-fixed: #ffffff;
  --md-sys-color-on-primary-fixed-variant: #ffffff;
  --md-sys-color-secondary: #462214;
  --md-sys-color-secondary-dim: #371609;
  --md-sys-color-on-secondary: #ffffff;
  --md-sys-color-secondary-container: #2d0e04;
  --md-sys-color-on-secondary-container: #fbbfa9;
  --md-sys-color-secondary-fixed: #693e2e;
  --md-sys-color-secondary-fixed-dim: #4e291a;
  --md-sys-color-on-secondary-fixed: #ffffff;
  --md-sys-color-on-secondary-fixed-variant: #ffffff;
  --md-sys-color-tertiary: #482200;
  --md-sys-color-tertiary-dim: #351700;
  --md-sys-color-on-tertiary: #ffffff;
  --md-sys-color-tertiary-container: #2a1100;
  --md-sys-color-on-tertiary-container: #ffbf90;
  --md-sys-color-tertiary-fixed: #6d3d15;
  --md-sys-color-tertiary-fixed-dim: #512801;
  --md-sys-color-on-tertiary-fixed: #ffffff;
  --md-sys-color-on-tertiary-fixed-variant: #ffffff;
  --md-sys-color-error: #600004;
  --md-sys-color-error-dim: #480002;
  --md-sys-color-on-error: #ffffff;
  --md-sys-color-error-container: #390001;
  --md-sys-color-on-error-container: #ffbcb4;
}

.dark {
  --md-sys-color-primary-palette-key-color: #fd0033;
  --md-sys-color-secondary-palette-key-color: #9d6b59;
  --md-sys-color-tertiary-palette-key-color: #a26a3e;
  --md-sys-color-neutral-palette-key-color: #887270;
  --md-sys-color-neutral-variant-palette-key-color: #8c716f;
  --md-sys-color-error-palette-key-color: #de3730;
  --md-sys-color-background: #1e100f;
  --md-sys-color-on-background: #f8dcda;
  --md-sys-color-surface: #1e100f;
  --md-sys-color-surface-dim: #1e100f;
  --md-sys-color-surface-bright: #473534;
  --md-sys-color-surface-container-lowest: #180b0a;
  --md-sys-color-surface-container-low: #271817;
  --md-sys-color-surface-container: #2b1c1b;
  --md-sys-color-surface-container-high: #362625;
  --md-sys-color-surface-container-highest: #42302f;
  --md-sys-color-on-surface: #f8dcda;
  --md-sys-color-surface-variant: #584140;
  --md-sys-color-on-surface-variant: #dfbfbd;
  --md-sys-color-inverse-surface: #f8dcda;
  --md-sys-color-inverse-on-surface: #3d2c2b;
  --md-sys-color-outline: #a78a88;
  --md-sys-color-outline-variant: #584140;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #ffb3af;
  --md-sys-color-primary: #ffb3af;
  --md-sys-color-primary-dim: #ffc7c4;
  --md-sys-color-on-primary: #68000e;
  --md-sys-color-primary-container: #ffdad8;
  --md-sys-color-on-primary-container: #cb0026;
  --md-sys-color-inverse-primary: #bf0024;
  --md-sys-color-primary-fixed: #ffdad8;
  --md-sys-color-primary-fixed-dim: #ffb3af;
  --md-sys-color-on-primary-fixed: #410006;
  --md-sys-color-on-primary-fixed-variant: #930019;
  --md-sys-color-secondary: #f5b9a3;
  --md-sys-color-secondary-dim: #ffc8b5;
  --md-sys-color-on-secondary: #4c2618;
  --md-sys-color-secondary-container: #ffdbcf;
  --md-sys-color-on-secondary-container: #885947;
  --md-sys-color-secondary-fixed: #ffdbcf;
  --md-sys-color-secondary-fixed-dim: #f5b9a3;
  --md-sys-color-on-secondary-fixed: #321206;
  --md-sys-color-on-secondary-fixed-variant: #663c2c;
  --md-sys-color-tertiary: #fcb885;
  --md-sys-color-tertiary-dim: #ffcaa4;
  --md-sys-color-on-tertiary: #4e2600;
  --md-sys-color-tertiary-container: #ffdcc4;
  --md-sys-color-on-tertiary-container: #8d582e;
  --md-sys-color-tertiary-fixed: #ffdcc4;
  --md-sys-color-tertiary-fixed-dim: #fcb885;
  --md-sys-color-on-tertiary-fixed: #301400;
  --md-sys-color-on-tertiary-fixed-variant: #6a3b13;
  --md-sys-color-error: #ffb4ab;
  --md-sys-color-error-dim: #ffc7c0;
  --md-sys-color-on-error: #690005;
  --md-sys-color-error-container: #ffdad6;
  --md-sys-color-on-error-container: #c32220;
}

.dark-medium-contrast {
  --md-sys-color-primary-palette-key-color: #fd0033;
  --md-sys-color-secondary-palette-key-color: #9d6b59;
  --md-sys-color-tertiary-palette-key-color: #a26a3e;
  --md-sys-color-neutral-palette-key-color: #887270;
  --md-sys-color-neutral-variant-palette-key-color: #8c716f;
  --md-sys-color-error-palette-key-color: #de3730;
  --md-sys-color-background: #1e100f;
  --md-sys-color-on-background: #f8dcda;
  --md-sys-color-surface: #1e100f;
  --md-sys-color-surface-dim: #1e100f;
  --md-sys-color-surface-bright: #53403f;
  --md-sys-color-surface-container-lowest: #100504;
  --md-sys-color-surface-container-low: #291a19;
  --md-sys-color-surface-container: #342423;
  --md-sys-color-surface-container-high: #402e2d;
  --md-sys-color-surface-container-highest: #4c3938;
  --md-sys-color-on-surface: #ffffff;
  --md-sys-color-surface-variant: #584140;
  --md-sys-color-on-surface-variant: #f6d5d2;
  --md-sys-color-inverse-surface: #f8dcda;
  --md-sys-color-inverse-on-surface: #362625;
  --md-sys-color-outline: #c9aba9;
  --md-sys-color-outline-variant: #a68a88;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #ffb3af;
  --md-sys-color-primary: #ffd2cf;
  --md-sys-color-primary-dim: #ffc7c4;
  --md-sys-color-on-primary: #540009;
  --md-sys-color-primary-container: #fff7f6;
  --md-sys-color-on-primary-container: #ad001f;
  --md-sys-color-inverse-primary: #950019;
  --md-sys-color-primary-fixed: #ffdad8;
  --md-sys-color-primary-fixed-dim: #ffb3af;
  --md-sys-color-on-primary-fixed: #2d0003;
  --md-sys-color-on-primary-fixed-variant: #730011;
  --md-sys-color-secondary: #ffd3c4;
  --md-sys-color-secondary-dim: #ffc8b5;
  --md-sys-color-on-secondary: #3f1c0e;
  --md-sys-color-secondary-container: #fff7f5;
  --md-sys-color-on-secondary-container: #764a39;
  --md-sys-color-secondary-fixed: #ffdbcf;
  --md-sys-color-secondary-fixed-dim: #f5b9a3;
  --md-sys-color-on-secondary-fixed: #250801;
  --md-sys-color-on-secondary-fixed-variant: #522c1d;
  --md-sys-color-tertiary: #ffd4b7;
  --md-sys-color-tertiary-dim: #ffcaa4;
  --md-sys-color-on-tertiary: #3e1d00;
  --md-sys-color-tertiary-container: #fff7f4;
  --md-sys-color-on-tertiary-container: #7a4920;
  --md-sys-color-tertiary-fixed: #ffdcc4;
  --md-sys-color-tertiary-fixed-dim: #fcb885;
  --md-sys-color-on-tertiary-fixed: #200c00;
  --md-sys-color-on-tertiary-fixed-variant: #562b04;
  --md-sys-color-error: #ffd2cc;
  --md-sys-color-error-dim: #ffc7c0;
  --md-sys-color-on-error: #540003;
  --md-sys-color-error-container: #fff7f6;
  --md-sys-color-on-error-container: #ab0b12;
}

.dark-high-contrast {
  --md-sys-color-primary-palette-key-color: #fd0033;
  --md-sys-color-secondary-palette-key-color: #9d6b59;
  --md-sys-color-tertiary-palette-key-color: #a26a3e;
  --md-sys-color-neutral-palette-key-color: #887270;
  --md-sys-color-neutral-variant-palette-key-color: #8c716f;
  --md-sys-color-error-palette-key-color: #de3730;
  --md-sys-color-background: #1e100f;
  --md-sys-color-on-background: #f8dcda;
  --md-sys-color-surface: #1e100f;
  --md-sys-color-surface-dim: #1e100f;
  --md-sys-color-surface-bright: #5f4b4a;
  --md-sys-color-surface-container-lowest: #000000;
  --md-sys-color-surface-container-low: #2b1c1b;
  --md-sys-color-surface-container: #3d2c2b;
  --md-sys-color-surface-container-high: #493736;
  --md-sys-color-surface-container-highest: #554241;
  --md-sys-color-on-surface: #ffffff;
  --md-sys-color-surface-variant: #584140;
  --md-sys-color-on-surface-variant: #ffffff;
  --md-sys-color-inverse-surface: #f8dcda;
  --md-sys-color-inverse-on-surface: #000000;
  --md-sys-color-outline: #ffecea;
  --md-sys-color-outline-variant: #dbbbb9;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #ffb3af;
  --md-sys-color-primary: #ffdad8;
  --md-sys-color-primary-dim: #fffeff;
  --md-sys-color-on-primary: #000000;
  --md-sys-color-primary-container: #ffffff;
  --md-sys-color-on-primary-container: #7d0013;
  --md-sys-color-inverse-primary: #950019;
  --md-sys-color-primary-fixed: #ffdad8;
  --md-sys-color-primary-fixed-dim: #ffb3af;
  --md-sys-color-on-primary-fixed: #000000;
  --md-sys-color-on-primary-fixed-variant: #2d0003;
  --md-sys-color-secondary: #ffdbcf;
  --md-sys-color-secondary-dim: #fffeff;
  --md-sys-color-on-secondary: #000000;
  --md-sys-color-secondary-container: #ffffff;
  --md-sys-color-on-secondary-container: #593122;
  --md-sys-color-secondary-fixed: #ffdbcf;
  --md-sys-color-secondary-fixed-dim: #f5b9a3;
  --md-sys-color-on-secondary-fixed: #000000;
  --md-sys-color-on-secondary-fixed-variant: #250801;
  --md-sys-color-tertiary: #ffdcc4;
  --md-sys-color-tertiary-dim: #fffeff;
  --md-sys-color-on-tertiary: #000000;
  --md-sys-color-tertiary-container: #ffffff;
  --md-sys-color-on-tertiary-container: #5c3008;
  --md-sys-color-tertiary-fixed: #ffdcc4;
  --md-sys-color-tertiary-fixed-dim: #fcb885;
  --md-sys-color-on-tertiary-fixed: #000000;
  --md-sys-color-on-tertiary-fixed-variant: #200c00;
  --md-sys-color-error: #ffdad6;
  --md-sys-color-error-dim: #fffeff;
  --md-sys-color-on-error: #000000;
  --md-sys-color-error-container: #ffffff;
  --md-sys-color-on-error-container: #7e0007;
}

