.light {
  --md-sys-color-primary-palette-key-color: #d64145;
  --md-sys-color-secondary-palette-key-color: #c2516d;
  --md-sys-color-tertiary-palette-key-color: #9060c7;
  --md-sys-color-neutral-palette-key-color: #a06772;
  --md-sys-color-neutral-variant-palette-key-color: #ab6170;
  --md-sys-color-error-palette-key-color: #d9401b;
  --md-sys-color-background: #fff4f4;
  --md-sys-color-on-background: #4c212b;
  --md-sys-color-surface: #fff4f4;
  --md-sys-color-surface-dim: #ffc6cf;
  --md-sys-color-surface-bright: #fff4f4;
  --md-sys-color-surface-container-lowest: #ffffff;
  --md-sys-color-surface-container-low: #ffecee;
  --md-sys-color-surface-container: #ffe1e5;
  --md-sys-color-surface-container-high: #ffd9de;
  --md-sys-color-surface-container-highest: #ffd1d8;
  --md-sys-color-on-surface: #4c212b;
  --md-sys-color-surface-variant: #ffd1d8;
  --md-sys-color-on-surface-variant: #814c57;
  --md-sys-color-inverse-surface: #24020b;
  --md-sys-color-inverse-on-surface: #cb8c97;
  --md-sys-color-outline: #a06772;
  --md-sys-color-outline-variant: #dd9ca7;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #af242c;
  --md-sys-color-primary: #af242c;
  --md-sys-color-primary-dim: #9e1522;
  --md-sys-color-on-primary: #ffefee;
  --md-sys-color-primary-container: #ff7573;
  --md-sys-color-on-primary-container: #4e0008;
  --md-sys-color-inverse-primary: #f85a5b;
  --md-sys-color-primary-fixed: #ff7573;
  --md-sys-color-primary-fixed-dim: #fc5d5e;
  --md-sys-color-on-primary-fixed: #000000;
  --md-sys-color-on-primary-fixed-variant: #60000c;
  --md-sys-color-secondary: #9f3652;
  --md-sys-color-secondary-dim: #8f2a47;
  --md-sys-color-on-secondary: #ffeff0;
  --md-sys-color-secondary-container: #ffc2cc;
  --md-sys-color-on-secondary-container: #84213f;
  --md-sys-color-secondary-fixed: #ffc2cc;
  --md-sys-color-secondary-fixed-dim: #ffadbc;
  --md-sys-color-on-secondary-fixed: #6a0a2c;
  --md-sys-color-on-secondary-fixed-variant: #902b48;
  --md-sys-color-tertiary: #7343a9;
  --md-sys-color-tertiary-dim: #66369c;
  --md-sys-color-on-tertiary: #faefff;
  --md-sys-color-tertiary-container: #cb9cff;
  --md-sys-color-on-tertiary-container: #450e7a;
  --md-sys-color-tertiary-fixed: #cb9cff;
  --md-sys-color-tertiary-fixed-dim: #bf8cf8;
  --md-sys-color-on-tertiary-fixed: #26004a;
  --md-sys-color-on-tertiary-fixed-variant: #4f1c84;
  --md-sys-color-error: #b02500;
  --md-sys-color-error-dim: #9a2000;
  --md-sys-color-on-error: #ffefec;
  --md-sys-color-error-container: #f95630;
  --md-sys-color-on-error-container: #520c00;
}

.light-medium-contrast {
  --md-sys-color-primary-palette-key-color: #d64145;
  --md-sys-color-secondary-palette-key-color: #c2516d;
  --md-sys-color-tertiary-palette-key-color: #9060c7;
  --md-sys-color-neutral-palette-key-color: #a06772;
  --md-sys-color-neutral-variant-palette-key-color: #ab6170;
  --md-sys-color-error-palette-key-color: #d9401b;
  --md-sys-color-background: #fff4f4;
  --md-sys-color-on-background: #3a121c;
  --md-sys-color-surface: #fff4f4;
  --md-sys-color-surface-dim: #ffc6cf;
  --md-sys-color-surface-bright: #fff4f4;
  --md-sys-color-surface-container-lowest: #ffffff;
  --md-sys-color-surface-container-low: #ffecee;
  --md-sys-color-surface-container: #ffe1e5;
  --md-sys-color-surface-container-high: #ffd9de;
  --md-sys-color-surface-container-highest: #ffd1d8;
  --md-sys-color-on-surface: #3a121c;
  --md-sys-color-surface-variant: #ffd1d8;
  --md-sys-color-on-surface-variant: #60313b;
  --md-sys-color-inverse-surface: #24020b;
  --md-sys-color-inverse-on-surface: #f7b3bf;
  --md-sys-color-outline: #814c57;
  --md-sys-color-outline-variant: #a06772;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #850015;
  --md-sys-color-primary: #850015;
  --md-sys-color-primary-dim: #6f0010;
  --md-sys-color-on-primary: #ffc6c3;
  --md-sys-color-primary-container: #d23e42;
  --md-sys-color-on-primary-container: #ffffff;
  --md-sys-color-inverse-primary: #ff6e6d;
  --md-sys-color-primary-fixed: #d23e42;
  --md-sys-color-primary-fixed-dim: #c13137;
  --md-sys-color-on-primary-fixed: #ffffff;
  --md-sys-color-on-primary-fixed-variant: #ffffff;
  --md-sys-color-secondary: #791837;
  --md-sys-color-secondary-dim: #6a0a2c;
  --md-sys-color-on-secondary: #ffc5cf;
  --md-sys-color-secondary-container: #bf4e6b;
  --md-sys-color-on-secondary-container: #ffffff;
  --md-sys-color-secondary-fixed: #bf4e6b;
  --md-sys-color-secondary-fixed-dim: #af425e;
  --md-sys-color-on-secondary-fixed: #ffffff;
  --md-sys-color-on-secondary-fixed-variant: #ffffff;
  --md-sys-color-tertiary: #55238a;
  --md-sys-color-tertiary-dim: #49147e;
  --md-sys-color-on-tertiary: #e4c9ff;
  --md-sys-color-tertiary-container: #8e5dc4;
  --md-sys-color-on-tertiary-container: #ffffff;
  --md-sys-color-tertiary-fixed: #8e5dc4;
  --md-sys-color-tertiary-fixed-dim: #8050b7;
  --md-sys-color-on-tertiary-fixed: #ffffff;
  --md-sys-color-on-tertiary-fixed-variant: #ffffff;
  --md-sys-color-error: #7d1800;
  --md-sys-color-error-dim: #691200;
  --md-sys-color-on-error: #ffc7ba;
  --md-sys-color-error-container: #d53d18;
  --md-sys-color-on-error-container: #ffffff;
}

.light-high-contrast {
  --md-sys-color-primary-palette-key-color: #d64145;
  --md-sys-color-secondary-palette-key-color: #c2516d;
  --md-sys-color-tertiary-palette-key-color: #9060c7;
  --md-sys-color-neutral-palette-key-color: #a06772;
  --md-sys-color-neutral-variant-palette-key-color: #ab6170;
  --md-sys-color-error-palette-key-color: #d9401b;
  --md-sys-color-background: #fff4f4;
  --md-sys-color-on-background: #000000;
  --md-sys-color-surface: #fff4f4;
  --md-sys-color-surface-dim: #ffc6cf;
  --md-sys-color-surface-bright: #fff4f4;
  --md-sys-color-surface-container-lowest: #ffffff;
  --md-sys-color-surface-container-low: #ffecee;
  --md-sys-color-surface-container: #ffe1e5;
  --md-sys-color-surface-container-high: #ffd9de;
  --md-sys-color-surface-container-highest: #ffd1d8;
  --md-sys-color-on-surface: #000000;
  --md-sys-color-surface-variant: #ffd1d8;
  --md-sys-color-on-surface-variant: #3a121c;
  --md-sys-color-inverse-surface: #24020b;
  --md-sys-color-inverse-on-surface: #ffffff;
  --md-sys-color-outline: #60313b;
  --md-sys-color-outline-variant: #814c57;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #480007;
  --md-sys-color-primary: #480007;
  --md-sys-color-primary-dim: #350004;
  --md-sys-color-on-primary: #ffc7c4;
  --md-sys-color-primary-container: #af242c;
  --md-sys-color-on-primary-container: #ffffff;
  --md-sys-color-inverse-primary: #ffb1ad;
  --md-sys-color-primary-fixed: #af242c;
  --md-sys-color-primary-fixed-dim: #9e1522;
  --md-sys-color-on-primary-fixed: #ffffff;
  --md-sys-color-on-primary-fixed-variant: #ffffff;
  --md-sys-color-secondary: #470019;
  --md-sys-color-secondary-dim: #340011;
  --md-sys-color-on-secondary: #ffc6cf;
  --md-sys-color-secondary-container: #9f3652;
  --md-sys-color-on-secondary-container: #ffffff;
  --md-sys-color-secondary-fixed: #9f3652;
  --md-sys-color-secondary-fixed-dim: #8f2a47;
  --md-sys-color-on-secondary-fixed: #ffffff;
  --md-sys-color-on-secondary-fixed-variant: #ffffff;
  --md-sys-color-tertiary: #30005c;
  --md-sys-color-tertiary-dim: #220044;
  --md-sys-color-on-tertiary: #e5caff;
  --md-sys-color-tertiary-container: #7343a9;
  --md-sys-color-on-tertiary-container: #ffffff;
  --md-sys-color-tertiary-fixed: #7343a9;
  --md-sys-color-tertiary-fixed-dim: #66369c;
  --md-sys-color-on-tertiary-fixed: #ffffff;
  --md-sys-color-on-tertiary-fixed-variant: #ffffff;
  --md-sys-color-error: #440800;
  --md-sys-color-error-dim: #320500;
  --md-sys-color-on-error: #ffc8bb;
  --md-sys-color-error-container: #b02500;
  --md-sys-color-on-error-container: #ffffff;
}

.dark {
  --md-sys-color-primary-palette-key-color: #d64145;
  --md-sys-color-secondary-palette-key-color: #c2516d;
  --md-sys-color-tertiary-palette-key-color: #9060c7;
  --md-sys-color-neutral-palette-key-color: #a06772;
  --md-sys-color-neutral-variant-palette-key-color: #ab6170;
  --md-sys-color-error-palette-key-color: #d9401b;
  --md-sys-color-background: #24020b;
  --md-sys-color-on-background: #ffdde2;
  --md-sys-color-surface: #24020b;
  --md-sys-color-surface-dim: #24020b;
  --md-sys-color-surface-bright: #521727;
  --md-sys-color-surface-container-lowest: #000000;
  --md-sys-color-surface-container-low: #2c0410;
  --md-sys-color-surface-container: #350816;
  --md-sys-color-surface-container-high: #3f0d1b;
  --md-sys-color-surface-container-highest: #481221;
  --md-sys-color-on-surface: #ffdde2;
  --md-sys-color-surface-variant: #481221;
  --md-sys-color-on-surface-variant: #da9aa5;
  --md-sys-color-inverse-surface: #fff8f7;
  --md-sys-color-inverse-on-surface: #7a4650;
  --md-sys-color-outline: #9f6570;
  --md-sys-color-outline-variant: #6a3944;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #ff8d8a;
  --md-sys-color-primary: #ff8d8a;
  --md-sys-color-primary-dim: #ff706f;
  --md-sys-color-on-primary: #65000e;
  --md-sys-color-primary-container: #ff7573;
  --md-sys-color-on-primary-container: #4e0008;
  --md-sys-color-inverse-primary: #b42830;
  --md-sys-color-primary-fixed: #ff7573;
  --md-sys-color-primary-fixed-dim: #fc5d5e;
  --md-sys-color-on-primary-fixed: #000000;
  --md-sys-color-on-primary-fixed-variant: #60000c;
  --md-sys-color-secondary: #ffb1c0;
  --md-sys-color-secondary-dim: #fc7e9b;
  --md-sys-color-on-secondary: #7a1938;
  --md-sys-color-secondary-container: #83203e;
  --md-sys-color-on-secondary-container: #ffc0ca;
  --md-sys-color-secondary-fixed: #ffc2cc;
  --md-sys-color-secondary-fixed-dim: #ffadbc;
  --md-sys-color-on-secondary-fixed: #6a0a2c;
  --md-sys-color-on-secondary-fixed-variant: #902b48;
  --md-sys-color-tertiary: #cb9cff;
  --md-sys-color-tertiary-dim: #bf8cf8;
  --md-sys-color-on-tertiary: #450e7a;
  --md-sys-color-tertiary-container: #bf8cf8;
  --md-sys-color-on-tertiary-container: #380069;
  --md-sys-color-tertiary-fixed: #cb9cff;
  --md-sys-color-tertiary-fixed-dim: #bf8cf8;
  --md-sys-color-on-tertiary-fixed: #26004a;
  --md-sys-color-on-tertiary-fixed-variant: #4f1c84;
  --md-sys-color-error: #ff7351;
  --md-sys-color-error-dim: #d53d18;
  --md-sys-color-on-error: #450900;
  --md-sys-color-error-container: #b92902;
  --md-sys-color-on-error-container: #ffd2c8;
}

.dark-medium-contrast {
  --md-sys-color-primary-palette-key-color: #d64145;
  --md-sys-color-secondary-palette-key-color: #c2516d;
  --md-sys-color-tertiary-palette-key-color: #9060c7;
  --md-sys-color-neutral-palette-key-color: #a06772;
  --md-sys-color-neutral-variant-palette-key-color: #ab6170;
  --md-sys-color-error-palette-key-color: #d9401b;
  --md-sys-color-background: #24020b;
  --md-sys-color-on-background: #ffffff;
  --md-sys-color-surface: #24020b;
  --md-sys-color-surface-dim: #24020b;
  --md-sys-color-surface-bright: #521727;
  --md-sys-color-surface-container-lowest: #000000;
  --md-sys-color-surface-container-low: #2c0410;
  --md-sys-color-surface-container: #350816;
  --md-sys-color-surface-container-high: #3f0d1b;
  --md-sys-color-surface-container-highest: #481221;
  --md-sys-color-on-surface: #ffffff;
  --md-sys-color-surface-variant: #481221;
  --md-sys-color-on-surface-variant: #e9a7b3;
  --md-sys-color-inverse-surface: #fff8f7;
  --md-sys-color-inverse-on-surface: #582a34;
  --md-sys-color-outline: #c0838e;
  --md-sys-color-outline-variant: #9f6570;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #ff9f9b;
  --md-sys-color-primary: #ff9f9b;
  --md-sys-color-primary-dim: #ff8884;
  --md-sys-color-on-primary: #60000c;
  --md-sys-color-primary-container: #ff7573;
  --md-sys-color-on-primary-container: #330004;
  --md-sys-color-inverse-primary: #a61c27;
  --md-sys-color-primary-fixed: #ff7573;
  --md-sys-color-primary-fixed-dim: #fc5d5e;
  --md-sys-color-on-primary-fixed: #000000;
  --md-sys-color-on-primary-fixed-variant: #000000;
  --md-sys-color-secondary: #ffb1c0;
  --md-sys-color-secondary-dim: #ff84a0;
  --md-sys-color-on-secondary: #6d0d2e;
  --md-sys-color-secondary-container: #bf4e6b;
  --md-sys-color-on-secondary-container: #ffffff;
  --md-sys-color-secondary-fixed: #ffc2cc;
  --md-sys-color-secondary-fixed-dim: #ffadbc;
  --md-sys-color-on-secondary-fixed: #240009;
  --md-sys-color-on-secondary-fixed-variant: #6a0a2c;
  --md-sys-color-tertiary: #d1a7ff;
  --md-sys-color-tertiary-dim: #c694ff;
  --md-sys-color-on-tertiary: #410576;
  --md-sys-color-tertiary-container: #bf8cf8;
  --md-sys-color-on-tertiary-container: #26004a;
  --md-sys-color-tertiary-fixed: #cb9cff;
  --md-sys-color-tertiary-fixed-dim: #bf8cf8;
  --md-sys-color-on-tertiary-fixed: #000000;
  --md-sys-color-on-tertiary-fixed-variant: #26004a;
  --md-sys-color-error: #ffa089;
  --md-sys-color-error-dim: #ff8a6d;
  --md-sys-color-on-error: #5a0e00;
  --md-sys-color-error-container: #d53d18;
  --md-sys-color-on-error-container: #ffffff;
}

.dark-high-contrast {
  --md-sys-color-primary-palette-key-color: #d64145;
  --md-sys-color-secondary-palette-key-color: #c2516d;
  --md-sys-color-tertiary-palette-key-color: #9060c7;
  --md-sys-color-neutral-palette-key-color: #a06772;
  --md-sys-color-neutral-variant-palette-key-color: #ab6170;
  --md-sys-color-error-palette-key-color: #d9401b;
  --md-sys-color-background: #24020b;
  --md-sys-color-on-background: #ffffff;
  --md-sys-color-surface: #24020b;
  --md-sys-color-surface-dim: #24020b;
  --md-sys-color-surface-bright: #521727;
  --md-sys-color-surface-container-lowest: #000000;
  --md-sys-color-surface-container-low: #2c0410;
  --md-sys-color-surface-container: #350816;
  --md-sys-color-surface-container-high: #3f0d1b;
  --md-sys-color-surface-container-highest: #481221;
  --md-sys-color-on-surface: #ffffff;
  --md-sys-color-surface-variant: #481221;
  --md-sys-color-on-surface-variant: #ffdde2;
  --md-sys-color-inverse-surface: #fff8f7;
  --md-sys-color-inverse-on-surface: #000000;
  --md-sys-color-outline: #e9a7b3;
  --md-sys-color-outline-variant: #c0838e;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #ffdedc;
  --md-sys-color-primary: #ffdedc;
  --md-sys-color-primary-dim: #ffc7c4;
  --md-sys-color-on-primary: #60000c;
  --md-sys-color-primary-container: #ff7573;
  --md-sys-color-on-primary-container: #000000;
  --md-sys-color-inverse-primary: #770012;
  --md-sys-color-primary-fixed: #ff7573;
  --md-sys-color-primary-fixed-dim: #fc5d5e;
  --md-sys-color-on-primary-fixed: #000000;
  --md-sys-color-on-primary-fixed-variant: #000000;
  --md-sys-color-secondary: #ffdde2;
  --md-sys-color-secondary-dim: #ffc6cf;
  --md-sys-color-on-secondary: #5e0024;
  --md-sys-color-secondary-container: #f27793;
  --md-sys-color-on-secondary-container: #000000;
  --md-sys-color-secondary-fixed: #ffc2cc;
  --md-sys-color-secondary-fixed-dim: #ffadbc;
  --md-sys-color-on-secondary-fixed: #000000;
  --md-sys-color-on-secondary-fixed-variant: #240009;
  --md-sys-color-tertiary: #f1dfff;
  --md-sys-color-tertiary-dim: #e5caff;
  --md-sys-color-on-tertiary: #410476;
  --md-sys-color-tertiary-container: #bf8cf8;
  --md-sys-color-on-tertiary-container: #000000;
  --md-sys-color-tertiary-fixed: #cb9cff;
  --md-sys-color-tertiary-fixed-dim: #bf8cf8;
  --md-sys-color-on-tertiary-fixed: #000000;
  --md-sys-color-on-tertiary-fixed-variant: #000000;
  --md-sys-color-error: #ffded7;
  --md-sys-color-error-dim: #ffc8bb;
  --md-sys-color-on-error: #5a0e00;
  --md-sys-color-error-container: #ff7351;
  --md-sys-color-on-error-container: #000000;
}

