.light {
  --md-sys-color-primary-palette-key-color: #c45251;
  --md-sys-color-secondary-palette-key-color: #ab6171;
  --md-sys-color-tertiary-palette-key-color: #9060c7;
  --md-sys-color-neutral-palette-key-color: #956c73;
  --md-sys-color-neutral-variant-palette-key-color: #9d6872;
  --md-sys-color-error-palette-key-color: #c75236;
  --md-sys-color-background: #000000;
  --md-sys-color-on-background: #ffffff;
  --md-sys-color-surface: #000000;
  --md-sys-color-surface-dim: #1f060c;
  --md-sys-color-surface-bright: #491f28;
  --md-sys-color-surface-container-lowest: #000000;
  --md-sys-color-surface-container-low: #3b1d23;
  --md-sys-color-surface-container: #47272e;
  --md-sys-color-surface-container-high: #533238;
  --md-sys-color-surface-container-highest: #401922;
  --md-sys-color-on-surface: #fffeff;
  --md-sys-color-surface-variant: #401922;
  --md-sys-color-on-surface-variant: #f3c1c9;
  --md-sys-color-inverse-surface: #fff8f7;
  --md-sys-color-inverse-on-surface: #704b52;
  --md-sys-color-outline: #c89aa1;
  --md-sys-color-outline-variant: #a57a82;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #ffbebb;
  --md-sys-color-primary: #ffbebb;
  --md-sys-color-primary-dim: #ff7f7c;
  --md-sys-color-on-primary: #400005;
  --md-sys-color-primary-container: #842326;
  --md-sys-color-on-primary-container: #ffd7d4;
  --md-sys-color-inverse-primary: #973132;
  --md-sys-color-primary-fixed: #842326;
  --md-sys-color-primary-fixed-dim: #74171c;
  --md-sys-color-on-primary-fixed: #ffbebb;
  --md-sys-color-on-primary-fixed-variant: #ff7f7c;
  --md-sys-color-secondary: #ffbdc8;
  --md-sys-color-secondary-dim: #fca6b7;
  --md-sys-color-on-secondary: #551c2b;
  --md-sys-color-secondary-container: #713341;
  --md-sys-color-on-secondary-container: #ffd6dc;
  --md-sys-color-secondary-fixed: #713341;
  --md-sys-color-secondary-fixed-dim: #632736;
  --md-sys-color-on-secondary-fixed: #ffbdc8;
  --md-sys-color-on-secondary-fixed-variant: #e08f9e;
  --md-sys-color-tertiary: #e0c2ff;
  --md-sys-color-tertiary-dim: #c18ffa;
  --md-sys-color-on-tertiary: #2a0051;
  --md-sys-color-tertiary-container: #b987f2;
  --md-sys-color-on-tertiary-container: #1c0039;
  --md-sys-color-tertiary-fixed: #b987f2;
  --md-sys-color-tertiary-fixed-dim: #ab7ae3;
  --md-sys-color-on-tertiary-fixed: #000000;
  --md-sys-color-on-tertiary-fixed-variant: #3e0073;
  --md-sys-color-error: #ffbfb0;
  --md-sys-color-error-dim: #ff8163;
  --md-sys-color-on-error: #3b0600;
  --md-sys-color-error-container: #85230a;
  --md-sys-color-on-error-container: #ffd7ce;
}

.light-medium-contrast {
  --md-sys-color-primary-palette-key-color: #c45251;
  --md-sys-color-secondary-palette-key-color: #ab6171;
  --md-sys-color-tertiary-palette-key-color: #9060c7;
  --md-sys-color-neutral-palette-key-color: #956c73;
  --md-sys-color-neutral-variant-palette-key-color: #9d6872;
  --md-sys-color-error-palette-key-color: #c75236;
  --md-sys-color-background: #000000;
  --md-sys-color-on-background: #ffffff;
  --md-sys-color-surface: #000000;
  --md-sys-color-surface-dim: #1f060c;
  --md-sys-color-surface-bright: #491f28;
  --md-sys-color-surface-container-lowest: #000000;
  --md-sys-color-surface-container-low: #3b1d23;
  --md-sys-color-surface-container: #47272e;
  --md-sys-color-surface-container-high: #533238;
  --md-sys-color-surface-container-highest: #401922;
  --md-sys-color-on-surface: #ffffff;
  --md-sys-color-surface-variant: #401922;
  --md-sys-color-on-surface-variant: #fffeff;
  --md-sys-color-inverse-surface: #fff8f7;
  --md-sys-color-inverse-on-surface: #502f35;
  --md-sys-color-outline: #f3c1c9;
  --md-sys-color-outline-variant: #c89aa1;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #fffeff;
  --md-sys-color-primary: #fffeff;
  --md-sys-color-primary-dim: #ffbebb;
  --md-sys-color-on-primary: #3d0005;
  --md-sys-color-primary-container: #842326;
  --md-sys-color-on-primary-container: #ffffff;
  --md-sys-color-inverse-primary: #701319;
  --md-sys-color-primary-fixed: #842326;
  --md-sys-color-primary-fixed-dim: #74171c;
  --md-sys-color-on-primary-fixed: #fffeff;
  --md-sys-color-on-primary-fixed-variant: #ffbebb;
  --md-sys-color-secondary: #fffeff;
  --md-sys-color-secondary-dim: #ffbdc8;
  --md-sys-color-on-secondary: #380515;
  --md-sys-color-secondary-container: #713341;
  --md-sys-color-on-secondary-container: #ffffff;
  --md-sys-color-secondary-fixed: #713341;
  --md-sys-color-secondary-fixed-dim: #632736;
  --md-sys-color-on-secondary-fixed: #fffeff;
  --md-sys-color-on-secondary-fixed-variant: #ffbdc8;
  --md-sys-color-tertiary: #fffeff;
  --md-sys-color-tertiary-dim: #e0c2ff;
  --md-sys-color-on-tertiary: #28004e;
  --md-sys-color-tertiary-container: #bf8cf8;
  --md-sys-color-on-tertiary-container: #000000;
  --md-sys-color-tertiary-fixed: #b987f2;
  --md-sys-color-tertiary-fixed-dim: #ab7ae3;
  --md-sys-color-on-tertiary-fixed: #000000;
  --md-sys-color-on-tertiary-fixed-variant: #000000;
  --md-sys-color-error: #fffeff;
  --md-sys-color-error-dim: #ffbfb0;
  --md-sys-color-on-error: #390600;
  --md-sys-color-error-container: #85230a;
  --md-sys-color-on-error-container: #ffffff;
}

.light-high-contrast {
  --md-sys-color-primary-palette-key-color: #c45251;
  --md-sys-color-secondary-palette-key-color: #ab6171;
  --md-sys-color-tertiary-palette-key-color: #9060c7;
  --md-sys-color-neutral-palette-key-color: #956c73;
  --md-sys-color-neutral-variant-palette-key-color: #9d6872;
  --md-sys-color-error-palette-key-color: #c75236;
  --md-sys-color-background: #000000;
  --md-sys-color-on-background: #ffffff;
  --md-sys-color-surface: #000000;
  --md-sys-color-surface-dim: #1f060c;
  --md-sys-color-surface-bright: #491f28;
  --md-sys-color-surface-container-lowest: #000000;
  --md-sys-color-surface-container-low: #3b1d23;
  --md-sys-color-surface-container: #47272e;
  --md-sys-color-surface-container-high: #533238;
  --md-sys-color-surface-container-highest: #401922;
  --md-sys-color-on-surface: #ffffff;
  --md-sys-color-surface-variant: #401922;
  --md-sys-color-on-surface-variant: #ffffff;
  --md-sys-color-inverse-surface: #fff8f7;
  --md-sys-color-inverse-on-surface: #000000;
  --md-sys-color-outline: #fffeff;
  --md-sys-color-outline-variant: #f3c1c9;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #ffffff;
  --md-sys-color-primary: #ffffff;
  --md-sys-color-primary-dim: #fffeff;
  --md-sys-color-on-primary: #000000;
  --md-sys-color-primary-container: #842326;
  --md-sys-color-on-primary-container: #ffffff;
  --md-sys-color-inverse-primary: #000000;
  --md-sys-color-primary-fixed: #842326;
  --md-sys-color-primary-fixed-dim: #74171c;
  --md-sys-color-on-primary-fixed: #ffffff;
  --md-sys-color-on-primary-fixed-variant: #fffeff;
  --md-sys-color-secondary: #ffffff;
  --md-sys-color-secondary-dim: #fffeff;
  --md-sys-color-on-secondary: #000000;
  --md-sys-color-secondary-container: #713341;
  --md-sys-color-on-secondary-container: #ffffff;
  --md-sys-color-secondary-fixed: #713341;
  --md-sys-color-secondary-fixed-dim: #632736;
  --md-sys-color-on-secondary-fixed: #ffffff;
  --md-sys-color-on-secondary-fixed-variant: #fffeff;
  --md-sys-color-tertiary: #ffffff;
  --md-sys-color-tertiary-dim: #fffeff;
  --md-sys-color-on-tertiary: #000000;
  --md-sys-color-tertiary-container: #bf8cf8;
  --md-sys-color-on-tertiary-container: #000000;
  --md-sys-color-tertiary-fixed: #b987f2;
  --md-sys-color-tertiary-fixed-dim: #ab7ae3;
  --md-sys-color-on-tertiary-fixed: #000000;
  --md-sys-color-on-tertiary-fixed-variant: #000000;
  --md-sys-color-error: #ffffff;
  --md-sys-color-error-dim: #fffeff;
  --md-sys-color-on-error: #000000;
  --md-sys-color-error-container: #85230a;
  --md-sys-color-on-error-container: #ffffff;
}

.dark {
  --md-sys-color-primary-palette-key-color: #c45251;
  --md-sys-color-secondary-palette-key-color: #ab6171;
  --md-sys-color-tertiary-palette-key-color: #9060c7;
  --md-sys-color-neutral-palette-key-color: #956c73;
  --md-sys-color-neutral-variant-palette-key-color: #9d6872;
  --md-sys-color-error-palette-key-color: #c75236;
  --md-sys-color-background: #000000;
  --md-sys-color-on-background: #ffffff;
  --md-sys-color-surface: #000000;
  --md-sys-color-surface-dim: #1f060c;
  --md-sys-color-surface-bright: #491f28;
  --md-sys-color-surface-container-lowest: #000000;
  --md-sys-color-surface-container-low: #3b1d23;
  --md-sys-color-surface-container: #47272e;
  --md-sys-color-surface-container-high: #533238;
  --md-sys-color-surface-container-highest: #401922;
  --md-sys-color-on-surface: #fffeff;
  --md-sys-color-surface-variant: #401922;
  --md-sys-color-on-surface-variant: #f3c1c9;
  --md-sys-color-inverse-surface: #fff8f7;
  --md-sys-color-inverse-on-surface: #704b52;
  --md-sys-color-outline: #c89aa1;
  --md-sys-color-outline-variant: #a57a82;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #ffbebb;
  --md-sys-color-primary: #ffbebb;
  --md-sys-color-primary-dim: #ff7f7c;
  --md-sys-color-on-primary: #400005;
  --md-sys-color-primary-container: #842326;
  --md-sys-color-on-primary-container: #ffd7d4;
  --md-sys-color-inverse-primary: #973132;
  --md-sys-color-primary-fixed: #842326;
  --md-sys-color-primary-fixed-dim: #74171c;
  --md-sys-color-on-primary-fixed: #ffbebb;
  --md-sys-color-on-primary-fixed-variant: #ff7f7c;
  --md-sys-color-secondary: #ffbdc8;
  --md-sys-color-secondary-dim: #fca6b7;
  --md-sys-color-on-secondary: #551c2b;
  --md-sys-color-secondary-container: #713341;
  --md-sys-color-on-secondary-container: #ffd6dc;
  --md-sys-color-secondary-fixed: #713341;
  --md-sys-color-secondary-fixed-dim: #632736;
  --md-sys-color-on-secondary-fixed: #ffbdc8;
  --md-sys-color-on-secondary-fixed-variant: #e08f9e;
  --md-sys-color-tertiary: #e0c2ff;
  --md-sys-color-tertiary-dim: #c18ffa;
  --md-sys-color-on-tertiary: #2a0051;
  --md-sys-color-tertiary-container: #b987f2;
  --md-sys-color-on-tertiary-container: #1c0039;
  --md-sys-color-tertiary-fixed: #b987f2;
  --md-sys-color-tertiary-fixed-dim: #ab7ae3;
  --md-sys-color-on-tertiary-fixed: #000000;
  --md-sys-color-on-tertiary-fixed-variant: #3e0073;
  --md-sys-color-error: #ffbfb0;
  --md-sys-color-error-dim: #ff8163;
  --md-sys-color-on-error: #3b0600;
  --md-sys-color-error-container: #85230a;
  --md-sys-color-on-error-container: #ffd7ce;
}

.dark-medium-contrast {
  --md-sys-color-primary-palette-key-color: #c45251;
  --md-sys-color-secondary-palette-key-color: #ab6171;
  --md-sys-color-tertiary-palette-key-color: #9060c7;
  --md-sys-color-neutral-palette-key-color: #956c73;
  --md-sys-color-neutral-variant-palette-key-color: #9d6872;
  --md-sys-color-error-palette-key-color: #c75236;
  --md-sys-color-background: #000000;
  --md-sys-color-on-background: #ffffff;
  --md-sys-color-surface: #000000;
  --md-sys-color-surface-dim: #1f060c;
  --md-sys-color-surface-bright: #491f28;
  --md-sys-color-surface-container-lowest: #000000;
  --md-sys-color-surface-container-low: #3b1d23;
  --md-sys-color-surface-container: #47272e;
  --md-sys-color-surface-container-high: #533238;
  --md-sys-color-surface-container-highest: #401922;
  --md-sys-color-on-surface: #ffffff;
  --md-sys-color-surface-variant: #401922;
  --md-sys-color-on-surface-variant: #fffeff;
  --md-sys-color-inverse-surface: #fff8f7;
  --md-sys-color-inverse-on-surface: #502f35;
  --md-sys-color-outline: #f3c1c9;
  --md-sys-color-outline-variant: #c89aa1;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #fffeff;
  --md-sys-color-primary: #fffeff;
  --md-sys-color-primary-dim: #ffbebb;
  --md-sys-color-on-primary: #3d0005;
  --md-sys-color-primary-container: #842326;
  --md-sys-color-on-primary-container: #ffffff;
  --md-sys-color-inverse-primary: #701319;
  --md-sys-color-primary-fixed: #842326;
  --md-sys-color-primary-fixed-dim: #74171c;
  --md-sys-color-on-primary-fixed: #fffeff;
  --md-sys-color-on-primary-fixed-variant: #ffbebb;
  --md-sys-color-secondary: #fffeff;
  --md-sys-color-secondary-dim: #ffbdc8;
  --md-sys-color-on-secondary: #380515;
  --md-sys-color-secondary-container: #713341;
  --md-sys-color-on-secondary-container: #ffffff;
  --md-sys-color-secondary-fixed: #713341;
  --md-sys-color-secondary-fixed-dim: #632736;
  --md-sys-color-on-secondary-fixed: #fffeff;
  --md-sys-color-on-secondary-fixed-variant: #ffbdc8;
  --md-sys-color-tertiary: #fffeff;
  --md-sys-color-tertiary-dim: #e0c2ff;
  --md-sys-color-on-tertiary: #28004e;
  --md-sys-color-tertiary-container: #bf8cf8;
  --md-sys-color-on-tertiary-container: #000000;
  --md-sys-color-tertiary-fixed: #b987f2;
  --md-sys-color-tertiary-fixed-dim: #ab7ae3;
  --md-sys-color-on-tertiary-fixed: #000000;
  --md-sys-color-on-tertiary-fixed-variant: #000000;
  --md-sys-color-error: #fffeff;
  --md-sys-color-error-dim: #ffbfb0;
  --md-sys-color-on-error: #390600;
  --md-sys-color-error-container: #85230a;
  --md-sys-color-on-error-container: #ffffff;
}

.dark-high-contrast {
  --md-sys-color-primary-palette-key-color: #c45251;
  --md-sys-color-secondary-palette-key-color: #ab6171;
  --md-sys-color-tertiary-palette-key-color: #9060c7;
  --md-sys-color-neutral-palette-key-color: #956c73;
  --md-sys-color-neutral-variant-palette-key-color: #9d6872;
  --md-sys-color-error-palette-key-color: #c75236;
  --md-sys-color-background: #000000;
  --md-sys-color-on-background: #ffffff;
  --md-sys-color-surface: #000000;
  --md-sys-color-surface-dim: #1f060c;
  --md-sys-color-surface-bright: #491f28;
  --md-sys-color-surface-container-lowest: #000000;
  --md-sys-color-surface-container-low: #3b1d23;
  --md-sys-color-surface-container: #47272e;
  --md-sys-color-surface-container-high: #533238;
  --md-sys-color-surface-container-highest: #401922;
  --md-sys-color-on-surface: #ffffff;
  --md-sys-color-surface-variant: #401922;
  --md-sys-color-on-surface-variant: #ffffff;
  --md-sys-color-inverse-surface: #fff8f7;
  --md-sys-color-inverse-on-surface: #000000;
  --md-sys-color-outline: #fffeff;
  --md-sys-color-outline-variant: #f3c1c9;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #ffffff;
  --md-sys-color-primary: #ffffff;
  --md-sys-color-primary-dim: #fffeff;
  --md-sys-color-on-primary: #000000;
  --md-sys-color-primary-container: #842326;
  --md-sys-color-on-primary-container: #ffffff;
  --md-sys-color-inverse-primary: #000000;
  --md-sys-color-primary-fixed: #842326;
  --md-sys-color-primary-fixed-dim: #74171c;
  --md-sys-color-on-primary-fixed: #ffffff;
  --md-sys-color-on-primary-fixed-variant: #fffeff;
  --md-sys-color-secondary: #ffffff;
  --md-sys-color-secondary-dim: #fffeff;
  --md-sys-color-on-secondary: #000000;
  --md-sys-color-secondary-container: #713341;
  --md-sys-color-on-secondary-container: #ffffff;
  --md-sys-color-secondary-fixed: #713341;
  --md-sys-color-secondary-fixed-dim: #632736;
  --md-sys-color-on-secondary-fixed: #ffffff;
  --md-sys-color-on-secondary-fixed-variant: #fffeff;
  --md-sys-color-tertiary: #ffffff;
  --md-sys-color-tertiary-dim: #fffeff;
  --md-sys-color-on-tertiary: #000000;
  --md-sys-color-tertiary-container: #bf8cf8;
  --md-sys-color-on-tertiary-container: #000000;
  --md-sys-color-tertiary-fixed: #b987f2;
  --md-sys-color-tertiary-fixed-dim: #ab7ae3;
  --md-sys-color-on-tertiary-fixed: #000000;
  --md-sys-color-on-tertiary-fixed-variant: #000000;
  --md-sys-color-error: #ffffff;
  --md-sys-color-error-dim: #fffeff;
  --md-sys-color-on-error: #000000;
  --md-sys-color-error-container: #85230a;
  --md-sys-color-on-error-container: #ffffff;
}

