.light {
  --md-sys-color-primary-palette-key-color: #5a67f4;
  --md-sys-color-secondary-palette-key-color: #6d72ae;
  --md-sys-color-tertiary-palette-key-color: #cb00db;
  --md-sys-color-neutral-palette-key-color: #777681;
  --md-sys-color-neutral-variant-palette-key-color: #767686;
  --md-sys-color-error-palette-key-color: #de3730;
  --md-sys-color-background: #fbf8ff;
  --md-sys-color-on-background: #1a1b23;
  --md-sys-color-surface: #fbf8ff;
  --md-sys-color-surface-dim: #dbd9e5;
  --md-sys-color-surface-bright: #fbf8ff;
  --md-sys-color-surface-container-lowest: #ffffff;
  --md-sys-color-surface-container-low: #f4f2fe;
  --md-sys-color-surface-container: #efecf9;
  --md-sys-color-surface-container-high: #e9e7f3;
  --md-sys-color-surface-container-highest: #e3e1ed;
  --md-sys-color-on-surface: #1a1b23;
  --md-sys-color-surface-variant: #e2e1f4;
  --md-sys-color-on-surface-variant: #454655;
  --md-sys-color-inverse-surface: #2f3039;
  --md-sys-color-inverse-on-surface: #f2effb;
  --md-sys-color-outline: #767686;
  --md-sys-color-outline-variant: #c6c5d7;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #3f4cda;
  --md-sys-color-primary: #3d4ad8;
  --md-sys-color-primary-dim: #4a57e4;
  --md-sys-color-on-primary: #ffffff;
  --md-sys-color-primary-container: #5865f2;
  --md-sys-color-on-primary-container: #fffdff;
  --md-sys-color-inverse-primary: #bec2ff;
  --md-sys-color-primary-fixed: #e0e0ff;
  --md-sys-color-primary-fixed-dim: #bec2ff;
  --md-sys-color-on-primary-fixed: #000569;
  --md-sys-color-on-primary-fixed-variant: #222fc2;
  --md-sys-color-secondary: #545994;
  --md-sys-color-secondary-dim: #5e639e;
  --md-sys-color-on-secondary: #ffffff;
  --md-sys-color-secondary-container: #b7bcfe;
  --md-sys-color-on-secondary-container: #444a83;
  --md-sys-color-secondary-fixed: #e0e0ff;
  --md-sys-color-secondary-fixed-dim: #bec2ff;
  --md-sys-color-on-secondary-fixed: #0f144d;
  --md-sys-color-on-secondary-fixed-variant: #3c427a;
  --md-sys-color-tertiary: #a200af;
  --md-sys-color-tertiary-dim: #b500c4;
  --md-sys-color-on-tertiary: #ffffff;
  --md-sys-color-tertiary-container: #cb00db;
  --md-sys-color-on-tertiary-container: #fffdff;
  --md-sys-color-tertiary-fixed: #ffd6f9;
  --md-sys-color-tertiary-fixed-dim: #ffa9fd;
  --md-sys-color-on-tertiary-fixed: #37003c;
  --md-sys-color-on-tertiary-fixed-variant: #7e0089;
  --md-sys-color-error: #ba1a1a;
  --md-sys-color-error-dim: #ac0c12;
  --md-sys-color-on-error: #ffffff;
  --md-sys-color-error-container: #ffdad6;
  --md-sys-color-on-error-container: #93000a;
  --md-sys-color-control-activated: #e0e0ff;
  --md-sys-color-control-normal: #454655;
  --md-sys-color-control-highlight: #0000001f;
  --md-sys-color-text-primary-inverse: #e3e1ed;
  --md-sys-color-text-secondary-and-tertiary-inverse: #c6c5d7;
  --md-sys-color-text-primary-inverse-disable-only: #e3e1ed;
  --md-sys-color-text-secondary-and-tertiary-inverse-disabled: #e3e1ed;
  --md-sys-color-text-hint-inverse: #e3e1ed;
}

.light-medium-contrast {
  --md-sys-color-primary-palette-key-color: #5a67f4;
  --md-sys-color-secondary-palette-key-color: #6d72ae;
  --md-sys-color-tertiary-palette-key-color: #cb00db;
  --md-sys-color-neutral-palette-key-color: #777681;
  --md-sys-color-neutral-variant-palette-key-color: #767686;
  --md-sys-color-error-palette-key-color: #de3730;
  --md-sys-color-background: #fbf8ff;
  --md-sys-color-on-background: #1a1b23;
  --md-sys-color-surface: #fbf8ff;
  --md-sys-color-surface-dim: #c7c5d1;
  --md-sys-color-surface-bright: #fbf8ff;
  --md-sys-color-surface-container-lowest: #ffffff;
  --md-sys-color-surface-container-low: #f4f2fe;
  --md-sys-color-surface-container: #e9e7f3;
  --md-sys-color-surface-container-high: #dddbe7;
  --md-sys-color-surface-container-highest: #d2d0dc;
  --md-sys-color-on-surface: #101119;
  --md-sys-color-surface-variant: #e2e1f4;
  --md-sys-color-on-surface-variant: #343543;
  --md-sys-color-inverse-surface: #2f3039;
  --md-sys-color-inverse-on-surface: #f2effb;
  --md-sys-color-outline: #515161;
  --md-sys-color-outline-variant: #6b6c7c;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #3f4cda;
  --md-sys-color-primary: #0211b3;
  --md-sys-color-primary-dim: #1f2bc0;
  --md-sys-color-on-primary: #ffffff;
  --md-sys-color-primary-container: #4f5ce9;
  --md-sys-color-on-primary-container: #ffffff;
  --md-sys-color-inverse-primary: #bec2ff;
  --md-sys-color-primary-fixed: #4f5ce9;
  --md-sys-color-primary-fixed-dim: #3441d0;
  --md-sys-color-on-primary-fixed: #ffffff;
  --md-sys-color-on-primary-fixed-variant: #ffffff;
  --md-sys-color-secondary: #2b3168;
  --md-sys-color-secondary-dim: #3a3f78;
  --md-sys-color-on-secondary: #ffffff;
  --md-sys-color-secondary-container: #6368a4;
  --md-sys-color-on-secondary-container: #ffffff;
  --md-sys-color-secondary-fixed: #6368a4;
  --md-sys-color-secondary-fixed-dim: #4a508a;
  --md-sys-color-on-secondary-fixed: #ffffff;
  --md-sys-color-on-secondary-fixed-variant: #ffffff;
  --md-sys-color-tertiary: #63006b;
  --md-sys-color-tertiary-dim: #7a0085;
  --md-sys-color-on-tertiary: #ffffff;
  --md-sys-color-tertiary-container: #bd00cd;
  --md-sys-color-on-tertiary-container: #ffffff;
  --md-sys-color-tertiary-fixed: #bd00cd;
  --md-sys-color-tertiary-fixed-dim: #9500a1;
  --md-sys-color-on-tertiary-fixed: #ffffff;
  --md-sys-color-on-tertiary-fixed-variant: #ffffff;
  --md-sys-color-error: #740006;
  --md-sys-color-error-dim: #8f0009;
  --md-sys-color-on-error: #ffffff;
  --md-sys-color-error-container: #cf2c27;
  --md-sys-color-on-error-container: #ffffff;
  --md-sys-color-control-activated: #e0e0ff;
  --md-sys-color-control-normal: #454655;
  --md-sys-color-control-highlight: #0000001f;
  --md-sys-color-text-primary-inverse: #e3e1ed;
  --md-sys-color-text-secondary-and-tertiary-inverse: #c6c5d7;
  --md-sys-color-text-primary-inverse-disable-only: #e3e1ed;
  --md-sys-color-text-secondary-and-tertiary-inverse-disabled: #e3e1ed;
  --md-sys-color-text-hint-inverse: #e3e1ed;
}

.light-high-contrast {
  --md-sys-color-primary-palette-key-color: #5a67f4;
  --md-sys-color-secondary-palette-key-color: #6d72ae;
  --md-sys-color-tertiary-palette-key-color: #cb00db;
  --md-sys-color-neutral-palette-key-color: #777681;
  --md-sys-color-neutral-variant-palette-key-color: #767686;
  --md-sys-color-error-palette-key-color: #de3730;
  --md-sys-color-background: #fbf8ff;
  --md-sys-color-on-background: #1a1b23;
  --md-sys-color-surface: #fbf8ff;
  --md-sys-color-surface-dim: #b9b7c3;
  --md-sys-color-surface-bright: #fbf8ff;
  --md-sys-color-surface-container-lowest: #ffffff;
  --md-sys-color-surface-container-low: #f2effb;
  --md-sys-color-surface-container: #e3e1ed;
  --md-sys-color-surface-container-high: #d5d3df;
  --md-sys-color-surface-container-highest: #c7c5d1;
  --md-sys-color-on-surface: #000000;
  --md-sys-color-surface-variant: #e2e1f4;
  --md-sys-color-on-surface-variant: #000000;
  --md-sys-color-inverse-surface: #2f3039;
  --md-sys-color-inverse-on-surface: #ffffff;
  --md-sys-color-outline: #2a2b39;
  --md-sys-color-outline-variant: #474857;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #3f4cda;
  --md-sys-color-primary: #000b98;
  --md-sys-color-primary-dim: #000674;
  --md-sys-color-on-primary: #ffffff;
  --md-sys-color-primary-container: #2532c4;
  --md-sys-color-on-primary-container: #ffffff;
  --md-sys-color-inverse-primary: #bec2ff;
  --md-sys-color-primary-fixed: #2532c4;
  --md-sys-color-primary-fixed-dim: #000eab;
  --md-sys-color-on-primary-fixed: #ffffff;
  --md-sys-color-on-primary-fixed-variant: #ffffff;
  --md-sys-color-secondary: #21265e;
  --md-sys-color-secondary-dim: #131851;
  --md-sys-color-on-secondary: #ffffff;
  --md-sys-color-secondary-container: #3f447d;
  --md-sys-color-on-secondary-container: #ffffff;
  --md-sys-color-secondary-fixed: #3f447d;
  --md-sys-color-secondary-fixed-dim: #282d65;
  --md-sys-color-on-secondary-fixed: #ffffff;
  --md-sys-color-on-secondary-fixed-variant: #ffffff;
  --md-sys-color-tertiary: #520059;
  --md-sys-color-tertiary-dim: #3d0043;
  --md-sys-color-on-tertiary: #ffffff;
  --md-sys-color-tertiary-container: #82008d;
  --md-sys-color-on-tertiary-container: #ffffff;
  --md-sys-color-tertiary-fixed: #82008d;
  --md-sys-color-tertiary-fixed-dim: #5d0065;
  --md-sys-color-on-tertiary-fixed: #ffffff;
  --md-sys-color-on-tertiary-fixed-variant: #ffffff;
  --md-sys-color-error: #600004;
  --md-sys-color-error-dim: #480002;
  --md-sys-color-on-error: #ffffff;
  --md-sys-color-error-container: #98000a;
  --md-sys-color-on-error-container: #ffffff;
  --md-sys-color-control-activated: #e0e0ff;
  --md-sys-color-control-normal: #454655;
  --md-sys-color-control-highlight: #0000001f;
  --md-sys-color-text-primary-inverse: #e3e1ed;
  --md-sys-color-text-secondary-and-tertiary-inverse: #c6c5d7;
  --md-sys-color-text-primary-inverse-disable-only: #e3e1ed;
  --md-sys-color-text-secondary-and-tertiary-inverse-disabled: #e3e1ed;
  --md-sys-color-text-hint-inverse: #e3e1ed;
}

.dark {
  --md-sys-color-primary-palette-key-color: #5a67f4;
  --md-sys-color-secondary-palette-key-color: #6d72ae;
  --md-sys-color-tertiary-palette-key-color: #cb00db;
  --md-sys-color-neutral-palette-key-color: #777681;
  --md-sys-color-neutral-variant-palette-key-color: #767686;
  --md-sys-color-error-palette-key-color: #de3730;
  --md-sys-color-background: #12131b;
  --md-sys-color-on-background: #e3e1ed;
  --md-sys-color-surface: #12131b;
  --md-sys-color-surface-dim: #12131b;
  --md-sys-color-surface-bright: #383842;
  --md-sys-color-surface-container-lowest: #0d0e16;
  --md-sys-color-surface-container-low: #1a1b23;
  --md-sys-color-surface-container: #1f1f27;
  --md-sys-color-surface-container-high: #292932;
  --md-sys-color-surface-container-highest: #34343d;
  --md-sys-color-on-surface: #e3e1ed;
  --md-sys-color-surface-variant: #454655;
  --md-sys-color-on-surface-variant: #c6c5d7;
  --md-sys-color-inverse-surface: #e3e1ed;
  --md-sys-color-inverse-on-surface: #2f3039;
  --md-sys-color-outline: #8f8fa0;
  --md-sys-color-outline-variant: #454655;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #bec2ff;
  --md-sys-color-primary: #bec2ff;
  --md-sys-color-primary-dim: #cfd1ff;
  --md-sys-color-on-primary: #000da4;
  --md-sys-color-primary-container: #5865f2;
  --md-sys-color-on-primary-container: #fffdff;
  --md-sys-color-inverse-primary: #3f4cda;
  --md-sys-color-primary-fixed: #e0e0ff;
  --md-sys-color-primary-fixed-dim: #bec2ff;
  --md-sys-color-on-primary-fixed: #000569;
  --md-sys-color-on-primary-fixed-variant: #222fc2;
  --md-sys-color-secondary: #bec2ff;
  --md-sys-color-secondary-dim: #cfd1ff;
  --md-sys-color-on-secondary: #252b62;
  --md-sys-color-secondary-container: #3f447d;
  --md-sys-color-on-secondary-container: #aeb4f4;
  --md-sys-color-secondary-fixed: #e0e0ff;
  --md-sys-color-secondary-fixed-dim: #bec2ff;
  --md-sys-color-on-secondary-fixed: #0f144d;
  --md-sys-color-on-secondary-fixed-variant: #3c427a;
  --md-sys-color-tertiary: #ffa9fd;
  --md-sys-color-tertiary-dim: #ffc0fb;
  --md-sys-color-on-tertiary: #590061;
  --md-sys-color-tertiary-container: #cb00db;
  --md-sys-color-on-tertiary-container: #fffdff;
  --md-sys-color-tertiary-fixed: #ffd6f9;
  --md-sys-color-tertiary-fixed-dim: #ffa9fd;
  --md-sys-color-on-tertiary-fixed: #37003c;
  --md-sys-color-on-tertiary-fixed-variant: #7e0089;
  --md-sys-color-error: #ffb4ab;
  --md-sys-color-error-dim: #ffc7c0;
  --md-sys-color-on-error: #690005;
  --md-sys-color-error-container: #93000a;
  --md-sys-color-on-error-container: #ffdad6;
  --md-sys-color-control-activated: #222fc2;
  --md-sys-color-control-normal: #c6c5d7;
  --md-sys-color-control-highlight: #ffffff33;
  --md-sys-color-text-primary-inverse: #1a1b23;
  --md-sys-color-text-secondary-and-tertiary-inverse: #454655;
  --md-sys-color-text-primary-inverse-disable-only: #1a1b23;
  --md-sys-color-text-secondary-and-tertiary-inverse-disabled: #1a1b23;
  --md-sys-color-text-hint-inverse: #1a1b23;
}

.dark-medium-contrast {
  --md-sys-color-primary-palette-key-color: #5a67f4;
  --md-sys-color-secondary-palette-key-color: #6d72ae;
  --md-sys-color-tertiary-palette-key-color: #cb00db;
  --md-sys-color-neutral-palette-key-color: #777681;
  --md-sys-color-neutral-variant-palette-key-color: #767686;
  --md-sys-color-error-palette-key-color: #de3730;
  --md-sys-color-background: #12131b;
  --md-sys-color-on-background: #e3e1ed;
  --md-sys-color-surface: #12131b;
  --md-sys-color-surface-dim: #12131b;
  --md-sys-color-surface-bright: #44444d;
  --md-sys-color-surface-container-lowest: #06070e;
  --md-sys-color-surface-container-low: #1c1d25;
  --md-sys-color-surface-container: #272730;
  --md-sys-color-surface-container-high: #32323b;
  --md-sys-color-surface-container-highest: #3d3d46;
  --md-sys-color-on-surface: #ffffff;
  --md-sys-color-surface-variant: #454655;
  --md-sys-color-on-surface-variant: #dcdaed;
  --md-sys-color-inverse-surface: #e3e1ed;
  --md-sys-color-inverse-on-surface: #292932;
  --md-sys-color-outline: #b1b0c2;
  --md-sys-color-outline-variant: #8f8fa0;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #bec2ff;
  --md-sys-color-primary: #d8d9ff;
  --md-sys-color-primary-dim: #cfd1ff;
  --md-sys-color-on-primary: #000986;
  --md-sys-color-primary-container: #7a85ff;
  --md-sys-color-on-primary-container: #000000;
  --md-sys-color-inverse-primary: #2430c3;
  --md-sys-color-primary-fixed: #e0e0ff;
  --md-sys-color-primary-fixed-dim: #bec2ff;
  --md-sys-color-on-primary-fixed: #00034b;
  --md-sys-color-on-primary-fixed-variant: #0211b3;
  --md-sys-color-secondary: #d8d9ff;
  --md-sys-color-secondary-dim: #cfd1ff;
  --md-sys-color-on-secondary: #1a1f57;
  --md-sys-color-secondary-container: #878cca;
  --md-sys-color-on-secondary-container: #000000;
  --md-sys-color-secondary-fixed: #e0e0ff;
  --md-sys-color-secondary-fixed-dim: #bec2ff;
  --md-sys-color-on-secondary-fixed: #030643;
  --md-sys-color-on-secondary-fixed-variant: #2b3168;
  --md-sys-color-tertiary: #ffcdfa;
  --md-sys-color-tertiary-dim: #ffc0fb;
  --md-sys-color-on-tertiary: #47004e;
  --md-sys-color-tertiary-container: #f034ff;
  --md-sys-color-on-tertiary-container: #000000;
  --md-sys-color-tertiary-fixed: #ffd6f9;
  --md-sys-color-tertiary-fixed-dim: #ffa9fd;
  --md-sys-color-on-tertiary-fixed: #250029;
  --md-sys-color-on-tertiary-fixed-variant: #63006b;
  --md-sys-color-error: #ffd2cc;
  --md-sys-color-error-dim: #ffc7c0;
  --md-sys-color-on-error: #540003;
  --md-sys-color-error-container: #ff5449;
  --md-sys-color-on-error-container: #000000;
  --md-sys-color-control-activated: #222fc2;
  --md-sys-color-control-normal: #c6c5d7;
  --md-sys-color-control-highlight: #ffffff33;
  --md-sys-color-text-primary-inverse: #1a1b23;
  --md-sys-color-text-secondary-and-tertiary-inverse: #454655;
  --md-sys-color-text-primary-inverse-disable-only: #1a1b23;
  --md-sys-color-text-secondary-and-tertiary-inverse-disabled: #1a1b23;
  --md-sys-color-text-hint-inverse: #1a1b23;
}

.dark-high-contrast {
  --md-sys-color-primary-palette-key-color: #5a67f4;
  --md-sys-color-secondary-palette-key-color: #6d72ae;
  --md-sys-color-tertiary-palette-key-color: #cb00db;
  --md-sys-color-neutral-palette-key-color: #777681;
  --md-sys-color-neutral-variant-palette-key-color: #767686;
  --md-sys-color-error-palette-key-color: #de3730;
  --md-sys-color-background: #12131b;
  --md-sys-color-on-background: #e3e1ed;
  --md-sys-color-surface: #12131b;
  --md-sys-color-surface-dim: #12131b;
  --md-sys-color-surface-bright: #4f4f59;
  --md-sys-color-surface-container-lowest: #000000;
  --md-sys-color-surface-container-low: #1f1f27;
  --md-sys-color-surface-container: #2f3039;
  --md-sys-color-surface-container-high: #3b3b44;
  --md-sys-color-surface-container-highest: #46464f;
  --md-sys-color-on-surface: #ffffff;
  --md-sys-color-surface-variant: #454655;
  --md-sys-color-on-surface-variant: #ffffff;
  --md-sys-color-inverse-surface: #e3e1ed;
  --md-sys-color-inverse-on-surface: #000000;
  --md-sys-color-outline: #f0eeff;
  --md-sys-color-outline-variant: #c2c1d3;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #bec2ff;
  --md-sys-color-primary: #f0eeff;
  --md-sys-color-primary-dim: #fffeff;
  --md-sys-color-on-primary: #000000;
  --md-sys-color-primary-container: #b9beff;
  --md-sys-color-on-primary-container: #00023a;
  --md-sys-color-inverse-primary: #2430c3;
  --md-sys-color-primary-fixed: #e0e0ff;
  --md-sys-color-primary-fixed-dim: #bec2ff;
  --md-sys-color-on-primary-fixed: #000000;
  --md-sys-color-on-primary-fixed-variant: #00034b;
  --md-sys-color-secondary: #f0eeff;
  --md-sys-color-secondary-dim: #fffeff;
  --md-sys-color-on-secondary: #000000;
  --md-sys-color-secondary-container: #b9beff;
  --md-sys-color-on-secondary-container: #00023a;
  --md-sys-color-secondary-fixed: #e0e0ff;
  --md-sys-color-secondary-fixed-dim: #bec2ff;
  --md-sys-color-on-secondary-fixed: #000000;
  --md-sys-color-on-secondary-fixed-variant: #030643;
  --md-sys-color-tertiary: #ffeaf9;
  --md-sys-color-tertiary-dim: #fffeff;
  --md-sys-color-on-tertiary: #000000;
  --md-sys-color-tertiary-container: #ffa2fe;
  --md-sys-color-on-tertiary-container: #1c001f;
  --md-sys-color-tertiary-fixed: #ffd6f9;
  --md-sys-color-tertiary-fixed-dim: #ffa9fd;
  --md-sys-color-on-tertiary-fixed: #000000;
  --md-sys-color-on-tertiary-fixed-variant: #250029;
  --md-sys-color-error: #ffece9;
  --md-sys-color-error-dim: #fffeff;
  --md-sys-color-on-error: #000000;
  --md-sys-color-error-container: #ffaea4;
  --md-sys-color-on-error-container: #220001;
  --md-sys-color-control-activated: #222fc2;
  --md-sys-color-control-normal: #c6c5d7;
  --md-sys-color-control-highlight: #ffffff33;
  --md-sys-color-text-primary-inverse: #1a1b23;
  --md-sys-color-text-secondary-and-tertiary-inverse: #454655;
  --md-sys-color-text-primary-inverse-disable-only: #1a1b23;
  --md-sys-color-text-secondary-and-tertiary-inverse-disabled: #1a1b23;
  --md-sys-color-text-hint-inverse: #1a1b23;
}

