.light {
  --md-sys-color-primary-palette-key-color: #5a67f4;
  --md-sys-color-secondary-palette-key-color: #6d72ae;
  --md-sys-color-tertiary-palette-key-color: #cb00db;
  --md-sys-color-neutral-palette-key-color: #777681;
  --md-sys-color-neutral-variant-palette-key-color: #767686;
  --md-sys-color-error-palette-key-color: #de3730;
  --md-sys-color-background: #fbf8ff;
  --md-sys-color-on-background: #31323b;
  --md-sys-color-surface: #fbf8ff;
  --md-sys-color-surface-dim: #dbd9e5;
  --md-sys-color-surface-bright: #fbf8ff;
  --md-sys-color-surface-container-lowest: #ffffff;
  --md-sys-color-surface-container-low: #f4f2fe;
  --md-sys-color-surface-container: #efecf9;
  --md-sys-color-surface-container-high: #e9e7f3;
  --md-sys-color-surface-container-highest: #e3e1ed;
  --md-sys-color-on-surface: #31323b;
  --md-sys-color-surface-variant: #e3e1ed;
  --md-sys-color-on-surface-variant: #5e5e68;
  --md-sys-color-inverse-surface: #0d0e16;
  --md-sys-color-inverse-on-surface: #9d9ca7;
  --md-sys-color-outline: #7a7a84;
  --md-sys-color-outline-variant: #b2b1bc;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #404dda;
  --md-sys-color-primary: #404dda;
  --md-sys-color-primary-dim: #323fce;
  --md-sys-color-on-primary: #fbf8ff;
  --md-sys-color-primary-container: #8e98ff;
  --md-sys-color-on-primary-container: #00087d;
  --md-sys-color-inverse-primary: #7a85ff;
  --md-sys-color-primary-fixed: #8e98ff;
  --md-sys-color-primary-fixed-dim: #7d88ff;
  --md-sys-color-on-primary-fixed: #000000;
  --md-sys-color-on-primary-fixed-variant: #000b98;
  --md-sys-color-secondary: #555a95;
  --md-sys-color-secondary-dim: #494e88;
  --md-sys-color-on-secondary: #fbf8ff;
  --md-sys-color-secondary-container: #e0e0ff;
  --md-sys-color-on-secondary-container: #474d86;
  --md-sys-color-secondary-fixed: #e0e0ff;
  --md-sys-color-secondary-fixed-dim: #cfd1ff;
  --md-sys-color-on-secondary-fixed: #353a72;
  --md-sys-color-on-secondary-fixed-variant: #515791;
  --md-sys-color-tertiary: #a600b4;
  --md-sys-color-tertiary-dim: #92009f;
  --md-sys-color-on-tertiary: #fff7fa;
  --md-sys-color-tertiary-container: #fc81ff;
  --md-sys-color-on-tertiary-container: #590061;
  --md-sys-color-tertiary-fixed: #fc81ff;
  --md-sys-color-tertiary-fixed-dim: #f767ff;
  --md-sys-color-on-tertiary-fixed: #310035;
  --md-sys-color-on-tertiary-fixed-variant: #680071;
  --md-sys-color-error: #bb1b1b;
  --md-sys-color-error-dim: #a90810;
  --md-sys-color-on-error: #fff7f6;
  --md-sys-color-error-container: #fe4e44;
  --md-sys-color-on-error-container: #570003;
  --md-sys-color-control-activated: #8e98ff;
  --md-sys-color-control-normal: #5e5e68;
  --md-sys-color-control-highlight: #0000001f;
  --md-sys-color-text-primary-inverse: #9d9ca7;
  --md-sys-color-text-secondary-and-tertiary-inverse: #c6c5d7;
  --md-sys-color-text-primary-inverse-disable-only: #e3e1ed;
  --md-sys-color-text-secondary-and-tertiary-inverse-disabled: #e3e1ed;
  --md-sys-color-text-hint-inverse: #e3e1ed;
}

.light-medium-contrast {
  --md-sys-color-primary-palette-key-color: #5a67f4;
  --md-sys-color-secondary-palette-key-color: #6d72ae;
  --md-sys-color-tertiary-palette-key-color: #cb00db;
  --md-sys-color-neutral-palette-key-color: #777681;
  --md-sys-color-neutral-variant-palette-key-color: #767686;
  --md-sys-color-error-palette-key-color: #de3730;
  --md-sys-color-background: #fbf8ff;
  --md-sys-color-on-background: #23232c;
  --md-sys-color-surface: #fbf8ff;
  --md-sys-color-surface-dim: #dbd9e5;
  --md-sys-color-surface-bright: #fbf8ff;
  --md-sys-color-surface-container-lowest: #ffffff;
  --md-sys-color-surface-container-low: #f4f2fe;
  --md-sys-color-surface-container: #efecf9;
  --md-sys-color-surface-container-high: #e9e7f3;
  --md-sys-color-surface-container-highest: #e3e1ed;
  --md-sys-color-on-surface: #23232c;
  --md-sys-color-surface-variant: #e3e1ed;
  --md-sys-color-on-surface-variant: #42424b;
  --md-sys-color-inverse-surface: #0d0e16;
  --md-sys-color-inverse-on-surface: #c5c3cf;
  --md-sys-color-outline: #5e5e68;
  --md-sys-color-outline-variant: #7a7a84;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #1c29be;
  --md-sys-color-primary: #1c29be;
  --md-sys-color-primary-dim: #0615b4;
  --md-sys-color-on-primary: #d5d7ff;
  --md-sys-color-primary-container: #5764f1;
  --md-sys-color-on-primary-container: #ffffff;
  --md-sys-color-inverse-primary: #8993ff;
  --md-sys-color-primary-fixed: #5764f1;
  --md-sys-color-primary-fixed-dim: #4a57e4;
  --md-sys-color-on-primary-fixed: #ffffff;
  --md-sys-color-on-primary-fixed-variant: #ffffff;
  --md-sys-color-secondary: #383e76;
  --md-sys-color-secondary-dim: #2d326a;
  --md-sys-color-on-secondary: #d5d7ff;
  --md-sys-color-secondary-container: #6a70ac;
  --md-sys-color-on-secondary-container: #ffffff;
  --md-sys-color-secondary-fixed: #6a70ac;
  --md-sys-color-secondary-fixed-dim: #5e639e;
  --md-sys-color-on-secondary-fixed: #ffffff;
  --md-sys-color-on-secondary-fixed-variant: #ffffff;
  --md-sys-color-tertiary: #780082;
  --md-sys-color-tertiary-dim: #65006e;
  --md-sys-color-on-tertiary: #ffc9fa;
  --md-sys-color-tertiary-container: #ca00da;
  --md-sys-color-on-tertiary-container: #ffffff;
  --md-sys-color-tertiary-fixed: #ca00da;
  --md-sys-color-tertiary-fixed-dim: #b500c4;
  --md-sys-color-on-tertiary-fixed: #ffffff;
  --md-sys-color-on-tertiary-fixed-variant: #ffffff;
  --md-sys-color-error: #8c0009;
  --md-sys-color-error-dim: #760006;
  --md-sys-color-on-error: #ffcec8;
  --md-sys-color-error-container: #da342e;
  --md-sys-color-on-error-container: #ffffff;
  --md-sys-color-control-activated: #5764f1;
  --md-sys-color-control-normal: #42424b;
  --md-sys-color-control-highlight: #0000001f;
  --md-sys-color-text-primary-inverse: #c5c3cf;
  --md-sys-color-text-secondary-and-tertiary-inverse: #c6c5d7;
  --md-sys-color-text-primary-inverse-disable-only: #e3e1ed;
  --md-sys-color-text-secondary-and-tertiary-inverse-disabled: #e3e1ed;
  --md-sys-color-text-hint-inverse: #e3e1ed;
}

.light-high-contrast {
  --md-sys-color-primary-palette-key-color: #5a67f4;
  --md-sys-color-secondary-palette-key-color: #6d72ae;
  --md-sys-color-tertiary-palette-key-color: #cb00db;
  --md-sys-color-neutral-palette-key-color: #777681;
  --md-sys-color-neutral-variant-palette-key-color: #767686;
  --md-sys-color-error-palette-key-color: #de3730;
  --md-sys-color-background: #fbf8ff;
  --md-sys-color-on-background: #000000;
  --md-sys-color-surface: #fbf8ff;
  --md-sys-color-surface-dim: #dbd9e5;
  --md-sys-color-surface-bright: #fbf8ff;
  --md-sys-color-surface-container-lowest: #ffffff;
  --md-sys-color-surface-container-low: #f4f2fe;
  --md-sys-color-surface-container: #efecf9;
  --md-sys-color-surface-container-high: #e9e7f3;
  --md-sys-color-surface-container-highest: #e3e1ed;
  --md-sys-color-on-surface: #000000;
  --md-sys-color-surface-variant: #e3e1ed;
  --md-sys-color-on-surface-variant: #23232c;
  --md-sys-color-inverse-surface: #0d0e16;
  --md-sys-color-inverse-on-surface: #ffffff;
  --md-sys-color-outline: #42424b;
  --md-sys-color-outline-variant: #5e5e68;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #000881;
  --md-sys-color-primary: #000881;
  --md-sys-color-primary-dim: #000564;
  --md-sys-color-on-primary: #d5d7ff;
  --md-sys-color-primary-container: #404dda;
  --md-sys-color-on-primary-container: #ffffff;
  --md-sys-color-inverse-primary: #bbc0ff;
  --md-sys-color-primary-fixed: #404dda;
  --md-sys-color-primary-fixed-dim: #323fce;
  --md-sys-color-on-primary-fixed: #ffffff;
  --md-sys-color-on-primary-fixed-variant: #ffffff;
  --md-sys-color-secondary: #181d55;
  --md-sys-color-secondary-dim: #0d124b;
  --md-sys-color-on-secondary: #d5d7ff;
  --md-sys-color-secondary-container: #555a95;
  --md-sys-color-on-secondary-container: #ffffff;
  --md-sys-color-secondary-fixed: #555a95;
  --md-sys-color-secondary-fixed-dim: #494e88;
  --md-sys-color-on-secondary-fixed: #ffffff;
  --md-sys-color-on-secondary-fixed-variant: #ffffff;
  --md-sys-color-tertiary: #44004b;
  --md-sys-color-tertiary-dim: #340039;
  --md-sys-color-on-tertiary: #ffc9fa;
  --md-sys-color-tertiary-container: #a600b4;
  --md-sys-color-on-tertiary-container: #ffffff;
  --md-sys-color-tertiary-fixed: #a600b4;
  --md-sys-color-tertiary-fixed-dim: #92009f;
  --md-sys-color-on-tertiary-fixed: #ffffff;
  --md-sys-color-on-tertiary-fixed-variant: #ffffff;
  --md-sys-color-error: #510003;
  --md-sys-color-error-dim: #3e0002;
  --md-sys-color-on-error: #ffcfc9;
  --md-sys-color-error-container: #bb1b1b;
  --md-sys-color-on-error-container: #ffffff;
  --md-sys-color-control-activated: #404dda;
  --md-sys-color-control-normal: #23232c;
  --md-sys-color-control-highlight: #0000001f;
  --md-sys-color-text-primary-inverse: #ffffff;
  --md-sys-color-text-secondary-and-tertiary-inverse: #c6c5d7;
  --md-sys-color-text-primary-inverse-disable-only: #e3e1ed;
  --md-sys-color-text-secondary-and-tertiary-inverse-disabled: #e3e1ed;
  --md-sys-color-text-hint-inverse: #e3e1ed;
}

.dark {
  --md-sys-color-primary-palette-key-color: #5a67f4;
  --md-sys-color-secondary-palette-key-color: #6d72ae;
  --md-sys-color-tertiary-palette-key-color: #cb00db;
  --md-sys-color-neutral-palette-key-color: #777681;
  --md-sys-color-neutral-variant-palette-key-color: #767686;
  --md-sys-color-error-palette-key-color: #de3730;
  --md-sys-color-background: #0d0e16;
  --md-sys-color-on-background: #e6e4f0;
  --md-sys-color-surface: #0d0e16;
  --md-sys-color-surface-dim: #0d0e16;
  --md-sys-color-surface-bright: #2b2b34;
  --md-sys-color-surface-container-lowest: #000000;
  --md-sys-color-surface-container-low: #12131b;
  --md-sys-color-surface-container: #181921;
  --md-sys-color-surface-container-high: #1f1f27;
  --md-sys-color-surface-container-highest: #25252e;
  --md-sys-color-on-surface: #e6e4f0;
  --md-sys-color-surface-variant: #25252e;
  --md-sys-color-on-surface-variant: #abaab5;
  --md-sys-color-inverse-surface: #fbf8ff;
  --md-sys-color-inverse-on-surface: #54545e;
  --md-sys-color-outline: #75747f;
  --md-sys-color-outline-variant: #474751;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #9fa7ff;
  --md-sys-color-primary: #9fa7ff;
  --md-sys-color-primary-dim: #5764f1;
  --md-sys-color-on-primary: #000c9f;
  --md-sys-color-primary-container: #8e98ff;
  --md-sys-color-on-primary-container: #00087d;
  --md-sys-color-inverse-primary: #404dda;
  --md-sys-color-primary-fixed: #8e98ff;
  --md-sys-color-primary-fixed-dim: #7d88ff;
  --md-sys-color-on-primary-fixed: #000000;
  --md-sys-color-on-primary-fixed-variant: #000b98;
  --md-sys-color-secondary: #bec2ff;
  --md-sys-color-secondary-dim: #afb4f5;
  --md-sys-color-on-secondary: #363b73;
  --md-sys-color-secondary-container: #31366e;
  --md-sys-color-on-secondary-container: #b5bafc;
  --md-sys-color-secondary-fixed: #e0e0ff;
  --md-sys-color-secondary-fixed-dim: #cfd1ff;
  --md-sys-color-on-secondary-fixed: #353a72;
  --md-sys-color-on-secondary-fixed-variant: #515791;
  --md-sys-color-tertiary: #f55aff;
  --md-sys-color-tertiary-dim: #f55aff;
  --md-sys-color-on-tertiary: #3e0044;
  --md-sys-color-tertiary-container: #eb00fe;
  --md-sys-color-on-tertiary-container: #000000;
  --md-sys-color-tertiary-fixed: #fc81ff;
  --md-sys-color-tertiary-fixed-dim: #f767ff;
  --md-sys-color-on-tertiary-fixed: #310035;
  --md-sys-color-on-tertiary-fixed-variant: #680071;
  --md-sys-color-error: #ff7164;
  --md-sys-color-error-dim: #da342e;
  --md-sys-color-on-error: #4a0002;
  --md-sys-color-error-container: #ac0c12;
  --md-sys-color-on-error-container: #ffb8b0;
  --md-sys-color-control-activated: #8e98ff;
  --md-sys-color-control-normal: #abaab5;
  --md-sys-color-control-highlight: #ffffff33;
  --md-sys-color-text-primary-inverse: #54545e;
  --md-sys-color-text-secondary-and-tertiary-inverse: #454655;
  --md-sys-color-text-primary-inverse-disable-only: #1a1b23;
  --md-sys-color-text-secondary-and-tertiary-inverse-disabled: #1a1b23;
  --md-sys-color-text-hint-inverse: #1a1b23;
}

.dark-medium-contrast {
  --md-sys-color-primary-palette-key-color: #5a67f4;
  --md-sys-color-secondary-palette-key-color: #6d72ae;
  --md-sys-color-tertiary-palette-key-color: #cb00db;
  --md-sys-color-neutral-palette-key-color: #777681;
  --md-sys-color-neutral-variant-palette-key-color: #767686;
  --md-sys-color-error-palette-key-color: #de3730;
  --md-sys-color-background: #0d0e16;
  --md-sys-color-on-background: #ffffff;
  --md-sys-color-surface: #0d0e16;
  --md-sys-color-surface-dim: #0d0e16;
  --md-sys-color-surface-bright: #2b2b34;
  --md-sys-color-surface-container-lowest: #000000;
  --md-sys-color-surface-container-low: #12131b;
  --md-sys-color-surface-container: #181921;
  --md-sys-color-surface-container-high: #1f1f27;
  --md-sys-color-surface-container-highest: #25252e;
  --md-sys-color-on-surface: #ffffff;
  --md-sys-color-surface-variant: #25252e;
  --md-sys-color-on-surface-variant: #b9b7c3;
  --md-sys-color-inverse-surface: #fbf8ff;
  --md-sys-color-inverse-on-surface: #373741;
  --md-sys-color-outline: #93929d;
  --md-sys-color-outline-variant: #75747f;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #adb3ff;
  --md-sys-color-primary: #adb3ff;
  --md-sys-color-primary-dim: #9ba3ff;
  --md-sys-color-on-primary: #000b98;
  --md-sys-color-primary-container: #8e98ff;
  --md-sys-color-on-primary-container: #000354;
  --md-sys-color-inverse-primary: #3441d0;
  --md-sys-color-primary-fixed: #8e98ff;
  --md-sys-color-primary-fixed-dim: #7d88ff;
  --md-sys-color-on-primary-fixed: #000000;
  --md-sys-color-on-primary-fixed-variant: #000000;
  --md-sys-color-secondary: #bec2ff;
  --md-sys-color-secondary-dim: #afb4f5;
  --md-sys-color-on-secondary: #2b3168;
  --md-sys-color-secondary-container: #6a70ac;
  --md-sys-color-on-secondary-container: #ffffff;
  --md-sys-color-secondary-fixed: #e0e0ff;
  --md-sys-color-secondary-fixed-dim: #cfd1ff;
  --md-sys-color-on-secondary-fixed: #131851;
  --md-sys-color-on-secondary-fixed-variant: #353a72;
  --md-sys-color-tertiary: #fe90ff;
  --md-sys-color-tertiary-dim: #fa76ff;
  --md-sys-color-on-tertiary: #520059;
  --md-sys-color-tertiary-container: #f55aff;
  --md-sys-color-on-tertiary-container: #240028;
  --md-sys-color-tertiary-fixed: #fc81ff;
  --md-sys-color-tertiary-fixed-dim: #f767ff;
  --md-sys-color-on-tertiary-fixed: #000000;
  --md-sys-color-on-tertiary-fixed-variant: #310035;
  --md-sys-color-error: #ff9f94;
  --md-sys-color-error-dim: #ff887c;
  --md-sys-color-on-error: #600004;
  --md-sys-color-error-container: #da342e;
  --md-sys-color-on-error-container: #ffffff;
  --md-sys-color-control-activated: #8e98ff;
  --md-sys-color-control-normal: #b9b7c3;
  --md-sys-color-control-highlight: #ffffff33;
  --md-sys-color-text-primary-inverse: #373741;
  --md-sys-color-text-secondary-and-tertiary-inverse: #454655;
  --md-sys-color-text-primary-inverse-disable-only: #1a1b23;
  --md-sys-color-text-secondary-and-tertiary-inverse-disabled: #1a1b23;
  --md-sys-color-text-hint-inverse: #1a1b23;
}

.dark-high-contrast {
  --md-sys-color-primary-palette-key-color: #5a67f4;
  --md-sys-color-secondary-palette-key-color: #6d72ae;
  --md-sys-color-tertiary-palette-key-color: #cb00db;
  --md-sys-color-neutral-palette-key-color: #777681;
  --md-sys-color-neutral-variant-palette-key-color: #767686;
  --md-sys-color-error-palette-key-color: #de3730;
  --md-sys-color-background: #0d0e16;
  --md-sys-color-on-background: #ffffff;
  --md-sys-color-surface: #0d0e16;
  --md-sys-color-surface-dim: #0d0e16;
  --md-sys-color-surface-bright: #2b2b34;
  --md-sys-color-surface-container-lowest: #000000;
  --md-sys-color-surface-container-low: #12131b;
  --md-sys-color-surface-container: #181921;
  --md-sys-color-surface-container-high: #1f1f27;
  --md-sys-color-surface-container-highest: #25252e;
  --md-sys-color-on-surface: #ffffff;
  --md-sys-color-surface-variant: #25252e;
  --md-sys-color-on-surface-variant: #e6e4f0;
  --md-sys-color-inverse-surface: #fbf8ff;
  --md-sys-color-inverse-on-surface: #000000;
  --md-sys-color-outline: #b9b7c3;
  --md-sys-color-outline-variant: #93929d;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #e3e3ff;
  --md-sys-color-primary: #e3e3ff;
  --md-sys-color-primary-dim: #cfd1ff;
  --md-sys-color-on-primary: #000b98;
  --md-sys-color-primary-container: #8e98ff;
  --md-sys-color-on-primary-container: #000000;
  --md-sys-color-inverse-primary: #0716b5;
  --md-sys-color-primary-fixed: #8e98ff;
  --md-sys-color-primary-fixed-dim: #7d88ff;
  --md-sys-color-on-primary-fixed: #000000;
  --md-sys-color-on-primary-fixed-variant: #000000;
  --md-sys-color-secondary: #e3e3ff;
  --md-sys-color-secondary-dim: #cfd1ff;
  --md-sys-color-on-secondary: #21265e;
  --md-sys-color-secondary-container: #9499d8;
  --md-sys-color-on-secondary-container: #000000;
  --md-sys-color-secondary-fixed: #e0e0ff;
  --md-sys-color-secondary-fixed-dim: #cfd1ff;
  --md-sys-color-on-secondary-fixed: #000000;
  --md-sys-color-on-secondary-fixed-variant: #131851;
  --md-sys-color-tertiary: #ffdbf9;
  --md-sys-color-tertiary-dim: #ffc1fa;
  --md-sys-color-on-tertiary: #520059;
  --md-sys-color-tertiary-container: #f55aff;
  --md-sys-color-on-tertiary-container: #000000;
  --md-sys-color-tertiary-fixed: #fc81ff;
  --md-sys-color-tertiary-fixed-dim: #f767ff;
  --md-sys-color-on-tertiary-fixed: #000000;
  --md-sys-color-on-tertiary-fixed-variant: #000000;
  --md-sys-color-error: #ffdeda;
  --md-sys-color-error-dim: #ffc8c1;
  --md-sys-color-on-error: #600004;
  --md-sys-color-error-container: #ff7164;
  --md-sys-color-on-error-container: #000000;
  --md-sys-color-control-activated: #8e98ff;
  --md-sys-color-control-normal: #e6e4f0;
  --md-sys-color-control-highlight: #ffffff33;
  --md-sys-color-text-primary-inverse: #000000;
  --md-sys-color-text-secondary-and-tertiary-inverse: #454655;
  --md-sys-color-text-primary-inverse-disable-only: #1a1b23;
  --md-sys-color-text-secondary-and-tertiary-inverse-disabled: #1a1b23;
  --md-sys-color-text-hint-inverse: #1a1b23;
}

