.light {
  --md-sys-color-primary-palette-key-color: #5a67f4;
  --md-sys-color-secondary-palette-key-color: #6d72ae;
  --md-sys-color-tertiary-palette-key-color: #cb00db;
  --md-sys-color-neutral-palette-key-color: #777681;
  --md-sys-color-neutral-variant-palette-key-color: #767686;
  --md-sys-color-error-palette-key-color: #de3730;
  --md-sys-color-background: #000000;
  --md-sys-color-on-background: #ffffff;
  --md-sys-color-surface: #000000;
  --md-sys-color-surface-dim: #0d0e16;
  --md-sys-color-surface-bright: #2b2b34;
  --md-sys-color-surface-container-lowest: #000000;
  --md-sys-color-surface-container-low: #25252e;
  --md-sys-color-surface-container: #2f3039;
  --md-sys-color-surface-container-high: #3b3b44;
  --md-sys-color-surface-container-highest: #25252e;
  --md-sys-color-on-surface: #fffeff;
  --md-sys-color-surface-variant: #25252e;
  --md-sys-color-on-surface-variant: #cfcdd8;
  --md-sys-color-inverse-surface: #fbf8ff;
  --md-sys-color-inverse-on-surface: #54545e;
  --md-sys-color-outline: #a6a4b0;
  --md-sys-color-outline-variant: #85848f;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #c7caff;
  --md-sys-color-primary: #c7caff;
  --md-sys-color-primary-dim: #959eff;
  --md-sys-color-on-primary: #000567;
  --md-sys-color-primary-container: #222fc2;
  --md-sys-color-on-primary-container: #ddddff;
  --md-sys-color-inverse-primary: #3441d0;
  --md-sys-color-primary-fixed: #222fc2;
  --md-sys-color-primary-fixed-dim: #0f1db8;
  --md-sys-color-on-primary-fixed: #c7caff;
  --md-sys-color-on-primary-fixed-variant: #959eff;
  --md-sys-color-secondary: #c7caff;
  --md-sys-color-secondary-dim: #b6bbfd;
  --md-sys-color-on-secondary: #272c64;
  --md-sys-color-secondary-container: #3c427a;
  --md-sys-color-on-secondary-container: #ddddff;
  --md-sys-color-secondary-fixed: #3c427a;
  --md-sys-color-secondary-fixed-dim: #31366e;
  --md-sys-color-on-secondary-fixed: #c7caff;
  --md-sys-color-on-secondary-fixed-variant: #9ca1e1;
  --md-sys-color-tertiary: #ffb6fb;
  --md-sys-color-tertiary-dim: #f86cff;
  --md-sys-color-on-tertiary: #35003a;
  --md-sys-color-tertiary-container: #f55aff;
  --md-sys-color-on-tertiary-container: #240028;
  --md-sys-color-tertiary-fixed: #f55aff;
  --md-sys-color-tertiary-fixed-dim: #f034ff;
  --md-sys-color-on-tertiary-fixed: #000000;
  --md-sys-color-on-tertiary-fixed-variant: #4e0055;
  --md-sys-color-error: #ffbeb7;
  --md-sys-color-error-dim: #ff8073;
  --md-sys-color-on-error: #400002;
  --md-sys-color-error-container: #93000a;
  --md-sys-color-on-error-container: #ffd7d2;
}

.light-medium-contrast {
  --md-sys-color-primary-palette-key-color: #5a67f4;
  --md-sys-color-secondary-palette-key-color: #6d72ae;
  --md-sys-color-tertiary-palette-key-color: #cb00db;
  --md-sys-color-neutral-palette-key-color: #777681;
  --md-sys-color-neutral-variant-palette-key-color: #767686;
  --md-sys-color-error-palette-key-color: #de3730;
  --md-sys-color-background: #000000;
  --md-sys-color-on-background: #ffffff;
  --md-sys-color-surface: #000000;
  --md-sys-color-surface-dim: #0d0e16;
  --md-sys-color-surface-bright: #2b2b34;
  --md-sys-color-surface-container-lowest: #000000;
  --md-sys-color-surface-container-low: #25252e;
  --md-sys-color-surface-container: #2f3039;
  --md-sys-color-surface-container-high: #3b3b44;
  --md-sys-color-surface-container-highest: #25252e;
  --md-sys-color-on-surface: #ffffff;
  --md-sys-color-surface-variant: #25252e;
  --md-sys-color-on-surface-variant: #fffeff;
  --md-sys-color-inverse-surface: #fbf8ff;
  --md-sys-color-inverse-on-surface: #373741;
  --md-sys-color-outline: #cfcdd8;
  --md-sys-color-outline-variant: #a6a4b0;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #fffeff;
  --md-sys-color-primary: #fffeff;
  --md-sys-color-primary-dim: #c7caff;
  --md-sys-color-on-primary: #000563;
  --md-sys-color-primary-container: #222fc2;
  --md-sys-color-on-primary-container: #ffffff;
  --md-sys-color-inverse-primary: #0716b5;
  --md-sys-color-primary-fixed: #222fc2;
  --md-sys-color-primary-fixed-dim: #0f1db8;
  --md-sys-color-on-primary-fixed: #fffeff;
  --md-sys-color-on-primary-fixed-variant: #c7caff;
  --md-sys-color-secondary: #fffeff;
  --md-sys-color-secondary-dim: #c7caff;
  --md-sys-color-on-secondary: #0d124b;
  --md-sys-color-secondary-container: #3c427a;
  --md-sys-color-on-secondary-container: #ffffff;
  --md-sys-color-secondary-fixed: #3c427a;
  --md-sys-color-secondary-fixed-dim: #31366e;
  --md-sys-color-on-secondary-fixed: #fffeff;
  --md-sys-color-on-secondary-fixed-variant: #c7caff;
  --md-sys-color-tertiary: #fffeff;
  --md-sys-color-tertiary-dim: #ffb6fb;
  --md-sys-color-on-tertiary: #340038;
  --md-sys-color-tertiary-container: #f55aff;
  --md-sys-color-on-tertiary-container: #000000;
  --md-sys-color-tertiary-fixed: #f55aff;
  --md-sys-color-tertiary-fixed-dim: #f034ff;
  --md-sys-color-on-tertiary-fixed: #000000;
  --md-sys-color-on-tertiary-fixed-variant: #000000;
  --md-sys-color-error: #fffeff;
  --md-sys-color-error-dim: #ffbeb7;
  --md-sys-color-on-error: #3d0002;
  --md-sys-color-error-container: #93000a;
  --md-sys-color-on-error-container: #ffffff;
}

.light-high-contrast {
  --md-sys-color-primary-palette-key-color: #5a67f4;
  --md-sys-color-secondary-palette-key-color: #6d72ae;
  --md-sys-color-tertiary-palette-key-color: #cb00db;
  --md-sys-color-neutral-palette-key-color: #777681;
  --md-sys-color-neutral-variant-palette-key-color: #767686;
  --md-sys-color-error-palette-key-color: #de3730;
  --md-sys-color-background: #000000;
  --md-sys-color-on-background: #ffffff;
  --md-sys-color-surface: #000000;
  --md-sys-color-surface-dim: #0d0e16;
  --md-sys-color-surface-bright: #2b2b34;
  --md-sys-color-surface-container-lowest: #000000;
  --md-sys-color-surface-container-low: #25252e;
  --md-sys-color-surface-container: #2f3039;
  --md-sys-color-surface-container-high: #3b3b44;
  --md-sys-color-surface-container-highest: #25252e;
  --md-sys-color-on-surface: #ffffff;
  --md-sys-color-surface-variant: #25252e;
  --md-sys-color-on-surface-variant: #ffffff;
  --md-sys-color-inverse-surface: #fbf8ff;
  --md-sys-color-inverse-on-surface: #000000;
  --md-sys-color-outline: #fffeff;
  --md-sys-color-outline-variant: #cfcdd8;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #ffffff;
  --md-sys-color-primary: #ffffff;
  --md-sys-color-primary-dim: #fffeff;
  --md-sys-color-on-primary: #000000;
  --md-sys-color-primary-container: #222fc2;
  --md-sys-color-on-primary-container: #ffffff;
  --md-sys-color-inverse-primary: #000000;
  --md-sys-color-primary-fixed: #222fc2;
  --md-sys-color-primary-fixed-dim: #0f1db8;
  --md-sys-color-on-primary-fixed: #ffffff;
  --md-sys-color-on-primary-fixed-variant: #fffeff;
  --md-sys-color-secondary: #ffffff;
  --md-sys-color-secondary-dim: #fffeff;
  --md-sys-color-on-secondary: #000000;
  --md-sys-color-secondary-container: #3c427a;
  --md-sys-color-on-secondary-container: #ffffff;
  --md-sys-color-secondary-fixed: #3c427a;
  --md-sys-color-secondary-fixed-dim: #31366e;
  --md-sys-color-on-secondary-fixed: #ffffff;
  --md-sys-color-on-secondary-fixed-variant: #fffeff;
  --md-sys-color-tertiary: #ffffff;
  --md-sys-color-tertiary-dim: #fffeff;
  --md-sys-color-on-tertiary: #000000;
  --md-sys-color-tertiary-container: #f55aff;
  --md-sys-color-on-tertiary-container: #000000;
  --md-sys-color-tertiary-fixed: #f55aff;
  --md-sys-color-tertiary-fixed-dim: #f034ff;
  --md-sys-color-on-tertiary-fixed: #000000;
  --md-sys-color-on-tertiary-fixed-variant: #000000;
  --md-sys-color-error: #ffffff;
  --md-sys-color-error-dim: #fffeff;
  --md-sys-color-on-error: #000000;
  --md-sys-color-error-container: #93000a;
  --md-sys-color-on-error-container: #ffffff;
}

.dark {
  --md-sys-color-primary-palette-key-color: #5a67f4;
  --md-sys-color-secondary-palette-key-color: #6d72ae;
  --md-sys-color-tertiary-palette-key-color: #cb00db;
  --md-sys-color-neutral-palette-key-color: #777681;
  --md-sys-color-neutral-variant-palette-key-color: #767686;
  --md-sys-color-error-palette-key-color: #de3730;
  --md-sys-color-background: #000000;
  --md-sys-color-on-background: #ffffff;
  --md-sys-color-surface: #000000;
  --md-sys-color-surface-dim: #0d0e16;
  --md-sys-color-surface-bright: #2b2b34;
  --md-sys-color-surface-container-lowest: #000000;
  --md-sys-color-surface-container-low: #25252e;
  --md-sys-color-surface-container: #2f3039;
  --md-sys-color-surface-container-high: #3b3b44;
  --md-sys-color-surface-container-highest: #25252e;
  --md-sys-color-on-surface: #fffeff;
  --md-sys-color-surface-variant: #25252e;
  --md-sys-color-on-surface-variant: #cfcdd8;
  --md-sys-color-inverse-surface: #fbf8ff;
  --md-sys-color-inverse-on-surface: #54545e;
  --md-sys-color-outline: #a6a4b0;
  --md-sys-color-outline-variant: #85848f;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #c7caff;
  --md-sys-color-primary: #c7caff;
  --md-sys-color-primary-dim: #959eff;
  --md-sys-color-on-primary: #000567;
  --md-sys-color-primary-container: #222fc2;
  --md-sys-color-on-primary-container: #ddddff;
  --md-sys-color-inverse-primary: #3441d0;
  --md-sys-color-primary-fixed: #222fc2;
  --md-sys-color-primary-fixed-dim: #0f1db8;
  --md-sys-color-on-primary-fixed: #c7caff;
  --md-sys-color-on-primary-fixed-variant: #959eff;
  --md-sys-color-secondary: #c7caff;
  --md-sys-color-secondary-dim: #b6bbfd;
  --md-sys-color-on-secondary: #272c64;
  --md-sys-color-secondary-container: #3c427a;
  --md-sys-color-on-secondary-container: #ddddff;
  --md-sys-color-secondary-fixed: #3c427a;
  --md-sys-color-secondary-fixed-dim: #31366e;
  --md-sys-color-on-secondary-fixed: #c7caff;
  --md-sys-color-on-secondary-fixed-variant: #9ca1e1;
  --md-sys-color-tertiary: #ffb6fb;
  --md-sys-color-tertiary-dim: #f86cff;
  --md-sys-color-on-tertiary: #35003a;
  --md-sys-color-tertiary-container: #f55aff;
  --md-sys-color-on-tertiary-container: #240028;
  --md-sys-color-tertiary-fixed: #f55aff;
  --md-sys-color-tertiary-fixed-dim: #f034ff;
  --md-sys-color-on-tertiary-fixed: #000000;
  --md-sys-color-on-tertiary-fixed-variant: #4e0055;
  --md-sys-color-error: #ffbeb7;
  --md-sys-color-error-dim: #ff8073;
  --md-sys-color-on-error: #400002;
  --md-sys-color-error-container: #93000a;
  --md-sys-color-on-error-container: #ffd7d2;
}

.dark-medium-contrast {
  --md-sys-color-primary-palette-key-color: #5a67f4;
  --md-sys-color-secondary-palette-key-color: #6d72ae;
  --md-sys-color-tertiary-palette-key-color: #cb00db;
  --md-sys-color-neutral-palette-key-color: #777681;
  --md-sys-color-neutral-variant-palette-key-color: #767686;
  --md-sys-color-error-palette-key-color: #de3730;
  --md-sys-color-background: #000000;
  --md-sys-color-on-background: #ffffff;
  --md-sys-color-surface: #000000;
  --md-sys-color-surface-dim: #0d0e16;
  --md-sys-color-surface-bright: #2b2b34;
  --md-sys-color-surface-container-lowest: #000000;
  --md-sys-color-surface-container-low: #25252e;
  --md-sys-color-surface-container: #2f3039;
  --md-sys-color-surface-container-high: #3b3b44;
  --md-sys-color-surface-container-highest: #25252e;
  --md-sys-color-on-surface: #ffffff;
  --md-sys-color-surface-variant: #25252e;
  --md-sys-color-on-surface-variant: #fffeff;
  --md-sys-color-inverse-surface: #fbf8ff;
  --md-sys-color-inverse-on-surface: #373741;
  --md-sys-color-outline: #cfcdd8;
  --md-sys-color-outline-variant: #a6a4b0;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #fffeff;
  --md-sys-color-primary: #fffeff;
  --md-sys-color-primary-dim: #c7caff;
  --md-sys-color-on-primary: #000563;
  --md-sys-color-primary-container: #222fc2;
  --md-sys-color-on-primary-container: #ffffff;
  --md-sys-color-inverse-primary: #0716b5;
  --md-sys-color-primary-fixed: #222fc2;
  --md-sys-color-primary-fixed-dim: #0f1db8;
  --md-sys-color-on-primary-fixed: #fffeff;
  --md-sys-color-on-primary-fixed-variant: #c7caff;
  --md-sys-color-secondary: #fffeff;
  --md-sys-color-secondary-dim: #c7caff;
  --md-sys-color-on-secondary: #0d124b;
  --md-sys-color-secondary-container: #3c427a;
  --md-sys-color-on-secondary-container: #ffffff;
  --md-sys-color-secondary-fixed: #3c427a;
  --md-sys-color-secondary-fixed-dim: #31366e;
  --md-sys-color-on-secondary-fixed: #fffeff;
  --md-sys-color-on-secondary-fixed-variant: #c7caff;
  --md-sys-color-tertiary: #fffeff;
  --md-sys-color-tertiary-dim: #ffb6fb;
  --md-sys-color-on-tertiary: #340038;
  --md-sys-color-tertiary-container: #f55aff;
  --md-sys-color-on-tertiary-container: #000000;
  --md-sys-color-tertiary-fixed: #f55aff;
  --md-sys-color-tertiary-fixed-dim: #f034ff;
  --md-sys-color-on-tertiary-fixed: #000000;
  --md-sys-color-on-tertiary-fixed-variant: #000000;
  --md-sys-color-error: #fffeff;
  --md-sys-color-error-dim: #ffbeb7;
  --md-sys-color-on-error: #3d0002;
  --md-sys-color-error-container: #93000a;
  --md-sys-color-on-error-container: #ffffff;
}

.dark-high-contrast {
  --md-sys-color-primary-palette-key-color: #5a67f4;
  --md-sys-color-secondary-palette-key-color: #6d72ae;
  --md-sys-color-tertiary-palette-key-color: #cb00db;
  --md-sys-color-neutral-palette-key-color: #777681;
  --md-sys-color-neutral-variant-palette-key-color: #767686;
  --md-sys-color-error-palette-key-color: #de3730;
  --md-sys-color-background: #000000;
  --md-sys-color-on-background: #ffffff;
  --md-sys-color-surface: #000000;
  --md-sys-color-surface-dim: #0d0e16;
  --md-sys-color-surface-bright: #2b2b34;
  --md-sys-color-surface-container-lowest: #000000;
  --md-sys-color-surface-container-low: #25252e;
  --md-sys-color-surface-container: #2f3039;
  --md-sys-color-surface-container-high: #3b3b44;
  --md-sys-color-surface-container-highest: #25252e;
  --md-sys-color-on-surface: #ffffff;
  --md-sys-color-surface-variant: #25252e;
  --md-sys-color-on-surface-variant: #ffffff;
  --md-sys-color-inverse-surface: #fbf8ff;
  --md-sys-color-inverse-on-surface: #000000;
  --md-sys-color-outline: #fffeff;
  --md-sys-color-outline-variant: #cfcdd8;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #ffffff;
  --md-sys-color-primary: #ffffff;
  --md-sys-color-primary-dim: #fffeff;
  --md-sys-color-on-primary: #000000;
  --md-sys-color-primary-container: #222fc2;
  --md-sys-color-on-primary-container: #ffffff;
  --md-sys-color-inverse-primary: #000000;
  --md-sys-color-primary-fixed: #222fc2;
  --md-sys-color-primary-fixed-dim: #0f1db8;
  --md-sys-color-on-primary-fixed: #ffffff;
  --md-sys-color-on-primary-fixed-variant: #fffeff;
  --md-sys-color-secondary: #ffffff;
  --md-sys-color-secondary-dim: #fffeff;
  --md-sys-color-on-secondary: #000000;
  --md-sys-color-secondary-container: #3c427a;
  --md-sys-color-on-secondary-container: #ffffff;
  --md-sys-color-secondary-fixed: #3c427a;
  --md-sys-color-secondary-fixed-dim: #31366e;
  --md-sys-color-on-secondary-fixed: #ffffff;
  --md-sys-color-on-secondary-fixed-variant: #fffeff;
  --md-sys-color-tertiary: #ffffff;
  --md-sys-color-tertiary-dim: #fffeff;
  --md-sys-color-on-tertiary: #000000;
  --md-sys-color-tertiary-container: #f55aff;
  --md-sys-color-on-tertiary-container: #000000;
  --md-sys-color-tertiary-fixed: #f55aff;
  --md-sys-color-tertiary-fixed-dim: #f034ff;
  --md-sys-color-on-tertiary-fixed: #000000;
  --md-sys-color-on-tertiary-fixed-variant: #000000;
  --md-sys-color-error: #ffffff;
  --md-sys-color-error-dim: #fffeff;
  --md-sys-color-on-error: #000000;
  --md-sys-color-error-container: #93000a;
  --md-sys-color-on-error-container: #ffffff;
}

