.light {
  --md-sys-color-primary-palette-key-color: #6870c4;
  --md-sys-color-secondary-palette-key-color: #6f7c51;
  --md-sys-color-tertiary-palette-key-color: #6b7f1b;
  --md-sys-color-neutral-palette-key-color: #78748e;
  --md-sys-color-neutral-variant-palette-key-color: #776eb5;
  --md-sys-color-error-palette-key-color: #cb495f;
  --md-sys-color-background: #fcf8ff;
  --md-sys-color-on-background: #322d56;
  --md-sys-color-surface: #fcf8ff;
  --md-sys-color-surface-dim: #dcd5ff;
  --md-sys-color-surface-bright: #fcf8ff;
  --md-sys-color-surface-container-lowest: #ffffff;
  --md-sys-color-surface-container-low: #f7f1ff;
  --md-sys-color-surface-container: #f1ebff;
  --md-sys-color-surface-container-high: #ebe5ff;
  --md-sys-color-surface-container-highest: #e5deff;
  --md-sys-color-on-surface: #322d56;
  --md-sys-color-surface-variant: #e5deff;
  --md-sys-color-on-surface-variant: #5f5a85;
  --md-sys-color-inverse-surface: #0e0b20;
  --md-sys-color-inverse-on-surface: #9e9ab5;
  --md-sys-color-outline: #7b75a3;
  --md-sys-color-outline-variant: #b3acdd;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #4f57aa;
  --md-sys-color-primary: #4f57aa;
  --md-sys-color-primary-dim: #434b9d;
  --md-sys-color-on-primary: #fbf8ff;
  --md-sys-color-primary-container: #b7bcff;
  --md-sys-color-on-primary-container: #2b3385;
  --md-sys-color-inverse-primary: #9ca4fd;
  --md-sys-color-primary-fixed: #b7bcff;
  --md-sys-color-primary-fixed-dim: #a6adff;
  --md-sys-color-on-primary-fixed: #141b70;
  --md-sys-color-on-primary-fixed-variant: #353c8e;
  --md-sys-color-secondary: #58643b;
  --md-sys-color-secondary-dim: #4c5730;
  --md-sys-color-on-secondary: #f1ffcb;
  --md-sys-color-secondary-container: #e9f7c3;
  --md-sys-color-on-secondary-container: #535f37;
  --md-sys-color-secondary-fixed: #e9f7c3;
  --md-sys-color-secondary-fixed-dim: #dbe8b5;
  --md-sys-color-on-secondary-fixed: #414c26;
  --md-sys-color-on-secondary-fixed-variant: #5d6940;
  --md-sys-color-tertiary: #546600;
  --md-sys-color-tertiary-dim: #495900;
  --md-sys-color-on-tertiary: #f3ffc2;
  --md-sys-color-tertiary-container: #e4fc8a;
  --md-sys-color-on-tertiary-container: #506100;
  --md-sys-color-tertiary-fixed: #e4fc8a;
  --md-sys-color-tertiary-fixed-dim: #d6ed7d;
  --md-sys-color-on-tertiary-fixed: #3f4e00;
  --md-sys-color-on-tertiary-fixed-variant: #596c03;
  --md-sys-color-error: #ac3149;
  --md-sys-color-error-dim: #770326;
  --md-sys-color-on-error: #fff7f7;
  --md-sys-color-error-container: #f76a80;
  --md-sys-color-on-error-container: #68001f;
  --md-sys-color-control-activated: #b7bcff;
  --md-sys-color-control-normal: #5f5a85;
  --md-sys-color-control-highlight: #0000001f;
  --md-sys-color-text-primary-inverse: #9e9ab5;
  --md-sys-color-text-secondary-and-tertiary-inverse: #c8bfff;
  --md-sys-color-text-primary-inverse-disable-only: #e5dffc;
  --md-sys-color-text-secondary-and-tertiary-inverse-disabled: #e5dffc;
  --md-sys-color-text-hint-inverse: #e5dffc;
}

.light-medium-contrast {
  --md-sys-color-primary-palette-key-color: #6870c4;
  --md-sys-color-secondary-palette-key-color: #6f7c51;
  --md-sys-color-tertiary-palette-key-color: #6b7f1b;
  --md-sys-color-neutral-palette-key-color: #78748e;
  --md-sys-color-neutral-variant-palette-key-color: #776eb5;
  --md-sys-color-error-palette-key-color: #cb495f;
  --md-sys-color-background: #fcf8ff;
  --md-sys-color-on-background: #231e46;
  --md-sys-color-surface: #fcf8ff;
  --md-sys-color-surface-dim: #dcd5ff;
  --md-sys-color-surface-bright: #fcf8ff;
  --md-sys-color-surface-container-lowest: #ffffff;
  --md-sys-color-surface-container-low: #f7f1ff;
  --md-sys-color-surface-container: #f1ebff;
  --md-sys-color-surface-container-high: #ebe5ff;
  --md-sys-color-surface-container-highest: #e5deff;
  --md-sys-color-on-surface: #231e46;
  --md-sys-color-surface-variant: #e5deff;
  --md-sys-color-on-surface-variant: #433e67;
  --md-sys-color-inverse-surface: #0e0b20;
  --md-sys-color-inverse-on-surface: #c7c1de;
  --md-sys-color-outline: #5f5a85;
  --md-sys-color-outline-variant: #7b75a3;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #323a8b;
  --md-sys-color-primary: #323a8b;
  --md-sys-color-primary-dim: #262e80;
  --md-sys-color-on-primary: #d5d7ff;
  --md-sys-color-primary-container: #656dc1;
  --md-sys-color-on-primary-container: #ffffff;
  --md-sys-color-inverse-primary: #9ca4fd;
  --md-sys-color-primary-fixed: #656dc1;
  --md-sys-color-primary-fixed-dim: #5960b4;
  --md-sys-color-on-primary-fixed: #ffffff;
  --md-sys-color-on-primary-fixed-variant: #ffffff;
  --md-sys-color-secondary: #3c4721;
  --md-sys-color-secondary-dim: #313b17;
  --md-sys-color-on-secondary: #d2e0ad;
  --md-sys-color-secondary-container: #6d794f;
  --md-sys-color-on-secondary-container: #ffffff;
  --md-sys-color-secondary-fixed: #6d794f;
  --md-sys-color-secondary-fixed-dim: #616d43;
  --md-sys-color-on-secondary-fixed: #ffffff;
  --md-sys-color-on-secondary-fixed-variant: #ffffff;
  --md-sys-color-tertiary: #3b4800;
  --md-sys-color-tertiary-dim: #313c00;
  --md-sys-color-on-tertiary: #cde476;
  --md-sys-color-tertiary-container: #697c18;
  --md-sys-color-on-tertiary-container: #ffffff;
  --md-sys-color-tertiary-fixed: #697c18;
  --md-sys-color-tertiary-fixed-dim: #5d7008;
  --md-sys-color-on-tertiary-fixed: #ffffff;
  --md-sys-color-on-tertiary-fixed-variant: #ffffff;
  --md-sys-color-error: #85112f;
  --md-sys-color-error-dim: #740124;
  --md-sys-color-on-error: #ffcdd1;
  --md-sys-color-error-container: #c8475d;
  --md-sys-color-on-error-container: #ffffff;
  --md-sys-color-control-activated: #656dc1;
  --md-sys-color-control-normal: #433e67;
  --md-sys-color-control-highlight: #0000001f;
  --md-sys-color-text-primary-inverse: #c7c1de;
  --md-sys-color-text-secondary-and-tertiary-inverse: #c8bfff;
  --md-sys-color-text-primary-inverse-disable-only: #e5dffc;
  --md-sys-color-text-secondary-and-tertiary-inverse-disabled: #e5dffc;
  --md-sys-color-text-hint-inverse: #e5dffc;
}

.light-high-contrast {
  --md-sys-color-primary-palette-key-color: #6870c4;
  --md-sys-color-secondary-palette-key-color: #6f7c51;
  --md-sys-color-tertiary-palette-key-color: #6b7f1b;
  --md-sys-color-neutral-palette-key-color: #78748e;
  --md-sys-color-neutral-variant-palette-key-color: #776eb5;
  --md-sys-color-error-palette-key-color: #cb495f;
  --md-sys-color-background: #fcf8ff;
  --md-sys-color-on-background: #000000;
  --md-sys-color-surface: #fcf8ff;
  --md-sys-color-surface-dim: #dcd5ff;
  --md-sys-color-surface-bright: #fcf8ff;
  --md-sys-color-surface-container-lowest: #ffffff;
  --md-sys-color-surface-container-low: #f7f1ff;
  --md-sys-color-surface-container: #f1ebff;
  --md-sys-color-surface-container-high: #ebe5ff;
  --md-sys-color-surface-container-highest: #e5deff;
  --md-sys-color-on-surface: #000000;
  --md-sys-color-surface-variant: #e5deff;
  --md-sys-color-on-surface-variant: #231e46;
  --md-sys-color-inverse-surface: #0e0b20;
  --md-sys-color-inverse-on-surface: #ffffff;
  --md-sys-color-outline: #433e67;
  --md-sys-color-outline-variant: #5f5a85;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #0e166c;
  --md-sys-color-primary: #0e166c;
  --md-sys-color-primary-dim: #000563;
  --md-sys-color-on-primary: #d5d7ff;
  --md-sys-color-primary-container: #4f57aa;
  --md-sys-color-on-primary-container: #ffffff;
  --md-sys-color-inverse-primary: #bbc0ff;
  --md-sys-color-primary-fixed: #4f57aa;
  --md-sys-color-primary-fixed-dim: #434b9d;
  --md-sys-color-on-primary-fixed: #ffffff;
  --md-sys-color-on-primary-fixed-variant: #ffffff;
  --md-sys-color-secondary: #1d2706;
  --md-sys-color-secondary-dim: #131d00;
  --md-sys-color-on-secondary: #d2e0ad;
  --md-sys-color-secondary-container: #58643b;
  --md-sys-color-on-secondary-container: #ffffff;
  --md-sys-color-secondary-fixed: #58643b;
  --md-sys-color-secondary-fixed-dim: #4c5730;
  --md-sys-color-on-secondary-fixed: #ffffff;
  --md-sys-color-on-secondary-fixed-variant: #ffffff;
  --md-sys-color-tertiary: #1f2700;
  --md-sys-color-tertiary-dim: #161c00;
  --md-sys-color-on-tertiary: #cde476;
  --md-sys-color-tertiary-container: #546600;
  --md-sys-color-on-tertiary-container: #ffffff;
  --md-sys-color-tertiary-fixed: #546600;
  --md-sys-color-tertiary-fixed-dim: #495900;
  --md-sys-color-on-tertiary-fixed: #ffffff;
  --md-sys-color-on-tertiary-fixed-variant: #ffffff;
  --md-sys-color-error: #500016;
  --md-sys-color-error-dim: #3d000f;
  --md-sys-color-on-error: #ffced2;
  --md-sys-color-error-container: #ac3149;
  --md-sys-color-on-error-container: #ffffff;
  --md-sys-color-control-activated: #4f57aa;
  --md-sys-color-control-normal: #231e46;
  --md-sys-color-control-highlight: #0000001f;
  --md-sys-color-text-primary-inverse: #ffffff;
  --md-sys-color-text-secondary-and-tertiary-inverse: #c8bfff;
  --md-sys-color-text-primary-inverse-disable-only: #e5dffc;
  --md-sys-color-text-secondary-and-tertiary-inverse-disabled: #e5dffc;
  --md-sys-color-text-hint-inverse: #e5dffc;
}

.dark {
  --md-sys-color-primary-palette-key-color: #6d72ac;
  --md-sys-color-secondary-palette-key-color: #737a5e;
  --md-sys-color-tertiary-palette-key-color: #6b7f1b;
  --md-sys-color-neutral-palette-key-color: #787588;
  --md-sys-color-neutral-variant-palette-key-color: #7871a5;
  --md-sys-color-error-palette-key-color: #cb495f;
  --md-sys-color-background: #0e0c1b;
  --md-sys-color-on-background: #e8e2ff;
  --md-sys-color-surface: #0e0c1b;
  --md-sys-color-surface-dim: #0e0c1b;
  --md-sys-color-surface-bright: #2c2a3a;
  --md-sys-color-surface-container-lowest: #000000;
  --md-sys-color-surface-container-low: #131123;
  --md-sys-color-surface-container: #19172c;
  --md-sys-color-surface-container-high: #1f1c35;
  --md-sys-color-surface-container-highest: #26223f;
  --md-sys-color-on-surface: #e8e2ff;
  --md-sys-color-surface-variant: #26223f;
  --md-sys-color-on-surface-variant: #ada7cb;
  --md-sys-color-inverse-surface: #fcf8ff;
  --md-sys-color-inverse-on-surface: #565365;
  --md-sys-color-outline: #767193;
  --md-sys-color-outline-variant: #484463;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #cbceff;
  --md-sys-color-primary: #cbceff;
  --md-sys-color-primary-dim: #babfff;
  --md-sys-color-on-primary: #3d4379;
  --md-sys-color-primary-container: #babfff;
  --md-sys-color-on-primary-container: #34396f;
  --md-sys-color-inverse-primary: #555a93;
  --md-sys-color-primary-fixed: #babfff;
  --md-sys-color-primary-fixed-dim: #adb1f0;
  --md-sys-color-on-primary-fixed: #1f245a;
  --md-sys-color-on-primary-fixed-variant: #3d4279;
  --md-sys-color-secondary: #c2caaa;
  --md-sys-color-secondary-dim: #b5bc9d;
  --md-sys-color-on-secondary: #3c432b;
  --md-sys-color-secondary-container: #222813;
  --md-sys-color-on-secondary-container: #a0a789;
  --md-sys-color-secondary-fixed: #eaf2d0;
  --md-sys-color-secondary-fixed-dim: #dce3c2;
  --md-sys-color-on-secondary-fixed: #424931;
  --md-sys-color-on-secondary-fixed-variant: #5e664b;
  --md-sys-color-tertiary: #f5ffc6;
  --md-sys-color-tertiary-dim: #def685;
  --md-sys-color-on-tertiary: #546600;
  --md-sys-color-tertiary-container: #def685;
  --md-sys-color-on-tertiary-container: #4d5d00;
  --md-sys-color-tertiary-fixed: #e4fc8a;
  --md-sys-color-tertiary-fixed-dim: #d6ed7d;
  --md-sys-color-on-tertiary-fixed: #3f4e00;
  --md-sys-color-on-tertiary-fixed-variant: #596c03;
  --md-sys-color-error: #fd6f85;
  --md-sys-color-error-dim: #c8475d;
  --md-sys-color-on-error: #490013;
  --md-sys-color-error-container: #8a1632;
  --md-sys-color-on-error-container: #ff97a3;
  --md-sys-color-control-activated: #babfff;
  --md-sys-color-control-normal: #ada7cb;
  --md-sys-color-control-highlight: #ffffff33;
  --md-sys-color-text-primary-inverse: #565365;
  --md-sys-color-text-secondary-and-tertiary-inverse: #474171;
  --md-sys-color-text-primary-inverse-disable-only: #1c1a29;
  --md-sys-color-text-secondary-and-tertiary-inverse-disabled: #1c1a29;
  --md-sys-color-text-hint-inverse: #1c1a29;
}

.dark-medium-contrast {
  --md-sys-color-primary-palette-key-color: #6d72ac;
  --md-sys-color-secondary-palette-key-color: #737a5e;
  --md-sys-color-tertiary-palette-key-color: #6b7f1b;
  --md-sys-color-neutral-palette-key-color: #787588;
  --md-sys-color-neutral-variant-palette-key-color: #7871a5;
  --md-sys-color-error-palette-key-color: #cb495f;
  --md-sys-color-background: #0e0c1b;
  --md-sys-color-on-background: #ffffff;
  --md-sys-color-surface: #0e0c1b;
  --md-sys-color-surface-dim: #0e0c1b;
  --md-sys-color-surface-bright: #2c2a3a;
  --md-sys-color-surface-container-lowest: #000000;
  --md-sys-color-surface-container-low: #131123;
  --md-sys-color-surface-container: #19172c;
  --md-sys-color-surface-container-high: #1f1c35;
  --md-sys-color-surface-container-highest: #26223f;
  --md-sys-color-on-surface: #ffffff;
  --md-sys-color-surface-variant: #26223f;
  --md-sys-color-on-surface-variant: #bab4d9;
  --md-sys-color-inverse-surface: #fcf8ff;
  --md-sys-color-inverse-on-surface: #393647;
  --md-sys-color-outline: #958fb2;
  --md-sys-color-outline-variant: #767193;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #cbceff;
  --md-sys-color-primary: #cbceff;
  --md-sys-color-primary-dim: #babfff;
  --md-sys-color-on-primary: #33396f;
  --md-sys-color-primary-container: #babfff;
  --md-sys-color-on-primary-container: #2a2f65;
  --md-sys-color-inverse-primary: #4b5088;
  --md-sys-color-primary-fixed: #babfff;
  --md-sys-color-primary-fixed-dim: #adb1f0;
  --md-sys-color-on-primary-fixed: #000000;
  --md-sys-color-on-primary-fixed-variant: #1f245a;
  --md-sys-color-secondary: #c2caaa;
  --md-sys-color-secondary-dim: #b5bc9d;
  --md-sys-color-on-secondary: #323922;
  --md-sys-color-secondary-container: #70785c;
  --md-sys-color-on-secondary-container: #ffffff;
  --md-sys-color-secondary-fixed: #eaf2d0;
  --md-sys-color-secondary-fixed-dim: #dce3c2;
  --md-sys-color-on-secondary-fixed: #242a15;
  --md-sys-color-on-secondary-fixed-variant: #424931;
  --md-sys-color-tertiary: #f5ffc6;
  --md-sys-color-tertiary-dim: #def685;
  --md-sys-color-on-tertiary: #4b5b00;
  --md-sys-color-tertiary-container: #def685;
  --md-sys-color-on-tertiary-container: #445300;
  --md-sys-color-tertiary-fixed: #e4fc8a;
  --md-sys-color-tertiary-fixed-dim: #d6ed7d;
  --md-sys-color-on-tertiary-fixed: #242e00;
  --md-sys-color-on-tertiary-fixed-variant: #3f4e00;
  --md-sys-color-error: #ff9da8;
  --md-sys-color-error-dim: #ff8695;
  --md-sys-color-on-error: #5f001c;
  --md-sys-color-error-container: #c8475d;
  --md-sys-color-on-error-container: #ffffff;
  --md-sys-color-control-activated: #babfff;
  --md-sys-color-control-normal: #bab4d9;
  --md-sys-color-control-highlight: #ffffff33;
  --md-sys-color-text-primary-inverse: #393647;
  --md-sys-color-text-secondary-and-tertiary-inverse: #474171;
  --md-sys-color-text-primary-inverse-disable-only: #1c1a29;
  --md-sys-color-text-secondary-and-tertiary-inverse-disabled: #1c1a29;
  --md-sys-color-text-hint-inverse: #1c1a29;
}

.dark-high-contrast {
  --md-sys-color-primary-palette-key-color: #6d72ac;
  --md-sys-color-secondary-palette-key-color: #737a5e;
  --md-sys-color-tertiary-palette-key-color: #6b7f1b;
  --md-sys-color-neutral-palette-key-color: #787588;
  --md-sys-color-neutral-variant-palette-key-color: #7871a5;
  --md-sys-color-error-palette-key-color: #cb495f;
  --md-sys-color-background: #0e0c1b;
  --md-sys-color-on-background: #ffffff;
  --md-sys-color-surface: #0e0c1b;
  --md-sys-color-surface-dim: #0e0c1b;
  --md-sys-color-surface-bright: #2c2a3a;
  --md-sys-color-surface-container-lowest: #000000;
  --md-sys-color-surface-container-low: #131123;
  --md-sys-color-surface-container: #19172c;
  --md-sys-color-surface-container-high: #1f1c35;
  --md-sys-color-surface-container-highest: #26223f;
  --md-sys-color-on-surface: #ffffff;
  --md-sys-color-surface-variant: #26223f;
  --md-sys-color-on-surface-variant: #e8e2ff;
  --md-sys-color-inverse-surface: #fcf8ff;
  --md-sys-color-inverse-on-surface: #000000;
  --md-sys-color-outline: #bab4d9;
  --md-sys-color-outline-variant: #958fb2;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #e3e3ff;
  --md-sys-color-primary: #e3e3ff;
  --md-sys-color-primary-dim: #cfd1ff;
  --md-sys-color-on-primary: #21265c;
  --md-sys-color-primary-container: #babfff;
  --md-sys-color-on-primary-container: #00033e;
  --md-sys-color-inverse-primary: #2e3369;
  --md-sys-color-primary-fixed: #babfff;
  --md-sys-color-primary-fixed-dim: #adb1f0;
  --md-sys-color-on-primary-fixed: #000000;
  --md-sys-color-on-primary-fixed-variant: #000000;
  --md-sys-color-secondary: #e1e9c8;
  --md-sys-color-secondary-dim: #d3dbba;
  --md-sys-color-on-secondary: #282e18;
  --md-sys-color-secondary-container: #9aa183;
  --md-sys-color-on-secondary-container: #000000;
  --md-sys-color-secondary-fixed: #eaf2d0;
  --md-sys-color-secondary-fixed-dim: #dce3c2;
  --md-sys-color-on-secondary-fixed: #000000;
  --md-sys-color-on-secondary-fixed-variant: #242a15;
  --md-sys-color-tertiary: #f5ffc6;
  --md-sys-color-tertiary-dim: #def685;
  --md-sys-color-on-tertiary: #313d00;
  --md-sys-color-tertiary-container: #def685;
  --md-sys-color-on-tertiary-container: #293400;
  --md-sys-color-tertiary-fixed: #e4fc8a;
  --md-sys-color-tertiary-fixed-dim: #d6ed7d;
  --md-sys-color-on-tertiary-fixed: #000000;
  --md-sys-color-on-tertiary-fixed-variant: #242e00;
  --md-sys-color-error: #ffdddf;
  --md-sys-color-error-dim: #ffc7cb;
  --md-sys-color-on-error: #5f001c;
  --md-sys-color-error-container: #fd6f85;
  --md-sys-color-on-error-container: #000000;
  --md-sys-color-control-activated: #babfff;
  --md-sys-color-control-normal: #e8e2ff;
  --md-sys-color-control-highlight: #ffffff33;
  --md-sys-color-text-primary-inverse: #000000;
  --md-sys-color-text-secondary-and-tertiary-inverse: #474171;
  --md-sys-color-text-primary-inverse-disable-only: #1c1a29;
  --md-sys-color-text-secondary-and-tertiary-inverse-disabled: #1c1a29;
  --md-sys-color-text-hint-inverse: #1c1a29;
}

