.light {
  --md-sys-color-primary-palette-key-color: #5a67f4;
  --md-sys-color-secondary-palette-key-color: #6d72ae;
  --md-sys-color-tertiary-palette-key-color: #b55e19;
  --md-sys-color-neutral-palette-key-color: #777681;
  --md-sys-color-neutral-variant-palette-key-color: #767686;
  --md-sys-color-error-palette-key-color: #de3730;
  --md-sys-color-background: #12131b;
  --md-sys-color-on-background: #e3e1ed;
  --md-sys-color-surface: #12131b;
  --md-sys-color-surface-dim: #12131b;
  --md-sys-color-surface-bright: #383842;
  --md-sys-color-surface-container-lowest: #0d0e16;
  --md-sys-color-surface-container-low: #1a1b23;
  --md-sys-color-surface-container: #1f1f27;
  --md-sys-color-surface-container-high: #292932;
  --md-sys-color-surface-container-highest: #34343d;
  --md-sys-color-on-surface: #e3e1ed;
  --md-sys-color-surface-variant: #454655;
  --md-sys-color-on-surface-variant: #c6c5d7;
  --md-sys-color-inverse-surface: #e3e1ed;
  --md-sys-color-inverse-on-surface: #2f3039;
  --md-sys-color-outline: #8f8fa0;
  --md-sys-color-outline-variant: #454655;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #bec2ff;
  --md-sys-color-primary: #bec2ff;
  --md-sys-color-primary-dim: #cfd1ff;
  --md-sys-color-on-primary: #000da4;
  --md-sys-color-primary-container: #e0e0ff;
  --md-sys-color-on-primary-container: #4653e0;
  --md-sys-color-inverse-primary: #3f4cda;
  --md-sys-color-primary-fixed: #e0e0ff;
  --md-sys-color-primary-fixed-dim: #bec2ff;
  --md-sys-color-on-primary-fixed: #000569;
  --md-sys-color-on-primary-fixed-variant: #222fc2;
  --md-sys-color-secondary: #bec2ff;
  --md-sys-color-secondary-dim: #cfd1ff;
  --md-sys-color-on-secondary: #252b62;
  --md-sys-color-secondary-container: #e0e0ff;
  --md-sys-color-on-secondary-container: #5a609a;
  --md-sys-color-secondary-fixed: #e0e0ff;
  --md-sys-color-secondary-fixed-dim: #bec2ff;
  --md-sys-color-on-secondary-fixed: #0f144d;
  --md-sys-color-on-secondary-fixed-variant: #3c427a;
  --md-sys-color-tertiary: #ffb689;
  --md-sys-color-tertiary-dim: #ffc9a9;
  --md-sys-color-on-tertiary: #512300;
  --md-sys-color-tertiary-container: #ffdbc8;
  --md-sys-color-on-tertiary-container: #a04d04;
  --md-sys-color-tertiary-fixed: #ffdbc8;
  --md-sys-color-tertiary-fixed-dim: #ffb689;
  --md-sys-color-on-tertiary-fixed: #311300;
  --md-sys-color-on-tertiary-fixed-variant: #743500;
  --md-sys-color-error: #ffb4ab;
  --md-sys-color-error-dim: #ffc7c0;
  --md-sys-color-on-error: #690005;
  --md-sys-color-error-container: #ffdad6;
  --md-sys-color-on-error-container: #c32220;
}

.light-medium-contrast {
  --md-sys-color-primary-palette-key-color: #5a67f4;
  --md-sys-color-secondary-palette-key-color: #6d72ae;
  --md-sys-color-tertiary-palette-key-color: #b55e19;
  --md-sys-color-neutral-palette-key-color: #777681;
  --md-sys-color-neutral-variant-palette-key-color: #767686;
  --md-sys-color-error-palette-key-color: #de3730;
  --md-sys-color-background: #12131b;
  --md-sys-color-on-background: #e3e1ed;
  --md-sys-color-surface: #12131b;
  --md-sys-color-surface-dim: #12131b;
  --md-sys-color-surface-bright: #44444d;
  --md-sys-color-surface-container-lowest: #06070e;
  --md-sys-color-surface-container-low: #1c1d25;
  --md-sys-color-surface-container: #272730;
  --md-sys-color-surface-container-high: #32323b;
  --md-sys-color-surface-container-highest: #3d3d46;
  --md-sys-color-on-surface: #ffffff;
  --md-sys-color-surface-variant: #454655;
  --md-sys-color-on-surface-variant: #dcdaed;
  --md-sys-color-inverse-surface: #e3e1ed;
  --md-sys-color-inverse-on-surface: #292932;
  --md-sys-color-outline: #b1b0c2;
  --md-sys-color-outline-variant: #8f8fa0;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #bec2ff;
  --md-sys-color-primary: #d8d9ff;
  --md-sys-color-primary-dim: #cfd1ff;
  --md-sys-color-on-primary: #000986;
  --md-sys-color-primary-container: #fbf7ff;
  --md-sys-color-on-primary-container: #3441d0;
  --md-sys-color-inverse-primary: #2430c3;
  --md-sys-color-primary-fixed: #e0e0ff;
  --md-sys-color-primary-fixed-dim: #bec2ff;
  --md-sys-color-on-primary-fixed: #00034b;
  --md-sys-color-on-primary-fixed-variant: #0211b3;
  --md-sys-color-secondary: #d8d9ff;
  --md-sys-color-secondary-dim: #cfd1ff;
  --md-sys-color-on-secondary: #1a1f57;
  --md-sys-color-secondary-container: #fbf7ff;
  --md-sys-color-on-secondary-container: #4a5089;
  --md-sys-color-secondary-fixed: #e0e0ff;
  --md-sys-color-secondary-fixed-dim: #bec2ff;
  --md-sys-color-on-secondary-fixed: #030643;
  --md-sys-color-on-secondary-fixed-variant: #2b3168;
  --md-sys-color-tertiary: #ffd4bb;
  --md-sys-color-tertiary-dim: #ffc9a9;
  --md-sys-color-on-tertiary: #411b00;
  --md-sys-color-tertiary-container: #fff7f4;
  --md-sys-color-on-tertiary-container: #894000;
  --md-sys-color-tertiary-fixed: #ffdbc8;
  --md-sys-color-tertiary-fixed-dim: #ffb689;
  --md-sys-color-on-tertiary-fixed: #210b00;
  --md-sys-color-on-tertiary-fixed-variant: #5a2800;
  --md-sys-color-error: #ffd2cc;
  --md-sys-color-error-dim: #ffc7c0;
  --md-sys-color-on-error: #540003;
  --md-sys-color-error-container: #fff7f6;
  --md-sys-color-on-error-container: #ab0b12;
}

.light-high-contrast {
  --md-sys-color-primary-palette-key-color: #5a67f4;
  --md-sys-color-secondary-palette-key-color: #6d72ae;
  --md-sys-color-tertiary-palette-key-color: #b55e19;
  --md-sys-color-neutral-palette-key-color: #777681;
  --md-sys-color-neutral-variant-palette-key-color: #767686;
  --md-sys-color-error-palette-key-color: #de3730;
  --md-sys-color-background: #12131b;
  --md-sys-color-on-background: #e3e1ed;
  --md-sys-color-surface: #12131b;
  --md-sys-color-surface-dim: #12131b;
  --md-sys-color-surface-bright: #4f4f59;
  --md-sys-color-surface-container-lowest: #000000;
  --md-sys-color-surface-container-low: #1f1f27;
  --md-sys-color-surface-container: #2f3039;
  --md-sys-color-surface-container-high: #3b3b44;
  --md-sys-color-surface-container-highest: #46464f;
  --md-sys-color-on-surface: #ffffff;
  --md-sys-color-surface-variant: #454655;
  --md-sys-color-on-surface-variant: #ffffff;
  --md-sys-color-inverse-surface: #e3e1ed;
  --md-sys-color-inverse-on-surface: #000000;
  --md-sys-color-outline: #f0eeff;
  --md-sys-color-outline-variant: #c2c1d3;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #bec2ff;
  --md-sys-color-primary: #e0e0ff;
  --md-sys-color-primary-dim: #fffeff;
  --md-sys-color-on-primary: #000000;
  --md-sys-color-primary-container: #ffffff;
  --md-sys-color-on-primary-container: #0f1db8;
  --md-sys-color-inverse-primary: #2430c3;
  --md-sys-color-primary-fixed: #e0e0ff;
  --md-sys-color-primary-fixed-dim: #bec2ff;
  --md-sys-color-on-primary-fixed: #000000;
  --md-sys-color-on-primary-fixed-variant: #00034b;
  --md-sys-color-secondary: #e0e0ff;
  --md-sys-color-secondary-dim: #fffeff;
  --md-sys-color-on-secondary: #000000;
  --md-sys-color-secondary-container: #ffffff;
  --md-sys-color-on-secondary-container: #31366e;
  --md-sys-color-secondary-fixed: #e0e0ff;
  --md-sys-color-secondary-fixed-dim: #bec2ff;
  --md-sys-color-on-secondary-fixed: #000000;
  --md-sys-color-on-secondary-fixed-variant: #030643;
  --md-sys-color-tertiary: #ffdbc8;
  --md-sys-color-tertiary-dim: #fffeff;
  --md-sys-color-on-tertiary: #000000;
  --md-sys-color-tertiary-container: #ffffff;
  --md-sys-color-on-tertiary-container: #622c00;
  --md-sys-color-tertiary-fixed: #ffdbc8;
  --md-sys-color-tertiary-fixed-dim: #ffb689;
  --md-sys-color-on-tertiary-fixed: #000000;
  --md-sys-color-on-tertiary-fixed-variant: #210b00;
  --md-sys-color-error: #ffdad6;
  --md-sys-color-error-dim: #fffeff;
  --md-sys-color-on-error: #000000;
  --md-sys-color-error-container: #ffffff;
  --md-sys-color-on-error-container: #7e0007;
}

.dark {
  --md-sys-color-primary-palette-key-color: #5a67f4;
  --md-sys-color-secondary-palette-key-color: #6d72ae;
  --md-sys-color-tertiary-palette-key-color: #b55e19;
  --md-sys-color-neutral-palette-key-color: #777681;
  --md-sys-color-neutral-variant-palette-key-color: #767686;
  --md-sys-color-error-palette-key-color: #de3730;
  --md-sys-color-background: #12131b;
  --md-sys-color-on-background: #e3e1ed;
  --md-sys-color-surface: #12131b;
  --md-sys-color-surface-dim: #12131b;
  --md-sys-color-surface-bright: #383842;
  --md-sys-color-surface-container-lowest: #0d0e16;
  --md-sys-color-surface-container-low: #1a1b23;
  --md-sys-color-surface-container: #1f1f27;
  --md-sys-color-surface-container-high: #292932;
  --md-sys-color-surface-container-highest: #34343d;
  --md-sys-color-on-surface: #e3e1ed;
  --md-sys-color-surface-variant: #454655;
  --md-sys-color-on-surface-variant: #c6c5d7;
  --md-sys-color-inverse-surface: #e3e1ed;
  --md-sys-color-inverse-on-surface: #2f3039;
  --md-sys-color-outline: #8f8fa0;
  --md-sys-color-outline-variant: #454655;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #bec2ff;
  --md-sys-color-primary: #bec2ff;
  --md-sys-color-primary-dim: #cfd1ff;
  --md-sys-color-on-primary: #000da4;
  --md-sys-color-primary-container: #e0e0ff;
  --md-sys-color-on-primary-container: #4653e0;
  --md-sys-color-inverse-primary: #3f4cda;
  --md-sys-color-primary-fixed: #e0e0ff;
  --md-sys-color-primary-fixed-dim: #bec2ff;
  --md-sys-color-on-primary-fixed: #000569;
  --md-sys-color-on-primary-fixed-variant: #222fc2;
  --md-sys-color-secondary: #bec2ff;
  --md-sys-color-secondary-dim: #cfd1ff;
  --md-sys-color-on-secondary: #252b62;
  --md-sys-color-secondary-container: #e0e0ff;
  --md-sys-color-on-secondary-container: #5a609a;
  --md-sys-color-secondary-fixed: #e0e0ff;
  --md-sys-color-secondary-fixed-dim: #bec2ff;
  --md-sys-color-on-secondary-fixed: #0f144d;
  --md-sys-color-on-secondary-fixed-variant: #3c427a;
  --md-sys-color-tertiary: #ffb689;
  --md-sys-color-tertiary-dim: #ffc9a9;
  --md-sys-color-on-tertiary: #512300;
  --md-sys-color-tertiary-container: #ffdbc8;
  --md-sys-color-on-tertiary-container: #a04d04;
  --md-sys-color-tertiary-fixed: #ffdbc8;
  --md-sys-color-tertiary-fixed-dim: #ffb689;
  --md-sys-color-on-tertiary-fixed: #311300;
  --md-sys-color-on-tertiary-fixed-variant: #743500;
  --md-sys-color-error: #ffb4ab;
  --md-sys-color-error-dim: #ffc7c0;
  --md-sys-color-on-error: #690005;
  --md-sys-color-error-container: #ffdad6;
  --md-sys-color-on-error-container: #c32220;
}

.dark-medium-contrast {
  --md-sys-color-primary-palette-key-color: #5a67f4;
  --md-sys-color-secondary-palette-key-color: #6d72ae;
  --md-sys-color-tertiary-palette-key-color: #b55e19;
  --md-sys-color-neutral-palette-key-color: #777681;
  --md-sys-color-neutral-variant-palette-key-color: #767686;
  --md-sys-color-error-palette-key-color: #de3730;
  --md-sys-color-background: #12131b;
  --md-sys-color-on-background: #e3e1ed;
  --md-sys-color-surface: #12131b;
  --md-sys-color-surface-dim: #12131b;
  --md-sys-color-surface-bright: #44444d;
  --md-sys-color-surface-container-lowest: #06070e;
  --md-sys-color-surface-container-low: #1c1d25;
  --md-sys-color-surface-container: #272730;
  --md-sys-color-surface-container-high: #32323b;
  --md-sys-color-surface-container-highest: #3d3d46;
  --md-sys-color-on-surface: #ffffff;
  --md-sys-color-surface-variant: #454655;
  --md-sys-color-on-surface-variant: #dcdaed;
  --md-sys-color-inverse-surface: #e3e1ed;
  --md-sys-color-inverse-on-surface: #292932;
  --md-sys-color-outline: #b1b0c2;
  --md-sys-color-outline-variant: #8f8fa0;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #bec2ff;
  --md-sys-color-primary: #d8d9ff;
  --md-sys-color-primary-dim: #cfd1ff;
  --md-sys-color-on-primary: #000986;
  --md-sys-color-primary-container: #fbf7ff;
  --md-sys-color-on-primary-container: #3441d0;
  --md-sys-color-inverse-primary: #2430c3;
  --md-sys-color-primary-fixed: #e0e0ff;
  --md-sys-color-primary-fixed-dim: #bec2ff;
  --md-sys-color-on-primary-fixed: #00034b;
  --md-sys-color-on-primary-fixed-variant: #0211b3;
  --md-sys-color-secondary: #d8d9ff;
  --md-sys-color-secondary-dim: #cfd1ff;
  --md-sys-color-on-secondary: #1a1f57;
  --md-sys-color-secondary-container: #fbf7ff;
  --md-sys-color-on-secondary-container: #4a5089;
  --md-sys-color-secondary-fixed: #e0e0ff;
  --md-sys-color-secondary-fixed-dim: #bec2ff;
  --md-sys-color-on-secondary-fixed: #030643;
  --md-sys-color-on-secondary-fixed-variant: #2b3168;
  --md-sys-color-tertiary: #ffd4bb;
  --md-sys-color-tertiary-dim: #ffc9a9;
  --md-sys-color-on-tertiary: #411b00;
  --md-sys-color-tertiary-container: #fff7f4;
  --md-sys-color-on-tertiary-container: #894000;
  --md-sys-color-tertiary-fixed: #ffdbc8;
  --md-sys-color-tertiary-fixed-dim: #ffb689;
  --md-sys-color-on-tertiary-fixed: #210b00;
  --md-sys-color-on-tertiary-fixed-variant: #5a2800;
  --md-sys-color-error: #ffd2cc;
  --md-sys-color-error-dim: #ffc7c0;
  --md-sys-color-on-error: #540003;
  --md-sys-color-error-container: #fff7f6;
  --md-sys-color-on-error-container: #ab0b12;
}

.dark-high-contrast {
  --md-sys-color-primary-palette-key-color: #5a67f4;
  --md-sys-color-secondary-palette-key-color: #6d72ae;
  --md-sys-color-tertiary-palette-key-color: #b55e19;
  --md-sys-color-neutral-palette-key-color: #777681;
  --md-sys-color-neutral-variant-palette-key-color: #767686;
  --md-sys-color-error-palette-key-color: #de3730;
  --md-sys-color-background: #12131b;
  --md-sys-color-on-background: #e3e1ed;
  --md-sys-color-surface: #12131b;
  --md-sys-color-surface-dim: #12131b;
  --md-sys-color-surface-bright: #4f4f59;
  --md-sys-color-surface-container-lowest: #000000;
  --md-sys-color-surface-container-low: #1f1f27;
  --md-sys-color-surface-container: #2f3039;
  --md-sys-color-surface-container-high: #3b3b44;
  --md-sys-color-surface-container-highest: #46464f;
  --md-sys-color-on-surface: #ffffff;
  --md-sys-color-surface-variant: #454655;
  --md-sys-color-on-surface-variant: #ffffff;
  --md-sys-color-inverse-surface: #e3e1ed;
  --md-sys-color-inverse-on-surface: #000000;
  --md-sys-color-outline: #f0eeff;
  --md-sys-color-outline-variant: #c2c1d3;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #bec2ff;
  --md-sys-color-primary: #e0e0ff;
  --md-sys-color-primary-dim: #fffeff;
  --md-sys-color-on-primary: #000000;
  --md-sys-color-primary-container: #ffffff;
  --md-sys-color-on-primary-container: #0f1db8;
  --md-sys-color-inverse-primary: #2430c3;
  --md-sys-color-primary-fixed: #e0e0ff;
  --md-sys-color-primary-fixed-dim: #bec2ff;
  --md-sys-color-on-primary-fixed: #000000;
  --md-sys-color-on-primary-fixed-variant: #00034b;
  --md-sys-color-secondary: #e0e0ff;
  --md-sys-color-secondary-dim: #fffeff;
  --md-sys-color-on-secondary: #000000;
  --md-sys-color-secondary-container: #ffffff;
  --md-sys-color-on-secondary-container: #31366e;
  --md-sys-color-secondary-fixed: #e0e0ff;
  --md-sys-color-secondary-fixed-dim: #bec2ff;
  --md-sys-color-on-secondary-fixed: #000000;
  --md-sys-color-on-secondary-fixed-variant: #030643;
  --md-sys-color-tertiary: #ffdbc8;
  --md-sys-color-tertiary-dim: #fffeff;
  --md-sys-color-on-tertiary: #000000;
  --md-sys-color-tertiary-container: #ffffff;
  --md-sys-color-on-tertiary-container: #622c00;
  --md-sys-color-tertiary-fixed: #ffdbc8;
  --md-sys-color-tertiary-fixed-dim: #ffb689;
  --md-sys-color-on-tertiary-fixed: #000000;
  --md-sys-color-on-tertiary-fixed-variant: #210b00;
  --md-sys-color-error: #ffdad6;
  --md-sys-color-error-dim: #fffeff;
  --md-sys-color-on-error: #000000;
  --md-sys-color-error-container: #ffffff;
  --md-sys-color-on-error-container: #7e0007;
}

