.light {
  --md-sys-color-primary-palette-key-color: #0996c5;
  --md-sys-color-secondary-palette-key-color: #3a7f9e;
  --md-sys-color-tertiary-palette-key-color: #6d72ac;
  --md-sys-color-neutral-palette-key-color: #767682;
  --md-sys-color-neutral-variant-palette-key-color: #74758b;
  --md-sys-color-error-palette-key-color: #de3730;
  --md-sys-color-background: #12131c;
  --md-sys-color-on-background: #e3e1ef;
  --md-sys-color-surface: #12131c;
  --md-sys-color-surface-dim: #12131c;
  --md-sys-color-surface-bright: #383843;
  --md-sys-color-surface-container-lowest: #0d0d17;
  --md-sys-color-surface-container-low: #1a1b25;
  --md-sys-color-surface-container: #1e1f29;
  --md-sys-color-surface-container-high: #292934;
  --md-sys-color-surface-container-highest: #33343f;
  --md-sys-color-on-surface: #e3e1ef;
  --md-sys-color-surface-variant: #444559;
  --md-sys-color-on-surface-variant: #c5c4dd;
  --md-sys-color-inverse-surface: #e3e1ef;
  --md-sys-color-inverse-on-surface: #2f303a;
  --md-sys-color-outline: #8e8fa6;
  --md-sys-color-outline-variant: #444559;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #73d1ff;
  --md-sys-color-primary: #73d1ff;
  --md-sys-color-primary-dim: #9dddff;
  --md-sys-color-on-primary: #003548;
  --md-sys-color-primary-container: #c1e8ff;
  --md-sys-color-on-primary-container: #006c8f;
  --md-sys-color-inverse-primary: #006687;
  --md-sys-color-primary-fixed: #c1e8ff;
  --md-sys-color-primary-fixed-dim: #73d1ff;
  --md-sys-color-on-primary-fixed: #001e2b;
  --md-sys-color-on-primary-fixed-variant: #004d67;
  --md-sys-color-secondary: #8dcff2;
  --md-sys-color-secondary-dim: #9dddff;
  --md-sys-color-on-secondary: #003548;
  --md-sys-color-secondary-container: #c1e8ff;
  --md-sys-color-on-secondary-container: #216c8a;
  --md-sys-color-secondary-fixed: #c1e8ff;
  --md-sys-color-secondary-fixed-dim: #8dcff2;
  --md-sys-color-on-secondary-fixed: #001e2b;
  --md-sys-color-on-secondary-fixed-variant: #004d67;
  --md-sys-color-tertiary: #bec2ff;
  --md-sys-color-tertiary-dim: #cfd1ff;
  --md-sys-color-on-tertiary: #262b61;
  --md-sys-color-tertiary-container: #e0e0ff;
  --md-sys-color-on-tertiary-container: #5b6098;
  --md-sys-color-tertiary-fixed: #e0e0ff;
  --md-sys-color-tertiary-fixed-dim: #bec2ff;
  --md-sys-color-on-tertiary-fixed: #0f144b;
  --md-sys-color-on-tertiary-fixed-variant: #3d4279;
  --md-sys-color-error: #ffb4ab;
  --md-sys-color-error-dim: #ffc7c0;
  --md-sys-color-on-error: #690005;
  --md-sys-color-error-container: #ffdad6;
  --md-sys-color-on-error-container: #c32220;
}

.light-medium-contrast {
  --md-sys-color-primary-palette-key-color: #0996c5;
  --md-sys-color-secondary-palette-key-color: #3a7f9e;
  --md-sys-color-tertiary-palette-key-color: #6d72ac;
  --md-sys-color-neutral-palette-key-color: #767682;
  --md-sys-color-neutral-variant-palette-key-color: #74758b;
  --md-sys-color-error-palette-key-color: #de3730;
  --md-sys-color-background: #12131c;
  --md-sys-color-on-background: #e3e1ef;
  --md-sys-color-surface: #12131c;
  --md-sys-color-surface-dim: #12131c;
  --md-sys-color-surface-bright: #43434f;
  --md-sys-color-surface-container-lowest: #060710;
  --md-sys-color-surface-container-low: #1c1d27;
  --md-sys-color-surface-container: #272731;
  --md-sys-color-surface-container-high: #31323c;
  --md-sys-color-surface-container-highest: #3c3d48;
  --md-sys-color-on-surface: #ffffff;
  --md-sys-color-surface-variant: #444559;
  --md-sys-color-on-surface-variant: #dbdaf3;
  --md-sys-color-inverse-surface: #e3e1ef;
  --md-sys-color-inverse-on-surface: #292934;
  --md-sys-color-outline: #b0b0c8;
  --md-sys-color-outline-variant: #8e8ea5;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #73d1ff;
  --md-sys-color-primary: #b2e3ff;
  --md-sys-color-primary-dim: #9dddff;
  --md-sys-color-on-primary: #002939;
  --md-sys-color-primary-container: #f3faff;
  --md-sys-color-on-primary-container: #005c7a;
  --md-sys-color-inverse-primary: #004e68;
  --md-sys-color-primary-fixed: #c1e8ff;
  --md-sys-color-primary-fixed-dim: #73d1ff;
  --md-sys-color-on-primary-fixed: #00131d;
  --md-sys-color-on-primary-fixed-variant: #003b50;
  --md-sys-color-secondary: #b2e3ff;
  --md-sys-color-secondary-dim: #9dddff;
  --md-sys-color-on-secondary: #002939;
  --md-sys-color-secondary-container: #f3faff;
  --md-sys-color-on-secondary-container: #015c7a;
  --md-sys-color-secondary-fixed: #c1e8ff;
  --md-sys-color-secondary-fixed-dim: #8dcff2;
  --md-sys-color-on-secondary-fixed: #00131d;
  --md-sys-color-on-secondary-fixed-variant: #003b50;
  --md-sys-color-tertiary: #d8d9ff;
  --md-sys-color-tertiary-dim: #cfd1ff;
  --md-sys-color-on-tertiary: #1b2055;
  --md-sys-color-tertiary-container: #fbf7ff;
  --md-sys-color-on-tertiary-container: #4b5088;
  --md-sys-color-tertiary-fixed: #e0e0ff;
  --md-sys-color-tertiary-fixed-dim: #bec2ff;
  --md-sys-color-on-tertiary-fixed: #040741;
  --md-sys-color-on-tertiary-fixed-variant: #2c3167;
  --md-sys-color-error: #ffd2cc;
  --md-sys-color-error-dim: #ffc7c0;
  --md-sys-color-on-error: #540003;
  --md-sys-color-error-container: #fff7f6;
  --md-sys-color-on-error-container: #ab0b12;
}

.light-high-contrast {
  --md-sys-color-primary-palette-key-color: #0996c5;
  --md-sys-color-secondary-palette-key-color: #3a7f9e;
  --md-sys-color-tertiary-palette-key-color: #6d72ac;
  --md-sys-color-neutral-palette-key-color: #767682;
  --md-sys-color-neutral-variant-palette-key-color: #74758b;
  --md-sys-color-error-palette-key-color: #de3730;
  --md-sys-color-background: #12131c;
  --md-sys-color-on-background: #e3e1ef;
  --md-sys-color-surface: #12131c;
  --md-sys-color-surface-dim: #12131c;
  --md-sys-color-surface-bright: #4f4f5b;
  --md-sys-color-surface-container-lowest: #000000;
  --md-sys-color-surface-container-low: #1e1f29;
  --md-sys-color-surface-container: #2f303a;
  --md-sys-color-surface-container-high: #3a3a46;
  --md-sys-color-surface-container-highest: #464651;
  --md-sys-color-on-surface: #ffffff;
  --md-sys-color-surface-variant: #444559;
  --md-sys-color-on-surface-variant: #ffffff;
  --md-sys-color-inverse-surface: #e3e1ef;
  --md-sys-color-inverse-on-surface: #000000;
  --md-sys-color-outline: #f0eeff;
  --md-sys-color-outline-variant: #c1c1d9;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #73d1ff;
  --md-sys-color-primary: #c1e8ff;
  --md-sys-color-primary-dim: #fffeff;
  --md-sys-color-on-primary: #000000;
  --md-sys-color-primary-container: #ffffff;
  --md-sys-color-on-primary-container: #004157;
  --md-sys-color-inverse-primary: #004e68;
  --md-sys-color-primary-fixed: #c1e8ff;
  --md-sys-color-primary-fixed-dim: #73d1ff;
  --md-sys-color-on-primary-fixed: #000000;
  --md-sys-color-on-primary-fixed-variant: #00131d;
  --md-sys-color-secondary: #c1e8ff;
  --md-sys-color-secondary-dim: #fffeff;
  --md-sys-color-on-secondary: #000000;
  --md-sys-color-secondary-container: #ffffff;
  --md-sys-color-on-secondary-container: #004157;
  --md-sys-color-secondary-fixed: #c1e8ff;
  --md-sys-color-secondary-fixed-dim: #8dcff2;
  --md-sys-color-on-secondary-fixed: #000000;
  --md-sys-color-on-secondary-fixed-variant: #00131d;
  --md-sys-color-tertiary: #e0e0ff;
  --md-sys-color-tertiary-dim: #fffeff;
  --md-sys-color-on-tertiary: #000000;
  --md-sys-color-tertiary-container: #ffffff;
  --md-sys-color-on-tertiary-container: #31366c;
  --md-sys-color-tertiary-fixed: #e0e0ff;
  --md-sys-color-tertiary-fixed-dim: #bec2ff;
  --md-sys-color-on-tertiary-fixed: #000000;
  --md-sys-color-on-tertiary-fixed-variant: #040741;
  --md-sys-color-error: #ffdad6;
  --md-sys-color-error-dim: #fffeff;
  --md-sys-color-on-error: #000000;
  --md-sys-color-error-container: #ffffff;
  --md-sys-color-on-error-container: #7e0007;
}

.dark {
  --md-sys-color-primary-palette-key-color: #0996c5;
  --md-sys-color-secondary-palette-key-color: #3a7f9e;
  --md-sys-color-tertiary-palette-key-color: #6d72ac;
  --md-sys-color-neutral-palette-key-color: #767682;
  --md-sys-color-neutral-variant-palette-key-color: #74758b;
  --md-sys-color-error-palette-key-color: #de3730;
  --md-sys-color-background: #12131c;
  --md-sys-color-on-background: #e3e1ef;
  --md-sys-color-surface: #12131c;
  --md-sys-color-surface-dim: #12131c;
  --md-sys-color-surface-bright: #383843;
  --md-sys-color-surface-container-lowest: #0d0d17;
  --md-sys-color-surface-container-low: #1a1b25;
  --md-sys-color-surface-container: #1e1f29;
  --md-sys-color-surface-container-high: #292934;
  --md-sys-color-surface-container-highest: #33343f;
  --md-sys-color-on-surface: #e3e1ef;
  --md-sys-color-surface-variant: #444559;
  --md-sys-color-on-surface-variant: #c5c4dd;
  --md-sys-color-inverse-surface: #e3e1ef;
  --md-sys-color-inverse-on-surface: #2f303a;
  --md-sys-color-outline: #8e8fa6;
  --md-sys-color-outline-variant: #444559;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #73d1ff;
  --md-sys-color-primary: #73d1ff;
  --md-sys-color-primary-dim: #9dddff;
  --md-sys-color-on-primary: #003548;
  --md-sys-color-primary-container: #c1e8ff;
  --md-sys-color-on-primary-container: #006c8f;
  --md-sys-color-inverse-primary: #006687;
  --md-sys-color-primary-fixed: #c1e8ff;
  --md-sys-color-primary-fixed-dim: #73d1ff;
  --md-sys-color-on-primary-fixed: #001e2b;
  --md-sys-color-on-primary-fixed-variant: #004d67;
  --md-sys-color-secondary: #8dcff2;
  --md-sys-color-secondary-dim: #9dddff;
  --md-sys-color-on-secondary: #003548;
  --md-sys-color-secondary-container: #c1e8ff;
  --md-sys-color-on-secondary-container: #216c8a;
  --md-sys-color-secondary-fixed: #c1e8ff;
  --md-sys-color-secondary-fixed-dim: #8dcff2;
  --md-sys-color-on-secondary-fixed: #001e2b;
  --md-sys-color-on-secondary-fixed-variant: #004d67;
  --md-sys-color-tertiary: #bec2ff;
  --md-sys-color-tertiary-dim: #cfd1ff;
  --md-sys-color-on-tertiary: #262b61;
  --md-sys-color-tertiary-container: #e0e0ff;
  --md-sys-color-on-tertiary-container: #5b6098;
  --md-sys-color-tertiary-fixed: #e0e0ff;
  --md-sys-color-tertiary-fixed-dim: #bec2ff;
  --md-sys-color-on-tertiary-fixed: #0f144b;
  --md-sys-color-on-tertiary-fixed-variant: #3d4279;
  --md-sys-color-error: #ffb4ab;
  --md-sys-color-error-dim: #ffc7c0;
  --md-sys-color-on-error: #690005;
  --md-sys-color-error-container: #ffdad6;
  --md-sys-color-on-error-container: #c32220;
}

.dark-medium-contrast {
  --md-sys-color-primary-palette-key-color: #0996c5;
  --md-sys-color-secondary-palette-key-color: #3a7f9e;
  --md-sys-color-tertiary-palette-key-color: #6d72ac;
  --md-sys-color-neutral-palette-key-color: #767682;
  --md-sys-color-neutral-variant-palette-key-color: #74758b;
  --md-sys-color-error-palette-key-color: #de3730;
  --md-sys-color-background: #12131c;
  --md-sys-color-on-background: #e3e1ef;
  --md-sys-color-surface: #12131c;
  --md-sys-color-surface-dim: #12131c;
  --md-sys-color-surface-bright: #43434f;
  --md-sys-color-surface-container-lowest: #060710;
  --md-sys-color-surface-container-low: #1c1d27;
  --md-sys-color-surface-container: #272731;
  --md-sys-color-surface-container-high: #31323c;
  --md-sys-color-surface-container-highest: #3c3d48;
  --md-sys-color-on-surface: #ffffff;
  --md-sys-color-surface-variant: #444559;
  --md-sys-color-on-surface-variant: #dbdaf3;
  --md-sys-color-inverse-surface: #e3e1ef;
  --md-sys-color-inverse-on-surface: #292934;
  --md-sys-color-outline: #b0b0c8;
  --md-sys-color-outline-variant: #8e8ea5;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #73d1ff;
  --md-sys-color-primary: #b2e3ff;
  --md-sys-color-primary-dim: #9dddff;
  --md-sys-color-on-primary: #002939;
  --md-sys-color-primary-container: #f3faff;
  --md-sys-color-on-primary-container: #005c7a;
  --md-sys-color-inverse-primary: #004e68;
  --md-sys-color-primary-fixed: #c1e8ff;
  --md-sys-color-primary-fixed-dim: #73d1ff;
  --md-sys-color-on-primary-fixed: #00131d;
  --md-sys-color-on-primary-fixed-variant: #003b50;
  --md-sys-color-secondary: #b2e3ff;
  --md-sys-color-secondary-dim: #9dddff;
  --md-sys-color-on-secondary: #002939;
  --md-sys-color-secondary-container: #f3faff;
  --md-sys-color-on-secondary-container: #015c7a;
  --md-sys-color-secondary-fixed: #c1e8ff;
  --md-sys-color-secondary-fixed-dim: #8dcff2;
  --md-sys-color-on-secondary-fixed: #00131d;
  --md-sys-color-on-secondary-fixed-variant: #003b50;
  --md-sys-color-tertiary: #d8d9ff;
  --md-sys-color-tertiary-dim: #cfd1ff;
  --md-sys-color-on-tertiary: #1b2055;
  --md-sys-color-tertiary-container: #fbf7ff;
  --md-sys-color-on-tertiary-container: #4b5088;
  --md-sys-color-tertiary-fixed: #e0e0ff;
  --md-sys-color-tertiary-fixed-dim: #bec2ff;
  --md-sys-color-on-tertiary-fixed: #040741;
  --md-sys-color-on-tertiary-fixed-variant: #2c3167;
  --md-sys-color-error: #ffd2cc;
  --md-sys-color-error-dim: #ffc7c0;
  --md-sys-color-on-error: #540003;
  --md-sys-color-error-container: #fff7f6;
  --md-sys-color-on-error-container: #ab0b12;
}

.dark-high-contrast {
  --md-sys-color-primary-palette-key-color: #0996c5;
  --md-sys-color-secondary-palette-key-color: #3a7f9e;
  --md-sys-color-tertiary-palette-key-color: #6d72ac;
  --md-sys-color-neutral-palette-key-color: #767682;
  --md-sys-color-neutral-variant-palette-key-color: #74758b;
  --md-sys-color-error-palette-key-color: #de3730;
  --md-sys-color-background: #12131c;
  --md-sys-color-on-background: #e3e1ef;
  --md-sys-color-surface: #12131c;
  --md-sys-color-surface-dim: #12131c;
  --md-sys-color-surface-bright: #4f4f5b;
  --md-sys-color-surface-container-lowest: #000000;
  --md-sys-color-surface-container-low: #1e1f29;
  --md-sys-color-surface-container: #2f303a;
  --md-sys-color-surface-container-high: #3a3a46;
  --md-sys-color-surface-container-highest: #464651;
  --md-sys-color-on-surface: #ffffff;
  --md-sys-color-surface-variant: #444559;
  --md-sys-color-on-surface-variant: #ffffff;
  --md-sys-color-inverse-surface: #e3e1ef;
  --md-sys-color-inverse-on-surface: #000000;
  --md-sys-color-outline: #f0eeff;
  --md-sys-color-outline-variant: #c1c1d9;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #73d1ff;
  --md-sys-color-primary: #c1e8ff;
  --md-sys-color-primary-dim: #fffeff;
  --md-sys-color-on-primary: #000000;
  --md-sys-color-primary-container: #ffffff;
  --md-sys-color-on-primary-container: #004157;
  --md-sys-color-inverse-primary: #004e68;
  --md-sys-color-primary-fixed: #c1e8ff;
  --md-sys-color-primary-fixed-dim: #73d1ff;
  --md-sys-color-on-primary-fixed: #000000;
  --md-sys-color-on-primary-fixed-variant: #00131d;
  --md-sys-color-secondary: #c1e8ff;
  --md-sys-color-secondary-dim: #fffeff;
  --md-sys-color-on-secondary: #000000;
  --md-sys-color-secondary-container: #ffffff;
  --md-sys-color-on-secondary-container: #004157;
  --md-sys-color-secondary-fixed: #c1e8ff;
  --md-sys-color-secondary-fixed-dim: #8dcff2;
  --md-sys-color-on-secondary-fixed: #000000;
  --md-sys-color-on-secondary-fixed-variant: #00131d;
  --md-sys-color-tertiary: #e0e0ff;
  --md-sys-color-tertiary-dim: #fffeff;
  --md-sys-color-on-tertiary: #000000;
  --md-sys-color-tertiary-container: #ffffff;
  --md-sys-color-on-tertiary-container: #31366c;
  --md-sys-color-tertiary-fixed: #e0e0ff;
  --md-sys-color-tertiary-fixed-dim: #bec2ff;
  --md-sys-color-on-tertiary-fixed: #000000;
  --md-sys-color-on-tertiary-fixed-variant: #040741;
  --md-sys-color-error: #ffdad6;
  --md-sys-color-error-dim: #fffeff;
  --md-sys-color-on-error: #000000;
  --md-sys-color-error-container: #ffffff;
  --md-sys-color-on-error-container: #7e0007;
}

