.light {
  --md-sys-color-primary-palette-key-color: #0996c5;
  --md-sys-color-secondary-palette-key-color: #3a7f9e;
  --md-sys-color-tertiary-palette-key-color: #6d72ac;
  --md-sys-color-neutral-palette-key-color: #767682;
  --md-sys-color-neutral-variant-palette-key-color: #74758b;
  --md-sys-color-error-palette-key-color: #de3730;
  --md-sys-color-background: #fbf8ff;
  --md-sys-color-on-background: #31323c;
  --md-sys-color-surface: #fbf8ff;
  --md-sys-color-surface-dim: #dad8e7;
  --md-sys-color-surface-bright: #fbf8ff;
  --md-sys-color-surface-container-lowest: #ffffff;
  --md-sys-color-surface-container-low: #f4f2ff;
  --md-sys-color-surface-container: #eeecfb;
  --md-sys-color-surface-container-high: #e8e7f5;
  --md-sys-color-surface-container-highest: #e3e1ef;
  --md-sys-color-on-surface: #31323c;
  --md-sys-color-surface-variant: #e3e1ef;
  --md-sys-color-on-surface-variant: #5e5e6a;
  --md-sys-color-inverse-surface: #0d0d17;
  --md-sys-color-inverse-on-surface: #9c9ca9;
  --md-sys-color-outline: #7a7986;
  --md-sys-color-outline-variant: #b2b0be;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #006788;
  --md-sys-color-primary: #006788;
  --md-sys-color-primary-dim: #005a78;
  --md-sys-color-on-primary: #f3faff;
  --md-sys-color-primary-container: #5ecafb;
  --md-sys-color-on-primary-container: #004056;
  --md-sys-color-inverse-primary: #5ecafb;
  --md-sys-color-primary-fixed: #5ecafb;
  --md-sys-color-primary-fixed-dim: #4ebcec;
  --md-sys-color-on-primary-fixed: #002939;
  --md-sys-color-on-primary-fixed-variant: #004962;
  --md-sys-color-secondary: #196685;
  --md-sys-color-secondary-dim: #005a78;
  --md-sys-color-on-secondary: #f3faff;
  --md-sys-color-secondary-container: #c1e8ff;
  --md-sys-color-on-secondary-container: #005876;
  --md-sys-color-secondary-fixed: #c1e8ff;
  --md-sys-color-secondary-fixed-dim: #9dddff;
  --md-sys-color-on-secondary-fixed: #00455c;
  --md-sys-color-on-secondary-fixed-variant: #126381;
  --md-sys-color-tertiary: #555a93;
  --md-sys-color-tertiary-dim: #494e86;
  --md-sys-color-on-tertiary: #fbf8ff;
  --md-sys-color-tertiary-container: #babfff;
  --md-sys-color-on-tertiary-container: #34396f;
  --md-sys-color-tertiary-fixed: #babfff;
  --md-sys-color-tertiary-fixed-dim: #adb1f0;
  --md-sys-color-on-tertiary-fixed: #1f245a;
  --md-sys-color-on-tertiary-fixed-variant: #3d4279;
  --md-sys-color-error: #bb1b1b;
  --md-sys-color-error-dim: #a90810;
  --md-sys-color-on-error: #fff7f6;
  --md-sys-color-error-container: #fe4e44;
  --md-sys-color-on-error-container: #570003;
  --md-sys-color-control-activated: #5ecafb;
  --md-sys-color-control-normal: #5e5e6a;
  --md-sys-color-control-highlight: #0000001f;
  --md-sys-color-text-primary-inverse: #9c9ca9;
  --md-sys-color-text-secondary-and-tertiary-inverse: #c5c4dd;
  --md-sys-color-text-primary-inverse-disable-only: #e3e1ef;
  --md-sys-color-text-secondary-and-tertiary-inverse-disabled: #e3e1ef;
  --md-sys-color-text-hint-inverse: #e3e1ef;
}

.light-medium-contrast {
  --md-sys-color-primary-palette-key-color: #0996c5;
  --md-sys-color-secondary-palette-key-color: #3a7f9e;
  --md-sys-color-tertiary-palette-key-color: #6d72ac;
  --md-sys-color-neutral-palette-key-color: #767682;
  --md-sys-color-neutral-variant-palette-key-color: #74758b;
  --md-sys-color-error-palette-key-color: #de3730;
  --md-sys-color-background: #fbf8ff;
  --md-sys-color-on-background: #23232d;
  --md-sys-color-surface: #fbf8ff;
  --md-sys-color-surface-dim: #dad8e7;
  --md-sys-color-surface-bright: #fbf8ff;
  --md-sys-color-surface-container-lowest: #ffffff;
  --md-sys-color-surface-container-low: #f4f2ff;
  --md-sys-color-surface-container: #eeecfb;
  --md-sys-color-surface-container-high: #e8e7f5;
  --md-sys-color-surface-container-highest: #e3e1ef;
  --md-sys-color-on-surface: #23232d;
  --md-sys-color-surface-variant: #e3e1ef;
  --md-sys-color-on-surface-variant: #42424d;
  --md-sys-color-inverse-surface: #0d0d17;
  --md-sys-color-inverse-on-surface: #c5c3d1;
  --md-sys-color-outline: #5e5e6a;
  --md-sys-color-outline-variant: #7a7986;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #004861;
  --md-sys-color-primary: #004861;
  --md-sys-color-primary-dim: #003c52;
  --md-sys-color-on-primary: #abe1ff;
  --md-sys-color-primary-container: #007ea6;
  --md-sys-color-on-primary-container: #ffffff;
  --md-sys-color-inverse-primary: #5ecafb;
  --md-sys-color-primary-fixed: #007ea6;
  --md-sys-color-primary-fixed-dim: #007095;
  --md-sys-color-on-primary-fixed: #ffffff;
  --md-sys-color-on-primary-fixed-variant: #ffffff;
  --md-sys-color-secondary: #004861;
  --md-sys-color-secondary-dim: #003c52;
  --md-sys-color-on-secondary: #abe1ff;
  --md-sys-color-secondary-container: #367c9b;
  --md-sys-color-on-secondary-container: #ffffff;
  --md-sys-color-secondary-fixed: #367c9b;
  --md-sys-color-secondary-fixed-dim: #276f8e;
  --md-sys-color-on-secondary-fixed: #ffffff;
  --md-sys-color-on-secondary-fixed-variant: #ffffff;
  --md-sys-color-tertiary: #393e74;
  --md-sys-color-tertiary-dim: #2d3268;
  --md-sys-color-on-tertiary: #d5d7ff;
  --md-sys-color-tertiary-container: #6b70aa;
  --md-sys-color-on-tertiary-container: #ffffff;
  --md-sys-color-tertiary-fixed: #6b70aa;
  --md-sys-color-tertiary-fixed-dim: #5e649d;
  --md-sys-color-on-tertiary-fixed: #ffffff;
  --md-sys-color-on-tertiary-fixed-variant: #ffffff;
  --md-sys-color-error: #8c0009;
  --md-sys-color-error-dim: #760006;
  --md-sys-color-on-error: #ffcec8;
  --md-sys-color-error-container: #da342e;
  --md-sys-color-on-error-container: #ffffff;
  --md-sys-color-control-activated: #007ea6;
  --md-sys-color-control-normal: #42424d;
  --md-sys-color-control-highlight: #0000001f;
  --md-sys-color-text-primary-inverse: #c5c3d1;
  --md-sys-color-text-secondary-and-tertiary-inverse: #c5c4dd;
  --md-sys-color-text-primary-inverse-disable-only: #e3e1ef;
  --md-sys-color-text-secondary-and-tertiary-inverse-disabled: #e3e1ef;
  --md-sys-color-text-hint-inverse: #e3e1ef;
}

.light-high-contrast {
  --md-sys-color-primary-palette-key-color: #0996c5;
  --md-sys-color-secondary-palette-key-color: #3a7f9e;
  --md-sys-color-tertiary-palette-key-color: #6d72ac;
  --md-sys-color-neutral-palette-key-color: #767682;
  --md-sys-color-neutral-variant-palette-key-color: #74758b;
  --md-sys-color-error-palette-key-color: #de3730;
  --md-sys-color-background: #fbf8ff;
  --md-sys-color-on-background: #000000;
  --md-sys-color-surface: #fbf8ff;
  --md-sys-color-surface-dim: #dad8e7;
  --md-sys-color-surface-bright: #fbf8ff;
  --md-sys-color-surface-container-lowest: #ffffff;
  --md-sys-color-surface-container-low: #f4f2ff;
  --md-sys-color-surface-container: #eeecfb;
  --md-sys-color-surface-container-high: #e8e7f5;
  --md-sys-color-surface-container-highest: #e3e1ef;
  --md-sys-color-on-surface: #000000;
  --md-sys-color-surface-variant: #e3e1ef;
  --md-sys-color-on-surface-variant: #23232d;
  --md-sys-color-inverse-surface: #0d0d17;
  --md-sys-color-inverse-on-surface: #ffffff;
  --md-sys-color-outline: #42424d;
  --md-sys-color-outline-variant: #5e5e6a;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #002737;
  --md-sys-color-primary: #002737;
  --md-sys-color-primary-dim: #001d29;
  --md-sys-color-on-primary: #ace1ff;
  --md-sys-color-primary-container: #006788;
  --md-sys-color-on-primary-container: #ffffff;
  --md-sys-color-inverse-primary: #6dd0ff;
  --md-sys-color-primary-fixed: #006788;
  --md-sys-color-primary-fixed-dim: #005a78;
  --md-sys-color-on-primary-fixed: #ffffff;
  --md-sys-color-on-primary-fixed-variant: #ffffff;
  --md-sys-color-secondary: #002737;
  --md-sys-color-secondary-dim: #001d29;
  --md-sys-color-on-secondary: #ace1ff;
  --md-sys-color-secondary-container: #196685;
  --md-sys-color-on-secondary-container: #ffffff;
  --md-sys-color-secondary-fixed: #196685;
  --md-sys-color-secondary-fixed-dim: #005a78;
  --md-sys-color-on-secondary-fixed: #ffffff;
  --md-sys-color-on-secondary-fixed-variant: #ffffff;
  --md-sys-color-tertiary: #191e53;
  --md-sys-color-tertiary-dim: #0d1249;
  --md-sys-color-on-tertiary: #d5d7ff;
  --md-sys-color-tertiary-container: #555a93;
  --md-sys-color-on-tertiary-container: #ffffff;
  --md-sys-color-tertiary-fixed: #555a93;
  --md-sys-color-tertiary-fixed-dim: #494e86;
  --md-sys-color-on-tertiary-fixed: #ffffff;
  --md-sys-color-on-tertiary-fixed-variant: #ffffff;
  --md-sys-color-error: #510003;
  --md-sys-color-error-dim: #3e0002;
  --md-sys-color-on-error: #ffcfc9;
  --md-sys-color-error-container: #bb1b1b;
  --md-sys-color-on-error-container: #ffffff;
  --md-sys-color-control-activated: #006788;
  --md-sys-color-control-normal: #23232d;
  --md-sys-color-control-highlight: #0000001f;
  --md-sys-color-text-primary-inverse: #ffffff;
  --md-sys-color-text-secondary-and-tertiary-inverse: #c5c4dd;
  --md-sys-color-text-primary-inverse-disable-only: #e3e1ef;
  --md-sys-color-text-secondary-and-tertiary-inverse-disabled: #e3e1ef;
  --md-sys-color-text-hint-inverse: #e3e1ef;
}

.dark {
  --md-sys-color-primary-palette-key-color: #0996c5;
  --md-sys-color-secondary-palette-key-color: #3a7f9e;
  --md-sys-color-tertiary-palette-key-color: #6d72ac;
  --md-sys-color-neutral-palette-key-color: #767682;
  --md-sys-color-neutral-variant-palette-key-color: #74758b;
  --md-sys-color-error-palette-key-color: #de3730;
  --md-sys-color-background: #0d0d17;
  --md-sys-color-on-background: #e6e4f2;
  --md-sys-color-surface: #0d0d17;
  --md-sys-color-surface-dim: #0d0d17;
  --md-sys-color-surface-bright: #2b2b36;
  --md-sys-color-surface-container-lowest: #000000;
  --md-sys-color-surface-container-low: #12131c;
  --md-sys-color-surface-container: #181923;
  --md-sys-color-surface-container-high: #1e1f29;
  --md-sys-color-surface-container-highest: #24252f;
  --md-sys-color-on-surface: #e6e4f2;
  --md-sys-color-surface-variant: #24252f;
  --md-sys-color-on-surface-variant: #abaab7;
  --md-sys-color-inverse-surface: #fbf8ff;
  --md-sys-color-inverse-on-surface: #545460;
  --md-sys-color-outline: #757481;
  --md-sys-color-outline-variant: #474752;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #5ecafb;
  --md-sys-color-primary: #5ecafb;
  --md-sys-color-primary-dim: #4ebcec;
  --md-sys-color-on-primary: #004056;
  --md-sys-color-primary-container: #38acdb;
  --md-sys-color-on-primary-container: #002635;
  --md-sys-color-inverse-primary: #006788;
  --md-sys-color-primary-fixed: #5ecafb;
  --md-sys-color-primary-fixed-dim: #4ebcec;
  --md-sys-color-on-primary-fixed: #002939;
  --md-sys-color-on-primary-fixed-variant: #004962;
  --md-sys-color-secondary: #8dcff2;
  --md-sys-color-secondary-dim: #7fc1e3;
  --md-sys-color-on-secondary: #00465e;
  --md-sys-color-secondary-container: #004157;
  --md-sys-color-on-secondary-container: #86c8ea;
  --md-sys-color-secondary-fixed: #c1e8ff;
  --md-sys-color-secondary-fixed-dim: #9dddff;
  --md-sys-color-on-secondary-fixed: #00455c;
  --md-sys-color-on-secondary-fixed-variant: #126381;
  --md-sys-color-tertiary: #cbceff;
  --md-sys-color-tertiary-dim: #babfff;
  --md-sys-color-on-tertiary: #3d4379;
  --md-sys-color-tertiary-container: #babfff;
  --md-sys-color-on-tertiary-container: #34396f;
  --md-sys-color-tertiary-fixed: #babfff;
  --md-sys-color-tertiary-fixed-dim: #adb1f0;
  --md-sys-color-on-tertiary-fixed: #1f245a;
  --md-sys-color-on-tertiary-fixed-variant: #3d4279;
  --md-sys-color-error: #ff7164;
  --md-sys-color-error-dim: #da342e;
  --md-sys-color-on-error: #4a0002;
  --md-sys-color-error-container: #ac0c12;
  --md-sys-color-on-error-container: #ffb8b0;
  --md-sys-color-control-activated: #38acdb;
  --md-sys-color-control-normal: #abaab7;
  --md-sys-color-control-highlight: #ffffff33;
  --md-sys-color-text-primary-inverse: #545460;
  --md-sys-color-text-secondary-and-tertiary-inverse: #444559;
  --md-sys-color-text-primary-inverse-disable-only: #1a1b25;
  --md-sys-color-text-secondary-and-tertiary-inverse-disabled: #1a1b25;
  --md-sys-color-text-hint-inverse: #1a1b25;
}

.dark-medium-contrast {
  --md-sys-color-primary-palette-key-color: #0996c5;
  --md-sys-color-secondary-palette-key-color: #3a7f9e;
  --md-sys-color-tertiary-palette-key-color: #6d72ac;
  --md-sys-color-neutral-palette-key-color: #767682;
  --md-sys-color-neutral-variant-palette-key-color: #74758b;
  --md-sys-color-error-palette-key-color: #de3730;
  --md-sys-color-background: #0d0d17;
  --md-sys-color-on-background: #ffffff;
  --md-sys-color-surface: #0d0d17;
  --md-sys-color-surface-dim: #0d0d17;
  --md-sys-color-surface-bright: #2b2b36;
  --md-sys-color-surface-container-lowest: #000000;
  --md-sys-color-surface-container-low: #12131c;
  --md-sys-color-surface-container: #181923;
  --md-sys-color-surface-container-high: #1e1f29;
  --md-sys-color-surface-container-highest: #24252f;
  --md-sys-color-on-surface: #ffffff;
  --md-sys-color-surface-variant: #24252f;
  --md-sys-color-on-surface-variant: #b9b7c5;
  --md-sys-color-inverse-surface: #fbf8ff;
  --md-sys-color-inverse-on-surface: #373742;
  --md-sys-color-outline: #93929f;
  --md-sys-color-outline-variant: #757481;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #5ecafb;
  --md-sys-color-primary: #5ecafb;
  --md-sys-color-primary-dim: #4ebcec;
  --md-sys-color-on-primary: #003548;
  --md-sys-color-primary-container: #38acdb;
  --md-sys-color-on-primary-container: #001721;
  --md-sys-color-inverse-primary: #005c7a;
  --md-sys-color-primary-fixed: #5ecafb;
  --md-sys-color-primary-fixed-dim: #4ebcec;
  --md-sys-color-on-primary-fixed: #000000;
  --md-sys-color-on-primary-fixed-variant: #002939;
  --md-sys-color-secondary: #8dcff2;
  --md-sys-color-secondary-dim: #7fc1e3;
  --md-sys-color-on-secondary: #003b50;
  --md-sys-color-secondary-container: #367c9b;
  --md-sys-color-on-secondary-container: #ffffff;
  --md-sys-color-secondary-fixed: #c1e8ff;
  --md-sys-color-secondary-fixed-dim: #9dddff;
  --md-sys-color-on-secondary-fixed: #002330;
  --md-sys-color-on-secondary-fixed-variant: #00455c;
  --md-sys-color-tertiary: #cbceff;
  --md-sys-color-tertiary-dim: #babfff;
  --md-sys-color-on-tertiary: #33396f;
  --md-sys-color-tertiary-container: #babfff;
  --md-sys-color-on-tertiary-container: #2a2f65;
  --md-sys-color-tertiary-fixed: #babfff;
  --md-sys-color-tertiary-fixed-dim: #adb1f0;
  --md-sys-color-on-tertiary-fixed: #000000;
  --md-sys-color-on-tertiary-fixed-variant: #1f245a;
  --md-sys-color-error: #ff9f94;
  --md-sys-color-error-dim: #ff887c;
  --md-sys-color-on-error: #600004;
  --md-sys-color-error-container: #da342e;
  --md-sys-color-on-error-container: #ffffff;
  --md-sys-color-control-activated: #38acdb;
  --md-sys-color-control-normal: #b9b7c5;
  --md-sys-color-control-highlight: #ffffff33;
  --md-sys-color-text-primary-inverse: #373742;
  --md-sys-color-text-secondary-and-tertiary-inverse: #444559;
  --md-sys-color-text-primary-inverse-disable-only: #1a1b25;
  --md-sys-color-text-secondary-and-tertiary-inverse-disabled: #1a1b25;
  --md-sys-color-text-hint-inverse: #1a1b25;
}

.dark-high-contrast {
  --md-sys-color-primary-palette-key-color: #0996c5;
  --md-sys-color-secondary-palette-key-color: #3a7f9e;
  --md-sys-color-tertiary-palette-key-color: #6d72ac;
  --md-sys-color-neutral-palette-key-color: #767682;
  --md-sys-color-neutral-variant-palette-key-color: #74758b;
  --md-sys-color-error-palette-key-color: #de3730;
  --md-sys-color-background: #0d0d17;
  --md-sys-color-on-background: #ffffff;
  --md-sys-color-surface: #0d0d17;
  --md-sys-color-surface-dim: #0d0d17;
  --md-sys-color-surface-bright: #2b2b36;
  --md-sys-color-surface-container-lowest: #000000;
  --md-sys-color-surface-container-low: #12131c;
  --md-sys-color-surface-container: #181923;
  --md-sys-color-surface-container-high: #1e1f29;
  --md-sys-color-surface-container-highest: #24252f;
  --md-sys-color-on-surface: #ffffff;
  --md-sys-color-surface-variant: #24252f;
  --md-sys-color-on-surface-variant: #e6e4f2;
  --md-sys-color-inverse-surface: #fbf8ff;
  --md-sys-color-inverse-on-surface: #000000;
  --md-sys-color-outline: #b9b7c5;
  --md-sys-color-outline-variant: #93929f;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #c8eaff;
  --md-sys-color-primary: #c8eaff;
  --md-sys-color-primary-dim: #9eddff;
  --md-sys-color-on-primary: #003042;
  --md-sys-color-primary-container: #38acdb;
  --md-sys-color-on-primary-container: #000000;
  --md-sys-color-inverse-primary: #003d52;
  --md-sys-color-primary-fixed: #5ecafb;
  --md-sys-color-primary-fixed-dim: #4ebcec;
  --md-sys-color-on-primary-fixed: #000000;
  --md-sys-color-on-primary-fixed-variant: #000000;
  --md-sys-color-secondary: #c8eaff;
  --md-sys-color-secondary-dim: #9eddff;
  --md-sys-color-on-secondary: #003042;
  --md-sys-color-secondary-container: #64a6c7;
  --md-sys-color-on-secondary-container: #000000;
  --md-sys-color-secondary-fixed: #c1e8ff;
  --md-sys-color-secondary-fixed-dim: #9dddff;
  --md-sys-color-on-secondary-fixed: #000000;
  --md-sys-color-on-secondary-fixed-variant: #002330;
  --md-sys-color-tertiary: #e3e3ff;
  --md-sys-color-tertiary-dim: #cfd1ff;
  --md-sys-color-on-tertiary: #21265c;
  --md-sys-color-tertiary-container: #babfff;
  --md-sys-color-on-tertiary-container: #00033e;
  --md-sys-color-tertiary-fixed: #babfff;
  --md-sys-color-tertiary-fixed-dim: #adb1f0;
  --md-sys-color-on-tertiary-fixed: #000000;
  --md-sys-color-on-tertiary-fixed-variant: #000000;
  --md-sys-color-error: #ffdeda;
  --md-sys-color-error-dim: #ffc8c1;
  --md-sys-color-on-error: #600004;
  --md-sys-color-error-container: #ff7164;
  --md-sys-color-on-error-container: #000000;
  --md-sys-color-control-activated: #38acdb;
  --md-sys-color-control-normal: #e6e4f2;
  --md-sys-color-control-highlight: #ffffff33;
  --md-sys-color-text-primary-inverse: #000000;
  --md-sys-color-text-secondary-and-tertiary-inverse: #444559;
  --md-sys-color-text-primary-inverse-disable-only: #1a1b25;
  --md-sys-color-text-secondary-and-tertiary-inverse-disabled: #1a1b25;
  --md-sys-color-text-hint-inverse: #1a1b25;
}

