.light {
  --md-sys-color-primary-palette-key-color: #0996c5;
  --md-sys-color-secondary-palette-key-color: #3a7f9e;
  --md-sys-color-tertiary-palette-key-color: #6d72ac;
  --md-sys-color-neutral-palette-key-color: #767682;
  --md-sys-color-neutral-variant-palette-key-color: #74758b;
  --md-sys-color-error-palette-key-color: #de3730;
  --md-sys-color-background: #000000;
  --md-sys-color-on-background: #ffffff;
  --md-sys-color-surface: #000000;
  --md-sys-color-surface-dim: #0d0d17;
  --md-sys-color-surface-bright: #2b2b36;
  --md-sys-color-surface-container-lowest: #000000;
  --md-sys-color-surface-container-low: #24252f;
  --md-sys-color-surface-container: #2f303a;
  --md-sys-color-surface-container-high: #3a3a46;
  --md-sys-color-surface-container-highest: #24252f;
  --md-sys-color-on-surface: #e8e6f5;
  --md-sys-color-surface-variant: #24252f;
  --md-sys-color-on-surface-variant: #ceccdb;
  --md-sys-color-inverse-surface: #fbf8ff;
  --md-sys-color-inverse-on-surface: #545460;
  --md-sys-color-outline: #a5a4b2;
  --md-sys-color-outline-variant: #858491;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #8bd8ff;
  --md-sys-color-primary: #8bd8ff;
  --md-sys-color-primary-dim: #5ecafb;
  --md-sys-color-on-primary: #003548;
  --md-sys-color-primary-container: #004d67;
  --md-sys-color-on-primary-container: #bbe6ff;
  --md-sys-color-inverse-primary: #005c7a;
  --md-sys-color-primary-fixed: #004d67;
  --md-sys-color-primary-fixed-dim: #004157;
  --md-sys-color-on-primary-fixed: #8bd8ff;
  --md-sys-color-on-primary-fixed-variant: #3fb1e1;
  --md-sys-color-secondary: #98dafd;
  --md-sys-color-secondary-dim: #8bccef;
  --md-sys-color-on-secondary: #00394d;
  --md-sys-color-secondary-container: #004d67;
  --md-sys-color-on-secondary-container: #bbe6ff;
  --md-sys-color-secondary-fixed: #004d67;
  --md-sys-color-secondary-fixed-dim: #004157;
  --md-sys-color-on-secondary-fixed: #95d7f9;
  --md-sys-color-on-secondary-fixed-variant: #6caecf;
  --md-sys-color-tertiary: #c7caff;
  --md-sys-color-tertiary-dim: #b7bcfb;
  --md-sys-color-on-tertiary: #272c62;
  --md-sys-color-tertiary-container: #9ca0de;
  --md-sys-color-on-tertiary-container: #0e1349;
  --md-sys-color-tertiary-fixed: #9ca0de;
  --md-sys-color-tertiary-fixed-dim: #8e93d0;
  --md-sys-color-on-tertiary-fixed: #000123;
  --md-sys-color-on-tertiary-fixed-variant: #262b60;
  --md-sys-color-error: #ffbeb7;
  --md-sys-color-error-dim: #ff8073;
  --md-sys-color-on-error: #400002;
  --md-sys-color-error-container: #93000a;
  --md-sys-color-on-error-container: #ffd7d2;
}

.light-medium-contrast {
  --md-sys-color-primary-palette-key-color: #0996c5;
  --md-sys-color-secondary-palette-key-color: #3a7f9e;
  --md-sys-color-tertiary-palette-key-color: #6d72ac;
  --md-sys-color-neutral-palette-key-color: #767682;
  --md-sys-color-neutral-variant-palette-key-color: #74758b;
  --md-sys-color-error-palette-key-color: #de3730;
  --md-sys-color-background: #000000;
  --md-sys-color-on-background: #ffffff;
  --md-sys-color-surface: #000000;
  --md-sys-color-surface-dim: #0d0d17;
  --md-sys-color-surface-bright: #2b2b36;
  --md-sys-color-surface-container-lowest: #000000;
  --md-sys-color-surface-container-low: #24252f;
  --md-sys-color-surface-container: #2f303a;
  --md-sys-color-surface-container-high: #3a3a46;
  --md-sys-color-surface-container-highest: #24252f;
  --md-sys-color-on-surface: #fffeff;
  --md-sys-color-surface-variant: #24252f;
  --md-sys-color-on-surface-variant: #fffeff;
  --md-sys-color-inverse-surface: #fbf8ff;
  --md-sys-color-inverse-on-surface: #373742;
  --md-sys-color-outline: #ceccdb;
  --md-sys-color-outline-variant: #a5a4b2;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #fffeff;
  --md-sys-color-primary: #fffeff;
  --md-sys-color-primary-dim: #8bd8ff;
  --md-sys-color-on-primary: #001c29;
  --md-sys-color-primary-container: #004d67;
  --md-sys-color-on-primary-container: #ffffff;
  --md-sys-color-inverse-primary: #003d52;
  --md-sys-color-primary-fixed: #004d67;
  --md-sys-color-primary-fixed-dim: #004157;
  --md-sys-color-on-primary-fixed: #fffeff;
  --md-sys-color-on-primary-fixed-variant: #8bd8ff;
  --md-sys-color-secondary: #fffeff;
  --md-sys-color-secondary-dim: #98dafd;
  --md-sys-color-on-secondary: #00202d;
  --md-sys-color-secondary-container: #004d67;
  --md-sys-color-on-secondary-container: #ffffff;
  --md-sys-color-secondary-fixed: #004d67;
  --md-sys-color-secondary-fixed-dim: #004157;
  --md-sys-color-on-secondary-fixed: #fffeff;
  --md-sys-color-on-secondary-fixed-variant: #95d7f9;
  --md-sys-color-tertiary: #fffeff;
  --md-sys-color-tertiary-dim: #c7caff;
  --md-sys-color-on-tertiary: #0d1249;
  --md-sys-color-tertiary-container: #a9aeec;
  --md-sys-color-on-tertiary-container: #000000;
  --md-sys-color-tertiary-fixed: #9ca0de;
  --md-sys-color-tertiary-fixed-dim: #8e93d0;
  --md-sys-color-on-tertiary-fixed: #000000;
  --md-sys-color-on-tertiary-fixed-variant: #000123;
  --md-sys-color-error: #fffeff;
  --md-sys-color-error-dim: #ffbeb7;
  --md-sys-color-on-error: #3d0002;
  --md-sys-color-error-container: #93000a;
  --md-sys-color-on-error-container: #ffffff;
}

.light-high-contrast {
  --md-sys-color-primary-palette-key-color: #0996c5;
  --md-sys-color-secondary-palette-key-color: #3a7f9e;
  --md-sys-color-tertiary-palette-key-color: #6d72ac;
  --md-sys-color-neutral-palette-key-color: #767682;
  --md-sys-color-neutral-variant-palette-key-color: #74758b;
  --md-sys-color-error-palette-key-color: #de3730;
  --md-sys-color-background: #000000;
  --md-sys-color-on-background: #ffffff;
  --md-sys-color-surface: #000000;
  --md-sys-color-surface-dim: #0d0d17;
  --md-sys-color-surface-bright: #2b2b36;
  --md-sys-color-surface-container-lowest: #000000;
  --md-sys-color-surface-container-low: #24252f;
  --md-sys-color-surface-container: #2f303a;
  --md-sys-color-surface-container-high: #3a3a46;
  --md-sys-color-surface-container-highest: #24252f;
  --md-sys-color-on-surface: #ffffff;
  --md-sys-color-surface-variant: #24252f;
  --md-sys-color-on-surface-variant: #ffffff;
  --md-sys-color-inverse-surface: #fbf8ff;
  --md-sys-color-inverse-on-surface: #000000;
  --md-sys-color-outline: #fffeff;
  --md-sys-color-outline-variant: #ceccdb;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #ffffff;
  --md-sys-color-primary: #ffffff;
  --md-sys-color-primary-dim: #fffeff;
  --md-sys-color-on-primary: #000000;
  --md-sys-color-primary-container: #004d67;
  --md-sys-color-on-primary-container: #ffffff;
  --md-sys-color-inverse-primary: #000000;
  --md-sys-color-primary-fixed: #004d67;
  --md-sys-color-primary-fixed-dim: #004157;
  --md-sys-color-on-primary-fixed: #ffffff;
  --md-sys-color-on-primary-fixed-variant: #fffeff;
  --md-sys-color-secondary: #ffffff;
  --md-sys-color-secondary-dim: #fffeff;
  --md-sys-color-on-secondary: #000000;
  --md-sys-color-secondary-container: #004d67;
  --md-sys-color-on-secondary-container: #ffffff;
  --md-sys-color-secondary-fixed: #004d67;
  --md-sys-color-secondary-fixed-dim: #004157;
  --md-sys-color-on-secondary-fixed: #ffffff;
  --md-sys-color-on-secondary-fixed-variant: #fffeff;
  --md-sys-color-tertiary: #ffffff;
  --md-sys-color-tertiary-dim: #fffeff;
  --md-sys-color-on-tertiary: #000000;
  --md-sys-color-tertiary-container: #babfff;
  --md-sys-color-on-tertiary-container: #000000;
  --md-sys-color-tertiary-fixed: #9ca0de;
  --md-sys-color-tertiary-fixed-dim: #8e93d0;
  --md-sys-color-on-tertiary-fixed: #000000;
  --md-sys-color-on-tertiary-fixed-variant: #000000;
  --md-sys-color-error: #ffffff;
  --md-sys-color-error-dim: #fffeff;
  --md-sys-color-on-error: #000000;
  --md-sys-color-error-container: #93000a;
  --md-sys-color-on-error-container: #ffffff;
}

.dark {
  --md-sys-color-primary-palette-key-color: #0996c5;
  --md-sys-color-secondary-palette-key-color: #3a7f9e;
  --md-sys-color-tertiary-palette-key-color: #6d72ac;
  --md-sys-color-neutral-palette-key-color: #767682;
  --md-sys-color-neutral-variant-palette-key-color: #74758b;
  --md-sys-color-error-palette-key-color: #de3730;
  --md-sys-color-background: #000000;
  --md-sys-color-on-background: #ffffff;
  --md-sys-color-surface: #000000;
  --md-sys-color-surface-dim: #0d0d17;
  --md-sys-color-surface-bright: #2b2b36;
  --md-sys-color-surface-container-lowest: #000000;
  --md-sys-color-surface-container-low: #24252f;
  --md-sys-color-surface-container: #2f303a;
  --md-sys-color-surface-container-high: #3a3a46;
  --md-sys-color-surface-container-highest: #24252f;
  --md-sys-color-on-surface: #e8e6f5;
  --md-sys-color-surface-variant: #24252f;
  --md-sys-color-on-surface-variant: #ceccdb;
  --md-sys-color-inverse-surface: #fbf8ff;
  --md-sys-color-inverse-on-surface: #545460;
  --md-sys-color-outline: #a5a4b2;
  --md-sys-color-outline-variant: #858491;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #8bd8ff;
  --md-sys-color-primary: #8bd8ff;
  --md-sys-color-primary-dim: #5ecafb;
  --md-sys-color-on-primary: #003548;
  --md-sys-color-primary-container: #004d67;
  --md-sys-color-on-primary-container: #bbe6ff;
  --md-sys-color-inverse-primary: #005c7a;
  --md-sys-color-primary-fixed: #004d67;
  --md-sys-color-primary-fixed-dim: #004157;
  --md-sys-color-on-primary-fixed: #8bd8ff;
  --md-sys-color-on-primary-fixed-variant: #3fb1e1;
  --md-sys-color-secondary: #98dafd;
  --md-sys-color-secondary-dim: #8bccef;
  --md-sys-color-on-secondary: #00394d;
  --md-sys-color-secondary-container: #004d67;
  --md-sys-color-on-secondary-container: #bbe6ff;
  --md-sys-color-secondary-fixed: #004d67;
  --md-sys-color-secondary-fixed-dim: #004157;
  --md-sys-color-on-secondary-fixed: #95d7f9;
  --md-sys-color-on-secondary-fixed-variant: #6caecf;
  --md-sys-color-tertiary: #c7caff;
  --md-sys-color-tertiary-dim: #b7bcfb;
  --md-sys-color-on-tertiary: #272c62;
  --md-sys-color-tertiary-container: #9ca0de;
  --md-sys-color-on-tertiary-container: #0e1349;
  --md-sys-color-tertiary-fixed: #9ca0de;
  --md-sys-color-tertiary-fixed-dim: #8e93d0;
  --md-sys-color-on-tertiary-fixed: #000123;
  --md-sys-color-on-tertiary-fixed-variant: #262b60;
  --md-sys-color-error: #ffbeb7;
  --md-sys-color-error-dim: #ff8073;
  --md-sys-color-on-error: #400002;
  --md-sys-color-error-container: #93000a;
  --md-sys-color-on-error-container: #ffd7d2;
}

.dark-medium-contrast {
  --md-sys-color-primary-palette-key-color: #0996c5;
  --md-sys-color-secondary-palette-key-color: #3a7f9e;
  --md-sys-color-tertiary-palette-key-color: #6d72ac;
  --md-sys-color-neutral-palette-key-color: #767682;
  --md-sys-color-neutral-variant-palette-key-color: #74758b;
  --md-sys-color-error-palette-key-color: #de3730;
  --md-sys-color-background: #000000;
  --md-sys-color-on-background: #ffffff;
  --md-sys-color-surface: #000000;
  --md-sys-color-surface-dim: #0d0d17;
  --md-sys-color-surface-bright: #2b2b36;
  --md-sys-color-surface-container-lowest: #000000;
  --md-sys-color-surface-container-low: #24252f;
  --md-sys-color-surface-container: #2f303a;
  --md-sys-color-surface-container-high: #3a3a46;
  --md-sys-color-surface-container-highest: #24252f;
  --md-sys-color-on-surface: #fffeff;
  --md-sys-color-surface-variant: #24252f;
  --md-sys-color-on-surface-variant: #fffeff;
  --md-sys-color-inverse-surface: #fbf8ff;
  --md-sys-color-inverse-on-surface: #373742;
  --md-sys-color-outline: #ceccdb;
  --md-sys-color-outline-variant: #a5a4b2;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #fffeff;
  --md-sys-color-primary: #fffeff;
  --md-sys-color-primary-dim: #8bd8ff;
  --md-sys-color-on-primary: #001c29;
  --md-sys-color-primary-container: #004d67;
  --md-sys-color-on-primary-container: #ffffff;
  --md-sys-color-inverse-primary: #003d52;
  --md-sys-color-primary-fixed: #004d67;
  --md-sys-color-primary-fixed-dim: #004157;
  --md-sys-color-on-primary-fixed: #fffeff;
  --md-sys-color-on-primary-fixed-variant: #8bd8ff;
  --md-sys-color-secondary: #fffeff;
  --md-sys-color-secondary-dim: #98dafd;
  --md-sys-color-on-secondary: #00202d;
  --md-sys-color-secondary-container: #004d67;
  --md-sys-color-on-secondary-container: #ffffff;
  --md-sys-color-secondary-fixed: #004d67;
  --md-sys-color-secondary-fixed-dim: #004157;
  --md-sys-color-on-secondary-fixed: #fffeff;
  --md-sys-color-on-secondary-fixed-variant: #95d7f9;
  --md-sys-color-tertiary: #fffeff;
  --md-sys-color-tertiary-dim: #c7caff;
  --md-sys-color-on-tertiary: #0d1249;
  --md-sys-color-tertiary-container: #a9aeec;
  --md-sys-color-on-tertiary-container: #000000;
  --md-sys-color-tertiary-fixed: #9ca0de;
  --md-sys-color-tertiary-fixed-dim: #8e93d0;
  --md-sys-color-on-tertiary-fixed: #000000;
  --md-sys-color-on-tertiary-fixed-variant: #000123;
  --md-sys-color-error: #fffeff;
  --md-sys-color-error-dim: #ffbeb7;
  --md-sys-color-on-error: #3d0002;
  --md-sys-color-error-container: #93000a;
  --md-sys-color-on-error-container: #ffffff;
}

.dark-high-contrast {
  --md-sys-color-primary-palette-key-color: #0996c5;
  --md-sys-color-secondary-palette-key-color: #3a7f9e;
  --md-sys-color-tertiary-palette-key-color: #6d72ac;
  --md-sys-color-neutral-palette-key-color: #767682;
  --md-sys-color-neutral-variant-palette-key-color: #74758b;
  --md-sys-color-error-palette-key-color: #de3730;
  --md-sys-color-background: #000000;
  --md-sys-color-on-background: #ffffff;
  --md-sys-color-surface: #000000;
  --md-sys-color-surface-dim: #0d0d17;
  --md-sys-color-surface-bright: #2b2b36;
  --md-sys-color-surface-container-lowest: #000000;
  --md-sys-color-surface-container-low: #24252f;
  --md-sys-color-surface-container: #2f303a;
  --md-sys-color-surface-container-high: #3a3a46;
  --md-sys-color-surface-container-highest: #24252f;
  --md-sys-color-on-surface: #ffffff;
  --md-sys-color-surface-variant: #24252f;
  --md-sys-color-on-surface-variant: #ffffff;
  --md-sys-color-inverse-surface: #fbf8ff;
  --md-sys-color-inverse-on-surface: #000000;
  --md-sys-color-outline: #fffeff;
  --md-sys-color-outline-variant: #ceccdb;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #ffffff;
  --md-sys-color-primary: #ffffff;
  --md-sys-color-primary-dim: #fffeff;
  --md-sys-color-on-primary: #000000;
  --md-sys-color-primary-container: #004d67;
  --md-sys-color-on-primary-container: #ffffff;
  --md-sys-color-inverse-primary: #000000;
  --md-sys-color-primary-fixed: #004d67;
  --md-sys-color-primary-fixed-dim: #004157;
  --md-sys-color-on-primary-fixed: #ffffff;
  --md-sys-color-on-primary-fixed-variant: #fffeff;
  --md-sys-color-secondary: #ffffff;
  --md-sys-color-secondary-dim: #fffeff;
  --md-sys-color-on-secondary: #000000;
  --md-sys-color-secondary-container: #004d67;
  --md-sys-color-on-secondary-container: #ffffff;
  --md-sys-color-secondary-fixed: #004d67;
  --md-sys-color-secondary-fixed-dim: #004157;
  --md-sys-color-on-secondary-fixed: #ffffff;
  --md-sys-color-on-secondary-fixed-variant: #fffeff;
  --md-sys-color-tertiary: #ffffff;
  --md-sys-color-tertiary-dim: #fffeff;
  --md-sys-color-on-tertiary: #000000;
  --md-sys-color-tertiary-container: #babfff;
  --md-sys-color-on-tertiary-container: #000000;
  --md-sys-color-tertiary-fixed: #9ca0de;
  --md-sys-color-tertiary-fixed-dim: #8e93d0;
  --md-sys-color-on-tertiary-fixed: #000000;
  --md-sys-color-on-tertiary-fixed-variant: #000000;
  --md-sys-color-error: #ffffff;
  --md-sys-color-error-dim: #fffeff;
  --md-sys-color-on-error: #000000;
  --md-sys-color-error-container: #93000a;
  --md-sys-color-on-error-container: #ffffff;
}

