.light {
  --md-sys-color-primary-palette-key-color: #0996c5;
  --md-sys-color-secondary-palette-key-color: #3a7f9e;
  --md-sys-color-tertiary-palette-key-color: #6d72ac;
  --md-sys-color-neutral-palette-key-color: #767682;
  --md-sys-color-neutral-variant-palette-key-color: #74758b;
  --md-sys-color-error-palette-key-color: #de3730;
  --md-sys-color-background: #fbf8ff;
  --md-sys-color-on-background: #1a1b25;
  --md-sys-color-surface: #fbf8ff;
  --md-sys-color-surface-dim: #dad8e7;
  --md-sys-color-surface-bright: #fbf8ff;
  --md-sys-color-surface-container-lowest: #ffffff;
  --md-sys-color-surface-container-low: #f4f2ff;
  --md-sys-color-surface-container: #eeecfb;
  --md-sys-color-surface-container-high: #e8e7f5;
  --md-sys-color-surface-container-highest: #e3e1ef;
  --md-sys-color-on-surface: #1a1b25;
  --md-sys-color-surface-variant: #e1e0f9;
  --md-sys-color-on-surface-variant: #444559;
  --md-sys-color-inverse-surface: #2f303a;
  --md-sys-color-inverse-on-surface: #f1effe;
  --md-sys-color-outline: #75758b;
  --md-sys-color-outline-variant: #c5c4dd;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #006687;
  --md-sys-color-primary: #006687;
  --md-sys-color-primary-dim: #007094;
  --md-sys-color-on-primary: #ffffff;
  --md-sys-color-primary-container: #c1e8ff;
  --md-sys-color-on-primary-container: #004d67;
  --md-sys-color-inverse-primary: #73d1ff;
  --md-sys-color-primary-fixed: #c1e8ff;
  --md-sys-color-primary-fixed-dim: #73d1ff;
  --md-sys-color-on-primary-fixed: #001e2b;
  --md-sys-color-on-primary-fixed-variant: #004d67;
  --md-sys-color-secondary: #186584;
  --md-sys-color-secondary-dim: #266f8e;
  --md-sys-color-on-secondary: #ffffff;
  --md-sys-color-secondary-container: #c1e8ff;
  --md-sys-color-on-secondary-container: #004d67;
  --md-sys-color-secondary-fixed: #c1e8ff;
  --md-sys-color-secondary-fixed-dim: #8dcff2;
  --md-sys-color-on-secondary-fixed: #001e2b;
  --md-sys-color-on-secondary-fixed-variant: #004d67;
  --md-sys-color-tertiary: #555a92;
  --md-sys-color-tertiary-dim: #5e639c;
  --md-sys-color-on-tertiary: #ffffff;
  --md-sys-color-tertiary-container: #e0e0ff;
  --md-sys-color-on-tertiary-container: #3d4279;
  --md-sys-color-tertiary-fixed: #e0e0ff;
  --md-sys-color-tertiary-fixed-dim: #bec2ff;
  --md-sys-color-on-tertiary-fixed: #0f144b;
  --md-sys-color-on-tertiary-fixed-variant: #3d4279;
  --md-sys-color-error: #ba1a1a;
  --md-sys-color-error-dim: #ac0c12;
  --md-sys-color-on-error: #ffffff;
  --md-sys-color-error-container: #ffdad6;
  --md-sys-color-on-error-container: #93000a;
  --md-sys-color-control-activated: #c1e8ff;
  --md-sys-color-control-normal: #444559;
  --md-sys-color-control-highlight: #0000001f;
  --md-sys-color-text-primary-inverse: #e3e1ef;
  --md-sys-color-text-secondary-and-tertiary-inverse: #c5c4dd;
  --md-sys-color-text-primary-inverse-disable-only: #e3e1ef;
  --md-sys-color-text-secondary-and-tertiary-inverse-disabled: #e3e1ef;
  --md-sys-color-text-hint-inverse: #e3e1ef;
}

.light-medium-contrast {
  --md-sys-color-primary-palette-key-color: #0996c5;
  --md-sys-color-secondary-palette-key-color: #3a7f9e;
  --md-sys-color-tertiary-palette-key-color: #6d72ac;
  --md-sys-color-neutral-palette-key-color: #767682;
  --md-sys-color-neutral-variant-palette-key-color: #74758b;
  --md-sys-color-error-palette-key-color: #de3730;
  --md-sys-color-background: #fbf8ff;
  --md-sys-color-on-background: #1a1b25;
  --md-sys-color-surface: #fbf8ff;
  --md-sys-color-surface-dim: #c6c5d3;
  --md-sys-color-surface-bright: #fbf8ff;
  --md-sys-color-surface-container-lowest: #ffffff;
  --md-sys-color-surface-container-low: #f4f2ff;
  --md-sys-color-surface-container: #e8e7f5;
  --md-sys-color-surface-container-high: #dddbea;
  --md-sys-color-surface-container-highest: #d2d0de;
  --md-sys-color-on-surface: #10101a;
  --md-sys-color-surface-variant: #e1e0f9;
  --md-sys-color-on-surface-variant: #333548;
  --md-sys-color-inverse-surface: #2f303a;
  --md-sys-color-inverse-on-surface: #f1effe;
  --md-sys-color-outline: #505165;
  --md-sys-color-outline-variant: #6b6b81;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #006687;
  --md-sys-color-primary: #003b50;
  --md-sys-color-primary-dim: #004a64;
  --md-sys-color-on-primary: #ffffff;
  --md-sys-color-primary-container: #00769b;
  --md-sys-color-on-primary-container: #ffffff;
  --md-sys-color-inverse-primary: #73d1ff;
  --md-sys-color-primary-fixed: #00769b;
  --md-sys-color-primary-fixed-dim: #005c7a;
  --md-sys-color-on-primary-fixed: #ffffff;
  --md-sys-color-on-primary-fixed-variant: #ffffff;
  --md-sys-color-secondary: #003b50;
  --md-sys-color-secondary-dim: #004a64;
  --md-sys-color-on-secondary: #ffffff;
  --md-sys-color-secondary-container: #2d7494;
  --md-sys-color-on-secondary-container: #ffffff;
  --md-sys-color-secondary-fixed: #2d7494;
  --md-sys-color-secondary-fixed-dim: #015c7a;
  --md-sys-color-on-secondary-fixed: #ffffff;
  --md-sys-color-on-secondary-fixed-variant: #ffffff;
  --md-sys-color-tertiary: #2c3167;
  --md-sys-color-tertiary-dim: #3a4076;
  --md-sys-color-on-tertiary: #ffffff;
  --md-sys-color-tertiary-container: #6368a2;
  --md-sys-color-on-tertiary-container: #ffffff;
  --md-sys-color-tertiary-fixed: #6368a2;
  --md-sys-color-tertiary-fixed-dim: #4b5088;
  --md-sys-color-on-tertiary-fixed: #ffffff;
  --md-sys-color-on-tertiary-fixed-variant: #ffffff;
  --md-sys-color-error: #740006;
  --md-sys-color-error-dim: #8f0009;
  --md-sys-color-on-error: #ffffff;
  --md-sys-color-error-container: #cf2c27;
  --md-sys-color-on-error-container: #ffffff;
  --md-sys-color-control-activated: #c1e8ff;
  --md-sys-color-control-normal: #444559;
  --md-sys-color-control-highlight: #0000001f;
  --md-sys-color-text-primary-inverse: #e3e1ef;
  --md-sys-color-text-secondary-and-tertiary-inverse: #c5c4dd;
  --md-sys-color-text-primary-inverse-disable-only: #e3e1ef;
  --md-sys-color-text-secondary-and-tertiary-inverse-disabled: #e3e1ef;
  --md-sys-color-text-hint-inverse: #e3e1ef;
}

.light-high-contrast {
  --md-sys-color-primary-palette-key-color: #0996c5;
  --md-sys-color-secondary-palette-key-color: #3a7f9e;
  --md-sys-color-tertiary-palette-key-color: #6d72ac;
  --md-sys-color-neutral-palette-key-color: #767682;
  --md-sys-color-neutral-variant-palette-key-color: #74758b;
  --md-sys-color-error-palette-key-color: #de3730;
  --md-sys-color-background: #fbf8ff;
  --md-sys-color-on-background: #1a1b25;
  --md-sys-color-surface: #fbf8ff;
  --md-sys-color-surface-dim: #b9b7c5;
  --md-sys-color-surface-bright: #fbf8ff;
  --md-sys-color-surface-container-lowest: #ffffff;
  --md-sys-color-surface-container-low: #f1effe;
  --md-sys-color-surface-container: #e3e1ef;
  --md-sys-color-surface-container-high: #d5d3e1;
  --md-sys-color-surface-container-highest: #c6c5d3;
  --md-sys-color-on-surface: #000000;
  --md-sys-color-surface-variant: #e1e0f9;
  --md-sys-color-on-surface-variant: #000000;
  --md-sys-color-inverse-surface: #2f303a;
  --md-sys-color-inverse-on-surface: #ffffff;
  --md-sys-color-outline: #292b3d;
  --md-sys-color-outline-variant: #46485c;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #006687;
  --md-sys-color-primary: #003042;
  --md-sys-color-primary-dim: #002330;
  --md-sys-color-on-primary: #ffffff;
  --md-sys-color-primary-container: #004f6a;
  --md-sys-color-on-primary-container: #ffffff;
  --md-sys-color-inverse-primary: #73d1ff;
  --md-sys-color-primary-fixed: #004f6a;
  --md-sys-color-primary-fixed-dim: #00374b;
  --md-sys-color-on-primary-fixed: #ffffff;
  --md-sys-color-on-primary-fixed-variant: #ffffff;
  --md-sys-color-secondary: #003042;
  --md-sys-color-secondary-dim: #002330;
  --md-sys-color-on-secondary: #ffffff;
  --md-sys-color-secondary-container: #004f6a;
  --md-sys-color-on-secondary-container: #ffffff;
  --md-sys-color-secondary-fixed: #004f6a;
  --md-sys-color-secondary-fixed-dim: #00374b;
  --md-sys-color-on-secondary-fixed: #ffffff;
  --md-sys-color-on-secondary-fixed-variant: #ffffff;
  --md-sys-color-tertiary: #21275c;
  --md-sys-color-tertiary-dim: #14194f;
  --md-sys-color-on-tertiary: #ffffff;
  --md-sys-color-tertiary-container: #3f447b;
  --md-sys-color-on-tertiary-container: #ffffff;
  --md-sys-color-tertiary-fixed: #3f447b;
  --md-sys-color-tertiary-fixed-dim: #282d63;
  --md-sys-color-on-tertiary-fixed: #ffffff;
  --md-sys-color-on-tertiary-fixed-variant: #ffffff;
  --md-sys-color-error: #600004;
  --md-sys-color-error-dim: #480002;
  --md-sys-color-on-error: #ffffff;
  --md-sys-color-error-container: #98000a;
  --md-sys-color-on-error-container: #ffffff;
  --md-sys-color-control-activated: #c1e8ff;
  --md-sys-color-control-normal: #444559;
  --md-sys-color-control-highlight: #0000001f;
  --md-sys-color-text-primary-inverse: #e3e1ef;
  --md-sys-color-text-secondary-and-tertiary-inverse: #c5c4dd;
  --md-sys-color-text-primary-inverse-disable-only: #e3e1ef;
  --md-sys-color-text-secondary-and-tertiary-inverse-disabled: #e3e1ef;
  --md-sys-color-text-hint-inverse: #e3e1ef;
}

.dark {
  --md-sys-color-primary-palette-key-color: #0996c5;
  --md-sys-color-secondary-palette-key-color: #3a7f9e;
  --md-sys-color-tertiary-palette-key-color: #6d72ac;
  --md-sys-color-neutral-palette-key-color: #767682;
  --md-sys-color-neutral-variant-palette-key-color: #74758b;
  --md-sys-color-error-palette-key-color: #de3730;
  --md-sys-color-background: #12131c;
  --md-sys-color-on-background: #e3e1ef;
  --md-sys-color-surface: #12131c;
  --md-sys-color-surface-dim: #12131c;
  --md-sys-color-surface-bright: #383843;
  --md-sys-color-surface-container-lowest: #0d0d17;
  --md-sys-color-surface-container-low: #1a1b25;
  --md-sys-color-surface-container: #1e1f29;
  --md-sys-color-surface-container-high: #292934;
  --md-sys-color-surface-container-highest: #33343f;
  --md-sys-color-on-surface: #e3e1ef;
  --md-sys-color-surface-variant: #444559;
  --md-sys-color-on-surface-variant: #c5c4dd;
  --md-sys-color-inverse-surface: #e3e1ef;
  --md-sys-color-inverse-on-surface: #2f303a;
  --md-sys-color-outline: #8e8fa6;
  --md-sys-color-outline-variant: #444559;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #73d1ff;
  --md-sys-color-primary: #73d1ff;
  --md-sys-color-primary-dim: #9dddff;
  --md-sys-color-on-primary: #003548;
  --md-sys-color-primary-container: #004d67;
  --md-sys-color-on-primary-container: #c1e8ff;
  --md-sys-color-inverse-primary: #006687;
  --md-sys-color-primary-fixed: #c1e8ff;
  --md-sys-color-primary-fixed-dim: #73d1ff;
  --md-sys-color-on-primary-fixed: #001e2b;
  --md-sys-color-on-primary-fixed-variant: #004d67;
  --md-sys-color-secondary: #8dcff2;
  --md-sys-color-secondary-dim: #9dddff;
  --md-sys-color-on-secondary: #003548;
  --md-sys-color-secondary-container: #004d67;
  --md-sys-color-on-secondary-container: #c1e8ff;
  --md-sys-color-secondary-fixed: #c1e8ff;
  --md-sys-color-secondary-fixed-dim: #8dcff2;
  --md-sys-color-on-secondary-fixed: #001e2b;
  --md-sys-color-on-secondary-fixed-variant: #004d67;
  --md-sys-color-tertiary: #bec2ff;
  --md-sys-color-tertiary-dim: #cfd1ff;
  --md-sys-color-on-tertiary: #262b61;
  --md-sys-color-tertiary-container: #3d4279;
  --md-sys-color-on-tertiary-container: #e0e0ff;
  --md-sys-color-tertiary-fixed: #e0e0ff;
  --md-sys-color-tertiary-fixed-dim: #bec2ff;
  --md-sys-color-on-tertiary-fixed: #0f144b;
  --md-sys-color-on-tertiary-fixed-variant: #3d4279;
  --md-sys-color-error: #ffb4ab;
  --md-sys-color-error-dim: #ffc7c0;
  --md-sys-color-on-error: #690005;
  --md-sys-color-error-container: #93000a;
  --md-sys-color-on-error-container: #ffdad6;
  --md-sys-color-control-activated: #004d67;
  --md-sys-color-control-normal: #c5c4dd;
  --md-sys-color-control-highlight: #ffffff33;
  --md-sys-color-text-primary-inverse: #1a1b25;
  --md-sys-color-text-secondary-and-tertiary-inverse: #444559;
  --md-sys-color-text-primary-inverse-disable-only: #1a1b25;
  --md-sys-color-text-secondary-and-tertiary-inverse-disabled: #1a1b25;
  --md-sys-color-text-hint-inverse: #1a1b25;
}

.dark-medium-contrast {
  --md-sys-color-primary-palette-key-color: #0996c5;
  --md-sys-color-secondary-palette-key-color: #3a7f9e;
  --md-sys-color-tertiary-palette-key-color: #6d72ac;
  --md-sys-color-neutral-palette-key-color: #767682;
  --md-sys-color-neutral-variant-palette-key-color: #74758b;
  --md-sys-color-error-palette-key-color: #de3730;
  --md-sys-color-background: #12131c;
  --md-sys-color-on-background: #e3e1ef;
  --md-sys-color-surface: #12131c;
  --md-sys-color-surface-dim: #12131c;
  --md-sys-color-surface-bright: #43434f;
  --md-sys-color-surface-container-lowest: #060710;
  --md-sys-color-surface-container-low: #1c1d27;
  --md-sys-color-surface-container: #272731;
  --md-sys-color-surface-container-high: #31323c;
  --md-sys-color-surface-container-highest: #3c3d48;
  --md-sys-color-on-surface: #ffffff;
  --md-sys-color-surface-variant: #444559;
  --md-sys-color-on-surface-variant: #dbdaf3;
  --md-sys-color-inverse-surface: #e3e1ef;
  --md-sys-color-inverse-on-surface: #292934;
  --md-sys-color-outline: #b0b0c8;
  --md-sys-color-outline-variant: #8e8ea5;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #73d1ff;
  --md-sys-color-primary: #b2e3ff;
  --md-sys-color-primary-dim: #9dddff;
  --md-sys-color-on-primary: #002939;
  --md-sys-color-primary-container: #1b9cca;
  --md-sys-color-on-primary-container: #000000;
  --md-sys-color-inverse-primary: #004e68;
  --md-sys-color-primary-fixed: #c1e8ff;
  --md-sys-color-primary-fixed-dim: #73d1ff;
  --md-sys-color-on-primary-fixed: #00131d;
  --md-sys-color-on-primary-fixed-variant: #003b50;
  --md-sys-color-secondary: #b2e3ff;
  --md-sys-color-secondary-dim: #9dddff;
  --md-sys-color-on-secondary: #002939;
  --md-sys-color-secondary-container: #5699b9;
  --md-sys-color-on-secondary-container: #000000;
  --md-sys-color-secondary-fixed: #c1e8ff;
  --md-sys-color-secondary-fixed-dim: #8dcff2;
  --md-sys-color-on-secondary-fixed: #00131d;
  --md-sys-color-on-secondary-fixed-variant: #003b50;
  --md-sys-color-tertiary: #d8d9ff;
  --md-sys-color-tertiary-dim: #cfd1ff;
  --md-sys-color-on-tertiary: #1b2055;
  --md-sys-color-tertiary-container: #878cc8;
  --md-sys-color-on-tertiary-container: #000000;
  --md-sys-color-tertiary-fixed: #e0e0ff;
  --md-sys-color-tertiary-fixed-dim: #bec2ff;
  --md-sys-color-on-tertiary-fixed: #040741;
  --md-sys-color-on-tertiary-fixed-variant: #2c3167;
  --md-sys-color-error: #ffd2cc;
  --md-sys-color-error-dim: #ffc7c0;
  --md-sys-color-on-error: #540003;
  --md-sys-color-error-container: #ff5449;
  --md-sys-color-on-error-container: #000000;
  --md-sys-color-control-activated: #004d67;
  --md-sys-color-control-normal: #c5c4dd;
  --md-sys-color-control-highlight: #ffffff33;
  --md-sys-color-text-primary-inverse: #1a1b25;
  --md-sys-color-text-secondary-and-tertiary-inverse: #444559;
  --md-sys-color-text-primary-inverse-disable-only: #1a1b25;
  --md-sys-color-text-secondary-and-tertiary-inverse-disabled: #1a1b25;
  --md-sys-color-text-hint-inverse: #1a1b25;
}

.dark-high-contrast {
  --md-sys-color-primary-palette-key-color: #0996c5;
  --md-sys-color-secondary-palette-key-color: #3a7f9e;
  --md-sys-color-tertiary-palette-key-color: #6d72ac;
  --md-sys-color-neutral-palette-key-color: #767682;
  --md-sys-color-neutral-variant-palette-key-color: #74758b;
  --md-sys-color-error-palette-key-color: #de3730;
  --md-sys-color-background: #12131c;
  --md-sys-color-on-background: #e3e1ef;
  --md-sys-color-surface: #12131c;
  --md-sys-color-surface-dim: #12131c;
  --md-sys-color-surface-bright: #4f4f5b;
  --md-sys-color-surface-container-lowest: #000000;
  --md-sys-color-surface-container-low: #1e1f29;
  --md-sys-color-surface-container: #2f303a;
  --md-sys-color-surface-container-high: #3a3a46;
  --md-sys-color-surface-container-highest: #464651;
  --md-sys-color-on-surface: #ffffff;
  --md-sys-color-surface-variant: #444559;
  --md-sys-color-on-surface-variant: #ffffff;
  --md-sys-color-inverse-surface: #e3e1ef;
  --md-sys-color-inverse-on-surface: #000000;
  --md-sys-color-outline: #f0eeff;
  --md-sys-color-outline-variant: #c1c1d9;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #73d1ff;
  --md-sys-color-primary: #e0f3ff;
  --md-sys-color-primary-dim: #fffeff;
  --md-sys-color-on-primary: #000000;
  --md-sys-color-primary-container: #65ceff;
  --md-sys-color-on-primary-container: #000d15;
  --md-sys-color-inverse-primary: #004e68;
  --md-sys-color-primary-fixed: #c1e8ff;
  --md-sys-color-primary-fixed-dim: #73d1ff;
  --md-sys-color-on-primary-fixed: #000000;
  --md-sys-color-on-primary-fixed-variant: #00131d;
  --md-sys-color-secondary: #e0f3ff;
  --md-sys-color-secondary-dim: #fffeff;
  --md-sys-color-on-secondary: #000000;
  --md-sys-color-secondary-container: #89cbed;
  --md-sys-color-on-secondary-container: #000d15;
  --md-sys-color-secondary-fixed: #c1e8ff;
  --md-sys-color-secondary-fixed-dim: #8dcff2;
  --md-sys-color-on-secondary-fixed: #000000;
  --md-sys-color-on-secondary-fixed-variant: #00131d;
  --md-sys-color-tertiary: #f0eeff;
  --md-sys-color-tertiary-dim: #fffeff;
  --md-sys-color-on-tertiary: #000000;
  --md-sys-color-tertiary-container: #b9befd;
  --md-sys-color-on-tertiary-container: #00023a;
  --md-sys-color-tertiary-fixed: #e0e0ff;
  --md-sys-color-tertiary-fixed-dim: #bec2ff;
  --md-sys-color-on-tertiary-fixed: #000000;
  --md-sys-color-on-tertiary-fixed-variant: #040741;
  --md-sys-color-error: #ffece9;
  --md-sys-color-error-dim: #fffeff;
  --md-sys-color-on-error: #000000;
  --md-sys-color-error-container: #ffaea4;
  --md-sys-color-on-error-container: #220001;
  --md-sys-color-control-activated: #004d67;
  --md-sys-color-control-normal: #c5c4dd;
  --md-sys-color-control-highlight: #ffffff33;
  --md-sys-color-text-primary-inverse: #1a1b25;
  --md-sys-color-text-secondary-and-tertiary-inverse: #444559;
  --md-sys-color-text-primary-inverse-disable-only: #1a1b25;
  --md-sys-color-text-secondary-and-tertiary-inverse-disabled: #1a1b25;
  --md-sys-color-text-hint-inverse: #1a1b25;
}

