.light {
  --md-sys-color-primary-palette-key-color: #767685;
  --md-sys-color-secondary-palette-key-color: #77767d;
  --md-sys-color-tertiary-palette-key-color: #5e77ac;
  --md-sys-color-neutral-palette-key-color: #77767d;
  --md-sys-color-neutral-variant-palette-key-color: #767687;
  --md-sys-color-error-palette-key-color: #b15e69;
  --md-sys-color-background: #000000;
  --md-sys-color-on-background: #ffffff;
  --md-sys-color-surface: #000000;
  --md-sys-color-surface-dim: #0e0e13;
  --md-sys-color-surface-bright: #292b3c;
  --md-sys-color-surface-container-lowest: #000000;
  --md-sys-color-surface-container-low: #25252b;
  --md-sys-color-surface-container: #303036;
  --md-sys-color-surface-container-high: #3b3b41;
  --md-sys-color-surface-container-highest: #242533;
  --md-sys-color-on-surface: #fffeff;
  --md-sys-color-surface-variant: #242533;
  --md-sys-color-on-surface-variant: #cfcdd4;
  --md-sys-color-inverse-surface: #fbf8ff;
  --md-sys-color-inverse-on-surface: #55545b;
  --md-sys-color-outline: #a6a5ac;
  --md-sys-color-outline-variant: #86858c;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #e2e1f3;
  --md-sys-color-primary: #e2e1f3;
  --md-sys-color-primary-dim: #d4d3e4;
  --md-sys-color-on-primary: #3e3e4c;
  --md-sys-color-primary-container: #454654;
  --md-sys-color-on-primary-container: #e0def0;
  --md-sys-color-inverse-primary: #535462;
  --md-sys-color-primary-fixed: #454654;
  --md-sys-color-primary-fixed-dim: #3a3a48;
  --md-sys-color-on-primary-fixed: #cdccde;
  --md-sys-color-on-primary-fixed-variant: #a5a4b5;
  --md-sys-color-secondary: #e4e1e9;
  --md-sys-color-secondary-dim: #d6d3db;
  --md-sys-color-on-secondary: #3f3f45;
  --md-sys-color-secondary-container: #47464c;
  --md-sys-color-on-secondary-container: #e2dfe7;
  --md-sys-color-secondary-fixed: #47464c;
  --md-sys-color-secondary-fixed-dim: #3b3b41;
  --md-sys-color-on-secondary-fixed: #cfcdd4;
  --md-sys-color-on-secondary-fixed-variant: #a6a5ac;
  --md-sys-color-tertiary: #baceff;
  --md-sys-color-tertiary-dim: #a7c0fa;
  --md-sys-color-on-tertiary: #143061;
  --md-sys-color-tertiary-container: #8ca5dd;
  --md-sys-color-on-tertiary-container: #001840;
  --md-sys-color-tertiary-fixed: #8ca5dd;
  --md-sys-color-tertiary-fixed-dim: #7f97cf;
  --md-sys-color-on-tertiary-fixed: #000413;
  --md-sys-color-on-tertiary-fixed-variant: #112f60;
  --md-sys-color-error: #ffbdc3;
  --md-sys-color-error-dim: #e88b96;
  --md-sys-color-on-error: #3c0311;
  --md-sys-color-error-container: #76303a;
  --md-sys-color-on-error-container: #ffd6d9;
}

.light-medium-contrast {
  --md-sys-color-primary-palette-key-color: #767685;
  --md-sys-color-secondary-palette-key-color: #77767d;
  --md-sys-color-tertiary-palette-key-color: #5e77ac;
  --md-sys-color-neutral-palette-key-color: #77767d;
  --md-sys-color-neutral-variant-palette-key-color: #767687;
  --md-sys-color-error-palette-key-color: #b15e69;
  --md-sys-color-background: #000000;
  --md-sys-color-on-background: #ffffff;
  --md-sys-color-surface: #000000;
  --md-sys-color-surface-dim: #0e0e13;
  --md-sys-color-surface-bright: #292b3c;
  --md-sys-color-surface-container-lowest: #000000;
  --md-sys-color-surface-container-low: #25252b;
  --md-sys-color-surface-container: #303036;
  --md-sys-color-surface-container-high: #3b3b41;
  --md-sys-color-surface-container-highest: #242533;
  --md-sys-color-on-surface: #ffffff;
  --md-sys-color-surface-variant: #242533;
  --md-sys-color-on-surface-variant: #fffeff;
  --md-sys-color-inverse-surface: #fbf8ff;
  --md-sys-color-inverse-on-surface: #38383e;
  --md-sys-color-outline: #cfcdd4;
  --md-sys-color-outline-variant: #a6a5ac;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #fffeff;
  --md-sys-color-primary: #fffeff;
  --md-sys-color-primary-dim: #d4d3e4;
  --md-sys-color-on-primary: #1e1e2b;
  --md-sys-color-primary-container: #454654;
  --md-sys-color-on-primary-container: #ffffff;
  --md-sys-color-inverse-primary: #363745;
  --md-sys-color-primary-fixed: #454654;
  --md-sys-color-primary-fixed-dim: #3a3a48;
  --md-sys-color-on-primary-fixed: #fffeff;
  --md-sys-color-on-primary-fixed-variant: #cdccde;
  --md-sys-color-secondary: #fffeff;
  --md-sys-color-secondary-dim: #d6d3db;
  --md-sys-color-on-secondary: #1f1f24;
  --md-sys-color-secondary-container: #47464c;
  --md-sys-color-on-secondary-container: #ffffff;
  --md-sys-color-secondary-fixed: #47464c;
  --md-sys-color-secondary-fixed-dim: #3b3b41;
  --md-sys-color-on-secondary-fixed: #fffeff;
  --md-sys-color-on-secondary-fixed-variant: #cfcdd4;
  --md-sys-color-tertiary: #fffeff;
  --md-sys-color-tertiary-dim: #baceff;
  --md-sys-color-on-tertiary: #00183f;
  --md-sys-color-tertiary-container: #99b2eb;
  --md-sys-color-on-tertiary-container: #000000;
  --md-sys-color-tertiary-fixed: #8ca5dd;
  --md-sys-color-tertiary-fixed-dim: #7f97cf;
  --md-sys-color-on-tertiary-fixed: #000000;
  --md-sys-color-on-tertiary-fixed-variant: #000413;
  --md-sys-color-error: #fffeff;
  --md-sys-color-error-dim: #ffbdc3;
  --md-sys-color-on-error: #3b0310;
  --md-sys-color-error-container: #76303a;
  --md-sys-color-on-error-container: #ffffff;
}

.light-high-contrast {
  --md-sys-color-primary-palette-key-color: #767685;
  --md-sys-color-secondary-palette-key-color: #77767d;
  --md-sys-color-tertiary-palette-key-color: #5e77ac;
  --md-sys-color-neutral-palette-key-color: #77767d;
  --md-sys-color-neutral-variant-palette-key-color: #767687;
  --md-sys-color-error-palette-key-color: #b15e69;
  --md-sys-color-background: #000000;
  --md-sys-color-on-background: #ffffff;
  --md-sys-color-surface: #000000;
  --md-sys-color-surface-dim: #0e0e13;
  --md-sys-color-surface-bright: #292b3c;
  --md-sys-color-surface-container-lowest: #000000;
  --md-sys-color-surface-container-low: #25252b;
  --md-sys-color-surface-container: #303036;
  --md-sys-color-surface-container-high: #3b3b41;
  --md-sys-color-surface-container-highest: #242533;
  --md-sys-color-on-surface: #ffffff;
  --md-sys-color-surface-variant: #242533;
  --md-sys-color-on-surface-variant: #ffffff;
  --md-sys-color-inverse-surface: #fbf8ff;
  --md-sys-color-inverse-on-surface: #000000;
  --md-sys-color-outline: #fffeff;
  --md-sys-color-outline-variant: #cfcdd4;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #ffffff;
  --md-sys-color-primary: #ffffff;
  --md-sys-color-primary-dim: #fffeff;
  --md-sys-color-on-primary: #000000;
  --md-sys-color-primary-container: #454654;
  --md-sys-color-on-primary-container: #ffffff;
  --md-sys-color-inverse-primary: #000000;
  --md-sys-color-primary-fixed: #454654;
  --md-sys-color-primary-fixed-dim: #3a3a48;
  --md-sys-color-on-primary-fixed: #ffffff;
  --md-sys-color-on-primary-fixed-variant: #fffeff;
  --md-sys-color-secondary: #ffffff;
  --md-sys-color-secondary-dim: #fffeff;
  --md-sys-color-on-secondary: #000000;
  --md-sys-color-secondary-container: #47464c;
  --md-sys-color-on-secondary-container: #ffffff;
  --md-sys-color-secondary-fixed: #47464c;
  --md-sys-color-secondary-fixed-dim: #3b3b41;
  --md-sys-color-on-secondary-fixed: #ffffff;
  --md-sys-color-on-secondary-fixed-variant: #fffeff;
  --md-sys-color-tertiary: #ffffff;
  --md-sys-color-tertiary-dim: #fffeff;
  --md-sys-color-on-tertiary: #000000;
  --md-sys-color-tertiary-container: #abc3fe;
  --md-sys-color-on-tertiary-container: #000000;
  --md-sys-color-tertiary-fixed: #8ca5dd;
  --md-sys-color-tertiary-fixed-dim: #7f97cf;
  --md-sys-color-on-tertiary-fixed: #000000;
  --md-sys-color-on-tertiary-fixed-variant: #000000;
  --md-sys-color-error: #ffffff;
  --md-sys-color-error-dim: #fffeff;
  --md-sys-color-on-error: #000000;
  --md-sys-color-error-container: #76303a;
  --md-sys-color-on-error-container: #ffffff;
}

.dark {
  --md-sys-color-primary-palette-key-color: #767685;
  --md-sys-color-secondary-palette-key-color: #77767d;
  --md-sys-color-tertiary-palette-key-color: #5e77ac;
  --md-sys-color-neutral-palette-key-color: #77767d;
  --md-sys-color-neutral-variant-palette-key-color: #767687;
  --md-sys-color-error-palette-key-color: #b15e69;
  --md-sys-color-background: #000000;
  --md-sys-color-on-background: #ffffff;
  --md-sys-color-surface: #000000;
  --md-sys-color-surface-dim: #0e0e13;
  --md-sys-color-surface-bright: #292b3c;
  --md-sys-color-surface-container-lowest: #000000;
  --md-sys-color-surface-container-low: #25252b;
  --md-sys-color-surface-container: #303036;
  --md-sys-color-surface-container-high: #3b3b41;
  --md-sys-color-surface-container-highest: #242533;
  --md-sys-color-on-surface: #fffeff;
  --md-sys-color-surface-variant: #242533;
  --md-sys-color-on-surface-variant: #cfcdd4;
  --md-sys-color-inverse-surface: #fbf8ff;
  --md-sys-color-inverse-on-surface: #55545b;
  --md-sys-color-outline: #a6a5ac;
  --md-sys-color-outline-variant: #86858c;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #e2e1f3;
  --md-sys-color-primary: #e2e1f3;
  --md-sys-color-primary-dim: #d4d3e4;
  --md-sys-color-on-primary: #3e3e4c;
  --md-sys-color-primary-container: #454654;
  --md-sys-color-on-primary-container: #e0def0;
  --md-sys-color-inverse-primary: #535462;
  --md-sys-color-primary-fixed: #454654;
  --md-sys-color-primary-fixed-dim: #3a3a48;
  --md-sys-color-on-primary-fixed: #cdccde;
  --md-sys-color-on-primary-fixed-variant: #a5a4b5;
  --md-sys-color-secondary: #e4e1e9;
  --md-sys-color-secondary-dim: #d6d3db;
  --md-sys-color-on-secondary: #3f3f45;
  --md-sys-color-secondary-container: #47464c;
  --md-sys-color-on-secondary-container: #e2dfe7;
  --md-sys-color-secondary-fixed: #47464c;
  --md-sys-color-secondary-fixed-dim: #3b3b41;
  --md-sys-color-on-secondary-fixed: #cfcdd4;
  --md-sys-color-on-secondary-fixed-variant: #a6a5ac;
  --md-sys-color-tertiary: #baceff;
  --md-sys-color-tertiary-dim: #a7c0fa;
  --md-sys-color-on-tertiary: #143061;
  --md-sys-color-tertiary-container: #8ca5dd;
  --md-sys-color-on-tertiary-container: #001840;
  --md-sys-color-tertiary-fixed: #8ca5dd;
  --md-sys-color-tertiary-fixed-dim: #7f97cf;
  --md-sys-color-on-tertiary-fixed: #000413;
  --md-sys-color-on-tertiary-fixed-variant: #112f60;
  --md-sys-color-error: #ffbdc3;
  --md-sys-color-error-dim: #e88b96;
  --md-sys-color-on-error: #3c0311;
  --md-sys-color-error-container: #76303a;
  --md-sys-color-on-error-container: #ffd6d9;
}

.dark-medium-contrast {
  --md-sys-color-primary-palette-key-color: #767685;
  --md-sys-color-secondary-palette-key-color: #77767d;
  --md-sys-color-tertiary-palette-key-color: #5e77ac;
  --md-sys-color-neutral-palette-key-color: #77767d;
  --md-sys-color-neutral-variant-palette-key-color: #767687;
  --md-sys-color-error-palette-key-color: #b15e69;
  --md-sys-color-background: #000000;
  --md-sys-color-on-background: #ffffff;
  --md-sys-color-surface: #000000;
  --md-sys-color-surface-dim: #0e0e13;
  --md-sys-color-surface-bright: #292b3c;
  --md-sys-color-surface-container-lowest: #000000;
  --md-sys-color-surface-container-low: #25252b;
  --md-sys-color-surface-container: #303036;
  --md-sys-color-surface-container-high: #3b3b41;
  --md-sys-color-surface-container-highest: #242533;
  --md-sys-color-on-surface: #ffffff;
  --md-sys-color-surface-variant: #242533;
  --md-sys-color-on-surface-variant: #fffeff;
  --md-sys-color-inverse-surface: #fbf8ff;
  --md-sys-color-inverse-on-surface: #38383e;
  --md-sys-color-outline: #cfcdd4;
  --md-sys-color-outline-variant: #a6a5ac;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #fffeff;
  --md-sys-color-primary: #fffeff;
  --md-sys-color-primary-dim: #d4d3e4;
  --md-sys-color-on-primary: #1e1e2b;
  --md-sys-color-primary-container: #454654;
  --md-sys-color-on-primary-container: #ffffff;
  --md-sys-color-inverse-primary: #363745;
  --md-sys-color-primary-fixed: #454654;
  --md-sys-color-primary-fixed-dim: #3a3a48;
  --md-sys-color-on-primary-fixed: #fffeff;
  --md-sys-color-on-primary-fixed-variant: #cdccde;
  --md-sys-color-secondary: #fffeff;
  --md-sys-color-secondary-dim: #d6d3db;
  --md-sys-color-on-secondary: #1f1f24;
  --md-sys-color-secondary-container: #47464c;
  --md-sys-color-on-secondary-container: #ffffff;
  --md-sys-color-secondary-fixed: #47464c;
  --md-sys-color-secondary-fixed-dim: #3b3b41;
  --md-sys-color-on-secondary-fixed: #fffeff;
  --md-sys-color-on-secondary-fixed-variant: #cfcdd4;
  --md-sys-color-tertiary: #fffeff;
  --md-sys-color-tertiary-dim: #baceff;
  --md-sys-color-on-tertiary: #00183f;
  --md-sys-color-tertiary-container: #99b2eb;
  --md-sys-color-on-tertiary-container: #000000;
  --md-sys-color-tertiary-fixed: #8ca5dd;
  --md-sys-color-tertiary-fixed-dim: #7f97cf;
  --md-sys-color-on-tertiary-fixed: #000000;
  --md-sys-color-on-tertiary-fixed-variant: #000413;
  --md-sys-color-error: #fffeff;
  --md-sys-color-error-dim: #ffbdc3;
  --md-sys-color-on-error: #3b0310;
  --md-sys-color-error-container: #76303a;
  --md-sys-color-on-error-container: #ffffff;
}

.dark-high-contrast {
  --md-sys-color-primary-palette-key-color: #767685;
  --md-sys-color-secondary-palette-key-color: #77767d;
  --md-sys-color-tertiary-palette-key-color: #5e77ac;
  --md-sys-color-neutral-palette-key-color: #77767d;
  --md-sys-color-neutral-variant-palette-key-color: #767687;
  --md-sys-color-error-palette-key-color: #b15e69;
  --md-sys-color-background: #000000;
  --md-sys-color-on-background: #ffffff;
  --md-sys-color-surface: #000000;
  --md-sys-color-surface-dim: #0e0e13;
  --md-sys-color-surface-bright: #292b3c;
  --md-sys-color-surface-container-lowest: #000000;
  --md-sys-color-surface-container-low: #25252b;
  --md-sys-color-surface-container: #303036;
  --md-sys-color-surface-container-high: #3b3b41;
  --md-sys-color-surface-container-highest: #242533;
  --md-sys-color-on-surface: #ffffff;
  --md-sys-color-surface-variant: #242533;
  --md-sys-color-on-surface-variant: #ffffff;
  --md-sys-color-inverse-surface: #fbf8ff;
  --md-sys-color-inverse-on-surface: #000000;
  --md-sys-color-outline: #fffeff;
  --md-sys-color-outline-variant: #cfcdd4;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #ffffff;
  --md-sys-color-primary: #ffffff;
  --md-sys-color-primary-dim: #fffeff;
  --md-sys-color-on-primary: #000000;
  --md-sys-color-primary-container: #454654;
  --md-sys-color-on-primary-container: #ffffff;
  --md-sys-color-inverse-primary: #000000;
  --md-sys-color-primary-fixed: #454654;
  --md-sys-color-primary-fixed-dim: #3a3a48;
  --md-sys-color-on-primary-fixed: #ffffff;
  --md-sys-color-on-primary-fixed-variant: #fffeff;
  --md-sys-color-secondary: #ffffff;
  --md-sys-color-secondary-dim: #fffeff;
  --md-sys-color-on-secondary: #000000;
  --md-sys-color-secondary-container: #47464c;
  --md-sys-color-on-secondary-container: #ffffff;
  --md-sys-color-secondary-fixed: #47464c;
  --md-sys-color-secondary-fixed-dim: #3b3b41;
  --md-sys-color-on-secondary-fixed: #ffffff;
  --md-sys-color-on-secondary-fixed-variant: #fffeff;
  --md-sys-color-tertiary: #ffffff;
  --md-sys-color-tertiary-dim: #fffeff;
  --md-sys-color-on-tertiary: #000000;
  --md-sys-color-tertiary-container: #abc3fe;
  --md-sys-color-on-tertiary-container: #000000;
  --md-sys-color-tertiary-fixed: #8ca5dd;
  --md-sys-color-tertiary-fixed-dim: #7f97cf;
  --md-sys-color-on-tertiary-fixed: #000000;
  --md-sys-color-on-tertiary-fixed-variant: #000000;
  --md-sys-color-error: #ffffff;
  --md-sys-color-error-dim: #fffeff;
  --md-sys-color-on-error: #000000;
  --md-sys-color-error-container: #76303a;
  --md-sys-color-on-error-container: #ffffff;
}

