.light {
  --md-sys-color-primary-palette-key-color: #767685;
  --md-sys-color-secondary-palette-key-color: #777680;
  --md-sys-color-tertiary-palette-key-color: #74758b;
  --md-sys-color-neutral-palette-key-color: #787678;
  --md-sys-color-neutral-variant-palette-key-color: #787678;
  --md-sys-color-error-palette-key-color: #de3730;
  --md-sys-color-background: #fcf8fa;
  --md-sys-color-on-background: #1c1b1d;
  --md-sys-color-surface: #fcf8fa;
  --md-sys-color-surface-dim: #dcd9db;
  --md-sys-color-surface-bright: #fcf8fa;
  --md-sys-color-surface-container-lowest: #ffffff;
  --md-sys-color-surface-container-low: #f6f3f4;
  --md-sys-color-surface-container: #f1edef;
  --md-sys-color-surface-container-high: #ebe7e9;
  --md-sys-color-surface-container-highest: #e5e1e3;
  --md-sys-color-on-surface: #1c1b1d;
  --md-sys-color-surface-variant: #e5e1e3;
  --md-sys-color-on-surface-variant: #474648;
  --md-sys-color-inverse-surface: #313032;
  --md-sys-color-inverse-on-surface: #f3f0f1;
  --md-sys-color-outline: #787678;
  --md-sys-color-outline-variant: #c9c6c7;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #5d5d6c;
  --md-sys-color-primary: #5d5d6c;
  --md-sys-color-primary-dim: #666776;
  --md-sys-color-on-primary: #ffffff;
  --md-sys-color-primary-container: #454654;
  --md-sys-color-on-primary-container: #b4b3c4;
  --md-sys-color-inverse-primary: #c6c5d6;
  --md-sys-color-primary-fixed: #e2e1f3;
  --md-sys-color-primary-fixed-dim: #c6c5d6;
  --md-sys-color-on-primary-fixed: #1a1b27;
  --md-sys-color-on-primary-fixed-variant: #454654;
  --md-sys-color-secondary: #5e5d67;
  --md-sys-color-secondary-dim: #686770;
  --md-sys-color-on-secondary: #ffffff;
  --md-sys-color-secondary-container: #46464f;
  --md-sys-color-on-secondary-container: #b5b4be;
  --md-sys-color-secondary-fixed: #e3e1ec;
  --md-sys-color-secondary-fixed-dim: #c7c5d0;
  --md-sys-color-on-secondary-fixed: #1b1b23;
  --md-sys-color-on-secondary-fixed-variant: #46464f;
  --md-sys-color-tertiary: #5c5d72;
  --md-sys-color-tertiary-dim: #65667b;
  --md-sys-color-on-tertiary: #ffffff;
  --md-sys-color-tertiary-container: #444559;
  --md-sys-color-on-tertiary-container: #b3b3cb;
  --md-sys-color-tertiary-fixed: #e1e0f9;
  --md-sys-color-tertiary-fixed-dim: #c5c4dd;
  --md-sys-color-on-tertiary-fixed: #191a2c;
  --md-sys-color-on-tertiary-fixed-variant: #444559;
  --md-sys-color-error: #ba1a1a;
  --md-sys-color-error-dim: #ac0c12;
  --md-sys-color-on-error: #ffffff;
  --md-sys-color-error-container: #93000a;
  --md-sys-color-on-error-container: #ff9a8e;
}

.light-medium-contrast {
  --md-sys-color-primary-palette-key-color: #767685;
  --md-sys-color-secondary-palette-key-color: #777680;
  --md-sys-color-tertiary-palette-key-color: #74758b;
  --md-sys-color-neutral-palette-key-color: #787678;
  --md-sys-color-neutral-variant-palette-key-color: #787678;
  --md-sys-color-error-palette-key-color: #de3730;
  --md-sys-color-background: #fcf8fa;
  --md-sys-color-on-background: #1c1b1d;
  --md-sys-color-surface: #fcf8fa;
  --md-sys-color-surface-dim: #c9c6c7;
  --md-sys-color-surface-bright: #fcf8fa;
  --md-sys-color-surface-container-lowest: #ffffff;
  --md-sys-color-surface-container-low: #f6f3f4;
  --md-sys-color-surface-container: #ebe7e9;
  --md-sys-color-surface-container-high: #dfdcde;
  --md-sys-color-surface-container-highest: #d4d1d2;
  --md-sys-color-on-surface: #111112;
  --md-sys-color-surface-variant: #e5e1e3;
  --md-sys-color-on-surface-variant: #373637;
  --md-sys-color-inverse-surface: #313032;
  --md-sys-color-inverse-on-surface: #f3f0f1;
  --md-sys-color-outline: #535254;
  --md-sys-color-outline-variant: #6e6c6e;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #5d5d6c;
  --md-sys-color-primary: #343543;
  --md-sys-color-primary-dim: #434351;
  --md-sys-color-on-primary: #ffffff;
  --md-sys-color-primary-container: #1f202d;
  --md-sys-color-on-primary-container: #abaabb;
  --md-sys-color-inverse-primary: #c6c5d6;
  --md-sys-color-primary-fixed: #6c6c7b;
  --md-sys-color-primary-fixed-dim: #535462;
  --md-sys-color-on-primary-fixed: #ffffff;
  --md-sys-color-on-primary-fixed-variant: #ffffff;
  --md-sys-color-secondary: #35353e;
  --md-sys-color-secondary-dim: #44444c;
  --md-sys-color-on-secondary: #ffffff;
  --md-sys-color-secondary-container: #202028;
  --md-sys-color-on-secondary-container: #acabb5;
  --md-sys-color-secondary-fixed: #6d6c76;
  --md-sys-color-secondary-fixed-dim: #54545d;
  --md-sys-color-on-secondary-fixed: #ffffff;
  --md-sys-color-on-secondary-fixed-variant: #ffffff;
  --md-sys-color-tertiary: #333548;
  --md-sys-color-tertiary-dim: #424357;
  --md-sys-color-on-tertiary: #ffffff;
  --md-sys-color-tertiary-container: #1e1f32;
  --md-sys-color-on-tertiary-container: #aaaac1;
  --md-sys-color-tertiary-fixed: #6b6b81;
  --md-sys-color-tertiary-fixed-dim: #525368;
  --md-sys-color-on-tertiary-fixed: #ffffff;
  --md-sys-color-on-tertiary-fixed-variant: #ffffff;
  --md-sys-color-error: #740006;
  --md-sys-color-error-dim: #8f0009;
  --md-sys-color-on-error: #ffffff;
  --md-sys-color-error-container: #4b0002;
  --md-sys-color-on-error-container: #ff8b7e;
}

.light-high-contrast {
  --md-sys-color-primary-palette-key-color: #767685;
  --md-sys-color-secondary-palette-key-color: #777680;
  --md-sys-color-tertiary-palette-key-color: #74758b;
  --md-sys-color-neutral-palette-key-color: #787678;
  --md-sys-color-neutral-variant-palette-key-color: #787678;
  --md-sys-color-error-palette-key-color: #de3730;
  --md-sys-color-background: #fcf8fa;
  --md-sys-color-on-background: #1c1b1d;
  --md-sys-color-surface: #fcf8fa;
  --md-sys-color-surface-dim: #bbb8ba;
  --md-sys-color-surface-bright: #fcf8fa;
  --md-sys-color-surface-container-lowest: #ffffff;
  --md-sys-color-surface-container-low: #f3f0f1;
  --md-sys-color-surface-container: #e5e1e3;
  --md-sys-color-surface-container-high: #d7d3d5;
  --md-sys-color-surface-container-highest: #c9c6c7;
  --md-sys-color-on-surface: #000000;
  --md-sys-color-surface-variant: #e5e1e3;
  --md-sys-color-on-surface-variant: #000000;
  --md-sys-color-inverse-surface: #313032;
  --md-sys-color-inverse-on-surface: #ffffff;
  --md-sys-color-outline: #2c2c2d;
  --md-sys-color-outline-variant: #4a494a;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #5d5d6c;
  --md-sys-color-primary: #2a2b38;
  --md-sys-color-primary-dim: #1e1e2b;
  --md-sys-color-on-primary: #ffffff;
  --md-sys-color-primary-container: #161723;
  --md-sys-color-on-primary-container: #cccbdc;
  --md-sys-color-inverse-primary: #c6c5d6;
  --md-sys-color-primary-fixed: #484856;
  --md-sys-color-primary-fixed-dim: #31323f;
  --md-sys-color-on-primary-fixed: #ffffff;
  --md-sys-color-on-primary-fixed-variant: #ffffff;
  --md-sys-color-secondary: #2b2b34;
  --md-sys-color-secondary-dim: #1e1f27;
  --md-sys-color-on-secondary: #ffffff;
  --md-sys-color-secondary-container: #17171f;
  --md-sys-color-on-secondary-container: #cdcbd6;
  --md-sys-color-secondary-fixed: #494851;
  --md-sys-color-secondary-fixed-dim: #32323a;
  --md-sys-color-on-secondary-fixed: #ffffff;
  --md-sys-color-on-secondary-fixed-variant: #ffffff;
  --md-sys-color-tertiary: #292b3d;
  --md-sys-color-tertiary-dim: #1c1e30;
  --md-sys-color-on-tertiary: #ffffff;
  --md-sys-color-tertiary-container: #151628;
  --md-sys-color-on-tertiary-container: #cacae3;
  --md-sys-color-tertiary-fixed: #46485c;
  --md-sys-color-tertiary-fixed-dim: #303144;
  --md-sys-color-on-tertiary-fixed: #ffffff;
  --md-sys-color-on-tertiary-fixed-variant: #ffffff;
  --md-sys-color-error: #600004;
  --md-sys-color-error-dim: #480002;
  --md-sys-color-on-error: #ffffff;
  --md-sys-color-error-container: #390001;
  --md-sys-color-on-error-container: #ffbcb4;
}

.dark {
  --md-sys-color-primary-palette-key-color: #767685;
  --md-sys-color-secondary-palette-key-color: #777680;
  --md-sys-color-tertiary-palette-key-color: #74758b;
  --md-sys-color-neutral-palette-key-color: #787678;
  --md-sys-color-neutral-variant-palette-key-color: #787678;
  --md-sys-color-error-palette-key-color: #de3730;
  --md-sys-color-background: #131315;
  --md-sys-color-on-background: #e5e1e3;
  --md-sys-color-surface: #131315;
  --md-sys-color-surface-dim: #131315;
  --md-sys-color-surface-bright: #3a393a;
  --md-sys-color-surface-container-lowest: #0e0e0f;
  --md-sys-color-surface-container-low: #1c1b1d;
  --md-sys-color-surface-container: #201f21;
  --md-sys-color-surface-container-high: #2a2a2b;
  --md-sys-color-surface-container-highest: #353436;
  --md-sys-color-on-surface: #e5e1e3;
  --md-sys-color-surface-variant: #474648;
  --md-sys-color-on-surface-variant: #c9c6c7;
  --md-sys-color-inverse-surface: #e5e1e3;
  --md-sys-color-inverse-on-surface: #313032;
  --md-sys-color-outline: #929092;
  --md-sys-color-outline-variant: #474648;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #c6c5d6;
  --md-sys-color-primary: #c6c5d6;
  --md-sys-color-primary-dim: #d4d3e4;
  --md-sys-color-on-primary: #2f2f3d;
  --md-sys-color-primary-container: #e2e1f3;
  --md-sys-color-on-primary-container: #636372;
  --md-sys-color-inverse-primary: #5d5d6c;
  --md-sys-color-primary-fixed: #e2e1f3;
  --md-sys-color-primary-fixed-dim: #c6c5d6;
  --md-sys-color-on-primary-fixed: #1a1b27;
  --md-sys-color-on-primary-fixed-variant: #454654;
  --md-sys-color-secondary: #c7c5d0;
  --md-sys-color-secondary-dim: #d5d3de;
  --md-sys-color-on-secondary: #303038;
  --md-sys-color-secondary-container: #e3e1ec;
  --md-sys-color-on-secondary-container: #64636d;
  --md-sys-color-secondary-fixed: #e3e1ec;
  --md-sys-color-secondary-fixed-dim: #c7c5d0;
  --md-sys-color-on-secondary-fixed: #1b1b23;
  --md-sys-color-on-secondary-fixed-variant: #46464f;
  --md-sys-color-tertiary: #c5c4dd;
  --md-sys-color-tertiary-dim: #dbdbf4;
  --md-sys-color-on-tertiary: #2e2f42;
  --md-sys-color-tertiary-container: #e1e0f9;
  --md-sys-color-on-tertiary-container: #626378;
  --md-sys-color-tertiary-fixed: #e1e0f9;
  --md-sys-color-tertiary-fixed-dim: #c5c4dd;
  --md-sys-color-on-tertiary-fixed: #191a2c;
  --md-sys-color-on-tertiary-fixed-variant: #444559;
  --md-sys-color-error: #ffb4ab;
  --md-sys-color-error-dim: #ffc7c0;
  --md-sys-color-on-error: #690005;
  --md-sys-color-error-container: #ffdad6;
  --md-sys-color-on-error-container: #c32220;
}

.dark-medium-contrast {
  --md-sys-color-primary-palette-key-color: #767685;
  --md-sys-color-secondary-palette-key-color: #777680;
  --md-sys-color-tertiary-palette-key-color: #74758b;
  --md-sys-color-neutral-palette-key-color: #787678;
  --md-sys-color-neutral-variant-palette-key-color: #787678;
  --md-sys-color-error-palette-key-color: #de3730;
  --md-sys-color-background: #131315;
  --md-sys-color-on-background: #e5e1e3;
  --md-sys-color-surface: #131315;
  --md-sys-color-surface-dim: #131315;
  --md-sys-color-surface-bright: #454446;
  --md-sys-color-surface-container-lowest: #070708;
  --md-sys-color-surface-container-low: #1e1d1f;
  --md-sys-color-surface-container: #282829;
  --md-sys-color-surface-container-high: #333234;
  --md-sys-color-surface-container-highest: #3e3d3f;
  --md-sys-color-on-surface: #ffffff;
  --md-sys-color-surface-variant: #474648;
  --md-sys-color-on-surface-variant: #dfdbdd;
  --md-sys-color-inverse-surface: #e5e1e3;
  --md-sys-color-inverse-on-surface: #2a2a2b;
  --md-sys-color-outline: #b4b1b3;
  --md-sys-color-outline-variant: #929091;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #c6c5d6;
  --md-sys-color-primary: #dcdbec;
  --md-sys-color-primary-dim: #d4d3e4;
  --md-sys-color-on-primary: #242532;
  --md-sys-color-primary-container: #fbf7ff;
  --md-sys-color-on-primary-container: #535462;
  --md-sys-color-inverse-primary: #464755;
  --md-sys-color-primary-fixed: #e2e1f3;
  --md-sys-color-primary-fixed-dim: #c6c5d6;
  --md-sys-color-on-primary-fixed: #0f101c;
  --md-sys-color-on-primary-fixed-variant: #343543;
  --md-sys-color-secondary: #dddbe6;
  --md-sys-color-secondary-dim: #d5d3de;
  --md-sys-color-on-secondary: #25252d;
  --md-sys-color-secondary-container: #fbf7ff;
  --md-sys-color-on-secondary-container: #54545d;
  --md-sys-color-secondary-fixed: #e3e1ec;
  --md-sys-color-secondary-fixed-dim: #c7c5d0;
  --md-sys-color-on-secondary-fixed: #101118;
  --md-sys-color-on-secondary-fixed-variant: #35353e;
  --md-sys-color-tertiary: #dbdaf3;
  --md-sys-color-tertiary-dim: #dbdbf4;
  --md-sys-color-on-tertiary: #232437;
  --md-sys-color-tertiary-container: #fbf7ff;
  --md-sys-color-on-tertiary-container: #525368;
  --md-sys-color-tertiary-fixed: #e1e0f9;
  --md-sys-color-tertiary-fixed-dim: #c5c4dd;
  --md-sys-color-on-tertiary-fixed: #0e1021;
  --md-sys-color-on-tertiary-fixed-variant: #333548;
  --md-sys-color-error: #ffd2cc;
  --md-sys-color-error-dim: #ffc7c0;
  --md-sys-color-on-error: #540003;
  --md-sys-color-error-container: #fff7f6;
  --md-sys-color-on-error-container: #ab0b12;
}

.dark-high-contrast {
  --md-sys-color-primary-palette-key-color: #767685;
  --md-sys-color-secondary-palette-key-color: #777680;
  --md-sys-color-tertiary-palette-key-color: #74758b;
  --md-sys-color-neutral-palette-key-color: #787678;
  --md-sys-color-neutral-variant-palette-key-color: #787678;
  --md-sys-color-error-palette-key-color: #de3730;
  --md-sys-color-background: #131315;
  --md-sys-color-on-background: #e5e1e3;
  --md-sys-color-surface: #131315;
  --md-sys-color-surface-dim: #131315;
  --md-sys-color-surface-bright: #515051;
  --md-sys-color-surface-container-lowest: #000000;
  --md-sys-color-surface-container-low: #201f21;
  --md-sys-color-surface-container: #313032;
  --md-sys-color-surface-container-high: #3c3b3d;
  --md-sys-color-surface-container-highest: #474648;
  --md-sys-color-on-surface: #ffffff;
  --md-sys-color-surface-variant: #474648;
  --md-sys-color-on-surface-variant: #ffffff;
  --md-sys-color-inverse-surface: #e5e1e3;
  --md-sys-color-inverse-on-surface: #000000;
  --md-sys-color-outline: #f3eff1;
  --md-sys-color-outline-variant: #c5c2c3;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #c6c5d6;
  --md-sys-color-primary: #e2e1f3;
  --md-sys-color-primary-dim: #fffeff;
  --md-sys-color-on-primary: #000000;
  --md-sys-color-primary-container: #ffffff;
  --md-sys-color-on-primary-container: #3a3a48;
  --md-sys-color-inverse-primary: #464755;
  --md-sys-color-primary-fixed: #e2e1f3;
  --md-sys-color-primary-fixed-dim: #c6c5d6;
  --md-sys-color-on-primary-fixed: #000000;
  --md-sys-color-on-primary-fixed-variant: #0f101c;
  --md-sys-color-secondary: #e3e1ec;
  --md-sys-color-secondary-dim: #fffeff;
  --md-sys-color-on-secondary: #000000;
  --md-sys-color-secondary-container: #ffffff;
  --md-sys-color-on-secondary-container: #3b3b43;
  --md-sys-color-secondary-fixed: #e3e1ec;
  --md-sys-color-secondary-fixed-dim: #c7c5d0;
  --md-sys-color-on-secondary-fixed: #000000;
  --md-sys-color-on-secondary-fixed-variant: #101118;
  --md-sys-color-tertiary: #e1e0f9;
  --md-sys-color-tertiary-dim: #fffeff;
  --md-sys-color-on-tertiary: #000000;
  --md-sys-color-tertiary-container: #ffffff;
  --md-sys-color-on-tertiary-container: #393a4d;
  --md-sys-color-tertiary-fixed: #e1e0f9;
  --md-sys-color-tertiary-fixed-dim: #c5c4dd;
  --md-sys-color-on-tertiary-fixed: #000000;
  --md-sys-color-on-tertiary-fixed-variant: #0e1021;
  --md-sys-color-error: #ffdad6;
  --md-sys-color-error-dim: #fffeff;
  --md-sys-color-on-error: #000000;
  --md-sys-color-error-container: #ffffff;
  --md-sys-color-on-error-container: #7e0007;
}

