.light {
  --md-sys-color-primary-palette-key-color: #777680;
  --md-sys-color-secondary-palette-key-color: #78767a;
  --md-sys-color-tertiary-palette-key-color: #6d7791;
  --md-sys-color-neutral-palette-key-color: #787677;
  --md-sys-color-neutral-variant-palette-key-color: #787679;
  --md-sys-color-error-palette-key-color: #bd5665;
  --md-sys-color-background: #fcf8f9;
  --md-sys-color-on-background: #333235;
  --md-sys-color-surface: #fcf8f9;
  --md-sys-color-surface-dim: #dcd9dd;
  --md-sys-color-surface-bright: #fcf8f9;
  --md-sys-color-surface-container-lowest: #ffffff;
  --md-sys-color-surface-container-low: #f6f3f4;
  --md-sys-color-surface-container: #f0edef;
  --md-sys-color-surface-container-high: #ebe7ea;
  --md-sys-color-surface-container-highest: #e5e1e5;
  --md-sys-color-on-surface: #333235;
  --md-sys-color-surface-variant: #e5e1e5;
  --md-sys-color-on-surface-variant: #605e61;
  --md-sys-color-inverse-surface: #0e0e0f;
  --md-sys-color-inverse-on-surface: #9f9c9d;
  --md-sys-color-outline: #7c7a7d;
  --md-sys-color-outline-variant: #b4b1b4;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #5e5d67;
  --md-sys-color-primary: #5e5d67;
  --md-sys-color-primary-dim: #52525b;
  --md-sys-color-on-primary: #f9f6ff;
  --md-sys-color-primary-container: #e3e1ec;
  --md-sys-color-on-primary-container: #51515a;
  --md-sys-color-inverse-primary: #efecf8;
  --md-sys-color-primary-fixed: #e3e1ec;
  --md-sys-color-primary-fixed-dim: #d5d3de;
  --md-sys-color-on-primary-fixed: #3f3f47;
  --md-sys-color-on-primary-fixed-variant: #5b5b64;
  --md-sys-color-secondary: #605e62;
  --md-sys-color-secondary-dim: #535256;
  --md-sys-color-on-secondary: #fbf8fc;
  --md-sys-color-secondary-container: #e4e1e6;
  --md-sys-color-on-secondary-container: #525155;
  --md-sys-color-secondary-fixed: #e4e1e6;
  --md-sys-color-secondary-fixed-dim: #d6d3d8;
  --md-sys-color-on-secondary-fixed: #3f3f43;
  --md-sys-color-on-secondary-fixed-variant: #5c5b5f;
  --md-sys-color-tertiary: #555f78;
  --md-sys-color-tertiary-dim: #49536b;
  --md-sys-color-on-tertiary: #f9f8ff;
  --md-sys-color-tertiary-container: #d5dffd;
  --md-sys-color-on-tertiary-container: #465068;
  --md-sys-color-tertiary-fixed: #d5dffd;
  --md-sys-color-tertiary-fixed-dim: #c7d1ef;
  --md-sys-color-on-tertiary-fixed: #333d55;
  --md-sys-color-on-tertiary-fixed-variant: #4f5a72;
  --md-sys-color-error: #9e3f4e;
  --md-sys-color-error-dim: #4f0116;
  --md-sys-color-on-error: #fff7f7;
  --md-sys-color-error-container: #ff8b9a;
  --md-sys-color-on-error-container: #782232;
}

.light-medium-contrast {
  --md-sys-color-primary-palette-key-color: #777680;
  --md-sys-color-secondary-palette-key-color: #78767a;
  --md-sys-color-tertiary-palette-key-color: #6d7791;
  --md-sys-color-neutral-palette-key-color: #787677;
  --md-sys-color-neutral-variant-palette-key-color: #787679;
  --md-sys-color-error-palette-key-color: #bd5665;
  --md-sys-color-background: #fcf8f9;
  --md-sys-color-on-background: #242426;
  --md-sys-color-surface: #fcf8f9;
  --md-sys-color-surface-dim: #dcd9dd;
  --md-sys-color-surface-bright: #fcf8f9;
  --md-sys-color-surface-container-lowest: #ffffff;
  --md-sys-color-surface-container-low: #f6f3f4;
  --md-sys-color-surface-container: #f0edef;
  --md-sys-color-surface-container-high: #ebe7ea;
  --md-sys-color-surface-container-highest: #e5e1e5;
  --md-sys-color-on-surface: #242426;
  --md-sys-color-surface-variant: #e5e1e5;
  --md-sys-color-on-surface-variant: #434245;
  --md-sys-color-inverse-surface: #0e0e0f;
  --md-sys-color-inverse-on-surface: #c7c4c5;
  --md-sys-color-outline: #605e61;
  --md-sys-color-outline-variant: #7c7a7d;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #42424b;
  --md-sys-color-primary: #42424b;
  --md-sys-color-primary-dim: #37373f;
  --md-sys-color-on-primary: #dad8e3;
  --md-sys-color-primary-container: #74747d;
  --md-sys-color-on-primary-container: #ffffff;
  --md-sys-color-inverse-primary: #efecf8;
  --md-sys-color-primary-fixed: #74747d;
  --md-sys-color-primary-fixed-dim: #686771;
  --md-sys-color-on-primary-fixed: #ffffff;
  --md-sys-color-on-primary-fixed-variant: #ffffff;
  --md-sys-color-secondary: #434246;
  --md-sys-color-secondary-dim: #38373b;
  --md-sys-color-on-secondary: #dcd9dd;
  --md-sys-color-secondary-container: #757478;
  --md-sys-color-on-secondary-container: #ffffff;
  --md-sys-color-secondary-fixed: #757478;
  --md-sys-color-secondary-fixed-dim: #69676c;
  --md-sys-color-on-secondary-fixed: #ffffff;
  --md-sys-color-on-secondary-fixed-variant: #ffffff;
  --md-sys-color-tertiary: #38435a;
  --md-sys-color-tertiary-dim: #2d374e;
  --md-sys-color-on-tertiary: #cfd9f7;
  --md-sys-color-tertiary-container: #6a748e;
  --md-sys-color-on-tertiary-container: #ffffff;
  --md-sys-color-tertiary-fixed: #6a748e;
  --md-sys-color-tertiary-fixed-dim: #5e6881;
  --md-sys-color-on-tertiary-fixed: #ffffff;
  --md-sys-color-on-tertiary-fixed-variant: #ffffff;
  --md-sys-color-error: #7a2333;
  --md-sys-color-error-dim: #4f0116;
  --md-sys-color-on-error: #ffcdd1;
  --md-sys-color-error-container: #b95463;
  --md-sys-color-on-error-container: #ffffff;
}

.light-high-contrast {
  --md-sys-color-primary-palette-key-color: #777680;
  --md-sys-color-secondary-palette-key-color: #78767a;
  --md-sys-color-tertiary-palette-key-color: #6d7791;
  --md-sys-color-neutral-palette-key-color: #787677;
  --md-sys-color-neutral-variant-palette-key-color: #787679;
  --md-sys-color-error-palette-key-color: #bd5665;
  --md-sys-color-background: #fcf8f9;
  --md-sys-color-on-background: #000000;
  --md-sys-color-surface: #fcf8f9;
  --md-sys-color-surface-dim: #dcd9dd;
  --md-sys-color-surface-bright: #fcf8f9;
  --md-sys-color-surface-container-lowest: #ffffff;
  --md-sys-color-surface-container-low: #f6f3f4;
  --md-sys-color-surface-container: #f0edef;
  --md-sys-color-surface-container-high: #ebe7ea;
  --md-sys-color-surface-container-highest: #e5e1e5;
  --md-sys-color-on-surface: #000000;
  --md-sys-color-surface-variant: #e5e1e5;
  --md-sys-color-on-surface-variant: #242426;
  --md-sys-color-inverse-surface: #0e0e0f;
  --md-sys-color-inverse-on-surface: #ffffff;
  --md-sys-color-outline: #434245;
  --md-sys-color-outline-variant: #605e61;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #23232b;
  --md-sys-color-primary: #23232b;
  --md-sys-color-primary-dim: #191921;
  --md-sys-color-on-primary: #dbd9e4;
  --md-sys-color-primary-container: #5f5e67;
  --md-sys-color-on-primary-container: #ffffff;
  --md-sys-color-inverse-primary: #efecf8;
  --md-sys-color-primary-fixed: #5f5e67;
  --md-sys-color-primary-fixed-dim: #53525b;
  --md-sys-color-on-primary-fixed: #ffffff;
  --md-sys-color-on-primary-fixed-variant: #ffffff;
  --md-sys-color-secondary: #242327;
  --md-sys-color-secondary-dim: #1a191d;
  --md-sys-color-on-secondary: #dcd9de;
  --md-sys-color-secondary-container: #605e62;
  --md-sys-color-on-secondary-container: #ffffff;
  --md-sys-color-secondary-fixed: #605e62;
  --md-sys-color-secondary-fixed-dim: #535256;
  --md-sys-color-on-secondary-fixed: #ffffff;
  --md-sys-color-on-secondary-fixed-variant: #ffffff;
  --md-sys-color-tertiary: #19243a;
  --md-sys-color-tertiary-dim: #0f192f;
  --md-sys-color-on-tertiary: #cfdaf7;
  --md-sys-color-tertiary-container: #555f78;
  --md-sys-color-on-tertiary-container: #ffffff;
  --md-sys-color-tertiary-fixed: #555f78;
  --md-sys-color-tertiary-fixed-dim: #49536b;
  --md-sys-color-on-tertiary-fixed: #ffffff;
  --md-sys-color-on-tertiary-fixed-variant: #ffffff;
  --md-sys-color-error: #4f0116;
  --md-sys-color-error-dim: #3d000f;
  --md-sys-color-on-error: #ffced2;
  --md-sys-color-error-container: #9e3f4e;
  --md-sys-color-on-error-container: #ffffff;
}

.dark {
  --md-sys-color-primary-palette-key-color: #777680;
  --md-sys-color-secondary-palette-key-color: #78767a;
  --md-sys-color-tertiary-palette-key-color: #6d7791;
  --md-sys-color-neutral-palette-key-color: #787677;
  --md-sys-color-neutral-variant-palette-key-color: #787679;
  --md-sys-color-error-palette-key-color: #bd5665;
  --md-sys-color-background: #0e0e0f;
  --md-sys-color-on-background: #e8e4e8;
  --md-sys-color-surface: #0e0e0f;
  --md-sys-color-surface-dim: #0e0e0f;
  --md-sys-color-surface-bright: #2c2c2f;
  --md-sys-color-surface-container-lowest: #000000;
  --md-sys-color-surface-container-low: #131314;
  --md-sys-color-surface-container: #1a191b;
  --md-sys-color-surface-container-high: #201f21;
  --md-sys-color-surface-container-highest: #262528;
  --md-sys-color-on-surface: #e8e4e8;
  --md-sys-color-surface-variant: #262528;
  --md-sys-color-on-surface-variant: #adaaad;
  --md-sys-color-inverse-surface: #fcf8f9;
  --md-sys-color-inverse-on-surface: #565556;
  --md-sys-color-outline: #767578;
  --md-sys-color-outline-variant: #48474a;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #c7c5d0;
  --md-sys-color-primary: #c7c5d0;
  --md-sys-color-primary-dim: #b9b7c2;
  --md-sys-color-on-primary: #3f3f48;
  --md-sys-color-primary-container: #46464f;
  --md-sys-color-on-primary-container: #d1cfda;
  --md-sys-color-inverse-primary: #5f5e67;
  --md-sys-color-primary-fixed: #e3e1ec;
  --md-sys-color-primary-fixed-dim: #d5d3de;
  --md-sys-color-on-primary-fixed: #3f3f47;
  --md-sys-color-on-primary-fixed-variant: #5b5b64;
  --md-sys-color-secondary: #9f9da1;
  --md-sys-color-secondary-dim: #9f9da1;
  --md-sys-color-on-secondary: #202023;
  --md-sys-color-secondary-container: #3c3b3f;
  --md-sys-color-on-secondary-container: #c1bec3;
  --md-sys-color-secondary-fixed: #e4e1e6;
  --md-sys-color-secondary-fixed-dim: #d6d3d8;
  --md-sys-color-on-secondary-fixed: #3f3f43;
  --md-sys-color-on-secondary-fixed-variant: #5c5b5f;
  --md-sys-color-tertiary: #e9edff;
  --md-sys-color-tertiary-dim: #d5dffd;
  --md-sys-color-on-tertiary: #4e5871;
  --md-sys-color-tertiary-container: #d5dffd;
  --md-sys-color-on-tertiary-container: #465068;
  --md-sys-color-tertiary-fixed: #d5dffd;
  --md-sys-color-tertiary-fixed-dim: #c7d1ef;
  --md-sys-color-on-tertiary-fixed: #333d55;
  --md-sys-color-on-tertiary-fixed-variant: #4f5a72;
  --md-sys-color-error: #ec7c8a;
  --md-sys-color-error-dim: #b95463;
  --md-sys-color-on-error: #490013;
  --md-sys-color-error-container: #7f2737;
  --md-sys-color-on-error-container: #ff97a3;
}

.dark-medium-contrast {
  --md-sys-color-primary-palette-key-color: #777680;
  --md-sys-color-secondary-palette-key-color: #78767a;
  --md-sys-color-tertiary-palette-key-color: #6d7791;
  --md-sys-color-neutral-palette-key-color: #787677;
  --md-sys-color-neutral-variant-palette-key-color: #787679;
  --md-sys-color-error-palette-key-color: #bd5665;
  --md-sys-color-background: #0e0e0f;
  --md-sys-color-on-background: #ffffff;
  --md-sys-color-surface: #0e0e0f;
  --md-sys-color-surface-dim: #0e0e0f;
  --md-sys-color-surface-bright: #2c2c2f;
  --md-sys-color-surface-container-lowest: #000000;
  --md-sys-color-surface-container-low: #131314;
  --md-sys-color-surface-container: #1a191b;
  --md-sys-color-surface-container-high: #201f21;
  --md-sys-color-surface-container-highest: #262528;
  --md-sys-color-on-surface: #ffffff;
  --md-sys-color-surface-variant: #262528;
  --md-sys-color-on-surface-variant: #bab8bb;
  --md-sys-color-inverse-surface: #fcf8f9;
  --md-sys-color-inverse-on-surface: #393839;
  --md-sys-color-outline: #959396;
  --md-sys-color-outline-variant: #767578;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #c7c5d0;
  --md-sys-color-primary: #c7c5d0;
  --md-sys-color-primary-dim: #b9b7c2;
  --md-sys-color-on-primary: #35353e;
  --md-sys-color-primary-container: #74747d;
  --md-sys-color-on-primary-container: #ffffff;
  --md-sys-color-inverse-primary: #55545d;
  --md-sys-color-primary-fixed: #e3e1ec;
  --md-sys-color-primary-fixed-dim: #d5d3de;
  --md-sys-color-on-primary-fixed: #1e1f27;
  --md-sys-color-on-primary-fixed-variant: #3f3f47;
  --md-sys-color-secondary: #bab8bc;
  --md-sys-color-secondary-dim: #adaaaf;
  --md-sys-color-on-secondary: #2c2c2f;
  --md-sys-color-secondary-container: #757478;
  --md-sys-color-on-secondary-container: #ffffff;
  --md-sys-color-secondary-fixed: #e4e1e6;
  --md-sys-color-secondary-fixed-dim: #d6d3d8;
  --md-sys-color-on-secondary-fixed: #1f1f22;
  --md-sys-color-on-secondary-fixed-variant: #3f3f43;
  --md-sys-color-tertiary: #e9edff;
  --md-sys-color-tertiary-dim: #d5dffd;
  --md-sys-color-on-tertiary: #444e67;
  --md-sys-color-tertiary-container: #d5dffd;
  --md-sys-color-on-tertiary-container: #3c465e;
  --md-sys-color-tertiary-fixed: #d5dffd;
  --md-sys-color-tertiary-fixed-dim: #c7d1ef;
  --md-sys-color-on-tertiary-fixed: #121d32;
  --md-sys-color-on-tertiary-fixed-variant: #333d55;
  --md-sys-color-error: #ff9da8;
  --md-sys-color-error-dim: #fb8896;
  --md-sys-color-on-error: #5b0a1e;
  --md-sys-color-error-container: #b95463;
  --md-sys-color-on-error-container: #ffffff;
}

.dark-high-contrast {
  --md-sys-color-primary-palette-key-color: #777680;
  --md-sys-color-secondary-palette-key-color: #78767a;
  --md-sys-color-tertiary-palette-key-color: #6d7791;
  --md-sys-color-neutral-palette-key-color: #787677;
  --md-sys-color-neutral-variant-palette-key-color: #787679;
  --md-sys-color-error-palette-key-color: #bd5665;
  --md-sys-color-background: #0e0e0f;
  --md-sys-color-on-background: #ffffff;
  --md-sys-color-surface: #0e0e0f;
  --md-sys-color-surface-dim: #0e0e0f;
  --md-sys-color-surface-bright: #2c2c2f;
  --md-sys-color-surface-container-lowest: #000000;
  --md-sys-color-surface-container-low: #131314;
  --md-sys-color-surface-container: #1a191b;
  --md-sys-color-surface-container-high: #201f21;
  --md-sys-color-surface-container-highest: #262528;
  --md-sys-color-on-surface: #ffffff;
  --md-sys-color-surface-variant: #262528;
  --md-sys-color-on-surface-variant: #e8e4e8;
  --md-sys-color-inverse-surface: #fcf8f9;
  --md-sys-color-inverse-on-surface: #000000;
  --md-sys-color-outline: #bab8bb;
  --md-sys-color-outline-variant: #959396;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #e6e4ef;
  --md-sys-color-primary: #e6e4ef;
  --md-sys-color-primary-dim: #d5d3de;
  --md-sys-color-on-primary: #2b2b33;
  --md-sys-color-primary-container: #9e9da7;
  --md-sys-color-on-primary-container: #000000;
  --md-sys-color-inverse-primary: #373740;
  --md-sys-color-primary-fixed: #e3e1ec;
  --md-sys-color-primary-fixed-dim: #d5d3de;
  --md-sys-color-on-primary-fixed: #000000;
  --md-sys-color-on-primary-fixed-variant: #1e1f27;
  --md-sys-color-secondary: #e7e4e9;
  --md-sys-color-secondary-dim: #d6d3d8;
  --md-sys-color-on-secondary: #2c2c2f;
  --md-sys-color-secondary-container: #9f9da1;
  --md-sys-color-on-secondary-container: #000000;
  --md-sys-color-secondary-fixed: #e4e1e6;
  --md-sys-color-secondary-fixed-dim: #d6d3d8;
  --md-sys-color-on-secondary-fixed: #000000;
  --md-sys-color-on-secondary-fixed-variant: #1f1f22;
  --md-sys-color-tertiary: #e9edff;
  --md-sys-color-tertiary-dim: #d5dffd;
  --md-sys-color-on-tertiary: #273148;
  --md-sys-color-tertiary-container: #d5dffd;
  --md-sys-color-on-tertiary-container: #1d283e;
  --md-sys-color-tertiary-fixed: #d5dffd;
  --md-sys-color-tertiary-fixed-dim: #c7d1ef;
  --md-sys-color-on-tertiary-fixed: #000000;
  --md-sys-color-on-tertiary-fixed-variant: #121d32;
  --md-sys-color-error: #ffdddf;
  --md-sys-color-error-dim: #ffc7cb;
  --md-sys-color-on-error: #5b0a1e;
  --md-sys-color-error-container: #ec7c8a;
  --md-sys-color-on-error-container: #000000;
}

