.light {
  --md-sys-color-primary-palette-key-color: #6870c4;
  --md-sys-color-secondary-palette-key-color: #74758b;
  --md-sys-color-tertiary-palette-key-color: #926b84;
  --md-sys-color-neutral-palette-key-color: #777777;
  --md-sys-color-neutral-variant-palette-key-color: #777777;
  --md-sys-color-error-palette-key-color: #de3730;
  --md-sys-color-background: #131313;
  --md-sys-color-on-background: #e2e2e2;
  --md-sys-color-surface: #131313;
  --md-sys-color-surface-dim: #131313;
  --md-sys-color-surface-bright: #393939;
  --md-sys-color-surface-container-lowest: #0e0e0e;
  --md-sys-color-surface-container-low: #1b1b1b;
  --md-sys-color-surface-container: #1f1f1f;
  --md-sys-color-surface-container-high: #2a2a2a;
  --md-sys-color-surface-container-highest: #353535;
  --md-sys-color-on-surface: #e2e2e2;
  --md-sys-color-surface-variant: #474747;
  --md-sys-color-on-surface-variant: #c6c6c6;
  --md-sys-color-inverse-surface: #e2e2e2;
  --md-sys-color-inverse-on-surface: #303030;
  --md-sys-color-outline: #919191;
  --md-sys-color-outline-variant: #474747;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #bec2ff;
  --md-sys-color-primary: #bec2ff;
  --md-sys-color-primary-dim: #cfd1ff;
  --md-sys-color-on-primary: #1e2678;
  --md-sys-color-primary-container: #e0e0ff;
  --md-sys-color-on-primary-container: #555db0;
  --md-sys-color-inverse-primary: #4f56a9;
  --md-sys-color-primary-fixed: #e0e0ff;
  --md-sys-color-primary-fixed-dim: #bec2ff;
  --md-sys-color-on-primary-fixed: #020865;
  --md-sys-color-on-primary-fixed-variant: #363e90;
  --md-sys-color-secondary: #c5c4dd;
  --md-sys-color-secondary-dim: #dbdbf4;
  --md-sys-color-on-secondary: #2e2f42;
  --md-sys-color-secondary-container: #e1e0f9;
  --md-sys-color-on-secondary-container: #626378;
  --md-sys-color-secondary-fixed: #e1e0f9;
  --md-sys-color-secondary-fixed-dim: #c5c4dd;
  --md-sys-color-on-secondary-fixed: #191a2c;
  --md-sys-color-on-secondary-fixed-variant: #444559;
  --md-sys-color-tertiary: #e7b9d5;
  --md-sys-color-tertiary-dim: #ffcfec;
  --md-sys-color-on-tertiary: #45263c;
  --md-sys-color-tertiary-container: #ffd7ee;
  --md-sys-color-on-tertiary-container: #7e5971;
  --md-sys-color-tertiary-fixed: #ffd7ee;
  --md-sys-color-tertiary-fixed-dim: #e7b9d5;
  --md-sys-color-on-tertiary-fixed: #2e1126;
  --md-sys-color-on-tertiary-fixed-variant: #5e3c53;
  --md-sys-color-error: #ffb4ab;
  --md-sys-color-error-dim: #ffc7c0;
  --md-sys-color-on-error: #690005;
  --md-sys-color-error-container: #ffdad6;
  --md-sys-color-on-error-container: #c32220;
}

.light-medium-contrast {
  --md-sys-color-primary-palette-key-color: #6870c4;
  --md-sys-color-secondary-palette-key-color: #74758b;
  --md-sys-color-tertiary-palette-key-color: #926b84;
  --md-sys-color-neutral-palette-key-color: #777777;
  --md-sys-color-neutral-variant-palette-key-color: #777777;
  --md-sys-color-error-palette-key-color: #de3730;
  --md-sys-color-background: #131313;
  --md-sys-color-on-background: #e2e2e2;
  --md-sys-color-surface: #131313;
  --md-sys-color-surface-dim: #131313;
  --md-sys-color-surface-bright: #444444;
  --md-sys-color-surface-container-lowest: #070707;
  --md-sys-color-surface-container-low: #1d1d1d;
  --md-sys-color-surface-container: #282828;
  --md-sys-color-surface-container-high: #323232;
  --md-sys-color-surface-container-highest: #3e3e3e;
  --md-sys-color-on-surface: #ffffff;
  --md-sys-color-surface-variant: #474747;
  --md-sys-color-on-surface-variant: #dcdcdc;
  --md-sys-color-inverse-surface: #e2e2e2;
  --md-sys-color-inverse-on-surface: #2a2a2a;
  --md-sys-color-outline: #b2b2b2;
  --md-sys-color-outline-variant: #909090;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #bec2ff;
  --md-sys-color-primary: #d8d9ff;
  --md-sys-color-primary-dim: #cfd1ff;
  --md-sys-color-on-primary: #11186e;
  --md-sys-color-primary-container: #fbf7ff;
  --md-sys-color-on-primary-container: #454d9f;
  --md-sys-color-inverse-primary: #383f91;
  --md-sys-color-primary-fixed: #e0e0ff;
  --md-sys-color-primary-fixed-dim: #bec2ff;
  --md-sys-color-on-primary-fixed: #00034b;
  --md-sys-color-on-primary-fixed-variant: #252c7e;
  --md-sys-color-secondary: #dbdaf3;
  --md-sys-color-secondary-dim: #dbdbf4;
  --md-sys-color-on-secondary: #232437;
  --md-sys-color-secondary-container: #fbf7ff;
  --md-sys-color-on-secondary-container: #525368;
  --md-sys-color-secondary-fixed: #e1e0f9;
  --md-sys-color-secondary-fixed-dim: #c5c4dd;
  --md-sys-color-on-secondary-fixed: #0e1021;
  --md-sys-color-on-secondary-fixed-variant: #333548;
  --md-sys-color-tertiary: #fecfeb;
  --md-sys-color-tertiary-dim: #ffcfec;
  --md-sys-color-on-tertiary: #391b31;
  --md-sys-color-tertiary-container: #fff7f8;
  --md-sys-color-on-tertiary-container: #6d4a61;
  --md-sys-color-tertiary-fixed: #ffd7ee;
  --md-sys-color-tertiary-fixed-dim: #e7b9d5;
  --md-sys-color-on-tertiary-fixed: #22071b;
  --md-sys-color-on-tertiary-fixed-variant: #4c2c42;
  --md-sys-color-error: #ffd2cc;
  --md-sys-color-error-dim: #ffc7c0;
  --md-sys-color-on-error: #540003;
  --md-sys-color-error-container: #fff7f6;
  --md-sys-color-on-error-container: #ab0b12;
}

.light-high-contrast {
  --md-sys-color-primary-palette-key-color: #6870c4;
  --md-sys-color-secondary-palette-key-color: #74758b;
  --md-sys-color-tertiary-palette-key-color: #926b84;
  --md-sys-color-neutral-palette-key-color: #777777;
  --md-sys-color-neutral-variant-palette-key-color: #777777;
  --md-sys-color-error-palette-key-color: #de3730;
  --md-sys-color-background: #131313;
  --md-sys-color-on-background: #e2e2e2;
  --md-sys-color-surface: #131313;
  --md-sys-color-surface-dim: #131313;
  --md-sys-color-surface-bright: #505050;
  --md-sys-color-surface-container-lowest: #000000;
  --md-sys-color-surface-container-low: #1f1f1f;
  --md-sys-color-surface-container: #303030;
  --md-sys-color-surface-container-high: #3b3b3b;
  --md-sys-color-surface-container-highest: #474747;
  --md-sys-color-on-surface: #ffffff;
  --md-sys-color-surface-variant: #474747;
  --md-sys-color-on-surface-variant: #ffffff;
  --md-sys-color-inverse-surface: #e2e2e2;
  --md-sys-color-inverse-on-surface: #000000;
  --md-sys-color-outline: #f0f0f0;
  --md-sys-color-outline-variant: #c2c2c2;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #bec2ff;
  --md-sys-color-primary: #e0e0ff;
  --md-sys-color-primary-dim: #fffeff;
  --md-sys-color-on-primary: #000000;
  --md-sys-color-primary-container: #ffffff;
  --md-sys-color-on-primary-container: #2a3284;
  --md-sys-color-inverse-primary: #383f91;
  --md-sys-color-primary-fixed: #e0e0ff;
  --md-sys-color-primary-fixed-dim: #bec2ff;
  --md-sys-color-on-primary-fixed: #000000;
  --md-sys-color-on-primary-fixed-variant: #00034b;
  --md-sys-color-secondary: #e1e0f9;
  --md-sys-color-secondary-dim: #fffeff;
  --md-sys-color-on-secondary: #000000;
  --md-sys-color-secondary-container: #ffffff;
  --md-sys-color-on-secondary-container: #393a4d;
  --md-sys-color-secondary-fixed: #e1e0f9;
  --md-sys-color-secondary-fixed-dim: #c5c4dd;
  --md-sys-color-on-secondary-fixed: #000000;
  --md-sys-color-on-secondary-fixed-variant: #0e1021;
  --md-sys-color-tertiary: #ffd7ee;
  --md-sys-color-tertiary-dim: #fffeff;
  --md-sys-color-on-tertiary: #000000;
  --md-sys-color-tertiary-container: #ffffff;
  --md-sys-color-on-tertiary-container: #523147;
  --md-sys-color-tertiary-fixed: #ffd7ee;
  --md-sys-color-tertiary-fixed-dim: #e7b9d5;
  --md-sys-color-on-tertiary-fixed: #000000;
  --md-sys-color-on-tertiary-fixed-variant: #22071b;
  --md-sys-color-error: #ffdad6;
  --md-sys-color-error-dim: #fffeff;
  --md-sys-color-on-error: #000000;
  --md-sys-color-error-container: #ffffff;
  --md-sys-color-on-error-container: #7e0007;
}

.dark {
  --md-sys-color-primary-palette-key-color: #6870c4;
  --md-sys-color-secondary-palette-key-color: #74758b;
  --md-sys-color-tertiary-palette-key-color: #926b84;
  --md-sys-color-neutral-palette-key-color: #777777;
  --md-sys-color-neutral-variant-palette-key-color: #777777;
  --md-sys-color-error-palette-key-color: #de3730;
  --md-sys-color-background: #131313;
  --md-sys-color-on-background: #e2e2e2;
  --md-sys-color-surface: #131313;
  --md-sys-color-surface-dim: #131313;
  --md-sys-color-surface-bright: #393939;
  --md-sys-color-surface-container-lowest: #0e0e0e;
  --md-sys-color-surface-container-low: #1b1b1b;
  --md-sys-color-surface-container: #1f1f1f;
  --md-sys-color-surface-container-high: #2a2a2a;
  --md-sys-color-surface-container-highest: #353535;
  --md-sys-color-on-surface: #e2e2e2;
  --md-sys-color-surface-variant: #474747;
  --md-sys-color-on-surface-variant: #c6c6c6;
  --md-sys-color-inverse-surface: #e2e2e2;
  --md-sys-color-inverse-on-surface: #303030;
  --md-sys-color-outline: #919191;
  --md-sys-color-outline-variant: #474747;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #bec2ff;
  --md-sys-color-primary: #bec2ff;
  --md-sys-color-primary-dim: #cfd1ff;
  --md-sys-color-on-primary: #1e2678;
  --md-sys-color-primary-container: #e0e0ff;
  --md-sys-color-on-primary-container: #555db0;
  --md-sys-color-inverse-primary: #4f56a9;
  --md-sys-color-primary-fixed: #e0e0ff;
  --md-sys-color-primary-fixed-dim: #bec2ff;
  --md-sys-color-on-primary-fixed: #020865;
  --md-sys-color-on-primary-fixed-variant: #363e90;
  --md-sys-color-secondary: #c5c4dd;
  --md-sys-color-secondary-dim: #dbdbf4;
  --md-sys-color-on-secondary: #2e2f42;
  --md-sys-color-secondary-container: #e1e0f9;
  --md-sys-color-on-secondary-container: #626378;
  --md-sys-color-secondary-fixed: #e1e0f9;
  --md-sys-color-secondary-fixed-dim: #c5c4dd;
  --md-sys-color-on-secondary-fixed: #191a2c;
  --md-sys-color-on-secondary-fixed-variant: #444559;
  --md-sys-color-tertiary: #e7b9d5;
  --md-sys-color-tertiary-dim: #ffcfec;
  --md-sys-color-on-tertiary: #45263c;
  --md-sys-color-tertiary-container: #ffd7ee;
  --md-sys-color-on-tertiary-container: #7e5971;
  --md-sys-color-tertiary-fixed: #ffd7ee;
  --md-sys-color-tertiary-fixed-dim: #e7b9d5;
  --md-sys-color-on-tertiary-fixed: #2e1126;
  --md-sys-color-on-tertiary-fixed-variant: #5e3c53;
  --md-sys-color-error: #ffb4ab;
  --md-sys-color-error-dim: #ffc7c0;
  --md-sys-color-on-error: #690005;
  --md-sys-color-error-container: #ffdad6;
  --md-sys-color-on-error-container: #c32220;
}

.dark-medium-contrast {
  --md-sys-color-primary-palette-key-color: #6870c4;
  --md-sys-color-secondary-palette-key-color: #74758b;
  --md-sys-color-tertiary-palette-key-color: #926b84;
  --md-sys-color-neutral-palette-key-color: #777777;
  --md-sys-color-neutral-variant-palette-key-color: #777777;
  --md-sys-color-error-palette-key-color: #de3730;
  --md-sys-color-background: #131313;
  --md-sys-color-on-background: #e2e2e2;
  --md-sys-color-surface: #131313;
  --md-sys-color-surface-dim: #131313;
  --md-sys-color-surface-bright: #444444;
  --md-sys-color-surface-container-lowest: #070707;
  --md-sys-color-surface-container-low: #1d1d1d;
  --md-sys-color-surface-container: #282828;
  --md-sys-color-surface-container-high: #323232;
  --md-sys-color-surface-container-highest: #3e3e3e;
  --md-sys-color-on-surface: #ffffff;
  --md-sys-color-surface-variant: #474747;
  --md-sys-color-on-surface-variant: #dcdcdc;
  --md-sys-color-inverse-surface: #e2e2e2;
  --md-sys-color-inverse-on-surface: #2a2a2a;
  --md-sys-color-outline: #b2b2b2;
  --md-sys-color-outline-variant: #909090;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #bec2ff;
  --md-sys-color-primary: #d8d9ff;
  --md-sys-color-primary-dim: #cfd1ff;
  --md-sys-color-on-primary: #11186e;
  --md-sys-color-primary-container: #fbf7ff;
  --md-sys-color-on-primary-container: #454d9f;
  --md-sys-color-inverse-primary: #383f91;
  --md-sys-color-primary-fixed: #e0e0ff;
  --md-sys-color-primary-fixed-dim: #bec2ff;
  --md-sys-color-on-primary-fixed: #00034b;
  --md-sys-color-on-primary-fixed-variant: #252c7e;
  --md-sys-color-secondary: #dbdaf3;
  --md-sys-color-secondary-dim: #dbdbf4;
  --md-sys-color-on-secondary: #232437;
  --md-sys-color-secondary-container: #fbf7ff;
  --md-sys-color-on-secondary-container: #525368;
  --md-sys-color-secondary-fixed: #e1e0f9;
  --md-sys-color-secondary-fixed-dim: #c5c4dd;
  --md-sys-color-on-secondary-fixed: #0e1021;
  --md-sys-color-on-secondary-fixed-variant: #333548;
  --md-sys-color-tertiary: #fecfeb;
  --md-sys-color-tertiary-dim: #ffcfec;
  --md-sys-color-on-tertiary: #391b31;
  --md-sys-color-tertiary-container: #fff7f8;
  --md-sys-color-on-tertiary-container: #6d4a61;
  --md-sys-color-tertiary-fixed: #ffd7ee;
  --md-sys-color-tertiary-fixed-dim: #e7b9d5;
  --md-sys-color-on-tertiary-fixed: #22071b;
  --md-sys-color-on-tertiary-fixed-variant: #4c2c42;
  --md-sys-color-error: #ffd2cc;
  --md-sys-color-error-dim: #ffc7c0;
  --md-sys-color-on-error: #540003;
  --md-sys-color-error-container: #fff7f6;
  --md-sys-color-on-error-container: #ab0b12;
}

.dark-high-contrast {
  --md-sys-color-primary-palette-key-color: #6870c4;
  --md-sys-color-secondary-palette-key-color: #74758b;
  --md-sys-color-tertiary-palette-key-color: #926b84;
  --md-sys-color-neutral-palette-key-color: #777777;
  --md-sys-color-neutral-variant-palette-key-color: #777777;
  --md-sys-color-error-palette-key-color: #de3730;
  --md-sys-color-background: #131313;
  --md-sys-color-on-background: #e2e2e2;
  --md-sys-color-surface: #131313;
  --md-sys-color-surface-dim: #131313;
  --md-sys-color-surface-bright: #505050;
  --md-sys-color-surface-container-lowest: #000000;
  --md-sys-color-surface-container-low: #1f1f1f;
  --md-sys-color-surface-container: #303030;
  --md-sys-color-surface-container-high: #3b3b3b;
  --md-sys-color-surface-container-highest: #474747;
  --md-sys-color-on-surface: #ffffff;
  --md-sys-color-surface-variant: #474747;
  --md-sys-color-on-surface-variant: #ffffff;
  --md-sys-color-inverse-surface: #e2e2e2;
  --md-sys-color-inverse-on-surface: #000000;
  --md-sys-color-outline: #f0f0f0;
  --md-sys-color-outline-variant: #c2c2c2;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #bec2ff;
  --md-sys-color-primary: #e0e0ff;
  --md-sys-color-primary-dim: #fffeff;
  --md-sys-color-on-primary: #000000;
  --md-sys-color-primary-container: #ffffff;
  --md-sys-color-on-primary-container: #2a3284;
  --md-sys-color-inverse-primary: #383f91;
  --md-sys-color-primary-fixed: #e0e0ff;
  --md-sys-color-primary-fixed-dim: #bec2ff;
  --md-sys-color-on-primary-fixed: #000000;
  --md-sys-color-on-primary-fixed-variant: #00034b;
  --md-sys-color-secondary: #e1e0f9;
  --md-sys-color-secondary-dim: #fffeff;
  --md-sys-color-on-secondary: #000000;
  --md-sys-color-secondary-container: #ffffff;
  --md-sys-color-on-secondary-container: #393a4d;
  --md-sys-color-secondary-fixed: #e1e0f9;
  --md-sys-color-secondary-fixed-dim: #c5c4dd;
  --md-sys-color-on-secondary-fixed: #000000;
  --md-sys-color-on-secondary-fixed-variant: #0e1021;
  --md-sys-color-tertiary: #ffd7ee;
  --md-sys-color-tertiary-dim: #fffeff;
  --md-sys-color-on-tertiary: #000000;
  --md-sys-color-tertiary-container: #ffffff;
  --md-sys-color-on-tertiary-container: #523147;
  --md-sys-color-tertiary-fixed: #ffd7ee;
  --md-sys-color-tertiary-fixed-dim: #e7b9d5;
  --md-sys-color-on-tertiary-fixed: #000000;
  --md-sys-color-on-tertiary-fixed-variant: #22071b;
  --md-sys-color-error: #ffdad6;
  --md-sys-color-error-dim: #fffeff;
  --md-sys-color-on-error: #000000;
  --md-sys-color-error-container: #ffffff;
  --md-sys-color-on-error-container: #7e0007;
}

