.light {
  --md-sys-color-primary-palette-key-color: #6870c4;
  --md-sys-color-secondary-palette-key-color: #74758b;
  --md-sys-color-tertiary-palette-key-color: #926b84;
  --md-sys-color-neutral-palette-key-color: #777777;
  --md-sys-color-neutral-variant-palette-key-color: #777777;
  --md-sys-color-error-palette-key-color: #de3730;
  --md-sys-color-background: #f9f9f9;
  --md-sys-color-on-background: #1b1b1b;
  --md-sys-color-surface: #f9f9f9;
  --md-sys-color-surface-dim: #dadada;
  --md-sys-color-surface-bright: #f9f9f9;
  --md-sys-color-surface-container-lowest: #ffffff;
  --md-sys-color-surface-container-low: #f3f3f3;
  --md-sys-color-surface-container: #eeeeee;
  --md-sys-color-surface-container-high: #e8e8e8;
  --md-sys-color-surface-container-highest: #e2e2e2;
  --md-sys-color-on-surface: #1b1b1b;
  --md-sys-color-surface-variant: #e2e2e2;
  --md-sys-color-on-surface-variant: #474747;
  --md-sys-color-inverse-surface: #303030;
  --md-sys-color-inverse-on-surface: #f1f1f1;
  --md-sys-color-outline: #777777;
  --md-sys-color-outline-variant: #c6c6c6;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #4f56a9;
  --md-sys-color-primary: #4f56a9;
  --md-sys-color-primary-dim: #5860b3;
  --md-sys-color-on-primary: #ffffff;
  --md-sys-color-primary-container: #e0e0ff;
  --md-sys-color-on-primary-container: #363e90;
  --md-sys-color-inverse-primary: #bec2ff;
  --md-sys-color-primary-fixed: #e0e0ff;
  --md-sys-color-primary-fixed-dim: #bec2ff;
  --md-sys-color-on-primary-fixed: #020865;
  --md-sys-color-on-primary-fixed-variant: #363e90;
  --md-sys-color-secondary: #5c5d72;
  --md-sys-color-secondary-dim: #65667b;
  --md-sys-color-on-secondary: #ffffff;
  --md-sys-color-secondary-container: #e1e0f9;
  --md-sys-color-on-secondary-container: #444559;
  --md-sys-color-secondary-fixed: #e1e0f9;
  --md-sys-color-secondary-fixed-dim: #c5c4dd;
  --md-sys-color-on-secondary-fixed: #191a2c;
  --md-sys-color-on-secondary-fixed-variant: #444559;
  --md-sys-color-tertiary: #78536b;
  --md-sys-color-tertiary-dim: #825c75;
  --md-sys-color-on-tertiary: #ffffff;
  --md-sys-color-tertiary-container: #ffd7ee;
  --md-sys-color-on-tertiary-container: #5e3c53;
  --md-sys-color-tertiary-fixed: #ffd7ee;
  --md-sys-color-tertiary-fixed-dim: #e7b9d5;
  --md-sys-color-on-tertiary-fixed: #2e1126;
  --md-sys-color-on-tertiary-fixed-variant: #5e3c53;
  --md-sys-color-error: #ba1a1a;
  --md-sys-color-error-dim: #ac0c12;
  --md-sys-color-on-error: #ffffff;
  --md-sys-color-error-container: #ffdad6;
  --md-sys-color-on-error-container: #93000a;
  --md-sys-color-control-activated: #e0e0ff;
  --md-sys-color-control-normal: #474747;
  --md-sys-color-control-highlight: #0000001f;
  --md-sys-color-text-primary-inverse: #e2e2e2;
  --md-sys-color-text-secondary-and-tertiary-inverse: #c6c6c6;
  --md-sys-color-text-primary-inverse-disable-only: #e2e2e2;
  --md-sys-color-text-secondary-and-tertiary-inverse-disabled: #e2e2e2;
  --md-sys-color-text-hint-inverse: #e2e2e2;
}

.light-medium-contrast {
  --md-sys-color-primary-palette-key-color: #6870c4;
  --md-sys-color-secondary-palette-key-color: #74758b;
  --md-sys-color-tertiary-palette-key-color: #926b84;
  --md-sys-color-neutral-palette-key-color: #777777;
  --md-sys-color-neutral-variant-palette-key-color: #777777;
  --md-sys-color-error-palette-key-color: #de3730;
  --md-sys-color-background: #f9f9f9;
  --md-sys-color-on-background: #1b1b1b;
  --md-sys-color-surface: #f9f9f9;
  --md-sys-color-surface-dim: #c6c6c6;
  --md-sys-color-surface-bright: #f9f9f9;
  --md-sys-color-surface-container-lowest: #ffffff;
  --md-sys-color-surface-container-low: #f3f3f3;
  --md-sys-color-surface-container: #e8e8e8;
  --md-sys-color-surface-container-high: #dddddd;
  --md-sys-color-surface-container-highest: #d1d1d1;
  --md-sys-color-on-surface: #111111;
  --md-sys-color-surface-variant: #e2e2e2;
  --md-sys-color-on-surface-variant: #363636;
  --md-sys-color-inverse-surface: #303030;
  --md-sys-color-inverse-on-surface: #f1f1f1;
  --md-sys-color-outline: #525252;
  --md-sys-color-outline-variant: #6d6d6d;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #4f56a9;
  --md-sys-color-primary: #252c7e;
  --md-sys-color-primary-dim: #343c8d;
  --md-sys-color-on-primary: #ffffff;
  --md-sys-color-primary-container: #5e65b9;
  --md-sys-color-on-primary-container: #ffffff;
  --md-sys-color-inverse-primary: #bec2ff;
  --md-sys-color-primary-fixed: #5e65b9;
  --md-sys-color-primary-fixed-dim: #454d9f;
  --md-sys-color-on-primary-fixed: #ffffff;
  --md-sys-color-on-primary-fixed-variant: #ffffff;
  --md-sys-color-secondary: #333548;
  --md-sys-color-secondary-dim: #424357;
  --md-sys-color-on-secondary: #ffffff;
  --md-sys-color-secondary-container: #6b6b81;
  --md-sys-color-on-secondary-container: #ffffff;
  --md-sys-color-secondary-fixed: #6b6b81;
  --md-sys-color-secondary-fixed-dim: #525368;
  --md-sys-color-on-secondary-fixed: #ffffff;
  --md-sys-color-on-secondary-fixed-variant: #ffffff;
  --md-sys-color-tertiary: #4c2c42;
  --md-sys-color-tertiary-dim: #5c3a51;
  --md-sys-color-on-tertiary: #ffffff;
  --md-sys-color-tertiary-container: #88627a;
  --md-sys-color-on-tertiary-container: #ffffff;
  --md-sys-color-tertiary-fixed: #88627a;
  --md-sys-color-tertiary-fixed-dim: #6d4a61;
  --md-sys-color-on-tertiary-fixed: #ffffff;
  --md-sys-color-on-tertiary-fixed-variant: #ffffff;
  --md-sys-color-error: #740006;
  --md-sys-color-error-dim: #8f0009;
  --md-sys-color-on-error: #ffffff;
  --md-sys-color-error-container: #cf2c27;
  --md-sys-color-on-error-container: #ffffff;
  --md-sys-color-control-activated: #e0e0ff;
  --md-sys-color-control-normal: #474747;
  --md-sys-color-control-highlight: #0000001f;
  --md-sys-color-text-primary-inverse: #e2e2e2;
  --md-sys-color-text-secondary-and-tertiary-inverse: #c6c6c6;
  --md-sys-color-text-primary-inverse-disable-only: #e2e2e2;
  --md-sys-color-text-secondary-and-tertiary-inverse-disabled: #e2e2e2;
  --md-sys-color-text-hint-inverse: #e2e2e2;
}

.light-high-contrast {
  --md-sys-color-primary-palette-key-color: #6870c4;
  --md-sys-color-secondary-palette-key-color: #74758b;
  --md-sys-color-tertiary-palette-key-color: #926b84;
  --md-sys-color-neutral-palette-key-color: #777777;
  --md-sys-color-neutral-variant-palette-key-color: #777777;
  --md-sys-color-error-palette-key-color: #de3730;
  --md-sys-color-background: #f9f9f9;
  --md-sys-color-on-background: #1b1b1b;
  --md-sys-color-surface: #f9f9f9;
  --md-sys-color-surface-dim: #b9b9b9;
  --md-sys-color-surface-bright: #f9f9f9;
  --md-sys-color-surface-container-lowest: #ffffff;
  --md-sys-color-surface-container-low: #f1f1f1;
  --md-sys-color-surface-container: #e2e2e2;
  --md-sys-color-surface-container-high: #d4d4d4;
  --md-sys-color-surface-container-highest: #c6c6c6;
  --md-sys-color-on-surface: #000000;
  --md-sys-color-surface-variant: #e2e2e2;
  --md-sys-color-on-surface-variant: #000000;
  --md-sys-color-inverse-surface: #303030;
  --md-sys-color-inverse-on-surface: #ffffff;
  --md-sys-color-outline: #2c2c2c;
  --md-sys-color-outline-variant: #494949;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #4f56a9;
  --md-sys-color-primary: #192074;
  --md-sys-color-primary-dim: #080f68;
  --md-sys-color-on-primary: #ffffff;
  --md-sys-color-primary-container: #394192;
  --md-sys-color-on-primary-container: #ffffff;
  --md-sys-color-inverse-primary: #bec2ff;
  --md-sys-color-primary-fixed: #394192;
  --md-sys-color-primary-fixed-dim: #21287a;
  --md-sys-color-on-primary-fixed: #ffffff;
  --md-sys-color-on-primary-fixed-variant: #ffffff;
  --md-sys-color-secondary: #292b3d;
  --md-sys-color-secondary-dim: #1c1e30;
  --md-sys-color-on-secondary: #ffffff;
  --md-sys-color-secondary-container: #46485c;
  --md-sys-color-on-secondary-container: #ffffff;
  --md-sys-color-secondary-fixed: #46485c;
  --md-sys-color-secondary-fixed-dim: #303144;
  --md-sys-color-on-secondary-fixed: #ffffff;
  --md-sys-color-on-secondary-fixed-variant: #ffffff;
  --md-sys-color-tertiary: #412237;
  --md-sys-color-tertiary-dim: #32152a;
  --md-sys-color-on-tertiary: #ffffff;
  --md-sys-color-tertiary-container: #613e55;
  --md-sys-color-on-tertiary-container: #ffffff;
  --md-sys-color-tertiary-fixed: #613e55;
  --md-sys-color-tertiary-fixed-dim: #48283e;
  --md-sys-color-on-tertiary-fixed: #ffffff;
  --md-sys-color-on-tertiary-fixed-variant: #ffffff;
  --md-sys-color-error: #600004;
  --md-sys-color-error-dim: #480002;
  --md-sys-color-on-error: #ffffff;
  --md-sys-color-error-container: #98000a;
  --md-sys-color-on-error-container: #ffffff;
  --md-sys-color-control-activated: #e0e0ff;
  --md-sys-color-control-normal: #474747;
  --md-sys-color-control-highlight: #0000001f;
  --md-sys-color-text-primary-inverse: #e2e2e2;
  --md-sys-color-text-secondary-and-tertiary-inverse: #c6c6c6;
  --md-sys-color-text-primary-inverse-disable-only: #e2e2e2;
  --md-sys-color-text-secondary-and-tertiary-inverse-disabled: #e2e2e2;
  --md-sys-color-text-hint-inverse: #e2e2e2;
}

.dark {
  --md-sys-color-primary-palette-key-color: #6870c4;
  --md-sys-color-secondary-palette-key-color: #74758b;
  --md-sys-color-tertiary-palette-key-color: #926b84;
  --md-sys-color-neutral-palette-key-color: #777777;
  --md-sys-color-neutral-variant-palette-key-color: #777777;
  --md-sys-color-error-palette-key-color: #de3730;
  --md-sys-color-background: #131313;
  --md-sys-color-on-background: #e2e2e2;
  --md-sys-color-surface: #131313;
  --md-sys-color-surface-dim: #131313;
  --md-sys-color-surface-bright: #393939;
  --md-sys-color-surface-container-lowest: #0e0e0e;
  --md-sys-color-surface-container-low: #1b1b1b;
  --md-sys-color-surface-container: #1f1f1f;
  --md-sys-color-surface-container-high: #2a2a2a;
  --md-sys-color-surface-container-highest: #353535;
  --md-sys-color-on-surface: #e2e2e2;
  --md-sys-color-surface-variant: #474747;
  --md-sys-color-on-surface-variant: #c6c6c6;
  --md-sys-color-inverse-surface: #e2e2e2;
  --md-sys-color-inverse-on-surface: #303030;
  --md-sys-color-outline: #919191;
  --md-sys-color-outline-variant: #474747;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #bec2ff;
  --md-sys-color-primary: #bec2ff;
  --md-sys-color-primary-dim: #cfd1ff;
  --md-sys-color-on-primary: #1e2678;
  --md-sys-color-primary-container: #363e90;
  --md-sys-color-on-primary-container: #e0e0ff;
  --md-sys-color-inverse-primary: #4f56a9;
  --md-sys-color-primary-fixed: #e0e0ff;
  --md-sys-color-primary-fixed-dim: #bec2ff;
  --md-sys-color-on-primary-fixed: #020865;
  --md-sys-color-on-primary-fixed-variant: #363e90;
  --md-sys-color-secondary: #c5c4dd;
  --md-sys-color-secondary-dim: #dbdbf4;
  --md-sys-color-on-secondary: #2e2f42;
  --md-sys-color-secondary-container: #444559;
  --md-sys-color-on-secondary-container: #e1e0f9;
  --md-sys-color-secondary-fixed: #e1e0f9;
  --md-sys-color-secondary-fixed-dim: #c5c4dd;
  --md-sys-color-on-secondary-fixed: #191a2c;
  --md-sys-color-on-secondary-fixed-variant: #444559;
  --md-sys-color-tertiary: #e7b9d5;
  --md-sys-color-tertiary-dim: #ffcfec;
  --md-sys-color-on-tertiary: #45263c;
  --md-sys-color-tertiary-container: #5e3c53;
  --md-sys-color-on-tertiary-container: #ffd7ee;
  --md-sys-color-tertiary-fixed: #ffd7ee;
  --md-sys-color-tertiary-fixed-dim: #e7b9d5;
  --md-sys-color-on-tertiary-fixed: #2e1126;
  --md-sys-color-on-tertiary-fixed-variant: #5e3c53;
  --md-sys-color-error: #ffb4ab;
  --md-sys-color-error-dim: #ffc7c0;
  --md-sys-color-on-error: #690005;
  --md-sys-color-error-container: #93000a;
  --md-sys-color-on-error-container: #ffdad6;
  --md-sys-color-control-activated: #363e90;
  --md-sys-color-control-normal: #c6c6c6;
  --md-sys-color-control-highlight: #ffffff33;
  --md-sys-color-text-primary-inverse: #1b1b1b;
  --md-sys-color-text-secondary-and-tertiary-inverse: #474747;
  --md-sys-color-text-primary-inverse-disable-only: #1b1b1b;
  --md-sys-color-text-secondary-and-tertiary-inverse-disabled: #1b1b1b;
  --md-sys-color-text-hint-inverse: #1b1b1b;
}

.dark-medium-contrast {
  --md-sys-color-primary-palette-key-color: #6870c4;
  --md-sys-color-secondary-palette-key-color: #74758b;
  --md-sys-color-tertiary-palette-key-color: #926b84;
  --md-sys-color-neutral-palette-key-color: #777777;
  --md-sys-color-neutral-variant-palette-key-color: #777777;
  --md-sys-color-error-palette-key-color: #de3730;
  --md-sys-color-background: #131313;
  --md-sys-color-on-background: #e2e2e2;
  --md-sys-color-surface: #131313;
  --md-sys-color-surface-dim: #131313;
  --md-sys-color-surface-bright: #444444;
  --md-sys-color-surface-container-lowest: #070707;
  --md-sys-color-surface-container-low: #1d1d1d;
  --md-sys-color-surface-container: #282828;
  --md-sys-color-surface-container-high: #323232;
  --md-sys-color-surface-container-highest: #3e3e3e;
  --md-sys-color-on-surface: #ffffff;
  --md-sys-color-surface-variant: #474747;
  --md-sys-color-on-surface-variant: #dcdcdc;
  --md-sys-color-inverse-surface: #e2e2e2;
  --md-sys-color-inverse-on-surface: #2a2a2a;
  --md-sys-color-outline: #b2b2b2;
  --md-sys-color-outline-variant: #909090;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #bec2ff;
  --md-sys-color-primary: #d8d9ff;
  --md-sys-color-primary-dim: #cfd1ff;
  --md-sys-color-on-primary: #11186e;
  --md-sys-color-primary-container: #828ae0;
  --md-sys-color-on-primary-container: #000000;
  --md-sys-color-inverse-primary: #383f91;
  --md-sys-color-primary-fixed: #e0e0ff;
  --md-sys-color-primary-fixed-dim: #bec2ff;
  --md-sys-color-on-primary-fixed: #00034b;
  --md-sys-color-on-primary-fixed-variant: #252c7e;
  --md-sys-color-secondary: #dbdaf3;
  --md-sys-color-secondary-dim: #dbdbf4;
  --md-sys-color-on-secondary: #232437;
  --md-sys-color-secondary-container: #8e8fa6;
  --md-sys-color-on-secondary-container: #000000;
  --md-sys-color-secondary-fixed: #e1e0f9;
  --md-sys-color-secondary-fixed-dim: #c5c4dd;
  --md-sys-color-on-secondary-fixed: #0e1021;
  --md-sys-color-on-secondary-fixed-variant: #333548;
  --md-sys-color-tertiary: #fecfeb;
  --md-sys-color-tertiary-dim: #ffcfec;
  --md-sys-color-on-tertiary: #391b31;
  --md-sys-color-tertiary-container: #ae849f;
  --md-sys-color-on-tertiary-container: #000000;
  --md-sys-color-tertiary-fixed: #ffd7ee;
  --md-sys-color-tertiary-fixed-dim: #e7b9d5;
  --md-sys-color-on-tertiary-fixed: #22071b;
  --md-sys-color-on-tertiary-fixed-variant: #4c2c42;
  --md-sys-color-error: #ffd2cc;
  --md-sys-color-error-dim: #ffc7c0;
  --md-sys-color-on-error: #540003;
  --md-sys-color-error-container: #ff5449;
  --md-sys-color-on-error-container: #000000;
  --md-sys-color-control-activated: #363e90;
  --md-sys-color-control-normal: #c6c6c6;
  --md-sys-color-control-highlight: #ffffff33;
  --md-sys-color-text-primary-inverse: #1b1b1b;
  --md-sys-color-text-secondary-and-tertiary-inverse: #474747;
  --md-sys-color-text-primary-inverse-disable-only: #1b1b1b;
  --md-sys-color-text-secondary-and-tertiary-inverse-disabled: #1b1b1b;
  --md-sys-color-text-hint-inverse: #1b1b1b;
}

.dark-high-contrast {
  --md-sys-color-primary-palette-key-color: #6870c4;
  --md-sys-color-secondary-palette-key-color: #74758b;
  --md-sys-color-tertiary-palette-key-color: #926b84;
  --md-sys-color-neutral-palette-key-color: #777777;
  --md-sys-color-neutral-variant-palette-key-color: #777777;
  --md-sys-color-error-palette-key-color: #de3730;
  --md-sys-color-background: #131313;
  --md-sys-color-on-background: #e2e2e2;
  --md-sys-color-surface: #131313;
  --md-sys-color-surface-dim: #131313;
  --md-sys-color-surface-bright: #505050;
  --md-sys-color-surface-container-lowest: #000000;
  --md-sys-color-surface-container-low: #1f1f1f;
  --md-sys-color-surface-container: #303030;
  --md-sys-color-surface-container-high: #3b3b3b;
  --md-sys-color-surface-container-highest: #474747;
  --md-sys-color-on-surface: #ffffff;
  --md-sys-color-surface-variant: #474747;
  --md-sys-color-on-surface-variant: #ffffff;
  --md-sys-color-inverse-surface: #e2e2e2;
  --md-sys-color-inverse-on-surface: #000000;
  --md-sys-color-outline: #f0f0f0;
  --md-sys-color-outline-variant: #c2c2c2;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #bec2ff;
  --md-sys-color-primary: #f0eeff;
  --md-sys-color-primary-dim: #fffeff;
  --md-sys-color-on-primary: #000000;
  --md-sys-color-primary-container: #b9beff;
  --md-sys-color-on-primary-container: #00023a;
  --md-sys-color-inverse-primary: #383f91;
  --md-sys-color-primary-fixed: #e0e0ff;
  --md-sys-color-primary-fixed-dim: #bec2ff;
  --md-sys-color-on-primary-fixed: #000000;
  --md-sys-color-on-primary-fixed-variant: #00034b;
  --md-sys-color-secondary: #f0eeff;
  --md-sys-color-secondary-dim: #fffeff;
  --md-sys-color-on-secondary: #000000;
  --md-sys-color-secondary-container: #c1c1d9;
  --md-sys-color-on-secondary-container: #080a1b;
  --md-sys-color-secondary-fixed: #e1e0f9;
  --md-sys-color-secondary-fixed-dim: #c5c4dd;
  --md-sys-color-on-secondary-fixed: #000000;
  --md-sys-color-on-secondary-fixed-variant: #0e1021;
  --md-sys-color-tertiary: #ffebf4;
  --md-sys-color-tertiary-dim: #fffeff;
  --md-sys-color-on-tertiary: #000000;
  --md-sys-color-tertiary-container: #e3b6d1;
  --md-sys-color-on-tertiary-container: #1b0315;
  --md-sys-color-tertiary-fixed: #ffd7ee;
  --md-sys-color-tertiary-fixed-dim: #e7b9d5;
  --md-sys-color-on-tertiary-fixed: #000000;
  --md-sys-color-on-tertiary-fixed-variant: #22071b;
  --md-sys-color-error: #ffece9;
  --md-sys-color-error-dim: #fffeff;
  --md-sys-color-on-error: #000000;
  --md-sys-color-error-container: #ffaea4;
  --md-sys-color-on-error-container: #220001;
  --md-sys-color-control-activated: #363e90;
  --md-sys-color-control-normal: #c6c6c6;
  --md-sys-color-control-highlight: #ffffff33;
  --md-sys-color-text-primary-inverse: #1b1b1b;
  --md-sys-color-text-secondary-and-tertiary-inverse: #474747;
  --md-sys-color-text-primary-inverse-disable-only: #1b1b1b;
  --md-sys-color-text-secondary-and-tertiary-inverse-disabled: #1b1b1b;
  --md-sys-color-text-hint-inverse: #1b1b1b;
}

