.light {
  --md-sys-color-primary-palette-key-color: #6f73a5;
  --md-sys-color-secondary-palette-key-color: #74758b;
  --md-sys-color-tertiary-palette-key-color: #8c6c94;
  --md-sys-color-neutral-palette-key-color: #78767c;
  --md-sys-color-neutral-variant-palette-key-color: #777680;
  --md-sys-color-error-palette-key-color: #c74d61;
  --md-sys-color-background: #fbf8fe;
  --md-sys-color-on-background: #31323b;
  --md-sys-color-surface: #fbf8fe;
  --md-sys-color-surface-dim: #dbd9e4;
  --md-sys-color-surface-bright: #fbf8ff;
  --md-sys-color-surface-container-lowest: #ffffff;
  --md-sys-color-surface-container-low: #f5f2fb;
  --md-sys-color-surface-container: #efecf6;
  --md-sys-color-surface-container-high: #e9e7f1;
  --md-sys-color-surface-container-highest: #e3e1ed;
  --md-sys-color-on-surface: #31323b;
  --md-sys-color-surface-variant: #e3e1ed;
  --md-sys-color-on-surface-variant: #5e5e68;
  --md-sys-color-inverse-surface: #0e0e12;
  --md-sys-color-inverse-on-surface: #9e9ca2;
  --md-sys-color-outline: #7a7a84;
  --md-sys-color-outline-variant: #b2b1bc;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #575b8c;
  --md-sys-color-primary: #575b8c;
  --md-sys-color-primary-dim: #4b4f7f;
  --md-sys-color-on-primary: #fbf8ff;
  --md-sys-color-primary-container: #c1c5fd;
  --md-sys-color-on-primary-container: #3a3e6c;
  --md-sys-color-inverse-primary: #c1c5fd;
  --md-sys-color-primary-fixed: #c1c5fd;
  --md-sys-color-primary-fixed-dim: #b4b7ee;
  --md-sys-color-on-primary-fixed: #262a57;
  --md-sys-color-on-primary-fixed-variant: #434776;
  --md-sys-color-secondary: #5c5d72;
  --md-sys-color-secondary-dim: #505266;
  --md-sys-color-on-secondary: #fbf8ff;
  --md-sys-color-secondary-container: #e1e0f9;
  --md-sys-color-on-secondary-container: #4f5064;
  --md-sys-color-secondary-fixed: #e1e0f9;
  --md-sys-color-secondary-fixed-dim: #d3d2eb;
  --md-sys-color-on-secondary-fixed: #3d3e51;
  --md-sys-color-on-secondary-fixed-variant: #595a6f;
  --md-sys-color-tertiary: #72547a;
  --md-sys-color-tertiary-dim: #66496e;
  --md-sys-color-on-tertiary: #fff7fb;
  --md-sys-color-tertiary-container: #f6d0fd;
  --md-sys-color-on-tertiary-container: #614469;
  --md-sys-color-tertiary-fixed: #f6d0fd;
  --md-sys-color-tertiary-fixed-dim: #e8c3ef;
  --md-sys-color-on-tertiary-fixed: #4d3155;
  --md-sys-color-on-tertiary-fixed-variant: #6b4d73;
  --md-sys-color-error: #a8364b;
  --md-sys-color-error-dim: #6b0221;
  --md-sys-color-on-error: #fff7f7;
  --md-sys-color-error-container: #f97386;
  --md-sys-color-on-error-container: #6e0523;
}

.light-medium-contrast {
  --md-sys-color-primary-palette-key-color: #6f73a5;
  --md-sys-color-secondary-palette-key-color: #74758b;
  --md-sys-color-tertiary-palette-key-color: #8c6c94;
  --md-sys-color-neutral-palette-key-color: #78767c;
  --md-sys-color-neutral-variant-palette-key-color: #777680;
  --md-sys-color-error-palette-key-color: #c74d61;
  --md-sys-color-background: #fbf8fe;
  --md-sys-color-on-background: #23232c;
  --md-sys-color-surface: #fbf8fe;
  --md-sys-color-surface-dim: #dbd9e4;
  --md-sys-color-surface-bright: #fbf8ff;
  --md-sys-color-surface-container-lowest: #ffffff;
  --md-sys-color-surface-container-low: #f5f2fb;
  --md-sys-color-surface-container: #efecf6;
  --md-sys-color-surface-container-high: #e9e7f1;
  --md-sys-color-surface-container-highest: #e3e1ed;
  --md-sys-color-on-surface: #23232c;
  --md-sys-color-surface-variant: #e3e1ed;
  --md-sys-color-on-surface-variant: #42424b;
  --md-sys-color-inverse-surface: #0e0e12;
  --md-sys-color-inverse-on-surface: #c6c4ca;
  --md-sys-color-outline: #5e5e68;
  --md-sys-color-outline-variant: #7a7a84;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #3a3f6d;
  --md-sys-color-primary: #3a3f6d;
  --md-sys-color-primary-dim: #2f3361;
  --md-sys-color-on-primary: #d5d7ff;
  --md-sys-color-primary-container: #6c71a3;
  --md-sys-color-on-primary-container: #ffffff;
  --md-sys-color-inverse-primary: #c1c5fd;
  --md-sys-color-primary-fixed: #6c71a3;
  --md-sys-color-primary-fixed-dim: #606495;
  --md-sys-color-on-primary-fixed: #ffffff;
  --md-sys-color-on-primary-fixed-variant: #ffffff;
  --md-sys-color-secondary: #404155;
  --md-sys-color-secondary-dim: #353649;
  --md-sys-color-on-secondary: #d8d8f0;
  --md-sys-color-secondary-container: #727389;
  --md-sys-color-on-secondary-container: #ffffff;
  --md-sys-color-secondary-fixed: #727389;
  --md-sys-color-secondary-fixed-dim: #66667c;
  --md-sys-color-on-secondary-fixed: #ffffff;
  --md-sys-color-on-secondary-fixed-variant: #ffffff;
  --md-sys-color-tertiary: #54395d;
  --md-sys-color-tertiary-dim: #482d51;
  --md-sys-color-on-tertiary: #f3cdfa;
  --md-sys-color-tertiary-container: #896a91;
  --md-sys-color-on-tertiary-container: #ffffff;
  --md-sys-color-tertiary-fixed: #896a91;
  --md-sys-color-tertiary-fixed-dim: #7c5d84;
  --md-sys-color-on-tertiary-fixed: #ffffff;
  --md-sys-color-on-tertiary-fixed-variant: #ffffff;
  --md-sys-color-error: #821830;
  --md-sys-color-error-dim: #6b0221;
  --md-sys-color-on-error: #ffcdd1;
  --md-sys-color-error-container: #c44b5f;
  --md-sys-color-on-error-container: #ffffff;
}

.light-high-contrast {
  --md-sys-color-primary-palette-key-color: #6f73a5;
  --md-sys-color-secondary-palette-key-color: #74758b;
  --md-sys-color-tertiary-palette-key-color: #8c6c94;
  --md-sys-color-neutral-palette-key-color: #78767c;
  --md-sys-color-neutral-variant-palette-key-color: #777680;
  --md-sys-color-error-palette-key-color: #c74d61;
  --md-sys-color-background: #fbf8fe;
  --md-sys-color-on-background: #000000;
  --md-sys-color-surface: #fbf8fe;
  --md-sys-color-surface-dim: #dbd9e4;
  --md-sys-color-surface-bright: #fbf8ff;
  --md-sys-color-surface-container-lowest: #ffffff;
  --md-sys-color-surface-container-low: #f5f2fb;
  --md-sys-color-surface-container: #efecf6;
  --md-sys-color-surface-container-high: #e9e7f1;
  --md-sys-color-surface-container-highest: #e3e1ed;
  --md-sys-color-on-surface: #000000;
  --md-sys-color-surface-variant: #e3e1ed;
  --md-sys-color-on-surface-variant: #23232c;
  --md-sys-color-inverse-surface: #0e0e12;
  --md-sys-color-inverse-on-surface: #ffffff;
  --md-sys-color-outline: #42424b;
  --md-sys-color-outline-variant: #5e5e68;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #1b1f4c;
  --md-sys-color-primary: #1b1f4c;
  --md-sys-color-primary-dim: #101442;
  --md-sys-color-on-primary: #d5d7ff;
  --md-sys-color-primary-container: #575b8c;
  --md-sys-color-on-primary-container: #ffffff;
  --md-sys-color-inverse-primary: #c1c5fd;
  --md-sys-color-primary-fixed: #575b8c;
  --md-sys-color-primary-fixed-dim: #4b4f7f;
  --md-sys-color-on-primary-fixed: #ffffff;
  --md-sys-color-on-primary-fixed-variant: #ffffff;
  --md-sys-color-secondary: #212235;
  --md-sys-color-secondary-dim: #17182a;
  --md-sys-color-on-secondary: #d8d8f1;
  --md-sys-color-secondary-container: #5c5d72;
  --md-sys-color-on-secondary-container: #ffffff;
  --md-sys-color-secondary-fixed: #5c5d72;
  --md-sys-color-secondary-fixed-dim: #505266;
  --md-sys-color-on-secondary-fixed: #ffffff;
  --md-sys-color-on-secondary-fixed-variant: #ffffff;
  --md-sys-color-tertiary: #331a3c;
  --md-sys-color-tertiary-dim: #280f31;
  --md-sys-color-on-tertiary: #f3cefb;
  --md-sys-color-tertiary-container: #72547a;
  --md-sys-color-on-tertiary-container: #ffffff;
  --md-sys-color-tertiary-fixed: #72547a;
  --md-sys-color-tertiary-fixed-dim: #66496e;
  --md-sys-color-on-tertiary-fixed: #ffffff;
  --md-sys-color-on-tertiary-fixed-variant: #ffffff;
  --md-sys-color-error: #500016;
  --md-sys-color-error-dim: #3d000f;
  --md-sys-color-on-error: #ffced2;
  --md-sys-color-error-container: #a8364b;
  --md-sys-color-on-error-container: #ffffff;
}

.dark {
  --md-sys-color-primary-palette-key-color: #71749b;
  --md-sys-color-secondary-palette-key-color: #74758b;
  --md-sys-color-tertiary-palette-key-color: #8c6c94;
  --md-sys-color-neutral-palette-key-color: #78767c;
  --md-sys-color-neutral-variant-palette-key-color: #777680;
  --md-sys-color-error-palette-key-color: #c74d61;
  --md-sys-color-background: #0e0e12;
  --md-sys-color-on-background: #e6e4f0;
  --md-sys-color-surface: #0e0e12;
  --md-sys-color-surface-dim: #0e0e12;
  --md-sys-color-surface-bright: #2c2c30;
  --md-sys-color-surface-container-lowest: #000000;
  --md-sys-color-surface-container-low: #131318;
  --md-sys-color-surface-container: #191920;
  --md-sys-color-surface-container-high: #1f1f26;
  --md-sys-color-surface-container-highest: #25252e;
  --md-sys-color-on-surface: #e6e4f0;
  --md-sys-color-surface-variant: #25252e;
  --md-sys-color-on-surface-variant: #abaab5;
  --md-sys-color-inverse-surface: #fbf8fe;
  --md-sys-color-inverse-on-surface: #55545a;
  --md-sys-color-outline: #75747f;
  --md-sys-color-outline-variant: #474750;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #c1c3ee;
  --md-sys-color-primary: #c1c3ee;
  --md-sys-color-primary-dim: #b3b6e0;
  --md-sys-color-on-primary: #3a3d61;
  --md-sys-color-primary-container: #4c5074;
  --md-sys-color-on-primary-container: #e1e1ff;
  --md-sys-color-inverse-primary: #595c82;
  --md-sys-color-primary-fixed: #cfd1fd;
  --md-sys-color-primary-fixed-dim: #c1c3ee;
  --md-sys-color-on-primary-fixed: #303356;
  --md-sys-color-on-primary-fixed-variant: #4d5074;
  --md-sys-color-secondary: #c5c4dd;
  --md-sys-color-secondary-dim: #b7b7cf;
  --md-sys-color-on-secondary: #3d3f52;
  --md-sys-color-secondary-container: #393a4d;
  --md-sys-color-on-secondary-container: #bdbdd5;
  --md-sys-color-secondary-fixed: #e1e0f9;
  --md-sys-color-secondary-fixed-dim: #d3d2eb;
  --md-sys-color-on-secondary-fixed: #3d3e51;
  --md-sys-color-on-secondary-fixed-variant: #595a6f;
  --md-sys-color-tertiary: #fde3ff;
  --md-sys-color-tertiary-dim: #f6d0fd;
  --md-sys-color-on-tertiary: #6a4c72;
  --md-sys-color-tertiary-container: #f6d0fd;
  --md-sys-color-on-tertiary-container: #614469;
  --md-sys-color-tertiary-fixed: #f6d0fd;
  --md-sys-color-tertiary-fixed-dim: #e8c3ef;
  --md-sys-color-on-tertiary-fixed: #4d3155;
  --md-sys-color-on-tertiary-fixed-variant: #6b4d73;
  --md-sys-color-error: #f97386;
  --md-sys-color-error-dim: #c44b5f;
  --md-sys-color-on-error: #490013;
  --md-sys-color-error-container: #871c34;
  --md-sys-color-on-error-container: #ff97a3;
}

.dark-medium-contrast {
  --md-sys-color-primary-palette-key-color: #71749b;
  --md-sys-color-secondary-palette-key-color: #74758b;
  --md-sys-color-tertiary-palette-key-color: #8c6c94;
  --md-sys-color-neutral-palette-key-color: #78767c;
  --md-sys-color-neutral-variant-palette-key-color: #777680;
  --md-sys-color-error-palette-key-color: #c74d61;
  --md-sys-color-background: #0e0e12;
  --md-sys-color-on-background: #ffffff;
  --md-sys-color-surface: #0e0e12;
  --md-sys-color-surface-dim: #0e0e12;
  --md-sys-color-surface-bright: #2c2c30;
  --md-sys-color-surface-container-lowest: #000000;
  --md-sys-color-surface-container-low: #131318;
  --md-sys-color-surface-container: #191920;
  --md-sys-color-surface-container-high: #1f1f26;
  --md-sys-color-surface-container-highest: #25252e;
  --md-sys-color-on-surface: #ffffff;
  --md-sys-color-surface-variant: #25252e;
  --md-sys-color-on-surface-variant: #b9b7c3;
  --md-sys-color-inverse-surface: #fbf8fe;
  --md-sys-color-inverse-on-surface: #38383c;
  --md-sys-color-outline: #93929d;
  --md-sys-color-outline-variant: #75747f;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #c1c3ee;
  --md-sys-color-primary: #c1c3ee;
  --md-sys-color-primary-dim: #b3b6e0;
  --md-sys-color-on-primary: #303356;
  --md-sys-color-primary-container: #6f7298;
  --md-sys-color-on-primary-container: #ffffff;
  --md-sys-color-inverse-primary: #4f5277;
  --md-sys-color-primary-fixed: #cfd1fd;
  --md-sys-color-primary-fixed-dim: #c1c3ee;
  --md-sys-color-on-primary-fixed: #0a0d2f;
  --md-sys-color-on-primary-fixed-variant: #303356;
  --md-sys-color-secondary: #c5c4dd;
  --md-sys-color-secondary-dim: #b7b7cf;
  --md-sys-color-on-secondary: #333548;
  --md-sys-color-secondary-container: #727389;
  --md-sys-color-on-secondary-container: #ffffff;
  --md-sys-color-secondary-fixed: #e1e0f9;
  --md-sys-color-secondary-fixed-dim: #d3d2eb;
  --md-sys-color-on-secondary-fixed: #1c1e30;
  --md-sys-color-on-secondary-fixed-variant: #3d3e51;
  --md-sys-color-tertiary: #fde3ff;
  --md-sys-color-tertiary-dim: #f6d0fd;
  --md-sys-color-on-tertiary: #5f4367;
  --md-sys-color-tertiary-container: #f6d0fd;
  --md-sys-color-on-tertiary-container: #563a5e;
  --md-sys-color-tertiary-fixed: #f6d0fd;
  --md-sys-color-tertiary-fixed-dim: #e8c3ef;
  --md-sys-color-on-tertiary-fixed: #291032;
  --md-sys-color-on-tertiary-fixed-variant: #4d3155;
  --md-sys-color-error: #ff9da8;
  --md-sys-color-error-dim: #ff8695;
  --md-sys-color-on-error: #5f001c;
  --md-sys-color-error-container: #c44b5f;
  --md-sys-color-on-error-container: #ffffff;
}

.dark-high-contrast {
  --md-sys-color-primary-palette-key-color: #71749b;
  --md-sys-color-secondary-palette-key-color: #74758b;
  --md-sys-color-tertiary-palette-key-color: #8c6c94;
  --md-sys-color-neutral-palette-key-color: #78767c;
  --md-sys-color-neutral-variant-palette-key-color: #777680;
  --md-sys-color-error-palette-key-color: #c74d61;
  --md-sys-color-background: #0e0e12;
  --md-sys-color-on-background: #ffffff;
  --md-sys-color-surface: #0e0e12;
  --md-sys-color-surface-dim: #0e0e12;
  --md-sys-color-surface-bright: #2c2c30;
  --md-sys-color-surface-container-lowest: #000000;
  --md-sys-color-surface-container-low: #131318;
  --md-sys-color-surface-container: #191920;
  --md-sys-color-surface-container-high: #1f1f26;
  --md-sys-color-surface-container-highest: #25252e;
  --md-sys-color-on-surface: #ffffff;
  --md-sys-color-surface-variant: #25252e;
  --md-sys-color-on-surface-variant: #e6e4f0;
  --md-sys-color-inverse-surface: #fbf8fe;
  --md-sys-color-inverse-on-surface: #000000;
  --md-sys-color-outline: #b9b7c3;
  --md-sys-color-outline-variant: #93929d;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #e3e3ff;
  --md-sys-color-primary: #e3e3ff;
  --md-sys-color-primary-dim: #cfd1fd;
  --md-sys-color-on-primary: #26294b;
  --md-sys-color-primary-container: #989bc4;
  --md-sys-color-on-primary-container: #000000;
  --md-sys-color-inverse-primary: #323558;
  --md-sys-color-primary-fixed: #cfd1fd;
  --md-sys-color-primary-fixed-dim: #c1c3ee;
  --md-sys-color-on-primary-fixed: #000000;
  --md-sys-color-on-primary-fixed-variant: #0a0d2f;
  --md-sys-color-secondary: #e4e3fc;
  --md-sys-color-secondary-dim: #d6d5ee;
  --md-sys-color-on-secondary: #292b3d;
  --md-sys-color-secondary-container: #9c9cb3;
  --md-sys-color-on-secondary-container: #000000;
  --md-sys-color-secondary-fixed: #e1e0f9;
  --md-sys-color-secondary-fixed-dim: #d3d2eb;
  --md-sys-color-on-secondary-fixed: #000000;
  --md-sys-color-on-secondary-fixed-variant: #1c1e30;
  --md-sys-color-tertiary: #fde3ff;
  --md-sys-color-tertiary-dim: #f6d0fd;
  --md-sys-color-on-tertiary: #402548;
  --md-sys-color-tertiary-container: #f6d0fd;
  --md-sys-color-on-tertiary-container: #351c3e;
  --md-sys-color-tertiary-fixed: #f6d0fd;
  --md-sys-color-tertiary-fixed-dim: #e8c3ef;
  --md-sys-color-on-tertiary-fixed: #000000;
  --md-sys-color-on-tertiary-fixed-variant: #291032;
  --md-sys-color-error: #ffdddf;
  --md-sys-color-error-dim: #ffc7cb;
  --md-sys-color-on-error: #5f001c;
  --md-sys-color-error-container: #f97386;
  --md-sys-color-on-error-container: #000000;
}

