.light {
  --md-sys-color-primary-palette-key-color: #6d72ac;
  --md-sys-color-secondary-palette-key-color: #74758b;
  --md-sys-color-tertiary-palette-key-color: #926b84;
  --md-sys-color-neutral-palette-key-color: #77767d;
  --md-sys-color-neutral-variant-palette-key-color: #777680;
  --md-sys-color-error-palette-key-color: #de3730;
  --md-sys-color-background: #fbf8ff;
  --md-sys-color-on-background: #1b1b21;
  --md-sys-color-surface: #fbf8ff;
  --md-sys-color-surface-dim: #dbd9e0;
  --md-sys-color-surface-bright: #fbf8ff;
  --md-sys-color-surface-container-lowest: #ffffff;
  --md-sys-color-surface-container-low: #f5f2fa;
  --md-sys-color-surface-container: #efedf4;
  --md-sys-color-surface-container-high: #eae7ef;
  --md-sys-color-surface-container-highest: #e4e1e9;
  --md-sys-color-on-surface: #1b1b21;
  --md-sys-color-surface-variant: #e3e1ec;
  --md-sys-color-on-surface-variant: #46464f;
  --md-sys-color-inverse-surface: #303036;
  --md-sys-color-inverse-on-surface: #f2eff7;
  --md-sys-color-outline: #777680;
  --md-sys-color-outline-variant: #c7c5d0;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #555a92;
  --md-sys-color-primary: #555a92;
  --md-sys-color-primary-dim: #5e639c;
  --md-sys-color-on-primary: #ffffff;
  --md-sys-color-primary-container: #e0e0ff;
  --md-sys-color-on-primary-container: #3d4279;
  --md-sys-color-inverse-primary: #bec2ff;
  --md-sys-color-primary-fixed: #e0e0ff;
  --md-sys-color-primary-fixed-dim: #bec2ff;
  --md-sys-color-on-primary-fixed: #0f144b;
  --md-sys-color-on-primary-fixed-variant: #3d4279;
  --md-sys-color-secondary: #5c5d72;
  --md-sys-color-secondary-dim: #65667b;
  --md-sys-color-on-secondary: #ffffff;
  --md-sys-color-secondary-container: #e1e0f9;
  --md-sys-color-on-secondary-container: #444559;
  --md-sys-color-secondary-fixed: #e1e0f9;
  --md-sys-color-secondary-fixed-dim: #c5c4dd;
  --md-sys-color-on-secondary-fixed: #191a2c;
  --md-sys-color-on-secondary-fixed-variant: #444559;
  --md-sys-color-tertiary: #78536b;
  --md-sys-color-tertiary-dim: #825c75;
  --md-sys-color-on-tertiary: #ffffff;
  --md-sys-color-tertiary-container: #ffd7ee;
  --md-sys-color-on-tertiary-container: #5e3c53;
  --md-sys-color-tertiary-fixed: #ffd7ee;
  --md-sys-color-tertiary-fixed-dim: #e7b9d5;
  --md-sys-color-on-tertiary-fixed: #2e1126;
  --md-sys-color-on-tertiary-fixed-variant: #5e3c53;
  --md-sys-color-error: #ba1a1a;
  --md-sys-color-error-dim: #ac0c12;
  --md-sys-color-on-error: #ffffff;
  --md-sys-color-error-container: #ffdad6;
  --md-sys-color-on-error-container: #93000a;
  --md-sys-color-control-activated: #e0e0ff;
  --md-sys-color-control-normal: #46464f;
  --md-sys-color-control-highlight: #0000001f;
  --md-sys-color-text-primary-inverse: #e4e1e9;
  --md-sys-color-text-secondary-and-tertiary-inverse: #c7c5d0;
  --md-sys-color-text-primary-inverse-disable-only: #e4e1e9;
  --md-sys-color-text-secondary-and-tertiary-inverse-disabled: #e4e1e9;
  --md-sys-color-text-hint-inverse: #e4e1e9;
}

.light-medium-contrast {
  --md-sys-color-primary-palette-key-color: #6d72ac;
  --md-sys-color-secondary-palette-key-color: #74758b;
  --md-sys-color-tertiary-palette-key-color: #926b84;
  --md-sys-color-neutral-palette-key-color: #77767d;
  --md-sys-color-neutral-variant-palette-key-color: #777680;
  --md-sys-color-error-palette-key-color: #de3730;
  --md-sys-color-background: #fbf8ff;
  --md-sys-color-on-background: #1b1b21;
  --md-sys-color-surface: #fbf8ff;
  --md-sys-color-surface-dim: #c8c5cd;
  --md-sys-color-surface-bright: #fbf8ff;
  --md-sys-color-surface-container-lowest: #ffffff;
  --md-sys-color-surface-container-low: #f5f2fa;
  --md-sys-color-surface-container: #eae7ef;
  --md-sys-color-surface-container-high: #dedce3;
  --md-sys-color-surface-container-highest: #d3d0d8;
  --md-sys-color-on-surface: #111116;
  --md-sys-color-surface-variant: #e3e1ec;
  --md-sys-color-on-surface-variant: #35353e;
  --md-sys-color-inverse-surface: #303036;
  --md-sys-color-inverse-on-surface: #f2eff7;
  --md-sys-color-outline: #52525b;
  --md-sys-color-outline-variant: #6d6c76;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #555a92;
  --md-sys-color-primary: #2c3167;
  --md-sys-color-primary-dim: #3a4076;
  --md-sys-color-on-primary: #ffffff;
  --md-sys-color-primary-container: #6368a2;
  --md-sys-color-on-primary-container: #ffffff;
  --md-sys-color-inverse-primary: #bec2ff;
  --md-sys-color-primary-fixed: #6368a2;
  --md-sys-color-primary-fixed-dim: #4b5088;
  --md-sys-color-on-primary-fixed: #ffffff;
  --md-sys-color-on-primary-fixed-variant: #ffffff;
  --md-sys-color-secondary: #333548;
  --md-sys-color-secondary-dim: #424357;
  --md-sys-color-on-secondary: #ffffff;
  --md-sys-color-secondary-container: #6b6b81;
  --md-sys-color-on-secondary-container: #ffffff;
  --md-sys-color-secondary-fixed: #6b6b81;
  --md-sys-color-secondary-fixed-dim: #525368;
  --md-sys-color-on-secondary-fixed: #ffffff;
  --md-sys-color-on-secondary-fixed-variant: #ffffff;
  --md-sys-color-tertiary: #4c2c42;
  --md-sys-color-tertiary-dim: #5c3a51;
  --md-sys-color-on-tertiary: #ffffff;
  --md-sys-color-tertiary-container: #88627a;
  --md-sys-color-on-tertiary-container: #ffffff;
  --md-sys-color-tertiary-fixed: #88627a;
  --md-sys-color-tertiary-fixed-dim: #6d4a61;
  --md-sys-color-on-tertiary-fixed: #ffffff;
  --md-sys-color-on-tertiary-fixed-variant: #ffffff;
  --md-sys-color-error: #740006;
  --md-sys-color-error-dim: #8f0009;
  --md-sys-color-on-error: #ffffff;
  --md-sys-color-error-container: #cf2c27;
  --md-sys-color-on-error-container: #ffffff;
  --md-sys-color-control-activated: #e0e0ff;
  --md-sys-color-control-normal: #46464f;
  --md-sys-color-control-highlight: #0000001f;
  --md-sys-color-text-primary-inverse: #e4e1e9;
  --md-sys-color-text-secondary-and-tertiary-inverse: #c7c5d0;
  --md-sys-color-text-primary-inverse-disable-only: #e4e1e9;
  --md-sys-color-text-secondary-and-tertiary-inverse-disabled: #e4e1e9;
  --md-sys-color-text-hint-inverse: #e4e1e9;
}

.light-high-contrast {
  --md-sys-color-primary-palette-key-color: #6d72ac;
  --md-sys-color-secondary-palette-key-color: #74758b;
  --md-sys-color-tertiary-palette-key-color: #926b84;
  --md-sys-color-neutral-palette-key-color: #77767d;
  --md-sys-color-neutral-variant-palette-key-color: #777680;
  --md-sys-color-error-palette-key-color: #de3730;
  --md-sys-color-background: #fbf8ff;
  --md-sys-color-on-background: #1b1b21;
  --md-sys-color-surface: #fbf8ff;
  --md-sys-color-surface-dim: #bab8bf;
  --md-sys-color-surface-bright: #fbf8ff;
  --md-sys-color-surface-container-lowest: #ffffff;
  --md-sys-color-surface-container-low: #f2eff7;
  --md-sys-color-surface-container: #e4e1e9;
  --md-sys-color-surface-container-high: #d6d3db;
  --md-sys-color-surface-container-highest: #c8c5cd;
  --md-sys-color-on-surface: #000000;
  --md-sys-color-surface-variant: #e3e1ec;
  --md-sys-color-on-surface-variant: #000000;
  --md-sys-color-inverse-surface: #303036;
  --md-sys-color-inverse-on-surface: #ffffff;
  --md-sys-color-outline: #2b2b34;
  --md-sys-color-outline-variant: #494851;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #555a92;
  --md-sys-color-primary: #21275c;
  --md-sys-color-primary-dim: #14194f;
  --md-sys-color-on-primary: #ffffff;
  --md-sys-color-primary-container: #3f447b;
  --md-sys-color-on-primary-container: #ffffff;
  --md-sys-color-inverse-primary: #bec2ff;
  --md-sys-color-primary-fixed: #3f447b;
  --md-sys-color-primary-fixed-dim: #282d63;
  --md-sys-color-on-primary-fixed: #ffffff;
  --md-sys-color-on-primary-fixed-variant: #ffffff;
  --md-sys-color-secondary: #292b3d;
  --md-sys-color-secondary-dim: #1c1e30;
  --md-sys-color-on-secondary: #ffffff;
  --md-sys-color-secondary-container: #46485c;
  --md-sys-color-on-secondary-container: #ffffff;
  --md-sys-color-secondary-fixed: #46485c;
  --md-sys-color-secondary-fixed-dim: #303144;
  --md-sys-color-on-secondary-fixed: #ffffff;
  --md-sys-color-on-secondary-fixed-variant: #ffffff;
  --md-sys-color-tertiary: #412237;
  --md-sys-color-tertiary-dim: #32152a;
  --md-sys-color-on-tertiary: #ffffff;
  --md-sys-color-tertiary-container: #613e55;
  --md-sys-color-on-tertiary-container: #ffffff;
  --md-sys-color-tertiary-fixed: #613e55;
  --md-sys-color-tertiary-fixed-dim: #48283e;
  --md-sys-color-on-tertiary-fixed: #ffffff;
  --md-sys-color-on-tertiary-fixed-variant: #ffffff;
  --md-sys-color-error: #600004;
  --md-sys-color-error-dim: #480002;
  --md-sys-color-on-error: #ffffff;
  --md-sys-color-error-container: #98000a;
  --md-sys-color-on-error-container: #ffffff;
  --md-sys-color-control-activated: #e0e0ff;
  --md-sys-color-control-normal: #46464f;
  --md-sys-color-control-highlight: #0000001f;
  --md-sys-color-text-primary-inverse: #e4e1e9;
  --md-sys-color-text-secondary-and-tertiary-inverse: #c7c5d0;
  --md-sys-color-text-primary-inverse-disable-only: #e4e1e9;
  --md-sys-color-text-secondary-and-tertiary-inverse-disabled: #e4e1e9;
  --md-sys-color-text-hint-inverse: #e4e1e9;
}

.dark {
  --md-sys-color-primary-palette-key-color: #6d72ac;
  --md-sys-color-secondary-palette-key-color: #74758b;
  --md-sys-color-tertiary-palette-key-color: #926b84;
  --md-sys-color-neutral-palette-key-color: #77767d;
  --md-sys-color-neutral-variant-palette-key-color: #777680;
  --md-sys-color-error-palette-key-color: #de3730;
  --md-sys-color-background: #131318;
  --md-sys-color-on-background: #e4e1e9;
  --md-sys-color-surface: #131318;
  --md-sys-color-surface-dim: #131318;
  --md-sys-color-surface-bright: #39393f;
  --md-sys-color-surface-container-lowest: #0e0e13;
  --md-sys-color-surface-container-low: #1b1b21;
  --md-sys-color-surface-container: #1f1f25;
  --md-sys-color-surface-container-high: #2a292f;
  --md-sys-color-surface-container-highest: #34343a;
  --md-sys-color-on-surface: #e4e1e9;
  --md-sys-color-surface-variant: #46464f;
  --md-sys-color-on-surface-variant: #c7c5d0;
  --md-sys-color-inverse-surface: #e4e1e9;
  --md-sys-color-inverse-on-surface: #303036;
  --md-sys-color-outline: #91909a;
  --md-sys-color-outline-variant: #46464f;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #bec2ff;
  --md-sys-color-primary: #bec2ff;
  --md-sys-color-primary-dim: #cfd1ff;
  --md-sys-color-on-primary: #262b61;
  --md-sys-color-primary-container: #3d4279;
  --md-sys-color-on-primary-container: #e0e0ff;
  --md-sys-color-inverse-primary: #555a92;
  --md-sys-color-primary-fixed: #e0e0ff;
  --md-sys-color-primary-fixed-dim: #bec2ff;
  --md-sys-color-on-primary-fixed: #0f144b;
  --md-sys-color-on-primary-fixed-variant: #3d4279;
  --md-sys-color-secondary: #c5c4dd;
  --md-sys-color-secondary-dim: #dbdbf4;
  --md-sys-color-on-secondary: #2e2f42;
  --md-sys-color-secondary-container: #444559;
  --md-sys-color-on-secondary-container: #e1e0f9;
  --md-sys-color-secondary-fixed: #e1e0f9;
  --md-sys-color-secondary-fixed-dim: #c5c4dd;
  --md-sys-color-on-secondary-fixed: #191a2c;
  --md-sys-color-on-secondary-fixed-variant: #444559;
  --md-sys-color-tertiary: #e7b9d5;
  --md-sys-color-tertiary-dim: #ffcfec;
  --md-sys-color-on-tertiary: #45263c;
  --md-sys-color-tertiary-container: #5e3c53;
  --md-sys-color-on-tertiary-container: #ffd7ee;
  --md-sys-color-tertiary-fixed: #ffd7ee;
  --md-sys-color-tertiary-fixed-dim: #e7b9d5;
  --md-sys-color-on-tertiary-fixed: #2e1126;
  --md-sys-color-on-tertiary-fixed-variant: #5e3c53;
  --md-sys-color-error: #ffb4ab;
  --md-sys-color-error-dim: #ffc7c0;
  --md-sys-color-on-error: #690005;
  --md-sys-color-error-container: #93000a;
  --md-sys-color-on-error-container: #ffdad6;
  --md-sys-color-control-activated: #3d4279;
  --md-sys-color-control-normal: #c7c5d0;
  --md-sys-color-control-highlight: #ffffff33;
  --md-sys-color-text-primary-inverse: #1b1b21;
  --md-sys-color-text-secondary-and-tertiary-inverse: #46464f;
  --md-sys-color-text-primary-inverse-disable-only: #1b1b21;
  --md-sys-color-text-secondary-and-tertiary-inverse-disabled: #1b1b21;
  --md-sys-color-text-hint-inverse: #1b1b21;
}

.dark-medium-contrast {
  --md-sys-color-primary-palette-key-color: #6d72ac;
  --md-sys-color-secondary-palette-key-color: #74758b;
  --md-sys-color-tertiary-palette-key-color: #926b84;
  --md-sys-color-neutral-palette-key-color: #77767d;
  --md-sys-color-neutral-variant-palette-key-color: #777680;
  --md-sys-color-error-palette-key-color: #de3730;
  --md-sys-color-background: #131318;
  --md-sys-color-on-background: #e4e1e9;
  --md-sys-color-surface: #131318;
  --md-sys-color-surface-dim: #131318;
  --md-sys-color-surface-bright: #44444a;
  --md-sys-color-surface-container-lowest: #07070c;
  --md-sys-color-surface-container-low: #1d1d23;
  --md-sys-color-surface-container: #27272d;
  --md-sys-color-surface-container-high: #323238;
  --md-sys-color-surface-container-highest: #3d3d43;
  --md-sys-color-on-surface: #ffffff;
  --md-sys-color-surface-variant: #46464f;
  --md-sys-color-on-surface-variant: #dddbe6;
  --md-sys-color-inverse-surface: #e4e1e9;
  --md-sys-color-inverse-on-surface: #2a292f;
  --md-sys-color-outline: #b2b1bb;
  --md-sys-color-outline-variant: #908f99;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #bec2ff;
  --md-sys-color-primary: #d8d9ff;
  --md-sys-color-primary-dim: #cfd1ff;
  --md-sys-color-on-primary: #1b2055;
  --md-sys-color-primary-container: #878cc8;
  --md-sys-color-on-primary-container: #000000;
  --md-sys-color-inverse-primary: #3e437a;
  --md-sys-color-primary-fixed: #e0e0ff;
  --md-sys-color-primary-fixed-dim: #bec2ff;
  --md-sys-color-on-primary-fixed: #040741;
  --md-sys-color-on-primary-fixed-variant: #2c3167;
  --md-sys-color-secondary: #dbdaf3;
  --md-sys-color-secondary-dim: #dbdbf4;
  --md-sys-color-on-secondary: #232437;
  --md-sys-color-secondary-container: #8e8fa6;
  --md-sys-color-on-secondary-container: #000000;
  --md-sys-color-secondary-fixed: #e1e0f9;
  --md-sys-color-secondary-fixed-dim: #c5c4dd;
  --md-sys-color-on-secondary-fixed: #0e1021;
  --md-sys-color-on-secondary-fixed-variant: #333548;
  --md-sys-color-tertiary: #fecfeb;
  --md-sys-color-tertiary-dim: #ffcfec;
  --md-sys-color-on-tertiary: #391b31;
  --md-sys-color-tertiary-container: #ae849f;
  --md-sys-color-on-tertiary-container: #000000;
  --md-sys-color-tertiary-fixed: #ffd7ee;
  --md-sys-color-tertiary-fixed-dim: #e7b9d5;
  --md-sys-color-on-tertiary-fixed: #22071b;
  --md-sys-color-on-tertiary-fixed-variant: #4c2c42;
  --md-sys-color-error: #ffd2cc;
  --md-sys-color-error-dim: #ffc7c0;
  --md-sys-color-on-error: #540003;
  --md-sys-color-error-container: #ff5449;
  --md-sys-color-on-error-container: #000000;
  --md-sys-color-control-activated: #3d4279;
  --md-sys-color-control-normal: #c7c5d0;
  --md-sys-color-control-highlight: #ffffff33;
  --md-sys-color-text-primary-inverse: #1b1b21;
  --md-sys-color-text-secondary-and-tertiary-inverse: #46464f;
  --md-sys-color-text-primary-inverse-disable-only: #1b1b21;
  --md-sys-color-text-secondary-and-tertiary-inverse-disabled: #1b1b21;
  --md-sys-color-text-hint-inverse: #1b1b21;
}

.dark-high-contrast {
  --md-sys-color-primary-palette-key-color: #6d72ac;
  --md-sys-color-secondary-palette-key-color: #74758b;
  --md-sys-color-tertiary-palette-key-color: #926b84;
  --md-sys-color-neutral-palette-key-color: #77767d;
  --md-sys-color-neutral-variant-palette-key-color: #777680;
  --md-sys-color-error-palette-key-color: #de3730;
  --md-sys-color-background: #131318;
  --md-sys-color-on-background: #e4e1e9;
  --md-sys-color-surface: #131318;
  --md-sys-color-surface-dim: #131318;
  --md-sys-color-surface-bright: #504f56;
  --md-sys-color-surface-container-lowest: #000000;
  --md-sys-color-surface-container-low: #1f1f25;
  --md-sys-color-surface-container: #303036;
  --md-sys-color-surface-container-high: #3b3b41;
  --md-sys-color-surface-container-highest: #47464c;
  --md-sys-color-on-surface: #ffffff;
  --md-sys-color-surface-variant: #46464f;
  --md-sys-color-on-surface-variant: #ffffff;
  --md-sys-color-inverse-surface: #e4e1e9;
  --md-sys-color-inverse-on-surface: #000000;
  --md-sys-color-outline: #f1eefa;
  --md-sys-color-outline-variant: #c3c1cc;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #bec2ff;
  --md-sys-color-primary: #f0eeff;
  --md-sys-color-primary-dim: #fffeff;
  --md-sys-color-on-primary: #000000;
  --md-sys-color-primary-container: #b9befd;
  --md-sys-color-on-primary-container: #00023a;
  --md-sys-color-inverse-primary: #3e437a;
  --md-sys-color-primary-fixed: #e0e0ff;
  --md-sys-color-primary-fixed-dim: #bec2ff;
  --md-sys-color-on-primary-fixed: #000000;
  --md-sys-color-on-primary-fixed-variant: #040741;
  --md-sys-color-secondary: #f0eeff;
  --md-sys-color-secondary-dim: #fffeff;
  --md-sys-color-on-secondary: #000000;
  --md-sys-color-secondary-container: #c1c1d9;
  --md-sys-color-on-secondary-container: #080a1b;
  --md-sys-color-secondary-fixed: #e1e0f9;
  --md-sys-color-secondary-fixed-dim: #c5c4dd;
  --md-sys-color-on-secondary-fixed: #000000;
  --md-sys-color-on-secondary-fixed-variant: #0e1021;
  --md-sys-color-tertiary: #ffebf4;
  --md-sys-color-tertiary-dim: #fffeff;
  --md-sys-color-on-tertiary: #000000;
  --md-sys-color-tertiary-container: #e3b6d1;
  --md-sys-color-on-tertiary-container: #1b0315;
  --md-sys-color-tertiary-fixed: #ffd7ee;
  --md-sys-color-tertiary-fixed-dim: #e7b9d5;
  --md-sys-color-on-tertiary-fixed: #000000;
  --md-sys-color-on-tertiary-fixed-variant: #22071b;
  --md-sys-color-error: #ffece9;
  --md-sys-color-error-dim: #fffeff;
  --md-sys-color-on-error: #000000;
  --md-sys-color-error-container: #ffaea4;
  --md-sys-color-on-error-container: #220001;
  --md-sys-color-control-activated: #3d4279;
  --md-sys-color-control-normal: #c7c5d0;
  --md-sys-color-control-highlight: #ffffff33;
  --md-sys-color-text-primary-inverse: #1b1b21;
  --md-sys-color-text-secondary-and-tertiary-inverse: #46464f;
  --md-sys-color-text-primary-inverse-disable-only: #1b1b21;
  --md-sys-color-text-secondary-and-tertiary-inverse-disabled: #1b1b21;
  --md-sys-color-text-hint-inverse: #1b1b21;
}

