.light {
  --md-sys-color-primary-palette-key-color: #6f73a5;
  --md-sys-color-secondary-palette-key-color: #74758b;
  --md-sys-color-tertiary-palette-key-color: #8f6a99;
  --md-sys-color-neutral-palette-key-color: #767682;
  --md-sys-color-neutral-variant-palette-key-color: #74758c;
  --md-sys-color-error-palette-key-color: #ba5866;
  --md-sys-color-background: #000000;
  --md-sys-color-on-background: #ffffff;
  --md-sys-color-surface: #000000;
  --md-sys-color-surface-dim: #0d0d17;
  --md-sys-color-surface-bright: #292b3f;
  --md-sys-color-surface-container-lowest: #000000;
  --md-sys-color-surface-container-low: #24252f;
  --md-sys-color-surface-container: #2f303a;
  --md-sys-color-surface-container-high: #3a3a46;
  --md-sys-color-surface-container-highest: #232438;
  --md-sys-color-on-surface: #fffeff;
  --md-sys-color-surface-variant: #232438;
  --md-sys-color-on-surface-variant: #ceccdb;
  --md-sys-color-inverse-surface: #fbf8ff;
  --md-sys-color-inverse-on-surface: #545460;
  --md-sys-color-outline: #a5a4b2;
  --md-sys-color-outline-variant: #858491;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #c7caff;
  --md-sys-color-primary: #c7caff;
  --md-sys-color-primary-dim: #b8bcf3;
  --md-sys-color-on-primary: #292e5b;
  --md-sys-color-primary-container: #3e4372;
  --md-sys-color-on-primary-container: #ddddff;
  --md-sys-color-inverse-primary: #4d5181;
  --md-sys-color-primary-fixed: #3e4372;
  --md-sys-color-primary-fixed-dim: #333765;
  --md-sys-color-on-primary-fixed: #c7caff;
  --md-sys-color-on-primary-fixed-variant: #9ea2d7;
  --md-sys-color-secondary: #dbdbf4;
  --md-sys-color-secondary-dim: #cdcde5;
  --md-sys-color-on-secondary: #393a4e;
  --md-sys-color-secondary-container: #444559;
  --md-sys-color-on-secondary-container: #dedef7;
  --md-sys-color-secondary-fixed: #444559;
  --md-sys-color-secondary-fixed-dim: #393a4d;
  --md-sys-color-on-secondary-fixed: #cccce4;
  --md-sys-color-on-secondary-fixed-variant: #a4a4bb;
  --md-sys-color-tertiary: #eec3f7;
  --md-sys-color-tertiary-dim: #dfb6e9;
  --md-sys-color-on-tertiary: #472852;
  --md-sys-color-tertiary-container: #c39bcc;
  --md-sys-color-on-tertiary-container: #2f1039;
  --md-sys-color-tertiary-fixed: #c39bcc;
  --md-sys-color-tertiary-fixed-dim: #b58ebf;
  --md-sys-color-on-tertiary-fixed: #1a0025;
  --md-sys-color-on-tertiary-fixed-variant: #462750;
  --md-sys-color-error: #ffbdc3;
  --md-sys-color-error-dim: #f38593;
  --md-sys-color-on-error: #3f000f;
  --md-sys-color-error-container: #7d2938;
  --md-sys-color-on-error-container: #ffd6d9;
}

.light-medium-contrast {
  --md-sys-color-primary-palette-key-color: #6f73a5;
  --md-sys-color-secondary-palette-key-color: #74758b;
  --md-sys-color-tertiary-palette-key-color: #8f6a99;
  --md-sys-color-neutral-palette-key-color: #767682;
  --md-sys-color-neutral-variant-palette-key-color: #74758c;
  --md-sys-color-error-palette-key-color: #ba5866;
  --md-sys-color-background: #000000;
  --md-sys-color-on-background: #ffffff;
  --md-sys-color-surface: #000000;
  --md-sys-color-surface-dim: #0d0d17;
  --md-sys-color-surface-bright: #292b3f;
  --md-sys-color-surface-container-lowest: #000000;
  --md-sys-color-surface-container-low: #24252f;
  --md-sys-color-surface-container: #2f303a;
  --md-sys-color-surface-container-high: #3a3a46;
  --md-sys-color-surface-container-highest: #232438;
  --md-sys-color-on-surface: #ffffff;
  --md-sys-color-surface-variant: #232438;
  --md-sys-color-on-surface-variant: #fffeff;
  --md-sys-color-inverse-surface: #fbf8ff;
  --md-sys-color-inverse-on-surface: #373742;
  --md-sys-color-outline: #ceccdb;
  --md-sys-color-outline-variant: #a5a4b2;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #fffeff;
  --md-sys-color-primary: #fffeff;
  --md-sys-color-primary-dim: #c7caff;
  --md-sys-color-on-primary: #101442;
  --md-sys-color-primary-container: #3e4372;
  --md-sys-color-on-primary-container: #ffffff;
  --md-sys-color-inverse-primary: #303462;
  --md-sys-color-primary-fixed: #3e4372;
  --md-sys-color-primary-fixed-dim: #333765;
  --md-sys-color-on-primary-fixed: #fffeff;
  --md-sys-color-on-primary-fixed-variant: #c7caff;
  --md-sys-color-secondary: #fffeff;
  --md-sys-color-secondary-dim: #dbdbf4;
  --md-sys-color-on-secondary: #232537;
  --md-sys-color-secondary-container: #444559;
  --md-sys-color-on-secondary-container: #ffffff;
  --md-sys-color-secondary-fixed: #444559;
  --md-sys-color-secondary-fixed-dim: #393a4d;
  --md-sys-color-on-secondary-fixed: #fffeff;
  --md-sys-color-on-secondary-fixed-variant: #cccce4;
  --md-sys-color-tertiary: #fffeff;
  --md-sys-color-tertiary-dim: #eec3f7;
  --md-sys-color-on-tertiary: #2e1039;
  --md-sys-color-tertiary-container: #d1a8db;
  --md-sys-color-on-tertiary-container: #000000;
  --md-sys-color-tertiary-fixed: #c39bcc;
  --md-sys-color-tertiary-fixed-dim: #b58ebf;
  --md-sys-color-on-tertiary-fixed: #000000;
  --md-sys-color-on-tertiary-fixed-variant: #1a0025;
  --md-sys-color-error: #fffeff;
  --md-sys-color-error-dim: #ffbdc3;
  --md-sys-color-on-error: #3d000f;
  --md-sys-color-error-container: #7d2938;
  --md-sys-color-on-error-container: #ffffff;
}

.light-high-contrast {
  --md-sys-color-primary-palette-key-color: #6f73a5;
  --md-sys-color-secondary-palette-key-color: #74758b;
  --md-sys-color-tertiary-palette-key-color: #8f6a99;
  --md-sys-color-neutral-palette-key-color: #767682;
  --md-sys-color-neutral-variant-palette-key-color: #74758c;
  --md-sys-color-error-palette-key-color: #ba5866;
  --md-sys-color-background: #000000;
  --md-sys-color-on-background: #ffffff;
  --md-sys-color-surface: #000000;
  --md-sys-color-surface-dim: #0d0d17;
  --md-sys-color-surface-bright: #292b3f;
  --md-sys-color-surface-container-lowest: #000000;
  --md-sys-color-surface-container-low: #24252f;
  --md-sys-color-surface-container: #2f303a;
  --md-sys-color-surface-container-high: #3a3a46;
  --md-sys-color-surface-container-highest: #232438;
  --md-sys-color-on-surface: #ffffff;
  --md-sys-color-surface-variant: #232438;
  --md-sys-color-on-surface-variant: #ffffff;
  --md-sys-color-inverse-surface: #fbf8ff;
  --md-sys-color-inverse-on-surface: #000000;
  --md-sys-color-outline: #fffeff;
  --md-sys-color-outline-variant: #ceccdb;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #ffffff;
  --md-sys-color-primary: #ffffff;
  --md-sys-color-primary-dim: #fffeff;
  --md-sys-color-on-primary: #000000;
  --md-sys-color-primary-container: #3e4372;
  --md-sys-color-on-primary-container: #ffffff;
  --md-sys-color-inverse-primary: #000000;
  --md-sys-color-primary-fixed: #3e4372;
  --md-sys-color-primary-fixed-dim: #333765;
  --md-sys-color-on-primary-fixed: #ffffff;
  --md-sys-color-on-primary-fixed-variant: #fffeff;
  --md-sys-color-secondary: #ffffff;
  --md-sys-color-secondary-dim: #fffeff;
  --md-sys-color-on-secondary: #000000;
  --md-sys-color-secondary-container: #444559;
  --md-sys-color-on-secondary-container: #ffffff;
  --md-sys-color-secondary-fixed: #444559;
  --md-sys-color-secondary-fixed-dim: #393a4d;
  --md-sys-color-on-secondary-fixed: #ffffff;
  --md-sys-color-on-secondary-fixed-variant: #fffeff;
  --md-sys-color-tertiary: #ffffff;
  --md-sys-color-tertiary-dim: #fffeff;
  --md-sys-color-on-tertiary: #000000;
  --md-sys-color-tertiary-container: #eec3f7;
  --md-sys-color-on-tertiary-container: #000000;
  --md-sys-color-tertiary-fixed: #c39bcc;
  --md-sys-color-tertiary-fixed-dim: #b58ebf;
  --md-sys-color-on-tertiary-fixed: #000000;
  --md-sys-color-on-tertiary-fixed-variant: #000000;
  --md-sys-color-error: #ffffff;
  --md-sys-color-error-dim: #fffeff;
  --md-sys-color-on-error: #000000;
  --md-sys-color-error-container: #7d2938;
  --md-sys-color-on-error-container: #ffffff;
}

.dark {
  --md-sys-color-primary-palette-key-color: #6f73a5;
  --md-sys-color-secondary-palette-key-color: #74758b;
  --md-sys-color-tertiary-palette-key-color: #8f6a99;
  --md-sys-color-neutral-palette-key-color: #767682;
  --md-sys-color-neutral-variant-palette-key-color: #74758c;
  --md-sys-color-error-palette-key-color: #ba5866;
  --md-sys-color-background: #000000;
  --md-sys-color-on-background: #ffffff;
  --md-sys-color-surface: #000000;
  --md-sys-color-surface-dim: #0d0d17;
  --md-sys-color-surface-bright: #292b3f;
  --md-sys-color-surface-container-lowest: #000000;
  --md-sys-color-surface-container-low: #24252f;
  --md-sys-color-surface-container: #2f303a;
  --md-sys-color-surface-container-high: #3a3a46;
  --md-sys-color-surface-container-highest: #232438;
  --md-sys-color-on-surface: #fffeff;
  --md-sys-color-surface-variant: #232438;
  --md-sys-color-on-surface-variant: #ceccdb;
  --md-sys-color-inverse-surface: #fbf8ff;
  --md-sys-color-inverse-on-surface: #545460;
  --md-sys-color-outline: #a5a4b2;
  --md-sys-color-outline-variant: #858491;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #c7caff;
  --md-sys-color-primary: #c7caff;
  --md-sys-color-primary-dim: #b8bcf3;
  --md-sys-color-on-primary: #292e5b;
  --md-sys-color-primary-container: #3e4372;
  --md-sys-color-on-primary-container: #ddddff;
  --md-sys-color-inverse-primary: #4d5181;
  --md-sys-color-primary-fixed: #3e4372;
  --md-sys-color-primary-fixed-dim: #333765;
  --md-sys-color-on-primary-fixed: #c7caff;
  --md-sys-color-on-primary-fixed-variant: #9ea2d7;
  --md-sys-color-secondary: #dbdbf4;
  --md-sys-color-secondary-dim: #cdcde5;
  --md-sys-color-on-secondary: #393a4e;
  --md-sys-color-secondary-container: #444559;
  --md-sys-color-on-secondary-container: #dedef7;
  --md-sys-color-secondary-fixed: #444559;
  --md-sys-color-secondary-fixed-dim: #393a4d;
  --md-sys-color-on-secondary-fixed: #cccce4;
  --md-sys-color-on-secondary-fixed-variant: #a4a4bb;
  --md-sys-color-tertiary: #eec3f7;
  --md-sys-color-tertiary-dim: #dfb6e9;
  --md-sys-color-on-tertiary: #472852;
  --md-sys-color-tertiary-container: #c39bcc;
  --md-sys-color-on-tertiary-container: #2f1039;
  --md-sys-color-tertiary-fixed: #c39bcc;
  --md-sys-color-tertiary-fixed-dim: #b58ebf;
  --md-sys-color-on-tertiary-fixed: #1a0025;
  --md-sys-color-on-tertiary-fixed-variant: #462750;
  --md-sys-color-error: #ffbdc3;
  --md-sys-color-error-dim: #f38593;
  --md-sys-color-on-error: #3f000f;
  --md-sys-color-error-container: #7d2938;
  --md-sys-color-on-error-container: #ffd6d9;
}

.dark-medium-contrast {
  --md-sys-color-primary-palette-key-color: #6f73a5;
  --md-sys-color-secondary-palette-key-color: #74758b;
  --md-sys-color-tertiary-palette-key-color: #8f6a99;
  --md-sys-color-neutral-palette-key-color: #767682;
  --md-sys-color-neutral-variant-palette-key-color: #74758c;
  --md-sys-color-error-palette-key-color: #ba5866;
  --md-sys-color-background: #000000;
  --md-sys-color-on-background: #ffffff;
  --md-sys-color-surface: #000000;
  --md-sys-color-surface-dim: #0d0d17;
  --md-sys-color-surface-bright: #292b3f;
  --md-sys-color-surface-container-lowest: #000000;
  --md-sys-color-surface-container-low: #24252f;
  --md-sys-color-surface-container: #2f303a;
  --md-sys-color-surface-container-high: #3a3a46;
  --md-sys-color-surface-container-highest: #232438;
  --md-sys-color-on-surface: #ffffff;
  --md-sys-color-surface-variant: #232438;
  --md-sys-color-on-surface-variant: #fffeff;
  --md-sys-color-inverse-surface: #fbf8ff;
  --md-sys-color-inverse-on-surface: #373742;
  --md-sys-color-outline: #ceccdb;
  --md-sys-color-outline-variant: #a5a4b2;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #fffeff;
  --md-sys-color-primary: #fffeff;
  --md-sys-color-primary-dim: #c7caff;
  --md-sys-color-on-primary: #101442;
  --md-sys-color-primary-container: #3e4372;
  --md-sys-color-on-primary-container: #ffffff;
  --md-sys-color-inverse-primary: #303462;
  --md-sys-color-primary-fixed: #3e4372;
  --md-sys-color-primary-fixed-dim: #333765;
  --md-sys-color-on-primary-fixed: #fffeff;
  --md-sys-color-on-primary-fixed-variant: #c7caff;
  --md-sys-color-secondary: #fffeff;
  --md-sys-color-secondary-dim: #dbdbf4;
  --md-sys-color-on-secondary: #232537;
  --md-sys-color-secondary-container: #444559;
  --md-sys-color-on-secondary-container: #ffffff;
  --md-sys-color-secondary-fixed: #444559;
  --md-sys-color-secondary-fixed-dim: #393a4d;
  --md-sys-color-on-secondary-fixed: #fffeff;
  --md-sys-color-on-secondary-fixed-variant: #cccce4;
  --md-sys-color-tertiary: #fffeff;
  --md-sys-color-tertiary-dim: #eec3f7;
  --md-sys-color-on-tertiary: #2e1039;
  --md-sys-color-tertiary-container: #d1a8db;
  --md-sys-color-on-tertiary-container: #000000;
  --md-sys-color-tertiary-fixed: #c39bcc;
  --md-sys-color-tertiary-fixed-dim: #b58ebf;
  --md-sys-color-on-tertiary-fixed: #000000;
  --md-sys-color-on-tertiary-fixed-variant: #1a0025;
  --md-sys-color-error: #fffeff;
  --md-sys-color-error-dim: #ffbdc3;
  --md-sys-color-on-error: #3d000f;
  --md-sys-color-error-container: #7d2938;
  --md-sys-color-on-error-container: #ffffff;
}

.dark-high-contrast {
  --md-sys-color-primary-palette-key-color: #6f73a5;
  --md-sys-color-secondary-palette-key-color: #74758b;
  --md-sys-color-tertiary-palette-key-color: #8f6a99;
  --md-sys-color-neutral-palette-key-color: #767682;
  --md-sys-color-neutral-variant-palette-key-color: #74758c;
  --md-sys-color-error-palette-key-color: #ba5866;
  --md-sys-color-background: #000000;
  --md-sys-color-on-background: #ffffff;
  --md-sys-color-surface: #000000;
  --md-sys-color-surface-dim: #0d0d17;
  --md-sys-color-surface-bright: #292b3f;
  --md-sys-color-surface-container-lowest: #000000;
  --md-sys-color-surface-container-low: #24252f;
  --md-sys-color-surface-container: #2f303a;
  --md-sys-color-surface-container-high: #3a3a46;
  --md-sys-color-surface-container-highest: #232438;
  --md-sys-color-on-surface: #ffffff;
  --md-sys-color-surface-variant: #232438;
  --md-sys-color-on-surface-variant: #ffffff;
  --md-sys-color-inverse-surface: #fbf8ff;
  --md-sys-color-inverse-on-surface: #000000;
  --md-sys-color-outline: #fffeff;
  --md-sys-color-outline-variant: #ceccdb;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #ffffff;
  --md-sys-color-primary: #ffffff;
  --md-sys-color-primary-dim: #fffeff;
  --md-sys-color-on-primary: #000000;
  --md-sys-color-primary-container: #3e4372;
  --md-sys-color-on-primary-container: #ffffff;
  --md-sys-color-inverse-primary: #000000;
  --md-sys-color-primary-fixed: #3e4372;
  --md-sys-color-primary-fixed-dim: #333765;
  --md-sys-color-on-primary-fixed: #ffffff;
  --md-sys-color-on-primary-fixed-variant: #fffeff;
  --md-sys-color-secondary: #ffffff;
  --md-sys-color-secondary-dim: #fffeff;
  --md-sys-color-on-secondary: #000000;
  --md-sys-color-secondary-container: #444559;
  --md-sys-color-on-secondary-container: #ffffff;
  --md-sys-color-secondary-fixed: #444559;
  --md-sys-color-secondary-fixed-dim: #393a4d;
  --md-sys-color-on-secondary-fixed: #ffffff;
  --md-sys-color-on-secondary-fixed-variant: #fffeff;
  --md-sys-color-tertiary: #ffffff;
  --md-sys-color-tertiary-dim: #fffeff;
  --md-sys-color-on-tertiary: #000000;
  --md-sys-color-tertiary-container: #eec3f7;
  --md-sys-color-on-tertiary-container: #000000;
  --md-sys-color-tertiary-fixed: #c39bcc;
  --md-sys-color-tertiary-fixed-dim: #b58ebf;
  --md-sys-color-on-tertiary-fixed: #000000;
  --md-sys-color-on-tertiary-fixed-variant: #000000;
  --md-sys-color-error: #ffffff;
  --md-sys-color-error-dim: #fffeff;
  --md-sys-color-on-error: #000000;
  --md-sys-color-error-container: #7d2938;
  --md-sys-color-on-error-container: #ffffff;
}

