.light {
  --md-sys-color-primary-palette-key-color: #011bff;
  --md-sys-color-secondary-palette-key-color: #7b7296;
  --md-sys-color-tertiary-palette-key-color: #876c9e;
  --md-sys-color-neutral-palette-key-color: #767682;
  --md-sys-color-neutral-variant-palette-key-color: #767685;
  --md-sys-color-error-palette-key-color: #de3730;
  --md-sys-color-background: #fbf8ff;
  --md-sys-color-on-background: #1a1b25;
  --md-sys-color-surface: #fbf8ff;
  --md-sys-color-surface-dim: #dad8e7;
  --md-sys-color-surface-bright: #fbf8ff;
  --md-sys-color-surface-container-lowest: #ffffff;
  --md-sys-color-surface-container-low: #f4f2ff;
  --md-sys-color-surface-container: #eeecfb;
  --md-sys-color-surface-container-high: #e8e7f5;
  --md-sys-color-surface-container-highest: #e3e1ef;
  --md-sys-color-on-surface: #1a1b25;
  --md-sys-color-surface-variant: #e2e1f3;
  --md-sys-color-on-surface-variant: #454654;
  --md-sys-color-inverse-surface: #2f303a;
  --md-sys-color-inverse-on-surface: #f1effe;
  --md-sys-color-outline: #767685;
  --md-sys-color-outline-variant: #c6c5d6;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #2e3eff;
  --md-sys-color-primary: #2e3eff;
  --md-sys-color-primary-dim: #011bff;
  --md-sys-color-on-primary: #ffffff;
  --md-sys-color-primary-container: #e0e0ff;
  --md-sys-color-on-primary-container: #0016e5;
  --md-sys-color-inverse-primary: #bec2ff;
  --md-sys-color-primary-fixed: #e0e0ff;
  --md-sys-color-primary-fixed-dim: #bec2ff;
  --md-sys-color-on-primary-fixed: #000569;
  --md-sys-color-on-primary-fixed-variant: #0016e5;
  --md-sys-color-secondary: #62597c;
  --md-sys-color-secondary-dim: #6b6386;
  --md-sys-color-on-secondary: #ffffff;
  --md-sys-color-secondary-container: #e7deff;
  --md-sys-color-on-secondary-container: #4a4263;
  --md-sys-color-secondary-fixed: #e7deff;
  --md-sys-color-secondary-fixed-dim: #cbc1e9;
  --md-sys-color-on-secondary-fixed: #1e1735;
  --md-sys-color-on-secondary-fixed-variant: #4a4263;
  --md-sys-color-tertiary: #6e5484;
  --md-sys-color-tertiary-dim: #785d8e;
  --md-sys-color-on-tertiary: #ffffff;
  --md-sys-color-tertiary-container: #f1daff;
  --md-sys-color-on-tertiary-container: #553c6a;
  --md-sys-color-tertiary-fixed: #f1daff;
  --md-sys-color-tertiary-fixed-dim: #dabbf2;
  --md-sys-color-on-tertiary-fixed: #27103c;
  --md-sys-color-on-tertiary-fixed-variant: #553c6a;
  --md-sys-color-error: #ba1a1a;
  --md-sys-color-error-dim: #ac0c12;
  --md-sys-color-on-error: #ffffff;
  --md-sys-color-error-container: #ffdad6;
  --md-sys-color-on-error-container: #93000a;
  --md-sys-color-control-activated: #e0e0ff;
  --md-sys-color-control-normal: #454654;
  --md-sys-color-control-highlight: #0000001f;
  --md-sys-color-text-primary-inverse: #e3e1ef;
  --md-sys-color-text-secondary-and-tertiary-inverse: #c6c5d6;
  --md-sys-color-text-primary-inverse-disable-only: #e3e1ef;
  --md-sys-color-text-secondary-and-tertiary-inverse-disabled: #e3e1ef;
  --md-sys-color-text-hint-inverse: #e3e1ef;
}

.light-medium-contrast {
  --md-sys-color-primary-palette-key-color: #011bff;
  --md-sys-color-secondary-palette-key-color: #7b7296;
  --md-sys-color-tertiary-palette-key-color: #876c9e;
  --md-sys-color-neutral-palette-key-color: #767682;
  --md-sys-color-neutral-variant-palette-key-color: #767685;
  --md-sys-color-error-palette-key-color: #de3730;
  --md-sys-color-background: #fbf8ff;
  --md-sys-color-on-background: #1a1b25;
  --md-sys-color-surface: #fbf8ff;
  --md-sys-color-surface-dim: #c6c5d3;
  --md-sys-color-surface-bright: #fbf8ff;
  --md-sys-color-surface-container-lowest: #ffffff;
  --md-sys-color-surface-container-low: #f4f2ff;
  --md-sys-color-surface-container: #e8e7f5;
  --md-sys-color-surface-container-high: #dddbea;
  --md-sys-color-surface-container-highest: #d2d0de;
  --md-sys-color-on-surface: #10101a;
  --md-sys-color-surface-variant: #e2e1f3;
  --md-sys-color-on-surface-variant: #343543;
  --md-sys-color-inverse-surface: #2f303a;
  --md-sys-color-inverse-on-surface: #f1effe;
  --md-sys-color-outline: #515160;
  --md-sys-color-outline-variant: #6c6c7b;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #2e3eff;
  --md-sys-color-primary: #0010b5;
  --md-sys-color-primary-dim: #0015de;
  --md-sys-color-on-primary: #ffffff;
  --md-sys-color-primary-container: #4756ff;
  --md-sys-color-on-primary-container: #ffffff;
  --md-sys-color-inverse-primary: #bec2ff;
  --md-sys-color-primary-fixed: #4756ff;
  --md-sys-color-primary-fixed-dim: #1729ff;
  --md-sys-color-on-primary-fixed: #ffffff;
  --md-sys-color-on-primary-fixed-variant: #ffffff;
  --md-sys-color-secondary: #393152;
  --md-sys-color-secondary-dim: #474061;
  --md-sys-color-on-secondary: #ffffff;
  --md-sys-color-secondary-container: #71688c;
  --md-sys-color-on-secondary-container: #ffffff;
  --md-sys-color-secondary-fixed: #71688c;
  --md-sys-color-secondary-fixed-dim: #585072;
  --md-sys-color-on-secondary-fixed: #ffffff;
  --md-sys-color-on-secondary-fixed-variant: #ffffff;
  --md-sys-color-tertiary: #432c59;
  --md-sys-color-tertiary-dim: #533a68;
  --md-sys-color-on-tertiary: #ffffff;
  --md-sys-color-tertiary-container: #7d6293;
  --md-sys-color-on-tertiary-container: #ffffff;
  --md-sys-color-tertiary-fixed: #7d6293;
  --md-sys-color-tertiary-fixed-dim: #644a79;
  --md-sys-color-on-tertiary-fixed: #ffffff;
  --md-sys-color-on-tertiary-fixed-variant: #ffffff;
  --md-sys-color-error: #740006;
  --md-sys-color-error-dim: #8f0009;
  --md-sys-color-on-error: #ffffff;
  --md-sys-color-error-container: #cf2c27;
  --md-sys-color-on-error-container: #ffffff;
  --md-sys-color-control-activated: #e0e0ff;
  --md-sys-color-control-normal: #454654;
  --md-sys-color-control-highlight: #0000001f;
  --md-sys-color-text-primary-inverse: #e3e1ef;
  --md-sys-color-text-secondary-and-tertiary-inverse: #c6c5d6;
  --md-sys-color-text-primary-inverse-disable-only: #e3e1ef;
  --md-sys-color-text-secondary-and-tertiary-inverse-disabled: #e3e1ef;
  --md-sys-color-text-hint-inverse: #e3e1ef;
}

.light-high-contrast {
  --md-sys-color-primary-palette-key-color: #011bff;
  --md-sys-color-secondary-palette-key-color: #7b7296;
  --md-sys-color-tertiary-palette-key-color: #876c9e;
  --md-sys-color-neutral-palette-key-color: #767682;
  --md-sys-color-neutral-variant-palette-key-color: #767685;
  --md-sys-color-error-palette-key-color: #de3730;
  --md-sys-color-background: #fbf8ff;
  --md-sys-color-on-background: #1a1b25;
  --md-sys-color-surface: #fbf8ff;
  --md-sys-color-surface-dim: #b9b7c5;
  --md-sys-color-surface-bright: #fbf8ff;
  --md-sys-color-surface-container-lowest: #ffffff;
  --md-sys-color-surface-container-low: #f1effe;
  --md-sys-color-surface-container: #e3e1ef;
  --md-sys-color-surface-container-high: #d5d3e1;
  --md-sys-color-surface-container-highest: #c6c5d3;
  --md-sys-color-on-surface: #000000;
  --md-sys-color-surface-variant: #e2e1f3;
  --md-sys-color-on-surface-variant: #000000;
  --md-sys-color-inverse-surface: #2f303a;
  --md-sys-color-inverse-on-surface: #ffffff;
  --md-sys-color-outline: #2a2b38;
  --md-sys-color-outline-variant: #484856;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #2e3eff;
  --md-sys-color-primary: #000b98;
  --md-sys-color-primary-dim: #000674;
  --md-sys-color-on-primary: #ffffff;
  --md-sys-color-primary-container: #0017ec;
  --md-sys-color-on-primary-container: #ffffff;
  --md-sys-color-inverse-primary: #bec2ff;
  --md-sys-color-primary-fixed: #0017ec;
  --md-sys-color-primary-fixed-dim: #000eab;
  --md-sys-color-on-primary-fixed: #ffffff;
  --md-sys-color-on-primary-fixed-variant: #ffffff;
  --md-sys-color-secondary: #2f2747;
  --md-sys-color-secondary-dim: #221b39;
  --md-sys-color-on-secondary: #ffffff;
  --md-sys-color-secondary-container: #4c4466;
  --md-sys-color-on-secondary-container: #ffffff;
  --md-sys-color-secondary-fixed: #4c4466;
  --md-sys-color-secondary-fixed-dim: #352e4e;
  --md-sys-color-on-secondary-fixed: #ffffff;
  --md-sys-color-on-secondary-fixed-variant: #ffffff;
  --md-sys-color-tertiary: #39214e;
  --md-sys-color-tertiary-dim: #2b1440;
  --md-sys-color-on-tertiary: #ffffff;
  --md-sys-color-tertiary-container: #573f6d;
  --md-sys-color-on-tertiary-container: #ffffff;
  --md-sys-color-tertiary-fixed: #573f6d;
  --md-sys-color-tertiary-fixed-dim: #402855;
  --md-sys-color-on-tertiary-fixed: #ffffff;
  --md-sys-color-on-tertiary-fixed-variant: #ffffff;
  --md-sys-color-error: #600004;
  --md-sys-color-error-dim: #480002;
  --md-sys-color-on-error: #ffffff;
  --md-sys-color-error-container: #98000a;
  --md-sys-color-on-error-container: #ffffff;
  --md-sys-color-control-activated: #e0e0ff;
  --md-sys-color-control-normal: #454654;
  --md-sys-color-control-highlight: #0000001f;
  --md-sys-color-text-primary-inverse: #e3e1ef;
  --md-sys-color-text-secondary-and-tertiary-inverse: #c6c5d6;
  --md-sys-color-text-primary-inverse-disable-only: #e3e1ef;
  --md-sys-color-text-secondary-and-tertiary-inverse-disabled: #e3e1ef;
  --md-sys-color-text-hint-inverse: #e3e1ef;
}

.dark {
  --md-sys-color-primary-palette-key-color: #011bff;
  --md-sys-color-secondary-palette-key-color: #7b7296;
  --md-sys-color-tertiary-palette-key-color: #876c9e;
  --md-sys-color-neutral-palette-key-color: #767682;
  --md-sys-color-neutral-variant-palette-key-color: #767685;
  --md-sys-color-error-palette-key-color: #de3730;
  --md-sys-color-background: #12131c;
  --md-sys-color-on-background: #e3e1ef;
  --md-sys-color-surface: #12131c;
  --md-sys-color-surface-dim: #12131c;
  --md-sys-color-surface-bright: #383843;
  --md-sys-color-surface-container-lowest: #0d0d17;
  --md-sys-color-surface-container-low: #1a1b25;
  --md-sys-color-surface-container: #1e1f29;
  --md-sys-color-surface-container-high: #292934;
  --md-sys-color-surface-container-highest: #33343f;
  --md-sys-color-on-surface: #e3e1ef;
  --md-sys-color-surface-variant: #454654;
  --md-sys-color-on-surface-variant: #c6c5d6;
  --md-sys-color-inverse-surface: #e3e1ef;
  --md-sys-color-inverse-on-surface: #2f303a;
  --md-sys-color-outline: #908f9f;
  --md-sys-color-outline-variant: #454654;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #bec2ff;
  --md-sys-color-primary: #bec2ff;
  --md-sys-color-primary-dim: #cfd1ff;
  --md-sys-color-on-primary: #000da4;
  --md-sys-color-primary-container: #0016e5;
  --md-sys-color-on-primary-container: #e0e0ff;
  --md-sys-color-inverse-primary: #2e3eff;
  --md-sys-color-primary-fixed: #e0e0ff;
  --md-sys-color-primary-fixed-dim: #bec2ff;
  --md-sys-color-on-primary-fixed: #000569;
  --md-sys-color-on-primary-fixed-variant: #0016e5;
  --md-sys-color-secondary: #cbc1e9;
  --md-sys-color-secondary-dim: #dacff8;
  --md-sys-color-on-secondary: #332c4c;
  --md-sys-color-secondary-container: #4a4263;
  --md-sys-color-on-secondary-container: #e7deff;
  --md-sys-color-secondary-fixed: #e7deff;
  --md-sys-color-secondary-fixed-dim: #cbc1e9;
  --md-sys-color-on-secondary-fixed: #1e1735;
  --md-sys-color-on-secondary-fixed-variant: #4a4263;
  --md-sys-color-tertiary: #dabbf2;
  --md-sys-color-tertiary-dim: #e8c9ff;
  --md-sys-color-on-tertiary: #3d2652;
  --md-sys-color-tertiary-container: #553c6a;
  --md-sys-color-on-tertiary-container: #f1daff;
  --md-sys-color-tertiary-fixed: #f1daff;
  --md-sys-color-tertiary-fixed-dim: #dabbf2;
  --md-sys-color-on-tertiary-fixed: #27103c;
  --md-sys-color-on-tertiary-fixed-variant: #553c6a;
  --md-sys-color-error: #ffb4ab;
  --md-sys-color-error-dim: #ffc7c0;
  --md-sys-color-on-error: #690005;
  --md-sys-color-error-container: #93000a;
  --md-sys-color-on-error-container: #ffdad6;
  --md-sys-color-control-activated: #0016e5;
  --md-sys-color-control-normal: #c6c5d6;
  --md-sys-color-control-highlight: #ffffff33;
  --md-sys-color-text-primary-inverse: #1a1b25;
  --md-sys-color-text-secondary-and-tertiary-inverse: #454654;
  --md-sys-color-text-primary-inverse-disable-only: #1a1b25;
  --md-sys-color-text-secondary-and-tertiary-inverse-disabled: #1a1b25;
  --md-sys-color-text-hint-inverse: #1a1b25;
}

.dark-medium-contrast {
  --md-sys-color-primary-palette-key-color: #011bff;
  --md-sys-color-secondary-palette-key-color: #7b7296;
  --md-sys-color-tertiary-palette-key-color: #876c9e;
  --md-sys-color-neutral-palette-key-color: #767682;
  --md-sys-color-neutral-variant-palette-key-color: #767685;
  --md-sys-color-error-palette-key-color: #de3730;
  --md-sys-color-background: #12131c;
  --md-sys-color-on-background: #e3e1ef;
  --md-sys-color-surface: #12131c;
  --md-sys-color-surface-dim: #12131c;
  --md-sys-color-surface-bright: #43434f;
  --md-sys-color-surface-container-lowest: #060710;
  --md-sys-color-surface-container-low: #1c1d27;
  --md-sys-color-surface-container: #272731;
  --md-sys-color-surface-container-high: #31323c;
  --md-sys-color-surface-container-highest: #3c3d48;
  --md-sys-color-on-surface: #ffffff;
  --md-sys-color-surface-variant: #454654;
  --md-sys-color-on-surface-variant: #dcdbec;
  --md-sys-color-inverse-surface: #e3e1ef;
  --md-sys-color-inverse-on-surface: #292934;
  --md-sys-color-outline: #b1b0c1;
  --md-sys-color-outline-variant: #8f8f9f;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #bec2ff;
  --md-sys-color-primary: #d8d9ff;
  --md-sys-color-primary-dim: #cfd1ff;
  --md-sys-color-on-primary: #000986;
  --md-sys-color-primary-container: #7a85ff;
  --md-sys-color-on-primary-container: #000000;
  --md-sys-color-inverse-primary: #0017e8;
  --md-sys-color-primary-fixed: #e0e0ff;
  --md-sys-color-primary-fixed-dim: #bec2ff;
  --md-sys-color-on-primary-fixed: #00034b;
  --md-sys-color-on-primary-fixed-variant: #0010b5;
  --md-sys-color-secondary: #e2d7ff;
  --md-sys-color-secondary-dim: #dacff8;
  --md-sys-color-on-secondary: #282140;
  --md-sys-color-secondary-container: #958bb1;
  --md-sys-color-on-secondary-container: #000000;
  --md-sys-color-secondary-fixed: #e7deff;
  --md-sys-color-secondary-fixed-dim: #cbc1e9;
  --md-sys-color-on-secondary-fixed: #130c2a;
  --md-sys-color-on-secondary-fixed-variant: #393152;
  --md-sys-color-tertiary: #edd3ff;
  --md-sys-color-tertiary-dim: #e8c9ff;
  --md-sys-color-on-tertiary: #321b47;
  --md-sys-color-tertiary-container: #a286b9;
  --md-sys-color-on-tertiary-container: #000000;
  --md-sys-color-tertiary-fixed: #f1daff;
  --md-sys-color-tertiary-fixed-dim: #dabbf2;
  --md-sys-color-on-tertiary-fixed: #1c0431;
  --md-sys-color-on-tertiary-fixed-variant: #432c59;
  --md-sys-color-error: #ffd2cc;
  --md-sys-color-error-dim: #ffc7c0;
  --md-sys-color-on-error: #540003;
  --md-sys-color-error-container: #ff5449;
  --md-sys-color-on-error-container: #000000;
  --md-sys-color-control-activated: #0016e5;
  --md-sys-color-control-normal: #c6c5d6;
  --md-sys-color-control-highlight: #ffffff33;
  --md-sys-color-text-primary-inverse: #1a1b25;
  --md-sys-color-text-secondary-and-tertiary-inverse: #454654;
  --md-sys-color-text-primary-inverse-disable-only: #1a1b25;
  --md-sys-color-text-secondary-and-tertiary-inverse-disabled: #1a1b25;
  --md-sys-color-text-hint-inverse: #1a1b25;
}

.dark-high-contrast {
  --md-sys-color-primary-palette-key-color: #011bff;
  --md-sys-color-secondary-palette-key-color: #7b7296;
  --md-sys-color-tertiary-palette-key-color: #876c9e;
  --md-sys-color-neutral-palette-key-color: #767682;
  --md-sys-color-neutral-variant-palette-key-color: #767685;
  --md-sys-color-error-palette-key-color: #de3730;
  --md-sys-color-background: #12131c;
  --md-sys-color-on-background: #e3e1ef;
  --md-sys-color-surface: #12131c;
  --md-sys-color-surface-dim: #12131c;
  --md-sys-color-surface-bright: #4f4f5b;
  --md-sys-color-surface-container-lowest: #000000;
  --md-sys-color-surface-container-low: #1e1f29;
  --md-sys-color-surface-container: #2f303a;
  --md-sys-color-surface-container-high: #3a3a46;
  --md-sys-color-surface-container-highest: #464651;
  --md-sys-color-on-surface: #ffffff;
  --md-sys-color-surface-variant: #454654;
  --md-sys-color-on-surface-variant: #ffffff;
  --md-sys-color-inverse-surface: #e3e1ef;
  --md-sys-color-inverse-on-surface: #000000;
  --md-sys-color-outline: #f0eeff;
  --md-sys-color-outline-variant: #c2c1d2;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #bec2ff;
  --md-sys-color-primary: #f0eeff;
  --md-sys-color-primary-dim: #fffeff;
  --md-sys-color-on-primary: #000000;
  --md-sys-color-primary-container: #b9beff;
  --md-sys-color-on-primary-container: #00023a;
  --md-sys-color-inverse-primary: #0017e8;
  --md-sys-color-primary-fixed: #e0e0ff;
  --md-sys-color-primary-fixed-dim: #bec2ff;
  --md-sys-color-on-primary-fixed: #000000;
  --md-sys-color-on-primary-fixed-variant: #00034b;
  --md-sys-color-secondary: #f4edff;
  --md-sys-color-secondary-dim: #fffeff;
  --md-sys-color-on-secondary: #000000;
  --md-sys-color-secondary-container: #c8bde5;
  --md-sys-color-on-secondary-container: #0d0624;
  --md-sys-color-secondary-fixed: #e7deff;
  --md-sys-color-secondary-fixed-dim: #cbc1e9;
  --md-sys-color-on-secondary-fixed: #000000;
  --md-sys-color-on-secondary-fixed-variant: #130c2a;
  --md-sys-color-tertiary: #faebff;
  --md-sys-color-tertiary-dim: #fffeff;
  --md-sys-color-on-tertiary: #000000;
  --md-sys-color-tertiary-container: #d6b7ee;
  --md-sys-color-on-tertiary-container: #16002b;
  --md-sys-color-tertiary-fixed: #f1daff;
  --md-sys-color-tertiary-fixed-dim: #dabbf2;
  --md-sys-color-on-tertiary-fixed: #000000;
  --md-sys-color-on-tertiary-fixed-variant: #1c0431;
  --md-sys-color-error: #ffece9;
  --md-sys-color-error-dim: #fffeff;
  --md-sys-color-on-error: #000000;
  --md-sys-color-error-container: #ffaea4;
  --md-sys-color-on-error-container: #220001;
  --md-sys-color-control-activated: #0016e5;
  --md-sys-color-control-normal: #c6c5d6;
  --md-sys-color-control-highlight: #ffffff33;
  --md-sys-color-text-primary-inverse: #1a1b25;
  --md-sys-color-text-secondary-and-tertiary-inverse: #454654;
  --md-sys-color-text-primary-inverse-disable-only: #1a1b25;
  --md-sys-color-text-secondary-and-tertiary-inverse-disabled: #1a1b25;
  --md-sys-color-text-hint-inverse: #1a1b25;
}

