.light {
  --md-sys-color-primary-palette-key-color: #636dd5;
  --md-sys-color-secondary-palette-key-color: #7770ab;
  --md-sys-color-tertiary-palette-key-color: #b65398;
  --md-sys-color-neutral-palette-key-color: #787491;
  --md-sys-color-neutral-variant-palette-key-color: #78729a;
  --md-sys-color-error-palette-key-color: #c74d61;
  --md-sys-color-background: #000000;
  --md-sys-color-on-background: #ffffff;
  --md-sys-color-surface: #000000;
  --md-sys-color-surface-dim: #0e0b22;
  --md-sys-color-surface-bright: #2c2942;
  --md-sys-color-surface-container-lowest: #000000;
  --md-sys-color-surface-container-low: #26233b;
  --md-sys-color-surface-container: #312d47;
  --md-sys-color-surface-container-high: #3c3852;
  --md-sys-color-surface-container-highest: #252143;
  --md-sys-color-on-surface: #fffeff;
  --md-sys-color-surface-variant: #252143;
  --md-sys-color-on-surface-variant: #d0caeb;
  --md-sys-color-inverse-surface: #fcf8ff;
  --md-sys-color-inverse-on-surface: #56526d;
  --md-sys-color-outline: #a7a2c1;
  --md-sys-color-outline-variant: #8782a0;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #c7caff;
  --md-sys-color-primary: #c7caff;
  --md-sys-color-primary-dim: #959eff;
  --md-sys-color-on-primary: #000567;
  --md-sys-color-primary-container: #313aa1;
  --md-sys-color-on-primary-container: #ddddff;
  --md-sys-color-inverse-primary: #404ab0;
  --md-sys-color-primary-fixed: #313aa1;
  --md-sys-color-primary-fixed-dim: #242d95;
  --md-sys-color-on-primary-fixed: #c7caff;
  --md-sys-color-on-primary-fixed-variant: #959eff;
  --md-sys-color-secondary: #d0c8ff;
  --md-sys-color-secondary-dim: #c1b9f9;
  --md-sys-color-on-secondary: #312a61;
  --md-sys-color-secondary-container: #463f77;
  --md-sys-color-on-secondary-container: #e2dcff;
  --md-sys-color-secondary-fixed: #463f77;
  --md-sys-color-secondary-fixed-dim: #3b346b;
  --md-sys-color-on-secondary-fixed: #d0c8ff;
  --md-sys-color-on-secondary-fixed-variant: #a69edd;
  --md-sys-color-tertiary: #ffb9e3;
  --md-sys-color-tertiary-dim: #ff91da;
  --md-sys-color-on-tertiary: #540043;
  --md-sys-color-tertiary-container: #e37ac1;
  --md-sys-color-on-tertiary-container: #27001e;
  --md-sys-color-tertiary-fixed: #e37ac1;
  --md-sys-color-tertiary-fixed-dim: #d46db3;
  --md-sys-color-on-tertiary-fixed: #000000;
  --md-sys-color-on-tertiary-fixed-variant: #540043;
  --md-sys-color-error: #ffbdc3;
  --md-sys-color-error-dim: #ff7d8f;
  --md-sys-color-on-error: #3f000f;
  --md-sys-color-error-container: #871c34;
  --md-sys-color-on-error-container: #ffd6d9;
}

.light-medium-contrast {
  --md-sys-color-primary-palette-key-color: #636dd5;
  --md-sys-color-secondary-palette-key-color: #7770ab;
  --md-sys-color-tertiary-palette-key-color: #b65398;
  --md-sys-color-neutral-palette-key-color: #787491;
  --md-sys-color-neutral-variant-palette-key-color: #78729a;
  --md-sys-color-error-palette-key-color: #c74d61;
  --md-sys-color-background: #000000;
  --md-sys-color-on-background: #ffffff;
  --md-sys-color-surface: #000000;
  --md-sys-color-surface-dim: #0e0b22;
  --md-sys-color-surface-bright: #2c2942;
  --md-sys-color-surface-container-lowest: #000000;
  --md-sys-color-surface-container-low: #26233b;
  --md-sys-color-surface-container: #312d47;
  --md-sys-color-surface-container-high: #3c3852;
  --md-sys-color-surface-container-highest: #252143;
  --md-sys-color-on-surface: #ffffff;
  --md-sys-color-surface-variant: #252143;
  --md-sys-color-on-surface-variant: #fffeff;
  --md-sys-color-inverse-surface: #fcf8ff;
  --md-sys-color-inverse-on-surface: #38354f;
  --md-sys-color-outline: #d0caeb;
  --md-sys-color-outline-variant: #a7a2c1;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #fffeff;
  --md-sys-color-primary: #fffeff;
  --md-sys-color-primary-dim: #c7caff;
  --md-sys-color-on-primary: #000563;
  --md-sys-color-primary-container: #313aa1;
  --md-sys-color-on-primary-container: #ffffff;
  --md-sys-color-inverse-primary: #202992;
  --md-sys-color-primary-fixed: #313aa1;
  --md-sys-color-primary-fixed-dim: #242d95;
  --md-sys-color-on-primary-fixed: #fffeff;
  --md-sys-color-on-primary-fixed-variant: #c7caff;
  --md-sys-color-secondary: #fffeff;
  --md-sys-color-secondary-dim: #d0c8ff;
  --md-sys-color-on-secondary: #180f47;
  --md-sys-color-secondary-container: #463f77;
  --md-sys-color-on-secondary-container: #ffffff;
  --md-sys-color-secondary-fixed: #463f77;
  --md-sys-color-secondary-fixed-dim: #3b346b;
  --md-sys-color-on-secondary-fixed: #fffeff;
  --md-sys-color-on-secondary-fixed-variant: #d0c8ff;
  --md-sys-color-tertiary: #fffeff;
  --md-sys-color-tertiary-dim: #ffb9e3;
  --md-sys-color-on-tertiary: #38002c;
  --md-sys-color-tertiary-container: #fb8ed6;
  --md-sys-color-on-tertiary-container: #000000;
  --md-sys-color-tertiary-fixed: #e37ac1;
  --md-sys-color-tertiary-fixed-dim: #d46db3;
  --md-sys-color-on-tertiary-fixed: #000000;
  --md-sys-color-on-tertiary-fixed-variant: #000000;
  --md-sys-color-error: #fffeff;
  --md-sys-color-error-dim: #ffbdc3;
  --md-sys-color-on-error: #3d000f;
  --md-sys-color-error-container: #871c34;
  --md-sys-color-on-error-container: #ffffff;
}

.light-high-contrast {
  --md-sys-color-primary-palette-key-color: #636dd5;
  --md-sys-color-secondary-palette-key-color: #7770ab;
  --md-sys-color-tertiary-palette-key-color: #b65398;
  --md-sys-color-neutral-palette-key-color: #787491;
  --md-sys-color-neutral-variant-palette-key-color: #78729a;
  --md-sys-color-error-palette-key-color: #c74d61;
  --md-sys-color-background: #000000;
  --md-sys-color-on-background: #ffffff;
  --md-sys-color-surface: #000000;
  --md-sys-color-surface-dim: #0e0b22;
  --md-sys-color-surface-bright: #2c2942;
  --md-sys-color-surface-container-lowest: #000000;
  --md-sys-color-surface-container-low: #26233b;
  --md-sys-color-surface-container: #312d47;
  --md-sys-color-surface-container-high: #3c3852;
  --md-sys-color-surface-container-highest: #252143;
  --md-sys-color-on-surface: #ffffff;
  --md-sys-color-surface-variant: #252143;
  --md-sys-color-on-surface-variant: #ffffff;
  --md-sys-color-inverse-surface: #fcf8ff;
  --md-sys-color-inverse-on-surface: #000000;
  --md-sys-color-outline: #fffeff;
  --md-sys-color-outline-variant: #d0caeb;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #ffffff;
  --md-sys-color-primary: #ffffff;
  --md-sys-color-primary-dim: #fffeff;
  --md-sys-color-on-primary: #000000;
  --md-sys-color-primary-container: #313aa1;
  --md-sys-color-on-primary-container: #ffffff;
  --md-sys-color-inverse-primary: #000000;
  --md-sys-color-primary-fixed: #313aa1;
  --md-sys-color-primary-fixed-dim: #242d95;
  --md-sys-color-on-primary-fixed: #ffffff;
  --md-sys-color-on-primary-fixed-variant: #fffeff;
  --md-sys-color-secondary: #ffffff;
  --md-sys-color-secondary-dim: #fffeff;
  --md-sys-color-on-secondary: #000000;
  --md-sys-color-secondary-container: #463f77;
  --md-sys-color-on-secondary-container: #ffffff;
  --md-sys-color-secondary-fixed: #463f77;
  --md-sys-color-secondary-fixed-dim: #3b346b;
  --md-sys-color-on-secondary-fixed: #ffffff;
  --md-sys-color-on-secondary-fixed-variant: #fffeff;
  --md-sys-color-tertiary: #ffffff;
  --md-sys-color-tertiary-dim: #fffeff;
  --md-sys-color-on-tertiary: #000000;
  --md-sys-color-tertiary-container: #ff91da;
  --md-sys-color-on-tertiary-container: #000000;
  --md-sys-color-tertiary-fixed: #e37ac1;
  --md-sys-color-tertiary-fixed-dim: #d46db3;
  --md-sys-color-on-tertiary-fixed: #000000;
  --md-sys-color-on-tertiary-fixed-variant: #000000;
  --md-sys-color-error: #ffffff;
  --md-sys-color-error-dim: #fffeff;
  --md-sys-color-on-error: #000000;
  --md-sys-color-error-container: #871c34;
  --md-sys-color-on-error-container: #ffffff;
}

.dark {
  --md-sys-color-primary-palette-key-color: #636dd5;
  --md-sys-color-secondary-palette-key-color: #7770ab;
  --md-sys-color-tertiary-palette-key-color: #b65398;
  --md-sys-color-neutral-palette-key-color: #787491;
  --md-sys-color-neutral-variant-palette-key-color: #78729a;
  --md-sys-color-error-palette-key-color: #c74d61;
  --md-sys-color-background: #000000;
  --md-sys-color-on-background: #ffffff;
  --md-sys-color-surface: #000000;
  --md-sys-color-surface-dim: #0e0b22;
  --md-sys-color-surface-bright: #2c2942;
  --md-sys-color-surface-container-lowest: #000000;
  --md-sys-color-surface-container-low: #26233b;
  --md-sys-color-surface-container: #312d47;
  --md-sys-color-surface-container-high: #3c3852;
  --md-sys-color-surface-container-highest: #252143;
  --md-sys-color-on-surface: #fffeff;
  --md-sys-color-surface-variant: #252143;
  --md-sys-color-on-surface-variant: #d0caeb;
  --md-sys-color-inverse-surface: #fcf8ff;
  --md-sys-color-inverse-on-surface: #56526d;
  --md-sys-color-outline: #a7a2c1;
  --md-sys-color-outline-variant: #8782a0;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #c7caff;
  --md-sys-color-primary: #c7caff;
  --md-sys-color-primary-dim: #959eff;
  --md-sys-color-on-primary: #000567;
  --md-sys-color-primary-container: #313aa1;
  --md-sys-color-on-primary-container: #ddddff;
  --md-sys-color-inverse-primary: #404ab0;
  --md-sys-color-primary-fixed: #313aa1;
  --md-sys-color-primary-fixed-dim: #242d95;
  --md-sys-color-on-primary-fixed: #c7caff;
  --md-sys-color-on-primary-fixed-variant: #959eff;
  --md-sys-color-secondary: #d0c8ff;
  --md-sys-color-secondary-dim: #c1b9f9;
  --md-sys-color-on-secondary: #312a61;
  --md-sys-color-secondary-container: #463f77;
  --md-sys-color-on-secondary-container: #e2dcff;
  --md-sys-color-secondary-fixed: #463f77;
  --md-sys-color-secondary-fixed-dim: #3b346b;
  --md-sys-color-on-secondary-fixed: #d0c8ff;
  --md-sys-color-on-secondary-fixed-variant: #a69edd;
  --md-sys-color-tertiary: #ffb9e3;
  --md-sys-color-tertiary-dim: #ff91da;
  --md-sys-color-on-tertiary: #540043;
  --md-sys-color-tertiary-container: #e37ac1;
  --md-sys-color-on-tertiary-container: #27001e;
  --md-sys-color-tertiary-fixed: #e37ac1;
  --md-sys-color-tertiary-fixed-dim: #d46db3;
  --md-sys-color-on-tertiary-fixed: #000000;
  --md-sys-color-on-tertiary-fixed-variant: #540043;
  --md-sys-color-error: #ffbdc3;
  --md-sys-color-error-dim: #ff7d8f;
  --md-sys-color-on-error: #3f000f;
  --md-sys-color-error-container: #871c34;
  --md-sys-color-on-error-container: #ffd6d9;
}

.dark-medium-contrast {
  --md-sys-color-primary-palette-key-color: #636dd5;
  --md-sys-color-secondary-palette-key-color: #7770ab;
  --md-sys-color-tertiary-palette-key-color: #b65398;
  --md-sys-color-neutral-palette-key-color: #787491;
  --md-sys-color-neutral-variant-palette-key-color: #78729a;
  --md-sys-color-error-palette-key-color: #c74d61;
  --md-sys-color-background: #000000;
  --md-sys-color-on-background: #ffffff;
  --md-sys-color-surface: #000000;
  --md-sys-color-surface-dim: #0e0b22;
  --md-sys-color-surface-bright: #2c2942;
  --md-sys-color-surface-container-lowest: #000000;
  --md-sys-color-surface-container-low: #26233b;
  --md-sys-color-surface-container: #312d47;
  --md-sys-color-surface-container-high: #3c3852;
  --md-sys-color-surface-container-highest: #252143;
  --md-sys-color-on-surface: #ffffff;
  --md-sys-color-surface-variant: #252143;
  --md-sys-color-on-surface-variant: #fffeff;
  --md-sys-color-inverse-surface: #fcf8ff;
  --md-sys-color-inverse-on-surface: #38354f;
  --md-sys-color-outline: #d0caeb;
  --md-sys-color-outline-variant: #a7a2c1;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #fffeff;
  --md-sys-color-primary: #fffeff;
  --md-sys-color-primary-dim: #c7caff;
  --md-sys-color-on-primary: #000563;
  --md-sys-color-primary-container: #313aa1;
  --md-sys-color-on-primary-container: #ffffff;
  --md-sys-color-inverse-primary: #202992;
  --md-sys-color-primary-fixed: #313aa1;
  --md-sys-color-primary-fixed-dim: #242d95;
  --md-sys-color-on-primary-fixed: #fffeff;
  --md-sys-color-on-primary-fixed-variant: #c7caff;
  --md-sys-color-secondary: #fffeff;
  --md-sys-color-secondary-dim: #d0c8ff;
  --md-sys-color-on-secondary: #180f47;
  --md-sys-color-secondary-container: #463f77;
  --md-sys-color-on-secondary-container: #ffffff;
  --md-sys-color-secondary-fixed: #463f77;
  --md-sys-color-secondary-fixed-dim: #3b346b;
  --md-sys-color-on-secondary-fixed: #fffeff;
  --md-sys-color-on-secondary-fixed-variant: #d0c8ff;
  --md-sys-color-tertiary: #fffeff;
  --md-sys-color-tertiary-dim: #ffb9e3;
  --md-sys-color-on-tertiary: #38002c;
  --md-sys-color-tertiary-container: #fb8ed6;
  --md-sys-color-on-tertiary-container: #000000;
  --md-sys-color-tertiary-fixed: #e37ac1;
  --md-sys-color-tertiary-fixed-dim: #d46db3;
  --md-sys-color-on-tertiary-fixed: #000000;
  --md-sys-color-on-tertiary-fixed-variant: #000000;
  --md-sys-color-error: #fffeff;
  --md-sys-color-error-dim: #ffbdc3;
  --md-sys-color-on-error: #3d000f;
  --md-sys-color-error-container: #871c34;
  --md-sys-color-on-error-container: #ffffff;
}

.dark-high-contrast {
  --md-sys-color-primary-palette-key-color: #636dd5;
  --md-sys-color-secondary-palette-key-color: #7770ab;
  --md-sys-color-tertiary-palette-key-color: #b65398;
  --md-sys-color-neutral-palette-key-color: #787491;
  --md-sys-color-neutral-variant-palette-key-color: #78729a;
  --md-sys-color-error-palette-key-color: #c74d61;
  --md-sys-color-background: #000000;
  --md-sys-color-on-background: #ffffff;
  --md-sys-color-surface: #000000;
  --md-sys-color-surface-dim: #0e0b22;
  --md-sys-color-surface-bright: #2c2942;
  --md-sys-color-surface-container-lowest: #000000;
  --md-sys-color-surface-container-low: #26233b;
  --md-sys-color-surface-container: #312d47;
  --md-sys-color-surface-container-high: #3c3852;
  --md-sys-color-surface-container-highest: #252143;
  --md-sys-color-on-surface: #ffffff;
  --md-sys-color-surface-variant: #252143;
  --md-sys-color-on-surface-variant: #ffffff;
  --md-sys-color-inverse-surface: #fcf8ff;
  --md-sys-color-inverse-on-surface: #000000;
  --md-sys-color-outline: #fffeff;
  --md-sys-color-outline-variant: #d0caeb;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #ffffff;
  --md-sys-color-primary: #ffffff;
  --md-sys-color-primary-dim: #fffeff;
  --md-sys-color-on-primary: #000000;
  --md-sys-color-primary-container: #313aa1;
  --md-sys-color-on-primary-container: #ffffff;
  --md-sys-color-inverse-primary: #000000;
  --md-sys-color-primary-fixed: #313aa1;
  --md-sys-color-primary-fixed-dim: #242d95;
  --md-sys-color-on-primary-fixed: #ffffff;
  --md-sys-color-on-primary-fixed-variant: #fffeff;
  --md-sys-color-secondary: #ffffff;
  --md-sys-color-secondary-dim: #fffeff;
  --md-sys-color-on-secondary: #000000;
  --md-sys-color-secondary-container: #463f77;
  --md-sys-color-on-secondary-container: #ffffff;
  --md-sys-color-secondary-fixed: #463f77;
  --md-sys-color-secondary-fixed-dim: #3b346b;
  --md-sys-color-on-secondary-fixed: #ffffff;
  --md-sys-color-on-secondary-fixed-variant: #fffeff;
  --md-sys-color-tertiary: #ffffff;
  --md-sys-color-tertiary-dim: #fffeff;
  --md-sys-color-on-tertiary: #000000;
  --md-sys-color-tertiary-container: #ff91da;
  --md-sys-color-on-tertiary-container: #000000;
  --md-sys-color-tertiary-fixed: #e37ac1;
  --md-sys-color-tertiary-fixed-dim: #d46db3;
  --md-sys-color-on-tertiary-fixed: #000000;
  --md-sys-color-on-tertiary-fixed-variant: #000000;
  --md-sys-color-error: #ffffff;
  --md-sys-color-error-dim: #fffeff;
  --md-sys-color-on-error: #000000;
  --md-sys-color-error-container: #871c34;
  --md-sys-color-on-error-container: #ffffff;
}

