.light {
  --md-sys-color-primary-palette-key-color: #5361fe;
  --md-sys-color-secondary-palette-key-color: #7668d2;
  --md-sys-color-tertiary-palette-key-color: #b65398;
  --md-sys-color-neutral-palette-key-color: #78729e;
  --md-sys-color-neutral-variant-palette-key-color: #7770ac;
  --md-sys-color-error-palette-key-color: #db365a;
  --md-sys-color-background: #f9f4ff;
  --md-sys-color-on-background: #2e2a50;
  --md-sys-color-surface: #f9f4ff;
  --md-sys-color-surface-dim: #d6cfff;
  --md-sys-color-surface-bright: #f9f4ff;
  --md-sys-color-surface-container-lowest: #ffffff;
  --md-sys-color-surface-container-low: #f4eeff;
  --md-sys-color-surface-container: #ebe5ff;
  --md-sys-color-surface-container-high: #e5deff;
  --md-sys-color-surface-container-highest: #dfd8ff;
  --md-sys-color-on-surface: #2e2a50;
  --md-sys-color-surface-variant: #dfd8ff;
  --md-sys-color-on-surface-variant: #5c5680;
  --md-sys-color-inverse-surface: #0d072e;
  --md-sys-color-inverse-on-surface: #9e97c5;
  --md-sys-color-outline: #77729d;
  --md-sys-color-outline-variant: #aea8d6;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #3644e4;
  --md-sys-color-primary: #3644e4;
  --md-sys-color-primary-dim: #2735d9;
  --md-sys-color-on-primary: #f3f1ff;
  --md-sys-color-primary-container: #8e98ff;
  --md-sys-color-on-primary-container: #00087d;
  --md-sys-color-inverse-primary: #7a85ff;
  --md-sys-color-primary-fixed: #8e98ff;
  --md-sys-color-primary-fixed-dim: #7d88ff;
  --md-sys-color-on-primary-fixed: #000000;
  --md-sys-color-on-primary-fixed-variant: #000b98;
  --md-sys-color-secondary: #5a4bb4;
  --md-sys-color-secondary-dim: #4e3fa7;
  --md-sys-color-on-secondary: #f6f0ff;
  --md-sys-color-secondary-container: #d3ccff;
  --md-sys-color-on-secondary-container: #45359f;
  --md-sys-color-secondary-fixed: #d3ccff;
  --md-sys-color-secondary-fixed-dim: #c5bcff;
  --md-sys-color-on-secondary-fixed: #321e8b;
  --md-sys-color-on-secondary-fixed-variant: #4f40a9;
  --md-sys-color-tertiary: #95377a;
  --md-sys-color-tertiary-dim: #862b6e;
  --md-sys-color-on-tertiary: #ffeef5;
  --md-sys-color-tertiary-container: #ff91da;
  --md-sys-color-on-tertiary-container: #640951;
  --md-sys-color-tertiary-fixed: #ff91da;
  --md-sys-color-tertiary-fixed-dim: #f084cc;
  --md-sys-color-on-tertiary-fixed: #3f0032;
  --md-sys-color-on-tertiary-fixed-variant: #6f165a;
  --md-sys-color-error: #b41340;
  --md-sys-color-error-dim: #a20036;
  --md-sys-color-on-error: #ffefef;
  --md-sys-color-error-container: #f74b6d;
  --md-sys-color-on-error-container: #510017;
}

.light-medium-contrast {
  --md-sys-color-primary-palette-key-color: #5361fe;
  --md-sys-color-secondary-palette-key-color: #7668d2;
  --md-sys-color-tertiary-palette-key-color: #b65398;
  --md-sys-color-neutral-palette-key-color: #78729e;
  --md-sys-color-neutral-variant-palette-key-color: #7770ac;
  --md-sys-color-error-palette-key-color: #db365a;
  --md-sys-color-background: #f9f4ff;
  --md-sys-color-on-background: #1f1a40;
  --md-sys-color-surface: #f9f4ff;
  --md-sys-color-surface-dim: #d6cfff;
  --md-sys-color-surface-bright: #f9f4ff;
  --md-sys-color-surface-container-lowest: #ffffff;
  --md-sys-color-surface-container-low: #f4eeff;
  --md-sys-color-surface-container: #ebe5ff;
  --md-sys-color-surface-container-high: #e5deff;
  --md-sys-color-surface-container-highest: #dfd8ff;
  --md-sys-color-on-surface: #1f1a40;
  --md-sys-color-surface-variant: #dfd8ff;
  --md-sys-color-on-surface-variant: #3f3a62;
  --md-sys-color-inverse-surface: #0d072e;
  --md-sys-color-inverse-on-surface: #c6bfef;
  --md-sys-color-outline: #5c5680;
  --md-sys-color-outline-variant: #77729d;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #0819ca;
  --md-sys-color-primary: #0819ca;
  --md-sys-color-primary-dim: #000faf;
  --md-sys-color-on-primary: #ced1ff;
  --md-sys-color-primary-container: #5361fe;
  --md-sys-color-on-primary-container: #ffffff;
  --md-sys-color-inverse-primary: #8993ff;
  --md-sys-color-primary-fixed: #5361fe;
  --md-sys-color-primary-fixed-dim: #4553f1;
  --md-sys-color-on-primary-fixed: #ffffff;
  --md-sys-color-on-primary-fixed-variant: #ffffff;
  --md-sys-color-secondary: #3d2c96;
  --md-sys-color-secondary-dim: #311e8b;
  --md-sys-color-on-secondary: #d6ceff;
  --md-sys-color-secondary-container: #7365d0;
  --md-sys-color-on-secondary-container: #ffffff;
  --md-sys-color-secondary-fixed: #7365d0;
  --md-sys-color-secondary-fixed-dim: #6759c2;
  --md-sys-color-on-secondary-fixed: #ffffff;
  --md-sys-color-on-secondary-fixed-variant: #ffffff;
  --md-sys-color-tertiary: #72185c;
  --md-sys-color-tertiary-dim: #640850;
  --md-sys-color-on-tertiary: #ffc3e6;
  --md-sys-color-tertiary-container: #b35195;
  --md-sys-color-on-tertiary-container: #ffffff;
  --md-sys-color-tertiary-fixed: #b35195;
  --md-sys-color-tertiary-fixed-dim: #a44488;
  --md-sys-color-on-tertiary-fixed: #ffffff;
  --md-sys-color-on-tertiary-fixed-variant: #ffffff;
  --md-sys-color-error: #83002a;
  --md-sys-color-error-dim: #6e0022;
  --md-sys-color-on-error: #ffc6ca;
  --md-sys-color-error-container: #d73357;
  --md-sys-color-on-error-container: #ffffff;
}

.light-high-contrast {
  --md-sys-color-primary-palette-key-color: #5361fe;
  --md-sys-color-secondary-palette-key-color: #7668d2;
  --md-sys-color-tertiary-palette-key-color: #b65398;
  --md-sys-color-neutral-palette-key-color: #78729e;
  --md-sys-color-neutral-variant-palette-key-color: #7770ac;
  --md-sys-color-error-palette-key-color: #db365a;
  --md-sys-color-background: #f9f4ff;
  --md-sys-color-on-background: #000000;
  --md-sys-color-surface: #f9f4ff;
  --md-sys-color-surface-dim: #d6cfff;
  --md-sys-color-surface-bright: #f9f4ff;
  --md-sys-color-surface-container-lowest: #ffffff;
  --md-sys-color-surface-container-low: #f4eeff;
  --md-sys-color-surface-container: #ebe5ff;
  --md-sys-color-surface-container-high: #e5deff;
  --md-sys-color-surface-container-highest: #dfd8ff;
  --md-sys-color-on-surface: #000000;
  --md-sys-color-surface-variant: #dfd8ff;
  --md-sys-color-on-surface-variant: #1f1a40;
  --md-sys-color-inverse-surface: #0d072e;
  --md-sys-color-inverse-on-surface: #ffffff;
  --md-sys-color-outline: #3f3a62;
  --md-sys-color-outline-variant: #5c5680;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #000674;
  --md-sys-color-primary: #000674;
  --md-sys-color-primary-dim: #000457;
  --md-sys-color-on-primary: #cfd1ff;
  --md-sys-color-primary-container: #3644e4;
  --md-sys-color-on-primary-container: #ffffff;
  --md-sys-color-inverse-primary: #bbc0ff;
  --md-sys-color-primary-fixed: #3644e4;
  --md-sys-color-primary-fixed-dim: #2735d9;
  --md-sys-color-on-primary-fixed: #ffffff;
  --md-sys-color-on-primary-fixed-variant: #ffffff;
  --md-sys-color-secondary: #1c006f;
  --md-sys-color-secondary-dim: #130053;
  --md-sys-color-on-secondary: #d6cfff;
  --md-sys-color-secondary-container: #5a4bb4;
  --md-sys-color-on-secondary-container: #ffffff;
  --md-sys-color-secondary-fixed: #5a4bb4;
  --md-sys-color-secondary-fixed-dim: #4e3fa7;
  --md-sys-color-on-secondary-fixed: #ffffff;
  --md-sys-color-on-secondary-fixed-variant: #ffffff;
  --md-sys-color-tertiary: #420034;
  --md-sys-color-tertiary-dim: #300025;
  --md-sys-color-on-tertiary: #ffc3e6;
  --md-sys-color-tertiary-container: #95377a;
  --md-sys-color-on-tertiary-container: #ffffff;
  --md-sys-color-tertiary-fixed: #95377a;
  --md-sys-color-tertiary-fixed-dim: #862b6e;
  --md-sys-color-on-tertiary-fixed: #ffffff;
  --md-sys-color-on-tertiary-fixed-variant: #ffffff;
  --md-sys-color-error: #470013;
  --md-sys-color-error-dim: #34000c;
  --md-sys-color-on-error: #ffc6cb;
  --md-sys-color-error-container: #b41340;
  --md-sys-color-on-error-container: #ffffff;
}

.dark {
  --md-sys-color-primary-palette-key-color: #5361fe;
  --md-sys-color-secondary-palette-key-color: #7668d2;
  --md-sys-color-tertiary-palette-key-color: #b65398;
  --md-sys-color-neutral-palette-key-color: #78729e;
  --md-sys-color-neutral-variant-palette-key-color: #7770ac;
  --md-sys-color-error-palette-key-color: #db365a;
  --md-sys-color-background: #0d072e;
  --md-sys-color-on-background: #e8e2ff;
  --md-sys-color-surface: #0d072e;
  --md-sys-color-surface-dim: #0d072e;
  --md-sys-color-surface-bright: #2b235e;
  --md-sys-color-surface-container-lowest: #000000;
  --md-sys-color-surface-container-low: #120c37;
  --md-sys-color-surface-container: #191241;
  --md-sys-color-surface-container-high: #1f174a;
  --md-sys-color-surface-container-highest: #251d54;
  --md-sys-color-on-surface: #e8e2ff;
  --md-sys-color-surface-variant: #251d54;
  --md-sys-color-on-surface-variant: #aca6d4;
  --md-sys-color-inverse-surface: #fcf8ff;
  --md-sys-color-inverse-on-surface: #555079;
  --md-sys-color-outline: #76709c;
  --md-sys-color-outline-variant: #48436b;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #9fa7ff;
  --md-sys-color-primary: #9fa7ff;
  --md-sys-color-primary-dim: #5361fe;
  --md-sys-color-on-primary: #000c9f;
  --md-sys-color-primary-container: #8e98ff;
  --md-sys-color-on-primary-container: #00087d;
  --md-sys-color-inverse-primary: #3a48e8;
  --md-sys-color-primary-fixed: #8e98ff;
  --md-sys-color-primary-fixed-dim: #7d88ff;
  --md-sys-color-on-primary-fixed: #000000;
  --md-sys-color-on-primary-fixed-variant: #000b98;
  --md-sys-color-secondary: #c8bfff;
  --md-sys-color-secondary-dim: #9d8ffd;
  --md-sys-color-on-secondary: #3e2d97;
  --md-sys-color-secondary-container: #45359e;
  --md-sys-color-on-secondary-container: #d2caff;
  --md-sys-color-secondary-fixed: #d3ccff;
  --md-sys-color-secondary-fixed-dim: #c5bcff;
  --md-sys-color-on-secondary-fixed: #321e8b;
  --md-sys-color-on-secondary-fixed-variant: #4f40a9;
  --md-sys-color-tertiary: #ffa9df;
  --md-sys-color-tertiary-dim: #ff91da;
  --md-sys-color-on-tertiary: #71175b;
  --md-sys-color-tertiary-container: #ff91da;
  --md-sys-color-on-tertiary-container: #640951;
  --md-sys-color-tertiary-fixed: #ff91da;
  --md-sys-color-tertiary-fixed-dim: #f084cc;
  --md-sys-color-on-tertiary-fixed: #3f0032;
  --md-sys-color-on-tertiary-fixed-variant: #6f165a;
  --md-sys-color-error: #ff6e84;
  --md-sys-color-error-dim: #d73357;
  --md-sys-color-on-error: #490013;
  --md-sys-color-error-container: #a70138;
  --md-sys-color-on-error-container: #ffb2b9;
}

.dark-medium-contrast {
  --md-sys-color-primary-palette-key-color: #5361fe;
  --md-sys-color-secondary-palette-key-color: #7668d2;
  --md-sys-color-tertiary-palette-key-color: #b65398;
  --md-sys-color-neutral-palette-key-color: #78729e;
  --md-sys-color-neutral-variant-palette-key-color: #7770ac;
  --md-sys-color-error-palette-key-color: #db365a;
  --md-sys-color-background: #0d072e;
  --md-sys-color-on-background: #ffffff;
  --md-sys-color-surface: #0d072e;
  --md-sys-color-surface-dim: #0d072e;
  --md-sys-color-surface-bright: #2b235e;
  --md-sys-color-surface-container-lowest: #000000;
  --md-sys-color-surface-container-low: #120c37;
  --md-sys-color-surface-container: #191241;
  --md-sys-color-surface-container-high: #1f174a;
  --md-sys-color-surface-container-highest: #251d54;
  --md-sys-color-on-surface: #ffffff;
  --md-sys-color-surface-variant: #251d54;
  --md-sys-color-on-surface-variant: #bab3e3;
  --md-sys-color-inverse-surface: #fcf8ff;
  --md-sys-color-inverse-on-surface: #38335a;
  --md-sys-color-outline: #948ebb;
  --md-sys-color-outline-variant: #76709c;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #adb3ff;
  --md-sys-color-primary: #adb3ff;
  --md-sys-color-primary-dim: #9ba3ff;
  --md-sys-color-on-primary: #000b98;
  --md-sys-color-primary-container: #8e98ff;
  --md-sys-color-on-primary-container: #000354;
  --md-sys-color-inverse-primary: #2e3cde;
  --md-sys-color-primary-fixed: #8e98ff;
  --md-sys-color-primary-fixed-dim: #7d88ff;
  --md-sys-color-on-primary-fixed: #000000;
  --md-sys-color-on-primary-fixed-variant: #000000;
  --md-sys-color-secondary: #c8bfff;
  --md-sys-color-secondary-dim: #aa9eff;
  --md-sys-color-on-secondary: #34208d;
  --md-sys-color-secondary-container: #7365d0;
  --md-sys-color-on-secondary-container: #ffffff;
  --md-sys-color-secondary-fixed: #d3ccff;
  --md-sys-color-secondary-fixed-dim: #c5bcff;
  --md-sys-color-on-secondary-fixed: #0b003d;
  --md-sys-color-on-secondary-fixed-variant: #321e8b;
  --md-sys-color-tertiary: #ffa9df;
  --md-sys-color-tertiary-dim: #ff91da;
  --md-sys-color-on-tertiary: #640850;
  --md-sys-color-tertiary-container: #ff91da;
  --md-sys-color-on-tertiary-container: #540043;
  --md-sys-color-tertiary-fixed: #ff91da;
  --md-sys-color-tertiary-fixed-dim: #f084cc;
  --md-sys-color-on-tertiary-fixed: #000000;
  --md-sys-color-on-tertiary-fixed-variant: #3f0032;
  --md-sys-color-error: #ff9da8;
  --md-sys-color-error-dim: #ff8695;
  --md-sys-color-on-error: #5f001c;
  --md-sys-color-error-container: #d73357;
  --md-sys-color-on-error-container: #ffffff;
}

.dark-high-contrast {
  --md-sys-color-primary-palette-key-color: #5361fe;
  --md-sys-color-secondary-palette-key-color: #7668d2;
  --md-sys-color-tertiary-palette-key-color: #b65398;
  --md-sys-color-neutral-palette-key-color: #78729e;
  --md-sys-color-neutral-variant-palette-key-color: #7770ac;
  --md-sys-color-error-palette-key-color: #db365a;
  --md-sys-color-background: #0d072e;
  --md-sys-color-on-background: #ffffff;
  --md-sys-color-surface: #0d072e;
  --md-sys-color-surface-dim: #0d072e;
  --md-sys-color-surface-bright: #2b235e;
  --md-sys-color-surface-container-lowest: #000000;
  --md-sys-color-surface-container-low: #120c37;
  --md-sys-color-surface-container: #191241;
  --md-sys-color-surface-container-high: #1f174a;
  --md-sys-color-surface-container-highest: #251d54;
  --md-sys-color-on-surface: #ffffff;
  --md-sys-color-surface-variant: #251d54;
  --md-sys-color-on-surface-variant: #e8e2ff;
  --md-sys-color-inverse-surface: #fcf8ff;
  --md-sys-color-inverse-on-surface: #000000;
  --md-sys-color-outline: #bab3e3;
  --md-sys-color-outline-variant: #948ebb;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #e3e3ff;
  --md-sys-color-primary: #e3e3ff;
  --md-sys-color-primary-dim: #cfd1ff;
  --md-sys-color-on-primary: #000b98;
  --md-sys-color-primary-container: #8e98ff;
  --md-sys-color-on-primary-container: #000000;
  --md-sys-color-inverse-primary: #0010bb;
  --md-sys-color-primary-fixed: #8e98ff;
  --md-sys-color-primary-fixed-dim: #7d88ff;
  --md-sys-color-on-primary-fixed: #000000;
  --md-sys-color-on-primary-fixed-variant: #000000;
  --md-sys-color-secondary: #e8e2ff;
  --md-sys-color-secondary-dim: #d6cfff;
  --md-sys-color-on-secondary: #291183;
  --md-sys-color-secondary-container: #9d8ffd;
  --md-sys-color-on-secondary-container: #000000;
  --md-sys-color-secondary-fixed: #d3ccff;
  --md-sys-color-secondary-fixed-dim: #c5bcff;
  --md-sys-color-on-secondary-fixed: #000000;
  --md-sys-color-on-secondary-fixed-variant: #0b003d;
  --md-sys-color-tertiary: #ffdcee;
  --md-sys-color-tertiary-dim: #ffc4e6;
  --md-sys-color-on-tertiary: #580046;
  --md-sys-color-tertiary-container: #ff91da;
  --md-sys-color-on-tertiary-container: #000000;
  --md-sys-color-tertiary-fixed: #ff91da;
  --md-sys-color-tertiary-fixed-dim: #f084cc;
  --md-sys-color-on-tertiary-fixed: #000000;
  --md-sys-color-on-tertiary-fixed-variant: #000000;
  --md-sys-color-error: #ffdddf;
  --md-sys-color-error-dim: #ffc7cb;
  --md-sys-color-on-error: #5f001c;
  --md-sys-color-error-container: #ff6e84;
  --md-sys-color-on-error-container: #000000;
}

