.light {
  --md-sys-color-primary-palette-key-color: #a85aaa;
  --md-sys-color-secondary-palette-key-color: #a36853;
  --md-sys-color-tertiary-palette-key-color: #f1d8ff;
  --md-sys-color-neutral-palette-key-color: #797676;
  --md-sys-color-neutral-variant-palette-key-color: #81737e;
  --md-sys-color-error-palette-key-color: #de3730;
  --md-sys-color-background: #000000;
  --md-sys-color-on-background: #ffffff;
  --md-sys-color-surface: #000000;
  --md-sys-color-surface-dim: #0f0e0e;
  --md-sys-color-surface-bright: #2d2c2c;
  --md-sys-color-surface-container-lowest: #000000;
  --md-sys-color-surface-container-low: #272525;
  --md-sys-color-surface-container: #323030;
  --md-sys-color-surface-container-high: #3d3b3b;
  --md-sys-color-surface-container-highest: #272525;
  --md-sys-color-on-surface: #ece7e6;
  --md-sys-color-surface-variant: #272525;
  --md-sys-color-on-surface-variant: #d1cdcc;
  --md-sys-color-inverse-surface: #fdf8f8;
  --md-sys-color-inverse-on-surface: #575454;
  --md-sys-color-outline: #a9a5a4;
  --md-sys-color-outline-variant: #888585;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #ffb6fd;
  --md-sys-color-primary: #ffb6fd;
  --md-sys-color-primary-dim: #f9a2f9;
  --md-sys-color-on-primary: #570d5f;
  --md-sys-color-primary-container: #702776;
  --md-sys-color-on-primary-container: #ffd2fa;
  --md-sys-color-inverse-primary: #813785;
  --md-sys-color-primary-fixed: #702776;
  --md-sys-color-primary-fixed-dim: #631a69;
  --md-sys-color-on-primary-fixed: #ffb6fd;
  --md-sys-color-on-primary-fixed-variant: #dc88dc;
  --md-sys-color-secondary: #ffc0aa;
  --md-sys-color-secondary-dim: #f6b098;
  --md-sys-color-on-secondary: #512515;
  --md-sys-color-secondary-container: #6b3a28;
  --md-sys-color-on-secondary-container: #ffd8cb;
  --md-sys-color-secondary-fixed: #6b3a28;
  --md-sys-color-secondary-fixed-dim: #5d2f1d;
  --md-sys-color-on-secondary-fixed: #ffc0aa;
  --md-sys-color-on-secondary-fixed-variant: #d8967f;
  --md-sys-color-tertiary: #e5c0ff;
  --md-sys-color-tertiary-dim: #cb89ff;
  --md-sys-color-on-tertiary: #2d004c;
  --md-sys-color-tertiary-container: #a000fd;
  --md-sys-color-on-tertiary-container: #ffffff;
  --md-sys-color-tertiary-fixed: #a000fd;
  --md-sys-color-tertiary-fixed-dim: #8e00e2;
  --md-sys-color-on-tertiary-fixed: #ffffff;
  --md-sys-color-on-tertiary-fixed-variant: #eccdff;
  --md-sys-color-error: #ffbeb7;
  --md-sys-color-error-dim: #ff8073;
  --md-sys-color-on-error: #400002;
  --md-sys-color-error-container: #93000a;
  --md-sys-color-on-error-container: #ffd7d2;
}

.light-medium-contrast {
  --md-sys-color-primary-palette-key-color: #a85aaa;
  --md-sys-color-secondary-palette-key-color: #a36853;
  --md-sys-color-tertiary-palette-key-color: #f1d8ff;
  --md-sys-color-neutral-palette-key-color: #797676;
  --md-sys-color-neutral-variant-palette-key-color: #81737e;
  --md-sys-color-error-palette-key-color: #de3730;
  --md-sys-color-background: #000000;
  --md-sys-color-on-background: #ffffff;
  --md-sys-color-surface: #000000;
  --md-sys-color-surface-dim: #0f0e0e;
  --md-sys-color-surface-bright: #2d2c2c;
  --md-sys-color-surface-container-lowest: #000000;
  --md-sys-color-surface-container-low: #272525;
  --md-sys-color-surface-container: #323030;
  --md-sys-color-surface-container-high: #3d3b3b;
  --md-sys-color-surface-container-highest: #272525;
  --md-sys-color-on-surface: #fffeff;
  --md-sys-color-surface-variant: #272525;
  --md-sys-color-on-surface-variant: #fffeff;
  --md-sys-color-inverse-surface: #fdf8f8;
  --md-sys-color-inverse-on-surface: #393838;
  --md-sys-color-outline: #d1cdcc;
  --md-sys-color-outline-variant: #a9a5a4;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #fffeff;
  --md-sys-color-primary: #fffeff;
  --md-sys-color-primary-dim: #ffb6fd;
  --md-sys-color-on-primary: #330039;
  --md-sys-color-primary-container: #702776;
  --md-sys-color-on-primary-container: #ffffff;
  --md-sys-color-inverse-primary: #5f1666;
  --md-sys-color-primary-fixed: #702776;
  --md-sys-color-primary-fixed-dim: #631a69;
  --md-sys-color-on-primary-fixed: #fffeff;
  --md-sys-color-on-primary-fixed-variant: #ffb6fd;
  --md-sys-color-secondary: #fffeff;
  --md-sys-color-secondary-dim: #ffc0aa;
  --md-sys-color-on-secondary: #330e02;
  --md-sys-color-secondary-container: #6b3a28;
  --md-sys-color-on-secondary-container: #ffffff;
  --md-sys-color-secondary-fixed: #6b3a28;
  --md-sys-color-secondary-fixed-dim: #5d2f1d;
  --md-sys-color-on-secondary-fixed: #fffeff;
  --md-sys-color-on-secondary-fixed-variant: #ffc0aa;
  --md-sys-color-tertiary: #fffeff;
  --md-sys-color-tertiary-dim: #e5c0ff;
  --md-sys-color-on-tertiary: #2b004a;
  --md-sys-color-tertiary-container: #a000fd;
  --md-sys-color-on-tertiary-container: #ffffff;
  --md-sys-color-tertiary-fixed: #a000fd;
  --md-sys-color-tertiary-fixed-dim: #8e00e2;
  --md-sys-color-on-tertiary-fixed: #ffffff;
  --md-sys-color-on-tertiary-fixed-variant: #ffffff;
  --md-sys-color-error: #fffeff;
  --md-sys-color-error-dim: #ffbeb7;
  --md-sys-color-on-error: #3d0002;
  --md-sys-color-error-container: #93000a;
  --md-sys-color-on-error-container: #ffffff;
}

.light-high-contrast {
  --md-sys-color-primary-palette-key-color: #a85aaa;
  --md-sys-color-secondary-palette-key-color: #a36853;
  --md-sys-color-tertiary-palette-key-color: #f1d8ff;
  --md-sys-color-neutral-palette-key-color: #797676;
  --md-sys-color-neutral-variant-palette-key-color: #81737e;
  --md-sys-color-error-palette-key-color: #de3730;
  --md-sys-color-background: #000000;
  --md-sys-color-on-background: #ffffff;
  --md-sys-color-surface: #000000;
  --md-sys-color-surface-dim: #0f0e0e;
  --md-sys-color-surface-bright: #2d2c2c;
  --md-sys-color-surface-container-lowest: #000000;
  --md-sys-color-surface-container-low: #272525;
  --md-sys-color-surface-container: #323030;
  --md-sys-color-surface-container-high: #3d3b3b;
  --md-sys-color-surface-container-highest: #272525;
  --md-sys-color-on-surface: #ffffff;
  --md-sys-color-surface-variant: #272525;
  --md-sys-color-on-surface-variant: #ffffff;
  --md-sys-color-inverse-surface: #fdf8f8;
  --md-sys-color-inverse-on-surface: #000000;
  --md-sys-color-outline: #fffeff;
  --md-sys-color-outline-variant: #d1cdcc;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #ffffff;
  --md-sys-color-primary: #ffffff;
  --md-sys-color-primary-dim: #fffeff;
  --md-sys-color-on-primary: #000000;
  --md-sys-color-primary-container: #702776;
  --md-sys-color-on-primary-container: #ffffff;
  --md-sys-color-inverse-primary: #000000;
  --md-sys-color-primary-fixed: #702776;
  --md-sys-color-primary-fixed-dim: #631a69;
  --md-sys-color-on-primary-fixed: #ffffff;
  --md-sys-color-on-primary-fixed-variant: #fffeff;
  --md-sys-color-secondary: #ffffff;
  --md-sys-color-secondary-dim: #fffeff;
  --md-sys-color-on-secondary: #000000;
  --md-sys-color-secondary-container: #6b3a28;
  --md-sys-color-on-secondary-container: #ffffff;
  --md-sys-color-secondary-fixed: #6b3a28;
  --md-sys-color-secondary-fixed-dim: #5d2f1d;
  --md-sys-color-on-secondary-fixed: #ffffff;
  --md-sys-color-on-secondary-fixed-variant: #fffeff;
  --md-sys-color-tertiary: #ffffff;
  --md-sys-color-tertiary-dim: #fffeff;
  --md-sys-color-on-tertiary: #000000;
  --md-sys-color-tertiary-container: #a000fd;
  --md-sys-color-on-tertiary-container: #ffffff;
  --md-sys-color-tertiary-fixed: #a000fd;
  --md-sys-color-tertiary-fixed-dim: #8e00e2;
  --md-sys-color-on-tertiary-fixed: #ffffff;
  --md-sys-color-on-tertiary-fixed-variant: #ffffff;
  --md-sys-color-error: #ffffff;
  --md-sys-color-error-dim: #fffeff;
  --md-sys-color-on-error: #000000;
  --md-sys-color-error-container: #93000a;
  --md-sys-color-on-error-container: #ffffff;
}

.dark {
  --md-sys-color-primary-palette-key-color: #a85aaa;
  --md-sys-color-secondary-palette-key-color: #a36853;
  --md-sys-color-tertiary-palette-key-color: #f1d8ff;
  --md-sys-color-neutral-palette-key-color: #797676;
  --md-sys-color-neutral-variant-palette-key-color: #81737e;
  --md-sys-color-error-palette-key-color: #de3730;
  --md-sys-color-background: #000000;
  --md-sys-color-on-background: #ffffff;
  --md-sys-color-surface: #000000;
  --md-sys-color-surface-dim: #0f0e0e;
  --md-sys-color-surface-bright: #2d2c2c;
  --md-sys-color-surface-container-lowest: #000000;
  --md-sys-color-surface-container-low: #272525;
  --md-sys-color-surface-container: #323030;
  --md-sys-color-surface-container-high: #3d3b3b;
  --md-sys-color-surface-container-highest: #272525;
  --md-sys-color-on-surface: #ece7e6;
  --md-sys-color-surface-variant: #272525;
  --md-sys-color-on-surface-variant: #d1cdcc;
  --md-sys-color-inverse-surface: #fdf8f8;
  --md-sys-color-inverse-on-surface: #575454;
  --md-sys-color-outline: #a9a5a4;
  --md-sys-color-outline-variant: #888585;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #ffb6fd;
  --md-sys-color-primary: #ffb6fd;
  --md-sys-color-primary-dim: #f9a2f9;
  --md-sys-color-on-primary: #570d5f;
  --md-sys-color-primary-container: #702776;
  --md-sys-color-on-primary-container: #ffd2fa;
  --md-sys-color-inverse-primary: #813785;
  --md-sys-color-primary-fixed: #702776;
  --md-sys-color-primary-fixed-dim: #631a69;
  --md-sys-color-on-primary-fixed: #ffb6fd;
  --md-sys-color-on-primary-fixed-variant: #dc88dc;
  --md-sys-color-secondary: #ffc0aa;
  --md-sys-color-secondary-dim: #f6b098;
  --md-sys-color-on-secondary: #512515;
  --md-sys-color-secondary-container: #6b3a28;
  --md-sys-color-on-secondary-container: #ffd8cb;
  --md-sys-color-secondary-fixed: #6b3a28;
  --md-sys-color-secondary-fixed-dim: #5d2f1d;
  --md-sys-color-on-secondary-fixed: #ffc0aa;
  --md-sys-color-on-secondary-fixed-variant: #d8967f;
  --md-sys-color-tertiary: #e5c0ff;
  --md-sys-color-tertiary-dim: #cb89ff;
  --md-sys-color-on-tertiary: #2d004c;
  --md-sys-color-tertiary-container: #a000fd;
  --md-sys-color-on-tertiary-container: #ffffff;
  --md-sys-color-tertiary-fixed: #a000fd;
  --md-sys-color-tertiary-fixed-dim: #8e00e2;
  --md-sys-color-on-tertiary-fixed: #ffffff;
  --md-sys-color-on-tertiary-fixed-variant: #eccdff;
  --md-sys-color-error: #ffbeb7;
  --md-sys-color-error-dim: #ff8073;
  --md-sys-color-on-error: #400002;
  --md-sys-color-error-container: #93000a;
  --md-sys-color-on-error-container: #ffd7d2;
}

.dark-medium-contrast {
  --md-sys-color-primary-palette-key-color: #a85aaa;
  --md-sys-color-secondary-palette-key-color: #a36853;
  --md-sys-color-tertiary-palette-key-color: #f1d8ff;
  --md-sys-color-neutral-palette-key-color: #797676;
  --md-sys-color-neutral-variant-palette-key-color: #81737e;
  --md-sys-color-error-palette-key-color: #de3730;
  --md-sys-color-background: #000000;
  --md-sys-color-on-background: #ffffff;
  --md-sys-color-surface: #000000;
  --md-sys-color-surface-dim: #0f0e0e;
  --md-sys-color-surface-bright: #2d2c2c;
  --md-sys-color-surface-container-lowest: #000000;
  --md-sys-color-surface-container-low: #272525;
  --md-sys-color-surface-container: #323030;
  --md-sys-color-surface-container-high: #3d3b3b;
  --md-sys-color-surface-container-highest: #272525;
  --md-sys-color-on-surface: #fffeff;
  --md-sys-color-surface-variant: #272525;
  --md-sys-color-on-surface-variant: #fffeff;
  --md-sys-color-inverse-surface: #fdf8f8;
  --md-sys-color-inverse-on-surface: #393838;
  --md-sys-color-outline: #d1cdcc;
  --md-sys-color-outline-variant: #a9a5a4;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #fffeff;
  --md-sys-color-primary: #fffeff;
  --md-sys-color-primary-dim: #ffb6fd;
  --md-sys-color-on-primary: #330039;
  --md-sys-color-primary-container: #702776;
  --md-sys-color-on-primary-container: #ffffff;
  --md-sys-color-inverse-primary: #5f1666;
  --md-sys-color-primary-fixed: #702776;
  --md-sys-color-primary-fixed-dim: #631a69;
  --md-sys-color-on-primary-fixed: #fffeff;
  --md-sys-color-on-primary-fixed-variant: #ffb6fd;
  --md-sys-color-secondary: #fffeff;
  --md-sys-color-secondary-dim: #ffc0aa;
  --md-sys-color-on-secondary: #330e02;
  --md-sys-color-secondary-container: #6b3a28;
  --md-sys-color-on-secondary-container: #ffffff;
  --md-sys-color-secondary-fixed: #6b3a28;
  --md-sys-color-secondary-fixed-dim: #5d2f1d;
  --md-sys-color-on-secondary-fixed: #fffeff;
  --md-sys-color-on-secondary-fixed-variant: #ffc0aa;
  --md-sys-color-tertiary: #fffeff;
  --md-sys-color-tertiary-dim: #e5c0ff;
  --md-sys-color-on-tertiary: #2b004a;
  --md-sys-color-tertiary-container: #a000fd;
  --md-sys-color-on-tertiary-container: #ffffff;
  --md-sys-color-tertiary-fixed: #a000fd;
  --md-sys-color-tertiary-fixed-dim: #8e00e2;
  --md-sys-color-on-tertiary-fixed: #ffffff;
  --md-sys-color-on-tertiary-fixed-variant: #ffffff;
  --md-sys-color-error: #fffeff;
  --md-sys-color-error-dim: #ffbeb7;
  --md-sys-color-on-error: #3d0002;
  --md-sys-color-error-container: #93000a;
  --md-sys-color-on-error-container: #ffffff;
}

.dark-high-contrast {
  --md-sys-color-primary-palette-key-color: #a85aaa;
  --md-sys-color-secondary-palette-key-color: #a36853;
  --md-sys-color-tertiary-palette-key-color: #f1d8ff;
  --md-sys-color-neutral-palette-key-color: #797676;
  --md-sys-color-neutral-variant-palette-key-color: #81737e;
  --md-sys-color-error-palette-key-color: #de3730;
  --md-sys-color-background: #000000;
  --md-sys-color-on-background: #ffffff;
  --md-sys-color-surface: #000000;
  --md-sys-color-surface-dim: #0f0e0e;
  --md-sys-color-surface-bright: #2d2c2c;
  --md-sys-color-surface-container-lowest: #000000;
  --md-sys-color-surface-container-low: #272525;
  --md-sys-color-surface-container: #323030;
  --md-sys-color-surface-container-high: #3d3b3b;
  --md-sys-color-surface-container-highest: #272525;
  --md-sys-color-on-surface: #ffffff;
  --md-sys-color-surface-variant: #272525;
  --md-sys-color-on-surface-variant: #ffffff;
  --md-sys-color-inverse-surface: #fdf8f8;
  --md-sys-color-inverse-on-surface: #000000;
  --md-sys-color-outline: #fffeff;
  --md-sys-color-outline-variant: #d1cdcc;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #ffffff;
  --md-sys-color-primary: #ffffff;
  --md-sys-color-primary-dim: #fffeff;
  --md-sys-color-on-primary: #000000;
  --md-sys-color-primary-container: #702776;
  --md-sys-color-on-primary-container: #ffffff;
  --md-sys-color-inverse-primary: #000000;
  --md-sys-color-primary-fixed: #702776;
  --md-sys-color-primary-fixed-dim: #631a69;
  --md-sys-color-on-primary-fixed: #ffffff;
  --md-sys-color-on-primary-fixed-variant: #fffeff;
  --md-sys-color-secondary: #ffffff;
  --md-sys-color-secondary-dim: #fffeff;
  --md-sys-color-on-secondary: #000000;
  --md-sys-color-secondary-container: #6b3a28;
  --md-sys-color-on-secondary-container: #ffffff;
  --md-sys-color-secondary-fixed: #6b3a28;
  --md-sys-color-secondary-fixed-dim: #5d2f1d;
  --md-sys-color-on-secondary-fixed: #ffffff;
  --md-sys-color-on-secondary-fixed-variant: #fffeff;
  --md-sys-color-tertiary: #ffffff;
  --md-sys-color-tertiary-dim: #fffeff;
  --md-sys-color-on-tertiary: #000000;
  --md-sys-color-tertiary-container: #a000fd;
  --md-sys-color-on-tertiary-container: #ffffff;
  --md-sys-color-tertiary-fixed: #a000fd;
  --md-sys-color-tertiary-fixed-dim: #8e00e2;
  --md-sys-color-on-tertiary-fixed: #ffffff;
  --md-sys-color-on-tertiary-fixed-variant: #ffffff;
  --md-sys-color-error: #ffffff;
  --md-sys-color-error-dim: #fffeff;
  --md-sys-color-on-error: #000000;
  --md-sys-color-error-container: #93000a;
  --md-sys-color-on-error-container: #ffffff;
}

