.light {
  --md-sys-color-primary-palette-key-color: #a85aaa;
  --md-sys-color-secondary-palette-key-color: #a36853;
  --md-sys-color-tertiary-palette-key-color: #f1d8ff;
  --md-sys-color-neutral-palette-key-color: #797676;
  --md-sys-color-neutral-variant-palette-key-color: #81737e;
  --md-sys-color-error-palette-key-color: #de3730;
  --md-sys-color-background: #fdf8f8;
  --md-sys-color-on-background: #1c1b1b;
  --md-sys-color-surface: #fdf8f8;
  --md-sys-color-surface-dim: #ded9d8;
  --md-sys-color-surface-bright: #fdf8f8;
  --md-sys-color-surface-container-lowest: #ffffff;
  --md-sys-color-surface-container-low: #f7f2f2;
  --md-sys-color-surface-container: #f2edec;
  --md-sys-color-surface-container-high: #ece7e6;
  --md-sys-color-surface-container-highest: #e6e1e1;
  --md-sys-color-on-surface: #1c1b1b;
  --md-sys-color-surface-variant: #f0ddeb;
  --md-sys-color-on-surface-variant: #4f434e;
  --md-sys-color-inverse-surface: #323030;
  --md-sys-color-inverse-on-surface: #f5f0ef;
  --md-sys-color-outline: #81737e;
  --md-sys-color-outline-variant: #d3c1ce;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #8b418f;
  --md-sys-color-primary: #712876;
  --md-sys-color-primary-dim: #964a9a;
  --md-sys-color-on-primary: #ffffff;
  --md-sys-color-primary-container: #8c4190;
  --md-sys-color-on-primary-container: #ffc8fb;
  --md-sys-color-inverse-primary: #ffa9fe;
  --md-sys-color-primary-fixed: #ffd6fa;
  --md-sys-color-primary-fixed-dim: #ffa9fe;
  --md-sys-color-on-primary-fixed: #36003c;
  --md-sys-color-on-primary-fixed-variant: #702776;
  --md-sys-color-secondary: #86513d;
  --md-sys-color-secondary-dim: #915a46;
  --md-sys-color-on-secondary: #ffffff;
  --md-sys-color-secondary-container: #fdb69d;
  --md-sys-color-on-secondary-container: #784532;
  --md-sys-color-secondary-fixed: #ffdbcf;
  --md-sys-color-secondary-fixed-dim: #fdb69d;
  --md-sys-color-on-secondary-fixed: #351003;
  --md-sys-color-on-secondary-fixed-variant: #6b3a28;
  --md-sys-color-tertiary: #6d00af;
  --md-sys-color-tertiary-dim: #9c00f7;
  --md-sys-color-on-tertiary: #ffffff;
  --md-sys-color-tertiary-container: #8f00e3;
  --md-sys-color-on-tertiary-container: #eccfff;
  --md-sys-color-tertiary-fixed: #f2daff;
  --md-sys-color-tertiary-fixed-dim: #e1b6ff;
  --md-sys-color-on-tertiary-fixed: #2e004e;
  --md-sys-color-on-tertiary-fixed-variant: #6c00ae;
  --md-sys-color-error: #ba1a1a;
  --md-sys-color-error-dim: #ac0c12;
  --md-sys-color-on-error: #ffffff;
  --md-sys-color-error-container: #ffdad6;
  --md-sys-color-on-error-container: #93000a;
  --md-sys-color-control-activated: #ffd6fa;
  --md-sys-color-control-normal: #4f434e;
  --md-sys-color-control-highlight: #0000001f;
  --md-sys-color-text-primary-inverse: #e6e1e1;
  --md-sys-color-text-secondary-and-tertiary-inverse: #d3c1ce;
  --md-sys-color-text-primary-inverse-disable-only: #e6e1e1;
  --md-sys-color-text-secondary-and-tertiary-inverse-disabled: #e6e1e1;
  --md-sys-color-text-hint-inverse: #e6e1e1;
}

.light-medium-contrast {
  --md-sys-color-primary-palette-key-color: #a85aaa;
  --md-sys-color-secondary-palette-key-color: #a36853;
  --md-sys-color-tertiary-palette-key-color: #f1d8ff;
  --md-sys-color-neutral-palette-key-color: #797676;
  --md-sys-color-neutral-variant-palette-key-color: #81737e;
  --md-sys-color-error-palette-key-color: #de3730;
  --md-sys-color-background: #fdf8f8;
  --md-sys-color-on-background: #1c1b1b;
  --md-sys-color-surface: #fdf8f8;
  --md-sys-color-surface-dim: #cac5c5;
  --md-sys-color-surface-bright: #fdf8f8;
  --md-sys-color-surface-container-lowest: #ffffff;
  --md-sys-color-surface-container-low: #f7f2f2;
  --md-sys-color-surface-container: #ece7e6;
  --md-sys-color-surface-container-high: #e0dcdb;
  --md-sys-color-surface-container-highest: #d5d1d0;
  --md-sys-color-on-surface: #121111;
  --md-sys-color-surface-variant: #f0ddeb;
  --md-sys-color-on-surface-variant: #3e333d;
  --md-sys-color-inverse-surface: #323030;
  --md-sys-color-inverse-on-surface: #f5f0ef;
  --md-sys-color-outline: #5b4f59;
  --md-sys-color-outline-variant: #776974;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #8b418f;
  --md-sys-color-primary: #5d1363;
  --md-sys-color-primary-dim: #6e2573;
  --md-sys-color-on-primary: #ffffff;
  --md-sys-color-primary-container: #8c4190;
  --md-sys-color-on-primary-container: #ffffff;
  --md-sys-color-inverse-primary: #ffa9fe;
  --md-sys-color-primary-fixed: #9c4f9f;
  --md-sys-color-primary-fixed-dim: #803785;
  --md-sys-color-on-primary-fixed: #ffffff;
  --md-sys-color-on-primary-fixed-variant: #ffffff;
  --md-sys-color-secondary: #562a19;
  --md-sys-color-secondary-dim: #683826;
  --md-sys-color-on-secondary: #ffffff;
  --md-sys-color-secondary-container: #975f4a;
  --md-sys-color-on-secondary-container: #ffffff;
  --md-sys-color-secondary-fixed: #975f4a;
  --md-sys-color-secondary-fixed-dim: #7b4734;
  --md-sys-color-on-secondary-fixed: #ffffff;
  --md-sys-color-on-secondary-fixed-variant: #ffffff;
  --md-sys-color-tertiary: #540089;
  --md-sys-color-tertiary-dim: #6900a9;
  --md-sys-color-on-tertiary: #ffffff;
  --md-sys-color-tertiary-container: #8f00e3;
  --md-sys-color-on-tertiary-container: #ffffff;
  --md-sys-color-tertiary-fixed: #a210ff;
  --md-sys-color-tertiary-fixed-dim: #8000cd;
  --md-sys-color-on-tertiary-fixed: #ffffff;
  --md-sys-color-on-tertiary-fixed-variant: #ffffff;
  --md-sys-color-error: #740006;
  --md-sys-color-error-dim: #8f0009;
  --md-sys-color-on-error: #ffffff;
  --md-sys-color-error-container: #cf2c27;
  --md-sys-color-on-error-container: #ffffff;
  --md-sys-color-control-activated: #ffd6fa;
  --md-sys-color-control-normal: #4f434e;
  --md-sys-color-control-highlight: #0000001f;
  --md-sys-color-text-primary-inverse: #e6e1e1;
  --md-sys-color-text-secondary-and-tertiary-inverse: #d3c1ce;
  --md-sys-color-text-primary-inverse-disable-only: #e6e1e1;
  --md-sys-color-text-secondary-and-tertiary-inverse-disabled: #e6e1e1;
  --md-sys-color-text-hint-inverse: #e6e1e1;
}

.light-high-contrast {
  --md-sys-color-primary-palette-key-color: #a85aaa;
  --md-sys-color-secondary-palette-key-color: #a36853;
  --md-sys-color-tertiary-palette-key-color: #f1d8ff;
  --md-sys-color-neutral-palette-key-color: #797676;
  --md-sys-color-neutral-variant-palette-key-color: #81737e;
  --md-sys-color-error-palette-key-color: #de3730;
  --md-sys-color-background: #fdf8f8;
  --md-sys-color-on-background: #1c1b1b;
  --md-sys-color-surface: #fdf8f8;
  --md-sys-color-surface-dim: #bcb8b7;
  --md-sys-color-surface-bright: #fdf8f8;
  --md-sys-color-surface-container-lowest: #ffffff;
  --md-sys-color-surface-container-low: #f5f0ef;
  --md-sys-color-surface-container: #e6e1e1;
  --md-sys-color-surface-container-high: #d8d3d3;
  --md-sys-color-surface-container-highest: #cac5c5;
  --md-sys-color-on-surface: #000000;
  --md-sys-color-surface-variant: #f0ddeb;
  --md-sys-color-on-surface-variant: #000000;
  --md-sys-color-inverse-surface: #323030;
  --md-sys-color-inverse-on-surface: #ffffff;
  --md-sys-color-outline: #342933;
  --md-sys-color-outline-variant: #524550;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #8b418f;
  --md-sys-color-primary: #510358;
  --md-sys-color-primary-dim: #3d0043;
  --md-sys-color-on-primary: #ffffff;
  --md-sys-color-primary-container: #732a78;
  --md-sys-color-on-primary-container: #ffffff;
  --md-sys-color-inverse-primary: #ffa9fe;
  --md-sys-color-primary-fixed: #732a78;
  --md-sys-color-primary-fixed-dim: #590e60;
  --md-sys-color-on-primary-fixed: #ffffff;
  --md-sys-color-on-primary-fixed-variant: #ffffff;
  --md-sys-color-secondary: #4a2010;
  --md-sys-color-secondary-dim: #3a1405;
  --md-sys-color-on-secondary: #ffffff;
  --md-sys-color-secondary-container: #6d3c2a;
  --md-sys-color-on-secondary-container: #ffffff;
  --md-sys-color-secondary-fixed: #6d3c2a;
  --md-sys-color-secondary-fixed-dim: #522616;
  --md-sys-color-on-secondary-fixed: #ffffff;
  --md-sys-color-on-secondary-fixed-variant: #ffffff;
  --md-sys-color-tertiary: #460073;
  --md-sys-color-tertiary-dim: #330056;
  --md-sys-color-on-tertiary: #ffffff;
  --md-sys-color-tertiary-container: #6f00b3;
  --md-sys-color-on-tertiary-container: #ffffff;
  --md-sys-color-tertiary-fixed: #6f00b3;
  --md-sys-color-tertiary-fixed-dim: #4f0081;
  --md-sys-color-on-tertiary-fixed: #ffffff;
  --md-sys-color-on-tertiary-fixed-variant: #ffffff;
  --md-sys-color-error: #600004;
  --md-sys-color-error-dim: #480002;
  --md-sys-color-on-error: #ffffff;
  --md-sys-color-error-container: #98000a;
  --md-sys-color-on-error-container: #ffffff;
  --md-sys-color-control-activated: #ffd6fa;
  --md-sys-color-control-normal: #4f434e;
  --md-sys-color-control-highlight: #0000001f;
  --md-sys-color-text-primary-inverse: #e6e1e1;
  --md-sys-color-text-secondary-and-tertiary-inverse: #d3c1ce;
  --md-sys-color-text-primary-inverse-disable-only: #e6e1e1;
  --md-sys-color-text-secondary-and-tertiary-inverse-disabled: #e6e1e1;
  --md-sys-color-text-hint-inverse: #e6e1e1;
}

.dark {
  --md-sys-color-primary-palette-key-color: #a85aaa;
  --md-sys-color-secondary-palette-key-color: #a36853;
  --md-sys-color-tertiary-palette-key-color: #f1d8ff;
  --md-sys-color-neutral-palette-key-color: #797676;
  --md-sys-color-neutral-variant-palette-key-color: #81737e;
  --md-sys-color-error-palette-key-color: #de3730;
  --md-sys-color-background: #141313;
  --md-sys-color-on-background: #e6e1e1;
  --md-sys-color-surface: #141313;
  --md-sys-color-surface-dim: #141313;
  --md-sys-color-surface-bright: #3a3939;
  --md-sys-color-surface-container-lowest: #0f0e0e;
  --md-sys-color-surface-container-low: #1c1b1b;
  --md-sys-color-surface-container: #211f1f;
  --md-sys-color-surface-container-high: #2b2a29;
  --md-sys-color-surface-container-highest: #363434;
  --md-sys-color-on-surface: #e6e1e1;
  --md-sys-color-surface-variant: #4f434e;
  --md-sys-color-on-surface-variant: #d3c1ce;
  --md-sys-color-inverse-surface: #e6e1e1;
  --md-sys-color-inverse-on-surface: #323030;
  --md-sys-color-outline: #9c8c98;
  --md-sys-color-outline-variant: #4f434e;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #ffa9fe;
  --md-sys-color-primary: #ffa9fe;
  --md-sys-color-primary-dim: #ffc0fc;
  --md-sys-color-on-primary: #560a5d;
  --md-sys-color-primary-container: #8c4190;
  --md-sys-color-on-primary-container: #ffc8fb;
  --md-sys-color-inverse-primary: #8b418f;
  --md-sys-color-primary-fixed: #ffd6fa;
  --md-sys-color-primary-fixed-dim: #ffa9fe;
  --md-sys-color-on-primary-fixed: #36003c;
  --md-sys-color-on-primary-fixed-variant: #702776;
  --md-sys-color-secondary: #fdb69d;
  --md-sys-color-secondary-dim: #ffc8b6;
  --md-sys-color-on-secondary: #4f2414;
  --md-sys-color-secondary-container: #6b3a28;
  --md-sys-color-on-secondary-container: #e9a58d;
  --md-sys-color-secondary-fixed: #ffdbcf;
  --md-sys-color-secondary-fixed-dim: #fdb69d;
  --md-sys-color-on-secondary-fixed: #351003;
  --md-sys-color-on-secondary-fixed-variant: #6b3a28;
  --md-sys-color-tertiary: #e1b6ff;
  --md-sys-color-tertiary-dim: #e9c8ff;
  --md-sys-color-on-tertiary: #4c007c;
  --md-sys-color-tertiary-container: #8f00e3;
  --md-sys-color-on-tertiary-container: #eccfff;
  --md-sys-color-tertiary-fixed: #f2daff;
  --md-sys-color-tertiary-fixed-dim: #e1b6ff;
  --md-sys-color-on-tertiary-fixed: #2e004e;
  --md-sys-color-on-tertiary-fixed-variant: #6c00ae;
  --md-sys-color-error: #ffb4ab;
  --md-sys-color-error-dim: #ffc7c0;
  --md-sys-color-on-error: #690005;
  --md-sys-color-error-container: #93000a;
  --md-sys-color-on-error-container: #ffdad6;
  --md-sys-color-control-activated: #702776;
  --md-sys-color-control-normal: #d3c1ce;
  --md-sys-color-control-highlight: #ffffff33;
  --md-sys-color-text-primary-inverse: #1c1b1b;
  --md-sys-color-text-secondary-and-tertiary-inverse: #4f434e;
  --md-sys-color-text-primary-inverse-disable-only: #1c1b1b;
  --md-sys-color-text-secondary-and-tertiary-inverse-disabled: #1c1b1b;
  --md-sys-color-text-hint-inverse: #1c1b1b;
}

.dark-medium-contrast {
  --md-sys-color-primary-palette-key-color: #a85aaa;
  --md-sys-color-secondary-palette-key-color: #a36853;
  --md-sys-color-tertiary-palette-key-color: #f1d8ff;
  --md-sys-color-neutral-palette-key-color: #797676;
  --md-sys-color-neutral-variant-palette-key-color: #81737e;
  --md-sys-color-error-palette-key-color: #de3730;
  --md-sys-color-background: #141313;
  --md-sys-color-on-background: #e6e1e1;
  --md-sys-color-surface: #141313;
  --md-sys-color-surface-dim: #141313;
  --md-sys-color-surface-bright: #464444;
  --md-sys-color-surface-container-lowest: #080707;
  --md-sys-color-surface-container-low: #1e1d1d;
  --md-sys-color-surface-container: #292727;
  --md-sys-color-surface-container-high: #343232;
  --md-sys-color-surface-container-highest: #3f3d3d;
  --md-sys-color-on-surface: #ffffff;
  --md-sys-color-surface-variant: #4f434e;
  --md-sys-color-on-surface-variant: #e9d7e4;
  --md-sys-color-inverse-surface: #e6e1e1;
  --md-sys-color-inverse-on-surface: #2b2a2a;
  --md-sys-color-outline: #beadba;
  --md-sys-color-outline-variant: #9b8c98;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #ffa9fe;
  --md-sys-color-primary: #ffcdfb;
  --md-sys-color-primary-dim: #ffc0fc;
  --md-sys-color-on-primary: #47004e;
  --md-sys-color-primary-container: #c473c6;
  --md-sys-color-on-primary-container: #000000;
  --md-sys-color-inverse-primary: #722977;
  --md-sys-color-primary-fixed: #ffd6fa;
  --md-sys-color-primary-fixed-dim: #ffa9fe;
  --md-sys-color-on-primary-fixed: #25002a;
  --md-sys-color-on-primary-fixed-variant: #5d1363;
  --md-sys-color-secondary: #ffd3c4;
  --md-sys-color-secondary-dim: #ffc8b6;
  --md-sys-color-on-secondary: #421a0a;
  --md-sys-color-secondary-container: #c0816b;
  --md-sys-color-on-secondary-container: #000000;
  --md-sys-color-secondary-fixed: #ffdbcf;
  --md-sys-color-secondary-fixed-dim: #fdb69d;
  --md-sys-color-on-secondary-fixed: #270600;
  --md-sys-color-on-secondary-fixed-variant: #562a19;
  --md-sys-color-tertiary: #eed2ff;
  --md-sys-color-tertiary-dim: #e9c8ff;
  --md-sys-color-on-tertiary: #3c0064;
  --md-sys-color-tertiary-container: #bd69ff;
  --md-sys-color-on-tertiary-container: #000000;
  --md-sys-color-tertiary-fixed: #f2daff;
  --md-sys-color-tertiary-fixed-dim: #e1b6ff;
  --md-sys-color-on-tertiary-fixed: #1f0037;
  --md-sys-color-on-tertiary-fixed-variant: #540089;
  --md-sys-color-error: #ffd2cc;
  --md-sys-color-error-dim: #ffc7c0;
  --md-sys-color-on-error: #540003;
  --md-sys-color-error-container: #ff5449;
  --md-sys-color-on-error-container: #000000;
  --md-sys-color-control-activated: #702776;
  --md-sys-color-control-normal: #d3c1ce;
  --md-sys-color-control-highlight: #ffffff33;
  --md-sys-color-text-primary-inverse: #1c1b1b;
  --md-sys-color-text-secondary-and-tertiary-inverse: #4f434e;
  --md-sys-color-text-primary-inverse-disable-only: #1c1b1b;
  --md-sys-color-text-secondary-and-tertiary-inverse-disabled: #1c1b1b;
  --md-sys-color-text-hint-inverse: #1c1b1b;
}

.dark-high-contrast {
  --md-sys-color-primary-palette-key-color: #a85aaa;
  --md-sys-color-secondary-palette-key-color: #a36853;
  --md-sys-color-tertiary-palette-key-color: #f1d8ff;
  --md-sys-color-neutral-palette-key-color: #797676;
  --md-sys-color-neutral-variant-palette-key-color: #81737e;
  --md-sys-color-error-palette-key-color: #de3730;
  --md-sys-color-background: #141313;
  --md-sys-color-on-background: #e6e1e1;
  --md-sys-color-surface: #141313;
  --md-sys-color-surface-dim: #141313;
  --md-sys-color-surface-bright: #524f4f;
  --md-sys-color-surface-container-lowest: #000000;
  --md-sys-color-surface-container-low: #211f1f;
  --md-sys-color-surface-container: #323030;
  --md-sys-color-surface-container-high: #3d3b3b;
  --md-sys-color-surface-container-highest: #484646;
  --md-sys-color-on-surface: #ffffff;
  --md-sys-color-surface-variant: #4f434e;
  --md-sys-color-on-surface-variant: #ffffff;
  --md-sys-color-inverse-surface: #e6e1e1;
  --md-sys-color-inverse-on-surface: #000000;
  --md-sys-color-outline: #feebf8;
  --md-sys-color-outline-variant: #cfbecb;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #ffa9fe;
  --md-sys-color-primary: #ffeafa;
  --md-sys-color-primary-dim: #fffeff;
  --md-sys-color-on-primary: #000000;
  --md-sys-color-primary-container: #fca4fb;
  --md-sys-color-on-primary-container: #1c001f;
  --md-sys-color-inverse-primary: #722977;
  --md-sys-color-primary-fixed: #ffd6fa;
  --md-sys-color-primary-fixed-dim: #ffa9fe;
  --md-sys-color-on-primary-fixed: #000000;
  --md-sys-color-on-primary-fixed-variant: #25002a;
  --md-sys-color-secondary: #ffece6;
  --md-sys-color-secondary-dim: #fffeff;
  --md-sys-color-on-secondary: #000000;
  --md-sys-color-secondary-container: #f8b29a;
  --md-sys-color-on-secondary-container: #1d0400;
  --md-sys-color-secondary-fixed: #ffdbcf;
  --md-sys-color-secondary-fixed-dim: #fdb69d;
  --md-sys-color-on-secondary-fixed: #000000;
  --md-sys-color-on-secondary-fixed-variant: #270600;
  --md-sys-color-tertiary: #faebff;
  --md-sys-color-tertiary-dim: #fffeff;
  --md-sys-color-on-tertiary: #000000;
  --md-sys-color-tertiary-container: #deb1ff;
  --md-sys-color-on-tertiary-container: #16002a;
  --md-sys-color-tertiary-fixed: #f2daff;
  --md-sys-color-tertiary-fixed-dim: #e1b6ff;
  --md-sys-color-on-tertiary-fixed: #000000;
  --md-sys-color-on-tertiary-fixed-variant: #1f0037;
  --md-sys-color-error: #ffece9;
  --md-sys-color-error-dim: #fffeff;
  --md-sys-color-on-error: #000000;
  --md-sys-color-error-container: #ffaea4;
  --md-sys-color-on-error-container: #220001;
  --md-sys-color-control-activated: #702776;
  --md-sys-color-control-normal: #d3c1ce;
  --md-sys-color-control-highlight: #ffffff33;
  --md-sys-color-text-primary-inverse: #1c1b1b;
  --md-sys-color-text-secondary-and-tertiary-inverse: #4f434e;
  --md-sys-color-text-primary-inverse-disable-only: #1c1b1b;
  --md-sys-color-text-secondary-and-tertiary-inverse-disabled: #1c1b1b;
  --md-sys-color-text-hint-inverse: #1c1b1b;
}

