.light {
  --md-sys-color-primary-palette-key-color: #a35ea4;
  --md-sys-color-secondary-palette-key-color: #5b7b91;
  --md-sys-color-tertiary-palette-key-color: #9e5faa;
  --md-sys-color-neutral-palette-key-color: #946d6f;
  --md-sys-color-neutral-variant-palette-key-color: #9d639d;
  --md-sys-color-error-palette-key-color: #cb495f;
  --md-sys-color-background: #fff8f7;
  --md-sys-color-on-background: #532428;
  --md-sys-color-surface: #fff8f7;
  --md-sys-color-surface-dim: #ffced0;
  --md-sys-color-surface-bright: #fff8f7;
  --md-sys-color-surface-container-lowest: #ffffff;
  --md-sys-color-surface-container-low: #fff0f0;
  --md-sys-color-surface-container: #ffe9e9;
  --md-sys-color-surface-container-high: #ffe1e2;
  --md-sys-color-surface-container-highest: #ffdadb;
  --md-sys-color-on-surface: #532428;
  --md-sys-color-surface-variant: #ffdadb;
  --md-sys-color-on-surface-variant: #884f53;
  --md-sys-color-inverse-surface: #1e0709;
  --md-sys-color-inverse-on-surface: #bd9294;
  --md-sys-color-outline: #a76a6e;
  --md-sys-color-outline-variant: #e5a0a3;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #88468a;
  --md-sys-color-primary: #88468a;
  --md-sys-color-primary-dim: #7a3a7d;
  --md-sys-color-on-primary: #fff7fa;
  --md-sys-color-primary-container: #faacf9;
  --md-sys-color-on-primary-container: #652669;
  --md-sys-color-inverse-primary: #faacf9;
  --md-sys-color-primary-fixed: #faacf9;
  --md-sys-color-primary-fixed-dim: #eb9fea;
  --md-sys-color-on-primary-fixed: #4d0e53;
  --md-sys-color-on-primary-fixed-variant: #6f2f73;
  --md-sys-color-secondary: #436378;
  --md-sys-color-secondary-dim: #36576c;
  --md-sys-color-on-secondary: #f5f9ff;
  --md-sys-color-secondary-container: #c7e7ff;
  --md-sys-color-on-secondary-container: #35556a;
  --md-sys-color-secondary-fixed: #c7e7ff;
  --md-sys-color-secondary-fixed-dim: #b7d9f2;
  --md-sys-color-on-secondary-fixed: #214357;
  --md-sys-color-on-secondary-fixed-variant: #3f5f74;
  --md-sys-color-tertiary: #834790;
  --md-sys-color-tertiary-dim: #763b83;
  --md-sys-color-on-tertiary: #fff7fb;
  --md-sys-color-tertiary-container: #eea8fa;
  --md-sys-color-on-tertiary-container: #5d236b;
  --md-sys-color-tertiary-fixed: #eea8fa;
  --md-sys-color-tertiary-fixed-dim: #df9beb;
  --md-sys-color-on-tertiary-fixed: #450954;
  --md-sys-color-on-tertiary-fixed-variant: #672d74;
  --md-sys-color-error: #ac3149;
  --md-sys-color-error-dim: #770326;
  --md-sys-color-on-error: #fff7f7;
  --md-sys-color-error-container: #f76a80;
  --md-sys-color-on-error-container: #68001f;
}

.light-medium-contrast {
  --md-sys-color-primary-palette-key-color: #a35ea4;
  --md-sys-color-secondary-palette-key-color: #5b7b91;
  --md-sys-color-tertiary-palette-key-color: #9e5faa;
  --md-sys-color-neutral-palette-key-color: #946d6f;
  --md-sys-color-neutral-variant-palette-key-color: #9d639d;
  --md-sys-color-error-palette-key-color: #cb495f;
  --md-sys-color-background: #fff8f7;
  --md-sys-color-on-background: #41161a;
  --md-sys-color-surface: #fff8f7;
  --md-sys-color-surface-dim: #ffced0;
  --md-sys-color-surface-bright: #fff8f7;
  --md-sys-color-surface-container-lowest: #ffffff;
  --md-sys-color-surface-container-low: #fff0f0;
  --md-sys-color-surface-container: #ffe9e9;
  --md-sys-color-surface-container-high: #ffe1e2;
  --md-sys-color-surface-container-highest: #ffdadb;
  --md-sys-color-on-surface: #41161a;
  --md-sys-color-surface-variant: #ffdadb;
  --md-sys-color-on-surface-variant: #663438;
  --md-sys-color-inverse-surface: #1e0709;
  --md-sys-color-inverse-on-surface: #e7babb;
  --md-sys-color-outline: #884f53;
  --md-sys-color-outline-variant: #a76a6e;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #68296c;
  --md-sys-color-primary: #68296c;
  --md-sys-color-primary-dim: #5b1c5f;
  --md-sys-color-on-primary: #ffc8fb;
  --md-sys-color-primary-container: #a05ba2;
  --md-sys-color-on-primary-container: #ffffff;
  --md-sys-color-inverse-primary: #faacf9;
  --md-sys-color-primary-fixed: #a05ba2;
  --md-sys-color-primary-fixed-dim: #924f94;
  --md-sys-color-on-primary-fixed: #ffffff;
  --md-sys-color-on-primary-fixed-variant: #ffffff;
  --md-sys-color-secondary: #25465a;
  --md-sys-color-secondary-dim: #193b4f;
  --md-sys-color-on-secondary: #bddef7;
  --md-sys-color-secondary-container: #58788e;
  --md-sys-color-on-secondary-container: #ffffff;
  --md-sys-color-secondary-fixed: #58788e;
  --md-sys-color-secondary-fixed-dim: #4c6c81;
  --md-sys-color-on-secondary-fixed: #ffffff;
  --md-sys-color-on-secondary-fixed-variant: #ffffff;
  --md-sys-color-tertiary: #642a72;
  --md-sys-color-tertiary-dim: #571e65;
  --md-sys-color-on-tertiary: #facaff;
  --md-sys-color-tertiary-container: #9b5da8;
  --md-sys-color-on-tertiary-container: #ffffff;
  --md-sys-color-tertiary-fixed: #9b5da8;
  --md-sys-color-tertiary-fixed-dim: #8d509a;
  --md-sys-color-on-tertiary-fixed: #ffffff;
  --md-sys-color-on-tertiary-fixed-variant: #ffffff;
  --md-sys-color-error: #85112f;
  --md-sys-color-error-dim: #740124;
  --md-sys-color-on-error: #ffcdd1;
  --md-sys-color-error-container: #c8475d;
  --md-sys-color-on-error-container: #ffffff;
}

.light-high-contrast {
  --md-sys-color-primary-palette-key-color: #a35ea4;
  --md-sys-color-secondary-palette-key-color: #5b7b91;
  --md-sys-color-tertiary-palette-key-color: #9e5faa;
  --md-sys-color-neutral-palette-key-color: #946d6f;
  --md-sys-color-neutral-variant-palette-key-color: #9d639d;
  --md-sys-color-error-palette-key-color: #cb495f;
  --md-sys-color-background: #fff8f7;
  --md-sys-color-on-background: #000000;
  --md-sys-color-surface: #fff8f7;
  --md-sys-color-surface-dim: #ffced0;
  --md-sys-color-surface-bright: #fff8f7;
  --md-sys-color-surface-container-lowest: #ffffff;
  --md-sys-color-surface-container-low: #fff0f0;
  --md-sys-color-surface-container: #ffe9e9;
  --md-sys-color-surface-container-high: #ffe1e2;
  --md-sys-color-surface-container-highest: #ffdadb;
  --md-sys-color-on-surface: #000000;
  --md-sys-color-surface-variant: #ffdadb;
  --md-sys-color-on-surface-variant: #41161a;
  --md-sys-color-inverse-surface: #1e0709;
  --md-sys-color-inverse-on-surface: #ffffff;
  --md-sys-color-outline: #663438;
  --md-sys-color-outline-variant: #884f53;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #43024a;
  --md-sys-color-primary: #43024a;
  --md-sys-color-primary-dim: #340039;
  --md-sys-color-on-primary: #ffc9fb;
  --md-sys-color-primary-container: #88468a;
  --md-sys-color-on-primary-container: #ffffff;
  --md-sys-color-inverse-primary: #faacf9;
  --md-sys-color-primary-fixed: #88468a;
  --md-sys-color-primary-fixed-dim: #7a3a7d;
  --md-sys-color-on-primary-fixed: #ffffff;
  --md-sys-color-on-primary-fixed-variant: #ffffff;
  --md-sys-color-secondary: #00273a;
  --md-sys-color-secondary-dim: #001c2b;
  --md-sys-color-on-secondary: #bddef7;
  --md-sys-color-secondary-container: #436378;
  --md-sys-color-on-secondary-container: #ffffff;
  --md-sys-color-secondary-fixed: #436378;
  --md-sys-color-secondary-fixed-dim: #36576c;
  --md-sys-color-on-secondary-fixed: #ffffff;
  --md-sys-color-on-secondary-fixed-variant: #ffffff;
  --md-sys-color-tertiary: #400350;
  --md-sys-color-tertiary-dim: #31003e;
  --md-sys-color-on-tertiary: #facaff;
  --md-sys-color-tertiary-container: #834790;
  --md-sys-color-on-tertiary-container: #ffffff;
  --md-sys-color-tertiary-fixed: #834790;
  --md-sys-color-tertiary-fixed-dim: #763b83;
  --md-sys-color-on-tertiary-fixed: #ffffff;
  --md-sys-color-on-tertiary-fixed-variant: #ffffff;
  --md-sys-color-error: #500016;
  --md-sys-color-error-dim: #3d000f;
  --md-sys-color-on-error: #ffced2;
  --md-sys-color-error-container: #ac3149;
  --md-sys-color-on-error-container: #ffffff;
}

.dark {
  --md-sys-color-primary-palette-key-color: #986697;
  --md-sys-color-secondary-palette-key-color: #677987;
  --md-sys-color-tertiary-palette-key-color: #9e5faa;
  --md-sys-color-neutral-palette-key-color: #8e7071;
  --md-sys-color-neutral-variant-palette-key-color: #946893;
  --md-sys-color-error-palette-key-color: #cb495f;
  --md-sys-color-background: #1b090a;
  --md-sys-color-on-background: #ffdede;
  --md-sys-color-surface: #1b090a;
  --md-sys-color-surface-dim: #1b090a;
  --md-sys-color-surface-bright: #472024;
  --md-sys-color-surface-container-lowest: #000000;
  --md-sys-color-surface-container-low: #230d0f;
  --md-sys-color-surface-container: #2c1214;
  --md-sys-color-surface-container-high: #341719;
  --md-sys-color-surface-container-highest: #3e1b1e;
  --md-sys-color-on-surface: #ffdede;
  --md-sys-color-surface-variant: #3e1b1e;
  --md-sys-color-on-surface-variant: #d39da0;
  --md-sys-color-inverse-surface: #fff8f7;
  --md-sys-color-inverse-on-surface: #694e4f;
  --md-sys-color-outline: #98696b;
  --md-sys-color-outline-variant: #653d3f;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #ffcdfb;
  --md-sys-color-primary: #ffcdfb;
  --md-sys-color-primary-dim: #f6bcf3;
  --md-sys-color-on-primary: #6b3e6c;
  --md-sys-color-primary-container: #f6bcf3;
  --md-sys-color-on-primary-container: #623563;
  --md-sys-color-inverse-primary: #7e4e7e;
  --md-sys-color-primary-fixed: #f6bcf3;
  --md-sys-color-primary-fixed-dim: #e8afe5;
  --md-sys-color-on-primary-fixed: #4c224e;
  --md-sys-color-on-primary-fixed-variant: #6c3e6d;
  --md-sys-color-secondary: #b6c9d8;
  --md-sys-color-secondary-dim: #a9bbca;
  --md-sys-color-on-secondary: #31424f;
  --md-sys-color-secondary-container: #162833;
  --md-sys-color-on-secondary-container: #94a6b5;
  --md-sys-color-secondary-fixed: #d2e5f5;
  --md-sys-color-secondary-fixed-dim: #c4d7e6;
  --md-sys-color-on-secondary-fixed: #30414e;
  --md-sys-color-on-secondary-fixed-variant: #4c5e6b;
  --md-sys-color-tertiary: #f7baff;
  --md-sys-color-tertiary-dim: #eea8fa;
  --md-sys-color-on-tertiary: #672d75;
  --md-sys-color-tertiary-container: #eea8fa;
  --md-sys-color-on-tertiary-container: #5d236b;
  --md-sys-color-tertiary-fixed: #eea8fa;
  --md-sys-color-tertiary-fixed-dim: #df9beb;
  --md-sys-color-on-tertiary-fixed: #450954;
  --md-sys-color-on-tertiary-fixed-variant: #672d74;
  --md-sys-color-error: #fd6f85;
  --md-sys-color-error-dim: #c8475d;
  --md-sys-color-on-error: #490013;
  --md-sys-color-error-container: #8a1632;
  --md-sys-color-on-error-container: #ff97a3;
}

.dark-medium-contrast {
  --md-sys-color-primary-palette-key-color: #986697;
  --md-sys-color-secondary-palette-key-color: #677987;
  --md-sys-color-tertiary-palette-key-color: #9e5faa;
  --md-sys-color-neutral-palette-key-color: #8e7071;
  --md-sys-color-neutral-variant-palette-key-color: #946893;
  --md-sys-color-error-palette-key-color: #cb495f;
  --md-sys-color-background: #1b090a;
  --md-sys-color-on-background: #ffffff;
  --md-sys-color-surface: #1b090a;
  --md-sys-color-surface-dim: #1b090a;
  --md-sys-color-surface-bright: #472024;
  --md-sys-color-surface-container-lowest: #000000;
  --md-sys-color-surface-container-low: #230d0f;
  --md-sys-color-surface-container: #2c1214;
  --md-sys-color-surface-container-high: #341719;
  --md-sys-color-surface-container-highest: #3e1b1e;
  --md-sys-color-on-surface: #ffffff;
  --md-sys-color-surface-variant: #3e1b1e;
  --md-sys-color-on-surface-variant: #e2abad;
  --md-sys-color-inverse-surface: #fff8f7;
  --md-sys-color-inverse-on-surface: #4a3233;
  --md-sys-color-outline: #ba8689;
  --md-sys-color-outline-variant: #98696b;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #ffcdfb;
  --md-sys-color-primary: #ffcdfb;
  --md-sys-color-primary-dim: #f6bcf3;
  --md-sys-color-on-primary: #603462;
  --md-sys-color-primary-container: #f6bcf3;
  --md-sys-color-on-primary-container: #572b58;
  --md-sys-color-inverse-primary: #734473;
  --md-sys-color-primary-fixed: #f6bcf3;
  --md-sys-color-primary-fixed-dim: #e8afe5;
  --md-sys-color-on-primary-fixed: #16001a;
  --md-sys-color-on-primary-fixed-variant: #4c224e;
  --md-sys-color-secondary: #b6c9d8;
  --md-sys-color-secondary-dim: #a9bbca;
  --md-sys-color-on-secondary: #273844;
  --md-sys-color-secondary-container: #657784;
  --md-sys-color-on-secondary-container: #ffffff;
  --md-sys-color-secondary-fixed: #d2e5f5;
  --md-sys-color-secondary-fixed-dim: #c4d7e6;
  --md-sys-color-on-secondary-fixed: #0f212d;
  --md-sys-color-on-secondary-fixed-variant: #30414e;
  --md-sys-color-tertiary: #f7baff;
  --md-sys-color-tertiary-dim: #eea8fa;
  --md-sys-color-on-tertiary: #5c226a;
  --md-sys-color-tertiary-container: #eea8fa;
  --md-sys-color-on-tertiary-container: #511760;
  --md-sys-color-tertiary-fixed: #eea8fa;
  --md-sys-color-tertiary-fixed-dim: #df9beb;
  --md-sys-color-on-tertiary-fixed: #000000;
  --md-sys-color-on-tertiary-fixed-variant: #450954;
  --md-sys-color-error: #ff9da8;
  --md-sys-color-error-dim: #ff8695;
  --md-sys-color-on-error: #5f001c;
  --md-sys-color-error-container: #c8475d;
  --md-sys-color-on-error-container: #ffffff;
}

.dark-high-contrast {
  --md-sys-color-primary-palette-key-color: #986697;
  --md-sys-color-secondary-palette-key-color: #677987;
  --md-sys-color-tertiary-palette-key-color: #9e5faa;
  --md-sys-color-neutral-palette-key-color: #8e7071;
  --md-sys-color-neutral-variant-palette-key-color: #946893;
  --md-sys-color-error-palette-key-color: #cb495f;
  --md-sys-color-background: #1b090a;
  --md-sys-color-on-background: #ffffff;
  --md-sys-color-surface: #1b090a;
  --md-sys-color-surface-dim: #1b090a;
  --md-sys-color-surface-bright: #472024;
  --md-sys-color-surface-container-lowest: #000000;
  --md-sys-color-surface-container-low: #230d0f;
  --md-sys-color-surface-container: #2c1214;
  --md-sys-color-surface-container-high: #341719;
  --md-sys-color-surface-container-highest: #3e1b1e;
  --md-sys-color-on-surface: #ffffff;
  --md-sys-color-surface-variant: #3e1b1e;
  --md-sys-color-on-surface-variant: #ffdede;
  --md-sys-color-inverse-surface: #fff8f7;
  --md-sys-color-inverse-on-surface: #000000;
  --md-sys-color-outline: #e2abad;
  --md-sys-color-outline-variant: #ba8689;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #ffdbfa;
  --md-sys-color-primary: #ffdbfa;
  --md-sys-color-primary-dim: #fdc2f9;
  --md-sys-color-on-primary: #451b47;
  --md-sys-color-primary-container: #f6bcf3;
  --md-sys-color-on-primary-container: #310734;
  --md-sys-color-inverse-primary: #532854;
  --md-sys-color-primary-fixed: #f6bcf3;
  --md-sys-color-primary-fixed-dim: #e8afe5;
  --md-sys-color-on-primary-fixed: #000000;
  --md-sys-color-on-primary-fixed-variant: #16001a;
  --md-sys-color-secondary: #d5e8f8;
  --md-sys-color-secondary-dim: #c7dae9;
  --md-sys-color-on-secondary: #1c2e3a;
  --md-sys-color-secondary-container: #8ea0af;
  --md-sys-color-on-secondary-container: #000000;
  --md-sys-color-secondary-fixed: #d2e5f5;
  --md-sys-color-secondary-fixed-dim: #c4d7e6;
  --md-sys-color-on-secondary-fixed: #000000;
  --md-sys-color-on-secondary-fixed-variant: #0f212d;
  --md-sys-color-tertiary: #fedaff;
  --md-sys-color-tertiary-dim: #f9c3ff;
  --md-sys-color-on-tertiary: #4a0f59;
  --md-sys-color-tertiary-container: #eea8fa;
  --md-sys-color-on-tertiary-container: #15001c;
  --md-sys-color-tertiary-fixed: #eea8fa;
  --md-sys-color-tertiary-fixed-dim: #df9beb;
  --md-sys-color-on-tertiary-fixed: #000000;
  --md-sys-color-on-tertiary-fixed-variant: #000000;
  --md-sys-color-error: #ffdddf;
  --md-sys-color-error-dim: #ffc7cb;
  --md-sys-color-on-error: #5f001c;
  --md-sys-color-error-container: #fd6f85;
  --md-sys-color-on-error-container: #000000;
}

