.light {
  --md-sys-color-primary-palette-key-color: #9b639b;
  --md-sys-color-secondary-palette-key-color: #5b7b91;
  --md-sys-color-tertiary-palette-key-color: #9e5faa;
  --md-sys-color-neutral-palette-key-color: #8b7172;
  --md-sys-color-neutral-variant-palette-key-color: #906b8e;
  --md-sys-color-error-palette-key-color: #ba5866;
  --md-sys-color-background: #000000;
  --md-sys-color-on-background: #ffffff;
  --md-sys-color-surface: #000000;
  --md-sys-color-surface-dim: #190a0b;
  --md-sys-color-surface-bright: #442225;
  --md-sys-color-surface-container-lowest: #000000;
  --md-sys-color-surface-container-low: #342122;
  --md-sys-color-surface-container: #3f2b2c;
  --md-sys-color-surface-container-high: #4b3637;
  --md-sys-color-surface-container-highest: #3b1d1f;
  --md-sys-color-on-surface: #ffe1e2;
  --md-sys-color-surface-variant: #3b1d1f;
  --md-sys-color-on-surface-variant: #e6c7c7;
  --md-sys-color-inverse-surface: #fff8f7;
  --md-sys-color-inverse-on-surface: #674f50;
  --md-sys-color-outline: #bc9f9f;
  --md-sys-color-outline-variant: #9a7f80;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #febcfb;
  --md-sys-color-primary: #febcfb;
  --md-sys-color-primary-dim: #efafec;
  --md-sys-color-on-primary: #512154;
  --md-sys-color-primary-container: #663468;
  --md-sys-color-on-primary-container: #ffd2fa;
  --md-sys-color-inverse-primary: #764277;
  --md-sys-color-primary-fixed: #663468;
  --md-sys-color-primary-fixed-dim: #59285c;
  --md-sys-color-on-primary-fixed: #fab9f7;
  --md-sys-color-on-primary-fixed-variant: #ce91cd;
  --md-sys-color-secondary: #b7d9f2;
  --md-sys-color-secondary-dim: #aacbe3;
  --md-sys-color-on-secondary: #173a4d;
  --md-sys-color-secondary-container: #2a4a5f;
  --md-sys-color-on-secondary-container: #c3e5fe;
  --md-sys-color-secondary-fixed: #2a4a5f;
  --md-sys-color-secondary-fixed-dim: #1d3f53;
  --md-sys-color-on-secondary-fixed: #b1d2eb;
  --md-sys-color-on-secondary-fixed-variant: #89aac1;
  --md-sys-color-tertiary: #f6b9ff;
  --md-sys-color-tertiary-dim: #eda8f9;
  --md-sys-color-on-tertiary: #50175f;
  --md-sys-color-tertiary-container: #d08ddc;
  --md-sys-color-on-tertiary-container: #32003f;
  --md-sys-color-tertiary-fixed: #d08ddc;
  --md-sys-color-tertiary-fixed-dim: #c280ce;
  --md-sys-color-on-tertiary-fixed: #0d0013;
  --md-sys-color-on-tertiary-fixed-variant: #4e155d;
  --md-sys-color-error: #ffbdc3;
  --md-sys-color-error-dim: #f38593;
  --md-sys-color-on-error: #3f000f;
  --md-sys-color-error-container: #7d2938;
  --md-sys-color-on-error-container: #ffd6d9;
}

.light-medium-contrast {
  --md-sys-color-primary-palette-key-color: #9b639b;
  --md-sys-color-secondary-palette-key-color: #5b7b91;
  --md-sys-color-tertiary-palette-key-color: #9e5faa;
  --md-sys-color-neutral-palette-key-color: #8b7172;
  --md-sys-color-neutral-variant-palette-key-color: #906b8e;
  --md-sys-color-error-palette-key-color: #ba5866;
  --md-sys-color-background: #000000;
  --md-sys-color-on-background: #ffffff;
  --md-sys-color-surface: #000000;
  --md-sys-color-surface-dim: #190a0b;
  --md-sys-color-surface-bright: #442225;
  --md-sys-color-surface-container-lowest: #000000;
  --md-sys-color-surface-container-low: #342122;
  --md-sys-color-surface-container: #3f2b2c;
  --md-sys-color-surface-container-high: #4b3637;
  --md-sys-color-surface-container-highest: #3b1d1f;
  --md-sys-color-on-surface: #fffeff;
  --md-sys-color-surface-variant: #3b1d1f;
  --md-sys-color-on-surface-variant: #fffeff;
  --md-sys-color-inverse-surface: #fff8f7;
  --md-sys-color-inverse-on-surface: #483334;
  --md-sys-color-outline: #e6c7c7;
  --md-sys-color-outline-variant: #bc9f9f;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #fffeff;
  --md-sys-color-primary: #fffeff;
  --md-sys-color-primary-dim: #febcfb;
  --md-sys-color-on-primary: #36063b;
  --md-sys-color-primary-container: #663468;
  --md-sys-color-on-primary-container: #ffffff;
  --md-sys-color-inverse-primary: #562558;
  --md-sys-color-primary-fixed: #663468;
  --md-sys-color-primary-fixed-dim: #59285c;
  --md-sys-color-on-primary-fixed: #fffeff;
  --md-sys-color-on-primary-fixed-variant: #fab9f7;
  --md-sys-color-secondary: #fffeff;
  --md-sys-color-secondary-dim: #b7d9f2;
  --md-sys-color-on-secondary: #002233;
  --md-sys-color-secondary-container: #2a4a5f;
  --md-sys-color-on-secondary-container: #ffffff;
  --md-sys-color-secondary-fixed: #2a4a5f;
  --md-sys-color-secondary-fixed-dim: #1d3f53;
  --md-sys-color-on-secondary-fixed: #fffeff;
  --md-sys-color-on-secondary-fixed-variant: #b1d2eb;
  --md-sys-color-tertiary: #fffeff;
  --md-sys-color-tertiary-dim: #f6b9ff;
  --md-sys-color-on-tertiary: #31003e;
  --md-sys-color-tertiary-container: #de9aea;
  --md-sys-color-on-tertiary-container: #000000;
  --md-sys-color-tertiary-fixed: #d08ddc;
  --md-sys-color-tertiary-fixed-dim: #c280ce;
  --md-sys-color-on-tertiary-fixed: #000000;
  --md-sys-color-on-tertiary-fixed-variant: #0d0013;
  --md-sys-color-error: #fffeff;
  --md-sys-color-error-dim: #ffbdc3;
  --md-sys-color-on-error: #3d000f;
  --md-sys-color-error-container: #7d2938;
  --md-sys-color-on-error-container: #ffffff;
}

.light-high-contrast {
  --md-sys-color-primary-palette-key-color: #9b639b;
  --md-sys-color-secondary-palette-key-color: #5b7b91;
  --md-sys-color-tertiary-palette-key-color: #9e5faa;
  --md-sys-color-neutral-palette-key-color: #8b7172;
  --md-sys-color-neutral-variant-palette-key-color: #906b8e;
  --md-sys-color-error-palette-key-color: #ba5866;
  --md-sys-color-background: #000000;
  --md-sys-color-on-background: #ffffff;
  --md-sys-color-surface: #000000;
  --md-sys-color-surface-dim: #190a0b;
  --md-sys-color-surface-bright: #442225;
  --md-sys-color-surface-container-lowest: #000000;
  --md-sys-color-surface-container-low: #342122;
  --md-sys-color-surface-container: #3f2b2c;
  --md-sys-color-surface-container-high: #4b3637;
  --md-sys-color-surface-container-highest: #3b1d1f;
  --md-sys-color-on-surface: #ffffff;
  --md-sys-color-surface-variant: #3b1d1f;
  --md-sys-color-on-surface-variant: #ffffff;
  --md-sys-color-inverse-surface: #fff8f7;
  --md-sys-color-inverse-on-surface: #000000;
  --md-sys-color-outline: #fffeff;
  --md-sys-color-outline-variant: #e6c7c7;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #ffffff;
  --md-sys-color-primary: #ffffff;
  --md-sys-color-primary-dim: #fffeff;
  --md-sys-color-on-primary: #000000;
  --md-sys-color-primary-container: #663468;
  --md-sys-color-on-primary-container: #ffffff;
  --md-sys-color-inverse-primary: #000000;
  --md-sys-color-primary-fixed: #663468;
  --md-sys-color-primary-fixed-dim: #59285c;
  --md-sys-color-on-primary-fixed: #ffffff;
  --md-sys-color-on-primary-fixed-variant: #fffeff;
  --md-sys-color-secondary: #ffffff;
  --md-sys-color-secondary-dim: #fffeff;
  --md-sys-color-on-secondary: #000000;
  --md-sys-color-secondary-container: #2a4a5f;
  --md-sys-color-on-secondary-container: #ffffff;
  --md-sys-color-secondary-fixed: #2a4a5f;
  --md-sys-color-secondary-fixed-dim: #1d3f53;
  --md-sys-color-on-secondary-fixed: #ffffff;
  --md-sys-color-on-secondary-fixed-variant: #fffeff;
  --md-sys-color-tertiary: #ffffff;
  --md-sys-color-tertiary-dim: #fffeff;
  --md-sys-color-on-tertiary: #000000;
  --md-sys-color-tertiary-container: #eea8fa;
  --md-sys-color-on-tertiary-container: #000000;
  --md-sys-color-tertiary-fixed: #d08ddc;
  --md-sys-color-tertiary-fixed-dim: #c280ce;
  --md-sys-color-on-tertiary-fixed: #000000;
  --md-sys-color-on-tertiary-fixed-variant: #000000;
  --md-sys-color-error: #ffffff;
  --md-sys-color-error-dim: #fffeff;
  --md-sys-color-on-error: #000000;
  --md-sys-color-error-container: #7d2938;
  --md-sys-color-on-error-container: #ffffff;
}

.dark {
  --md-sys-color-primary-palette-key-color: #9b639b;
  --md-sys-color-secondary-palette-key-color: #5b7b91;
  --md-sys-color-tertiary-palette-key-color: #9e5faa;
  --md-sys-color-neutral-palette-key-color: #8b7172;
  --md-sys-color-neutral-variant-palette-key-color: #906b8e;
  --md-sys-color-error-palette-key-color: #ba5866;
  --md-sys-color-background: #000000;
  --md-sys-color-on-background: #ffffff;
  --md-sys-color-surface: #000000;
  --md-sys-color-surface-dim: #190a0b;
  --md-sys-color-surface-bright: #442225;
  --md-sys-color-surface-container-lowest: #000000;
  --md-sys-color-surface-container-low: #342122;
  --md-sys-color-surface-container: #3f2b2c;
  --md-sys-color-surface-container-high: #4b3637;
  --md-sys-color-surface-container-highest: #3b1d1f;
  --md-sys-color-on-surface: #ffe1e2;
  --md-sys-color-surface-variant: #3b1d1f;
  --md-sys-color-on-surface-variant: #e6c7c7;
  --md-sys-color-inverse-surface: #fff8f7;
  --md-sys-color-inverse-on-surface: #674f50;
  --md-sys-color-outline: #bc9f9f;
  --md-sys-color-outline-variant: #9a7f80;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #febcfb;
  --md-sys-color-primary: #febcfb;
  --md-sys-color-primary-dim: #efafec;
  --md-sys-color-on-primary: #512154;
  --md-sys-color-primary-container: #663468;
  --md-sys-color-on-primary-container: #ffd2fa;
  --md-sys-color-inverse-primary: #764277;
  --md-sys-color-primary-fixed: #663468;
  --md-sys-color-primary-fixed-dim: #59285c;
  --md-sys-color-on-primary-fixed: #fab9f7;
  --md-sys-color-on-primary-fixed-variant: #ce91cd;
  --md-sys-color-secondary: #b7d9f2;
  --md-sys-color-secondary-dim: #aacbe3;
  --md-sys-color-on-secondary: #173a4d;
  --md-sys-color-secondary-container: #2a4a5f;
  --md-sys-color-on-secondary-container: #c3e5fe;
  --md-sys-color-secondary-fixed: #2a4a5f;
  --md-sys-color-secondary-fixed-dim: #1d3f53;
  --md-sys-color-on-secondary-fixed: #b1d2eb;
  --md-sys-color-on-secondary-fixed-variant: #89aac1;
  --md-sys-color-tertiary: #f6b9ff;
  --md-sys-color-tertiary-dim: #eda8f9;
  --md-sys-color-on-tertiary: #50175f;
  --md-sys-color-tertiary-container: #d08ddc;
  --md-sys-color-on-tertiary-container: #32003f;
  --md-sys-color-tertiary-fixed: #d08ddc;
  --md-sys-color-tertiary-fixed-dim: #c280ce;
  --md-sys-color-on-tertiary-fixed: #0d0013;
  --md-sys-color-on-tertiary-fixed-variant: #4e155d;
  --md-sys-color-error: #ffbdc3;
  --md-sys-color-error-dim: #f38593;
  --md-sys-color-on-error: #3f000f;
  --md-sys-color-error-container: #7d2938;
  --md-sys-color-on-error-container: #ffd6d9;
}

.dark-medium-contrast {
  --md-sys-color-primary-palette-key-color: #9b639b;
  --md-sys-color-secondary-palette-key-color: #5b7b91;
  --md-sys-color-tertiary-palette-key-color: #9e5faa;
  --md-sys-color-neutral-palette-key-color: #8b7172;
  --md-sys-color-neutral-variant-palette-key-color: #906b8e;
  --md-sys-color-error-palette-key-color: #ba5866;
  --md-sys-color-background: #000000;
  --md-sys-color-on-background: #ffffff;
  --md-sys-color-surface: #000000;
  --md-sys-color-surface-dim: #190a0b;
  --md-sys-color-surface-bright: #442225;
  --md-sys-color-surface-container-lowest: #000000;
  --md-sys-color-surface-container-low: #342122;
  --md-sys-color-surface-container: #3f2b2c;
  --md-sys-color-surface-container-high: #4b3637;
  --md-sys-color-surface-container-highest: #3b1d1f;
  --md-sys-color-on-surface: #fffeff;
  --md-sys-color-surface-variant: #3b1d1f;
  --md-sys-color-on-surface-variant: #fffeff;
  --md-sys-color-inverse-surface: #fff8f7;
  --md-sys-color-inverse-on-surface: #483334;
  --md-sys-color-outline: #e6c7c7;
  --md-sys-color-outline-variant: #bc9f9f;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #fffeff;
  --md-sys-color-primary: #fffeff;
  --md-sys-color-primary-dim: #febcfb;
  --md-sys-color-on-primary: #36063b;
  --md-sys-color-primary-container: #663468;
  --md-sys-color-on-primary-container: #ffffff;
  --md-sys-color-inverse-primary: #562558;
  --md-sys-color-primary-fixed: #663468;
  --md-sys-color-primary-fixed-dim: #59285c;
  --md-sys-color-on-primary-fixed: #fffeff;
  --md-sys-color-on-primary-fixed-variant: #fab9f7;
  --md-sys-color-secondary: #fffeff;
  --md-sys-color-secondary-dim: #b7d9f2;
  --md-sys-color-on-secondary: #002233;
  --md-sys-color-secondary-container: #2a4a5f;
  --md-sys-color-on-secondary-container: #ffffff;
  --md-sys-color-secondary-fixed: #2a4a5f;
  --md-sys-color-secondary-fixed-dim: #1d3f53;
  --md-sys-color-on-secondary-fixed: #fffeff;
  --md-sys-color-on-secondary-fixed-variant: #b1d2eb;
  --md-sys-color-tertiary: #fffeff;
  --md-sys-color-tertiary-dim: #f6b9ff;
  --md-sys-color-on-tertiary: #31003e;
  --md-sys-color-tertiary-container: #de9aea;
  --md-sys-color-on-tertiary-container: #000000;
  --md-sys-color-tertiary-fixed: #d08ddc;
  --md-sys-color-tertiary-fixed-dim: #c280ce;
  --md-sys-color-on-tertiary-fixed: #000000;
  --md-sys-color-on-tertiary-fixed-variant: #0d0013;
  --md-sys-color-error: #fffeff;
  --md-sys-color-error-dim: #ffbdc3;
  --md-sys-color-on-error: #3d000f;
  --md-sys-color-error-container: #7d2938;
  --md-sys-color-on-error-container: #ffffff;
}

.dark-high-contrast {
  --md-sys-color-primary-palette-key-color: #9b639b;
  --md-sys-color-secondary-palette-key-color: #5b7b91;
  --md-sys-color-tertiary-palette-key-color: #9e5faa;
  --md-sys-color-neutral-palette-key-color: #8b7172;
  --md-sys-color-neutral-variant-palette-key-color: #906b8e;
  --md-sys-color-error-palette-key-color: #ba5866;
  --md-sys-color-background: #000000;
  --md-sys-color-on-background: #ffffff;
  --md-sys-color-surface: #000000;
  --md-sys-color-surface-dim: #190a0b;
  --md-sys-color-surface-bright: #442225;
  --md-sys-color-surface-container-lowest: #000000;
  --md-sys-color-surface-container-low: #342122;
  --md-sys-color-surface-container: #3f2b2c;
  --md-sys-color-surface-container-high: #4b3637;
  --md-sys-color-surface-container-highest: #3b1d1f;
  --md-sys-color-on-surface: #ffffff;
  --md-sys-color-surface-variant: #3b1d1f;
  --md-sys-color-on-surface-variant: #ffffff;
  --md-sys-color-inverse-surface: #fff8f7;
  --md-sys-color-inverse-on-surface: #000000;
  --md-sys-color-outline: #fffeff;
  --md-sys-color-outline-variant: #e6c7c7;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #ffffff;
  --md-sys-color-primary: #ffffff;
  --md-sys-color-primary-dim: #fffeff;
  --md-sys-color-on-primary: #000000;
  --md-sys-color-primary-container: #663468;
  --md-sys-color-on-primary-container: #ffffff;
  --md-sys-color-inverse-primary: #000000;
  --md-sys-color-primary-fixed: #663468;
  --md-sys-color-primary-fixed-dim: #59285c;
  --md-sys-color-on-primary-fixed: #ffffff;
  --md-sys-color-on-primary-fixed-variant: #fffeff;
  --md-sys-color-secondary: #ffffff;
  --md-sys-color-secondary-dim: #fffeff;
  --md-sys-color-on-secondary: #000000;
  --md-sys-color-secondary-container: #2a4a5f;
  --md-sys-color-on-secondary-container: #ffffff;
  --md-sys-color-secondary-fixed: #2a4a5f;
  --md-sys-color-secondary-fixed-dim: #1d3f53;
  --md-sys-color-on-secondary-fixed: #ffffff;
  --md-sys-color-on-secondary-fixed-variant: #fffeff;
  --md-sys-color-tertiary: #ffffff;
  --md-sys-color-tertiary-dim: #fffeff;
  --md-sys-color-on-tertiary: #000000;
  --md-sys-color-tertiary-container: #eea8fa;
  --md-sys-color-on-tertiary-container: #000000;
  --md-sys-color-tertiary-fixed: #d08ddc;
  --md-sys-color-tertiary-fixed-dim: #c280ce;
  --md-sys-color-on-tertiary-fixed: #000000;
  --md-sys-color-on-tertiary-fixed-variant: #000000;
  --md-sys-color-error: #ffffff;
  --md-sys-color-error-dim: #fffeff;
  --md-sys-color-on-error: #000000;
  --md-sys-color-error-container: #7d2938;
  --md-sys-color-on-error-container: #ffffff;
}

