.light {
  --md-sys-color-primary-palette-key-color: #a85aaa;
  --md-sys-color-secondary-palette-key-color: #a36853;
  --md-sys-color-tertiary-palette-key-color: #ffdd96;
  --md-sys-color-neutral-palette-key-color: #797676;
  --md-sys-color-neutral-variant-palette-key-color: #81737e;
  --md-sys-color-error-palette-key-color: #de3730;
  --md-sys-color-background: #fdf8f8;
  --md-sys-color-on-background: #343232;
  --md-sys-color-surface: #fdf8f8;
  --md-sys-color-surface-dim: #ded9d8;
  --md-sys-color-surface-bright: #fdf8f8;
  --md-sys-color-surface-container-lowest: #ffffff;
  --md-sys-color-surface-container-low: #f7f2f2;
  --md-sys-color-surface-container: #f2edec;
  --md-sys-color-surface-container-high: #ece7e6;
  --md-sys-color-surface-container-highest: #e6e1e1;
  --md-sys-color-on-surface: #343232;
  --md-sys-color-surface-variant: #e6e1e1;
  --md-sys-color-on-surface-variant: #615e5e;
  --md-sys-color-inverse-surface: #0f0e0e;
  --md-sys-color-inverse-on-surface: #a09c9c;
  --md-sys-color-outline: #7d7a7a;
  --md-sys-color-outline-variant: #b5b1b1;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #8c4190;
  --md-sys-color-primary: #8c4190;
  --md-sys-color-primary-dim: #7f3583;
  --md-sys-color-on-primary: #fff7fa;
  --md-sys-color-primary-container: #fda5fc;
  --md-sys-color-on-primary-container: #661e6c;
  --md-sys-color-inverse-primary: #fda5fc;
  --md-sys-color-primary-fixed: #fda5fc;
  --md-sys-color-primary-fixed-dim: #ee98ee;
  --md-sys-color-on-primary-fixed: #4e0056;
  --md-sys-color-on-primary-fixed-variant: #712876;
  --md-sys-color-secondary: #87513e;
  --md-sys-color-secondary-dim: #794633;
  --md-sys-color-on-secondary: #fff7f5;
  --md-sys-color-secondary-container: #ffdbcf;
  --md-sys-color-on-secondary-container: #784432;
  --md-sys-color-secondary-fixed: #ffdbcf;
  --md-sys-color-secondary-fixed-dim: #ffc8b6;
  --md-sys-color-on-secondary-fixed: #623221;
  --md-sys-color-on-secondary-fixed-variant: #834e3a;
  --md-sys-color-tertiary: #795a00;
  --md-sys-color-tertiary-dim: #6a4f00;
  --md-sys-color-on-tertiary: #fff8f0;
  --md-sys-color-tertiary-container: #fdc000;
  --md-sys-color-on-tertiary-container: #553f00;
  --md-sys-color-tertiary-fixed: #fdc000;
  --md-sys-color-tertiary-fixed-dim: #ecb300;
  --md-sys-color-on-tertiary-fixed: #3c2c00;
  --md-sys-color-on-tertiary-fixed-variant: #604700;
  --md-sys-color-error: #bb1b1b;
  --md-sys-color-error-dim: #a90810;
  --md-sys-color-on-error: #fff7f6;
  --md-sys-color-error-container: #fe4e44;
  --md-sys-color-on-error-container: #570003;
}

.light-medium-contrast {
  --md-sys-color-primary-palette-key-color: #a85aaa;
  --md-sys-color-secondary-palette-key-color: #a36853;
  --md-sys-color-tertiary-palette-key-color: #ffdd96;
  --md-sys-color-neutral-palette-key-color: #797676;
  --md-sys-color-neutral-variant-palette-key-color: #81737e;
  --md-sys-color-error-palette-key-color: #de3730;
  --md-sys-color-background: #fdf8f8;
  --md-sys-color-on-background: #252423;
  --md-sys-color-surface: #fdf8f8;
  --md-sys-color-surface-dim: #ded9d8;
  --md-sys-color-surface-bright: #fdf8f8;
  --md-sys-color-surface-container-lowest: #ffffff;
  --md-sys-color-surface-container-low: #f7f2f2;
  --md-sys-color-surface-container: #f2edec;
  --md-sys-color-surface-container-high: #ece7e6;
  --md-sys-color-surface-container-highest: #e6e1e1;
  --md-sys-color-on-surface: #252423;
  --md-sys-color-surface-variant: #e6e1e1;
  --md-sys-color-on-surface-variant: #444242;
  --md-sys-color-inverse-surface: #0f0e0e;
  --md-sys-color-inverse-on-surface: #c8c4c3;
  --md-sys-color-outline: #615e5e;
  --md-sys-color-outline-variant: #7d7a7a;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #6c2371;
  --md-sys-color-primary: #6c2371;
  --md-sys-color-primary-dim: #5e1565;
  --md-sys-color-on-primary: #ffc8fb;
  --md-sys-color-primary-container: #a557a8;
  --md-sys-color-on-primary-container: #ffffff;
  --md-sys-color-inverse-primary: #fda5fc;
  --md-sys-color-primary-fixed: #a557a8;
  --md-sys-color-primary-fixed-dim: #974a9a;
  --md-sys-color-on-primary-fixed: #ffffff;
  --md-sys-color-on-primary-fixed-variant: #ffffff;
  --md-sys-color-secondary: #663624;
  --md-sys-color-secondary-dim: #582b1a;
  --md-sys-color-on-secondary: #ffcfbf;
  --md-sys-color-secondary-container: #a06651;
  --md-sys-color-on-secondary-container: #ffffff;
  --md-sys-color-secondary-fixed: #a06651;
  --md-sys-color-secondary-fixed-dim: #925a46;
  --md-sys-color-on-secondary-fixed: #ffffff;
  --md-sys-color-on-secondary-fixed-variant: #ffffff;
  --md-sys-color-tertiary: #563f00;
  --md-sys-color-tertiary-dim: #483500;
  --md-sys-color-on-tertiary: #ffd475;
  --md-sys-color-tertiary-container: #946f00;
  --md-sys-color-on-tertiary-container: #ffffff;
  --md-sys-color-tertiary-fixed: #946f00;
  --md-sys-color-tertiary-fixed-dim: #846300;
  --md-sys-color-on-tertiary-fixed: #ffffff;
  --md-sys-color-on-tertiary-fixed-variant: #ffffff;
  --md-sys-color-error: #8c0009;
  --md-sys-color-error-dim: #760006;
  --md-sys-color-on-error: #ffcec8;
  --md-sys-color-error-container: #da342e;
  --md-sys-color-on-error-container: #ffffff;
}

.light-high-contrast {
  --md-sys-color-primary-palette-key-color: #a85aaa;
  --md-sys-color-secondary-palette-key-color: #a36853;
  --md-sys-color-tertiary-palette-key-color: #ffdd96;
  --md-sys-color-neutral-palette-key-color: #797676;
  --md-sys-color-neutral-variant-palette-key-color: #81737e;
  --md-sys-color-error-palette-key-color: #de3730;
  --md-sys-color-background: #fdf8f8;
  --md-sys-color-on-background: #000000;
  --md-sys-color-surface: #fdf8f8;
  --md-sys-color-surface-dim: #ded9d8;
  --md-sys-color-surface-bright: #fdf8f8;
  --md-sys-color-surface-container-lowest: #ffffff;
  --md-sys-color-surface-container-low: #f7f2f2;
  --md-sys-color-surface-container: #f2edec;
  --md-sys-color-surface-container-high: #ece7e6;
  --md-sys-color-surface-container-highest: #e6e1e1;
  --md-sys-color-on-surface: #000000;
  --md-sys-color-surface-variant: #e6e1e1;
  --md-sys-color-on-surface-variant: #252423;
  --md-sys-color-inverse-surface: #0f0e0e;
  --md-sys-color-inverse-on-surface: #ffffff;
  --md-sys-color-outline: #444242;
  --md-sys-color-outline-variant: #615e5e;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #44004b;
  --md-sys-color-primary: #44004b;
  --md-sys-color-primary-dim: #340039;
  --md-sys-color-on-primary: #ffc9fb;
  --md-sys-color-primary-container: #8c4190;
  --md-sys-color-on-primary-container: #ffffff;
  --md-sys-color-inverse-primary: #fda5fc;
  --md-sys-color-primary-fixed: #8c4190;
  --md-sys-color-primary-fixed-dim: #7f3583;
  --md-sys-color-on-primary-fixed: #ffffff;
  --md-sys-color-on-primary-fixed-variant: #ffffff;
  --md-sys-color-secondary: #401808;
  --md-sys-color-secondary-dim: #330e02;
  --md-sys-color-on-secondary: #ffd0c0;
  --md-sys-color-secondary-container: #87513e;
  --md-sys-color-on-secondary-container: #ffffff;
  --md-sys-color-secondary-fixed: #87513e;
  --md-sys-color-secondary-fixed-dim: #794633;
  --md-sys-color-on-secondary-fixed: #ffffff;
  --md-sys-color-on-secondary-fixed-variant: #ffffff;
  --md-sys-color-tertiary: #302200;
  --md-sys-color-tertiary-dim: #231800;
  --md-sys-color-on-tertiary: #ffd577;
  --md-sys-color-tertiary-container: #795a00;
  --md-sys-color-on-tertiary-container: #ffffff;
  --md-sys-color-tertiary-fixed: #795a00;
  --md-sys-color-tertiary-fixed-dim: #6a4f00;
  --md-sys-color-on-tertiary-fixed: #ffffff;
  --md-sys-color-on-tertiary-fixed-variant: #ffffff;
  --md-sys-color-error: #510003;
  --md-sys-color-error-dim: #3e0002;
  --md-sys-color-on-error: #ffcfc9;
  --md-sys-color-error-container: #bb1b1b;
  --md-sys-color-on-error-container: #ffffff;
}

.dark {
  --md-sys-color-primary-palette-key-color: #a85aaa;
  --md-sys-color-secondary-palette-key-color: #a36853;
  --md-sys-color-tertiary-palette-key-color: #ffdd96;
  --md-sys-color-neutral-palette-key-color: #797676;
  --md-sys-color-neutral-variant-palette-key-color: #81737e;
  --md-sys-color-error-palette-key-color: #de3730;
  --md-sys-color-background: #0f0e0e;
  --md-sys-color-on-background: #e9e4e4;
  --md-sys-color-surface: #0f0e0e;
  --md-sys-color-surface-dim: #0f0e0e;
  --md-sys-color-surface-bright: #2d2c2c;
  --md-sys-color-surface-container-lowest: #000000;
  --md-sys-color-surface-container-low: #141313;
  --md-sys-color-surface-container: #1a1919;
  --md-sys-color-surface-container-high: #211f1f;
  --md-sys-color-surface-container-highest: #272525;
  --md-sys-color-on-surface: #e9e4e4;
  --md-sys-color-surface-variant: #272525;
  --md-sys-color-on-surface-variant: #aeaaaa;
  --md-sys-color-inverse-surface: #fdf8f8;
  --md-sys-color-inverse-on-surface: #575454;
  --md-sys-color-outline: #787574;
  --md-sys-color-outline-variant: #494747;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #fda5fc;
  --md-sys-color-primary: #fda5fc;
  --md-sys-color-primary-dim: #ee98ee;
  --md-sys-color-on-primary: #661e6c;
  --md-sys-color-primary-container: #d683d7;
  --md-sys-color-on-primary-container: #420049;
  --md-sys-color-inverse-primary: #8c4190;
  --md-sys-color-primary-fixed: #fda5fc;
  --md-sys-color-primary-fixed-dim: #ee98ee;
  --md-sys-color-on-primary-fixed: #4e0056;
  --md-sys-color-on-primary-fixed-variant: #712876;
  --md-sys-color-secondary: #fdb69d;
  --md-sys-color-secondary-dim: #eda991;
  --md-sys-color-on-secondary: #633322;
  --md-sys-color-secondary-container: #5d2f1d;
  --md-sys-color-on-secondary-container: #f5af97;
  --md-sys-color-secondary-fixed: #ffdbcf;
  --md-sys-color-secondary-fixed-dim: #ffc8b6;
  --md-sys-color-on-secondary-fixed: #623221;
  --md-sys-color-on-secondary-fixed-variant: #834e3a;
  --md-sys-color-tertiary: #ffd169;
  --md-sys-color-tertiary-dim: #fdc000;
  --md-sys-color-on-tertiary: #604700;
  --md-sys-color-tertiary-container: #fdc000;
  --md-sys-color-on-tertiary-container: #553f00;
  --md-sys-color-tertiary-fixed: #fdc000;
  --md-sys-color-tertiary-fixed-dim: #ecb300;
  --md-sys-color-on-tertiary-fixed: #3c2c00;
  --md-sys-color-on-tertiary-fixed-variant: #604700;
  --md-sys-color-error: #ff7164;
  --md-sys-color-error-dim: #da342e;
  --md-sys-color-on-error: #4a0002;
  --md-sys-color-error-container: #ac0c12;
  --md-sys-color-on-error-container: #ffb8b0;
}

.dark-medium-contrast {
  --md-sys-color-primary-palette-key-color: #a85aaa;
  --md-sys-color-secondary-palette-key-color: #a36853;
  --md-sys-color-tertiary-palette-key-color: #ffdd96;
  --md-sys-color-neutral-palette-key-color: #797676;
  --md-sys-color-neutral-variant-palette-key-color: #81737e;
  --md-sys-color-error-palette-key-color: #de3730;
  --md-sys-color-background: #0f0e0e;
  --md-sys-color-on-background: #ffffff;
  --md-sys-color-surface: #0f0e0e;
  --md-sys-color-surface-dim: #0f0e0e;
  --md-sys-color-surface-bright: #2d2c2c;
  --md-sys-color-surface-container-lowest: #000000;
  --md-sys-color-surface-container-low: #141313;
  --md-sys-color-surface-container: #1a1919;
  --md-sys-color-surface-container-high: #211f1f;
  --md-sys-color-surface-container-highest: #272525;
  --md-sys-color-on-surface: #ffffff;
  --md-sys-color-surface-variant: #272525;
  --md-sys-color-on-surface-variant: #bcb8b7;
  --md-sys-color-inverse-surface: #fdf8f8;
  --md-sys-color-inverse-on-surface: #393838;
  --md-sys-color-outline: #969392;
  --md-sys-color-outline-variant: #787574;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #fda5fc;
  --md-sys-color-primary: #fda5fc;
  --md-sys-color-primary-dim: #ee98ee;
  --md-sys-color-on-primary: #5a1061;
  --md-sys-color-primary-container: #d683d7;
  --md-sys-color-on-primary-container: #2b0030;
  --md-sys-color-inverse-primary: #813785;
  --md-sys-color-primary-fixed: #fda5fc;
  --md-sys-color-primary-fixed-dim: #ee98ee;
  --md-sys-color-on-primary-fixed: #000000;
  --md-sys-color-on-primary-fixed-variant: #4e0056;
  --md-sys-color-secondary: #fdb69d;
  --md-sys-color-secondary-dim: #eda991;
  --md-sys-color-on-secondary: #562a19;
  --md-sys-color-secondary-container: #a06651;
  --md-sys-color-on-secondary-container: #ffffff;
  --md-sys-color-secondary-fixed: #ffdbcf;
  --md-sys-color-secondary-fixed-dim: #ffc8b6;
  --md-sys-color-on-secondary-fixed: #3a1405;
  --md-sys-color-on-secondary-fixed-variant: #623221;
  --md-sys-color-tertiary: #ffd169;
  --md-sys-color-tertiary-dim: #fdc000;
  --md-sys-color-on-tertiary: #543e00;
  --md-sys-color-tertiary-container: #fdc000;
  --md-sys-color-on-tertiary-container: #493500;
  --md-sys-color-tertiary-fixed: #fdc000;
  --md-sys-color-tertiary-fixed-dim: #ecb300;
  --md-sys-color-on-tertiary-fixed: #000000;
  --md-sys-color-on-tertiary-fixed-variant: #3c2c00;
  --md-sys-color-error: #ff9f94;
  --md-sys-color-error-dim: #ff887c;
  --md-sys-color-on-error: #600004;
  --md-sys-color-error-container: #da342e;
  --md-sys-color-on-error-container: #ffffff;
}

.dark-high-contrast {
  --md-sys-color-primary-palette-key-color: #a85aaa;
  --md-sys-color-secondary-palette-key-color: #a36853;
  --md-sys-color-tertiary-palette-key-color: #ffdd96;
  --md-sys-color-neutral-palette-key-color: #797676;
  --md-sys-color-neutral-variant-palette-key-color: #81737e;
  --md-sys-color-error-palette-key-color: #de3730;
  --md-sys-color-background: #0f0e0e;
  --md-sys-color-on-background: #ffffff;
  --md-sys-color-surface: #0f0e0e;
  --md-sys-color-surface-dim: #0f0e0e;
  --md-sys-color-surface-bright: #2d2c2c;
  --md-sys-color-surface-container-lowest: #000000;
  --md-sys-color-surface-container-low: #141313;
  --md-sys-color-surface-container: #1a1919;
  --md-sys-color-surface-container-high: #211f1f;
  --md-sys-color-surface-container-highest: #272525;
  --md-sys-color-on-surface: #ffffff;
  --md-sys-color-surface-variant: #272525;
  --md-sys-color-on-surface-variant: #e9e4e4;
  --md-sys-color-inverse-surface: #fdf8f8;
  --md-sys-color-inverse-on-surface: #000000;
  --md-sys-color-outline: #bcb8b7;
  --md-sys-color-outline-variant: #969392;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #ffdbfa;
  --md-sys-color-primary: #ffdbfa;
  --md-sys-color-primary-dim: #ffc1fc;
  --md-sys-color-on-primary: #510358;
  --md-sys-color-primary-container: #d683d7;
  --md-sys-color-on-primary-container: #000000;
  --md-sys-color-inverse-primary: #5f1666;
  --md-sys-color-primary-fixed: #fda5fc;
  --md-sys-color-primary-fixed-dim: #ee98ee;
  --md-sys-color-on-primary-fixed: #000000;
  --md-sys-color-on-primary-fixed-variant: #000000;
  --md-sys-color-secondary: #ffdfd4;
  --md-sys-color-secondary-dim: #ffc9b6;
  --md-sys-color-on-secondary: #4a2010;
  --md-sys-color-secondary-container: #cf8e77;
  --md-sys-color-on-secondary-container: #000000;
  --md-sys-color-secondary-fixed: #ffdbcf;
  --md-sys-color-secondary-fixed-dim: #ffc8b6;
  --md-sys-color-on-secondary-fixed: #000000;
  --md-sys-color-on-secondary-fixed-variant: #3a1405;
  --md-sys-color-tertiary: #ffe2a8;
  --md-sys-color-tertiary-dim: #ffce5c;
  --md-sys-color-on-tertiary: #3a2900;
  --md-sys-color-tertiary-container: #fdc000;
  --md-sys-color-on-tertiary-container: #1d1300;
  --md-sys-color-tertiary-fixed: #fdc000;
  --md-sys-color-tertiary-fixed-dim: #ecb300;
  --md-sys-color-on-tertiary-fixed: #000000;
  --md-sys-color-on-tertiary-fixed-variant: #000000;
  --md-sys-color-error: #ffdeda;
  --md-sys-color-error-dim: #ffc8c1;
  --md-sys-color-on-error: #600004;
  --md-sys-color-error-container: #ff7164;
  --md-sys-color-on-error-container: #000000;
}

