.light {
  --md-sys-color-primary-palette-key-color: #a85aaa;
  --md-sys-color-secondary-palette-key-color: #a36853;
  --md-sys-color-tertiary-palette-key-color: #ffdd96;
  --md-sys-color-neutral-palette-key-color: #797676;
  --md-sys-color-neutral-variant-palette-key-color: #81737e;
  --md-sys-color-error-palette-key-color: #de3730;
  --md-sys-color-background: #141313;
  --md-sys-color-on-background: #e6e1e1;
  --md-sys-color-surface: #141313;
  --md-sys-color-surface-dim: #141313;
  --md-sys-color-surface-bright: #3a3939;
  --md-sys-color-surface-container-lowest: #0f0e0e;
  --md-sys-color-surface-container-low: #1c1b1b;
  --md-sys-color-surface-container: #211f1f;
  --md-sys-color-surface-container-high: #2b2a29;
  --md-sys-color-surface-container-highest: #363434;
  --md-sys-color-on-surface: #e6e1e1;
  --md-sys-color-surface-variant: #4f434e;
  --md-sys-color-on-surface-variant: #d3c1ce;
  --md-sys-color-inverse-surface: #e6e1e1;
  --md-sys-color-inverse-on-surface: #323030;
  --md-sys-color-outline: #9c8c98;
  --md-sys-color-outline-variant: #4f434e;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #ffa9fe;
  --md-sys-color-primary: #ffa9fe;
  --md-sys-color-primary-dim: #ffc0fc;
  --md-sys-color-on-primary: #560a5d;
  --md-sys-color-primary-container: #ffd6fa;
  --md-sys-color-on-primary-container: #924796;
  --md-sys-color-inverse-primary: #8b418f;
  --md-sys-color-primary-fixed: #ffd6fa;
  --md-sys-color-primary-fixed-dim: #ffa9fe;
  --md-sys-color-on-primary-fixed: #36003c;
  --md-sys-color-on-primary-fixed-variant: #702776;
  --md-sys-color-secondary: #fdb69d;
  --md-sys-color-secondary-dim: #ffc8b6;
  --md-sys-color-on-secondary: #4f2414;
  --md-sys-color-secondary-container: #ffdbcf;
  --md-sys-color-on-secondary-container: #8d5642;
  --md-sys-color-secondary-fixed: #ffdbcf;
  --md-sys-color-secondary-fixed-dim: #fdb69d;
  --md-sys-color-on-secondary-fixed: #351003;
  --md-sys-color-on-secondary-fixed-variant: #6b3a28;
  --md-sys-color-tertiary: #f9bd00;
  --md-sys-color-tertiary-dim: #ffce5a;
  --md-sys-color-on-tertiary: #3f2e00;
  --md-sys-color-tertiary-container: #ffdf9c;
  --md-sys-color-on-tertiary-container: #805f00;
  --md-sys-color-tertiary-fixed: #ffdf9c;
  --md-sys-color-tertiary-fixed-dim: #f9bd00;
  --md-sys-color-on-tertiary-fixed: #251a00;
  --md-sys-color-on-tertiary-fixed-variant: #5b4300;
  --md-sys-color-error: #ffb4ab;
  --md-sys-color-error-dim: #ffc7c0;
  --md-sys-color-on-error: #690005;
  --md-sys-color-error-container: #ffdad6;
  --md-sys-color-on-error-container: #c32220;
}

.light-medium-contrast {
  --md-sys-color-primary-palette-key-color: #a85aaa;
  --md-sys-color-secondary-palette-key-color: #a36853;
  --md-sys-color-tertiary-palette-key-color: #ffdd96;
  --md-sys-color-neutral-palette-key-color: #797676;
  --md-sys-color-neutral-variant-palette-key-color: #81737e;
  --md-sys-color-error-palette-key-color: #de3730;
  --md-sys-color-background: #141313;
  --md-sys-color-on-background: #e6e1e1;
  --md-sys-color-surface: #141313;
  --md-sys-color-surface-dim: #141313;
  --md-sys-color-surface-bright: #464444;
  --md-sys-color-surface-container-lowest: #080707;
  --md-sys-color-surface-container-low: #1e1d1d;
  --md-sys-color-surface-container: #292727;
  --md-sys-color-surface-container-high: #343232;
  --md-sys-color-surface-container-highest: #3f3d3d;
  --md-sys-color-on-surface: #ffffff;
  --md-sys-color-surface-variant: #4f434e;
  --md-sys-color-on-surface-variant: #e9d7e4;
  --md-sys-color-inverse-surface: #e6e1e1;
  --md-sys-color-inverse-on-surface: #2b2a2a;
  --md-sys-color-outline: #beadba;
  --md-sys-color-outline-variant: #9b8c98;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #ffa9fe;
  --md-sys-color-primary: #ffcdfb;
  --md-sys-color-primary-dim: #ffc0fc;
  --md-sys-color-on-primary: #47004e;
  --md-sys-color-primary-container: #fff7fa;
  --md-sys-color-on-primary-container: #803785;
  --md-sys-color-inverse-primary: #722977;
  --md-sys-color-primary-fixed: #ffd6fa;
  --md-sys-color-primary-fixed-dim: #ffa9fe;
  --md-sys-color-on-primary-fixed: #25002a;
  --md-sys-color-on-primary-fixed-variant: #5d1363;
  --md-sys-color-secondary: #ffd3c4;
  --md-sys-color-secondary-dim: #ffc8b6;
  --md-sys-color-on-secondary: #421a0a;
  --md-sys-color-secondary-container: #fff7f5;
  --md-sys-color-on-secondary-container: #7b4734;
  --md-sys-color-secondary-fixed: #ffdbcf;
  --md-sys-color-secondary-fixed-dim: #fdb69d;
  --md-sys-color-on-secondary-fixed: #270600;
  --md-sys-color-on-secondary-fixed-variant: #562a19;
  --md-sys-color-tertiary: #ffd782;
  --md-sys-color-tertiary-dim: #ffce5a;
  --md-sys-color-on-tertiary: #322300;
  --md-sys-color-tertiary-container: #fff8f0;
  --md-sys-color-on-tertiary-container: #6c5000;
  --md-sys-color-tertiary-fixed: #ffdf9c;
  --md-sys-color-tertiary-fixed-dim: #f9bd00;
  --md-sys-color-on-tertiary-fixed: #181000;
  --md-sys-color-on-tertiary-fixed-variant: #463300;
  --md-sys-color-error: #ffd2cc;
  --md-sys-color-error-dim: #ffc7c0;
  --md-sys-color-on-error: #540003;
  --md-sys-color-error-container: #fff7f6;
  --md-sys-color-on-error-container: #ab0b12;
}

.light-high-contrast {
  --md-sys-color-primary-palette-key-color: #a85aaa;
  --md-sys-color-secondary-palette-key-color: #a36853;
  --md-sys-color-tertiary-palette-key-color: #ffdd96;
  --md-sys-color-neutral-palette-key-color: #797676;
  --md-sys-color-neutral-variant-palette-key-color: #81737e;
  --md-sys-color-error-palette-key-color: #de3730;
  --md-sys-color-background: #141313;
  --md-sys-color-on-background: #e6e1e1;
  --md-sys-color-surface: #141313;
  --md-sys-color-surface-dim: #141313;
  --md-sys-color-surface-bright: #524f4f;
  --md-sys-color-surface-container-lowest: #000000;
  --md-sys-color-surface-container-low: #211f1f;
  --md-sys-color-surface-container: #323030;
  --md-sys-color-surface-container-high: #3d3b3b;
  --md-sys-color-surface-container-highest: #484646;
  --md-sys-color-on-surface: #ffffff;
  --md-sys-color-surface-variant: #4f434e;
  --md-sys-color-on-surface-variant: #ffffff;
  --md-sys-color-inverse-surface: #e6e1e1;
  --md-sys-color-inverse-on-surface: #000000;
  --md-sys-color-outline: #feebf8;
  --md-sys-color-outline-variant: #cfbecb;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #ffa9fe;
  --md-sys-color-primary: #ffd6fa;
  --md-sys-color-primary-dim: #fffeff;
  --md-sys-color-on-primary: #000000;
  --md-sys-color-primary-container: #ffffff;
  --md-sys-color-on-primary-container: #631a69;
  --md-sys-color-inverse-primary: #722977;
  --md-sys-color-primary-fixed: #ffd6fa;
  --md-sys-color-primary-fixed-dim: #ffa9fe;
  --md-sys-color-on-primary-fixed: #000000;
  --md-sys-color-on-primary-fixed-variant: #25002a;
  --md-sys-color-secondary: #ffdbcf;
  --md-sys-color-secondary-dim: #fffeff;
  --md-sys-color-on-secondary: #000000;
  --md-sys-color-secondary-container: #ffffff;
  --md-sys-color-on-secondary-container: #5d2f1d;
  --md-sys-color-secondary-fixed: #ffdbcf;
  --md-sys-color-secondary-fixed-dim: #fdb69d;
  --md-sys-color-on-secondary-fixed: #000000;
  --md-sys-color-on-secondary-fixed-variant: #270600;
  --md-sys-color-tertiary: #ffdf9c;
  --md-sys-color-tertiary-dim: #fffeff;
  --md-sys-color-on-tertiary: #000000;
  --md-sys-color-tertiary-container: #ffffff;
  --md-sys-color-on-tertiary-container: #4d3800;
  --md-sys-color-tertiary-fixed: #ffdf9c;
  --md-sys-color-tertiary-fixed-dim: #f9bd00;
  --md-sys-color-on-tertiary-fixed: #000000;
  --md-sys-color-on-tertiary-fixed-variant: #181000;
  --md-sys-color-error: #ffdad6;
  --md-sys-color-error-dim: #fffeff;
  --md-sys-color-on-error: #000000;
  --md-sys-color-error-container: #ffffff;
  --md-sys-color-on-error-container: #7e0007;
}

.dark {
  --md-sys-color-primary-palette-key-color: #a85aaa;
  --md-sys-color-secondary-palette-key-color: #a36853;
  --md-sys-color-tertiary-palette-key-color: #ffdd96;
  --md-sys-color-neutral-palette-key-color: #797676;
  --md-sys-color-neutral-variant-palette-key-color: #81737e;
  --md-sys-color-error-palette-key-color: #de3730;
  --md-sys-color-background: #141313;
  --md-sys-color-on-background: #e6e1e1;
  --md-sys-color-surface: #141313;
  --md-sys-color-surface-dim: #141313;
  --md-sys-color-surface-bright: #3a3939;
  --md-sys-color-surface-container-lowest: #0f0e0e;
  --md-sys-color-surface-container-low: #1c1b1b;
  --md-sys-color-surface-container: #211f1f;
  --md-sys-color-surface-container-high: #2b2a29;
  --md-sys-color-surface-container-highest: #363434;
  --md-sys-color-on-surface: #e6e1e1;
  --md-sys-color-surface-variant: #4f434e;
  --md-sys-color-on-surface-variant: #d3c1ce;
  --md-sys-color-inverse-surface: #e6e1e1;
  --md-sys-color-inverse-on-surface: #323030;
  --md-sys-color-outline: #9c8c98;
  --md-sys-color-outline-variant: #4f434e;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #ffa9fe;
  --md-sys-color-primary: #ffa9fe;
  --md-sys-color-primary-dim: #ffc0fc;
  --md-sys-color-on-primary: #560a5d;
  --md-sys-color-primary-container: #ffd6fa;
  --md-sys-color-on-primary-container: #924796;
  --md-sys-color-inverse-primary: #8b418f;
  --md-sys-color-primary-fixed: #ffd6fa;
  --md-sys-color-primary-fixed-dim: #ffa9fe;
  --md-sys-color-on-primary-fixed: #36003c;
  --md-sys-color-on-primary-fixed-variant: #702776;
  --md-sys-color-secondary: #fdb69d;
  --md-sys-color-secondary-dim: #ffc8b6;
  --md-sys-color-on-secondary: #4f2414;
  --md-sys-color-secondary-container: #ffdbcf;
  --md-sys-color-on-secondary-container: #8d5642;
  --md-sys-color-secondary-fixed: #ffdbcf;
  --md-sys-color-secondary-fixed-dim: #fdb69d;
  --md-sys-color-on-secondary-fixed: #351003;
  --md-sys-color-on-secondary-fixed-variant: #6b3a28;
  --md-sys-color-tertiary: #f9bd00;
  --md-sys-color-tertiary-dim: #ffce5a;
  --md-sys-color-on-tertiary: #3f2e00;
  --md-sys-color-tertiary-container: #ffdf9c;
  --md-sys-color-on-tertiary-container: #805f00;
  --md-sys-color-tertiary-fixed: #ffdf9c;
  --md-sys-color-tertiary-fixed-dim: #f9bd00;
  --md-sys-color-on-tertiary-fixed: #251a00;
  --md-sys-color-on-tertiary-fixed-variant: #5b4300;
  --md-sys-color-error: #ffb4ab;
  --md-sys-color-error-dim: #ffc7c0;
  --md-sys-color-on-error: #690005;
  --md-sys-color-error-container: #ffdad6;
  --md-sys-color-on-error-container: #c32220;
}

.dark-medium-contrast {
  --md-sys-color-primary-palette-key-color: #a85aaa;
  --md-sys-color-secondary-palette-key-color: #a36853;
  --md-sys-color-tertiary-palette-key-color: #ffdd96;
  --md-sys-color-neutral-palette-key-color: #797676;
  --md-sys-color-neutral-variant-palette-key-color: #81737e;
  --md-sys-color-error-palette-key-color: #de3730;
  --md-sys-color-background: #141313;
  --md-sys-color-on-background: #e6e1e1;
  --md-sys-color-surface: #141313;
  --md-sys-color-surface-dim: #141313;
  --md-sys-color-surface-bright: #464444;
  --md-sys-color-surface-container-lowest: #080707;
  --md-sys-color-surface-container-low: #1e1d1d;
  --md-sys-color-surface-container: #292727;
  --md-sys-color-surface-container-high: #343232;
  --md-sys-color-surface-container-highest: #3f3d3d;
  --md-sys-color-on-surface: #ffffff;
  --md-sys-color-surface-variant: #4f434e;
  --md-sys-color-on-surface-variant: #e9d7e4;
  --md-sys-color-inverse-surface: #e6e1e1;
  --md-sys-color-inverse-on-surface: #2b2a2a;
  --md-sys-color-outline: #beadba;
  --md-sys-color-outline-variant: #9b8c98;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #ffa9fe;
  --md-sys-color-primary: #ffcdfb;
  --md-sys-color-primary-dim: #ffc0fc;
  --md-sys-color-on-primary: #47004e;
  --md-sys-color-primary-container: #fff7fa;
  --md-sys-color-on-primary-container: #803785;
  --md-sys-color-inverse-primary: #722977;
  --md-sys-color-primary-fixed: #ffd6fa;
  --md-sys-color-primary-fixed-dim: #ffa9fe;
  --md-sys-color-on-primary-fixed: #25002a;
  --md-sys-color-on-primary-fixed-variant: #5d1363;
  --md-sys-color-secondary: #ffd3c4;
  --md-sys-color-secondary-dim: #ffc8b6;
  --md-sys-color-on-secondary: #421a0a;
  --md-sys-color-secondary-container: #fff7f5;
  --md-sys-color-on-secondary-container: #7b4734;
  --md-sys-color-secondary-fixed: #ffdbcf;
  --md-sys-color-secondary-fixed-dim: #fdb69d;
  --md-sys-color-on-secondary-fixed: #270600;
  --md-sys-color-on-secondary-fixed-variant: #562a19;
  --md-sys-color-tertiary: #ffd782;
  --md-sys-color-tertiary-dim: #ffce5a;
  --md-sys-color-on-tertiary: #322300;
  --md-sys-color-tertiary-container: #fff8f0;
  --md-sys-color-on-tertiary-container: #6c5000;
  --md-sys-color-tertiary-fixed: #ffdf9c;
  --md-sys-color-tertiary-fixed-dim: #f9bd00;
  --md-sys-color-on-tertiary-fixed: #181000;
  --md-sys-color-on-tertiary-fixed-variant: #463300;
  --md-sys-color-error: #ffd2cc;
  --md-sys-color-error-dim: #ffc7c0;
  --md-sys-color-on-error: #540003;
  --md-sys-color-error-container: #fff7f6;
  --md-sys-color-on-error-container: #ab0b12;
}

.dark-high-contrast {
  --md-sys-color-primary-palette-key-color: #a85aaa;
  --md-sys-color-secondary-palette-key-color: #a36853;
  --md-sys-color-tertiary-palette-key-color: #ffdd96;
  --md-sys-color-neutral-palette-key-color: #797676;
  --md-sys-color-neutral-variant-palette-key-color: #81737e;
  --md-sys-color-error-palette-key-color: #de3730;
  --md-sys-color-background: #141313;
  --md-sys-color-on-background: #e6e1e1;
  --md-sys-color-surface: #141313;
  --md-sys-color-surface-dim: #141313;
  --md-sys-color-surface-bright: #524f4f;
  --md-sys-color-surface-container-lowest: #000000;
  --md-sys-color-surface-container-low: #211f1f;
  --md-sys-color-surface-container: #323030;
  --md-sys-color-surface-container-high: #3d3b3b;
  --md-sys-color-surface-container-highest: #484646;
  --md-sys-color-on-surface: #ffffff;
  --md-sys-color-surface-variant: #4f434e;
  --md-sys-color-on-surface-variant: #ffffff;
  --md-sys-color-inverse-surface: #e6e1e1;
  --md-sys-color-inverse-on-surface: #000000;
  --md-sys-color-outline: #feebf8;
  --md-sys-color-outline-variant: #cfbecb;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #ffa9fe;
  --md-sys-color-primary: #ffd6fa;
  --md-sys-color-primary-dim: #fffeff;
  --md-sys-color-on-primary: #000000;
  --md-sys-color-primary-container: #ffffff;
  --md-sys-color-on-primary-container: #631a69;
  --md-sys-color-inverse-primary: #722977;
  --md-sys-color-primary-fixed: #ffd6fa;
  --md-sys-color-primary-fixed-dim: #ffa9fe;
  --md-sys-color-on-primary-fixed: #000000;
  --md-sys-color-on-primary-fixed-variant: #25002a;
  --md-sys-color-secondary: #ffdbcf;
  --md-sys-color-secondary-dim: #fffeff;
  --md-sys-color-on-secondary: #000000;
  --md-sys-color-secondary-container: #ffffff;
  --md-sys-color-on-secondary-container: #5d2f1d;
  --md-sys-color-secondary-fixed: #ffdbcf;
  --md-sys-color-secondary-fixed-dim: #fdb69d;
  --md-sys-color-on-secondary-fixed: #000000;
  --md-sys-color-on-secondary-fixed-variant: #270600;
  --md-sys-color-tertiary: #ffdf9c;
  --md-sys-color-tertiary-dim: #fffeff;
  --md-sys-color-on-tertiary: #000000;
  --md-sys-color-tertiary-container: #ffffff;
  --md-sys-color-on-tertiary-container: #4d3800;
  --md-sys-color-tertiary-fixed: #ffdf9c;
  --md-sys-color-tertiary-fixed-dim: #f9bd00;
  --md-sys-color-on-tertiary-fixed: #000000;
  --md-sys-color-on-tertiary-fixed-variant: #181000;
  --md-sys-color-error: #ffdad6;
  --md-sys-color-error-dim: #fffeff;
  --md-sys-color-on-error: #000000;
  --md-sys-color-error-container: #ffffff;
  --md-sys-color-on-error-container: #7e0007;
}

