.light {
  --md-sys-color-primary-palette-key-color: #6570c4;
  --md-sys-color-secondary-palette-key-color: #a36386;
  --md-sys-color-tertiary-palette-key-color: #328099;
  --md-sys-color-neutral-palette-key-color: #877276;
  --md-sys-color-neutral-variant-palette-key-color: #867184;
  --md-sys-color-error-palette-key-color: #de3730;
  --md-sys-color-background: #1d1013;
  --md-sys-color-on-background: #f6dce0;
  --md-sys-color-surface: #1d1013;
  --md-sys-color-surface-dim: #1d1013;
  --md-sys-color-surface-bright: #463538;
  --md-sys-color-surface-container-lowest: #170b0d;
  --md-sys-color-surface-container-low: #26181b;
  --md-sys-color-surface-container: #2a1c1f;
  --md-sys-color-surface-container-high: #352629;
  --md-sys-color-surface-container-highest: #413034;
  --md-sys-color-on-surface: #f6dce0;
  --md-sys-color-surface-variant: #534152;
  --md-sys-color-on-surface-variant: #d8bfd4;
  --md-sys-color-inverse-surface: #f6dce0;
  --md-sys-color-inverse-on-surface: #3c2c2f;
  --md-sys-color-outline: #a18a9d;
  --md-sys-color-outline-variant: #534152;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #bcc2ff;
  --md-sys-color-primary: #bcc2ff;
  --md-sys-color-primary-dim: #cdd1ff;
  --md-sys-color-on-primary: #1b2678;
  --md-sys-color-primary-container: #dfe0ff;
  --md-sys-color-on-primary-container: #525db0;
  --md-sys-color-inverse-primary: #4c57a9;
  --md-sys-color-primary-fixed: #dfe0ff;
  --md-sys-color-primary-fixed-dim: #bcc2ff;
  --md-sys-color-on-primary-fixed: #000b62;
  --md-sys-color-on-primary-fixed-variant: #343f90;
  --md-sys-color-secondary: #fbb0d7;
  --md-sys-color-secondary-dim: #ffc4e1;
  --md-sys-color-on-secondary: #511d3d;
  --md-sys-color-secondary-container: #ffd8ea;
  --md-sys-color-on-secondary-container: #8e5173;
  --md-sys-color-secondary-fixed: #ffd8ea;
  --md-sys-color-secondary-fixed-dim: #fbb0d7;
  --md-sys-color-on-secondary-fixed: #370727;
  --md-sys-color-on-secondary-fixed-variant: #6c3454;
  --md-sys-color-tertiary: #88d1ec;
  --md-sys-color-tertiary-dim: #96dffb;
  --md-sys-color-on-tertiary: #003544;
  --md-sys-color-tertiary-container: #b8eaff;
  --md-sys-color-on-tertiary-container: #166d85;
  --md-sys-color-tertiary-fixed: #b8eaff;
  --md-sys-color-tertiary-fixed-dim: #88d1ec;
  --md-sys-color-on-tertiary-fixed: #001f28;
  --md-sys-color-on-tertiary-fixed-variant: #004d61;
  --md-sys-color-error: #ffb4ab;
  --md-sys-color-error-dim: #ffc7c0;
  --md-sys-color-on-error: #690005;
  --md-sys-color-error-container: #ffdad6;
  --md-sys-color-on-error-container: #c32220;
}

.light-medium-contrast {
  --md-sys-color-primary-palette-key-color: #6570c4;
  --md-sys-color-secondary-palette-key-color: #a36386;
  --md-sys-color-tertiary-palette-key-color: #328099;
  --md-sys-color-neutral-palette-key-color: #877276;
  --md-sys-color-neutral-variant-palette-key-color: #867184;
  --md-sys-color-error-palette-key-color: #de3730;
  --md-sys-color-background: #1d1013;
  --md-sys-color-on-background: #f6dce0;
  --md-sys-color-surface: #1d1013;
  --md-sys-color-surface-dim: #1d1013;
  --md-sys-color-surface-bright: #524043;
  --md-sys-color-surface-container-lowest: #0f0507;
  --md-sys-color-surface-container-low: #281a1d;
  --md-sys-color-surface-container: #332427;
  --md-sys-color-surface-container-high: #3f2e31;
  --md-sys-color-surface-container-highest: #4a393c;
  --md-sys-color-on-surface: #ffffff;
  --md-sys-color-surface-variant: #534152;
  --md-sys-color-on-surface-variant: #efd5ea;
  --md-sys-color-inverse-surface: #f6dce0;
  --md-sys-color-inverse-on-surface: #352629;
  --md-sys-color-outline: #c3abbf;
  --md-sys-color-outline-variant: #a0899d;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #bcc2ff;
  --md-sys-color-primary: #d7daff;
  --md-sys-color-primary-dim: #cdd1ff;
  --md-sys-color-on-primary: #0d196e;
  --md-sys-color-primary-container: #faf8ff;
  --md-sys-color-on-primary-container: #424d9f;
  --md-sys-color-inverse-primary: #354091;
  --md-sys-color-primary-fixed: #dfe0ff;
  --md-sys-color-primary-fixed-dim: #bcc2ff;
  --md-sys-color-on-primary-fixed: #000646;
  --md-sys-color-on-primary-fixed-variant: #222d7e;
  --md-sys-color-secondary: #ffcfe6;
  --md-sys-color-secondary-dim: #ffc4e1;
  --md-sys-color-on-secondary: #441232;
  --md-sys-color-secondary-container: #fff7f8;
  --md-sys-color-on-secondary-container: #7c4163;
  --md-sys-color-secondary-fixed: #ffd8ea;
  --md-sys-color-secondary-fixed-dim: #fbb0d7;
  --md-sys-color-on-secondary-fixed: #29001c;
  --md-sys-color-on-secondary-fixed-variant: #582343;
  --md-sys-color-tertiary: #a6e6ff;
  --md-sys-color-tertiary-dim: #96dffb;
  --md-sys-color-on-tertiary: #002a35;
  --md-sys-color-tertiary-container: #f1faff;
  --md-sys-color-on-tertiary-container: #005d73;
  --md-sys-color-tertiary-fixed: #b8eaff;
  --md-sys-color-tertiary-fixed-dim: #88d1ec;
  --md-sys-color-on-tertiary-fixed: #00141b;
  --md-sys-color-on-tertiary-fixed-variant: #003c4b;
  --md-sys-color-error: #ffd2cc;
  --md-sys-color-error-dim: #ffc7c0;
  --md-sys-color-on-error: #540003;
  --md-sys-color-error-container: #fff7f6;
  --md-sys-color-on-error-container: #ab0b12;
}

.light-high-contrast {
  --md-sys-color-primary-palette-key-color: #6570c4;
  --md-sys-color-secondary-palette-key-color: #a36386;
  --md-sys-color-tertiary-palette-key-color: #328099;
  --md-sys-color-neutral-palette-key-color: #877276;
  --md-sys-color-neutral-variant-palette-key-color: #867184;
  --md-sys-color-error-palette-key-color: #de3730;
  --md-sys-color-background: #1d1013;
  --md-sys-color-on-background: #f6dce0;
  --md-sys-color-surface: #1d1013;
  --md-sys-color-surface-dim: #1d1013;
  --md-sys-color-surface-bright: #5e4b4f;
  --md-sys-color-surface-container-lowest: #000000;
  --md-sys-color-surface-container-low: #2a1c1f;
  --md-sys-color-surface-container: #3c2c2f;
  --md-sys-color-surface-container-high: #48373a;
  --md-sys-color-surface-container-highest: #544246;
  --md-sys-color-on-surface: #ffffff;
  --md-sys-color-surface-variant: #534152;
  --md-sys-color-on-surface-variant: #ffffff;
  --md-sys-color-inverse-surface: #f6dce0;
  --md-sys-color-inverse-on-surface: #000000;
  --md-sys-color-outline: #ffeafa;
  --md-sys-color-outline-variant: #d4bbd0;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #bcc2ff;
  --md-sys-color-primary: #dfe0ff;
  --md-sys-color-primary-dim: #fffeff;
  --md-sys-color-on-primary: #000000;
  --md-sys-color-primary-container: #ffffff;
  --md-sys-color-on-primary-container: #273284;
  --md-sys-color-inverse-primary: #354091;
  --md-sys-color-primary-fixed: #dfe0ff;
  --md-sys-color-primary-fixed-dim: #bcc2ff;
  --md-sys-color-on-primary-fixed: #000000;
  --md-sys-color-on-primary-fixed-variant: #000646;
  --md-sys-color-secondary: #ffd8ea;
  --md-sys-color-secondary-dim: #fffeff;
  --md-sys-color-on-secondary: #000000;
  --md-sys-color-secondary-container: #ffffff;
  --md-sys-color-on-secondary-container: #5e2849;
  --md-sys-color-secondary-fixed: #ffd8ea;
  --md-sys-color-secondary-fixed-dim: #fbb0d7;
  --md-sys-color-on-secondary-fixed: #000000;
  --md-sys-color-on-secondary-fixed-variant: #29001c;
  --md-sys-color-tertiary: #b8eaff;
  --md-sys-color-tertiary-dim: #fffeff;
  --md-sys-color-on-tertiary: #000000;
  --md-sys-color-tertiary-container: #ffffff;
  --md-sys-color-on-tertiary-container: #004152;
  --md-sys-color-tertiary-fixed: #b8eaff;
  --md-sys-color-tertiary-fixed-dim: #88d1ec;
  --md-sys-color-on-tertiary-fixed: #000000;
  --md-sys-color-on-tertiary-fixed-variant: #00141b;
  --md-sys-color-error: #ffdad6;
  --md-sys-color-error-dim: #fffeff;
  --md-sys-color-on-error: #000000;
  --md-sys-color-error-container: #ffffff;
  --md-sys-color-on-error-container: #7e0007;
}

.dark {
  --md-sys-color-primary-palette-key-color: #6570c4;
  --md-sys-color-secondary-palette-key-color: #a36386;
  --md-sys-color-tertiary-palette-key-color: #328099;
  --md-sys-color-neutral-palette-key-color: #877276;
  --md-sys-color-neutral-variant-palette-key-color: #867184;
  --md-sys-color-error-palette-key-color: #de3730;
  --md-sys-color-background: #1d1013;
  --md-sys-color-on-background: #f6dce0;
  --md-sys-color-surface: #1d1013;
  --md-sys-color-surface-dim: #1d1013;
  --md-sys-color-surface-bright: #463538;
  --md-sys-color-surface-container-lowest: #170b0d;
  --md-sys-color-surface-container-low: #26181b;
  --md-sys-color-surface-container: #2a1c1f;
  --md-sys-color-surface-container-high: #352629;
  --md-sys-color-surface-container-highest: #413034;
  --md-sys-color-on-surface: #f6dce0;
  --md-sys-color-surface-variant: #534152;
  --md-sys-color-on-surface-variant: #d8bfd4;
  --md-sys-color-inverse-surface: #f6dce0;
  --md-sys-color-inverse-on-surface: #3c2c2f;
  --md-sys-color-outline: #a18a9d;
  --md-sys-color-outline-variant: #534152;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #bcc2ff;
  --md-sys-color-primary: #bcc2ff;
  --md-sys-color-primary-dim: #cdd1ff;
  --md-sys-color-on-primary: #1b2678;
  --md-sys-color-primary-container: #dfe0ff;
  --md-sys-color-on-primary-container: #525db0;
  --md-sys-color-inverse-primary: #4c57a9;
  --md-sys-color-primary-fixed: #dfe0ff;
  --md-sys-color-primary-fixed-dim: #bcc2ff;
  --md-sys-color-on-primary-fixed: #000b62;
  --md-sys-color-on-primary-fixed-variant: #343f90;
  --md-sys-color-secondary: #fbb0d7;
  --md-sys-color-secondary-dim: #ffc4e1;
  --md-sys-color-on-secondary: #511d3d;
  --md-sys-color-secondary-container: #ffd8ea;
  --md-sys-color-on-secondary-container: #8e5173;
  --md-sys-color-secondary-fixed: #ffd8ea;
  --md-sys-color-secondary-fixed-dim: #fbb0d7;
  --md-sys-color-on-secondary-fixed: #370727;
  --md-sys-color-on-secondary-fixed-variant: #6c3454;
  --md-sys-color-tertiary: #88d1ec;
  --md-sys-color-tertiary-dim: #96dffb;
  --md-sys-color-on-tertiary: #003544;
  --md-sys-color-tertiary-container: #b8eaff;
  --md-sys-color-on-tertiary-container: #166d85;
  --md-sys-color-tertiary-fixed: #b8eaff;
  --md-sys-color-tertiary-fixed-dim: #88d1ec;
  --md-sys-color-on-tertiary-fixed: #001f28;
  --md-sys-color-on-tertiary-fixed-variant: #004d61;
  --md-sys-color-error: #ffb4ab;
  --md-sys-color-error-dim: #ffc7c0;
  --md-sys-color-on-error: #690005;
  --md-sys-color-error-container: #ffdad6;
  --md-sys-color-on-error-container: #c32220;
}

.dark-medium-contrast {
  --md-sys-color-primary-palette-key-color: #6570c4;
  --md-sys-color-secondary-palette-key-color: #a36386;
  --md-sys-color-tertiary-palette-key-color: #328099;
  --md-sys-color-neutral-palette-key-color: #877276;
  --md-sys-color-neutral-variant-palette-key-color: #867184;
  --md-sys-color-error-palette-key-color: #de3730;
  --md-sys-color-background: #1d1013;
  --md-sys-color-on-background: #f6dce0;
  --md-sys-color-surface: #1d1013;
  --md-sys-color-surface-dim: #1d1013;
  --md-sys-color-surface-bright: #524043;
  --md-sys-color-surface-container-lowest: #0f0507;
  --md-sys-color-surface-container-low: #281a1d;
  --md-sys-color-surface-container: #332427;
  --md-sys-color-surface-container-high: #3f2e31;
  --md-sys-color-surface-container-highest: #4a393c;
  --md-sys-color-on-surface: #ffffff;
  --md-sys-color-surface-variant: #534152;
  --md-sys-color-on-surface-variant: #efd5ea;
  --md-sys-color-inverse-surface: #f6dce0;
  --md-sys-color-inverse-on-surface: #352629;
  --md-sys-color-outline: #c3abbf;
  --md-sys-color-outline-variant: #a0899d;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #bcc2ff;
  --md-sys-color-primary: #d7daff;
  --md-sys-color-primary-dim: #cdd1ff;
  --md-sys-color-on-primary: #0d196e;
  --md-sys-color-primary-container: #faf8ff;
  --md-sys-color-on-primary-container: #424d9f;
  --md-sys-color-inverse-primary: #354091;
  --md-sys-color-primary-fixed: #dfe0ff;
  --md-sys-color-primary-fixed-dim: #bcc2ff;
  --md-sys-color-on-primary-fixed: #000646;
  --md-sys-color-on-primary-fixed-variant: #222d7e;
  --md-sys-color-secondary: #ffcfe6;
  --md-sys-color-secondary-dim: #ffc4e1;
  --md-sys-color-on-secondary: #441232;
  --md-sys-color-secondary-container: #fff7f8;
  --md-sys-color-on-secondary-container: #7c4163;
  --md-sys-color-secondary-fixed: #ffd8ea;
  --md-sys-color-secondary-fixed-dim: #fbb0d7;
  --md-sys-color-on-secondary-fixed: #29001c;
  --md-sys-color-on-secondary-fixed-variant: #582343;
  --md-sys-color-tertiary: #a6e6ff;
  --md-sys-color-tertiary-dim: #96dffb;
  --md-sys-color-on-tertiary: #002a35;
  --md-sys-color-tertiary-container: #f1faff;
  --md-sys-color-on-tertiary-container: #005d73;
  --md-sys-color-tertiary-fixed: #b8eaff;
  --md-sys-color-tertiary-fixed-dim: #88d1ec;
  --md-sys-color-on-tertiary-fixed: #00141b;
  --md-sys-color-on-tertiary-fixed-variant: #003c4b;
  --md-sys-color-error: #ffd2cc;
  --md-sys-color-error-dim: #ffc7c0;
  --md-sys-color-on-error: #540003;
  --md-sys-color-error-container: #fff7f6;
  --md-sys-color-on-error-container: #ab0b12;
}

.dark-high-contrast {
  --md-sys-color-primary-palette-key-color: #6570c4;
  --md-sys-color-secondary-palette-key-color: #a36386;
  --md-sys-color-tertiary-palette-key-color: #328099;
  --md-sys-color-neutral-palette-key-color: #877276;
  --md-sys-color-neutral-variant-palette-key-color: #867184;
  --md-sys-color-error-palette-key-color: #de3730;
  --md-sys-color-background: #1d1013;
  --md-sys-color-on-background: #f6dce0;
  --md-sys-color-surface: #1d1013;
  --md-sys-color-surface-dim: #1d1013;
  --md-sys-color-surface-bright: #5e4b4f;
  --md-sys-color-surface-container-lowest: #000000;
  --md-sys-color-surface-container-low: #2a1c1f;
  --md-sys-color-surface-container: #3c2c2f;
  --md-sys-color-surface-container-high: #48373a;
  --md-sys-color-surface-container-highest: #544246;
  --md-sys-color-on-surface: #ffffff;
  --md-sys-color-surface-variant: #534152;
  --md-sys-color-on-surface-variant: #ffffff;
  --md-sys-color-inverse-surface: #f6dce0;
  --md-sys-color-inverse-on-surface: #000000;
  --md-sys-color-outline: #ffeafa;
  --md-sys-color-outline-variant: #d4bbd0;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #bcc2ff;
  --md-sys-color-primary: #dfe0ff;
  --md-sys-color-primary-dim: #fffeff;
  --md-sys-color-on-primary: #000000;
  --md-sys-color-primary-container: #ffffff;
  --md-sys-color-on-primary-container: #273284;
  --md-sys-color-inverse-primary: #354091;
  --md-sys-color-primary-fixed: #dfe0ff;
  --md-sys-color-primary-fixed-dim: #bcc2ff;
  --md-sys-color-on-primary-fixed: #000000;
  --md-sys-color-on-primary-fixed-variant: #000646;
  --md-sys-color-secondary: #ffd8ea;
  --md-sys-color-secondary-dim: #fffeff;
  --md-sys-color-on-secondary: #000000;
  --md-sys-color-secondary-container: #ffffff;
  --md-sys-color-on-secondary-container: #5e2849;
  --md-sys-color-secondary-fixed: #ffd8ea;
  --md-sys-color-secondary-fixed-dim: #fbb0d7;
  --md-sys-color-on-secondary-fixed: #000000;
  --md-sys-color-on-secondary-fixed-variant: #29001c;
  --md-sys-color-tertiary: #b8eaff;
  --md-sys-color-tertiary-dim: #fffeff;
  --md-sys-color-on-tertiary: #000000;
  --md-sys-color-tertiary-container: #ffffff;
  --md-sys-color-on-tertiary-container: #004152;
  --md-sys-color-tertiary-fixed: #b8eaff;
  --md-sys-color-tertiary-fixed-dim: #88d1ec;
  --md-sys-color-on-tertiary-fixed: #000000;
  --md-sys-color-on-tertiary-fixed-variant: #00141b;
  --md-sys-color-error: #ffdad6;
  --md-sys-color-error-dim: #fffeff;
  --md-sys-color-on-error: #000000;
  --md-sys-color-error-container: #ffffff;
  --md-sys-color-on-error-container: #7e0007;
}

