.light {
  --md-sys-color-primary-palette-key-color: #6570c4;
  --md-sys-color-secondary-palette-key-color: #a36386;
  --md-sys-color-tertiary-palette-key-color: #328099;
  --md-sys-color-neutral-palette-key-color: #877276;
  --md-sys-color-neutral-variant-palette-key-color: #867184;
  --md-sys-color-error-palette-key-color: #de3730;
  --md-sys-color-background: #000000;
  --md-sys-color-on-background: #ffffff;
  --md-sys-color-surface: #000000;
  --md-sys-color-surface-dim: #170b0d;
  --md-sys-color-surface-bright: #38282b;
  --md-sys-color-surface-container-lowest: #000000;
  --md-sys-color-surface-container-low: #312225;
  --md-sys-color-surface-container: #3c2c2f;
  --md-sys-color-surface-container-high: #48373a;
  --md-sys-color-surface-container-highest: #312225;
  --md-sys-color-on-surface: #fce2e6;
  --md-sys-color-surface-variant: #312225;
  --md-sys-color-on-surface-variant: #e1c8cc;
  --md-sys-color-inverse-surface: #fff8f7;
  --md-sys-color-inverse-on-surface: #635054;
  --md-sys-color-outline: #b7a0a4;
  --md-sys-color-outline-variant: #968084;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #c6cbff;
  --md-sys-color-primary: #c6cbff;
  --md-sys-color-primary-dim: #97a2fa;
  --md-sys-color-on-primary: #010d67;
  --md-sys-color-primary-container: #343f90;
  --md-sys-color-on-primary-container: #dcdeff;
  --md-sys-color-inverse-primary: #434d9f;
  --md-sys-color-primary-fixed: #343f90;
  --md-sys-color-primary-fixed-dim: #273284;
  --md-sys-color-on-primary-fixed: #c6cbff;
  --md-sys-color-on-primary-fixed-variant: #949ff7;
  --md-sys-color-secondary: #ffbadd;
  --md-sys-color-secondary-dim: #f4aad1;
  --md-sys-color-on-secondary: #531f3f;
  --md-sys-color-secondary-container: #6c3454;
  --md-sys-color-on-secondary-container: #ffd5e8;
  --md-sys-color-secondary-fixed: #6c3454;
  --md-sys-color-secondary-fixed-dim: #5e2849;
  --md-sys-color-on-secondary-fixed: #ffbadd;
  --md-sys-color-on-secondary-fixed-variant: #d790b6;
  --md-sys-color-tertiary: #96dffb;
  --md-sys-color-tertiary-dim: #88d1ec;
  --md-sys-color-on-tertiary: #003c4b;
  --md-sys-color-tertiary-container: #6cb5d0;
  --md-sys-color-on-tertiary-container: #00242f;
  --md-sys-color-tertiary-fixed: #6cb5d0;
  --md-sys-color-tertiary-fixed-dim: #5ea7c2;
  --md-sys-color-on-tertiary-fixed: #00131a;
  --md-sys-color-on-tertiary-fixed-variant: #003a4a;
  --md-sys-color-error: #ffbeb7;
  --md-sys-color-error-dim: #ff8073;
  --md-sys-color-on-error: #400002;
  --md-sys-color-error-container: #93000a;
  --md-sys-color-on-error-container: #ffd7d2;
}

.light-medium-contrast {
  --md-sys-color-primary-palette-key-color: #6570c4;
  --md-sys-color-secondary-palette-key-color: #a36386;
  --md-sys-color-tertiary-palette-key-color: #328099;
  --md-sys-color-neutral-palette-key-color: #877276;
  --md-sys-color-neutral-variant-palette-key-color: #867184;
  --md-sys-color-error-palette-key-color: #de3730;
  --md-sys-color-background: #000000;
  --md-sys-color-on-background: #ffffff;
  --md-sys-color-surface: #000000;
  --md-sys-color-surface-dim: #170b0d;
  --md-sys-color-surface-bright: #38282b;
  --md-sys-color-surface-container-lowest: #000000;
  --md-sys-color-surface-container-low: #312225;
  --md-sys-color-surface-container: #3c2c2f;
  --md-sys-color-surface-container-high: #48373a;
  --md-sys-color-surface-container-highest: #312225;
  --md-sys-color-on-surface: #fffeff;
  --md-sys-color-surface-variant: #312225;
  --md-sys-color-on-surface-variant: #fffeff;
  --md-sys-color-inverse-surface: #fff8f7;
  --md-sys-color-inverse-on-surface: #453437;
  --md-sys-color-outline: #e1c8cc;
  --md-sys-color-outline-variant: #b7a0a4;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #fffeff;
  --md-sys-color-primary: #fffeff;
  --md-sys-color-primary-dim: #c6cbff;
  --md-sys-color-on-primary: #000a5d;
  --md-sys-color-primary-container: #343f90;
  --md-sys-color-on-primary-container: #ffffff;
  --md-sys-color-inverse-primary: #242f80;
  --md-sys-color-primary-fixed: #343f90;
  --md-sys-color-primary-fixed-dim: #273284;
  --md-sys-color-on-primary-fixed: #fffeff;
  --md-sys-color-on-primary-fixed-variant: #c6cbff;
  --md-sys-color-secondary: #fffeff;
  --md-sys-color-secondary-dim: #ffbadd;
  --md-sys-color-on-secondary: #350525;
  --md-sys-color-secondary-container: #6c3454;
  --md-sys-color-on-secondary-container: #ffffff;
  --md-sys-color-secondary-fixed: #6c3454;
  --md-sys-color-secondary-fixed-dim: #5e2849;
  --md-sys-color-on-secondary-fixed: #fffeff;
  --md-sys-color-on-secondary-fixed-variant: #ffbadd;
  --md-sys-color-tertiary: #fffeff;
  --md-sys-color-tertiary-dim: #96dffb;
  --md-sys-color-on-tertiary: #00232d;
  --md-sys-color-tertiary-container: #7ac3de;
  --md-sys-color-on-tertiary-container: #000000;
  --md-sys-color-tertiary-fixed: #6cb5d0;
  --md-sys-color-tertiary-fixed-dim: #5ea7c2;
  --md-sys-color-on-tertiary-fixed: #000000;
  --md-sys-color-on-tertiary-fixed-variant: #00131a;
  --md-sys-color-error: #fffeff;
  --md-sys-color-error-dim: #ffbeb7;
  --md-sys-color-on-error: #3d0002;
  --md-sys-color-error-container: #93000a;
  --md-sys-color-on-error-container: #ffffff;
}

.light-high-contrast {
  --md-sys-color-primary-palette-key-color: #6570c4;
  --md-sys-color-secondary-palette-key-color: #a36386;
  --md-sys-color-tertiary-palette-key-color: #328099;
  --md-sys-color-neutral-palette-key-color: #877276;
  --md-sys-color-neutral-variant-palette-key-color: #867184;
  --md-sys-color-error-palette-key-color: #de3730;
  --md-sys-color-background: #000000;
  --md-sys-color-on-background: #ffffff;
  --md-sys-color-surface: #000000;
  --md-sys-color-surface-dim: #170b0d;
  --md-sys-color-surface-bright: #38282b;
  --md-sys-color-surface-container-lowest: #000000;
  --md-sys-color-surface-container-low: #312225;
  --md-sys-color-surface-container: #3c2c2f;
  --md-sys-color-surface-container-high: #48373a;
  --md-sys-color-surface-container-highest: #312225;
  --md-sys-color-on-surface: #ffffff;
  --md-sys-color-surface-variant: #312225;
  --md-sys-color-on-surface-variant: #ffffff;
  --md-sys-color-inverse-surface: #fff8f7;
  --md-sys-color-inverse-on-surface: #000000;
  --md-sys-color-outline: #fffeff;
  --md-sys-color-outline-variant: #e1c8cc;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #ffffff;
  --md-sys-color-primary: #ffffff;
  --md-sys-color-primary-dim: #fffeff;
  --md-sys-color-on-primary: #000000;
  --md-sys-color-primary-container: #343f90;
  --md-sys-color-on-primary-container: #ffffff;
  --md-sys-color-inverse-primary: #000000;
  --md-sys-color-primary-fixed: #343f90;
  --md-sys-color-primary-fixed-dim: #273284;
  --md-sys-color-on-primary-fixed: #ffffff;
  --md-sys-color-on-primary-fixed-variant: #fffeff;
  --md-sys-color-secondary: #ffffff;
  --md-sys-color-secondary-dim: #fffeff;
  --md-sys-color-on-secondary: #000000;
  --md-sys-color-secondary-container: #6c3454;
  --md-sys-color-on-secondary-container: #ffffff;
  --md-sys-color-secondary-fixed: #6c3454;
  --md-sys-color-secondary-fixed-dim: #5e2849;
  --md-sys-color-on-secondary-fixed: #ffffff;
  --md-sys-color-on-secondary-fixed-variant: #fffeff;
  --md-sys-color-tertiary: #ffffff;
  --md-sys-color-tertiary-dim: #fffeff;
  --md-sys-color-on-tertiary: #000000;
  --md-sys-color-tertiary-container: #96dffb;
  --md-sys-color-on-tertiary-container: #000000;
  --md-sys-color-tertiary-fixed: #6cb5d0;
  --md-sys-color-tertiary-fixed-dim: #5ea7c2;
  --md-sys-color-on-tertiary-fixed: #000000;
  --md-sys-color-on-tertiary-fixed-variant: #000000;
  --md-sys-color-error: #ffffff;
  --md-sys-color-error-dim: #fffeff;
  --md-sys-color-on-error: #000000;
  --md-sys-color-error-container: #93000a;
  --md-sys-color-on-error-container: #ffffff;
}

.dark {
  --md-sys-color-primary-palette-key-color: #6570c4;
  --md-sys-color-secondary-palette-key-color: #a36386;
  --md-sys-color-tertiary-palette-key-color: #328099;
  --md-sys-color-neutral-palette-key-color: #877276;
  --md-sys-color-neutral-variant-palette-key-color: #867184;
  --md-sys-color-error-palette-key-color: #de3730;
  --md-sys-color-background: #000000;
  --md-sys-color-on-background: #ffffff;
  --md-sys-color-surface: #000000;
  --md-sys-color-surface-dim: #170b0d;
  --md-sys-color-surface-bright: #38282b;
  --md-sys-color-surface-container-lowest: #000000;
  --md-sys-color-surface-container-low: #312225;
  --md-sys-color-surface-container: #3c2c2f;
  --md-sys-color-surface-container-high: #48373a;
  --md-sys-color-surface-container-highest: #312225;
  --md-sys-color-on-surface: #fce2e6;
  --md-sys-color-surface-variant: #312225;
  --md-sys-color-on-surface-variant: #e1c8cc;
  --md-sys-color-inverse-surface: #fff8f7;
  --md-sys-color-inverse-on-surface: #635054;
  --md-sys-color-outline: #b7a0a4;
  --md-sys-color-outline-variant: #968084;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #c6cbff;
  --md-sys-color-primary: #c6cbff;
  --md-sys-color-primary-dim: #97a2fa;
  --md-sys-color-on-primary: #010d67;
  --md-sys-color-primary-container: #343f90;
  --md-sys-color-on-primary-container: #dcdeff;
  --md-sys-color-inverse-primary: #434d9f;
  --md-sys-color-primary-fixed: #343f90;
  --md-sys-color-primary-fixed-dim: #273284;
  --md-sys-color-on-primary-fixed: #c6cbff;
  --md-sys-color-on-primary-fixed-variant: #949ff7;
  --md-sys-color-secondary: #ffbadd;
  --md-sys-color-secondary-dim: #f4aad1;
  --md-sys-color-on-secondary: #531f3f;
  --md-sys-color-secondary-container: #6c3454;
  --md-sys-color-on-secondary-container: #ffd5e8;
  --md-sys-color-secondary-fixed: #6c3454;
  --md-sys-color-secondary-fixed-dim: #5e2849;
  --md-sys-color-on-secondary-fixed: #ffbadd;
  --md-sys-color-on-secondary-fixed-variant: #d790b6;
  --md-sys-color-tertiary: #96dffb;
  --md-sys-color-tertiary-dim: #88d1ec;
  --md-sys-color-on-tertiary: #003c4b;
  --md-sys-color-tertiary-container: #6cb5d0;
  --md-sys-color-on-tertiary-container: #00242f;
  --md-sys-color-tertiary-fixed: #6cb5d0;
  --md-sys-color-tertiary-fixed-dim: #5ea7c2;
  --md-sys-color-on-tertiary-fixed: #00131a;
  --md-sys-color-on-tertiary-fixed-variant: #003a4a;
  --md-sys-color-error: #ffbeb7;
  --md-sys-color-error-dim: #ff8073;
  --md-sys-color-on-error: #400002;
  --md-sys-color-error-container: #93000a;
  --md-sys-color-on-error-container: #ffd7d2;
}

.dark-medium-contrast {
  --md-sys-color-primary-palette-key-color: #6570c4;
  --md-sys-color-secondary-palette-key-color: #a36386;
  --md-sys-color-tertiary-palette-key-color: #328099;
  --md-sys-color-neutral-palette-key-color: #877276;
  --md-sys-color-neutral-variant-palette-key-color: #867184;
  --md-sys-color-error-palette-key-color: #de3730;
  --md-sys-color-background: #000000;
  --md-sys-color-on-background: #ffffff;
  --md-sys-color-surface: #000000;
  --md-sys-color-surface-dim: #170b0d;
  --md-sys-color-surface-bright: #38282b;
  --md-sys-color-surface-container-lowest: #000000;
  --md-sys-color-surface-container-low: #312225;
  --md-sys-color-surface-container: #3c2c2f;
  --md-sys-color-surface-container-high: #48373a;
  --md-sys-color-surface-container-highest: #312225;
  --md-sys-color-on-surface: #fffeff;
  --md-sys-color-surface-variant: #312225;
  --md-sys-color-on-surface-variant: #fffeff;
  --md-sys-color-inverse-surface: #fff8f7;
  --md-sys-color-inverse-on-surface: #453437;
  --md-sys-color-outline: #e1c8cc;
  --md-sys-color-outline-variant: #b7a0a4;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #fffeff;
  --md-sys-color-primary: #fffeff;
  --md-sys-color-primary-dim: #c6cbff;
  --md-sys-color-on-primary: #000a5d;
  --md-sys-color-primary-container: #343f90;
  --md-sys-color-on-primary-container: #ffffff;
  --md-sys-color-inverse-primary: #242f80;
  --md-sys-color-primary-fixed: #343f90;
  --md-sys-color-primary-fixed-dim: #273284;
  --md-sys-color-on-primary-fixed: #fffeff;
  --md-sys-color-on-primary-fixed-variant: #c6cbff;
  --md-sys-color-secondary: #fffeff;
  --md-sys-color-secondary-dim: #ffbadd;
  --md-sys-color-on-secondary: #350525;
  --md-sys-color-secondary-container: #6c3454;
  --md-sys-color-on-secondary-container: #ffffff;
  --md-sys-color-secondary-fixed: #6c3454;
  --md-sys-color-secondary-fixed-dim: #5e2849;
  --md-sys-color-on-secondary-fixed: #fffeff;
  --md-sys-color-on-secondary-fixed-variant: #ffbadd;
  --md-sys-color-tertiary: #fffeff;
  --md-sys-color-tertiary-dim: #96dffb;
  --md-sys-color-on-tertiary: #00232d;
  --md-sys-color-tertiary-container: #7ac3de;
  --md-sys-color-on-tertiary-container: #000000;
  --md-sys-color-tertiary-fixed: #6cb5d0;
  --md-sys-color-tertiary-fixed-dim: #5ea7c2;
  --md-sys-color-on-tertiary-fixed: #000000;
  --md-sys-color-on-tertiary-fixed-variant: #00131a;
  --md-sys-color-error: #fffeff;
  --md-sys-color-error-dim: #ffbeb7;
  --md-sys-color-on-error: #3d0002;
  --md-sys-color-error-container: #93000a;
  --md-sys-color-on-error-container: #ffffff;
}

.dark-high-contrast {
  --md-sys-color-primary-palette-key-color: #6570c4;
  --md-sys-color-secondary-palette-key-color: #a36386;
  --md-sys-color-tertiary-palette-key-color: #328099;
  --md-sys-color-neutral-palette-key-color: #877276;
  --md-sys-color-neutral-variant-palette-key-color: #867184;
  --md-sys-color-error-palette-key-color: #de3730;
  --md-sys-color-background: #000000;
  --md-sys-color-on-background: #ffffff;
  --md-sys-color-surface: #000000;
  --md-sys-color-surface-dim: #170b0d;
  --md-sys-color-surface-bright: #38282b;
  --md-sys-color-surface-container-lowest: #000000;
  --md-sys-color-surface-container-low: #312225;
  --md-sys-color-surface-container: #3c2c2f;
  --md-sys-color-surface-container-high: #48373a;
  --md-sys-color-surface-container-highest: #312225;
  --md-sys-color-on-surface: #ffffff;
  --md-sys-color-surface-variant: #312225;
  --md-sys-color-on-surface-variant: #ffffff;
  --md-sys-color-inverse-surface: #fff8f7;
  --md-sys-color-inverse-on-surface: #000000;
  --md-sys-color-outline: #fffeff;
  --md-sys-color-outline-variant: #e1c8cc;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #ffffff;
  --md-sys-color-primary: #ffffff;
  --md-sys-color-primary-dim: #fffeff;
  --md-sys-color-on-primary: #000000;
  --md-sys-color-primary-container: #343f90;
  --md-sys-color-on-primary-container: #ffffff;
  --md-sys-color-inverse-primary: #000000;
  --md-sys-color-primary-fixed: #343f90;
  --md-sys-color-primary-fixed-dim: #273284;
  --md-sys-color-on-primary-fixed: #ffffff;
  --md-sys-color-on-primary-fixed-variant: #fffeff;
  --md-sys-color-secondary: #ffffff;
  --md-sys-color-secondary-dim: #fffeff;
  --md-sys-color-on-secondary: #000000;
  --md-sys-color-secondary-container: #6c3454;
  --md-sys-color-on-secondary-container: #ffffff;
  --md-sys-color-secondary-fixed: #6c3454;
  --md-sys-color-secondary-fixed-dim: #5e2849;
  --md-sys-color-on-secondary-fixed: #ffffff;
  --md-sys-color-on-secondary-fixed-variant: #fffeff;
  --md-sys-color-tertiary: #ffffff;
  --md-sys-color-tertiary-dim: #fffeff;
  --md-sys-color-on-tertiary: #000000;
  --md-sys-color-tertiary-container: #96dffb;
  --md-sys-color-on-tertiary-container: #000000;
  --md-sys-color-tertiary-fixed: #6cb5d0;
  --md-sys-color-tertiary-fixed-dim: #5ea7c2;
  --md-sys-color-on-tertiary-fixed: #000000;
  --md-sys-color-on-tertiary-fixed-variant: #000000;
  --md-sys-color-error: #ffffff;
  --md-sys-color-error-dim: #fffeff;
  --md-sys-color-on-error: #000000;
  --md-sys-color-error-container: #93000a;
  --md-sys-color-on-error-container: #ffffff;
}

