.light {
  --md-sys-color-primary-palette-key-color: #6570c4;
  --md-sys-color-secondary-palette-key-color: #a36386;
  --md-sys-color-tertiary-palette-key-color: #328099;
  --md-sys-color-neutral-palette-key-color: #877276;
  --md-sys-color-neutral-variant-palette-key-color: #867184;
  --md-sys-color-error-palette-key-color: #de3730;
  --md-sys-color-background: #fff8f7;
  --md-sys-color-on-background: #3e2e31;
  --md-sys-color-surface: #fff8f7;
  --md-sys-color-surface-dim: #eed4d8;
  --md-sys-color-surface-bright: #fff8f7;
  --md-sys-color-surface-container-lowest: #ffffff;
  --md-sys-color-surface-container-low: #fff0f1;
  --md-sys-color-surface-container: #ffe8eb;
  --md-sys-color-surface-container-high: #fce2e6;
  --md-sys-color-surface-container-highest: #f6dce0;
  --md-sys-color-on-surface: #3e2e31;
  --md-sys-color-surface-variant: #f6dce0;
  --md-sys-color-on-surface-variant: #6e5a5e;
  --md-sys-color-inverse-surface: #170b0d;
  --md-sys-color-inverse-on-surface: #ae979b;
  --md-sys-color-outline: #8b7579;
  --md-sys-color-outline-variant: #c4acb0;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #4d58aa;
  --md-sys-color-primary: #4d58aa;
  --md-sys-color-primary-dim: #414b9d;
  --md-sys-color-on-primary: #fbf8ff;
  --md-sys-color-primary-container: #97a2fa;
  --md-sys-color-on-primary-container: #131f72;
  --md-sys-color-inverse-primary: #97a2fa;
  --md-sys-color-primary-fixed: #97a2fa;
  --md-sys-color-primary-fixed-dim: #8a95ec;
  --md-sys-color-on-primary-fixed: #000437;
  --md-sys-color-on-primary-fixed-variant: #1e297b;
  --md-sys-color-secondary: #884b6e;
  --md-sys-color-secondary-dim: #7a4061;
  --md-sys-color-on-secondary: #fff7f8;
  --md-sys-color-secondary-container: #ffd8ea;
  --md-sys-color-on-secondary-container: #783e60;
  --md-sys-color-secondary-fixed: #ffd8ea;
  --md-sys-color-secondary-fixed-dim: #ffc4e1;
  --md-sys-color-on-secondary-fixed: #632c4d;
  --md-sys-color-on-secondary-fixed-variant: #84486a;
  --md-sys-color-tertiary: #0a6880;
  --md-sys-color-tertiary-dim: #005b71;
  --md-sys-color-on-tertiary: #f1faff;
  --md-sys-color-tertiary-container: #96dffb;
  --md-sys-color-on-tertiary-container: #005064;
  --md-sys-color-tertiary-fixed: #96dffb;
  --md-sys-color-tertiary-fixed-dim: #88d1ec;
  --md-sys-color-on-tertiary-fixed: #003c4b;
  --md-sys-color-on-tertiary-fixed-variant: #005a70;
  --md-sys-color-error: #bb1b1b;
  --md-sys-color-error-dim: #a90810;
  --md-sys-color-on-error: #fff7f6;
  --md-sys-color-error-container: #fe4e44;
  --md-sys-color-on-error-container: #570003;
  --md-sys-color-control-activated: #97a2fa;
  --md-sys-color-control-normal: #6e5a5e;
  --md-sys-color-control-highlight: #0000001f;
  --md-sys-color-text-primary-inverse: #ae979b;
  --md-sys-color-text-secondary-and-tertiary-inverse: #d8bfd4;
  --md-sys-color-text-primary-inverse-disable-only: #f6dce0;
  --md-sys-color-text-secondary-and-tertiary-inverse-disabled: #f6dce0;
  --md-sys-color-text-hint-inverse: #f6dce0;
}

.light-medium-contrast {
  --md-sys-color-primary-palette-key-color: #6570c4;
  --md-sys-color-secondary-palette-key-color: #a36386;
  --md-sys-color-tertiary-palette-key-color: #328099;
  --md-sys-color-neutral-palette-key-color: #877276;
  --md-sys-color-neutral-variant-palette-key-color: #867184;
  --md-sys-color-error-palette-key-color: #de3730;
  --md-sys-color-background: #fff8f7;
  --md-sys-color-on-background: #2f2023;
  --md-sys-color-surface: #fff8f7;
  --md-sys-color-surface-dim: #eed4d8;
  --md-sys-color-surface-bright: #fff8f7;
  --md-sys-color-surface-container-lowest: #ffffff;
  --md-sys-color-surface-container-low: #fff0f1;
  --md-sys-color-surface-container: #ffe8eb;
  --md-sys-color-surface-container-high: #fce2e6;
  --md-sys-color-surface-container-highest: #f6dce0;
  --md-sys-color-on-surface: #2f2023;
  --md-sys-color-surface-variant: #f6dce0;
  --md-sys-color-on-surface-variant: #503e42;
  --md-sys-color-inverse-surface: #170b0d;
  --md-sys-color-inverse-on-surface: #d8bfc3;
  --md-sys-color-outline: #6e5a5e;
  --md-sys-color-outline-variant: #8b7579;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #2f3a8c;
  --md-sys-color-primary: #2f3a8c;
  --md-sys-color-primary-dim: #232e80;
  --md-sys-color-on-primary: #d4d7ff;
  --md-sys-color-primary-container: #636ec1;
  --md-sys-color-on-primary-container: #ffffff;
  --md-sys-color-inverse-primary: #97a2fa;
  --md-sys-color-primary-fixed: #636ec1;
  --md-sys-color-primary-fixed-dim: #5661b4;
  --md-sys-color-on-primary-fixed: #ffffff;
  --md-sys-color-on-primary-fixed-variant: #ffffff;
  --md-sys-color-secondary: #673050;
  --md-sys-color-secondary-dim: #5a2545;
  --md-sys-color-on-secondary: #ffcbe4;
  --md-sys-color-secondary-container: #a06084;
  --md-sys-color-on-secondary-container: #ffffff;
  --md-sys-color-secondary-fixed: #a06084;
  --md-sys-color-secondary-fixed-dim: #925477;
  --md-sys-color-on-secondary-fixed: #ffffff;
  --md-sys-color-on-secondary-fixed-variant: #ffffff;
  --md-sys-color-tertiary: #00495c;
  --md-sys-color-tertiary-dim: #003d4d;
  --md-sys-color-on-tertiary: #9de4ff;
  --md-sys-color-tertiary-container: #2f7d96;
  --md-sys-color-on-tertiary-container: #ffffff;
  --md-sys-color-tertiary-fixed: #2f7d96;
  --md-sys-color-tertiary-fixed-dim: #1d7189;
  --md-sys-color-on-tertiary-fixed: #ffffff;
  --md-sys-color-on-tertiary-fixed-variant: #ffffff;
  --md-sys-color-error: #8c0009;
  --md-sys-color-error-dim: #760006;
  --md-sys-color-on-error: #ffcec8;
  --md-sys-color-error-container: #da342e;
  --md-sys-color-on-error-container: #ffffff;
  --md-sys-color-control-activated: #636ec1;
  --md-sys-color-control-normal: #503e42;
  --md-sys-color-control-highlight: #0000001f;
  --md-sys-color-text-primary-inverse: #d8bfc3;
  --md-sys-color-text-secondary-and-tertiary-inverse: #d8bfd4;
  --md-sys-color-text-primary-inverse-disable-only: #f6dce0;
  --md-sys-color-text-secondary-and-tertiary-inverse-disabled: #f6dce0;
  --md-sys-color-text-hint-inverse: #f6dce0;
}

.light-high-contrast {
  --md-sys-color-primary-palette-key-color: #6570c4;
  --md-sys-color-secondary-palette-key-color: #a36386;
  --md-sys-color-tertiary-palette-key-color: #328099;
  --md-sys-color-neutral-palette-key-color: #877276;
  --md-sys-color-neutral-variant-palette-key-color: #867184;
  --md-sys-color-error-palette-key-color: #de3730;
  --md-sys-color-background: #fff8f7;
  --md-sys-color-on-background: #000000;
  --md-sys-color-surface: #fff8f7;
  --md-sys-color-surface-dim: #eed4d8;
  --md-sys-color-surface-bright: #fff8f7;
  --md-sys-color-surface-container-lowest: #ffffff;
  --md-sys-color-surface-container-low: #fff0f1;
  --md-sys-color-surface-container: #ffe8eb;
  --md-sys-color-surface-container-high: #fce2e6;
  --md-sys-color-surface-container-highest: #f6dce0;
  --md-sys-color-on-surface: #000000;
  --md-sys-color-surface-variant: #f6dce0;
  --md-sys-color-on-surface-variant: #2f2023;
  --md-sys-color-inverse-surface: #170b0d;
  --md-sys-color-inverse-on-surface: #ffffff;
  --md-sys-color-outline: #503e42;
  --md-sys-color-outline-variant: #6e5a5e;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #0a176c;
  --md-sys-color-primary: #0a176c;
  --md-sys-color-primary-dim: #000a5d;
  --md-sys-color-on-primary: #d5d7ff;
  --md-sys-color-primary-container: #4d58aa;
  --md-sys-color-on-primary-container: #ffffff;
  --md-sys-color-inverse-primary: #bac1ff;
  --md-sys-color-primary-fixed: #4d58aa;
  --md-sys-color-primary-fixed-dim: #414b9d;
  --md-sys-color-on-primary-fixed: #ffffff;
  --md-sys-color-on-primary-fixed-variant: #ffffff;
  --md-sys-color-secondary: #421030;
  --md-sys-color-secondary-dim: #350525;
  --md-sys-color-on-secondary: #ffcce4;
  --md-sys-color-secondary-container: #884b6e;
  --md-sys-color-on-secondary-container: #ffffff;
  --md-sys-color-secondary-fixed: #884b6e;
  --md-sys-color-secondary-fixed-dim: #7a4061;
  --md-sys-color-on-secondary-fixed: #ffffff;
  --md-sys-color-on-secondary-fixed-variant: #ffffff;
  --md-sys-color-tertiary: #002833;
  --md-sys-color-tertiary-dim: #001d26;
  --md-sys-color-on-tertiary: #9fe4ff;
  --md-sys-color-tertiary-container: #0a6880;
  --md-sys-color-on-tertiary-container: #ffffff;
  --md-sys-color-tertiary-fixed: #0a6880;
  --md-sys-color-tertiary-fixed-dim: #005b71;
  --md-sys-color-on-tertiary-fixed: #ffffff;
  --md-sys-color-on-tertiary-fixed-variant: #ffffff;
  --md-sys-color-error: #510003;
  --md-sys-color-error-dim: #3e0002;
  --md-sys-color-on-error: #ffcfc9;
  --md-sys-color-error-container: #bb1b1b;
  --md-sys-color-on-error-container: #ffffff;
  --md-sys-color-control-activated: #4d58aa;
  --md-sys-color-control-normal: #2f2023;
  --md-sys-color-control-highlight: #0000001f;
  --md-sys-color-text-primary-inverse: #ffffff;
  --md-sys-color-text-secondary-and-tertiary-inverse: #d8bfd4;
  --md-sys-color-text-primary-inverse-disable-only: #f6dce0;
  --md-sys-color-text-secondary-and-tertiary-inverse-disabled: #f6dce0;
  --md-sys-color-text-hint-inverse: #f6dce0;
}

.dark {
  --md-sys-color-primary-palette-key-color: #6570c4;
  --md-sys-color-secondary-palette-key-color: #a36386;
  --md-sys-color-tertiary-palette-key-color: #328099;
  --md-sys-color-neutral-palette-key-color: #877276;
  --md-sys-color-neutral-variant-palette-key-color: #867184;
  --md-sys-color-error-palette-key-color: #de3730;
  --md-sys-color-background: #170b0d;
  --md-sys-color-on-background: #fadfe3;
  --md-sys-color-surface: #170b0d;
  --md-sys-color-surface-dim: #170b0d;
  --md-sys-color-surface-bright: #38282b;
  --md-sys-color-surface-container-lowest: #000000;
  --md-sys-color-surface-container-low: #1d1013;
  --md-sys-color-surface-container: #241619;
  --md-sys-color-surface-container-high: #2a1c1f;
  --md-sys-color-surface-container-highest: #312225;
  --md-sys-color-on-surface: #fadfe3;
  --md-sys-color-surface-variant: #312225;
  --md-sys-color-on-surface-variant: #bda5a9;
  --md-sys-color-inverse-surface: #fff8f7;
  --md-sys-color-inverse-on-surface: #635054;
  --md-sys-color-outline: #857074;
  --md-sys-color-outline-variant: #554347;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #9da8ff;
  --md-sys-color-primary: #9da8ff;
  --md-sys-color-primary-dim: #8f9af1;
  --md-sys-color-on-primary: #182476;
  --md-sys-color-primary-container: #8f9af1;
  --md-sys-color-on-primary-container: #08156b;
  --md-sys-color-inverse-primary: #4d58aa;
  --md-sys-color-primary-fixed: #97a2fa;
  --md-sys-color-primary-fixed-dim: #8a95ec;
  --md-sys-color-on-primary-fixed: #000437;
  --md-sys-color-on-primary-fixed-variant: #1e297b;
  --md-sys-color-secondary: #fbb0d7;
  --md-sys-color-secondary-dim: #eca3c9;
  --md-sys-color-on-secondary: #642d4e;
  --md-sys-color-secondary-container: #5e2849;
  --md-sys-color-on-secondary-container: #f3a9d0;
  --md-sys-color-secondary-fixed: #ffd8ea;
  --md-sys-color-secondary-fixed-dim: #ffc4e1;
  --md-sys-color-on-secondary-fixed: #632c4d;
  --md-sys-color-on-secondary-fixed-variant: #84486a;
  --md-sys-color-tertiary: #b8eaff;
  --md-sys-color-tertiary-dim: #96dffb;
  --md-sys-color-on-tertiary: #00596f;
  --md-sys-color-tertiary-container: #96dffb;
  --md-sys-color-on-tertiary-container: #005064;
  --md-sys-color-tertiary-fixed: #96dffb;
  --md-sys-color-tertiary-fixed-dim: #88d1ec;
  --md-sys-color-on-tertiary-fixed: #003c4b;
  --md-sys-color-on-tertiary-fixed-variant: #005a70;
  --md-sys-color-error: #ff7164;
  --md-sys-color-error-dim: #da342e;
  --md-sys-color-on-error: #4a0002;
  --md-sys-color-error-container: #ac0c12;
  --md-sys-color-on-error-container: #ffb8b0;
  --md-sys-color-control-activated: #8f9af1;
  --md-sys-color-control-normal: #bda5a9;
  --md-sys-color-control-highlight: #ffffff33;
  --md-sys-color-text-primary-inverse: #635054;
  --md-sys-color-text-secondary-and-tertiary-inverse: #534152;
  --md-sys-color-text-primary-inverse-disable-only: #26181b;
  --md-sys-color-text-secondary-and-tertiary-inverse-disabled: #26181b;
  --md-sys-color-text-hint-inverse: #26181b;
}

.dark-medium-contrast {
  --md-sys-color-primary-palette-key-color: #6570c4;
  --md-sys-color-secondary-palette-key-color: #a36386;
  --md-sys-color-tertiary-palette-key-color: #328099;
  --md-sys-color-neutral-palette-key-color: #877276;
  --md-sys-color-neutral-variant-palette-key-color: #867184;
  --md-sys-color-error-palette-key-color: #de3730;
  --md-sys-color-background: #170b0d;
  --md-sys-color-on-background: #ffffff;
  --md-sys-color-surface: #170b0d;
  --md-sys-color-surface-dim: #170b0d;
  --md-sys-color-surface-bright: #38282b;
  --md-sys-color-surface-container-lowest: #000000;
  --md-sys-color-surface-container-low: #1d1013;
  --md-sys-color-surface-container: #241619;
  --md-sys-color-surface-container-high: #2a1c1f;
  --md-sys-color-surface-container-highest: #312225;
  --md-sys-color-on-surface: #ffffff;
  --md-sys-color-surface-variant: #312225;
  --md-sys-color-on-surface-variant: #cbb3b7;
  --md-sys-color-inverse-surface: #fff8f7;
  --md-sys-color-inverse-on-surface: #453437;
  --md-sys-color-outline: #a48e92;
  --md-sys-color-outline-variant: #857074;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #abb3ff;
  --md-sys-color-primary: #abb3ff;
  --md-sys-color-primary-dim: #99a4fc;
  --md-sys-color-on-primary: #152174;
  --md-sys-color-primary-container: #8f9af1;
  --md-sys-color-on-primary-container: #00074f;
  --md-sys-color-inverse-primary: #434d9f;
  --md-sys-color-primary-fixed: #97a2fa;
  --md-sys-color-primary-fixed-dim: #8a95ec;
  --md-sys-color-on-primary-fixed: #000000;
  --md-sys-color-on-primary-fixed-variant: #000437;
  --md-sys-color-secondary: #fbb0d7;
  --md-sys-color-secondary-dim: #eca3c9;
  --md-sys-color-on-secondary: #582343;
  --md-sys-color-secondary-container: #a06084;
  --md-sys-color-on-secondary-container: #ffffff;
  --md-sys-color-secondary-fixed: #ffd8ea;
  --md-sys-color-secondary-fixed-dim: #ffc4e1;
  --md-sys-color-on-secondary-fixed: #3c0b2b;
  --md-sys-color-on-secondary-fixed-variant: #632c4d;
  --md-sys-color-tertiary: #b8eaff;
  --md-sys-color-tertiary-dim: #96dffb;
  --md-sys-color-on-tertiary: #004f62;
  --md-sys-color-tertiary-container: #96dffb;
  --md-sys-color-on-tertiary-container: #004557;
  --md-sys-color-tertiary-fixed: #96dffb;
  --md-sys-color-tertiary-fixed-dim: #88d1ec;
  --md-sys-color-on-tertiary-fixed: #00141b;
  --md-sys-color-on-tertiary-fixed-variant: #003c4b;
  --md-sys-color-error: #ff9f94;
  --md-sys-color-error-dim: #ff887c;
  --md-sys-color-on-error: #600004;
  --md-sys-color-error-container: #da342e;
  --md-sys-color-on-error-container: #ffffff;
  --md-sys-color-control-activated: #8f9af1;
  --md-sys-color-control-normal: #cbb3b7;
  --md-sys-color-control-highlight: #ffffff33;
  --md-sys-color-text-primary-inverse: #453437;
  --md-sys-color-text-secondary-and-tertiary-inverse: #534152;
  --md-sys-color-text-primary-inverse-disable-only: #26181b;
  --md-sys-color-text-secondary-and-tertiary-inverse-disabled: #26181b;
  --md-sys-color-text-hint-inverse: #26181b;
}

.dark-high-contrast {
  --md-sys-color-primary-palette-key-color: #6570c4;
  --md-sys-color-secondary-palette-key-color: #a36386;
  --md-sys-color-tertiary-palette-key-color: #328099;
  --md-sys-color-neutral-palette-key-color: #877276;
  --md-sys-color-neutral-variant-palette-key-color: #867184;
  --md-sys-color-error-palette-key-color: #de3730;
  --md-sys-color-background: #170b0d;
  --md-sys-color-on-background: #ffffff;
  --md-sys-color-surface: #170b0d;
  --md-sys-color-surface-dim: #170b0d;
  --md-sys-color-surface-bright: #38282b;
  --md-sys-color-surface-container-lowest: #000000;
  --md-sys-color-surface-container-low: #1d1013;
  --md-sys-color-surface-container: #241619;
  --md-sys-color-surface-container-high: #2a1c1f;
  --md-sys-color-surface-container-highest: #312225;
  --md-sys-color-on-surface: #ffffff;
  --md-sys-color-surface-variant: #312225;
  --md-sys-color-on-surface-variant: #fadfe3;
  --md-sys-color-inverse-surface: #fff8f7;
  --md-sys-color-inverse-on-surface: #000000;
  --md-sys-color-outline: #cbb3b7;
  --md-sys-color-outline-variant: #a48e92;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #e3e3ff;
  --md-sys-color-primary: #e3e3ff;
  --md-sys-color-primary-dim: #ced2ff;
  --md-sys-color-on-primary: #152174;
  --md-sys-color-primary-container: #8f9af1;
  --md-sys-color-on-primary-container: #000000;
  --md-sys-color-inverse-primary: #242f80;
  --md-sys-color-primary-fixed: #97a2fa;
  --md-sys-color-primary-fixed-dim: #8a95ec;
  --md-sys-color-on-primary-fixed: #000000;
  --md-sys-color-on-primary-fixed-variant: #000000;
  --md-sys-color-secondary: #ffdceb;
  --md-sys-color-secondary-dim: #ffc4e1;
  --md-sys-color-on-secondary: #4c1939;
  --md-sys-color-secondary-container: #ce89ae;
  --md-sys-color-on-secondary-container: #000000;
  --md-sys-color-secondary-fixed: #ffd8ea;
  --md-sys-color-secondary-fixed-dim: #ffc4e1;
  --md-sys-color-on-secondary-fixed: #000000;
  --md-sys-color-on-secondary-fixed-variant: #3c0b2b;
  --md-sys-color-tertiary: #c0ecff;
  --md-sys-color-tertiary-dim: #96dffb;
  --md-sys-color-on-tertiary: #00313e;
  --md-sys-color-tertiary-container: #96dffb;
  --md-sys-color-on-tertiary-container: #00232d;
  --md-sys-color-tertiary-fixed: #96dffb;
  --md-sys-color-tertiary-fixed-dim: #88d1ec;
  --md-sys-color-on-tertiary-fixed: #000000;
  --md-sys-color-on-tertiary-fixed-variant: #00141b;
  --md-sys-color-error: #ffdeda;
  --md-sys-color-error-dim: #ffc8c1;
  --md-sys-color-on-error: #600004;
  --md-sys-color-error-container: #ff7164;
  --md-sys-color-on-error-container: #000000;
  --md-sys-color-control-activated: #8f9af1;
  --md-sys-color-control-normal: #fadfe3;
  --md-sys-color-control-highlight: #ffffff33;
  --md-sys-color-text-primary-inverse: #000000;
  --md-sys-color-text-secondary-and-tertiary-inverse: #534152;
  --md-sys-color-text-primary-inverse-disable-only: #26181b;
  --md-sys-color-text-secondary-and-tertiary-inverse-disabled: #26181b;
  --md-sys-color-text-hint-inverse: #26181b;
}

