.light {
  --md-sys-color-primary-palette-key-color: #82727f;
  --md-sys-color-secondary-palette-key-color: #827470;
  --md-sys-color-tertiary-palette-key-color: #4a7ba6;
  --md-sys-color-neutral-palette-key-color: #817476;
  --md-sys-color-neutral-variant-palette-key-color: #847281;
  --md-sys-color-error-palette-key-color: #b15e69;
  --md-sys-color-background: #000000;
  --md-sys-color-on-background: #ffffff;
  --md-sys-color-surface: #000000;
  --md-sys-color-surface-dim: #140c0e;
  --md-sys-color-surface-bright: #3d262b;
  --md-sys-color-surface-container-lowest: #000000;
  --md-sys-color-surface-container-low: #2d2325;
  --md-sys-color-surface-container: #382e30;
  --md-sys-color-surface-container-high: #43393b;
  --md-sys-color-surface-container-highest: #342025;
  --md-sys-color-on-surface: #fffeff;
  --md-sys-color-surface-variant: #342025;
  --md-sys-color-on-surface-variant: #dacacc;
  --md-sys-color-inverse-surface: #fff8f7;
  --md-sys-color-inverse-on-surface: #5e5254;
  --md-sys-color-outline: #b1a2a4;
  --md-sys-color-outline-variant: #908284;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #f1ddec;
  --md-sys-color-primary: #f1ddec;
  --md-sys-color-primary-dim: #e3cfde;
  --md-sys-color-on-primary: #493b47;
  --md-sys-color-primary-container: #50434f;
  --md-sys-color-on-primary-container: #efdaea;
  --md-sys-color-inverse-primary: #5f515d;
  --md-sys-color-primary-fixed: #50434f;
  --md-sys-color-primary-fixed-dim: #453743;
  --md-sys-color-on-primary-fixed: #dcc8d7;
  --md-sys-color-on-primary-fixed-variant: #b3a0af;
  --md-sys-color-secondary: #f1dfd9;
  --md-sys-color-secondary-dim: #e2d1cb;
  --md-sys-color-on-secondary: #483d39;
  --md-sys-color-secondary-container: #504440;
  --md-sys-color-on-secondary-container: #eedcd7;
  --md-sys-color-secondary-fixed: #504440;
  --md-sys-color-secondary-fixed-dim: #443935;
  --md-sys-color-on-secondary-fixed: #dccac5;
  --md-sys-color-on-secondary-fixed-variant: #b2a29e;
  --md-sys-color-tertiary: #a6d3ff;
  --md-sys-color-tertiary-dim: #94c5f4;
  --md-sys-color-on-tertiary: #003455;
  --md-sys-color-tertiary-container: #79aad7;
  --md-sys-color-on-tertiary-container: #001c30;
  --md-sys-color-tertiary-fixed: #79aad7;
  --md-sys-color-tertiary-fixed-dim: #6c9cc9;
  --md-sys-color-on-tertiary-fixed: #00050d;
  --md-sys-color-on-tertiary-fixed-variant: #003352;
  --md-sys-color-error: #ffbdc3;
  --md-sys-color-error-dim: #e88b96;
  --md-sys-color-on-error: #3c0311;
  --md-sys-color-error-container: #76303a;
  --md-sys-color-on-error-container: #ffd6d9;
}

.light-medium-contrast {
  --md-sys-color-primary-palette-key-color: #82727f;
  --md-sys-color-secondary-palette-key-color: #827470;
  --md-sys-color-tertiary-palette-key-color: #4a7ba6;
  --md-sys-color-neutral-palette-key-color: #817476;
  --md-sys-color-neutral-variant-palette-key-color: #847281;
  --md-sys-color-error-palette-key-color: #b15e69;
  --md-sys-color-background: #000000;
  --md-sys-color-on-background: #ffffff;
  --md-sys-color-surface: #000000;
  --md-sys-color-surface-dim: #140c0e;
  --md-sys-color-surface-bright: #3d262b;
  --md-sys-color-surface-container-lowest: #000000;
  --md-sys-color-surface-container-low: #2d2325;
  --md-sys-color-surface-container: #382e30;
  --md-sys-color-surface-container-high: #43393b;
  --md-sys-color-surface-container-highest: #342025;
  --md-sys-color-on-surface: #ffffff;
  --md-sys-color-surface-variant: #342025;
  --md-sys-color-on-surface-variant: #fffeff;
  --md-sys-color-inverse-surface: #fff8f7;
  --md-sys-color-inverse-on-surface: #403637;
  --md-sys-color-outline: #dacacc;
  --md-sys-color-outline-variant: #b1a2a4;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #fffeff;
  --md-sys-color-primary: #fffeff;
  --md-sys-color-primary-dim: #e3cfde;
  --md-sys-color-on-primary: #271c27;
  --md-sys-color-primary-container: #50434f;
  --md-sys-color-on-primary-container: #ffffff;
  --md-sys-color-inverse-primary: #413440;
  --md-sys-color-primary-fixed: #50434f;
  --md-sys-color-primary-fixed-dim: #453743;
  --md-sys-color-on-primary-fixed: #fffeff;
  --md-sys-color-on-primary-fixed-variant: #dcc8d7;
  --md-sys-color-secondary: #fffeff;
  --md-sys-color-secondary-dim: #e2d1cb;
  --md-sys-color-on-secondary: #271d1a;
  --md-sys-color-secondary-container: #504440;
  --md-sys-color-on-secondary-container: #ffffff;
  --md-sys-color-secondary-fixed: #504440;
  --md-sys-color-secondary-fixed-dim: #443935;
  --md-sys-color-on-secondary-fixed: #fffeff;
  --md-sys-color-on-secondary-fixed-variant: #dccac5;
  --md-sys-color-tertiary: #fffeff;
  --md-sys-color-tertiary-dim: #a6d3ff;
  --md-sys-color-on-tertiary: #001b30;
  --md-sys-color-tertiary-container: #87b7e5;
  --md-sys-color-on-tertiary-container: #000000;
  --md-sys-color-tertiary-fixed: #79aad7;
  --md-sys-color-tertiary-fixed-dim: #6c9cc9;
  --md-sys-color-on-tertiary-fixed: #000000;
  --md-sys-color-on-tertiary-fixed-variant: #00050d;
  --md-sys-color-error: #fffeff;
  --md-sys-color-error-dim: #ffbdc3;
  --md-sys-color-on-error: #3b0310;
  --md-sys-color-error-container: #76303a;
  --md-sys-color-on-error-container: #ffffff;
}

.light-high-contrast {
  --md-sys-color-primary-palette-key-color: #82727f;
  --md-sys-color-secondary-palette-key-color: #827470;
  --md-sys-color-tertiary-palette-key-color: #4a7ba6;
  --md-sys-color-neutral-palette-key-color: #817476;
  --md-sys-color-neutral-variant-palette-key-color: #847281;
  --md-sys-color-error-palette-key-color: #b15e69;
  --md-sys-color-background: #000000;
  --md-sys-color-on-background: #ffffff;
  --md-sys-color-surface: #000000;
  --md-sys-color-surface-dim: #140c0e;
  --md-sys-color-surface-bright: #3d262b;
  --md-sys-color-surface-container-lowest: #000000;
  --md-sys-color-surface-container-low: #2d2325;
  --md-sys-color-surface-container: #382e30;
  --md-sys-color-surface-container-high: #43393b;
  --md-sys-color-surface-container-highest: #342025;
  --md-sys-color-on-surface: #ffffff;
  --md-sys-color-surface-variant: #342025;
  --md-sys-color-on-surface-variant: #ffffff;
  --md-sys-color-inverse-surface: #fff8f7;
  --md-sys-color-inverse-on-surface: #000000;
  --md-sys-color-outline: #fffeff;
  --md-sys-color-outline-variant: #dacacc;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #ffffff;
  --md-sys-color-primary: #ffffff;
  --md-sys-color-primary-dim: #fffeff;
  --md-sys-color-on-primary: #000000;
  --md-sys-color-primary-container: #50434f;
  --md-sys-color-on-primary-container: #ffffff;
  --md-sys-color-inverse-primary: #000000;
  --md-sys-color-primary-fixed: #50434f;
  --md-sys-color-primary-fixed-dim: #453743;
  --md-sys-color-on-primary-fixed: #ffffff;
  --md-sys-color-on-primary-fixed-variant: #fffeff;
  --md-sys-color-secondary: #ffffff;
  --md-sys-color-secondary-dim: #fffeff;
  --md-sys-color-on-secondary: #000000;
  --md-sys-color-secondary-container: #504440;
  --md-sys-color-on-secondary-container: #ffffff;
  --md-sys-color-secondary-fixed: #504440;
  --md-sys-color-secondary-fixed-dim: #443935;
  --md-sys-color-on-secondary-fixed: #ffffff;
  --md-sys-color-on-secondary-fixed-variant: #fffeff;
  --md-sys-color-tertiary: #ffffff;
  --md-sys-color-tertiary-dim: #fffeff;
  --md-sys-color-on-tertiary: #000000;
  --md-sys-color-tertiary-container: #98c8f8;
  --md-sys-color-on-tertiary-container: #000000;
  --md-sys-color-tertiary-fixed: #79aad7;
  --md-sys-color-tertiary-fixed-dim: #6c9cc9;
  --md-sys-color-on-tertiary-fixed: #000000;
  --md-sys-color-on-tertiary-fixed-variant: #000000;
  --md-sys-color-error: #ffffff;
  --md-sys-color-error-dim: #fffeff;
  --md-sys-color-on-error: #000000;
  --md-sys-color-error-container: #76303a;
  --md-sys-color-on-error-container: #ffffff;
}

.dark {
  --md-sys-color-primary-palette-key-color: #82727f;
  --md-sys-color-secondary-palette-key-color: #827470;
  --md-sys-color-tertiary-palette-key-color: #4a7ba6;
  --md-sys-color-neutral-palette-key-color: #817476;
  --md-sys-color-neutral-variant-palette-key-color: #847281;
  --md-sys-color-error-palette-key-color: #b15e69;
  --md-sys-color-background: #000000;
  --md-sys-color-on-background: #ffffff;
  --md-sys-color-surface: #000000;
  --md-sys-color-surface-dim: #140c0e;
  --md-sys-color-surface-bright: #3d262b;
  --md-sys-color-surface-container-lowest: #000000;
  --md-sys-color-surface-container-low: #2d2325;
  --md-sys-color-surface-container: #382e30;
  --md-sys-color-surface-container-high: #43393b;
  --md-sys-color-surface-container-highest: #342025;
  --md-sys-color-on-surface: #fffeff;
  --md-sys-color-surface-variant: #342025;
  --md-sys-color-on-surface-variant: #dacacc;
  --md-sys-color-inverse-surface: #fff8f7;
  --md-sys-color-inverse-on-surface: #5e5254;
  --md-sys-color-outline: #b1a2a4;
  --md-sys-color-outline-variant: #908284;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #f1ddec;
  --md-sys-color-primary: #f1ddec;
  --md-sys-color-primary-dim: #e3cfde;
  --md-sys-color-on-primary: #493b47;
  --md-sys-color-primary-container: #50434f;
  --md-sys-color-on-primary-container: #efdaea;
  --md-sys-color-inverse-primary: #5f515d;
  --md-sys-color-primary-fixed: #50434f;
  --md-sys-color-primary-fixed-dim: #453743;
  --md-sys-color-on-primary-fixed: #dcc8d7;
  --md-sys-color-on-primary-fixed-variant: #b3a0af;
  --md-sys-color-secondary: #f1dfd9;
  --md-sys-color-secondary-dim: #e2d1cb;
  --md-sys-color-on-secondary: #483d39;
  --md-sys-color-secondary-container: #504440;
  --md-sys-color-on-secondary-container: #eedcd7;
  --md-sys-color-secondary-fixed: #504440;
  --md-sys-color-secondary-fixed-dim: #443935;
  --md-sys-color-on-secondary-fixed: #dccac5;
  --md-sys-color-on-secondary-fixed-variant: #b2a29e;
  --md-sys-color-tertiary: #a6d3ff;
  --md-sys-color-tertiary-dim: #94c5f4;
  --md-sys-color-on-tertiary: #003455;
  --md-sys-color-tertiary-container: #79aad7;
  --md-sys-color-on-tertiary-container: #001c30;
  --md-sys-color-tertiary-fixed: #79aad7;
  --md-sys-color-tertiary-fixed-dim: #6c9cc9;
  --md-sys-color-on-tertiary-fixed: #00050d;
  --md-sys-color-on-tertiary-fixed-variant: #003352;
  --md-sys-color-error: #ffbdc3;
  --md-sys-color-error-dim: #e88b96;
  --md-sys-color-on-error: #3c0311;
  --md-sys-color-error-container: #76303a;
  --md-sys-color-on-error-container: #ffd6d9;
}

.dark-medium-contrast {
  --md-sys-color-primary-palette-key-color: #82727f;
  --md-sys-color-secondary-palette-key-color: #827470;
  --md-sys-color-tertiary-palette-key-color: #4a7ba6;
  --md-sys-color-neutral-palette-key-color: #817476;
  --md-sys-color-neutral-variant-palette-key-color: #847281;
  --md-sys-color-error-palette-key-color: #b15e69;
  --md-sys-color-background: #000000;
  --md-sys-color-on-background: #ffffff;
  --md-sys-color-surface: #000000;
  --md-sys-color-surface-dim: #140c0e;
  --md-sys-color-surface-bright: #3d262b;
  --md-sys-color-surface-container-lowest: #000000;
  --md-sys-color-surface-container-low: #2d2325;
  --md-sys-color-surface-container: #382e30;
  --md-sys-color-surface-container-high: #43393b;
  --md-sys-color-surface-container-highest: #342025;
  --md-sys-color-on-surface: #ffffff;
  --md-sys-color-surface-variant: #342025;
  --md-sys-color-on-surface-variant: #fffeff;
  --md-sys-color-inverse-surface: #fff8f7;
  --md-sys-color-inverse-on-surface: #403637;
  --md-sys-color-outline: #dacacc;
  --md-sys-color-outline-variant: #b1a2a4;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #fffeff;
  --md-sys-color-primary: #fffeff;
  --md-sys-color-primary-dim: #e3cfde;
  --md-sys-color-on-primary: #271c27;
  --md-sys-color-primary-container: #50434f;
  --md-sys-color-on-primary-container: #ffffff;
  --md-sys-color-inverse-primary: #413440;
  --md-sys-color-primary-fixed: #50434f;
  --md-sys-color-primary-fixed-dim: #453743;
  --md-sys-color-on-primary-fixed: #fffeff;
  --md-sys-color-on-primary-fixed-variant: #dcc8d7;
  --md-sys-color-secondary: #fffeff;
  --md-sys-color-secondary-dim: #e2d1cb;
  --md-sys-color-on-secondary: #271d1a;
  --md-sys-color-secondary-container: #504440;
  --md-sys-color-on-secondary-container: #ffffff;
  --md-sys-color-secondary-fixed: #504440;
  --md-sys-color-secondary-fixed-dim: #443935;
  --md-sys-color-on-secondary-fixed: #fffeff;
  --md-sys-color-on-secondary-fixed-variant: #dccac5;
  --md-sys-color-tertiary: #fffeff;
  --md-sys-color-tertiary-dim: #a6d3ff;
  --md-sys-color-on-tertiary: #001b30;
  --md-sys-color-tertiary-container: #87b7e5;
  --md-sys-color-on-tertiary-container: #000000;
  --md-sys-color-tertiary-fixed: #79aad7;
  --md-sys-color-tertiary-fixed-dim: #6c9cc9;
  --md-sys-color-on-tertiary-fixed: #000000;
  --md-sys-color-on-tertiary-fixed-variant: #00050d;
  --md-sys-color-error: #fffeff;
  --md-sys-color-error-dim: #ffbdc3;
  --md-sys-color-on-error: #3b0310;
  --md-sys-color-error-container: #76303a;
  --md-sys-color-on-error-container: #ffffff;
}

.dark-high-contrast {
  --md-sys-color-primary-palette-key-color: #82727f;
  --md-sys-color-secondary-palette-key-color: #827470;
  --md-sys-color-tertiary-palette-key-color: #4a7ba6;
  --md-sys-color-neutral-palette-key-color: #817476;
  --md-sys-color-neutral-variant-palette-key-color: #847281;
  --md-sys-color-error-palette-key-color: #b15e69;
  --md-sys-color-background: #000000;
  --md-sys-color-on-background: #ffffff;
  --md-sys-color-surface: #000000;
  --md-sys-color-surface-dim: #140c0e;
  --md-sys-color-surface-bright: #3d262b;
  --md-sys-color-surface-container-lowest: #000000;
  --md-sys-color-surface-container-low: #2d2325;
  --md-sys-color-surface-container: #382e30;
  --md-sys-color-surface-container-high: #43393b;
  --md-sys-color-surface-container-highest: #342025;
  --md-sys-color-on-surface: #ffffff;
  --md-sys-color-surface-variant: #342025;
  --md-sys-color-on-surface-variant: #ffffff;
  --md-sys-color-inverse-surface: #fff8f7;
  --md-sys-color-inverse-on-surface: #000000;
  --md-sys-color-outline: #fffeff;
  --md-sys-color-outline-variant: #dacacc;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #ffffff;
  --md-sys-color-primary: #ffffff;
  --md-sys-color-primary-dim: #fffeff;
  --md-sys-color-on-primary: #000000;
  --md-sys-color-primary-container: #50434f;
  --md-sys-color-on-primary-container: #ffffff;
  --md-sys-color-inverse-primary: #000000;
  --md-sys-color-primary-fixed: #50434f;
  --md-sys-color-primary-fixed-dim: #453743;
  --md-sys-color-on-primary-fixed: #ffffff;
  --md-sys-color-on-primary-fixed-variant: #fffeff;
  --md-sys-color-secondary: #ffffff;
  --md-sys-color-secondary-dim: #fffeff;
  --md-sys-color-on-secondary: #000000;
  --md-sys-color-secondary-container: #504440;
  --md-sys-color-on-secondary-container: #ffffff;
  --md-sys-color-secondary-fixed: #504440;
  --md-sys-color-secondary-fixed-dim: #443935;
  --md-sys-color-on-secondary-fixed: #ffffff;
  --md-sys-color-on-secondary-fixed-variant: #fffeff;
  --md-sys-color-tertiary: #ffffff;
  --md-sys-color-tertiary-dim: #fffeff;
  --md-sys-color-on-tertiary: #000000;
  --md-sys-color-tertiary-container: #98c8f8;
  --md-sys-color-on-tertiary-container: #000000;
  --md-sys-color-tertiary-fixed: #79aad7;
  --md-sys-color-tertiary-fixed-dim: #6c9cc9;
  --md-sys-color-on-tertiary-fixed: #000000;
  --md-sys-color-on-tertiary-fixed-variant: #000000;
  --md-sys-color-error: #ffffff;
  --md-sys-color-error-dim: #fffeff;
  --md-sys-color-on-error: #000000;
  --md-sys-color-error-container: #76303a;
  --md-sys-color-on-error-container: #ffffff;
}

