.light {
  --md-sys-color-primary-palette-key-color: #82727f;
  --md-sys-color-secondary-palette-key-color: #85736d;
  --md-sys-color-tertiary-palette-key-color: #647a83;
  --md-sys-color-neutral-palette-key-color: #7b7676;
  --md-sys-color-neutral-variant-palette-key-color: #7a7677;
  --md-sys-color-error-palette-key-color: #de3730;
  --md-sys-color-background: #fff8f7;
  --md-sys-color-on-background: #1e1b1b;
  --md-sys-color-surface: #fff8f7;
  --md-sys-color-surface-dim: #e0d8d8;
  --md-sys-color-surface-bright: #fff8f7;
  --md-sys-color-surface-container-lowest: #ffffff;
  --md-sys-color-surface-container-low: #faf2f2;
  --md-sys-color-surface-container: #f4ecec;
  --md-sys-color-surface-container-high: #eee6e6;
  --md-sys-color-surface-container-highest: #e8e1e1;
  --md-sys-color-on-surface: #1e1b1b;
  --md-sys-color-surface-variant: #e7e1e2;
  --md-sys-color-on-surface-variant: #494647;
  --md-sys-color-inverse-surface: #332f30;
  --md-sys-color-inverse-on-surface: #f7efef;
  --md-sys-color-outline: #7a7677;
  --md-sys-color-outline-variant: #cbc5c6;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #695a67;
  --md-sys-color-primary: #695a67;
  --md-sys-color-primary-dim: #736370;
  --md-sys-color-on-primary: #ffffff;
  --md-sys-color-primary-container: #f1ddec;
  --md-sys-color-on-primary-container: #50434f;
  --md-sys-color-inverse-primary: #d4c1d0;
  --md-sys-color-primary-fixed: #f1ddec;
  --md-sys-color-primary-fixed-dim: #d4c1d0;
  --md-sys-color-on-primary-fixed: #231823;
  --md-sys-color-on-primary-fixed-variant: #50434f;
  --md-sys-color-secondary: #6b5b55;
  --md-sys-color-secondary-dim: #75645f;
  --md-sys-color-on-secondary: #ffffff;
  --md-sys-color-secondary-container: #f5ded6;
  --md-sys-color-on-secondary-container: #53433e;
  --md-sys-color-secondary-fixed: #f5ded6;
  --md-sys-color-secondary-fixed-dim: #d8c2bb;
  --md-sys-color-on-secondary-fixed: #251915;
  --md-sys-color-on-secondary-fixed-variant: #53433e;
  --md-sys-color-tertiary: #4c626b;
  --md-sys-color-tertiary-dim: #556b74;
  --md-sys-color-on-tertiary: #ffffff;
  --md-sys-color-tertiary-container: #cfe6f1;
  --md-sys-color-on-tertiary-container: #344a52;
  --md-sys-color-tertiary-fixed: #cfe6f1;
  --md-sys-color-tertiary-fixed-dim: #b3cad4;
  --md-sys-color-on-tertiary-fixed: #071e26;
  --md-sys-color-on-tertiary-fixed-variant: #344a52;
  --md-sys-color-error: #ba1a1a;
  --md-sys-color-error-dim: #ac0c12;
  --md-sys-color-on-error: #ffffff;
  --md-sys-color-error-container: #ffdad6;
  --md-sys-color-on-error-container: #93000a;
  --md-sys-color-control-activated: #f1ddec;
  --md-sys-color-control-normal: #494647;
  --md-sys-color-control-highlight: #0000001f;
  --md-sys-color-text-primary-inverse: #e8e1e1;
  --md-sys-color-text-secondary-and-tertiary-inverse: #cbc5c6;
  --md-sys-color-text-primary-inverse-disable-only: #e8e1e1;
  --md-sys-color-text-secondary-and-tertiary-inverse-disabled: #e8e1e1;
  --md-sys-color-text-hint-inverse: #e8e1e1;
}

.light-medium-contrast {
  --md-sys-color-primary-palette-key-color: #82727f;
  --md-sys-color-secondary-palette-key-color: #85736d;
  --md-sys-color-tertiary-palette-key-color: #647a83;
  --md-sys-color-neutral-palette-key-color: #7b7676;
  --md-sys-color-neutral-variant-palette-key-color: #7a7677;
  --md-sys-color-error-palette-key-color: #de3730;
  --md-sys-color-background: #fff8f7;
  --md-sys-color-on-background: #1e1b1b;
  --md-sys-color-surface: #fff8f7;
  --md-sys-color-surface-dim: #ccc5c5;
  --md-sys-color-surface-bright: #fff8f7;
  --md-sys-color-surface-container-lowest: #ffffff;
  --md-sys-color-surface-container-low: #faf2f2;
  --md-sys-color-surface-container: #eee6e6;
  --md-sys-color-surface-container-high: #e3dbdb;
  --md-sys-color-surface-container-highest: #d7d0d0;
  --md-sys-color-on-surface: #131011;
  --md-sys-color-surface-variant: #e7e1e2;
  --md-sys-color-on-surface-variant: #383537;
  --md-sys-color-inverse-surface: #332f30;
  --md-sys-color-inverse-on-surface: #f7efef;
  --md-sys-color-outline: #555153;
  --md-sys-color-outline-variant: #706c6d;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #695a67;
  --md-sys-color-primary: #3f323e;
  --md-sys-color-primary-dim: #4e404c;
  --md-sys-color-on-primary: #ffffff;
  --md-sys-color-primary-container: #786875;
  --md-sys-color-on-primary-container: #ffffff;
  --md-sys-color-inverse-primary: #d4c1d0;
  --md-sys-color-primary-fixed: #786875;
  --md-sys-color-primary-fixed-dim: #5f505d;
  --md-sys-color-on-primary-fixed: #ffffff;
  --md-sys-color-on-primary-fixed-variant: #ffffff;
  --md-sys-color-secondary: #41332e;
  --md-sys-color-secondary-dim: #50413c;
  --md-sys-color-on-secondary: #ffffff;
  --md-sys-color-secondary-container: #7b6964;
  --md-sys-color-on-secondary-container: #ffffff;
  --md-sys-color-secondary-fixed: #7b6964;
  --md-sys-color-secondary-fixed-dim: #61514c;
  --md-sys-color-on-secondary-fixed: #ffffff;
  --md-sys-color-on-secondary-fixed-variant: #ffffff;
  --md-sys-color-tertiary: #243941;
  --md-sys-color-tertiary-dim: #324850;
  --md-sys-color-on-tertiary: #ffffff;
  --md-sys-color-tertiary-container: #5b707a;
  --md-sys-color-on-tertiary-container: #ffffff;
  --md-sys-color-tertiary-fixed: #5b707a;
  --md-sys-color-tertiary-fixed-dim: #425861;
  --md-sys-color-on-tertiary-fixed: #ffffff;
  --md-sys-color-on-tertiary-fixed-variant: #ffffff;
  --md-sys-color-error: #740006;
  --md-sys-color-error-dim: #8f0009;
  --md-sys-color-on-error: #ffffff;
  --md-sys-color-error-container: #cf2c27;
  --md-sys-color-on-error-container: #ffffff;
  --md-sys-color-control-activated: #f1ddec;
  --md-sys-color-control-normal: #494647;
  --md-sys-color-control-highlight: #0000001f;
  --md-sys-color-text-primary-inverse: #e8e1e1;
  --md-sys-color-text-secondary-and-tertiary-inverse: #cbc5c6;
  --md-sys-color-text-primary-inverse-disable-only: #e8e1e1;
  --md-sys-color-text-secondary-and-tertiary-inverse-disabled: #e8e1e1;
  --md-sys-color-text-hint-inverse: #e8e1e1;
}

.light-high-contrast {
  --md-sys-color-primary-palette-key-color: #82727f;
  --md-sys-color-secondary-palette-key-color: #85736d;
  --md-sys-color-tertiary-palette-key-color: #647a83;
  --md-sys-color-neutral-palette-key-color: #7b7676;
  --md-sys-color-neutral-variant-palette-key-color: #7a7677;
  --md-sys-color-error-palette-key-color: #de3730;
  --md-sys-color-background: #fff8f7;
  --md-sys-color-on-background: #1e1b1b;
  --md-sys-color-surface: #fff8f7;
  --md-sys-color-surface-dim: #beb7b7;
  --md-sys-color-surface-bright: #fff8f7;
  --md-sys-color-surface-container-lowest: #ffffff;
  --md-sys-color-surface-container-low: #f7efef;
  --md-sys-color-surface-container: #e8e1e1;
  --md-sys-color-surface-container-high: #dad3d3;
  --md-sys-color-surface-container-highest: #ccc5c5;
  --md-sys-color-on-surface: #000000;
  --md-sys-color-surface-variant: #e7e1e2;
  --md-sys-color-on-surface-variant: #000000;
  --md-sys-color-inverse-surface: #332f30;
  --md-sys-color-inverse-on-surface: #ffffff;
  --md-sys-color-outline: #2e2b2d;
  --md-sys-color-outline-variant: #4b484a;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #695a67;
  --md-sys-color-primary: #352834;
  --md-sys-color-primary-dim: #271c27;
  --md-sys-color-on-primary: #ffffff;
  --md-sys-color-primary-container: #534551;
  --md-sys-color-on-primary-container: #ffffff;
  --md-sys-color-inverse-primary: #d4c1d0;
  --md-sys-color-primary-fixed: #534551;
  --md-sys-color-primary-fixed-dim: #3b2f3a;
  --md-sys-color-on-primary-fixed: #ffffff;
  --md-sys-color-on-primary-fixed-variant: #ffffff;
  --md-sys-color-secondary: #362925;
  --md-sys-color-secondary-dim: #291d18;
  --md-sys-color-on-secondary: #ffffff;
  --md-sys-color-secondary-container: #554641;
  --md-sys-color-on-secondary-container: #ffffff;
  --md-sys-color-secondary-fixed: #554641;
  --md-sys-color-secondary-fixed-dim: #3d302b;
  --md-sys-color-on-secondary-fixed: #ffffff;
  --md-sys-color-on-secondary-fixed-variant: #ffffff;
  --md-sys-color-tertiary: #192f37;
  --md-sys-color-tertiary-dim: #0b222a;
  --md-sys-color-on-tertiary: #ffffff;
  --md-sys-color-tertiary-container: #374c55;
  --md-sys-color-on-tertiary-container: #ffffff;
  --md-sys-color-tertiary-fixed: #374c55;
  --md-sys-color-tertiary-fixed-dim: #20363e;
  --md-sys-color-on-tertiary-fixed: #ffffff;
  --md-sys-color-on-tertiary-fixed-variant: #ffffff;
  --md-sys-color-error: #600004;
  --md-sys-color-error-dim: #480002;
  --md-sys-color-on-error: #ffffff;
  --md-sys-color-error-container: #98000a;
  --md-sys-color-on-error-container: #ffffff;
  --md-sys-color-control-activated: #f1ddec;
  --md-sys-color-control-normal: #494647;
  --md-sys-color-control-highlight: #0000001f;
  --md-sys-color-text-primary-inverse: #e8e1e1;
  --md-sys-color-text-secondary-and-tertiary-inverse: #cbc5c6;
  --md-sys-color-text-primary-inverse-disable-only: #e8e1e1;
  --md-sys-color-text-secondary-and-tertiary-inverse-disabled: #e8e1e1;
  --md-sys-color-text-hint-inverse: #e8e1e1;
}

.dark {
  --md-sys-color-primary-palette-key-color: #82727f;
  --md-sys-color-secondary-palette-key-color: #85736d;
  --md-sys-color-tertiary-palette-key-color: #647a83;
  --md-sys-color-neutral-palette-key-color: #7b7676;
  --md-sys-color-neutral-variant-palette-key-color: #7a7677;
  --md-sys-color-error-palette-key-color: #de3730;
  --md-sys-color-background: #161313;
  --md-sys-color-on-background: #e8e1e1;
  --md-sys-color-surface: #161313;
  --md-sys-color-surface-dim: #161313;
  --md-sys-color-surface-bright: #3c3839;
  --md-sys-color-surface-container-lowest: #100d0e;
  --md-sys-color-surface-container-low: #1e1b1b;
  --md-sys-color-surface-container: #221f1f;
  --md-sys-color-surface-container-high: #2d2929;
  --md-sys-color-surface-container-highest: #383434;
  --md-sys-color-on-surface: #e8e1e1;
  --md-sys-color-surface-variant: #494647;
  --md-sys-color-on-surface-variant: #cbc5c6;
  --md-sys-color-inverse-surface: #e8e1e1;
  --md-sys-color-inverse-on-surface: #332f30;
  --md-sys-color-outline: #948f91;
  --md-sys-color-outline-variant: #494647;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #d4c1d0;
  --md-sys-color-primary: #d4c1d0;
  --md-sys-color-primary-dim: #e3cfde;
  --md-sys-color-on-primary: #392c38;
  --md-sys-color-primary-container: #50434f;
  --md-sys-color-on-primary-container: #f1ddec;
  --md-sys-color-inverse-primary: #695a67;
  --md-sys-color-primary-fixed: #f1ddec;
  --md-sys-color-primary-fixed-dim: #d4c1d0;
  --md-sys-color-on-primary-fixed: #231823;
  --md-sys-color-on-primary-fixed-variant: #50434f;
  --md-sys-color-secondary: #d8c2bb;
  --md-sys-color-secondary-dim: #e6d0c9;
  --md-sys-color-on-secondary: #3b2d29;
  --md-sys-color-secondary-container: #53433e;
  --md-sys-color-on-secondary-container: #f5ded6;
  --md-sys-color-secondary-fixed: #f5ded6;
  --md-sys-color-secondary-fixed-dim: #d8c2bb;
  --md-sys-color-on-secondary-fixed: #251915;
  --md-sys-color-on-secondary-fixed-variant: #53433e;
  --md-sys-color-tertiary: #b3cad4;
  --md-sys-color-tertiary-dim: #daf2fc;
  --md-sys-color-on-tertiary: #1e333b;
  --md-sys-color-tertiary-container: #344a52;
  --md-sys-color-on-tertiary-container: #cfe6f1;
  --md-sys-color-tertiary-fixed: #cfe6f1;
  --md-sys-color-tertiary-fixed-dim: #b3cad4;
  --md-sys-color-on-tertiary-fixed: #071e26;
  --md-sys-color-on-tertiary-fixed-variant: #344a52;
  --md-sys-color-error: #ffb4ab;
  --md-sys-color-error-dim: #ffc7c0;
  --md-sys-color-on-error: #690005;
  --md-sys-color-error-container: #93000a;
  --md-sys-color-on-error-container: #ffdad6;
  --md-sys-color-control-activated: #50434f;
  --md-sys-color-control-normal: #cbc5c6;
  --md-sys-color-control-highlight: #ffffff33;
  --md-sys-color-text-primary-inverse: #1e1b1b;
  --md-sys-color-text-secondary-and-tertiary-inverse: #494647;
  --md-sys-color-text-primary-inverse-disable-only: #1e1b1b;
  --md-sys-color-text-secondary-and-tertiary-inverse-disabled: #1e1b1b;
  --md-sys-color-text-hint-inverse: #1e1b1b;
}

.dark-medium-contrast {
  --md-sys-color-primary-palette-key-color: #82727f;
  --md-sys-color-secondary-palette-key-color: #85736d;
  --md-sys-color-tertiary-palette-key-color: #647a83;
  --md-sys-color-neutral-palette-key-color: #7b7676;
  --md-sys-color-neutral-variant-palette-key-color: #7a7677;
  --md-sys-color-error-palette-key-color: #de3730;
  --md-sys-color-background: #161313;
  --md-sys-color-on-background: #e8e1e1;
  --md-sys-color-surface: #161313;
  --md-sys-color-surface-dim: #161313;
  --md-sys-color-surface-bright: #484344;
  --md-sys-color-surface-container-lowest: #090707;
  --md-sys-color-surface-container-low: #201d1d;
  --md-sys-color-surface-container: #2a2727;
  --md-sys-color-surface-container-high: #353232;
  --md-sys-color-surface-container-highest: #413d3d;
  --md-sys-color-on-surface: #ffffff;
  --md-sys-color-surface-variant: #494647;
  --md-sys-color-on-surface-variant: #e1dbdc;
  --md-sys-color-inverse-surface: #e8e1e1;
  --md-sys-color-inverse-on-surface: #2d2929;
  --md-sys-color-outline: #b6b0b2;
  --md-sys-color-outline-variant: #948f91;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #d4c1d0;
  --md-sys-color-primary: #ebd7e6;
  --md-sys-color-primary-dim: #e3cfde;
  --md-sys-color-on-primary: #2e222d;
  --md-sys-color-primary-container: #9d8c9a;
  --md-sys-color-on-primary-container: #000000;
  --md-sys-color-inverse-primary: #524450;
  --md-sys-color-primary-fixed: #f1ddec;
  --md-sys-color-primary-fixed-dim: #d4c1d0;
  --md-sys-color-on-primary-fixed: #180e18;
  --md-sys-color-on-primary-fixed-variant: #3f323e;
  --md-sys-color-secondary: #eed8d0;
  --md-sys-color-secondary-dim: #e6d0c9;
  --md-sys-color-on-secondary: #30231e;
  --md-sys-color-secondary-container: #a08d86;
  --md-sys-color-on-secondary-container: #000000;
  --md-sys-color-secondary-fixed: #f5ded6;
  --md-sys-color-secondary-fixed-dim: #d8c2bb;
  --md-sys-color-on-secondary-fixed: #190f0b;
  --md-sys-color-on-secondary-fixed-variant: #41332e;
  --md-sys-color-tertiary: #c9e0eb;
  --md-sys-color-tertiary-dim: #daf2fc;
  --md-sys-color-on-tertiary: #122830;
  --md-sys-color-tertiary-container: #7e949e;
  --md-sys-color-on-tertiary-container: #000000;
  --md-sys-color-tertiary-fixed: #cfe6f1;
  --md-sys-color-tertiary-fixed-dim: #b3cad4;
  --md-sys-color-on-tertiary-fixed: #00141b;
  --md-sys-color-on-tertiary-fixed-variant: #243941;
  --md-sys-color-error: #ffd2cc;
  --md-sys-color-error-dim: #ffc7c0;
  --md-sys-color-on-error: #540003;
  --md-sys-color-error-container: #ff5449;
  --md-sys-color-on-error-container: #000000;
  --md-sys-color-control-activated: #50434f;
  --md-sys-color-control-normal: #cbc5c6;
  --md-sys-color-control-highlight: #ffffff33;
  --md-sys-color-text-primary-inverse: #1e1b1b;
  --md-sys-color-text-secondary-and-tertiary-inverse: #494647;
  --md-sys-color-text-primary-inverse-disable-only: #1e1b1b;
  --md-sys-color-text-secondary-and-tertiary-inverse-disabled: #1e1b1b;
  --md-sys-color-text-hint-inverse: #1e1b1b;
}

.dark-high-contrast {
  --md-sys-color-primary-palette-key-color: #82727f;
  --md-sys-color-secondary-palette-key-color: #85736d;
  --md-sys-color-tertiary-palette-key-color: #647a83;
  --md-sys-color-neutral-palette-key-color: #7b7676;
  --md-sys-color-neutral-variant-palette-key-color: #7a7677;
  --md-sys-color-error-palette-key-color: #de3730;
  --md-sys-color-background: #161313;
  --md-sys-color-on-background: #e8e1e1;
  --md-sys-color-surface: #161313;
  --md-sys-color-surface-dim: #161313;
  --md-sys-color-surface-bright: #534f4f;
  --md-sys-color-surface-container-lowest: #000000;
  --md-sys-color-surface-container-low: #221f1f;
  --md-sys-color-surface-container: #332f30;
  --md-sys-color-surface-container-high: #3e3a3b;
  --md-sys-color-surface-container-highest: #4a4646;
  --md-sys-color-on-surface: #ffffff;
  --md-sys-color-surface-variant: #494647;
  --md-sys-color-on-surface-variant: #ffffff;
  --md-sys-color-inverse-surface: #e8e1e1;
  --md-sys-color-inverse-on-surface: #000000;
  --md-sys-color-outline: #f5eef0;
  --md-sys-color-outline-variant: #c7c1c3;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #d4c1d0;
  --md-sys-color-primary: #ffeafa;
  --md-sys-color-primary-dim: #fffeff;
  --md-sys-color-on-primary: #000000;
  --md-sys-color-primary-container: #d0bdcc;
  --md-sys-color-on-primary-container: #120812;
  --md-sys-color-inverse-primary: #524450;
  --md-sys-color-primary-fixed: #f1ddec;
  --md-sys-color-primary-fixed-dim: #d4c1d0;
  --md-sys-color-on-primary-fixed: #000000;
  --md-sys-color-on-primary-fixed-variant: #180e18;
  --md-sys-color-secondary: #ffece6;
  --md-sys-color-secondary-dim: #fffeff;
  --md-sys-color-on-secondary: #000000;
  --md-sys-color-secondary-container: #d4beb7;
  --md-sys-color-on-secondary-container: #130906;
  --md-sys-color-secondary-fixed: #f5ded6;
  --md-sys-color-secondary-fixed-dim: #d8c2bb;
  --md-sys-color-on-secondary-fixed: #000000;
  --md-sys-color-on-secondary-fixed-variant: #190f0b;
  --md-sys-color-tertiary: #dcf4fe;
  --md-sys-color-tertiary-dim: #fffeff;
  --md-sys-color-on-tertiary: #000000;
  --md-sys-color-tertiary-container: #afc6d0;
  --md-sys-color-on-tertiary-container: #000d13;
  --md-sys-color-tertiary-fixed: #cfe6f1;
  --md-sys-color-tertiary-fixed-dim: #b3cad4;
  --md-sys-color-on-tertiary-fixed: #000000;
  --md-sys-color-on-tertiary-fixed-variant: #00141b;
  --md-sys-color-error: #ffece9;
  --md-sys-color-error-dim: #fffeff;
  --md-sys-color-on-error: #000000;
  --md-sys-color-error-container: #ffaea4;
  --md-sys-color-on-error-container: #220001;
  --md-sys-color-control-activated: #50434f;
  --md-sys-color-control-normal: #cbc5c6;
  --md-sys-color-control-highlight: #ffffff33;
  --md-sys-color-text-primary-inverse: #1e1b1b;
  --md-sys-color-text-secondary-and-tertiary-inverse: #494647;
  --md-sys-color-text-primary-inverse-disable-only: #1e1b1b;
  --md-sys-color-text-secondary-and-tertiary-inverse-disabled: #1e1b1b;
  --md-sys-color-text-hint-inverse: #1e1b1b;
}

