.light {
  --md-sys-color-primary-palette-key-color: #7f747c;
  --md-sys-color-secondary-palette-key-color: #7f7572;
  --md-sys-color-tertiary-palette-key-color: #65798e;
  --md-sys-color-neutral-palette-key-color: #7a7676;
  --md-sys-color-neutral-variant-palette-key-color: #7b7678;
  --md-sys-color-error-palette-key-color: #bd5665;
  --md-sys-color-background: #fff8f7;
  --md-sys-color-on-background: #363132;
  --md-sys-color-surface: #fff8f7;
  --md-sys-color-surface-dim: #e2d7d8;
  --md-sys-color-surface-bright: #fff8f7;
  --md-sys-color-surface-container-lowest: #ffffff;
  --md-sys-color-surface-container-low: #faf2f2;
  --md-sys-color-surface-container: #f4ecec;
  --md-sys-color-surface-container-high: #efe6e6;
  --md-sys-color-surface-container-highest: #eae0e1;
  --md-sys-color-on-surface: #363132;
  --md-sys-color-surface-variant: #eae0e1;
  --md-sys-color-on-surface-variant: #645d5e;
  --md-sys-color-inverse-surface: #100e0e;
  --md-sys-color-inverse-on-surface: #a19c9c;
  --md-sys-color-outline: #80797a;
  --md-sys-color-outline-variant: #b9b0b0;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #665b63;
  --md-sys-color-primary: #665b63;
  --md-sys-color-primary-dim: #595057;
  --md-sys-color-on-primary: #fff5fa;
  --md-sys-color-primary-container: #eddee8;
  --md-sys-color-on-primary-container: #594f57;
  --md-sys-color-inverse-primary: #feeff9;
  --md-sys-color-primary-fixed: #eddee8;
  --md-sys-color-primary-fixed-dim: #dfd0da;
  --md-sys-color-on-primary-fixed: #463d44;
  --md-sys-color-on-primary-fixed-variant: #635960;
  --md-sys-color-secondary: #665d5a;
  --md-sys-color-secondary-dim: #5a514f;
  --md-sys-color-on-secondary: #fff7f5;
  --md-sys-color-secondary-container: #ede0dc;
  --md-sys-color-on-secondary-container: #58504d;
  --md-sys-color-secondary-fixed: #ede0dc;
  --md-sys-color-secondary-fixed-dim: #ded2ce;
  --md-sys-color-on-secondary-fixed: #453e3b;
  --md-sys-color-on-secondary-fixed-variant: #625a57;
  --md-sys-color-tertiary: #4d6175;
  --md-sys-color-tertiary-dim: #415569;
  --md-sys-color-on-tertiary: #f6f9ff;
  --md-sys-color-tertiary-container: #c7dcf4;
  --md-sys-color-on-tertiary-container: #3b4f62;
  --md-sys-color-tertiary-fixed: #c7dcf4;
  --md-sys-color-tertiary-fixed-dim: #b9cee6;
  --md-sys-color-on-tertiary-fixed: #283c4e;
  --md-sys-color-on-tertiary-fixed-variant: #44586c;
  --md-sys-color-error: #9e3f4e;
  --md-sys-color-error-dim: #4f0116;
  --md-sys-color-on-error: #fff7f7;
  --md-sys-color-error-container: #ff8b9a;
  --md-sys-color-on-error-container: #782232;
}

.light-medium-contrast {
  --md-sys-color-primary-palette-key-color: #7f747c;
  --md-sys-color-secondary-palette-key-color: #7f7572;
  --md-sys-color-tertiary-palette-key-color: #65798e;
  --md-sys-color-neutral-palette-key-color: #7a7676;
  --md-sys-color-neutral-variant-palette-key-color: #7b7678;
  --md-sys-color-error-palette-key-color: #bd5665;
  --md-sys-color-background: #fff8f7;
  --md-sys-color-on-background: #282323;
  --md-sys-color-surface: #fff8f7;
  --md-sys-color-surface-dim: #e2d7d8;
  --md-sys-color-surface-bright: #fff8f7;
  --md-sys-color-surface-container-lowest: #ffffff;
  --md-sys-color-surface-container-low: #faf2f2;
  --md-sys-color-surface-container: #f4ecec;
  --md-sys-color-surface-container-high: #efe6e6;
  --md-sys-color-surface-container-highest: #eae0e1;
  --md-sys-color-on-surface: #282323;
  --md-sys-color-surface-variant: #eae0e1;
  --md-sys-color-on-surface-variant: #474142;
  --md-sys-color-inverse-surface: #100e0e;
  --md-sys-color-inverse-on-surface: #c9c3c3;
  --md-sys-color-outline: #645d5e;
  --md-sys-color-outline-variant: #80797a;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #494048;
  --md-sys-color-primary: #494048;
  --md-sys-color-primary-dim: #3e353c;
  --md-sys-color-on-primary: #e4d6df;
  --md-sys-color-primary-container: #7c717a;
  --md-sys-color-on-primary-container: #ffffff;
  --md-sys-color-inverse-primary: #feeff9;
  --md-sys-color-primary-fixed: #7c717a;
  --md-sys-color-primary-fixed-dim: #70656d;
  --md-sys-color-on-primary-fixed: #ffffff;
  --md-sys-color-on-primary-fixed-variant: #ffffff;
  --md-sys-color-secondary: #49413f;
  --md-sys-color-secondary-dim: #3d3634;
  --md-sys-color-on-secondary: #e4d7d3;
  --md-sys-color-secondary-container: #7c7270;
  --md-sys-color-on-secondary-container: #ffffff;
  --md-sys-color-secondary-fixed: #7c7270;
  --md-sys-color-secondary-fixed-dim: #6f6663;
  --md-sys-color-on-secondary-fixed: #ffffff;
  --md-sys-color-on-secondary-fixed-variant: #ffffff;
  --md-sys-color-tertiary: #314558;
  --md-sys-color-tertiary-dim: #25394c;
  --md-sys-color-on-tertiary: #c7dcf4;
  --md-sys-color-tertiary-container: #62778c;
  --md-sys-color-on-tertiary-container: #ffffff;
  --md-sys-color-tertiary-fixed: #62778c;
  --md-sys-color-tertiary-fixed-dim: #566a7f;
  --md-sys-color-on-tertiary-fixed: #ffffff;
  --md-sys-color-on-tertiary-fixed-variant: #ffffff;
  --md-sys-color-error: #7a2333;
  --md-sys-color-error-dim: #4f0116;
  --md-sys-color-on-error: #ffcdd1;
  --md-sys-color-error-container: #b95463;
  --md-sys-color-on-error-container: #ffffff;
}

.light-high-contrast {
  --md-sys-color-primary-palette-key-color: #7f747c;
  --md-sys-color-secondary-palette-key-color: #7f7572;
  --md-sys-color-tertiary-palette-key-color: #65798e;
  --md-sys-color-neutral-palette-key-color: #7a7676;
  --md-sys-color-neutral-variant-palette-key-color: #7b7678;
  --md-sys-color-error-palette-key-color: #bd5665;
  --md-sys-color-background: #fff8f7;
  --md-sys-color-on-background: #000000;
  --md-sys-color-surface: #fff8f7;
  --md-sys-color-surface-dim: #e2d7d8;
  --md-sys-color-surface-bright: #fff8f7;
  --md-sys-color-surface-container-lowest: #ffffff;
  --md-sys-color-surface-container-low: #faf2f2;
  --md-sys-color-surface-container: #f4ecec;
  --md-sys-color-surface-container-high: #efe6e6;
  --md-sys-color-surface-container-highest: #eae0e1;
  --md-sys-color-on-surface: #000000;
  --md-sys-color-surface-variant: #eae0e1;
  --md-sys-color-on-surface-variant: #282323;
  --md-sys-color-inverse-surface: #100e0e;
  --md-sys-color-inverse-on-surface: #ffffff;
  --md-sys-color-outline: #474142;
  --md-sys-color-outline-variant: #645d5e;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #292228;
  --md-sys-color-primary: #292228;
  --md-sys-color-primary-dim: #1f171e;
  --md-sys-color-on-primary: #e4d6e0;
  --md-sys-color-primary-container: #665c64;
  --md-sys-color-on-primary-container: #ffffff;
  --md-sys-color-inverse-primary: #feeff9;
  --md-sys-color-primary-fixed: #665c64;
  --md-sys-color-primary-fixed-dim: #5a5058;
  --md-sys-color-on-primary-fixed: #ffffff;
  --md-sys-color-on-primary-fixed-variant: #ffffff;
  --md-sys-color-secondary: #292220;
  --md-sys-color-secondary-dim: #1f1816;
  --md-sys-color-on-secondary: #e4d7d4;
  --md-sys-color-secondary-container: #665d5a;
  --md-sys-color-on-secondary-container: #ffffff;
  --md-sys-color-secondary-fixed: #665d5a;
  --md-sys-color-secondary-fixed-dim: #5a514f;
  --md-sys-color-on-secondary-fixed: #ffffff;
  --md-sys-color-on-secondary-fixed-variant: #ffffff;
  --md-sys-color-tertiary: #102637;
  --md-sys-color-tertiary-dim: #051b2d;
  --md-sys-color-on-tertiary: #c7dcf4;
  --md-sys-color-tertiary-container: #4d6175;
  --md-sys-color-on-tertiary-container: #ffffff;
  --md-sys-color-tertiary-fixed: #4d6175;
  --md-sys-color-tertiary-fixed-dim: #415569;
  --md-sys-color-on-tertiary-fixed: #ffffff;
  --md-sys-color-on-tertiary-fixed-variant: #ffffff;
  --md-sys-color-error: #4f0116;
  --md-sys-color-error-dim: #3d000f;
  --md-sys-color-on-error: #ffced2;
  --md-sys-color-error-container: #9e3f4e;
  --md-sys-color-on-error-container: #ffffff;
}

.dark {
  --md-sys-color-primary-palette-key-color: #7f747c;
  --md-sys-color-secondary-palette-key-color: #7f7572;
  --md-sys-color-tertiary-palette-key-color: #65798e;
  --md-sys-color-neutral-palette-key-color: #7a7676;
  --md-sys-color-neutral-variant-palette-key-color: #7b7678;
  --md-sys-color-error-palette-key-color: #bd5665;
  --md-sys-color-background: #100e0e;
  --md-sys-color-on-background: #ede3e4;
  --md-sys-color-surface: #100e0e;
  --md-sys-color-surface-dim: #100e0e;
  --md-sys-color-surface-bright: #2e2b2c;
  --md-sys-color-surface-container-lowest: #000000;
  --md-sys-color-surface-container-low: #151313;
  --md-sys-color-surface-container: #1c1919;
  --md-sys-color-surface-container-high: #231f1f;
  --md-sys-color-surface-container-highest: #292525;
  --md-sys-color-on-surface: #ede3e4;
  --md-sys-color-surface-variant: #292525;
  --md-sys-color-on-surface-variant: #b2a9aa;
  --md-sys-color-inverse-surface: #fff8f7;
  --md-sys-color-inverse-on-surface: #585454;
  --md-sys-color-outline: #7b7474;
  --md-sys-color-outline-variant: #4c4647;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #d0c3cc;
  --md-sys-color-primary: #d0c3cc;
  --md-sys-color-primary-dim: #c2b5be;
  --md-sys-color-on-primary: #473d45;
  --md-sys-color-primary-container: #4d444c;
  --md-sys-color-on-primary-container: #daccd6;
  --md-sys-color-inverse-primary: #665c64;
  --md-sys-color-primary-fixed: #eddee8;
  --md-sys-color-primary-fixed-dim: #dfd0da;
  --md-sys-color-on-primary-fixed: #463d44;
  --md-sys-color-on-primary-fixed-variant: #635960;
  --md-sys-color-secondary: #a79c98;
  --md-sys-color-secondary-dim: #a79c98;
  --md-sys-color-on-secondary: #251f1d;
  --md-sys-color-secondary-container: #413a37;
  --md-sys-color-on-secondary-container: #c9bdb9;
  --md-sys-color-secondary-fixed: #ede0dc;
  --md-sys-color-secondary-fixed-dim: #ded2ce;
  --md-sys-color-on-secondary-fixed: #453e3b;
  --md-sys-color-on-secondary-fixed-variant: #625a57;
  --md-sys-color-tertiary: #d8eaff;
  --md-sys-color-tertiary-dim: #c7dcf4;
  --md-sys-color-on-tertiary: #43576b;
  --md-sys-color-tertiary-container: #c7dcf4;
  --md-sys-color-on-tertiary-container: #3b4f62;
  --md-sys-color-tertiary-fixed: #c7dcf4;
  --md-sys-color-tertiary-fixed-dim: #b9cee6;
  --md-sys-color-on-tertiary-fixed: #283c4e;
  --md-sys-color-on-tertiary-fixed-variant: #44586c;
  --md-sys-color-error: #ff8b9a;
  --md-sys-color-error-dim: #b95463;
  --md-sys-color-on-error: #5e0d20;
  --md-sys-color-error-container: #7f2737;
  --md-sys-color-on-error-container: #ff97a3;
}

.dark-medium-contrast {
  --md-sys-color-primary-palette-key-color: #7f747c;
  --md-sys-color-secondary-palette-key-color: #7f7572;
  --md-sys-color-tertiary-palette-key-color: #65798e;
  --md-sys-color-neutral-palette-key-color: #7a7676;
  --md-sys-color-neutral-variant-palette-key-color: #7b7678;
  --md-sys-color-error-palette-key-color: #bd5665;
  --md-sys-color-background: #100e0e;
  --md-sys-color-on-background: #ffffff;
  --md-sys-color-surface: #100e0e;
  --md-sys-color-surface-dim: #100e0e;
  --md-sys-color-surface-bright: #2e2b2c;
  --md-sys-color-surface-container-lowest: #000000;
  --md-sys-color-surface-container-low: #151313;
  --md-sys-color-surface-container: #1c1919;
  --md-sys-color-surface-container-high: #231f1f;
  --md-sys-color-surface-container-highest: #292525;
  --md-sys-color-on-surface: #ffffff;
  --md-sys-color-surface-variant: #292525;
  --md-sys-color-on-surface-variant: #c0b7b7;
  --md-sys-color-inverse-surface: #fff8f7;
  --md-sys-color-inverse-on-surface: #3a3738;
  --md-sys-color-outline: #9a9192;
  --md-sys-color-outline-variant: #7b7474;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #d0c3cc;
  --md-sys-color-primary: #d0c3cc;
  --md-sys-color-primary-dim: #c2b5be;
  --md-sys-color-on-primary: #3c343b;
  --md-sys-color-primary-container: #7c717a;
  --md-sys-color-on-primary-container: #ffffff;
  --md-sys-color-inverse-primary: #5c525a;
  --md-sys-color-primary-fixed: #eddee8;
  --md-sys-color-primary-fixed-dim: #dfd0da;
  --md-sys-color-on-primary-fixed: #251d24;
  --md-sys-color-on-primary-fixed-variant: #463d44;
  --md-sys-color-secondary: #c2b6b3;
  --md-sys-color-secondary-dim: #b4a9a5;
  --md-sys-color-on-secondary: #322b28;
  --md-sys-color-secondary-container: #7c7270;
  --md-sys-color-on-secondary-container: #ffffff;
  --md-sys-color-secondary-fixed: #ede0dc;
  --md-sys-color-secondary-fixed-dim: #ded2ce;
  --md-sys-color-on-secondary-fixed: #241e1c;
  --md-sys-color-on-secondary-fixed-variant: #453e3b;
  --md-sys-color-tertiary: #d8eaff;
  --md-sys-color-tertiary-dim: #c7dcf4;
  --md-sys-color-on-tertiary: #394d61;
  --md-sys-color-tertiary-container: #c7dcf4;
  --md-sys-color-on-tertiary-container: #314558;
  --md-sys-color-tertiary-fixed: #c7dcf4;
  --md-sys-color-tertiary-fixed-dim: #b9cee6;
  --md-sys-color-on-tertiary-fixed: #03192b;
  --md-sys-color-on-tertiary-fixed-variant: #283c4e;
  --md-sys-color-error: #ff9da8;
  --md-sys-color-error-dim: #fb8896;
  --md-sys-color-on-error: #5b0a1e;
  --md-sys-color-error-container: #b95463;
  --md-sys-color-on-error-container: #ffffff;
}

.dark-high-contrast {
  --md-sys-color-primary-palette-key-color: #7f747c;
  --md-sys-color-secondary-palette-key-color: #7f7572;
  --md-sys-color-tertiary-palette-key-color: #65798e;
  --md-sys-color-neutral-palette-key-color: #7a7676;
  --md-sys-color-neutral-variant-palette-key-color: #7b7678;
  --md-sys-color-error-palette-key-color: #bd5665;
  --md-sys-color-background: #100e0e;
  --md-sys-color-on-background: #ffffff;
  --md-sys-color-surface: #100e0e;
  --md-sys-color-surface-dim: #100e0e;
  --md-sys-color-surface-bright: #2e2b2c;
  --md-sys-color-surface-container-lowest: #000000;
  --md-sys-color-surface-container-low: #151313;
  --md-sys-color-surface-container: #1c1919;
  --md-sys-color-surface-container-high: #231f1f;
  --md-sys-color-surface-container-highest: #292525;
  --md-sys-color-on-surface: #ffffff;
  --md-sys-color-surface-variant: #292525;
  --md-sys-color-on-surface-variant: #ede3e4;
  --md-sys-color-inverse-surface: #fff8f7;
  --md-sys-color-inverse-on-surface: #000000;
  --md-sys-color-outline: #c0b7b7;
  --md-sys-color-outline-variant: #9a9192;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #f0e1eb;
  --md-sys-color-primary: #f0e1eb;
  --md-sys-color-primary-dim: #dfd0da;
  --md-sys-color-on-primary: #322931;
  --md-sys-color-primary-container: #a79aa3;
  --md-sys-color-on-primary-container: #000000;
  --md-sys-color-inverse-primary: #3e363d;
  --md-sys-color-primary-fixed: #eddee8;
  --md-sys-color-primary-fixed-dim: #dfd0da;
  --md-sys-color-on-primary-fixed: #000000;
  --md-sys-color-on-primary-fixed-variant: #251d24;
  --md-sys-color-secondary: #f0e3df;
  --md-sys-color-secondary-dim: #ded2ce;
  --md-sys-color-on-secondary: #312a28;
  --md-sys-color-secondary-container: #a79c98;
  --md-sys-color-on-secondary-container: #000000;
  --md-sys-color-secondary-fixed: #ede0dc;
  --md-sys-color-secondary-fixed-dim: #ded2ce;
  --md-sys-color-on-secondary-fixed: #000000;
  --md-sys-color-on-secondary-fixed-variant: #241e1c;
  --md-sys-color-tertiary: #d8eaff;
  --md-sys-color-tertiary-dim: #c7dcf4;
  --md-sys-color-on-tertiary: #1b3042;
  --md-sys-color-tertiary-container: #c7dcf4;
  --md-sys-color-on-tertiary-container: #102637;
  --md-sys-color-tertiary-fixed: #c7dcf4;
  --md-sys-color-tertiary-fixed-dim: #b9cee6;
  --md-sys-color-on-tertiary-fixed: #000000;
  --md-sys-color-on-tertiary-fixed-variant: #03192b;
  --md-sys-color-error: #ffdddf;
  --md-sys-color-error-dim: #ffc7cb;
  --md-sys-color-on-error: #5b0a1e;
  --md-sys-color-error-container: #ec7c8a;
  --md-sys-color-on-error-container: #000000;
}

