.light {
  --md-sys-color-primary-palette-key-color: #a35ea4;
  --md-sys-color-secondary-palette-key-color: #926f63;
  --md-sys-color-tertiary-palette-key-color: #737498;
  --md-sys-color-neutral-palette-key-color: #777777;
  --md-sys-color-neutral-variant-palette-key-color: #777777;
  --md-sys-color-error-palette-key-color: #de3730;
  --md-sys-color-background: #131313;
  --md-sys-color-on-background: #e2e2e2;
  --md-sys-color-surface: #131313;
  --md-sys-color-surface-dim: #131313;
  --md-sys-color-surface-bright: #393939;
  --md-sys-color-surface-container-lowest: #0e0e0e;
  --md-sys-color-surface-container-low: #1b1b1b;
  --md-sys-color-surface-container: #1f1f1f;
  --md-sys-color-surface-container-high: #2a2a2a;
  --md-sys-color-surface-container-highest: #353535;
  --md-sys-color-on-surface: #e2e2e2;
  --md-sys-color-surface-variant: #474747;
  --md-sys-color-on-surface-variant: #c6c6c6;
  --md-sys-color-inverse-surface: #e2e2e2;
  --md-sys-color-inverse-on-surface: #303030;
  --md-sys-color-outline: #919191;
  --md-sys-color-outline-variant: #474747;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #faacf9;
  --md-sys-color-primary: #faacf9;
  --md-sys-color-primary-dim: #ffc0fc;
  --md-sys-color-on-primary: #521458;
  --md-sys-color-primary-container: #ffd6fa;
  --md-sys-color-on-primary-container: #8e4b90;
  --md-sys-color-inverse-primary: #87458a;
  --md-sys-color-primary-fixed: #ffd6fa;
  --md-sys-color-primary-fixed-dim: #faacf9;
  --md-sys-color-on-primary-fixed: #36003c;
  --md-sys-color-on-primary-fixed-variant: #6c2d70;
  --md-sys-color-secondary: #e7bdb0;
  --md-sys-color-secondary-dim: #ffd4c5;
  --md-sys-color-on-secondary: #442a21;
  --md-sys-color-secondary-container: #ffdbcf;
  --md-sys-color-on-secondary-container: #7d5d52;
  --md-sys-color-secondary-fixed: #ffdbcf;
  --md-sys-color-secondary-fixed-dim: #e7bdb0;
  --md-sys-color-on-secondary-fixed: #2c160d;
  --md-sys-color-on-secondary-fixed-variant: #5d4036;
  --md-sys-color-tertiary: #c3c3eb;
  --md-sys-color-tertiary-dim: #d1d1f9;
  --md-sys-color-on-tertiary: #2c2e4d;
  --md-sys-color-tertiary-container: #e1e0ff;
  --md-sys-color-on-tertiary-container: #606184;
  --md-sys-color-tertiary-fixed: #e1e0ff;
  --md-sys-color-tertiary-fixed-dim: #c3c3eb;
  --md-sys-color-on-tertiary-fixed: #171837;
  --md-sys-color-on-tertiary-fixed-variant: #434465;
  --md-sys-color-error: #ffb4ab;
  --md-sys-color-error-dim: #ffc7c0;
  --md-sys-color-on-error: #690005;
  --md-sys-color-error-container: #ffdad6;
  --md-sys-color-on-error-container: #c32220;
}

.light-medium-contrast {
  --md-sys-color-primary-palette-key-color: #a35ea4;
  --md-sys-color-secondary-palette-key-color: #926f63;
  --md-sys-color-tertiary-palette-key-color: #737498;
  --md-sys-color-neutral-palette-key-color: #777777;
  --md-sys-color-neutral-variant-palette-key-color: #777777;
  --md-sys-color-error-palette-key-color: #de3730;
  --md-sys-color-background: #131313;
  --md-sys-color-on-background: #e2e2e2;
  --md-sys-color-surface: #131313;
  --md-sys-color-surface-dim: #131313;
  --md-sys-color-surface-bright: #444444;
  --md-sys-color-surface-container-lowest: #070707;
  --md-sys-color-surface-container-low: #1d1d1d;
  --md-sys-color-surface-container: #282828;
  --md-sys-color-surface-container-high: #323232;
  --md-sys-color-surface-container-highest: #3e3e3e;
  --md-sys-color-on-surface: #ffffff;
  --md-sys-color-surface-variant: #474747;
  --md-sys-color-on-surface-variant: #dcdcdc;
  --md-sys-color-inverse-surface: #e2e2e2;
  --md-sys-color-inverse-on-surface: #2a2a2a;
  --md-sys-color-outline: #b2b2b2;
  --md-sys-color-outline-variant: #909090;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #faacf9;
  --md-sys-color-primary: #ffcdfb;
  --md-sys-color-primary-dim: #ffc0fc;
  --md-sys-color-on-primary: #45044c;
  --md-sys-color-primary-container: #fff7fa;
  --md-sys-color-on-primary-container: #7c3b7f;
  --md-sys-color-inverse-primary: #6e2e71;
  --md-sys-color-primary-fixed: #ffd6fa;
  --md-sys-color-primary-fixed-dim: #faacf9;
  --md-sys-color-on-primary-fixed: #25002a;
  --md-sys-color-on-primary-fixed-variant: #591b5e;
  --md-sys-color-secondary: #fed3c5;
  --md-sys-color-secondary-dim: #ffd4c5;
  --md-sys-color-on-secondary: #381f17;
  --md-sys-color-secondary-container: #fff7f5;
  --md-sys-color-on-secondary-container: #6c4e43;
  --md-sys-color-secondary-fixed: #ffdbcf;
  --md-sys-color-secondary-fixed-dim: #e7bdb0;
  --md-sys-color-on-secondary-fixed: #200b05;
  --md-sys-color-on-secondary-fixed-variant: #4a3026;
  --md-sys-color-tertiary: #d9d9ff;
  --md-sys-color-tertiary-dim: #d1d1f9;
  --md-sys-color-on-tertiary: #212341;
  --md-sys-color-tertiary-container: #fbf7ff;
  --md-sys-color-on-tertiary-container: #515273;
  --md-sys-color-tertiary-fixed: #e1e0ff;
  --md-sys-color-tertiary-fixed-dim: #c3c3eb;
  --md-sys-color-on-tertiary-fixed: #0c0e2c;
  --md-sys-color-on-tertiary-fixed-variant: #323353;
  --md-sys-color-error: #ffd2cc;
  --md-sys-color-error-dim: #ffc7c0;
  --md-sys-color-on-error: #540003;
  --md-sys-color-error-container: #fff7f6;
  --md-sys-color-on-error-container: #ab0b12;
}

.light-high-contrast {
  --md-sys-color-primary-palette-key-color: #a35ea4;
  --md-sys-color-secondary-palette-key-color: #926f63;
  --md-sys-color-tertiary-palette-key-color: #737498;
  --md-sys-color-neutral-palette-key-color: #777777;
  --md-sys-color-neutral-variant-palette-key-color: #777777;
  --md-sys-color-error-palette-key-color: #de3730;
  --md-sys-color-background: #131313;
  --md-sys-color-on-background: #e2e2e2;
  --md-sys-color-surface: #131313;
  --md-sys-color-surface-dim: #131313;
  --md-sys-color-surface-bright: #505050;
  --md-sys-color-surface-container-lowest: #000000;
  --md-sys-color-surface-container-low: #1f1f1f;
  --md-sys-color-surface-container: #303030;
  --md-sys-color-surface-container-high: #3b3b3b;
  --md-sys-color-surface-container-highest: #474747;
  --md-sys-color-on-surface: #ffffff;
  --md-sys-color-surface-variant: #474747;
  --md-sys-color-on-surface-variant: #ffffff;
  --md-sys-color-inverse-surface: #e2e2e2;
  --md-sys-color-inverse-on-surface: #000000;
  --md-sys-color-outline: #f0f0f0;
  --md-sys-color-outline-variant: #c2c2c2;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #faacf9;
  --md-sys-color-primary: #ffd6fa;
  --md-sys-color-primary-dim: #fffeff;
  --md-sys-color-on-primary: #000000;
  --md-sys-color-primary-container: #ffffff;
  --md-sys-color-on-primary-container: #5f2164;
  --md-sys-color-inverse-primary: #6e2e71;
  --md-sys-color-primary-fixed: #ffd6fa;
  --md-sys-color-primary-fixed-dim: #faacf9;
  --md-sys-color-on-primary-fixed: #000000;
  --md-sys-color-on-primary-fixed-variant: #25002a;
  --md-sys-color-secondary: #ffdbcf;
  --md-sys-color-secondary-dim: #fffeff;
  --md-sys-color-on-secondary: #000000;
  --md-sys-color-secondary-container: #ffffff;
  --md-sys-color-on-secondary-container: #50352b;
  --md-sys-color-secondary-fixed: #ffdbcf;
  --md-sys-color-secondary-fixed-dim: #e7bdb0;
  --md-sys-color-on-secondary-fixed: #000000;
  --md-sys-color-on-secondary-fixed-variant: #200b05;
  --md-sys-color-tertiary: #e1e0ff;
  --md-sys-color-tertiary-dim: #fffeff;
  --md-sys-color-on-tertiary: #000000;
  --md-sys-color-tertiary-container: #ffffff;
  --md-sys-color-on-tertiary-container: #373959;
  --md-sys-color-tertiary-fixed: #e1e0ff;
  --md-sys-color-tertiary-fixed-dim: #c3c3eb;
  --md-sys-color-on-tertiary-fixed: #000000;
  --md-sys-color-on-tertiary-fixed-variant: #0c0e2c;
  --md-sys-color-error: #ffdad6;
  --md-sys-color-error-dim: #fffeff;
  --md-sys-color-on-error: #000000;
  --md-sys-color-error-container: #ffffff;
  --md-sys-color-on-error-container: #7e0007;
}

.dark {
  --md-sys-color-primary-palette-key-color: #a35ea4;
  --md-sys-color-secondary-palette-key-color: #926f63;
  --md-sys-color-tertiary-palette-key-color: #737498;
  --md-sys-color-neutral-palette-key-color: #777777;
  --md-sys-color-neutral-variant-palette-key-color: #777777;
  --md-sys-color-error-palette-key-color: #de3730;
  --md-sys-color-background: #131313;
  --md-sys-color-on-background: #e2e2e2;
  --md-sys-color-surface: #131313;
  --md-sys-color-surface-dim: #131313;
  --md-sys-color-surface-bright: #393939;
  --md-sys-color-surface-container-lowest: #0e0e0e;
  --md-sys-color-surface-container-low: #1b1b1b;
  --md-sys-color-surface-container: #1f1f1f;
  --md-sys-color-surface-container-high: #2a2a2a;
  --md-sys-color-surface-container-highest: #353535;
  --md-sys-color-on-surface: #e2e2e2;
  --md-sys-color-surface-variant: #474747;
  --md-sys-color-on-surface-variant: #c6c6c6;
  --md-sys-color-inverse-surface: #e2e2e2;
  --md-sys-color-inverse-on-surface: #303030;
  --md-sys-color-outline: #919191;
  --md-sys-color-outline-variant: #474747;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #faacf9;
  --md-sys-color-primary: #faacf9;
  --md-sys-color-primary-dim: #ffc0fc;
  --md-sys-color-on-primary: #521458;
  --md-sys-color-primary-container: #ffd6fa;
  --md-sys-color-on-primary-container: #8e4b90;
  --md-sys-color-inverse-primary: #87458a;
  --md-sys-color-primary-fixed: #ffd6fa;
  --md-sys-color-primary-fixed-dim: #faacf9;
  --md-sys-color-on-primary-fixed: #36003c;
  --md-sys-color-on-primary-fixed-variant: #6c2d70;
  --md-sys-color-secondary: #e7bdb0;
  --md-sys-color-secondary-dim: #ffd4c5;
  --md-sys-color-on-secondary: #442a21;
  --md-sys-color-secondary-container: #ffdbcf;
  --md-sys-color-on-secondary-container: #7d5d52;
  --md-sys-color-secondary-fixed: #ffdbcf;
  --md-sys-color-secondary-fixed-dim: #e7bdb0;
  --md-sys-color-on-secondary-fixed: #2c160d;
  --md-sys-color-on-secondary-fixed-variant: #5d4036;
  --md-sys-color-tertiary: #c3c3eb;
  --md-sys-color-tertiary-dim: #d1d1f9;
  --md-sys-color-on-tertiary: #2c2e4d;
  --md-sys-color-tertiary-container: #e1e0ff;
  --md-sys-color-on-tertiary-container: #606184;
  --md-sys-color-tertiary-fixed: #e1e0ff;
  --md-sys-color-tertiary-fixed-dim: #c3c3eb;
  --md-sys-color-on-tertiary-fixed: #171837;
  --md-sys-color-on-tertiary-fixed-variant: #434465;
  --md-sys-color-error: #ffb4ab;
  --md-sys-color-error-dim: #ffc7c0;
  --md-sys-color-on-error: #690005;
  --md-sys-color-error-container: #ffdad6;
  --md-sys-color-on-error-container: #c32220;
}

.dark-medium-contrast {
  --md-sys-color-primary-palette-key-color: #a35ea4;
  --md-sys-color-secondary-palette-key-color: #926f63;
  --md-sys-color-tertiary-palette-key-color: #737498;
  --md-sys-color-neutral-palette-key-color: #777777;
  --md-sys-color-neutral-variant-palette-key-color: #777777;
  --md-sys-color-error-palette-key-color: #de3730;
  --md-sys-color-background: #131313;
  --md-sys-color-on-background: #e2e2e2;
  --md-sys-color-surface: #131313;
  --md-sys-color-surface-dim: #131313;
  --md-sys-color-surface-bright: #444444;
  --md-sys-color-surface-container-lowest: #070707;
  --md-sys-color-surface-container-low: #1d1d1d;
  --md-sys-color-surface-container: #282828;
  --md-sys-color-surface-container-high: #323232;
  --md-sys-color-surface-container-highest: #3e3e3e;
  --md-sys-color-on-surface: #ffffff;
  --md-sys-color-surface-variant: #474747;
  --md-sys-color-on-surface-variant: #dcdcdc;
  --md-sys-color-inverse-surface: #e2e2e2;
  --md-sys-color-inverse-on-surface: #2a2a2a;
  --md-sys-color-outline: #b2b2b2;
  --md-sys-color-outline-variant: #909090;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #faacf9;
  --md-sys-color-primary: #ffcdfb;
  --md-sys-color-primary-dim: #ffc0fc;
  --md-sys-color-on-primary: #45044c;
  --md-sys-color-primary-container: #fff7fa;
  --md-sys-color-on-primary-container: #7c3b7f;
  --md-sys-color-inverse-primary: #6e2e71;
  --md-sys-color-primary-fixed: #ffd6fa;
  --md-sys-color-primary-fixed-dim: #faacf9;
  --md-sys-color-on-primary-fixed: #25002a;
  --md-sys-color-on-primary-fixed-variant: #591b5e;
  --md-sys-color-secondary: #fed3c5;
  --md-sys-color-secondary-dim: #ffd4c5;
  --md-sys-color-on-secondary: #381f17;
  --md-sys-color-secondary-container: #fff7f5;
  --md-sys-color-on-secondary-container: #6c4e43;
  --md-sys-color-secondary-fixed: #ffdbcf;
  --md-sys-color-secondary-fixed-dim: #e7bdb0;
  --md-sys-color-on-secondary-fixed: #200b05;
  --md-sys-color-on-secondary-fixed-variant: #4a3026;
  --md-sys-color-tertiary: #d9d9ff;
  --md-sys-color-tertiary-dim: #d1d1f9;
  --md-sys-color-on-tertiary: #212341;
  --md-sys-color-tertiary-container: #fbf7ff;
  --md-sys-color-on-tertiary-container: #515273;
  --md-sys-color-tertiary-fixed: #e1e0ff;
  --md-sys-color-tertiary-fixed-dim: #c3c3eb;
  --md-sys-color-on-tertiary-fixed: #0c0e2c;
  --md-sys-color-on-tertiary-fixed-variant: #323353;
  --md-sys-color-error: #ffd2cc;
  --md-sys-color-error-dim: #ffc7c0;
  --md-sys-color-on-error: #540003;
  --md-sys-color-error-container: #fff7f6;
  --md-sys-color-on-error-container: #ab0b12;
}

.dark-high-contrast {
  --md-sys-color-primary-palette-key-color: #a35ea4;
  --md-sys-color-secondary-palette-key-color: #926f63;
  --md-sys-color-tertiary-palette-key-color: #737498;
  --md-sys-color-neutral-palette-key-color: #777777;
  --md-sys-color-neutral-variant-palette-key-color: #777777;
  --md-sys-color-error-palette-key-color: #de3730;
  --md-sys-color-background: #131313;
  --md-sys-color-on-background: #e2e2e2;
  --md-sys-color-surface: #131313;
  --md-sys-color-surface-dim: #131313;
  --md-sys-color-surface-bright: #505050;
  --md-sys-color-surface-container-lowest: #000000;
  --md-sys-color-surface-container-low: #1f1f1f;
  --md-sys-color-surface-container: #303030;
  --md-sys-color-surface-container-high: #3b3b3b;
  --md-sys-color-surface-container-highest: #474747;
  --md-sys-color-on-surface: #ffffff;
  --md-sys-color-surface-variant: #474747;
  --md-sys-color-on-surface-variant: #ffffff;
  --md-sys-color-inverse-surface: #e2e2e2;
  --md-sys-color-inverse-on-surface: #000000;
  --md-sys-color-outline: #f0f0f0;
  --md-sys-color-outline-variant: #c2c2c2;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #faacf9;
  --md-sys-color-primary: #ffd6fa;
  --md-sys-color-primary-dim: #fffeff;
  --md-sys-color-on-primary: #000000;
  --md-sys-color-primary-container: #ffffff;
  --md-sys-color-on-primary-container: #5f2164;
  --md-sys-color-inverse-primary: #6e2e71;
  --md-sys-color-primary-fixed: #ffd6fa;
  --md-sys-color-primary-fixed-dim: #faacf9;
  --md-sys-color-on-primary-fixed: #000000;
  --md-sys-color-on-primary-fixed-variant: #25002a;
  --md-sys-color-secondary: #ffdbcf;
  --md-sys-color-secondary-dim: #fffeff;
  --md-sys-color-on-secondary: #000000;
  --md-sys-color-secondary-container: #ffffff;
  --md-sys-color-on-secondary-container: #50352b;
  --md-sys-color-secondary-fixed: #ffdbcf;
  --md-sys-color-secondary-fixed-dim: #e7bdb0;
  --md-sys-color-on-secondary-fixed: #000000;
  --md-sys-color-on-secondary-fixed-variant: #200b05;
  --md-sys-color-tertiary: #e1e0ff;
  --md-sys-color-tertiary-dim: #fffeff;
  --md-sys-color-on-tertiary: #000000;
  --md-sys-color-tertiary-container: #ffffff;
  --md-sys-color-on-tertiary-container: #373959;
  --md-sys-color-tertiary-fixed: #e1e0ff;
  --md-sys-color-tertiary-fixed-dim: #c3c3eb;
  --md-sys-color-on-tertiary-fixed: #000000;
  --md-sys-color-on-tertiary-fixed-variant: #0c0e2c;
  --md-sys-color-error: #ffdad6;
  --md-sys-color-error-dim: #fffeff;
  --md-sys-color-on-error: #000000;
  --md-sys-color-error-container: #ffffff;
  --md-sys-color-on-error-container: #7e0007;
}

