.light {
  --md-sys-color-primary-palette-key-color: #a35ea4;
  --md-sys-color-secondary-palette-key-color: #926f63;
  --md-sys-color-tertiary-palette-key-color: #737498;
  --md-sys-color-neutral-palette-key-color: #777777;
  --md-sys-color-neutral-variant-palette-key-color: #777777;
  --md-sys-color-error-palette-key-color: #de3730;
  --md-sys-color-background: #000000;
  --md-sys-color-on-background: #ffffff;
  --md-sys-color-surface: #000000;
  --md-sys-color-surface-dim: #0e0e0e;
  --md-sys-color-surface-bright: #2c2c2c;
  --md-sys-color-surface-container-lowest: #000000;
  --md-sys-color-surface-container-low: #262626;
  --md-sys-color-surface-container: #303030;
  --md-sys-color-surface-container-high: #3b3b3b;
  --md-sys-color-surface-container-highest: #262626;
  --md-sys-color-on-surface: #ffffff;
  --md-sys-color-surface-variant: #262626;
  --md-sys-color-on-surface-variant: #cecece;
  --md-sys-color-inverse-surface: #f9f9f9;
  --md-sys-color-inverse-on-surface: #555555;
  --md-sys-color-outline: #a6a6a6;
  --md-sys-color-outline-variant: #858585;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #ffb6fd;
  --md-sys-color-primary: #ffb6fd;
  --md-sys-color-primary-dim: #f3a6f2;
  --md-sys-color-on-primary: #541559;
  --md-sys-color-primary-container: #6c2d70;
  --md-sys-color-on-primary-container: #ffd2fa;
  --md-sys-color-inverse-primary: #7c3c80;
  --md-sys-color-primary-fixed: #6c2d70;
  --md-sys-color-primary-fixed-dim: #5f2164;
  --md-sys-color-on-primary-fixed: #ffb6fd;
  --md-sys-color-on-primary-fixed-variant: #d68cd6;
  --md-sys-color-secondary: #ffd4c5;
  --md-sys-color-secondary-dim: #f0c6b8;
  --md-sys-color-on-secondary: #51352b;
  --md-sys-color-secondary-container: #5d4036;
  --md-sys-color-on-secondary-container: #ffd8cb;
  --md-sys-color-secondary-fixed: #5d4036;
  --md-sys-color-secondary-fixed-dim: #50352b;
  --md-sys-color-on-secondary-fixed: #efc5b7;
  --md-sys-color-on-secondary-fixed-variant: #c49d90;
  --md-sys-color-tertiary: #cecef6;
  --md-sys-color-tertiary-dim: #c0c0e8;
  --md-sys-color-on-tertiary: #303151;
  --md-sys-color-tertiary-container: #a5a5cb;
  --md-sys-color-on-tertiary-container: #191b39;
  --md-sys-color-tertiary-fixed: #a5a5cb;
  --md-sys-color-tertiary-fixed-dim: #9898be;
  --md-sys-color-on-tertiary-fixed: #070826;
  --md-sys-color-on-tertiary-fixed-variant: #2f3050;
  --md-sys-color-error: #ffbeb7;
  --md-sys-color-error-dim: #ff8073;
  --md-sys-color-on-error: #400002;
  --md-sys-color-error-container: #93000a;
  --md-sys-color-on-error-container: #ffd7d2;
  --md-sys-color-control-activated: #faacf9;
  --md-sys-color-control-normal: #cecece;
  --md-sys-color-control-highlight: #ffffff33;
  --md-sys-color-text-primary-inverse: #555555;
  --md-sys-color-text-secondary-and-tertiary-inverse: #474747;
  --md-sys-color-text-primary-inverse-disable-only: #1b1b1b;
  --md-sys-color-text-secondary-and-tertiary-inverse-disabled: #1b1b1b;
  --md-sys-color-text-hint-inverse: #1b1b1b;
}

.light-medium-contrast {
  --md-sys-color-primary-palette-key-color: #a35ea4;
  --md-sys-color-secondary-palette-key-color: #926f63;
  --md-sys-color-tertiary-palette-key-color: #737498;
  --md-sys-color-neutral-palette-key-color: #777777;
  --md-sys-color-neutral-variant-palette-key-color: #777777;
  --md-sys-color-error-palette-key-color: #de3730;
  --md-sys-color-background: #000000;
  --md-sys-color-on-background: #ffffff;
  --md-sys-color-surface: #000000;
  --md-sys-color-surface-dim: #0e0e0e;
  --md-sys-color-surface-bright: #2c2c2c;
  --md-sys-color-surface-container-lowest: #000000;
  --md-sys-color-surface-container-low: #262626;
  --md-sys-color-surface-container: #303030;
  --md-sys-color-surface-container-high: #3b3b3b;
  --md-sys-color-surface-container-highest: #262626;
  --md-sys-color-on-surface: #ffffff;
  --md-sys-color-surface-variant: #262626;
  --md-sys-color-on-surface-variant: #ffffff;
  --md-sys-color-inverse-surface: #f9f9f9;
  --md-sys-color-inverse-on-surface: #383838;
  --md-sys-color-outline: #cecece;
  --md-sys-color-outline-variant: #a6a6a6;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #fffeff;
  --md-sys-color-primary: #fffeff;
  --md-sys-color-primary-dim: #ffb6fd;
  --md-sys-color-on-primary: #330039;
  --md-sys-color-primary-container: #6c2d70;
  --md-sys-color-on-primary-container: #ffffff;
  --md-sys-color-inverse-primary: #5b1d60;
  --md-sys-color-primary-fixed: #6c2d70;
  --md-sys-color-primary-fixed-dim: #5f2164;
  --md-sys-color-on-primary-fixed: #fffeff;
  --md-sys-color-on-primary-fixed-variant: #ffb6fd;
  --md-sys-color-secondary: #fffeff;
  --md-sys-color-secondary-dim: #ffd4c5;
  --md-sys-color-on-secondary: #382017;
  --md-sys-color-secondary-container: #5d4036;
  --md-sys-color-on-secondary-container: #ffffff;
  --md-sys-color-secondary-fixed: #5d4036;
  --md-sys-color-secondary-fixed-dim: #50352b;
  --md-sys-color-on-secondary-fixed: #fffeff;
  --md-sys-color-on-secondary-fixed-variant: #efc5b7;
  --md-sys-color-tertiary: #fffeff;
  --md-sys-color-tertiary-dim: #cecef6;
  --md-sys-color-on-tertiary: #191a38;
  --md-sys-color-tertiary-container: #b3b3d9;
  --md-sys-color-on-tertiary-container: #000000;
  --md-sys-color-tertiary-fixed: #a5a5cb;
  --md-sys-color-tertiary-fixed-dim: #9898be;
  --md-sys-color-on-tertiary-fixed: #000000;
  --md-sys-color-on-tertiary-fixed-variant: #070826;
  --md-sys-color-error: #fffeff;
  --md-sys-color-error-dim: #ffbeb7;
  --md-sys-color-on-error: #3d0002;
  --md-sys-color-error-container: #93000a;
  --md-sys-color-on-error-container: #ffffff;
  --md-sys-color-control-activated: #faacf9;
  --md-sys-color-control-normal: #ffffff;
  --md-sys-color-control-highlight: #ffffff33;
  --md-sys-color-text-primary-inverse: #383838;
  --md-sys-color-text-secondary-and-tertiary-inverse: #474747;
  --md-sys-color-text-primary-inverse-disable-only: #1b1b1b;
  --md-sys-color-text-secondary-and-tertiary-inverse-disabled: #1b1b1b;
  --md-sys-color-text-hint-inverse: #1b1b1b;
}

.light-high-contrast {
  --md-sys-color-primary-palette-key-color: #a35ea4;
  --md-sys-color-secondary-palette-key-color: #926f63;
  --md-sys-color-tertiary-palette-key-color: #737498;
  --md-sys-color-neutral-palette-key-color: #777777;
  --md-sys-color-neutral-variant-palette-key-color: #777777;
  --md-sys-color-error-palette-key-color: #de3730;
  --md-sys-color-background: #000000;
  --md-sys-color-on-background: #ffffff;
  --md-sys-color-surface: #000000;
  --md-sys-color-surface-dim: #0e0e0e;
  --md-sys-color-surface-bright: #2c2c2c;
  --md-sys-color-surface-container-lowest: #000000;
  --md-sys-color-surface-container-low: #262626;
  --md-sys-color-surface-container: #303030;
  --md-sys-color-surface-container-high: #3b3b3b;
  --md-sys-color-surface-container-highest: #262626;
  --md-sys-color-on-surface: #ffffff;
  --md-sys-color-surface-variant: #262626;
  --md-sys-color-on-surface-variant: #ffffff;
  --md-sys-color-inverse-surface: #f9f9f9;
  --md-sys-color-inverse-on-surface: #000000;
  --md-sys-color-outline: #ffffff;
  --md-sys-color-outline-variant: #cecece;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #ffffff;
  --md-sys-color-primary: #ffffff;
  --md-sys-color-primary-dim: #fffeff;
  --md-sys-color-on-primary: #000000;
  --md-sys-color-primary-container: #6c2d70;
  --md-sys-color-on-primary-container: #ffffff;
  --md-sys-color-inverse-primary: #000000;
  --md-sys-color-primary-fixed: #6c2d70;
  --md-sys-color-primary-fixed-dim: #5f2164;
  --md-sys-color-on-primary-fixed: #ffffff;
  --md-sys-color-on-primary-fixed-variant: #fffeff;
  --md-sys-color-secondary: #ffffff;
  --md-sys-color-secondary-dim: #fffeff;
  --md-sys-color-on-secondary: #000000;
  --md-sys-color-secondary-container: #5d4036;
  --md-sys-color-on-secondary-container: #ffffff;
  --md-sys-color-secondary-fixed: #5d4036;
  --md-sys-color-secondary-fixed-dim: #50352b;
  --md-sys-color-on-secondary-fixed: #ffffff;
  --md-sys-color-on-secondary-fixed-variant: #fffeff;
  --md-sys-color-tertiary: #ffffff;
  --md-sys-color-tertiary-dim: #fffeff;
  --md-sys-color-on-tertiary: #000000;
  --md-sys-color-tertiary-container: #cecef6;
  --md-sys-color-on-tertiary-container: #000000;
  --md-sys-color-tertiary-fixed: #a5a5cb;
  --md-sys-color-tertiary-fixed-dim: #9898be;
  --md-sys-color-on-tertiary-fixed: #000000;
  --md-sys-color-on-tertiary-fixed-variant: #000000;
  --md-sys-color-error: #ffffff;
  --md-sys-color-error-dim: #fffeff;
  --md-sys-color-on-error: #000000;
  --md-sys-color-error-container: #93000a;
  --md-sys-color-on-error-container: #ffffff;
  --md-sys-color-control-activated: #faacf9;
  --md-sys-color-control-normal: #ffffff;
  --md-sys-color-control-highlight: #ffffff33;
  --md-sys-color-text-primary-inverse: #000000;
  --md-sys-color-text-secondary-and-tertiary-inverse: #474747;
  --md-sys-color-text-primary-inverse-disable-only: #1b1b1b;
  --md-sys-color-text-secondary-and-tertiary-inverse-disabled: #1b1b1b;
  --md-sys-color-text-hint-inverse: #1b1b1b;
}

.dark {
  --md-sys-color-primary-palette-key-color: #a35ea4;
  --md-sys-color-secondary-palette-key-color: #926f63;
  --md-sys-color-tertiary-palette-key-color: #737498;
  --md-sys-color-neutral-palette-key-color: #777777;
  --md-sys-color-neutral-variant-palette-key-color: #777777;
  --md-sys-color-error-palette-key-color: #de3730;
  --md-sys-color-background: #000000;
  --md-sys-color-on-background: #ffffff;
  --md-sys-color-surface: #000000;
  --md-sys-color-surface-dim: #0e0e0e;
  --md-sys-color-surface-bright: #2c2c2c;
  --md-sys-color-surface-container-lowest: #000000;
  --md-sys-color-surface-container-low: #262626;
  --md-sys-color-surface-container: #303030;
  --md-sys-color-surface-container-high: #3b3b3b;
  --md-sys-color-surface-container-highest: #262626;
  --md-sys-color-on-surface: #ffffff;
  --md-sys-color-surface-variant: #262626;
  --md-sys-color-on-surface-variant: #cecece;
  --md-sys-color-inverse-surface: #f9f9f9;
  --md-sys-color-inverse-on-surface: #555555;
  --md-sys-color-outline: #a6a6a6;
  --md-sys-color-outline-variant: #858585;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #ffb6fd;
  --md-sys-color-primary: #ffb6fd;
  --md-sys-color-primary-dim: #f3a6f2;
  --md-sys-color-on-primary: #541559;
  --md-sys-color-primary-container: #6c2d70;
  --md-sys-color-on-primary-container: #ffd2fa;
  --md-sys-color-inverse-primary: #7c3c80;
  --md-sys-color-primary-fixed: #6c2d70;
  --md-sys-color-primary-fixed-dim: #5f2164;
  --md-sys-color-on-primary-fixed: #ffb6fd;
  --md-sys-color-on-primary-fixed-variant: #d68cd6;
  --md-sys-color-secondary: #ffd4c5;
  --md-sys-color-secondary-dim: #f0c6b8;
  --md-sys-color-on-secondary: #51352b;
  --md-sys-color-secondary-container: #5d4036;
  --md-sys-color-on-secondary-container: #ffd8cb;
  --md-sys-color-secondary-fixed: #5d4036;
  --md-sys-color-secondary-fixed-dim: #50352b;
  --md-sys-color-on-secondary-fixed: #efc5b7;
  --md-sys-color-on-secondary-fixed-variant: #c49d90;
  --md-sys-color-tertiary: #cecef6;
  --md-sys-color-tertiary-dim: #c0c0e8;
  --md-sys-color-on-tertiary: #303151;
  --md-sys-color-tertiary-container: #a5a5cb;
  --md-sys-color-on-tertiary-container: #191b39;
  --md-sys-color-tertiary-fixed: #a5a5cb;
  --md-sys-color-tertiary-fixed-dim: #9898be;
  --md-sys-color-on-tertiary-fixed: #070826;
  --md-sys-color-on-tertiary-fixed-variant: #2f3050;
  --md-sys-color-error: #ffbeb7;
  --md-sys-color-error-dim: #ff8073;
  --md-sys-color-on-error: #400002;
  --md-sys-color-error-container: #93000a;
  --md-sys-color-on-error-container: #ffd7d2;
  --md-sys-color-control-activated: #faacf9;
  --md-sys-color-control-normal: #cecece;
  --md-sys-color-control-highlight: #ffffff33;
  --md-sys-color-text-primary-inverse: #555555;
  --md-sys-color-text-secondary-and-tertiary-inverse: #474747;
  --md-sys-color-text-primary-inverse-disable-only: #1b1b1b;
  --md-sys-color-text-secondary-and-tertiary-inverse-disabled: #1b1b1b;
  --md-sys-color-text-hint-inverse: #1b1b1b;
}

.dark-medium-contrast {
  --md-sys-color-primary-palette-key-color: #a35ea4;
  --md-sys-color-secondary-palette-key-color: #926f63;
  --md-sys-color-tertiary-palette-key-color: #737498;
  --md-sys-color-neutral-palette-key-color: #777777;
  --md-sys-color-neutral-variant-palette-key-color: #777777;
  --md-sys-color-error-palette-key-color: #de3730;
  --md-sys-color-background: #000000;
  --md-sys-color-on-background: #ffffff;
  --md-sys-color-surface: #000000;
  --md-sys-color-surface-dim: #0e0e0e;
  --md-sys-color-surface-bright: #2c2c2c;
  --md-sys-color-surface-container-lowest: #000000;
  --md-sys-color-surface-container-low: #262626;
  --md-sys-color-surface-container: #303030;
  --md-sys-color-surface-container-high: #3b3b3b;
  --md-sys-color-surface-container-highest: #262626;
  --md-sys-color-on-surface: #ffffff;
  --md-sys-color-surface-variant: #262626;
  --md-sys-color-on-surface-variant: #ffffff;
  --md-sys-color-inverse-surface: #f9f9f9;
  --md-sys-color-inverse-on-surface: #383838;
  --md-sys-color-outline: #cecece;
  --md-sys-color-outline-variant: #a6a6a6;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #fffeff;
  --md-sys-color-primary: #fffeff;
  --md-sys-color-primary-dim: #ffb6fd;
  --md-sys-color-on-primary: #330039;
  --md-sys-color-primary-container: #6c2d70;
  --md-sys-color-on-primary-container: #ffffff;
  --md-sys-color-inverse-primary: #5b1d60;
  --md-sys-color-primary-fixed: #6c2d70;
  --md-sys-color-primary-fixed-dim: #5f2164;
  --md-sys-color-on-primary-fixed: #fffeff;
  --md-sys-color-on-primary-fixed-variant: #ffb6fd;
  --md-sys-color-secondary: #fffeff;
  --md-sys-color-secondary-dim: #ffd4c5;
  --md-sys-color-on-secondary: #382017;
  --md-sys-color-secondary-container: #5d4036;
  --md-sys-color-on-secondary-container: #ffffff;
  --md-sys-color-secondary-fixed: #5d4036;
  --md-sys-color-secondary-fixed-dim: #50352b;
  --md-sys-color-on-secondary-fixed: #fffeff;
  --md-sys-color-on-secondary-fixed-variant: #efc5b7;
  --md-sys-color-tertiary: #fffeff;
  --md-sys-color-tertiary-dim: #cecef6;
  --md-sys-color-on-tertiary: #191a38;
  --md-sys-color-tertiary-container: #b3b3d9;
  --md-sys-color-on-tertiary-container: #000000;
  --md-sys-color-tertiary-fixed: #a5a5cb;
  --md-sys-color-tertiary-fixed-dim: #9898be;
  --md-sys-color-on-tertiary-fixed: #000000;
  --md-sys-color-on-tertiary-fixed-variant: #070826;
  --md-sys-color-error: #fffeff;
  --md-sys-color-error-dim: #ffbeb7;
  --md-sys-color-on-error: #3d0002;
  --md-sys-color-error-container: #93000a;
  --md-sys-color-on-error-container: #ffffff;
  --md-sys-color-control-activated: #faacf9;
  --md-sys-color-control-normal: #ffffff;
  --md-sys-color-control-highlight: #ffffff33;
  --md-sys-color-text-primary-inverse: #383838;
  --md-sys-color-text-secondary-and-tertiary-inverse: #474747;
  --md-sys-color-text-primary-inverse-disable-only: #1b1b1b;
  --md-sys-color-text-secondary-and-tertiary-inverse-disabled: #1b1b1b;
  --md-sys-color-text-hint-inverse: #1b1b1b;
}

.dark-high-contrast {
  --md-sys-color-primary-palette-key-color: #a35ea4;
  --md-sys-color-secondary-palette-key-color: #926f63;
  --md-sys-color-tertiary-palette-key-color: #737498;
  --md-sys-color-neutral-palette-key-color: #777777;
  --md-sys-color-neutral-variant-palette-key-color: #777777;
  --md-sys-color-error-palette-key-color: #de3730;
  --md-sys-color-background: #000000;
  --md-sys-color-on-background: #ffffff;
  --md-sys-color-surface: #000000;
  --md-sys-color-surface-dim: #0e0e0e;
  --md-sys-color-surface-bright: #2c2c2c;
  --md-sys-color-surface-container-lowest: #000000;
  --md-sys-color-surface-container-low: #262626;
  --md-sys-color-surface-container: #303030;
  --md-sys-color-surface-container-high: #3b3b3b;
  --md-sys-color-surface-container-highest: #262626;
  --md-sys-color-on-surface: #ffffff;
  --md-sys-color-surface-variant: #262626;
  --md-sys-color-on-surface-variant: #ffffff;
  --md-sys-color-inverse-surface: #f9f9f9;
  --md-sys-color-inverse-on-surface: #000000;
  --md-sys-color-outline: #ffffff;
  --md-sys-color-outline-variant: #cecece;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #ffffff;
  --md-sys-color-primary: #ffffff;
  --md-sys-color-primary-dim: #fffeff;
  --md-sys-color-on-primary: #000000;
  --md-sys-color-primary-container: #6c2d70;
  --md-sys-color-on-primary-container: #ffffff;
  --md-sys-color-inverse-primary: #000000;
  --md-sys-color-primary-fixed: #6c2d70;
  --md-sys-color-primary-fixed-dim: #5f2164;
  --md-sys-color-on-primary-fixed: #ffffff;
  --md-sys-color-on-primary-fixed-variant: #fffeff;
  --md-sys-color-secondary: #ffffff;
  --md-sys-color-secondary-dim: #fffeff;
  --md-sys-color-on-secondary: #000000;
  --md-sys-color-secondary-container: #5d4036;
  --md-sys-color-on-secondary-container: #ffffff;
  --md-sys-color-secondary-fixed: #5d4036;
  --md-sys-color-secondary-fixed-dim: #50352b;
  --md-sys-color-on-secondary-fixed: #ffffff;
  --md-sys-color-on-secondary-fixed-variant: #fffeff;
  --md-sys-color-tertiary: #ffffff;
  --md-sys-color-tertiary-dim: #fffeff;
  --md-sys-color-on-tertiary: #000000;
  --md-sys-color-tertiary-container: #cecef6;
  --md-sys-color-on-tertiary-container: #000000;
  --md-sys-color-tertiary-fixed: #a5a5cb;
  --md-sys-color-tertiary-fixed-dim: #9898be;
  --md-sys-color-on-tertiary-fixed: #000000;
  --md-sys-color-on-tertiary-fixed-variant: #000000;
  --md-sys-color-error: #ffffff;
  --md-sys-color-error-dim: #fffeff;
  --md-sys-color-on-error: #000000;
  --md-sys-color-error-container: #93000a;
  --md-sys-color-on-error-container: #ffffff;
  --md-sys-color-control-activated: #faacf9;
  --md-sys-color-control-normal: #ffffff;
  --md-sys-color-control-highlight: #ffffff33;
  --md-sys-color-text-primary-inverse: #000000;
  --md-sys-color-text-secondary-and-tertiary-inverse: #474747;
  --md-sys-color-text-primary-inverse-disable-only: #1b1b1b;
  --md-sys-color-text-secondary-and-tertiary-inverse-disabled: #1b1b1b;
  --md-sys-color-text-hint-inverse: #1b1b1b;
}

