.light {
  --md-sys-color-primary-palette-key-color: #a35ea4;
  --md-sys-color-secondary-palette-key-color: #926f63;
  --md-sys-color-tertiary-palette-key-color: #737498;
  --md-sys-color-neutral-palette-key-color: #777777;
  --md-sys-color-neutral-variant-palette-key-color: #777777;
  --md-sys-color-error-palette-key-color: #de3730;
  --md-sys-color-background: #f9f9f9;
  --md-sys-color-on-background: #323232;
  --md-sys-color-surface: #f9f9f9;
  --md-sys-color-surface-dim: #dadada;
  --md-sys-color-surface-bright: #f9f9f9;
  --md-sys-color-surface-container-lowest: #ffffff;
  --md-sys-color-surface-container-low: #f3f3f3;
  --md-sys-color-surface-container: #eeeeee;
  --md-sys-color-surface-container-high: #e8e8e8;
  --md-sys-color-surface-container-highest: #e2e2e2;
  --md-sys-color-on-surface: #323232;
  --md-sys-color-surface-variant: #e2e2e2;
  --md-sys-color-on-surface-variant: #5f5f5f;
  --md-sys-color-inverse-surface: #0e0e0e;
  --md-sys-color-inverse-on-surface: #9d9d9d;
  --md-sys-color-outline: #7b7b7b;
  --md-sys-color-outline-variant: #b2b2b2;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #88468a;
  --md-sys-color-primary: #88468a;
  --md-sys-color-primary-dim: #7a3a7d;
  --md-sys-color-on-primary: #fff7fa;
  --md-sys-color-primary-container: #faacf9;
  --md-sys-color-on-primary-container: #652669;
  --md-sys-color-inverse-primary: #faacf9;
  --md-sys-color-primary-fixed: #faacf9;
  --md-sys-color-primary-fixed-dim: #eb9fea;
  --md-sys-color-on-primary-fixed: #4d0e53;
  --md-sys-color-on-primary-fixed-variant: #6f2f73;
  --md-sys-color-secondary: #78584d;
  --md-sys-color-secondary-dim: #6b4c41;
  --md-sys-color-on-secondary: #fff7f5;
  --md-sys-color-secondary-container: #ffdbcf;
  --md-sys-color-on-secondary-container: #694b40;
  --md-sys-color-secondary-fixed: #ffdbcf;
  --md-sys-color-secondary-fixed-dim: #f6cbbd;
  --md-sys-color-on-secondary-fixed: #55392f;
  --md-sys-color-on-secondary-fixed-variant: #745449;
  --md-sys-color-tertiary: #5b5c7e;
  --md-sys-color-tertiary-dim: #4f5072;
  --md-sys-color-on-tertiary: #fbf7ff;
  --md-sys-color-tertiary-container: #cecef6;
  --md-sys-color-on-tertiary-container: #434565;
  --md-sys-color-tertiary-fixed: #cecef6;
  --md-sys-color-tertiary-fixed-dim: #c0c0e8;
  --md-sys-color-on-tertiary-fixed: #303151;
  --md-sys-color-on-tertiary-fixed-variant: #4d4e6f;
  --md-sys-color-error: #bb1b1b;
  --md-sys-color-error-dim: #a90810;
  --md-sys-color-on-error: #fff7f6;
  --md-sys-color-error-container: #fe4e44;
  --md-sys-color-on-error-container: #570003;
  --md-sys-color-control-activated: #faacf9;
  --md-sys-color-control-normal: #5f5f5f;
  --md-sys-color-control-highlight: #0000001f;
  --md-sys-color-text-primary-inverse: #9d9d9d;
  --md-sys-color-text-secondary-and-tertiary-inverse: #c6c6c6;
  --md-sys-color-text-primary-inverse-disable-only: #e2e2e2;
  --md-sys-color-text-secondary-and-tertiary-inverse-disabled: #e2e2e2;
  --md-sys-color-text-hint-inverse: #e2e2e2;
}

.light-medium-contrast {
  --md-sys-color-primary-palette-key-color: #a35ea4;
  --md-sys-color-secondary-palette-key-color: #926f63;
  --md-sys-color-tertiary-palette-key-color: #737498;
  --md-sys-color-neutral-palette-key-color: #777777;
  --md-sys-color-neutral-variant-palette-key-color: #777777;
  --md-sys-color-error-palette-key-color: #de3730;
  --md-sys-color-background: #f9f9f9;
  --md-sys-color-on-background: #242424;
  --md-sys-color-surface: #f9f9f9;
  --md-sys-color-surface-dim: #dadada;
  --md-sys-color-surface-bright: #f9f9f9;
  --md-sys-color-surface-container-lowest: #ffffff;
  --md-sys-color-surface-container-low: #f3f3f3;
  --md-sys-color-surface-container: #eeeeee;
  --md-sys-color-surface-container-high: #e8e8e8;
  --md-sys-color-surface-container-highest: #e2e2e2;
  --md-sys-color-on-surface: #242424;
  --md-sys-color-surface-variant: #e2e2e2;
  --md-sys-color-on-surface-variant: #434343;
  --md-sys-color-inverse-surface: #0e0e0e;
  --md-sys-color-inverse-on-surface: #c5c5c5;
  --md-sys-color-outline: #5f5f5f;
  --md-sys-color-outline-variant: #7b7b7b;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #68296c;
  --md-sys-color-primary: #68296c;
  --md-sys-color-primary-dim: #5b1c5f;
  --md-sys-color-on-primary: #ffc8fb;
  --md-sys-color-primary-container: #a05ba2;
  --md-sys-color-on-primary-container: #ffffff;
  --md-sys-color-inverse-primary: #faacf9;
  --md-sys-color-primary-fixed: #a05ba2;
  --md-sys-color-primary-fixed-dim: #924f94;
  --md-sys-color-on-primary-fixed: #ffffff;
  --md-sys-color-on-primary-fixed-variant: #ffffff;
  --md-sys-color-secondary: #593c32;
  --md-sys-color-secondary-dim: #4c3127;
  --md-sys-color-on-secondary: #fbd0c2;
  --md-sys-color-secondary-container: #8f6d61;
  --md-sys-color-on-secondary-container: #ffffff;
  --md-sys-color-secondary-fixed: #8f6d61;
  --md-sys-color-secondary-fixed-dim: #826155;
  --md-sys-color-on-secondary-fixed: #ffffff;
  --md-sys-color-on-secondary-fixed-variant: #ffffff;
  --md-sys-color-tertiary: #3f4060;
  --md-sys-color-tertiary-dim: #333555;
  --md-sys-color-on-tertiary: #d6d6ff;
  --md-sys-color-tertiary-container: #717295;
  --md-sys-color-on-tertiary-container: #ffffff;
  --md-sys-color-tertiary-fixed: #717295;
  --md-sys-color-tertiary-fixed-dim: #646588;
  --md-sys-color-on-tertiary-fixed: #ffffff;
  --md-sys-color-on-tertiary-fixed-variant: #ffffff;
  --md-sys-color-error: #8c0009;
  --md-sys-color-error-dim: #760006;
  --md-sys-color-on-error: #ffcec8;
  --md-sys-color-error-container: #da342e;
  --md-sys-color-on-error-container: #ffffff;
  --md-sys-color-control-activated: #a05ba2;
  --md-sys-color-control-normal: #434343;
  --md-sys-color-control-highlight: #0000001f;
  --md-sys-color-text-primary-inverse: #c5c5c5;
  --md-sys-color-text-secondary-and-tertiary-inverse: #c6c6c6;
  --md-sys-color-text-primary-inverse-disable-only: #e2e2e2;
  --md-sys-color-text-secondary-and-tertiary-inverse-disabled: #e2e2e2;
  --md-sys-color-text-hint-inverse: #e2e2e2;
}

.light-high-contrast {
  --md-sys-color-primary-palette-key-color: #a35ea4;
  --md-sys-color-secondary-palette-key-color: #926f63;
  --md-sys-color-tertiary-palette-key-color: #737498;
  --md-sys-color-neutral-palette-key-color: #777777;
  --md-sys-color-neutral-variant-palette-key-color: #777777;
  --md-sys-color-error-palette-key-color: #de3730;
  --md-sys-color-background: #f9f9f9;
  --md-sys-color-on-background: #000000;
  --md-sys-color-surface: #f9f9f9;
  --md-sys-color-surface-dim: #dadada;
  --md-sys-color-surface-bright: #f9f9f9;
  --md-sys-color-surface-container-lowest: #ffffff;
  --md-sys-color-surface-container-low: #f3f3f3;
  --md-sys-color-surface-container: #eeeeee;
  --md-sys-color-surface-container-high: #e8e8e8;
  --md-sys-color-surface-container-highest: #e2e2e2;
  --md-sys-color-on-surface: #000000;
  --md-sys-color-surface-variant: #e2e2e2;
  --md-sys-color-on-surface-variant: #242424;
  --md-sys-color-inverse-surface: #0e0e0e;
  --md-sys-color-inverse-on-surface: #ffffff;
  --md-sys-color-outline: #434343;
  --md-sys-color-outline-variant: #5f5f5f;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #43024a;
  --md-sys-color-primary: #43024a;
  --md-sys-color-primary-dim: #340039;
  --md-sys-color-on-primary: #ffc9fb;
  --md-sys-color-primary-container: #88468a;
  --md-sys-color-on-primary-container: #ffffff;
  --md-sys-color-inverse-primary: #faacf9;
  --md-sys-color-primary-fixed: #88468a;
  --md-sys-color-primary-fixed-dim: #7a3a7d;
  --md-sys-color-on-primary-fixed: #ffffff;
  --md-sys-color-on-primary-fixed-variant: #ffffff;
  --md-sys-color-secondary: #361e15;
  --md-sys-color-secondary-dim: #2a140c;
  --md-sys-color-on-secondary: #fcd1c3;
  --md-sys-color-secondary-container: #78584d;
  --md-sys-color-on-secondary-container: #ffffff;
  --md-sys-color-secondary-fixed: #78584d;
  --md-sys-color-secondary-fixed-dim: #6b4c41;
  --md-sys-color-on-secondary-fixed: #ffffff;
  --md-sys-color-on-secondary-fixed-variant: #ffffff;
  --md-sys-color-tertiary: #202140;
  --md-sys-color-tertiary-dim: #151735;
  --md-sys-color-on-tertiary: #d7d7ff;
  --md-sys-color-tertiary-container: #5b5c7e;
  --md-sys-color-on-tertiary-container: #ffffff;
  --md-sys-color-tertiary-fixed: #5b5c7e;
  --md-sys-color-tertiary-fixed-dim: #4f5072;
  --md-sys-color-on-tertiary-fixed: #ffffff;
  --md-sys-color-on-tertiary-fixed-variant: #ffffff;
  --md-sys-color-error: #510003;
  --md-sys-color-error-dim: #3e0002;
  --md-sys-color-on-error: #ffcfc9;
  --md-sys-color-error-container: #bb1b1b;
  --md-sys-color-on-error-container: #ffffff;
  --md-sys-color-control-activated: #88468a;
  --md-sys-color-control-normal: #242424;
  --md-sys-color-control-highlight: #0000001f;
  --md-sys-color-text-primary-inverse: #ffffff;
  --md-sys-color-text-secondary-and-tertiary-inverse: #c6c6c6;
  --md-sys-color-text-primary-inverse-disable-only: #e2e2e2;
  --md-sys-color-text-secondary-and-tertiary-inverse-disabled: #e2e2e2;
  --md-sys-color-text-hint-inverse: #e2e2e2;
}

.dark {
  --md-sys-color-primary-palette-key-color: #a35ea4;
  --md-sys-color-secondary-palette-key-color: #926f63;
  --md-sys-color-tertiary-palette-key-color: #737498;
  --md-sys-color-neutral-palette-key-color: #777777;
  --md-sys-color-neutral-variant-palette-key-color: #777777;
  --md-sys-color-error-palette-key-color: #de3730;
  --md-sys-color-background: #0e0e0e;
  --md-sys-color-on-background: #e5e5e5;
  --md-sys-color-surface: #0e0e0e;
  --md-sys-color-surface-dim: #0e0e0e;
  --md-sys-color-surface-bright: #2c2c2c;
  --md-sys-color-surface-container-lowest: #000000;
  --md-sys-color-surface-container-low: #131313;
  --md-sys-color-surface-container: #191919;
  --md-sys-color-surface-container-high: #1f1f1f;
  --md-sys-color-surface-container-highest: #262626;
  --md-sys-color-on-surface: #e5e5e5;
  --md-sys-color-surface-variant: #262626;
  --md-sys-color-on-surface-variant: #ababab;
  --md-sys-color-inverse-surface: #f9f9f9;
  --md-sys-color-inverse-on-surface: #555555;
  --md-sys-color-outline: #757575;
  --md-sys-color-outline-variant: #484848;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #faacf9;
  --md-sys-color-primary: #faacf9;
  --md-sys-color-primary-dim: #eb9fea;
  --md-sys-color-on-primary: #652669;
  --md-sys-color-primary-container: #d187d0;
  --md-sys-color-on-primary-container: #420149;
  --md-sys-color-inverse-primary: #88468a;
  --md-sys-color-primary-fixed: #faacf9;
  --md-sys-color-primary-fixed-dim: #eb9fea;
  --md-sys-color-on-primary-fixed: #4d0e53;
  --md-sys-color-on-primary-fixed-variant: #6f2f73;
  --md-sys-color-secondary: #e7bdb0;
  --md-sys-color-secondary-dim: #d8b0a2;
  --md-sys-color-on-secondary: #56392f;
  --md-sys-color-secondary-container: #50352b;
  --md-sys-color-on-secondary-container: #dfb6a9;
  --md-sys-color-secondary-fixed: #ffdbcf;
  --md-sys-color-secondary-fixed-dim: #f6cbbd;
  --md-sys-color-on-secondary-fixed: #55392f;
  --md-sys-color-on-secondary-fixed-variant: #745449;
  --md-sys-color-tertiary: #ddddff;
  --md-sys-color-tertiary-dim: #cecef6;
  --md-sys-color-on-tertiary: #4c4d6e;
  --md-sys-color-tertiary-container: #cecef6;
  --md-sys-color-on-tertiary-container: #434565;
  --md-sys-color-tertiary-fixed: #cecef6;
  --md-sys-color-tertiary-fixed-dim: #c0c0e8;
  --md-sys-color-on-tertiary-fixed: #303151;
  --md-sys-color-on-tertiary-fixed-variant: #4d4e6f;
  --md-sys-color-error: #ff7164;
  --md-sys-color-error-dim: #da342e;
  --md-sys-color-on-error: #4a0002;
  --md-sys-color-error-container: #ac0c12;
  --md-sys-color-on-error-container: #ffb8b0;
  --md-sys-color-control-activated: #d187d0;
  --md-sys-color-control-normal: #ababab;
  --md-sys-color-control-highlight: #ffffff33;
  --md-sys-color-text-primary-inverse: #555555;
  --md-sys-color-text-secondary-and-tertiary-inverse: #474747;
  --md-sys-color-text-primary-inverse-disable-only: #1b1b1b;
  --md-sys-color-text-secondary-and-tertiary-inverse-disabled: #1b1b1b;
  --md-sys-color-text-hint-inverse: #1b1b1b;
}

.dark-medium-contrast {
  --md-sys-color-primary-palette-key-color: #a35ea4;
  --md-sys-color-secondary-palette-key-color: #926f63;
  --md-sys-color-tertiary-palette-key-color: #737498;
  --md-sys-color-neutral-palette-key-color: #777777;
  --md-sys-color-neutral-variant-palette-key-color: #777777;
  --md-sys-color-error-palette-key-color: #de3730;
  --md-sys-color-background: #0e0e0e;
  --md-sys-color-on-background: #ffffff;
  --md-sys-color-surface: #0e0e0e;
  --md-sys-color-surface-dim: #0e0e0e;
  --md-sys-color-surface-bright: #2c2c2c;
  --md-sys-color-surface-container-lowest: #000000;
  --md-sys-color-surface-container-low: #131313;
  --md-sys-color-surface-container: #191919;
  --md-sys-color-surface-container-high: #1f1f1f;
  --md-sys-color-surface-container-highest: #262626;
  --md-sys-color-on-surface: #ffffff;
  --md-sys-color-surface-variant: #262626;
  --md-sys-color-on-surface-variant: #b9b9b9;
  --md-sys-color-inverse-surface: #f9f9f9;
  --md-sys-color-inverse-on-surface: #383838;
  --md-sys-color-outline: #939393;
  --md-sys-color-outline-variant: #757575;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #faacf9;
  --md-sys-color-primary: #faacf9;
  --md-sys-color-primary-dim: #eb9fea;
  --md-sys-color-on-primary: #591b5e;
  --md-sys-color-primary-container: #d187d0;
  --md-sys-color-on-primary-container: #2b0030;
  --md-sys-color-inverse-primary: #7c3c80;
  --md-sys-color-primary-fixed: #faacf9;
  --md-sys-color-primary-fixed-dim: #eb9fea;
  --md-sys-color-on-primary-fixed: #000000;
  --md-sys-color-on-primary-fixed-variant: #4d0e53;
  --md-sys-color-secondary: #e7bdb0;
  --md-sys-color-secondary-dim: #d8b0a2;
  --md-sys-color-on-secondary: #4a3026;
  --md-sys-color-secondary-container: #8f6d61;
  --md-sys-color-on-secondary-container: #ffffff;
  --md-sys-color-secondary-fixed: #ffdbcf;
  --md-sys-color-secondary-fixed-dim: #f6cbbd;
  --md-sys-color-on-secondary-fixed: #311911;
  --md-sys-color-on-secondary-fixed-variant: #55392f;
  --md-sys-color-tertiary: #ddddff;
  --md-sys-color-tertiary-dim: #cecef6;
  --md-sys-color-on-tertiary: #424364;
  --md-sys-color-tertiary-container: #cecef6;
  --md-sys-color-on-tertiary-container: #393b5b;
  --md-sys-color-tertiary-fixed: #cecef6;
  --md-sys-color-tertiary-fixed-dim: #c0c0e8;
  --md-sys-color-on-tertiary-fixed: #080928;
  --md-sys-color-on-tertiary-fixed-variant: #303151;
  --md-sys-color-error: #ff9f94;
  --md-sys-color-error-dim: #ff887c;
  --md-sys-color-on-error: #600004;
  --md-sys-color-error-container: #da342e;
  --md-sys-color-on-error-container: #ffffff;
  --md-sys-color-control-activated: #d187d0;
  --md-sys-color-control-normal: #b9b9b9;
  --md-sys-color-control-highlight: #ffffff33;
  --md-sys-color-text-primary-inverse: #383838;
  --md-sys-color-text-secondary-and-tertiary-inverse: #474747;
  --md-sys-color-text-primary-inverse-disable-only: #1b1b1b;
  --md-sys-color-text-secondary-and-tertiary-inverse-disabled: #1b1b1b;
  --md-sys-color-text-hint-inverse: #1b1b1b;
}

.dark-high-contrast {
  --md-sys-color-primary-palette-key-color: #a35ea4;
  --md-sys-color-secondary-palette-key-color: #926f63;
  --md-sys-color-tertiary-palette-key-color: #737498;
  --md-sys-color-neutral-palette-key-color: #777777;
  --md-sys-color-neutral-variant-palette-key-color: #777777;
  --md-sys-color-error-palette-key-color: #de3730;
  --md-sys-color-background: #0e0e0e;
  --md-sys-color-on-background: #ffffff;
  --md-sys-color-surface: #0e0e0e;
  --md-sys-color-surface-dim: #0e0e0e;
  --md-sys-color-surface-bright: #2c2c2c;
  --md-sys-color-surface-container-lowest: #000000;
  --md-sys-color-surface-container-low: #131313;
  --md-sys-color-surface-container: #191919;
  --md-sys-color-surface-container-high: #1f1f1f;
  --md-sys-color-surface-container-highest: #262626;
  --md-sys-color-on-surface: #ffffff;
  --md-sys-color-surface-variant: #262626;
  --md-sys-color-on-surface-variant: #e5e5e5;
  --md-sys-color-inverse-surface: #f9f9f9;
  --md-sys-color-inverse-on-surface: #000000;
  --md-sys-color-outline: #b9b9b9;
  --md-sys-color-outline-variant: #939393;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #ffdbfa;
  --md-sys-color-primary: #ffdbfa;
  --md-sys-color-primary-dim: #ffc1fc;
  --md-sys-color-on-primary: #4d0e53;
  --md-sys-color-primary-container: #d187d0;
  --md-sys-color-on-primary-container: #000000;
  --md-sys-color-inverse-primary: #5b1d60;
  --md-sys-color-primary-fixed: #faacf9;
  --md-sys-color-primary-fixed-dim: #eb9fea;
  --md-sys-color-on-primary-fixed: #000000;
  --md-sys-color-on-primary-fixed-variant: #000000;
  --md-sys-color-secondary: #ffdfd4;
  --md-sys-color-secondary-dim: #f9cec0;
  --md-sys-color-on-secondary: #3f261d;
  --md-sys-color-secondary-container: #bb9589;
  --md-sys-color-on-secondary-container: #000000;
  --md-sys-color-secondary-fixed: #ffdbcf;
  --md-sys-color-secondary-fixed-dim: #f6cbbd;
  --md-sys-color-on-secondary-fixed: #000000;
  --md-sys-color-on-secondary-fixed-variant: #311911;
  --md-sys-color-tertiary: #e4e3ff;
  --md-sys-color-tertiary-dim: #d1d1f9;
  --md-sys-color-on-tertiary: #282948;
  --md-sys-color-tertiary-container: #cecef6;
  --md-sys-color-on-tertiary-container: #191a38;
  --md-sys-color-tertiary-fixed: #cecef6;
  --md-sys-color-tertiary-fixed-dim: #c0c0e8;
  --md-sys-color-on-tertiary-fixed: #000000;
  --md-sys-color-on-tertiary-fixed-variant: #080928;
  --md-sys-color-error: #ffdeda;
  --md-sys-color-error-dim: #ffc8c1;
  --md-sys-color-on-error: #600004;
  --md-sys-color-error-container: #ff7164;
  --md-sys-color-on-error-container: #000000;
  --md-sys-color-control-activated: #d187d0;
  --md-sys-color-control-normal: #e5e5e5;
  --md-sys-color-control-highlight: #ffffff33;
  --md-sys-color-text-primary-inverse: #000000;
  --md-sys-color-text-secondary-and-tertiary-inverse: #474747;
  --md-sys-color-text-primary-inverse-disable-only: #1b1b1b;
  --md-sys-color-text-secondary-and-tertiary-inverse-disabled: #1b1b1b;
  --md-sys-color-text-hint-inverse: #1b1b1b;
}

