.light {
  --md-sys-color-primary-palette-key-color: #946893;
  --md-sys-color-secondary-palette-key-color: #926f63;
  --md-sys-color-tertiary-palette-key-color: #5f77a4;
  --md-sys-color-neutral-palette-key-color: #877276;
  --md-sys-color-neutral-variant-palette-key-color: #877084;
  --md-sys-color-error-palette-key-color: #ba5866;
  --md-sys-color-background: #000000;
  --md-sys-color-on-background: #ffffff;
  --md-sys-color-surface: #000000;
  --md-sys-color-surface-dim: #170b0d;
  --md-sys-color-surface-bright: #3f252b;
  --md-sys-color-surface-container-lowest: #000000;
  --md-sys-color-surface-container-low: #312225;
  --md-sys-color-surface-container: #3c2c2f;
  --md-sys-color-surface-container-high: #48373a;
  --md-sys-color-surface-container-highest: #381e24;
  --md-sys-color-on-surface: #fce2e6;
  --md-sys-color-surface-variant: #381e24;
  --md-sys-color-on-surface-variant: #e1c8cc;
  --md-sys-color-inverse-surface: #fff8f7;
  --md-sys-color-inverse-on-surface: #635054;
  --md-sys-color-outline: #b7a0a4;
  --md-sys-color-outline-variant: #968084;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #f8c4f4;
  --md-sys-color-primary: #f8c4f4;
  --md-sys-color-primary-dim: #e9b6e6;
  --md-sys-color-on-primary: #4e284f;
  --md-sys-color-primary-container: #603960;
  --md-sys-color-on-primary-container: #ffd2fa;
  --md-sys-color-inverse-primary: #6f476f;
  --md-sys-color-primary-fixed: #603960;
  --md-sys-color-primary-fixed-dim: #532e54;
  --md-sys-color-on-primary-fixed: #f1beed;
  --md-sys-color-on-primary-fixed-variant: #c696c4;
  --md-sys-color-secondary: #ffd4c5;
  --md-sys-color-secondary-dim: #f0c6b8;
  --md-sys-color-on-secondary: #51352b;
  --md-sys-color-secondary-container: #5d4036;
  --md-sys-color-on-secondary-container: #ffd8cb;
  --md-sys-color-secondary-fixed: #5d4036;
  --md-sys-color-secondary-fixed-dim: #50352b;
  --md-sys-color-on-secondary-fixed: #efc5b7;
  --md-sys-color-on-secondary-fixed-variant: #c49d90;
  --md-sys-color-tertiary: #b7ceff;
  --md-sys-color-tertiary-dim: #a9c1f2;
  --md-sys-color-on-tertiary: #17315a;
  --md-sys-color-tertiary-container: #8ea5d5;
  --md-sys-color-on-tertiary-container: #00193c;
  --md-sys-color-tertiary-fixed: #8ea5d5;
  --md-sys-color-tertiary-fixed-dim: #8098c7;
  --md-sys-color-on-tertiary-fixed: #000412;
  --md-sys-color-on-tertiary-fixed-variant: #153058;
  --md-sys-color-error: #ffbdc3;
  --md-sys-color-error-dim: #f38593;
  --md-sys-color-on-error: #3f000f;
  --md-sys-color-error-container: #7d2938;
  --md-sys-color-on-error-container: #ffd6d9;
}

.light-medium-contrast {
  --md-sys-color-primary-palette-key-color: #946893;
  --md-sys-color-secondary-palette-key-color: #926f63;
  --md-sys-color-tertiary-palette-key-color: #5f77a4;
  --md-sys-color-neutral-palette-key-color: #877276;
  --md-sys-color-neutral-variant-palette-key-color: #877084;
  --md-sys-color-error-palette-key-color: #ba5866;
  --md-sys-color-background: #000000;
  --md-sys-color-on-background: #ffffff;
  --md-sys-color-surface: #000000;
  --md-sys-color-surface-dim: #170b0d;
  --md-sys-color-surface-bright: #3f252b;
  --md-sys-color-surface-container-lowest: #000000;
  --md-sys-color-surface-container-low: #312225;
  --md-sys-color-surface-container: #3c2c2f;
  --md-sys-color-surface-container-high: #48373a;
  --md-sys-color-surface-container-highest: #381e24;
  --md-sys-color-on-surface: #fffeff;
  --md-sys-color-surface-variant: #381e24;
  --md-sys-color-on-surface-variant: #fffeff;
  --md-sys-color-inverse-surface: #fff8f7;
  --md-sys-color-inverse-on-surface: #453437;
  --md-sys-color-outline: #e1c8cc;
  --md-sys-color-outline-variant: #b7a0a4;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #fffeff;
  --md-sys-color-primary: #fffeff;
  --md-sys-color-primary-dim: #f8c4f4;
  --md-sys-color-on-primary: #341136;
  --md-sys-color-primary-container: #603960;
  --md-sys-color-on-primary-container: #ffffff;
  --md-sys-color-inverse-primary: #502a51;
  --md-sys-color-primary-fixed: #603960;
  --md-sys-color-primary-fixed-dim: #532e54;
  --md-sys-color-on-primary-fixed: #fffeff;
  --md-sys-color-on-primary-fixed-variant: #f1beed;
  --md-sys-color-secondary: #fffeff;
  --md-sys-color-secondary-dim: #ffd4c5;
  --md-sys-color-on-secondary: #382017;
  --md-sys-color-secondary-container: #5d4036;
  --md-sys-color-on-secondary-container: #ffffff;
  --md-sys-color-secondary-fixed: #5d4036;
  --md-sys-color-secondary-fixed-dim: #50352b;
  --md-sys-color-on-secondary-fixed: #fffeff;
  --md-sys-color-on-secondary-fixed-variant: #efc5b7;
  --md-sys-color-tertiary: #fffeff;
  --md-sys-color-tertiary-dim: #b7ceff;
  --md-sys-color-on-tertiary: #00193b;
  --md-sys-color-tertiary-container: #9bb3e3;
  --md-sys-color-on-tertiary-container: #000000;
  --md-sys-color-tertiary-fixed: #8ea5d5;
  --md-sys-color-tertiary-fixed-dim: #8098c7;
  --md-sys-color-on-tertiary-fixed: #000000;
  --md-sys-color-on-tertiary-fixed-variant: #000412;
  --md-sys-color-error: #fffeff;
  --md-sys-color-error-dim: #ffbdc3;
  --md-sys-color-on-error: #3d000f;
  --md-sys-color-error-container: #7d2938;
  --md-sys-color-on-error-container: #ffffff;
}

.light-high-contrast {
  --md-sys-color-primary-palette-key-color: #946893;
  --md-sys-color-secondary-palette-key-color: #926f63;
  --md-sys-color-tertiary-palette-key-color: #5f77a4;
  --md-sys-color-neutral-palette-key-color: #877276;
  --md-sys-color-neutral-variant-palette-key-color: #877084;
  --md-sys-color-error-palette-key-color: #ba5866;
  --md-sys-color-background: #000000;
  --md-sys-color-on-background: #ffffff;
  --md-sys-color-surface: #000000;
  --md-sys-color-surface-dim: #170b0d;
  --md-sys-color-surface-bright: #3f252b;
  --md-sys-color-surface-container-lowest: #000000;
  --md-sys-color-surface-container-low: #312225;
  --md-sys-color-surface-container: #3c2c2f;
  --md-sys-color-surface-container-high: #48373a;
  --md-sys-color-surface-container-highest: #381e24;
  --md-sys-color-on-surface: #ffffff;
  --md-sys-color-surface-variant: #381e24;
  --md-sys-color-on-surface-variant: #ffffff;
  --md-sys-color-inverse-surface: #fff8f7;
  --md-sys-color-inverse-on-surface: #000000;
  --md-sys-color-outline: #fffeff;
  --md-sys-color-outline-variant: #e1c8cc;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #ffffff;
  --md-sys-color-primary: #ffffff;
  --md-sys-color-primary-dim: #fffeff;
  --md-sys-color-on-primary: #000000;
  --md-sys-color-primary-container: #603960;
  --md-sys-color-on-primary-container: #ffffff;
  --md-sys-color-inverse-primary: #000000;
  --md-sys-color-primary-fixed: #603960;
  --md-sys-color-primary-fixed-dim: #532e54;
  --md-sys-color-on-primary-fixed: #ffffff;
  --md-sys-color-on-primary-fixed-variant: #fffeff;
  --md-sys-color-secondary: #ffffff;
  --md-sys-color-secondary-dim: #fffeff;
  --md-sys-color-on-secondary: #000000;
  --md-sys-color-secondary-container: #5d4036;
  --md-sys-color-on-secondary-container: #ffffff;
  --md-sys-color-secondary-fixed: #5d4036;
  --md-sys-color-secondary-fixed-dim: #50352b;
  --md-sys-color-on-secondary-fixed: #ffffff;
  --md-sys-color-on-secondary-fixed-variant: #fffeff;
  --md-sys-color-tertiary: #ffffff;
  --md-sys-color-tertiary-dim: #fffeff;
  --md-sys-color-on-tertiary: #000000;
  --md-sys-color-tertiary-container: #b4ccfe;
  --md-sys-color-on-tertiary-container: #000000;
  --md-sys-color-tertiary-fixed: #8ea5d5;
  --md-sys-color-tertiary-fixed-dim: #8098c7;
  --md-sys-color-on-tertiary-fixed: #000000;
  --md-sys-color-on-tertiary-fixed-variant: #000000;
  --md-sys-color-error: #ffffff;
  --md-sys-color-error-dim: #fffeff;
  --md-sys-color-on-error: #000000;
  --md-sys-color-error-container: #7d2938;
  --md-sys-color-on-error-container: #ffffff;
}

.dark {
  --md-sys-color-primary-palette-key-color: #946893;
  --md-sys-color-secondary-palette-key-color: #926f63;
  --md-sys-color-tertiary-palette-key-color: #5f77a4;
  --md-sys-color-neutral-palette-key-color: #877276;
  --md-sys-color-neutral-variant-palette-key-color: #877084;
  --md-sys-color-error-palette-key-color: #ba5866;
  --md-sys-color-background: #000000;
  --md-sys-color-on-background: #ffffff;
  --md-sys-color-surface: #000000;
  --md-sys-color-surface-dim: #170b0d;
  --md-sys-color-surface-bright: #3f252b;
  --md-sys-color-surface-container-lowest: #000000;
  --md-sys-color-surface-container-low: #312225;
  --md-sys-color-surface-container: #3c2c2f;
  --md-sys-color-surface-container-high: #48373a;
  --md-sys-color-surface-container-highest: #381e24;
  --md-sys-color-on-surface: #fce2e6;
  --md-sys-color-surface-variant: #381e24;
  --md-sys-color-on-surface-variant: #e1c8cc;
  --md-sys-color-inverse-surface: #fff8f7;
  --md-sys-color-inverse-on-surface: #635054;
  --md-sys-color-outline: #b7a0a4;
  --md-sys-color-outline-variant: #968084;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #f8c4f4;
  --md-sys-color-primary: #f8c4f4;
  --md-sys-color-primary-dim: #e9b6e6;
  --md-sys-color-on-primary: #4e284f;
  --md-sys-color-primary-container: #603960;
  --md-sys-color-on-primary-container: #ffd2fa;
  --md-sys-color-inverse-primary: #6f476f;
  --md-sys-color-primary-fixed: #603960;
  --md-sys-color-primary-fixed-dim: #532e54;
  --md-sys-color-on-primary-fixed: #f1beed;
  --md-sys-color-on-primary-fixed-variant: #c696c4;
  --md-sys-color-secondary: #ffd4c5;
  --md-sys-color-secondary-dim: #f0c6b8;
  --md-sys-color-on-secondary: #51352b;
  --md-sys-color-secondary-container: #5d4036;
  --md-sys-color-on-secondary-container: #ffd8cb;
  --md-sys-color-secondary-fixed: #5d4036;
  --md-sys-color-secondary-fixed-dim: #50352b;
  --md-sys-color-on-secondary-fixed: #efc5b7;
  --md-sys-color-on-secondary-fixed-variant: #c49d90;
  --md-sys-color-tertiary: #b7ceff;
  --md-sys-color-tertiary-dim: #a9c1f2;
  --md-sys-color-on-tertiary: #17315a;
  --md-sys-color-tertiary-container: #8ea5d5;
  --md-sys-color-on-tertiary-container: #00193c;
  --md-sys-color-tertiary-fixed: #8ea5d5;
  --md-sys-color-tertiary-fixed-dim: #8098c7;
  --md-sys-color-on-tertiary-fixed: #000412;
  --md-sys-color-on-tertiary-fixed-variant: #153058;
  --md-sys-color-error: #ffbdc3;
  --md-sys-color-error-dim: #f38593;
  --md-sys-color-on-error: #3f000f;
  --md-sys-color-error-container: #7d2938;
  --md-sys-color-on-error-container: #ffd6d9;
}

.dark-medium-contrast {
  --md-sys-color-primary-palette-key-color: #946893;
  --md-sys-color-secondary-palette-key-color: #926f63;
  --md-sys-color-tertiary-palette-key-color: #5f77a4;
  --md-sys-color-neutral-palette-key-color: #877276;
  --md-sys-color-neutral-variant-palette-key-color: #877084;
  --md-sys-color-error-palette-key-color: #ba5866;
  --md-sys-color-background: #000000;
  --md-sys-color-on-background: #ffffff;
  --md-sys-color-surface: #000000;
  --md-sys-color-surface-dim: #170b0d;
  --md-sys-color-surface-bright: #3f252b;
  --md-sys-color-surface-container-lowest: #000000;
  --md-sys-color-surface-container-low: #312225;
  --md-sys-color-surface-container: #3c2c2f;
  --md-sys-color-surface-container-high: #48373a;
  --md-sys-color-surface-container-highest: #381e24;
  --md-sys-color-on-surface: #fffeff;
  --md-sys-color-surface-variant: #381e24;
  --md-sys-color-on-surface-variant: #fffeff;
  --md-sys-color-inverse-surface: #fff8f7;
  --md-sys-color-inverse-on-surface: #453437;
  --md-sys-color-outline: #e1c8cc;
  --md-sys-color-outline-variant: #b7a0a4;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #fffeff;
  --md-sys-color-primary: #fffeff;
  --md-sys-color-primary-dim: #f8c4f4;
  --md-sys-color-on-primary: #341136;
  --md-sys-color-primary-container: #603960;
  --md-sys-color-on-primary-container: #ffffff;
  --md-sys-color-inverse-primary: #502a51;
  --md-sys-color-primary-fixed: #603960;
  --md-sys-color-primary-fixed-dim: #532e54;
  --md-sys-color-on-primary-fixed: #fffeff;
  --md-sys-color-on-primary-fixed-variant: #f1beed;
  --md-sys-color-secondary: #fffeff;
  --md-sys-color-secondary-dim: #ffd4c5;
  --md-sys-color-on-secondary: #382017;
  --md-sys-color-secondary-container: #5d4036;
  --md-sys-color-on-secondary-container: #ffffff;
  --md-sys-color-secondary-fixed: #5d4036;
  --md-sys-color-secondary-fixed-dim: #50352b;
  --md-sys-color-on-secondary-fixed: #fffeff;
  --md-sys-color-on-secondary-fixed-variant: #efc5b7;
  --md-sys-color-tertiary: #fffeff;
  --md-sys-color-tertiary-dim: #b7ceff;
  --md-sys-color-on-tertiary: #00193b;
  --md-sys-color-tertiary-container: #9bb3e3;
  --md-sys-color-on-tertiary-container: #000000;
  --md-sys-color-tertiary-fixed: #8ea5d5;
  --md-sys-color-tertiary-fixed-dim: #8098c7;
  --md-sys-color-on-tertiary-fixed: #000000;
  --md-sys-color-on-tertiary-fixed-variant: #000412;
  --md-sys-color-error: #fffeff;
  --md-sys-color-error-dim: #ffbdc3;
  --md-sys-color-on-error: #3d000f;
  --md-sys-color-error-container: #7d2938;
  --md-sys-color-on-error-container: #ffffff;
}

.dark-high-contrast {
  --md-sys-color-primary-palette-key-color: #946893;
  --md-sys-color-secondary-palette-key-color: #926f63;
  --md-sys-color-tertiary-palette-key-color: #5f77a4;
  --md-sys-color-neutral-palette-key-color: #877276;
  --md-sys-color-neutral-variant-palette-key-color: #877084;
  --md-sys-color-error-palette-key-color: #ba5866;
  --md-sys-color-background: #000000;
  --md-sys-color-on-background: #ffffff;
  --md-sys-color-surface: #000000;
  --md-sys-color-surface-dim: #170b0d;
  --md-sys-color-surface-bright: #3f252b;
  --md-sys-color-surface-container-lowest: #000000;
  --md-sys-color-surface-container-low: #312225;
  --md-sys-color-surface-container: #3c2c2f;
  --md-sys-color-surface-container-high: #48373a;
  --md-sys-color-surface-container-highest: #381e24;
  --md-sys-color-on-surface: #ffffff;
  --md-sys-color-surface-variant: #381e24;
  --md-sys-color-on-surface-variant: #ffffff;
  --md-sys-color-inverse-surface: #fff8f7;
  --md-sys-color-inverse-on-surface: #000000;
  --md-sys-color-outline: #fffeff;
  --md-sys-color-outline-variant: #e1c8cc;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #ffffff;
  --md-sys-color-primary: #ffffff;
  --md-sys-color-primary-dim: #fffeff;
  --md-sys-color-on-primary: #000000;
  --md-sys-color-primary-container: #603960;
  --md-sys-color-on-primary-container: #ffffff;
  --md-sys-color-inverse-primary: #000000;
  --md-sys-color-primary-fixed: #603960;
  --md-sys-color-primary-fixed-dim: #532e54;
  --md-sys-color-on-primary-fixed: #ffffff;
  --md-sys-color-on-primary-fixed-variant: #fffeff;
  --md-sys-color-secondary: #ffffff;
  --md-sys-color-secondary-dim: #fffeff;
  --md-sys-color-on-secondary: #000000;
  --md-sys-color-secondary-container: #5d4036;
  --md-sys-color-on-secondary-container: #ffffff;
  --md-sys-color-secondary-fixed: #5d4036;
  --md-sys-color-secondary-fixed-dim: #50352b;
  --md-sys-color-on-secondary-fixed: #ffffff;
  --md-sys-color-on-secondary-fixed-variant: #fffeff;
  --md-sys-color-tertiary: #ffffff;
  --md-sys-color-tertiary-dim: #fffeff;
  --md-sys-color-on-tertiary: #000000;
  --md-sys-color-tertiary-container: #b4ccfe;
  --md-sys-color-on-tertiary-container: #000000;
  --md-sys-color-tertiary-fixed: #8ea5d5;
  --md-sys-color-tertiary-fixed-dim: #8098c7;
  --md-sys-color-on-tertiary-fixed: #000000;
  --md-sys-color-on-tertiary-fixed-variant: #000000;
  --md-sys-color-error: #ffffff;
  --md-sys-color-error-dim: #fffeff;
  --md-sys-color-on-error: #000000;
  --md-sys-color-error-container: #7d2938;
  --md-sys-color-on-error-container: #ffffff;
}

