.light {
  --md-sys-color-primary-palette-key-color: #986697;
  --md-sys-color-secondary-palette-key-color: #926f63;
  --md-sys-color-tertiary-palette-key-color: #737498;
  --md-sys-color-neutral-palette-key-color: #817476;
  --md-sys-color-neutral-variant-palette-key-color: #7f747c;
  --md-sys-color-error-palette-key-color: #de3730;
  --md-sys-color-background: #fff8f7;
  --md-sys-color-on-background: #22191b;
  --md-sys-color-surface: #fff8f7;
  --md-sys-color-surface-dim: #e7d6d8;
  --md-sys-color-surface-bright: #fff8f7;
  --md-sys-color-surface-container-lowest: #ffffff;
  --md-sys-color-surface-container-low: #fff0f1;
  --md-sys-color-surface-container: #fbeaec;
  --md-sys-color-surface-container-high: #f5e4e6;
  --md-sys-color-surface-container-highest: #efdee0;
  --md-sys-color-on-surface: #22191b;
  --md-sys-color-surface-variant: #eddee8;
  --md-sys-color-on-surface-variant: #4d444c;
  --md-sys-color-inverse-surface: #382e30;
  --md-sys-color-inverse-on-surface: #feedef;
  --md-sys-color-outline: #7f747c;
  --md-sys-color-outline-variant: #d0c3cc;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #7d4e7d;
  --md-sys-color-primary: #7d4e7d;
  --md-sys-color-primary-dim: #875787;
  --md-sys-color-on-primary: #ffffff;
  --md-sys-color-primary-container: #633664;
  --md-sys-color-on-primary-container: #dba3d8;
  --md-sys-color-inverse-primary: #edb4ea;
  --md-sys-color-primary-fixed: #ffd6fa;
  --md-sys-color-primary-fixed-dim: #edb4ea;
  --md-sys-color-on-primary-fixed: #320935;
  --md-sys-color-on-primary-fixed-variant: #633664;
  --md-sys-color-secondary: #77574c;
  --md-sys-color-secondary-dim: #816055;
  --md-sys-color-on-secondary: #ffffff;
  --md-sys-color-secondary-container: #5d4036;
  --md-sys-color-on-secondary-container: #d4ac9f;
  --md-sys-color-secondary-fixed: #ffdbcf;
  --md-sys-color-secondary-fixed-dim: #e7bdb0;
  --md-sys-color-on-secondary-fixed: #2c160d;
  --md-sys-color-on-secondary-fixed-variant: #5d4036;
  --md-sys-color-tertiary: #5a5b7e;
  --md-sys-color-tertiary-dim: #646588;
  --md-sys-color-on-tertiary: #ffffff;
  --md-sys-color-tertiary-container: #434465;
  --md-sys-color-on-tertiary-container: #b2b2d9;
  --md-sys-color-tertiary-fixed: #e1e0ff;
  --md-sys-color-tertiary-fixed-dim: #c3c3eb;
  --md-sys-color-on-tertiary-fixed: #171837;
  --md-sys-color-on-tertiary-fixed-variant: #434465;
  --md-sys-color-error: #ba1a1a;
  --md-sys-color-error-dim: #ac0c12;
  --md-sys-color-on-error: #ffffff;
  --md-sys-color-error-container: #93000a;
  --md-sys-color-on-error-container: #ff9a8e;
}

.light-medium-contrast {
  --md-sys-color-primary-palette-key-color: #986697;
  --md-sys-color-secondary-palette-key-color: #926f63;
  --md-sys-color-tertiary-palette-key-color: #737498;
  --md-sys-color-neutral-palette-key-color: #817476;
  --md-sys-color-neutral-variant-palette-key-color: #7f747c;
  --md-sys-color-error-palette-key-color: #de3730;
  --md-sys-color-background: #fff8f7;
  --md-sys-color-on-background: #22191b;
  --md-sys-color-surface: #fff8f7;
  --md-sys-color-surface-dim: #d3c3c5;
  --md-sys-color-surface-bright: #fff8f7;
  --md-sys-color-surface-container-lowest: #ffffff;
  --md-sys-color-surface-container-low: #fff0f1;
  --md-sys-color-surface-container: #f5e4e6;
  --md-sys-color-surface-container-high: #e9d9db;
  --md-sys-color-surface-container-highest: #deced0;
  --md-sys-color-on-surface: #170f11;
  --md-sys-color-surface-variant: #eddee8;
  --md-sys-color-on-surface-variant: #3c343b;
  --md-sys-color-inverse-surface: #382e30;
  --md-sys-color-inverse-on-surface: #feedef;
  --md-sys-color-outline: #595057;
  --md-sys-color-outline-variant: #756a72;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #7d4e7d;
  --md-sys-color-primary: #502652;
  --md-sys-color-primary-dim: #603462;
  --md-sys-color-on-primary: #ffffff;
  --md-sys-color-primary-container: #380f3b;
  --md-sys-color-on-primary-container: #d19acf;
  --md-sys-color-inverse-primary: #edb4ea;
  --md-sys-color-primary-fixed: #8d5c8d;
  --md-sys-color-primary-fixed-dim: #724473;
  --md-sys-color-on-primary-fixed: #ffffff;
  --md-sys-color-on-primary-fixed-variant: #ffffff;
  --md-sys-color-secondary: #4a3026;
  --md-sys-color-secondary-dim: #5a3e34;
  --md-sys-color-on-secondary: #ffffff;
  --md-sys-color-secondary-container: #321b12;
  --md-sys-color-on-secondary-container: #caa396;
  --md-sys-color-secondary-fixed: #87655a;
  --md-sys-color-secondary-fixed-dim: #6c4e43;
  --md-sys-color-on-secondary-fixed: #ffffff;
  --md-sys-color-on-secondary-fixed-variant: #ffffff;
  --md-sys-color-tertiary: #323353;
  --md-sys-color-tertiary-dim: #404262;
  --md-sys-color-on-tertiary: #ffffff;
  --md-sys-color-tertiary-container: #1c1e3c;
  --md-sys-color-on-tertiary-container: #a8a9cf;
  --md-sys-color-tertiary-fixed: #696a8d;
  --md-sys-color-tertiary-fixed-dim: #515273;
  --md-sys-color-on-tertiary-fixed: #ffffff;
  --md-sys-color-on-tertiary-fixed-variant: #ffffff;
  --md-sys-color-error: #740006;
  --md-sys-color-error-dim: #8f0009;
  --md-sys-color-on-error: #ffffff;
  --md-sys-color-error-container: #4b0002;
  --md-sys-color-on-error-container: #ff8b7e;
}

.light-high-contrast {
  --md-sys-color-primary-palette-key-color: #986697;
  --md-sys-color-secondary-palette-key-color: #926f63;
  --md-sys-color-tertiary-palette-key-color: #737498;
  --md-sys-color-neutral-palette-key-color: #817476;
  --md-sys-color-neutral-variant-palette-key-color: #7f747c;
  --md-sys-color-error-palette-key-color: #de3730;
  --md-sys-color-background: #fff8f7;
  --md-sys-color-on-background: #22191b;
  --md-sys-color-surface: #fff8f7;
  --md-sys-color-surface-dim: #c4b5b7;
  --md-sys-color-surface-bright: #fff8f7;
  --md-sys-color-surface-container-lowest: #ffffff;
  --md-sys-color-surface-container-low: #feedef;
  --md-sys-color-surface-container: #efdee0;
  --md-sys-color-surface-container-high: #e1d0d2;
  --md-sys-color-surface-container-highest: #d3c3c5;
  --md-sys-color-on-surface: #000000;
  --md-sys-color-surface-variant: #eddee8;
  --md-sys-color-on-surface-variant: #000000;
  --md-sys-color-inverse-surface: #382e30;
  --md-sys-color-inverse-on-surface: #ffffff;
  --md-sys-color-outline: #322a31;
  --md-sys-color-outline-variant: #50464e;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #7d4e7d;
  --md-sys-color-primary: #451b47;
  --md-sys-color-primary-dim: #360d3a;
  --md-sys-color-on-primary: #ffffff;
  --md-sys-color-primary-container: #2d0531;
  --md-sys-color-on-primary-container: #f4baf0;
  --md-sys-color-inverse-primary: #edb4ea;
  --md-sys-color-primary-fixed: #663967;
  --md-sys-color-primary-fixed-dim: #4c224e;
  --md-sys-color-on-primary-fixed: #ffffff;
  --md-sys-color-on-primary-fixed-variant: #ffffff;
  --md-sys-color-secondary: #3f261d;
  --md-sys-color-secondary-dim: #311911;
  --md-sys-color-on-secondary: #ffffff;
  --md-sys-color-secondary-container: #27120a;
  --md-sys-color-on-secondary-container: #edc3b5;
  --md-sys-color-secondary-fixed: #604238;
  --md-sys-color-secondary-fixed-dim: #462c23;
  --md-sys-color-on-secondary-fixed: #ffffff;
  --md-sys-color-on-secondary-fixed-variant: #ffffff;
  --md-sys-color-tertiary: #282948;
  --md-sys-color-tertiary-dim: #1b1c3b;
  --md-sys-color-on-tertiary: #ffffff;
  --md-sys-color-tertiary-container: #131433;
  --md-sys-color-on-tertiary-container: #c9c9f1;
  --md-sys-color-tertiary-fixed: #454667;
  --md-sys-color-tertiary-fixed-dim: #2e304f;
  --md-sys-color-on-tertiary-fixed: #ffffff;
  --md-sys-color-on-tertiary-fixed-variant: #ffffff;
  --md-sys-color-error: #600004;
  --md-sys-color-error-dim: #480002;
  --md-sys-color-on-error: #ffffff;
  --md-sys-color-error-container: #390001;
  --md-sys-color-on-error-container: #ffbcb4;
}

.dark {
  --md-sys-color-primary-palette-key-color: #986697;
  --md-sys-color-secondary-palette-key-color: #926f63;
  --md-sys-color-tertiary-palette-key-color: #737498;
  --md-sys-color-neutral-palette-key-color: #817476;
  --md-sys-color-neutral-variant-palette-key-color: #7f747c;
  --md-sys-color-error-palette-key-color: #de3730;
  --md-sys-color-background: #191113;
  --md-sys-color-on-background: #efdee0;
  --md-sys-color-surface: #191113;
  --md-sys-color-surface-dim: #191113;
  --md-sys-color-surface-bright: #413738;
  --md-sys-color-surface-container-lowest: #140c0e;
  --md-sys-color-surface-container-low: #22191b;
  --md-sys-color-surface-container: #261d1f;
  --md-sys-color-surface-container-high: #312829;
  --md-sys-color-surface-container-highest: #3c3234;
  --md-sys-color-on-surface: #efdee0;
  --md-sys-color-surface-variant: #4d444c;
  --md-sys-color-on-surface-variant: #d0c3cc;
  --md-sys-color-inverse-surface: #efdee0;
  --md-sys-color-inverse-on-surface: #382e30;
  --md-sys-color-outline: #998d96;
  --md-sys-color-outline-variant: #4d444c;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #edb4ea;
  --md-sys-color-primary: #edb4ea;
  --md-sys-color-primary-dim: #fcc2f9;
  --md-sys-color-on-primary: #4a204c;
  --md-sys-color-primary-container: #ffd6fa;
  --md-sys-color-on-primary-container: #845483;
  --md-sys-color-inverse-primary: #7d4e7d;
  --md-sys-color-primary-fixed: #ffd6fa;
  --md-sys-color-primary-fixed-dim: #edb4ea;
  --md-sys-color-on-primary-fixed: #320935;
  --md-sys-color-on-primary-fixed-variant: #633664;
  --md-sys-color-secondary: #e7bdb0;
  --md-sys-color-secondary-dim: #ffd4c5;
  --md-sys-color-on-secondary: #442a21;
  --md-sys-color-secondary-container: #ffdbcf;
  --md-sys-color-on-secondary-container: #7d5d52;
  --md-sys-color-secondary-fixed: #ffdbcf;
  --md-sys-color-secondary-fixed-dim: #e7bdb0;
  --md-sys-color-on-secondary-fixed: #2c160d;
  --md-sys-color-on-secondary-fixed-variant: #5d4036;
  --md-sys-color-tertiary: #c3c3eb;
  --md-sys-color-tertiary-dim: #d1d1f9;
  --md-sys-color-on-tertiary: #2c2e4d;
  --md-sys-color-tertiary-container: #e1e0ff;
  --md-sys-color-on-tertiary-container: #606184;
  --md-sys-color-tertiary-fixed: #e1e0ff;
  --md-sys-color-tertiary-fixed-dim: #c3c3eb;
  --md-sys-color-on-tertiary-fixed: #171837;
  --md-sys-color-on-tertiary-fixed-variant: #434465;
  --md-sys-color-error: #ffb4ab;
  --md-sys-color-error-dim: #ffc7c0;
  --md-sys-color-on-error: #690005;
  --md-sys-color-error-container: #ffdad6;
  --md-sys-color-on-error-container: #c32220;
}

.dark-medium-contrast {
  --md-sys-color-primary-palette-key-color: #986697;
  --md-sys-color-secondary-palette-key-color: #926f63;
  --md-sys-color-tertiary-palette-key-color: #737498;
  --md-sys-color-neutral-palette-key-color: #817476;
  --md-sys-color-neutral-variant-palette-key-color: #7f747c;
  --md-sys-color-error-palette-key-color: #de3730;
  --md-sys-color-background: #191113;
  --md-sys-color-on-background: #efdee0;
  --md-sys-color-surface: #191113;
  --md-sys-color-surface-dim: #191113;
  --md-sys-color-surface-bright: #4d4243;
  --md-sys-color-surface-container-lowest: #0c0607;
  --md-sys-color-surface-container-low: #241b1d;
  --md-sys-color-surface-container: #2f2527;
  --md-sys-color-surface-container-high: #3a3032;
  --md-sys-color-surface-container-highest: #463b3d;
  --md-sys-color-on-surface: #ffffff;
  --md-sys-color-surface-variant: #4d444c;
  --md-sys-color-on-surface-variant: #e7d8e2;
  --md-sys-color-inverse-surface: #efdee0;
  --md-sys-color-inverse-on-surface: #312829;
  --md-sys-color-outline: #bbaeb7;
  --md-sys-color-outline-variant: #998d96;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #edb4ea;
  --md-sys-color-primary: #ffcdfb;
  --md-sys-color-primary-dim: #fcc2f9;
  --md-sys-color-on-primary: #3e1440;
  --md-sys-color-primary-container: #fff7fa;
  --md-sys-color-on-primary-container: #724473;
  --md-sys-color-inverse-primary: #643765;
  --md-sys-color-primary-fixed: #ffd6fa;
  --md-sys-color-primary-fixed-dim: #edb4ea;
  --md-sys-color-on-primary-fixed: #25002a;
  --md-sys-color-on-primary-fixed-variant: #502652;
  --md-sys-color-secondary: #fed3c5;
  --md-sys-color-secondary-dim: #ffd4c5;
  --md-sys-color-on-secondary: #381f17;
  --md-sys-color-secondary-container: #fff7f5;
  --md-sys-color-on-secondary-container: #6c4e43;
  --md-sys-color-secondary-fixed: #ffdbcf;
  --md-sys-color-secondary-fixed-dim: #e7bdb0;
  --md-sys-color-on-secondary-fixed: #200b05;
  --md-sys-color-on-secondary-fixed-variant: #4a3026;
  --md-sys-color-tertiary: #d9d9ff;
  --md-sys-color-tertiary-dim: #d1d1f9;
  --md-sys-color-on-tertiary: #212341;
  --md-sys-color-tertiary-container: #fbf7ff;
  --md-sys-color-on-tertiary-container: #515273;
  --md-sys-color-tertiary-fixed: #e1e0ff;
  --md-sys-color-tertiary-fixed-dim: #c3c3eb;
  --md-sys-color-on-tertiary-fixed: #0c0e2c;
  --md-sys-color-on-tertiary-fixed-variant: #323353;
  --md-sys-color-error: #ffd2cc;
  --md-sys-color-error-dim: #ffc7c0;
  --md-sys-color-on-error: #540003;
  --md-sys-color-error-container: #fff7f6;
  --md-sys-color-on-error-container: #ab0b12;
}

.dark-high-contrast {
  --md-sys-color-primary-palette-key-color: #986697;
  --md-sys-color-secondary-palette-key-color: #926f63;
  --md-sys-color-tertiary-palette-key-color: #737498;
  --md-sys-color-neutral-palette-key-color: #817476;
  --md-sys-color-neutral-variant-palette-key-color: #7f747c;
  --md-sys-color-error-palette-key-color: #de3730;
  --md-sys-color-background: #191113;
  --md-sys-color-on-background: #efdee0;
  --md-sys-color-surface: #191113;
  --md-sys-color-surface-dim: #191113;
  --md-sys-color-surface-bright: #594d4f;
  --md-sys-color-surface-container-lowest: #000000;
  --md-sys-color-surface-container-low: #261d1f;
  --md-sys-color-surface-container: #382e30;
  --md-sys-color-surface-container-high: #43393b;
  --md-sys-color-surface-container-highest: #4f4446;
  --md-sys-color-on-surface: #ffffff;
  --md-sys-color-surface-variant: #4d444c;
  --md-sys-color-on-surface-variant: #ffffff;
  --md-sys-color-inverse-surface: #efdee0;
  --md-sys-color-inverse-on-surface: #000000;
  --md-sys-color-outline: #fbecf5;
  --md-sys-color-outline-variant: #ccbfc8;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #edb4ea;
  --md-sys-color-primary: #ffd6fa;
  --md-sys-color-primary-dim: #fffeff;
  --md-sys-color-on-primary: #000000;
  --md-sys-color-primary-container: #ffffff;
  --md-sys-color-on-primary-container: #562b58;
  --md-sys-color-inverse-primary: #643765;
  --md-sys-color-primary-fixed: #ffd6fa;
  --md-sys-color-primary-fixed-dim: #edb4ea;
  --md-sys-color-on-primary-fixed: #000000;
  --md-sys-color-on-primary-fixed-variant: #25002a;
  --md-sys-color-secondary: #ffdbcf;
  --md-sys-color-secondary-dim: #fffeff;
  --md-sys-color-on-secondary: #000000;
  --md-sys-color-secondary-container: #ffffff;
  --md-sys-color-on-secondary-container: #50352b;
  --md-sys-color-secondary-fixed: #ffdbcf;
  --md-sys-color-secondary-fixed-dim: #e7bdb0;
  --md-sys-color-on-secondary-fixed: #000000;
  --md-sys-color-on-secondary-fixed-variant: #200b05;
  --md-sys-color-tertiary: #e1e0ff;
  --md-sys-color-tertiary-dim: #fffeff;
  --md-sys-color-on-tertiary: #000000;
  --md-sys-color-tertiary-container: #ffffff;
  --md-sys-color-on-tertiary-container: #373959;
  --md-sys-color-tertiary-fixed: #e1e0ff;
  --md-sys-color-tertiary-fixed-dim: #c3c3eb;
  --md-sys-color-on-tertiary-fixed: #000000;
  --md-sys-color-on-tertiary-fixed-variant: #0c0e2c;
  --md-sys-color-error: #ffdad6;
  --md-sys-color-error-dim: #fffeff;
  --md-sys-color-on-error: #000000;
  --md-sys-color-error-container: #ffffff;
  --md-sys-color-on-error-container: #7e0007;
}

