.light {
  --md-sys-color-primary-palette-key-color: #946893;
  --md-sys-color-secondary-palette-key-color: #926f63;
  --md-sys-color-tertiary-palette-key-color: #64779d;
  --md-sys-color-neutral-palette-key-color: #7f7475;
  --md-sys-color-neutral-variant-palette-key-color: #80747d;
  --md-sys-color-error-palette-key-color: #c74d61;
  --md-sys-color-background: #fff8f7;
  --md-sys-color-on-background: #3d2f31;
  --md-sys-color-surface: #fff8f7;
  --md-sys-color-surface-dim: #ebd5d8;
  --md-sys-color-surface-bright: #fff8f7;
  --md-sys-color-surface-container-lowest: #ffffff;
  --md-sys-color-surface-container-low: #fff0f1;
  --md-sys-color-surface-container: #fde9ec;
  --md-sys-color-surface-container-high: #f8e3e6;
  --md-sys-color-surface-container-highest: #f4dde0;
  --md-sys-color-on-surface: #3d2f31;
  --md-sys-color-surface-variant: #f4dde0;
  --md-sys-color-on-surface-variant: #6c5b5e;
  --md-sys-color-inverse-surface: #130c0e;
  --md-sys-color-inverse-on-surface: #a69a9b;
  --md-sys-color-outline: #887679;
  --md-sys-color-outline-variant: #c2adb0;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #7a517a;
  --md-sys-color-primary: #7a517a;
  --md-sys-color-primary-dim: #6d456d;
  --md-sys-color-on-primary: #fff7fa;
  --md-sys-color-primary-container: #f8c4f4;
  --md-sys-color-on-primary-container: #623b63;
  --md-sys-color-inverse-primary: #f8c4f4;
  --md-sys-color-primary-fixed: #f8c4f4;
  --md-sys-color-primary-fixed-dim: #e9b6e6;
  --md-sys-color-on-primary-fixed: #4e284f;
  --md-sys-color-on-primary-fixed-variant: #6d446d;
  --md-sys-color-secondary: #78584d;
  --md-sys-color-secondary-dim: #6b4c41;
  --md-sys-color-on-secondary: #fff7f5;
  --md-sys-color-secondary-container: #ffdbcf;
  --md-sys-color-on-secondary-container: #694b40;
  --md-sys-color-secondary-fixed: #ffdbcf;
  --md-sys-color-secondary-fixed-dim: #f6cbbd;
  --md-sys-color-on-secondary-fixed: #55392f;
  --md-sys-color-on-secondary-fixed-variant: #745449;
  --md-sys-color-tertiary: #4c5f84;
  --md-sys-color-tertiary-dim: #405377;
  --md-sys-color-on-tertiary: #f9f8ff;
  --md-sys-color-tertiary-container: #bbcffa;
  --md-sys-color-on-tertiary-container: #324669;
  --md-sys-color-tertiary-fixed: #bbcffa;
  --md-sys-color-tertiary-fixed-dim: #adc1eb;
  --md-sys-color-on-tertiary-fixed: #1e3254;
  --md-sys-color-on-tertiary-fixed-variant: #3b4f73;
  --md-sys-color-error: #a8364b;
  --md-sys-color-error-dim: #6b0221;
  --md-sys-color-on-error: #fff7f7;
  --md-sys-color-error-container: #f97386;
  --md-sys-color-on-error-container: #6e0523;
}

.light-medium-contrast {
  --md-sys-color-primary-palette-key-color: #946893;
  --md-sys-color-secondary-palette-key-color: #926f63;
  --md-sys-color-tertiary-palette-key-color: #64779d;
  --md-sys-color-neutral-palette-key-color: #7f7475;
  --md-sys-color-neutral-variant-palette-key-color: #80747d;
  --md-sys-color-error-palette-key-color: #c74d61;
  --md-sys-color-background: #fff8f7;
  --md-sys-color-on-background: #2d2123;
  --md-sys-color-surface: #fff8f7;
  --md-sys-color-surface-dim: #ebd5d8;
  --md-sys-color-surface-bright: #fff8f7;
  --md-sys-color-surface-container-lowest: #ffffff;
  --md-sys-color-surface-container-low: #fff0f1;
  --md-sys-color-surface-container: #fde9ec;
  --md-sys-color-surface-container-high: #f8e3e6;
  --md-sys-color-surface-container-highest: #f4dde0;
  --md-sys-color-on-surface: #2d2123;
  --md-sys-color-surface-variant: #f4dde0;
  --md-sys-color-on-surface-variant: #4e3f42;
  --md-sys-color-inverse-surface: #130c0e;
  --md-sys-color-inverse-on-surface: #cfc1c3;
  --md-sys-color-outline: #6c5b5e;
  --md-sys-color-outline-variant: #887679;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #5c355c;
  --md-sys-color-primary: #5c355c;
  --md-sys-color-primary-dim: #4f2a50;
  --md-sys-color-on-primary: #fec9f9;
  --md-sys-color-primary-container: #926690;
  --md-sys-color-on-primary-container: #ffffff;
  --md-sys-color-inverse-primary: #f8c4f4;
  --md-sys-color-primary-fixed: #926690;
  --md-sys-color-primary-fixed-dim: #845a83;
  --md-sys-color-on-primary-fixed: #ffffff;
  --md-sys-color-on-primary-fixed-variant: #ffffff;
  --md-sys-color-secondary: #593c32;
  --md-sys-color-secondary-dim: #4c3127;
  --md-sys-color-on-secondary: #fbd0c2;
  --md-sys-color-secondary-container: #8f6d61;
  --md-sys-color-on-secondary-container: #ffffff;
  --md-sys-color-secondary-fixed: #8f6d61;
  --md-sys-color-secondary-fixed-dim: #826155;
  --md-sys-color-on-secondary-fixed: #ffffff;
  --md-sys-color-on-secondary-fixed-variant: #ffffff;
  --md-sys-color-tertiary: #2f4366;
  --md-sys-color-tertiary-dim: #23385a;
  --md-sys-color-on-tertiary: #c9daff;
  --md-sys-color-tertiary-container: #61759b;
  --md-sys-color-on-tertiary-container: #ffffff;
  --md-sys-color-tertiary-fixed: #61759b;
  --md-sys-color-tertiary-fixed-dim: #55688e;
  --md-sys-color-on-tertiary-fixed: #ffffff;
  --md-sys-color-on-tertiary-fixed-variant: #ffffff;
  --md-sys-color-error: #821830;
  --md-sys-color-error-dim: #6b0221;
  --md-sys-color-on-error: #ffcdd1;
  --md-sys-color-error-container: #c44b5f;
  --md-sys-color-on-error-container: #ffffff;
}

.light-high-contrast {
  --md-sys-color-primary-palette-key-color: #946893;
  --md-sys-color-secondary-palette-key-color: #926f63;
  --md-sys-color-tertiary-palette-key-color: #64779d;
  --md-sys-color-neutral-palette-key-color: #7f7475;
  --md-sys-color-neutral-variant-palette-key-color: #80747d;
  --md-sys-color-error-palette-key-color: #c74d61;
  --md-sys-color-background: #fff8f7;
  --md-sys-color-on-background: #000000;
  --md-sys-color-surface: #fff8f7;
  --md-sys-color-surface-dim: #ebd5d8;
  --md-sys-color-surface-bright: #fff8f7;
  --md-sys-color-surface-container-lowest: #ffffff;
  --md-sys-color-surface-container-low: #fff0f1;
  --md-sys-color-surface-container: #fde9ec;
  --md-sys-color-surface-container-high: #f8e3e6;
  --md-sys-color-surface-container-highest: #f4dde0;
  --md-sys-color-on-surface: #000000;
  --md-sys-color-surface-variant: #f4dde0;
  --md-sys-color-on-surface-variant: #2d2123;
  --md-sys-color-inverse-surface: #130c0e;
  --md-sys-color-inverse-on-surface: #ffffff;
  --md-sys-color-outline: #4e3f42;
  --md-sys-color-outline-variant: #6c5b5e;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #39163b;
  --md-sys-color-primary: #39163b;
  --md-sys-color-primary-dim: #2d0b30;
  --md-sys-color-on-primary: #fecafa;
  --md-sys-color-primary-container: #7a517a;
  --md-sys-color-on-primary-container: #ffffff;
  --md-sys-color-inverse-primary: #f8c4f4;
  --md-sys-color-primary-fixed: #7a517a;
  --md-sys-color-primary-fixed-dim: #6d456d;
  --md-sys-color-on-primary-fixed: #ffffff;
  --md-sys-color-on-primary-fixed-variant: #ffffff;
  --md-sys-color-secondary: #361e15;
  --md-sys-color-secondary-dim: #2a140c;
  --md-sys-color-on-secondary: #fcd1c3;
  --md-sys-color-secondary-container: #78584d;
  --md-sys-color-on-secondary-container: #ffffff;
  --md-sys-color-secondary-fixed: #78584d;
  --md-sys-color-secondary-fixed-dim: #6b4c41;
  --md-sys-color-on-secondary-fixed: #ffffff;
  --md-sys-color-on-secondary-fixed-variant: #ffffff;
  --md-sys-color-tertiary: #0d2445;
  --md-sys-color-tertiary-dim: #01193a;
  --md-sys-color-on-tertiary: #cadaff;
  --md-sys-color-tertiary-container: #4c5f84;
  --md-sys-color-on-tertiary-container: #ffffff;
  --md-sys-color-tertiary-fixed: #4c5f84;
  --md-sys-color-tertiary-fixed-dim: #405377;
  --md-sys-color-on-tertiary-fixed: #ffffff;
  --md-sys-color-on-tertiary-fixed-variant: #ffffff;
  --md-sys-color-error: #500016;
  --md-sys-color-error-dim: #3d000f;
  --md-sys-color-on-error: #ffced2;
  --md-sys-color-error-container: #a8364b;
  --md-sys-color-on-error-container: #ffffff;
}

.dark {
  --md-sys-color-primary-palette-key-color: #8f6c8d;
  --md-sys-color-secondary-palette-key-color: #926f63;
  --md-sys-color-tertiary-palette-key-color: #64779d;
  --md-sys-color-neutral-palette-key-color: #7f7475;
  --md-sys-color-neutral-variant-palette-key-color: #80747d;
  --md-sys-color-error-palette-key-color: #c74d61;
  --md-sys-color-background: #130c0e;
  --md-sys-color-on-background: #f7e0e3;
  --md-sys-color-surface: #130c0e;
  --md-sys-color-surface-dim: #130c0e;
  --md-sys-color-surface-bright: #36292b;
  --md-sys-color-surface-container-lowest: #000000;
  --md-sys-color-surface-container-low: #1a1113;
  --md-sys-color-surface-container: #211719;
  --md-sys-color-surface-container-high: #281d1f;
  --md-sys-color-surface-container-highest: #2f2225;
  --md-sys-color-on-surface: #f7e0e3;
  --md-sys-color-surface-variant: #2f2225;
  --md-sys-color-on-surface-variant: #baa6a9;
  --md-sys-color-inverse-surface: #fff8f7;
  --md-sys-color-inverse-on-surface: #5c5354;
  --md-sys-color-outline: #837174;
  --md-sys-color-outline-variant: #534447;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #e3badf;
  --md-sys-color-primary: #e3badf;
  --md-sys-color-primary-dim: #d4acd1;
  --md-sys-color-on-primary: #543654;
  --md-sys-color-primary-container: #684867;
  --md-sys-color-on-primary-container: #ffd7fa;
  --md-sys-color-inverse-primary: #755474;
  --md-sys-color-primary-fixed: #f7cdf3;
  --md-sys-color-primary-fixed-dim: #e9bfe4;
  --md-sys-color-on-primary-fixed: #4d304d;
  --md-sys-color-on-primary-fixed-variant: #6c4b6b;
  --md-sys-color-secondary: #e7bdb0;
  --md-sys-color-secondary-dim: #d8b0a2;
  --md-sys-color-on-secondary: #56392f;
  --md-sys-color-secondary-container: #50352b;
  --md-sys-color-on-secondary-container: #dfb6a9;
  --md-sys-color-secondary-fixed: #ffdbcf;
  --md-sys-color-secondary-fixed-dim: #f6cbbd;
  --md-sys-color-on-secondary-fixed: #55392f;
  --md-sys-color-on-secondary-fixed-variant: #745449;
  --md-sys-color-tertiary: #ceddff;
  --md-sys-color-tertiary-dim: #bbcffa;
  --md-sys-color-on-tertiary: #3b4e72;
  --md-sys-color-tertiary-container: #bbcffa;
  --md-sys-color-on-tertiary-container: #324669;
  --md-sys-color-tertiary-fixed: #bbcffa;
  --md-sys-color-tertiary-fixed-dim: #adc1eb;
  --md-sys-color-on-tertiary-fixed: #1e3254;
  --md-sys-color-on-tertiary-fixed-variant: #3b4f73;
  --md-sys-color-error: #f97386;
  --md-sys-color-error-dim: #c44b5f;
  --md-sys-color-on-error: #490013;
  --md-sys-color-error-container: #871c34;
  --md-sys-color-on-error-container: #ff97a3;
}

.dark-medium-contrast {
  --md-sys-color-primary-palette-key-color: #8f6c8d;
  --md-sys-color-secondary-palette-key-color: #926f63;
  --md-sys-color-tertiary-palette-key-color: #64779d;
  --md-sys-color-neutral-palette-key-color: #7f7475;
  --md-sys-color-neutral-variant-palette-key-color: #80747d;
  --md-sys-color-error-palette-key-color: #c74d61;
  --md-sys-color-background: #130c0e;
  --md-sys-color-on-background: #ffffff;
  --md-sys-color-surface: #130c0e;
  --md-sys-color-surface-dim: #130c0e;
  --md-sys-color-surface-bright: #36292b;
  --md-sys-color-surface-container-lowest: #000000;
  --md-sys-color-surface-container-low: #1a1113;
  --md-sys-color-surface-container: #211719;
  --md-sys-color-surface-container-high: #281d1f;
  --md-sys-color-surface-container-highest: #2f2225;
  --md-sys-color-on-surface: #ffffff;
  --md-sys-color-surface-variant: #2f2225;
  --md-sys-color-on-surface-variant: #c9b4b7;
  --md-sys-color-inverse-surface: #fff8f7;
  --md-sys-color-inverse-on-surface: #3f3637;
  --md-sys-color-outline: #a28f92;
  --md-sys-color-outline-variant: #837174;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #e3badf;
  --md-sys-color-primary: #e3badf;
  --md-sys-color-primary-dim: #d4acd1;
  --md-sys-color-on-primary: #492c49;
  --md-sys-color-primary-container: #8c698a;
  --md-sys-color-on-primary-container: #ffffff;
  --md-sys-color-inverse-primary: #6b4a6a;
  --md-sys-color-primary-fixed: #f7cdf3;
  --md-sys-color-primary-fixed-dim: #e9bfe4;
  --md-sys-color-on-primary-fixed: #270d29;
  --md-sys-color-on-primary-fixed-variant: #4d304d;
  --md-sys-color-secondary: #e7bdb0;
  --md-sys-color-secondary-dim: #d8b0a2;
  --md-sys-color-on-secondary: #4a3026;
  --md-sys-color-secondary-container: #8f6d61;
  --md-sys-color-on-secondary-container: #ffffff;
  --md-sys-color-secondary-fixed: #ffdbcf;
  --md-sys-color-secondary-fixed-dim: #f6cbbd;
  --md-sys-color-on-secondary-fixed: #311911;
  --md-sys-color-on-secondary-fixed-variant: #55392f;
  --md-sys-color-tertiary: #ceddff;
  --md-sys-color-tertiary-dim: #bbcffa;
  --md-sys-color-on-tertiary: #314568;
  --md-sys-color-tertiary-container: #bbcffa;
  --md-sys-color-on-tertiary-container: #283c5e;
  --md-sys-color-tertiary-fixed: #bbcffa;
  --md-sys-color-tertiary-fixed-dim: #adc1eb;
  --md-sys-color-on-tertiary-fixed: #00081b;
  --md-sys-color-on-tertiary-fixed-variant: #1e3254;
  --md-sys-color-error: #ff9da8;
  --md-sys-color-error-dim: #ff8695;
  --md-sys-color-on-error: #5f001c;
  --md-sys-color-error-container: #c44b5f;
  --md-sys-color-on-error-container: #ffffff;
}

.dark-high-contrast {
  --md-sys-color-primary-palette-key-color: #8f6c8d;
  --md-sys-color-secondary-palette-key-color: #926f63;
  --md-sys-color-tertiary-palette-key-color: #64779d;
  --md-sys-color-neutral-palette-key-color: #7f7475;
  --md-sys-color-neutral-variant-palette-key-color: #80747d;
  --md-sys-color-error-palette-key-color: #c74d61;
  --md-sys-color-background: #130c0e;
  --md-sys-color-on-background: #ffffff;
  --md-sys-color-surface: #130c0e;
  --md-sys-color-surface-dim: #130c0e;
  --md-sys-color-surface-bright: #36292b;
  --md-sys-color-surface-container-lowest: #000000;
  --md-sys-color-surface-container-low: #1a1113;
  --md-sys-color-surface-container: #211719;
  --md-sys-color-surface-container-high: #281d1f;
  --md-sys-color-surface-container-highest: #2f2225;
  --md-sys-color-on-surface: #ffffff;
  --md-sys-color-surface-variant: #2f2225;
  --md-sys-color-on-surface-variant: #f7e0e3;
  --md-sys-color-inverse-surface: #fff8f7;
  --md-sys-color-inverse-on-surface: #000000;
  --md-sys-color-outline: #c9b4b7;
  --md-sys-color-outline-variant: #a28f92;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #ffdbfa;
  --md-sys-color-primary: #ffdbfa;
  --md-sys-color-primary-dim: #f5caf0;
  --md-sys-color-on-primary: #3e223e;
  --md-sys-color-primary-container: #b892b5;
  --md-sys-color-on-primary-container: #000000;
  --md-sys-color-inverse-primary: #4b2e4b;
  --md-sys-color-primary-fixed: #f7cdf3;
  --md-sys-color-primary-fixed-dim: #e9bfe4;
  --md-sys-color-on-primary-fixed: #000000;
  --md-sys-color-on-primary-fixed-variant: #270d29;
  --md-sys-color-secondary: #ffdfd4;
  --md-sys-color-secondary-dim: #f9cec0;
  --md-sys-color-on-secondary: #3f261d;
  --md-sys-color-secondary-container: #bb9589;
  --md-sys-color-on-secondary-container: #000000;
  --md-sys-color-secondary-fixed: #ffdbcf;
  --md-sys-color-secondary-fixed-dim: #f6cbbd;
  --md-sys-color-on-secondary-fixed: #000000;
  --md-sys-color-on-secondary-fixed-variant: #311911;
  --md-sys-color-tertiary: #dbe5ff;
  --md-sys-color-tertiary-dim: #c2d5ff;
  --md-sys-color-on-tertiary: #172c4e;
  --md-sys-color-tertiary-container: #bbcffa;
  --md-sys-color-on-tertiary-container: #021a3b;
  --md-sys-color-tertiary-fixed: #bbcffa;
  --md-sys-color-tertiary-fixed-dim: #adc1eb;
  --md-sys-color-on-tertiary-fixed: #000000;
  --md-sys-color-on-tertiary-fixed-variant: #00081b;
  --md-sys-color-error: #ffdddf;
  --md-sys-color-error-dim: #ffc7cb;
  --md-sys-color-on-error: #5f001c;
  --md-sys-color-error-container: #f97386;
  --md-sys-color-on-error-container: #000000;
}

