.light {
  --md-sys-color-primary-palette-key-color: #ba43c3;
  --md-sys-color-secondary-palette-key-color: #bd5b15;
  --md-sys-color-tertiary-palette-key-color: #5271d5;
  --md-sys-color-neutral-palette-key-color: #9b6880;
  --md-sys-color-neutral-variant-palette-key-color: #9f648e;
  --md-sys-color-error-palette-key-color: #db365a;
  --md-sys-color-background: #fff4f6;
  --md-sys-color-on-background: #492136;
  --md-sys-color-surface: #fff4f6;
  --md-sys-color-surface-dim: #ffc4de;
  --md-sys-color-surface-bright: #fff4f6;
  --md-sys-color-surface-container-lowest: #ffffff;
  --md-sys-color-surface-container-low: #ffecf2;
  --md-sys-color-surface-container: #ffe0ec;
  --md-sys-color-surface-container-high: #ffd8e8;
  --md-sys-color-surface-container-highest: #ffd0e4;
  --md-sys-color-on-surface: #492136;
  --md-sys-color-surface-variant: #ffd0e4;
  --md-sys-color-on-surface-variant: #7c4d64;
  --md-sys-color-inverse-surface: #220215;
  --md-sys-color-inverse-on-surface: #c48da7;
  --md-sys-color-outline: #9b6880;
  --md-sys-color-outline-variant: #d69db7;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #9920a5;
  --md-sys-color-primary: #9920a5;
  --md-sys-color-primary-dim: #8b0997;
  --md-sys-color-on-primary: #ffeefa;
  --md-sys-color-primary-container: #f67afd;
  --md-sys-color-on-primary-container: #52005a;
  --md-sys-color-inverse-primary: #f67afd;
  --md-sys-color-primary-fixed: #f67afd;
  --md-sys-color-primary-fixed-dim: #e76dee;
  --md-sys-color-on-primary-fixed: #240028;
  --md-sys-color-on-primary-fixed-variant: #61006a;
  --md-sys-color-secondary: #974300;
  --md-sys-color-secondary-dim: #843a00;
  --md-sys-color-on-secondary: #fff0e9;
  --md-sys-color-secondary-container: #ffc5a6;
  --md-sys-color-on-secondary-container: #773300;
  --md-sys-color-secondary-fixed: #ffc5a6;
  --md-sys-color-secondary-fixed-dim: #ffb287;
  --md-sys-color-on-secondary-fixed: #592500;
  --md-sys-color-on-secondary-fixed-variant: #863a00;
  --md-sys-color-tertiary: #3354b7;
  --md-sys-color-tertiary-dim: #2548ab;
  --md-sys-color-on-tertiary: #f1f2ff;
  --md-sys-color-tertiary-container: #97adff;
  --md-sys-color-on-tertiary-container: #00287d;
  --md-sys-color-tertiary-fixed: #97adff;
  --md-sys-color-tertiary-fixed-dim: #839eff;
  --md-sys-color-on-tertiary-fixed: #001346;
  --md-sys-color-on-tertiary-fixed-variant: #003091;
  --md-sys-color-error: #b41340;
  --md-sys-color-error-dim: #a20036;
  --md-sys-color-on-error: #ffefef;
  --md-sys-color-error-container: #f74b6d;
  --md-sys-color-on-error-container: #510017;
}

.light-medium-contrast {
  --md-sys-color-primary-palette-key-color: #ba43c3;
  --md-sys-color-secondary-palette-key-color: #bd5b15;
  --md-sys-color-tertiary-palette-key-color: #5271d5;
  --md-sys-color-neutral-palette-key-color: #9b6880;
  --md-sys-color-neutral-variant-palette-key-color: #9f648e;
  --md-sys-color-error-palette-key-color: #db365a;
  --md-sys-color-background: #fff4f6;
  --md-sys-color-on-background: #371227;
  --md-sys-color-surface: #fff4f6;
  --md-sys-color-surface-dim: #ffc4de;
  --md-sys-color-surface-bright: #fff4f6;
  --md-sys-color-surface-container-lowest: #ffffff;
  --md-sys-color-surface-container-low: #ffecf2;
  --md-sys-color-surface-container: #ffe0ec;
  --md-sys-color-surface-container-high: #ffd8e8;
  --md-sys-color-surface-container-highest: #ffd0e4;
  --md-sys-color-on-surface: #371227;
  --md-sys-color-surface-variant: #ffd0e4;
  --md-sys-color-on-surface-variant: #5c3248;
  --md-sys-color-inverse-surface: #220215;
  --md-sys-color-inverse-on-surface: #f0b4cf;
  --md-sys-color-outline: #7c4d64;
  --md-sys-color-outline-variant: #9b6880;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #71007c;
  --md-sys-color-primary: #71007c;
  --md-sys-color-primary-dim: #5f0068;
  --md-sys-color-on-primary: #ffc0fc;
  --md-sys-color-primary-container: #b740c1;
  --md-sys-color-on-primary-container: #ffffff;
  --md-sys-color-inverse-primary: #f67afd;
  --md-sys-color-primary-fixed: #b740c1;
  --md-sys-color-primary-fixed-dim: #a832b3;
  --md-sys-color-on-primary-fixed: #ffffff;
  --md-sys-color-on-primary-fixed-variant: #ffffff;
  --md-sys-color-secondary: #6b2d00;
  --md-sys-color-secondary-dim: #592500;
  --md-sys-color-on-secondary: #ffc9ac;
  --md-sys-color-secondary-container: #ba5912;
  --md-sys-color-on-secondary-container: #ffffff;
  --md-sys-color-secondary-fixed: #ba5912;
  --md-sys-color-secondary-fixed-dim: #aa4d02;
  --md-sys-color-on-secondary-fixed: #ffffff;
  --md-sys-color-on-secondary-fixed-variant: #ffffff;
  --md-sys-color-tertiary: #09369a;
  --md-sys-color-tertiary-dim: #002b85;
  --md-sys-color-on-tertiary: #c8d2ff;
  --md-sys-color-tertiary-container: #4f6ed3;
  --md-sys-color-on-tertiary-container: #ffffff;
  --md-sys-color-tertiary-fixed: #4f6ed3;
  --md-sys-color-tertiary-fixed-dim: #4262c5;
  --md-sys-color-on-tertiary-fixed: #ffffff;
  --md-sys-color-on-tertiary-fixed-variant: #ffffff;
  --md-sys-color-error: #83002a;
  --md-sys-color-error-dim: #6e0022;
  --md-sys-color-on-error: #ffc6ca;
  --md-sys-color-error-container: #d73357;
  --md-sys-color-on-error-container: #ffffff;
}

.light-high-contrast {
  --md-sys-color-primary-palette-key-color: #ba43c3;
  --md-sys-color-secondary-palette-key-color: #bd5b15;
  --md-sys-color-tertiary-palette-key-color: #5271d5;
  --md-sys-color-neutral-palette-key-color: #9b6880;
  --md-sys-color-neutral-variant-palette-key-color: #9f648e;
  --md-sys-color-error-palette-key-color: #db365a;
  --md-sys-color-background: #fff4f6;
  --md-sys-color-on-background: #000000;
  --md-sys-color-surface: #fff4f6;
  --md-sys-color-surface-dim: #ffc4de;
  --md-sys-color-surface-bright: #fff4f6;
  --md-sys-color-surface-container-lowest: #ffffff;
  --md-sys-color-surface-container-low: #ffecf2;
  --md-sys-color-surface-container: #ffe0ec;
  --md-sys-color-surface-container-high: #ffd8e8;
  --md-sys-color-surface-container-highest: #ffd0e4;
  --md-sys-color-on-surface: #000000;
  --md-sys-color-surface-variant: #ffd0e4;
  --md-sys-color-on-surface-variant: #371227;
  --md-sys-color-inverse-surface: #220215;
  --md-sys-color-inverse-on-surface: #ffffff;
  --md-sys-color-outline: #5c3248;
  --md-sys-color-outline-variant: #7c4d64;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #3d0043;
  --md-sys-color-primary: #3d0043;
  --md-sys-color-primary-dim: #2c0031;
  --md-sys-color-on-primary: #ffc0fc;
  --md-sys-color-primary-container: #9920a5;
  --md-sys-color-on-primary-container: #ffffff;
  --md-sys-color-inverse-primary: #ffa6ff;
  --md-sys-color-primary-fixed: #9920a5;
  --md-sys-color-primary-fixed-dim: #8b0997;
  --md-sys-color-on-primary-fixed: #ffffff;
  --md-sys-color-on-primary-fixed-variant: #ffffff;
  --md-sys-color-secondary: #391500;
  --md-sys-color-secondary-dim: #290d00;
  --md-sys-color-on-secondary: #ffc9ad;
  --md-sys-color-secondary-container: #974300;
  --md-sys-color-on-secondary-container: #ffffff;
  --md-sys-color-secondary-fixed: #974300;
  --md-sys-color-secondary-fixed-dim: #843a00;
  --md-sys-color-on-secondary-fixed: #ffffff;
  --md-sys-color-on-secondary-fixed-variant: #ffffff;
  --md-sys-color-tertiary: #001957;
  --md-sys-color-tertiary-dim: #001141;
  --md-sys-color-on-tertiary: #c9d3ff;
  --md-sys-color-tertiary-container: #3354b7;
  --md-sys-color-on-tertiary-container: #ffffff;
  --md-sys-color-tertiary-fixed: #3354b7;
  --md-sys-color-tertiary-fixed-dim: #2548ab;
  --md-sys-color-on-tertiary-fixed: #ffffff;
  --md-sys-color-on-tertiary-fixed-variant: #ffffff;
  --md-sys-color-error: #470013;
  --md-sys-color-error-dim: #34000c;
  --md-sys-color-on-error: #ffc6cb;
  --md-sys-color-error-container: #b41340;
  --md-sys-color-on-error-container: #ffffff;
}

.dark {
  --md-sys-color-primary-palette-key-color: #ba43c3;
  --md-sys-color-secondary-palette-key-color: #bd5b15;
  --md-sys-color-tertiary-palette-key-color: #5271d5;
  --md-sys-color-neutral-palette-key-color: #9b6880;
  --md-sys-color-neutral-variant-palette-key-color: #9f648e;
  --md-sys-color-error-palette-key-color: #db365a;
  --md-sys-color-background: #220215;
  --md-sys-color-on-background: #ffdcea;
  --md-sys-color-surface: #220215;
  --md-sys-color-surface-dim: #220215;
  --md-sys-color-surface-bright: #461f34;
  --md-sys-color-surface-container-lowest: #000000;
  --md-sys-color-surface-container-low: #2a041b;
  --md-sys-color-surface-container: #330822;
  --md-sys-color-surface-container-high: #3c0d29;
  --md-sys-color-surface-container-highest: #451230;
  --md-sys-color-on-surface: #ffdcea;
  --md-sys-color-surface-variant: #451230;
  --md-sys-color-on-surface-variant: #d49bb5;
  --md-sys-color-inverse-surface: #fff8f8;
  --md-sys-color-inverse-on-surface: #75475e;
  --md-sys-color-outline: #99667f;
  --md-sys-color-outline-variant: #663a50;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #f97eff;
  --md-sys-color-primary: #f97eff;
  --md-sys-color-primary-dim: #ea6ff1;
  --md-sys-color-on-primary: #56005e;
  --md-sys-color-primary-container: #ea6ff1;
  --md-sys-color-on-primary-container: #420049;
  --md-sys-color-inverse-primary: #9d25a9;
  --md-sys-color-primary-fixed: #f67afd;
  --md-sys-color-primary-fixed-dim: #e76dee;
  --md-sys-color-on-primary-fixed: #240028;
  --md-sys-color-on-primary-fixed-variant: #61006a;
  --md-sys-color-secondary: #ffb68e;
  --md-sys-color-secondary-dim: #fc8a43;
  --md-sys-color-on-secondary: #6c2e00;
  --md-sys-color-secondary-container: #9b4500;
  --md-sys-color-on-secondary-container: #fff6f2;
  --md-sys-color-secondary-fixed: #ffc5a6;
  --md-sys-color-secondary-fixed-dim: #ffb287;
  --md-sys-color-on-secondary-fixed: #592500;
  --md-sys-color-on-secondary-fixed-variant: #863a00;
  --md-sys-color-tertiary: #87a1ff;
  --md-sys-color-tertiary-dim: #7b99ff;
  --md-sys-color-on-tertiary: #00206a;
  --md-sys-color-tertiary-container: #7593fa;
  --md-sys-color-on-tertiary-container: #00154c;
  --md-sys-color-tertiary-fixed: #97adff;
  --md-sys-color-tertiary-fixed-dim: #839eff;
  --md-sys-color-on-tertiary-fixed: #001346;
  --md-sys-color-on-tertiary-fixed-variant: #003091;
  --md-sys-color-error: #ff6e84;
  --md-sys-color-error-dim: #d73357;
  --md-sys-color-on-error: #490013;
  --md-sys-color-error-container: #a70138;
  --md-sys-color-on-error-container: #ffb2b9;
}

.dark-medium-contrast {
  --md-sys-color-primary-palette-key-color: #ba43c3;
  --md-sys-color-secondary-palette-key-color: #bd5b15;
  --md-sys-color-tertiary-palette-key-color: #5271d5;
  --md-sys-color-neutral-palette-key-color: #9b6880;
  --md-sys-color-neutral-variant-palette-key-color: #9f648e;
  --md-sys-color-error-palette-key-color: #db365a;
  --md-sys-color-background: #220215;
  --md-sys-color-on-background: #ffffff;
  --md-sys-color-surface: #220215;
  --md-sys-color-surface-dim: #220215;
  --md-sys-color-surface-bright: #461f34;
  --md-sys-color-surface-container-lowest: #000000;
  --md-sys-color-surface-container-low: #2a041b;
  --md-sys-color-surface-container: #330822;
  --md-sys-color-surface-container-high: #3c0d29;
  --md-sys-color-surface-container-highest: #451230;
  --md-sys-color-on-surface: #ffffff;
  --md-sys-color-surface-variant: #451230;
  --md-sys-color-on-surface-variant: #e3a8c3;
  --md-sys-color-inverse-surface: #fff8f8;
  --md-sys-color-inverse-on-surface: #542b40;
  --md-sys-color-outline: #ba849d;
  --md-sys-color-outline-variant: #99667f;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #fc91ff;
  --md-sys-color-primary: #fc91ff;
  --md-sys-color-primary-dim: #f67afd;
  --md-sys-color-on-primary: #52005a;
  --md-sys-color-primary-container: #ea6ff1;
  --md-sys-color-on-primary-container: #2b0030;
  --md-sys-color-inverse-primary: #91169e;
  --md-sys-color-primary-fixed: #f67afd;
  --md-sys-color-primary-fixed-dim: #e76dee;
  --md-sys-color-on-primary-fixed: #000000;
  --md-sys-color-on-primary-fixed-variant: #240028;
  --md-sys-color-secondary: #ffb68e;
  --md-sys-color-secondary-dim: #fe8c45;
  --md-sys-color-on-secondary: #5c2600;
  --md-sys-color-secondary-container: #ba5912;
  --md-sys-color-on-secondary-container: #ffffff;
  --md-sys-color-secondary-fixed: #ffc5a6;
  --md-sys-color-secondary-fixed-dim: #ffb287;
  --md-sys-color-on-secondary-fixed: #1c0700;
  --md-sys-color-on-secondary-fixed-variant: #592500;
  --md-sys-color-tertiary: #a2b6ff;
  --md-sys-color-tertiary-dim: #8ea7ff;
  --md-sys-color-on-tertiary: #002473;
  --md-sys-color-tertiary-container: #7b99ff;
  --md-sys-color-on-tertiary-container: #000c36;
  --md-sys-color-tertiary-fixed: #97adff;
  --md-sys-color-tertiary-fixed-dim: #839eff;
  --md-sys-color-on-tertiary-fixed: #000000;
  --md-sys-color-on-tertiary-fixed-variant: #001346;
  --md-sys-color-error: #ff9da8;
  --md-sys-color-error-dim: #ff8695;
  --md-sys-color-on-error: #5f001c;
  --md-sys-color-error-container: #d73357;
  --md-sys-color-on-error-container: #ffffff;
}

.dark-high-contrast {
  --md-sys-color-primary-palette-key-color: #ba43c3;
  --md-sys-color-secondary-palette-key-color: #bd5b15;
  --md-sys-color-tertiary-palette-key-color: #5271d5;
  --md-sys-color-neutral-palette-key-color: #9b6880;
  --md-sys-color-neutral-variant-palette-key-color: #9f648e;
  --md-sys-color-error-palette-key-color: #db365a;
  --md-sys-color-background: #220215;
  --md-sys-color-on-background: #ffffff;
  --md-sys-color-surface: #220215;
  --md-sys-color-surface-dim: #220215;
  --md-sys-color-surface-bright: #461f34;
  --md-sys-color-surface-container-lowest: #000000;
  --md-sys-color-surface-container-low: #2a041b;
  --md-sys-color-surface-container: #330822;
  --md-sys-color-surface-container-high: #3c0d29;
  --md-sys-color-surface-container-highest: #451230;
  --md-sys-color-on-surface: #ffffff;
  --md-sys-color-surface-variant: #451230;
  --md-sys-color-on-surface-variant: #ffdcea;
  --md-sys-color-inverse-surface: #fff8f8;
  --md-sys-color-inverse-on-surface: #000000;
  --md-sys-color-outline: #e3a8c3;
  --md-sys-color-outline-variant: #ba849d;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #ffdbfa;
  --md-sys-color-primary: #ffdbfa;
  --md-sys-color-primary-dim: #ffc1fc;
  --md-sys-color-on-primary: #52005a;
  --md-sys-color-primary-container: #ea6ff1;
  --md-sys-color-on-primary-container: #000000;
  --md-sys-color-inverse-primary: #660070;
  --md-sys-color-primary-fixed: #f67afd;
  --md-sys-color-primary-fixed-dim: #e76dee;
  --md-sys-color-on-primary-fixed: #000000;
  --md-sys-color-on-primary-fixed-variant: #000000;
  --md-sys-color-secondary: #ffdfcf;
  --md-sys-color-secondary-dim: #ffc9ad;
  --md-sys-color-on-secondary: #4c1e00;
  --md-sys-color-secondary-container: #ee803a;
  --md-sys-color-on-secondary-container: #000000;
  --md-sys-color-secondary-fixed: #ffc5a6;
  --md-sys-color-secondary-fixed-dim: #ffb287;
  --md-sys-color-on-secondary-fixed: #000000;
  --md-sys-color-on-secondary-fixed-variant: #1c0700;
  --md-sys-color-tertiary: #e0e4ff;
  --md-sys-color-tertiary-dim: #c9d3ff;
  --md-sys-color-on-tertiary: #002473;
  --md-sys-color-tertiary-container: #7b99ff;
  --md-sys-color-on-tertiary-container: #000000;
  --md-sys-color-tertiary-fixed: #97adff;
  --md-sys-color-tertiary-fixed-dim: #839eff;
  --md-sys-color-on-tertiary-fixed: #000000;
  --md-sys-color-on-tertiary-fixed-variant: #000000;
  --md-sys-color-error: #ffdddf;
  --md-sys-color-error-dim: #ffc7cb;
  --md-sys-color-on-error: #5f001c;
  --md-sys-color-error-container: #ff6e84;
  --md-sys-color-on-error-container: #000000;
}

