.light {
  --md-sys-color-primary-palette-key-color: #aa57ad;
  --md-sys-color-secondary-palette-key-color: #aa663e;
  --md-sys-color-tertiary-palette-key-color: #5271d5;
  --md-sys-color-neutral-palette-key-color: #916d7d;
  --md-sys-color-neutral-variant-palette-key-color: #946a86;
  --md-sys-color-error-palette-key-color: #c74d61;
  --md-sys-color-background: #000000;
  --md-sys-color-on-background: #ffffff;
  --md-sys-color-surface: #000000;
  --md-sys-color-surface-dim: #1d0613;
  --md-sys-color-surface-bright: #461f34;
  --md-sys-color-surface-container-lowest: #000000;
  --md-sys-color-surface-container-low: #381d2b;
  --md-sys-color-surface-container: #442836;
  --md-sys-color-surface-container-high: #503241;
  --md-sys-color-surface-container-highest: #3d1a2d;
  --md-sys-color-on-surface: #ffe0ec;
  --md-sys-color-surface-variant: #3d1a2d;
  --md-sys-color-on-surface-variant: #eec2d5;
  --md-sys-color-inverse-surface: #fff8f8;
  --md-sys-color-inverse-on-surface: #6c4b5b;
  --md-sys-color-outline: #c39bac;
  --md-sys-color-outline-variant: #a17b8c;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #ffb6fd;
  --md-sys-color-primary: #ffb6fd;
  --md-sys-color-primary-dim: #f398f4;
  --md-sys-color-on-primary: #52005a;
  --md-sys-color-primary-container: #722479;
  --md-sys-color-on-primary-container: #ffd2fa;
  --md-sys-color-inverse-primary: #833488;
  --md-sys-color-primary-fixed: #722479;
  --md-sys-color-primary-fixed-dim: #65166c;
  --md-sys-color-on-primary-fixed: #ffb6fd;
  --md-sys-color-on-primary-fixed-variant: #de86e0;
  --md-sys-color-secondary: #ffc09f;
  --md-sys-color-secondary-dim: #f3a376;
  --md-sys-color-on-secondary: #491d00;
  --md-sys-color-secondary-container: #6f3813;
  --md-sys-color-on-secondary-container: #ffd8c5;
  --md-sys-color-secondary-fixed: #6f3813;
  --md-sys-color-secondary-fixed-dim: #612d08;
  --md-sys-color-on-secondary-fixed: #ffc09f;
  --md-sys-color-on-secondary-fixed-variant: #e09468;
  --md-sys-color-tertiary: #c0ccff;
  --md-sys-color-tertiary-dim: #87a1ff;
  --md-sys-color-on-tertiary: #00154d;
  --md-sys-color-tertiary-container: #7b99ff;
  --md-sys-color-on-tertiary-container: #000c36;
  --md-sys-color-tertiary-fixed: #7b99ff;
  --md-sys-color-tertiary-fixed-dim: #6d8bf1;
  --md-sys-color-on-tertiary-fixed: #000000;
  --md-sys-color-on-tertiary-fixed-variant: #00226e;
  --md-sys-color-error: #ffbdc3;
  --md-sys-color-error-dim: #ff7d8f;
  --md-sys-color-on-error: #3f000f;
  --md-sys-color-error-container: #871c34;
  --md-sys-color-on-error-container: #ffd6d9;
}

.light-medium-contrast {
  --md-sys-color-primary-palette-key-color: #aa57ad;
  --md-sys-color-secondary-palette-key-color: #aa663e;
  --md-sys-color-tertiary-palette-key-color: #5271d5;
  --md-sys-color-neutral-palette-key-color: #916d7d;
  --md-sys-color-neutral-variant-palette-key-color: #946a86;
  --md-sys-color-error-palette-key-color: #c74d61;
  --md-sys-color-background: #000000;
  --md-sys-color-on-background: #ffffff;
  --md-sys-color-surface: #000000;
  --md-sys-color-surface-dim: #1d0613;
  --md-sys-color-surface-bright: #461f34;
  --md-sys-color-surface-container-lowest: #000000;
  --md-sys-color-surface-container-low: #381d2b;
  --md-sys-color-surface-container: #442836;
  --md-sys-color-surface-container-high: #503241;
  --md-sys-color-surface-container-highest: #3d1a2d;
  --md-sys-color-on-surface: #fffeff;
  --md-sys-color-surface-variant: #3d1a2d;
  --md-sys-color-on-surface-variant: #fffeff;
  --md-sys-color-inverse-surface: #fff8f8;
  --md-sys-color-inverse-on-surface: #4d2f3e;
  --md-sys-color-outline: #eec2d5;
  --md-sys-color-outline-variant: #c39bac;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #fffeff;
  --md-sys-color-primary: #fffeff;
  --md-sys-color-primary-dim: #ffb6fd;
  --md-sys-color-on-primary: #330039;
  --md-sys-color-primary-container: #722479;
  --md-sys-color-on-primary-container: #ffffff;
  --md-sys-color-inverse-primary: #611169;
  --md-sys-color-primary-fixed: #722479;
  --md-sys-color-primary-fixed-dim: #65166c;
  --md-sys-color-on-primary-fixed: #fffeff;
  --md-sys-color-on-primary-fixed-variant: #ffb6fd;
  --md-sys-color-secondary: #fffeff;
  --md-sys-color-secondary-dim: #ffc09f;
  --md-sys-color-on-secondary: #301000;
  --md-sys-color-secondary-container: #6f3813;
  --md-sys-color-on-secondary-container: #ffffff;
  --md-sys-color-secondary-fixed: #6f3813;
  --md-sys-color-secondary-fixed-dim: #612d08;
  --md-sys-color-on-secondary-fixed: #fffeff;
  --md-sys-color-on-secondary-fixed-variant: #ffc09f;
  --md-sys-color-tertiary: #fffeff;
  --md-sys-color-tertiary-dim: #c0ccff;
  --md-sys-color-on-tertiary: #00144a;
  --md-sys-color-tertiary-container: #7b99ff;
  --md-sys-color-on-tertiary-container: #000000;
  --md-sys-color-tertiary-fixed: #7b99ff;
  --md-sys-color-tertiary-fixed-dim: #6d8bf1;
  --md-sys-color-on-tertiary-fixed: #000000;
  --md-sys-color-on-tertiary-fixed-variant: #000000;
  --md-sys-color-error: #fffeff;
  --md-sys-color-error-dim: #ffbdc3;
  --md-sys-color-on-error: #3d000f;
  --md-sys-color-error-container: #871c34;
  --md-sys-color-on-error-container: #ffffff;
}

.light-high-contrast {
  --md-sys-color-primary-palette-key-color: #aa57ad;
  --md-sys-color-secondary-palette-key-color: #aa663e;
  --md-sys-color-tertiary-palette-key-color: #5271d5;
  --md-sys-color-neutral-palette-key-color: #916d7d;
  --md-sys-color-neutral-variant-palette-key-color: #946a86;
  --md-sys-color-error-palette-key-color: #c74d61;
  --md-sys-color-background: #000000;
  --md-sys-color-on-background: #ffffff;
  --md-sys-color-surface: #000000;
  --md-sys-color-surface-dim: #1d0613;
  --md-sys-color-surface-bright: #461f34;
  --md-sys-color-surface-container-lowest: #000000;
  --md-sys-color-surface-container-low: #381d2b;
  --md-sys-color-surface-container: #442836;
  --md-sys-color-surface-container-high: #503241;
  --md-sys-color-surface-container-highest: #3d1a2d;
  --md-sys-color-on-surface: #ffffff;
  --md-sys-color-surface-variant: #3d1a2d;
  --md-sys-color-on-surface-variant: #ffffff;
  --md-sys-color-inverse-surface: #fff8f8;
  --md-sys-color-inverse-on-surface: #000000;
  --md-sys-color-outline: #fffeff;
  --md-sys-color-outline-variant: #eec2d5;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #ffffff;
  --md-sys-color-primary: #ffffff;
  --md-sys-color-primary-dim: #fffeff;
  --md-sys-color-on-primary: #000000;
  --md-sys-color-primary-container: #722479;
  --md-sys-color-on-primary-container: #ffffff;
  --md-sys-color-inverse-primary: #000000;
  --md-sys-color-primary-fixed: #722479;
  --md-sys-color-primary-fixed-dim: #65166c;
  --md-sys-color-on-primary-fixed: #ffffff;
  --md-sys-color-on-primary-fixed-variant: #fffeff;
  --md-sys-color-secondary: #ffffff;
  --md-sys-color-secondary-dim: #fffeff;
  --md-sys-color-on-secondary: #000000;
  --md-sys-color-secondary-container: #6f3813;
  --md-sys-color-on-secondary-container: #ffffff;
  --md-sys-color-secondary-fixed: #6f3813;
  --md-sys-color-secondary-fixed-dim: #612d08;
  --md-sys-color-on-secondary-fixed: #ffffff;
  --md-sys-color-on-secondary-fixed-variant: #fffeff;
  --md-sys-color-tertiary: #ffffff;
  --md-sys-color-tertiary-dim: #fffeff;
  --md-sys-color-on-tertiary: #000000;
  --md-sys-color-tertiary-container: #7b99ff;
  --md-sys-color-on-tertiary-container: #000000;
  --md-sys-color-tertiary-fixed: #7b99ff;
  --md-sys-color-tertiary-fixed-dim: #6d8bf1;
  --md-sys-color-on-tertiary-fixed: #000000;
  --md-sys-color-on-tertiary-fixed-variant: #000000;
  --md-sys-color-error: #ffffff;
  --md-sys-color-error-dim: #fffeff;
  --md-sys-color-on-error: #000000;
  --md-sys-color-error-container: #871c34;
  --md-sys-color-on-error-container: #ffffff;
}

.dark {
  --md-sys-color-primary-palette-key-color: #aa57ad;
  --md-sys-color-secondary-palette-key-color: #aa663e;
  --md-sys-color-tertiary-palette-key-color: #5271d5;
  --md-sys-color-neutral-palette-key-color: #916d7d;
  --md-sys-color-neutral-variant-palette-key-color: #946a86;
  --md-sys-color-error-palette-key-color: #c74d61;
  --md-sys-color-background: #000000;
  --md-sys-color-on-background: #ffffff;
  --md-sys-color-surface: #000000;
  --md-sys-color-surface-dim: #1d0613;
  --md-sys-color-surface-bright: #461f34;
  --md-sys-color-surface-container-lowest: #000000;
  --md-sys-color-surface-container-low: #381d2b;
  --md-sys-color-surface-container: #442836;
  --md-sys-color-surface-container-high: #503241;
  --md-sys-color-surface-container-highest: #3d1a2d;
  --md-sys-color-on-surface: #ffe0ec;
  --md-sys-color-surface-variant: #3d1a2d;
  --md-sys-color-on-surface-variant: #eec2d5;
  --md-sys-color-inverse-surface: #fff8f8;
  --md-sys-color-inverse-on-surface: #6c4b5b;
  --md-sys-color-outline: #c39bac;
  --md-sys-color-outline-variant: #a17b8c;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #ffb6fd;
  --md-sys-color-primary: #ffb6fd;
  --md-sys-color-primary-dim: #f398f4;
  --md-sys-color-on-primary: #52005a;
  --md-sys-color-primary-container: #722479;
  --md-sys-color-on-primary-container: #ffd2fa;
  --md-sys-color-inverse-primary: #833488;
  --md-sys-color-primary-fixed: #722479;
  --md-sys-color-primary-fixed-dim: #65166c;
  --md-sys-color-on-primary-fixed: #ffb6fd;
  --md-sys-color-on-primary-fixed-variant: #de86e0;
  --md-sys-color-secondary: #ffc09f;
  --md-sys-color-secondary-dim: #f3a376;
  --md-sys-color-on-secondary: #491d00;
  --md-sys-color-secondary-container: #6f3813;
  --md-sys-color-on-secondary-container: #ffd8c5;
  --md-sys-color-secondary-fixed: #6f3813;
  --md-sys-color-secondary-fixed-dim: #612d08;
  --md-sys-color-on-secondary-fixed: #ffc09f;
  --md-sys-color-on-secondary-fixed-variant: #e09468;
  --md-sys-color-tertiary: #c0ccff;
  --md-sys-color-tertiary-dim: #87a1ff;
  --md-sys-color-on-tertiary: #00154d;
  --md-sys-color-tertiary-container: #7b99ff;
  --md-sys-color-on-tertiary-container: #000c36;
  --md-sys-color-tertiary-fixed: #7b99ff;
  --md-sys-color-tertiary-fixed-dim: #6d8bf1;
  --md-sys-color-on-tertiary-fixed: #000000;
  --md-sys-color-on-tertiary-fixed-variant: #00226e;
  --md-sys-color-error: #ffbdc3;
  --md-sys-color-error-dim: #ff7d8f;
  --md-sys-color-on-error: #3f000f;
  --md-sys-color-error-container: #871c34;
  --md-sys-color-on-error-container: #ffd6d9;
}

.dark-medium-contrast {
  --md-sys-color-primary-palette-key-color: #aa57ad;
  --md-sys-color-secondary-palette-key-color: #aa663e;
  --md-sys-color-tertiary-palette-key-color: #5271d5;
  --md-sys-color-neutral-palette-key-color: #916d7d;
  --md-sys-color-neutral-variant-palette-key-color: #946a86;
  --md-sys-color-error-palette-key-color: #c74d61;
  --md-sys-color-background: #000000;
  --md-sys-color-on-background: #ffffff;
  --md-sys-color-surface: #000000;
  --md-sys-color-surface-dim: #1d0613;
  --md-sys-color-surface-bright: #461f34;
  --md-sys-color-surface-container-lowest: #000000;
  --md-sys-color-surface-container-low: #381d2b;
  --md-sys-color-surface-container: #442836;
  --md-sys-color-surface-container-high: #503241;
  --md-sys-color-surface-container-highest: #3d1a2d;
  --md-sys-color-on-surface: #fffeff;
  --md-sys-color-surface-variant: #3d1a2d;
  --md-sys-color-on-surface-variant: #fffeff;
  --md-sys-color-inverse-surface: #fff8f8;
  --md-sys-color-inverse-on-surface: #4d2f3e;
  --md-sys-color-outline: #eec2d5;
  --md-sys-color-outline-variant: #c39bac;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #fffeff;
  --md-sys-color-primary: #fffeff;
  --md-sys-color-primary-dim: #ffb6fd;
  --md-sys-color-on-primary: #330039;
  --md-sys-color-primary-container: #722479;
  --md-sys-color-on-primary-container: #ffffff;
  --md-sys-color-inverse-primary: #611169;
  --md-sys-color-primary-fixed: #722479;
  --md-sys-color-primary-fixed-dim: #65166c;
  --md-sys-color-on-primary-fixed: #fffeff;
  --md-sys-color-on-primary-fixed-variant: #ffb6fd;
  --md-sys-color-secondary: #fffeff;
  --md-sys-color-secondary-dim: #ffc09f;
  --md-sys-color-on-secondary: #301000;
  --md-sys-color-secondary-container: #6f3813;
  --md-sys-color-on-secondary-container: #ffffff;
  --md-sys-color-secondary-fixed: #6f3813;
  --md-sys-color-secondary-fixed-dim: #612d08;
  --md-sys-color-on-secondary-fixed: #fffeff;
  --md-sys-color-on-secondary-fixed-variant: #ffc09f;
  --md-sys-color-tertiary: #fffeff;
  --md-sys-color-tertiary-dim: #c0ccff;
  --md-sys-color-on-tertiary: #00144a;
  --md-sys-color-tertiary-container: #7b99ff;
  --md-sys-color-on-tertiary-container: #000000;
  --md-sys-color-tertiary-fixed: #7b99ff;
  --md-sys-color-tertiary-fixed-dim: #6d8bf1;
  --md-sys-color-on-tertiary-fixed: #000000;
  --md-sys-color-on-tertiary-fixed-variant: #000000;
  --md-sys-color-error: #fffeff;
  --md-sys-color-error-dim: #ffbdc3;
  --md-sys-color-on-error: #3d000f;
  --md-sys-color-error-container: #871c34;
  --md-sys-color-on-error-container: #ffffff;
}

.dark-high-contrast {
  --md-sys-color-primary-palette-key-color: #aa57ad;
  --md-sys-color-secondary-palette-key-color: #aa663e;
  --md-sys-color-tertiary-palette-key-color: #5271d5;
  --md-sys-color-neutral-palette-key-color: #916d7d;
  --md-sys-color-neutral-variant-palette-key-color: #946a86;
  --md-sys-color-error-palette-key-color: #c74d61;
  --md-sys-color-background: #000000;
  --md-sys-color-on-background: #ffffff;
  --md-sys-color-surface: #000000;
  --md-sys-color-surface-dim: #1d0613;
  --md-sys-color-surface-bright: #461f34;
  --md-sys-color-surface-container-lowest: #000000;
  --md-sys-color-surface-container-low: #381d2b;
  --md-sys-color-surface-container: #442836;
  --md-sys-color-surface-container-high: #503241;
  --md-sys-color-surface-container-highest: #3d1a2d;
  --md-sys-color-on-surface: #ffffff;
  --md-sys-color-surface-variant: #3d1a2d;
  --md-sys-color-on-surface-variant: #ffffff;
  --md-sys-color-inverse-surface: #fff8f8;
  --md-sys-color-inverse-on-surface: #000000;
  --md-sys-color-outline: #fffeff;
  --md-sys-color-outline-variant: #eec2d5;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #ffffff;
  --md-sys-color-primary: #ffffff;
  --md-sys-color-primary-dim: #fffeff;
  --md-sys-color-on-primary: #000000;
  --md-sys-color-primary-container: #722479;
  --md-sys-color-on-primary-container: #ffffff;
  --md-sys-color-inverse-primary: #000000;
  --md-sys-color-primary-fixed: #722479;
  --md-sys-color-primary-fixed-dim: #65166c;
  --md-sys-color-on-primary-fixed: #ffffff;
  --md-sys-color-on-primary-fixed-variant: #fffeff;
  --md-sys-color-secondary: #ffffff;
  --md-sys-color-secondary-dim: #fffeff;
  --md-sys-color-on-secondary: #000000;
  --md-sys-color-secondary-container: #6f3813;
  --md-sys-color-on-secondary-container: #ffffff;
  --md-sys-color-secondary-fixed: #6f3813;
  --md-sys-color-secondary-fixed-dim: #612d08;
  --md-sys-color-on-secondary-fixed: #ffffff;
  --md-sys-color-on-secondary-fixed-variant: #fffeff;
  --md-sys-color-tertiary: #ffffff;
  --md-sys-color-tertiary-dim: #fffeff;
  --md-sys-color-on-tertiary: #000000;
  --md-sys-color-tertiary-container: #7b99ff;
  --md-sys-color-on-tertiary-container: #000000;
  --md-sys-color-tertiary-fixed: #7b99ff;
  --md-sys-color-tertiary-fixed-dim: #6d8bf1;
  --md-sys-color-on-tertiary-fixed: #000000;
  --md-sys-color-on-tertiary-fixed-variant: #000000;
  --md-sys-color-error: #ffffff;
  --md-sys-color-error-dim: #fffeff;
  --md-sys-color-on-error: #000000;
  --md-sys-color-error-container: #871c34;
  --md-sys-color-on-error-container: #ffffff;
}

