.light {
  --md-sys-color-primary-palette-key-color: #ea0fff;
  --md-sys-color-secondary-palette-key-color: #996e4d;
  --md-sys-color-tertiary-palette-key-color: #5b78a3;
  --md-sys-color-neutral-palette-key-color: #877276;
  --md-sys-color-neutral-variant-palette-key-color: #82727f;
  --md-sys-color-error-palette-key-color: #de3730;
  --md-sys-color-background: #fff8f7;
  --md-sys-color-on-background: #26181b;
  --md-sys-color-surface: #fff8f7;
  --md-sys-color-surface-dim: #eed4d8;
  --md-sys-color-surface-bright: #fff8f7;
  --md-sys-color-surface-container-lowest: #ffffff;
  --md-sys-color-surface-container-low: #fff0f1;
  --md-sys-color-surface-container: #ffe8eb;
  --md-sys-color-surface-container-high: #fce2e6;
  --md-sys-color-surface-container-highest: #f6dce0;
  --md-sys-color-on-surface: #26181b;
  --md-sys-color-surface-variant: #f1ddec;
  --md-sys-color-on-surface-variant: #50434f;
  --md-sys-color-inverse-surface: #3c2c2f;
  --md-sys-color-inverse-on-surface: #ffecee;
  --md-sys-color-outline: #827280;
  --md-sys-color-outline-variant: #d4c1d0;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #a500b4;
  --md-sys-color-primary: #a500b4;
  --md-sys-color-primary-dim: #b400c5;
  --md-sys-color-on-primary: #ffffff;
  --md-sys-color-primary-container: #ffd6fa;
  --md-sys-color-on-primary-container: #7e008a;
  --md-sys-color-inverse-primary: #ffa9fe;
  --md-sys-color-primary-fixed: #ffd6fa;
  --md-sys-color-primary-fixed-dim: #ffa9fe;
  --md-sys-color-on-primary-fixed: #36003c;
  --md-sys-color-on-primary-fixed-variant: #7e008a;
  --md-sys-color-secondary: #7e5637;
  --md-sys-color-secondary-dim: #885f3f;
  --md-sys-color-on-secondary: #ffffff;
  --md-sys-color-secondary-container: #ffdcc4;
  --md-sys-color-on-secondary-container: #633e22;
  --md-sys-color-secondary-fixed: #ffdcc4;
  --md-sys-color-secondary-fixed-dim: #f0bc96;
  --md-sys-color-on-secondary-fixed: #2f1400;
  --md-sys-color-on-secondary-fixed-variant: #633e22;
  --md-sys-color-tertiary: #426089;
  --md-sys-color-tertiary-dim: #4c6993;
  --md-sys-color-on-tertiary: #ffffff;
  --md-sys-color-tertiary-container: #d4e3ff;
  --md-sys-color-on-tertiary-container: #294870;
  --md-sys-color-tertiary-fixed: #d4e3ff;
  --md-sys-color-tertiary-fixed-dim: #abc8f7;
  --md-sys-color-on-tertiary-fixed: #001c3a;
  --md-sys-color-on-tertiary-fixed-variant: #294870;
  --md-sys-color-error: #ba1a1a;
  --md-sys-color-error-dim: #ac0c12;
  --md-sys-color-on-error: #ffffff;
  --md-sys-color-error-container: #ffdad6;
  --md-sys-color-on-error-container: #93000a;
  --md-sys-color-control-activated: #ffd6fa;
  --md-sys-color-control-normal: #50434f;
  --md-sys-color-control-highlight: #0000001f;
  --md-sys-color-text-primary-inverse: #f6dce0;
  --md-sys-color-text-secondary-and-tertiary-inverse: #d4c1d0;
  --md-sys-color-text-primary-inverse-disable-only: #f6dce0;
  --md-sys-color-text-secondary-and-tertiary-inverse-disabled: #f6dce0;
  --md-sys-color-text-hint-inverse: #f6dce0;
}

.light-medium-contrast {
  --md-sys-color-primary-palette-key-color: #ea0fff;
  --md-sys-color-secondary-palette-key-color: #996e4d;
  --md-sys-color-tertiary-palette-key-color: #5b78a3;
  --md-sys-color-neutral-palette-key-color: #877276;
  --md-sys-color-neutral-variant-palette-key-color: #82727f;
  --md-sys-color-error-palette-key-color: #de3730;
  --md-sys-color-background: #fff8f7;
  --md-sys-color-on-background: #26181b;
  --md-sys-color-surface: #fff8f7;
  --md-sys-color-surface-dim: #d9c0c4;
  --md-sys-color-surface-bright: #fff8f7;
  --md-sys-color-surface-container-lowest: #ffffff;
  --md-sys-color-surface-container-low: #fff0f1;
  --md-sys-color-surface-container: #fce2e6;
  --md-sys-color-surface-container-high: #f1d7da;
  --md-sys-color-surface-container-highest: #e5cbcf;
  --md-sys-color-on-surface: #1a0d10;
  --md-sys-color-surface-variant: #f1ddec;
  --md-sys-color-on-surface-variant: #3f323e;
  --md-sys-color-inverse-surface: #3c2c2f;
  --md-sys-color-inverse-on-surface: #ffecee;
  --md-sys-color-outline: #5d4e5b;
  --md-sys-color-outline-variant: #786875;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #a500b4;
  --md-sys-color-primary: #62006c;
  --md-sys-color-primary-dim: #7a0086;
  --md-sys-color-on-primary: #ffffff;
  --md-sys-color-primary-container: #bd00cf;
  --md-sys-color-on-primary-container: #ffffff;
  --md-sys-color-inverse-primary: #ffa9fe;
  --md-sys-color-primary-fixed: #bd00cf;
  --md-sys-color-primary-fixed-dim: #9500a3;
  --md-sys-color-on-primary-fixed: #ffffff;
  --md-sys-color-on-primary-fixed-variant: #ffffff;
  --md-sys-color-secondary: #4f2e13;
  --md-sys-color-secondary-dim: #603c20;
  --md-sys-color-on-secondary: #ffffff;
  --md-sys-color-secondary-container: #8e6444;
  --md-sys-color-on-secondary-container: #ffffff;
  --md-sys-color-secondary-fixed: #8e6444;
  --md-sys-color-secondary-fixed-dim: #734c2e;
  --md-sys-color-on-secondary-fixed: #ffffff;
  --md-sys-color-on-secondary-fixed-variant: #ffffff;
  --md-sys-color-tertiary: #16375e;
  --md-sys-color-tertiary-dim: #27456d;
  --md-sys-color-on-tertiary: #ffffff;
  --md-sys-color-tertiary-container: #516e98;
  --md-sys-color-on-tertiary-container: #ffffff;
  --md-sys-color-tertiary-fixed: #516e98;
  --md-sys-color-tertiary-fixed-dim: #38567f;
  --md-sys-color-on-tertiary-fixed: #ffffff;
  --md-sys-color-on-tertiary-fixed-variant: #ffffff;
  --md-sys-color-error: #740006;
  --md-sys-color-error-dim: #8f0009;
  --md-sys-color-on-error: #ffffff;
  --md-sys-color-error-container: #cf2c27;
  --md-sys-color-on-error-container: #ffffff;
  --md-sys-color-control-activated: #ffd6fa;
  --md-sys-color-control-normal: #50434f;
  --md-sys-color-control-highlight: #0000001f;
  --md-sys-color-text-primary-inverse: #f6dce0;
  --md-sys-color-text-secondary-and-tertiary-inverse: #d4c1d0;
  --md-sys-color-text-primary-inverse-disable-only: #f6dce0;
  --md-sys-color-text-secondary-and-tertiary-inverse-disabled: #f6dce0;
  --md-sys-color-text-hint-inverse: #f6dce0;
}

.light-high-contrast {
  --md-sys-color-primary-palette-key-color: #ea0fff;
  --md-sys-color-secondary-palette-key-color: #996e4d;
  --md-sys-color-tertiary-palette-key-color: #5b78a3;
  --md-sys-color-neutral-palette-key-color: #877276;
  --md-sys-color-neutral-variant-palette-key-color: #82727f;
  --md-sys-color-error-palette-key-color: #de3730;
  --md-sys-color-background: #fff8f7;
  --md-sys-color-on-background: #26181b;
  --md-sys-color-surface: #fff8f7;
  --md-sys-color-surface-dim: #cbb3b7;
  --md-sys-color-surface-bright: #fff8f7;
  --md-sys-color-surface-container-lowest: #ffffff;
  --md-sys-color-surface-container-low: #ffecee;
  --md-sys-color-surface-container: #f6dce0;
  --md-sys-color-surface-container-high: #e8ced2;
  --md-sys-color-surface-container-highest: #d9c0c4;
  --md-sys-color-on-surface: #000000;
  --md-sys-color-surface-variant: #f1ddec;
  --md-sys-color-on-surface-variant: #000000;
  --md-sys-color-inverse-surface: #3c2c2f;
  --md-sys-color-inverse-on-surface: #ffffff;
  --md-sys-color-outline: #352834;
  --md-sys-color-outline-variant: #534551;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #a500b4;
  --md-sys-color-primary: #52005a;
  --md-sys-color-primary-dim: #3d0043;
  --md-sys-color-on-primary: #ffffff;
  --md-sys-color-primary-container: #82008e;
  --md-sys-color-on-primary-container: #ffffff;
  --md-sys-color-inverse-primary: #ffa9fe;
  --md-sys-color-primary-fixed: #82008e;
  --md-sys-color-primary-fixed-dim: #5d0066;
  --md-sys-color-on-primary-fixed: #ffffff;
  --md-sys-color-on-primary-fixed-variant: #ffffff;
  --md-sys-color-secondary: #44240a;
  --md-sys-color-secondary-dim: #341801;
  --md-sys-color-on-secondary: #ffffff;
  --md-sys-color-secondary-container: #654124;
  --md-sys-color-on-secondary-container: #ffffff;
  --md-sys-color-secondary-fixed: #654124;
  --md-sys-color-secondary-fixed-dim: #4b2b10;
  --md-sys-color-on-secondary-fixed: #ffffff;
  --md-sys-color-on-secondary-fixed-variant: #ffffff;
  --md-sys-color-tertiary: #072d53;
  --md-sys-color-tertiary-dim: #002041;
  --md-sys-color-on-tertiary: #ffffff;
  --md-sys-color-tertiary-container: #2c4a72;
  --md-sys-color-on-tertiary-container: #ffffff;
  --md-sys-color-tertiary-fixed: #2c4a72;
  --md-sys-color-tertiary-fixed-dim: #11335a;
  --md-sys-color-on-tertiary-fixed: #ffffff;
  --md-sys-color-on-tertiary-fixed-variant: #ffffff;
  --md-sys-color-error: #600004;
  --md-sys-color-error-dim: #480002;
  --md-sys-color-on-error: #ffffff;
  --md-sys-color-error-container: #98000a;
  --md-sys-color-on-error-container: #ffffff;
  --md-sys-color-control-activated: #ffd6fa;
  --md-sys-color-control-normal: #50434f;
  --md-sys-color-control-highlight: #0000001f;
  --md-sys-color-text-primary-inverse: #f6dce0;
  --md-sys-color-text-secondary-and-tertiary-inverse: #d4c1d0;
  --md-sys-color-text-primary-inverse-disable-only: #f6dce0;
  --md-sys-color-text-secondary-and-tertiary-inverse-disabled: #f6dce0;
  --md-sys-color-text-hint-inverse: #f6dce0;
}

.dark {
  --md-sys-color-primary-palette-key-color: #ea0fff;
  --md-sys-color-secondary-palette-key-color: #996e4d;
  --md-sys-color-tertiary-palette-key-color: #5b78a3;
  --md-sys-color-neutral-palette-key-color: #877276;
  --md-sys-color-neutral-variant-palette-key-color: #82727f;
  --md-sys-color-error-palette-key-color: #de3730;
  --md-sys-color-background: #1d1013;
  --md-sys-color-on-background: #f6dce0;
  --md-sys-color-surface: #1d1013;
  --md-sys-color-surface-dim: #1d1013;
  --md-sys-color-surface-bright: #463538;
  --md-sys-color-surface-container-lowest: #170b0d;
  --md-sys-color-surface-container-low: #26181b;
  --md-sys-color-surface-container: #2a1c1f;
  --md-sys-color-surface-container-high: #352629;
  --md-sys-color-surface-container-highest: #413034;
  --md-sys-color-on-surface: #f6dce0;
  --md-sys-color-surface-variant: #50434f;
  --md-sys-color-on-surface-variant: #d4c1d0;
  --md-sys-color-inverse-surface: #f6dce0;
  --md-sys-color-inverse-on-surface: #3c2c2f;
  --md-sys-color-outline: #9d8c9a;
  --md-sys-color-outline-variant: #50434f;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #ffa9fe;
  --md-sys-color-primary: #ffa9fe;
  --md-sys-color-primary-dim: #ffc0fc;
  --md-sys-color-on-primary: #590062;
  --md-sys-color-primary-container: #7e008a;
  --md-sys-color-on-primary-container: #ffd6fa;
  --md-sys-color-inverse-primary: #a500b4;
  --md-sys-color-primary-fixed: #ffd6fa;
  --md-sys-color-primary-fixed-dim: #ffa9fe;
  --md-sys-color-on-primary-fixed: #36003c;
  --md-sys-color-on-primary-fixed-variant: #7e008a;
  --md-sys-color-secondary: #f0bc96;
  --md-sys-color-secondary-dim: #ffcaa4;
  --md-sys-color-on-secondary: #49290e;
  --md-sys-color-secondary-container: #633e22;
  --md-sys-color-on-secondary-container: #ffdcc4;
  --md-sys-color-secondary-fixed: #ffdcc4;
  --md-sys-color-secondary-fixed-dim: #f0bc96;
  --md-sys-color-on-secondary-fixed: #2f1400;
  --md-sys-color-on-secondary-fixed-variant: #633e22;
  --md-sys-color-tertiary: #abc8f7;
  --md-sys-color-tertiary-dim: #bdd6ff;
  --md-sys-color-on-tertiary: #0e3158;
  --md-sys-color-tertiary-container: #294870;
  --md-sys-color-on-tertiary-container: #d4e3ff;
  --md-sys-color-tertiary-fixed: #d4e3ff;
  --md-sys-color-tertiary-fixed-dim: #abc8f7;
  --md-sys-color-on-tertiary-fixed: #001c3a;
  --md-sys-color-on-tertiary-fixed-variant: #294870;
  --md-sys-color-error: #ffb4ab;
  --md-sys-color-error-dim: #ffc7c0;
  --md-sys-color-on-error: #690005;
  --md-sys-color-error-container: #93000a;
  --md-sys-color-on-error-container: #ffdad6;
  --md-sys-color-control-activated: #7e008a;
  --md-sys-color-control-normal: #d4c1d0;
  --md-sys-color-control-highlight: #ffffff33;
  --md-sys-color-text-primary-inverse: #26181b;
  --md-sys-color-text-secondary-and-tertiary-inverse: #50434f;
  --md-sys-color-text-primary-inverse-disable-only: #26181b;
  --md-sys-color-text-secondary-and-tertiary-inverse-disabled: #26181b;
  --md-sys-color-text-hint-inverse: #26181b;
}

.dark-medium-contrast {
  --md-sys-color-primary-palette-key-color: #ea0fff;
  --md-sys-color-secondary-palette-key-color: #996e4d;
  --md-sys-color-tertiary-palette-key-color: #5b78a3;
  --md-sys-color-neutral-palette-key-color: #877276;
  --md-sys-color-neutral-variant-palette-key-color: #82727f;
  --md-sys-color-error-palette-key-color: #de3730;
  --md-sys-color-background: #1d1013;
  --md-sys-color-on-background: #f6dce0;
  --md-sys-color-surface: #1d1013;
  --md-sys-color-surface-dim: #1d1013;
  --md-sys-color-surface-bright: #524043;
  --md-sys-color-surface-container-lowest: #0f0507;
  --md-sys-color-surface-container-low: #281a1d;
  --md-sys-color-surface-container: #332427;
  --md-sys-color-surface-container-high: #3f2e31;
  --md-sys-color-surface-container-highest: #4a393c;
  --md-sys-color-on-surface: #ffffff;
  --md-sys-color-surface-variant: #50434f;
  --md-sys-color-on-surface-variant: #ebd7e6;
  --md-sys-color-inverse-surface: #f6dce0;
  --md-sys-color-inverse-on-surface: #352629;
  --md-sys-color-outline: #bfacbb;
  --md-sys-color-outline-variant: #9c8b99;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #ffa9fe;
  --md-sys-color-primary: #ffcdfb;
  --md-sys-color-primary-dim: #ffc0fc;
  --md-sys-color-on-primary: #47004e;
  --md-sys-color-primary-container: #ed38ff;
  --md-sys-color-on-primary-container: #000000;
  --md-sys-color-inverse-primary: #80008c;
  --md-sys-color-primary-fixed: #ffd6fa;
  --md-sys-color-primary-fixed-dim: #ffa9fe;
  --md-sys-color-on-primary-fixed: #25002a;
  --md-sys-color-on-primary-fixed-variant: #62006c;
  --md-sys-color-secondary: #ffd4b6;
  --md-sys-color-secondary-dim: #ffcaa4;
  --md-sys-color-on-secondary: #3c1e05;
  --md-sys-color-secondary-container: #b68765;
  --md-sys-color-on-secondary-container: #000000;
  --md-sys-color-secondary-fixed: #ffdcc4;
  --md-sys-color-secondary-fixed-dim: #f0bc96;
  --md-sys-color-on-secondary-fixed: #200c00;
  --md-sys-color-on-secondary-fixed-variant: #4f2e13;
  --md-sys-color-tertiary: #caddff;
  --md-sys-color-tertiary-dim: #bdd6ff;
  --md-sys-color-on-tertiary: #00264b;
  --md-sys-color-tertiary-container: #7592be;
  --md-sys-color-on-tertiary-container: #000000;
  --md-sys-color-tertiary-fixed: #d4e3ff;
  --md-sys-color-tertiary-fixed-dim: #abc8f7;
  --md-sys-color-on-tertiary-fixed: #001128;
  --md-sys-color-on-tertiary-fixed-variant: #16375e;
  --md-sys-color-error: #ffd2cc;
  --md-sys-color-error-dim: #ffc7c0;
  --md-sys-color-on-error: #540003;
  --md-sys-color-error-container: #ff5449;
  --md-sys-color-on-error-container: #000000;
  --md-sys-color-control-activated: #7e008a;
  --md-sys-color-control-normal: #d4c1d0;
  --md-sys-color-control-highlight: #ffffff33;
  --md-sys-color-text-primary-inverse: #26181b;
  --md-sys-color-text-secondary-and-tertiary-inverse: #50434f;
  --md-sys-color-text-primary-inverse-disable-only: #26181b;
  --md-sys-color-text-secondary-and-tertiary-inverse-disabled: #26181b;
  --md-sys-color-text-hint-inverse: #26181b;
}

.dark-high-contrast {
  --md-sys-color-primary-palette-key-color: #ea0fff;
  --md-sys-color-secondary-palette-key-color: #996e4d;
  --md-sys-color-tertiary-palette-key-color: #5b78a3;
  --md-sys-color-neutral-palette-key-color: #877276;
  --md-sys-color-neutral-variant-palette-key-color: #82727f;
  --md-sys-color-error-palette-key-color: #de3730;
  --md-sys-color-background: #1d1013;
  --md-sys-color-on-background: #f6dce0;
  --md-sys-color-surface: #1d1013;
  --md-sys-color-surface-dim: #1d1013;
  --md-sys-color-surface-bright: #5e4b4f;
  --md-sys-color-surface-container-lowest: #000000;
  --md-sys-color-surface-container-low: #2a1c1f;
  --md-sys-color-surface-container: #3c2c2f;
  --md-sys-color-surface-container-high: #48373a;
  --md-sys-color-surface-container-highest: #544246;
  --md-sys-color-on-surface: #ffffff;
  --md-sys-color-surface-variant: #50434f;
  --md-sys-color-on-surface-variant: #ffffff;
  --md-sys-color-inverse-surface: #f6dce0;
  --md-sys-color-inverse-on-surface: #000000;
  --md-sys-color-outline: #ffeafa;
  --md-sys-color-outline-variant: #d0bdcc;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #ffa9fe;
  --md-sys-color-primary: #ffeafa;
  --md-sys-color-primary-dim: #fffeff;
  --md-sys-color-on-primary: #000000;
  --md-sys-color-primary-container: #ffa2ff;
  --md-sys-color-on-primary-container: #1c001f;
  --md-sys-color-inverse-primary: #80008c;
  --md-sys-color-primary-fixed: #ffd6fa;
  --md-sys-color-primary-fixed-dim: #ffa9fe;
  --md-sys-color-on-primary-fixed: #000000;
  --md-sys-color-on-primary-fixed-variant: #25002a;
  --md-sys-color-secondary: #ffece2;
  --md-sys-color-secondary-dim: #fffeff;
  --md-sys-color-on-secondary: #000000;
  --md-sys-color-secondary-container: #ecb892;
  --md-sys-color-on-secondary-container: #170700;
  --md-sys-color-secondary-fixed: #ffdcc4;
  --md-sys-color-secondary-fixed-dim: #f0bc96;
  --md-sys-color-on-secondary-fixed: #000000;
  --md-sys-color-on-secondary-fixed-variant: #200c00;
  --md-sys-color-tertiary: #eaf0ff;
  --md-sys-color-tertiary-dim: #fffeff;
  --md-sys-color-on-tertiary: #000000;
  --md-sys-color-tertiary-container: #a7c4f3;
  --md-sys-color-on-tertiary-container: #000b1e;
  --md-sys-color-tertiary-fixed: #d4e3ff;
  --md-sys-color-tertiary-fixed-dim: #abc8f7;
  --md-sys-color-on-tertiary-fixed: #000000;
  --md-sys-color-on-tertiary-fixed-variant: #001128;
  --md-sys-color-error: #ffece9;
  --md-sys-color-error-dim: #fffeff;
  --md-sys-color-on-error: #000000;
  --md-sys-color-error-container: #ffaea4;
  --md-sys-color-on-error-container: #220001;
  --md-sys-color-control-activated: #7e008a;
  --md-sys-color-control-normal: #d4c1d0;
  --md-sys-color-control-highlight: #ffffff33;
  --md-sys-color-text-primary-inverse: #26181b;
  --md-sys-color-text-secondary-and-tertiary-inverse: #50434f;
  --md-sys-color-text-primary-inverse-disable-only: #26181b;
  --md-sys-color-text-secondary-and-tertiary-inverse-disabled: #26181b;
  --md-sys-color-text-hint-inverse: #26181b;
}

