.light {
  --md-sys-color-primary-palette-key-color: #8069bf;
  --md-sys-color-secondary-palette-key-color: #7c7296;
  --md-sys-color-tertiary-palette-key-color: #b20087;
  --md-sys-color-neutral-palette-key-color: #7a767d;
  --md-sys-color-neutral-variant-palette-key-color: #7a7582;
  --md-sys-color-error-palette-key-color: #de3730;
  --md-sys-color-background: #fdf7ff;
  --md-sys-color-on-background: #343137;
  --md-sys-color-surface: #fdf7ff;
  --md-sys-color-surface-dim: #ded8e0;
  --md-sys-color-surface-bright: #fdf7ff;
  --md-sys-color-surface-container-lowest: #ffffff;
  --md-sys-color-surface-container-low: #f8f2fa;
  --md-sys-color-surface-container: #f2ecf4;
  --md-sys-color-surface-container-high: #ece6ee;
  --md-sys-color-surface-container-highest: #e6e0e9;
  --md-sys-color-on-surface: #343137;
  --md-sys-color-surface-variant: #e6e0e9;
  --md-sys-color-on-surface-variant: #615e64;
  --md-sys-color-inverse-surface: #0f0d13;
  --md-sys-color-inverse-on-surface: #a09ba3;
  --md-sys-color-outline: #7d7980;
  --md-sys-color-outline-variant: #b5b0b8;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #6750a5;
  --md-sys-color-primary: #6750a5;
  --md-sys-color-primary-dim: #5b4497;
  --md-sys-color-on-primary: #fdf7ff;
  --md-sys-color-primary-container: #bba2fd;
  --md-sys-color-on-primary-container: #381e72;
  --md-sys-color-inverse-primary: #bba2fd;
  --md-sys-color-primary-fixed: #bba2fd;
  --md-sys-color-primary-fixed-dim: #ad95ef;
  --md-sys-color-on-primary-fixed: #1e0053;
  --md-sys-color-on-primary-fixed-variant: #41297c;
  --md-sys-color-secondary: #645a7d;
  --md-sys-color-secondary-dim: #574e70;
  --md-sys-color-on-secondary: #fdf7ff;
  --md-sys-color-secondary-container: #e9ddff;
  --md-sys-color-on-secondary-container: #564d6e;
  --md-sys-color-secondary-fixed: #e9ddff;
  --md-sys-color-secondary-fixed-dim: #dbcef7;
  --md-sys-color-on-secondary-fixed: #433a5b;
  --md-sys-color-on-secondary-fixed-variant: #605679;
  --md-sys-color-tertiary: #b40088;
  --md-sys-color-tertiary-dim: #9e0077;
  --md-sys-color-on-tertiary: #fff7f8;
  --md-sys-color-tertiary-container: #ff89d0;
  --md-sys-color-on-tertiary-container: #610048;
  --md-sys-color-tertiary-fixed: #ff89d0;
  --md-sys-color-tertiary-fixed-dim: #ff6ecb;
  --md-sys-color-on-tertiary-fixed: #350026;
  --md-sys-color-on-tertiary-fixed-variant: #710054;
  --md-sys-color-error: #bb1b1b;
  --md-sys-color-error-dim: #a90810;
  --md-sys-color-on-error: #fff7f6;
  --md-sys-color-error-container: #fe4e44;
  --md-sys-color-on-error-container: #570003;
  --md-sys-color-control-activated: #bba2fd;
  --md-sys-color-control-normal: #615e64;
  --md-sys-color-control-highlight: #0000001f;
  --md-sys-color-text-primary-inverse: #a09ba3;
  --md-sys-color-text-secondary-and-tertiary-inverse: #cbc4d2;
  --md-sys-color-text-primary-inverse-disable-only: #e6e0e9;
  --md-sys-color-text-secondary-and-tertiary-inverse-disabled: #e6e0e9;
  --md-sys-color-text-hint-inverse: #e6e0e9;
}

.light-medium-contrast {
  --md-sys-color-primary-palette-key-color: #8069bf;
  --md-sys-color-secondary-palette-key-color: #7c7296;
  --md-sys-color-tertiary-palette-key-color: #b20087;
  --md-sys-color-neutral-palette-key-color: #7a767d;
  --md-sys-color-neutral-variant-palette-key-color: #7a7582;
  --md-sys-color-error-palette-key-color: #de3730;
  --md-sys-color-background: #fdf7ff;
  --md-sys-color-on-background: #252329;
  --md-sys-color-surface: #fdf7ff;
  --md-sys-color-surface-dim: #ded8e0;
  --md-sys-color-surface-bright: #fdf7ff;
  --md-sys-color-surface-container-lowest: #ffffff;
  --md-sys-color-surface-container-low: #f8f2fa;
  --md-sys-color-surface-container: #f2ecf4;
  --md-sys-color-surface-container-high: #ece6ee;
  --md-sys-color-surface-container-highest: #e6e0e9;
  --md-sys-color-on-surface: #252329;
  --md-sys-color-surface-variant: #e6e0e9;
  --md-sys-color-on-surface-variant: #444248;
  --md-sys-color-inverse-surface: #0f0d13;
  --md-sys-color-inverse-on-surface: #c8c3cb;
  --md-sys-color-outline: #615e64;
  --md-sys-color-outline-variant: #7d7980;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #4b3386;
  --md-sys-color-primary: #4b3386;
  --md-sys-color-primary-dim: #3f277a;
  --md-sys-color-on-primary: #e1d3ff;
  --md-sys-color-primary-container: #7e66bc;
  --md-sys-color-on-primary-container: #ffffff;
  --md-sys-color-inverse-primary: #bba2fd;
  --md-sys-color-primary-fixed: #7e66bc;
  --md-sys-color-primary-fixed-dim: #715aae;
  --md-sys-color-on-primary-fixed: #ffffff;
  --md-sys-color-on-primary-fixed-variant: #ffffff;
  --md-sys-color-secondary: #473e5f;
  --md-sys-color-secondary-dim: #3b3353;
  --md-sys-color-on-secondary: #e0d3fc;
  --md-sys-color-secondary-container: #796f93;
  --md-sys-color-on-secondary-container: #ffffff;
  --md-sys-color-secondary-fixed: #796f93;
  --md-sys-color-secondary-fixed-dim: #6d6386;
  --md-sys-color-on-secondary-fixed: #ffffff;
  --md-sys-color-on-secondary-fixed-variant: #ffffff;
  --md-sys-color-tertiary: #810061;
  --md-sys-color-tertiary-dim: #6d0052;
  --md-sys-color-on-tertiary: #ffcbe5;
  --md-sys-color-tertiary-container: #da00a5;
  --md-sys-color-on-tertiary-container: #ffffff;
  --md-sys-color-tertiary-fixed: #da00a5;
  --md-sys-color-tertiary-fixed-dim: #c40094;
  --md-sys-color-on-tertiary-fixed: #ffffff;
  --md-sys-color-on-tertiary-fixed-variant: #ffffff;
  --md-sys-color-error: #8c0009;
  --md-sys-color-error-dim: #760006;
  --md-sys-color-on-error: #ffcec8;
  --md-sys-color-error-container: #da342e;
  --md-sys-color-on-error-container: #ffffff;
  --md-sys-color-control-activated: #7e66bc;
  --md-sys-color-control-normal: #444248;
  --md-sys-color-control-highlight: #0000001f;
  --md-sys-color-text-primary-inverse: #c8c3cb;
  --md-sys-color-text-secondary-and-tertiary-inverse: #cbc4d2;
  --md-sys-color-text-primary-inverse-disable-only: #e6e0e9;
  --md-sys-color-text-secondary-and-tertiary-inverse-disabled: #e6e0e9;
  --md-sys-color-text-hint-inverse: #e6e0e9;
}

.light-high-contrast {
  --md-sys-color-primary-palette-key-color: #8069bf;
  --md-sys-color-secondary-palette-key-color: #7c7296;
  --md-sys-color-tertiary-palette-key-color: #b20087;
  --md-sys-color-neutral-palette-key-color: #7a767d;
  --md-sys-color-neutral-variant-palette-key-color: #7a7582;
  --md-sys-color-error-palette-key-color: #de3730;
  --md-sys-color-background: #fdf7ff;
  --md-sys-color-on-background: #000000;
  --md-sys-color-surface: #fdf7ff;
  --md-sys-color-surface-dim: #ded8e0;
  --md-sys-color-surface-bright: #fdf7ff;
  --md-sys-color-surface-container-lowest: #ffffff;
  --md-sys-color-surface-container-low: #f8f2fa;
  --md-sys-color-surface-container: #f2ecf4;
  --md-sys-color-surface-container-high: #ece6ee;
  --md-sys-color-surface-container-highest: #e6e0e9;
  --md-sys-color-on-surface: #000000;
  --md-sys-color-surface-variant: #e6e0e9;
  --md-sys-color-on-surface-variant: #252329;
  --md-sys-color-inverse-surface: #0f0d13;
  --md-sys-color-inverse-on-surface: #ffffff;
  --md-sys-color-outline: #444248;
  --md-sys-color-outline-variant: #615e64;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #2b0d65;
  --md-sys-color-primary: #2b0d65;
  --md-sys-color-primary-dim: #200058;
  --md-sys-color-on-primary: #e1d3ff;
  --md-sys-color-primary-container: #6750a5;
  --md-sys-color-on-primary-container: #ffffff;
  --md-sys-color-inverse-primary: #cebaff;
  --md-sys-color-primary-fixed: #6750a5;
  --md-sys-color-primary-fixed-dim: #5b4497;
  --md-sys-color-on-primary-fixed: #ffffff;
  --md-sys-color-on-primary-fixed-variant: #ffffff;
  --md-sys-color-secondary: #271f3e;
  --md-sys-color-secondary-dim: #1d1433;
  --md-sys-color-on-secondary: #e1d4fd;
  --md-sys-color-secondary-container: #645a7d;
  --md-sys-color-on-secondary-container: #ffffff;
  --md-sys-color-secondary-fixed: #645a7d;
  --md-sys-color-secondary-fixed-dim: #574e70;
  --md-sys-color-on-secondary-fixed: #ffffff;
  --md-sys-color-on-secondary-fixed-variant: #ffffff;
  --md-sys-color-tertiary: #4b0037;
  --md-sys-color-tertiary-dim: #390029;
  --md-sys-color-on-tertiary: #ffcce6;
  --md-sys-color-tertiary-container: #b40088;
  --md-sys-color-on-tertiary-container: #ffffff;
  --md-sys-color-tertiary-fixed: #b40088;
  --md-sys-color-tertiary-fixed-dim: #9e0077;
  --md-sys-color-on-tertiary-fixed: #ffffff;
  --md-sys-color-on-tertiary-fixed-variant: #ffffff;
  --md-sys-color-error: #510003;
  --md-sys-color-error-dim: #3e0002;
  --md-sys-color-on-error: #ffcfc9;
  --md-sys-color-error-container: #bb1b1b;
  --md-sys-color-on-error-container: #ffffff;
  --md-sys-color-control-activated: #6750a5;
  --md-sys-color-control-normal: #252329;
  --md-sys-color-control-highlight: #0000001f;
  --md-sys-color-text-primary-inverse: #ffffff;
  --md-sys-color-text-secondary-and-tertiary-inverse: #cbc4d2;
  --md-sys-color-text-primary-inverse-disable-only: #e6e0e9;
  --md-sys-color-text-secondary-and-tertiary-inverse-disabled: #e6e0e9;
  --md-sys-color-text-hint-inverse: #e6e0e9;
}

.dark {
  --md-sys-color-primary-palette-key-color: #8069bf;
  --md-sys-color-secondary-palette-key-color: #7c7296;
  --md-sys-color-tertiary-palette-key-color: #b20087;
  --md-sys-color-neutral-palette-key-color: #7a767d;
  --md-sys-color-neutral-variant-palette-key-color: #7a7582;
  --md-sys-color-error-palette-key-color: #de3730;
  --md-sys-color-background: #0f0d13;
  --md-sys-color-on-background: #e9e3eb;
  --md-sys-color-surface: #0f0d13;
  --md-sys-color-surface-dim: #0f0d13;
  --md-sys-color-surface-bright: #2d2b31;
  --md-sys-color-surface-container-lowest: #000000;
  --md-sys-color-surface-container-low: #141218;
  --md-sys-color-surface-container: #1b191e;
  --md-sys-color-surface-container-high: #211f24;
  --md-sys-color-surface-container-highest: #27252b;
  --md-sys-color-on-surface: #e9e3eb;
  --md-sys-color-surface-variant: #27252b;
  --md-sys-color-on-surface-variant: #aea9b1;
  --md-sys-color-inverse-surface: #fdf7ff;
  --md-sys-color-inverse-on-surface: #57545a;
  --md-sys-color-outline: #78747b;
  --md-sys-color-outline-variant: #4a474d;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #bba2fd;
  --md-sys-color-primary: #bba2fd;
  --md-sys-color-primary-dim: #ad95ef;
  --md-sys-color-on-primary: #381e72;
  --md-sys-color-primary-container: #ab92ec;
  --md-sys-color-on-primary-container: #2a0b64;
  --md-sys-color-inverse-primary: #6750a4;
  --md-sys-color-primary-fixed: #bba2fd;
  --md-sys-color-primary-fixed-dim: #ad95ef;
  --md-sys-color-on-primary-fixed: #1e0053;
  --md-sys-color-on-primary-fixed-variant: #41297c;
  --md-sys-color-secondary: #cdc0e9;
  --md-sys-color-secondary-dim: #bfb3da;
  --md-sys-color-on-secondary: #443b5c;
  --md-sys-color-secondary-container: #3f3657;
  --md-sys-color-on-secondary-container: #c6b9e1;
  --md-sys-color-secondary-fixed: #e9ddff;
  --md-sys-color-secondary-fixed-dim: #dbcef7;
  --md-sys-color-on-secondary-fixed: #433a5b;
  --md-sys-color-on-secondary-fixed-variant: #605679;
  --md-sys-color-tertiary: #ff61c9;
  --md-sys-color-tertiary-dim: #ff61c9;
  --md-sys-color-on-tertiary: #440031;
  --md-sys-color-tertiary-container: #fe00c2;
  --md-sys-color-on-tertiary-container: #000000;
  --md-sys-color-tertiary-fixed: #ff89d0;
  --md-sys-color-tertiary-fixed-dim: #ff6ecb;
  --md-sys-color-on-tertiary-fixed: #350026;
  --md-sys-color-on-tertiary-fixed-variant: #710054;
  --md-sys-color-error: #ff7164;
  --md-sys-color-error-dim: #da342e;
  --md-sys-color-on-error: #4a0002;
  --md-sys-color-error-container: #ac0c12;
  --md-sys-color-on-error-container: #ffb8b0;
  --md-sys-color-control-activated: #ab92ec;
  --md-sys-color-control-normal: #aea9b1;
  --md-sys-color-control-highlight: #ffffff33;
  --md-sys-color-text-primary-inverse: #57545a;
  --md-sys-color-text-secondary-and-tertiary-inverse: #494551;
  --md-sys-color-text-primary-inverse-disable-only: #1d1b20;
  --md-sys-color-text-secondary-and-tertiary-inverse-disabled: #1d1b20;
  --md-sys-color-text-hint-inverse: #1d1b20;
}

.dark-medium-contrast {
  --md-sys-color-primary-palette-key-color: #8069bf;
  --md-sys-color-secondary-palette-key-color: #7c7296;
  --md-sys-color-tertiary-palette-key-color: #b20087;
  --md-sys-color-neutral-palette-key-color: #7a767d;
  --md-sys-color-neutral-variant-palette-key-color: #7a7582;
  --md-sys-color-error-palette-key-color: #de3730;
  --md-sys-color-background: #0f0d13;
  --md-sys-color-on-background: #ffffff;
  --md-sys-color-surface: #0f0d13;
  --md-sys-color-surface-dim: #0f0d13;
  --md-sys-color-surface-bright: #2d2b31;
  --md-sys-color-surface-container-lowest: #000000;
  --md-sys-color-surface-container-low: #141218;
  --md-sys-color-surface-container: #1b191e;
  --md-sys-color-surface-container-high: #211f24;
  --md-sys-color-surface-container-highest: #27252b;
  --md-sys-color-on-surface: #ffffff;
  --md-sys-color-surface-variant: #27252b;
  --md-sys-color-on-surface-variant: #bcb7bf;
  --md-sys-color-inverse-surface: #fdf7ff;
  --md-sys-color-inverse-on-surface: #3a373d;
  --md-sys-color-outline: #969299;
  --md-sys-color-outline-variant: #78747b;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #c3acff;
  --md-sys-color-primary: #c3acff;
  --md-sys-color-primary-dim: #b59df7;
  --md-sys-color-on-primary: #33196e;
  --md-sys-color-primary-container: #ab92ec;
  --md-sys-color-on-primary-container: #1a004a;
  --md-sys-color-inverse-primary: #5d469a;
  --md-sys-color-primary-fixed: #bba2fd;
  --md-sys-color-primary-fixed-dim: #ad95ef;
  --md-sys-color-on-primary-fixed: #000000;
  --md-sys-color-on-primary-fixed-variant: #1e0053;
  --md-sys-color-secondary: #cdc0e9;
  --md-sys-color-secondary-dim: #bfb3da;
  --md-sys-color-on-secondary: #3a3151;
  --md-sys-color-secondary-container: #796f93;
  --md-sys-color-on-secondary-container: #ffffff;
  --md-sys-color-secondary-fixed: #e9ddff;
  --md-sys-color-secondary-fixed-dim: #dbcef7;
  --md-sys-color-on-secondary-fixed: #231a39;
  --md-sys-color-on-secondary-fixed-variant: #433a5b;
  --md-sys-color-tertiary: #ff97d4;
  --md-sys-color-tertiary-dim: #ff7dce;
  --md-sys-color-on-tertiary: #590042;
  --md-sys-color-tertiary-container: #ff61c9;
  --md-sys-color-on-tertiary-container: #28001c;
  --md-sys-color-tertiary-fixed: #ff89d0;
  --md-sys-color-tertiary-fixed-dim: #ff6ecb;
  --md-sys-color-on-tertiary-fixed: #000000;
  --md-sys-color-on-tertiary-fixed-variant: #350026;
  --md-sys-color-error: #ff9f94;
  --md-sys-color-error-dim: #ff887c;
  --md-sys-color-on-error: #600004;
  --md-sys-color-error-container: #da342e;
  --md-sys-color-on-error-container: #ffffff;
  --md-sys-color-control-activated: #ab92ec;
  --md-sys-color-control-normal: #bcb7bf;
  --md-sys-color-control-highlight: #ffffff33;
  --md-sys-color-text-primary-inverse: #3a373d;
  --md-sys-color-text-secondary-and-tertiary-inverse: #494551;
  --md-sys-color-text-primary-inverse-disable-only: #1d1b20;
  --md-sys-color-text-secondary-and-tertiary-inverse-disabled: #1d1b20;
  --md-sys-color-text-hint-inverse: #1d1b20;
}

.dark-high-contrast {
  --md-sys-color-primary-palette-key-color: #8069bf;
  --md-sys-color-secondary-palette-key-color: #7c7296;
  --md-sys-color-tertiary-palette-key-color: #b20087;
  --md-sys-color-neutral-palette-key-color: #7a767d;
  --md-sys-color-neutral-variant-palette-key-color: #7a7582;
  --md-sys-color-error-palette-key-color: #de3730;
  --md-sys-color-background: #0f0d13;
  --md-sys-color-on-background: #ffffff;
  --md-sys-color-surface: #0f0d13;
  --md-sys-color-surface-dim: #0f0d13;
  --md-sys-color-surface-bright: #2d2b31;
  --md-sys-color-surface-container-lowest: #000000;
  --md-sys-color-surface-container-low: #141218;
  --md-sys-color-surface-container: #1b191e;
  --md-sys-color-surface-container-high: #211f24;
  --md-sys-color-surface-container-highest: #27252b;
  --md-sys-color-on-surface: #ffffff;
  --md-sys-color-surface-variant: #27252b;
  --md-sys-color-on-surface-variant: #e9e3eb;
  --md-sys-color-inverse-surface: #fdf7ff;
  --md-sys-color-inverse-on-surface: #000000;
  --md-sys-color-outline: #bcb7bf;
  --md-sys-color-outline-variant: #969299;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #ebe1ff;
  --md-sys-color-primary: #ebe1ff;
  --md-sys-color-primary-dim: #dccdff;
  --md-sys-color-on-primary: #33196e;
  --md-sys-color-primary-container: #ab92ec;
  --md-sys-color-on-primary-container: #000000;
  --md-sys-color-inverse-primary: #40277a;
  --md-sys-color-primary-fixed: #bba2fd;
  --md-sys-color-primary-fixed-dim: #ad95ef;
  --md-sys-color-on-primary-fixed: #000000;
  --md-sys-color-on-primary-fixed-variant: #000000;
  --md-sys-color-secondary: #ebe1ff;
  --md-sys-color-secondary-dim: #ded1fa;
  --md-sys-color-on-secondary: #2f2746;
  --md-sys-color-secondary-container: #a398be;
  --md-sys-color-on-secondary-container: #000000;
  --md-sys-color-secondary-fixed: #e9ddff;
  --md-sys-color-secondary-fixed-dim: #dbcef7;
  --md-sys-color-on-secondary-fixed: #000000;
  --md-sys-color-on-secondary-fixed-variant: #231a39;
  --md-sys-color-tertiary: #ffdcec;
  --md-sys-color-tertiary-dim: #ffc4e3;
  --md-sys-color-on-tertiary: #590042;
  --md-sys-color-tertiary-container: #ff61c9;
  --md-sys-color-on-tertiary-container: #000000;
  --md-sys-color-tertiary-fixed: #ff89d0;
  --md-sys-color-tertiary-fixed-dim: #ff6ecb;
  --md-sys-color-on-tertiary-fixed: #000000;
  --md-sys-color-on-tertiary-fixed-variant: #000000;
  --md-sys-color-error: #ffdeda;
  --md-sys-color-error-dim: #ffc8c1;
  --md-sys-color-on-error: #600004;
  --md-sys-color-error-container: #ff7164;
  --md-sys-color-on-error-container: #000000;
  --md-sys-color-control-activated: #ab92ec;
  --md-sys-color-control-normal: #e9e3eb;
  --md-sys-color-control-highlight: #ffffff33;
  --md-sys-color-text-primary-inverse: #000000;
  --md-sys-color-text-secondary-and-tertiary-inverse: #494551;
  --md-sys-color-text-primary-inverse-disable-only: #1d1b20;
  --md-sys-color-text-secondary-and-tertiary-inverse-disabled: #1d1b20;
  --md-sys-color-text-hint-inverse: #1d1b20;
}

