.light {
  --md-sys-color-primary-palette-key-color: #8069bf;
  --md-sys-color-secondary-palette-key-color: #647e5c;
  --md-sys-color-tertiary-palette-key-color: #4f8437;
  --md-sys-color-neutral-palette-key-color: #7f728b;
  --md-sys-color-neutral-variant-palette-key-color: #8a69ae;
  --md-sys-color-error-palette-key-color: #cb495f;
  --md-sys-color-background: #fff7ff;
  --md-sys-color-on-background: #3d2a51;
  --md-sys-color-surface: #fff7ff;
  --md-sys-color-surface-dim: #e9d1ff;
  --md-sys-color-surface-bright: #fff7ff;
  --md-sys-color-surface-container-lowest: #ffffff;
  --md-sys-color-surface-container-low: #fbf0ff;
  --md-sys-color-surface-container: #f7e9ff;
  --md-sys-color-surface-container-high: #f3e2ff;
  --md-sys-color-surface-container-highest: #efdbff;
  --md-sys-color-on-surface: #3d2a51;
  --md-sys-color-surface-variant: #efdbff;
  --md-sys-color-on-surface-variant: #6b5681;
  --md-sys-color-inverse-surface: #130a1e;
  --md-sys-color-inverse-on-surface: #a697b2;
  --md-sys-color-outline: #88729e;
  --md-sys-color-outline-variant: #c1a8d8;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #6850a5;
  --md-sys-color-primary: #6850a5;
  --md-sys-color-primary-dim: #5b4498;
  --md-sys-color-on-primary: #fdf7ff;
  --md-sys-color-primary-container: #cab6ff;
  --md-sys-color-on-primary-container: #442c7f;
  --md-sys-color-inverse-primary: #bba2fe;
  --md-sys-color-primary-fixed: #cab6ff;
  --md-sys-color-primary-fixed-dim: #bea5ff;
  --md-sys-color-on-primary-fixed: #2f1369;
  --md-sys-color-on-primary-fixed-variant: #4d3689;
  --md-sys-color-secondary: #4d6645;
  --md-sys-color-secondary-dim: #41593a;
  --md-sys-color-on-secondary: #ebffe0;
  --md-sys-color-secondary-container: #d3f1c7;
  --md-sys-color-on-secondary-container: #435b3c;
  --md-sys-color-secondary-fixed: #d3f1c7;
  --md-sys-color-secondary-fixed-dim: #c5e2ba;
  --md-sys-color-on-secondary-fixed: #31492b;
  --md-sys-color-on-secondary-fixed-variant: #4d6645;
  --md-sys-color-tertiary: #376b21;
  --md-sys-color-tertiary-dim: #2b5e15;
  --md-sys-color-on-tertiary: #ecffdc;
  --md-sys-color-tertiary-container: #c2ffa2;
  --md-sys-color-on-tertiary-container: #31641b;
  --md-sys-color-tertiary-fixed: #c2ffa2;
  --md-sys-color-tertiary-fixed-dim: #b4f095;
  --md-sys-color-on-tertiary-fixed: #1e5107;
  --md-sys-color-on-tertiary-fixed-variant: #3b6f24;
  --md-sys-color-error: #ac3149;
  --md-sys-color-error-dim: #770326;
  --md-sys-color-on-error: #fff7f7;
  --md-sys-color-error-container: #f76a80;
  --md-sys-color-on-error-container: #68001f;
}

.light-medium-contrast {
  --md-sys-color-primary-palette-key-color: #8069bf;
  --md-sys-color-secondary-palette-key-color: #647e5c;
  --md-sys-color-tertiary-palette-key-color: #4f8437;
  --md-sys-color-neutral-palette-key-color: #7f728b;
  --md-sys-color-neutral-variant-palette-key-color: #8a69ae;
  --md-sys-color-error-palette-key-color: #cb495f;
  --md-sys-color-background: #fff7ff;
  --md-sys-color-on-background: #2d1b42;
  --md-sys-color-surface: #fff7ff;
  --md-sys-color-surface-dim: #e9d1ff;
  --md-sys-color-surface-bright: #fff7ff;
  --md-sys-color-surface-container-lowest: #ffffff;
  --md-sys-color-surface-container-low: #fbf0ff;
  --md-sys-color-surface-container: #f7e9ff;
  --md-sys-color-surface-container-high: #f3e2ff;
  --md-sys-color-surface-container-highest: #efdbff;
  --md-sys-color-on-surface: #2d1b42;
  --md-sys-color-surface-variant: #efdbff;
  --md-sys-color-on-surface-variant: #4e3a63;
  --md-sys-color-inverse-surface: #130a1e;
  --md-sys-color-inverse-on-surface: #cfbfdb;
  --md-sys-color-outline: #6b5681;
  --md-sys-color-outline-variant: #88729e;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #4b3386;
  --md-sys-color-primary: #4b3386;
  --md-sys-color-primary-dim: #3f277a;
  --md-sys-color-on-primary: #e1d3ff;
  --md-sys-color-primary-container: #7e66bc;
  --md-sys-color-on-primary-container: #ffffff;
  --md-sys-color-inverse-primary: #bba2fe;
  --md-sys-color-primary-fixed: #7e66bc;
  --md-sys-color-primary-fixed-dim: #715aaf;
  --md-sys-color-on-primary-fixed: #ffffff;
  --md-sys-color-on-primary-fixed-variant: #ffffff;
  --md-sys-color-secondary: #31492b;
  --md-sys-color-secondary-dim: #263d21;
  --md-sys-color-on-secondary: #c5e2b9;
  --md-sys-color-secondary-container: #627c5a;
  --md-sys-color-on-secondary-container: #ffffff;
  --md-sys-color-secondary-fixed: #627c5a;
  --md-sys-color-secondary-fixed-dim: #556f4e;
  --md-sys-color-on-secondary-fixed: #ffffff;
  --md-sys-color-on-secondary-fixed-variant: #ffffff;
  --md-sys-color-tertiary: #1a4d04;
  --md-sys-color-tertiary-dim: #124100;
  --md-sys-color-on-tertiary: #aeea90;
  --md-sys-color-tertiary-container: #4c8135;
  --md-sys-color-on-tertiary-container: #ffffff;
  --md-sys-color-tertiary-fixed: #4c8135;
  --md-sys-color-tertiary-fixed-dim: #407429;
  --md-sys-color-on-tertiary-fixed: #ffffff;
  --md-sys-color-on-tertiary-fixed-variant: #ffffff;
  --md-sys-color-error: #85112f;
  --md-sys-color-error-dim: #740124;
  --md-sys-color-on-error: #ffcdd1;
  --md-sys-color-error-container: #c8475d;
  --md-sys-color-on-error-container: #ffffff;
}

.light-high-contrast {
  --md-sys-color-primary-palette-key-color: #8069bf;
  --md-sys-color-secondary-palette-key-color: #647e5c;
  --md-sys-color-tertiary-palette-key-color: #4f8437;
  --md-sys-color-neutral-palette-key-color: #7f728b;
  --md-sys-color-neutral-variant-palette-key-color: #8a69ae;
  --md-sys-color-error-palette-key-color: #cb495f;
  --md-sys-color-background: #fff7ff;
  --md-sys-color-on-background: #000000;
  --md-sys-color-surface: #fff7ff;
  --md-sys-color-surface-dim: #e9d1ff;
  --md-sys-color-surface-bright: #fff7ff;
  --md-sys-color-surface-container-lowest: #ffffff;
  --md-sys-color-surface-container-low: #fbf0ff;
  --md-sys-color-surface-container: #f7e9ff;
  --md-sys-color-surface-container-high: #f3e2ff;
  --md-sys-color-surface-container-highest: #efdbff;
  --md-sys-color-on-surface: #000000;
  --md-sys-color-surface-variant: #efdbff;
  --md-sys-color-on-surface-variant: #2d1b42;
  --md-sys-color-inverse-surface: #130a1e;
  --md-sys-color-inverse-on-surface: #ffffff;
  --md-sys-color-outline: #4e3a63;
  --md-sys-color-outline-variant: #6b5681;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #2b0d66;
  --md-sys-color-primary: #2b0d66;
  --md-sys-color-primary-dim: #200058;
  --md-sys-color-on-primary: #e1d3ff;
  --md-sys-color-primary-container: #6850a5;
  --md-sys-color-on-primary-container: #ffffff;
  --md-sys-color-inverse-primary: #cebaff;
  --md-sys-color-primary-fixed: #6850a5;
  --md-sys-color-primary-fixed-dim: #5b4498;
  --md-sys-color-on-primary-fixed: #ffffff;
  --md-sys-color-on-primary-fixed-variant: #ffffff;
  --md-sys-color-secondary: #12290f;
  --md-sys-color-secondary-dim: #081e06;
  --md-sys-color-on-secondary: #c5e2ba;
  --md-sys-color-secondary-container: #4d6645;
  --md-sys-color-on-secondary-container: #ffffff;
  --md-sys-color-secondary-fixed: #4d6645;
  --md-sys-color-secondary-fixed-dim: #41593a;
  --md-sys-color-on-secondary-fixed: #ffffff;
  --md-sys-color-on-secondary-fixed-variant: #ffffff;
  --md-sys-color-tertiary: #092a00;
  --md-sys-color-tertiary-dim: #051f00;
  --md-sys-color-on-tertiary: #aeea90;
  --md-sys-color-tertiary-container: #376b21;
  --md-sys-color-on-tertiary-container: #ffffff;
  --md-sys-color-tertiary-fixed: #376b21;
  --md-sys-color-tertiary-fixed-dim: #2b5e15;
  --md-sys-color-on-tertiary-fixed: #ffffff;
  --md-sys-color-on-tertiary-fixed-variant: #ffffff;
  --md-sys-color-error: #500016;
  --md-sys-color-error-dim: #3d000f;
  --md-sys-color-on-error: #ffced2;
  --md-sys-color-error-container: #ac3149;
  --md-sys-color-on-error-container: #ffffff;
}

.dark {
  --md-sys-color-primary-palette-key-color: #7e6ea9;
  --md-sys-color-secondary-palette-key-color: #6c7c66;
  --md-sys-color-tertiary-palette-key-color: #4f8437;
  --md-sys-color-neutral-palette-key-color: #7e7386;
  --md-sys-color-neutral-variant-palette-key-color: #856d9f;
  --md-sys-color-error-palette-key-color: #cb495f;
  --md-sys-color-background: #120b1a;
  --md-sys-color-on-background: #f1dfff;
  --md-sys-color-surface: #120b1a;
  --md-sys-color-surface-dim: #120b1a;
  --md-sys-color-surface-bright: #312939;
  --md-sys-color-surface-container-lowest: #000000;
  --md-sys-color-surface-container-low: #181021;
  --md-sys-color-surface-container: #1f152a;
  --md-sys-color-surface-container-high: #261a33;
  --md-sys-color-surface-container-highest: #2d203c;
  --md-sys-color-on-surface: #f1dfff;
  --md-sys-color-surface-variant: #2d203c;
  --md-sys-color-on-surface-variant: #b7a4c7;
  --md-sys-color-inverse-surface: #fff7ff;
  --md-sys-color-inverse-on-surface: #5b5163;
  --md-sys-color-outline: #7f6f90;
  --md-sys-color-outline-variant: #504260;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #d4c3ff;
  --md-sys-color-primary: #d4c3ff;
  --md-sys-color-primary-dim: #c7b4f5;
  --md-sys-color-on-primary: #4a3a72;
  --md-sys-color-primary-container: #c7b4f5;
  --md-sys-color-on-primary-container: #403168;
  --md-sys-color-inverse-primary: #65568f;
  --md-sys-color-primary-fixed: #c9b7f8;
  --md-sys-color-primary-fixed-dim: #bcaaea;
  --md-sys-color-on-primary-fixed: #2d1d54;
  --md-sys-color-on-primary-fixed-variant: #4b3c74;
  --md-sys-color-secondary: #bbcbb2;
  --md-sys-color-secondary-dim: #adbea5;
  --md-sys-color-on-secondary: #364431;
  --md-sys-color-secondary-container: #1c2918;
  --md-sys-color-on-secondary-container: #98a990;
  --md-sys-color-secondary-fixed: #e5f6db;
  --md-sys-color-secondary-fixed-dim: #d7e8cd;
  --md-sys-color-on-secondary-fixed: #3d4c38;
  --md-sys-color-on-secondary-fixed-variant: #596953;
  --md-sys-color-tertiary: #edffdf;
  --md-sys-color-tertiary-dim: #bffca0;
  --md-sys-color-on-tertiary: #376b21;
  --md-sys-color-tertiary-container: #bffca0;
  --md-sys-color-on-tertiary-container: #2f6219;
  --md-sys-color-tertiary-fixed: #c2ffa2;
  --md-sys-color-tertiary-fixed-dim: #b4f095;
  --md-sys-color-on-tertiary-fixed: #1e5107;
  --md-sys-color-on-tertiary-fixed-variant: #3b6f24;
  --md-sys-color-error: #fd6f85;
  --md-sys-color-error-dim: #c8475d;
  --md-sys-color-on-error: #490013;
  --md-sys-color-error-container: #8a1632;
  --md-sys-color-on-error-container: #ff97a3;
}

.dark-medium-contrast {
  --md-sys-color-primary-palette-key-color: #7e6ea9;
  --md-sys-color-secondary-palette-key-color: #6c7c66;
  --md-sys-color-tertiary-palette-key-color: #4f8437;
  --md-sys-color-neutral-palette-key-color: #7e7386;
  --md-sys-color-neutral-variant-palette-key-color: #856d9f;
  --md-sys-color-error-palette-key-color: #cb495f;
  --md-sys-color-background: #120b1a;
  --md-sys-color-on-background: #ffffff;
  --md-sys-color-surface: #120b1a;
  --md-sys-color-surface-dim: #120b1a;
  --md-sys-color-surface-bright: #312939;
  --md-sys-color-surface-container-lowest: #000000;
  --md-sys-color-surface-container-low: #181021;
  --md-sys-color-surface-container: #1f152a;
  --md-sys-color-surface-container-high: #261a33;
  --md-sys-color-surface-container-highest: #2d203c;
  --md-sys-color-on-surface: #ffffff;
  --md-sys-color-surface-variant: #2d203c;
  --md-sys-color-on-surface-variant: #c5b1d5;
  --md-sys-color-inverse-surface: #fff7ff;
  --md-sys-color-inverse-on-surface: #3d3545;
  --md-sys-color-outline: #9e8daf;
  --md-sys-color-outline-variant: #7f6f90;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #d4c3ff;
  --md-sys-color-primary: #d4c3ff;
  --md-sys-color-primary-dim: #c7b4f5;
  --md-sys-color-on-primary: #3f3067;
  --md-sys-color-primary-container: #c7b4f5;
  --md-sys-color-on-primary-container: #36265d;
  --md-sys-color-inverse-primary: #5b4c85;
  --md-sys-color-primary-fixed: #c9b7f8;
  --md-sys-color-primary-fixed-dim: #bcaaea;
  --md-sys-color-on-primary-fixed: #000000;
  --md-sys-color-on-primary-fixed-variant: #2d1d54;
  --md-sys-color-secondary: #bbcbb2;
  --md-sys-color-secondary-dim: #adbea5;
  --md-sys-color-on-secondary: #2c3a27;
  --md-sys-color-secondary-container: #697963;
  --md-sys-color-on-secondary-container: #ffffff;
  --md-sys-color-secondary-fixed: #e5f6db;
  --md-sys-color-secondary-fixed-dim: #d7e8cd;
  --md-sys-color-on-secondary-fixed: #202e1c;
  --md-sys-color-on-secondary-fixed-variant: #3d4c38;
  --md-sys-color-tertiary: #edffdf;
  --md-sys-color-tertiary-dim: #bffca0;
  --md-sys-color-on-tertiary: #2d6017;
  --md-sys-color-tertiary-container: #bffca0;
  --md-sys-color-on-tertiary-container: #25580f;
  --md-sys-color-tertiary-fixed: #c2ffa2;
  --md-sys-color-tertiary-fixed-dim: #b4f095;
  --md-sys-color-on-tertiary-fixed: #0b2f00;
  --md-sys-color-on-tertiary-fixed-variant: #1e5107;
  --md-sys-color-error: #ff9da8;
  --md-sys-color-error-dim: #ff8695;
  --md-sys-color-on-error: #5f001c;
  --md-sys-color-error-container: #c8475d;
  --md-sys-color-on-error-container: #ffffff;
}

.dark-high-contrast {
  --md-sys-color-primary-palette-key-color: #7e6ea9;
  --md-sys-color-secondary-palette-key-color: #6c7c66;
  --md-sys-color-tertiary-palette-key-color: #4f8437;
  --md-sys-color-neutral-palette-key-color: #7e7386;
  --md-sys-color-neutral-variant-palette-key-color: #856d9f;
  --md-sys-color-error-palette-key-color: #cb495f;
  --md-sys-color-background: #120b1a;
  --md-sys-color-on-background: #ffffff;
  --md-sys-color-surface: #120b1a;
  --md-sys-color-surface-dim: #120b1a;
  --md-sys-color-surface-bright: #312939;
  --md-sys-color-surface-container-lowest: #000000;
  --md-sys-color-surface-container-low: #181021;
  --md-sys-color-surface-container: #1f152a;
  --md-sys-color-surface-container-high: #261a33;
  --md-sys-color-surface-container-highest: #2d203c;
  --md-sys-color-on-surface: #ffffff;
  --md-sys-color-surface-variant: #2d203c;
  --md-sys-color-on-surface-variant: #f1dfff;
  --md-sys-color-inverse-surface: #fff7ff;
  --md-sys-color-inverse-on-surface: #000000;
  --md-sys-color-outline: #c5b1d5;
  --md-sys-color-outline-variant: #9e8daf;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #ebe1ff;
  --md-sys-color-primary: #ebe1ff;
  --md-sys-color-primary-dim: #dccdff;
  --md-sys-color-on-primary: #312258;
  --md-sys-color-primary-container: #c7b4f5;
  --md-sys-color-on-primary-container: #040018;
  --md-sys-color-inverse-primary: #3e2f66;
  --md-sys-color-primary-fixed: #c9b7f8;
  --md-sys-color-primary-fixed-dim: #bcaaea;
  --md-sys-color-on-primary-fixed: #000000;
  --md-sys-color-on-primary-fixed-variant: #000000;
  --md-sys-color-secondary: #daebd0;
  --md-sys-color-secondary-dim: #cbdcc2;
  --md-sys-color-on-secondary: #22301e;
  --md-sys-color-secondary-container: #92a38b;
  --md-sys-color-on-secondary-container: #000000;
  --md-sys-color-secondary-fixed: #e5f6db;
  --md-sys-color-secondary-fixed-dim: #d7e8cd;
  --md-sys-color-on-secondary-fixed: #000000;
  --md-sys-color-on-secondary-fixed-variant: #202e1c;
  --md-sys-color-tertiary: #edffdf;
  --md-sys-color-tertiary-dim: #bffca0;
  --md-sys-color-on-tertiary: #124100;
  --md-sys-color-tertiary-container: #bffca0;
  --md-sys-color-on-tertiary-container: #0f3800;
  --md-sys-color-tertiary-fixed: #c2ffa2;
  --md-sys-color-tertiary-fixed-dim: #b4f095;
  --md-sys-color-on-tertiary-fixed: #000000;
  --md-sys-color-on-tertiary-fixed-variant: #0b2f00;
  --md-sys-color-error: #ffdddf;
  --md-sys-color-error-dim: #ffc7cb;
  --md-sys-color-on-error: #5f001c;
  --md-sys-color-error-container: #fd6f85;
  --md-sys-color-on-error-container: #000000;
}

