.light {
  --md-sys-color-primary-palette-key-color: #1b8672;
  --md-sys-color-secondary-palette-key-color: #936b83;
  --md-sys-color-tertiary-palette-key-color: #8d6b9b;
  --md-sys-color-neutral-palette-key-color: #7c757e;
  --md-sys-color-neutral-variant-palette-key-color: #7e7382;
  --md-sys-color-error-palette-key-color: #de3730;
  --md-sys-color-background: #fff7fd;
  --md-sys-color-on-background: #1f1a21;
  --md-sys-color-surface: #fff7fd;
  --md-sys-color-surface-dim: #e1d7e2;
  --md-sys-color-surface-bright: #fff7fd;
  --md-sys-color-surface-container-lowest: #ffffff;
  --md-sys-color-surface-container-low: #fbf0fb;
  --md-sys-color-surface-container: #f5ebf6;
  --md-sys-color-surface-container-high: #efe5f0;
  --md-sys-color-surface-container-highest: #eadfea;
  --md-sys-color-on-surface: #1f1a21;
  --md-sys-color-surface-variant: #ecdef0;
  --md-sys-color-on-surface-variant: #4d4351;
  --md-sys-color-inverse-surface: #342e37;
  --md-sys-color-inverse-on-surface: #f8edf9;
  --md-sys-color-outline: #7e7383;
  --md-sys-color-outline-variant: #cfc2d3;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #006b5a;
  --md-sys-color-primary: #006b5a;
  --md-sys-color-primary-dim: #007663;
  --md-sys-color-on-primary: #ffffff;
  --md-sys-color-primary-container: #005143;
  --md-sys-color-on-primary-container: #67c6af;
  --md-sys-color-inverse-primary: #79d7c0;
  --md-sys-color-primary-fixed: #95f4dc;
  --md-sys-color-primary-fixed-dim: #79d7c0;
  --md-sys-color-on-primary-fixed: #00201a;
  --md-sys-color-on-primary-fixed-variant: #005143;
  --md-sys-color-secondary: #79536a;
  --md-sys-color-secondary-dim: #835c74;
  --md-sys-color-on-secondary: #ffffff;
  --md-sys-color-secondary-container: #5f3c52;
  --md-sys-color-on-secondary-container: #d6a8c2;
  --md-sys-color-secondary-fixed: #ffd8ed;
  --md-sys-color-secondary-fixed-dim: #e8b9d4;
  --md-sys-color-on-secondary-fixed: #2e1125;
  --md-sys-color-on-secondary-fixed-variant: #5f3c52;
  --md-sys-color-tertiary: #735280;
  --md-sys-color-tertiary-dim: #7d5c8a;
  --md-sys-color-on-tertiary: #ffffff;
  --md-sys-color-tertiary-container: #593b67;
  --md-sys-color-on-tertiary-container: #cea8db;
  --md-sys-color-tertiary-fixed: #f7d8ff;
  --md-sys-color-tertiary-fixed-dim: #e0b9ee;
  --md-sys-color-on-tertiary-fixed: #2b0e39;
  --md-sys-color-on-tertiary-fixed-variant: #593b67;
  --md-sys-color-error: #ba1a1a;
  --md-sys-color-error-dim: #ac0c12;
  --md-sys-color-on-error: #ffffff;
  --md-sys-color-error-container: #93000a;
  --md-sys-color-on-error-container: #ff9a8e;
}

.light-medium-contrast {
  --md-sys-color-primary-palette-key-color: #1b8672;
  --md-sys-color-secondary-palette-key-color: #936b83;
  --md-sys-color-tertiary-palette-key-color: #8d6b9b;
  --md-sys-color-neutral-palette-key-color: #7c757e;
  --md-sys-color-neutral-variant-palette-key-color: #7e7382;
  --md-sys-color-error-palette-key-color: #de3730;
  --md-sys-color-background: #fff7fd;
  --md-sys-color-on-background: #1f1a21;
  --md-sys-color-surface: #fff7fd;
  --md-sys-color-surface-dim: #cdc3ce;
  --md-sys-color-surface-bright: #fff7fd;
  --md-sys-color-surface-container-lowest: #ffffff;
  --md-sys-color-surface-container-low: #fbf0fb;
  --md-sys-color-surface-container: #efe5f0;
  --md-sys-color-surface-container-high: #e4dae5;
  --md-sys-color-surface-container-highest: #d8ced9;
  --md-sys-color-on-surface: #140f17;
  --md-sys-color-surface-variant: #ecdef0;
  --md-sys-color-on-surface-variant: #3c3340;
  --md-sys-color-inverse-surface: #342e37;
  --md-sys-color-inverse-on-surface: #f8edf9;
  --md-sys-color-outline: #594f5d;
  --md-sys-color-outline-variant: #746979;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #006b5a;
  --md-sys-color-primary: #003e33;
  --md-sys-color-primary-dim: #004e41;
  --md-sys-color-on-primary: #ffffff;
  --md-sys-color-primary-container: #00261f;
  --md-sys-color-on-primary-container: #5dbca6;
  --md-sys-color-inverse-primary: #79d7c0;
  --md-sys-color-primary-fixed: #007b68;
  --md-sys-color-primary-fixed-dim: #006051;
  --md-sys-color-on-primary-fixed: #ffffff;
  --md-sys-color-on-primary-fixed-variant: #ffffff;
  --md-sys-color-secondary: #4c2c41;
  --md-sys-color-secondary-dim: #5c3a4f;
  --md-sys-color-on-secondary: #ffffff;
  --md-sys-color-secondary-container: #34172b;
  --md-sys-color-on-secondary-container: #cc9fb9;
  --md-sys-color-secondary-fixed: #896179;
  --md-sys-color-secondary-fixed-dim: #6e4a60;
  --md-sys-color-on-secondary-fixed: #ffffff;
  --md-sys-color-on-secondary-fixed-variant: #ffffff;
  --md-sys-color-tertiary: #482a55;
  --md-sys-color-tertiary-dim: #573965;
  --md-sys-color-on-tertiary: #ffffff;
  --md-sys-color-tertiary-container: #31143e;
  --md-sys-color-on-tertiary-container: #c49fd2;
  --md-sys-color-tertiary-fixed: #826190;
  --md-sys-color-tertiary-fixed-dim: #684976;
  --md-sys-color-on-tertiary-fixed: #ffffff;
  --md-sys-color-on-tertiary-fixed-variant: #ffffff;
  --md-sys-color-error: #740006;
  --md-sys-color-error-dim: #8f0009;
  --md-sys-color-on-error: #ffffff;
  --md-sys-color-error-container: #4b0002;
  --md-sys-color-on-error-container: #ff8b7e;
}

.light-high-contrast {
  --md-sys-color-primary-palette-key-color: #1b8672;
  --md-sys-color-secondary-palette-key-color: #936b83;
  --md-sys-color-tertiary-palette-key-color: #8d6b9b;
  --md-sys-color-neutral-palette-key-color: #7c757e;
  --md-sys-color-neutral-variant-palette-key-color: #7e7382;
  --md-sys-color-error-palette-key-color: #de3730;
  --md-sys-color-background: #fff7fd;
  --md-sys-color-on-background: #1f1a21;
  --md-sys-color-surface: #fff7fd;
  --md-sys-color-surface-dim: #bfb6c0;
  --md-sys-color-surface-bright: #fff7fd;
  --md-sys-color-surface-container-lowest: #ffffff;
  --md-sys-color-surface-container-low: #f8edf9;
  --md-sys-color-surface-container: #eadfea;
  --md-sys-color-surface-container-high: #dbd1dc;
  --md-sys-color-surface-container-highest: #cdc3ce;
  --md-sys-color-on-surface: #000000;
  --md-sys-color-surface-variant: #ecdef0;
  --md-sys-color-on-surface-variant: #000000;
  --md-sys-color-inverse-surface: #342e37;
  --md-sys-color-inverse-on-surface: #ffffff;
  --md-sys-color-outline: #312936;
  --md-sys-color-outline-variant: #4f4654;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #006b5a;
  --md-sys-color-primary: #00332a;
  --md-sys-color-primary-dim: #00251e;
  --md-sys-color-on-primary: #ffffff;
  --md-sys-color-primary-container: #001c16;
  --md-sys-color-on-primary-container: #7fddc6;
  --md-sys-color-inverse-primary: #79d7c0;
  --md-sys-color-primary-fixed: #005346;
  --md-sys-color-primary-fixed-dim: #003a30;
  --md-sys-color-on-primary-fixed: #ffffff;
  --md-sys-color-on-primary-fixed-variant: #ffffff;
  --md-sys-color-secondary: #412236;
  --md-sys-color-secondary-dim: #331529;
  --md-sys-color-on-secondary: #ffffff;
  --md-sys-color-secondary-container: #2a0d21;
  --md-sys-color-on-secondary-container: #efbfda;
  --md-sys-color-secondary-fixed: #613e54;
  --md-sys-color-secondary-fixed-dim: #48283d;
  --md-sys-color-on-secondary-fixed: #ffffff;
  --md-sys-color-on-secondary-fixed-variant: #ffffff;
  --md-sys-color-tertiary: #3d204a;
  --md-sys-color-tertiary-dim: #2f133d;
  --md-sys-color-on-tertiary: #ffffff;
  --md-sys-color-tertiary-container: #260a34;
  --md-sys-color-on-tertiary-container: #e6bff4;
  --md-sys-color-tertiary-fixed: #5c3d69;
  --md-sys-color-tertiary-fixed-dim: #442751;
  --md-sys-color-on-tertiary-fixed: #ffffff;
  --md-sys-color-on-tertiary-fixed-variant: #ffffff;
  --md-sys-color-error: #600004;
  --md-sys-color-error-dim: #480002;
  --md-sys-color-on-error: #ffffff;
  --md-sys-color-error-container: #390001;
  --md-sys-color-on-error-container: #ffbcb4;
}

.dark {
  --md-sys-color-primary-palette-key-color: #1b8672;
  --md-sys-color-secondary-palette-key-color: #936b83;
  --md-sys-color-tertiary-palette-key-color: #8d6b9b;
  --md-sys-color-neutral-palette-key-color: #7c757e;
  --md-sys-color-neutral-variant-palette-key-color: #7e7382;
  --md-sys-color-error-palette-key-color: #de3730;
  --md-sys-color-background: #161219;
  --md-sys-color-on-background: #eadfea;
  --md-sys-color-surface: #161219;
  --md-sys-color-surface-dim: #161219;
  --md-sys-color-surface-bright: #3d373f;
  --md-sys-color-surface-container-lowest: #110d14;
  --md-sys-color-surface-container-low: #1f1a21;
  --md-sys-color-surface-container: #231e25;
  --md-sys-color-surface-container-high: #2d2830;
  --md-sys-color-surface-container-highest: #38333b;
  --md-sys-color-on-surface: #eadfea;
  --md-sys-color-surface-variant: #4d4351;
  --md-sys-color-on-surface-variant: #cfc2d3;
  --md-sys-color-inverse-surface: #eadfea;
  --md-sys-color-inverse-on-surface: #342e37;
  --md-sys-color-outline: #988d9d;
  --md-sys-color-outline-variant: #4d4351;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #79d7c0;
  --md-sys-color-primary: #79d7c0;
  --md-sys-color-primary-dim: #95f4dc;
  --md-sys-color-on-primary: #00382e;
  --md-sys-color-primary-container: #95f4dc;
  --md-sys-color-on-primary-container: #007260;
  --md-sys-color-inverse-primary: #006b5a;
  --md-sys-color-primary-fixed: #95f4dc;
  --md-sys-color-primary-fixed-dim: #79d7c0;
  --md-sys-color-on-primary-fixed: #00201a;
  --md-sys-color-on-primary-fixed-variant: #005143;
  --md-sys-color-secondary: #e8b9d4;
  --md-sys-color-secondary-dim: #fdcce8;
  --md-sys-color-on-secondary: #46263b;
  --md-sys-color-secondary-container: #ffd8ed;
  --md-sys-color-on-secondary-container: #7f5970;
  --md-sys-color-secondary-fixed: #ffd8ed;
  --md-sys-color-secondary-fixed-dim: #e8b9d4;
  --md-sys-color-on-secondary-fixed: #2e1125;
  --md-sys-color-on-secondary-fixed-variant: #5f3c52;
  --md-sys-color-tertiary: #e0b9ee;
  --md-sys-color-tertiary-dim: #f1c9ff;
  --md-sys-color-on-tertiary: #41244f;
  --md-sys-color-tertiary-container: #f7d8ff;
  --md-sys-color-on-tertiary-container: #795886;
  --md-sys-color-tertiary-fixed: #f7d8ff;
  --md-sys-color-tertiary-fixed-dim: #e0b9ee;
  --md-sys-color-on-tertiary-fixed: #2b0e39;
  --md-sys-color-on-tertiary-fixed-variant: #593b67;
  --md-sys-color-error: #ffb4ab;
  --md-sys-color-error-dim: #ffc7c0;
  --md-sys-color-on-error: #690005;
  --md-sys-color-error-container: #ffdad6;
  --md-sys-color-on-error-container: #c32220;
}

.dark-medium-contrast {
  --md-sys-color-primary-palette-key-color: #1b8672;
  --md-sys-color-secondary-palette-key-color: #936b83;
  --md-sys-color-tertiary-palette-key-color: #8d6b9b;
  --md-sys-color-neutral-palette-key-color: #7c757e;
  --md-sys-color-neutral-variant-palette-key-color: #7e7382;
  --md-sys-color-error-palette-key-color: #de3730;
  --md-sys-color-background: #161219;
  --md-sys-color-on-background: #eadfea;
  --md-sys-color-surface: #161219;
  --md-sys-color-surface-dim: #161219;
  --md-sys-color-surface-bright: #49424b;
  --md-sys-color-surface-container-lowest: #0a060c;
  --md-sys-color-surface-container-low: #211c23;
  --md-sys-color-surface-container: #2b262e;
  --md-sys-color-surface-container-high: #363139;
  --md-sys-color-surface-container-highest: #423c44;
  --md-sys-color-on-surface: #ffffff;
  --md-sys-color-surface-variant: #4d4351;
  --md-sys-color-on-surface-variant: #e6d8e9;
  --md-sys-color-inverse-surface: #eadfea;
  --md-sys-color-inverse-on-surface: #2d2830;
  --md-sys-color-outline: #baaebe;
  --md-sys-color-outline-variant: #988c9c;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #79d7c0;
  --md-sys-color-primary: #8feed6;
  --md-sys-color-primary-dim: #95f4dc;
  --md-sys-color-on-primary: #002c24;
  --md-sys-color-primary-container: #e3fff5;
  --md-sys-color-on-primary-container: #006051;
  --md-sys-color-inverse-primary: #005245;
  --md-sys-color-primary-fixed: #95f4dc;
  --md-sys-color-primary-fixed-dim: #79d7c0;
  --md-sys-color-on-primary-fixed: #001510;
  --md-sys-color-on-primary-fixed-variant: #003e33;
  --md-sys-color-secondary: #ffcfea;
  --md-sys-color-secondary-dim: #fdcce8;
  --md-sys-color-on-secondary: #3a1b30;
  --md-sys-color-secondary-container: #fff7f8;
  --md-sys-color-on-secondary-container: #6e4960;
  --md-sys-color-secondary-fixed: #ffd8ed;
  --md-sys-color-secondary-fixed-dim: #e8b9d4;
  --md-sys-color-on-secondary-fixed: #22071a;
  --md-sys-color-on-secondary-fixed-variant: #4c2c41;
  --md-sys-color-tertiary: #f4d0ff;
  --md-sys-color-tertiary-dim: #f1c9ff;
  --md-sys-color-on-tertiary: #361943;
  --md-sys-color-tertiary-container: #fff6fc;
  --md-sys-color-on-tertiary-container: #684976;
  --md-sys-color-tertiary-fixed: #f7d8ff;
  --md-sys-color-tertiary-fixed-dim: #e0b9ee;
  --md-sys-color-on-tertiary-fixed: #1f032d;
  --md-sys-color-on-tertiary-fixed-variant: #482a55;
  --md-sys-color-error: #ffd2cc;
  --md-sys-color-error-dim: #ffc7c0;
  --md-sys-color-on-error: #540003;
  --md-sys-color-error-container: #fff7f6;
  --md-sys-color-on-error-container: #ab0b12;
}

.dark-high-contrast {
  --md-sys-color-primary-palette-key-color: #1b8672;
  --md-sys-color-secondary-palette-key-color: #936b83;
  --md-sys-color-tertiary-palette-key-color: #8d6b9b;
  --md-sys-color-neutral-palette-key-color: #7c757e;
  --md-sys-color-neutral-variant-palette-key-color: #7e7382;
  --md-sys-color-error-palette-key-color: #de3730;
  --md-sys-color-background: #161219;
  --md-sys-color-on-background: #eadfea;
  --md-sys-color-surface: #161219;
  --md-sys-color-surface-dim: #161219;
  --md-sys-color-surface-bright: #544e57;
  --md-sys-color-surface-container-lowest: #000000;
  --md-sys-color-surface-container-low: #231e25;
  --md-sys-color-surface-container: #342e37;
  --md-sys-color-surface-container-high: #3f3942;
  --md-sys-color-surface-container-highest: #4b454d;
  --md-sys-color-on-surface: #ffffff;
  --md-sys-color-surface-variant: #4d4351;
  --md-sys-color-on-surface-variant: #ffffff;
  --md-sys-color-inverse-surface: #eadfea;
  --md-sys-color-inverse-on-surface: #000000;
  --md-sys-color-outline: #faebfd;
  --md-sys-color-outline-variant: #cbbecf;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #79d7c0;
  --md-sys-color-primary: #95f4dc;
  --md-sys-color-primary-dim: #fefffd;
  --md-sys-color-on-primary: #000000;
  --md-sys-color-primary-container: #ffffff;
  --md-sys-color-on-primary-container: #004438;
  --md-sys-color-inverse-primary: #005245;
  --md-sys-color-primary-fixed: #95f4dc;
  --md-sys-color-primary-fixed-dim: #79d7c0;
  --md-sys-color-on-primary-fixed: #000000;
  --md-sys-color-on-primary-fixed-variant: #001510;
  --md-sys-color-secondary: #ffd8ed;
  --md-sys-color-secondary-dim: #fffeff;
  --md-sys-color-on-secondary: #000000;
  --md-sys-color-secondary-container: #ffffff;
  --md-sys-color-on-secondary-container: #523146;
  --md-sys-color-secondary-fixed: #ffd8ed;
  --md-sys-color-secondary-fixed-dim: #e8b9d4;
  --md-sys-color-on-secondary-fixed: #000000;
  --md-sys-color-on-secondary-fixed-variant: #22071a;
  --md-sys-color-tertiary: #f7d8ff;
  --md-sys-color-tertiary-dim: #fffeff;
  --md-sys-color-on-tertiary: #000000;
  --md-sys-color-tertiary-container: #ffffff;
  --md-sys-color-on-tertiary-container: #4d305b;
  --md-sys-color-tertiary-fixed: #f7d8ff;
  --md-sys-color-tertiary-fixed-dim: #e0b9ee;
  --md-sys-color-on-tertiary-fixed: #000000;
  --md-sys-color-on-tertiary-fixed-variant: #1f032d;
  --md-sys-color-error: #ffdad6;
  --md-sys-color-error-dim: #fffeff;
  --md-sys-color-on-error: #000000;
  --md-sys-color-error-container: #ffffff;
  --md-sys-color-on-error-container: #7e0007;
}

