.light {
  --md-sys-color-primary-palette-key-color: #7f6cb0;
  --md-sys-color-secondary-palette-key-color: #647e5c;
  --md-sys-color-tertiary-palette-key-color: #4f8437;
  --md-sys-color-neutral-palette-key-color: #7d7484;
  --md-sys-color-neutral-variant-palette-key-color: #846f99;
  --md-sys-color-error-palette-key-color: #ba5866;
  --md-sys-color-background: #000000;
  --md-sys-color-on-background: #ffffff;
  --md-sys-color-surface: #000000;
  --md-sys-color-surface-dim: #110c18;
  --md-sys-color-surface-bright: #332741;
  --md-sys-color-surface-container-lowest: #000000;
  --md-sys-color-surface-container-low: #2a2330;
  --md-sys-color-surface-container: #352e3b;
  --md-sys-color-surface-container-high: #403946;
  --md-sys-color-surface-container-highest: #2c2138;
  --md-sys-color-on-surface: #f0e4f6;
  --md-sys-color-surface-variant: #2c2138;
  --md-sys-color-on-surface-variant: #d6cadc;
  --md-sys-color-inverse-surface: #fff7ff;
  --md-sys-color-inverse-on-surface: #5a5261;
  --md-sys-color-outline: #aca2b3;
  --md-sys-color-outline-variant: #8c8292;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #d6c5ff;
  --md-sys-color-primary: #d6c5ff;
  --md-sys-color-primary-dim: #c7b3fd;
  --md-sys-color-on-primary: #362464;
  --md-sys-color-primary-container: #4d3c7c;
  --md-sys-color-on-primary-container: #e6daff;
  --md-sys-color-inverse-primary: #5c4a8b;
  --md-sys-color-primary-fixed: #4d3c7c;
  --md-sys-color-primary-fixed-dim: #423070;
  --md-sys-color-on-primary-fixed: #d6c5ff;
  --md-sys-color-on-primary-fixed-variant: #ae9be3;
  --md-sys-color-secondary: #ceebc2;
  --md-sys-color-secondary-dim: #c0ddb4;
  --md-sys-color-on-secondary: #2e4528;
  --md-sys-color-secondary-container: #354d2f;
  --md-sys-color-on-secondary-container: #cbe8c0;
  --md-sys-color-secondary-fixed: #354d2f;
  --md-sys-color-secondary-fixed-dim: #2a4124;
  --md-sys-color-on-secondary-fixed: #bad6ae;
  --md-sys-color-on-secondary-fixed-variant: #92ad88;
  --md-sys-color-tertiary: #c2ffa2;
  --md-sys-color-tertiary-dim: #b4f095;
  --md-sys-color-on-tertiary: #1e5107;
  --md-sys-color-tertiary-container: #99d37c;
  --md-sys-color-on-tertiary-container: #113d00;
  --md-sys-color-tertiary-fixed: #99d37c;
  --md-sys-color-tertiary-fixed-dim: #8cc570;
  --md-sys-color-on-tertiary-fixed: #0c3100;
  --md-sys-color-on-tertiary-fixed-variant: #1f5208;
  --md-sys-color-error: #ffbdc3;
  --md-sys-color-error-dim: #f38593;
  --md-sys-color-on-error: #3f000f;
  --md-sys-color-error-container: #7d2938;
  --md-sys-color-on-error-container: #ffd6d9;
}

.light-medium-contrast {
  --md-sys-color-primary-palette-key-color: #7f6cb0;
  --md-sys-color-secondary-palette-key-color: #647e5c;
  --md-sys-color-tertiary-palette-key-color: #4f8437;
  --md-sys-color-neutral-palette-key-color: #7d7484;
  --md-sys-color-neutral-variant-palette-key-color: #846f99;
  --md-sys-color-error-palette-key-color: #ba5866;
  --md-sys-color-background: #000000;
  --md-sys-color-on-background: #ffffff;
  --md-sys-color-surface: #000000;
  --md-sys-color-surface-dim: #110c18;
  --md-sys-color-surface-bright: #332741;
  --md-sys-color-surface-container-lowest: #000000;
  --md-sys-color-surface-container-low: #2a2330;
  --md-sys-color-surface-container: #352e3b;
  --md-sys-color-surface-container-high: #403946;
  --md-sys-color-surface-container-highest: #2c2138;
  --md-sys-color-on-surface: #fffeff;
  --md-sys-color-surface-variant: #2c2138;
  --md-sys-color-on-surface-variant: #fffeff;
  --md-sys-color-inverse-surface: #fff7ff;
  --md-sys-color-inverse-on-surface: #3d3543;
  --md-sys-color-outline: #d6cadc;
  --md-sys-color-outline-variant: #aca2b3;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #fffeff;
  --md-sys-color-primary: #fffeff;
  --md-sys-color-primary-dim: #d6c5ff;
  --md-sys-color-on-primary: #1f094c;
  --md-sys-color-primary-container: #4d3c7c;
  --md-sys-color-on-primary-container: #ffffff;
  --md-sys-color-inverse-primary: #3e2d6c;
  --md-sys-color-primary-fixed: #4d3c7c;
  --md-sys-color-primary-fixed-dim: #423070;
  --md-sys-color-on-primary-fixed: #fffeff;
  --md-sys-color-on-primary-fixed-variant: #d6c5ff;
  --md-sys-color-secondary: #fffff9;
  --md-sys-color-secondary-dim: #ceebc2;
  --md-sys-color-on-secondary: #182f14;
  --md-sys-color-secondary-container: #354d2f;
  --md-sys-color-on-secondary-container: #ffffff;
  --md-sys-color-secondary-fixed: #354d2f;
  --md-sys-color-secondary-fixed-dim: #2a4124;
  --md-sys-color-on-secondary-fixed: #fffff9;
  --md-sys-color-on-secondary-fixed-variant: #bad6ae;
  --md-sys-color-tertiary: #fffeff;
  --md-sys-color-tertiary-dim: #c2ffa2;
  --md-sys-color-on-tertiary: #0f3a00;
  --md-sys-color-tertiary-container: #a6e289;
  --md-sys-color-on-tertiary-container: #062300;
  --md-sys-color-tertiary-fixed: #99d37c;
  --md-sys-color-tertiary-fixed-dim: #8cc570;
  --md-sys-color-on-tertiary-fixed: #000000;
  --md-sys-color-on-tertiary-fixed-variant: #0c3100;
  --md-sys-color-error: #fffeff;
  --md-sys-color-error-dim: #ffbdc3;
  --md-sys-color-on-error: #3d000f;
  --md-sys-color-error-container: #7d2938;
  --md-sys-color-on-error-container: #ffffff;
}

.light-high-contrast {
  --md-sys-color-primary-palette-key-color: #7f6cb0;
  --md-sys-color-secondary-palette-key-color: #647e5c;
  --md-sys-color-tertiary-palette-key-color: #4f8437;
  --md-sys-color-neutral-palette-key-color: #7d7484;
  --md-sys-color-neutral-variant-palette-key-color: #846f99;
  --md-sys-color-error-palette-key-color: #ba5866;
  --md-sys-color-background: #000000;
  --md-sys-color-on-background: #ffffff;
  --md-sys-color-surface: #000000;
  --md-sys-color-surface-dim: #110c18;
  --md-sys-color-surface-bright: #332741;
  --md-sys-color-surface-container-lowest: #000000;
  --md-sys-color-surface-container-low: #2a2330;
  --md-sys-color-surface-container: #352e3b;
  --md-sys-color-surface-container-high: #403946;
  --md-sys-color-surface-container-highest: #2c2138;
  --md-sys-color-on-surface: #ffffff;
  --md-sys-color-surface-variant: #2c2138;
  --md-sys-color-on-surface-variant: #ffffff;
  --md-sys-color-inverse-surface: #fff7ff;
  --md-sys-color-inverse-on-surface: #000000;
  --md-sys-color-outline: #fffeff;
  --md-sys-color-outline-variant: #d6cadc;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #ffffff;
  --md-sys-color-primary: #ffffff;
  --md-sys-color-primary-dim: #fffeff;
  --md-sys-color-on-primary: #000000;
  --md-sys-color-primary-container: #4d3c7c;
  --md-sys-color-on-primary-container: #ffffff;
  --md-sys-color-inverse-primary: #000000;
  --md-sys-color-primary-fixed: #4d3c7c;
  --md-sys-color-primary-fixed-dim: #423070;
  --md-sys-color-on-primary-fixed: #ffffff;
  --md-sys-color-on-primary-fixed-variant: #fffeff;
  --md-sys-color-secondary: #ffffff;
  --md-sys-color-secondary-dim: #fffff9;
  --md-sys-color-on-secondary: #000000;
  --md-sys-color-secondary-container: #354d2f;
  --md-sys-color-on-secondary-container: #ffffff;
  --md-sys-color-secondary-fixed: #354d2f;
  --md-sys-color-secondary-fixed-dim: #2a4124;
  --md-sys-color-on-secondary-fixed: #ffffff;
  --md-sys-color-on-secondary-fixed-variant: #fffff9;
  --md-sys-color-tertiary: #ffffff;
  --md-sys-color-tertiary-dim: #fffeff;
  --md-sys-color-on-tertiary: #000000;
  --md-sys-color-tertiary-container: #b6f297;
  --md-sys-color-on-tertiary-container: #000000;
  --md-sys-color-tertiary-fixed: #99d37c;
  --md-sys-color-tertiary-fixed-dim: #8cc570;
  --md-sys-color-on-tertiary-fixed: #000000;
  --md-sys-color-on-tertiary-fixed-variant: #000000;
  --md-sys-color-error: #ffffff;
  --md-sys-color-error-dim: #fffeff;
  --md-sys-color-on-error: #000000;
  --md-sys-color-error-container: #7d2938;
  --md-sys-color-on-error-container: #ffffff;
}

.dark {
  --md-sys-color-primary-palette-key-color: #7f6cb0;
  --md-sys-color-secondary-palette-key-color: #647e5c;
  --md-sys-color-tertiary-palette-key-color: #4f8437;
  --md-sys-color-neutral-palette-key-color: #7d7484;
  --md-sys-color-neutral-variant-palette-key-color: #846f99;
  --md-sys-color-error-palette-key-color: #ba5866;
  --md-sys-color-background: #000000;
  --md-sys-color-on-background: #ffffff;
  --md-sys-color-surface: #000000;
  --md-sys-color-surface-dim: #110c18;
  --md-sys-color-surface-bright: #332741;
  --md-sys-color-surface-container-lowest: #000000;
  --md-sys-color-surface-container-low: #2a2330;
  --md-sys-color-surface-container: #352e3b;
  --md-sys-color-surface-container-high: #403946;
  --md-sys-color-surface-container-highest: #2c2138;
  --md-sys-color-on-surface: #f0e4f6;
  --md-sys-color-surface-variant: #2c2138;
  --md-sys-color-on-surface-variant: #d6cadc;
  --md-sys-color-inverse-surface: #fff7ff;
  --md-sys-color-inverse-on-surface: #5a5261;
  --md-sys-color-outline: #aca2b3;
  --md-sys-color-outline-variant: #8c8292;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #d6c5ff;
  --md-sys-color-primary: #d6c5ff;
  --md-sys-color-primary-dim: #c7b3fd;
  --md-sys-color-on-primary: #362464;
  --md-sys-color-primary-container: #4d3c7c;
  --md-sys-color-on-primary-container: #e6daff;
  --md-sys-color-inverse-primary: #5c4a8b;
  --md-sys-color-primary-fixed: #4d3c7c;
  --md-sys-color-primary-fixed-dim: #423070;
  --md-sys-color-on-primary-fixed: #d6c5ff;
  --md-sys-color-on-primary-fixed-variant: #ae9be3;
  --md-sys-color-secondary: #ceebc2;
  --md-sys-color-secondary-dim: #c0ddb4;
  --md-sys-color-on-secondary: #2e4528;
  --md-sys-color-secondary-container: #354d2f;
  --md-sys-color-on-secondary-container: #cbe8c0;
  --md-sys-color-secondary-fixed: #354d2f;
  --md-sys-color-secondary-fixed-dim: #2a4124;
  --md-sys-color-on-secondary-fixed: #bad6ae;
  --md-sys-color-on-secondary-fixed-variant: #92ad88;
  --md-sys-color-tertiary: #c2ffa2;
  --md-sys-color-tertiary-dim: #b4f095;
  --md-sys-color-on-tertiary: #1e5107;
  --md-sys-color-tertiary-container: #99d37c;
  --md-sys-color-on-tertiary-container: #113d00;
  --md-sys-color-tertiary-fixed: #99d37c;
  --md-sys-color-tertiary-fixed-dim: #8cc570;
  --md-sys-color-on-tertiary-fixed: #0c3100;
  --md-sys-color-on-tertiary-fixed-variant: #1f5208;
  --md-sys-color-error: #ffbdc3;
  --md-sys-color-error-dim: #f38593;
  --md-sys-color-on-error: #3f000f;
  --md-sys-color-error-container: #7d2938;
  --md-sys-color-on-error-container: #ffd6d9;
}

.dark-medium-contrast {
  --md-sys-color-primary-palette-key-color: #7f6cb0;
  --md-sys-color-secondary-palette-key-color: #647e5c;
  --md-sys-color-tertiary-palette-key-color: #4f8437;
  --md-sys-color-neutral-palette-key-color: #7d7484;
  --md-sys-color-neutral-variant-palette-key-color: #846f99;
  --md-sys-color-error-palette-key-color: #ba5866;
  --md-sys-color-background: #000000;
  --md-sys-color-on-background: #ffffff;
  --md-sys-color-surface: #000000;
  --md-sys-color-surface-dim: #110c18;
  --md-sys-color-surface-bright: #332741;
  --md-sys-color-surface-container-lowest: #000000;
  --md-sys-color-surface-container-low: #2a2330;
  --md-sys-color-surface-container: #352e3b;
  --md-sys-color-surface-container-high: #403946;
  --md-sys-color-surface-container-highest: #2c2138;
  --md-sys-color-on-surface: #fffeff;
  --md-sys-color-surface-variant: #2c2138;
  --md-sys-color-on-surface-variant: #fffeff;
  --md-sys-color-inverse-surface: #fff7ff;
  --md-sys-color-inverse-on-surface: #3d3543;
  --md-sys-color-outline: #d6cadc;
  --md-sys-color-outline-variant: #aca2b3;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #fffeff;
  --md-sys-color-primary: #fffeff;
  --md-sys-color-primary-dim: #d6c5ff;
  --md-sys-color-on-primary: #1f094c;
  --md-sys-color-primary-container: #4d3c7c;
  --md-sys-color-on-primary-container: #ffffff;
  --md-sys-color-inverse-primary: #3e2d6c;
  --md-sys-color-primary-fixed: #4d3c7c;
  --md-sys-color-primary-fixed-dim: #423070;
  --md-sys-color-on-primary-fixed: #fffeff;
  --md-sys-color-on-primary-fixed-variant: #d6c5ff;
  --md-sys-color-secondary: #fffff9;
  --md-sys-color-secondary-dim: #ceebc2;
  --md-sys-color-on-secondary: #182f14;
  --md-sys-color-secondary-container: #354d2f;
  --md-sys-color-on-secondary-container: #ffffff;
  --md-sys-color-secondary-fixed: #354d2f;
  --md-sys-color-secondary-fixed-dim: #2a4124;
  --md-sys-color-on-secondary-fixed: #fffff9;
  --md-sys-color-on-secondary-fixed-variant: #bad6ae;
  --md-sys-color-tertiary: #fffeff;
  --md-sys-color-tertiary-dim: #c2ffa2;
  --md-sys-color-on-tertiary: #0f3a00;
  --md-sys-color-tertiary-container: #a6e289;
  --md-sys-color-on-tertiary-container: #062300;
  --md-sys-color-tertiary-fixed: #99d37c;
  --md-sys-color-tertiary-fixed-dim: #8cc570;
  --md-sys-color-on-tertiary-fixed: #000000;
  --md-sys-color-on-tertiary-fixed-variant: #0c3100;
  --md-sys-color-error: #fffeff;
  --md-sys-color-error-dim: #ffbdc3;
  --md-sys-color-on-error: #3d000f;
  --md-sys-color-error-container: #7d2938;
  --md-sys-color-on-error-container: #ffffff;
}

.dark-high-contrast {
  --md-sys-color-primary-palette-key-color: #7f6cb0;
  --md-sys-color-secondary-palette-key-color: #647e5c;
  --md-sys-color-tertiary-palette-key-color: #4f8437;
  --md-sys-color-neutral-palette-key-color: #7d7484;
  --md-sys-color-neutral-variant-palette-key-color: #846f99;
  --md-sys-color-error-palette-key-color: #ba5866;
  --md-sys-color-background: #000000;
  --md-sys-color-on-background: #ffffff;
  --md-sys-color-surface: #000000;
  --md-sys-color-surface-dim: #110c18;
  --md-sys-color-surface-bright: #332741;
  --md-sys-color-surface-container-lowest: #000000;
  --md-sys-color-surface-container-low: #2a2330;
  --md-sys-color-surface-container: #352e3b;
  --md-sys-color-surface-container-high: #403946;
  --md-sys-color-surface-container-highest: #2c2138;
  --md-sys-color-on-surface: #ffffff;
  --md-sys-color-surface-variant: #2c2138;
  --md-sys-color-on-surface-variant: #ffffff;
  --md-sys-color-inverse-surface: #fff7ff;
  --md-sys-color-inverse-on-surface: #000000;
  --md-sys-color-outline: #fffeff;
  --md-sys-color-outline-variant: #d6cadc;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #ffffff;
  --md-sys-color-primary: #ffffff;
  --md-sys-color-primary-dim: #fffeff;
  --md-sys-color-on-primary: #000000;
  --md-sys-color-primary-container: #4d3c7c;
  --md-sys-color-on-primary-container: #ffffff;
  --md-sys-color-inverse-primary: #000000;
  --md-sys-color-primary-fixed: #4d3c7c;
  --md-sys-color-primary-fixed-dim: #423070;
  --md-sys-color-on-primary-fixed: #ffffff;
  --md-sys-color-on-primary-fixed-variant: #fffeff;
  --md-sys-color-secondary: #ffffff;
  --md-sys-color-secondary-dim: #fffff9;
  --md-sys-color-on-secondary: #000000;
  --md-sys-color-secondary-container: #354d2f;
  --md-sys-color-on-secondary-container: #ffffff;
  --md-sys-color-secondary-fixed: #354d2f;
  --md-sys-color-secondary-fixed-dim: #2a4124;
  --md-sys-color-on-secondary-fixed: #ffffff;
  --md-sys-color-on-secondary-fixed-variant: #fffff9;
  --md-sys-color-tertiary: #ffffff;
  --md-sys-color-tertiary-dim: #fffeff;
  --md-sys-color-on-tertiary: #000000;
  --md-sys-color-tertiary-container: #b6f297;
  --md-sys-color-on-tertiary-container: #000000;
  --md-sys-color-tertiary-fixed: #99d37c;
  --md-sys-color-tertiary-fixed-dim: #8cc570;
  --md-sys-color-on-tertiary-fixed: #000000;
  --md-sys-color-on-tertiary-fixed-variant: #000000;
  --md-sys-color-error: #ffffff;
  --md-sys-color-error-dim: #fffeff;
  --md-sys-color-on-error: #000000;
  --md-sys-color-error-container: #7d2938;
  --md-sys-color-on-error-container: #ffffff;
}

