.light {
  --md-sys-color-primary-palette-key-color: #8069bf;
  --md-sys-color-secondary-palette-key-color: #7c7296;
  --md-sys-color-tertiary-palette-key-color: #d3a500;
  --md-sys-color-neutral-palette-key-color: #7a767d;
  --md-sys-color-neutral-variant-palette-key-color: #7a7582;
  --md-sys-color-error-palette-key-color: #de3730;
  --md-sys-color-background: #141218;
  --md-sys-color-on-background: #e6e0e9;
  --md-sys-color-surface: #141218;
  --md-sys-color-surface-dim: #141218;
  --md-sys-color-surface-bright: #3b383e;
  --md-sys-color-surface-container-lowest: #0f0d13;
  --md-sys-color-surface-container-low: #1d1b20;
  --md-sys-color-surface-container: #211f24;
  --md-sys-color-surface-container-high: #2b292f;
  --md-sys-color-surface-container-highest: #36343a;
  --md-sys-color-on-surface: #e6e0e9;
  --md-sys-color-surface-variant: #494551;
  --md-sys-color-on-surface-variant: #cbc4d2;
  --md-sys-color-inverse-surface: #e6e0e9;
  --md-sys-color-inverse-on-surface: #322f35;
  --md-sys-color-outline: #948e9c;
  --md-sys-color-outline-variant: #494551;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #cfbcff;
  --md-sys-color-primary: #cfbcff;
  --md-sys-color-primary-dim: #dccdff;
  --md-sys-color-on-primary: #381e72;
  --md-sys-color-primary-container: #e9ddff;
  --md-sys-color-on-primary-container: #6d56aa;
  --md-sys-color-inverse-primary: #6750a4;
  --md-sys-color-primary-fixed: #e9ddff;
  --md-sys-color-primary-fixed-dim: #cfbcff;
  --md-sys-color-on-primary-fixed: #22005d;
  --md-sys-color-on-primary-fixed-variant: #4f378a;
  --md-sys-color-secondary: #cdc0e9;
  --md-sys-color-secondary-dim: #ded1fa;
  --md-sys-color-on-secondary: #342b4b;
  --md-sys-color-secondary-container: #e9ddff;
  --md-sys-color-on-secondary-container: #695f82;
  --md-sys-color-secondary-fixed: #e9ddff;
  --md-sys-color-secondary-fixed-dim: #cdc0e9;
  --md-sys-color-on-secondary-fixed: #1f1635;
  --md-sys-color-on-secondary-fixed-variant: #4b4263;
  --md-sys-color-tertiary: #f4bf00;
  --md-sys-color-tertiary-dim: #ffce45;
  --md-sys-color-on-tertiary: #3e2e00;
  --md-sys-color-tertiary-container: #ffdf93;
  --md-sys-color-on-tertiary-container: #503d00;
  --md-sys-color-tertiary-fixed: #ffdf93;
  --md-sys-color-tertiary-fixed-dim: #f4bf00;
  --md-sys-color-on-tertiary-fixed: #241a00;
  --md-sys-color-on-tertiary-fixed-variant: #594400;
  --md-sys-color-error: #ffb4ab;
  --md-sys-color-error-dim: #ffc7c0;
  --md-sys-color-on-error: #690005;
  --md-sys-color-error-container: #ffdad6;
  --md-sys-color-on-error-container: #c32220;
}

.light-medium-contrast {
  --md-sys-color-primary-palette-key-color: #8069bf;
  --md-sys-color-secondary-palette-key-color: #7c7296;
  --md-sys-color-tertiary-palette-key-color: #d3a500;
  --md-sys-color-neutral-palette-key-color: #7a767d;
  --md-sys-color-neutral-variant-palette-key-color: #7a7582;
  --md-sys-color-error-palette-key-color: #de3730;
  --md-sys-color-background: #141218;
  --md-sys-color-on-background: #e6e0e9;
  --md-sys-color-surface: #141218;
  --md-sys-color-surface-dim: #141218;
  --md-sys-color-surface-bright: #46434a;
  --md-sys-color-surface-container-lowest: #08070b;
  --md-sys-color-surface-container-low: #1f1d22;
  --md-sys-color-surface-container: #29272d;
  --md-sys-color-surface-container-high: #343138;
  --md-sys-color-surface-container-highest: #3f3c43;
  --md-sys-color-on-surface: #ffffff;
  --md-sys-color-surface-variant: #494551;
  --md-sys-color-on-surface-variant: #e1dae8;
  --md-sys-color-inverse-surface: #e6e0e9;
  --md-sys-color-inverse-on-surface: #2b292f;
  --md-sys-color-outline: #b6afbd;
  --md-sys-color-outline-variant: #948e9b;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #cfbcff;
  --md-sys-color-primary: #e3d6ff;
  --md-sys-color-primary-dim: #dccdff;
  --md-sys-color-on-primary: #2c1067;
  --md-sys-color-primary-container: #fdf7ff;
  --md-sys-color-on-primary-container: #5d4699;
  --md-sys-color-inverse-primary: #50398b;
  --md-sys-color-primary-fixed: #e9ddff;
  --md-sys-color-primary-fixed-dim: #cfbcff;
  --md-sys-color-on-primary-fixed: #160042;
  --md-sys-color-on-primary-fixed-variant: #3e2578;
  --md-sys-color-secondary: #e3d6ff;
  --md-sys-color-secondary-dim: #ded1fa;
  --md-sys-color-on-secondary: #292140;
  --md-sys-color-secondary-container: #fdf7ff;
  --md-sys-color-on-secondary-container: #595072;
  --md-sys-color-secondary-fixed: #e9ddff;
  --md-sys-color-secondary-fixed-dim: #cdc0e9;
  --md-sys-color-on-secondary-fixed: #140b2a;
  --md-sys-color-on-secondary-fixed-variant: #3a3151;
  --md-sys-color-tertiary: #ffd875;
  --md-sys-color-tertiary-dim: #ffce45;
  --md-sys-color-on-tertiary: #312400;
  --md-sys-color-tertiary-container: #fff8ef;
  --md-sys-color-on-tertiary-container: #503d00;
  --md-sys-color-tertiary-fixed: #ffdf93;
  --md-sys-color-tertiary-fixed-dim: #f4bf00;
  --md-sys-color-on-tertiary-fixed: #181000;
  --md-sys-color-on-tertiary-fixed-variant: #453400;
  --md-sys-color-error: #ffd2cc;
  --md-sys-color-error-dim: #ffc7c0;
  --md-sys-color-on-error: #540003;
  --md-sys-color-error-container: #fff7f6;
  --md-sys-color-on-error-container: #ab0b12;
}

.light-high-contrast {
  --md-sys-color-primary-palette-key-color: #8069bf;
  --md-sys-color-secondary-palette-key-color: #7c7296;
  --md-sys-color-tertiary-palette-key-color: #d3a500;
  --md-sys-color-neutral-palette-key-color: #7a767d;
  --md-sys-color-neutral-variant-palette-key-color: #7a7582;
  --md-sys-color-error-palette-key-color: #de3730;
  --md-sys-color-background: #141218;
  --md-sys-color-on-background: #e6e0e9;
  --md-sys-color-surface: #141218;
  --md-sys-color-surface-dim: #141218;
  --md-sys-color-surface-bright: #524f55;
  --md-sys-color-surface-container-lowest: #000000;
  --md-sys-color-surface-container-low: #211f24;
  --md-sys-color-surface-container: #322f35;
  --md-sys-color-surface-container-high: #3d3a41;
  --md-sys-color-surface-container-highest: #48464c;
  --md-sys-color-on-surface: #ffffff;
  --md-sys-color-surface-variant: #494551;
  --md-sys-color-on-surface-variant: #ffffff;
  --md-sys-color-inverse-surface: #e6e0e9;
  --md-sys-color-inverse-on-surface: #000000;
  --md-sys-color-outline: #f5edfc;
  --md-sys-color-outline-variant: #c7c0ce;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #cfbcff;
  --md-sys-color-primary: #e9ddff;
  --md-sys-color-primary-dim: #fffeff;
  --md-sys-color-on-primary: #000000;
  --md-sys-color-primary-container: #ffffff;
  --md-sys-color-on-primary-container: #432b7e;
  --md-sys-color-inverse-primary: #50398b;
  --md-sys-color-primary-fixed: #e9ddff;
  --md-sys-color-primary-fixed-dim: #cfbcff;
  --md-sys-color-on-primary-fixed: #000000;
  --md-sys-color-on-primary-fixed-variant: #160042;
  --md-sys-color-secondary: #e9ddff;
  --md-sys-color-secondary-dim: #fffeff;
  --md-sys-color-on-secondary: #000000;
  --md-sys-color-secondary-container: #ffffff;
  --md-sys-color-on-secondary-container: #3f3657;
  --md-sys-color-secondary-fixed: #e9ddff;
  --md-sys-color-secondary-fixed-dim: #cdc0e9;
  --md-sys-color-on-secondary-fixed: #000000;
  --md-sys-color-on-secondary-fixed-variant: #140b2a;
  --md-sys-color-tertiary: #ffdf93;
  --md-sys-color-tertiary-dim: #fffeff;
  --md-sys-color-on-tertiary: #000000;
  --md-sys-color-tertiary-container: #ffffff;
  --md-sys-color-on-tertiary-container: #4b3900;
  --md-sys-color-tertiary-fixed: #ffdf93;
  --md-sys-color-tertiary-fixed-dim: #f4bf00;
  --md-sys-color-on-tertiary-fixed: #000000;
  --md-sys-color-on-tertiary-fixed-variant: #181000;
  --md-sys-color-error: #ffdad6;
  --md-sys-color-error-dim: #fffeff;
  --md-sys-color-on-error: #000000;
  --md-sys-color-error-container: #ffffff;
  --md-sys-color-on-error-container: #7e0007;
}

.dark {
  --md-sys-color-primary-palette-key-color: #8069bf;
  --md-sys-color-secondary-palette-key-color: #7c7296;
  --md-sys-color-tertiary-palette-key-color: #d3a500;
  --md-sys-color-neutral-palette-key-color: #7a767d;
  --md-sys-color-neutral-variant-palette-key-color: #7a7582;
  --md-sys-color-error-palette-key-color: #de3730;
  --md-sys-color-background: #141218;
  --md-sys-color-on-background: #e6e0e9;
  --md-sys-color-surface: #141218;
  --md-sys-color-surface-dim: #141218;
  --md-sys-color-surface-bright: #3b383e;
  --md-sys-color-surface-container-lowest: #0f0d13;
  --md-sys-color-surface-container-low: #1d1b20;
  --md-sys-color-surface-container: #211f24;
  --md-sys-color-surface-container-high: #2b292f;
  --md-sys-color-surface-container-highest: #36343a;
  --md-sys-color-on-surface: #e6e0e9;
  --md-sys-color-surface-variant: #494551;
  --md-sys-color-on-surface-variant: #cbc4d2;
  --md-sys-color-inverse-surface: #e6e0e9;
  --md-sys-color-inverse-on-surface: #322f35;
  --md-sys-color-outline: #948e9c;
  --md-sys-color-outline-variant: #494551;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #cfbcff;
  --md-sys-color-primary: #cfbcff;
  --md-sys-color-primary-dim: #dccdff;
  --md-sys-color-on-primary: #381e72;
  --md-sys-color-primary-container: #e9ddff;
  --md-sys-color-on-primary-container: #6d56aa;
  --md-sys-color-inverse-primary: #6750a4;
  --md-sys-color-primary-fixed: #e9ddff;
  --md-sys-color-primary-fixed-dim: #cfbcff;
  --md-sys-color-on-primary-fixed: #22005d;
  --md-sys-color-on-primary-fixed-variant: #4f378a;
  --md-sys-color-secondary: #cdc0e9;
  --md-sys-color-secondary-dim: #ded1fa;
  --md-sys-color-on-secondary: #342b4b;
  --md-sys-color-secondary-container: #e9ddff;
  --md-sys-color-on-secondary-container: #695f82;
  --md-sys-color-secondary-fixed: #e9ddff;
  --md-sys-color-secondary-fixed-dim: #cdc0e9;
  --md-sys-color-on-secondary-fixed: #1f1635;
  --md-sys-color-on-secondary-fixed-variant: #4b4263;
  --md-sys-color-tertiary: #f4bf00;
  --md-sys-color-tertiary-dim: #ffce45;
  --md-sys-color-on-tertiary: #3e2e00;
  --md-sys-color-tertiary-container: #ffdf93;
  --md-sys-color-on-tertiary-container: #503d00;
  --md-sys-color-tertiary-fixed: #ffdf93;
  --md-sys-color-tertiary-fixed-dim: #f4bf00;
  --md-sys-color-on-tertiary-fixed: #241a00;
  --md-sys-color-on-tertiary-fixed-variant: #594400;
  --md-sys-color-error: #ffb4ab;
  --md-sys-color-error-dim: #ffc7c0;
  --md-sys-color-on-error: #690005;
  --md-sys-color-error-container: #ffdad6;
  --md-sys-color-on-error-container: #c32220;
}

.dark-medium-contrast {
  --md-sys-color-primary-palette-key-color: #8069bf;
  --md-sys-color-secondary-palette-key-color: #7c7296;
  --md-sys-color-tertiary-palette-key-color: #d3a500;
  --md-sys-color-neutral-palette-key-color: #7a767d;
  --md-sys-color-neutral-variant-palette-key-color: #7a7582;
  --md-sys-color-error-palette-key-color: #de3730;
  --md-sys-color-background: #141218;
  --md-sys-color-on-background: #e6e0e9;
  --md-sys-color-surface: #141218;
  --md-sys-color-surface-dim: #141218;
  --md-sys-color-surface-bright: #46434a;
  --md-sys-color-surface-container-lowest: #08070b;
  --md-sys-color-surface-container-low: #1f1d22;
  --md-sys-color-surface-container: #29272d;
  --md-sys-color-surface-container-high: #343138;
  --md-sys-color-surface-container-highest: #3f3c43;
  --md-sys-color-on-surface: #ffffff;
  --md-sys-color-surface-variant: #494551;
  --md-sys-color-on-surface-variant: #e1dae8;
  --md-sys-color-inverse-surface: #e6e0e9;
  --md-sys-color-inverse-on-surface: #2b292f;
  --md-sys-color-outline: #b6afbd;
  --md-sys-color-outline-variant: #948e9b;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #cfbcff;
  --md-sys-color-primary: #e3d6ff;
  --md-sys-color-primary-dim: #dccdff;
  --md-sys-color-on-primary: #2c1067;
  --md-sys-color-primary-container: #fdf7ff;
  --md-sys-color-on-primary-container: #5d4699;
  --md-sys-color-inverse-primary: #50398b;
  --md-sys-color-primary-fixed: #e9ddff;
  --md-sys-color-primary-fixed-dim: #cfbcff;
  --md-sys-color-on-primary-fixed: #160042;
  --md-sys-color-on-primary-fixed-variant: #3e2578;
  --md-sys-color-secondary: #e3d6ff;
  --md-sys-color-secondary-dim: #ded1fa;
  --md-sys-color-on-secondary: #292140;
  --md-sys-color-secondary-container: #fdf7ff;
  --md-sys-color-on-secondary-container: #595072;
  --md-sys-color-secondary-fixed: #e9ddff;
  --md-sys-color-secondary-fixed-dim: #cdc0e9;
  --md-sys-color-on-secondary-fixed: #140b2a;
  --md-sys-color-on-secondary-fixed-variant: #3a3151;
  --md-sys-color-tertiary: #ffd875;
  --md-sys-color-tertiary-dim: #ffce45;
  --md-sys-color-on-tertiary: #312400;
  --md-sys-color-tertiary-container: #fff8ef;
  --md-sys-color-on-tertiary-container: #503d00;
  --md-sys-color-tertiary-fixed: #ffdf93;
  --md-sys-color-tertiary-fixed-dim: #f4bf00;
  --md-sys-color-on-tertiary-fixed: #181000;
  --md-sys-color-on-tertiary-fixed-variant: #453400;
  --md-sys-color-error: #ffd2cc;
  --md-sys-color-error-dim: #ffc7c0;
  --md-sys-color-on-error: #540003;
  --md-sys-color-error-container: #fff7f6;
  --md-sys-color-on-error-container: #ab0b12;
}

.dark-high-contrast {
  --md-sys-color-primary-palette-key-color: #8069bf;
  --md-sys-color-secondary-palette-key-color: #7c7296;
  --md-sys-color-tertiary-palette-key-color: #d3a500;
  --md-sys-color-neutral-palette-key-color: #7a767d;
  --md-sys-color-neutral-variant-palette-key-color: #7a7582;
  --md-sys-color-error-palette-key-color: #de3730;
  --md-sys-color-background: #141218;
  --md-sys-color-on-background: #e6e0e9;
  --md-sys-color-surface: #141218;
  --md-sys-color-surface-dim: #141218;
  --md-sys-color-surface-bright: #524f55;
  --md-sys-color-surface-container-lowest: #000000;
  --md-sys-color-surface-container-low: #211f24;
  --md-sys-color-surface-container: #322f35;
  --md-sys-color-surface-container-high: #3d3a41;
  --md-sys-color-surface-container-highest: #48464c;
  --md-sys-color-on-surface: #ffffff;
  --md-sys-color-surface-variant: #494551;
  --md-sys-color-on-surface-variant: #ffffff;
  --md-sys-color-inverse-surface: #e6e0e9;
  --md-sys-color-inverse-on-surface: #000000;
  --md-sys-color-outline: #f5edfc;
  --md-sys-color-outline-variant: #c7c0ce;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #cfbcff;
  --md-sys-color-primary: #e9ddff;
  --md-sys-color-primary-dim: #fffeff;
  --md-sys-color-on-primary: #000000;
  --md-sys-color-primary-container: #ffffff;
  --md-sys-color-on-primary-container: #432b7e;
  --md-sys-color-inverse-primary: #50398b;
  --md-sys-color-primary-fixed: #e9ddff;
  --md-sys-color-primary-fixed-dim: #cfbcff;
  --md-sys-color-on-primary-fixed: #000000;
  --md-sys-color-on-primary-fixed-variant: #160042;
  --md-sys-color-secondary: #e9ddff;
  --md-sys-color-secondary-dim: #fffeff;
  --md-sys-color-on-secondary: #000000;
  --md-sys-color-secondary-container: #ffffff;
  --md-sys-color-on-secondary-container: #3f3657;
  --md-sys-color-secondary-fixed: #e9ddff;
  --md-sys-color-secondary-fixed-dim: #cdc0e9;
  --md-sys-color-on-secondary-fixed: #000000;
  --md-sys-color-on-secondary-fixed-variant: #140b2a;
  --md-sys-color-tertiary: #ffdf93;
  --md-sys-color-tertiary-dim: #fffeff;
  --md-sys-color-on-tertiary: #000000;
  --md-sys-color-tertiary-container: #ffffff;
  --md-sys-color-on-tertiary-container: #4b3900;
  --md-sys-color-tertiary-fixed: #ffdf93;
  --md-sys-color-tertiary-fixed-dim: #f4bf00;
  --md-sys-color-on-tertiary-fixed: #000000;
  --md-sys-color-on-tertiary-fixed-variant: #181000;
  --md-sys-color-error: #ffdad6;
  --md-sys-color-error-dim: #fffeff;
  --md-sys-color-on-error: #000000;
  --md-sys-color-error-container: #ffffff;
  --md-sys-color-on-error-container: #7e0007;
}

