.light {
  --md-sys-color-primary-palette-key-color: #8069bf;
  --md-sys-color-secondary-palette-key-color: #7c7296;
  --md-sys-color-tertiary-palette-key-color: #d3a500;
  --md-sys-color-neutral-palette-key-color: #7a767d;
  --md-sys-color-neutral-variant-palette-key-color: #7a7582;
  --md-sys-color-error-palette-key-color: #de3730;
  --md-sys-color-background: #000000;
  --md-sys-color-on-background: #ffffff;
  --md-sys-color-surface: #000000;
  --md-sys-color-surface-dim: #0f0d13;
  --md-sys-color-surface-bright: #2d2b31;
  --md-sys-color-surface-container-lowest: #000000;
  --md-sys-color-surface-container-low: #27252b;
  --md-sys-color-surface-container: #322f35;
  --md-sys-color-surface-container-high: #3d3a41;
  --md-sys-color-surface-container-highest: #27252b;
  --md-sys-color-on-surface: #fffeff;
  --md-sys-color-surface-variant: #27252b;
  --md-sys-color-on-surface-variant: #d2ccd4;
  --md-sys-color-inverse-surface: #fdf7ff;
  --md-sys-color-inverse-on-surface: #57545a;
  --md-sys-color-outline: #a9a4ac;
  --md-sys-color-outline-variant: #88848b;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #d6c5ff;
  --md-sys-color-primary: #d6c5ff;
  --md-sys-color-primary-dim: #bba2fd;
  --md-sys-color-on-primary: #2c1067;
  --md-sys-color-primary-container: #4f378a;
  --md-sys-color-on-primary-container: #e6daff;
  --md-sys-color-inverse-primary: #5d469a;
  --md-sys-color-primary-fixed: #4f378a;
  --md-sys-color-primary-fixed-dim: #432b7e;
  --md-sys-color-on-primary-fixed: #d6c5ff;
  --md-sys-color-on-primary-fixed-variant: #b098f2;
  --md-sys-color-secondary: #ded1fa;
  --md-sys-color-secondary-dim: #d0c3eb;
  --md-sys-color-on-secondary: #3c3353;
  --md-sys-color-secondary-container: #4b4263;
  --md-sys-color-on-secondary-container: #e6daff;
  --md-sys-color-secondary-fixed: #4b4263;
  --md-sys-color-secondary-fixed-dim: #3f3657;
  --md-sys-color-on-secondary-fixed: #d5c8f0;
  --md-sys-color-on-secondary-fixed-variant: #aca0c6;
  --md-sys-color-tertiary: #fec700;
  --md-sys-color-tertiary-dim: #eeba00;
  --md-sys-color-on-tertiary: #403000;
  --md-sys-color-tertiary-container: #cda000;
  --md-sys-color-on-tertiary-container: #241a00;
  --md-sys-color-tertiary-fixed: #cda000;
  --md-sys-color-tertiary-fixed-dim: #bc9300;
  --md-sys-color-on-tertiary-fixed: #0a0600;
  --md-sys-color-on-tertiary-fixed-variant: #3e2f00;
  --md-sys-color-error: #ffbeb7;
  --md-sys-color-error-dim: #ff8073;
  --md-sys-color-on-error: #400002;
  --md-sys-color-error-container: #93000a;
  --md-sys-color-on-error-container: #ffd7d2;
}

.light-medium-contrast {
  --md-sys-color-primary-palette-key-color: #8069bf;
  --md-sys-color-secondary-palette-key-color: #7c7296;
  --md-sys-color-tertiary-palette-key-color: #d3a500;
  --md-sys-color-neutral-palette-key-color: #7a767d;
  --md-sys-color-neutral-variant-palette-key-color: #7a7582;
  --md-sys-color-error-palette-key-color: #de3730;
  --md-sys-color-background: #000000;
  --md-sys-color-on-background: #ffffff;
  --md-sys-color-surface: #000000;
  --md-sys-color-surface-dim: #0f0d13;
  --md-sys-color-surface-bright: #2d2b31;
  --md-sys-color-surface-container-lowest: #000000;
  --md-sys-color-surface-container-low: #27252b;
  --md-sys-color-surface-container: #322f35;
  --md-sys-color-surface-container-high: #3d3a41;
  --md-sys-color-surface-container-highest: #27252b;
  --md-sys-color-on-surface: #ffffff;
  --md-sys-color-surface-variant: #27252b;
  --md-sys-color-on-surface-variant: #fffeff;
  --md-sys-color-inverse-surface: #fdf7ff;
  --md-sys-color-inverse-on-surface: #3a373d;
  --md-sys-color-outline: #d2ccd4;
  --md-sys-color-outline-variant: #a9a4ac;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #fffeff;
  --md-sys-color-primary: #fffeff;
  --md-sys-color-primary-dim: #d6c5ff;
  --md-sys-color-on-primary: #200058;
  --md-sys-color-primary-container: #4f378a;
  --md-sys-color-on-primary-container: #ffffff;
  --md-sys-color-inverse-primary: #40277a;
  --md-sys-color-primary-fixed: #4f378a;
  --md-sys-color-primary-fixed-dim: #432b7e;
  --md-sys-color-on-primary-fixed: #fffeff;
  --md-sys-color-on-primary-fixed-variant: #d6c5ff;
  --md-sys-color-secondary: #fffeff;
  --md-sys-color-secondary-dim: #ded1fa;
  --md-sys-color-on-secondary: #251d3b;
  --md-sys-color-secondary-container: #4b4263;
  --md-sys-color-on-secondary-container: #ffffff;
  --md-sys-color-secondary-fixed: #4b4263;
  --md-sys-color-secondary-fixed-dim: #3f3657;
  --md-sys-color-on-secondary-fixed: #fffeff;
  --md-sys-color-on-secondary-fixed-variant: #d5c8f0;
  --md-sys-color-tertiary: #fffeff;
  --md-sys-color-tertiary-dim: #fec700;
  --md-sys-color-on-tertiary: #231900;
  --md-sys-color-tertiary-container: #ddad00;
  --md-sys-color-on-tertiary-container: #000000;
  --md-sys-color-tertiary-fixed: #cda000;
  --md-sys-color-tertiary-fixed-dim: #bc9300;
  --md-sys-color-on-tertiary-fixed: #000000;
  --md-sys-color-on-tertiary-fixed-variant: #0a0600;
  --md-sys-color-error: #fffeff;
  --md-sys-color-error-dim: #ffbeb7;
  --md-sys-color-on-error: #3d0002;
  --md-sys-color-error-container: #93000a;
  --md-sys-color-on-error-container: #ffffff;
}

.light-high-contrast {
  --md-sys-color-primary-palette-key-color: #8069bf;
  --md-sys-color-secondary-palette-key-color: #7c7296;
  --md-sys-color-tertiary-palette-key-color: #d3a500;
  --md-sys-color-neutral-palette-key-color: #7a767d;
  --md-sys-color-neutral-variant-palette-key-color: #7a7582;
  --md-sys-color-error-palette-key-color: #de3730;
  --md-sys-color-background: #000000;
  --md-sys-color-on-background: #ffffff;
  --md-sys-color-surface: #000000;
  --md-sys-color-surface-dim: #0f0d13;
  --md-sys-color-surface-bright: #2d2b31;
  --md-sys-color-surface-container-lowest: #000000;
  --md-sys-color-surface-container-low: #27252b;
  --md-sys-color-surface-container: #322f35;
  --md-sys-color-surface-container-high: #3d3a41;
  --md-sys-color-surface-container-highest: #27252b;
  --md-sys-color-on-surface: #ffffff;
  --md-sys-color-surface-variant: #27252b;
  --md-sys-color-on-surface-variant: #ffffff;
  --md-sys-color-inverse-surface: #fdf7ff;
  --md-sys-color-inverse-on-surface: #000000;
  --md-sys-color-outline: #fffeff;
  --md-sys-color-outline-variant: #d2ccd4;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #ffffff;
  --md-sys-color-primary: #ffffff;
  --md-sys-color-primary-dim: #fffeff;
  --md-sys-color-on-primary: #000000;
  --md-sys-color-primary-container: #4f378a;
  --md-sys-color-on-primary-container: #ffffff;
  --md-sys-color-inverse-primary: #000000;
  --md-sys-color-primary-fixed: #4f378a;
  --md-sys-color-primary-fixed-dim: #432b7e;
  --md-sys-color-on-primary-fixed: #ffffff;
  --md-sys-color-on-primary-fixed-variant: #fffeff;
  --md-sys-color-secondary: #ffffff;
  --md-sys-color-secondary-dim: #fffeff;
  --md-sys-color-on-secondary: #000000;
  --md-sys-color-secondary-container: #4b4263;
  --md-sys-color-on-secondary-container: #ffffff;
  --md-sys-color-secondary-fixed: #4b4263;
  --md-sys-color-secondary-fixed-dim: #3f3657;
  --md-sys-color-on-secondary-fixed: #ffffff;
  --md-sys-color-on-secondary-fixed-variant: #fffeff;
  --md-sys-color-tertiary: #ffffff;
  --md-sys-color-tertiary-dim: #fffeff;
  --md-sys-color-on-tertiary: #000000;
  --md-sys-color-tertiary-container: #fec700;
  --md-sys-color-on-tertiary-container: #000000;
  --md-sys-color-tertiary-fixed: #cda000;
  --md-sys-color-tertiary-fixed-dim: #bc9300;
  --md-sys-color-on-tertiary-fixed: #000000;
  --md-sys-color-on-tertiary-fixed-variant: #000000;
  --md-sys-color-error: #ffffff;
  --md-sys-color-error-dim: #fffeff;
  --md-sys-color-on-error: #000000;
  --md-sys-color-error-container: #93000a;
  --md-sys-color-on-error-container: #ffffff;
}

.dark {
  --md-sys-color-primary-palette-key-color: #8069bf;
  --md-sys-color-secondary-palette-key-color: #7c7296;
  --md-sys-color-tertiary-palette-key-color: #d3a500;
  --md-sys-color-neutral-palette-key-color: #7a767d;
  --md-sys-color-neutral-variant-palette-key-color: #7a7582;
  --md-sys-color-error-palette-key-color: #de3730;
  --md-sys-color-background: #000000;
  --md-sys-color-on-background: #ffffff;
  --md-sys-color-surface: #000000;
  --md-sys-color-surface-dim: #0f0d13;
  --md-sys-color-surface-bright: #2d2b31;
  --md-sys-color-surface-container-lowest: #000000;
  --md-sys-color-surface-container-low: #27252b;
  --md-sys-color-surface-container: #322f35;
  --md-sys-color-surface-container-high: #3d3a41;
  --md-sys-color-surface-container-highest: #27252b;
  --md-sys-color-on-surface: #fffeff;
  --md-sys-color-surface-variant: #27252b;
  --md-sys-color-on-surface-variant: #d2ccd4;
  --md-sys-color-inverse-surface: #fdf7ff;
  --md-sys-color-inverse-on-surface: #57545a;
  --md-sys-color-outline: #a9a4ac;
  --md-sys-color-outline-variant: #88848b;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #d6c5ff;
  --md-sys-color-primary: #d6c5ff;
  --md-sys-color-primary-dim: #bba2fd;
  --md-sys-color-on-primary: #2c1067;
  --md-sys-color-primary-container: #4f378a;
  --md-sys-color-on-primary-container: #e6daff;
  --md-sys-color-inverse-primary: #5d469a;
  --md-sys-color-primary-fixed: #4f378a;
  --md-sys-color-primary-fixed-dim: #432b7e;
  --md-sys-color-on-primary-fixed: #d6c5ff;
  --md-sys-color-on-primary-fixed-variant: #b098f2;
  --md-sys-color-secondary: #ded1fa;
  --md-sys-color-secondary-dim: #d0c3eb;
  --md-sys-color-on-secondary: #3c3353;
  --md-sys-color-secondary-container: #4b4263;
  --md-sys-color-on-secondary-container: #e6daff;
  --md-sys-color-secondary-fixed: #4b4263;
  --md-sys-color-secondary-fixed-dim: #3f3657;
  --md-sys-color-on-secondary-fixed: #d5c8f0;
  --md-sys-color-on-secondary-fixed-variant: #aca0c6;
  --md-sys-color-tertiary: #fec700;
  --md-sys-color-tertiary-dim: #eeba00;
  --md-sys-color-on-tertiary: #403000;
  --md-sys-color-tertiary-container: #cda000;
  --md-sys-color-on-tertiary-container: #241a00;
  --md-sys-color-tertiary-fixed: #cda000;
  --md-sys-color-tertiary-fixed-dim: #bc9300;
  --md-sys-color-on-tertiary-fixed: #0a0600;
  --md-sys-color-on-tertiary-fixed-variant: #3e2f00;
  --md-sys-color-error: #ffbeb7;
  --md-sys-color-error-dim: #ff8073;
  --md-sys-color-on-error: #400002;
  --md-sys-color-error-container: #93000a;
  --md-sys-color-on-error-container: #ffd7d2;
}

.dark-medium-contrast {
  --md-sys-color-primary-palette-key-color: #8069bf;
  --md-sys-color-secondary-palette-key-color: #7c7296;
  --md-sys-color-tertiary-palette-key-color: #d3a500;
  --md-sys-color-neutral-palette-key-color: #7a767d;
  --md-sys-color-neutral-variant-palette-key-color: #7a7582;
  --md-sys-color-error-palette-key-color: #de3730;
  --md-sys-color-background: #000000;
  --md-sys-color-on-background: #ffffff;
  --md-sys-color-surface: #000000;
  --md-sys-color-surface-dim: #0f0d13;
  --md-sys-color-surface-bright: #2d2b31;
  --md-sys-color-surface-container-lowest: #000000;
  --md-sys-color-surface-container-low: #27252b;
  --md-sys-color-surface-container: #322f35;
  --md-sys-color-surface-container-high: #3d3a41;
  --md-sys-color-surface-container-highest: #27252b;
  --md-sys-color-on-surface: #ffffff;
  --md-sys-color-surface-variant: #27252b;
  --md-sys-color-on-surface-variant: #fffeff;
  --md-sys-color-inverse-surface: #fdf7ff;
  --md-sys-color-inverse-on-surface: #3a373d;
  --md-sys-color-outline: #d2ccd4;
  --md-sys-color-outline-variant: #a9a4ac;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #fffeff;
  --md-sys-color-primary: #fffeff;
  --md-sys-color-primary-dim: #d6c5ff;
  --md-sys-color-on-primary: #200058;
  --md-sys-color-primary-container: #4f378a;
  --md-sys-color-on-primary-container: #ffffff;
  --md-sys-color-inverse-primary: #40277a;
  --md-sys-color-primary-fixed: #4f378a;
  --md-sys-color-primary-fixed-dim: #432b7e;
  --md-sys-color-on-primary-fixed: #fffeff;
  --md-sys-color-on-primary-fixed-variant: #d6c5ff;
  --md-sys-color-secondary: #fffeff;
  --md-sys-color-secondary-dim: #ded1fa;
  --md-sys-color-on-secondary: #251d3b;
  --md-sys-color-secondary-container: #4b4263;
  --md-sys-color-on-secondary-container: #ffffff;
  --md-sys-color-secondary-fixed: #4b4263;
  --md-sys-color-secondary-fixed-dim: #3f3657;
  --md-sys-color-on-secondary-fixed: #fffeff;
  --md-sys-color-on-secondary-fixed-variant: #d5c8f0;
  --md-sys-color-tertiary: #fffeff;
  --md-sys-color-tertiary-dim: #fec700;
  --md-sys-color-on-tertiary: #231900;
  --md-sys-color-tertiary-container: #ddad00;
  --md-sys-color-on-tertiary-container: #000000;
  --md-sys-color-tertiary-fixed: #cda000;
  --md-sys-color-tertiary-fixed-dim: #bc9300;
  --md-sys-color-on-tertiary-fixed: #000000;
  --md-sys-color-on-tertiary-fixed-variant: #0a0600;
  --md-sys-color-error: #fffeff;
  --md-sys-color-error-dim: #ffbeb7;
  --md-sys-color-on-error: #3d0002;
  --md-sys-color-error-container: #93000a;
  --md-sys-color-on-error-container: #ffffff;
}

.dark-high-contrast {
  --md-sys-color-primary-palette-key-color: #8069bf;
  --md-sys-color-secondary-palette-key-color: #7c7296;
  --md-sys-color-tertiary-palette-key-color: #d3a500;
  --md-sys-color-neutral-palette-key-color: #7a767d;
  --md-sys-color-neutral-variant-palette-key-color: #7a7582;
  --md-sys-color-error-palette-key-color: #de3730;
  --md-sys-color-background: #000000;
  --md-sys-color-on-background: #ffffff;
  --md-sys-color-surface: #000000;
  --md-sys-color-surface-dim: #0f0d13;
  --md-sys-color-surface-bright: #2d2b31;
  --md-sys-color-surface-container-lowest: #000000;
  --md-sys-color-surface-container-low: #27252b;
  --md-sys-color-surface-container: #322f35;
  --md-sys-color-surface-container-high: #3d3a41;
  --md-sys-color-surface-container-highest: #27252b;
  --md-sys-color-on-surface: #ffffff;
  --md-sys-color-surface-variant: #27252b;
  --md-sys-color-on-surface-variant: #ffffff;
  --md-sys-color-inverse-surface: #fdf7ff;
  --md-sys-color-inverse-on-surface: #000000;
  --md-sys-color-outline: #fffeff;
  --md-sys-color-outline-variant: #d2ccd4;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #ffffff;
  --md-sys-color-primary: #ffffff;
  --md-sys-color-primary-dim: #fffeff;
  --md-sys-color-on-primary: #000000;
  --md-sys-color-primary-container: #4f378a;
  --md-sys-color-on-primary-container: #ffffff;
  --md-sys-color-inverse-primary: #000000;
  --md-sys-color-primary-fixed: #4f378a;
  --md-sys-color-primary-fixed-dim: #432b7e;
  --md-sys-color-on-primary-fixed: #ffffff;
  --md-sys-color-on-primary-fixed-variant: #fffeff;
  --md-sys-color-secondary: #ffffff;
  --md-sys-color-secondary-dim: #fffeff;
  --md-sys-color-on-secondary: #000000;
  --md-sys-color-secondary-container: #4b4263;
  --md-sys-color-on-secondary-container: #ffffff;
  --md-sys-color-secondary-fixed: #4b4263;
  --md-sys-color-secondary-fixed-dim: #3f3657;
  --md-sys-color-on-secondary-fixed: #ffffff;
  --md-sys-color-on-secondary-fixed-variant: #fffeff;
  --md-sys-color-tertiary: #ffffff;
  --md-sys-color-tertiary-dim: #fffeff;
  --md-sys-color-on-tertiary: #000000;
  --md-sys-color-tertiary-container: #fec700;
  --md-sys-color-on-tertiary-container: #000000;
  --md-sys-color-tertiary-fixed: #cda000;
  --md-sys-color-tertiary-fixed-dim: #bc9300;
  --md-sys-color-on-tertiary-fixed: #000000;
  --md-sys-color-on-tertiary-fixed-variant: #000000;
  --md-sys-color-error: #ffffff;
  --md-sys-color-error-dim: #fffeff;
  --md-sys-color-on-error: #000000;
  --md-sys-color-error-container: #93000a;
  --md-sys-color-on-error-container: #ffffff;
}

