.light {
  --md-sys-color-primary-palette-key-color: #247cbb;
  --md-sys-color-secondary-palette-key-color: #4b7ba7;
  --md-sys-color-tertiary-palette-key-color: #7e6ea9;
  --md-sys-color-neutral-palette-key-color: #7a7582;
  --md-sys-color-neutral-variant-palette-key-color: #7b748a;
  --md-sys-color-error-palette-key-color: #de3730;
  --md-sys-color-background: #15121c;
  --md-sys-color-on-background: #e7e0ef;
  --md-sys-color-surface: #15121c;
  --md-sys-color-surface-dim: #15121c;
  --md-sys-color-surface-bright: #3b3743;
  --md-sys-color-surface-container-lowest: #0f0d16;
  --md-sys-color-surface-container-low: #1d1a24;
  --md-sys-color-surface-container: #211e28;
  --md-sys-color-surface-container-high: #2c2833;
  --md-sys-color-surface-container-highest: #37333e;
  --md-sys-color-on-surface: #e7e0ef;
  --md-sys-color-surface-variant: #4a4458;
  --md-sys-color-on-surface-variant: #cbc2db;
  --md-sys-color-inverse-surface: #e7e0ef;
  --md-sys-color-inverse-on-surface: #322f3a;
  --md-sys-color-outline: #958da4;
  --md-sys-color-outline-variant: #4a4458;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #97cbff;
  --md-sys-color-primary: #97cbff;
  --md-sys-color-primary-dim: #b4d8ff;
  --md-sys-color-on-primary: #003354;
  --md-sys-color-primary-container: #cee5ff;
  --md-sys-color-on-primary-container: #0069a5;
  --md-sys-color-inverse-primary: #00639c;
  --md-sys-color-primary-fixed: #cee5ff;
  --md-sys-color-primary-fixed-dim: #97cbff;
  --md-sys-color-on-primary-fixed: #001d33;
  --md-sys-color-on-primary-fixed-variant: #004a77;
  --md-sys-color-secondary: #9ccbfb;
  --md-sys-color-secondary-dim: #b4d8ff;
  --md-sys-color-on-secondary: #003354;
  --md-sys-color-secondary-container: #cee5ff;
  --md-sys-color-on-secondary-container: #376893;
  --md-sys-color-secondary-fixed: #cee5ff;
  --md-sys-color-secondary-fixed-dim: #9ccbfb;
  --md-sys-color-on-secondary-fixed: #001d33;
  --md-sys-color-on-secondary-fixed-variant: #104a73;
  --md-sys-color-tertiary: #cfbdfe;
  --md-sys-color-tertiary-dim: #dccdff;
  --md-sys-color-on-tertiary: #36275d;
  --md-sys-color-tertiary-container: #e9ddff;
  --md-sys-color-on-tertiary-container: #6b5b95;
  --md-sys-color-tertiary-fixed: #e9ddff;
  --md-sys-color-tertiary-fixed-dim: #cfbdfe;
  --md-sys-color-on-tertiary-fixed: #201047;
  --md-sys-color-on-tertiary-fixed-variant: #4d3d75;
  --md-sys-color-error: #ffb4ab;
  --md-sys-color-error-dim: #ffc7c0;
  --md-sys-color-on-error: #690005;
  --md-sys-color-error-container: #ffdad6;
  --md-sys-color-on-error-container: #c32220;
}

.light-medium-contrast {
  --md-sys-color-primary-palette-key-color: #247cbb;
  --md-sys-color-secondary-palette-key-color: #4b7ba7;
  --md-sys-color-tertiary-palette-key-color: #7e6ea9;
  --md-sys-color-neutral-palette-key-color: #7a7582;
  --md-sys-color-neutral-variant-palette-key-color: #7b748a;
  --md-sys-color-error-palette-key-color: #de3730;
  --md-sys-color-background: #15121c;
  --md-sys-color-on-background: #e7e0ef;
  --md-sys-color-surface: #15121c;
  --md-sys-color-surface-dim: #15121c;
  --md-sys-color-surface-bright: #47434e;
  --md-sys-color-surface-container-lowest: #08060f;
  --md-sys-color-surface-container-low: #1f1c26;
  --md-sys-color-surface-container: #292631;
  --md-sys-color-surface-container-high: #34313c;
  --md-sys-color-surface-container-highest: #403c47;
  --md-sys-color-on-surface: #ffffff;
  --md-sys-color-surface-variant: #4a4458;
  --md-sys-color-on-surface-variant: #e2d8f2;
  --md-sys-color-inverse-surface: #e7e0ef;
  --md-sys-color-inverse-on-surface: #2c2833;
  --md-sys-color-outline: #b7aec6;
  --md-sys-color-outline-variant: #948da4;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #97cbff;
  --md-sys-color-primary: #c3dfff;
  --md-sys-color-primary-dim: #b4d8ff;
  --md-sys-color-on-primary: #002843;
  --md-sys-color-primary-container: #f6f9ff;
  --md-sys-color-on-primary-container: #00598d;
  --md-sys-color-inverse-primary: #004b79;
  --md-sys-color-primary-fixed: #cee5ff;
  --md-sys-color-primary-fixed-dim: #97cbff;
  --md-sys-color-on-primary-fixed: #001223;
  --md-sys-color-on-primary-fixed-variant: #00395d;
  --md-sys-color-secondary: #c3dfff;
  --md-sys-color-secondary-dim: #b4d8ff;
  --md-sys-color-on-secondary: #002843;
  --md-sys-color-secondary-container: #f6f9ff;
  --md-sys-color-on-secondary-container: #245882;
  --md-sys-color-secondary-fixed: #cee5ff;
  --md-sys-color-secondary-fixed-dim: #9ccbfb;
  --md-sys-color-on-secondary-fixed: #001223;
  --md-sys-color-on-secondary-fixed-variant: #00395d;
  --md-sys-color-tertiary: #e3d6ff;
  --md-sys-color-tertiary-dim: #dccdff;
  --md-sys-color-on-tertiary: #2b1b52;
  --md-sys-color-tertiary-container: #fdf7ff;
  --md-sys-color-on-tertiary-container: #5b4c84;
  --md-sys-color-tertiary-fixed: #e9ddff;
  --md-sys-color-tertiary-fixed-dim: #cfbdfe;
  --md-sys-color-on-tertiary-fixed: #16033d;
  --md-sys-color-on-tertiary-fixed-variant: #3c2d63;
  --md-sys-color-error: #ffd2cc;
  --md-sys-color-error-dim: #ffc7c0;
  --md-sys-color-on-error: #540003;
  --md-sys-color-error-container: #fff7f6;
  --md-sys-color-on-error-container: #ab0b12;
}

.light-high-contrast {
  --md-sys-color-primary-palette-key-color: #247cbb;
  --md-sys-color-secondary-palette-key-color: #4b7ba7;
  --md-sys-color-tertiary-palette-key-color: #7e6ea9;
  --md-sys-color-neutral-palette-key-color: #7a7582;
  --md-sys-color-neutral-variant-palette-key-color: #7b748a;
  --md-sys-color-error-palette-key-color: #de3730;
  --md-sys-color-background: #15121c;
  --md-sys-color-on-background: #e7e0ef;
  --md-sys-color-surface: #15121c;
  --md-sys-color-surface-dim: #15121c;
  --md-sys-color-surface-bright: #524e5a;
  --md-sys-color-surface-container-lowest: #000000;
  --md-sys-color-surface-container-low: #211e28;
  --md-sys-color-surface-container: #322f3a;
  --md-sys-color-surface-container-high: #3d3a45;
  --md-sys-color-surface-container-highest: #494551;
  --md-sys-color-on-surface: #ffffff;
  --md-sys-color-surface-variant: #4a4458;
  --md-sys-color-on-surface-variant: #ffffff;
  --md-sys-color-inverse-surface: #e7e0ef;
  --md-sys-color-inverse-on-surface: #000000;
  --md-sys-color-outline: #f5edff;
  --md-sys-color-outline-variant: #c8bfd8;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #97cbff;
  --md-sys-color-primary: #cee5ff;
  --md-sys-color-primary-dim: #fffeff;
  --md-sys-color-on-primary: #000000;
  --md-sys-color-primary-container: #ffffff;
  --md-sys-color-on-primary-container: #003e65;
  --md-sys-color-inverse-primary: #004b79;
  --md-sys-color-primary-fixed: #cee5ff;
  --md-sys-color-primary-fixed-dim: #97cbff;
  --md-sys-color-on-primary-fixed: #000000;
  --md-sys-color-on-primary-fixed-variant: #001223;
  --md-sys-color-secondary: #cee5ff;
  --md-sys-color-secondary-dim: #fffeff;
  --md-sys-color-on-secondary: #000000;
  --md-sys-color-secondary-container: #ffffff;
  --md-sys-color-on-secondary-container: #003e65;
  --md-sys-color-secondary-fixed: #cee5ff;
  --md-sys-color-secondary-fixed-dim: #9ccbfb;
  --md-sys-color-on-secondary-fixed: #000000;
  --md-sys-color-on-secondary-fixed-variant: #001223;
  --md-sys-color-tertiary: #e9ddff;
  --md-sys-color-tertiary-dim: #fffeff;
  --md-sys-color-on-tertiary: #000000;
  --md-sys-color-tertiary-container: #ffffff;
  --md-sys-color-on-tertiary-container: #413269;
  --md-sys-color-tertiary-fixed: #e9ddff;
  --md-sys-color-tertiary-fixed-dim: #cfbdfe;
  --md-sys-color-on-tertiary-fixed: #000000;
  --md-sys-color-on-tertiary-fixed-variant: #16033d;
  --md-sys-color-error: #ffdad6;
  --md-sys-color-error-dim: #fffeff;
  --md-sys-color-on-error: #000000;
  --md-sys-color-error-container: #ffffff;
  --md-sys-color-on-error-container: #7e0007;
}

.dark {
  --md-sys-color-primary-palette-key-color: #247cbb;
  --md-sys-color-secondary-palette-key-color: #4b7ba7;
  --md-sys-color-tertiary-palette-key-color: #7e6ea9;
  --md-sys-color-neutral-palette-key-color: #7a7582;
  --md-sys-color-neutral-variant-palette-key-color: #7b748a;
  --md-sys-color-error-palette-key-color: #de3730;
  --md-sys-color-background: #15121c;
  --md-sys-color-on-background: #e7e0ef;
  --md-sys-color-surface: #15121c;
  --md-sys-color-surface-dim: #15121c;
  --md-sys-color-surface-bright: #3b3743;
  --md-sys-color-surface-container-lowest: #0f0d16;
  --md-sys-color-surface-container-low: #1d1a24;
  --md-sys-color-surface-container: #211e28;
  --md-sys-color-surface-container-high: #2c2833;
  --md-sys-color-surface-container-highest: #37333e;
  --md-sys-color-on-surface: #e7e0ef;
  --md-sys-color-surface-variant: #4a4458;
  --md-sys-color-on-surface-variant: #cbc2db;
  --md-sys-color-inverse-surface: #e7e0ef;
  --md-sys-color-inverse-on-surface: #322f3a;
  --md-sys-color-outline: #958da4;
  --md-sys-color-outline-variant: #4a4458;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #97cbff;
  --md-sys-color-primary: #97cbff;
  --md-sys-color-primary-dim: #b4d8ff;
  --md-sys-color-on-primary: #003354;
  --md-sys-color-primary-container: #cee5ff;
  --md-sys-color-on-primary-container: #0069a5;
  --md-sys-color-inverse-primary: #00639c;
  --md-sys-color-primary-fixed: #cee5ff;
  --md-sys-color-primary-fixed-dim: #97cbff;
  --md-sys-color-on-primary-fixed: #001d33;
  --md-sys-color-on-primary-fixed-variant: #004a77;
  --md-sys-color-secondary: #9ccbfb;
  --md-sys-color-secondary-dim: #b4d8ff;
  --md-sys-color-on-secondary: #003354;
  --md-sys-color-secondary-container: #cee5ff;
  --md-sys-color-on-secondary-container: #376893;
  --md-sys-color-secondary-fixed: #cee5ff;
  --md-sys-color-secondary-fixed-dim: #9ccbfb;
  --md-sys-color-on-secondary-fixed: #001d33;
  --md-sys-color-on-secondary-fixed-variant: #104a73;
  --md-sys-color-tertiary: #cfbdfe;
  --md-sys-color-tertiary-dim: #dccdff;
  --md-sys-color-on-tertiary: #36275d;
  --md-sys-color-tertiary-container: #e9ddff;
  --md-sys-color-on-tertiary-container: #6b5b95;
  --md-sys-color-tertiary-fixed: #e9ddff;
  --md-sys-color-tertiary-fixed-dim: #cfbdfe;
  --md-sys-color-on-tertiary-fixed: #201047;
  --md-sys-color-on-tertiary-fixed-variant: #4d3d75;
  --md-sys-color-error: #ffb4ab;
  --md-sys-color-error-dim: #ffc7c0;
  --md-sys-color-on-error: #690005;
  --md-sys-color-error-container: #ffdad6;
  --md-sys-color-on-error-container: #c32220;
}

.dark-medium-contrast {
  --md-sys-color-primary-palette-key-color: #247cbb;
  --md-sys-color-secondary-palette-key-color: #4b7ba7;
  --md-sys-color-tertiary-palette-key-color: #7e6ea9;
  --md-sys-color-neutral-palette-key-color: #7a7582;
  --md-sys-color-neutral-variant-palette-key-color: #7b748a;
  --md-sys-color-error-palette-key-color: #de3730;
  --md-sys-color-background: #15121c;
  --md-sys-color-on-background: #e7e0ef;
  --md-sys-color-surface: #15121c;
  --md-sys-color-surface-dim: #15121c;
  --md-sys-color-surface-bright: #47434e;
  --md-sys-color-surface-container-lowest: #08060f;
  --md-sys-color-surface-container-low: #1f1c26;
  --md-sys-color-surface-container: #292631;
  --md-sys-color-surface-container-high: #34313c;
  --md-sys-color-surface-container-highest: #403c47;
  --md-sys-color-on-surface: #ffffff;
  --md-sys-color-surface-variant: #4a4458;
  --md-sys-color-on-surface-variant: #e2d8f2;
  --md-sys-color-inverse-surface: #e7e0ef;
  --md-sys-color-inverse-on-surface: #2c2833;
  --md-sys-color-outline: #b7aec6;
  --md-sys-color-outline-variant: #948da4;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #97cbff;
  --md-sys-color-primary: #c3dfff;
  --md-sys-color-primary-dim: #b4d8ff;
  --md-sys-color-on-primary: #002843;
  --md-sys-color-primary-container: #f6f9ff;
  --md-sys-color-on-primary-container: #00598d;
  --md-sys-color-inverse-primary: #004b79;
  --md-sys-color-primary-fixed: #cee5ff;
  --md-sys-color-primary-fixed-dim: #97cbff;
  --md-sys-color-on-primary-fixed: #001223;
  --md-sys-color-on-primary-fixed-variant: #00395d;
  --md-sys-color-secondary: #c3dfff;
  --md-sys-color-secondary-dim: #b4d8ff;
  --md-sys-color-on-secondary: #002843;
  --md-sys-color-secondary-container: #f6f9ff;
  --md-sys-color-on-secondary-container: #245882;
  --md-sys-color-secondary-fixed: #cee5ff;
  --md-sys-color-secondary-fixed-dim: #9ccbfb;
  --md-sys-color-on-secondary-fixed: #001223;
  --md-sys-color-on-secondary-fixed-variant: #00395d;
  --md-sys-color-tertiary: #e3d6ff;
  --md-sys-color-tertiary-dim: #dccdff;
  --md-sys-color-on-tertiary: #2b1b52;
  --md-sys-color-tertiary-container: #fdf7ff;
  --md-sys-color-on-tertiary-container: #5b4c84;
  --md-sys-color-tertiary-fixed: #e9ddff;
  --md-sys-color-tertiary-fixed-dim: #cfbdfe;
  --md-sys-color-on-tertiary-fixed: #16033d;
  --md-sys-color-on-tertiary-fixed-variant: #3c2d63;
  --md-sys-color-error: #ffd2cc;
  --md-sys-color-error-dim: #ffc7c0;
  --md-sys-color-on-error: #540003;
  --md-sys-color-error-container: #fff7f6;
  --md-sys-color-on-error-container: #ab0b12;
}

.dark-high-contrast {
  --md-sys-color-primary-palette-key-color: #247cbb;
  --md-sys-color-secondary-palette-key-color: #4b7ba7;
  --md-sys-color-tertiary-palette-key-color: #7e6ea9;
  --md-sys-color-neutral-palette-key-color: #7a7582;
  --md-sys-color-neutral-variant-palette-key-color: #7b748a;
  --md-sys-color-error-palette-key-color: #de3730;
  --md-sys-color-background: #15121c;
  --md-sys-color-on-background: #e7e0ef;
  --md-sys-color-surface: #15121c;
  --md-sys-color-surface-dim: #15121c;
  --md-sys-color-surface-bright: #524e5a;
  --md-sys-color-surface-container-lowest: #000000;
  --md-sys-color-surface-container-low: #211e28;
  --md-sys-color-surface-container: #322f3a;
  --md-sys-color-surface-container-high: #3d3a45;
  --md-sys-color-surface-container-highest: #494551;
  --md-sys-color-on-surface: #ffffff;
  --md-sys-color-surface-variant: #4a4458;
  --md-sys-color-on-surface-variant: #ffffff;
  --md-sys-color-inverse-surface: #e7e0ef;
  --md-sys-color-inverse-on-surface: #000000;
  --md-sys-color-outline: #f5edff;
  --md-sys-color-outline-variant: #c8bfd8;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #97cbff;
  --md-sys-color-primary: #cee5ff;
  --md-sys-color-primary-dim: #fffeff;
  --md-sys-color-on-primary: #000000;
  --md-sys-color-primary-container: #ffffff;
  --md-sys-color-on-primary-container: #003e65;
  --md-sys-color-inverse-primary: #004b79;
  --md-sys-color-primary-fixed: #cee5ff;
  --md-sys-color-primary-fixed-dim: #97cbff;
  --md-sys-color-on-primary-fixed: #000000;
  --md-sys-color-on-primary-fixed-variant: #001223;
  --md-sys-color-secondary: #cee5ff;
  --md-sys-color-secondary-dim: #fffeff;
  --md-sys-color-on-secondary: #000000;
  --md-sys-color-secondary-container: #ffffff;
  --md-sys-color-on-secondary-container: #003e65;
  --md-sys-color-secondary-fixed: #cee5ff;
  --md-sys-color-secondary-fixed-dim: #9ccbfb;
  --md-sys-color-on-secondary-fixed: #000000;
  --md-sys-color-on-secondary-fixed-variant: #001223;
  --md-sys-color-tertiary: #e9ddff;
  --md-sys-color-tertiary-dim: #fffeff;
  --md-sys-color-on-tertiary: #000000;
  --md-sys-color-tertiary-container: #ffffff;
  --md-sys-color-on-tertiary-container: #413269;
  --md-sys-color-tertiary-fixed: #e9ddff;
  --md-sys-color-tertiary-fixed-dim: #cfbdfe;
  --md-sys-color-on-tertiary-fixed: #000000;
  --md-sys-color-on-tertiary-fixed-variant: #16033d;
  --md-sys-color-error: #ffdad6;
  --md-sys-color-error-dim: #fffeff;
  --md-sys-color-on-error: #000000;
  --md-sys-color-error-container: #ffffff;
  --md-sys-color-on-error-container: #7e0007;
}

