.light {
  --md-sys-color-primary-palette-key-color: #247cbb;
  --md-sys-color-secondary-palette-key-color: #4b7ba7;
  --md-sys-color-tertiary-palette-key-color: #7e6ea9;
  --md-sys-color-neutral-palette-key-color: #7a7582;
  --md-sys-color-neutral-variant-palette-key-color: #7b748a;
  --md-sys-color-error-palette-key-color: #de3730;
  --md-sys-color-background: #fdf7ff;
  --md-sys-color-on-background: #34313c;
  --md-sys-color-surface: #fdf7ff;
  --md-sys-color-surface-dim: #ded7e6;
  --md-sys-color-surface-bright: #fdf7ff;
  --md-sys-color-surface-container-lowest: #ffffff;
  --md-sys-color-surface-container-low: #f8f1ff;
  --md-sys-color-surface-container: #f2ebfa;
  --md-sys-color-surface-container-high: #ede5f4;
  --md-sys-color-surface-container-highest: #e7e0ef;
  --md-sys-color-on-surface: #34313c;
  --md-sys-color-surface-variant: #e7e0ef;
  --md-sys-color-on-surface-variant: #625d69;
  --md-sys-color-inverse-surface: #0f0d16;
  --md-sys-color-inverse-on-surface: #a09aa8;
  --md-sys-color-outline: #7e7885;
  --md-sys-color-outline-variant: #b6afbd;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #00639d;
  --md-sys-color-primary: #00639d;
  --md-sys-color-primary-dim: #00578a;
  --md-sys-color-on-primary: #f6f9ff;
  --md-sys-color-primary-container: #6bb6fa;
  --md-sys-color-on-primary-container: #003354;
  --md-sys-color-inverse-primary: #6bb6fa;
  --md-sys-color-primary-fixed: #6bb6fa;
  --md-sys-color-primary-fixed-dim: #5da9eb;
  --md-sys-color-on-primary-fixed: #00192d;
  --md-sys-color-on-primary-fixed-variant: #003c62;
  --md-sys-color-secondary: #31638d;
  --md-sys-color-secondary-dim: #225780;
  --md-sys-color-on-secondary: #f6f9ff;
  --md-sys-color-secondary-container: #cee5ff;
  --md-sys-color-on-secondary-container: #20557f;
  --md-sys-color-secondary-fixed: #cee5ff;
  --md-sys-color-secondary-fixed-dim: #b4d8ff;
  --md-sys-color-on-secondary-fixed: #00426b;
  --md-sys-color-on-secondary-fixed-variant: #2c5f89;
  --md-sys-color-tertiary: #655690;
  --md-sys-color-tertiary-dim: #594a83;
  --md-sys-color-on-tertiary: #fdf7ff;
  --md-sys-color-tertiary-container: #c7b4f5;
  --md-sys-color-on-tertiary-container: #403168;
  --md-sys-color-tertiary-fixed: #c7b4f5;
  --md-sys-color-tertiary-fixed-dim: #b9a7e7;
  --md-sys-color-on-tertiary-fixed: #2a1b51;
  --md-sys-color-on-tertiary-fixed-variant: #493a72;
  --md-sys-color-error: #bb1b1b;
  --md-sys-color-error-dim: #a90810;
  --md-sys-color-on-error: #fff7f6;
  --md-sys-color-error-container: #fe4e44;
  --md-sys-color-on-error-container: #570003;
}

.light-medium-contrast {
  --md-sys-color-primary-palette-key-color: #247cbb;
  --md-sys-color-secondary-palette-key-color: #4b7ba7;
  --md-sys-color-tertiary-palette-key-color: #7e6ea9;
  --md-sys-color-neutral-palette-key-color: #7a7582;
  --md-sys-color-neutral-variant-palette-key-color: #7b748a;
  --md-sys-color-error-palette-key-color: #de3730;
  --md-sys-color-background: #fdf7ff;
  --md-sys-color-on-background: #25222d;
  --md-sys-color-surface: #fdf7ff;
  --md-sys-color-surface-dim: #ded7e6;
  --md-sys-color-surface-bright: #fdf7ff;
  --md-sys-color-surface-container-lowest: #ffffff;
  --md-sys-color-surface-container-low: #f8f1ff;
  --md-sys-color-surface-container: #f2ebfa;
  --md-sys-color-surface-container-high: #ede5f4;
  --md-sys-color-surface-container-highest: #e7e0ef;
  --md-sys-color-on-surface: #25222d;
  --md-sys-color-surface-variant: #e7e0ef;
  --md-sys-color-on-surface-variant: #45414d;
  --md-sys-color-inverse-surface: #0f0d16;
  --md-sys-color-inverse-on-surface: #c9c2d0;
  --md-sys-color-outline: #625d69;
  --md-sys-color-outline-variant: #7e7885;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #004671;
  --md-sys-color-primary: #004671;
  --md-sys-color-primary-dim: #003a5f;
  --md-sys-color-on-primary: #beddff;
  --md-sys-color-primary-container: #2079b9;
  --md-sys-color-on-primary-container: #ffffff;
  --md-sys-color-inverse-primary: #6bb6fa;
  --md-sys-color-primary-fixed: #2079b9;
  --md-sys-color-primary-fixed-dim: #006dab;
  --md-sys-color-on-primary-fixed: #ffffff;
  --md-sys-color-on-primary-fixed-variant: #ffffff;
  --md-sys-color-secondary: #07466f;
  --md-sys-color-secondary-dim: #003a5f;
  --md-sys-color-on-secondary: #beddff;
  --md-sys-color-secondary-container: #4878a4;
  --md-sys-color-on-secondary-container: #ffffff;
  --md-sys-color-secondary-fixed: #4878a4;
  --md-sys-color-secondary-fixed-dim: #3b6c97;
  --md-sys-color-on-secondary-fixed: #ffffff;
  --md-sys-color-on-secondary-fixed-variant: #ffffff;
  --md-sys-color-tertiary: #493971;
  --md-sys-color-tertiary-dim: #3d2e65;
  --md-sys-color-on-tertiary: #e1d3ff;
  --md-sys-color-tertiary-container: #7b6ba7;
  --md-sys-color-on-tertiary-container: #ffffff;
  --md-sys-color-tertiary-fixed: #7b6ba7;
  --md-sys-color-tertiary-fixed-dim: #6f5f99;
  --md-sys-color-on-tertiary-fixed: #ffffff;
  --md-sys-color-on-tertiary-fixed-variant: #ffffff;
  --md-sys-color-error: #8c0009;
  --md-sys-color-error-dim: #760006;
  --md-sys-color-on-error: #ffcec8;
  --md-sys-color-error-container: #da342e;
  --md-sys-color-on-error-container: #ffffff;
}

.light-high-contrast {
  --md-sys-color-primary-palette-key-color: #247cbb;
  --md-sys-color-secondary-palette-key-color: #4b7ba7;
  --md-sys-color-tertiary-palette-key-color: #7e6ea9;
  --md-sys-color-neutral-palette-key-color: #7a7582;
  --md-sys-color-neutral-variant-palette-key-color: #7b748a;
  --md-sys-color-error-palette-key-color: #de3730;
  --md-sys-color-background: #fdf7ff;
  --md-sys-color-on-background: #000000;
  --md-sys-color-surface: #fdf7ff;
  --md-sys-color-surface-dim: #ded7e6;
  --md-sys-color-surface-bright: #fdf7ff;
  --md-sys-color-surface-container-lowest: #ffffff;
  --md-sys-color-surface-container-low: #f8f1ff;
  --md-sys-color-surface-container: #f2ebfa;
  --md-sys-color-surface-container-high: #ede5f4;
  --md-sys-color-surface-container-highest: #e7e0ef;
  --md-sys-color-on-surface: #000000;
  --md-sys-color-surface-variant: #e7e0ef;
  --md-sys-color-on-surface-variant: #25222d;
  --md-sys-color-inverse-surface: #0f0d16;
  --md-sys-color-inverse-on-surface: #ffffff;
  --md-sys-color-outline: #45414d;
  --md-sys-color-outline-variant: #625d69;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #002640;
  --md-sys-color-primary: #002640;
  --md-sys-color-primary-dim: #001b30;
  --md-sys-color-on-primary: #bfddff;
  --md-sys-color-primary-container: #00639d;
  --md-sys-color-on-primary-container: #ffffff;
  --md-sys-color-inverse-primary: #94caff;
  --md-sys-color-primary-fixed: #00639d;
  --md-sys-color-primary-fixed-dim: #00578a;
  --md-sys-color-on-primary-fixed: #ffffff;
  --md-sys-color-on-primary-fixed-variant: #ffffff;
  --md-sys-color-secondary: #002640;
  --md-sys-color-secondary-dim: #001b30;
  --md-sys-color-on-secondary: #bfddff;
  --md-sys-color-secondary-container: #31638d;
  --md-sys-color-on-secondary-container: #ffffff;
  --md-sys-color-secondary-fixed: #31638d;
  --md-sys-color-secondary-fixed-dim: #225780;
  --md-sys-color-on-secondary-fixed: #ffffff;
  --md-sys-color-on-secondary-fixed-variant: #ffffff;
  --md-sys-color-tertiary: #291950;
  --md-sys-color-tertiary-dim: #1e0d45;
  --md-sys-color-on-tertiary: #e1d3ff;
  --md-sys-color-tertiary-container: #655690;
  --md-sys-color-on-tertiary-container: #ffffff;
  --md-sys-color-tertiary-fixed: #655690;
  --md-sys-color-tertiary-fixed-dim: #594a83;
  --md-sys-color-on-tertiary-fixed: #ffffff;
  --md-sys-color-on-tertiary-fixed-variant: #ffffff;
  --md-sys-color-error: #510003;
  --md-sys-color-error-dim: #3e0002;
  --md-sys-color-on-error: #ffcfc9;
  --md-sys-color-error-container: #bb1b1b;
  --md-sys-color-on-error-container: #ffffff;
}

.dark {
  --md-sys-color-primary-palette-key-color: #247cbb;
  --md-sys-color-secondary-palette-key-color: #4b7ba7;
  --md-sys-color-tertiary-palette-key-color: #7e6ea9;
  --md-sys-color-neutral-palette-key-color: #7a7582;
  --md-sys-color-neutral-variant-palette-key-color: #7b748a;
  --md-sys-color-error-palette-key-color: #de3730;
  --md-sys-color-background: #0f0d16;
  --md-sys-color-on-background: #eae3f2;
  --md-sys-color-surface: #0f0d16;
  --md-sys-color-surface-dim: #0f0d16;
  --md-sys-color-surface-bright: #2e2a35;
  --md-sys-color-surface-container-lowest: #000000;
  --md-sys-color-surface-container-low: #15121c;
  --md-sys-color-surface-container: #1b1822;
  --md-sys-color-surface-container-high: #211e28;
  --md-sys-color-surface-container-highest: #27242f;
  --md-sys-color-on-surface: #eae3f2;
  --md-sys-color-surface-variant: #27242f;
  --md-sys-color-on-surface-variant: #afa9b6;
  --md-sys-color-inverse-surface: #fdf7ff;
  --md-sys-color-inverse-on-surface: #57535f;
  --md-sys-color-outline: #787380;
  --md-sys-color-outline-variant: #4a4652;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #6bb6fa;
  --md-sys-color-primary: #6bb6fa;
  --md-sys-color-primary-dim: #5da9eb;
  --md-sys-color-on-primary: #003354;
  --md-sys-color-primary-container: #5aa6e8;
  --md-sys-color-on-primary-container: #00253e;
  --md-sys-color-inverse-primary: #00639d;
  --md-sys-color-primary-fixed: #6bb6fa;
  --md-sys-color-primary-fixed-dim: #5da9eb;
  --md-sys-color-on-primary-fixed: #00192d;
  --md-sys-color-on-primary-fixed-variant: #003c62;
  --md-sys-color-secondary: #9ccbfb;
  --md-sys-color-secondary-dim: #8ebdec;
  --md-sys-color-on-secondary: #02436c;
  --md-sys-color-secondary-container: #003e65;
  --md-sys-color-on-secondary-container: #94c4f3;
  --md-sys-color-secondary-fixed: #cee5ff;
  --md-sys-color-secondary-fixed-dim: #b4d8ff;
  --md-sys-color-on-secondary-fixed: #00426b;
  --md-sys-color-on-secondary-fixed-variant: #2c5f89;
  --md-sys-color-tertiary: #d4c3ff;
  --md-sys-color-tertiary-dim: #c7b4f5;
  --md-sys-color-on-tertiary: #4a3a72;
  --md-sys-color-tertiary-container: #c7b4f5;
  --md-sys-color-on-tertiary-container: #403168;
  --md-sys-color-tertiary-fixed: #c7b4f5;
  --md-sys-color-tertiary-fixed-dim: #b9a7e7;
  --md-sys-color-on-tertiary-fixed: #2a1b51;
  --md-sys-color-on-tertiary-fixed-variant: #493a72;
  --md-sys-color-error: #ff7164;
  --md-sys-color-error-dim: #da342e;
  --md-sys-color-on-error: #4a0002;
  --md-sys-color-error-container: #ac0c12;
  --md-sys-color-on-error-container: #ffb8b0;
}

.dark-medium-contrast {
  --md-sys-color-primary-palette-key-color: #247cbb;
  --md-sys-color-secondary-palette-key-color: #4b7ba7;
  --md-sys-color-tertiary-palette-key-color: #7e6ea9;
  --md-sys-color-neutral-palette-key-color: #7a7582;
  --md-sys-color-neutral-variant-palette-key-color: #7b748a;
  --md-sys-color-error-palette-key-color: #de3730;
  --md-sys-color-background: #0f0d16;
  --md-sys-color-on-background: #ffffff;
  --md-sys-color-surface: #0f0d16;
  --md-sys-color-surface-dim: #0f0d16;
  --md-sys-color-surface-bright: #2e2a35;
  --md-sys-color-surface-container-lowest: #000000;
  --md-sys-color-surface-container-low: #15121c;
  --md-sys-color-surface-container: #1b1822;
  --md-sys-color-surface-container-high: #211e28;
  --md-sys-color-surface-container-highest: #27242f;
  --md-sys-color-on-surface: #ffffff;
  --md-sys-color-surface-variant: #27242f;
  --md-sys-color-on-surface-variant: #bdb6c4;
  --md-sys-color-inverse-surface: #fdf7ff;
  --md-sys-color-inverse-on-surface: #3a3642;
  --md-sys-color-outline: #97919f;
  --md-sys-color-outline-variant: #787380;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #78beff;
  --md-sys-color-primary: #78beff;
  --md-sys-color-primary-dim: #65b1f4;
  --md-sys-color-on-primary: #002e4d;
  --md-sys-color-primary-container: #5aa6e8;
  --md-sys-color-on-primary-container: #001628;
  --md-sys-color-inverse-primary: #00598d;
  --md-sys-color-primary-fixed: #6bb6fa;
  --md-sys-color-primary-fixed-dim: #5da9eb;
  --md-sys-color-on-primary-fixed: #000000;
  --md-sys-color-on-primary-fixed-variant: #00192d;
  --md-sys-color-secondary: #9ccbfb;
  --md-sys-color-secondary-dim: #8ebdec;
  --md-sys-color-on-secondary: #00395d;
  --md-sys-color-secondary-container: #4878a4;
  --md-sys-color-on-secondary-container: #ffffff;
  --md-sys-color-secondary-fixed: #cee5ff;
  --md-sys-color-secondary-fixed-dim: #b4d8ff;
  --md-sys-color-on-secondary-fixed: #002139;
  --md-sys-color-on-secondary-fixed-variant: #00426b;
  --md-sys-color-tertiary: #d4c3ff;
  --md-sys-color-tertiary-dim: #c7b4f5;
  --md-sys-color-on-tertiary: #3f3067;
  --md-sys-color-tertiary-container: #c7b4f5;
  --md-sys-color-on-tertiary-container: #36265d;
  --md-sys-color-tertiary-fixed: #c7b4f5;
  --md-sys-color-tertiary-fixed-dim: #b9a7e7;
  --md-sys-color-on-tertiary-fixed: #000000;
  --md-sys-color-on-tertiary-fixed-variant: #2a1b51;
  --md-sys-color-error: #ff9f94;
  --md-sys-color-error-dim: #ff887c;
  --md-sys-color-on-error: #600004;
  --md-sys-color-error-container: #da342e;
  --md-sys-color-on-error-container: #ffffff;
}

.dark-high-contrast {
  --md-sys-color-primary-palette-key-color: #247cbb;
  --md-sys-color-secondary-palette-key-color: #4b7ba7;
  --md-sys-color-tertiary-palette-key-color: #7e6ea9;
  --md-sys-color-neutral-palette-key-color: #7a7582;
  --md-sys-color-neutral-variant-palette-key-color: #7b748a;
  --md-sys-color-error-palette-key-color: #de3730;
  --md-sys-color-background: #0f0d16;
  --md-sys-color-on-background: #ffffff;
  --md-sys-color-surface: #0f0d16;
  --md-sys-color-surface-dim: #0f0d16;
  --md-sys-color-surface-bright: #2e2a35;
  --md-sys-color-surface-container-lowest: #000000;
  --md-sys-color-surface-container-low: #15121c;
  --md-sys-color-surface-container: #1b1822;
  --md-sys-color-surface-container-high: #211e28;
  --md-sys-color-surface-container-highest: #27242f;
  --md-sys-color-on-surface: #ffffff;
  --md-sys-color-surface-variant: #27242f;
  --md-sys-color-on-surface-variant: #eae3f2;
  --md-sys-color-inverse-surface: #fdf7ff;
  --md-sys-color-inverse-on-surface: #000000;
  --md-sys-color-outline: #bdb6c4;
  --md-sys-color-outline-variant: #97919f;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #d4e7ff;
  --md-sys-color-primary: #d4e7ff;
  --md-sys-color-primary-dim: #b4d8ff;
  --md-sys-color-on-primary: #002e4d;
  --md-sys-color-primary-container: #5aa6e8;
  --md-sys-color-on-primary-container: #000000;
  --md-sys-color-inverse-primary: #003b60;
  --md-sys-color-primary-fixed: #6bb6fa;
  --md-sys-color-primary-fixed-dim: #5da9eb;
  --md-sys-color-on-primary-fixed: #000000;
  --md-sys-color-on-primary-fixed-variant: #000000;
  --md-sys-color-secondary: #d4e7ff;
  --md-sys-color-secondary-dim: #b4d8ff;
  --md-sys-color-on-secondary: #002e4d;
  --md-sys-color-secondary-container: #73a2d0;
  --md-sys-color-on-secondary-container: #000000;
  --md-sys-color-secondary-fixed: #cee5ff;
  --md-sys-color-secondary-fixed-dim: #b4d8ff;
  --md-sys-color-on-secondary-fixed: #000000;
  --md-sys-color-on-secondary-fixed-variant: #002139;
  --md-sys-color-tertiary: #ebe1ff;
  --md-sys-color-tertiary-dim: #dccdff;
  --md-sys-color-on-tertiary: #312258;
  --md-sys-color-tertiary-container: #c7b4f5;
  --md-sys-color-on-tertiary-container: #040018;
  --md-sys-color-tertiary-fixed: #c7b4f5;
  --md-sys-color-tertiary-fixed-dim: #b9a7e7;
  --md-sys-color-on-tertiary-fixed: #000000;
  --md-sys-color-on-tertiary-fixed-variant: #000000;
  --md-sys-color-error: #ffdeda;
  --md-sys-color-error-dim: #ffc8c1;
  --md-sys-color-on-error: #600004;
  --md-sys-color-error-container: #ff7164;
  --md-sys-color-on-error-container: #000000;
}

