.light {
  --md-sys-color-primary-palette-key-color: #7a757f;
  --md-sys-color-secondary-palette-key-color: #79767a;
  --md-sys-color-tertiary-palette-key-color: #747591;
  --md-sys-color-neutral-palette-key-color: #797677;
  --md-sys-color-neutral-variant-palette-key-color: #797679;
  --md-sys-color-error-palette-key-color: #bd5665;
  --md-sys-color-background: #fdf8f9;
  --md-sys-color-on-background: #333235;
  --md-sys-color-surface: #fdf8f9;
  --md-sys-color-surface-dim: #ddd9dd;
  --md-sys-color-surface-bright: #fdf8f9;
  --md-sys-color-surface-container-lowest: #ffffff;
  --md-sys-color-surface-container-low: #f7f2f4;
  --md-sys-color-surface-container: #f1edef;
  --md-sys-color-surface-container-high: #ece7ea;
  --md-sys-color-surface-container-highest: #e6e1e4;
  --md-sys-color-on-surface: #333235;
  --md-sys-color-surface-variant: #e6e1e4;
  --md-sys-color-on-surface-variant: #615e61;
  --md-sys-color-inverse-surface: #0f0e0f;
  --md-sys-color-inverse-on-surface: #9f9c9d;
  --md-sys-color-outline: #7d7a7d;
  --md-sys-color-outline-variant: #b5b1b4;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #615d66;
  --md-sys-color-primary: #615d66;
  --md-sys-color-primary-dim: #54515a;
  --md-sys-color-on-primary: #fcf5ff;
  --md-sys-color-primary-container: #e7e0eb;
  --md-sys-color-on-primary-container: #545059;
  --md-sys-color-inverse-primary: #f8f1fd;
  --md-sys-color-primary-fixed: #e7e0eb;
  --md-sys-color-primary-fixed-dim: #d8d2dd;
  --md-sys-color-on-primary-fixed: #413e47;
  --md-sys-color-on-primary-fixed-variant: #5e5a63;
  --md-sys-color-secondary: #615e62;
  --md-sys-color-secondary-dim: #555256;
  --md-sys-color-on-secondary: #fdf7fc;
  --md-sys-color-secondary-container: #e6e1e6;
  --md-sys-color-on-secondary-container: #535155;
  --md-sys-color-secondary-fixed: #e6e1e6;
  --md-sys-color-secondary-fixed-dim: #d8d3d8;
  --md-sys-color-on-secondary-fixed: #413e42;
  --md-sys-color-on-secondary-fixed-variant: #5d5a5f;
  --md-sys-color-tertiary: #5c5d78;
  --md-sys-color-tertiary-dim: #50516c;
  --md-sys-color-on-tertiary: #fbf7ff;
  --md-sys-color-tertiary-container: #dbdafb;
  --md-sys-color-on-tertiary-container: #4b4c67;
  --md-sys-color-tertiary-fixed: #dbdafb;
  --md-sys-color-tertiary-fixed-dim: #cdccec;
  --md-sys-color-on-tertiary-fixed: #393a53;
  --md-sys-color-on-tertiary-fixed-variant: #555671;
  --md-sys-color-error: #9e3f4e;
  --md-sys-color-error-dim: #4f0116;
  --md-sys-color-on-error: #fff7f7;
  --md-sys-color-error-container: #ff8b9a;
  --md-sys-color-on-error-container: #782232;
}

.light-medium-contrast {
  --md-sys-color-primary-palette-key-color: #7a757f;
  --md-sys-color-secondary-palette-key-color: #79767a;
  --md-sys-color-tertiary-palette-key-color: #747591;
  --md-sys-color-neutral-palette-key-color: #797677;
  --md-sys-color-neutral-variant-palette-key-color: #797679;
  --md-sys-color-error-palette-key-color: #bd5665;
  --md-sys-color-background: #fdf8f9;
  --md-sys-color-on-background: #252326;
  --md-sys-color-surface: #fdf8f9;
  --md-sys-color-surface-dim: #ddd9dd;
  --md-sys-color-surface-bright: #fdf8f9;
  --md-sys-color-surface-container-lowest: #ffffff;
  --md-sys-color-surface-container-low: #f7f2f4;
  --md-sys-color-surface-container: #f1edef;
  --md-sys-color-surface-container-high: #ece7ea;
  --md-sys-color-surface-container-highest: #e6e1e4;
  --md-sys-color-on-surface: #252326;
  --md-sys-color-surface-variant: #e6e1e4;
  --md-sys-color-on-surface-variant: #444245;
  --md-sys-color-inverse-surface: #0f0e0f;
  --md-sys-color-inverse-on-surface: #c7c4c5;
  --md-sys-color-outline: #615e61;
  --md-sys-color-outline-variant: #7d7a7d;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #45414a;
  --md-sys-color-primary: #45414a;
  --md-sys-color-primary-dim: #39363f;
  --md-sys-color-on-primary: #ded7e3;
  --md-sys-color-primary-container: #77737d;
  --md-sys-color-on-primary-container: #ffffff;
  --md-sys-color-inverse-primary: #f8f1fd;
  --md-sys-color-primary-fixed: #77737d;
  --md-sys-color-primary-fixed-dim: #6a6670;
  --md-sys-color-on-primary-fixed: #ffffff;
  --md-sys-color-on-primary-fixed-variant: #ffffff;
  --md-sys-color-secondary: #444246;
  --md-sys-color-secondary-dim: #39373b;
  --md-sys-color-on-secondary: #ddd8dd;
  --md-sys-color-secondary-container: #777378;
  --md-sys-color-on-secondary-container: #ffffff;
  --md-sys-color-secondary-fixed: #777378;
  --md-sys-color-secondary-fixed-dim: #6a676b;
  --md-sys-color-on-secondary-fixed: #ffffff;
  --md-sys-color-on-secondary-fixed-variant: #ffffff;
  --md-sys-color-tertiary: #40415b;
  --md-sys-color-tertiary-dim: #34354f;
  --md-sys-color-on-tertiary: #d8d7f7;
  --md-sys-color-tertiary-container: #72728f;
  --md-sys-color-on-tertiary-container: #ffffff;
  --md-sys-color-tertiary-fixed: #72728f;
  --md-sys-color-tertiary-fixed-dim: #656682;
  --md-sys-color-on-tertiary-fixed: #ffffff;
  --md-sys-color-on-tertiary-fixed-variant: #ffffff;
  --md-sys-color-error: #7a2333;
  --md-sys-color-error-dim: #4f0116;
  --md-sys-color-on-error: #ffcdd1;
  --md-sys-color-error-container: #b95463;
  --md-sys-color-on-error-container: #ffffff;
}

.light-high-contrast {
  --md-sys-color-primary-palette-key-color: #7a757f;
  --md-sys-color-secondary-palette-key-color: #79767a;
  --md-sys-color-tertiary-palette-key-color: #747591;
  --md-sys-color-neutral-palette-key-color: #797677;
  --md-sys-color-neutral-variant-palette-key-color: #797679;
  --md-sys-color-error-palette-key-color: #bd5665;
  --md-sys-color-background: #fdf8f9;
  --md-sys-color-on-background: #000000;
  --md-sys-color-surface: #fdf8f9;
  --md-sys-color-surface-dim: #ddd9dd;
  --md-sys-color-surface-bright: #fdf8f9;
  --md-sys-color-surface-container-lowest: #ffffff;
  --md-sys-color-surface-container-low: #f7f2f4;
  --md-sys-color-surface-container: #f1edef;
  --md-sys-color-surface-container-high: #ece7ea;
  --md-sys-color-surface-container-highest: #e6e1e4;
  --md-sys-color-on-surface: #000000;
  --md-sys-color-surface-variant: #e6e1e4;
  --md-sys-color-on-surface-variant: #252326;
  --md-sys-color-inverse-surface: #0f0e0f;
  --md-sys-color-inverse-on-surface: #ffffff;
  --md-sys-color-outline: #444245;
  --md-sys-color-outline-variant: #615e61;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #25232b;
  --md-sys-color-primary: #25232b;
  --md-sys-color-primary-dim: #1b1920;
  --md-sys-color-on-primary: #ded8e3;
  --md-sys-color-primary-container: #615d67;
  --md-sys-color-on-primary-container: #ffffff;
  --md-sys-color-inverse-primary: #f8f1fd;
  --md-sys-color-primary-fixed: #615d67;
  --md-sys-color-primary-fixed-dim: #55515b;
  --md-sys-color-on-primary-fixed: #ffffff;
  --md-sys-color-on-primary-fixed-variant: #ffffff;
  --md-sys-color-secondary: #252327;
  --md-sys-color-secondary-dim: #1b191d;
  --md-sys-color-on-secondary: #ddd8dd;
  --md-sys-color-secondary-container: #615e62;
  --md-sys-color-on-secondary-container: #ffffff;
  --md-sys-color-secondary-fixed: #615e62;
  --md-sys-color-secondary-fixed-dim: #555256;
  --md-sys-color-on-secondary-fixed: #ffffff;
  --md-sys-color-on-secondary-fixed-variant: #ffffff;
  --md-sys-color-tertiary: #21223a;
  --md-sys-color-tertiary-dim: #16172f;
  --md-sys-color-on-tertiary: #d8d7f8;
  --md-sys-color-tertiary-container: #5c5d78;
  --md-sys-color-on-tertiary-container: #ffffff;
  --md-sys-color-tertiary-fixed: #5c5d78;
  --md-sys-color-tertiary-fixed-dim: #50516c;
  --md-sys-color-on-tertiary-fixed: #ffffff;
  --md-sys-color-on-tertiary-fixed-variant: #ffffff;
  --md-sys-color-error: #4f0116;
  --md-sys-color-error-dim: #3d000f;
  --md-sys-color-on-error: #ffced2;
  --md-sys-color-error-container: #9e3f4e;
  --md-sys-color-on-error-container: #ffffff;
}

.dark {
  --md-sys-color-primary-palette-key-color: #7a757f;
  --md-sys-color-secondary-palette-key-color: #79767a;
  --md-sys-color-tertiary-palette-key-color: #747591;
  --md-sys-color-neutral-palette-key-color: #797677;
  --md-sys-color-neutral-variant-palette-key-color: #797679;
  --md-sys-color-error-palette-key-color: #bd5665;
  --md-sys-color-background: #0f0e0f;
  --md-sys-color-on-background: #e9e4e7;
  --md-sys-color-surface: #0f0e0f;
  --md-sys-color-surface-dim: #0f0e0f;
  --md-sys-color-surface-bright: #2d2b2f;
  --md-sys-color-surface-container-lowest: #000000;
  --md-sys-color-surface-container-low: #141314;
  --md-sys-color-surface-container: #1a191b;
  --md-sys-color-surface-container-high: #201f21;
  --md-sys-color-surface-container-highest: #272528;
  --md-sys-color-on-surface: #e9e4e7;
  --md-sys-color-surface-variant: #272528;
  --md-sys-color-on-surface-variant: #aeaaad;
  --md-sys-color-inverse-surface: #fdf8f9;
  --md-sys-color-inverse-on-surface: #565455;
  --md-sys-color-outline: #777478;
  --md-sys-color-outline-variant: #49474a;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #cac4cf;
  --md-sys-color-primary: #cac4cf;
  --md-sys-color-primary-dim: #bcb7c1;
  --md-sys-color-on-primary: #423f48;
  --md-sys-color-primary-container: #49454e;
  --md-sys-color-on-primary-container: #d4ced9;
  --md-sys-color-inverse-primary: #615d67;
  --md-sys-color-primary-fixed: #e7e0eb;
  --md-sys-color-primary-fixed-dim: #d8d2dd;
  --md-sys-color-on-primary-fixed: #413e47;
  --md-sys-color-on-primary-fixed-variant: #5e5a63;
  --md-sys-color-secondary: #a09da1;
  --md-sys-color-secondary-dim: #a09da1;
  --md-sys-color-on-secondary: #211f23;
  --md-sys-color-secondary-container: #3d3b3e;
  --md-sys-color-on-secondary-container: #c2bec3;
  --md-sys-color-secondary-fixed: #e6e1e6;
  --md-sys-color-secondary-fixed-dim: #d8d3d8;
  --md-sys-color-on-secondary-fixed: #413e42;
  --md-sys-color-on-secondary-fixed-variant: #5d5a5f;
  --md-sys-color-tertiary: #ebe9ff;
  --md-sys-color-tertiary-dim: #dbdafb;
  --md-sys-color-on-tertiary: #54546f;
  --md-sys-color-tertiary-container: #dbdafb;
  --md-sys-color-on-tertiary-container: #4b4c67;
  --md-sys-color-tertiary-fixed: #dbdafb;
  --md-sys-color-tertiary-fixed-dim: #cdccec;
  --md-sys-color-on-tertiary-fixed: #393a53;
  --md-sys-color-on-tertiary-fixed-variant: #555671;
  --md-sys-color-error: #ec7c8a;
  --md-sys-color-error-dim: #b95463;
  --md-sys-color-on-error: #490013;
  --md-sys-color-error-container: #7f2737;
  --md-sys-color-on-error-container: #ff97a3;
}

.dark-medium-contrast {
  --md-sys-color-primary-palette-key-color: #7a757f;
  --md-sys-color-secondary-palette-key-color: #79767a;
  --md-sys-color-tertiary-palette-key-color: #747591;
  --md-sys-color-neutral-palette-key-color: #797677;
  --md-sys-color-neutral-variant-palette-key-color: #797679;
  --md-sys-color-error-palette-key-color: #bd5665;
  --md-sys-color-background: #0f0e0f;
  --md-sys-color-on-background: #ffffff;
  --md-sys-color-surface: #0f0e0f;
  --md-sys-color-surface-dim: #0f0e0f;
  --md-sys-color-surface-bright: #2d2b2f;
  --md-sys-color-surface-container-lowest: #000000;
  --md-sys-color-surface-container-low: #141314;
  --md-sys-color-surface-container: #1a191b;
  --md-sys-color-surface-container-high: #201f21;
  --md-sys-color-surface-container-highest: #272528;
  --md-sys-color-on-surface: #ffffff;
  --md-sys-color-surface-variant: #272528;
  --md-sys-color-on-surface-variant: #bcb7bb;
  --md-sys-color-inverse-surface: #fdf8f9;
  --md-sys-color-inverse-on-surface: #393839;
  --md-sys-color-outline: #969296;
  --md-sys-color-outline-variant: #777478;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #cac4cf;
  --md-sys-color-primary: #cac4cf;
  --md-sys-color-primary-dim: #bcb7c1;
  --md-sys-color-on-primary: #38353d;
  --md-sys-color-primary-container: #77737d;
  --md-sys-color-on-primary-container: #ffffff;
  --md-sys-color-inverse-primary: #57535d;
  --md-sys-color-primary-fixed: #e7e0eb;
  --md-sys-color-primary-fixed-dim: #d8d2dd;
  --md-sys-color-on-primary-fixed: #211e26;
  --md-sys-color-on-primary-fixed-variant: #413e47;
  --md-sys-color-secondary: #bcb7bc;
  --md-sys-color-secondary-dim: #aeaaae;
  --md-sys-color-on-secondary: #2d2b2f;
  --md-sys-color-secondary-container: #777378;
  --md-sys-color-on-secondary-container: #ffffff;
  --md-sys-color-secondary-fixed: #e6e1e6;
  --md-sys-color-secondary-fixed-dim: #d8d3d8;
  --md-sys-color-on-secondary-fixed: #201f22;
  --md-sys-color-on-secondary-fixed-variant: #413e42;
  --md-sys-color-tertiary: #ebe9ff;
  --md-sys-color-tertiary-dim: #dbdafb;
  --md-sys-color-on-tertiary: #4a4b65;
  --md-sys-color-tertiary-container: #dbdafb;
  --md-sys-color-on-tertiary-container: #41425c;
  --md-sys-color-tertiary-fixed: #dbdafb;
  --md-sys-color-tertiary-fixed-dim: #cdccec;
  --md-sys-color-on-tertiary-fixed: #171830;
  --md-sys-color-on-tertiary-fixed-variant: #393a53;
  --md-sys-color-error: #ff9da8;
  --md-sys-color-error-dim: #fb8896;
  --md-sys-color-on-error: #5b0a1e;
  --md-sys-color-error-container: #b95463;
  --md-sys-color-on-error-container: #ffffff;
}

.dark-high-contrast {
  --md-sys-color-primary-palette-key-color: #7a757f;
  --md-sys-color-secondary-palette-key-color: #79767a;
  --md-sys-color-tertiary-palette-key-color: #747591;
  --md-sys-color-neutral-palette-key-color: #797677;
  --md-sys-color-neutral-variant-palette-key-color: #797679;
  --md-sys-color-error-palette-key-color: #bd5665;
  --md-sys-color-background: #0f0e0f;
  --md-sys-color-on-background: #ffffff;
  --md-sys-color-surface: #0f0e0f;
  --md-sys-color-surface-dim: #0f0e0f;
  --md-sys-color-surface-bright: #2d2b2f;
  --md-sys-color-surface-container-lowest: #000000;
  --md-sys-color-surface-container-low: #141314;
  --md-sys-color-surface-container: #1a191b;
  --md-sys-color-surface-container-high: #201f21;
  --md-sys-color-surface-container-highest: #272528;
  --md-sys-color-on-surface: #ffffff;
  --md-sys-color-surface-variant: #272528;
  --md-sys-color-on-surface-variant: #e9e4e7;
  --md-sys-color-inverse-surface: #fdf8f9;
  --md-sys-color-inverse-on-surface: #000000;
  --md-sys-color-outline: #bcb7bb;
  --md-sys-color-outline-variant: #969296;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #eae3ee;
  --md-sys-color-primary: #eae3ee;
  --md-sys-color-primary-dim: #d8d2dd;
  --md-sys-color-on-primary: #2d2b33;
  --md-sys-color-primary-container: #a19ca6;
  --md-sys-color-on-primary-container: #000000;
  --md-sys-color-inverse-primary: #3a373f;
  --md-sys-color-primary-fixed: #e7e0eb;
  --md-sys-color-primary-fixed-dim: #d8d2dd;
  --md-sys-color-on-primary-fixed: #000000;
  --md-sys-color-on-primary-fixed-variant: #211e26;
  --md-sys-color-secondary: #e9e4e9;
  --md-sys-color-secondary-dim: #d8d3d8;
  --md-sys-color-on-secondary: #2d2b2f;
  --md-sys-color-secondary-container: #a09da1;
  --md-sys-color-on-secondary-container: #000000;
  --md-sys-color-secondary-fixed: #e6e1e6;
  --md-sys-color-secondary-fixed-dim: #d8d3d8;
  --md-sys-color-on-secondary-fixed: #000000;
  --md-sys-color-on-secondary-fixed-variant: #201f22;
  --md-sys-color-tertiary: #ebe9ff;
  --md-sys-color-tertiary-dim: #dbdafb;
  --md-sys-color-on-tertiary: #2c2d46;
  --md-sys-color-tertiary-container: #dbdafb;
  --md-sys-color-on-tertiary-container: #23243c;
  --md-sys-color-tertiary-fixed: #dbdafb;
  --md-sys-color-tertiary-fixed-dim: #cdccec;
  --md-sys-color-on-tertiary-fixed: #000000;
  --md-sys-color-on-tertiary-fixed-variant: #171830;
  --md-sys-color-error: #ffdddf;
  --md-sys-color-error-dim: #ffc7cb;
  --md-sys-color-on-error: #5b0a1e;
  --md-sys-color-error-container: #ec7c8a;
  --md-sys-color-on-error-container: #000000;
}

