.light {
  --md-sys-color-primary-palette-key-color: #7a7484;
  --md-sys-color-secondary-palette-key-color: #7a757f;
  --md-sys-color-tertiary-palette-key-color: #7b748a;
  --md-sys-color-neutral-palette-key-color: #797678;
  --md-sys-color-neutral-variant-palette-key-color: #797678;
  --md-sys-color-error-palette-key-color: #de3730;
  --md-sys-color-background: #fdf8fa;
  --md-sys-color-on-background: #1c1b1d;
  --md-sys-color-surface: #fdf8fa;
  --md-sys-color-surface-dim: #ddd9db;
  --md-sys-color-surface-bright: #fdf8fa;
  --md-sys-color-surface-container-lowest: #ffffff;
  --md-sys-color-surface-container-low: #f7f2f4;
  --md-sys-color-surface-container: #f1edee;
  --md-sys-color-surface-container-high: #ebe7e9;
  --md-sys-color-surface-container-highest: #e6e1e3;
  --md-sys-color-on-surface: #1c1b1d;
  --md-sys-color-surface-variant: #e6e1e3;
  --md-sys-color-on-surface-variant: #484648;
  --md-sys-color-inverse-surface: #313032;
  --md-sys-color-inverse-on-surface: #f4eff1;
  --md-sys-color-outline: #797678;
  --md-sys-color-outline-variant: #c9c5c7;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #615c6b;
  --md-sys-color-primary: #615c6b;
  --md-sys-color-primary-dim: #6b6575;
  --md-sys-color-on-primary: #ffffff;
  --md-sys-color-primary-container: #e7dff2;
  --md-sys-color-on-primary-container: #494453;
  --md-sys-color-inverse-primary: #cbc3d5;
  --md-sys-color-primary-fixed: #e7dff2;
  --md-sys-color-primary-fixed-dim: #cbc3d5;
  --md-sys-color-on-primary-fixed: #1d1a26;
  --md-sys-color-on-primary-fixed-variant: #494453;
  --md-sys-color-secondary: #615d66;
  --md-sys-color-secondary-dim: #6a6670;
  --md-sys-color-on-secondary: #ffffff;
  --md-sys-color-secondary-container: #e7e0eb;
  --md-sys-color-on-secondary-container: #49454e;
  --md-sys-color-secondary-fixed: #e7e0eb;
  --md-sys-color-secondary-fixed-dim: #cac4cf;
  --md-sys-color-on-secondary-fixed: #1d1a22;
  --md-sys-color-on-secondary-fixed-variant: #49454e;
  --md-sys-color-tertiary: #625b71;
  --md-sys-color-tertiary-dim: #6b647a;
  --md-sys-color-on-tertiary: #ffffff;
  --md-sys-color-tertiary-container: #e8def8;
  --md-sys-color-on-tertiary-container: #4a4458;
  --md-sys-color-tertiary-fixed: #e8def8;
  --md-sys-color-tertiary-fixed-dim: #cbc2db;
  --md-sys-color-on-tertiary-fixed: #1e192b;
  --md-sys-color-on-tertiary-fixed-variant: #4a4458;
  --md-sys-color-error: #ba1a1a;
  --md-sys-color-error-dim: #ac0c12;
  --md-sys-color-on-error: #ffffff;
  --md-sys-color-error-container: #ffdad6;
  --md-sys-color-on-error-container: #93000a;
  --md-sys-color-control-activated: #e7dff2;
  --md-sys-color-control-normal: #484648;
  --md-sys-color-control-highlight: #0000001f;
  --md-sys-color-text-primary-inverse: #e6e1e3;
  --md-sys-color-text-secondary-and-tertiary-inverse: #c9c5c7;
  --md-sys-color-text-primary-inverse-disable-only: #e6e1e3;
  --md-sys-color-text-secondary-and-tertiary-inverse-disabled: #e6e1e3;
  --md-sys-color-text-hint-inverse: #e6e1e3;
}

.light-medium-contrast {
  --md-sys-color-primary-palette-key-color: #7a7484;
  --md-sys-color-secondary-palette-key-color: #7a757f;
  --md-sys-color-tertiary-palette-key-color: #7b748a;
  --md-sys-color-neutral-palette-key-color: #797678;
  --md-sys-color-neutral-variant-palette-key-color: #797678;
  --md-sys-color-error-palette-key-color: #de3730;
  --md-sys-color-background: #fdf8fa;
  --md-sys-color-on-background: #1c1b1d;
  --md-sys-color-surface: #fdf8fa;
  --md-sys-color-surface-dim: #c9c5c7;
  --md-sys-color-surface-bright: #fdf8fa;
  --md-sys-color-surface-container-lowest: #ffffff;
  --md-sys-color-surface-container-low: #f7f2f4;
  --md-sys-color-surface-container: #ebe7e9;
  --md-sys-color-surface-container-high: #e0dcdd;
  --md-sys-color-surface-container-highest: #d5d0d2;
  --md-sys-color-on-surface: #121112;
  --md-sys-color-surface-variant: #e6e1e3;
  --md-sys-color-on-surface-variant: #373637;
  --md-sys-color-inverse-surface: #313032;
  --md-sys-color-inverse-on-surface: #f4eff1;
  --md-sys-color-outline: #545253;
  --md-sys-color-outline-variant: #6f6c6e;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #615c6b;
  --md-sys-color-primary: #383442;
  --md-sys-color-primary-dim: #474251;
  --md-sys-color-on-primary: #ffffff;
  --md-sys-color-primary-container: #706a7a;
  --md-sys-color-on-primary-container: #ffffff;
  --md-sys-color-inverse-primary: #cbc3d5;
  --md-sys-color-primary-fixed: #706a7a;
  --md-sys-color-primary-fixed-dim: #575261;
  --md-sys-color-on-primary-fixed: #ffffff;
  --md-sys-color-on-primary-fixed-variant: #ffffff;
  --md-sys-color-secondary: #38353d;
  --md-sys-color-secondary-dim: #46434c;
  --md-sys-color-on-secondary: #ffffff;
  --md-sys-color-secondary-container: #6f6b75;
  --md-sys-color-on-secondary-container: #ffffff;
  --md-sys-color-secondary-fixed: #6f6b75;
  --md-sys-color-secondary-fixed-dim: #57535c;
  --md-sys-color-on-secondary-fixed: #ffffff;
  --md-sys-color-on-secondary-fixed-variant: #ffffff;
  --md-sys-color-tertiary: #393347;
  --md-sys-color-tertiary-dim: #474156;
  --md-sys-color-on-tertiary: #ffffff;
  --md-sys-color-tertiary-container: #716a80;
  --md-sys-color-on-tertiary-container: #ffffff;
  --md-sys-color-tertiary-fixed: #716a80;
  --md-sys-color-tertiary-fixed-dim: #585267;
  --md-sys-color-on-tertiary-fixed: #ffffff;
  --md-sys-color-on-tertiary-fixed-variant: #ffffff;
  --md-sys-color-error: #740006;
  --md-sys-color-error-dim: #8f0009;
  --md-sys-color-on-error: #ffffff;
  --md-sys-color-error-container: #cf2c27;
  --md-sys-color-on-error-container: #ffffff;
  --md-sys-color-control-activated: #e7dff2;
  --md-sys-color-control-normal: #484648;
  --md-sys-color-control-highlight: #0000001f;
  --md-sys-color-text-primary-inverse: #e6e1e3;
  --md-sys-color-text-secondary-and-tertiary-inverse: #c9c5c7;
  --md-sys-color-text-primary-inverse-disable-only: #e6e1e3;
  --md-sys-color-text-secondary-and-tertiary-inverse-disabled: #e6e1e3;
  --md-sys-color-text-hint-inverse: #e6e1e3;
}

.light-high-contrast {
  --md-sys-color-primary-palette-key-color: #7a7484;
  --md-sys-color-secondary-palette-key-color: #7a757f;
  --md-sys-color-tertiary-palette-key-color: #7b748a;
  --md-sys-color-neutral-palette-key-color: #797678;
  --md-sys-color-neutral-variant-palette-key-color: #797678;
  --md-sys-color-error-palette-key-color: #de3730;
  --md-sys-color-background: #fdf8fa;
  --md-sys-color-on-background: #1c1b1d;
  --md-sys-color-surface: #fdf8fa;
  --md-sys-color-surface-dim: #bbb8b9;
  --md-sys-color-surface-bright: #fdf8fa;
  --md-sys-color-surface-container-lowest: #ffffff;
  --md-sys-color-surface-container-low: #f4eff1;
  --md-sys-color-surface-container: #e6e1e3;
  --md-sys-color-surface-container-high: #d7d3d5;
  --md-sys-color-surface-container-highest: #c9c5c7;
  --md-sys-color-on-surface: #000000;
  --md-sys-color-surface-variant: #e6e1e3;
  --md-sys-color-on-surface-variant: #000000;
  --md-sys-color-inverse-surface: #313032;
  --md-sys-color-inverse-on-surface: #ffffff;
  --md-sys-color-outline: #2d2c2d;
  --md-sys-color-outline-variant: #4a494a;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #615c6b;
  --md-sys-color-primary: #2e2a38;
  --md-sys-color-primary-dim: #211d2a;
  --md-sys-color-on-primary: #ffffff;
  --md-sys-color-primary-container: #4c4755;
  --md-sys-color-on-primary-container: #ffffff;
  --md-sys-color-inverse-primary: #cbc3d5;
  --md-sys-color-primary-fixed: #4c4755;
  --md-sys-color-primary-fixed-dim: #35313e;
  --md-sys-color-on-primary-fixed: #ffffff;
  --md-sys-color-on-primary-fixed-variant: #ffffff;
  --md-sys-color-secondary: #2e2b33;
  --md-sys-color-secondary-dim: #211e26;
  --md-sys-color-on-secondary: #ffffff;
  --md-sys-color-secondary-container: #4b4851;
  --md-sys-color-on-secondary-container: #ffffff;
  --md-sys-color-secondary-fixed: #4b4851;
  --md-sys-color-secondary-fixed-dim: #34313a;
  --md-sys-color-on-secondary-fixed: #ffffff;
  --md-sys-color-on-secondary-fixed-variant: #ffffff;
  --md-sys-color-tertiary: #2f293c;
  --md-sys-color-tertiary-dim: #221d2f;
  --md-sys-color-on-tertiary: #ffffff;
  --md-sys-color-tertiary-container: #4c465b;
  --md-sys-color-on-tertiary-container: #ffffff;
  --md-sys-color-tertiary-fixed: #4c465b;
  --md-sys-color-tertiary-fixed-dim: #353043;
  --md-sys-color-on-tertiary-fixed: #ffffff;
  --md-sys-color-on-tertiary-fixed-variant: #ffffff;
  --md-sys-color-error: #600004;
  --md-sys-color-error-dim: #480002;
  --md-sys-color-on-error: #ffffff;
  --md-sys-color-error-container: #98000a;
  --md-sys-color-on-error-container: #ffffff;
  --md-sys-color-control-activated: #e7dff2;
  --md-sys-color-control-normal: #484648;
  --md-sys-color-control-highlight: #0000001f;
  --md-sys-color-text-primary-inverse: #e6e1e3;
  --md-sys-color-text-secondary-and-tertiary-inverse: #c9c5c7;
  --md-sys-color-text-primary-inverse-disable-only: #e6e1e3;
  --md-sys-color-text-secondary-and-tertiary-inverse-disabled: #e6e1e3;
  --md-sys-color-text-hint-inverse: #e6e1e3;
}

.dark {
  --md-sys-color-primary-palette-key-color: #7a7484;
  --md-sys-color-secondary-palette-key-color: #7a757f;
  --md-sys-color-tertiary-palette-key-color: #7b748a;
  --md-sys-color-neutral-palette-key-color: #797678;
  --md-sys-color-neutral-variant-palette-key-color: #797678;
  --md-sys-color-error-palette-key-color: #de3730;
  --md-sys-color-background: #141314;
  --md-sys-color-on-background: #e6e1e3;
  --md-sys-color-surface: #141314;
  --md-sys-color-surface-dim: #141314;
  --md-sys-color-surface-bright: #3a393a;
  --md-sys-color-surface-container-lowest: #0f0e0f;
  --md-sys-color-surface-container-low: #1c1b1d;
  --md-sys-color-surface-container: #201f21;
  --md-sys-color-surface-container-high: #2b292b;
  --md-sys-color-surface-container-highest: #363436;
  --md-sys-color-on-surface: #e6e1e3;
  --md-sys-color-surface-variant: #484648;
  --md-sys-color-on-surface-variant: #c9c5c7;
  --md-sys-color-inverse-surface: #e6e1e3;
  --md-sys-color-inverse-on-surface: #313032;
  --md-sys-color-outline: #939092;
  --md-sys-color-outline-variant: #484648;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #cbc3d5;
  --md-sys-color-primary: #cbc3d5;
  --md-sys-color-primary-dim: #d9d1e3;
  --md-sys-color-on-primary: #322e3c;
  --md-sys-color-primary-container: #494453;
  --md-sys-color-on-primary-container: #e7dff2;
  --md-sys-color-inverse-primary: #615c6b;
  --md-sys-color-primary-fixed: #e7dff2;
  --md-sys-color-primary-fixed-dim: #cbc3d5;
  --md-sys-color-on-primary-fixed: #1d1a26;
  --md-sys-color-on-primary-fixed-variant: #494453;
  --md-sys-color-secondary: #cac4cf;
  --md-sys-color-secondary-dim: #d8d2dd;
  --md-sys-color-on-secondary: #322f38;
  --md-sys-color-secondary-container: #49454e;
  --md-sys-color-on-secondary-container: #e7e0eb;
  --md-sys-color-secondary-fixed: #e7e0eb;
  --md-sys-color-secondary-fixed-dim: #cac4cf;
  --md-sys-color-on-secondary-fixed: #1d1a22;
  --md-sys-color-on-secondary-fixed-variant: #49454e;
  --md-sys-color-tertiary: #cbc2db;
  --md-sys-color-tertiary-dim: #eee4fe;
  --md-sys-color-on-tertiary: #332d41;
  --md-sys-color-tertiary-container: #4a4458;
  --md-sys-color-on-tertiary-container: #e8def8;
  --md-sys-color-tertiary-fixed: #e8def8;
  --md-sys-color-tertiary-fixed-dim: #cbc2db;
  --md-sys-color-on-tertiary-fixed: #1e192b;
  --md-sys-color-on-tertiary-fixed-variant: #4a4458;
  --md-sys-color-error: #ffb4ab;
  --md-sys-color-error-dim: #ffc7c0;
  --md-sys-color-on-error: #690005;
  --md-sys-color-error-container: #93000a;
  --md-sys-color-on-error-container: #ffdad6;
  --md-sys-color-control-activated: #494453;
  --md-sys-color-control-normal: #c9c5c7;
  --md-sys-color-control-highlight: #ffffff33;
  --md-sys-color-text-primary-inverse: #1c1b1d;
  --md-sys-color-text-secondary-and-tertiary-inverse: #484648;
  --md-sys-color-text-primary-inverse-disable-only: #1c1b1d;
  --md-sys-color-text-secondary-and-tertiary-inverse-disabled: #1c1b1d;
  --md-sys-color-text-hint-inverse: #1c1b1d;
}

.dark-medium-contrast {
  --md-sys-color-primary-palette-key-color: #7a7484;
  --md-sys-color-secondary-palette-key-color: #7a757f;
  --md-sys-color-tertiary-palette-key-color: #7b748a;
  --md-sys-color-neutral-palette-key-color: #797678;
  --md-sys-color-neutral-variant-palette-key-color: #797678;
  --md-sys-color-error-palette-key-color: #de3730;
  --md-sys-color-background: #141314;
  --md-sys-color-on-background: #e6e1e3;
  --md-sys-color-surface: #141314;
  --md-sys-color-surface-dim: #141314;
  --md-sys-color-surface-bright: #464446;
  --md-sys-color-surface-container-lowest: #080708;
  --md-sys-color-surface-container-low: #1e1d1f;
  --md-sys-color-surface-container: #292729;
  --md-sys-color-surface-container-high: #333234;
  --md-sys-color-surface-container-highest: #3f3d3f;
  --md-sys-color-on-surface: #ffffff;
  --md-sys-color-surface-variant: #484648;
  --md-sys-color-on-surface-variant: #dfdbdd;
  --md-sys-color-inverse-surface: #e6e1e3;
  --md-sys-color-inverse-on-surface: #2b2a2b;
  --md-sys-color-outline: #b4b1b3;
  --md-sys-color-outline-variant: #928f91;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #cbc3d5;
  --md-sys-color-primary: #e1d9eb;
  --md-sys-color-primary-dim: #d9d1e3;
  --md-sys-color-on-primary: #272431;
  --md-sys-color-primary-container: #948e9f;
  --md-sys-color-on-primary-container: #000000;
  --md-sys-color-inverse-primary: #4a4654;
  --md-sys-color-primary-fixed: #e7dff2;
  --md-sys-color-primary-fixed-dim: #cbc3d5;
  --md-sys-color-on-primary-fixed: #130f1c;
  --md-sys-color-on-primary-fixed-variant: #383442;
  --md-sys-color-secondary: #e0dae5;
  --md-sys-color-secondary-dim: #d8d2dd;
  --md-sys-color-on-secondary: #27242d;
  --md-sys-color-secondary-container: #948f99;
  --md-sys-color-on-secondary-container: #000000;
  --md-sys-color-secondary-fixed: #e7e0eb;
  --md-sys-color-secondary-fixed-dim: #cac4cf;
  --md-sys-color-on-secondary-fixed: #121018;
  --md-sys-color-on-secondary-fixed-variant: #38353d;
  --md-sys-color-tertiary: #e2d8f2;
  --md-sys-color-tertiary-dim: #eee4fe;
  --md-sys-color-on-tertiary: #282336;
  --md-sys-color-tertiary-container: #958da4;
  --md-sys-color-on-tertiary-container: #000000;
  --md-sys-color-tertiary-fixed: #e8def8;
  --md-sys-color-tertiary-fixed-dim: #cbc2db;
  --md-sys-color-on-tertiary-fixed: #130e20;
  --md-sys-color-on-tertiary-fixed-variant: #393347;
  --md-sys-color-error: #ffd2cc;
  --md-sys-color-error-dim: #ffc7c0;
  --md-sys-color-on-error: #540003;
  --md-sys-color-error-container: #ff5449;
  --md-sys-color-on-error-container: #000000;
  --md-sys-color-control-activated: #494453;
  --md-sys-color-control-normal: #c9c5c7;
  --md-sys-color-control-highlight: #ffffff33;
  --md-sys-color-text-primary-inverse: #1c1b1d;
  --md-sys-color-text-secondary-and-tertiary-inverse: #484648;
  --md-sys-color-text-primary-inverse-disable-only: #1c1b1d;
  --md-sys-color-text-secondary-and-tertiary-inverse-disabled: #1c1b1d;
  --md-sys-color-text-hint-inverse: #1c1b1d;
}

.dark-high-contrast {
  --md-sys-color-primary-palette-key-color: #7a7484;
  --md-sys-color-secondary-palette-key-color: #7a757f;
  --md-sys-color-tertiary-palette-key-color: #7b748a;
  --md-sys-color-neutral-palette-key-color: #797678;
  --md-sys-color-neutral-variant-palette-key-color: #797678;
  --md-sys-color-error-palette-key-color: #de3730;
  --md-sys-color-background: #141314;
  --md-sys-color-on-background: #e6e1e3;
  --md-sys-color-surface: #141314;
  --md-sys-color-surface-dim: #141314;
  --md-sys-color-surface-bright: #514f51;
  --md-sys-color-surface-container-lowest: #000000;
  --md-sys-color-surface-container-low: #201f21;
  --md-sys-color-surface-container: #313032;
  --md-sys-color-surface-container-high: #3c3b3c;
  --md-sys-color-surface-container-highest: #484648;
  --md-sys-color-on-surface: #ffffff;
  --md-sys-color-surface-variant: #484648;
  --md-sys-color-on-surface-variant: #ffffff;
  --md-sys-color-inverse-surface: #e6e1e3;
  --md-sys-color-inverse-on-surface: #000000;
  --md-sys-color-outline: #f3eff1;
  --md-sys-color-outline-variant: #c5c1c3;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #cbc3d5;
  --md-sys-color-primary: #f5edff;
  --md-sys-color-primary-dim: #fffeff;
  --md-sys-color-on-primary: #000000;
  --md-sys-color-primary-container: #c7bfd1;
  --md-sys-color-on-primary-container: #0d0915;
  --md-sys-color-inverse-primary: #4a4654;
  --md-sys-color-primary-fixed: #e7dff2;
  --md-sys-color-primary-fixed-dim: #cbc3d5;
  --md-sys-color-on-primary-fixed: #000000;
  --md-sys-color-on-primary-fixed-variant: #130f1c;
  --md-sys-color-secondary: #f4eef9;
  --md-sys-color-secondary-dim: #fffeff;
  --md-sys-color-on-secondary: #000000;
  --md-sys-color-secondary-container: #c6c0cb;
  --md-sys-color-on-secondary-container: #0c0a11;
  --md-sys-color-secondary-fixed: #e7e0eb;
  --md-sys-color-secondary-fixed-dim: #cac4cf;
  --md-sys-color-on-secondary-fixed: #000000;
  --md-sys-color-on-secondary-fixed-variant: #121018;
  --md-sys-color-tertiary: #f5edff;
  --md-sys-color-tertiary-dim: #fffeff;
  --md-sys-color-on-tertiary: #000000;
  --md-sys-color-tertiary-container: #c8bfd8;
  --md-sys-color-on-tertiary-container: #0d081a;
  --md-sys-color-tertiary-fixed: #e8def8;
  --md-sys-color-tertiary-fixed-dim: #cbc2db;
  --md-sys-color-on-tertiary-fixed: #000000;
  --md-sys-color-on-tertiary-fixed-variant: #130e20;
  --md-sys-color-error: #ffece9;
  --md-sys-color-error-dim: #fffeff;
  --md-sys-color-on-error: #000000;
  --md-sys-color-error-container: #ffaea4;
  --md-sys-color-on-error-container: #220001;
  --md-sys-color-control-activated: #494453;
  --md-sys-color-control-normal: #c9c5c7;
  --md-sys-color-control-highlight: #ffffff33;
  --md-sys-color-text-primary-inverse: #1c1b1d;
  --md-sys-color-text-secondary-and-tertiary-inverse: #484648;
  --md-sys-color-text-primary-inverse-disable-only: #1c1b1d;
  --md-sys-color-text-secondary-and-tertiary-inverse-disabled: #1c1b1d;
  --md-sys-color-text-hint-inverse: #1c1b1d;
}

