.light {
  --md-sys-color-primary-palette-key-color: #8069bf;
  --md-sys-color-secondary-palette-key-color: #7b748a;
  --md-sys-color-tertiary-palette-key-color: #996a79;
  --md-sys-color-neutral-palette-key-color: #777777;
  --md-sys-color-neutral-variant-palette-key-color: #777777;
  --md-sys-color-error-palette-key-color: #de3730;
  --md-sys-color-background: #f9f9f9;
  --md-sys-color-on-background: #323232;
  --md-sys-color-surface: #f9f9f9;
  --md-sys-color-surface-dim: #dadada;
  --md-sys-color-surface-bright: #f9f9f9;
  --md-sys-color-surface-container-lowest: #ffffff;
  --md-sys-color-surface-container-low: #f3f3f3;
  --md-sys-color-surface-container: #eeeeee;
  --md-sys-color-surface-container-high: #e8e8e8;
  --md-sys-color-surface-container-highest: #e2e2e2;
  --md-sys-color-on-surface: #323232;
  --md-sys-color-surface-variant: #e2e2e2;
  --md-sys-color-on-surface-variant: #5f5f5f;
  --md-sys-color-inverse-surface: #0e0e0e;
  --md-sys-color-inverse-on-surface: #9d9d9d;
  --md-sys-color-outline: #7b7b7b;
  --md-sys-color-outline-variant: #b2b2b2;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #6850a5;
  --md-sys-color-primary: #6850a5;
  --md-sys-color-primary-dim: #5b4498;
  --md-sys-color-on-primary: #fdf7ff;
  --md-sys-color-primary-container: #bba2fe;
  --md-sys-color-on-primary-container: #381e73;
  --md-sys-color-inverse-primary: #bba2fe;
  --md-sys-color-primary-fixed: #bba2fe;
  --md-sys-color-primary-fixed-dim: #ad95ef;
  --md-sys-color-on-primary-fixed: #1e0053;
  --md-sys-color-on-primary-fixed-variant: #41297c;
  --md-sys-color-secondary: #625c71;
  --md-sys-color-secondary-dim: #565065;
  --md-sys-color-on-secondary: #fdf7ff;
  --md-sys-color-secondary-container: #e8def8;
  --md-sys-color-on-secondary-container: #554f63;
  --md-sys-color-secondary-fixed: #e8def8;
  --md-sys-color-secondary-fixed-dim: #dad0ea;
  --md-sys-color-on-secondary-fixed: #423c50;
  --md-sys-color-on-secondary-fixed-variant: #5f586e;
  --md-sys-color-tertiary: #7e5261;
  --md-sys-color-tertiary-dim: #714755;
  --md-sys-color-on-tertiary: #fff7f7;
  --md-sys-color-tertiary-container: #fec5d6;
  --md-sys-color-on-tertiary-container: #663d4b;
  --md-sys-color-tertiary-fixed: #fec5d6;
  --md-sys-color-tertiary-fixed-dim: #efb8c8;
  --md-sys-color-on-tertiary-fixed: #502b38;
  --md-sys-color-on-tertiary-fixed-variant: #704654;
  --md-sys-color-error: #bb1b1b;
  --md-sys-color-error-dim: #a90810;
  --md-sys-color-on-error: #fff7f6;
  --md-sys-color-error-container: #fe4e44;
  --md-sys-color-on-error-container: #570003;
  --md-sys-color-control-activated: #bba2fe;
  --md-sys-color-control-normal: #5f5f5f;
  --md-sys-color-control-highlight: #0000001f;
  --md-sys-color-text-primary-inverse: #9d9d9d;
  --md-sys-color-text-secondary-and-tertiary-inverse: #c6c6c6;
  --md-sys-color-text-primary-inverse-disable-only: #e2e2e2;
  --md-sys-color-text-secondary-and-tertiary-inverse-disabled: #e2e2e2;
  --md-sys-color-text-hint-inverse: #e2e2e2;
}

.light-medium-contrast {
  --md-sys-color-primary-palette-key-color: #8069bf;
  --md-sys-color-secondary-palette-key-color: #7b748a;
  --md-sys-color-tertiary-palette-key-color: #996a79;
  --md-sys-color-neutral-palette-key-color: #777777;
  --md-sys-color-neutral-variant-palette-key-color: #777777;
  --md-sys-color-error-palette-key-color: #de3730;
  --md-sys-color-background: #f9f9f9;
  --md-sys-color-on-background: #242424;
  --md-sys-color-surface: #f9f9f9;
  --md-sys-color-surface-dim: #dadada;
  --md-sys-color-surface-bright: #f9f9f9;
  --md-sys-color-surface-container-lowest: #ffffff;
  --md-sys-color-surface-container-low: #f3f3f3;
  --md-sys-color-surface-container: #eeeeee;
  --md-sys-color-surface-container-high: #e8e8e8;
  --md-sys-color-surface-container-highest: #e2e2e2;
  --md-sys-color-on-surface: #242424;
  --md-sys-color-surface-variant: #e2e2e2;
  --md-sys-color-on-surface-variant: #434343;
  --md-sys-color-inverse-surface: #0e0e0e;
  --md-sys-color-inverse-on-surface: #c5c5c5;
  --md-sys-color-outline: #5f5f5f;
  --md-sys-color-outline-variant: #7b7b7b;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #4b3386;
  --md-sys-color-primary: #4b3386;
  --md-sys-color-primary-dim: #3f277a;
  --md-sys-color-on-primary: #e1d3ff;
  --md-sys-color-primary-container: #7e66bc;
  --md-sys-color-on-primary-container: #ffffff;
  --md-sys-color-inverse-primary: #bba2fe;
  --md-sys-color-primary-fixed: #7e66bc;
  --md-sys-color-primary-fixed-dim: #715aaf;
  --md-sys-color-on-primary-fixed: #ffffff;
  --md-sys-color-on-primary-fixed-variant: #ffffff;
  --md-sys-color-secondary: #464054;
  --md-sys-color-secondary-dim: #3a3548;
  --md-sys-color-on-secondary: #dfd5ef;
  --md-sys-color-secondary-container: #787187;
  --md-sys-color-on-secondary-container: #ffffff;
  --md-sys-color-secondary-fixed: #787187;
  --md-sys-color-secondary-fixed-dim: #6c657b;
  --md-sys-color-on-secondary-fixed: #ffffff;
  --md-sys-color-on-secondary-fixed-variant: #ffffff;
  --md-sys-color-tertiary: #5f3744;
  --md-sys-color-tertiary-dim: #522c39;
  --md-sys-color-on-tertiary: #ffccdb;
  --md-sys-color-tertiary-container: #966776;
  --md-sys-color-on-tertiary-container: #ffffff;
  --md-sys-color-tertiary-fixed: #966776;
  --md-sys-color-tertiary-fixed-dim: #885b6a;
  --md-sys-color-on-tertiary-fixed: #ffffff;
  --md-sys-color-on-tertiary-fixed-variant: #ffffff;
  --md-sys-color-error: #8c0009;
  --md-sys-color-error-dim: #760006;
  --md-sys-color-on-error: #ffcec8;
  --md-sys-color-error-container: #da342e;
  --md-sys-color-on-error-container: #ffffff;
  --md-sys-color-control-activated: #7e66bc;
  --md-sys-color-control-normal: #434343;
  --md-sys-color-control-highlight: #0000001f;
  --md-sys-color-text-primary-inverse: #c5c5c5;
  --md-sys-color-text-secondary-and-tertiary-inverse: #c6c6c6;
  --md-sys-color-text-primary-inverse-disable-only: #e2e2e2;
  --md-sys-color-text-secondary-and-tertiary-inverse-disabled: #e2e2e2;
  --md-sys-color-text-hint-inverse: #e2e2e2;
}

.light-high-contrast {
  --md-sys-color-primary-palette-key-color: #8069bf;
  --md-sys-color-secondary-palette-key-color: #7b748a;
  --md-sys-color-tertiary-palette-key-color: #996a79;
  --md-sys-color-neutral-palette-key-color: #777777;
  --md-sys-color-neutral-variant-palette-key-color: #777777;
  --md-sys-color-error-palette-key-color: #de3730;
  --md-sys-color-background: #f9f9f9;
  --md-sys-color-on-background: #000000;
  --md-sys-color-surface: #f9f9f9;
  --md-sys-color-surface-dim: #dadada;
  --md-sys-color-surface-bright: #f9f9f9;
  --md-sys-color-surface-container-lowest: #ffffff;
  --md-sys-color-surface-container-low: #f3f3f3;
  --md-sys-color-surface-container: #eeeeee;
  --md-sys-color-surface-container-high: #e8e8e8;
  --md-sys-color-surface-container-highest: #e2e2e2;
  --md-sys-color-on-surface: #000000;
  --md-sys-color-surface-variant: #e2e2e2;
  --md-sys-color-on-surface-variant: #242424;
  --md-sys-color-inverse-surface: #0e0e0e;
  --md-sys-color-inverse-on-surface: #ffffff;
  --md-sys-color-outline: #434343;
  --md-sys-color-outline-variant: #5f5f5f;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #2b0d66;
  --md-sys-color-primary: #2b0d66;
  --md-sys-color-primary-dim: #200058;
  --md-sys-color-on-primary: #e1d3ff;
  --md-sys-color-primary-container: #6850a5;
  --md-sys-color-on-primary-container: #ffffff;
  --md-sys-color-inverse-primary: #cebaff;
  --md-sys-color-primary-fixed: #6850a5;
  --md-sys-color-primary-fixed-dim: #5b4498;
  --md-sys-color-on-primary-fixed: #ffffff;
  --md-sys-color-on-primary-fixed-variant: #ffffff;
  --md-sys-color-secondary: #262134;
  --md-sys-color-secondary-dim: #1c1729;
  --md-sys-color-on-secondary: #dfd6ef;
  --md-sys-color-secondary-container: #625c71;
  --md-sys-color-on-secondary-container: #ffffff;
  --md-sys-color-secondary-fixed: #625c71;
  --md-sys-color-secondary-fixed-dim: #565065;
  --md-sys-color-on-secondary-fixed: #ffffff;
  --md-sys-color-on-secondary-fixed-variant: #ffffff;
  --md-sys-color-tertiary: #3b1925;
  --md-sys-color-tertiary-dim: #2f0f1b;
  --md-sys-color-on-tertiary: #ffcddb;
  --md-sys-color-tertiary-container: #7e5261;
  --md-sys-color-on-tertiary-container: #ffffff;
  --md-sys-color-tertiary-fixed: #7e5261;
  --md-sys-color-tertiary-fixed-dim: #714755;
  --md-sys-color-on-tertiary-fixed: #ffffff;
  --md-sys-color-on-tertiary-fixed-variant: #ffffff;
  --md-sys-color-error: #510003;
  --md-sys-color-error-dim: #3e0002;
  --md-sys-color-on-error: #ffcfc9;
  --md-sys-color-error-container: #bb1b1b;
  --md-sys-color-on-error-container: #ffffff;
  --md-sys-color-control-activated: #6850a5;
  --md-sys-color-control-normal: #242424;
  --md-sys-color-control-highlight: #0000001f;
  --md-sys-color-text-primary-inverse: #ffffff;
  --md-sys-color-text-secondary-and-tertiary-inverse: #c6c6c6;
  --md-sys-color-text-primary-inverse-disable-only: #e2e2e2;
  --md-sys-color-text-secondary-and-tertiary-inverse-disabled: #e2e2e2;
  --md-sys-color-text-hint-inverse: #e2e2e2;
}

.dark {
  --md-sys-color-primary-palette-key-color: #8069bf;
  --md-sys-color-secondary-palette-key-color: #7b748a;
  --md-sys-color-tertiary-palette-key-color: #996a79;
  --md-sys-color-neutral-palette-key-color: #777777;
  --md-sys-color-neutral-variant-palette-key-color: #777777;
  --md-sys-color-error-palette-key-color: #de3730;
  --md-sys-color-background: #0e0e0e;
  --md-sys-color-on-background: #e5e5e5;
  --md-sys-color-surface: #0e0e0e;
  --md-sys-color-surface-dim: #0e0e0e;
  --md-sys-color-surface-bright: #2c2c2c;
  --md-sys-color-surface-container-lowest: #000000;
  --md-sys-color-surface-container-low: #131313;
  --md-sys-color-surface-container: #191919;
  --md-sys-color-surface-container-high: #1f1f1f;
  --md-sys-color-surface-container-highest: #262626;
  --md-sys-color-on-surface: #e5e5e5;
  --md-sys-color-surface-variant: #262626;
  --md-sys-color-on-surface-variant: #ababab;
  --md-sys-color-inverse-surface: #f9f9f9;
  --md-sys-color-inverse-on-surface: #555555;
  --md-sys-color-outline: #757575;
  --md-sys-color-outline-variant: #484848;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #bba2fe;
  --md-sys-color-primary: #bba2fe;
  --md-sys-color-primary-dim: #ad95ef;
  --md-sys-color-on-primary: #381e73;
  --md-sys-color-primary-container: #ab92ec;
  --md-sys-color-on-primary-container: #2a0b64;
  --md-sys-color-inverse-primary: #6750a5;
  --md-sys-color-primary-fixed: #bba2fe;
  --md-sys-color-primary-fixed-dim: #ad95ef;
  --md-sys-color-on-primary-fixed: #1e0053;
  --md-sys-color-on-primary-fixed-variant: #41297c;
  --md-sys-color-secondary: #cbc2db;
  --md-sys-color-secondary-dim: #beb5cd;
  --md-sys-color-on-secondary: #433d51;
  --md-sys-color-secondary-container: #3e384c;
  --md-sys-color-on-secondary-container: #c4bbd4;
  --md-sys-color-secondary-fixed: #e8def8;
  --md-sys-color-secondary-fixed-dim: #dad0ea;
  --md-sys-color-on-secondary-fixed: #423c50;
  --md-sys-color-on-secondary-fixed-variant: #5f586e;
  --md-sys-color-tertiary: #ffd9e3;
  --md-sys-color-tertiary-dim: #fec5d6;
  --md-sys-color-on-tertiary: #6f4553;
  --md-sys-color-tertiary-container: #fec5d6;
  --md-sys-color-on-tertiary-container: #663d4b;
  --md-sys-color-tertiary-fixed: #fec5d6;
  --md-sys-color-tertiary-fixed-dim: #efb8c8;
  --md-sys-color-on-tertiary-fixed: #502b38;
  --md-sys-color-on-tertiary-fixed-variant: #704654;
  --md-sys-color-error: #ff7164;
  --md-sys-color-error-dim: #da342e;
  --md-sys-color-on-error: #4a0002;
  --md-sys-color-error-container: #ac0c12;
  --md-sys-color-on-error-container: #ffb8b0;
  --md-sys-color-control-activated: #ab92ec;
  --md-sys-color-control-normal: #ababab;
  --md-sys-color-control-highlight: #ffffff33;
  --md-sys-color-text-primary-inverse: #555555;
  --md-sys-color-text-secondary-and-tertiary-inverse: #474747;
  --md-sys-color-text-primary-inverse-disable-only: #1b1b1b;
  --md-sys-color-text-secondary-and-tertiary-inverse-disabled: #1b1b1b;
  --md-sys-color-text-hint-inverse: #1b1b1b;
}

.dark-medium-contrast {
  --md-sys-color-primary-palette-key-color: #8069bf;
  --md-sys-color-secondary-palette-key-color: #7b748a;
  --md-sys-color-tertiary-palette-key-color: #996a79;
  --md-sys-color-neutral-palette-key-color: #777777;
  --md-sys-color-neutral-variant-palette-key-color: #777777;
  --md-sys-color-error-palette-key-color: #de3730;
  --md-sys-color-background: #0e0e0e;
  --md-sys-color-on-background: #ffffff;
  --md-sys-color-surface: #0e0e0e;
  --md-sys-color-surface-dim: #0e0e0e;
  --md-sys-color-surface-bright: #2c2c2c;
  --md-sys-color-surface-container-lowest: #000000;
  --md-sys-color-surface-container-low: #131313;
  --md-sys-color-surface-container: #191919;
  --md-sys-color-surface-container-high: #1f1f1f;
  --md-sys-color-surface-container-highest: #262626;
  --md-sys-color-on-surface: #ffffff;
  --md-sys-color-surface-variant: #262626;
  --md-sys-color-on-surface-variant: #b9b9b9;
  --md-sys-color-inverse-surface: #f9f9f9;
  --md-sys-color-inverse-on-surface: #383838;
  --md-sys-color-outline: #939393;
  --md-sys-color-outline-variant: #757575;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #c3acff;
  --md-sys-color-primary: #c3acff;
  --md-sys-color-primary-dim: #b69df8;
  --md-sys-color-on-primary: #33196e;
  --md-sys-color-primary-container: #ab92ec;
  --md-sys-color-on-primary-container: #1a004a;
  --md-sys-color-inverse-primary: #5d469a;
  --md-sys-color-primary-fixed: #bba2fe;
  --md-sys-color-primary-fixed-dim: #ad95ef;
  --md-sys-color-on-primary-fixed: #000000;
  --md-sys-color-on-primary-fixed-variant: #1e0053;
  --md-sys-color-secondary: #cbc2db;
  --md-sys-color-secondary-dim: #beb5cd;
  --md-sys-color-on-secondary: #393347;
  --md-sys-color-secondary-container: #787187;
  --md-sys-color-on-secondary-container: #ffffff;
  --md-sys-color-secondary-fixed: #e8def8;
  --md-sys-color-secondary-fixed-dim: #dad0ea;
  --md-sys-color-on-secondary-fixed: #221d2f;
  --md-sys-color-on-secondary-fixed-variant: #423c50;
  --md-sys-color-tertiary: #ffd9e3;
  --md-sys-color-tertiary-dim: #fec5d6;
  --md-sys-color-on-tertiary: #643c4a;
  --md-sys-color-tertiary-container: #fec5d6;
  --md-sys-color-on-tertiary-container: #5b3441;
  --md-sys-color-tertiary-fixed: #fec5d6;
  --md-sys-color-tertiary-fixed-dim: #efb8c8;
  --md-sys-color-on-tertiary-fixed: #240613;
  --md-sys-color-on-tertiary-fixed-variant: #502b38;
  --md-sys-color-error: #ff9f94;
  --md-sys-color-error-dim: #ff887c;
  --md-sys-color-on-error: #600004;
  --md-sys-color-error-container: #da342e;
  --md-sys-color-on-error-container: #ffffff;
  --md-sys-color-control-activated: #ab92ec;
  --md-sys-color-control-normal: #b9b9b9;
  --md-sys-color-control-highlight: #ffffff33;
  --md-sys-color-text-primary-inverse: #383838;
  --md-sys-color-text-secondary-and-tertiary-inverse: #474747;
  --md-sys-color-text-primary-inverse-disable-only: #1b1b1b;
  --md-sys-color-text-secondary-and-tertiary-inverse-disabled: #1b1b1b;
  --md-sys-color-text-hint-inverse: #1b1b1b;
}

.dark-high-contrast {
  --md-sys-color-primary-palette-key-color: #8069bf;
  --md-sys-color-secondary-palette-key-color: #7b748a;
  --md-sys-color-tertiary-palette-key-color: #996a79;
  --md-sys-color-neutral-palette-key-color: #777777;
  --md-sys-color-neutral-variant-palette-key-color: #777777;
  --md-sys-color-error-palette-key-color: #de3730;
  --md-sys-color-background: #0e0e0e;
  --md-sys-color-on-background: #ffffff;
  --md-sys-color-surface: #0e0e0e;
  --md-sys-color-surface-dim: #0e0e0e;
  --md-sys-color-surface-bright: #2c2c2c;
  --md-sys-color-surface-container-lowest: #000000;
  --md-sys-color-surface-container-low: #131313;
  --md-sys-color-surface-container: #191919;
  --md-sys-color-surface-container-high: #1f1f1f;
  --md-sys-color-surface-container-highest: #262626;
  --md-sys-color-on-surface: #ffffff;
  --md-sys-color-surface-variant: #262626;
  --md-sys-color-on-surface-variant: #e5e5e5;
  --md-sys-color-inverse-surface: #f9f9f9;
  --md-sys-color-inverse-on-surface: #000000;
  --md-sys-color-outline: #b9b9b9;
  --md-sys-color-outline-variant: #939393;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #ebe1ff;
  --md-sys-color-primary: #ebe1ff;
  --md-sys-color-primary-dim: #dccdff;
  --md-sys-color-on-primary: #33196e;
  --md-sys-color-primary-container: #ab92ec;
  --md-sys-color-on-primary-container: #000000;
  --md-sys-color-inverse-primary: #40277b;
  --md-sys-color-primary-fixed: #bba2fe;
  --md-sys-color-primary-fixed-dim: #ad95ef;
  --md-sys-color-on-primary-fixed: #000000;
  --md-sys-color-on-primary-fixed-variant: #000000;
  --md-sys-color-secondary: #ebe1fb;
  --md-sys-color-secondary-dim: #ddd3ed;
  --md-sys-color-on-secondary: #2e293c;
  --md-sys-color-secondary-container: #a29ab2;
  --md-sys-color-on-secondary-container: #000000;
  --md-sys-color-secondary-fixed: #e8def8;
  --md-sys-color-secondary-fixed-dim: #dad0ea;
  --md-sys-color-on-secondary-fixed: #000000;
  --md-sys-color-on-secondary-fixed-variant: #221d2f;
  --md-sys-color-tertiary: #ffdde5;
  --md-sys-color-tertiary-dim: #fec5d6;
  --md-sys-color-on-tertiary: #44212e;
  --md-sys-color-tertiary-container: #fec5d6;
  --md-sys-color-on-tertiary-container: #361421;
  --md-sys-color-tertiary-fixed: #fec5d6;
  --md-sys-color-tertiary-fixed-dim: #efb8c8;
  --md-sys-color-on-tertiary-fixed: #000000;
  --md-sys-color-on-tertiary-fixed-variant: #240613;
  --md-sys-color-error: #ffdeda;
  --md-sys-color-error-dim: #ffc8c1;
  --md-sys-color-on-error: #600004;
  --md-sys-color-error-container: #ff7164;
  --md-sys-color-on-error-container: #000000;
  --md-sys-color-control-activated: #ab92ec;
  --md-sys-color-control-normal: #e5e5e5;
  --md-sys-color-control-highlight: #ffffff33;
  --md-sys-color-text-primary-inverse: #000000;
  --md-sys-color-text-secondary-and-tertiary-inverse: #474747;
  --md-sys-color-text-primary-inverse-disable-only: #1b1b1b;
  --md-sys-color-text-secondary-and-tertiary-inverse-disabled: #1b1b1b;
  --md-sys-color-text-hint-inverse: #1b1b1b;
}

