.light {
  --md-sys-color-primary-palette-key-color: #7d6fa2;
  --md-sys-color-secondary-palette-key-color: #7b748a;
  --md-sys-color-tertiary-palette-key-color: #956989;
  --md-sys-color-neutral-palette-key-color: #79767c;
  --md-sys-color-neutral-variant-palette-key-color: #7a7580;
  --md-sys-color-error-palette-key-color: #c74d61;
  --md-sys-color-background: #fdf7fe;
  --md-sys-color-on-background: #34313a;
  --md-sys-color-surface: #fdf7fe;
  --md-sys-color-surface-dim: #ded8e4;
  --md-sys-color-surface-bright: #fdf7ff;
  --md-sys-color-surface-container-lowest: #ffffff;
  --md-sys-color-surface-container-low: #f8f1fa;
  --md-sys-color-surface-container: #f2ecf5;
  --md-sys-color-surface-container-high: #ece6f0;
  --md-sys-color-surface-container-highest: #e7e0ec;
  --md-sys-color-on-surface: #34313a;
  --md-sys-color-surface-variant: #e7e0ec;
  --md-sys-color-on-surface-variant: #615d68;
  --md-sys-color-inverse-surface: #0f0d12;
  --md-sys-color-inverse-on-surface: #a09ba1;
  --md-sys-color-outline: #7d7983;
  --md-sys-color-outline-variant: #b5b0bb;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #655789;
  --md-sys-color-primary: #655789;
  --md-sys-color-primary-dim: #594b7c;
  --md-sys-color-on-primary: #fdf7ff;
  --md-sys-color-primary-container: #d4c3fd;
  --md-sys-color-on-primary-container: #493c6c;
  --md-sys-color-inverse-primary: #d4c3fd;
  --md-sys-color-primary-fixed: #d4c3fd;
  --md-sys-color-primary-fixed-dim: #c6b6ee;
  --md-sys-color-on-primary-fixed: #352857;
  --md-sys-color-on-primary-fixed-variant: #524576;
  --md-sys-color-secondary: #625c71;
  --md-sys-color-secondary-dim: #565065;
  --md-sys-color-on-secondary: #fdf7ff;
  --md-sys-color-secondary-container: #e8def8;
  --md-sys-color-on-secondary-container: #554f63;
  --md-sys-color-secondary-fixed: #e8def8;
  --md-sys-color-secondary-fixed-dim: #dad0ea;
  --md-sys-color-on-secondary-fixed: #423c50;
  --md-sys-color-on-secondary-fixed-variant: #5f586e;
  --md-sys-color-tertiary: #7b5270;
  --md-sys-color-tertiary-dim: #6e4664;
  --md-sys-color-on-tertiary: #fff7f9;
  --md-sys-color-tertiary-container: #f4bfe3;
  --md-sys-color-on-tertiary-container: #5f3956;
  --md-sys-color-tertiary-fixed: #f4bfe3;
  --md-sys-color-tertiary-fixed-dim: #e5b2d5;
  --md-sys-color-on-tertiary-fixed: #4a2642;
  --md-sys-color-on-tertiary-fixed-variant: #694260;
  --md-sys-color-error: #a8364b;
  --md-sys-color-error-dim: #6b0221;
  --md-sys-color-on-error: #fff7f7;
  --md-sys-color-error-container: #f97386;
  --md-sys-color-on-error-container: #6e0523;
}

.light-medium-contrast {
  --md-sys-color-primary-palette-key-color: #7d6fa2;
  --md-sys-color-secondary-palette-key-color: #7b748a;
  --md-sys-color-tertiary-palette-key-color: #956989;
  --md-sys-color-neutral-palette-key-color: #79767c;
  --md-sys-color-neutral-variant-palette-key-color: #7a7580;
  --md-sys-color-error-palette-key-color: #c74d61;
  --md-sys-color-background: #fdf7fe;
  --md-sys-color-on-background: #25232b;
  --md-sys-color-surface: #fdf7fe;
  --md-sys-color-surface-dim: #ded8e4;
  --md-sys-color-surface-bright: #fdf7ff;
  --md-sys-color-surface-container-lowest: #ffffff;
  --md-sys-color-surface-container-low: #f8f1fa;
  --md-sys-color-surface-container: #f2ecf5;
  --md-sys-color-surface-container-high: #ece6f0;
  --md-sys-color-surface-container-highest: #e7e0ec;
  --md-sys-color-on-surface: #25232b;
  --md-sys-color-surface-variant: #e7e0ec;
  --md-sys-color-on-surface-variant: #45414b;
  --md-sys-color-inverse-surface: #0f0d12;
  --md-sys-color-inverse-on-surface: #c8c3c9;
  --md-sys-color-outline: #615d68;
  --md-sys-color-outline-variant: #7d7983;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #483b6b;
  --md-sys-color-primary: #483b6b;
  --md-sys-color-primary-dim: #3c305f;
  --md-sys-color-on-primary: #e1d3ff;
  --md-sys-color-primary-container: #7b6da0;
  --md-sys-color-on-primary-container: #ffffff;
  --md-sys-color-inverse-primary: #d4c3fd;
  --md-sys-color-primary-fixed: #7b6da0;
  --md-sys-color-primary-fixed-dim: #6e6093;
  --md-sys-color-on-primary-fixed: #ffffff;
  --md-sys-color-on-primary-fixed-variant: #ffffff;
  --md-sys-color-secondary: #464054;
  --md-sys-color-secondary-dim: #3a3548;
  --md-sys-color-on-secondary: #dfd5ef;
  --md-sys-color-secondary-container: #787187;
  --md-sys-color-on-secondary-container: #ffffff;
  --md-sys-color-secondary-fixed: #787187;
  --md-sys-color-secondary-fixed-dim: #6c657b;
  --md-sys-color-on-secondary-fixed: #ffffff;
  --md-sys-color-on-secondary-fixed-variant: #ffffff;
  --md-sys-color-tertiary: #5c3653;
  --md-sys-color-tertiary-dim: #502b47;
  --md-sys-color-on-tertiary: #ffcaee;
  --md-sys-color-tertiary-container: #936787;
  --md-sys-color-on-tertiary-container: #ffffff;
  --md-sys-color-tertiary-fixed: #936787;
  --md-sys-color-tertiary-fixed-dim: #855b7a;
  --md-sys-color-on-tertiary-fixed: #ffffff;
  --md-sys-color-on-tertiary-fixed-variant: #ffffff;
  --md-sys-color-error: #821830;
  --md-sys-color-error-dim: #6b0221;
  --md-sys-color-on-error: #ffcdd1;
  --md-sys-color-error-container: #c44b5f;
  --md-sys-color-on-error-container: #ffffff;
}

.light-high-contrast {
  --md-sys-color-primary-palette-key-color: #7d6fa2;
  --md-sys-color-secondary-palette-key-color: #7b748a;
  --md-sys-color-tertiary-palette-key-color: #956989;
  --md-sys-color-neutral-palette-key-color: #79767c;
  --md-sys-color-neutral-variant-palette-key-color: #7a7580;
  --md-sys-color-error-palette-key-color: #c74d61;
  --md-sys-color-background: #fdf7fe;
  --md-sys-color-on-background: #000000;
  --md-sys-color-surface: #fdf7fe;
  --md-sys-color-surface-dim: #ded8e4;
  --md-sys-color-surface-bright: #fdf7ff;
  --md-sys-color-surface-container-lowest: #ffffff;
  --md-sys-color-surface-container-low: #f8f1fa;
  --md-sys-color-surface-container: #f2ecf5;
  --md-sys-color-surface-container-high: #ece6f0;
  --md-sys-color-surface-container-highest: #e7e0ec;
  --md-sys-color-on-surface: #000000;
  --md-sys-color-surface-variant: #e7e0ec;
  --md-sys-color-on-surface-variant: #25232b;
  --md-sys-color-inverse-surface: #0f0d12;
  --md-sys-color-inverse-on-surface: #ffffff;
  --md-sys-color-outline: #45414b;
  --md-sys-color-outline-variant: #615d68;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #281b49;
  --md-sys-color-primary: #281b49;
  --md-sys-color-primary-dim: #1e103f;
  --md-sys-color-on-primary: #e1d3ff;
  --md-sys-color-primary-container: #655789;
  --md-sys-color-on-primary-container: #ffffff;
  --md-sys-color-inverse-primary: #d4c3fd;
  --md-sys-color-primary-fixed: #655789;
  --md-sys-color-primary-fixed-dim: #594b7c;
  --md-sys-color-on-primary-fixed: #ffffff;
  --md-sys-color-on-primary-fixed-variant: #ffffff;
  --md-sys-color-secondary: #262134;
  --md-sys-color-secondary-dim: #1c1729;
  --md-sys-color-on-secondary: #dfd6ef;
  --md-sys-color-secondary-container: #625c71;
  --md-sys-color-on-secondary-container: #ffffff;
  --md-sys-color-secondary-fixed: #625c71;
  --md-sys-color-secondary-fixed-dim: #565065;
  --md-sys-color-on-secondary-fixed: #ffffff;
  --md-sys-color-on-secondary-fixed-variant: #ffffff;
  --md-sys-color-tertiary: #391733;
  --md-sys-color-tertiary-dim: #2e0d28;
  --md-sys-color-on-tertiary: #ffcbee;
  --md-sys-color-tertiary-container: #7b5270;
  --md-sys-color-on-tertiary-container: #ffffff;
  --md-sys-color-tertiary-fixed: #7b5270;
  --md-sys-color-tertiary-fixed-dim: #6e4664;
  --md-sys-color-on-tertiary-fixed: #ffffff;
  --md-sys-color-on-tertiary-fixed-variant: #ffffff;
  --md-sys-color-error: #500016;
  --md-sys-color-error-dim: #3d000f;
  --md-sys-color-on-error: #ffced2;
  --md-sys-color-error-container: #a8364b;
  --md-sys-color-on-error-container: #ffffff;
}

.dark {
  --md-sys-color-primary-palette-key-color: #7c7199;
  --md-sys-color-secondary-palette-key-color: #7b748a;
  --md-sys-color-tertiary-palette-key-color: #956989;
  --md-sys-color-neutral-palette-key-color: #79767c;
  --md-sys-color-neutral-variant-palette-key-color: #7a7580;
  --md-sys-color-error-palette-key-color: #c74d61;
  --md-sys-color-background: #0f0d12;
  --md-sys-color-on-background: #eae3ef;
  --md-sys-color-surface: #0f0d12;
  --md-sys-color-surface-dim: #0f0d12;
  --md-sys-color-surface-bright: #2d2b30;
  --md-sys-color-surface-container-lowest: #000000;
  --md-sys-color-surface-container-low: #141218;
  --md-sys-color-surface-container: #1b181f;
  --md-sys-color-surface-container-high: #211e26;
  --md-sys-color-surface-container-highest: #27242d;
  --md-sys-color-on-surface: #eae3ef;
  --md-sys-color-surface-variant: #27242d;
  --md-sys-color-on-surface-variant: #aea9b4;
  --md-sys-color-inverse-surface: #fdf7fe;
  --md-sys-color-inverse-on-surface: #575459;
  --md-sys-color-outline: #78737e;
  --md-sys-color-outline-variant: #4a4650;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #cdc0ec;
  --md-sys-color-primary: #cdc0ec;
  --md-sys-color-primary-dim: #bfb2de;
  --md-sys-color-on-primary: #443a5f;
  --md-sys-color-primary-container: #574d72;
  --md-sys-color-on-primary-container: #e9deff;
  --md-sys-color-inverse-primary: #645980;
  --md-sys-color-primary-fixed: #ded0fe;
  --md-sys-color-primary-fixed-dim: #d0c3ef;
  --md-sys-color-on-primary-fixed: #3c3256;
  --md-sys-color-on-primary-fixed-variant: #594e74;
  --md-sys-color-secondary: #cbc2db;
  --md-sys-color-secondary-dim: #beb5cd;
  --md-sys-color-on-secondary: #433d51;
  --md-sys-color-secondary-container: #3e384c;
  --md-sys-color-on-secondary-container: #c4bbd4;
  --md-sys-color-secondary-fixed: #e8def8;
  --md-sys-color-secondary-fixed-dim: #dad0ea;
  --md-sys-color-on-secondary-fixed: #423c50;
  --md-sys-color-on-secondary-fixed-variant: #5f586e;
  --md-sys-color-tertiary: #ffcfef;
  --md-sys-color-tertiary-dim: #f4bfe3;
  --md-sys-color-on-tertiary: #69415f;
  --md-sys-color-tertiary-container: #f4bfe3;
  --md-sys-color-on-tertiary-container: #5f3956;
  --md-sys-color-tertiary-fixed: #f4bfe3;
  --md-sys-color-tertiary-fixed-dim: #e5b2d5;
  --md-sys-color-on-tertiary-fixed: #4a2642;
  --md-sys-color-on-tertiary-fixed-variant: #694260;
  --md-sys-color-error: #f97386;
  --md-sys-color-error-dim: #c44b5f;
  --md-sys-color-on-error: #490013;
  --md-sys-color-error-container: #871c34;
  --md-sys-color-on-error-container: #ff97a3;
}

.dark-medium-contrast {
  --md-sys-color-primary-palette-key-color: #7c7199;
  --md-sys-color-secondary-palette-key-color: #7b748a;
  --md-sys-color-tertiary-palette-key-color: #956989;
  --md-sys-color-neutral-palette-key-color: #79767c;
  --md-sys-color-neutral-variant-palette-key-color: #7a7580;
  --md-sys-color-error-palette-key-color: #c74d61;
  --md-sys-color-background: #0f0d12;
  --md-sys-color-on-background: #ffffff;
  --md-sys-color-surface: #0f0d12;
  --md-sys-color-surface-dim: #0f0d12;
  --md-sys-color-surface-bright: #2d2b30;
  --md-sys-color-surface-container-lowest: #000000;
  --md-sys-color-surface-container-low: #141218;
  --md-sys-color-surface-container: #1b181f;
  --md-sys-color-surface-container-high: #211e26;
  --md-sys-color-surface-container-highest: #27242d;
  --md-sys-color-on-surface: #ffffff;
  --md-sys-color-surface-variant: #27242d;
  --md-sys-color-on-surface-variant: #bcb6c2;
  --md-sys-color-inverse-surface: #fdf7fe;
  --md-sys-color-inverse-on-surface: #39373c;
  --md-sys-color-outline: #96919c;
  --md-sys-color-outline-variant: #78737e;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #cdc0ec;
  --md-sys-color-primary: #cdc0ec;
  --md-sys-color-primary-dim: #bfb2de;
  --md-sys-color-on-primary: #3a3054;
  --md-sys-color-primary-container: #7a6f96;
  --md-sys-color-on-primary-container: #ffffff;
  --md-sys-color-inverse-primary: #5a4f75;
  --md-sys-color-primary-fixed: #ded0fe;
  --md-sys-color-primary-fixed-dim: #d0c3ef;
  --md-sys-color-on-primary-fixed: #180e30;
  --md-sys-color-on-primary-fixed-variant: #3c3256;
  --md-sys-color-secondary: #cbc2db;
  --md-sys-color-secondary-dim: #beb5cd;
  --md-sys-color-on-secondary: #393347;
  --md-sys-color-secondary-container: #787187;
  --md-sys-color-on-secondary-container: #ffffff;
  --md-sys-color-secondary-fixed: #e8def8;
  --md-sys-color-secondary-fixed-dim: #dad0ea;
  --md-sys-color-on-secondary-fixed: #221d2f;
  --md-sys-color-on-secondary-fixed-variant: #423c50;
  --md-sys-color-tertiary: #ffcfef;
  --md-sys-color-tertiary-dim: #f4bfe3;
  --md-sys-color-on-tertiary: #5e3855;
  --md-sys-color-tertiary-container: #f4bfe3;
  --md-sys-color-on-tertiary-container: #542f4c;
  --md-sys-color-tertiary-fixed: #f4bfe3;
  --md-sys-color-tertiary-fixed-dim: #e5b2d5;
  --md-sys-color-on-tertiary-fixed: #180015;
  --md-sys-color-on-tertiary-fixed-variant: #4a2642;
  --md-sys-color-error: #ff9da8;
  --md-sys-color-error-dim: #ff8695;
  --md-sys-color-on-error: #5f001c;
  --md-sys-color-error-container: #c44b5f;
  --md-sys-color-on-error-container: #ffffff;
}

.dark-high-contrast {
  --md-sys-color-primary-palette-key-color: #7c7199;
  --md-sys-color-secondary-palette-key-color: #7b748a;
  --md-sys-color-tertiary-palette-key-color: #956989;
  --md-sys-color-neutral-palette-key-color: #79767c;
  --md-sys-color-neutral-variant-palette-key-color: #7a7580;
  --md-sys-color-error-palette-key-color: #c74d61;
  --md-sys-color-background: #0f0d12;
  --md-sys-color-on-background: #ffffff;
  --md-sys-color-surface: #0f0d12;
  --md-sys-color-surface-dim: #0f0d12;
  --md-sys-color-surface-bright: #2d2b30;
  --md-sys-color-surface-container-lowest: #000000;
  --md-sys-color-surface-container-low: #141218;
  --md-sys-color-surface-container: #1b181f;
  --md-sys-color-surface-container-high: #211e26;
  --md-sys-color-surface-container-highest: #27242d;
  --md-sys-color-on-surface: #ffffff;
  --md-sys-color-surface-variant: #27242d;
  --md-sys-color-on-surface-variant: #eae3ef;
  --md-sys-color-inverse-surface: #fdf7fe;
  --md-sys-color-inverse-on-surface: #000000;
  --md-sys-color-outline: #bcb6c2;
  --md-sys-color-outline-variant: #96919c;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #ebe1ff;
  --md-sys-color-primary: #ebe1ff;
  --md-sys-color-primary-dim: #ded0fe;
  --md-sys-color-on-primary: #302649;
  --md-sys-color-primary-container: #a497c2;
  --md-sys-color-on-primary-container: #000000;
  --md-sys-color-inverse-primary: #3c3256;
  --md-sys-color-primary-fixed: #ded0fe;
  --md-sys-color-primary-fixed-dim: #d0c3ef;
  --md-sys-color-on-primary-fixed: #000000;
  --md-sys-color-on-primary-fixed-variant: #180e30;
  --md-sys-color-secondary: #ebe1fb;
  --md-sys-color-secondary-dim: #ddd3ed;
  --md-sys-color-on-secondary: #2e293c;
  --md-sys-color-secondary-container: #a29ab2;
  --md-sys-color-on-secondary-container: #000000;
  --md-sys-color-secondary-fixed: #e8def8;
  --md-sys-color-secondary-fixed-dim: #dad0ea;
  --md-sys-color-on-secondary-fixed: #000000;
  --md-sys-color-on-secondary-fixed-variant: #221d2f;
  --md-sys-color-tertiary: #ffdbf2;
  --md-sys-color-tertiary-dim: #fac5e9;
  --md-sys-color-on-tertiary: #43203b;
  --md-sys-color-tertiary-container: #f4bfe3;
  --md-sys-color-on-tertiary-container: #2e0e29;
  --md-sys-color-tertiary-fixed: #f4bfe3;
  --md-sys-color-tertiary-fixed-dim: #e5b2d5;
  --md-sys-color-on-tertiary-fixed: #000000;
  --md-sys-color-on-tertiary-fixed-variant: #180015;
  --md-sys-color-error: #ffdddf;
  --md-sys-color-error-dim: #ffc7cb;
  --md-sys-color-on-error: #5f001c;
  --md-sys-color-error-container: #f97386;
  --md-sys-color-on-error-container: #000000;
}

