.light {
  --md-sys-color-primary-palette-key-color: #8164cf;
  --md-sys-color-secondary-palette-key-color: #876ba5;
  --md-sys-color-tertiary-palette-key-color: #c05178;
  --md-sys-color-neutral-palette-key-color: #80718e;
  --md-sys-color-neutral-variant-palette-key-color: #826f96;
  --md-sys-color-error-palette-key-color: #c74d61;
  --md-sys-color-background: #000000;
  --md-sys-color-on-background: #ffffff;
  --md-sys-color-surface: #000000;
  --md-sys-color-surface-dim: #140920;
  --md-sys-color-surface-bright: #352448;
  --md-sys-color-surface-container-lowest: #000000;
  --md-sys-color-surface-container-low: #2c2139;
  --md-sys-color-surface-container: #372b44;
  --md-sys-color-surface-container-high: #433650;
  --md-sys-color-surface-container-highest: #2e1e40;
  --md-sys-color-on-surface: #fffeff;
  --md-sys-color-surface-variant: #2e1e40;
  --md-sys-color-on-surface-variant: #d9c7e8;
  --md-sys-color-inverse-surface: #fff7ff;
  --md-sys-color-inverse-on-surface: #5d506b;
  --md-sys-color-outline: #b09fbe;
  --md-sys-color-outline-variant: #8f809d;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #d6c5ff;
  --md-sys-color-primary: #d6c5ff;
  --md-sys-color-primary-dim: #b194ff;
  --md-sys-color-on-primary: #21005b;
  --md-sys-color-primary-container: #50319a;
  --md-sys-color-on-primary-container: #e6daff;
  --md-sys-color-inverse-primary: #5f41a9;
  --md-sys-color-primary-fixed: #50319a;
  --md-sys-color-primary-fixed-dim: #44238e;
  --md-sys-color-on-primary-fixed: #d6c5ff;
  --md-sys-color-on-primary-fixed-variant: #b194ff;
  --md-sys-color-secondary: #e0c2ff;
  --md-sys-color-secondary-dim: #d3b4f3;
  --md-sys-color-on-secondary: #3f265b;
  --md-sys-color-secondary-container: #553b71;
  --md-sys-color-on-secondary-container: #edd8ff;
  --md-sys-color-secondary-fixed: #553b71;
  --md-sys-color-secondary-fixed-dim: #492f65;
  --md-sys-color-on-secondary-fixed: #e0c2ff;
  --md-sys-color-on-secondary-fixed-variant: #b799d7;
  --md-sys-color-tertiary: #ffbcce;
  --md-sys-color-tertiary-dim: #fc81aa;
  --md-sys-color-on-tertiary: #43001e;
  --md-sys-color-tertiary-container: #ef779f;
  --md-sys-color-on-tertiary-container: #2a0011;
  --md-sys-color-tertiary-fixed: #ef779f;
  --md-sys-color-tertiary-fixed-dim: #df6a92;
  --md-sys-color-on-tertiary-fixed: #000000;
  --md-sys-color-on-tertiary-fixed-variant: #59002b;
  --md-sys-color-error: #ffbdc3;
  --md-sys-color-error-dim: #ff7d8f;
  --md-sys-color-on-error: #3f000f;
  --md-sys-color-error-container: #871c34;
  --md-sys-color-on-error-container: #ffd6d9;
}

.light-medium-contrast {
  --md-sys-color-primary-palette-key-color: #8164cf;
  --md-sys-color-secondary-palette-key-color: #876ba5;
  --md-sys-color-tertiary-palette-key-color: #c05178;
  --md-sys-color-neutral-palette-key-color: #80718e;
  --md-sys-color-neutral-variant-palette-key-color: #826f96;
  --md-sys-color-error-palette-key-color: #c74d61;
  --md-sys-color-background: #000000;
  --md-sys-color-on-background: #ffffff;
  --md-sys-color-surface: #000000;
  --md-sys-color-surface-dim: #140920;
  --md-sys-color-surface-bright: #352448;
  --md-sys-color-surface-container-lowest: #000000;
  --md-sys-color-surface-container-low: #2c2139;
  --md-sys-color-surface-container: #372b44;
  --md-sys-color-surface-container-high: #433650;
  --md-sys-color-surface-container-highest: #2e1e40;
  --md-sys-color-on-surface: #ffffff;
  --md-sys-color-surface-variant: #2e1e40;
  --md-sys-color-on-surface-variant: #fffeff;
  --md-sys-color-inverse-surface: #fff7ff;
  --md-sys-color-inverse-on-surface: #3f334c;
  --md-sys-color-outline: #d9c7e8;
  --md-sys-color-outline-variant: #b09fbe;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #fffeff;
  --md-sys-color-primary: #fffeff;
  --md-sys-color-primary-dim: #d6c5ff;
  --md-sys-color-on-primary: #200058;
  --md-sys-color-primary-container: #50319a;
  --md-sys-color-on-primary-container: #ffffff;
  --md-sys-color-inverse-primary: #411f8b;
  --md-sys-color-primary-fixed: #50319a;
  --md-sys-color-primary-fixed-dim: #44238e;
  --md-sys-color-on-primary-fixed: #fffeff;
  --md-sys-color-on-primary-fixed-variant: #d6c5ff;
  --md-sys-color-secondary: #fffeff;
  --md-sys-color-secondary-dim: #e0c2ff;
  --md-sys-color-on-secondary: #250b41;
  --md-sys-color-secondary-container: #553b71;
  --md-sys-color-on-secondary-container: #ffffff;
  --md-sys-color-secondary-fixed: #553b71;
  --md-sys-color-secondary-fixed-dim: #492f65;
  --md-sys-color-on-secondary-fixed: #fffeff;
  --md-sys-color-on-secondary-fixed-variant: #e0c2ff;
  --md-sys-color-tertiary: #fffeff;
  --md-sys-color-tertiary-dim: #ffbcce;
  --md-sys-color-on-tertiary: #3b001a;
  --md-sys-color-tertiary-container: #fc81aa;
  --md-sys-color-on-tertiary-container: #000000;
  --md-sys-color-tertiary-fixed: #ef779f;
  --md-sys-color-tertiary-fixed-dim: #df6a92;
  --md-sys-color-on-tertiary-fixed: #000000;
  --md-sys-color-on-tertiary-fixed-variant: #000000;
  --md-sys-color-error: #fffeff;
  --md-sys-color-error-dim: #ffbdc3;
  --md-sys-color-on-error: #3d000f;
  --md-sys-color-error-container: #871c34;
  --md-sys-color-on-error-container: #ffffff;
}

.light-high-contrast {
  --md-sys-color-primary-palette-key-color: #8164cf;
  --md-sys-color-secondary-palette-key-color: #876ba5;
  --md-sys-color-tertiary-palette-key-color: #c05178;
  --md-sys-color-neutral-palette-key-color: #80718e;
  --md-sys-color-neutral-variant-palette-key-color: #826f96;
  --md-sys-color-error-palette-key-color: #c74d61;
  --md-sys-color-background: #000000;
  --md-sys-color-on-background: #ffffff;
  --md-sys-color-surface: #000000;
  --md-sys-color-surface-dim: #140920;
  --md-sys-color-surface-bright: #352448;
  --md-sys-color-surface-container-lowest: #000000;
  --md-sys-color-surface-container-low: #2c2139;
  --md-sys-color-surface-container: #372b44;
  --md-sys-color-surface-container-high: #433650;
  --md-sys-color-surface-container-highest: #2e1e40;
  --md-sys-color-on-surface: #ffffff;
  --md-sys-color-surface-variant: #2e1e40;
  --md-sys-color-on-surface-variant: #ffffff;
  --md-sys-color-inverse-surface: #fff7ff;
  --md-sys-color-inverse-on-surface: #000000;
  --md-sys-color-outline: #fffeff;
  --md-sys-color-outline-variant: #d9c7e8;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #ffffff;
  --md-sys-color-primary: #ffffff;
  --md-sys-color-primary-dim: #fffeff;
  --md-sys-color-on-primary: #000000;
  --md-sys-color-primary-container: #50319a;
  --md-sys-color-on-primary-container: #ffffff;
  --md-sys-color-inverse-primary: #000000;
  --md-sys-color-primary-fixed: #50319a;
  --md-sys-color-primary-fixed-dim: #44238e;
  --md-sys-color-on-primary-fixed: #ffffff;
  --md-sys-color-on-primary-fixed-variant: #fffeff;
  --md-sys-color-secondary: #ffffff;
  --md-sys-color-secondary-dim: #fffeff;
  --md-sys-color-on-secondary: #000000;
  --md-sys-color-secondary-container: #553b71;
  --md-sys-color-on-secondary-container: #ffffff;
  --md-sys-color-secondary-fixed: #553b71;
  --md-sys-color-secondary-fixed-dim: #492f65;
  --md-sys-color-on-secondary-fixed: #ffffff;
  --md-sys-color-on-secondary-fixed-variant: #fffeff;
  --md-sys-color-tertiary: #ffffff;
  --md-sys-color-tertiary-dim: #fffeff;
  --md-sys-color-on-tertiary: #000000;
  --md-sys-color-tertiary-container: #fc81aa;
  --md-sys-color-on-tertiary-container: #000000;
  --md-sys-color-tertiary-fixed: #ef779f;
  --md-sys-color-tertiary-fixed-dim: #df6a92;
  --md-sys-color-on-tertiary-fixed: #000000;
  --md-sys-color-on-tertiary-fixed-variant: #000000;
  --md-sys-color-error: #ffffff;
  --md-sys-color-error-dim: #fffeff;
  --md-sys-color-on-error: #000000;
  --md-sys-color-error-container: #871c34;
  --md-sys-color-on-error-container: #ffffff;
}

.dark {
  --md-sys-color-primary-palette-key-color: #8164cf;
  --md-sys-color-secondary-palette-key-color: #876ba5;
  --md-sys-color-tertiary-palette-key-color: #c05178;
  --md-sys-color-neutral-palette-key-color: #80718e;
  --md-sys-color-neutral-variant-palette-key-color: #826f96;
  --md-sys-color-error-palette-key-color: #c74d61;
  --md-sys-color-background: #000000;
  --md-sys-color-on-background: #ffffff;
  --md-sys-color-surface: #000000;
  --md-sys-color-surface-dim: #140920;
  --md-sys-color-surface-bright: #352448;
  --md-sys-color-surface-container-lowest: #000000;
  --md-sys-color-surface-container-low: #2c2139;
  --md-sys-color-surface-container: #372b44;
  --md-sys-color-surface-container-high: #433650;
  --md-sys-color-surface-container-highest: #2e1e40;
  --md-sys-color-on-surface: #fffeff;
  --md-sys-color-surface-variant: #2e1e40;
  --md-sys-color-on-surface-variant: #d9c7e8;
  --md-sys-color-inverse-surface: #fff7ff;
  --md-sys-color-inverse-on-surface: #5d506b;
  --md-sys-color-outline: #b09fbe;
  --md-sys-color-outline-variant: #8f809d;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #d6c5ff;
  --md-sys-color-primary: #d6c5ff;
  --md-sys-color-primary-dim: #b194ff;
  --md-sys-color-on-primary: #21005b;
  --md-sys-color-primary-container: #50319a;
  --md-sys-color-on-primary-container: #e6daff;
  --md-sys-color-inverse-primary: #5f41a9;
  --md-sys-color-primary-fixed: #50319a;
  --md-sys-color-primary-fixed-dim: #44238e;
  --md-sys-color-on-primary-fixed: #d6c5ff;
  --md-sys-color-on-primary-fixed-variant: #b194ff;
  --md-sys-color-secondary: #e0c2ff;
  --md-sys-color-secondary-dim: #d3b4f3;
  --md-sys-color-on-secondary: #3f265b;
  --md-sys-color-secondary-container: #553b71;
  --md-sys-color-on-secondary-container: #edd8ff;
  --md-sys-color-secondary-fixed: #553b71;
  --md-sys-color-secondary-fixed-dim: #492f65;
  --md-sys-color-on-secondary-fixed: #e0c2ff;
  --md-sys-color-on-secondary-fixed-variant: #b799d7;
  --md-sys-color-tertiary: #ffbcce;
  --md-sys-color-tertiary-dim: #fc81aa;
  --md-sys-color-on-tertiary: #43001e;
  --md-sys-color-tertiary-container: #ef779f;
  --md-sys-color-on-tertiary-container: #2a0011;
  --md-sys-color-tertiary-fixed: #ef779f;
  --md-sys-color-tertiary-fixed-dim: #df6a92;
  --md-sys-color-on-tertiary-fixed: #000000;
  --md-sys-color-on-tertiary-fixed-variant: #59002b;
  --md-sys-color-error: #ffbdc3;
  --md-sys-color-error-dim: #ff7d8f;
  --md-sys-color-on-error: #3f000f;
  --md-sys-color-error-container: #871c34;
  --md-sys-color-on-error-container: #ffd6d9;
}

.dark-medium-contrast {
  --md-sys-color-primary-palette-key-color: #8164cf;
  --md-sys-color-secondary-palette-key-color: #876ba5;
  --md-sys-color-tertiary-palette-key-color: #c05178;
  --md-sys-color-neutral-palette-key-color: #80718e;
  --md-sys-color-neutral-variant-palette-key-color: #826f96;
  --md-sys-color-error-palette-key-color: #c74d61;
  --md-sys-color-background: #000000;
  --md-sys-color-on-background: #ffffff;
  --md-sys-color-surface: #000000;
  --md-sys-color-surface-dim: #140920;
  --md-sys-color-surface-bright: #352448;
  --md-sys-color-surface-container-lowest: #000000;
  --md-sys-color-surface-container-low: #2c2139;
  --md-sys-color-surface-container: #372b44;
  --md-sys-color-surface-container-high: #433650;
  --md-sys-color-surface-container-highest: #2e1e40;
  --md-sys-color-on-surface: #ffffff;
  --md-sys-color-surface-variant: #2e1e40;
  --md-sys-color-on-surface-variant: #fffeff;
  --md-sys-color-inverse-surface: #fff7ff;
  --md-sys-color-inverse-on-surface: #3f334c;
  --md-sys-color-outline: #d9c7e8;
  --md-sys-color-outline-variant: #b09fbe;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #fffeff;
  --md-sys-color-primary: #fffeff;
  --md-sys-color-primary-dim: #d6c5ff;
  --md-sys-color-on-primary: #200058;
  --md-sys-color-primary-container: #50319a;
  --md-sys-color-on-primary-container: #ffffff;
  --md-sys-color-inverse-primary: #411f8b;
  --md-sys-color-primary-fixed: #50319a;
  --md-sys-color-primary-fixed-dim: #44238e;
  --md-sys-color-on-primary-fixed: #fffeff;
  --md-sys-color-on-primary-fixed-variant: #d6c5ff;
  --md-sys-color-secondary: #fffeff;
  --md-sys-color-secondary-dim: #e0c2ff;
  --md-sys-color-on-secondary: #250b41;
  --md-sys-color-secondary-container: #553b71;
  --md-sys-color-on-secondary-container: #ffffff;
  --md-sys-color-secondary-fixed: #553b71;
  --md-sys-color-secondary-fixed-dim: #492f65;
  --md-sys-color-on-secondary-fixed: #fffeff;
  --md-sys-color-on-secondary-fixed-variant: #e0c2ff;
  --md-sys-color-tertiary: #fffeff;
  --md-sys-color-tertiary-dim: #ffbcce;
  --md-sys-color-on-tertiary: #3b001a;
  --md-sys-color-tertiary-container: #fc81aa;
  --md-sys-color-on-tertiary-container: #000000;
  --md-sys-color-tertiary-fixed: #ef779f;
  --md-sys-color-tertiary-fixed-dim: #df6a92;
  --md-sys-color-on-tertiary-fixed: #000000;
  --md-sys-color-on-tertiary-fixed-variant: #000000;
  --md-sys-color-error: #fffeff;
  --md-sys-color-error-dim: #ffbdc3;
  --md-sys-color-on-error: #3d000f;
  --md-sys-color-error-container: #871c34;
  --md-sys-color-on-error-container: #ffffff;
}

.dark-high-contrast {
  --md-sys-color-primary-palette-key-color: #8164cf;
  --md-sys-color-secondary-palette-key-color: #876ba5;
  --md-sys-color-tertiary-palette-key-color: #c05178;
  --md-sys-color-neutral-palette-key-color: #80718e;
  --md-sys-color-neutral-variant-palette-key-color: #826f96;
  --md-sys-color-error-palette-key-color: #c74d61;
  --md-sys-color-background: #000000;
  --md-sys-color-on-background: #ffffff;
  --md-sys-color-surface: #000000;
  --md-sys-color-surface-dim: #140920;
  --md-sys-color-surface-bright: #352448;
  --md-sys-color-surface-container-lowest: #000000;
  --md-sys-color-surface-container-low: #2c2139;
  --md-sys-color-surface-container: #372b44;
  --md-sys-color-surface-container-high: #433650;
  --md-sys-color-surface-container-highest: #2e1e40;
  --md-sys-color-on-surface: #ffffff;
  --md-sys-color-surface-variant: #2e1e40;
  --md-sys-color-on-surface-variant: #ffffff;
  --md-sys-color-inverse-surface: #fff7ff;
  --md-sys-color-inverse-on-surface: #000000;
  --md-sys-color-outline: #fffeff;
  --md-sys-color-outline-variant: #d9c7e8;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #ffffff;
  --md-sys-color-primary: #ffffff;
  --md-sys-color-primary-dim: #fffeff;
  --md-sys-color-on-primary: #000000;
  --md-sys-color-primary-container: #50319a;
  --md-sys-color-on-primary-container: #ffffff;
  --md-sys-color-inverse-primary: #000000;
  --md-sys-color-primary-fixed: #50319a;
  --md-sys-color-primary-fixed-dim: #44238e;
  --md-sys-color-on-primary-fixed: #ffffff;
  --md-sys-color-on-primary-fixed-variant: #fffeff;
  --md-sys-color-secondary: #ffffff;
  --md-sys-color-secondary-dim: #fffeff;
  --md-sys-color-on-secondary: #000000;
  --md-sys-color-secondary-container: #553b71;
  --md-sys-color-on-secondary-container: #ffffff;
  --md-sys-color-secondary-fixed: #553b71;
  --md-sys-color-secondary-fixed-dim: #492f65;
  --md-sys-color-on-secondary-fixed: #ffffff;
  --md-sys-color-on-secondary-fixed-variant: #fffeff;
  --md-sys-color-tertiary: #ffffff;
  --md-sys-color-tertiary-dim: #fffeff;
  --md-sys-color-on-tertiary: #000000;
  --md-sys-color-tertiary-container: #fc81aa;
  --md-sys-color-on-tertiary-container: #000000;
  --md-sys-color-tertiary-fixed: #ef779f;
  --md-sys-color-tertiary-fixed-dim: #df6a92;
  --md-sys-color-on-tertiary-fixed: #000000;
  --md-sys-color-on-tertiary-fixed-variant: #000000;
  --md-sys-color-error: #ffffff;
  --md-sys-color-error-dim: #fffeff;
  --md-sys-color-on-error: #000000;
  --md-sys-color-error-container: #871c34;
  --md-sys-color-on-error-container: #ffffff;
}

