.light {
  --md-sys-color-primary-palette-key-color: #8557f6;
  --md-sys-color-secondary-palette-key-color: #9060c7;
  --md-sys-color-tertiary-palette-key-color: #c05178;
  --md-sys-color-neutral-palette-key-color: #836e99;
  --md-sys-color-neutral-variant-palette-key-color: #876ba5;
  --md-sys-color-error-palette-key-color: #db365a;
  --md-sys-color-background: #fdf3ff;
  --md-sys-color-on-background: #38264c;
  --md-sys-color-surface: #fdf3ff;
  --md-sys-color-surface-dim: #e5caff;
  --md-sys-color-surface-bright: #fdf3ff;
  --md-sys-color-surface-container-lowest: #ffffff;
  --md-sys-color-surface-container-low: #f9ecff;
  --md-sys-color-surface-container: #f3e2ff;
  --md-sys-color-surface-container-high: #efdbff;
  --md-sys-color-surface-container-highest: #ebd4ff;
  --md-sys-color-on-surface: #38264c;
  --md-sys-color-surface-variant: #ebd4ff;
  --md-sys-color-on-surface-variant: #67537c;
  --md-sys-color-inverse-surface: #16052a;
  --md-sys-color-inverse-on-surface: #ab94c1;
  --md-sys-color-outline: #836e99;
  --md-sys-color-outline-variant: #bba4d2;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #6935d9;
  --md-sys-color-primary: #6935d9;
  --md-sys-color-primary-dim: #5d24cc;
  --md-sys-color-on-primary: #f7f0ff;
  --md-sys-color-primary-container: #ac8eff;
  --md-sys-color-on-primary-container: #2a006f;
  --md-sys-color-inverse-primary: #9e79ff;
  --md-sys-color-primary-fixed: #ac8eff;
  --md-sys-color-primary-fixed-dim: #a07cff;
  --md-sys-color-on-primary-fixed: #000000;
  --md-sys-color-on-primary-fixed-variant: #350087;
  --md-sys-color-secondary: #7343a9;
  --md-sys-color-secondary-dim: #67369c;
  --md-sys-color-on-secondary: #faefff;
  --md-sys-color-secondary-container: #e3c6ff;
  --md-sys-color-on-secondary-container: #5e2d93;
  --md-sys-color-secondary-fixed: #e3c6ff;
  --md-sys-color-secondary-fixed-dim: #d9b5ff;
  --md-sys-color-on-secondary-fixed: #4a147e;
  --md-sys-color-on-secondary-fixed-variant: #68379d;
  --md-sys-color-tertiary: #9d365d;
  --md-sys-color-tertiary-dim: #8e2951;
  --md-sys-color-on-tertiary: #ffeff1;
  --md-sys-color-tertiary-container: #ff8eb2;
  --md-sys-color-on-tertiary-container: #640432;
  --md-sys-color-tertiary-fixed: #ff8eb2;
  --md-sys-color-tertiary-fixed-dim: #f67ca4;
  --md-sys-color-on-tertiary-fixed: #380018;
  --md-sys-color-on-tertiary-fixed-variant: #70103a;
  --md-sys-color-error: #b41340;
  --md-sys-color-error-dim: #a20036;
  --md-sys-color-on-error: #ffefef;
  --md-sys-color-error-container: #f74b6d;
  --md-sys-color-on-error-container: #510017;
  --md-sys-color-control-activated: #ac8eff;
  --md-sys-color-control-normal: #67537c;
  --md-sys-color-control-highlight: #0000001f;
  --md-sys-color-text-primary-inverse: #ab94c1;
  --md-sys-color-text-secondary-and-tertiary-inverse: #d9bafa;
  --md-sys-color-text-primary-inverse-disable-only: #efdbff;
  --md-sys-color-text-secondary-and-tertiary-inverse-disabled: #efdbff;
  --md-sys-color-text-hint-inverse: #efdbff;
}

.light-medium-contrast {
  --md-sys-color-primary-palette-key-color: #8557f6;
  --md-sys-color-secondary-palette-key-color: #9060c7;
  --md-sys-color-tertiary-palette-key-color: #c05178;
  --md-sys-color-neutral-palette-key-color: #836e99;
  --md-sys-color-neutral-variant-palette-key-color: #876ba5;
  --md-sys-color-error-palette-key-color: #db365a;
  --md-sys-color-background: #fdf3ff;
  --md-sys-color-on-background: #28173c;
  --md-sys-color-surface: #fdf3ff;
  --md-sys-color-surface-dim: #e5caff;
  --md-sys-color-surface-bright: #fdf3ff;
  --md-sys-color-surface-container-lowest: #ffffff;
  --md-sys-color-surface-container-low: #f9ecff;
  --md-sys-color-surface-container: #f3e2ff;
  --md-sys-color-surface-container-high: #efdbff;
  --md-sys-color-surface-container-highest: #ebd4ff;
  --md-sys-color-on-surface: #28173c;
  --md-sys-color-surface-variant: #ebd4ff;
  --md-sys-color-on-surface-variant: #4a375e;
  --md-sys-color-inverse-surface: #16052a;
  --md-sys-color-inverse-on-surface: #d4bbeb;
  --md-sys-color-outline: #67537c;
  --md-sys-color-outline-variant: #836e99;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #4b00b9;
  --md-sys-color-primary: #4b00b9;
  --md-sys-color-primary-dim: #3f009c;
  --md-sys-color-on-primary: #dcccff;
  --md-sys-color-primary-container: #8354f4;
  --md-sys-color-on-primary-container: #ffffff;
  --md-sys-color-inverse-primary: #a989ff;
  --md-sys-color-primary-fixed: #8354f4;
  --md-sys-color-primary-fixed-dim: #7645e6;
  --md-sys-color-on-primary-fixed: #ffffff;
  --md-sys-color-on-primary-fixed-variant: #ffffff;
  --md-sys-color-secondary: #55238a;
  --md-sys-color-secondary-dim: #4a147e;
  --md-sys-color-on-secondary: #e5c9ff;
  --md-sys-color-secondary-container: #8e5dc4;
  --md-sys-color-on-secondary-container: #ffffff;
  --md-sys-color-secondary-fixed: #8e5dc4;
  --md-sys-color-secondary-fixed-dim: #8150b7;
  --md-sys-color-on-secondary-fixed: #ffffff;
  --md-sys-color-on-secondary-fixed-variant: #ffffff;
  --md-sys-color-tertiary: #781740;
  --md-sys-color-tertiary-dim: #690935;
  --md-sys-color-on-tertiary: #ffc5d4;
  --md-sys-color-tertiary-container: #bd4f76;
  --md-sys-color-on-tertiary-container: #ffffff;
  --md-sys-color-tertiary-fixed: #bd4f76;
  --md-sys-color-tertiary-fixed-dim: #ad4269;
  --md-sys-color-on-tertiary-fixed: #ffffff;
  --md-sys-color-on-tertiary-fixed-variant: #ffffff;
  --md-sys-color-error: #83002a;
  --md-sys-color-error-dim: #6e0022;
  --md-sys-color-on-error: #ffc6ca;
  --md-sys-color-error-container: #d73357;
  --md-sys-color-on-error-container: #ffffff;
  --md-sys-color-control-activated: #8354f4;
  --md-sys-color-control-normal: #4a375e;
  --md-sys-color-control-highlight: #0000001f;
  --md-sys-color-text-primary-inverse: #d4bbeb;
  --md-sys-color-text-secondary-and-tertiary-inverse: #d9bafa;
  --md-sys-color-text-primary-inverse-disable-only: #efdbff;
  --md-sys-color-text-secondary-and-tertiary-inverse-disabled: #efdbff;
  --md-sys-color-text-hint-inverse: #efdbff;
}

.light-high-contrast {
  --md-sys-color-primary-palette-key-color: #8557f6;
  --md-sys-color-secondary-palette-key-color: #9060c7;
  --md-sys-color-tertiary-palette-key-color: #c05178;
  --md-sys-color-neutral-palette-key-color: #836e99;
  --md-sys-color-neutral-variant-palette-key-color: #876ba5;
  --md-sys-color-error-palette-key-color: #db365a;
  --md-sys-color-background: #fdf3ff;
  --md-sys-color-on-background: #000000;
  --md-sys-color-surface: #fdf3ff;
  --md-sys-color-surface-dim: #e5caff;
  --md-sys-color-surface-bright: #fdf3ff;
  --md-sys-color-surface-container-lowest: #ffffff;
  --md-sys-color-surface-container-low: #f9ecff;
  --md-sys-color-surface-container: #f3e2ff;
  --md-sys-color-surface-container-high: #efdbff;
  --md-sys-color-surface-container-highest: #ebd4ff;
  --md-sys-color-on-surface: #000000;
  --md-sys-color-surface-variant: #ebd4ff;
  --md-sys-color-on-surface-variant: #28173c;
  --md-sys-color-inverse-surface: #16052a;
  --md-sys-color-inverse-on-surface: #ffffff;
  --md-sys-color-outline: #4a375e;
  --md-sys-color-outline-variant: #67537c;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #270067;
  --md-sys-color-primary: #270067;
  --md-sys-color-primary-dim: #1b004d;
  --md-sys-color-on-primary: #dccdff;
  --md-sys-color-primary-container: #6935d9;
  --md-sys-color-on-primary-container: #ffffff;
  --md-sys-color-inverse-primary: #cebaff;
  --md-sys-color-primary-fixed: #6935d9;
  --md-sys-color-primary-fixed-dim: #5d24cc;
  --md-sys-color-on-primary-fixed: #ffffff;
  --md-sys-color-on-primary-fixed-variant: #ffffff;
  --md-sys-color-secondary: #30005b;
  --md-sys-color-secondary-dim: #220044;
  --md-sys-color-on-secondary: #e5caff;
  --md-sys-color-secondary-container: #7343a9;
  --md-sys-color-on-secondary-container: #ffffff;
  --md-sys-color-secondary-fixed: #7343a9;
  --md-sys-color-secondary-fixed-dim: #67369c;
  --md-sys-color-on-secondary-fixed: #ffffff;
  --md-sys-color-on-secondary-fixed-variant: #ffffff;
  --md-sys-color-tertiary: #460020;
  --md-sys-color-tertiary-dim: #330016;
  --md-sys-color-on-tertiary: #ffc5d4;
  --md-sys-color-tertiary-container: #9d365d;
  --md-sys-color-on-tertiary-container: #ffffff;
  --md-sys-color-tertiary-fixed: #9d365d;
  --md-sys-color-tertiary-fixed-dim: #8e2951;
  --md-sys-color-on-tertiary-fixed: #ffffff;
  --md-sys-color-on-tertiary-fixed-variant: #ffffff;
  --md-sys-color-error: #470013;
  --md-sys-color-error-dim: #34000c;
  --md-sys-color-on-error: #ffc6cb;
  --md-sys-color-error-container: #b41340;
  --md-sys-color-on-error-container: #ffffff;
  --md-sys-color-control-activated: #6935d9;
  --md-sys-color-control-normal: #28173c;
  --md-sys-color-control-highlight: #0000001f;
  --md-sys-color-text-primary-inverse: #ffffff;
  --md-sys-color-text-secondary-and-tertiary-inverse: #d9bafa;
  --md-sys-color-text-primary-inverse-disable-only: #efdbff;
  --md-sys-color-text-secondary-and-tertiary-inverse-disabled: #efdbff;
  --md-sys-color-text-hint-inverse: #efdbff;
}

.dark {
  --md-sys-color-primary-palette-key-color: #8557f6;
  --md-sys-color-secondary-palette-key-color: #9060c7;
  --md-sys-color-tertiary-palette-key-color: #c05178;
  --md-sys-color-neutral-palette-key-color: #836e99;
  --md-sys-color-neutral-variant-palette-key-color: #876ba5;
  --md-sys-color-error-palette-key-color: #db365a;
  --md-sys-color-background: #16052a;
  --md-sys-color-on-background: #f1dfff;
  --md-sys-color-surface: #16052a;
  --md-sys-color-surface-dim: #16052a;
  --md-sys-color-surface-bright: #36244a;
  --md-sys-color-surface-container-lowest: #000000;
  --md-sys-color-surface-container-low: #1d0832;
  --md-sys-color-surface-container: #240e3b;
  --md-sys-color-surface-container-high: #2b1344;
  --md-sys-color-surface-container-highest: #32194e;
  --md-sys-color-on-surface: #f1dfff;
  --md-sys-color-surface-variant: #32194e;
  --md-sys-color-on-surface-variant: #b9a2d0;
  --md-sys-color-inverse-surface: #fff7ff;
  --md-sys-color-inverse-on-surface: #604d75;
  --md-sys-color-outline: #826d97;
  --md-sys-color-outline-variant: #534067;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #b99fff;
  --md-sys-color-primary: #b99fff;
  --md-sys-color-primary-dim: #8354f4;
  --md-sys-color-on-primary: #38008d;
  --md-sys-color-primary-container: #ac8eff;
  --md-sys-color-on-primary-container: #2a006f;
  --md-sys-color-inverse-primary: #6c3adc;
  --md-sys-color-primary-fixed: #ac8eff;
  --md-sys-color-primary-fixed-dim: #a07cff;
  --md-sys-color-on-primary-fixed: #000000;
  --md-sys-color-on-primary-fixed-variant: #350087;
  --md-sys-color-secondary: #dbb8ff;
  --md-sys-color-secondary-dim: #bf8cf7;
  --md-sys-color-on-secondary: #56248b;
  --md-sys-color-secondary-container: #5d2c92;
  --md-sys-color-on-secondary-container: #e2c5ff;
  --md-sys-color-secondary-fixed: #e3c6ff;
  --md-sys-color-secondary-fixed-dim: #d9b5ff;
  --md-sys-color-on-secondary-fixed: #4a147e;
  --md-sys-color-on-secondary-fixed-variant: #68379d;
  --md-sys-color-tertiary: #ff97b7;
  --md-sys-color-tertiary-dim: #fc81aa;
  --md-sys-color-on-tertiary: #6a0936;
  --md-sys-color-tertiary-container: #fc81aa;
  --md-sys-color-on-tertiary-container: #59002b;
  --md-sys-color-tertiary-fixed: #ff8eb2;
  --md-sys-color-tertiary-fixed-dim: #f67ca4;
  --md-sys-color-on-tertiary-fixed: #380018;
  --md-sys-color-on-tertiary-fixed-variant: #70103a;
  --md-sys-color-error: #ff6e84;
  --md-sys-color-error-dim: #d73357;
  --md-sys-color-on-error: #490013;
  --md-sys-color-error-container: #a70138;
  --md-sys-color-on-error-container: #ffb2b9;
  --md-sys-color-control-activated: #ac8eff;
  --md-sys-color-control-normal: #b9a2d0;
  --md-sys-color-control-highlight: #ffffff33;
  --md-sys-color-text-primary-inverse: #604d75;
  --md-sys-color-text-secondary-and-tertiary-inverse: #553b72;
  --md-sys-color-text-primary-inverse-disable-only: #241338;
  --md-sys-color-text-secondary-and-tertiary-inverse-disabled: #241338;
  --md-sys-color-text-hint-inverse: #241338;
}

.dark-medium-contrast {
  --md-sys-color-primary-palette-key-color: #8557f6;
  --md-sys-color-secondary-palette-key-color: #9060c7;
  --md-sys-color-tertiary-palette-key-color: #c05178;
  --md-sys-color-neutral-palette-key-color: #836e99;
  --md-sys-color-neutral-variant-palette-key-color: #876ba5;
  --md-sys-color-error-palette-key-color: #db365a;
  --md-sys-color-background: #16052a;
  --md-sys-color-on-background: #ffffff;
  --md-sys-color-surface: #16052a;
  --md-sys-color-surface-dim: #16052a;
  --md-sys-color-surface-bright: #36244a;
  --md-sys-color-surface-container-lowest: #000000;
  --md-sys-color-surface-container-low: #1d0832;
  --md-sys-color-surface-container: #240e3b;
  --md-sys-color-surface-container-high: #2b1344;
  --md-sys-color-surface-container-highest: #32194e;
  --md-sys-color-on-surface: #ffffff;
  --md-sys-color-surface-variant: #32194e;
  --md-sys-color-on-surface-variant: #c7afde;
  --md-sys-color-inverse-surface: #fff7ff;
  --md-sys-color-inverse-on-surface: #423056;
  --md-sys-color-outline: #a18ab7;
  --md-sys-color-outline-variant: #826d97;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #c3acff;
  --md-sys-color-primary: #c3acff;
  --md-sys-color-primary-dim: #b69bff;
  --md-sys-color-on-primary: #350087;
  --md-sys-color-primary-container: #ac8eff;
  --md-sys-color-on-primary-container: #1a004a;
  --md-sys-color-inverse-primary: #622cd2;
  --md-sys-color-primary-fixed: #ac8eff;
  --md-sys-color-primary-fixed-dim: #a07cff;
  --md-sys-color-on-primary-fixed: #000000;
  --md-sys-color-on-primary-fixed-variant: #000000;
  --md-sys-color-secondary: #dbb8ff;
  --md-sys-color-secondary-dim: #c694ff;
  --md-sys-color-on-secondary: #4c1780;
  --md-sys-color-secondary-container: #8e5dc4;
  --md-sys-color-on-secondary-container: #ffffff;
  --md-sys-color-secondary-fixed: #e3c6ff;
  --md-sys-color-secondary-fixed-dim: #d9b5ff;
  --md-sys-color-on-secondary-fixed: #170031;
  --md-sys-color-on-secondary-fixed-variant: #4a147e;
  --md-sys-color-tertiary: #ff9bb9;
  --md-sys-color-tertiary-dim: #ff83ac;
  --md-sys-color-on-tertiary: #5d002d;
  --md-sys-color-tertiary-container: #fc81aa;
  --md-sys-color-on-tertiary-container: #43001e;
  --md-sys-color-tertiary-fixed: #ff8eb2;
  --md-sys-color-tertiary-fixed-dim: #f67ca4;
  --md-sys-color-on-tertiary-fixed: #000000;
  --md-sys-color-on-tertiary-fixed-variant: #380018;
  --md-sys-color-error: #ff9da8;
  --md-sys-color-error-dim: #ff8695;
  --md-sys-color-on-error: #5f001c;
  --md-sys-color-error-container: #d73357;
  --md-sys-color-on-error-container: #ffffff;
  --md-sys-color-control-activated: #ac8eff;
  --md-sys-color-control-normal: #c7afde;
  --md-sys-color-control-highlight: #ffffff33;
  --md-sys-color-text-primary-inverse: #423056;
  --md-sys-color-text-secondary-and-tertiary-inverse: #553b72;
  --md-sys-color-text-primary-inverse-disable-only: #241338;
  --md-sys-color-text-secondary-and-tertiary-inverse-disabled: #241338;
  --md-sys-color-text-hint-inverse: #241338;
}

.dark-high-contrast {
  --md-sys-color-primary-palette-key-color: #8557f6;
  --md-sys-color-secondary-palette-key-color: #9060c7;
  --md-sys-color-tertiary-palette-key-color: #c05178;
  --md-sys-color-neutral-palette-key-color: #836e99;
  --md-sys-color-neutral-variant-palette-key-color: #876ba5;
  --md-sys-color-error-palette-key-color: #db365a;
  --md-sys-color-background: #16052a;
  --md-sys-color-on-background: #ffffff;
  --md-sys-color-surface: #16052a;
  --md-sys-color-surface-dim: #16052a;
  --md-sys-color-surface-bright: #36244a;
  --md-sys-color-surface-container-lowest: #000000;
  --md-sys-color-surface-container-low: #1d0832;
  --md-sys-color-surface-container: #240e3b;
  --md-sys-color-surface-container-high: #2b1344;
  --md-sys-color-surface-container-highest: #32194e;
  --md-sys-color-on-surface: #ffffff;
  --md-sys-color-surface-variant: #32194e;
  --md-sys-color-on-surface-variant: #f1dfff;
  --md-sys-color-inverse-surface: #fff7ff;
  --md-sys-color-inverse-on-surface: #000000;
  --md-sys-color-outline: #c7afde;
  --md-sys-color-outline-variant: #a18ab7;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #ebe1ff;
  --md-sys-color-primary: #ebe1ff;
  --md-sys-color-primary-dim: #dccdff;
  --md-sys-color-on-primary: #350087;
  --md-sys-color-primary-container: #ac8eff;
  --md-sys-color-on-primary-container: #000000;
  --md-sys-color-inverse-primary: #4300a6;
  --md-sys-color-primary-fixed: #ac8eff;
  --md-sys-color-primary-fixed-dim: #a07cff;
  --md-sys-color-on-primary-fixed: #000000;
  --md-sys-color-on-primary-fixed-variant: #000000;
  --md-sys-color-secondary: #f1dfff;
  --md-sys-color-secondary-dim: #e5caff;
  --md-sys-color-on-secondary: #410476;
  --md-sys-color-secondary-container: #b987f2;
  --md-sys-color-on-secondary-container: #000000;
  --md-sys-color-secondary-fixed: #e3c6ff;
  --md-sys-color-secondary-fixed-dim: #d9b5ff;
  --md-sys-color-on-secondary-fixed: #000000;
  --md-sys-color-on-secondary-fixed-variant: #170031;
  --md-sys-color-tertiary: #ffdde4;
  --md-sys-color-tertiary-dim: #ffc6d4;
  --md-sys-color-on-tertiary: #5d002d;
  --md-sys-color-tertiary-container: #fc81aa;
  --md-sys-color-on-tertiary-container: #000000;
  --md-sys-color-tertiary-fixed: #ff8eb2;
  --md-sys-color-tertiary-fixed-dim: #f67ca4;
  --md-sys-color-on-tertiary-fixed: #000000;
  --md-sys-color-on-tertiary-fixed-variant: #000000;
  --md-sys-color-error: #ffdddf;
  --md-sys-color-error-dim: #ffc7cb;
  --md-sys-color-on-error: #5f001c;
  --md-sys-color-error-container: #ff6e84;
  --md-sys-color-on-error-container: #000000;
  --md-sys-color-control-activated: #ac8eff;
  --md-sys-color-control-normal: #f1dfff;
  --md-sys-color-control-highlight: #ffffff33;
  --md-sys-color-text-primary-inverse: #000000;
  --md-sys-color-text-secondary-and-tertiary-inverse: #553b72;
  --md-sys-color-text-primary-inverse-disable-only: #241338;
  --md-sys-color-text-secondary-and-tertiary-inverse-disabled: #241338;
  --md-sys-color-text-hint-inverse: #241338;
}

