.light {
  --md-sys-color-primary-palette-key-color: #9146ff;
  --md-sys-color-secondary-palette-key-color: #8766bf;
  --md-sys-color-tertiary-palette-key-color: #d800af;
  --md-sys-color-neutral-palette-key-color: #7b7481;
  --md-sys-color-neutral-variant-palette-key-color: #7c7386;
  --md-sys-color-error-palette-key-color: #de3730;
  --md-sys-color-background: #fef7ff;
  --md-sys-color-on-background: #1e1a24;
  --md-sys-color-surface: #fef7ff;
  --md-sys-color-surface-dim: #e0d7e6;
  --md-sys-color-surface-bright: #fef7ff;
  --md-sys-color-surface-container-lowest: #ffffff;
  --md-sys-color-surface-container-low: #faf0ff;
  --md-sys-color-surface-container: #f4ebfa;
  --md-sys-color-surface-container-high: #eee5f4;
  --md-sys-color-surface-container-highest: #e8dfee;
  --md-sys-color-on-surface: #1e1a24;
  --md-sys-color-surface-variant: #eadef4;
  --md-sys-color-on-surface-variant: #4b4455;
  --md-sys-color-inverse-surface: #332e3a;
  --md-sys-color-inverse-on-surface: #f7edfd;
  --md-sys-color-outline: #7c7387;
  --md-sys-color-outline-variant: #cdc2d8;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #7a26e7;
  --md-sys-color-primary: #7a26e7;
  --md-sys-color-primary-dim: #8435f1;
  --md-sys-color-on-primary: #ffffff;
  --md-sys-color-primary-container: #5e00c1;
  --md-sys-color-on-primary-container: #fffcff;
  --md-sys-color-inverse-primary: #d5baff;
  --md-sys-color-primary-fixed: #ecdcff;
  --md-sys-color-primary-fixed-dim: #d5baff;
  --md-sys-color-on-primary-fixed: #270057;
  --md-sys-color-on-primary-fixed-variant: #5e00c1;
  --md-sys-color-secondary: #6e4da4;
  --md-sys-color-secondary-dim: #7856ae;
  --md-sys-color-on-secondary: #ffffff;
  --md-sys-color-secondary-container: #55348a;
  --md-sys-color-on-secondary-container: #c7a5ff;
  --md-sys-color-secondary-fixed: #ecdcff;
  --md-sys-color-secondary-fixed-dim: #d5baff;
  --md-sys-color-on-secondary-fixed: #270057;
  --md-sys-color-on-secondary-fixed-variant: #55348a;
  --md-sys-color-tertiary: #b0008f;
  --md-sys-color-tertiary-dim: #c1009c;
  --md-sys-color-on-tertiary: #ffffff;
  --md-sys-color-tertiary-container: #87006c;
  --md-sys-color-on-tertiary-container: #fffcff;
  --md-sys-color-tertiary-fixed: #ffd8ed;
  --md-sys-color-tertiary-fixed-dim: #ffade0;
  --md-sys-color-on-tertiary-fixed: #3b002e;
  --md-sys-color-on-tertiary-fixed-variant: #87006c;
  --md-sys-color-error: #ba1a1a;
  --md-sys-color-error-dim: #ac0c12;
  --md-sys-color-on-error: #ffffff;
  --md-sys-color-error-container: #93000a;
  --md-sys-color-on-error-container: #ff9a8e;
}

.light-medium-contrast {
  --md-sys-color-primary-palette-key-color: #9146ff;
  --md-sys-color-secondary-palette-key-color: #8766bf;
  --md-sys-color-tertiary-palette-key-color: #d800af;
  --md-sys-color-neutral-palette-key-color: #7b7481;
  --md-sys-color-neutral-variant-palette-key-color: #7c7386;
  --md-sys-color-error-palette-key-color: #de3730;
  --md-sys-color-background: #fef7ff;
  --md-sys-color-on-background: #1e1a24;
  --md-sys-color-surface: #fef7ff;
  --md-sys-color-surface-dim: #ccc3d2;
  --md-sys-color-surface-bright: #fef7ff;
  --md-sys-color-surface-container-lowest: #ffffff;
  --md-sys-color-surface-container-low: #faf0ff;
  --md-sys-color-surface-container: #eee5f4;
  --md-sys-color-surface-container-high: #e3dae9;
  --md-sys-color-surface-container-highest: #d7cedd;
  --md-sys-color-on-surface: #130f19;
  --md-sys-color-surface-variant: #eadef4;
  --md-sys-color-on-surface-variant: #3a3344;
  --md-sys-color-inverse-surface: #332e3a;
  --md-sys-color-inverse-on-surface: #f7edfd;
  --md-sys-color-outline: #574f61;
  --md-sys-color-outline-variant: #726a7d;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #7a26e7;
  --md-sys-color-primary: #490098;
  --md-sys-color-primary-dim: #5c00bb;
  --md-sys-color-on-primary: #ffffff;
  --md-sys-color-primary-container: #2e0064;
  --md-sys-color-on-primary-container: #fffcff;
  --md-sys-color-inverse-primary: #d5baff;
  --md-sys-color-primary-fixed: #893cf7;
  --md-sys-color-primary-fixed-dim: #7010dd;
  --md-sys-color-on-primary-fixed: #ffffff;
  --md-sys-color-on-primary-fixed-variant: #ffffff;
  --md-sys-color-secondary: #442178;
  --md-sys-color-secondary-dim: #533288;
  --md-sys-color-on-secondary: #ffffff;
  --md-sys-color-secondary-container: #2e0262;
  --md-sys-color-on-secondary-container: #be9bf8;
  --md-sys-color-secondary-fixed: #7d5cb4;
  --md-sys-color-secondary-fixed-dim: #644399;
  --md-sys-color-on-secondary-fixed: #ffffff;
  --md-sys-color-on-secondary-fixed-variant: #ffffff;
  --md-sys-color-tertiary: #6a0054;
  --md-sys-color-tertiary-dim: #830069;
  --md-sys-color-on-tertiary: #ffffff;
  --md-sys-color-tertiary-container: #440036;
  --md-sys-color-on-tertiary-container: #fffcff;
  --md-sys-color-tertiary-fixed: #ca00a4;
  --md-sys-color-tertiary-fixed-dim: #a00081;
  --md-sys-color-on-tertiary-fixed: #ffffff;
  --md-sys-color-on-tertiary-fixed-variant: #ffffff;
  --md-sys-color-error: #740006;
  --md-sys-color-error-dim: #8f0009;
  --md-sys-color-on-error: #ffffff;
  --md-sys-color-error-container: #4b0002;
  --md-sys-color-on-error-container: #ff8b7e;
}

.light-high-contrast {
  --md-sys-color-primary-palette-key-color: #9146ff;
  --md-sys-color-secondary-palette-key-color: #8766bf;
  --md-sys-color-tertiary-palette-key-color: #d800af;
  --md-sys-color-neutral-palette-key-color: #7b7481;
  --md-sys-color-neutral-variant-palette-key-color: #7c7386;
  --md-sys-color-error-palette-key-color: #de3730;
  --md-sys-color-background: #fef7ff;
  --md-sys-color-on-background: #1e1a24;
  --md-sys-color-surface: #fef7ff;
  --md-sys-color-surface-dim: #beb6c4;
  --md-sys-color-surface-bright: #fef7ff;
  --md-sys-color-surface-container-lowest: #ffffff;
  --md-sys-color-surface-container-low: #f7edfd;
  --md-sys-color-surface-container: #e8dfee;
  --md-sys-color-surface-container-high: #dad1e0;
  --md-sys-color-surface-container-highest: #ccc3d2;
  --md-sys-color-on-surface: #000000;
  --md-sys-color-surface-variant: #eadef4;
  --md-sys-color-on-surface-variant: #000000;
  --md-sys-color-inverse-surface: #332e3a;
  --md-sys-color-inverse-on-surface: #ffffff;
  --md-sys-color-outline: #30293a;
  --md-sys-color-outline-variant: #4d4658;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #7a26e7;
  --md-sys-color-primary: #3c0080;
  --md-sys-color-primary-dim: #2c0061;
  --md-sys-color-on-primary: #ffffff;
  --md-sys-color-primary-container: #22004e;
  --md-sys-color-on-primary-container: #fffcff;
  --md-sys-color-inverse-primary: #d5baff;
  --md-sys-color-primary-fixed: #6200c6;
  --md-sys-color-primary-fixed-dim: #450090;
  --md-sys-color-on-primary-fixed: #ffffff;
  --md-sys-color-on-primary-fixed-variant: #ffffff;
  --md-sys-color-secondary: #39156d;
  --md-sys-color-secondary-dim: #2c0061;
  --md-sys-color-on-secondary: #ffffff;
  --md-sys-color-secondary-container: #22004e;
  --md-sys-color-on-secondary-container: #dac2ff;
  --md-sys-color-secondary-fixed: #58378d;
  --md-sys-color-secondary-fixed-dim: #401d74;
  --md-sys-color-on-secondary-fixed: #ffffff;
  --md-sys-color-on-secondary-fixed-variant: #ffffff;
  --md-sys-color-tertiary: #580046;
  --md-sys-color-tertiary-dim: #420034;
  --md-sys-color-on-tertiary: #ffffff;
  --md-sys-color-tertiary-container: #340028;
  --md-sys-color-on-tertiary-container: #fffcff;
  --md-sys-color-tertiary-fixed: #8b0070;
  --md-sys-color-tertiary-fixed-dim: #64004f;
  --md-sys-color-on-tertiary-fixed: #ffffff;
  --md-sys-color-on-tertiary-fixed-variant: #ffffff;
  --md-sys-color-error: #600004;
  --md-sys-color-error-dim: #480002;
  --md-sys-color-on-error: #ffffff;
  --md-sys-color-error-container: #390001;
  --md-sys-color-on-error-container: #ffbcb4;
}

.dark {
  --md-sys-color-primary-palette-key-color: #9146ff;
  --md-sys-color-secondary-palette-key-color: #8766bf;
  --md-sys-color-tertiary-palette-key-color: #d800af;
  --md-sys-color-neutral-palette-key-color: #7b7481;
  --md-sys-color-neutral-variant-palette-key-color: #7c7386;
  --md-sys-color-error-palette-key-color: #de3730;
  --md-sys-color-background: #16121c;
  --md-sys-color-on-background: #e8dfee;
  --md-sys-color-surface: #16121c;
  --md-sys-color-surface-dim: #16121c;
  --md-sys-color-surface-bright: #3c3743;
  --md-sys-color-surface-container-lowest: #100c16;
  --md-sys-color-surface-container-low: #1e1a24;
  --md-sys-color-surface-container: #221e28;
  --md-sys-color-surface-container-high: #2d2833;
  --md-sys-color-surface-container-highest: #38333e;
  --md-sys-color-on-surface: #e8dfee;
  --md-sys-color-surface-variant: #4b4455;
  --md-sys-color-on-surface-variant: #cdc2d8;
  --md-sys-color-inverse-surface: #e8dfee;
  --md-sys-color-inverse-on-surface: #332e3a;
  --md-sys-color-outline: #968da1;
  --md-sys-color-outline-variant: #4b4455;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #d5baff;
  --md-sys-color-primary: #d5baff;
  --md-sys-color-primary-dim: #e0cbff;
  --md-sys-color-on-primary: #42008a;
  --md-sys-color-primary-container: #ecdcff;
  --md-sys-color-on-primary-container: #8030ee;
  --md-sys-color-inverse-primary: #7a26e7;
  --md-sys-color-primary-fixed: #ecdcff;
  --md-sys-color-primary-fixed-dim: #d5baff;
  --md-sys-color-on-primary-fixed: #270057;
  --md-sys-color-on-primary-fixed-variant: #5e00c1;
  --md-sys-color-secondary: #d5baff;
  --md-sys-color-secondary-dim: #e0cbff;
  --md-sys-color-on-secondary: #3e1a72;
  --md-sys-color-secondary-container: #ecdcff;
  --md-sys-color-on-secondary-container: #7453aa;
  --md-sys-color-secondary-fixed: #ecdcff;
  --md-sys-color-secondary-fixed-dim: #d5baff;
  --md-sys-color-on-secondary-fixed: #270057;
  --md-sys-color-on-secondary-fixed-variant: #55348a;
  --md-sys-color-tertiary: #ffade0;
  --md-sys-color-tertiary-dim: #ffc3e6;
  --md-sys-color-on-tertiary: #60004c;
  --md-sys-color-tertiary-container: #ffd8ed;
  --md-sys-color-on-tertiary-container: #bb0097;
  --md-sys-color-tertiary-fixed: #ffd8ed;
  --md-sys-color-tertiary-fixed-dim: #ffade0;
  --md-sys-color-on-tertiary-fixed: #3b002e;
  --md-sys-color-on-tertiary-fixed-variant: #87006c;
  --md-sys-color-error: #ffb4ab;
  --md-sys-color-error-dim: #ffc7c0;
  --md-sys-color-on-error: #690005;
  --md-sys-color-error-container: #ffdad6;
  --md-sys-color-on-error-container: #c32220;
}

.dark-medium-contrast {
  --md-sys-color-primary-palette-key-color: #9146ff;
  --md-sys-color-secondary-palette-key-color: #8766bf;
  --md-sys-color-tertiary-palette-key-color: #d800af;
  --md-sys-color-neutral-palette-key-color: #7b7481;
  --md-sys-color-neutral-variant-palette-key-color: #7c7386;
  --md-sys-color-error-palette-key-color: #de3730;
  --md-sys-color-background: #16121c;
  --md-sys-color-on-background: #e8dfee;
  --md-sys-color-surface: #16121c;
  --md-sys-color-surface-dim: #16121c;
  --md-sys-color-surface-bright: #48424e;
  --md-sys-color-surface-container-lowest: #09060f;
  --md-sys-color-surface-container-low: #201c26;
  --md-sys-color-surface-container: #2a2631;
  --md-sys-color-surface-container-high: #35303c;
  --md-sys-color-surface-container-highest: #413b47;
  --md-sys-color-on-surface: #ffffff;
  --md-sys-color-surface-variant: #4b4455;
  --md-sys-color-on-surface-variant: #e3d8ee;
  --md-sys-color-inverse-surface: #e8dfee;
  --md-sys-color-inverse-on-surface: #2d2833;
  --md-sys-color-outline: #b8aec3;
  --md-sys-color-outline-variant: #968da1;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #d5baff;
  --md-sys-color-primary: #e7d5ff;
  --md-sys-color-primary-dim: #e0cbff;
  --md-sys-color-on-primary: #340070;
  --md-sys-color-primary-container: #fef6ff;
  --md-sys-color-on-primary-container: #6f10dd;
  --md-sys-color-inverse-primary: #6000c3;
  --md-sys-color-primary-fixed: #ecdcff;
  --md-sys-color-primary-fixed-dim: #d5baff;
  --md-sys-color-on-primary-fixed: #1a003e;
  --md-sys-color-on-primary-fixed-variant: #490098;
  --md-sys-color-secondary: #e7d5ff;
  --md-sys-color-secondary-dim: #e0cbff;
  --md-sys-color-on-secondary: #330a67;
  --md-sys-color-secondary-container: #fef6ff;
  --md-sys-color-on-secondary-container: #644399;
  --md-sys-color-secondary-fixed: #ecdcff;
  --md-sys-color-secondary-fixed-dim: #d5baff;
  --md-sys-color-on-secondary-fixed: #1a003e;
  --md-sys-color-on-secondary-fixed-variant: #442178;
  --md-sys-color-tertiary: #ffcfe9;
  --md-sys-color-tertiary-dim: #ffc3e6;
  --md-sys-color-on-tertiary: #4d003d;
  --md-sys-color-tertiary-container: #fff7f8;
  --md-sys-color-on-tertiary-container: #a00081;
  --md-sys-color-tertiary-fixed: #ffd8ed;
  --md-sys-color-tertiary-fixed-dim: #ffade0;
  --md-sys-color-on-tertiary-fixed: #29001f;
  --md-sys-color-on-tertiary-fixed-variant: #6a0054;
  --md-sys-color-error: #ffd2cc;
  --md-sys-color-error-dim: #ffc7c0;
  --md-sys-color-on-error: #540003;
  --md-sys-color-error-container: #fff7f6;
  --md-sys-color-on-error-container: #ab0b12;
}

.dark-high-contrast {
  --md-sys-color-primary-palette-key-color: #9146ff;
  --md-sys-color-secondary-palette-key-color: #8766bf;
  --md-sys-color-tertiary-palette-key-color: #d800af;
  --md-sys-color-neutral-palette-key-color: #7b7481;
  --md-sys-color-neutral-variant-palette-key-color: #7c7386;
  --md-sys-color-error-palette-key-color: #de3730;
  --md-sys-color-background: #16121c;
  --md-sys-color-on-background: #e8dfee;
  --md-sys-color-surface: #16121c;
  --md-sys-color-surface-dim: #16121c;
  --md-sys-color-surface-bright: #534e5a;
  --md-sys-color-surface-container-lowest: #000000;
  --md-sys-color-surface-container-low: #221e28;
  --md-sys-color-surface-container: #332e3a;
  --md-sys-color-surface-container-high: #3e3945;
  --md-sys-color-surface-container-highest: #4a4550;
  --md-sys-color-on-surface: #ffffff;
  --md-sys-color-surface-variant: #4b4455;
  --md-sys-color-on-surface-variant: #ffffff;
  --md-sys-color-inverse-surface: #e8dfee;
  --md-sys-color-inverse-on-surface: #000000;
  --md-sys-color-outline: #f7ecff;
  --md-sys-color-outline-variant: #c9bed4;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #d5baff;
  --md-sys-color-primary: #ecdcff;
  --md-sys-color-primary-dim: #fffeff;
  --md-sys-color-on-primary: #000000;
  --md-sys-color-primary-container: #ffffff;
  --md-sys-color-on-primary-container: #5000a5;
  --md-sys-color-inverse-primary: #6000c3;
  --md-sys-color-primary-fixed: #ecdcff;
  --md-sys-color-primary-fixed-dim: #d5baff;
  --md-sys-color-on-primary-fixed: #000000;
  --md-sys-color-on-primary-fixed-variant: #1a003e;
  --md-sys-color-secondary: #ecdcff;
  --md-sys-color-secondary-dim: #fffeff;
  --md-sys-color-on-secondary: #000000;
  --md-sys-color-secondary-container: #ffffff;
  --md-sys-color-on-secondary-container: #49287e;
  --md-sys-color-secondary-fixed: #ecdcff;
  --md-sys-color-secondary-fixed-dim: #d5baff;
  --md-sys-color-on-secondary-fixed: #000000;
  --md-sys-color-on-secondary-fixed-variant: #1a003e;
  --md-sys-color-tertiary: #ffd8ed;
  --md-sys-color-tertiary-dim: #fffeff;
  --md-sys-color-on-tertiary: #000000;
  --md-sys-color-tertiary-container: #ffffff;
  --md-sys-color-on-tertiary-container: #73005c;
  --md-sys-color-tertiary-fixed: #ffd8ed;
  --md-sys-color-tertiary-fixed-dim: #ffade0;
  --md-sys-color-on-tertiary-fixed: #000000;
  --md-sys-color-on-tertiary-fixed-variant: #29001f;
  --md-sys-color-error: #ffdad6;
  --md-sys-color-error-dim: #fffeff;
  --md-sys-color-on-error: #000000;
  --md-sys-color-error-container: #ffffff;
  --md-sys-color-on-error-container: #7e0007;
}

