.light {
  --md-sys-color-primary-palette-key-color: #9146ff;
  --md-sys-color-secondary-palette-key-color: #8766bf;
  --md-sys-color-tertiary-palette-key-color: #d800af;
  --md-sys-color-neutral-palette-key-color: #7b7481;
  --md-sys-color-neutral-variant-palette-key-color: #7c7386;
  --md-sys-color-error-palette-key-color: #de3730;
  --md-sys-color-background: #000000;
  --md-sys-color-on-background: #ffffff;
  --md-sys-color-surface: #000000;
  --md-sys-color-surface-dim: #100c16;
  --md-sys-color-surface-bright: #2f2a35;
  --md-sys-color-surface-container-lowest: #000000;
  --md-sys-color-surface-container-low: #28242f;
  --md-sys-color-surface-container: #332e3a;
  --md-sys-color-surface-container-high: #3e3945;
  --md-sys-color-surface-container-highest: #28242f;
  --md-sys-color-on-surface: #eee5f4;
  --md-sys-color-surface-variant: #28242f;
  --md-sys-color-on-surface-variant: #d4cbda;
  --md-sys-color-inverse-surface: #fef7ff;
  --md-sys-color-inverse-on-surface: #58535f;
  --md-sys-color-outline: #aba3b1;
  --md-sys-color-outline-variant: #8a8390;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #dbc4ff;
  --md-sys-color-primary: #dbc4ff;
  --md-sys-color-primary-dim: #ba91ff;
  --md-sys-color-on-primary: #260055;
  --md-sys-color-primary-container: #5e00c1;
  --md-sys-color-on-primary-container: #ead9ff;
  --md-sys-color-inverse-primary: #7010de;
  --md-sys-color-primary-fixed: #5e00c1;
  --md-sys-color-primary-fixed-dim: #5000a5;
  --md-sys-color-on-primary-fixed: #dbc4ff;
  --md-sys-color-on-primary-fixed-variant: #ba91ff;
  --md-sys-color-secondary: #dbc4ff;
  --md-sys-color-secondary-dim: #c39ffd;
  --md-sys-color-on-secondary: #320a67;
  --md-sys-color-secondary-container: #55348a;
  --md-sys-color-on-secondary-container: #ead9ff;
  --md-sys-color-secondary-fixed: #55348a;
  --md-sys-color-secondary-fixed-dim: #49287e;
  --md-sys-color-on-secondary-fixed: #dbc4ff;
  --md-sys-color-on-secondary-fixed-variant: #b895f2;
  --md-sys-color-tertiary: #ffb9e3;
  --md-sys-color-tertiary-dim: #ff71d4;
  --md-sys-color-on-tertiary: #3a002d;
  --md-sys-color-tertiary-container: #ff5fd2;
  --md-sys-color-on-tertiary-container: #27001e;
  --md-sys-color-tertiary-fixed: #ff5fd2;
  --md-sys-color-tertiary-fixed-dim: #ff32d0;
  --md-sys-color-on-tertiary-fixed: #000000;
  --md-sys-color-on-tertiary-fixed-variant: #540042;
  --md-sys-color-error: #ffbeb7;
  --md-sys-color-error-dim: #ff8073;
  --md-sys-color-on-error: #400002;
  --md-sys-color-error-container: #93000a;
  --md-sys-color-on-error-container: #ffd7d2;
}

.light-medium-contrast {
  --md-sys-color-primary-palette-key-color: #9146ff;
  --md-sys-color-secondary-palette-key-color: #8766bf;
  --md-sys-color-tertiary-palette-key-color: #d800af;
  --md-sys-color-neutral-palette-key-color: #7b7481;
  --md-sys-color-neutral-variant-palette-key-color: #7c7386;
  --md-sys-color-error-palette-key-color: #de3730;
  --md-sys-color-background: #000000;
  --md-sys-color-on-background: #ffffff;
  --md-sys-color-surface: #000000;
  --md-sys-color-surface-dim: #100c16;
  --md-sys-color-surface-bright: #2f2a35;
  --md-sys-color-surface-container-lowest: #000000;
  --md-sys-color-surface-container-low: #28242f;
  --md-sys-color-surface-container: #332e3a;
  --md-sys-color-surface-container-high: #3e3945;
  --md-sys-color-surface-container-highest: #28242f;
  --md-sys-color-on-surface: #fffeff;
  --md-sys-color-surface-variant: #28242f;
  --md-sys-color-on-surface-variant: #fffeff;
  --md-sys-color-inverse-surface: #fef7ff;
  --md-sys-color-inverse-on-surface: #3b3642;
  --md-sys-color-outline: #d4cbda;
  --md-sys-color-outline-variant: #aba3b1;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #fffeff;
  --md-sys-color-primary: #fffeff;
  --md-sys-color-primary-dim: #dbc4ff;
  --md-sys-color-on-primary: #250053;
  --md-sys-color-primary-container: #5e00c1;
  --md-sys-color-on-primary-container: #ffffff;
  --md-sys-color-inverse-primary: #4c009d;
  --md-sys-color-primary-fixed: #5e00c1;
  --md-sys-color-primary-fixed-dim: #5000a5;
  --md-sys-color-on-primary-fixed: #fffeff;
  --md-sys-color-on-primary-fixed-variant: #dbc4ff;
  --md-sys-color-secondary: #fffeff;
  --md-sys-color-secondary-dim: #dbc4ff;
  --md-sys-color-on-secondary: #250053;
  --md-sys-color-secondary-container: #55348a;
  --md-sys-color-on-secondary-container: #ffffff;
  --md-sys-color-secondary-fixed: #55348a;
  --md-sys-color-secondary-fixed-dim: #49287e;
  --md-sys-color-on-secondary-fixed: #fffeff;
  --md-sys-color-on-secondary-fixed-variant: #dbc4ff;
  --md-sys-color-tertiary: #fffeff;
  --md-sys-color-tertiary-dim: #ffb9e3;
  --md-sys-color-on-tertiary: #38002b;
  --md-sys-color-tertiary-container: #ff5fd2;
  --md-sys-color-on-tertiary-container: #000000;
  --md-sys-color-tertiary-fixed: #ff5fd2;
  --md-sys-color-tertiary-fixed-dim: #ff32d0;
  --md-sys-color-on-tertiary-fixed: #000000;
  --md-sys-color-on-tertiary-fixed-variant: #000000;
  --md-sys-color-error: #fffeff;
  --md-sys-color-error-dim: #ffbeb7;
  --md-sys-color-on-error: #3d0002;
  --md-sys-color-error-container: #93000a;
  --md-sys-color-on-error-container: #ffffff;
}

.light-high-contrast {
  --md-sys-color-primary-palette-key-color: #9146ff;
  --md-sys-color-secondary-palette-key-color: #8766bf;
  --md-sys-color-tertiary-palette-key-color: #d800af;
  --md-sys-color-neutral-palette-key-color: #7b7481;
  --md-sys-color-neutral-variant-palette-key-color: #7c7386;
  --md-sys-color-error-palette-key-color: #de3730;
  --md-sys-color-background: #000000;
  --md-sys-color-on-background: #ffffff;
  --md-sys-color-surface: #000000;
  --md-sys-color-surface-dim: #100c16;
  --md-sys-color-surface-bright: #2f2a35;
  --md-sys-color-surface-container-lowest: #000000;
  --md-sys-color-surface-container-low: #28242f;
  --md-sys-color-surface-container: #332e3a;
  --md-sys-color-surface-container-high: #3e3945;
  --md-sys-color-surface-container-highest: #28242f;
  --md-sys-color-on-surface: #ffffff;
  --md-sys-color-surface-variant: #28242f;
  --md-sys-color-on-surface-variant: #ffffff;
  --md-sys-color-inverse-surface: #fef7ff;
  --md-sys-color-inverse-on-surface: #000000;
  --md-sys-color-outline: #fffeff;
  --md-sys-color-outline-variant: #d4cbda;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #ffffff;
  --md-sys-color-primary: #ffffff;
  --md-sys-color-primary-dim: #fffeff;
  --md-sys-color-on-primary: #000000;
  --md-sys-color-primary-container: #5e00c1;
  --md-sys-color-on-primary-container: #ffffff;
  --md-sys-color-inverse-primary: #000000;
  --md-sys-color-primary-fixed: #5e00c1;
  --md-sys-color-primary-fixed-dim: #5000a5;
  --md-sys-color-on-primary-fixed: #ffffff;
  --md-sys-color-on-primary-fixed-variant: #fffeff;
  --md-sys-color-secondary: #ffffff;
  --md-sys-color-secondary-dim: #fffeff;
  --md-sys-color-on-secondary: #000000;
  --md-sys-color-secondary-container: #55348a;
  --md-sys-color-on-secondary-container: #ffffff;
  --md-sys-color-secondary-fixed: #55348a;
  --md-sys-color-secondary-fixed-dim: #49287e;
  --md-sys-color-on-secondary-fixed: #ffffff;
  --md-sys-color-on-secondary-fixed-variant: #fffeff;
  --md-sys-color-tertiary: #ffffff;
  --md-sys-color-tertiary-dim: #fffeff;
  --md-sys-color-on-tertiary: #000000;
  --md-sys-color-tertiary-container: #ff5fd2;
  --md-sys-color-on-tertiary-container: #000000;
  --md-sys-color-tertiary-fixed: #ff5fd2;
  --md-sys-color-tertiary-fixed-dim: #ff32d0;
  --md-sys-color-on-tertiary-fixed: #000000;
  --md-sys-color-on-tertiary-fixed-variant: #000000;
  --md-sys-color-error: #ffffff;
  --md-sys-color-error-dim: #fffeff;
  --md-sys-color-on-error: #000000;
  --md-sys-color-error-container: #93000a;
  --md-sys-color-on-error-container: #ffffff;
}

.dark {
  --md-sys-color-primary-palette-key-color: #9146ff;
  --md-sys-color-secondary-palette-key-color: #8766bf;
  --md-sys-color-tertiary-palette-key-color: #d800af;
  --md-sys-color-neutral-palette-key-color: #7b7481;
  --md-sys-color-neutral-variant-palette-key-color: #7c7386;
  --md-sys-color-error-palette-key-color: #de3730;
  --md-sys-color-background: #000000;
  --md-sys-color-on-background: #ffffff;
  --md-sys-color-surface: #000000;
  --md-sys-color-surface-dim: #100c16;
  --md-sys-color-surface-bright: #2f2a35;
  --md-sys-color-surface-container-lowest: #000000;
  --md-sys-color-surface-container-low: #28242f;
  --md-sys-color-surface-container: #332e3a;
  --md-sys-color-surface-container-high: #3e3945;
  --md-sys-color-surface-container-highest: #28242f;
  --md-sys-color-on-surface: #eee5f4;
  --md-sys-color-surface-variant: #28242f;
  --md-sys-color-on-surface-variant: #d4cbda;
  --md-sys-color-inverse-surface: #fef7ff;
  --md-sys-color-inverse-on-surface: #58535f;
  --md-sys-color-outline: #aba3b1;
  --md-sys-color-outline-variant: #8a8390;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #dbc4ff;
  --md-sys-color-primary: #dbc4ff;
  --md-sys-color-primary-dim: #ba91ff;
  --md-sys-color-on-primary: #260055;
  --md-sys-color-primary-container: #5e00c1;
  --md-sys-color-on-primary-container: #ead9ff;
  --md-sys-color-inverse-primary: #7010de;
  --md-sys-color-primary-fixed: #5e00c1;
  --md-sys-color-primary-fixed-dim: #5000a5;
  --md-sys-color-on-primary-fixed: #dbc4ff;
  --md-sys-color-on-primary-fixed-variant: #ba91ff;
  --md-sys-color-secondary: #dbc4ff;
  --md-sys-color-secondary-dim: #c39ffd;
  --md-sys-color-on-secondary: #320a67;
  --md-sys-color-secondary-container: #55348a;
  --md-sys-color-on-secondary-container: #ead9ff;
  --md-sys-color-secondary-fixed: #55348a;
  --md-sys-color-secondary-fixed-dim: #49287e;
  --md-sys-color-on-secondary-fixed: #dbc4ff;
  --md-sys-color-on-secondary-fixed-variant: #b895f2;
  --md-sys-color-tertiary: #ffb9e3;
  --md-sys-color-tertiary-dim: #ff71d4;
  --md-sys-color-on-tertiary: #3a002d;
  --md-sys-color-tertiary-container: #ff5fd2;
  --md-sys-color-on-tertiary-container: #27001e;
  --md-sys-color-tertiary-fixed: #ff5fd2;
  --md-sys-color-tertiary-fixed-dim: #ff32d0;
  --md-sys-color-on-tertiary-fixed: #000000;
  --md-sys-color-on-tertiary-fixed-variant: #540042;
  --md-sys-color-error: #ffbeb7;
  --md-sys-color-error-dim: #ff8073;
  --md-sys-color-on-error: #400002;
  --md-sys-color-error-container: #93000a;
  --md-sys-color-on-error-container: #ffd7d2;
}

.dark-medium-contrast {
  --md-sys-color-primary-palette-key-color: #9146ff;
  --md-sys-color-secondary-palette-key-color: #8766bf;
  --md-sys-color-tertiary-palette-key-color: #d800af;
  --md-sys-color-neutral-palette-key-color: #7b7481;
  --md-sys-color-neutral-variant-palette-key-color: #7c7386;
  --md-sys-color-error-palette-key-color: #de3730;
  --md-sys-color-background: #000000;
  --md-sys-color-on-background: #ffffff;
  --md-sys-color-surface: #000000;
  --md-sys-color-surface-dim: #100c16;
  --md-sys-color-surface-bright: #2f2a35;
  --md-sys-color-surface-container-lowest: #000000;
  --md-sys-color-surface-container-low: #28242f;
  --md-sys-color-surface-container: #332e3a;
  --md-sys-color-surface-container-high: #3e3945;
  --md-sys-color-surface-container-highest: #28242f;
  --md-sys-color-on-surface: #fffeff;
  --md-sys-color-surface-variant: #28242f;
  --md-sys-color-on-surface-variant: #fffeff;
  --md-sys-color-inverse-surface: #fef7ff;
  --md-sys-color-inverse-on-surface: #3b3642;
  --md-sys-color-outline: #d4cbda;
  --md-sys-color-outline-variant: #aba3b1;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #fffeff;
  --md-sys-color-primary: #fffeff;
  --md-sys-color-primary-dim: #dbc4ff;
  --md-sys-color-on-primary: #250053;
  --md-sys-color-primary-container: #5e00c1;
  --md-sys-color-on-primary-container: #ffffff;
  --md-sys-color-inverse-primary: #4c009d;
  --md-sys-color-primary-fixed: #5e00c1;
  --md-sys-color-primary-fixed-dim: #5000a5;
  --md-sys-color-on-primary-fixed: #fffeff;
  --md-sys-color-on-primary-fixed-variant: #dbc4ff;
  --md-sys-color-secondary: #fffeff;
  --md-sys-color-secondary-dim: #dbc4ff;
  --md-sys-color-on-secondary: #250053;
  --md-sys-color-secondary-container: #55348a;
  --md-sys-color-on-secondary-container: #ffffff;
  --md-sys-color-secondary-fixed: #55348a;
  --md-sys-color-secondary-fixed-dim: #49287e;
  --md-sys-color-on-secondary-fixed: #fffeff;
  --md-sys-color-on-secondary-fixed-variant: #dbc4ff;
  --md-sys-color-tertiary: #fffeff;
  --md-sys-color-tertiary-dim: #ffb9e3;
  --md-sys-color-on-tertiary: #38002b;
  --md-sys-color-tertiary-container: #ff5fd2;
  --md-sys-color-on-tertiary-container: #000000;
  --md-sys-color-tertiary-fixed: #ff5fd2;
  --md-sys-color-tertiary-fixed-dim: #ff32d0;
  --md-sys-color-on-tertiary-fixed: #000000;
  --md-sys-color-on-tertiary-fixed-variant: #000000;
  --md-sys-color-error: #fffeff;
  --md-sys-color-error-dim: #ffbeb7;
  --md-sys-color-on-error: #3d0002;
  --md-sys-color-error-container: #93000a;
  --md-sys-color-on-error-container: #ffffff;
}

.dark-high-contrast {
  --md-sys-color-primary-palette-key-color: #9146ff;
  --md-sys-color-secondary-palette-key-color: #8766bf;
  --md-sys-color-tertiary-palette-key-color: #d800af;
  --md-sys-color-neutral-palette-key-color: #7b7481;
  --md-sys-color-neutral-variant-palette-key-color: #7c7386;
  --md-sys-color-error-palette-key-color: #de3730;
  --md-sys-color-background: #000000;
  --md-sys-color-on-background: #ffffff;
  --md-sys-color-surface: #000000;
  --md-sys-color-surface-dim: #100c16;
  --md-sys-color-surface-bright: #2f2a35;
  --md-sys-color-surface-container-lowest: #000000;
  --md-sys-color-surface-container-low: #28242f;
  --md-sys-color-surface-container: #332e3a;
  --md-sys-color-surface-container-high: #3e3945;
  --md-sys-color-surface-container-highest: #28242f;
  --md-sys-color-on-surface: #ffffff;
  --md-sys-color-surface-variant: #28242f;
  --md-sys-color-on-surface-variant: #ffffff;
  --md-sys-color-inverse-surface: #fef7ff;
  --md-sys-color-inverse-on-surface: #000000;
  --md-sys-color-outline: #fffeff;
  --md-sys-color-outline-variant: #d4cbda;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #ffffff;
  --md-sys-color-primary: #ffffff;
  --md-sys-color-primary-dim: #fffeff;
  --md-sys-color-on-primary: #000000;
  --md-sys-color-primary-container: #5e00c1;
  --md-sys-color-on-primary-container: #ffffff;
  --md-sys-color-inverse-primary: #000000;
  --md-sys-color-primary-fixed: #5e00c1;
  --md-sys-color-primary-fixed-dim: #5000a5;
  --md-sys-color-on-primary-fixed: #ffffff;
  --md-sys-color-on-primary-fixed-variant: #fffeff;
  --md-sys-color-secondary: #ffffff;
  --md-sys-color-secondary-dim: #fffeff;
  --md-sys-color-on-secondary: #000000;
  --md-sys-color-secondary-container: #55348a;
  --md-sys-color-on-secondary-container: #ffffff;
  --md-sys-color-secondary-fixed: #55348a;
  --md-sys-color-secondary-fixed-dim: #49287e;
  --md-sys-color-on-secondary-fixed: #ffffff;
  --md-sys-color-on-secondary-fixed-variant: #fffeff;
  --md-sys-color-tertiary: #ffffff;
  --md-sys-color-tertiary-dim: #fffeff;
  --md-sys-color-on-tertiary: #000000;
  --md-sys-color-tertiary-container: #ff5fd2;
  --md-sys-color-on-tertiary-container: #000000;
  --md-sys-color-tertiary-fixed: #ff5fd2;
  --md-sys-color-tertiary-fixed-dim: #ff32d0;
  --md-sys-color-on-tertiary-fixed: #000000;
  --md-sys-color-on-tertiary-fixed-variant: #000000;
  --md-sys-color-error: #ffffff;
  --md-sys-color-error-dim: #fffeff;
  --md-sys-color-on-error: #000000;
  --md-sys-color-error-container: #93000a;
  --md-sys-color-on-error-container: #ffffff;
}

