.light {
  --md-sys-color-primary-palette-key-color: #846bae;
  --md-sys-color-secondary-palette-key-color: #677e5a;
  --md-sys-color-tertiary-palette-key-color: #578330;
  --md-sys-color-neutral-palette-key-color: #7c7484;
  --md-sys-color-neutral-variant-palette-key-color: #806f9a;
  --md-sys-color-error-palette-key-color: #ba5866;
  --md-sys-color-background: #000000;
  --md-sys-color-on-background: #ffffff;
  --md-sys-color-surface: #000000;
  --md-sys-color-surface-dim: #110c18;
  --md-sys-color-surface-bright: #312742;
  --md-sys-color-surface-container-lowest: #000000;
  --md-sys-color-surface-container-low: #292331;
  --md-sys-color-surface-container: #342e3c;
  --md-sys-color-surface-container-high: #3f3947;
  --md-sys-color-surface-container-highest: #2a2239;
  --md-sys-color-on-surface: #efe4f7;
  --md-sys-color-surface-variant: #2a2239;
  --md-sys-color-on-surface-variant: #d4cadc;
  --md-sys-color-inverse-surface: #fef7ff;
  --md-sys-color-inverse-on-surface: #595261;
  --md-sys-color-outline: #aba2b3;
  --md-sys-color-outline-variant: #8a8393;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #dbc4ff;
  --md-sys-color-primary: #dbc4ff;
  --md-sys-color-primary-dim: #c8acf5;
  --md-sys-color-on-primary: #371e5d;
  --md-sys-color-primary-container: #523a7a;
  --md-sys-color-on-primary-container: #ead9ff;
  --md-sys-color-inverse-primary: #614989;
  --md-sys-color-primary-fixed: #523a7a;
  --md-sys-color-primary-fixed-dim: #462e6d;
  --md-sys-color-on-primary-fixed: #dbc4ff;
  --md-sys-color-on-primary-fixed-variant: #b499e0;
  --md-sys-color-secondary: #d0eabf;
  --md-sys-color-secondary-dim: #c2dcb2;
  --md-sys-color-on-secondary: #304526;
  --md-sys-color-secondary-container: #374c2d;
  --md-sys-color-on-secondary-container: #cee8bd;
  --md-sys-color-secondary-fixed: #374c2d;
  --md-sys-color-secondary-fixed-dim: #2c4122;
  --md-sys-color-on-secondary-fixed: #bcd6ac;
  --md-sys-color-on-secondary-fixed-variant: #94ad85;
  --md-sys-color-tertiary: #bcef8e;
  --md-sys-color-tertiary-dim: #afe081;
  --md-sys-color-on-tertiary: #234600;
  --md-sys-color-tertiary-container: #94c468;
  --md-sys-color-on-tertiary-container: #163000;
  --md-sys-color-tertiary-fixed: #94c468;
  --md-sys-color-tertiary-fixed-dim: #87b65c;
  --md-sys-color-on-tertiary-fixed: #0e2300;
  --md-sys-color-on-tertiary-fixed-variant: #234600;
  --md-sys-color-error: #ffbdc3;
  --md-sys-color-error-dim: #f38593;
  --md-sys-color-on-error: #3f000f;
  --md-sys-color-error-container: #7d2938;
  --md-sys-color-on-error-container: #ffd6d9;
}

.light-medium-contrast {
  --md-sys-color-primary-palette-key-color: #846bae;
  --md-sys-color-secondary-palette-key-color: #677e5a;
  --md-sys-color-tertiary-palette-key-color: #578330;
  --md-sys-color-neutral-palette-key-color: #7c7484;
  --md-sys-color-neutral-variant-palette-key-color: #806f9a;
  --md-sys-color-error-palette-key-color: #ba5866;
  --md-sys-color-background: #000000;
  --md-sys-color-on-background: #ffffff;
  --md-sys-color-surface: #000000;
  --md-sys-color-surface-dim: #110c18;
  --md-sys-color-surface-bright: #312742;
  --md-sys-color-surface-container-lowest: #000000;
  --md-sys-color-surface-container-low: #292331;
  --md-sys-color-surface-container: #342e3c;
  --md-sys-color-surface-container-high: #3f3947;
  --md-sys-color-surface-container-highest: #2a2239;
  --md-sys-color-on-surface: #fffeff;
  --md-sys-color-surface-variant: #2a2239;
  --md-sys-color-on-surface-variant: #fffeff;
  --md-sys-color-inverse-surface: #fef7ff;
  --md-sys-color-inverse-on-surface: #3b3644;
  --md-sys-color-outline: #d4cadc;
  --md-sys-color-outline-variant: #aba2b3;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #fffeff;
  --md-sys-color-primary: #fffeff;
  --md-sys-color-primary-dim: #dbc4ff;
  --md-sys-color-on-primary: #23074a;
  --md-sys-color-primary-container: #523a7a;
  --md-sys-color-on-primary-container: #ffffff;
  --md-sys-color-inverse-primary: #432b6a;
  --md-sys-color-primary-fixed: #523a7a;
  --md-sys-color-primary-fixed-dim: #462e6d;
  --md-sys-color-on-primary-fixed: #fffeff;
  --md-sys-color-on-primary-fixed-variant: #dbc4ff;
  --md-sys-color-secondary: #fffeff;
  --md-sys-color-secondary-dim: #d0eabf;
  --md-sys-color-on-secondary: #1b2f12;
  --md-sys-color-secondary-container: #374c2d;
  --md-sys-color-on-secondary-container: #ffffff;
  --md-sys-color-secondary-fixed: #374c2d;
  --md-sys-color-secondary-fixed-dim: #2c4122;
  --md-sys-color-on-secondary-fixed: #fffeff;
  --md-sys-color-on-secondary-fixed-variant: #bcd6ac;
  --md-sys-color-tertiary: #fffeff;
  --md-sys-color-tertiary-dim: #bcef8e;
  --md-sys-color-on-tertiary: #152e00;
  --md-sys-color-tertiary-container: #a1d275;
  --md-sys-color-on-tertiary-container: #051000;
  --md-sys-color-tertiary-fixed: #94c468;
  --md-sys-color-tertiary-fixed-dim: #87b65c;
  --md-sys-color-on-tertiary-fixed: #000000;
  --md-sys-color-on-tertiary-fixed-variant: #0e2300;
  --md-sys-color-error: #fffeff;
  --md-sys-color-error-dim: #ffbdc3;
  --md-sys-color-on-error: #3d000f;
  --md-sys-color-error-container: #7d2938;
  --md-sys-color-on-error-container: #ffffff;
}

.light-high-contrast {
  --md-sys-color-primary-palette-key-color: #846bae;
  --md-sys-color-secondary-palette-key-color: #677e5a;
  --md-sys-color-tertiary-palette-key-color: #578330;
  --md-sys-color-neutral-palette-key-color: #7c7484;
  --md-sys-color-neutral-variant-palette-key-color: #806f9a;
  --md-sys-color-error-palette-key-color: #ba5866;
  --md-sys-color-background: #000000;
  --md-sys-color-on-background: #ffffff;
  --md-sys-color-surface: #000000;
  --md-sys-color-surface-dim: #110c18;
  --md-sys-color-surface-bright: #312742;
  --md-sys-color-surface-container-lowest: #000000;
  --md-sys-color-surface-container-low: #292331;
  --md-sys-color-surface-container: #342e3c;
  --md-sys-color-surface-container-high: #3f3947;
  --md-sys-color-surface-container-highest: #2a2239;
  --md-sys-color-on-surface: #ffffff;
  --md-sys-color-surface-variant: #2a2239;
  --md-sys-color-on-surface-variant: #ffffff;
  --md-sys-color-inverse-surface: #fef7ff;
  --md-sys-color-inverse-on-surface: #000000;
  --md-sys-color-outline: #fffeff;
  --md-sys-color-outline-variant: #d4cadc;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #ffffff;
  --md-sys-color-primary: #ffffff;
  --md-sys-color-primary-dim: #fffeff;
  --md-sys-color-on-primary: #000000;
  --md-sys-color-primary-container: #523a7a;
  --md-sys-color-on-primary-container: #ffffff;
  --md-sys-color-inverse-primary: #000000;
  --md-sys-color-primary-fixed: #523a7a;
  --md-sys-color-primary-fixed-dim: #462e6d;
  --md-sys-color-on-primary-fixed: #ffffff;
  --md-sys-color-on-primary-fixed-variant: #fffeff;
  --md-sys-color-secondary: #ffffff;
  --md-sys-color-secondary-dim: #fffeff;
  --md-sys-color-on-secondary: #000000;
  --md-sys-color-secondary-container: #374c2d;
  --md-sys-color-on-secondary-container: #ffffff;
  --md-sys-color-secondary-fixed: #374c2d;
  --md-sys-color-secondary-fixed-dim: #2c4122;
  --md-sys-color-on-secondary-fixed: #ffffff;
  --md-sys-color-on-secondary-fixed-variant: #fffeff;
  --md-sys-color-tertiary: #ffffff;
  --md-sys-color-tertiary-dim: #fffeff;
  --md-sys-color-on-tertiary: #000000;
  --md-sys-color-tertiary-container: #bcef8e;
  --md-sys-color-on-tertiary-container: #000000;
  --md-sys-color-tertiary-fixed: #94c468;
  --md-sys-color-tertiary-fixed-dim: #87b65c;
  --md-sys-color-on-tertiary-fixed: #000000;
  --md-sys-color-on-tertiary-fixed-variant: #000000;
  --md-sys-color-error: #ffffff;
  --md-sys-color-error-dim: #fffeff;
  --md-sys-color-on-error: #000000;
  --md-sys-color-error-container: #7d2938;
  --md-sys-color-on-error-container: #ffffff;
}

.dark {
  --md-sys-color-primary-palette-key-color: #846bae;
  --md-sys-color-secondary-palette-key-color: #677e5a;
  --md-sys-color-tertiary-palette-key-color: #578330;
  --md-sys-color-neutral-palette-key-color: #7c7484;
  --md-sys-color-neutral-variant-palette-key-color: #806f9a;
  --md-sys-color-error-palette-key-color: #ba5866;
  --md-sys-color-background: #000000;
  --md-sys-color-on-background: #ffffff;
  --md-sys-color-surface: #000000;
  --md-sys-color-surface-dim: #110c18;
  --md-sys-color-surface-bright: #312742;
  --md-sys-color-surface-container-lowest: #000000;
  --md-sys-color-surface-container-low: #292331;
  --md-sys-color-surface-container: #342e3c;
  --md-sys-color-surface-container-high: #3f3947;
  --md-sys-color-surface-container-highest: #2a2239;
  --md-sys-color-on-surface: #efe4f7;
  --md-sys-color-surface-variant: #2a2239;
  --md-sys-color-on-surface-variant: #d4cadc;
  --md-sys-color-inverse-surface: #fef7ff;
  --md-sys-color-inverse-on-surface: #595261;
  --md-sys-color-outline: #aba2b3;
  --md-sys-color-outline-variant: #8a8393;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #dbc4ff;
  --md-sys-color-primary: #dbc4ff;
  --md-sys-color-primary-dim: #c8acf5;
  --md-sys-color-on-primary: #371e5d;
  --md-sys-color-primary-container: #523a7a;
  --md-sys-color-on-primary-container: #ead9ff;
  --md-sys-color-inverse-primary: #614989;
  --md-sys-color-primary-fixed: #523a7a;
  --md-sys-color-primary-fixed-dim: #462e6d;
  --md-sys-color-on-primary-fixed: #dbc4ff;
  --md-sys-color-on-primary-fixed-variant: #b499e0;
  --md-sys-color-secondary: #d0eabf;
  --md-sys-color-secondary-dim: #c2dcb2;
  --md-sys-color-on-secondary: #304526;
  --md-sys-color-secondary-container: #374c2d;
  --md-sys-color-on-secondary-container: #cee8bd;
  --md-sys-color-secondary-fixed: #374c2d;
  --md-sys-color-secondary-fixed-dim: #2c4122;
  --md-sys-color-on-secondary-fixed: #bcd6ac;
  --md-sys-color-on-secondary-fixed-variant: #94ad85;
  --md-sys-color-tertiary: #bcef8e;
  --md-sys-color-tertiary-dim: #afe081;
  --md-sys-color-on-tertiary: #234600;
  --md-sys-color-tertiary-container: #94c468;
  --md-sys-color-on-tertiary-container: #163000;
  --md-sys-color-tertiary-fixed: #94c468;
  --md-sys-color-tertiary-fixed-dim: #87b65c;
  --md-sys-color-on-tertiary-fixed: #0e2300;
  --md-sys-color-on-tertiary-fixed-variant: #234600;
  --md-sys-color-error: #ffbdc3;
  --md-sys-color-error-dim: #f38593;
  --md-sys-color-on-error: #3f000f;
  --md-sys-color-error-container: #7d2938;
  --md-sys-color-on-error-container: #ffd6d9;
}

.dark-medium-contrast {
  --md-sys-color-primary-palette-key-color: #846bae;
  --md-sys-color-secondary-palette-key-color: #677e5a;
  --md-sys-color-tertiary-palette-key-color: #578330;
  --md-sys-color-neutral-palette-key-color: #7c7484;
  --md-sys-color-neutral-variant-palette-key-color: #806f9a;
  --md-sys-color-error-palette-key-color: #ba5866;
  --md-sys-color-background: #000000;
  --md-sys-color-on-background: #ffffff;
  --md-sys-color-surface: #000000;
  --md-sys-color-surface-dim: #110c18;
  --md-sys-color-surface-bright: #312742;
  --md-sys-color-surface-container-lowest: #000000;
  --md-sys-color-surface-container-low: #292331;
  --md-sys-color-surface-container: #342e3c;
  --md-sys-color-surface-container-high: #3f3947;
  --md-sys-color-surface-container-highest: #2a2239;
  --md-sys-color-on-surface: #fffeff;
  --md-sys-color-surface-variant: #2a2239;
  --md-sys-color-on-surface-variant: #fffeff;
  --md-sys-color-inverse-surface: #fef7ff;
  --md-sys-color-inverse-on-surface: #3b3644;
  --md-sys-color-outline: #d4cadc;
  --md-sys-color-outline-variant: #aba2b3;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #fffeff;
  --md-sys-color-primary: #fffeff;
  --md-sys-color-primary-dim: #dbc4ff;
  --md-sys-color-on-primary: #23074a;
  --md-sys-color-primary-container: #523a7a;
  --md-sys-color-on-primary-container: #ffffff;
  --md-sys-color-inverse-primary: #432b6a;
  --md-sys-color-primary-fixed: #523a7a;
  --md-sys-color-primary-fixed-dim: #462e6d;
  --md-sys-color-on-primary-fixed: #fffeff;
  --md-sys-color-on-primary-fixed-variant: #dbc4ff;
  --md-sys-color-secondary: #fffeff;
  --md-sys-color-secondary-dim: #d0eabf;
  --md-sys-color-on-secondary: #1b2f12;
  --md-sys-color-secondary-container: #374c2d;
  --md-sys-color-on-secondary-container: #ffffff;
  --md-sys-color-secondary-fixed: #374c2d;
  --md-sys-color-secondary-fixed-dim: #2c4122;
  --md-sys-color-on-secondary-fixed: #fffeff;
  --md-sys-color-on-secondary-fixed-variant: #bcd6ac;
  --md-sys-color-tertiary: #fffeff;
  --md-sys-color-tertiary-dim: #bcef8e;
  --md-sys-color-on-tertiary: #152e00;
  --md-sys-color-tertiary-container: #a1d275;
  --md-sys-color-on-tertiary-container: #051000;
  --md-sys-color-tertiary-fixed: #94c468;
  --md-sys-color-tertiary-fixed-dim: #87b65c;
  --md-sys-color-on-tertiary-fixed: #000000;
  --md-sys-color-on-tertiary-fixed-variant: #0e2300;
  --md-sys-color-error: #fffeff;
  --md-sys-color-error-dim: #ffbdc3;
  --md-sys-color-on-error: #3d000f;
  --md-sys-color-error-container: #7d2938;
  --md-sys-color-on-error-container: #ffffff;
}

.dark-high-contrast {
  --md-sys-color-primary-palette-key-color: #846bae;
  --md-sys-color-secondary-palette-key-color: #677e5a;
  --md-sys-color-tertiary-palette-key-color: #578330;
  --md-sys-color-neutral-palette-key-color: #7c7484;
  --md-sys-color-neutral-variant-palette-key-color: #806f9a;
  --md-sys-color-error-palette-key-color: #ba5866;
  --md-sys-color-background: #000000;
  --md-sys-color-on-background: #ffffff;
  --md-sys-color-surface: #000000;
  --md-sys-color-surface-dim: #110c18;
  --md-sys-color-surface-bright: #312742;
  --md-sys-color-surface-container-lowest: #000000;
  --md-sys-color-surface-container-low: #292331;
  --md-sys-color-surface-container: #342e3c;
  --md-sys-color-surface-container-high: #3f3947;
  --md-sys-color-surface-container-highest: #2a2239;
  --md-sys-color-on-surface: #ffffff;
  --md-sys-color-surface-variant: #2a2239;
  --md-sys-color-on-surface-variant: #ffffff;
  --md-sys-color-inverse-surface: #fef7ff;
  --md-sys-color-inverse-on-surface: #000000;
  --md-sys-color-outline: #fffeff;
  --md-sys-color-outline-variant: #d4cadc;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #ffffff;
  --md-sys-color-primary: #ffffff;
  --md-sys-color-primary-dim: #fffeff;
  --md-sys-color-on-primary: #000000;
  --md-sys-color-primary-container: #523a7a;
  --md-sys-color-on-primary-container: #ffffff;
  --md-sys-color-inverse-primary: #000000;
  --md-sys-color-primary-fixed: #523a7a;
  --md-sys-color-primary-fixed-dim: #462e6d;
  --md-sys-color-on-primary-fixed: #ffffff;
  --md-sys-color-on-primary-fixed-variant: #fffeff;
  --md-sys-color-secondary: #ffffff;
  --md-sys-color-secondary-dim: #fffeff;
  --md-sys-color-on-secondary: #000000;
  --md-sys-color-secondary-container: #374c2d;
  --md-sys-color-on-secondary-container: #ffffff;
  --md-sys-color-secondary-fixed: #374c2d;
  --md-sys-color-secondary-fixed-dim: #2c4122;
  --md-sys-color-on-secondary-fixed: #ffffff;
  --md-sys-color-on-secondary-fixed-variant: #fffeff;
  --md-sys-color-tertiary: #ffffff;
  --md-sys-color-tertiary-dim: #fffeff;
  --md-sys-color-on-tertiary: #000000;
  --md-sys-color-tertiary-container: #bcef8e;
  --md-sys-color-on-tertiary-container: #000000;
  --md-sys-color-tertiary-fixed: #94c468;
  --md-sys-color-tertiary-fixed-dim: #87b65c;
  --md-sys-color-on-tertiary-fixed: #000000;
  --md-sys-color-on-tertiary-fixed-variant: #000000;
  --md-sys-color-error: #ffffff;
  --md-sys-color-error-dim: #fffeff;
  --md-sys-color-on-error: #000000;
  --md-sys-color-error-container: #7d2938;
  --md-sys-color-on-error-container: #ffffff;
}

