.light {
  --md-sys-color-primary-palette-key-color: #8767bc;
  --md-sys-color-secondary-palette-key-color: #677e5a;
  --md-sys-color-tertiary-palette-key-color: #578330;
  --md-sys-color-neutral-palette-key-color: #7d728c;
  --md-sys-color-neutral-variant-palette-key-color: #856ab0;
  --md-sys-color-error-palette-key-color: #cb495f;
  --md-sys-color-background: #fef7ff;
  --md-sys-color-on-background: #3a2b53;
  --md-sys-color-surface: #fef7ff;
  --md-sys-color-surface-dim: #e5d2ff;
  --md-sys-color-surface-bright: #fef7ff;
  --md-sys-color-surface-container-lowest: #ffffff;
  --md-sys-color-surface-container-low: #faf0ff;
  --md-sys-color-surface-container: #f5eaff;
  --md-sys-color-surface-container-high: #f0e3ff;
  --md-sys-color-surface-container-highest: #ecdcff;
  --md-sys-color-on-surface: #3a2b53;
  --md-sys-color-surface-variant: #ecdcff;
  --md-sys-color-on-surface-variant: #685782;
  --md-sys-color-inverse-surface: #120a1e;
  --md-sys-color-inverse-on-surface: #a498b3;
  --md-sys-color-outline: #8473a0;
  --md-sys-color-outline-variant: #bda9da;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #6e4ea2;
  --md-sys-color-primary: #6e4ea2;
  --md-sys-color-primary-dim: #624295;
  --md-sys-color-on-primary: #fef7ff;
  --md-sys-color-primary-container: #d1b4ff;
  --md-sys-color-on-primary-container: #4a2a7c;
  --md-sys-color-inverse-primary: #c2a0fb;
  --md-sys-color-primary-fixed: #d1b4ff;
  --md-sys-color-primary-fixed-dim: #c5a3fd;
  --md-sys-color-on-primary-fixed: #341066;
  --md-sys-color-on-primary-fixed-variant: #533486;
  --md-sys-color-secondary: #4f6543;
  --md-sys-color-secondary-dim: #435938;
  --md-sys-color-on-secondary: #ecffdd;
  --md-sys-color-secondary-container: #def9cd;
  --md-sys-color-on-secondary-container: #4a603e;
  --md-sys-color-secondary-fixed: #def9cd;
  --md-sys-color-secondary-fixed-dim: #d0eabf;
  --md-sys-color-on-secondary-fixed: #384e2e;
  --md-sys-color-on-secondary-fixed-variant: #546b48;
  --md-sys-color-tertiary: #406a19;
  --md-sys-color-tertiary-dim: #345d0c;
  --md-sys-color-on-tertiary: #edffd7;
  --md-sys-color-tertiary-container: #bcef8e;
  --md-sys-color-on-tertiary-container: #315a08;
  --md-sys-color-tertiary-fixed: #bcef8e;
  --md-sys-color-tertiary-fixed-dim: #afe081;
  --md-sys-color-on-tertiary-fixed: #234600;
  --md-sys-color-on-tertiary-fixed-variant: #3b6413;
  --md-sys-color-error: #ac3149;
  --md-sys-color-error-dim: #770326;
  --md-sys-color-on-error: #fff7f7;
  --md-sys-color-error-container: #f76a80;
  --md-sys-color-on-error-container: #68001f;
}

.light-medium-contrast {
  --md-sys-color-primary-palette-key-color: #8767bc;
  --md-sys-color-secondary-palette-key-color: #677e5a;
  --md-sys-color-tertiary-palette-key-color: #578330;
  --md-sys-color-neutral-palette-key-color: #7d728c;
  --md-sys-color-neutral-variant-palette-key-color: #856ab0;
  --md-sys-color-error-palette-key-color: #cb495f;
  --md-sys-color-background: #fef7ff;
  --md-sys-color-on-background: #2b1c43;
  --md-sys-color-surface: #fef7ff;
  --md-sys-color-surface-dim: #e5d2ff;
  --md-sys-color-surface-bright: #fef7ff;
  --md-sys-color-surface-container-lowest: #ffffff;
  --md-sys-color-surface-container-low: #faf0ff;
  --md-sys-color-surface-container: #f5eaff;
  --md-sys-color-surface-container-high: #f0e3ff;
  --md-sys-color-surface-container-highest: #ecdcff;
  --md-sys-color-on-surface: #2b1c43;
  --md-sys-color-surface-variant: #ecdcff;
  --md-sys-color-on-surface-variant: #4b3b64;
  --md-sys-color-inverse-surface: #120a1e;
  --md-sys-color-inverse-on-surface: #cdc0dc;
  --md-sys-color-outline: #685782;
  --md-sys-color-outline-variant: #8473a0;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #513183;
  --md-sys-color-primary: #513183;
  --md-sys-color-primary-dim: #452477;
  --md-sys-color-on-primary: #e5d2ff;
  --md-sys-color-primary-container: #8464b9;
  --md-sys-color-on-primary-container: #ffffff;
  --md-sys-color-inverse-primary: #c2a0fb;
  --md-sys-color-primary-fixed: #8464b9;
  --md-sys-color-primary-fixed-dim: #7758ac;
  --md-sys-color-on-primary-fixed: #ffffff;
  --md-sys-color-on-primary-fixed-variant: #ffffff;
  --md-sys-color-secondary: #334829;
  --md-sys-color-secondary-dim: #283d1f;
  --md-sys-color-on-secondary: #c8e2b7;
  --md-sys-color-secondary-container: #647b57;
  --md-sys-color-on-secondary-container: #ffffff;
  --md-sys-color-secondary-fixed: #647b57;
  --md-sys-color-secondary-fixed-dim: #586f4c;
  --md-sys-color-on-secondary-fixed: #ffffff;
  --md-sys-color-on-secondary-fixed-variant: #ffffff;
  --md-sys-color-tertiary: #264c00;
  --md-sys-color-tertiary-dim: #1f3f00;
  --md-sys-color-on-tertiary: #b6e888;
  --md-sys-color-tertiary-container: #55802d;
  --md-sys-color-on-tertiary-container: #ffffff;
  --md-sys-color-tertiary-fixed: #55802d;
  --md-sys-color-tertiary-fixed-dim: #497322;
  --md-sys-color-on-tertiary-fixed: #ffffff;
  --md-sys-color-on-tertiary-fixed-variant: #ffffff;
  --md-sys-color-error: #85112f;
  --md-sys-color-error-dim: #740124;
  --md-sys-color-on-error: #ffcdd1;
  --md-sys-color-error-container: #c8475d;
  --md-sys-color-on-error-container: #ffffff;
}

.light-high-contrast {
  --md-sys-color-primary-palette-key-color: #8767bc;
  --md-sys-color-secondary-palette-key-color: #677e5a;
  --md-sys-color-tertiary-palette-key-color: #578330;
  --md-sys-color-neutral-palette-key-color: #7d728c;
  --md-sys-color-neutral-variant-palette-key-color: #856ab0;
  --md-sys-color-error-palette-key-color: #cb495f;
  --md-sys-color-background: #fef7ff;
  --md-sys-color-on-background: #000000;
  --md-sys-color-surface: #fef7ff;
  --md-sys-color-surface-dim: #e5d2ff;
  --md-sys-color-surface-bright: #fef7ff;
  --md-sys-color-surface-container-lowest: #ffffff;
  --md-sys-color-surface-container-low: #faf0ff;
  --md-sys-color-surface-container: #f5eaff;
  --md-sys-color-surface-container-high: #f0e3ff;
  --md-sys-color-surface-container-highest: #ecdcff;
  --md-sys-color-on-surface: #000000;
  --md-sys-color-surface-variant: #ecdcff;
  --md-sys-color-on-surface-variant: #2b1c43;
  --md-sys-color-inverse-surface: #120a1e;
  --md-sys-color-inverse-on-surface: #ffffff;
  --md-sys-color-outline: #4b3b64;
  --md-sys-color-outline-variant: #685782;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #300a62;
  --md-sys-color-primary: #300a62;
  --md-sys-color-primary-dim: #250053;
  --md-sys-color-on-primary: #e5d2ff;
  --md-sys-color-primary-container: #6e4ea2;
  --md-sys-color-on-primary-container: #ffffff;
  --md-sys-color-inverse-primary: #d4b8ff;
  --md-sys-color-primary-fixed: #6e4ea2;
  --md-sys-color-primary-fixed-dim: #624295;
  --md-sys-color-on-primary-fixed: #ffffff;
  --md-sys-color-on-primary-fixed-variant: #ffffff;
  --md-sys-color-secondary: #15290d;
  --md-sys-color-secondary-dim: #0b1e04;
  --md-sys-color-on-secondary: #c8e2b7;
  --md-sys-color-secondary-container: #4f6543;
  --md-sys-color-on-secondary-container: #ffffff;
  --md-sys-color-secondary-fixed: #4f6543;
  --md-sys-color-secondary-fixed-dim: #435938;
  --md-sys-color-on-secondary-fixed: #ffffff;
  --md-sys-color-on-secondary-fixed-variant: #ffffff;
  --md-sys-color-tertiary: #122900;
  --md-sys-color-tertiary-dim: #0c1e00;
  --md-sys-color-on-tertiary: #b7e989;
  --md-sys-color-tertiary-container: #406a19;
  --md-sys-color-on-tertiary-container: #ffffff;
  --md-sys-color-tertiary-fixed: #406a19;
  --md-sys-color-tertiary-fixed-dim: #345d0c;
  --md-sys-color-on-tertiary-fixed: #ffffff;
  --md-sys-color-on-tertiary-fixed-variant: #ffffff;
  --md-sys-color-error: #500016;
  --md-sys-color-error-dim: #3d000f;
  --md-sys-color-on-error: #ffced2;
  --md-sys-color-error-container: #ac3149;
  --md-sys-color-on-error-container: #ffffff;
}

.dark {
  --md-sys-color-primary-palette-key-color: #836ca7;
  --md-sys-color-secondary-palette-key-color: #6d7b64;
  --md-sys-color-tertiary-palette-key-color: #578330;
  --md-sys-color-neutral-palette-key-color: #7c7487;
  --md-sys-color-neutral-variant-palette-key-color: #826ea1;
  --md-sys-color-error-palette-key-color: #cb495f;
  --md-sys-color-background: #110b1a;
  --md-sys-color-on-background: #eee0ff;
  --md-sys-color-surface: #110b1a;
  --md-sys-color-surface-dim: #110b1a;
  --md-sys-color-surface-bright: #322646;
  --md-sys-color-surface-container-lowest: #000000;
  --md-sys-color-surface-container-low: #171022;
  --md-sys-color-surface-container: #1e162b;
  --md-sys-color-surface-container-high: #241b34;
  --md-sys-color-surface-container-highest: #2b203d;
  --md-sys-color-on-surface: #eee0ff;
  --md-sys-color-surface-variant: #2b203d;
  --md-sys-color-on-surface-variant: #b4a5c8;
  --md-sys-color-inverse-surface: #fef7ff;
  --md-sys-color-inverse-on-surface: #595264;
  --md-sys-color-outline: #7d7091;
  --md-sys-color-outline-variant: #4e4261;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #e0cbff;
  --md-sys-color-primary: #e0cbff;
  --md-sys-color-primary-dim: #d5bbfc;
  --md-sys-color-on-primary: #533e76;
  --md-sys-color-primary-container: #d5bbfc;
  --md-sys-color-on-primary-container: #4a356c;
  --md-sys-color-inverse-primary: #6a548e;
  --md-sys-color-primary-fixed: #d5bbfc;
  --md-sys-color-primary-fixed-dim: #c6aded;
  --md-sys-color-on-primary-fixed: #352157;
  --md-sys-color-on-primary-fixed-variant: #533f76;
  --md-sys-color-secondary: #bccbb0;
  --md-sys-color-secondary-dim: #afbda3;
  --md-sys-color-on-secondary: #374430;
  --md-sys-color-secondary-container: #1d2917;
  --md-sys-color-on-secondary-container: #9aa88f;
  --md-sys-color-secondary-fixed: #e6f6d9;
  --md-sys-color-secondary-fixed-dim: #d8e7cb;
  --md-sys-color-on-secondary-fixed: #3f4c37;
  --md-sys-color-on-secondary-fixed-variant: #5b6852;
  --md-sys-color-tertiary: #cafd9b;
  --md-sys-color-tertiary-dim: #bcef8e;
  --md-sys-color-on-tertiary: #3a6312;
  --md-sys-color-tertiary-container: #bcef8e;
  --md-sys-color-on-tertiary-container: #315a08;
  --md-sys-color-tertiary-fixed: #bcef8e;
  --md-sys-color-tertiary-fixed-dim: #afe081;
  --md-sys-color-on-tertiary-fixed: #234600;
  --md-sys-color-on-tertiary-fixed-variant: #3b6413;
  --md-sys-color-error: #fd6f85;
  --md-sys-color-error-dim: #c8475d;
  --md-sys-color-on-error: #490013;
  --md-sys-color-error-container: #8a1632;
  --md-sys-color-on-error-container: #ff97a3;
}

.dark-medium-contrast {
  --md-sys-color-primary-palette-key-color: #836ca7;
  --md-sys-color-secondary-palette-key-color: #6d7b64;
  --md-sys-color-tertiary-palette-key-color: #578330;
  --md-sys-color-neutral-palette-key-color: #7c7487;
  --md-sys-color-neutral-variant-palette-key-color: #826ea1;
  --md-sys-color-error-palette-key-color: #cb495f;
  --md-sys-color-background: #110b1a;
  --md-sys-color-on-background: #ffffff;
  --md-sys-color-surface: #110b1a;
  --md-sys-color-surface-dim: #110b1a;
  --md-sys-color-surface-bright: #322646;
  --md-sys-color-surface-container-lowest: #000000;
  --md-sys-color-surface-container-low: #171022;
  --md-sys-color-surface-container: #1e162b;
  --md-sys-color-surface-container-high: #241b34;
  --md-sys-color-surface-container-highest: #2b203d;
  --md-sys-color-on-surface: #ffffff;
  --md-sys-color-surface-variant: #2b203d;
  --md-sys-color-on-surface-variant: #c2b2d7;
  --md-sys-color-inverse-surface: #fef7ff;
  --md-sys-color-inverse-on-surface: #3c3546;
  --md-sys-color-outline: #9c8db0;
  --md-sys-color-outline-variant: #7d7091;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #e0cbff;
  --md-sys-color-primary: #e0cbff;
  --md-sys-color-primary-dim: #d5bbfc;
  --md-sys-color-on-primary: #49356b;
  --md-sys-color-primary-container: #d5bbfc;
  --md-sys-color-on-primary-container: #402b61;
  --md-sys-color-inverse-primary: #604a83;
  --md-sys-color-primary-fixed: #d5bbfc;
  --md-sys-color-primary-fixed-dim: #c6aded;
  --md-sys-color-on-primary-fixed: #000000;
  --md-sys-color-on-primary-fixed-variant: #352157;
  --md-sys-color-secondary: #bccbb0;
  --md-sys-color-secondary-dim: #afbda3;
  --md-sys-color-on-secondary: #2d3a26;
  --md-sys-color-secondary-container: #6b7961;
  --md-sys-color-on-secondary-container: #ffffff;
  --md-sys-color-secondary-fixed: #e6f6d9;
  --md-sys-color-secondary-fixed-dim: #d8e7cb;
  --md-sys-color-on-secondary-fixed: #212d1b;
  --md-sys-color-on-secondary-fixed-variant: #3f4c37;
  --md-sys-color-tertiary: #cafd9b;
  --md-sys-color-tertiary-dim: #bcef8e;
  --md-sys-color-on-tertiary: #305906;
  --md-sys-color-tertiary-container: #bcef8e;
  --md-sys-color-on-tertiary-container: #295000;
  --md-sys-color-tertiary-fixed: #bcef8e;
  --md-sys-color-tertiary-fixed-dim: #afe081;
  --md-sys-color-on-tertiary-fixed: #0e2200;
  --md-sys-color-on-tertiary-fixed-variant: #234600;
  --md-sys-color-error: #ff9da8;
  --md-sys-color-error-dim: #ff8695;
  --md-sys-color-on-error: #5f001c;
  --md-sys-color-error-container: #c8475d;
  --md-sys-color-on-error-container: #ffffff;
}

.dark-high-contrast {
  --md-sys-color-primary-palette-key-color: #836ca7;
  --md-sys-color-secondary-palette-key-color: #6d7b64;
  --md-sys-color-tertiary-palette-key-color: #578330;
  --md-sys-color-neutral-palette-key-color: #7c7487;
  --md-sys-color-neutral-variant-palette-key-color: #826ea1;
  --md-sys-color-error-palette-key-color: #cb495f;
  --md-sys-color-background: #110b1a;
  --md-sys-color-on-background: #ffffff;
  --md-sys-color-surface: #110b1a;
  --md-sys-color-surface-dim: #110b1a;
  --md-sys-color-surface-bright: #322646;
  --md-sys-color-surface-container-lowest: #000000;
  --md-sys-color-surface-container-low: #171022;
  --md-sys-color-surface-container: #1e162b;
  --md-sys-color-surface-container-high: #241b34;
  --md-sys-color-surface-container-highest: #2b203d;
  --md-sys-color-on-surface: #ffffff;
  --md-sys-color-surface-variant: #2b203d;
  --md-sys-color-on-surface-variant: #eee0ff;
  --md-sys-color-inverse-surface: #fef7ff;
  --md-sys-color-inverse-on-surface: #000000;
  --md-sys-color-outline: #c2b2d7;
  --md-sys-color-outline-variant: #9c8db0;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #eee0ff;
  --md-sys-color-primary: #eee0ff;
  --md-sys-color-primary-dim: #e1ccff;
  --md-sys-color-on-primary: #352156;
  --md-sys-color-primary-container: #d5bbfc;
  --md-sys-color-on-primary-container: #19023a;
  --md-sys-color-inverse-primary: #422d64;
  --md-sys-color-primary-fixed: #d5bbfc;
  --md-sys-color-primary-fixed-dim: #c6aded;
  --md-sys-color-on-primary-fixed: #000000;
  --md-sys-color-on-primary-fixed-variant: #000000;
  --md-sys-color-secondary: #dbeace;
  --md-sys-color-secondary-dim: #cddcc0;
  --md-sys-color-on-secondary: #232f1d;
  --md-sys-color-secondary-container: #94a289;
  --md-sys-color-on-secondary-container: #000000;
  --md-sys-color-secondary-fixed: #e6f6d9;
  --md-sys-color-secondary-fixed-dim: #d8e7cb;
  --md-sys-color-on-secondary-fixed: #000000;
  --md-sys-color-on-secondary-fixed-variant: #212d1b;
  --md-sys-color-tertiary: #cafd9b;
  --md-sys-color-tertiary-dim: #bcef8e;
  --md-sys-color-on-tertiary: #1b3800;
  --md-sys-color-tertiary-container: #bcef8e;
  --md-sys-color-on-tertiary-container: #152e00;
  --md-sys-color-tertiary-fixed: #bcef8e;
  --md-sys-color-tertiary-fixed-dim: #afe081;
  --md-sys-color-on-tertiary-fixed: #000000;
  --md-sys-color-on-tertiary-fixed-variant: #0e2200;
  --md-sys-color-error: #ffdddf;
  --md-sys-color-error-dim: #ffc7cb;
  --md-sys-color-on-error: #5f001c;
  --md-sys-color-error-container: #fd6f85;
  --md-sys-color-on-error-container: #000000;
}

