.light {
  --md-sys-color-primary-palette-key-color: #9146ff;
  --md-sys-color-secondary-palette-key-color: #8766bf;
  --md-sys-color-tertiary-palette-key-color: #b06000;
  --md-sys-color-neutral-palette-key-color: #7b7481;
  --md-sys-color-neutral-variant-palette-key-color: #7c7386;
  --md-sys-color-error-palette-key-color: #de3730;
  --md-sys-color-background: #fef7ff;
  --md-sys-color-on-background: #35303c;
  --md-sys-color-surface: #fef7ff;
  --md-sys-color-surface-dim: #e0d7e6;
  --md-sys-color-surface-bright: #fef7ff;
  --md-sys-color-surface-container-lowest: #ffffff;
  --md-sys-color-surface-container-low: #faf0ff;
  --md-sys-color-surface-container: #f4ebfa;
  --md-sys-color-surface-container-high: #eee5f4;
  --md-sys-color-surface-container-highest: #e8dfee;
  --md-sys-color-on-surface: #35303c;
  --md-sys-color-surface-variant: #e8dfee;
  --md-sys-color-on-surface-variant: #635d69;
  --md-sys-color-inverse-surface: #100c16;
  --md-sys-color-inverse-on-surface: #a29aa8;
  --md-sys-color-outline: #7f7885;
  --md-sys-color-outline-variant: #b7afbd;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #7a27e8;
  --md-sys-color-primary: #7a27e8;
  --md-sys-color-primary-dim: #6e09dc;
  --md-sys-color-on-primary: #fef7ff;
  --md-sys-color-primary-container: #b68aff;
  --md-sys-color-on-primary-container: #300069;
  --md-sys-color-inverse-primary: #a974ff;
  --md-sys-color-primary-fixed: #b68aff;
  --md-sys-color-primary-fixed-dim: #ab78ff;
  --md-sys-color-on-primary-fixed: #000000;
  --md-sys-color-on-primary-fixed-variant: #3c0080;
  --md-sys-color-secondary: #6f4da5;
  --md-sys-color-secondary-dim: #624197;
  --md-sys-color-on-secondary: #fef7ff;
  --md-sys-color-secondary-container: #ecdcff;
  --md-sys-color-on-secondary-container: #614096;
  --md-sys-color-secondary-fixed: #ecdcff;
  --md-sys-color-secondary-fixed-dim: #e0cbff;
  --md-sys-color-on-secondary-fixed: #4d2c82;
  --md-sys-color-on-secondary-fixed-variant: #6b4aa1;
  --md-sys-color-tertiary: #914e00;
  --md-sys-color-tertiary-dim: #7f4400;
  --md-sys-color-on-tertiary: #fff7f4;
  --md-sys-color-tertiary-container: #ff9730;
  --md-sys-color-on-tertiary-container: #4d2700;
  --md-sys-color-tertiary-fixed: #ff9730;
  --md-sys-color-tertiary-fixed-dim: #f0891b;
  --md-sys-color-on-tertiary-fixed: #291200;
  --md-sys-color-on-tertiary-fixed-variant: #5a2e00;
  --md-sys-color-error: #bb1b1b;
  --md-sys-color-error-dim: #a90810;
  --md-sys-color-on-error: #fff7f6;
  --md-sys-color-error-container: #fe4e44;
  --md-sys-color-on-error-container: #570003;
}

.light-medium-contrast {
  --md-sys-color-primary-palette-key-color: #9146ff;
  --md-sys-color-secondary-palette-key-color: #8766bf;
  --md-sys-color-tertiary-palette-key-color: #b06000;
  --md-sys-color-neutral-palette-key-color: #7b7481;
  --md-sys-color-neutral-variant-palette-key-color: #7c7386;
  --md-sys-color-error-palette-key-color: #de3730;
  --md-sys-color-background: #fef7ff;
  --md-sys-color-on-background: #26222d;
  --md-sys-color-surface: #fef7ff;
  --md-sys-color-surface-dim: #e0d7e6;
  --md-sys-color-surface-bright: #fef7ff;
  --md-sys-color-surface-container-lowest: #ffffff;
  --md-sys-color-surface-container-low: #faf0ff;
  --md-sys-color-surface-container: #f4ebfa;
  --md-sys-color-surface-container-high: #eee5f4;
  --md-sys-color-surface-container-highest: #e8dfee;
  --md-sys-color-on-surface: #26222d;
  --md-sys-color-surface-variant: #e8dfee;
  --md-sys-color-on-surface-variant: #46414c;
  --md-sys-color-inverse-surface: #100c16;
  --md-sys-color-inverse-on-surface: #cac2d0;
  --md-sys-color-outline: #635d69;
  --md-sys-color-outline-variant: #7f7885;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #5900b7;
  --md-sys-color-primary: #5900b7;
  --md-sys-color-primary-dim: #4b009c;
  --md-sys-color-on-primary: #e5d2ff;
  --md-sys-color-primary-container: #9146ff;
  --md-sys-color-on-primary-container: #ffffff;
  --md-sys-color-inverse-primary: #b385ff;
  --md-sys-color-primary-fixed: #9146ff;
  --md-sys-color-primary-fixed-dim: #8435f2;
  --md-sys-color-on-primary-fixed: #ffffff;
  --md-sys-color-on-primary-fixed-variant: #ffffff;
  --md-sys-color-secondary: #513086;
  --md-sys-color-secondary-dim: #45237a;
  --md-sys-color-on-secondary: #e5d2ff;
  --md-sys-color-secondary-container: #8563bc;
  --md-sys-color-on-secondary-container: #ffffff;
  --md-sys-color-secondary-fixed: #8563bc;
  --md-sys-color-secondary-fixed-dim: #7857ae;
  --md-sys-color-on-secondary-fixed: #ffffff;
  --md-sys-color-on-secondary-fixed-variant: #ffffff;
  --md-sys-color-tertiary: #683600;
  --md-sys-color-tertiary-dim: #572d00;
  --md-sys-color-on-tertiary: #ffd1ad;
  --md-sys-color-tertiary-container: #b06000;
  --md-sys-color-on-tertiary-container: #ffffff;
  --md-sys-color-tertiary-fixed: #b06000;
  --md-sys-color-tertiary-fixed-dim: #9e5600;
  --md-sys-color-on-tertiary-fixed: #ffffff;
  --md-sys-color-on-tertiary-fixed-variant: #ffffff;
  --md-sys-color-error: #8c0009;
  --md-sys-color-error-dim: #760006;
  --md-sys-color-on-error: #ffcec8;
  --md-sys-color-error-container: #da342e;
  --md-sys-color-on-error-container: #ffffff;
}

.light-high-contrast {
  --md-sys-color-primary-palette-key-color: #9146ff;
  --md-sys-color-secondary-palette-key-color: #8766bf;
  --md-sys-color-tertiary-palette-key-color: #b06000;
  --md-sys-color-neutral-palette-key-color: #7b7481;
  --md-sys-color-neutral-variant-palette-key-color: #7c7386;
  --md-sys-color-error-palette-key-color: #de3730;
  --md-sys-color-background: #fef7ff;
  --md-sys-color-on-background: #000000;
  --md-sys-color-surface: #fef7ff;
  --md-sys-color-surface-dim: #e0d7e6;
  --md-sys-color-surface-bright: #fef7ff;
  --md-sys-color-surface-container-lowest: #ffffff;
  --md-sys-color-surface-container-low: #faf0ff;
  --md-sys-color-surface-container: #f4ebfa;
  --md-sys-color-surface-container-high: #eee5f4;
  --md-sys-color-surface-container-highest: #e8dfee;
  --md-sys-color-on-surface: #000000;
  --md-sys-color-surface-variant: #e8dfee;
  --md-sys-color-on-surface-variant: #26222d;
  --md-sys-color-inverse-surface: #100c16;
  --md-sys-color-inverse-on-surface: #ffffff;
  --md-sys-color-outline: #46414c;
  --md-sys-color-outline-variant: #635d69;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #32006c;
  --md-sys-color-primary: #32006c;
  --md-sys-color-primary-dim: #250053;
  --md-sys-color-on-primary: #e5d2ff;
  --md-sys-color-primary-container: #7a27e8;
  --md-sys-color-on-primary-container: #ffffff;
  --md-sys-color-inverse-primary: #d4b8ff;
  --md-sys-color-primary-fixed: #7a27e8;
  --md-sys-color-primary-fixed-dim: #6e09dc;
  --md-sys-color-on-primary-fixed: #ffffff;
  --md-sys-color-on-primary-fixed-variant: #ffffff;
  --md-sys-color-secondary: #310765;
  --md-sys-color-secondary-dim: #250053;
  --md-sys-color-on-secondary: #e5d2ff;
  --md-sys-color-secondary-container: #6f4da5;
  --md-sys-color-on-secondary-container: #ffffff;
  --md-sys-color-secondary-fixed: #6f4da5;
  --md-sys-color-secondary-fixed-dim: #624197;
  --md-sys-color-on-secondary-fixed: #ffffff;
  --md-sys-color-on-secondary-fixed-variant: #ffffff;
  --md-sys-color-tertiary: #3b1c00;
  --md-sys-color-tertiary-dim: #2c1400;
  --md-sys-color-on-tertiary: #ffd1ae;
  --md-sys-color-tertiary-container: #914e00;
  --md-sys-color-on-tertiary-container: #ffffff;
  --md-sys-color-tertiary-fixed: #914e00;
  --md-sys-color-tertiary-fixed-dim: #7f4400;
  --md-sys-color-on-tertiary-fixed: #ffffff;
  --md-sys-color-on-tertiary-fixed-variant: #ffffff;
  --md-sys-color-error: #510003;
  --md-sys-color-error-dim: #3e0002;
  --md-sys-color-on-error: #ffcfc9;
  --md-sys-color-error-container: #bb1b1b;
  --md-sys-color-on-error-container: #ffffff;
}

.dark {
  --md-sys-color-primary-palette-key-color: #9146ff;
  --md-sys-color-secondary-palette-key-color: #8766bf;
  --md-sys-color-tertiary-palette-key-color: #b06000;
  --md-sys-color-neutral-palette-key-color: #7b7481;
  --md-sys-color-neutral-variant-palette-key-color: #7c7386;
  --md-sys-color-error-palette-key-color: #de3730;
  --md-sys-color-background: #100c16;
  --md-sys-color-on-background: #ebe2f1;
  --md-sys-color-surface: #100c16;
  --md-sys-color-surface-dim: #100c16;
  --md-sys-color-surface-bright: #2f2a35;
  --md-sys-color-surface-container-lowest: #000000;
  --md-sys-color-surface-container-low: #16121c;
  --md-sys-color-surface-container: #1c1822;
  --md-sys-color-surface-container-high: #221e28;
  --md-sys-color-surface-container-highest: #28242f;
  --md-sys-color-on-surface: #ebe2f1;
  --md-sys-color-surface-variant: #28242f;
  --md-sys-color-on-surface-variant: #b0a8b6;
  --md-sys-color-inverse-surface: #fef7ff;
  --md-sys-color-inverse-on-surface: #58535f;
  --md-sys-color-outline: #797380;
  --md-sys-color-outline-variant: #4b4652;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #c19cff;
  --md-sys-color-primary: #c19cff;
  --md-sys-color-primary-dim: #9146ff;
  --md-sys-color-on-primary: #3f0085;
  --md-sys-color-primary-container: #b68aff;
  --md-sys-color-on-primary-container: #300069;
  --md-sys-color-inverse-primary: #7a27e8;
  --md-sys-color-primary-fixed: #b68aff;
  --md-sys-color-primary-fixed-dim: #ab78ff;
  --md-sys-color-on-primary-fixed: #000000;
  --md-sys-color-on-primary-fixed-variant: #3c0080;
  --md-sys-color-secondary: #d5baff;
  --md-sys-color-secondary-dim: #c39ffd;
  --md-sys-color-on-secondary: #4e2d83;
  --md-sys-color-secondary-container: #49287e;
  --md-sys-color-on-secondary-container: #cfb1ff;
  --md-sys-color-secondary-fixed: #ecdcff;
  --md-sys-color-secondary-fixed-dim: #e0cbff;
  --md-sys-color-on-secondary-fixed: #4d2c82;
  --md-sys-color-on-secondary-fixed-variant: #6b4aa1;
  --md-sys-color-tertiary: #ffa85a;
  --md-sys-color-tertiary-dim: #fe9427;
  --md-sys-color-on-tertiary: #592e00;
  --md-sys-color-tertiary-container: #fe9427;
  --md-sys-color-on-tertiary-container: #4a2500;
  --md-sys-color-tertiary-fixed: #ff9730;
  --md-sys-color-tertiary-fixed-dim: #f0891b;
  --md-sys-color-on-tertiary-fixed: #291200;
  --md-sys-color-on-tertiary-fixed-variant: #5a2e00;
  --md-sys-color-error: #ff7164;
  --md-sys-color-error-dim: #da342e;
  --md-sys-color-on-error: #4a0002;
  --md-sys-color-error-container: #ac0c12;
  --md-sys-color-on-error-container: #ffb8b0;
}

.dark-medium-contrast {
  --md-sys-color-primary-palette-key-color: #9146ff;
  --md-sys-color-secondary-palette-key-color: #8766bf;
  --md-sys-color-tertiary-palette-key-color: #b06000;
  --md-sys-color-neutral-palette-key-color: #7b7481;
  --md-sys-color-neutral-variant-palette-key-color: #7c7386;
  --md-sys-color-error-palette-key-color: #de3730;
  --md-sys-color-background: #100c16;
  --md-sys-color-on-background: #ffffff;
  --md-sys-color-surface: #100c16;
  --md-sys-color-surface-dim: #100c16;
  --md-sys-color-surface-bright: #2f2a35;
  --md-sys-color-surface-container-lowest: #000000;
  --md-sys-color-surface-container-low: #16121c;
  --md-sys-color-surface-container: #1c1822;
  --md-sys-color-surface-container-high: #221e28;
  --md-sys-color-surface-container-highest: #28242f;
  --md-sys-color-on-surface: #ffffff;
  --md-sys-color-surface-variant: #28242f;
  --md-sys-color-on-surface-variant: #beb6c4;
  --md-sys-color-inverse-surface: #fef7ff;
  --md-sys-color-inverse-on-surface: #3b3642;
  --md-sys-color-outline: #98919e;
  --md-sys-color-outline-variant: #797380;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #caa9ff;
  --md-sys-color-primary: #caa9ff;
  --md-sys-color-primary-dim: #be97ff;
  --md-sys-color-on-primary: #3c0080;
  --md-sys-color-primary-container: #b68aff;
  --md-sys-color-on-primary-container: #1e0046;
  --md-sys-color-inverse-primary: #7010de;
  --md-sys-color-primary-fixed: #b68aff;
  --md-sys-color-primary-fixed-dim: #ab78ff;
  --md-sys-color-on-primary-fixed: #000000;
  --md-sys-color-on-primary-fixed-variant: #000000;
  --md-sys-color-secondary: #d5baff;
  --md-sys-color-secondary-dim: #c39ffd;
  --md-sys-color-on-secondary: #442178;
  --md-sys-color-secondary-container: #8563bc;
  --md-sys-color-on-secondary-container: #ffffff;
  --md-sys-color-secondary-fixed: #ecdcff;
  --md-sys-color-secondary-fixed-dim: #e0cbff;
  --md-sys-color-on-secondary-fixed: #2c0061;
  --md-sys-color-on-secondary-fixed-variant: #4d2c82;
  --md-sys-color-tertiary: #ffa85a;
  --md-sys-color-tertiary-dim: #fe9427;
  --md-sys-color-on-tertiary: #4a2500;
  --md-sys-color-tertiary-container: #fe9427;
  --md-sys-color-on-tertiary-container: #391b00;
  --md-sys-color-tertiary-fixed: #ff9730;
  --md-sys-color-tertiary-fixed-dim: #f0891b;
  --md-sys-color-on-tertiary-fixed: #000000;
  --md-sys-color-on-tertiary-fixed-variant: #291200;
  --md-sys-color-error: #ff9f94;
  --md-sys-color-error-dim: #ff887c;
  --md-sys-color-on-error: #600004;
  --md-sys-color-error-container: #da342e;
  --md-sys-color-on-error-container: #ffffff;
}

.dark-high-contrast {
  --md-sys-color-primary-palette-key-color: #9146ff;
  --md-sys-color-secondary-palette-key-color: #8766bf;
  --md-sys-color-tertiary-palette-key-color: #b06000;
  --md-sys-color-neutral-palette-key-color: #7b7481;
  --md-sys-color-neutral-variant-palette-key-color: #7c7386;
  --md-sys-color-error-palette-key-color: #de3730;
  --md-sys-color-background: #100c16;
  --md-sys-color-on-background: #ffffff;
  --md-sys-color-surface: #100c16;
  --md-sys-color-surface-dim: #100c16;
  --md-sys-color-surface-bright: #2f2a35;
  --md-sys-color-surface-container-lowest: #000000;
  --md-sys-color-surface-container-low: #16121c;
  --md-sys-color-surface-container: #1c1822;
  --md-sys-color-surface-container-high: #221e28;
  --md-sys-color-surface-container-highest: #28242f;
  --md-sys-color-on-surface: #ffffff;
  --md-sys-color-surface-variant: #28242f;
  --md-sys-color-on-surface-variant: #ebe2f1;
  --md-sys-color-inverse-surface: #fef7ff;
  --md-sys-color-inverse-on-surface: #000000;
  --md-sys-color-outline: #beb6c4;
  --md-sys-color-outline-variant: #98919e;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #eee0ff;
  --md-sys-color-primary: #eee0ff;
  --md-sys-color-primary-dim: #e1ccff;
  --md-sys-color-on-primary: #3c007f;
  --md-sys-color-primary-container: #b68aff;
  --md-sys-color-on-primary-container: #000000;
  --md-sys-color-inverse-primary: #4c009d;
  --md-sys-color-primary-fixed: #b68aff;
  --md-sys-color-primary-fixed-dim: #ab78ff;
  --md-sys-color-on-primary-fixed: #000000;
  --md-sys-color-on-primary-fixed-variant: #000000;
  --md-sys-color-secondary: #eee0ff;
  --md-sys-color-secondary-dim: #e1ccff;
  --md-sys-color-on-secondary: #39156d;
  --md-sys-color-secondary-container: #b08de9;
  --md-sys-color-on-secondary-container: #000000;
  --md-sys-color-secondary-fixed: #ecdcff;
  --md-sys-color-secondary-fixed-dim: #e0cbff;
  --md-sys-color-on-secondary-fixed: #000000;
  --md-sys-color-on-secondary-fixed-variant: #2c0061;
  --md-sys-color-tertiary: #ffe0c9;
  --md-sys-color-tertiary-dim: #ffcaa1;
  --md-sys-color-on-tertiary: #462300;
  --md-sys-color-tertiary-container: #fe9427;
  --md-sys-color-on-tertiary-container: #000000;
  --md-sys-color-tertiary-fixed: #ff9730;
  --md-sys-color-tertiary-fixed-dim: #f0891b;
  --md-sys-color-on-tertiary-fixed: #000000;
  --md-sys-color-on-tertiary-fixed-variant: #000000;
  --md-sys-color-error: #ffdeda;
  --md-sys-color-error-dim: #ffc8c1;
  --md-sys-color-on-error: #600004;
  --md-sys-color-error-container: #ff7164;
  --md-sys-color-on-error-container: #000000;
}

