.light {
  --md-sys-color-primary-palette-key-color: #9146ff;
  --md-sys-color-secondary-palette-key-color: #8766bf;
  --md-sys-color-tertiary-palette-key-color: #b06000;
  --md-sys-color-neutral-palette-key-color: #7b7481;
  --md-sys-color-neutral-variant-palette-key-color: #7c7386;
  --md-sys-color-error-palette-key-color: #de3730;
  --md-sys-color-background: #16121c;
  --md-sys-color-on-background: #e8dfee;
  --md-sys-color-surface: #16121c;
  --md-sys-color-surface-dim: #16121c;
  --md-sys-color-surface-bright: #3c3743;
  --md-sys-color-surface-container-lowest: #100c16;
  --md-sys-color-surface-container-low: #1e1a24;
  --md-sys-color-surface-container: #221e28;
  --md-sys-color-surface-container-high: #2d2833;
  --md-sys-color-surface-container-highest: #38333e;
  --md-sys-color-on-surface: #e8dfee;
  --md-sys-color-surface-variant: #4b4455;
  --md-sys-color-on-surface-variant: #cdc2d8;
  --md-sys-color-inverse-surface: #e8dfee;
  --md-sys-color-inverse-on-surface: #332e3a;
  --md-sys-color-outline: #968da1;
  --md-sys-color-outline-variant: #4b4455;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #d5baff;
  --md-sys-color-primary: #d5baff;
  --md-sys-color-primary-dim: #e0cbff;
  --md-sys-color-on-primary: #42008a;
  --md-sys-color-primary-container: #ecdcff;
  --md-sys-color-on-primary-container: #8030ee;
  --md-sys-color-inverse-primary: #7a26e7;
  --md-sys-color-primary-fixed: #ecdcff;
  --md-sys-color-primary-fixed-dim: #d5baff;
  --md-sys-color-on-primary-fixed: #270057;
  --md-sys-color-on-primary-fixed-variant: #5e00c1;
  --md-sys-color-secondary: #d5baff;
  --md-sys-color-secondary-dim: #e0cbff;
  --md-sys-color-on-secondary: #3e1a72;
  --md-sys-color-secondary-container: #ecdcff;
  --md-sys-color-on-secondary-container: #7453aa;
  --md-sys-color-secondary-fixed: #ecdcff;
  --md-sys-color-secondary-fixed-dim: #d5baff;
  --md-sys-color-on-secondary-fixed: #270057;
  --md-sys-color-on-secondary-fixed-variant: #55348a;
  --md-sys-color-tertiary: #ffb77c;
  --md-sys-color-tertiary-dim: #ffcaa0;
  --md-sys-color-on-tertiary: #4d2700;
  --md-sys-color-tertiary-container: #ffdcc2;
  --md-sys-color-on-tertiary-container: #985200;
  --md-sys-color-tertiary-fixed: #ffdcc2;
  --md-sys-color-tertiary-fixed-dim: #ffb77c;
  --md-sys-color-on-tertiary-fixed: #2e1500;
  --md-sys-color-on-tertiary-fixed-variant: #6d3900;
  --md-sys-color-error: #ffb4ab;
  --md-sys-color-error-dim: #ffc7c0;
  --md-sys-color-on-error: #690005;
  --md-sys-color-error-container: #ffdad6;
  --md-sys-color-on-error-container: #c32220;
}

.light-medium-contrast {
  --md-sys-color-primary-palette-key-color: #9146ff;
  --md-sys-color-secondary-palette-key-color: #8766bf;
  --md-sys-color-tertiary-palette-key-color: #b06000;
  --md-sys-color-neutral-palette-key-color: #7b7481;
  --md-sys-color-neutral-variant-palette-key-color: #7c7386;
  --md-sys-color-error-palette-key-color: #de3730;
  --md-sys-color-background: #16121c;
  --md-sys-color-on-background: #e8dfee;
  --md-sys-color-surface: #16121c;
  --md-sys-color-surface-dim: #16121c;
  --md-sys-color-surface-bright: #48424e;
  --md-sys-color-surface-container-lowest: #09060f;
  --md-sys-color-surface-container-low: #201c26;
  --md-sys-color-surface-container: #2a2631;
  --md-sys-color-surface-container-high: #35303c;
  --md-sys-color-surface-container-highest: #413b47;
  --md-sys-color-on-surface: #ffffff;
  --md-sys-color-surface-variant: #4b4455;
  --md-sys-color-on-surface-variant: #e3d8ee;
  --md-sys-color-inverse-surface: #e8dfee;
  --md-sys-color-inverse-on-surface: #2d2833;
  --md-sys-color-outline: #b8aec3;
  --md-sys-color-outline-variant: #968da1;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #d5baff;
  --md-sys-color-primary: #e7d5ff;
  --md-sys-color-primary-dim: #e0cbff;
  --md-sys-color-on-primary: #340070;
  --md-sys-color-primary-container: #fef6ff;
  --md-sys-color-on-primary-container: #6f10dd;
  --md-sys-color-inverse-primary: #6000c3;
  --md-sys-color-primary-fixed: #ecdcff;
  --md-sys-color-primary-fixed-dim: #d5baff;
  --md-sys-color-on-primary-fixed: #1a003e;
  --md-sys-color-on-primary-fixed-variant: #490098;
  --md-sys-color-secondary: #e7d5ff;
  --md-sys-color-secondary-dim: #e0cbff;
  --md-sys-color-on-secondary: #330a67;
  --md-sys-color-secondary-container: #fef6ff;
  --md-sys-color-on-secondary-container: #644399;
  --md-sys-color-secondary-fixed: #ecdcff;
  --md-sys-color-secondary-fixed-dim: #d5baff;
  --md-sys-color-on-secondary-fixed: #1a003e;
  --md-sys-color-on-secondary-fixed-variant: #442178;
  --md-sys-color-tertiary: #ffd4b4;
  --md-sys-color-tertiary-dim: #ffcaa0;
  --md-sys-color-on-tertiary: #3d1e00;
  --md-sys-color-tertiary-container: #fff7f4;
  --md-sys-color-on-tertiary-container: #824500;
  --md-sys-color-tertiary-fixed: #ffdcc2;
  --md-sys-color-tertiary-fixed-dim: #ffb77c;
  --md-sys-color-on-tertiary-fixed: #1f0c00;
  --md-sys-color-on-tertiary-fixed-variant: #552b00;
  --md-sys-color-error: #ffd2cc;
  --md-sys-color-error-dim: #ffc7c0;
  --md-sys-color-on-error: #540003;
  --md-sys-color-error-container: #fff7f6;
  --md-sys-color-on-error-container: #ab0b12;
}

.light-high-contrast {
  --md-sys-color-primary-palette-key-color: #9146ff;
  --md-sys-color-secondary-palette-key-color: #8766bf;
  --md-sys-color-tertiary-palette-key-color: #b06000;
  --md-sys-color-neutral-palette-key-color: #7b7481;
  --md-sys-color-neutral-variant-palette-key-color: #7c7386;
  --md-sys-color-error-palette-key-color: #de3730;
  --md-sys-color-background: #16121c;
  --md-sys-color-on-background: #e8dfee;
  --md-sys-color-surface: #16121c;
  --md-sys-color-surface-dim: #16121c;
  --md-sys-color-surface-bright: #534e5a;
  --md-sys-color-surface-container-lowest: #000000;
  --md-sys-color-surface-container-low: #221e28;
  --md-sys-color-surface-container: #332e3a;
  --md-sys-color-surface-container-high: #3e3945;
  --md-sys-color-surface-container-highest: #4a4550;
  --md-sys-color-on-surface: #ffffff;
  --md-sys-color-surface-variant: #4b4455;
  --md-sys-color-on-surface-variant: #ffffff;
  --md-sys-color-inverse-surface: #e8dfee;
  --md-sys-color-inverse-on-surface: #000000;
  --md-sys-color-outline: #f7ecff;
  --md-sys-color-outline-variant: #c9bed4;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #d5baff;
  --md-sys-color-primary: #ecdcff;
  --md-sys-color-primary-dim: #fffeff;
  --md-sys-color-on-primary: #000000;
  --md-sys-color-primary-container: #ffffff;
  --md-sys-color-on-primary-container: #5000a5;
  --md-sys-color-inverse-primary: #6000c3;
  --md-sys-color-primary-fixed: #ecdcff;
  --md-sys-color-primary-fixed-dim: #d5baff;
  --md-sys-color-on-primary-fixed: #000000;
  --md-sys-color-on-primary-fixed-variant: #1a003e;
  --md-sys-color-secondary: #ecdcff;
  --md-sys-color-secondary-dim: #fffeff;
  --md-sys-color-on-secondary: #000000;
  --md-sys-color-secondary-container: #ffffff;
  --md-sys-color-on-secondary-container: #49287e;
  --md-sys-color-secondary-fixed: #ecdcff;
  --md-sys-color-secondary-fixed-dim: #d5baff;
  --md-sys-color-on-secondary-fixed: #000000;
  --md-sys-color-on-secondary-fixed-variant: #1a003e;
  --md-sys-color-tertiary: #ffdcc2;
  --md-sys-color-tertiary-dim: #fffeff;
  --md-sys-color-on-tertiary: #000000;
  --md-sys-color-tertiary-container: #ffffff;
  --md-sys-color-on-tertiary-container: #5d3000;
  --md-sys-color-tertiary-fixed: #ffdcc2;
  --md-sys-color-tertiary-fixed-dim: #ffb77c;
  --md-sys-color-on-tertiary-fixed: #000000;
  --md-sys-color-on-tertiary-fixed-variant: #1f0c00;
  --md-sys-color-error: #ffdad6;
  --md-sys-color-error-dim: #fffeff;
  --md-sys-color-on-error: #000000;
  --md-sys-color-error-container: #ffffff;
  --md-sys-color-on-error-container: #7e0007;
}

.dark {
  --md-sys-color-primary-palette-key-color: #9146ff;
  --md-sys-color-secondary-palette-key-color: #8766bf;
  --md-sys-color-tertiary-palette-key-color: #b06000;
  --md-sys-color-neutral-palette-key-color: #7b7481;
  --md-sys-color-neutral-variant-palette-key-color: #7c7386;
  --md-sys-color-error-palette-key-color: #de3730;
  --md-sys-color-background: #16121c;
  --md-sys-color-on-background: #e8dfee;
  --md-sys-color-surface: #16121c;
  --md-sys-color-surface-dim: #16121c;
  --md-sys-color-surface-bright: #3c3743;
  --md-sys-color-surface-container-lowest: #100c16;
  --md-sys-color-surface-container-low: #1e1a24;
  --md-sys-color-surface-container: #221e28;
  --md-sys-color-surface-container-high: #2d2833;
  --md-sys-color-surface-container-highest: #38333e;
  --md-sys-color-on-surface: #e8dfee;
  --md-sys-color-surface-variant: #4b4455;
  --md-sys-color-on-surface-variant: #cdc2d8;
  --md-sys-color-inverse-surface: #e8dfee;
  --md-sys-color-inverse-on-surface: #332e3a;
  --md-sys-color-outline: #968da1;
  --md-sys-color-outline-variant: #4b4455;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #d5baff;
  --md-sys-color-primary: #d5baff;
  --md-sys-color-primary-dim: #e0cbff;
  --md-sys-color-on-primary: #42008a;
  --md-sys-color-primary-container: #ecdcff;
  --md-sys-color-on-primary-container: #8030ee;
  --md-sys-color-inverse-primary: #7a26e7;
  --md-sys-color-primary-fixed: #ecdcff;
  --md-sys-color-primary-fixed-dim: #d5baff;
  --md-sys-color-on-primary-fixed: #270057;
  --md-sys-color-on-primary-fixed-variant: #5e00c1;
  --md-sys-color-secondary: #d5baff;
  --md-sys-color-secondary-dim: #e0cbff;
  --md-sys-color-on-secondary: #3e1a72;
  --md-sys-color-secondary-container: #ecdcff;
  --md-sys-color-on-secondary-container: #7453aa;
  --md-sys-color-secondary-fixed: #ecdcff;
  --md-sys-color-secondary-fixed-dim: #d5baff;
  --md-sys-color-on-secondary-fixed: #270057;
  --md-sys-color-on-secondary-fixed-variant: #55348a;
  --md-sys-color-tertiary: #ffb77c;
  --md-sys-color-tertiary-dim: #ffcaa0;
  --md-sys-color-on-tertiary: #4d2700;
  --md-sys-color-tertiary-container: #ffdcc2;
  --md-sys-color-on-tertiary-container: #985200;
  --md-sys-color-tertiary-fixed: #ffdcc2;
  --md-sys-color-tertiary-fixed-dim: #ffb77c;
  --md-sys-color-on-tertiary-fixed: #2e1500;
  --md-sys-color-on-tertiary-fixed-variant: #6d3900;
  --md-sys-color-error: #ffb4ab;
  --md-sys-color-error-dim: #ffc7c0;
  --md-sys-color-on-error: #690005;
  --md-sys-color-error-container: #ffdad6;
  --md-sys-color-on-error-container: #c32220;
}

.dark-medium-contrast {
  --md-sys-color-primary-palette-key-color: #9146ff;
  --md-sys-color-secondary-palette-key-color: #8766bf;
  --md-sys-color-tertiary-palette-key-color: #b06000;
  --md-sys-color-neutral-palette-key-color: #7b7481;
  --md-sys-color-neutral-variant-palette-key-color: #7c7386;
  --md-sys-color-error-palette-key-color: #de3730;
  --md-sys-color-background: #16121c;
  --md-sys-color-on-background: #e8dfee;
  --md-sys-color-surface: #16121c;
  --md-sys-color-surface-dim: #16121c;
  --md-sys-color-surface-bright: #48424e;
  --md-sys-color-surface-container-lowest: #09060f;
  --md-sys-color-surface-container-low: #201c26;
  --md-sys-color-surface-container: #2a2631;
  --md-sys-color-surface-container-high: #35303c;
  --md-sys-color-surface-container-highest: #413b47;
  --md-sys-color-on-surface: #ffffff;
  --md-sys-color-surface-variant: #4b4455;
  --md-sys-color-on-surface-variant: #e3d8ee;
  --md-sys-color-inverse-surface: #e8dfee;
  --md-sys-color-inverse-on-surface: #2d2833;
  --md-sys-color-outline: #b8aec3;
  --md-sys-color-outline-variant: #968da1;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #d5baff;
  --md-sys-color-primary: #e7d5ff;
  --md-sys-color-primary-dim: #e0cbff;
  --md-sys-color-on-primary: #340070;
  --md-sys-color-primary-container: #fef6ff;
  --md-sys-color-on-primary-container: #6f10dd;
  --md-sys-color-inverse-primary: #6000c3;
  --md-sys-color-primary-fixed: #ecdcff;
  --md-sys-color-primary-fixed-dim: #d5baff;
  --md-sys-color-on-primary-fixed: #1a003e;
  --md-sys-color-on-primary-fixed-variant: #490098;
  --md-sys-color-secondary: #e7d5ff;
  --md-sys-color-secondary-dim: #e0cbff;
  --md-sys-color-on-secondary: #330a67;
  --md-sys-color-secondary-container: #fef6ff;
  --md-sys-color-on-secondary-container: #644399;
  --md-sys-color-secondary-fixed: #ecdcff;
  --md-sys-color-secondary-fixed-dim: #d5baff;
  --md-sys-color-on-secondary-fixed: #1a003e;
  --md-sys-color-on-secondary-fixed-variant: #442178;
  --md-sys-color-tertiary: #ffd4b4;
  --md-sys-color-tertiary-dim: #ffcaa0;
  --md-sys-color-on-tertiary: #3d1e00;
  --md-sys-color-tertiary-container: #fff7f4;
  --md-sys-color-on-tertiary-container: #824500;
  --md-sys-color-tertiary-fixed: #ffdcc2;
  --md-sys-color-tertiary-fixed-dim: #ffb77c;
  --md-sys-color-on-tertiary-fixed: #1f0c00;
  --md-sys-color-on-tertiary-fixed-variant: #552b00;
  --md-sys-color-error: #ffd2cc;
  --md-sys-color-error-dim: #ffc7c0;
  --md-sys-color-on-error: #540003;
  --md-sys-color-error-container: #fff7f6;
  --md-sys-color-on-error-container: #ab0b12;
}

.dark-high-contrast {
  --md-sys-color-primary-palette-key-color: #9146ff;
  --md-sys-color-secondary-palette-key-color: #8766bf;
  --md-sys-color-tertiary-palette-key-color: #b06000;
  --md-sys-color-neutral-palette-key-color: #7b7481;
  --md-sys-color-neutral-variant-palette-key-color: #7c7386;
  --md-sys-color-error-palette-key-color: #de3730;
  --md-sys-color-background: #16121c;
  --md-sys-color-on-background: #e8dfee;
  --md-sys-color-surface: #16121c;
  --md-sys-color-surface-dim: #16121c;
  --md-sys-color-surface-bright: #534e5a;
  --md-sys-color-surface-container-lowest: #000000;
  --md-sys-color-surface-container-low: #221e28;
  --md-sys-color-surface-container: #332e3a;
  --md-sys-color-surface-container-high: #3e3945;
  --md-sys-color-surface-container-highest: #4a4550;
  --md-sys-color-on-surface: #ffffff;
  --md-sys-color-surface-variant: #4b4455;
  --md-sys-color-on-surface-variant: #ffffff;
  --md-sys-color-inverse-surface: #e8dfee;
  --md-sys-color-inverse-on-surface: #000000;
  --md-sys-color-outline: #f7ecff;
  --md-sys-color-outline-variant: #c9bed4;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #d5baff;
  --md-sys-color-primary: #ecdcff;
  --md-sys-color-primary-dim: #fffeff;
  --md-sys-color-on-primary: #000000;
  --md-sys-color-primary-container: #ffffff;
  --md-sys-color-on-primary-container: #5000a5;
  --md-sys-color-inverse-primary: #6000c3;
  --md-sys-color-primary-fixed: #ecdcff;
  --md-sys-color-primary-fixed-dim: #d5baff;
  --md-sys-color-on-primary-fixed: #000000;
  --md-sys-color-on-primary-fixed-variant: #1a003e;
  --md-sys-color-secondary: #ecdcff;
  --md-sys-color-secondary-dim: #fffeff;
  --md-sys-color-on-secondary: #000000;
  --md-sys-color-secondary-container: #ffffff;
  --md-sys-color-on-secondary-container: #49287e;
  --md-sys-color-secondary-fixed: #ecdcff;
  --md-sys-color-secondary-fixed-dim: #d5baff;
  --md-sys-color-on-secondary-fixed: #000000;
  --md-sys-color-on-secondary-fixed-variant: #1a003e;
  --md-sys-color-tertiary: #ffdcc2;
  --md-sys-color-tertiary-dim: #fffeff;
  --md-sys-color-on-tertiary: #000000;
  --md-sys-color-tertiary-container: #ffffff;
  --md-sys-color-on-tertiary-container: #5d3000;
  --md-sys-color-tertiary-fixed: #ffdcc2;
  --md-sys-color-tertiary-fixed-dim: #ffb77c;
  --md-sys-color-on-tertiary-fixed: #000000;
  --md-sys-color-on-tertiary-fixed-variant: #1f0c00;
  --md-sys-color-error: #ffdad6;
  --md-sys-color-error-dim: #fffeff;
  --md-sys-color-on-error: #000000;
  --md-sys-color-error-container: #ffffff;
  --md-sys-color-on-error-container: #7e0007;
}

