.light {
  --md-sys-color-primary-palette-key-color: #337abe;
  --md-sys-color-secondary-palette-key-color: #517aa9;
  --md-sys-color-tertiary-palette-key-color: #836ca7;
  --md-sys-color-neutral-palette-key-color: #7b7582;
  --md-sys-color-neutral-variant-palette-key-color: #7d7389;
  --md-sys-color-error-palette-key-color: #de3730;
  --md-sys-color-background: #fef7ff;
  --md-sys-color-on-background: #35303b;
  --md-sys-color-surface: #fef7ff;
  --md-sys-color-surface-dim: #e0d7e5;
  --md-sys-color-surface-bright: #fef7ff;
  --md-sys-color-surface-container-lowest: #ffffff;
  --md-sys-color-surface-container-low: #faf0ff;
  --md-sys-color-surface-container: #f4ebfa;
  --md-sys-color-surface-container-high: #eee5f4;
  --md-sys-color-surface-container-highest: #e8dfee;
  --md-sys-color-on-surface: #35303b;
  --md-sys-color-surface-variant: #e8dfee;
  --md-sys-color-on-surface-variant: #635d69;
  --md-sys-color-inverse-surface: #100c16;
  --md-sys-color-inverse-on-surface: #a29aa8;
  --md-sys-color-outline: #7f7885;
  --md-sys-color-outline-variant: #b7afbd;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #0862a4;
  --md-sys-color-primary: #0862a4;
  --md-sys-color-primary-dim: #005592;
  --md-sys-color-on-primary: #f7f9ff;
  --md-sys-color-primary-container: #74b5fd;
  --md-sys-color-on-primary-container: #003259;
  --md-sys-color-inverse-primary: #74b5fd;
  --md-sys-color-primary-fixed: #74b5fd;
  --md-sys-color-primary-fixed-dim: #66a7ee;
  --md-sys-color-on-primary-fixed: #001930;
  --md-sys-color-on-primary-fixed-variant: #003b68;
  --md-sys-color-secondary: #37618f;
  --md-sys-color-secondary-dim: #2a5582;
  --md-sys-color-on-secondary: #f7f9ff;
  --md-sys-color-secondary-container: #d2e4ff;
  --md-sys-color-on-secondary-container: #285481;
  --md-sys-color-secondary-fixed: #d2e4ff;
  --md-sys-color-secondary-fixed-dim: #b9d7ff;
  --md-sys-color-on-secondary-fixed: #0f416d;
  --md-sys-color-on-secondary-fixed-variant: #335e8b;
  --md-sys-color-tertiary: #6a548e;
  --md-sys-color-tertiary-dim: #5e4881;
  --md-sys-color-on-tertiary: #fef7ff;
  --md-sys-color-tertiary-container: #d5bbfc;
  --md-sys-color-on-tertiary-container: #4a356c;
  --md-sys-color-tertiary-fixed: #d5bbfc;
  --md-sys-color-tertiary-fixed-dim: #c6aded;
  --md-sys-color-on-tertiary-fixed: #352157;
  --md-sys-color-on-tertiary-fixed-variant: #533f76;
  --md-sys-color-error: #bb1b1b;
  --md-sys-color-error-dim: #a90810;
  --md-sys-color-on-error: #fff7f6;
  --md-sys-color-error-container: #fe4e44;
  --md-sys-color-on-error-container: #570003;
}

.light-medium-contrast {
  --md-sys-color-primary-palette-key-color: #337abe;
  --md-sys-color-secondary-palette-key-color: #517aa9;
  --md-sys-color-tertiary-palette-key-color: #836ca7;
  --md-sys-color-neutral-palette-key-color: #7b7582;
  --md-sys-color-neutral-variant-palette-key-color: #7d7389;
  --md-sys-color-error-palette-key-color: #de3730;
  --md-sys-color-background: #fef7ff;
  --md-sys-color-on-background: #26222d;
  --md-sys-color-surface: #fef7ff;
  --md-sys-color-surface-dim: #e0d7e5;
  --md-sys-color-surface-bright: #fef7ff;
  --md-sys-color-surface-container-lowest: #ffffff;
  --md-sys-color-surface-container-low: #faf0ff;
  --md-sys-color-surface-container: #f4ebfa;
  --md-sys-color-surface-container-high: #eee5f4;
  --md-sys-color-surface-container-highest: #e8dfee;
  --md-sys-color-on-surface: #26222d;
  --md-sys-color-surface-variant: #e8dfee;
  --md-sys-color-on-surface-variant: #46414c;
  --md-sys-color-inverse-surface: #100c16;
  --md-sys-color-inverse-on-surface: #cac2d0;
  --md-sys-color-outline: #635d69;
  --md-sys-color-outline-variant: #7f7885;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #004577;
  --md-sys-color-primary: #004577;
  --md-sys-color-primary-dim: #003965;
  --md-sys-color-on-primary: #c2dcff;
  --md-sys-color-primary-container: #3078bc;
  --md-sys-color-on-primary-container: #ffffff;
  --md-sys-color-inverse-primary: #74b5fd;
  --md-sys-color-primary-fixed: #3078bc;
  --md-sys-color-primary-fixed-dim: #1d6bae;
  --md-sys-color-on-primary-fixed: #ffffff;
  --md-sys-color-on-primary-fixed-variant: #ffffff;
  --md-sys-color-secondary: #144571;
  --md-sys-color-secondary-dim: #003965;
  --md-sys-color-on-secondary: #c2dcff;
  --md-sys-color-secondary-container: #4e77a6;
  --md-sys-color-on-secondary-container: #ffffff;
  --md-sys-color-secondary-fixed: #4e77a6;
  --md-sys-color-secondary-fixed-dim: #416b99;
  --md-sys-color-on-secondary-fixed: #ffffff;
  --md-sys-color-on-secondary-fixed-variant: #ffffff;
  --md-sys-color-tertiary: #4d386f;
  --md-sys-color-tertiary-dim: #412d63;
  --md-sys-color-on-tertiary: #e5d2ff;
  --md-sys-color-tertiary-container: #806aa5;
  --md-sys-color-on-tertiary-container: #ffffff;
  --md-sys-color-tertiary-fixed: #806aa5;
  --md-sys-color-tertiary-fixed-dim: #735d97;
  --md-sys-color-on-tertiary-fixed: #ffffff;
  --md-sys-color-on-tertiary-fixed-variant: #ffffff;
  --md-sys-color-error: #8c0009;
  --md-sys-color-error-dim: #760006;
  --md-sys-color-on-error: #ffcec8;
  --md-sys-color-error-container: #da342e;
  --md-sys-color-on-error-container: #ffffff;
}

.light-high-contrast {
  --md-sys-color-primary-palette-key-color: #337abe;
  --md-sys-color-secondary-palette-key-color: #517aa9;
  --md-sys-color-tertiary-palette-key-color: #836ca7;
  --md-sys-color-neutral-palette-key-color: #7b7582;
  --md-sys-color-neutral-variant-palette-key-color: #7d7389;
  --md-sys-color-error-palette-key-color: #de3730;
  --md-sys-color-background: #fef7ff;
  --md-sys-color-on-background: #000000;
  --md-sys-color-surface: #fef7ff;
  --md-sys-color-surface-dim: #e0d7e5;
  --md-sys-color-surface-bright: #fef7ff;
  --md-sys-color-surface-container-lowest: #ffffff;
  --md-sys-color-surface-container-low: #faf0ff;
  --md-sys-color-surface-container: #f4ebfa;
  --md-sys-color-surface-container-high: #eee5f4;
  --md-sys-color-surface-container-highest: #e8dfee;
  --md-sys-color-on-surface: #000000;
  --md-sys-color-surface-variant: #e8dfee;
  --md-sys-color-on-surface-variant: #26222d;
  --md-sys-color-inverse-surface: #100c16;
  --md-sys-color-inverse-on-surface: #ffffff;
  --md-sys-color-outline: #46414c;
  --md-sys-color-outline-variant: #635d69;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #002544;
  --md-sys-color-primary: #002544;
  --md-sys-color-primary-dim: #001b33;
  --md-sys-color-on-primary: #c3dcff;
  --md-sys-color-primary-container: #0862a4;
  --md-sys-color-on-primary-container: #ffffff;
  --md-sys-color-inverse-primary: #9cc8ff;
  --md-sys-color-primary-fixed: #0862a4;
  --md-sys-color-primary-fixed-dim: #005592;
  --md-sys-color-on-primary-fixed: #ffffff;
  --md-sys-color-on-primary-fixed-variant: #ffffff;
  --md-sys-color-secondary: #002544;
  --md-sys-color-secondary-dim: #001b33;
  --md-sys-color-on-secondary: #c3dcff;
  --md-sys-color-secondary-container: #37618f;
  --md-sys-color-on-secondary-container: #ffffff;
  --md-sys-color-secondary-fixed: #37618f;
  --md-sys-color-secondary-fixed-dim: #2a5582;
  --md-sys-color-on-secondary-fixed: #ffffff;
  --md-sys-color-on-secondary-fixed-variant: #ffffff;
  --md-sys-color-tertiary: #2d184e;
  --md-sys-color-tertiary-dim: #220c43;
  --md-sys-color-on-tertiary: #e5d2ff;
  --md-sys-color-tertiary-container: #6a548e;
  --md-sys-color-on-tertiary-container: #ffffff;
  --md-sys-color-tertiary-fixed: #6a548e;
  --md-sys-color-tertiary-fixed-dim: #5e4881;
  --md-sys-color-on-tertiary-fixed: #ffffff;
  --md-sys-color-on-tertiary-fixed-variant: #ffffff;
  --md-sys-color-error: #510003;
  --md-sys-color-error-dim: #3e0002;
  --md-sys-color-on-error: #ffcfc9;
  --md-sys-color-error-container: #bb1b1b;
  --md-sys-color-on-error-container: #ffffff;
}

.dark {
  --md-sys-color-primary-palette-key-color: #337abe;
  --md-sys-color-secondary-palette-key-color: #517aa9;
  --md-sys-color-tertiary-palette-key-color: #836ca7;
  --md-sys-color-neutral-palette-key-color: #7b7582;
  --md-sys-color-neutral-variant-palette-key-color: #7d7389;
  --md-sys-color-error-palette-key-color: #de3730;
  --md-sys-color-background: #100c16;
  --md-sys-color-on-background: #ebe2f1;
  --md-sys-color-surface: #100c16;
  --md-sys-color-surface-dim: #100c16;
  --md-sys-color-surface-bright: #2f2a35;
  --md-sys-color-surface-container-lowest: #000000;
  --md-sys-color-surface-container-low: #15121b;
  --md-sys-color-surface-container: #1c1822;
  --md-sys-color-surface-container-high: #221e28;
  --md-sys-color-surface-container-highest: #28242e;
  --md-sys-color-on-surface: #ebe2f1;
  --md-sys-color-surface-variant: #28242e;
  --md-sys-color-on-surface-variant: #b0a8b6;
  --md-sys-color-inverse-surface: #fef7ff;
  --md-sys-color-inverse-on-surface: #58535f;
  --md-sys-color-outline: #797380;
  --md-sys-color-outline-variant: #4b4651;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #74b5fd;
  --md-sys-color-primary: #74b5fd;
  --md-sys-color-primary-dim: #66a7ee;
  --md-sys-color-on-primary: #003259;
  --md-sys-color-primary-container: #63a4eb;
  --md-sys-color-on-primary-container: #002442;
  --md-sys-color-inverse-primary: #0862a4;
  --md-sys-color-primary-fixed: #74b5fd;
  --md-sys-color-primary-fixed-dim: #66a7ee;
  --md-sys-color-on-primary-fixed: #001930;
  --md-sys-color-on-primary-fixed-variant: #003b68;
  --md-sys-color-secondary: #a1cafd;
  --md-sys-color-secondary-dim: #93bcef;
  --md-sys-color-on-secondary: #10426e;
  --md-sys-color-secondary-container: #073d69;
  --md-sys-color-on-secondary-container: #9ac2f5;
  --md-sys-color-secondary-fixed: #d2e4ff;
  --md-sys-color-secondary-fixed-dim: #b9d7ff;
  --md-sys-color-on-secondary-fixed: #0f416d;
  --md-sys-color-on-secondary-fixed-variant: #335e8b;
  --md-sys-color-tertiary: #e0cbff;
  --md-sys-color-tertiary-dim: #d5bbfc;
  --md-sys-color-on-tertiary: #533e76;
  --md-sys-color-tertiary-container: #d5bbfc;
  --md-sys-color-on-tertiary-container: #4a356c;
  --md-sys-color-tertiary-fixed: #d5bbfc;
  --md-sys-color-tertiary-fixed-dim: #c6aded;
  --md-sys-color-on-tertiary-fixed: #352157;
  --md-sys-color-on-tertiary-fixed-variant: #533f76;
  --md-sys-color-error: #ff7164;
  --md-sys-color-error-dim: #da342e;
  --md-sys-color-on-error: #4a0002;
  --md-sys-color-error-container: #ac0c12;
  --md-sys-color-on-error-container: #ffb8b0;
}

.dark-medium-contrast {
  --md-sys-color-primary-palette-key-color: #337abe;
  --md-sys-color-secondary-palette-key-color: #517aa9;
  --md-sys-color-tertiary-palette-key-color: #836ca7;
  --md-sys-color-neutral-palette-key-color: #7b7582;
  --md-sys-color-neutral-variant-palette-key-color: #7d7389;
  --md-sys-color-error-palette-key-color: #de3730;
  --md-sys-color-background: #100c16;
  --md-sys-color-on-background: #ffffff;
  --md-sys-color-surface: #100c16;
  --md-sys-color-surface-dim: #100c16;
  --md-sys-color-surface-bright: #2f2a35;
  --md-sys-color-surface-container-lowest: #000000;
  --md-sys-color-surface-container-low: #15121b;
  --md-sys-color-surface-container: #1c1822;
  --md-sys-color-surface-container-high: #221e28;
  --md-sys-color-surface-container-highest: #28242e;
  --md-sys-color-on-surface: #ffffff;
  --md-sys-color-surface-variant: #28242e;
  --md-sys-color-on-surface-variant: #beb6c4;
  --md-sys-color-inverse-surface: #fef7ff;
  --md-sys-color-inverse-on-surface: #3b3641;
  --md-sys-color-outline: #98919e;
  --md-sys-color-outline-variant: #797380;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #83bcff;
  --md-sys-color-primary: #83bcff;
  --md-sys-color-primary-dim: #6faff7;
  --md-sys-color-on-primary: #002d52;
  --md-sys-color-primary-container: #63a4eb;
  --md-sys-color-on-primary-container: #00152b;
  --md-sys-color-inverse-primary: #005795;
  --md-sys-color-primary-fixed: #74b5fd;
  --md-sys-color-primary-fixed-dim: #66a7ee;
  --md-sys-color-on-primary-fixed: #000000;
  --md-sys-color-on-primary-fixed-variant: #001930;
  --md-sys-color-secondary: #a1cafd;
  --md-sys-color-secondary-dim: #93bcef;
  --md-sys-color-on-secondary: #003862;
  --md-sys-color-secondary-container: #4e77a6;
  --md-sys-color-on-secondary-container: #ffffff;
  --md-sys-color-secondary-fixed: #d2e4ff;
  --md-sys-color-secondary-fixed-dim: #b9d7ff;
  --md-sys-color-on-secondary-fixed: #00213d;
  --md-sys-color-on-secondary-fixed-variant: #0f416d;
  --md-sys-color-tertiary: #e0cbff;
  --md-sys-color-tertiary-dim: #d5bbfc;
  --md-sys-color-on-tertiary: #49356b;
  --md-sys-color-tertiary-container: #d5bbfc;
  --md-sys-color-on-tertiary-container: #402b61;
  --md-sys-color-tertiary-fixed: #d5bbfc;
  --md-sys-color-tertiary-fixed-dim: #c6aded;
  --md-sys-color-on-tertiary-fixed: #000000;
  --md-sys-color-on-tertiary-fixed-variant: #352157;
  --md-sys-color-error: #ff9f94;
  --md-sys-color-error-dim: #ff887c;
  --md-sys-color-on-error: #600004;
  --md-sys-color-error-container: #da342e;
  --md-sys-color-on-error-container: #ffffff;
}

.dark-high-contrast {
  --md-sys-color-primary-palette-key-color: #337abe;
  --md-sys-color-secondary-palette-key-color: #517aa9;
  --md-sys-color-tertiary-palette-key-color: #836ca7;
  --md-sys-color-neutral-palette-key-color: #7b7582;
  --md-sys-color-neutral-variant-palette-key-color: #7d7389;
  --md-sys-color-error-palette-key-color: #de3730;
  --md-sys-color-background: #100c16;
  --md-sys-color-on-background: #ffffff;
  --md-sys-color-surface: #100c16;
  --md-sys-color-surface-dim: #100c16;
  --md-sys-color-surface-bright: #2f2a35;
  --md-sys-color-surface-container-lowest: #000000;
  --md-sys-color-surface-container-low: #15121b;
  --md-sys-color-surface-container: #1c1822;
  --md-sys-color-surface-container-high: #221e28;
  --md-sys-color-surface-container-highest: #28242e;
  --md-sys-color-on-surface: #ffffff;
  --md-sys-color-surface-variant: #28242e;
  --md-sys-color-on-surface-variant: #ebe2f1;
  --md-sys-color-inverse-surface: #fef7ff;
  --md-sys-color-inverse-on-surface: #000000;
  --md-sys-color-outline: #beb6c4;
  --md-sys-color-outline-variant: #98919e;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #d7e7ff;
  --md-sys-color-primary: #d7e7ff;
  --md-sys-color-primary-dim: #b9d7ff;
  --md-sys-color-on-primary: #002d51;
  --md-sys-color-primary-container: #63a4eb;
  --md-sys-color-on-primary-container: #000000;
  --md-sys-color-inverse-primary: #003a66;
  --md-sys-color-primary-fixed: #74b5fd;
  --md-sys-color-primary-fixed-dim: #66a7ee;
  --md-sys-color-on-primary-fixed: #000000;
  --md-sys-color-on-primary-fixed-variant: #000000;
  --md-sys-color-secondary: #d7e7ff;
  --md-sys-color-secondary-dim: #b9d7ff;
  --md-sys-color-on-secondary: #002d51;
  --md-sys-color-secondary-container: #78a1d2;
  --md-sys-color-on-secondary-container: #000000;
  --md-sys-color-secondary-fixed: #d2e4ff;
  --md-sys-color-secondary-fixed-dim: #b9d7ff;
  --md-sys-color-on-secondary-fixed: #000000;
  --md-sys-color-on-secondary-fixed-variant: #00213d;
  --md-sys-color-tertiary: #eee0ff;
  --md-sys-color-tertiary-dim: #e1ccff;
  --md-sys-color-on-tertiary: #352156;
  --md-sys-color-tertiary-container: #d5bbfc;
  --md-sys-color-on-tertiary-container: #19023a;
  --md-sys-color-tertiary-fixed: #d5bbfc;
  --md-sys-color-tertiary-fixed-dim: #c6aded;
  --md-sys-color-on-tertiary-fixed: #000000;
  --md-sys-color-on-tertiary-fixed-variant: #000000;
  --md-sys-color-error: #ffdeda;
  --md-sys-color-error-dim: #ffc8c1;
  --md-sys-color-on-error: #600004;
  --md-sys-color-error-container: #ff7164;
  --md-sys-color-on-error-container: #000000;
}

