.light {
  --md-sys-color-primary-palette-key-color: #337abe;
  --md-sys-color-secondary-palette-key-color: #517aa9;
  --md-sys-color-tertiary-palette-key-color: #836ca7;
  --md-sys-color-neutral-palette-key-color: #7b7582;
  --md-sys-color-neutral-variant-palette-key-color: #7d7389;
  --md-sys-color-error-palette-key-color: #de3730;
  --md-sys-color-background: #15121b;
  --md-sys-color-on-background: #e8dfee;
  --md-sys-color-surface: #15121b;
  --md-sys-color-surface-dim: #15121b;
  --md-sys-color-surface-bright: #3c3742;
  --md-sys-color-surface-container-lowest: #100c16;
  --md-sys-color-surface-container-low: #1e1a24;
  --md-sys-color-surface-container: #221e28;
  --md-sys-color-surface-container-high: #2d2833;
  --md-sys-color-surface-container-highest: #38333e;
  --md-sys-color-on-surface: #e8dfee;
  --md-sys-color-surface-variant: #4b4357;
  --md-sys-color-on-surface-variant: #cec2db;
  --md-sys-color-inverse-surface: #e8dfee;
  --md-sys-color-inverse-on-surface: #332e39;
  --md-sys-color-outline: #978ca4;
  --md-sys-color-outline-variant: #4b4357;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #9fcaff;
  --md-sys-color-primary: #9fcaff;
  --md-sys-color-primary-dim: #b9d7ff;
  --md-sys-color-on-primary: #003259;
  --md-sys-color-primary-container: #d2e4ff;
  --md-sys-color-on-primary-container: #1667aa;
  --md-sys-color-inverse-primary: #0661a4;
  --md-sys-color-primary-fixed: #d2e4ff;
  --md-sys-color-primary-fixed-dim: #9fcaff;
  --md-sys-color-on-primary-fixed: #001d36;
  --md-sys-color-on-primary-fixed-variant: #00497e;
  --md-sys-color-secondary: #a1cafd;
  --md-sys-color-secondary-dim: #b9d7ff;
  --md-sys-color-on-secondary: #003259;
  --md-sys-color-secondary-container: #d2e4ff;
  --md-sys-color-on-secondary-container: #3d6795;
  --md-sys-color-secondary-fixed: #d2e4ff;
  --md-sys-color-secondary-fixed-dim: #a1cafd;
  --md-sys-color-on-secondary-fixed: #001d36;
  --md-sys-color-on-secondary-fixed-variant: #1a4975;
  --md-sys-color-tertiary: #d5bbfc;
  --md-sys-color-tertiary-dim: #e0cbff;
  --md-sys-color-on-tertiary: #3a255b;
  --md-sys-color-tertiary-container: #ecdcff;
  --md-sys-color-on-tertiary-container: #705a93;
  --md-sys-color-tertiary-fixed: #ecdcff;
  --md-sys-color-tertiary-fixed-dim: #d5bbfc;
  --md-sys-color-on-tertiary-fixed: #240e45;
  --md-sys-color-on-tertiary-fixed-variant: #513c73;
  --md-sys-color-error: #ffb4ab;
  --md-sys-color-error-dim: #ffc7c0;
  --md-sys-color-on-error: #690005;
  --md-sys-color-error-container: #ffdad6;
  --md-sys-color-on-error-container: #c32220;
}

.light-medium-contrast {
  --md-sys-color-primary-palette-key-color: #337abe;
  --md-sys-color-secondary-palette-key-color: #517aa9;
  --md-sys-color-tertiary-palette-key-color: #836ca7;
  --md-sys-color-neutral-palette-key-color: #7b7582;
  --md-sys-color-neutral-variant-palette-key-color: #7d7389;
  --md-sys-color-error-palette-key-color: #de3730;
  --md-sys-color-background: #15121b;
  --md-sys-color-on-background: #e8dfee;
  --md-sys-color-surface: #15121b;
  --md-sys-color-surface-dim: #15121b;
  --md-sys-color-surface-bright: #48424e;
  --md-sys-color-surface-container-lowest: #09060f;
  --md-sys-color-surface-container-low: #201c26;
  --md-sys-color-surface-container: #2a2631;
  --md-sys-color-surface-container-high: #35313c;
  --md-sys-color-surface-container-highest: #413c47;
  --md-sys-color-on-surface: #ffffff;
  --md-sys-color-surface-variant: #4b4357;
  --md-sys-color-on-surface-variant: #e4d8f1;
  --md-sys-color-inverse-surface: #e8dfee;
  --md-sys-color-inverse-on-surface: #2d2833;
  --md-sys-color-outline: #b9adc6;
  --md-sys-color-outline-variant: #968ca3;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #9fcaff;
  --md-sys-color-primary: #c7deff;
  --md-sys-color-primary-dim: #b9d7ff;
  --md-sys-color-on-primary: #002747;
  --md-sys-color-primary-container: #f7f9ff;
  --md-sys-color-on-primary-container: #005795;
  --md-sys-color-inverse-primary: #004a80;
  --md-sys-color-primary-fixed: #d2e4ff;
  --md-sys-color-primary-fixed-dim: #9fcaff;
  --md-sys-color-on-primary-fixed: #001225;
  --md-sys-color-on-primary-fixed-variant: #003862;
  --md-sys-color-secondary: #c7deff;
  --md-sys-color-secondary-dim: #b9d7ff;
  --md-sys-color-on-secondary: #002747;
  --md-sys-color-secondary-container: #f7f9ff;
  --md-sys-color-on-secondary-container: #2c5784;
  --md-sys-color-secondary-fixed: #d2e4ff;
  --md-sys-color-secondary-fixed-dim: #a1cafd;
  --md-sys-color-on-secondary-fixed: #001225;
  --md-sys-color-on-secondary-fixed-variant: #003862;
  --md-sys-color-tertiary: #e7d5ff;
  --md-sys-color-tertiary-dim: #e0cbff;
  --md-sys-color-on-tertiary: #2f1a50;
  --md-sys-color-tertiary-container: #fef6ff;
  --md-sys-color-on-tertiary-container: #5f4a82;
  --md-sys-color-tertiary-fixed: #ecdcff;
  --md-sys-color-tertiary-fixed-dim: #d5bbfc;
  --md-sys-color-on-tertiary-fixed: #19023a;
  --md-sys-color-on-tertiary-fixed-variant: #402b61;
  --md-sys-color-error: #ffd2cc;
  --md-sys-color-error-dim: #ffc7c0;
  --md-sys-color-on-error: #540003;
  --md-sys-color-error-container: #fff7f6;
  --md-sys-color-on-error-container: #ab0b12;
}

.light-high-contrast {
  --md-sys-color-primary-palette-key-color: #337abe;
  --md-sys-color-secondary-palette-key-color: #517aa9;
  --md-sys-color-tertiary-palette-key-color: #836ca7;
  --md-sys-color-neutral-palette-key-color: #7b7582;
  --md-sys-color-neutral-variant-palette-key-color: #7d7389;
  --md-sys-color-error-palette-key-color: #de3730;
  --md-sys-color-background: #15121b;
  --md-sys-color-on-background: #e8dfee;
  --md-sys-color-surface: #15121b;
  --md-sys-color-surface-dim: #15121b;
  --md-sys-color-surface-bright: #534e5a;
  --md-sys-color-surface-container-lowest: #000000;
  --md-sys-color-surface-container-low: #221e28;
  --md-sys-color-surface-container: #332e39;
  --md-sys-color-surface-container-high: #3e3945;
  --md-sys-color-surface-container-highest: #4a4550;
  --md-sys-color-on-surface: #ffffff;
  --md-sys-color-surface-variant: #4b4357;
  --md-sys-color-on-surface-variant: #ffffff;
  --md-sys-color-inverse-surface: #e8dfee;
  --md-sys-color-inverse-on-surface: #000000;
  --md-sys-color-outline: #f7ecff;
  --md-sys-color-outline-variant: #cabed7;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #9fcaff;
  --md-sys-color-primary: #d2e4ff;
  --md-sys-color-primary-dim: #fffeff;
  --md-sys-color-on-primary: #000000;
  --md-sys-color-primary-container: #ffffff;
  --md-sys-color-on-primary-container: #003d6b;
  --md-sys-color-inverse-primary: #004a80;
  --md-sys-color-primary-fixed: #d2e4ff;
  --md-sys-color-primary-fixed-dim: #9fcaff;
  --md-sys-color-on-primary-fixed: #000000;
  --md-sys-color-on-primary-fixed-variant: #001225;
  --md-sys-color-secondary: #d2e4ff;
  --md-sys-color-secondary-dim: #fffeff;
  --md-sys-color-on-secondary: #000000;
  --md-sys-color-secondary-container: #ffffff;
  --md-sys-color-on-secondary-container: #073d69;
  --md-sys-color-secondary-fixed: #d2e4ff;
  --md-sys-color-secondary-fixed-dim: #a1cafd;
  --md-sys-color-on-secondary-fixed: #000000;
  --md-sys-color-on-secondary-fixed-variant: #001225;
  --md-sys-color-tertiary: #ecdcff;
  --md-sys-color-tertiary-dim: #fffeff;
  --md-sys-color-on-tertiary: #000000;
  --md-sys-color-tertiary-container: #ffffff;
  --md-sys-color-on-tertiary-container: #453167;
  --md-sys-color-tertiary-fixed: #ecdcff;
  --md-sys-color-tertiary-fixed-dim: #d5bbfc;
  --md-sys-color-on-tertiary-fixed: #000000;
  --md-sys-color-on-tertiary-fixed-variant: #19023a;
  --md-sys-color-error: #ffdad6;
  --md-sys-color-error-dim: #fffeff;
  --md-sys-color-on-error: #000000;
  --md-sys-color-error-container: #ffffff;
  --md-sys-color-on-error-container: #7e0007;
}

.dark {
  --md-sys-color-primary-palette-key-color: #337abe;
  --md-sys-color-secondary-palette-key-color: #517aa9;
  --md-sys-color-tertiary-palette-key-color: #836ca7;
  --md-sys-color-neutral-palette-key-color: #7b7582;
  --md-sys-color-neutral-variant-palette-key-color: #7d7389;
  --md-sys-color-error-palette-key-color: #de3730;
  --md-sys-color-background: #15121b;
  --md-sys-color-on-background: #e8dfee;
  --md-sys-color-surface: #15121b;
  --md-sys-color-surface-dim: #15121b;
  --md-sys-color-surface-bright: #3c3742;
  --md-sys-color-surface-container-lowest: #100c16;
  --md-sys-color-surface-container-low: #1e1a24;
  --md-sys-color-surface-container: #221e28;
  --md-sys-color-surface-container-high: #2d2833;
  --md-sys-color-surface-container-highest: #38333e;
  --md-sys-color-on-surface: #e8dfee;
  --md-sys-color-surface-variant: #4b4357;
  --md-sys-color-on-surface-variant: #cec2db;
  --md-sys-color-inverse-surface: #e8dfee;
  --md-sys-color-inverse-on-surface: #332e39;
  --md-sys-color-outline: #978ca4;
  --md-sys-color-outline-variant: #4b4357;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #9fcaff;
  --md-sys-color-primary: #9fcaff;
  --md-sys-color-primary-dim: #b9d7ff;
  --md-sys-color-on-primary: #003259;
  --md-sys-color-primary-container: #d2e4ff;
  --md-sys-color-on-primary-container: #1667aa;
  --md-sys-color-inverse-primary: #0661a4;
  --md-sys-color-primary-fixed: #d2e4ff;
  --md-sys-color-primary-fixed-dim: #9fcaff;
  --md-sys-color-on-primary-fixed: #001d36;
  --md-sys-color-on-primary-fixed-variant: #00497e;
  --md-sys-color-secondary: #a1cafd;
  --md-sys-color-secondary-dim: #b9d7ff;
  --md-sys-color-on-secondary: #003259;
  --md-sys-color-secondary-container: #d2e4ff;
  --md-sys-color-on-secondary-container: #3d6795;
  --md-sys-color-secondary-fixed: #d2e4ff;
  --md-sys-color-secondary-fixed-dim: #a1cafd;
  --md-sys-color-on-secondary-fixed: #001d36;
  --md-sys-color-on-secondary-fixed-variant: #1a4975;
  --md-sys-color-tertiary: #d5bbfc;
  --md-sys-color-tertiary-dim: #e0cbff;
  --md-sys-color-on-tertiary: #3a255b;
  --md-sys-color-tertiary-container: #ecdcff;
  --md-sys-color-on-tertiary-container: #705a93;
  --md-sys-color-tertiary-fixed: #ecdcff;
  --md-sys-color-tertiary-fixed-dim: #d5bbfc;
  --md-sys-color-on-tertiary-fixed: #240e45;
  --md-sys-color-on-tertiary-fixed-variant: #513c73;
  --md-sys-color-error: #ffb4ab;
  --md-sys-color-error-dim: #ffc7c0;
  --md-sys-color-on-error: #690005;
  --md-sys-color-error-container: #ffdad6;
  --md-sys-color-on-error-container: #c32220;
}

.dark-medium-contrast {
  --md-sys-color-primary-palette-key-color: #337abe;
  --md-sys-color-secondary-palette-key-color: #517aa9;
  --md-sys-color-tertiary-palette-key-color: #836ca7;
  --md-sys-color-neutral-palette-key-color: #7b7582;
  --md-sys-color-neutral-variant-palette-key-color: #7d7389;
  --md-sys-color-error-palette-key-color: #de3730;
  --md-sys-color-background: #15121b;
  --md-sys-color-on-background: #e8dfee;
  --md-sys-color-surface: #15121b;
  --md-sys-color-surface-dim: #15121b;
  --md-sys-color-surface-bright: #48424e;
  --md-sys-color-surface-container-lowest: #09060f;
  --md-sys-color-surface-container-low: #201c26;
  --md-sys-color-surface-container: #2a2631;
  --md-sys-color-surface-container-high: #35313c;
  --md-sys-color-surface-container-highest: #413c47;
  --md-sys-color-on-surface: #ffffff;
  --md-sys-color-surface-variant: #4b4357;
  --md-sys-color-on-surface-variant: #e4d8f1;
  --md-sys-color-inverse-surface: #e8dfee;
  --md-sys-color-inverse-on-surface: #2d2833;
  --md-sys-color-outline: #b9adc6;
  --md-sys-color-outline-variant: #968ca3;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #9fcaff;
  --md-sys-color-primary: #c7deff;
  --md-sys-color-primary-dim: #b9d7ff;
  --md-sys-color-on-primary: #002747;
  --md-sys-color-primary-container: #f7f9ff;
  --md-sys-color-on-primary-container: #005795;
  --md-sys-color-inverse-primary: #004a80;
  --md-sys-color-primary-fixed: #d2e4ff;
  --md-sys-color-primary-fixed-dim: #9fcaff;
  --md-sys-color-on-primary-fixed: #001225;
  --md-sys-color-on-primary-fixed-variant: #003862;
  --md-sys-color-secondary: #c7deff;
  --md-sys-color-secondary-dim: #b9d7ff;
  --md-sys-color-on-secondary: #002747;
  --md-sys-color-secondary-container: #f7f9ff;
  --md-sys-color-on-secondary-container: #2c5784;
  --md-sys-color-secondary-fixed: #d2e4ff;
  --md-sys-color-secondary-fixed-dim: #a1cafd;
  --md-sys-color-on-secondary-fixed: #001225;
  --md-sys-color-on-secondary-fixed-variant: #003862;
  --md-sys-color-tertiary: #e7d5ff;
  --md-sys-color-tertiary-dim: #e0cbff;
  --md-sys-color-on-tertiary: #2f1a50;
  --md-sys-color-tertiary-container: #fef6ff;
  --md-sys-color-on-tertiary-container: #5f4a82;
  --md-sys-color-tertiary-fixed: #ecdcff;
  --md-sys-color-tertiary-fixed-dim: #d5bbfc;
  --md-sys-color-on-tertiary-fixed: #19023a;
  --md-sys-color-on-tertiary-fixed-variant: #402b61;
  --md-sys-color-error: #ffd2cc;
  --md-sys-color-error-dim: #ffc7c0;
  --md-sys-color-on-error: #540003;
  --md-sys-color-error-container: #fff7f6;
  --md-sys-color-on-error-container: #ab0b12;
}

.dark-high-contrast {
  --md-sys-color-primary-palette-key-color: #337abe;
  --md-sys-color-secondary-palette-key-color: #517aa9;
  --md-sys-color-tertiary-palette-key-color: #836ca7;
  --md-sys-color-neutral-palette-key-color: #7b7582;
  --md-sys-color-neutral-variant-palette-key-color: #7d7389;
  --md-sys-color-error-palette-key-color: #de3730;
  --md-sys-color-background: #15121b;
  --md-sys-color-on-background: #e8dfee;
  --md-sys-color-surface: #15121b;
  --md-sys-color-surface-dim: #15121b;
  --md-sys-color-surface-bright: #534e5a;
  --md-sys-color-surface-container-lowest: #000000;
  --md-sys-color-surface-container-low: #221e28;
  --md-sys-color-surface-container: #332e39;
  --md-sys-color-surface-container-high: #3e3945;
  --md-sys-color-surface-container-highest: #4a4550;
  --md-sys-color-on-surface: #ffffff;
  --md-sys-color-surface-variant: #4b4357;
  --md-sys-color-on-surface-variant: #ffffff;
  --md-sys-color-inverse-surface: #e8dfee;
  --md-sys-color-inverse-on-surface: #000000;
  --md-sys-color-outline: #f7ecff;
  --md-sys-color-outline-variant: #cabed7;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #9fcaff;
  --md-sys-color-primary: #d2e4ff;
  --md-sys-color-primary-dim: #fffeff;
  --md-sys-color-on-primary: #000000;
  --md-sys-color-primary-container: #ffffff;
  --md-sys-color-on-primary-container: #003d6b;
  --md-sys-color-inverse-primary: #004a80;
  --md-sys-color-primary-fixed: #d2e4ff;
  --md-sys-color-primary-fixed-dim: #9fcaff;
  --md-sys-color-on-primary-fixed: #000000;
  --md-sys-color-on-primary-fixed-variant: #001225;
  --md-sys-color-secondary: #d2e4ff;
  --md-sys-color-secondary-dim: #fffeff;
  --md-sys-color-on-secondary: #000000;
  --md-sys-color-secondary-container: #ffffff;
  --md-sys-color-on-secondary-container: #073d69;
  --md-sys-color-secondary-fixed: #d2e4ff;
  --md-sys-color-secondary-fixed-dim: #a1cafd;
  --md-sys-color-on-secondary-fixed: #000000;
  --md-sys-color-on-secondary-fixed-variant: #001225;
  --md-sys-color-tertiary: #ecdcff;
  --md-sys-color-tertiary-dim: #fffeff;
  --md-sys-color-on-tertiary: #000000;
  --md-sys-color-tertiary-container: #ffffff;
  --md-sys-color-on-tertiary-container: #453167;
  --md-sys-color-tertiary-fixed: #ecdcff;
  --md-sys-color-tertiary-fixed-dim: #d5bbfc;
  --md-sys-color-on-tertiary-fixed: #000000;
  --md-sys-color-on-tertiary-fixed-variant: #19023a;
  --md-sys-color-error: #ffdad6;
  --md-sys-color-error-dim: #fffeff;
  --md-sys-color-on-error: #000000;
  --md-sys-color-error-container: #ffffff;
  --md-sys-color-on-error-container: #7e0007;
}

