.light {
  --md-sys-color-primary-palette-key-color: #337abe;
  --md-sys-color-secondary-palette-key-color: #517aa9;
  --md-sys-color-tertiary-palette-key-color: #836ca7;
  --md-sys-color-neutral-palette-key-color: #7b7582;
  --md-sys-color-neutral-variant-palette-key-color: #7d7389;
  --md-sys-color-error-palette-key-color: #de3730;
  --md-sys-color-background: #000000;
  --md-sys-color-on-background: #ffffff;
  --md-sys-color-surface: #000000;
  --md-sys-color-surface-dim: #100c16;
  --md-sys-color-surface-bright: #2f2a35;
  --md-sys-color-surface-container-lowest: #000000;
  --md-sys-color-surface-container-low: #28242e;
  --md-sys-color-surface-container: #332e39;
  --md-sys-color-surface-container-high: #3e3945;
  --md-sys-color-surface-container-highest: #28242e;
  --md-sys-color-on-surface: #fffeff;
  --md-sys-color-surface-variant: #28242e;
  --md-sys-color-on-surface-variant: #d4cbd9;
  --md-sys-color-inverse-surface: #fef7ff;
  --md-sys-color-inverse-on-surface: #58535f;
  --md-sys-color-outline: #aaa3b1;
  --md-sys-color-outline-variant: #8a8390;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #add1ff;
  --md-sys-color-primary: #add1ff;
  --md-sys-color-primary-dim: #74b5fd;
  --md-sys-color-on-primary: #002747;
  --md-sys-color-primary-container: #00497e;
  --md-sys-color-on-primary-container: #cde2ff;
  --md-sys-color-inverse-primary: #005795;
  --md-sys-color-primary-fixed: #00497e;
  --md-sys-color-primary-fixed-dim: #003d6b;
  --md-sys-color-on-primary-fixed: #add1ff;
  --md-sys-color-on-primary-fixed-variant: #69aaf1;
  --md-sys-color-secondary: #add1ff;
  --md-sys-color-secondary-dim: #98c1f4;
  --md-sys-color-on-secondary: #003259;
  --md-sys-color-secondary-container: #1a4975;
  --md-sys-color-on-secondary-container: #cde2ff;
  --md-sys-color-secondary-fixed: #1a4975;
  --md-sys-color-secondary-fixed-dim: #073d69;
  --md-sys-color-on-secondary-fixed: #add1ff;
  --md-sys-color-on-secondary-fixed-variant: #80a9da;
  --md-sys-color-tertiary: #dbc4ff;
  --md-sys-color-tertiary-dim: #ceb5f5;
  --md-sys-color-on-tertiary: #3b275d;
  --md-sys-color-tertiary-container: #b29ad9;
  --md-sys-color-on-tertiary-container: #230c44;
  --md-sys-color-tertiary-fixed: #b29ad9;
  --md-sys-color-tertiary-fixed-dim: #a58dca;
  --md-sys-color-on-tertiary-fixed: #08001c;
  --md-sys-color-on-tertiary-fixed-variant: #3a255b;
  --md-sys-color-error: #ffbeb7;
  --md-sys-color-error-dim: #ff8073;
  --md-sys-color-on-error: #400002;
  --md-sys-color-error-container: #93000a;
  --md-sys-color-on-error-container: #ffd7d2;
  --md-sys-color-control-activated: #74b5fd;
  --md-sys-color-control-normal: #d4cbd9;
  --md-sys-color-control-highlight: #ffffff33;
  --md-sys-color-text-primary-inverse: #58535f;
  --md-sys-color-text-secondary-and-tertiary-inverse: #4b4357;
  --md-sys-color-text-primary-inverse-disable-only: #1e1a24;
  --md-sys-color-text-secondary-and-tertiary-inverse-disabled: #1e1a24;
  --md-sys-color-text-hint-inverse: #1e1a24;
}

.light-medium-contrast {
  --md-sys-color-primary-palette-key-color: #337abe;
  --md-sys-color-secondary-palette-key-color: #517aa9;
  --md-sys-color-tertiary-palette-key-color: #836ca7;
  --md-sys-color-neutral-palette-key-color: #7b7582;
  --md-sys-color-neutral-variant-palette-key-color: #7d7389;
  --md-sys-color-error-palette-key-color: #de3730;
  --md-sys-color-background: #000000;
  --md-sys-color-on-background: #ffffff;
  --md-sys-color-surface: #000000;
  --md-sys-color-surface-dim: #100c16;
  --md-sys-color-surface-bright: #2f2a35;
  --md-sys-color-surface-container-lowest: #000000;
  --md-sys-color-surface-container-low: #28242e;
  --md-sys-color-surface-container: #332e39;
  --md-sys-color-surface-container-high: #3e3945;
  --md-sys-color-surface-container-highest: #28242e;
  --md-sys-color-on-surface: #ffffff;
  --md-sys-color-surface-variant: #28242e;
  --md-sys-color-on-surface-variant: #fffeff;
  --md-sys-color-inverse-surface: #fef7ff;
  --md-sys-color-inverse-on-surface: #3b3641;
  --md-sys-color-outline: #d4cbd9;
  --md-sys-color-outline-variant: #aaa3b1;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #fffeff;
  --md-sys-color-primary: #fffeff;
  --md-sys-color-primary-dim: #add1ff;
  --md-sys-color-on-primary: #001b33;
  --md-sys-color-primary-container: #00497e;
  --md-sys-color-on-primary-container: #ffffff;
  --md-sys-color-inverse-primary: #003a66;
  --md-sys-color-primary-fixed: #00497e;
  --md-sys-color-primary-fixed-dim: #003d6b;
  --md-sys-color-on-primary-fixed: #fffeff;
  --md-sys-color-on-primary-fixed-variant: #add1ff;
  --md-sys-color-secondary: #fffeff;
  --md-sys-color-secondary-dim: #add1ff;
  --md-sys-color-on-secondary: #001b33;
  --md-sys-color-secondary-container: #1a4975;
  --md-sys-color-on-secondary-container: #ffffff;
  --md-sys-color-secondary-fixed: #1a4975;
  --md-sys-color-secondary-fixed-dim: #073d69;
  --md-sys-color-on-secondary-fixed: #fffeff;
  --md-sys-color-on-secondary-fixed-variant: #add1ff;
  --md-sys-color-tertiary: #fffeff;
  --md-sys-color-tertiary-dim: #dbc4ff;
  --md-sys-color-on-tertiary: #220c43;
  --md-sys-color-tertiary-container: #c0a7e7;
  --md-sys-color-on-tertiary-container: #000000;
  --md-sys-color-tertiary-fixed: #b29ad9;
  --md-sys-color-tertiary-fixed-dim: #a58dca;
  --md-sys-color-on-tertiary-fixed: #000000;
  --md-sys-color-on-tertiary-fixed-variant: #08001c;
  --md-sys-color-error: #fffeff;
  --md-sys-color-error-dim: #ffbeb7;
  --md-sys-color-on-error: #3d0002;
  --md-sys-color-error-container: #93000a;
  --md-sys-color-on-error-container: #ffffff;
  --md-sys-color-control-activated: #74b5fd;
  --md-sys-color-control-normal: #fffeff;
  --md-sys-color-control-highlight: #ffffff33;
  --md-sys-color-text-primary-inverse: #3b3641;
  --md-sys-color-text-secondary-and-tertiary-inverse: #4b4357;
  --md-sys-color-text-primary-inverse-disable-only: #1e1a24;
  --md-sys-color-text-secondary-and-tertiary-inverse-disabled: #1e1a24;
  --md-sys-color-text-hint-inverse: #1e1a24;
}

.light-high-contrast {
  --md-sys-color-primary-palette-key-color: #337abe;
  --md-sys-color-secondary-palette-key-color: #517aa9;
  --md-sys-color-tertiary-palette-key-color: #836ca7;
  --md-sys-color-neutral-palette-key-color: #7b7582;
  --md-sys-color-neutral-variant-palette-key-color: #7d7389;
  --md-sys-color-error-palette-key-color: #de3730;
  --md-sys-color-background: #000000;
  --md-sys-color-on-background: #ffffff;
  --md-sys-color-surface: #000000;
  --md-sys-color-surface-dim: #100c16;
  --md-sys-color-surface-bright: #2f2a35;
  --md-sys-color-surface-container-lowest: #000000;
  --md-sys-color-surface-container-low: #28242e;
  --md-sys-color-surface-container: #332e39;
  --md-sys-color-surface-container-high: #3e3945;
  --md-sys-color-surface-container-highest: #28242e;
  --md-sys-color-on-surface: #ffffff;
  --md-sys-color-surface-variant: #28242e;
  --md-sys-color-on-surface-variant: #ffffff;
  --md-sys-color-inverse-surface: #fef7ff;
  --md-sys-color-inverse-on-surface: #000000;
  --md-sys-color-outline: #fffeff;
  --md-sys-color-outline-variant: #d4cbd9;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #ffffff;
  --md-sys-color-primary: #ffffff;
  --md-sys-color-primary-dim: #fffeff;
  --md-sys-color-on-primary: #000000;
  --md-sys-color-primary-container: #00497e;
  --md-sys-color-on-primary-container: #ffffff;
  --md-sys-color-inverse-primary: #000000;
  --md-sys-color-primary-fixed: #00497e;
  --md-sys-color-primary-fixed-dim: #003d6b;
  --md-sys-color-on-primary-fixed: #ffffff;
  --md-sys-color-on-primary-fixed-variant: #fffeff;
  --md-sys-color-secondary: #ffffff;
  --md-sys-color-secondary-dim: #fffeff;
  --md-sys-color-on-secondary: #000000;
  --md-sys-color-secondary-container: #1a4975;
  --md-sys-color-on-secondary-container: #ffffff;
  --md-sys-color-secondary-fixed: #1a4975;
  --md-sys-color-secondary-fixed-dim: #073d69;
  --md-sys-color-on-secondary-fixed: #ffffff;
  --md-sys-color-on-secondary-fixed-variant: #fffeff;
  --md-sys-color-tertiary: #ffffff;
  --md-sys-color-tertiary-dim: #fffeff;
  --md-sys-color-on-tertiary: #000000;
  --md-sys-color-tertiary-container: #d5bbfc;
  --md-sys-color-on-tertiary-container: #000000;
  --md-sys-color-tertiary-fixed: #b29ad9;
  --md-sys-color-tertiary-fixed-dim: #a58dca;
  --md-sys-color-on-tertiary-fixed: #000000;
  --md-sys-color-on-tertiary-fixed-variant: #000000;
  --md-sys-color-error: #ffffff;
  --md-sys-color-error-dim: #fffeff;
  --md-sys-color-on-error: #000000;
  --md-sys-color-error-container: #93000a;
  --md-sys-color-on-error-container: #ffffff;
  --md-sys-color-control-activated: #74b5fd;
  --md-sys-color-control-normal: #ffffff;
  --md-sys-color-control-highlight: #ffffff33;
  --md-sys-color-text-primary-inverse: #000000;
  --md-sys-color-text-secondary-and-tertiary-inverse: #4b4357;
  --md-sys-color-text-primary-inverse-disable-only: #1e1a24;
  --md-sys-color-text-secondary-and-tertiary-inverse-disabled: #1e1a24;
  --md-sys-color-text-hint-inverse: #1e1a24;
}

.dark {
  --md-sys-color-primary-palette-key-color: #337abe;
  --md-sys-color-secondary-palette-key-color: #517aa9;
  --md-sys-color-tertiary-palette-key-color: #836ca7;
  --md-sys-color-neutral-palette-key-color: #7b7582;
  --md-sys-color-neutral-variant-palette-key-color: #7d7389;
  --md-sys-color-error-palette-key-color: #de3730;
  --md-sys-color-background: #000000;
  --md-sys-color-on-background: #ffffff;
  --md-sys-color-surface: #000000;
  --md-sys-color-surface-dim: #100c16;
  --md-sys-color-surface-bright: #2f2a35;
  --md-sys-color-surface-container-lowest: #000000;
  --md-sys-color-surface-container-low: #28242e;
  --md-sys-color-surface-container: #332e39;
  --md-sys-color-surface-container-high: #3e3945;
  --md-sys-color-surface-container-highest: #28242e;
  --md-sys-color-on-surface: #fffeff;
  --md-sys-color-surface-variant: #28242e;
  --md-sys-color-on-surface-variant: #d4cbd9;
  --md-sys-color-inverse-surface: #fef7ff;
  --md-sys-color-inverse-on-surface: #58535f;
  --md-sys-color-outline: #aaa3b1;
  --md-sys-color-outline-variant: #8a8390;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #add1ff;
  --md-sys-color-primary: #add1ff;
  --md-sys-color-primary-dim: #74b5fd;
  --md-sys-color-on-primary: #002747;
  --md-sys-color-primary-container: #00497e;
  --md-sys-color-on-primary-container: #cde2ff;
  --md-sys-color-inverse-primary: #005795;
  --md-sys-color-primary-fixed: #00497e;
  --md-sys-color-primary-fixed-dim: #003d6b;
  --md-sys-color-on-primary-fixed: #add1ff;
  --md-sys-color-on-primary-fixed-variant: #69aaf1;
  --md-sys-color-secondary: #add1ff;
  --md-sys-color-secondary-dim: #98c1f4;
  --md-sys-color-on-secondary: #003259;
  --md-sys-color-secondary-container: #1a4975;
  --md-sys-color-on-secondary-container: #cde2ff;
  --md-sys-color-secondary-fixed: #1a4975;
  --md-sys-color-secondary-fixed-dim: #073d69;
  --md-sys-color-on-secondary-fixed: #add1ff;
  --md-sys-color-on-secondary-fixed-variant: #80a9da;
  --md-sys-color-tertiary: #dbc4ff;
  --md-sys-color-tertiary-dim: #ceb5f5;
  --md-sys-color-on-tertiary: #3b275d;
  --md-sys-color-tertiary-container: #b29ad9;
  --md-sys-color-on-tertiary-container: #230c44;
  --md-sys-color-tertiary-fixed: #b29ad9;
  --md-sys-color-tertiary-fixed-dim: #a58dca;
  --md-sys-color-on-tertiary-fixed: #08001c;
  --md-sys-color-on-tertiary-fixed-variant: #3a255b;
  --md-sys-color-error: #ffbeb7;
  --md-sys-color-error-dim: #ff8073;
  --md-sys-color-on-error: #400002;
  --md-sys-color-error-container: #93000a;
  --md-sys-color-on-error-container: #ffd7d2;
  --md-sys-color-control-activated: #74b5fd;
  --md-sys-color-control-normal: #d4cbd9;
  --md-sys-color-control-highlight: #ffffff33;
  --md-sys-color-text-primary-inverse: #58535f;
  --md-sys-color-text-secondary-and-tertiary-inverse: #4b4357;
  --md-sys-color-text-primary-inverse-disable-only: #1e1a24;
  --md-sys-color-text-secondary-and-tertiary-inverse-disabled: #1e1a24;
  --md-sys-color-text-hint-inverse: #1e1a24;
}

.dark-medium-contrast {
  --md-sys-color-primary-palette-key-color: #337abe;
  --md-sys-color-secondary-palette-key-color: #517aa9;
  --md-sys-color-tertiary-palette-key-color: #836ca7;
  --md-sys-color-neutral-palette-key-color: #7b7582;
  --md-sys-color-neutral-variant-palette-key-color: #7d7389;
  --md-sys-color-error-palette-key-color: #de3730;
  --md-sys-color-background: #000000;
  --md-sys-color-on-background: #ffffff;
  --md-sys-color-surface: #000000;
  --md-sys-color-surface-dim: #100c16;
  --md-sys-color-surface-bright: #2f2a35;
  --md-sys-color-surface-container-lowest: #000000;
  --md-sys-color-surface-container-low: #28242e;
  --md-sys-color-surface-container: #332e39;
  --md-sys-color-surface-container-high: #3e3945;
  --md-sys-color-surface-container-highest: #28242e;
  --md-sys-color-on-surface: #ffffff;
  --md-sys-color-surface-variant: #28242e;
  --md-sys-color-on-surface-variant: #fffeff;
  --md-sys-color-inverse-surface: #fef7ff;
  --md-sys-color-inverse-on-surface: #3b3641;
  --md-sys-color-outline: #d4cbd9;
  --md-sys-color-outline-variant: #aaa3b1;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #fffeff;
  --md-sys-color-primary: #fffeff;
  --md-sys-color-primary-dim: #add1ff;
  --md-sys-color-on-primary: #001b33;
  --md-sys-color-primary-container: #00497e;
  --md-sys-color-on-primary-container: #ffffff;
  --md-sys-color-inverse-primary: #003a66;
  --md-sys-color-primary-fixed: #00497e;
  --md-sys-color-primary-fixed-dim: #003d6b;
  --md-sys-color-on-primary-fixed: #fffeff;
  --md-sys-color-on-primary-fixed-variant: #add1ff;
  --md-sys-color-secondary: #fffeff;
  --md-sys-color-secondary-dim: #add1ff;
  --md-sys-color-on-secondary: #001b33;
  --md-sys-color-secondary-container: #1a4975;
  --md-sys-color-on-secondary-container: #ffffff;
  --md-sys-color-secondary-fixed: #1a4975;
  --md-sys-color-secondary-fixed-dim: #073d69;
  --md-sys-color-on-secondary-fixed: #fffeff;
  --md-sys-color-on-secondary-fixed-variant: #add1ff;
  --md-sys-color-tertiary: #fffeff;
  --md-sys-color-tertiary-dim: #dbc4ff;
  --md-sys-color-on-tertiary: #220c43;
  --md-sys-color-tertiary-container: #c0a7e7;
  --md-sys-color-on-tertiary-container: #000000;
  --md-sys-color-tertiary-fixed: #b29ad9;
  --md-sys-color-tertiary-fixed-dim: #a58dca;
  --md-sys-color-on-tertiary-fixed: #000000;
  --md-sys-color-on-tertiary-fixed-variant: #08001c;
  --md-sys-color-error: #fffeff;
  --md-sys-color-error-dim: #ffbeb7;
  --md-sys-color-on-error: #3d0002;
  --md-sys-color-error-container: #93000a;
  --md-sys-color-on-error-container: #ffffff;
  --md-sys-color-control-activated: #74b5fd;
  --md-sys-color-control-normal: #fffeff;
  --md-sys-color-control-highlight: #ffffff33;
  --md-sys-color-text-primary-inverse: #3b3641;
  --md-sys-color-text-secondary-and-tertiary-inverse: #4b4357;
  --md-sys-color-text-primary-inverse-disable-only: #1e1a24;
  --md-sys-color-text-secondary-and-tertiary-inverse-disabled: #1e1a24;
  --md-sys-color-text-hint-inverse: #1e1a24;
}

.dark-high-contrast {
  --md-sys-color-primary-palette-key-color: #337abe;
  --md-sys-color-secondary-palette-key-color: #517aa9;
  --md-sys-color-tertiary-palette-key-color: #836ca7;
  --md-sys-color-neutral-palette-key-color: #7b7582;
  --md-sys-color-neutral-variant-palette-key-color: #7d7389;
  --md-sys-color-error-palette-key-color: #de3730;
  --md-sys-color-background: #000000;
  --md-sys-color-on-background: #ffffff;
  --md-sys-color-surface: #000000;
  --md-sys-color-surface-dim: #100c16;
  --md-sys-color-surface-bright: #2f2a35;
  --md-sys-color-surface-container-lowest: #000000;
  --md-sys-color-surface-container-low: #28242e;
  --md-sys-color-surface-container: #332e39;
  --md-sys-color-surface-container-high: #3e3945;
  --md-sys-color-surface-container-highest: #28242e;
  --md-sys-color-on-surface: #ffffff;
  --md-sys-color-surface-variant: #28242e;
  --md-sys-color-on-surface-variant: #ffffff;
  --md-sys-color-inverse-surface: #fef7ff;
  --md-sys-color-inverse-on-surface: #000000;
  --md-sys-color-outline: #fffeff;
  --md-sys-color-outline-variant: #d4cbd9;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #ffffff;
  --md-sys-color-primary: #ffffff;
  --md-sys-color-primary-dim: #fffeff;
  --md-sys-color-on-primary: #000000;
  --md-sys-color-primary-container: #00497e;
  --md-sys-color-on-primary-container: #ffffff;
  --md-sys-color-inverse-primary: #000000;
  --md-sys-color-primary-fixed: #00497e;
  --md-sys-color-primary-fixed-dim: #003d6b;
  --md-sys-color-on-primary-fixed: #ffffff;
  --md-sys-color-on-primary-fixed-variant: #fffeff;
  --md-sys-color-secondary: #ffffff;
  --md-sys-color-secondary-dim: #fffeff;
  --md-sys-color-on-secondary: #000000;
  --md-sys-color-secondary-container: #1a4975;
  --md-sys-color-on-secondary-container: #ffffff;
  --md-sys-color-secondary-fixed: #1a4975;
  --md-sys-color-secondary-fixed-dim: #073d69;
  --md-sys-color-on-secondary-fixed: #ffffff;
  --md-sys-color-on-secondary-fixed-variant: #fffeff;
  --md-sys-color-tertiary: #ffffff;
  --md-sys-color-tertiary-dim: #fffeff;
  --md-sys-color-on-tertiary: #000000;
  --md-sys-color-tertiary-container: #d5bbfc;
  --md-sys-color-on-tertiary-container: #000000;
  --md-sys-color-tertiary-fixed: #b29ad9;
  --md-sys-color-tertiary-fixed-dim: #a58dca;
  --md-sys-color-on-tertiary-fixed: #000000;
  --md-sys-color-on-tertiary-fixed-variant: #000000;
  --md-sys-color-error: #ffffff;
  --md-sys-color-error-dim: #fffeff;
  --md-sys-color-on-error: #000000;
  --md-sys-color-error-container: #93000a;
  --md-sys-color-on-error-container: #ffffff;
  --md-sys-color-control-activated: #74b5fd;
  --md-sys-color-control-normal: #ffffff;
  --md-sys-color-control-highlight: #ffffff33;
  --md-sys-color-text-primary-inverse: #000000;
  --md-sys-color-text-secondary-and-tertiary-inverse: #4b4357;
  --md-sys-color-text-primary-inverse-disable-only: #1e1a24;
  --md-sys-color-text-secondary-and-tertiary-inverse-disabled: #1e1a24;
  --md-sys-color-text-hint-inverse: #1e1a24;
}

