.light {
  --md-sys-color-primary-palette-key-color: #337abe;
  --md-sys-color-secondary-palette-key-color: #517aa9;
  --md-sys-color-tertiary-palette-key-color: #836ca7;
  --md-sys-color-neutral-palette-key-color: #7b7582;
  --md-sys-color-neutral-variant-palette-key-color: #7d7389;
  --md-sys-color-error-palette-key-color: #de3730;
  --md-sys-color-background: #fef7ff;
  --md-sys-color-on-background: #1e1a24;
  --md-sys-color-surface: #fef7ff;
  --md-sys-color-surface-dim: #e0d7e5;
  --md-sys-color-surface-bright: #fef7ff;
  --md-sys-color-surface-container-lowest: #ffffff;
  --md-sys-color-surface-container-low: #faf0ff;
  --md-sys-color-surface-container: #f4ebfa;
  --md-sys-color-surface-container-high: #eee5f4;
  --md-sys-color-surface-container-highest: #e8dfee;
  --md-sys-color-on-surface: #1e1a24;
  --md-sys-color-surface-variant: #eadef7;
  --md-sys-color-on-surface-variant: #4b4357;
  --md-sys-color-inverse-surface: #332e39;
  --md-sys-color-inverse-on-surface: #f7edfc;
  --md-sys-color-outline: #7d7389;
  --md-sys-color-outline-variant: #cec2db;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #0661a4;
  --md-sys-color-primary: #0661a4;
  --md-sys-color-primary-dim: #1d6bae;
  --md-sys-color-on-primary: #ffffff;
  --md-sys-color-primary-container: #d2e4ff;
  --md-sys-color-on-primary-container: #00497e;
  --md-sys-color-inverse-primary: #9fcaff;
  --md-sys-color-primary-fixed: #d2e4ff;
  --md-sys-color-primary-fixed-dim: #9fcaff;
  --md-sys-color-on-primary-fixed: #001d36;
  --md-sys-color-on-primary-fixed-variant: #00497e;
  --md-sys-color-secondary: #36618e;
  --md-sys-color-secondary-dim: #416a98;
  --md-sys-color-on-secondary: #ffffff;
  --md-sys-color-secondary-container: #d2e4ff;
  --md-sys-color-on-secondary-container: #1a4975;
  --md-sys-color-secondary-fixed: #d2e4ff;
  --md-sys-color-secondary-fixed-dim: #a1cafd;
  --md-sys-color-on-secondary-fixed: #001d36;
  --md-sys-color-on-secondary-fixed-variant: #1a4975;
  --md-sys-color-tertiary: #69548d;
  --md-sys-color-tertiary-dim: #735d97;
  --md-sys-color-on-tertiary: #ffffff;
  --md-sys-color-tertiary-container: #ecdcff;
  --md-sys-color-on-tertiary-container: #513c73;
  --md-sys-color-tertiary-fixed: #ecdcff;
  --md-sys-color-tertiary-fixed-dim: #d5bbfc;
  --md-sys-color-on-tertiary-fixed: #240e45;
  --md-sys-color-on-tertiary-fixed-variant: #513c73;
  --md-sys-color-error: #ba1a1a;
  --md-sys-color-error-dim: #ac0c12;
  --md-sys-color-on-error: #ffffff;
  --md-sys-color-error-container: #ffdad6;
  --md-sys-color-on-error-container: #93000a;
  --md-sys-color-control-activated: #d2e4ff;
  --md-sys-color-control-normal: #4b4357;
  --md-sys-color-control-highlight: #0000001f;
  --md-sys-color-text-primary-inverse: #e8dfee;
  --md-sys-color-text-secondary-and-tertiary-inverse: #cec2db;
  --md-sys-color-text-primary-inverse-disable-only: #e8dfee;
  --md-sys-color-text-secondary-and-tertiary-inverse-disabled: #e8dfee;
  --md-sys-color-text-hint-inverse: #e8dfee;
}

.light-medium-contrast {
  --md-sys-color-primary-palette-key-color: #337abe;
  --md-sys-color-secondary-palette-key-color: #517aa9;
  --md-sys-color-tertiary-palette-key-color: #836ca7;
  --md-sys-color-neutral-palette-key-color: #7b7582;
  --md-sys-color-neutral-variant-palette-key-color: #7d7389;
  --md-sys-color-error-palette-key-color: #de3730;
  --md-sys-color-background: #fef7ff;
  --md-sys-color-on-background: #1e1a24;
  --md-sys-color-surface: #fef7ff;
  --md-sys-color-surface-dim: #ccc3d2;
  --md-sys-color-surface-bright: #fef7ff;
  --md-sys-color-surface-container-lowest: #ffffff;
  --md-sys-color-surface-container-low: #faf0ff;
  --md-sys-color-surface-container: #eee5f4;
  --md-sys-color-surface-container-high: #e3dae8;
  --md-sys-color-surface-container-highest: #d7cedd;
  --md-sys-color-on-surface: #130f19;
  --md-sys-color-surface-variant: #eadef7;
  --md-sys-color-on-surface-variant: #3a3346;
  --md-sys-color-inverse-surface: #332e39;
  --md-sys-color-inverse-on-surface: #f7edfc;
  --md-sys-color-outline: #574f64;
  --md-sys-color-outline-variant: #72697f;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #0661a4;
  --md-sys-color-primary: #003862;
  --md-sys-color-primary-dim: #00477a;
  --md-sys-color-on-primary: #ffffff;
  --md-sys-color-primary-container: #2570b3;
  --md-sys-color-on-primary-container: #ffffff;
  --md-sys-color-inverse-primary: #9fcaff;
  --md-sys-color-primary-fixed: #2570b3;
  --md-sys-color-primary-fixed-dim: #005795;
  --md-sys-color-on-primary-fixed: #ffffff;
  --md-sys-color-on-primary-fixed-variant: #ffffff;
  --md-sys-color-secondary: #003862;
  --md-sys-color-secondary-dim: #174772;
  --md-sys-color-on-secondary: #ffffff;
  --md-sys-color-secondary-container: #46709e;
  --md-sys-color-on-secondary-container: #ffffff;
  --md-sys-color-secondary-fixed: #46709e;
  --md-sys-color-secondary-fixed-dim: #2c5784;
  --md-sys-color-on-secondary-fixed: #ffffff;
  --md-sys-color-on-secondary-fixed-variant: #ffffff;
  --md-sys-color-tertiary: #402b61;
  --md-sys-color-tertiary-dim: #4f3a71;
  --md-sys-color-on-tertiary: #ffffff;
  --md-sys-color-tertiary-container: #79629d;
  --md-sys-color-on-tertiary-container: #ffffff;
  --md-sys-color-tertiary-fixed: #79629d;
  --md-sys-color-tertiary-fixed-dim: #5f4a83;
  --md-sys-color-on-tertiary-fixed: #ffffff;
  --md-sys-color-on-tertiary-fixed-variant: #ffffff;
  --md-sys-color-error: #740006;
  --md-sys-color-error-dim: #8f0009;
  --md-sys-color-on-error: #ffffff;
  --md-sys-color-error-container: #cf2c27;
  --md-sys-color-on-error-container: #ffffff;
  --md-sys-color-control-activated: #d2e4ff;
  --md-sys-color-control-normal: #4b4357;
  --md-sys-color-control-highlight: #0000001f;
  --md-sys-color-text-primary-inverse: #e8dfee;
  --md-sys-color-text-secondary-and-tertiary-inverse: #cec2db;
  --md-sys-color-text-primary-inverse-disable-only: #e8dfee;
  --md-sys-color-text-secondary-and-tertiary-inverse-disabled: #e8dfee;
  --md-sys-color-text-hint-inverse: #e8dfee;
}

.light-high-contrast {
  --md-sys-color-primary-palette-key-color: #337abe;
  --md-sys-color-secondary-palette-key-color: #517aa9;
  --md-sys-color-tertiary-palette-key-color: #836ca7;
  --md-sys-color-neutral-palette-key-color: #7b7582;
  --md-sys-color-neutral-variant-palette-key-color: #7d7389;
  --md-sys-color-error-palette-key-color: #de3730;
  --md-sys-color-background: #fef7ff;
  --md-sys-color-on-background: #1e1a24;
  --md-sys-color-surface: #fef7ff;
  --md-sys-color-surface-dim: #beb6c4;
  --md-sys-color-surface-bright: #fef7ff;
  --md-sys-color-surface-container-lowest: #ffffff;
  --md-sys-color-surface-container-low: #f7edfc;
  --md-sys-color-surface-container: #e8dfee;
  --md-sys-color-surface-container-high: #dad1e0;
  --md-sys-color-surface-container-highest: #ccc3d2;
  --md-sys-color-on-surface: #000000;
  --md-sys-color-surface-variant: #eadef7;
  --md-sys-color-on-surface-variant: #000000;
  --md-sys-color-inverse-surface: #332e39;
  --md-sys-color-inverse-on-surface: #ffffff;
  --md-sys-color-outline: #30293c;
  --md-sys-color-outline-variant: #4e465a;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #0661a4;
  --md-sys-color-primary: #002e52;
  --md-sys-color-primary-dim: #00213d;
  --md-sys-color-on-primary: #ffffff;
  --md-sys-color-primary-container: #004b82;
  --md-sys-color-on-primary-container: #ffffff;
  --md-sys-color-inverse-primary: #9fcaff;
  --md-sys-color-primary-fixed: #004b82;
  --md-sys-color-primary-fixed-dim: #00345c;
  --md-sys-color-on-primary-fixed: #ffffff;
  --md-sys-color-on-primary-fixed-variant: #ffffff;
  --md-sys-color-secondary: #002e52;
  --md-sys-color-secondary-dim: #00213d;
  --md-sys-color-on-secondary: #ffffff;
  --md-sys-color-secondary-container: #1d4b77;
  --md-sys-color-on-secondary-container: #ffffff;
  --md-sys-color-secondary-fixed: #1d4b77;
  --md-sys-color-secondary-fixed-dim: #00345c;
  --md-sys-color-on-secondary-fixed: #ffffff;
  --md-sys-color-on-secondary-fixed-variant: #ffffff;
  --md-sys-color-tertiary: #352157;
  --md-sys-color-tertiary-dim: #281349;
  --md-sys-color-on-tertiary: #ffffff;
  --md-sys-color-tertiary-container: #533f76;
  --md-sys-color-on-tertiary-container: #ffffff;
  --md-sys-color-tertiary-fixed: #533f76;
  --md-sys-color-tertiary-fixed-dim: #3c285e;
  --md-sys-color-on-tertiary-fixed: #ffffff;
  --md-sys-color-on-tertiary-fixed-variant: #ffffff;
  --md-sys-color-error: #600004;
  --md-sys-color-error-dim: #480002;
  --md-sys-color-on-error: #ffffff;
  --md-sys-color-error-container: #98000a;
  --md-sys-color-on-error-container: #ffffff;
  --md-sys-color-control-activated: #d2e4ff;
  --md-sys-color-control-normal: #4b4357;
  --md-sys-color-control-highlight: #0000001f;
  --md-sys-color-text-primary-inverse: #e8dfee;
  --md-sys-color-text-secondary-and-tertiary-inverse: #cec2db;
  --md-sys-color-text-primary-inverse-disable-only: #e8dfee;
  --md-sys-color-text-secondary-and-tertiary-inverse-disabled: #e8dfee;
  --md-sys-color-text-hint-inverse: #e8dfee;
}

.dark {
  --md-sys-color-primary-palette-key-color: #337abe;
  --md-sys-color-secondary-palette-key-color: #517aa9;
  --md-sys-color-tertiary-palette-key-color: #836ca7;
  --md-sys-color-neutral-palette-key-color: #7b7582;
  --md-sys-color-neutral-variant-palette-key-color: #7d7389;
  --md-sys-color-error-palette-key-color: #de3730;
  --md-sys-color-background: #15121b;
  --md-sys-color-on-background: #e8dfee;
  --md-sys-color-surface: #15121b;
  --md-sys-color-surface-dim: #15121b;
  --md-sys-color-surface-bright: #3c3742;
  --md-sys-color-surface-container-lowest: #100c16;
  --md-sys-color-surface-container-low: #1e1a24;
  --md-sys-color-surface-container: #221e28;
  --md-sys-color-surface-container-high: #2d2833;
  --md-sys-color-surface-container-highest: #38333e;
  --md-sys-color-on-surface: #e8dfee;
  --md-sys-color-surface-variant: #4b4357;
  --md-sys-color-on-surface-variant: #cec2db;
  --md-sys-color-inverse-surface: #e8dfee;
  --md-sys-color-inverse-on-surface: #332e39;
  --md-sys-color-outline: #978ca4;
  --md-sys-color-outline-variant: #4b4357;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #9fcaff;
  --md-sys-color-primary: #9fcaff;
  --md-sys-color-primary-dim: #b9d7ff;
  --md-sys-color-on-primary: #003259;
  --md-sys-color-primary-container: #00497e;
  --md-sys-color-on-primary-container: #d2e4ff;
  --md-sys-color-inverse-primary: #0661a4;
  --md-sys-color-primary-fixed: #d2e4ff;
  --md-sys-color-primary-fixed-dim: #9fcaff;
  --md-sys-color-on-primary-fixed: #001d36;
  --md-sys-color-on-primary-fixed-variant: #00497e;
  --md-sys-color-secondary: #a1cafd;
  --md-sys-color-secondary-dim: #b9d7ff;
  --md-sys-color-on-secondary: #003259;
  --md-sys-color-secondary-container: #1a4975;
  --md-sys-color-on-secondary-container: #d2e4ff;
  --md-sys-color-secondary-fixed: #d2e4ff;
  --md-sys-color-secondary-fixed-dim: #a1cafd;
  --md-sys-color-on-secondary-fixed: #001d36;
  --md-sys-color-on-secondary-fixed-variant: #1a4975;
  --md-sys-color-tertiary: #d5bbfc;
  --md-sys-color-tertiary-dim: #e0cbff;
  --md-sys-color-on-tertiary: #3a255b;
  --md-sys-color-tertiary-container: #513c73;
  --md-sys-color-on-tertiary-container: #ecdcff;
  --md-sys-color-tertiary-fixed: #ecdcff;
  --md-sys-color-tertiary-fixed-dim: #d5bbfc;
  --md-sys-color-on-tertiary-fixed: #240e45;
  --md-sys-color-on-tertiary-fixed-variant: #513c73;
  --md-sys-color-error: #ffb4ab;
  --md-sys-color-error-dim: #ffc7c0;
  --md-sys-color-on-error: #690005;
  --md-sys-color-error-container: #93000a;
  --md-sys-color-on-error-container: #ffdad6;
  --md-sys-color-control-activated: #00497e;
  --md-sys-color-control-normal: #cec2db;
  --md-sys-color-control-highlight: #ffffff33;
  --md-sys-color-text-primary-inverse: #1e1a24;
  --md-sys-color-text-secondary-and-tertiary-inverse: #4b4357;
  --md-sys-color-text-primary-inverse-disable-only: #1e1a24;
  --md-sys-color-text-secondary-and-tertiary-inverse-disabled: #1e1a24;
  --md-sys-color-text-hint-inverse: #1e1a24;
}

.dark-medium-contrast {
  --md-sys-color-primary-palette-key-color: #337abe;
  --md-sys-color-secondary-palette-key-color: #517aa9;
  --md-sys-color-tertiary-palette-key-color: #836ca7;
  --md-sys-color-neutral-palette-key-color: #7b7582;
  --md-sys-color-neutral-variant-palette-key-color: #7d7389;
  --md-sys-color-error-palette-key-color: #de3730;
  --md-sys-color-background: #15121b;
  --md-sys-color-on-background: #e8dfee;
  --md-sys-color-surface: #15121b;
  --md-sys-color-surface-dim: #15121b;
  --md-sys-color-surface-bright: #48424e;
  --md-sys-color-surface-container-lowest: #09060f;
  --md-sys-color-surface-container-low: #201c26;
  --md-sys-color-surface-container: #2a2631;
  --md-sys-color-surface-container-high: #35313c;
  --md-sys-color-surface-container-highest: #413c47;
  --md-sys-color-on-surface: #ffffff;
  --md-sys-color-surface-variant: #4b4357;
  --md-sys-color-on-surface-variant: #e4d8f1;
  --md-sys-color-inverse-surface: #e8dfee;
  --md-sys-color-inverse-on-surface: #2d2833;
  --md-sys-color-outline: #b9adc6;
  --md-sys-color-outline-variant: #968ca3;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #9fcaff;
  --md-sys-color-primary: #c7deff;
  --md-sys-color-primary-dim: #b9d7ff;
  --md-sys-color-on-primary: #002747;
  --md-sys-color-primary-container: #5294da;
  --md-sys-color-on-primary-container: #000000;
  --md-sys-color-inverse-primary: #004a80;
  --md-sys-color-primary-fixed: #d2e4ff;
  --md-sys-color-primary-fixed-dim: #9fcaff;
  --md-sys-color-on-primary-fixed: #001225;
  --md-sys-color-on-primary-fixed-variant: #003862;
  --md-sys-color-secondary: #c7deff;
  --md-sys-color-secondary-dim: #b9d7ff;
  --md-sys-color-on-secondary: #002747;
  --md-sys-color-secondary-container: #6b93c4;
  --md-sys-color-on-secondary-container: #000000;
  --md-sys-color-secondary-fixed: #d2e4ff;
  --md-sys-color-secondary-fixed-dim: #a1cafd;
  --md-sys-color-on-secondary-fixed: #001225;
  --md-sys-color-on-secondary-fixed-variant: #003862;
  --md-sys-color-tertiary: #e7d5ff;
  --md-sys-color-tertiary-dim: #e0cbff;
  --md-sys-color-on-tertiary: #2f1a50;
  --md-sys-color-tertiary-container: #9d86c3;
  --md-sys-color-on-tertiary-container: #000000;
  --md-sys-color-tertiary-fixed: #ecdcff;
  --md-sys-color-tertiary-fixed-dim: #d5bbfc;
  --md-sys-color-on-tertiary-fixed: #19023a;
  --md-sys-color-on-tertiary-fixed-variant: #402b61;
  --md-sys-color-error: #ffd2cc;
  --md-sys-color-error-dim: #ffc7c0;
  --md-sys-color-on-error: #540003;
  --md-sys-color-error-container: #ff5449;
  --md-sys-color-on-error-container: #000000;
  --md-sys-color-control-activated: #00497e;
  --md-sys-color-control-normal: #cec2db;
  --md-sys-color-control-highlight: #ffffff33;
  --md-sys-color-text-primary-inverse: #1e1a24;
  --md-sys-color-text-secondary-and-tertiary-inverse: #4b4357;
  --md-sys-color-text-primary-inverse-disable-only: #1e1a24;
  --md-sys-color-text-secondary-and-tertiary-inverse-disabled: #1e1a24;
  --md-sys-color-text-hint-inverse: #1e1a24;
}

.dark-high-contrast {
  --md-sys-color-primary-palette-key-color: #337abe;
  --md-sys-color-secondary-palette-key-color: #517aa9;
  --md-sys-color-tertiary-palette-key-color: #836ca7;
  --md-sys-color-neutral-palette-key-color: #7b7582;
  --md-sys-color-neutral-variant-palette-key-color: #7d7389;
  --md-sys-color-error-palette-key-color: #de3730;
  --md-sys-color-background: #15121b;
  --md-sys-color-on-background: #e8dfee;
  --md-sys-color-surface: #15121b;
  --md-sys-color-surface-dim: #15121b;
  --md-sys-color-surface-bright: #534e5a;
  --md-sys-color-surface-container-lowest: #000000;
  --md-sys-color-surface-container-low: #221e28;
  --md-sys-color-surface-container: #332e39;
  --md-sys-color-surface-container-high: #3e3945;
  --md-sys-color-surface-container-highest: #4a4550;
  --md-sys-color-on-surface: #ffffff;
  --md-sys-color-surface-variant: #4b4357;
  --md-sys-color-on-surface-variant: #ffffff;
  --md-sys-color-inverse-surface: #e8dfee;
  --md-sys-color-inverse-on-surface: #000000;
  --md-sys-color-outline: #f7ecff;
  --md-sys-color-outline-variant: #cabed7;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #9fcaff;
  --md-sys-color-primary: #e8f0ff;
  --md-sys-color-primary-dim: #fffeff;
  --md-sys-color-on-primary: #000000;
  --md-sys-color-primary-container: #98c6ff;
  --md-sys-color-on-primary-container: #000c1b;
  --md-sys-color-inverse-primary: #004a80;
  --md-sys-color-primary-fixed: #d2e4ff;
  --md-sys-color-primary-fixed-dim: #9fcaff;
  --md-sys-color-on-primary-fixed: #000000;
  --md-sys-color-on-primary-fixed-variant: #001225;
  --md-sys-color-secondary: #e8f0ff;
  --md-sys-color-secondary-dim: #fffeff;
  --md-sys-color-on-secondary: #000000;
  --md-sys-color-secondary-container: #9dc6f9;
  --md-sys-color-on-secondary-container: #000c1b;
  --md-sys-color-secondary-fixed: #d2e4ff;
  --md-sys-color-secondary-fixed-dim: #a1cafd;
  --md-sys-color-on-secondary-fixed: #000000;
  --md-sys-color-on-secondary-fixed-variant: #001225;
  --md-sys-color-tertiary: #f7ecff;
  --md-sys-color-tertiary-dim: #fffeff;
  --md-sys-color-on-tertiary: #000000;
  --md-sys-color-tertiary-container: #d1b7f8;
  --md-sys-color-on-tertiary-container: #12002f;
  --md-sys-color-tertiary-fixed: #ecdcff;
  --md-sys-color-tertiary-fixed-dim: #d5bbfc;
  --md-sys-color-on-tertiary-fixed: #000000;
  --md-sys-color-on-tertiary-fixed-variant: #19023a;
  --md-sys-color-error: #ffece9;
  --md-sys-color-error-dim: #fffeff;
  --md-sys-color-on-error: #000000;
  --md-sys-color-error-container: #ffaea4;
  --md-sys-color-on-error-container: #220001;
  --md-sys-color-control-activated: #00497e;
  --md-sys-color-control-normal: #cec2db;
  --md-sys-color-control-highlight: #ffffff33;
  --md-sys-color-text-primary-inverse: #1e1a24;
  --md-sys-color-text-secondary-and-tertiary-inverse: #4b4357;
  --md-sys-color-text-primary-inverse-disable-only: #1e1a24;
  --md-sys-color-text-secondary-and-tertiary-inverse-disabled: #1e1a24;
  --md-sys-color-text-hint-inverse: #1e1a24;
}

