.light {
  --md-sys-color-primary-palette-key-color: #7c7484;
  --md-sys-color-secondary-palette-key-color: #7b757f;
  --md-sys-color-tertiary-palette-key-color: #7d7389;
  --md-sys-color-neutral-palette-key-color: #797678;
  --md-sys-color-neutral-variant-palette-key-color: #797678;
  --md-sys-color-error-palette-key-color: #de3730;
  --md-sys-color-background: #fdf8fa;
  --md-sys-color-on-background: #1c1b1d;
  --md-sys-color-surface: #fdf8fa;
  --md-sys-color-surface-dim: #ddd9db;
  --md-sys-color-surface-bright: #fdf8fa;
  --md-sys-color-surface-container-lowest: #ffffff;
  --md-sys-color-surface-container-low: #f7f2f4;
  --md-sys-color-surface-container: #f1edee;
  --md-sys-color-surface-container-high: #ece7e9;
  --md-sys-color-surface-container-highest: #e6e1e3;
  --md-sys-color-on-surface: #1c1b1d;
  --md-sys-color-surface-variant: #e6e1e3;
  --md-sys-color-on-surface-variant: #484648;
  --md-sys-color-inverse-surface: #313031;
  --md-sys-color-inverse-on-surface: #f4eff1;
  --md-sys-color-outline: #797678;
  --md-sys-color-outline-variant: #cac5c7;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #625c6b;
  --md-sys-color-primary: #625c6b;
  --md-sys-color-primary-dim: #6c6574;
  --md-sys-color-on-primary: #ffffff;
  --md-sys-color-primary-container: #e9dff1;
  --md-sys-color-on-primary-container: #4a4453;
  --md-sys-color-inverse-primary: #ccc3d5;
  --md-sys-color-primary-fixed: #e9dff1;
  --md-sys-color-primary-fixed-dim: #ccc3d5;
  --md-sys-color-on-primary-fixed: #1e1926;
  --md-sys-color-on-primary-fixed-variant: #4a4453;
  --md-sys-color-secondary: #615c66;
  --md-sys-color-secondary-dim: #6b6670;
  --md-sys-color-on-secondary: #ffffff;
  --md-sys-color-secondary-container: #e8e0eb;
  --md-sys-color-on-secondary-container: #49454e;
  --md-sys-color-secondary-fixed: #e8e0eb;
  --md-sys-color-secondary-fixed-dim: #cbc4cf;
  --md-sys-color-on-secondary-fixed: #1d1a22;
  --md-sys-color-on-secondary-fixed-variant: #49454e;
  --md-sys-color-tertiary: #645b70;
  --md-sys-color-tertiary-dim: #6d647a;
  --md-sys-color-on-tertiary: #ffffff;
  --md-sys-color-tertiary-container: #eadef7;
  --md-sys-color-on-tertiary-container: #4b4357;
  --md-sys-color-tertiary-fixed: #eadef7;
  --md-sys-color-tertiary-fixed-dim: #cec2db;
  --md-sys-color-on-tertiary-fixed: #1f182a;
  --md-sys-color-on-tertiary-fixed-variant: #4b4357;
  --md-sys-color-error: #ba1a1a;
  --md-sys-color-error-dim: #ac0c12;
  --md-sys-color-on-error: #ffffff;
  --md-sys-color-error-container: #ffdad6;
  --md-sys-color-on-error-container: #93000a;
  --md-sys-color-control-activated: #e9dff1;
  --md-sys-color-control-normal: #484648;
  --md-sys-color-control-highlight: #0000001f;
  --md-sys-color-text-primary-inverse: #e6e1e3;
  --md-sys-color-text-secondary-and-tertiary-inverse: #cac5c7;
  --md-sys-color-text-primary-inverse-disable-only: #e6e1e3;
  --md-sys-color-text-secondary-and-tertiary-inverse-disabled: #e6e1e3;
  --md-sys-color-text-hint-inverse: #e6e1e3;
}

.light-medium-contrast {
  --md-sys-color-primary-palette-key-color: #7c7484;
  --md-sys-color-secondary-palette-key-color: #7b757f;
  --md-sys-color-tertiary-palette-key-color: #7d7389;
  --md-sys-color-neutral-palette-key-color: #797678;
  --md-sys-color-neutral-variant-palette-key-color: #797678;
  --md-sys-color-error-palette-key-color: #de3730;
  --md-sys-color-background: #fdf8fa;
  --md-sys-color-on-background: #1c1b1d;
  --md-sys-color-surface: #fdf8fa;
  --md-sys-color-surface-dim: #cac5c7;
  --md-sys-color-surface-bright: #fdf8fa;
  --md-sys-color-surface-container-lowest: #ffffff;
  --md-sys-color-surface-container-low: #f7f2f4;
  --md-sys-color-surface-container: #ece7e9;
  --md-sys-color-surface-container-high: #e0dcdd;
  --md-sys-color-surface-container-highest: #d5d0d2;
  --md-sys-color-on-surface: #121112;
  --md-sys-color-surface-variant: #e6e1e3;
  --md-sys-color-on-surface-variant: #373637;
  --md-sys-color-inverse-surface: #313031;
  --md-sys-color-inverse-on-surface: #f4eff1;
  --md-sys-color-outline: #545253;
  --md-sys-color-outline-variant: #6f6c6e;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #625c6b;
  --md-sys-color-primary: #393441;
  --md-sys-color-primary-dim: #484250;
  --md-sys-color-on-primary: #ffffff;
  --md-sys-color-primary-container: #716a7a;
  --md-sys-color-on-primary-container: #ffffff;
  --md-sys-color-inverse-primary: #ccc3d5;
  --md-sys-color-primary-fixed: #716a7a;
  --md-sys-color-primary-fixed-dim: #595261;
  --md-sys-color-on-primary-fixed: #ffffff;
  --md-sys-color-on-primary-fixed-variant: #ffffff;
  --md-sys-color-secondary: #39353d;
  --md-sys-color-secondary-dim: #47434c;
  --md-sys-color-on-secondary: #ffffff;
  --md-sys-color-secondary-container: #706b75;
  --md-sys-color-on-secondary-container: #ffffff;
  --md-sys-color-secondary-fixed: #706b75;
  --md-sys-color-secondary-fixed-dim: #58535c;
  --md-sys-color-on-secondary-fixed: #ffffff;
  --md-sys-color-on-secondary-fixed-variant: #ffffff;
  --md-sys-color-tertiary: #3a3346;
  --md-sys-color-tertiary-dim: #494155;
  --md-sys-color-on-tertiary: #ffffff;
  --md-sys-color-tertiary-container: #72697f;
  --md-sys-color-on-tertiary-container: #ffffff;
  --md-sys-color-tertiary-fixed: #72697f;
  --md-sys-color-tertiary-fixed-dim: #5a5166;
  --md-sys-color-on-tertiary-fixed: #ffffff;
  --md-sys-color-on-tertiary-fixed-variant: #ffffff;
  --md-sys-color-error: #740006;
  --md-sys-color-error-dim: #8f0009;
  --md-sys-color-on-error: #ffffff;
  --md-sys-color-error-container: #cf2c27;
  --md-sys-color-on-error-container: #ffffff;
  --md-sys-color-control-activated: #e9dff1;
  --md-sys-color-control-normal: #484648;
  --md-sys-color-control-highlight: #0000001f;
  --md-sys-color-text-primary-inverse: #e6e1e3;
  --md-sys-color-text-secondary-and-tertiary-inverse: #cac5c7;
  --md-sys-color-text-primary-inverse-disable-only: #e6e1e3;
  --md-sys-color-text-secondary-and-tertiary-inverse-disabled: #e6e1e3;
  --md-sys-color-text-hint-inverse: #e6e1e3;
}

.light-high-contrast {
  --md-sys-color-primary-palette-key-color: #7c7484;
  --md-sys-color-secondary-palette-key-color: #7b757f;
  --md-sys-color-tertiary-palette-key-color: #7d7389;
  --md-sys-color-neutral-palette-key-color: #797678;
  --md-sys-color-neutral-variant-palette-key-color: #797678;
  --md-sys-color-error-palette-key-color: #de3730;
  --md-sys-color-background: #fdf8fa;
  --md-sys-color-on-background: #1c1b1d;
  --md-sys-color-surface: #fdf8fa;
  --md-sys-color-surface-dim: #bcb8b9;
  --md-sys-color-surface-bright: #fdf8fa;
  --md-sys-color-surface-container-lowest: #ffffff;
  --md-sys-color-surface-container-low: #f4eff1;
  --md-sys-color-surface-container: #e6e1e3;
  --md-sys-color-surface-container-high: #d8d3d5;
  --md-sys-color-surface-container-highest: #cac5c7;
  --md-sys-color-on-surface: #000000;
  --md-sys-color-surface-variant: #e6e1e3;
  --md-sys-color-on-surface-variant: #000000;
  --md-sys-color-inverse-surface: #313031;
  --md-sys-color-inverse-on-surface: #ffffff;
  --md-sys-color-outline: #2d2c2d;
  --md-sys-color-outline-variant: #4b484a;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #625c6b;
  --md-sys-color-primary: #2f2a37;
  --md-sys-color-primary-dim: #221d2a;
  --md-sys-color-on-primary: #ffffff;
  --md-sys-color-primary-container: #4d4655;
  --md-sys-color-on-primary-container: #ffffff;
  --md-sys-color-inverse-primary: #ccc3d5;
  --md-sys-color-primary-fixed: #4d4655;
  --md-sys-color-primary-fixed-dim: #36303e;
  --md-sys-color-on-primary-fixed: #ffffff;
  --md-sys-color-on-primary-fixed-variant: #ffffff;
  --md-sys-color-secondary: #2e2b33;
  --md-sys-color-secondary-dim: #211e26;
  --md-sys-color-on-secondary: #ffffff;
  --md-sys-color-secondary-container: #4c4750;
  --md-sys-color-on-secondary-container: #ffffff;
  --md-sys-color-secondary-fixed: #4c4750;
  --md-sys-color-secondary-fixed-dim: #35313a;
  --md-sys-color-on-secondary-fixed: #ffffff;
  --md-sys-color-on-secondary-fixed-variant: #ffffff;
  --md-sys-color-tertiary: #30293c;
  --md-sys-color-tertiary-dim: #231c2e;
  --md-sys-color-on-tertiary: #ffffff;
  --md-sys-color-tertiary-container: #4e465a;
  --md-sys-color-on-tertiary-container: #ffffff;
  --md-sys-color-tertiary-fixed: #4e465a;
  --md-sys-color-tertiary-fixed-dim: #372f42;
  --md-sys-color-on-tertiary-fixed: #ffffff;
  --md-sys-color-on-tertiary-fixed-variant: #ffffff;
  --md-sys-color-error: #600004;
  --md-sys-color-error-dim: #480002;
  --md-sys-color-on-error: #ffffff;
  --md-sys-color-error-container: #98000a;
  --md-sys-color-on-error-container: #ffffff;
  --md-sys-color-control-activated: #e9dff1;
  --md-sys-color-control-normal: #484648;
  --md-sys-color-control-highlight: #0000001f;
  --md-sys-color-text-primary-inverse: #e6e1e3;
  --md-sys-color-text-secondary-and-tertiary-inverse: #cac5c7;
  --md-sys-color-text-primary-inverse-disable-only: #e6e1e3;
  --md-sys-color-text-secondary-and-tertiary-inverse-disabled: #e6e1e3;
  --md-sys-color-text-hint-inverse: #e6e1e3;
}

.dark {
  --md-sys-color-primary-palette-key-color: #7c7484;
  --md-sys-color-secondary-palette-key-color: #7b757f;
  --md-sys-color-tertiary-palette-key-color: #7d7389;
  --md-sys-color-neutral-palette-key-color: #797678;
  --md-sys-color-neutral-variant-palette-key-color: #797678;
  --md-sys-color-error-palette-key-color: #de3730;
  --md-sys-color-background: #141314;
  --md-sys-color-on-background: #e6e1e3;
  --md-sys-color-surface: #141314;
  --md-sys-color-surface-dim: #141314;
  --md-sys-color-surface-bright: #3a393a;
  --md-sys-color-surface-container-lowest: #0f0e0f;
  --md-sys-color-surface-container-low: #1c1b1d;
  --md-sys-color-surface-container: #201f21;
  --md-sys-color-surface-container-high: #2b292b;
  --md-sys-color-surface-container-highest: #363436;
  --md-sys-color-on-surface: #e6e1e3;
  --md-sys-color-surface-variant: #484648;
  --md-sys-color-on-surface-variant: #cac5c7;
  --md-sys-color-inverse-surface: #e6e1e3;
  --md-sys-color-inverse-on-surface: #313031;
  --md-sys-color-outline: #939092;
  --md-sys-color-outline-variant: #484648;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #ccc3d5;
  --md-sys-color-primary: #ccc3d5;
  --md-sys-color-primary-dim: #dbd1e3;
  --md-sys-color-on-primary: #342e3c;
  --md-sys-color-primary-container: #4a4453;
  --md-sys-color-on-primary-container: #e9dff1;
  --md-sys-color-inverse-primary: #625c6b;
  --md-sys-color-primary-fixed: #e9dff1;
  --md-sys-color-primary-fixed-dim: #ccc3d5;
  --md-sys-color-on-primary-fixed: #1e1926;
  --md-sys-color-on-primary-fixed-variant: #4a4453;
  --md-sys-color-secondary: #cbc4cf;
  --md-sys-color-secondary-dim: #d9d2dd;
  --md-sys-color-on-secondary: #332f37;
  --md-sys-color-secondary-container: #49454e;
  --md-sys-color-on-secondary-container: #e8e0eb;
  --md-sys-color-secondary-fixed: #e8e0eb;
  --md-sys-color-secondary-fixed-dim: #cbc4cf;
  --md-sys-color-on-secondary-fixed: #1d1a22;
  --md-sys-color-on-secondary-fixed-variant: #49454e;
  --md-sys-color-tertiary: #cec2db;
  --md-sys-color-tertiary-dim: #f0e3fd;
  --md-sys-color-on-tertiary: #352d40;
  --md-sys-color-tertiary-container: #4b4357;
  --md-sys-color-on-tertiary-container: #eadef7;
  --md-sys-color-tertiary-fixed: #eadef7;
  --md-sys-color-tertiary-fixed-dim: #cec2db;
  --md-sys-color-on-tertiary-fixed: #1f182a;
  --md-sys-color-on-tertiary-fixed-variant: #4b4357;
  --md-sys-color-error: #ffb4ab;
  --md-sys-color-error-dim: #ffc7c0;
  --md-sys-color-on-error: #690005;
  --md-sys-color-error-container: #93000a;
  --md-sys-color-on-error-container: #ffdad6;
  --md-sys-color-control-activated: #4a4453;
  --md-sys-color-control-normal: #cac5c7;
  --md-sys-color-control-highlight: #ffffff33;
  --md-sys-color-text-primary-inverse: #1c1b1d;
  --md-sys-color-text-secondary-and-tertiary-inverse: #484648;
  --md-sys-color-text-primary-inverse-disable-only: #1c1b1d;
  --md-sys-color-text-secondary-and-tertiary-inverse-disabled: #1c1b1d;
  --md-sys-color-text-hint-inverse: #1c1b1d;
}

.dark-medium-contrast {
  --md-sys-color-primary-palette-key-color: #7c7484;
  --md-sys-color-secondary-palette-key-color: #7b757f;
  --md-sys-color-tertiary-palette-key-color: #7d7389;
  --md-sys-color-neutral-palette-key-color: #797678;
  --md-sys-color-neutral-variant-palette-key-color: #797678;
  --md-sys-color-error-palette-key-color: #de3730;
  --md-sys-color-background: #141314;
  --md-sys-color-on-background: #e6e1e3;
  --md-sys-color-surface: #141314;
  --md-sys-color-surface-dim: #141314;
  --md-sys-color-surface-bright: #464445;
  --md-sys-color-surface-container-lowest: #080708;
  --md-sys-color-surface-container-low: #1e1d1f;
  --md-sys-color-surface-container: #292729;
  --md-sys-color-surface-container-high: #343234;
  --md-sys-color-surface-container-highest: #3f3d3f;
  --md-sys-color-on-surface: #ffffff;
  --md-sys-color-surface-variant: #484648;
  --md-sys-color-on-surface-variant: #e0dbdd;
  --md-sys-color-inverse-surface: #e6e1e3;
  --md-sys-color-inverse-on-surface: #2b292b;
  --md-sys-color-outline: #b5b1b3;
  --md-sys-color-outline-variant: #938f91;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #ccc3d5;
  --md-sys-color-primary: #e3d9eb;
  --md-sys-color-primary-dim: #dbd1e3;
  --md-sys-color-on-primary: #292330;
  --md-sys-color-primary-container: #968d9e;
  --md-sys-color-on-primary-container: #000000;
  --md-sys-color-inverse-primary: #4c4554;
  --md-sys-color-primary-fixed: #e9dff1;
  --md-sys-color-primary-fixed-dim: #ccc3d5;
  --md-sys-color-on-primary-fixed: #140f1b;
  --md-sys-color-on-primary-fixed-variant: #393441;
  --md-sys-color-secondary: #e1dae5;
  --md-sys-color-secondary-dim: #d9d2dd;
  --md-sys-color-on-secondary: #28242c;
  --md-sys-color-secondary-container: #958e99;
  --md-sys-color-on-secondary-container: #000000;
  --md-sys-color-secondary-fixed: #e8e0eb;
  --md-sys-color-secondary-fixed-dim: #cbc4cf;
  --md-sys-color-on-secondary-fixed: #131017;
  --md-sys-color-on-secondary-fixed-variant: #39353d;
  --md-sys-color-tertiary: #e4d8f1;
  --md-sys-color-tertiary-dim: #f0e3fd;
  --md-sys-color-on-tertiary: #2a2235;
  --md-sys-color-tertiary-container: #978ca4;
  --md-sys-color-on-tertiary-container: #000000;
  --md-sys-color-tertiary-fixed: #eadef7;
  --md-sys-color-tertiary-fixed-dim: #cec2db;
  --md-sys-color-on-tertiary-fixed: #140e1f;
  --md-sys-color-on-tertiary-fixed-variant: #3a3346;
  --md-sys-color-error: #ffd2cc;
  --md-sys-color-error-dim: #ffc7c0;
  --md-sys-color-on-error: #540003;
  --md-sys-color-error-container: #ff5449;
  --md-sys-color-on-error-container: #000000;
  --md-sys-color-control-activated: #4a4453;
  --md-sys-color-control-normal: #cac5c7;
  --md-sys-color-control-highlight: #ffffff33;
  --md-sys-color-text-primary-inverse: #1c1b1d;
  --md-sys-color-text-secondary-and-tertiary-inverse: #484648;
  --md-sys-color-text-primary-inverse-disable-only: #1c1b1d;
  --md-sys-color-text-secondary-and-tertiary-inverse-disabled: #1c1b1d;
  --md-sys-color-text-hint-inverse: #1c1b1d;
}

.dark-high-contrast {
  --md-sys-color-primary-palette-key-color: #7c7484;
  --md-sys-color-secondary-palette-key-color: #7b757f;
  --md-sys-color-tertiary-palette-key-color: #7d7389;
  --md-sys-color-neutral-palette-key-color: #797678;
  --md-sys-color-neutral-variant-palette-key-color: #797678;
  --md-sys-color-error-palette-key-color: #de3730;
  --md-sys-color-background: #141314;
  --md-sys-color-on-background: #e6e1e3;
  --md-sys-color-surface: #141314;
  --md-sys-color-surface-dim: #141314;
  --md-sys-color-surface-bright: #524f51;
  --md-sys-color-surface-container-lowest: #000000;
  --md-sys-color-surface-container-low: #201f21;
  --md-sys-color-surface-container: #313031;
  --md-sys-color-surface-container-high: #3d3b3c;
  --md-sys-color-surface-container-highest: #484648;
  --md-sys-color-on-surface: #ffffff;
  --md-sys-color-surface-variant: #484648;
  --md-sys-color-on-surface-variant: #ffffff;
  --md-sys-color-inverse-surface: #e6e1e3;
  --md-sys-color-inverse-on-surface: #000000;
  --md-sys-color-outline: #f4eff0;
  --md-sys-color-outline-variant: #c6c1c3;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #ccc3d5;
  --md-sys-color-primary: #f7ecff;
  --md-sys-color-primary-dim: #fffeff;
  --md-sys-color-on-primary: #000000;
  --md-sys-color-primary-container: #c8bfd1;
  --md-sys-color-on-primary-container: #0e0915;
  --md-sys-color-inverse-primary: #4c4554;
  --md-sys-color-primary-fixed: #e9dff1;
  --md-sys-color-primary-fixed-dim: #ccc3d5;
  --md-sys-color-on-primary-fixed: #000000;
  --md-sys-color-on-primary-fixed-variant: #140f1b;
  --md-sys-color-secondary: #f5edf9;
  --md-sys-color-secondary-dim: #fffeff;
  --md-sys-color-on-secondary: #000000;
  --md-sys-color-secondary-container: #c7c0cb;
  --md-sys-color-on-secondary-container: #0d0a11;
  --md-sys-color-secondary-fixed: #e8e0eb;
  --md-sys-color-secondary-fixed-dim: #cbc4cf;
  --md-sys-color-on-secondary-fixed: #000000;
  --md-sys-color-on-secondary-fixed-variant: #131017;
  --md-sys-color-tertiary: #f7ecff;
  --md-sys-color-tertiary-dim: #fffeff;
  --md-sys-color-on-tertiary: #000000;
  --md-sys-color-tertiary-container: #cabed7;
  --md-sys-color-on-tertiary-container: #0e0819;
  --md-sys-color-tertiary-fixed: #eadef7;
  --md-sys-color-tertiary-fixed-dim: #cec2db;
  --md-sys-color-on-tertiary-fixed: #000000;
  --md-sys-color-on-tertiary-fixed-variant: #140e1f;
  --md-sys-color-error: #ffece9;
  --md-sys-color-error-dim: #fffeff;
  --md-sys-color-on-error: #000000;
  --md-sys-color-error-container: #ffaea4;
  --md-sys-color-on-error-container: #220001;
  --md-sys-color-control-activated: #4a4453;
  --md-sys-color-control-normal: #cac5c7;
  --md-sys-color-control-highlight: #ffffff33;
  --md-sys-color-text-primary-inverse: #1c1b1d;
  --md-sys-color-text-secondary-and-tertiary-inverse: #484648;
  --md-sys-color-text-primary-inverse-disable-only: #1c1b1d;
  --md-sys-color-text-secondary-and-tertiary-inverse-disabled: #1c1b1d;
  --md-sys-color-text-hint-inverse: #1c1b1d;
}

