.light {
  --md-sys-color-primary-palette-key-color: #7c7484;
  --md-sys-color-secondary-palette-key-color: #7a757c;
  --md-sys-color-tertiary-palette-key-color: #7570ac;
  --md-sys-color-neutral-palette-key-color: #7a757c;
  --md-sys-color-neutral-variant-palette-key-color: #7c7486;
  --md-sys-color-error-palette-key-color: #b15e69;
  --md-sys-color-background: #000000;
  --md-sys-color-on-background: #ffffff;
  --md-sys-color-surface: #000000;
  --md-sys-color-surface-dim: #0f0d12;
  --md-sys-color-surface-bright: #30293a;
  --md-sys-color-surface-container-lowest: #000000;
  --md-sys-color-surface-container-low: #27252a;
  --md-sys-color-surface-container: #322f35;
  --md-sys-color-surface-container-high: #3d3a40;
  --md-sys-color-surface-container-highest: #292332;
  --md-sys-color-on-surface: #fffeff;
  --md-sys-color-surface-variant: #292332;
  --md-sys-color-on-surface-variant: #d2ccd4;
  --md-sys-color-inverse-surface: #fef7ff;
  --md-sys-color-inverse-on-surface: #57545a;
  --md-sys-color-outline: #a9a4ab;
  --md-sys-color-outline-variant: #89848b;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #e9dff1;
  --md-sys-color-primary: #e9dff1;
  --md-sys-color-primary-dim: #dbd1e3;
  --md-sys-color-on-primary: #433d4b;
  --md-sys-color-primary-container: #4a4453;
  --md-sys-color-on-primary-container: #e6dcef;
  --md-sys-color-inverse-primary: #595261;
  --md-sys-color-primary-fixed: #4a4453;
  --md-sys-color-primary-fixed-dim: #3f3947;
  --md-sys-color-on-primary-fixed: #d4cadc;
  --md-sys-color-on-primary-fixed-variant: #aba2b3;
  --md-sys-color-secondary: #e7e0e8;
  --md-sys-color-secondary-dim: #d9d2da;
  --md-sys-color-on-secondary: #413e44;
  --md-sys-color-secondary-container: #49454c;
  --md-sys-color-on-secondary-container: #e5dee6;
  --md-sys-color-secondary-fixed: #49454c;
  --md-sys-color-secondary-fixed-dim: #3d3a40;
  --md-sys-color-on-secondary-fixed: #d2ccd4;
  --md-sys-color-on-secondary-fixed-variant: #a9a4ab;
  --md-sys-color-tertiary: #cdc8ff;
  --md-sys-color-tertiary-dim: #bfb9fa;
  --md-sys-color-on-tertiary: #2f2a61;
  --md-sys-color-tertiary-container: #a39edd;
  --md-sys-color-on-tertiary-container: #161148;
  --md-sys-color-tertiary-fixed: #a39edd;
  --md-sys-color-tertiary-fixed-dim: #9691cf;
  --md-sys-color-on-tertiary-fixed: #030022;
  --md-sys-color-on-tertiary-fixed-variant: #2d295f;
  --md-sys-color-error: #ffbdc3;
  --md-sys-color-error-dim: #e88b96;
  --md-sys-color-on-error: #3c0311;
  --md-sys-color-error-container: #76303a;
  --md-sys-color-on-error-container: #ffd6d9;
}

.light-medium-contrast {
  --md-sys-color-primary-palette-key-color: #7c7484;
  --md-sys-color-secondary-palette-key-color: #7a757c;
  --md-sys-color-tertiary-palette-key-color: #7570ac;
  --md-sys-color-neutral-palette-key-color: #7a757c;
  --md-sys-color-neutral-variant-palette-key-color: #7c7486;
  --md-sys-color-error-palette-key-color: #b15e69;
  --md-sys-color-background: #000000;
  --md-sys-color-on-background: #ffffff;
  --md-sys-color-surface: #000000;
  --md-sys-color-surface-dim: #0f0d12;
  --md-sys-color-surface-bright: #30293a;
  --md-sys-color-surface-container-lowest: #000000;
  --md-sys-color-surface-container-low: #27252a;
  --md-sys-color-surface-container: #322f35;
  --md-sys-color-surface-container-high: #3d3a40;
  --md-sys-color-surface-container-highest: #292332;
  --md-sys-color-on-surface: #ffffff;
  --md-sys-color-surface-variant: #292332;
  --md-sys-color-on-surface-variant: #fffeff;
  --md-sys-color-inverse-surface: #fef7ff;
  --md-sys-color-inverse-on-surface: #3a373d;
  --md-sys-color-outline: #d2ccd4;
  --md-sys-color-outline-variant: #a9a4ab;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #fffeff;
  --md-sys-color-primary: #fffeff;
  --md-sys-color-primary-dim: #dbd1e3;
  --md-sys-color-on-primary: #221d2a;
  --md-sys-color-primary-container: #4a4453;
  --md-sys-color-on-primary-container: #ffffff;
  --md-sys-color-inverse-primary: #3b3644;
  --md-sys-color-primary-fixed: #4a4453;
  --md-sys-color-primary-fixed-dim: #3f3947;
  --md-sys-color-on-primary-fixed: #fffeff;
  --md-sys-color-on-primary-fixed-variant: #d4cadc;
  --md-sys-color-secondary: #fffeff;
  --md-sys-color-secondary-dim: #d9d2da;
  --md-sys-color-on-secondary: #211e24;
  --md-sys-color-secondary-container: #49454c;
  --md-sys-color-on-secondary-container: #ffffff;
  --md-sys-color-secondary-fixed: #49454c;
  --md-sys-color-secondary-fixed-dim: #3d3a40;
  --md-sys-color-on-secondary-fixed: #fffeff;
  --md-sys-color-on-secondary-fixed-variant: #d2ccd4;
  --md-sys-color-tertiary: #fffeff;
  --md-sys-color-tertiary-dim: #cdc8ff;
  --md-sys-color-on-tertiary: #161048;
  --md-sys-color-tertiary-container: #b1aceb;
  --md-sys-color-on-tertiary-container: #000000;
  --md-sys-color-tertiary-fixed: #a39edd;
  --md-sys-color-tertiary-fixed-dim: #9691cf;
  --md-sys-color-on-tertiary-fixed: #000000;
  --md-sys-color-on-tertiary-fixed-variant: #030022;
  --md-sys-color-error: #fffeff;
  --md-sys-color-error-dim: #ffbdc3;
  --md-sys-color-on-error: #3b0310;
  --md-sys-color-error-container: #76303a;
  --md-sys-color-on-error-container: #ffffff;
}

.light-high-contrast {
  --md-sys-color-primary-palette-key-color: #7c7484;
  --md-sys-color-secondary-palette-key-color: #7a757c;
  --md-sys-color-tertiary-palette-key-color: #7570ac;
  --md-sys-color-neutral-palette-key-color: #7a757c;
  --md-sys-color-neutral-variant-palette-key-color: #7c7486;
  --md-sys-color-error-palette-key-color: #b15e69;
  --md-sys-color-background: #000000;
  --md-sys-color-on-background: #ffffff;
  --md-sys-color-surface: #000000;
  --md-sys-color-surface-dim: #0f0d12;
  --md-sys-color-surface-bright: #30293a;
  --md-sys-color-surface-container-lowest: #000000;
  --md-sys-color-surface-container-low: #27252a;
  --md-sys-color-surface-container: #322f35;
  --md-sys-color-surface-container-high: #3d3a40;
  --md-sys-color-surface-container-highest: #292332;
  --md-sys-color-on-surface: #ffffff;
  --md-sys-color-surface-variant: #292332;
  --md-sys-color-on-surface-variant: #ffffff;
  --md-sys-color-inverse-surface: #fef7ff;
  --md-sys-color-inverse-on-surface: #000000;
  --md-sys-color-outline: #fffeff;
  --md-sys-color-outline-variant: #d2ccd4;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #ffffff;
  --md-sys-color-primary: #ffffff;
  --md-sys-color-primary-dim: #fffeff;
  --md-sys-color-on-primary: #000000;
  --md-sys-color-primary-container: #4a4453;
  --md-sys-color-on-primary-container: #ffffff;
  --md-sys-color-inverse-primary: #000000;
  --md-sys-color-primary-fixed: #4a4453;
  --md-sys-color-primary-fixed-dim: #3f3947;
  --md-sys-color-on-primary-fixed: #ffffff;
  --md-sys-color-on-primary-fixed-variant: #fffeff;
  --md-sys-color-secondary: #ffffff;
  --md-sys-color-secondary-dim: #fffeff;
  --md-sys-color-on-secondary: #000000;
  --md-sys-color-secondary-container: #49454c;
  --md-sys-color-on-secondary-container: #ffffff;
  --md-sys-color-secondary-fixed: #49454c;
  --md-sys-color-secondary-fixed-dim: #3d3a40;
  --md-sys-color-on-secondary-fixed: #ffffff;
  --md-sys-color-on-secondary-fixed-variant: #fffeff;
  --md-sys-color-tertiary: #ffffff;
  --md-sys-color-tertiary-dim: #fffeff;
  --md-sys-color-on-tertiary: #000000;
  --md-sys-color-tertiary-container: #c2bdfe;
  --md-sys-color-on-tertiary-container: #000000;
  --md-sys-color-tertiary-fixed: #a39edd;
  --md-sys-color-tertiary-fixed-dim: #9691cf;
  --md-sys-color-on-tertiary-fixed: #000000;
  --md-sys-color-on-tertiary-fixed-variant: #000000;
  --md-sys-color-error: #ffffff;
  --md-sys-color-error-dim: #fffeff;
  --md-sys-color-on-error: #000000;
  --md-sys-color-error-container: #76303a;
  --md-sys-color-on-error-container: #ffffff;
}

.dark {
  --md-sys-color-primary-palette-key-color: #7c7484;
  --md-sys-color-secondary-palette-key-color: #7a757c;
  --md-sys-color-tertiary-palette-key-color: #7570ac;
  --md-sys-color-neutral-palette-key-color: #7a757c;
  --md-sys-color-neutral-variant-palette-key-color: #7c7486;
  --md-sys-color-error-palette-key-color: #b15e69;
  --md-sys-color-background: #000000;
  --md-sys-color-on-background: #ffffff;
  --md-sys-color-surface: #000000;
  --md-sys-color-surface-dim: #0f0d12;
  --md-sys-color-surface-bright: #30293a;
  --md-sys-color-surface-container-lowest: #000000;
  --md-sys-color-surface-container-low: #27252a;
  --md-sys-color-surface-container: #322f35;
  --md-sys-color-surface-container-high: #3d3a40;
  --md-sys-color-surface-container-highest: #292332;
  --md-sys-color-on-surface: #fffeff;
  --md-sys-color-surface-variant: #292332;
  --md-sys-color-on-surface-variant: #d2ccd4;
  --md-sys-color-inverse-surface: #fef7ff;
  --md-sys-color-inverse-on-surface: #57545a;
  --md-sys-color-outline: #a9a4ab;
  --md-sys-color-outline-variant: #89848b;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #e9dff1;
  --md-sys-color-primary: #e9dff1;
  --md-sys-color-primary-dim: #dbd1e3;
  --md-sys-color-on-primary: #433d4b;
  --md-sys-color-primary-container: #4a4453;
  --md-sys-color-on-primary-container: #e6dcef;
  --md-sys-color-inverse-primary: #595261;
  --md-sys-color-primary-fixed: #4a4453;
  --md-sys-color-primary-fixed-dim: #3f3947;
  --md-sys-color-on-primary-fixed: #d4cadc;
  --md-sys-color-on-primary-fixed-variant: #aba2b3;
  --md-sys-color-secondary: #e7e0e8;
  --md-sys-color-secondary-dim: #d9d2da;
  --md-sys-color-on-secondary: #413e44;
  --md-sys-color-secondary-container: #49454c;
  --md-sys-color-on-secondary-container: #e5dee6;
  --md-sys-color-secondary-fixed: #49454c;
  --md-sys-color-secondary-fixed-dim: #3d3a40;
  --md-sys-color-on-secondary-fixed: #d2ccd4;
  --md-sys-color-on-secondary-fixed-variant: #a9a4ab;
  --md-sys-color-tertiary: #cdc8ff;
  --md-sys-color-tertiary-dim: #bfb9fa;
  --md-sys-color-on-tertiary: #2f2a61;
  --md-sys-color-tertiary-container: #a39edd;
  --md-sys-color-on-tertiary-container: #161148;
  --md-sys-color-tertiary-fixed: #a39edd;
  --md-sys-color-tertiary-fixed-dim: #9691cf;
  --md-sys-color-on-tertiary-fixed: #030022;
  --md-sys-color-on-tertiary-fixed-variant: #2d295f;
  --md-sys-color-error: #ffbdc3;
  --md-sys-color-error-dim: #e88b96;
  --md-sys-color-on-error: #3c0311;
  --md-sys-color-error-container: #76303a;
  --md-sys-color-on-error-container: #ffd6d9;
}

.dark-medium-contrast {
  --md-sys-color-primary-palette-key-color: #7c7484;
  --md-sys-color-secondary-palette-key-color: #7a757c;
  --md-sys-color-tertiary-palette-key-color: #7570ac;
  --md-sys-color-neutral-palette-key-color: #7a757c;
  --md-sys-color-neutral-variant-palette-key-color: #7c7486;
  --md-sys-color-error-palette-key-color: #b15e69;
  --md-sys-color-background: #000000;
  --md-sys-color-on-background: #ffffff;
  --md-sys-color-surface: #000000;
  --md-sys-color-surface-dim: #0f0d12;
  --md-sys-color-surface-bright: #30293a;
  --md-sys-color-surface-container-lowest: #000000;
  --md-sys-color-surface-container-low: #27252a;
  --md-sys-color-surface-container: #322f35;
  --md-sys-color-surface-container-high: #3d3a40;
  --md-sys-color-surface-container-highest: #292332;
  --md-sys-color-on-surface: #ffffff;
  --md-sys-color-surface-variant: #292332;
  --md-sys-color-on-surface-variant: #fffeff;
  --md-sys-color-inverse-surface: #fef7ff;
  --md-sys-color-inverse-on-surface: #3a373d;
  --md-sys-color-outline: #d2ccd4;
  --md-sys-color-outline-variant: #a9a4ab;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #fffeff;
  --md-sys-color-primary: #fffeff;
  --md-sys-color-primary-dim: #dbd1e3;
  --md-sys-color-on-primary: #221d2a;
  --md-sys-color-primary-container: #4a4453;
  --md-sys-color-on-primary-container: #ffffff;
  --md-sys-color-inverse-primary: #3b3644;
  --md-sys-color-primary-fixed: #4a4453;
  --md-sys-color-primary-fixed-dim: #3f3947;
  --md-sys-color-on-primary-fixed: #fffeff;
  --md-sys-color-on-primary-fixed-variant: #d4cadc;
  --md-sys-color-secondary: #fffeff;
  --md-sys-color-secondary-dim: #d9d2da;
  --md-sys-color-on-secondary: #211e24;
  --md-sys-color-secondary-container: #49454c;
  --md-sys-color-on-secondary-container: #ffffff;
  --md-sys-color-secondary-fixed: #49454c;
  --md-sys-color-secondary-fixed-dim: #3d3a40;
  --md-sys-color-on-secondary-fixed: #fffeff;
  --md-sys-color-on-secondary-fixed-variant: #d2ccd4;
  --md-sys-color-tertiary: #fffeff;
  --md-sys-color-tertiary-dim: #cdc8ff;
  --md-sys-color-on-tertiary: #161048;
  --md-sys-color-tertiary-container: #b1aceb;
  --md-sys-color-on-tertiary-container: #000000;
  --md-sys-color-tertiary-fixed: #a39edd;
  --md-sys-color-tertiary-fixed-dim: #9691cf;
  --md-sys-color-on-tertiary-fixed: #000000;
  --md-sys-color-on-tertiary-fixed-variant: #030022;
  --md-sys-color-error: #fffeff;
  --md-sys-color-error-dim: #ffbdc3;
  --md-sys-color-on-error: #3b0310;
  --md-sys-color-error-container: #76303a;
  --md-sys-color-on-error-container: #ffffff;
}

.dark-high-contrast {
  --md-sys-color-primary-palette-key-color: #7c7484;
  --md-sys-color-secondary-palette-key-color: #7a757c;
  --md-sys-color-tertiary-palette-key-color: #7570ac;
  --md-sys-color-neutral-palette-key-color: #7a757c;
  --md-sys-color-neutral-variant-palette-key-color: #7c7486;
  --md-sys-color-error-palette-key-color: #b15e69;
  --md-sys-color-background: #000000;
  --md-sys-color-on-background: #ffffff;
  --md-sys-color-surface: #000000;
  --md-sys-color-surface-dim: #0f0d12;
  --md-sys-color-surface-bright: #30293a;
  --md-sys-color-surface-container-lowest: #000000;
  --md-sys-color-surface-container-low: #27252a;
  --md-sys-color-surface-container: #322f35;
  --md-sys-color-surface-container-high: #3d3a40;
  --md-sys-color-surface-container-highest: #292332;
  --md-sys-color-on-surface: #ffffff;
  --md-sys-color-surface-variant: #292332;
  --md-sys-color-on-surface-variant: #ffffff;
  --md-sys-color-inverse-surface: #fef7ff;
  --md-sys-color-inverse-on-surface: #000000;
  --md-sys-color-outline: #fffeff;
  --md-sys-color-outline-variant: #d2ccd4;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #ffffff;
  --md-sys-color-primary: #ffffff;
  --md-sys-color-primary-dim: #fffeff;
  --md-sys-color-on-primary: #000000;
  --md-sys-color-primary-container: #4a4453;
  --md-sys-color-on-primary-container: #ffffff;
  --md-sys-color-inverse-primary: #000000;
  --md-sys-color-primary-fixed: #4a4453;
  --md-sys-color-primary-fixed-dim: #3f3947;
  --md-sys-color-on-primary-fixed: #ffffff;
  --md-sys-color-on-primary-fixed-variant: #fffeff;
  --md-sys-color-secondary: #ffffff;
  --md-sys-color-secondary-dim: #fffeff;
  --md-sys-color-on-secondary: #000000;
  --md-sys-color-secondary-container: #49454c;
  --md-sys-color-on-secondary-container: #ffffff;
  --md-sys-color-secondary-fixed: #49454c;
  --md-sys-color-secondary-fixed-dim: #3d3a40;
  --md-sys-color-on-secondary-fixed: #ffffff;
  --md-sys-color-on-secondary-fixed-variant: #fffeff;
  --md-sys-color-tertiary: #ffffff;
  --md-sys-color-tertiary-dim: #fffeff;
  --md-sys-color-on-tertiary: #000000;
  --md-sys-color-tertiary-container: #c2bdfe;
  --md-sys-color-on-tertiary-container: #000000;
  --md-sys-color-tertiary-fixed: #a39edd;
  --md-sys-color-tertiary-fixed-dim: #9691cf;
  --md-sys-color-on-tertiary-fixed: #000000;
  --md-sys-color-on-tertiary-fixed-variant: #000000;
  --md-sys-color-error: #ffffff;
  --md-sys-color-error-dim: #fffeff;
  --md-sys-color-on-error: #000000;
  --md-sys-color-error-container: #76303a;
  --md-sys-color-on-error-container: #ffffff;
}

