.light {
  --md-sys-color-primary-palette-key-color: #7b757f;
  --md-sys-color-secondary-palette-key-color: #7a767a;
  --md-sys-color-tertiary-palette-key-color: #777491;
  --md-sys-color-neutral-palette-key-color: #797677;
  --md-sys-color-neutral-variant-palette-key-color: #797679;
  --md-sys-color-error-palette-key-color: #bd5665;
  --md-sys-color-background: #fdf8f9;
  --md-sys-color-on-background: #343234;
  --md-sys-color-surface: #fdf8f9;
  --md-sys-color-surface-dim: #ded8dc;
  --md-sys-color-surface-bright: #fef8fc;
  --md-sys-color-surface-container-lowest: #ffffff;
  --md-sys-color-surface-container-low: #f7f2f4;
  --md-sys-color-surface-container: #f2ecef;
  --md-sys-color-surface-container-high: #ece7e9;
  --md-sys-color-surface-container-highest: #e6e1e4;
  --md-sys-color-on-surface: #343234;
  --md-sys-color-surface-variant: #e6e1e4;
  --md-sys-color-on-surface-variant: #615e61;
  --md-sys-color-inverse-surface: #0f0e0f;
  --md-sys-color-inverse-on-surface: #9f9c9d;
  --md-sys-color-outline: #7d7a7d;
  --md-sys-color-outline-variant: #b5b1b4;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #615c66;
  --md-sys-color-primary: #615c66;
  --md-sys-color-primary-dim: #55515a;
  --md-sys-color-on-primary: #fdf5ff;
  --md-sys-color-primary-container: #e8e0eb;
  --md-sys-color-on-primary-container: #555059;
  --md-sys-color-inverse-primary: #f3ebf7;
  --md-sys-color-primary-fixed: #e8e0eb;
  --md-sys-color-primary-fixed-dim: #d9d2dd;
  --md-sys-color-on-primary-fixed: #423e46;
  --md-sys-color-on-primary-fixed-variant: #5e5a63;
  --md-sys-color-secondary: #615e62;
  --md-sys-color-secondary-dim: #555256;
  --md-sys-color-on-secondary: #fdf7fc;
  --md-sys-color-secondary-container: #e6e1e6;
  --md-sys-color-on-secondary-container: #545155;
  --md-sys-color-secondary-fixed: #e6e1e6;
  --md-sys-color-secondary-fixed-dim: #d8d3d7;
  --md-sys-color-on-secondary-fixed: #413e42;
  --md-sys-color-on-secondary-fixed-variant: #5e5a5f;
  --md-sys-color-tertiary: #5f5c78;
  --md-sys-color-tertiary-dim: #52506b;
  --md-sys-color-on-tertiary: #fcf7ff;
  --md-sys-color-tertiary-container: #d8d3f4;
  --md-sys-color-on-tertiary-container: #4a4863;
  --md-sys-color-tertiary-fixed: #d8d3f4;
  --md-sys-color-tertiary-fixed-dim: #cac6e6;
  --md-sys-color-on-tertiary-fixed: #37354f;
  --md-sys-color-on-tertiary-fixed-variant: #54516d;
  --md-sys-color-error: #9e3f4e;
  --md-sys-color-error-dim: #4f0116;
  --md-sys-color-on-error: #fff7f7;
  --md-sys-color-error-container: #ff8b9a;
  --md-sys-color-on-error-container: #782232;
}

.light-medium-contrast {
  --md-sys-color-primary-palette-key-color: #7b757f;
  --md-sys-color-secondary-palette-key-color: #7a767a;
  --md-sys-color-tertiary-palette-key-color: #777491;
  --md-sys-color-neutral-palette-key-color: #797677;
  --md-sys-color-neutral-variant-palette-key-color: #797679;
  --md-sys-color-error-palette-key-color: #bd5665;
  --md-sys-color-background: #fdf8f9;
  --md-sys-color-on-background: #252326;
  --md-sys-color-surface: #fdf8f9;
  --md-sys-color-surface-dim: #ded8dc;
  --md-sys-color-surface-bright: #fef8fc;
  --md-sys-color-surface-container-lowest: #ffffff;
  --md-sys-color-surface-container-low: #f7f2f4;
  --md-sys-color-surface-container: #f2ecef;
  --md-sys-color-surface-container-high: #ece7e9;
  --md-sys-color-surface-container-highest: #e6e1e4;
  --md-sys-color-on-surface: #252326;
  --md-sys-color-surface-variant: #e6e1e4;
  --md-sys-color-on-surface-variant: #444245;
  --md-sys-color-inverse-surface: #0f0e0f;
  --md-sys-color-inverse-on-surface: #c8c4c5;
  --md-sys-color-outline: #615e61;
  --md-sys-color-outline-variant: #7d7a7d;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #45414a;
  --md-sys-color-primary: #45414a;
  --md-sys-color-primary-dim: #3a363f;
  --md-sys-color-on-primary: #dfd7e2;
  --md-sys-color-primary-container: #78727c;
  --md-sys-color-on-primary-container: #ffffff;
  --md-sys-color-inverse-primary: #f3ebf7;
  --md-sys-color-primary-fixed: #78727c;
  --md-sys-color-primary-fixed-dim: #6b6670;
  --md-sys-color-on-primary-fixed: #ffffff;
  --md-sys-color-on-primary-fixed-variant: #ffffff;
  --md-sys-color-secondary: #454246;
  --md-sys-color-secondary-dim: #39373a;
  --md-sys-color-on-secondary: #ded8dd;
  --md-sys-color-secondary-container: #777378;
  --md-sys-color-on-secondary-container: #ffffff;
  --md-sys-color-secondary-fixed: #777378;
  --md-sys-color-secondary-fixed-dim: #6a676b;
  --md-sys-color-on-secondary-fixed: #ffffff;
  --md-sys-color-on-secondary-fixed-variant: #ffffff;
  --md-sys-color-tertiary: #42405a;
  --md-sys-color-tertiary-dim: #37354e;
  --md-sys-color-on-tertiary: #dad6f7;
  --md-sys-color-tertiary-container: #74718e;
  --md-sys-color-on-tertiary-container: #ffffff;
  --md-sys-color-tertiary-fixed: #74718e;
  --md-sys-color-tertiary-fixed-dim: #686581;
  --md-sys-color-on-tertiary-fixed: #ffffff;
  --md-sys-color-on-tertiary-fixed-variant: #ffffff;
  --md-sys-color-error: #7a2333;
  --md-sys-color-error-dim: #4f0116;
  --md-sys-color-on-error: #ffcdd1;
  --md-sys-color-error-container: #b95463;
  --md-sys-color-on-error-container: #ffffff;
}

.light-high-contrast {
  --md-sys-color-primary-palette-key-color: #7b757f;
  --md-sys-color-secondary-palette-key-color: #7a767a;
  --md-sys-color-tertiary-palette-key-color: #777491;
  --md-sys-color-neutral-palette-key-color: #797677;
  --md-sys-color-neutral-variant-palette-key-color: #797679;
  --md-sys-color-error-palette-key-color: #bd5665;
  --md-sys-color-background: #fdf8f9;
  --md-sys-color-on-background: #000000;
  --md-sys-color-surface: #fdf8f9;
  --md-sys-color-surface-dim: #ded8dc;
  --md-sys-color-surface-bright: #fef8fc;
  --md-sys-color-surface-container-lowest: #ffffff;
  --md-sys-color-surface-container-low: #f7f2f4;
  --md-sys-color-surface-container: #f2ecef;
  --md-sys-color-surface-container-high: #ece7e9;
  --md-sys-color-surface-container-highest: #e6e1e4;
  --md-sys-color-on-surface: #000000;
  --md-sys-color-surface-variant: #e6e1e4;
  --md-sys-color-on-surface-variant: #252326;
  --md-sys-color-inverse-surface: #0f0e0f;
  --md-sys-color-inverse-on-surface: #ffffff;
  --md-sys-color-outline: #444245;
  --md-sys-color-outline-variant: #615e61;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #26222b;
  --md-sys-color-primary: #26222b;
  --md-sys-color-primary-dim: #1c1820;
  --md-sys-color-on-primary: #dfd7e3;
  --md-sys-color-primary-container: #625d67;
  --md-sys-color-on-primary-container: #ffffff;
  --md-sys-color-inverse-primary: #f3ebf7;
  --md-sys-color-primary-fixed: #625d67;
  --md-sys-color-primary-fixed-dim: #56515a;
  --md-sys-color-on-primary-fixed: #ffffff;
  --md-sys-color-on-primary-fixed-variant: #ffffff;
  --md-sys-color-secondary: #252327;
  --md-sys-color-secondary-dim: #1b191d;
  --md-sys-color-on-secondary: #ded8dd;
  --md-sys-color-secondary-container: #615e62;
  --md-sys-color-on-secondary-container: #ffffff;
  --md-sys-color-secondary-fixed: #615e62;
  --md-sys-color-secondary-fixed-dim: #555256;
  --md-sys-color-on-secondary-fixed: #ffffff;
  --md-sys-color-on-secondary-fixed-variant: #ffffff;
  --md-sys-color-tertiary: #23213a;
  --md-sys-color-tertiary-dim: #19172f;
  --md-sys-color-on-tertiary: #dbd6f7;
  --md-sys-color-tertiary-container: #5f5c78;
  --md-sys-color-on-tertiary-container: #ffffff;
  --md-sys-color-tertiary-fixed: #5f5c78;
  --md-sys-color-tertiary-fixed-dim: #52506b;
  --md-sys-color-on-tertiary-fixed: #ffffff;
  --md-sys-color-on-tertiary-fixed-variant: #ffffff;
  --md-sys-color-error: #4f0116;
  --md-sys-color-error-dim: #3d000f;
  --md-sys-color-on-error: #ffced2;
  --md-sys-color-error-container: #9e3f4e;
  --md-sys-color-on-error-container: #ffffff;
}

.dark {
  --md-sys-color-primary-palette-key-color: #7b757f;
  --md-sys-color-secondary-palette-key-color: #7a767a;
  --md-sys-color-tertiary-palette-key-color: #777491;
  --md-sys-color-neutral-palette-key-color: #797677;
  --md-sys-color-neutral-variant-palette-key-color: #797679;
  --md-sys-color-error-palette-key-color: #bd5665;
  --md-sys-color-background: #0f0e0f;
  --md-sys-color-on-background: #e9e4e7;
  --md-sys-color-surface: #0f0e0f;
  --md-sys-color-surface-dim: #0f0e0f;
  --md-sys-color-surface-bright: #2d2c2d;
  --md-sys-color-surface-container-lowest: #000000;
  --md-sys-color-surface-container-low: #141314;
  --md-sys-color-surface-container: #1a191b;
  --md-sys-color-surface-container-high: #211f21;
  --md-sys-color-surface-container-highest: #272528;
  --md-sys-color-on-surface: #e9e4e7;
  --md-sys-color-surface-variant: #272528;
  --md-sys-color-on-surface-variant: #aeaaad;
  --md-sys-color-inverse-surface: #fdf8f9;
  --md-sys-color-inverse-on-surface: #565455;
  --md-sys-color-outline: #787477;
  --md-sys-color-outline-variant: #49474a;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #cbc4cf;
  --md-sys-color-primary: #cbc4cf;
  --md-sys-color-primary-dim: #bdb6c1;
  --md-sys-color-on-primary: #433e47;
  --md-sys-color-primary-container: #49454e;
  --md-sys-color-on-primary-container: #d5ced9;
  --md-sys-color-inverse-primary: #625d67;
  --md-sys-color-primary-fixed: #e8e0eb;
  --md-sys-color-primary-fixed-dim: #d9d2dd;
  --md-sys-color-on-primary-fixed: #423e46;
  --md-sys-color-on-primary-fixed-variant: #5e5a63;
  --md-sys-color-secondary: #a19ca1;
  --md-sys-color-secondary-dim: #a19ca1;
  --md-sys-color-on-secondary: #211f23;
  --md-sys-color-secondary-container: #3d3a3e;
  --md-sys-color-on-secondary-container: #c3bec2;
  --md-sys-color-secondary-fixed: #e6e1e6;
  --md-sys-color-secondary-fixed-dim: #d8d3d7;
  --md-sys-color-on-secondary-fixed: #413e42;
  --md-sys-color-on-secondary-fixed-variant: #5e5a5f;
  --md-sys-color-tertiary: #e7e2ff;
  --md-sys-color-tertiary-dim: #d8d3f4;
  --md-sys-color-on-tertiary: #53506c;
  --md-sys-color-tertiary-container: #d8d3f4;
  --md-sys-color-on-tertiary-container: #4a4863;
  --md-sys-color-tertiary-fixed: #d8d3f4;
  --md-sys-color-tertiary-fixed-dim: #cac6e6;
  --md-sys-color-on-tertiary-fixed: #37354f;
  --md-sys-color-on-tertiary-fixed-variant: #54516d;
  --md-sys-color-error: #ff8b9a;
  --md-sys-color-error-dim: #b95463;
  --md-sys-color-on-error: #5e0d20;
  --md-sys-color-error-container: #7f2737;
  --md-sys-color-on-error-container: #ff97a3;
}

.dark-medium-contrast {
  --md-sys-color-primary-palette-key-color: #7b757f;
  --md-sys-color-secondary-palette-key-color: #7a767a;
  --md-sys-color-tertiary-palette-key-color: #777491;
  --md-sys-color-neutral-palette-key-color: #797677;
  --md-sys-color-neutral-variant-palette-key-color: #797679;
  --md-sys-color-error-palette-key-color: #bd5665;
  --md-sys-color-background: #0f0e0f;
  --md-sys-color-on-background: #ffffff;
  --md-sys-color-surface: #0f0e0f;
  --md-sys-color-surface-dim: #0f0e0f;
  --md-sys-color-surface-bright: #2d2c2d;
  --md-sys-color-surface-container-lowest: #000000;
  --md-sys-color-surface-container-low: #141314;
  --md-sys-color-surface-container: #1a191b;
  --md-sys-color-surface-container-high: #211f21;
  --md-sys-color-surface-container-highest: #272528;
  --md-sys-color-on-surface: #ffffff;
  --md-sys-color-surface-variant: #272528;
  --md-sys-color-on-surface-variant: #bcb7bb;
  --md-sys-color-inverse-surface: #fdf8f9;
  --md-sys-color-inverse-on-surface: #393839;
  --md-sys-color-outline: #969295;
  --md-sys-color-outline-variant: #787477;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #cbc4cf;
  --md-sys-color-primary: #cbc4cf;
  --md-sys-color-primary-dim: #bdb6c1;
  --md-sys-color-on-primary: #39353d;
  --md-sys-color-primary-container: #78727c;
  --md-sys-color-on-primary-container: #ffffff;
  --md-sys-color-inverse-primary: #58535c;
  --md-sys-color-primary-fixed: #e8e0eb;
  --md-sys-color-primary-fixed-dim: #d9d2dd;
  --md-sys-color-on-primary-fixed: #211e26;
  --md-sys-color-on-primary-fixed-variant: #423e46;
  --md-sys-color-secondary: #bcb7bc;
  --md-sys-color-secondary-dim: #aeaaae;
  --md-sys-color-on-secondary: #2d2b2f;
  --md-sys-color-secondary-container: #777378;
  --md-sys-color-on-secondary-container: #ffffff;
  --md-sys-color-secondary-fixed: #e6e1e6;
  --md-sys-color-secondary-fixed-dim: #d8d3d7;
  --md-sys-color-on-secondary-fixed: #211f22;
  --md-sys-color-on-secondary-fixed-variant: #413e42;
  --md-sys-color-tertiary: #e7e2ff;
  --md-sys-color-tertiary-dim: #d8d3f4;
  --md-sys-color-on-tertiary: #494761;
  --md-sys-color-tertiary-container: #d8d3f4;
  --md-sys-color-on-tertiary-container: #403e58;
  --md-sys-color-tertiary-fixed: #d8d3f4;
  --md-sys-color-tertiary-fixed-dim: #cac6e6;
  --md-sys-color-on-tertiary-fixed: #131229;
  --md-sys-color-on-tertiary-fixed-variant: #37354f;
  --md-sys-color-error: #ff9da8;
  --md-sys-color-error-dim: #fb8896;
  --md-sys-color-on-error: #5b0a1e;
  --md-sys-color-error-container: #b95463;
  --md-sys-color-on-error-container: #ffffff;
}

.dark-high-contrast {
  --md-sys-color-primary-palette-key-color: #7b757f;
  --md-sys-color-secondary-palette-key-color: #7a767a;
  --md-sys-color-tertiary-palette-key-color: #777491;
  --md-sys-color-neutral-palette-key-color: #797677;
  --md-sys-color-neutral-variant-palette-key-color: #797679;
  --md-sys-color-error-palette-key-color: #bd5665;
  --md-sys-color-background: #0f0e0f;
  --md-sys-color-on-background: #ffffff;
  --md-sys-color-surface: #0f0e0f;
  --md-sys-color-surface-dim: #0f0e0f;
  --md-sys-color-surface-bright: #2d2c2d;
  --md-sys-color-surface-container-lowest: #000000;
  --md-sys-color-surface-container-low: #141314;
  --md-sys-color-surface-container: #1a191b;
  --md-sys-color-surface-container-high: #211f21;
  --md-sys-color-surface-container-highest: #272528;
  --md-sys-color-on-surface: #ffffff;
  --md-sys-color-surface-variant: #272528;
  --md-sys-color-on-surface-variant: #e9e4e7;
  --md-sys-color-inverse-surface: #fdf8f9;
  --md-sys-color-inverse-on-surface: #000000;
  --md-sys-color-outline: #bcb7bb;
  --md-sys-color-outline-variant: #969295;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #ebe3ee;
  --md-sys-color-primary: #ebe3ee;
  --md-sys-color-primary-dim: #d9d2dd;
  --md-sys-color-on-primary: #2e2a33;
  --md-sys-color-primary-container: #a29ca6;
  --md-sys-color-on-primary-container: #000000;
  --md-sys-color-inverse-primary: #3b363f;
  --md-sys-color-primary-fixed: #e8e0eb;
  --md-sys-color-primary-fixed-dim: #d9d2dd;
  --md-sys-color-on-primary-fixed: #000000;
  --md-sys-color-on-primary-fixed-variant: #211e26;
  --md-sys-color-secondary: #e9e4e9;
  --md-sys-color-secondary-dim: #d8d3d7;
  --md-sys-color-on-secondary: #2d2b2f;
  --md-sys-color-secondary-container: #a19ca1;
  --md-sys-color-on-secondary-container: #000000;
  --md-sys-color-secondary-fixed: #e6e1e6;
  --md-sys-color-secondary-fixed-dim: #d8d3d7;
  --md-sys-color-on-secondary-fixed: #000000;
  --md-sys-color-on-secondary-fixed-variant: #211f22;
  --md-sys-color-tertiary: #e7e2ff;
  --md-sys-color-tertiary-dim: #d8d3f4;
  --md-sys-color-on-tertiary: #2b2942;
  --md-sys-color-tertiary-container: #d8d3f4;
  --md-sys-color-on-tertiary-container: #211f37;
  --md-sys-color-tertiary-fixed: #d8d3f4;
  --md-sys-color-tertiary-fixed-dim: #cac6e6;
  --md-sys-color-on-tertiary-fixed: #000000;
  --md-sys-color-on-tertiary-fixed-variant: #131229;
  --md-sys-color-error: #ffdddf;
  --md-sys-color-error-dim: #ffc7cb;
  --md-sys-color-on-error: #5b0a1e;
  --md-sys-color-error-container: #ec7c8a;
  --md-sys-color-on-error-container: #000000;
}

