.light {
  --md-sys-color-primary-palette-key-color: #8767bc;
  --md-sys-color-secondary-palette-key-color: #7d7389;
  --md-sys-color-tertiary-palette-key-color: #9b6a75;
  --md-sys-color-neutral-palette-key-color: #777777;
  --md-sys-color-neutral-variant-palette-key-color: #777777;
  --md-sys-color-error-palette-key-color: #de3730;
  --md-sys-color-background: #131313;
  --md-sys-color-on-background: #e2e2e2;
  --md-sys-color-surface: #131313;
  --md-sys-color-surface-dim: #131313;
  --md-sys-color-surface-bright: #393939;
  --md-sys-color-surface-container-lowest: #0e0e0e;
  --md-sys-color-surface-container-low: #1b1b1b;
  --md-sys-color-surface-container: #1f1f1f;
  --md-sys-color-surface-container-high: #2a2a2a;
  --md-sys-color-surface-container-highest: #353535;
  --md-sys-color-on-surface: #e2e2e2;
  --md-sys-color-surface-variant: #474747;
  --md-sys-color-on-surface-variant: #c6c6c6;
  --md-sys-color-inverse-surface: #e2e2e2;
  --md-sys-color-inverse-on-surface: #303030;
  --md-sys-color-outline: #919191;
  --md-sys-color-outline-variant: #474747;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #d5baff;
  --md-sys-color-primary: #d5baff;
  --md-sys-color-primary-dim: #e0cbff;
  --md-sys-color-on-primary: #3d1c6f;
  --md-sys-color-primary-container: #ecdcff;
  --md-sys-color-on-primary-container: #7454a8;
  --md-sys-color-inverse-primary: #6d4ea1;
  --md-sys-color-primary-fixed: #ecdcff;
  --md-sys-color-primary-fixed-dim: #d5baff;
  --md-sys-color-on-primary-fixed: #270057;
  --md-sys-color-on-primary-fixed-variant: #553587;
  --md-sys-color-secondary: #cec2db;
  --md-sys-color-secondary-dim: #eadef7;
  --md-sys-color-on-secondary: #352d40;
  --md-sys-color-secondary-container: #eadef7;
  --md-sys-color-on-secondary-container: #6a6076;
  --md-sys-color-secondary-fixed: #eadef7;
  --md-sys-color-secondary-fixed-dim: #cec2db;
  --md-sys-color-on-secondary-fixed: #1f182a;
  --md-sys-color-on-secondary-fixed-variant: #4b4357;
  --md-sys-color-tertiary: #f1b7c3;
  --md-sys-color-tertiary-dim: #ffc5d1;
  --md-sys-color-on-tertiary: #4b252f;
  --md-sys-color-tertiary-container: #ffd9e0;
  --md-sys-color-on-tertiary-container: #865762;
  --md-sys-color-tertiary-fixed: #ffd9e0;
  --md-sys-color-tertiary-fixed-dim: #f1b7c3;
  --md-sys-color-on-tertiary-fixed: #32101a;
  --md-sys-color-on-tertiary-fixed-variant: #643b45;
  --md-sys-color-error: #ffb4ab;
  --md-sys-color-error-dim: #ffc7c0;
  --md-sys-color-on-error: #690005;
  --md-sys-color-error-container: #ffdad6;
  --md-sys-color-on-error-container: #c32220;
}

.light-medium-contrast {
  --md-sys-color-primary-palette-key-color: #8767bc;
  --md-sys-color-secondary-palette-key-color: #7d7389;
  --md-sys-color-tertiary-palette-key-color: #9b6a75;
  --md-sys-color-neutral-palette-key-color: #777777;
  --md-sys-color-neutral-variant-palette-key-color: #777777;
  --md-sys-color-error-palette-key-color: #de3730;
  --md-sys-color-background: #131313;
  --md-sys-color-on-background: #e2e2e2;
  --md-sys-color-surface: #131313;
  --md-sys-color-surface-dim: #131313;
  --md-sys-color-surface-bright: #444444;
  --md-sys-color-surface-container-lowest: #070707;
  --md-sys-color-surface-container-low: #1d1d1d;
  --md-sys-color-surface-container: #282828;
  --md-sys-color-surface-container-high: #323232;
  --md-sys-color-surface-container-highest: #3e3e3e;
  --md-sys-color-on-surface: #ffffff;
  --md-sys-color-surface-variant: #474747;
  --md-sys-color-on-surface-variant: #dcdcdc;
  --md-sys-color-inverse-surface: #e2e2e2;
  --md-sys-color-inverse-on-surface: #2a2a2a;
  --md-sys-color-outline: #b2b2b2;
  --md-sys-color-outline-variant: #909090;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #d5baff;
  --md-sys-color-primary: #e7d5ff;
  --md-sys-color-primary-dim: #e0cbff;
  --md-sys-color-on-primary: #320d64;
  --md-sys-color-primary-container: #fef6ff;
  --md-sys-color-on-primary-container: #634497;
  --md-sys-color-inverse-primary: #563689;
  --md-sys-color-primary-fixed: #ecdcff;
  --md-sys-color-primary-fixed-dim: #d5baff;
  --md-sys-color-on-primary-fixed: #1a003e;
  --md-sys-color-on-primary-fixed-variant: #432375;
  --md-sys-color-secondary: #e4d8f1;
  --md-sys-color-secondary-dim: #eadef7;
  --md-sys-color-on-secondary: #2a2235;
  --md-sys-color-secondary-container: #fef6ff;
  --md-sys-color-on-secondary-container: #5a5166;
  --md-sys-color-secondary-fixed: #eadef7;
  --md-sys-color-secondary-fixed-dim: #cec2db;
  --md-sys-color-on-secondary-fixed: #140e1f;
  --md-sys-color-on-secondary-fixed-variant: #3a3346;
  --md-sys-color-tertiary: #ffd1d9;
  --md-sys-color-tertiary-dim: #ffc5d1;
  --md-sys-color-on-tertiary: #3e1a24;
  --md-sys-color-tertiary-container: #fff7f7;
  --md-sys-color-on-tertiary-container: #744853;
  --md-sys-color-tertiary-fixed: #ffd9e0;
  --md-sys-color-tertiary-fixed-dim: #f1b7c3;
  --md-sys-color-on-tertiary-fixed: #250610;
  --md-sys-color-on-tertiary-fixed-variant: #512a34;
  --md-sys-color-error: #ffd2cc;
  --md-sys-color-error-dim: #ffc7c0;
  --md-sys-color-on-error: #540003;
  --md-sys-color-error-container: #fff7f6;
  --md-sys-color-on-error-container: #ab0b12;
}

.light-high-contrast {
  --md-sys-color-primary-palette-key-color: #8767bc;
  --md-sys-color-secondary-palette-key-color: #7d7389;
  --md-sys-color-tertiary-palette-key-color: #9b6a75;
  --md-sys-color-neutral-palette-key-color: #777777;
  --md-sys-color-neutral-variant-palette-key-color: #777777;
  --md-sys-color-error-palette-key-color: #de3730;
  --md-sys-color-background: #131313;
  --md-sys-color-on-background: #e2e2e2;
  --md-sys-color-surface: #131313;
  --md-sys-color-surface-dim: #131313;
  --md-sys-color-surface-bright: #505050;
  --md-sys-color-surface-container-lowest: #000000;
  --md-sys-color-surface-container-low: #1f1f1f;
  --md-sys-color-surface-container: #303030;
  --md-sys-color-surface-container-high: #3b3b3b;
  --md-sys-color-surface-container-highest: #474747;
  --md-sys-color-on-surface: #ffffff;
  --md-sys-color-surface-variant: #474747;
  --md-sys-color-on-surface-variant: #ffffff;
  --md-sys-color-inverse-surface: #e2e2e2;
  --md-sys-color-inverse-on-surface: #000000;
  --md-sys-color-outline: #f0f0f0;
  --md-sys-color-outline-variant: #c2c2c2;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #d5baff;
  --md-sys-color-primary: #ecdcff;
  --md-sys-color-primary-dim: #fffeff;
  --md-sys-color-on-primary: #000000;
  --md-sys-color-primary-container: #ffffff;
  --md-sys-color-on-primary-container: #49297b;
  --md-sys-color-inverse-primary: #563689;
  --md-sys-color-primary-fixed: #ecdcff;
  --md-sys-color-primary-fixed-dim: #d5baff;
  --md-sys-color-on-primary-fixed: #000000;
  --md-sys-color-on-primary-fixed-variant: #1a003e;
  --md-sys-color-secondary: #eadef7;
  --md-sys-color-secondary-dim: #fffeff;
  --md-sys-color-on-secondary: #000000;
  --md-sys-color-secondary-container: #ffffff;
  --md-sys-color-on-secondary-container: #40384c;
  --md-sys-color-secondary-fixed: #eadef7;
  --md-sys-color-secondary-fixed-dim: #cec2db;
  --md-sys-color-on-secondary-fixed: #000000;
  --md-sys-color-on-secondary-fixed-variant: #140e1f;
  --md-sys-color-tertiary: #ffd9e0;
  --md-sys-color-tertiary-dim: #fffeff;
  --md-sys-color-on-tertiary: #000000;
  --md-sys-color-tertiary-container: #ffffff;
  --md-sys-color-on-tertiary-container: #573039;
  --md-sys-color-tertiary-fixed: #ffd9e0;
  --md-sys-color-tertiary-fixed-dim: #f1b7c3;
  --md-sys-color-on-tertiary-fixed: #000000;
  --md-sys-color-on-tertiary-fixed-variant: #250610;
  --md-sys-color-error: #ffdad6;
  --md-sys-color-error-dim: #fffeff;
  --md-sys-color-on-error: #000000;
  --md-sys-color-error-container: #ffffff;
  --md-sys-color-on-error-container: #7e0007;
}

.dark {
  --md-sys-color-primary-palette-key-color: #8767bc;
  --md-sys-color-secondary-palette-key-color: #7d7389;
  --md-sys-color-tertiary-palette-key-color: #9b6a75;
  --md-sys-color-neutral-palette-key-color: #777777;
  --md-sys-color-neutral-variant-palette-key-color: #777777;
  --md-sys-color-error-palette-key-color: #de3730;
  --md-sys-color-background: #131313;
  --md-sys-color-on-background: #e2e2e2;
  --md-sys-color-surface: #131313;
  --md-sys-color-surface-dim: #131313;
  --md-sys-color-surface-bright: #393939;
  --md-sys-color-surface-container-lowest: #0e0e0e;
  --md-sys-color-surface-container-low: #1b1b1b;
  --md-sys-color-surface-container: #1f1f1f;
  --md-sys-color-surface-container-high: #2a2a2a;
  --md-sys-color-surface-container-highest: #353535;
  --md-sys-color-on-surface: #e2e2e2;
  --md-sys-color-surface-variant: #474747;
  --md-sys-color-on-surface-variant: #c6c6c6;
  --md-sys-color-inverse-surface: #e2e2e2;
  --md-sys-color-inverse-on-surface: #303030;
  --md-sys-color-outline: #919191;
  --md-sys-color-outline-variant: #474747;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #d5baff;
  --md-sys-color-primary: #d5baff;
  --md-sys-color-primary-dim: #e0cbff;
  --md-sys-color-on-primary: #3d1c6f;
  --md-sys-color-primary-container: #ecdcff;
  --md-sys-color-on-primary-container: #7454a8;
  --md-sys-color-inverse-primary: #6d4ea1;
  --md-sys-color-primary-fixed: #ecdcff;
  --md-sys-color-primary-fixed-dim: #d5baff;
  --md-sys-color-on-primary-fixed: #270057;
  --md-sys-color-on-primary-fixed-variant: #553587;
  --md-sys-color-secondary: #cec2db;
  --md-sys-color-secondary-dim: #eadef7;
  --md-sys-color-on-secondary: #352d40;
  --md-sys-color-secondary-container: #eadef7;
  --md-sys-color-on-secondary-container: #6a6076;
  --md-sys-color-secondary-fixed: #eadef7;
  --md-sys-color-secondary-fixed-dim: #cec2db;
  --md-sys-color-on-secondary-fixed: #1f182a;
  --md-sys-color-on-secondary-fixed-variant: #4b4357;
  --md-sys-color-tertiary: #f1b7c3;
  --md-sys-color-tertiary-dim: #ffc5d1;
  --md-sys-color-on-tertiary: #4b252f;
  --md-sys-color-tertiary-container: #ffd9e0;
  --md-sys-color-on-tertiary-container: #865762;
  --md-sys-color-tertiary-fixed: #ffd9e0;
  --md-sys-color-tertiary-fixed-dim: #f1b7c3;
  --md-sys-color-on-tertiary-fixed: #32101a;
  --md-sys-color-on-tertiary-fixed-variant: #643b45;
  --md-sys-color-error: #ffb4ab;
  --md-sys-color-error-dim: #ffc7c0;
  --md-sys-color-on-error: #690005;
  --md-sys-color-error-container: #ffdad6;
  --md-sys-color-on-error-container: #c32220;
}

.dark-medium-contrast {
  --md-sys-color-primary-palette-key-color: #8767bc;
  --md-sys-color-secondary-palette-key-color: #7d7389;
  --md-sys-color-tertiary-palette-key-color: #9b6a75;
  --md-sys-color-neutral-palette-key-color: #777777;
  --md-sys-color-neutral-variant-palette-key-color: #777777;
  --md-sys-color-error-palette-key-color: #de3730;
  --md-sys-color-background: #131313;
  --md-sys-color-on-background: #e2e2e2;
  --md-sys-color-surface: #131313;
  --md-sys-color-surface-dim: #131313;
  --md-sys-color-surface-bright: #444444;
  --md-sys-color-surface-container-lowest: #070707;
  --md-sys-color-surface-container-low: #1d1d1d;
  --md-sys-color-surface-container: #282828;
  --md-sys-color-surface-container-high: #323232;
  --md-sys-color-surface-container-highest: #3e3e3e;
  --md-sys-color-on-surface: #ffffff;
  --md-sys-color-surface-variant: #474747;
  --md-sys-color-on-surface-variant: #dcdcdc;
  --md-sys-color-inverse-surface: #e2e2e2;
  --md-sys-color-inverse-on-surface: #2a2a2a;
  --md-sys-color-outline: #b2b2b2;
  --md-sys-color-outline-variant: #909090;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #d5baff;
  --md-sys-color-primary: #e7d5ff;
  --md-sys-color-primary-dim: #e0cbff;
  --md-sys-color-on-primary: #320d64;
  --md-sys-color-primary-container: #fef6ff;
  --md-sys-color-on-primary-container: #634497;
  --md-sys-color-inverse-primary: #563689;
  --md-sys-color-primary-fixed: #ecdcff;
  --md-sys-color-primary-fixed-dim: #d5baff;
  --md-sys-color-on-primary-fixed: #1a003e;
  --md-sys-color-on-primary-fixed-variant: #432375;
  --md-sys-color-secondary: #e4d8f1;
  --md-sys-color-secondary-dim: #eadef7;
  --md-sys-color-on-secondary: #2a2235;
  --md-sys-color-secondary-container: #fef6ff;
  --md-sys-color-on-secondary-container: #5a5166;
  --md-sys-color-secondary-fixed: #eadef7;
  --md-sys-color-secondary-fixed-dim: #cec2db;
  --md-sys-color-on-secondary-fixed: #140e1f;
  --md-sys-color-on-secondary-fixed-variant: #3a3346;
  --md-sys-color-tertiary: #ffd1d9;
  --md-sys-color-tertiary-dim: #ffc5d1;
  --md-sys-color-on-tertiary: #3e1a24;
  --md-sys-color-tertiary-container: #fff7f7;
  --md-sys-color-on-tertiary-container: #744853;
  --md-sys-color-tertiary-fixed: #ffd9e0;
  --md-sys-color-tertiary-fixed-dim: #f1b7c3;
  --md-sys-color-on-tertiary-fixed: #250610;
  --md-sys-color-on-tertiary-fixed-variant: #512a34;
  --md-sys-color-error: #ffd2cc;
  --md-sys-color-error-dim: #ffc7c0;
  --md-sys-color-on-error: #540003;
  --md-sys-color-error-container: #fff7f6;
  --md-sys-color-on-error-container: #ab0b12;
}

.dark-high-contrast {
  --md-sys-color-primary-palette-key-color: #8767bc;
  --md-sys-color-secondary-palette-key-color: #7d7389;
  --md-sys-color-tertiary-palette-key-color: #9b6a75;
  --md-sys-color-neutral-palette-key-color: #777777;
  --md-sys-color-neutral-variant-palette-key-color: #777777;
  --md-sys-color-error-palette-key-color: #de3730;
  --md-sys-color-background: #131313;
  --md-sys-color-on-background: #e2e2e2;
  --md-sys-color-surface: #131313;
  --md-sys-color-surface-dim: #131313;
  --md-sys-color-surface-bright: #505050;
  --md-sys-color-surface-container-lowest: #000000;
  --md-sys-color-surface-container-low: #1f1f1f;
  --md-sys-color-surface-container: #303030;
  --md-sys-color-surface-container-high: #3b3b3b;
  --md-sys-color-surface-container-highest: #474747;
  --md-sys-color-on-surface: #ffffff;
  --md-sys-color-surface-variant: #474747;
  --md-sys-color-on-surface-variant: #ffffff;
  --md-sys-color-inverse-surface: #e2e2e2;
  --md-sys-color-inverse-on-surface: #000000;
  --md-sys-color-outline: #f0f0f0;
  --md-sys-color-outline-variant: #c2c2c2;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #d5baff;
  --md-sys-color-primary: #ecdcff;
  --md-sys-color-primary-dim: #fffeff;
  --md-sys-color-on-primary: #000000;
  --md-sys-color-primary-container: #ffffff;
  --md-sys-color-on-primary-container: #49297b;
  --md-sys-color-inverse-primary: #563689;
  --md-sys-color-primary-fixed: #ecdcff;
  --md-sys-color-primary-fixed-dim: #d5baff;
  --md-sys-color-on-primary-fixed: #000000;
  --md-sys-color-on-primary-fixed-variant: #1a003e;
  --md-sys-color-secondary: #eadef7;
  --md-sys-color-secondary-dim: #fffeff;
  --md-sys-color-on-secondary: #000000;
  --md-sys-color-secondary-container: #ffffff;
  --md-sys-color-on-secondary-container: #40384c;
  --md-sys-color-secondary-fixed: #eadef7;
  --md-sys-color-secondary-fixed-dim: #cec2db;
  --md-sys-color-on-secondary-fixed: #000000;
  --md-sys-color-on-secondary-fixed-variant: #140e1f;
  --md-sys-color-tertiary: #ffd9e0;
  --md-sys-color-tertiary-dim: #fffeff;
  --md-sys-color-on-tertiary: #000000;
  --md-sys-color-tertiary-container: #ffffff;
  --md-sys-color-on-tertiary-container: #573039;
  --md-sys-color-tertiary-fixed: #ffd9e0;
  --md-sys-color-tertiary-fixed-dim: #f1b7c3;
  --md-sys-color-on-tertiary-fixed: #000000;
  --md-sys-color-on-tertiary-fixed-variant: #250610;
  --md-sys-color-error: #ffdad6;
  --md-sys-color-error-dim: #fffeff;
  --md-sys-color-on-error: #000000;
  --md-sys-color-error-container: #ffffff;
  --md-sys-color-on-error-container: #7e0007;
}

