.light {
  --md-sys-color-primary-palette-key-color: #8767bc;
  --md-sys-color-secondary-palette-key-color: #7d7389;
  --md-sys-color-tertiary-palette-key-color: #9b6a75;
  --md-sys-color-neutral-palette-key-color: #777777;
  --md-sys-color-neutral-variant-palette-key-color: #777777;
  --md-sys-color-error-palette-key-color: #de3730;
  --md-sys-color-background: #f9f9f9;
  --md-sys-color-on-background: #323232;
  --md-sys-color-surface: #f9f9f9;
  --md-sys-color-surface-dim: #dadada;
  --md-sys-color-surface-bright: #f9f9f9;
  --md-sys-color-surface-container-lowest: #ffffff;
  --md-sys-color-surface-container-low: #f3f3f3;
  --md-sys-color-surface-container: #eeeeee;
  --md-sys-color-surface-container-high: #e8e8e8;
  --md-sys-color-surface-container-highest: #e2e2e2;
  --md-sys-color-on-surface: #323232;
  --md-sys-color-surface-variant: #e2e2e2;
  --md-sys-color-on-surface-variant: #5f5f5f;
  --md-sys-color-inverse-surface: #0e0e0e;
  --md-sys-color-inverse-on-surface: #9d9d9d;
  --md-sys-color-outline: #7b7b7b;
  --md-sys-color-outline-variant: #b2b2b2;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #6e4ea2;
  --md-sys-color-primary: #6e4ea2;
  --md-sys-color-primary-dim: #624295;
  --md-sys-color-on-primary: #fef7ff;
  --md-sys-color-primary-container: #c2a0fb;
  --md-sys-color-on-primary-container: #3e1c6f;
  --md-sys-color-inverse-primary: #c2a0fb;
  --md-sys-color-primary-fixed: #c2a0fb;
  --md-sys-color-primary-fixed-dim: #b593ec;
  --md-sys-color-on-primary-fixed: #23004e;
  --md-sys-color-on-primary-fixed-variant: #472779;
  --md-sys-color-secondary: #645b71;
  --md-sys-color-secondary-dim: #584f64;
  --md-sys-color-on-secondary: #fef7ff;
  --md-sys-color-secondary-container: #eadef7;
  --md-sys-color-on-secondary-container: #574e63;
  --md-sys-color-secondary-fixed: #eadef7;
  --md-sys-color-secondary-fixed-dim: #dcd0e9;
  --md-sys-color-on-secondary-fixed: #443c50;
  --md-sys-color-on-secondary-fixed-variant: #61586d;
  --md-sys-color-tertiary: #80525d;
  --md-sys-color-tertiary-dim: #724751;
  --md-sys-color-on-tertiary: #fff7f7;
  --md-sys-color-tertiary-container: #fdc2ce;
  --md-sys-color-on-tertiary-container: #653b45;
  --md-sys-color-tertiary-fixed: #fdc2ce;
  --md-sys-color-tertiary-fixed-dim: #eeb5c1;
  --md-sys-color-on-tertiary-fixed: #4f2932;
  --md-sys-color-on-tertiary-fixed-variant: #6f444e;
  --md-sys-color-error: #bb1b1b;
  --md-sys-color-error-dim: #a90810;
  --md-sys-color-on-error: #fff7f6;
  --md-sys-color-error-container: #fe4e44;
  --md-sys-color-on-error-container: #570003;
  --md-sys-color-control-activated: #c2a0fb;
  --md-sys-color-control-normal: #5f5f5f;
  --md-sys-color-control-highlight: #0000001f;
  --md-sys-color-text-primary-inverse: #9d9d9d;
  --md-sys-color-text-secondary-and-tertiary-inverse: #c6c6c6;
  --md-sys-color-text-primary-inverse-disable-only: #e2e2e2;
  --md-sys-color-text-secondary-and-tertiary-inverse-disabled: #e2e2e2;
  --md-sys-color-text-hint-inverse: #e2e2e2;
}

.light-medium-contrast {
  --md-sys-color-primary-palette-key-color: #8767bc;
  --md-sys-color-secondary-palette-key-color: #7d7389;
  --md-sys-color-tertiary-palette-key-color: #9b6a75;
  --md-sys-color-neutral-palette-key-color: #777777;
  --md-sys-color-neutral-variant-palette-key-color: #777777;
  --md-sys-color-error-palette-key-color: #de3730;
  --md-sys-color-background: #f9f9f9;
  --md-sys-color-on-background: #242424;
  --md-sys-color-surface: #f9f9f9;
  --md-sys-color-surface-dim: #dadada;
  --md-sys-color-surface-bright: #f9f9f9;
  --md-sys-color-surface-container-lowest: #ffffff;
  --md-sys-color-surface-container-low: #f3f3f3;
  --md-sys-color-surface-container: #eeeeee;
  --md-sys-color-surface-container-high: #e8e8e8;
  --md-sys-color-surface-container-highest: #e2e2e2;
  --md-sys-color-on-surface: #242424;
  --md-sys-color-surface-variant: #e2e2e2;
  --md-sys-color-on-surface-variant: #434343;
  --md-sys-color-inverse-surface: #0e0e0e;
  --md-sys-color-inverse-on-surface: #c5c5c5;
  --md-sys-color-outline: #5f5f5f;
  --md-sys-color-outline-variant: #7b7b7b;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #513183;
  --md-sys-color-primary: #513183;
  --md-sys-color-primary-dim: #452477;
  --md-sys-color-on-primary: #e5d2ff;
  --md-sys-color-primary-container: #8464b9;
  --md-sys-color-on-primary-container: #ffffff;
  --md-sys-color-inverse-primary: #c2a0fb;
  --md-sys-color-primary-fixed: #8464b9;
  --md-sys-color-primary-fixed-dim: #7758ac;
  --md-sys-color-on-primary-fixed: #ffffff;
  --md-sys-color-on-primary-fixed-variant: #ffffff;
  --md-sys-color-secondary: #473f53;
  --md-sys-color-secondary-dim: #3c3448;
  --md-sys-color-on-secondary: #e1d5ee;
  --md-sys-color-secondary-container: #7a7187;
  --md-sys-color-on-secondary-container: #ffffff;
  --md-sys-color-secondary-fixed: #7a7187;
  --md-sys-color-secondary-fixed-dim: #6d647a;
  --md-sys-color-on-secondary-fixed: #ffffff;
  --md-sys-color-on-secondary-fixed-variant: #ffffff;
  --md-sys-color-tertiary: #603741;
  --md-sys-color-tertiary-dim: #532c36;
  --md-sys-color-on-tertiary: #ffcdd7;
  --md-sys-color-tertiary-container: #986772;
  --md-sys-color-on-tertiary-container: #ffffff;
  --md-sys-color-tertiary-fixed: #986772;
  --md-sys-color-tertiary-fixed-dim: #8a5b66;
  --md-sys-color-on-tertiary-fixed: #ffffff;
  --md-sys-color-on-tertiary-fixed-variant: #ffffff;
  --md-sys-color-error: #8c0009;
  --md-sys-color-error-dim: #760006;
  --md-sys-color-on-error: #ffcec8;
  --md-sys-color-error-container: #da342e;
  --md-sys-color-on-error-container: #ffffff;
  --md-sys-color-control-activated: #8464b9;
  --md-sys-color-control-normal: #434343;
  --md-sys-color-control-highlight: #0000001f;
  --md-sys-color-text-primary-inverse: #c5c5c5;
  --md-sys-color-text-secondary-and-tertiary-inverse: #c6c6c6;
  --md-sys-color-text-primary-inverse-disable-only: #e2e2e2;
  --md-sys-color-text-secondary-and-tertiary-inverse-disabled: #e2e2e2;
  --md-sys-color-text-hint-inverse: #e2e2e2;
}

.light-high-contrast {
  --md-sys-color-primary-palette-key-color: #8767bc;
  --md-sys-color-secondary-palette-key-color: #7d7389;
  --md-sys-color-tertiary-palette-key-color: #9b6a75;
  --md-sys-color-neutral-palette-key-color: #777777;
  --md-sys-color-neutral-variant-palette-key-color: #777777;
  --md-sys-color-error-palette-key-color: #de3730;
  --md-sys-color-background: #f9f9f9;
  --md-sys-color-on-background: #000000;
  --md-sys-color-surface: #f9f9f9;
  --md-sys-color-surface-dim: #dadada;
  --md-sys-color-surface-bright: #f9f9f9;
  --md-sys-color-surface-container-lowest: #ffffff;
  --md-sys-color-surface-container-low: #f3f3f3;
  --md-sys-color-surface-container: #eeeeee;
  --md-sys-color-surface-container-high: #e8e8e8;
  --md-sys-color-surface-container-highest: #e2e2e2;
  --md-sys-color-on-surface: #000000;
  --md-sys-color-surface-variant: #e2e2e2;
  --md-sys-color-on-surface-variant: #242424;
  --md-sys-color-inverse-surface: #0e0e0e;
  --md-sys-color-inverse-on-surface: #ffffff;
  --md-sys-color-outline: #434343;
  --md-sys-color-outline-variant: #5f5f5f;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #300a62;
  --md-sys-color-primary: #300a62;
  --md-sys-color-primary-dim: #250053;
  --md-sys-color-on-primary: #e5d2ff;
  --md-sys-color-primary-container: #6e4ea2;
  --md-sys-color-on-primary-container: #ffffff;
  --md-sys-color-inverse-primary: #d4b8ff;
  --md-sys-color-primary-fixed: #6e4ea2;
  --md-sys-color-primary-fixed-dim: #624295;
  --md-sys-color-on-primary-fixed: #ffffff;
  --md-sys-color-on-primary-fixed-variant: #ffffff;
  --md-sys-color-secondary: #282133;
  --md-sys-color-secondary-dim: #1d1628;
  --md-sys-color-on-secondary: #e2d5ef;
  --md-sys-color-secondary-container: #645b71;
  --md-sys-color-on-secondary-container: #ffffff;
  --md-sys-color-secondary-fixed: #645b71;
  --md-sys-color-secondary-fixed-dim: #584f64;
  --md-sys-color-on-secondary-fixed: #ffffff;
  --md-sys-color-on-secondary-fixed-variant: #ffffff;
  --md-sys-color-tertiary: #3c1922;
  --md-sys-color-tertiary-dim: #300f18;
  --md-sys-color-on-tertiary: #ffcdd7;
  --md-sys-color-tertiary-container: #80525d;
  --md-sys-color-on-tertiary-container: #ffffff;
  --md-sys-color-tertiary-fixed: #80525d;
  --md-sys-color-tertiary-fixed-dim: #724751;
  --md-sys-color-on-tertiary-fixed: #ffffff;
  --md-sys-color-on-tertiary-fixed-variant: #ffffff;
  --md-sys-color-error: #510003;
  --md-sys-color-error-dim: #3e0002;
  --md-sys-color-on-error: #ffcfc9;
  --md-sys-color-error-container: #bb1b1b;
  --md-sys-color-on-error-container: #ffffff;
  --md-sys-color-control-activated: #6e4ea2;
  --md-sys-color-control-normal: #242424;
  --md-sys-color-control-highlight: #0000001f;
  --md-sys-color-text-primary-inverse: #ffffff;
  --md-sys-color-text-secondary-and-tertiary-inverse: #c6c6c6;
  --md-sys-color-text-primary-inverse-disable-only: #e2e2e2;
  --md-sys-color-text-secondary-and-tertiary-inverse-disabled: #e2e2e2;
  --md-sys-color-text-hint-inverse: #e2e2e2;
}

.dark {
  --md-sys-color-primary-palette-key-color: #8767bc;
  --md-sys-color-secondary-palette-key-color: #7d7389;
  --md-sys-color-tertiary-palette-key-color: #9b6a75;
  --md-sys-color-neutral-palette-key-color: #777777;
  --md-sys-color-neutral-variant-palette-key-color: #777777;
  --md-sys-color-error-palette-key-color: #de3730;
  --md-sys-color-background: #0e0e0e;
  --md-sys-color-on-background: #e5e5e5;
  --md-sys-color-surface: #0e0e0e;
  --md-sys-color-surface-dim: #0e0e0e;
  --md-sys-color-surface-bright: #2c2c2c;
  --md-sys-color-surface-container-lowest: #000000;
  --md-sys-color-surface-container-low: #131313;
  --md-sys-color-surface-container: #191919;
  --md-sys-color-surface-container-high: #1f1f1f;
  --md-sys-color-surface-container-highest: #262626;
  --md-sys-color-on-surface: #e5e5e5;
  --md-sys-color-surface-variant: #262626;
  --md-sys-color-on-surface-variant: #ababab;
  --md-sys-color-inverse-surface: #f9f9f9;
  --md-sys-color-inverse-on-surface: #555555;
  --md-sys-color-outline: #757575;
  --md-sys-color-outline-variant: #484848;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #c2a0fb;
  --md-sys-color-primary: #c2a0fb;
  --md-sys-color-primary-dim: #b593ec;
  --md-sys-color-on-primary: #3e1c6f;
  --md-sys-color-primary-container: #b290e9;
  --md-sys-color-on-primary-container: #2f0861;
  --md-sys-color-inverse-primary: #6e4ea2;
  --md-sys-color-primary-fixed: #c2a0fb;
  --md-sys-color-primary-fixed-dim: #b593ec;
  --md-sys-color-on-primary-fixed: #23004e;
  --md-sys-color-on-primary-fixed-variant: #472779;
  --md-sys-color-secondary: #cec2db;
  --md-sys-color-secondary-dim: #c0b4cd;
  --md-sys-color-on-secondary: #453d51;
  --md-sys-color-secondary-container: #40384c;
  --md-sys-color-on-secondary-container: #c6bbd3;
  --md-sys-color-secondary-fixed: #eadef7;
  --md-sys-color-secondary-fixed-dim: #dcd0e9;
  --md-sys-color-on-secondary-fixed: #443c50;
  --md-sys-color-on-secondary-fixed-variant: #61586d;
  --md-sys-color-tertiary: #ffd5dd;
  --md-sys-color-tertiary-dim: #fdc2ce;
  --md-sys-color-on-tertiary: #6f444e;
  --md-sys-color-tertiary-container: #fdc2ce;
  --md-sys-color-on-tertiary-container: #653b45;
  --md-sys-color-tertiary-fixed: #fdc2ce;
  --md-sys-color-tertiary-fixed-dim: #eeb5c1;
  --md-sys-color-on-tertiary-fixed: #4f2932;
  --md-sys-color-on-tertiary-fixed-variant: #6f444e;
  --md-sys-color-error: #ff7164;
  --md-sys-color-error-dim: #da342e;
  --md-sys-color-on-error: #4a0002;
  --md-sys-color-error-container: #ac0c12;
  --md-sys-color-on-error-container: #ffb8b0;
  --md-sys-color-control-activated: #b290e9;
  --md-sys-color-control-normal: #ababab;
  --md-sys-color-control-highlight: #ffffff33;
  --md-sys-color-text-primary-inverse: #555555;
  --md-sys-color-text-secondary-and-tertiary-inverse: #474747;
  --md-sys-color-text-primary-inverse-disable-only: #1b1b1b;
  --md-sys-color-text-secondary-and-tertiary-inverse-disabled: #1b1b1b;
  --md-sys-color-text-hint-inverse: #1b1b1b;
}

.dark-medium-contrast {
  --md-sys-color-primary-palette-key-color: #8767bc;
  --md-sys-color-secondary-palette-key-color: #7d7389;
  --md-sys-color-tertiary-palette-key-color: #9b6a75;
  --md-sys-color-neutral-palette-key-color: #777777;
  --md-sys-color-neutral-variant-palette-key-color: #777777;
  --md-sys-color-error-palette-key-color: #de3730;
  --md-sys-color-background: #0e0e0e;
  --md-sys-color-on-background: #ffffff;
  --md-sys-color-surface: #0e0e0e;
  --md-sys-color-surface-dim: #0e0e0e;
  --md-sys-color-surface-bright: #2c2c2c;
  --md-sys-color-surface-container-lowest: #000000;
  --md-sys-color-surface-container-low: #131313;
  --md-sys-color-surface-container: #191919;
  --md-sys-color-surface-container-high: #1f1f1f;
  --md-sys-color-surface-container-highest: #262626;
  --md-sys-color-on-surface: #ffffff;
  --md-sys-color-surface-variant: #262626;
  --md-sys-color-on-surface-variant: #b9b9b9;
  --md-sys-color-inverse-surface: #f9f9f9;
  --md-sys-color-inverse-on-surface: #383838;
  --md-sys-color-outline: #939393;
  --md-sys-color-outline-variant: #757575;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #caa9ff;
  --md-sys-color-primary: #caa9ff;
  --md-sys-color-primary-dim: #bd9bf5;
  --md-sys-color-on-primary: #39176b;
  --md-sys-color-primary-container: #b290e9;
  --md-sys-color-on-primary-container: #1e0046;
  --md-sys-color-inverse-primary: #644497;
  --md-sys-color-primary-fixed: #c2a0fb;
  --md-sys-color-primary-fixed-dim: #b593ec;
  --md-sys-color-on-primary-fixed: #000000;
  --md-sys-color-on-primary-fixed-variant: #23004e;
  --md-sys-color-secondary: #cec2db;
  --md-sys-color-secondary-dim: #c0b4cd;
  --md-sys-color-on-secondary: #3a3346;
  --md-sys-color-secondary-container: #7a7187;
  --md-sys-color-on-secondary-container: #ffffff;
  --md-sys-color-secondary-fixed: #eadef7;
  --md-sys-color-secondary-fixed-dim: #dcd0e9;
  --md-sys-color-on-secondary-fixed: #231c2e;
  --md-sys-color-on-secondary-fixed-variant: #443c50;
  --md-sys-color-tertiary: #ffd5dd;
  --md-sys-color-tertiary-dim: #fdc2ce;
  --md-sys-color-on-tertiary: #643a44;
  --md-sys-color-tertiary-container: #fdc2ce;
  --md-sys-color-on-tertiary-container: #5a323c;
  --md-sys-color-tertiary-fixed: #fdc2ce;
  --md-sys-color-tertiary-fixed-dim: #eeb5c1;
  --md-sys-color-on-tertiary-fixed: #20040c;
  --md-sys-color-on-tertiary-fixed-variant: #4f2932;
  --md-sys-color-error: #ff9f94;
  --md-sys-color-error-dim: #ff887c;
  --md-sys-color-on-error: #600004;
  --md-sys-color-error-container: #da342e;
  --md-sys-color-on-error-container: #ffffff;
  --md-sys-color-control-activated: #b290e9;
  --md-sys-color-control-normal: #b9b9b9;
  --md-sys-color-control-highlight: #ffffff33;
  --md-sys-color-text-primary-inverse: #383838;
  --md-sys-color-text-secondary-and-tertiary-inverse: #474747;
  --md-sys-color-text-primary-inverse-disable-only: #1b1b1b;
  --md-sys-color-text-secondary-and-tertiary-inverse-disabled: #1b1b1b;
  --md-sys-color-text-hint-inverse: #1b1b1b;
}

.dark-high-contrast {
  --md-sys-color-primary-palette-key-color: #8767bc;
  --md-sys-color-secondary-palette-key-color: #7d7389;
  --md-sys-color-tertiary-palette-key-color: #9b6a75;
  --md-sys-color-neutral-palette-key-color: #777777;
  --md-sys-color-neutral-variant-palette-key-color: #777777;
  --md-sys-color-error-palette-key-color: #de3730;
  --md-sys-color-background: #0e0e0e;
  --md-sys-color-on-background: #ffffff;
  --md-sys-color-surface: #0e0e0e;
  --md-sys-color-surface-dim: #0e0e0e;
  --md-sys-color-surface-bright: #2c2c2c;
  --md-sys-color-surface-container-lowest: #000000;
  --md-sys-color-surface-container-low: #131313;
  --md-sys-color-surface-container: #191919;
  --md-sys-color-surface-container-high: #1f1f1f;
  --md-sys-color-surface-container-highest: #262626;
  --md-sys-color-on-surface: #ffffff;
  --md-sys-color-surface-variant: #262626;
  --md-sys-color-on-surface-variant: #e5e5e5;
  --md-sys-color-inverse-surface: #f9f9f9;
  --md-sys-color-inverse-on-surface: #000000;
  --md-sys-color-outline: #b9b9b9;
  --md-sys-color-outline-variant: #939393;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #eee0ff;
  --md-sys-color-primary: #eee0ff;
  --md-sys-color-primary-dim: #e1ccff;
  --md-sys-color-on-primary: #39166b;
  --md-sys-color-primary-container: #b290e9;
  --md-sys-color-on-primary-container: #000000;
  --md-sys-color-inverse-primary: #462578;
  --md-sys-color-primary-fixed: #c2a0fb;
  --md-sys-color-primary-fixed-dim: #b593ec;
  --md-sys-color-on-primary-fixed: #000000;
  --md-sys-color-on-primary-fixed-variant: #000000;
  --md-sys-color-secondary: #ede1fa;
  --md-sys-color-secondary-dim: #dfd3ec;
  --md-sys-color-on-secondary: #30293c;
  --md-sys-color-secondary-container: #a499b1;
  --md-sys-color-on-secondary-container: #000000;
  --md-sys-color-secondary-fixed: #eadef7;
  --md-sys-color-secondary-fixed-dim: #dcd0e9;
  --md-sys-color-on-secondary-fixed: #000000;
  --md-sys-color-on-secondary-fixed-variant: #231c2e;
  --md-sys-color-tertiary: #ffdde3;
  --md-sys-color-tertiary-dim: #ffc6d1;
  --md-sys-color-on-tertiary: #45212a;
  --md-sys-color-tertiary-container: #fdc2ce;
  --md-sys-color-on-tertiary-container: #33121b;
  --md-sys-color-tertiary-fixed: #fdc2ce;
  --md-sys-color-tertiary-fixed-dim: #eeb5c1;
  --md-sys-color-on-tertiary-fixed: #000000;
  --md-sys-color-on-tertiary-fixed-variant: #20040c;
  --md-sys-color-error: #ffdeda;
  --md-sys-color-error-dim: #ffc8c1;
  --md-sys-color-on-error: #600004;
  --md-sys-color-error-container: #ff7164;
  --md-sys-color-on-error-container: #000000;
  --md-sys-color-control-activated: #b290e9;
  --md-sys-color-control-normal: #e5e5e5;
  --md-sys-color-control-highlight: #ffffff33;
  --md-sys-color-text-primary-inverse: #000000;
  --md-sys-color-text-secondary-and-tertiary-inverse: #474747;
  --md-sys-color-text-primary-inverse-disable-only: #1b1b1b;
  --md-sys-color-text-secondary-and-tertiary-inverse-disabled: #1b1b1b;
  --md-sys-color-text-hint-inverse: #1b1b1b;
}

