.light {
  --md-sys-color-primary-palette-key-color: #826ea1;
  --md-sys-color-secondary-palette-key-color: #7d7389;
  --md-sys-color-tertiary-palette-key-color: #986985;
  --md-sys-color-neutral-palette-key-color: #7a767c;
  --md-sys-color-neutral-variant-palette-key-color: #7b7580;
  --md-sys-color-error-palette-key-color: #c74d61;
  --md-sys-color-background: #fef7fe;
  --md-sys-color-on-background: #35313a;
  --md-sys-color-surface: #fef7fe;
  --md-sys-color-surface-dim: #dfd7e3;
  --md-sys-color-surface-bright: #fef7ff;
  --md-sys-color-surface-container-lowest: #ffffff;
  --md-sys-color-surface-container-low: #f9f1fa;
  --md-sys-color-surface-container: #f3ebf5;
  --md-sys-color-surface-container-high: #ede6f0;
  --md-sys-color-surface-container-highest: #e8e0ec;
  --md-sys-color-on-surface: #35313a;
  --md-sys-color-surface-variant: #e8e0ec;
  --md-sys-color-on-surface-variant: #625d67;
  --md-sys-color-inverse-surface: #0f0d12;
  --md-sys-color-inverse-on-surface: #a09ba1;
  --md-sys-color-outline: #7e7883;
  --md-sys-color-outline-variant: #b6afbb;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #695687;
  --md-sys-color-primary: #695687;
  --md-sys-color-primary-dim: #5d4a7b;
  --md-sys-color-on-primary: #fef7ff;
  --md-sys-color-primary-container: #dcc5fe;
  --md-sys-color-on-primary-container: #4f3d6c;
  --md-sys-color-inverse-primary: #dcc5fe;
  --md-sys-color-primary-fixed: #dcc5fe;
  --md-sys-color-primary-fixed-dim: #ceb7ef;
  --md-sys-color-on-primary-fixed: #3b2957;
  --md-sys-color-on-primary-fixed-variant: #584676;
  --md-sys-color-secondary: #645b71;
  --md-sys-color-secondary-dim: #584f64;
  --md-sys-color-on-secondary: #fef7ff;
  --md-sys-color-secondary-container: #eadef7;
  --md-sys-color-on-secondary-container: #574e63;
  --md-sys-color-secondary-fixed: #eadef7;
  --md-sys-color-secondary-fixed-dim: #dcd0e9;
  --md-sys-color-on-secondary-fixed: #443c50;
  --md-sys-color-on-secondary-fixed-variant: #61586d;
  --md-sys-color-tertiary: #7e516d;
  --md-sys-color-tertiary-dim: #704560;
  --md-sys-color-on-tertiary: #fff7f8;
  --md-sys-color-tertiary-container: #fdc4e4;
  --md-sys-color-on-tertiary-container: #653c56;
  --md-sys-color-tertiary-fixed: #fdc4e4;
  --md-sys-color-tertiary-fixed-dim: #eeb6d6;
  --md-sys-color-on-tertiary-fixed: #502942;
  --md-sys-color-on-tertiary-fixed-variant: #704560;
  --md-sys-color-error: #a8364b;
  --md-sys-color-error-dim: #6b0221;
  --md-sys-color-on-error: #fff7f7;
  --md-sys-color-error-container: #f97386;
  --md-sys-color-on-error-container: #6e0523;
}

.light-medium-contrast {
  --md-sys-color-primary-palette-key-color: #826ea1;
  --md-sys-color-secondary-palette-key-color: #7d7389;
  --md-sys-color-tertiary-palette-key-color: #986985;
  --md-sys-color-neutral-palette-key-color: #7a767c;
  --md-sys-color-neutral-variant-palette-key-color: #7b7580;
  --md-sys-color-error-palette-key-color: #c74d61;
  --md-sys-color-background: #fef7fe;
  --md-sys-color-on-background: #26222b;
  --md-sys-color-surface: #fef7fe;
  --md-sys-color-surface-dim: #dfd7e3;
  --md-sys-color-surface-bright: #fef7ff;
  --md-sys-color-surface-container-lowest: #ffffff;
  --md-sys-color-surface-container-low: #f9f1fa;
  --md-sys-color-surface-container: #f3ebf5;
  --md-sys-color-surface-container-high: #ede6f0;
  --md-sys-color-surface-container-highest: #e8e0ec;
  --md-sys-color-on-surface: #26222b;
  --md-sys-color-surface-variant: #e8e0ec;
  --md-sys-color-on-surface-variant: #46414b;
  --md-sys-color-inverse-surface: #0f0d12;
  --md-sys-color-inverse-on-surface: #c9c3c9;
  --md-sys-color-outline: #625d67;
  --md-sys-color-outline-variant: #7e7883;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #4c3a69;
  --md-sys-color-primary: #4c3a69;
  --md-sys-color-primary-dim: #402f5d;
  --md-sys-color-on-primary: #e5d2ff;
  --md-sys-color-primary-container: #7f6b9e;
  --md-sys-color-on-primary-container: #ffffff;
  --md-sys-color-inverse-primary: #dcc5fe;
  --md-sys-color-primary-fixed: #7f6b9e;
  --md-sys-color-primary-fixed-dim: #725f91;
  --md-sys-color-on-primary-fixed: #ffffff;
  --md-sys-color-on-primary-fixed-variant: #ffffff;
  --md-sys-color-secondary: #473f53;
  --md-sys-color-secondary-dim: #3c3448;
  --md-sys-color-on-secondary: #e1d5ee;
  --md-sys-color-secondary-container: #7a7187;
  --md-sys-color-on-secondary-container: #ffffff;
  --md-sys-color-secondary-fixed: #7a7187;
  --md-sys-color-secondary-fixed-dim: #6d647a;
  --md-sys-color-on-secondary-fixed: #ffffff;
  --md-sys-color-on-secondary-fixed-variant: #ffffff;
  --md-sys-color-tertiary: #5e3650;
  --md-sys-color-tertiary-dim: #522b44;
  --md-sys-color-on-tertiary: #ffcbe8;
  --md-sys-color-tertiary-container: #956683;
  --md-sys-color-on-tertiary-container: #ffffff;
  --md-sys-color-tertiary-fixed: #956683;
  --md-sys-color-tertiary-fixed-dim: #885a76;
  --md-sys-color-on-tertiary-fixed: #ffffff;
  --md-sys-color-on-tertiary-fixed-variant: #ffffff;
  --md-sys-color-error: #821830;
  --md-sys-color-error-dim: #6b0221;
  --md-sys-color-on-error: #ffcdd1;
  --md-sys-color-error-container: #c44b5f;
  --md-sys-color-on-error-container: #ffffff;
}

.light-high-contrast {
  --md-sys-color-primary-palette-key-color: #826ea1;
  --md-sys-color-secondary-palette-key-color: #7d7389;
  --md-sys-color-tertiary-palette-key-color: #986985;
  --md-sys-color-neutral-palette-key-color: #7a767c;
  --md-sys-color-neutral-variant-palette-key-color: #7b7580;
  --md-sys-color-error-palette-key-color: #c74d61;
  --md-sys-color-background: #fef7fe;
  --md-sys-color-on-background: #000000;
  --md-sys-color-surface: #fef7fe;
  --md-sys-color-surface-dim: #dfd7e3;
  --md-sys-color-surface-bright: #fef7ff;
  --md-sys-color-surface-container-lowest: #ffffff;
  --md-sys-color-surface-container-low: #f9f1fa;
  --md-sys-color-surface-container: #f3ebf5;
  --md-sys-color-surface-container-high: #ede6f0;
  --md-sys-color-surface-container-highest: #e8e0ec;
  --md-sys-color-on-surface: #000000;
  --md-sys-color-surface-variant: #e8e0ec;
  --md-sys-color-on-surface-variant: #26222b;
  --md-sys-color-inverse-surface: #0f0d12;
  --md-sys-color-inverse-on-surface: #ffffff;
  --md-sys-color-outline: #46414b;
  --md-sys-color-outline-variant: #625d67;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #2c1a48;
  --md-sys-color-primary: #2c1a48;
  --md-sys-color-primary-dim: #210f3d;
  --md-sys-color-on-primary: #e5d2ff;
  --md-sys-color-primary-container: #695687;
  --md-sys-color-on-primary-container: #ffffff;
  --md-sys-color-inverse-primary: #dcc5fe;
  --md-sys-color-primary-fixed: #695687;
  --md-sys-color-primary-fixed-dim: #5d4a7b;
  --md-sys-color-on-primary-fixed: #ffffff;
  --md-sys-color-on-primary-fixed-variant: #ffffff;
  --md-sys-color-secondary: #282133;
  --md-sys-color-secondary-dim: #1d1628;
  --md-sys-color-on-secondary: #e2d5ef;
  --md-sys-color-secondary-container: #645b71;
  --md-sys-color-on-secondary-container: #ffffff;
  --md-sys-color-secondary-fixed: #645b71;
  --md-sys-color-secondary-fixed-dim: #584f64;
  --md-sys-color-on-secondary-fixed: #ffffff;
  --md-sys-color-on-secondary-fixed-variant: #ffffff;
  --md-sys-color-tertiary: #3b172f;
  --md-sys-color-tertiary-dim: #2f0d25;
  --md-sys-color-on-tertiary: #ffcbe8;
  --md-sys-color-tertiary-container: #7e516d;
  --md-sys-color-on-tertiary-container: #ffffff;
  --md-sys-color-tertiary-fixed: #7e516d;
  --md-sys-color-tertiary-fixed-dim: #704560;
  --md-sys-color-on-tertiary-fixed: #ffffff;
  --md-sys-color-on-tertiary-fixed-variant: #ffffff;
  --md-sys-color-error: #500016;
  --md-sys-color-error-dim: #3d000f;
  --md-sys-color-on-error: #ffced2;
  --md-sys-color-error-container: #a8364b;
  --md-sys-color-on-error-container: #ffffff;
}

.dark {
  --md-sys-color-primary-palette-key-color: #807098;
  --md-sys-color-secondary-palette-key-color: #7d7389;
  --md-sys-color-tertiary-palette-key-color: #986985;
  --md-sys-color-neutral-palette-key-color: #7a767c;
  --md-sys-color-neutral-variant-palette-key-color: #7b7580;
  --md-sys-color-error-palette-key-color: #c74d61;
  --md-sys-color-background: #0f0d12;
  --md-sys-color-on-background: #ebe3ef;
  --md-sys-color-surface: #0f0d12;
  --md-sys-color-surface-dim: #0f0d12;
  --md-sys-color-surface-bright: #2e2b30;
  --md-sys-color-surface-container-lowest: #000000;
  --md-sys-color-surface-container-low: #151218;
  --md-sys-color-surface-container: #1b181f;
  --md-sys-color-surface-container-high: #211e26;
  --md-sys-color-surface-container-highest: #28242d;
  --md-sys-color-on-surface: #ebe3ef;
  --md-sys-color-surface-variant: #28242d;
  --md-sys-color-on-surface-variant: #afa9b4;
  --md-sys-color-inverse-surface: #fef7fe;
  --md-sys-color-inverse-on-surface: #575459;
  --md-sys-color-outline: #79737e;
  --md-sys-color-outline-variant: #4b4650;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #d1bfeb;
  --md-sys-color-primary: #d1bfeb;
  --md-sys-color-primary-dim: #c3b1dc;
  --md-sys-color-on-primary: #473a5e;
  --md-sys-color-primary-container: #5a4c71;
  --md-sys-color-on-primary-container: #ecddff;
  --md-sys-color-inverse-primary: #67587e;
  --md-sys-color-primary-fixed: #e5d2ff;
  --md-sys-color-primary-fixed-dim: #d7c4f0;
  --md-sys-color-on-primary-fixed: #413357;
  --md-sys-color-on-primary-fixed-variant: #5e4f75;
  --md-sys-color-secondary: #cec2db;
  --md-sys-color-secondary-dim: #c0b4cd;
  --md-sys-color-on-secondary: #453d51;
  --md-sys-color-secondary-container: #40384c;
  --md-sys-color-on-secondary-container: #c6bbd3;
  --md-sys-color-secondary-fixed: #eadef7;
  --md-sys-color-secondary-fixed-dim: #dcd0e9;
  --md-sys-color-on-secondary-fixed: #443c50;
  --md-sys-color-on-secondary-fixed-variant: #61586d;
  --md-sys-color-tertiary: #ffd8ec;
  --md-sys-color-tertiary-dim: #fdc4e4;
  --md-sys-color-on-tertiary: #6f445f;
  --md-sys-color-tertiary-container: #fdc4e4;
  --md-sys-color-on-tertiary-container: #653c56;
  --md-sys-color-tertiary-fixed: #fdc4e4;
  --md-sys-color-tertiary-fixed-dim: #eeb6d6;
  --md-sys-color-on-tertiary-fixed: #502942;
  --md-sys-color-on-tertiary-fixed-variant: #704560;
  --md-sys-color-error: #f97386;
  --md-sys-color-error-dim: #c44b5f;
  --md-sys-color-on-error: #490013;
  --md-sys-color-error-container: #871c34;
  --md-sys-color-on-error-container: #ff97a3;
}

.dark-medium-contrast {
  --md-sys-color-primary-palette-key-color: #807098;
  --md-sys-color-secondary-palette-key-color: #7d7389;
  --md-sys-color-tertiary-palette-key-color: #986985;
  --md-sys-color-neutral-palette-key-color: #7a767c;
  --md-sys-color-neutral-variant-palette-key-color: #7b7580;
  --md-sys-color-error-palette-key-color: #c74d61;
  --md-sys-color-background: #0f0d12;
  --md-sys-color-on-background: #ffffff;
  --md-sys-color-surface: #0f0d12;
  --md-sys-color-surface-dim: #0f0d12;
  --md-sys-color-surface-bright: #2e2b30;
  --md-sys-color-surface-container-lowest: #000000;
  --md-sys-color-surface-container-low: #151218;
  --md-sys-color-surface-container: #1b181f;
  --md-sys-color-surface-container-high: #211e26;
  --md-sys-color-surface-container-highest: #28242d;
  --md-sys-color-on-surface: #ffffff;
  --md-sys-color-surface-variant: #28242d;
  --md-sys-color-on-surface-variant: #bdb6c2;
  --md-sys-color-inverse-surface: #fef7fe;
  --md-sys-color-inverse-on-surface: #3a373c;
  --md-sys-color-outline: #97919c;
  --md-sys-color-outline-variant: #79737e;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #d1bfeb;
  --md-sys-color-primary: #d1bfeb;
  --md-sys-color-primary-dim: #c3b1dc;
  --md-sys-color-on-primary: #3d3053;
  --md-sys-color-primary-container: #7d6e95;
  --md-sys-color-on-primary-container: #ffffff;
  --md-sys-color-inverse-primary: #5d4e74;
  --md-sys-color-primary-fixed: #e5d2ff;
  --md-sys-color-primary-fixed-dim: #d7c4f0;
  --md-sys-color-on-primary-fixed: #1e1132;
  --md-sys-color-on-primary-fixed-variant: #413357;
  --md-sys-color-secondary: #cec2db;
  --md-sys-color-secondary-dim: #c0b4cd;
  --md-sys-color-on-secondary: #3a3346;
  --md-sys-color-secondary-container: #7a7187;
  --md-sys-color-on-secondary-container: #ffffff;
  --md-sys-color-secondary-fixed: #eadef7;
  --md-sys-color-secondary-fixed-dim: #dcd0e9;
  --md-sys-color-on-secondary-fixed: #231c2e;
  --md-sys-color-on-secondary-fixed-variant: #443c50;
  --md-sys-color-tertiary: #ffd8ec;
  --md-sys-color-tertiary-dim: #fdc4e4;
  --md-sys-color-on-tertiary: #643b55;
  --md-sys-color-tertiary-container: #fdc4e4;
  --md-sys-color-on-tertiary-container: #5a324c;
  --md-sys-color-tertiary-fixed: #fdc4e4;
  --md-sys-color-tertiary-fixed-dim: #eeb6d6;
  --md-sys-color-on-tertiary-fixed: #25041c;
  --md-sys-color-on-tertiary-fixed-variant: #502942;
  --md-sys-color-error: #ff9da8;
  --md-sys-color-error-dim: #ff8695;
  --md-sys-color-on-error: #5f001c;
  --md-sys-color-error-container: #c44b5f;
  --md-sys-color-on-error-container: #ffffff;
}

.dark-high-contrast {
  --md-sys-color-primary-palette-key-color: #807098;
  --md-sys-color-secondary-palette-key-color: #7d7389;
  --md-sys-color-tertiary-palette-key-color: #986985;
  --md-sys-color-neutral-palette-key-color: #7a767c;
  --md-sys-color-neutral-variant-palette-key-color: #7b7580;
  --md-sys-color-error-palette-key-color: #c74d61;
  --md-sys-color-background: #0f0d12;
  --md-sys-color-on-background: #ffffff;
  --md-sys-color-surface: #0f0d12;
  --md-sys-color-surface-dim: #0f0d12;
  --md-sys-color-surface-bright: #2e2b30;
  --md-sys-color-surface-container-lowest: #000000;
  --md-sys-color-surface-container-low: #151218;
  --md-sys-color-surface-container: #1b181f;
  --md-sys-color-surface-container-high: #211e26;
  --md-sys-color-surface-container-highest: #28242d;
  --md-sys-color-on-surface: #ffffff;
  --md-sys-color-surface-variant: #28242d;
  --md-sys-color-on-surface-variant: #ebe3ef;
  --md-sys-color-inverse-surface: #fef7fe;
  --md-sys-color-inverse-on-surface: #000000;
  --md-sys-color-outline: #bdb6c2;
  --md-sys-color-outline-variant: #97919c;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #eee0ff;
  --md-sys-color-primary: #eee0ff;
  --md-sys-color-primary-dim: #e2cffc;
  --md-sys-color-on-primary: #332548;
  --md-sys-color-primary-container: #a796c0;
  --md-sys-color-on-primary-container: #000000;
  --md-sys-color-inverse-primary: #3f3255;
  --md-sys-color-primary-fixed: #e5d2ff;
  --md-sys-color-primary-fixed-dim: #d7c4f0;
  --md-sys-color-on-primary-fixed: #000000;
  --md-sys-color-on-primary-fixed-variant: #1e1132;
  --md-sys-color-secondary: #ede1fa;
  --md-sys-color-secondary-dim: #dfd3ec;
  --md-sys-color-on-secondary: #30293c;
  --md-sys-color-secondary-container: #a499b1;
  --md-sys-color-on-secondary-container: #000000;
  --md-sys-color-secondary-fixed: #eadef7;
  --md-sys-color-secondary-fixed-dim: #dcd0e9;
  --md-sys-color-on-secondary-fixed: #000000;
  --md-sys-color-on-secondary-fixed-variant: #231c2e;
  --md-sys-color-tertiary: #ffdcee;
  --md-sys-color-tertiary-dim: #fdc4e4;
  --md-sys-color-on-tertiary: #441f38;
  --md-sys-color-tertiary-container: #fdc4e4;
  --md-sys-color-on-tertiary-container: #36122b;
  --md-sys-color-tertiary-fixed: #fdc4e4;
  --md-sys-color-tertiary-fixed-dim: #eeb6d6;
  --md-sys-color-on-tertiary-fixed: #000000;
  --md-sys-color-on-tertiary-fixed-variant: #25041c;
  --md-sys-color-error: #ffdddf;
  --md-sys-color-error-dim: #ffc7cb;
  --md-sys-color-on-error: #5f001c;
  --md-sys-color-error-container: #f97386;
  --md-sys-color-on-error-container: #000000;
}

