.light {
  --md-sys-color-primary-palette-key-color: #836ca7;
  --md-sys-color-secondary-palette-key-color: #7d7389;
  --md-sys-color-tertiary-palette-key-color: #9b6a75;
  --md-sys-color-neutral-palette-key-color: #7a757c;
  --md-sys-color-neutral-variant-palette-key-color: #7b757f;
  --md-sys-color-error-palette-key-color: #de3730;
  --md-sys-color-background: #fef7ff;
  --md-sys-color-on-background: #1d1a20;
  --md-sys-color-surface: #fef7ff;
  --md-sys-color-surface-dim: #ded8e0;
  --md-sys-color-surface-bright: #fef7ff;
  --md-sys-color-surface-container-lowest: #ffffff;
  --md-sys-color-surface-container-low: #f8f1f9;
  --md-sys-color-surface-container: #f3ecf4;
  --md-sys-color-surface-container-high: #ede6ee;
  --md-sys-color-surface-container-highest: #e7e0e8;
  --md-sys-color-on-surface: #1d1a20;
  --md-sys-color-surface-variant: #e8e0eb;
  --md-sys-color-on-surface-variant: #49454e;
  --md-sys-color-inverse-surface: #322f35;
  --md-sys-color-inverse-on-surface: #f6eef7;
  --md-sys-color-outline: #7b757f;
  --md-sys-color-outline-variant: #cbc4cf;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #69548d;
  --md-sys-color-primary: #69548d;
  --md-sys-color-primary-dim: #735d97;
  --md-sys-color-on-primary: #ffffff;
  --md-sys-color-primary-container: #ecdcff;
  --md-sys-color-on-primary-container: #513c73;
  --md-sys-color-inverse-primary: #d5bbfc;
  --md-sys-color-primary-fixed: #ecdcff;
  --md-sys-color-primary-fixed-dim: #d5bbfc;
  --md-sys-color-on-primary-fixed: #240e45;
  --md-sys-color-on-primary-fixed-variant: #513c73;
  --md-sys-color-secondary: #645b70;
  --md-sys-color-secondary-dim: #6d647a;
  --md-sys-color-on-secondary: #ffffff;
  --md-sys-color-secondary-container: #eadef7;
  --md-sys-color-on-secondary-container: #4b4357;
  --md-sys-color-secondary-fixed: #eadef7;
  --md-sys-color-secondary-fixed-dim: #cec2db;
  --md-sys-color-on-secondary-fixed: #1f182a;
  --md-sys-color-on-secondary-fixed-variant: #4b4357;
  --md-sys-color-tertiary: #7f525c;
  --md-sys-color-tertiary-dim: #8a5b65;
  --md-sys-color-on-tertiary: #ffffff;
  --md-sys-color-tertiary-container: #ffd9e0;
  --md-sys-color-on-tertiary-container: #643b45;
  --md-sys-color-tertiary-fixed: #ffd9e0;
  --md-sys-color-tertiary-fixed-dim: #f1b7c3;
  --md-sys-color-on-tertiary-fixed: #32101a;
  --md-sys-color-on-tertiary-fixed-variant: #643b45;
  --md-sys-color-error: #ba1a1a;
  --md-sys-color-error-dim: #ac0c12;
  --md-sys-color-on-error: #ffffff;
  --md-sys-color-error-container: #ffdad6;
  --md-sys-color-on-error-container: #93000a;
  --md-sys-color-control-activated: #ecdcff;
  --md-sys-color-control-normal: #49454e;
  --md-sys-color-control-highlight: #0000001f;
  --md-sys-color-text-primary-inverse: #e7e0e8;
  --md-sys-color-text-secondary-and-tertiary-inverse: #cbc4cf;
  --md-sys-color-text-primary-inverse-disable-only: #e7e0e8;
  --md-sys-color-text-secondary-and-tertiary-inverse-disabled: #e7e0e8;
  --md-sys-color-text-hint-inverse: #e7e0e8;
}

.light-medium-contrast {
  --md-sys-color-primary-palette-key-color: #836ca7;
  --md-sys-color-secondary-palette-key-color: #7d7389;
  --md-sys-color-tertiary-palette-key-color: #9b6a75;
  --md-sys-color-neutral-palette-key-color: #7a757c;
  --md-sys-color-neutral-variant-palette-key-color: #7b757f;
  --md-sys-color-error-palette-key-color: #de3730;
  --md-sys-color-background: #fef7ff;
  --md-sys-color-on-background: #1d1a20;
  --md-sys-color-surface: #fef7ff;
  --md-sys-color-surface-dim: #cbc4cc;
  --md-sys-color-surface-bright: #fef7ff;
  --md-sys-color-surface-container-lowest: #ffffff;
  --md-sys-color-surface-container-low: #f8f1f9;
  --md-sys-color-surface-container: #ede6ee;
  --md-sys-color-surface-container-high: #e1dbe3;
  --md-sys-color-surface-container-highest: #d6cfd7;
  --md-sys-color-on-surface: #121016;
  --md-sys-color-surface-variant: #e8e0eb;
  --md-sys-color-on-surface-variant: #39353d;
  --md-sys-color-inverse-surface: #322f35;
  --md-sys-color-inverse-on-surface: #f6eef7;
  --md-sys-color-outline: #55515a;
  --md-sys-color-outline-variant: #706b75;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #69548d;
  --md-sys-color-primary: #402b61;
  --md-sys-color-primary-dim: #4f3a71;
  --md-sys-color-on-primary: #ffffff;
  --md-sys-color-primary-container: #79629d;
  --md-sys-color-on-primary-container: #ffffff;
  --md-sys-color-inverse-primary: #d5bbfc;
  --md-sys-color-primary-fixed: #79629d;
  --md-sys-color-primary-fixed-dim: #5f4a83;
  --md-sys-color-on-primary-fixed: #ffffff;
  --md-sys-color-on-primary-fixed-variant: #ffffff;
  --md-sys-color-secondary: #3a3346;
  --md-sys-color-secondary-dim: #494155;
  --md-sys-color-on-secondary: #ffffff;
  --md-sys-color-secondary-container: #72697f;
  --md-sys-color-on-secondary-container: #ffffff;
  --md-sys-color-secondary-fixed: #72697f;
  --md-sys-color-secondary-fixed-dim: #5a5166;
  --md-sys-color-on-secondary-fixed: #ffffff;
  --md-sys-color-on-secondary-fixed-variant: #ffffff;
  --md-sys-color-tertiary: #512a34;
  --md-sys-color-tertiary-dim: #623843;
  --md-sys-color-on-tertiary: #ffffff;
  --md-sys-color-tertiary-container: #8f606b;
  --md-sys-color-on-tertiary-container: #ffffff;
  --md-sys-color-tertiary-fixed: #8f606b;
  --md-sys-color-tertiary-fixed-dim: #744853;
  --md-sys-color-on-tertiary-fixed: #ffffff;
  --md-sys-color-on-tertiary-fixed-variant: #ffffff;
  --md-sys-color-error: #740006;
  --md-sys-color-error-dim: #8f0009;
  --md-sys-color-on-error: #ffffff;
  --md-sys-color-error-container: #cf2c27;
  --md-sys-color-on-error-container: #ffffff;
  --md-sys-color-control-activated: #ecdcff;
  --md-sys-color-control-normal: #49454e;
  --md-sys-color-control-highlight: #0000001f;
  --md-sys-color-text-primary-inverse: #e7e0e8;
  --md-sys-color-text-secondary-and-tertiary-inverse: #cbc4cf;
  --md-sys-color-text-primary-inverse-disable-only: #e7e0e8;
  --md-sys-color-text-secondary-and-tertiary-inverse-disabled: #e7e0e8;
  --md-sys-color-text-hint-inverse: #e7e0e8;
}

.light-high-contrast {
  --md-sys-color-primary-palette-key-color: #836ca7;
  --md-sys-color-secondary-palette-key-color: #7d7389;
  --md-sys-color-tertiary-palette-key-color: #9b6a75;
  --md-sys-color-neutral-palette-key-color: #7a757c;
  --md-sys-color-neutral-variant-palette-key-color: #7b757f;
  --md-sys-color-error-palette-key-color: #de3730;
  --md-sys-color-background: #fef7ff;
  --md-sys-color-on-background: #1d1a20;
  --md-sys-color-surface: #fef7ff;
  --md-sys-color-surface-dim: #bdb7be;
  --md-sys-color-surface-bright: #fef7ff;
  --md-sys-color-surface-container-lowest: #ffffff;
  --md-sys-color-surface-container-low: #f6eef7;
  --md-sys-color-surface-container: #e7e0e8;
  --md-sys-color-surface-container-high: #d9d2da;
  --md-sys-color-surface-container-highest: #cbc4cc;
  --md-sys-color-on-surface: #000000;
  --md-sys-color-surface-variant: #e8e0eb;
  --md-sys-color-on-surface-variant: #000000;
  --md-sys-color-inverse-surface: #322f35;
  --md-sys-color-inverse-on-surface: #ffffff;
  --md-sys-color-outline: #2e2b33;
  --md-sys-color-outline-variant: #4c4750;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #69548d;
  --md-sys-color-primary: #352157;
  --md-sys-color-primary-dim: #281349;
  --md-sys-color-on-primary: #ffffff;
  --md-sys-color-primary-container: #533f76;
  --md-sys-color-on-primary-container: #ffffff;
  --md-sys-color-inverse-primary: #d5bbfc;
  --md-sys-color-primary-fixed: #533f76;
  --md-sys-color-primary-fixed-dim: #3c285e;
  --md-sys-color-on-primary-fixed: #ffffff;
  --md-sys-color-on-primary-fixed-variant: #ffffff;
  --md-sys-color-secondary: #30293c;
  --md-sys-color-secondary-dim: #231c2e;
  --md-sys-color-on-secondary: #ffffff;
  --md-sys-color-secondary-container: #4e465a;
  --md-sys-color-on-secondary-container: #ffffff;
  --md-sys-color-secondary-fixed: #4e465a;
  --md-sys-color-secondary-fixed-dim: #372f42;
  --md-sys-color-on-secondary-fixed: #ffffff;
  --md-sys-color-on-secondary-fixed-variant: #ffffff;
  --md-sys-color-tertiary: #46212a;
  --md-sys-color-tertiary-dim: #36141e;
  --md-sys-color-on-tertiary: #ffffff;
  --md-sys-color-tertiary-container: #673d47;
  --md-sys-color-on-tertiary-container: #ffffff;
  --md-sys-color-tertiary-fixed: #673d47;
  --md-sys-color-tertiary-fixed-dim: #4d2731;
  --md-sys-color-on-tertiary-fixed: #ffffff;
  --md-sys-color-on-tertiary-fixed-variant: #ffffff;
  --md-sys-color-error: #600004;
  --md-sys-color-error-dim: #480002;
  --md-sys-color-on-error: #ffffff;
  --md-sys-color-error-container: #98000a;
  --md-sys-color-on-error-container: #ffffff;
  --md-sys-color-control-activated: #ecdcff;
  --md-sys-color-control-normal: #49454e;
  --md-sys-color-control-highlight: #0000001f;
  --md-sys-color-text-primary-inverse: #e7e0e8;
  --md-sys-color-text-secondary-and-tertiary-inverse: #cbc4cf;
  --md-sys-color-text-primary-inverse-disable-only: #e7e0e8;
  --md-sys-color-text-secondary-and-tertiary-inverse-disabled: #e7e0e8;
  --md-sys-color-text-hint-inverse: #e7e0e8;
}

.dark {
  --md-sys-color-primary-palette-key-color: #836ca7;
  --md-sys-color-secondary-palette-key-color: #7d7389;
  --md-sys-color-tertiary-palette-key-color: #9b6a75;
  --md-sys-color-neutral-palette-key-color: #7a757c;
  --md-sys-color-neutral-variant-palette-key-color: #7b757f;
  --md-sys-color-error-palette-key-color: #de3730;
  --md-sys-color-background: #151218;
  --md-sys-color-on-background: #e7e0e8;
  --md-sys-color-surface: #151218;
  --md-sys-color-surface-dim: #151218;
  --md-sys-color-surface-bright: #3b383e;
  --md-sys-color-surface-container-lowest: #0f0d12;
  --md-sys-color-surface-container-low: #1d1a20;
  --md-sys-color-surface-container: #211e24;
  --md-sys-color-surface-container-high: #2c292f;
  --md-sys-color-surface-container-highest: #37333a;
  --md-sys-color-on-surface: #e7e0e8;
  --md-sys-color-surface-variant: #49454e;
  --md-sys-color-on-surface-variant: #cbc4cf;
  --md-sys-color-inverse-surface: #e7e0e8;
  --md-sys-color-inverse-on-surface: #322f35;
  --md-sys-color-outline: #958e99;
  --md-sys-color-outline-variant: #49454e;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #d5bbfc;
  --md-sys-color-primary: #d5bbfc;
  --md-sys-color-primary-dim: #e0cbff;
  --md-sys-color-on-primary: #3a255b;
  --md-sys-color-primary-container: #513c73;
  --md-sys-color-on-primary-container: #ecdcff;
  --md-sys-color-inverse-primary: #69548d;
  --md-sys-color-primary-fixed: #ecdcff;
  --md-sys-color-primary-fixed-dim: #d5bbfc;
  --md-sys-color-on-primary-fixed: #240e45;
  --md-sys-color-on-primary-fixed-variant: #513c73;
  --md-sys-color-secondary: #cec2db;
  --md-sys-color-secondary-dim: #eadef7;
  --md-sys-color-on-secondary: #352d40;
  --md-sys-color-secondary-container: #4b4357;
  --md-sys-color-on-secondary-container: #eadef7;
  --md-sys-color-secondary-fixed: #eadef7;
  --md-sys-color-secondary-fixed-dim: #cec2db;
  --md-sys-color-on-secondary-fixed: #1f182a;
  --md-sys-color-on-secondary-fixed-variant: #4b4357;
  --md-sys-color-tertiary: #f1b7c3;
  --md-sys-color-tertiary-dim: #ffc5d1;
  --md-sys-color-on-tertiary: #4b252f;
  --md-sys-color-tertiary-container: #643b45;
  --md-sys-color-on-tertiary-container: #ffd9e0;
  --md-sys-color-tertiary-fixed: #ffd9e0;
  --md-sys-color-tertiary-fixed-dim: #f1b7c3;
  --md-sys-color-on-tertiary-fixed: #32101a;
  --md-sys-color-on-tertiary-fixed-variant: #643b45;
  --md-sys-color-error: #ffb4ab;
  --md-sys-color-error-dim: #ffc7c0;
  --md-sys-color-on-error: #690005;
  --md-sys-color-error-container: #93000a;
  --md-sys-color-on-error-container: #ffdad6;
  --md-sys-color-control-activated: #513c73;
  --md-sys-color-control-normal: #cbc4cf;
  --md-sys-color-control-highlight: #ffffff33;
  --md-sys-color-text-primary-inverse: #1d1a20;
  --md-sys-color-text-secondary-and-tertiary-inverse: #49454e;
  --md-sys-color-text-primary-inverse-disable-only: #1d1a20;
  --md-sys-color-text-secondary-and-tertiary-inverse-disabled: #1d1a20;
  --md-sys-color-text-hint-inverse: #1d1a20;
}

.dark-medium-contrast {
  --md-sys-color-primary-palette-key-color: #836ca7;
  --md-sys-color-secondary-palette-key-color: #7d7389;
  --md-sys-color-tertiary-palette-key-color: #9b6a75;
  --md-sys-color-neutral-palette-key-color: #7a757c;
  --md-sys-color-neutral-variant-palette-key-color: #7b757f;
  --md-sys-color-error-palette-key-color: #de3730;
  --md-sys-color-background: #151218;
  --md-sys-color-on-background: #e7e0e8;
  --md-sys-color-surface: #151218;
  --md-sys-color-surface-dim: #151218;
  --md-sys-color-surface-bright: #474349;
  --md-sys-color-surface-container-lowest: #08070b;
  --md-sys-color-surface-container-low: #1f1c22;
  --md-sys-color-surface-container: #2a272d;
  --md-sys-color-surface-container-high: #343137;
  --md-sys-color-surface-container-highest: #403c43;
  --md-sys-color-on-surface: #ffffff;
  --md-sys-color-surface-variant: #49454e;
  --md-sys-color-on-surface-variant: #e1dae5;
  --md-sys-color-inverse-surface: #e7e0e8;
  --md-sys-color-inverse-on-surface: #2c292f;
  --md-sys-color-outline: #b6afba;
  --md-sys-color-outline-variant: #948e98;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #d5bbfc;
  --md-sys-color-primary: #e7d5ff;
  --md-sys-color-primary-dim: #e0cbff;
  --md-sys-color-on-primary: #2f1a50;
  --md-sys-color-primary-container: #9d86c3;
  --md-sys-color-on-primary-container: #000000;
  --md-sys-color-inverse-primary: #523d75;
  --md-sys-color-primary-fixed: #ecdcff;
  --md-sys-color-primary-fixed-dim: #d5bbfc;
  --md-sys-color-on-primary-fixed: #19023a;
  --md-sys-color-on-primary-fixed-variant: #402b61;
  --md-sys-color-secondary: #e4d8f1;
  --md-sys-color-secondary-dim: #eadef7;
  --md-sys-color-on-secondary: #2a2235;
  --md-sys-color-secondary-container: #978ca4;
  --md-sys-color-on-secondary-container: #000000;
  --md-sys-color-secondary-fixed: #eadef7;
  --md-sys-color-secondary-fixed-dim: #cec2db;
  --md-sys-color-on-secondary-fixed: #140e1f;
  --md-sys-color-on-secondary-fixed-variant: #3a3346;
  --md-sys-color-tertiary: #ffd1d9;
  --md-sys-color-tertiary-dim: #ffc5d1;
  --md-sys-color-on-tertiary: #3e1a24;
  --md-sys-color-tertiary-container: #b7838e;
  --md-sys-color-on-tertiary-container: #000000;
  --md-sys-color-tertiary-fixed: #ffd9e0;
  --md-sys-color-tertiary-fixed-dim: #f1b7c3;
  --md-sys-color-on-tertiary-fixed: #250610;
  --md-sys-color-on-tertiary-fixed-variant: #512a34;
  --md-sys-color-error: #ffd2cc;
  --md-sys-color-error-dim: #ffc7c0;
  --md-sys-color-on-error: #540003;
  --md-sys-color-error-container: #ff5449;
  --md-sys-color-on-error-container: #000000;
  --md-sys-color-control-activated: #513c73;
  --md-sys-color-control-normal: #cbc4cf;
  --md-sys-color-control-highlight: #ffffff33;
  --md-sys-color-text-primary-inverse: #1d1a20;
  --md-sys-color-text-secondary-and-tertiary-inverse: #49454e;
  --md-sys-color-text-primary-inverse-disable-only: #1d1a20;
  --md-sys-color-text-secondary-and-tertiary-inverse-disabled: #1d1a20;
  --md-sys-color-text-hint-inverse: #1d1a20;
}

.dark-high-contrast {
  --md-sys-color-primary-palette-key-color: #836ca7;
  --md-sys-color-secondary-palette-key-color: #7d7389;
  --md-sys-color-tertiary-palette-key-color: #9b6a75;
  --md-sys-color-neutral-palette-key-color: #7a757c;
  --md-sys-color-neutral-variant-palette-key-color: #7b757f;
  --md-sys-color-error-palette-key-color: #de3730;
  --md-sys-color-background: #151218;
  --md-sys-color-on-background: #e7e0e8;
  --md-sys-color-surface: #151218;
  --md-sys-color-surface-dim: #151218;
  --md-sys-color-surface-bright: #524f55;
  --md-sys-color-surface-container-lowest: #000000;
  --md-sys-color-surface-container-low: #211e24;
  --md-sys-color-surface-container: #322f35;
  --md-sys-color-surface-container-high: #3d3a40;
  --md-sys-color-surface-container-highest: #49454c;
  --md-sys-color-on-surface: #ffffff;
  --md-sys-color-surface-variant: #49454e;
  --md-sys-color-on-surface-variant: #ffffff;
  --md-sys-color-inverse-surface: #e7e0e8;
  --md-sys-color-inverse-on-surface: #000000;
  --md-sys-color-outline: #f5edf9;
  --md-sys-color-outline-variant: #c7c0cb;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #d5bbfc;
  --md-sys-color-primary: #f7ecff;
  --md-sys-color-primary-dim: #fffeff;
  --md-sys-color-on-primary: #000000;
  --md-sys-color-primary-container: #d1b7f8;
  --md-sys-color-on-primary-container: #12002f;
  --md-sys-color-inverse-primary: #523d75;
  --md-sys-color-primary-fixed: #ecdcff;
  --md-sys-color-primary-fixed-dim: #d5bbfc;
  --md-sys-color-on-primary-fixed: #000000;
  --md-sys-color-on-primary-fixed-variant: #19023a;
  --md-sys-color-secondary: #f7ecff;
  --md-sys-color-secondary-dim: #fffeff;
  --md-sys-color-on-secondary: #000000;
  --md-sys-color-secondary-container: #cabed7;
  --md-sys-color-on-secondary-container: #0e0819;
  --md-sys-color-secondary-fixed: #eadef7;
  --md-sys-color-secondary-fixed-dim: #cec2db;
  --md-sys-color-on-secondary-fixed: #000000;
  --md-sys-color-on-secondary-fixed-variant: #140e1f;
  --md-sys-color-tertiary: #ffebee;
  --md-sys-color-tertiary-dim: #fffeff;
  --md-sys-color-on-tertiary: #000000;
  --md-sys-color-tertiary-container: #edb4bf;
  --md-sys-color-on-tertiary-container: #1d020a;
  --md-sys-color-tertiary-fixed: #ffd9e0;
  --md-sys-color-tertiary-fixed-dim: #f1b7c3;
  --md-sys-color-on-tertiary-fixed: #000000;
  --md-sys-color-on-tertiary-fixed-variant: #250610;
  --md-sys-color-error: #ffece9;
  --md-sys-color-error-dim: #fffeff;
  --md-sys-color-on-error: #000000;
  --md-sys-color-error-container: #ffaea4;
  --md-sys-color-on-error-container: #220001;
  --md-sys-color-control-activated: #513c73;
  --md-sys-color-control-normal: #cbc4cf;
  --md-sys-color-control-highlight: #ffffff33;
  --md-sys-color-text-primary-inverse: #1d1a20;
  --md-sys-color-text-secondary-and-tertiary-inverse: #49454e;
  --md-sys-color-text-primary-inverse-disable-only: #1d1a20;
  --md-sys-color-text-secondary-and-tertiary-inverse-disabled: #1d1a20;
  --md-sys-color-text-hint-inverse: #1d1a20;
}

