.light {
  --md-sys-color-primary-palette-key-color: #9153f1;
  --md-sys-color-secondary-palette-key-color: #985dc2;
  --md-sys-color-tertiary-palette-key-color: #c2516e;
  --md-sys-color-neutral-palette-key-color: #876d97;
  --md-sys-color-neutral-variant-palette-key-color: #8c6aa3;
  --md-sys-color-error-palette-key-color: #db365a;
  --md-sys-color-background: #fef3ff;
  --md-sys-color-on-background: #3b264a;
  --md-sys-color-surface: #fef3ff;
  --md-sys-color-surface-dim: #eac8ff;
  --md-sys-color-surface-bright: #fef3ff;
  --md-sys-color-surface-container-lowest: #ffffff;
  --md-sys-color-surface-container-low: #fbecff;
  --md-sys-color-surface-container: #f6e1ff;
  --md-sys-color-surface-container-high: #f3daff;
  --md-sys-color-surface-container-highest: #f0d3ff;
  --md-sys-color-on-surface: #3b264a;
  --md-sys-color-surface-variant: #f0d3ff;
  --md-sys-color-on-surface-variant: #6a527a;
  --md-sys-color-inverse-surface: #180428;
  --md-sys-color-inverse-on-surface: #ae93bf;
  --md-sys-color-outline: #876d97;
  --md-sys-color-outline-variant: #bfa3d0;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #7431d2;
  --md-sys-color-primary: #7431d2;
  --md-sys-color-primary-dim: #671ec6;
  --md-sys-color-on-primary: #f9efff;
  --md-sys-color-primary-container: #b68aff;
  --md-sys-color-on-primary-container: #300069;
  --md-sys-color-inverse-primary: #a974ff;
  --md-sys-color-primary-fixed: #b68aff;
  --md-sys-color-primary-fixed-dim: #ab78ff;
  --md-sys-color-on-primary-fixed: #000000;
  --md-sys-color-on-primary-fixed-variant: #3c0080;
  --md-sys-color-secondary: #7a41a3;
  --md-sys-color-secondary-dim: #6d3496;
  --md-sys-color-on-secondary: #fceeff;
  --md-sys-color-secondary-container: #e9c4ff;
  --md-sys-color-on-secondary-container: #642b8d;
  --md-sys-color-secondary-fixed: #e9c4ff;
  --md-sys-color-secondary-fixed-dim: #e0b2ff;
  --md-sys-color-on-secondary-fixed: #4f1179;
  --md-sys-color-on-secondary-fixed-variant: #6e3597;
  --md-sys-color-tertiary: #9e3653;
  --md-sys-color-tertiary-dim: #8f2a47;
  --md-sys-color-on-tertiary: #ffeff0;
  --md-sys-color-tertiary-container: #ff8fa8;
  --md-sys-color-on-tertiary-container: #650529;
  --md-sys-color-tertiary-fixed: #ff8fa8;
  --md-sys-color-tertiary-fixed-dim: #f87c99;
  --md-sys-color-on-tertiary-fixed: #380013;
  --md-sys-color-on-tertiary-fixed-variant: #711132;
  --md-sys-color-error: #b41340;
  --md-sys-color-error-dim: #a20036;
  --md-sys-color-on-error: #ffefef;
  --md-sys-color-error-container: #f74b6d;
  --md-sys-color-on-error-container: #510017;
}

.light-medium-contrast {
  --md-sys-color-primary-palette-key-color: #9153f1;
  --md-sys-color-secondary-palette-key-color: #985dc2;
  --md-sys-color-tertiary-palette-key-color: #c2516e;
  --md-sys-color-neutral-palette-key-color: #876d97;
  --md-sys-color-neutral-variant-palette-key-color: #8c6aa3;
  --md-sys-color-error-palette-key-color: #db365a;
  --md-sys-color-background: #fef3ff;
  --md-sys-color-on-background: #2b163a;
  --md-sys-color-surface: #fef3ff;
  --md-sys-color-surface-dim: #eac8ff;
  --md-sys-color-surface-bright: #fef3ff;
  --md-sys-color-surface-container-lowest: #ffffff;
  --md-sys-color-surface-container-low: #fbecff;
  --md-sys-color-surface-container: #f6e1ff;
  --md-sys-color-surface-container-high: #f3daff;
  --md-sys-color-surface-container-highest: #f0d3ff;
  --md-sys-color-on-surface: #2b163a;
  --md-sys-color-surface-variant: #f0d3ff;
  --md-sys-color-on-surface-variant: #4d365c;
  --md-sys-color-inverse-surface: #180428;
  --md-sys-color-inverse-on-surface: #d8bae8;
  --md-sys-color-outline: #6a527a;
  --md-sys-color-outline-variant: #876d97;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #5500ae;
  --md-sys-color-primary: #5500ae;
  --md-sys-color-primary-dim: #470093;
  --md-sys-color-on-primary: #e0cbff;
  --md-sys-color-primary-container: #8e50ee;
  --md-sys-color-on-primary-container: #ffffff;
  --md-sys-color-inverse-primary: #b385ff;
  --md-sys-color-primary-fixed: #8e50ee;
  --md-sys-color-primary-fixed-dim: #8141e0;
  --md-sys-color-on-primary-fixed: #ffffff;
  --md-sys-color-on-primary-fixed-variant: #ffffff;
  --md-sys-color-secondary: #5b2185;
  --md-sys-color-secondary-dim: #4f1179;
  --md-sys-color-on-secondary: #eac7ff;
  --md-sys-color-secondary-container: #955bbf;
  --md-sys-color-on-secondary-container: #ffffff;
  --md-sys-color-secondary-fixed: #955bbf;
  --md-sys-color-secondary-fixed-dim: #884eb1;
  --md-sys-color-on-secondary-fixed: #ffffff;
  --md-sys-color-on-secondary-fixed-variant: #ffffff;
  --md-sys-color-tertiary: #791838;
  --md-sys-color-tertiary-dim: #6a0a2d;
  --md-sys-color-on-tertiary: #ffc5cf;
  --md-sys-color-tertiary-container: #bf4e6c;
  --md-sys-color-on-tertiary-container: #ffffff;
  --md-sys-color-tertiary-fixed: #bf4e6c;
  --md-sys-color-tertiary-fixed-dim: #af425f;
  --md-sys-color-on-tertiary-fixed: #ffffff;
  --md-sys-color-on-tertiary-fixed-variant: #ffffff;
  --md-sys-color-error: #83002a;
  --md-sys-color-error-dim: #6e0022;
  --md-sys-color-on-error: #ffc6ca;
  --md-sys-color-error-container: #d73357;
  --md-sys-color-on-error-container: #ffffff;
}

.light-high-contrast {
  --md-sys-color-primary-palette-key-color: #9153f1;
  --md-sys-color-secondary-palette-key-color: #985dc2;
  --md-sys-color-tertiary-palette-key-color: #c2516e;
  --md-sys-color-neutral-palette-key-color: #876d97;
  --md-sys-color-neutral-variant-palette-key-color: #8c6aa3;
  --md-sys-color-error-palette-key-color: #db365a;
  --md-sys-color-background: #fef3ff;
  --md-sys-color-on-background: #000000;
  --md-sys-color-surface: #fef3ff;
  --md-sys-color-surface-dim: #eac8ff;
  --md-sys-color-surface-bright: #fef3ff;
  --md-sys-color-surface-container-lowest: #ffffff;
  --md-sys-color-surface-container-low: #fbecff;
  --md-sys-color-surface-container: #f6e1ff;
  --md-sys-color-surface-container-high: #f3daff;
  --md-sys-color-surface-container-highest: #f0d3ff;
  --md-sys-color-on-surface: #000000;
  --md-sys-color-surface-variant: #f0d3ff;
  --md-sys-color-on-surface-variant: #2b163a;
  --md-sys-color-inverse-surface: #180428;
  --md-sys-color-inverse-on-surface: #ffffff;
  --md-sys-color-outline: #4d365c;
  --md-sys-color-outline-variant: #6a527a;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #2c0061;
  --md-sys-color-primary: #2c0061;
  --md-sys-color-primary-dim: #1f0048;
  --md-sys-color-on-primary: #e1ccff;
  --md-sys-color-primary-container: #7431d2;
  --md-sys-color-on-primary-container: #ffffff;
  --md-sys-color-inverse-primary: #d4b8ff;
  --md-sys-color-primary-fixed: #7431d2;
  --md-sys-color-primary-fixed-dim: #671ec6;
  --md-sys-color-on-primary-fixed: #ffffff;
  --md-sys-color-on-primary-fixed-variant: #ffffff;
  --md-sys-color-secondary: #340055;
  --md-sys-color-secondary-dim: #26003f;
  --md-sys-color-on-secondary: #ebc8ff;
  --md-sys-color-secondary-container: #7a41a3;
  --md-sys-color-on-secondary-container: #ffffff;
  --md-sys-color-secondary-fixed: #7a41a3;
  --md-sys-color-secondary-fixed-dim: #6d3496;
  --md-sys-color-on-secondary-fixed: #ffffff;
  --md-sys-color-on-secondary-fixed-variant: #ffffff;
  --md-sys-color-tertiary: #46001a;
  --md-sys-color-tertiary-dim: #340011;
  --md-sys-color-on-tertiary: #ffc6d0;
  --md-sys-color-tertiary-container: #9e3653;
  --md-sys-color-on-tertiary-container: #ffffff;
  --md-sys-color-tertiary-fixed: #9e3653;
  --md-sys-color-tertiary-fixed-dim: #8f2a47;
  --md-sys-color-on-tertiary-fixed: #ffffff;
  --md-sys-color-on-tertiary-fixed-variant: #ffffff;
  --md-sys-color-error: #470013;
  --md-sys-color-error-dim: #34000c;
  --md-sys-color-on-error: #ffc6cb;
  --md-sys-color-error-container: #b41340;
  --md-sys-color-on-error-container: #ffffff;
}

.dark {
  --md-sys-color-primary-palette-key-color: #9153f1;
  --md-sys-color-secondary-palette-key-color: #985dc2;
  --md-sys-color-tertiary-palette-key-color: #c2516e;
  --md-sys-color-neutral-palette-key-color: #876d97;
  --md-sys-color-neutral-variant-palette-key-color: #8c6aa3;
  --md-sys-color-error-palette-key-color: #db365a;
  --md-sys-color-background: #180428;
  --md-sys-color-on-background: #f5deff;
  --md-sys-color-surface: #180428;
  --md-sys-color-surface-dim: #180428;
  --md-sys-color-surface-bright: #3d1d55;
  --md-sys-color-surface-container-lowest: #000000;
  --md-sys-color-surface-container-low: #1f0730;
  --md-sys-color-surface-container: #270d39;
  --md-sys-color-surface-container-high: #2e1242;
  --md-sys-color-surface-container-highest: #35174b;
  --md-sys-color-on-surface: #f5deff;
  --md-sys-color-surface-variant: #35174b;
  --md-sys-color-on-surface-variant: #bda1ce;
  --md-sys-color-inverse-surface: #fff7fd;
  --md-sys-color-inverse-on-surface: #634c73;
  --md-sys-color-outline: #856c95;
  --md-sys-color-outline-variant: #563f65;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #c19cff;
  --md-sys-color-primary: #c19cff;
  --md-sys-color-primary-dim: #8e50ee;
  --md-sys-color-on-primary: #3f0085;
  --md-sys-color-primary-container: #b68aff;
  --md-sys-color-on-primary-container: #300069;
  --md-sys-color-inverse-primary: #7736d6;
  --md-sys-color-primary-fixed: #b68aff;
  --md-sys-color-primary-fixed-dim: #ab78ff;
  --md-sys-color-on-primary-fixed: #000000;
  --md-sys-color-on-primary-fixed-variant: #3c0080;
  --md-sys-color-secondary: #e2b6ff;
  --md-sys-color-secondary-dim: #d294fe;
  --md-sys-color-on-secondary: #5c2286;
  --md-sys-color-secondary-container: #632a8d;
  --md-sys-color-on-secondary-container: #e8c2ff;
  --md-sys-color-secondary-fixed: #e9c4ff;
  --md-sys-color-secondary-fixed-dim: #e0b2ff;
  --md-sys-color-on-secondary-fixed: #4f1179;
  --md-sys-color-on-secondary-fixed-variant: #6e3597;
  --md-sys-color-tertiary: #ff8aa5;
  --md-sys-color-tertiary-dim: #f57997;
  --md-sys-color-on-tertiary: #620227;
  --md-sys-color-tertiary-container: #f57997;
  --md-sys-color-on-tertiary-container: #4d001d;
  --md-sys-color-tertiary-fixed: #ff8fa8;
  --md-sys-color-tertiary-fixed-dim: #f87c99;
  --md-sys-color-on-tertiary-fixed: #380013;
  --md-sys-color-on-tertiary-fixed-variant: #711132;
  --md-sys-color-error: #ff6e84;
  --md-sys-color-error-dim: #d73357;
  --md-sys-color-on-error: #490013;
  --md-sys-color-error-container: #a70138;
  --md-sys-color-on-error-container: #ffb2b9;
}

.dark-medium-contrast {
  --md-sys-color-primary-palette-key-color: #9153f1;
  --md-sys-color-secondary-palette-key-color: #985dc2;
  --md-sys-color-tertiary-palette-key-color: #c2516e;
  --md-sys-color-neutral-palette-key-color: #876d97;
  --md-sys-color-neutral-variant-palette-key-color: #8c6aa3;
  --md-sys-color-error-palette-key-color: #db365a;
  --md-sys-color-background: #180428;
  --md-sys-color-on-background: #ffffff;
  --md-sys-color-surface: #180428;
  --md-sys-color-surface-dim: #180428;
  --md-sys-color-surface-bright: #3d1d55;
  --md-sys-color-surface-container-lowest: #000000;
  --md-sys-color-surface-container-low: #1f0730;
  --md-sys-color-surface-container: #270d39;
  --md-sys-color-surface-container-high: #2e1242;
  --md-sys-color-surface-container-highest: #35174b;
  --md-sys-color-on-surface: #ffffff;
  --md-sys-color-surface-variant: #35174b;
  --md-sys-color-on-surface-variant: #cbaedc;
  --md-sys-color-inverse-surface: #fff7fd;
  --md-sys-color-inverse-on-surface: #452f55;
  --md-sys-color-outline: #a489b5;
  --md-sys-color-outline-variant: #856c95;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #caa9ff;
  --md-sys-color-primary: #caa9ff;
  --md-sys-color-primary-dim: #be97ff;
  --md-sys-color-on-primary: #3c0080;
  --md-sys-color-primary-container: #b68aff;
  --md-sys-color-on-primary-container: #1e0046;
  --md-sys-color-inverse-primary: #6d27cc;
  --md-sys-color-primary-fixed: #b68aff;
  --md-sys-color-primary-fixed-dim: #ab78ff;
  --md-sys-color-on-primary-fixed: #000000;
  --md-sys-color-on-primary-fixed-variant: #000000;
  --md-sys-color-secondary: #e2b6ff;
  --md-sys-color-secondary-dim: #d294fe;
  --md-sys-color-on-secondary: #51147b;
  --md-sys-color-secondary-container: #955bbf;
  --md-sys-color-on-secondary-container: #ffffff;
  --md-sys-color-secondary-fixed: #e9c4ff;
  --md-sys-color-secondary-fixed-dim: #e0b2ff;
  --md-sys-color-on-secondary-fixed: #19002d;
  --md-sys-color-on-secondary-fixed-variant: #4f1179;
  --md-sys-color-tertiary: #ff9cb1;
  --md-sys-color-tertiary-dim: #ff84a1;
  --md-sys-color-on-tertiary: #5e0025;
  --md-sys-color-tertiary-container: #f57997;
  --md-sys-color-on-tertiary-container: #320010;
  --md-sys-color-tertiary-fixed: #ff8fa8;
  --md-sys-color-tertiary-fixed-dim: #f87c99;
  --md-sys-color-on-tertiary-fixed: #000000;
  --md-sys-color-on-tertiary-fixed-variant: #380013;
  --md-sys-color-error: #ff9da8;
  --md-sys-color-error-dim: #ff8695;
  --md-sys-color-on-error: #5f001c;
  --md-sys-color-error-container: #d73357;
  --md-sys-color-on-error-container: #ffffff;
}

.dark-high-contrast {
  --md-sys-color-primary-palette-key-color: #9153f1;
  --md-sys-color-secondary-palette-key-color: #985dc2;
  --md-sys-color-tertiary-palette-key-color: #c2516e;
  --md-sys-color-neutral-palette-key-color: #876d97;
  --md-sys-color-neutral-variant-palette-key-color: #8c6aa3;
  --md-sys-color-error-palette-key-color: #db365a;
  --md-sys-color-background: #180428;
  --md-sys-color-on-background: #ffffff;
  --md-sys-color-surface: #180428;
  --md-sys-color-surface-dim: #180428;
  --md-sys-color-surface-bright: #3d1d55;
  --md-sys-color-surface-container-lowest: #000000;
  --md-sys-color-surface-container-low: #1f0730;
  --md-sys-color-surface-container: #270d39;
  --md-sys-color-surface-container-high: #2e1242;
  --md-sys-color-surface-container-highest: #35174b;
  --md-sys-color-on-surface: #ffffff;
  --md-sys-color-surface-variant: #35174b;
  --md-sys-color-on-surface-variant: #f5deff;
  --md-sys-color-inverse-surface: #fff7fd;
  --md-sys-color-inverse-on-surface: #000000;
  --md-sys-color-outline: #cbaedc;
  --md-sys-color-outline-variant: #a489b5;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #eee0ff;
  --md-sys-color-primary: #eee0ff;
  --md-sys-color-primary-dim: #e1ccff;
  --md-sys-color-on-primary: #3c007f;
  --md-sys-color-primary-container: #b68aff;
  --md-sys-color-on-primary-container: #000000;
  --md-sys-color-inverse-primary: #4c009d;
  --md-sys-color-primary-fixed: #b68aff;
  --md-sys-color-primary-fixed-dim: #ab78ff;
  --md-sys-color-on-primary-fixed: #000000;
  --md-sys-color-on-primary-fixed-variant: #000000;
  --md-sys-color-secondary: #f5deff;
  --md-sys-color-secondary-dim: #ebc8ff;
  --md-sys-color-on-secondary: #460270;
  --md-sys-color-secondary-container: #c184ec;
  --md-sys-color-on-secondary-container: #000000;
  --md-sys-color-secondary-fixed: #e9c4ff;
  --md-sys-color-secondary-fixed-dim: #e0b2ff;
  --md-sys-color-on-secondary-fixed: #000000;
  --md-sys-color-on-secondary-fixed-variant: #19002d;
  --md-sys-color-tertiary: #ffdde2;
  --md-sys-color-tertiary-dim: #ffc6d0;
  --md-sys-color-on-tertiary: #5e0025;
  --md-sys-color-tertiary-container: #f57997;
  --md-sys-color-on-tertiary-container: #000000;
  --md-sys-color-tertiary-fixed: #ff8fa8;
  --md-sys-color-tertiary-fixed-dim: #f87c99;
  --md-sys-color-on-tertiary-fixed: #000000;
  --md-sys-color-on-tertiary-fixed-variant: #000000;
  --md-sys-color-error: #ffdddf;
  --md-sys-color-error-dim: #ffc7cb;
  --md-sys-color-on-error: #5f001c;
  --md-sys-color-error-container: #ff6e84;
  --md-sys-color-on-error-container: #000000;
}

