.light {
  --md-sys-color-primary-palette-key-color: #8a62cb;
  --md-sys-color-secondary-palette-key-color: #8c6aa3;
  --md-sys-color-tertiary-palette-key-color: #c2516e;
  --md-sys-color-neutral-palette-key-color: #83718d;
  --md-sys-color-neutral-variant-palette-key-color: #866e94;
  --md-sys-color-error-palette-key-color: #c74d61;
  --md-sys-color-background: #000000;
  --md-sys-color-on-background: #ffffff;
  --md-sys-color-surface: #000000;
  --md-sys-color-surface-dim: #15081f;
  --md-sys-color-surface-bright: #382347;
  --md-sys-color-surface-container-lowest: #000000;
  --md-sys-color-surface-container-low: #2e2038;
  --md-sys-color-surface-container: #392b43;
  --md-sys-color-surface-container-high: #45364e;
  --md-sys-color-surface-container-highest: #311e3e;
  --md-sys-color-on-surface: #fffeff;
  --md-sys-color-surface-variant: #311e3e;
  --md-sys-color-on-surface-variant: #dcc7e6;
  --md-sys-color-inverse-surface: #fff7fd;
  --md-sys-color-inverse-on-surface: #5f4f69;
  --md-sys-color-outline: #b39fbd;
  --md-sys-color-outline-variant: #927f9c;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #dbc4ff;
  --md-sys-color-primary: #dbc4ff;
  --md-sys-color-primary-dim: #ba91fe;
  --md-sys-color-on-primary: #260055;
  --md-sys-color-primary-container: #572e96;
  --md-sys-color-on-primary-container: #ead9ff;
  --md-sys-color-inverse-primary: #663ea6;
  --md-sys-color-primary-fixed: #572e96;
  --md-sys-color-primary-fixed-dim: #4c218a;
  --md-sys-color-on-primary-fixed: #dbc4ff;
  --md-sys-color-on-primary-fixed-variant: #ba91fe;
  --md-sys-color-secondary: #e7c0ff;
  --md-sys-color-secondary-dim: #d8b2f0;
  --md-sys-color-on-secondary: #422458;
  --md-sys-color-secondary-container: #593a6f;
  --md-sys-color-on-secondary-container: #f1d7ff;
  --md-sys-color-secondary-fixed: #593a6f;
  --md-sys-color-secondary-fixed-dim: #4d2e62;
  --md-sys-color-on-secondary-fixed: #e7c0ff;
  --md-sys-color-on-secondary-fixed-variant: #bc98d4;
  --md-sys-color-tertiary: #ffbdc8;
  --md-sys-color-tertiary-dim: #fb7e9c;
  --md-sys-color-on-tertiary: #3e0016;
  --md-sys-color-tertiary-container: #f27794;
  --md-sys-color-on-tertiary-container: #2b000d;
  --md-sys-color-tertiary-fixed: #f27794;
  --md-sys-color-tertiary-fixed-dim: #e26a87;
  --md-sys-color-on-tertiary-fixed: #000000;
  --md-sys-color-on-tertiary-fixed-variant: #5a0023;
  --md-sys-color-error: #ffbdc3;
  --md-sys-color-error-dim: #ff7d8f;
  --md-sys-color-on-error: #3f000f;
  --md-sys-color-error-container: #871c34;
  --md-sys-color-on-error-container: #ffd6d9;
}

.light-medium-contrast {
  --md-sys-color-primary-palette-key-color: #8a62cb;
  --md-sys-color-secondary-palette-key-color: #8c6aa3;
  --md-sys-color-tertiary-palette-key-color: #c2516e;
  --md-sys-color-neutral-palette-key-color: #83718d;
  --md-sys-color-neutral-variant-palette-key-color: #866e94;
  --md-sys-color-error-palette-key-color: #c74d61;
  --md-sys-color-background: #000000;
  --md-sys-color-on-background: #ffffff;
  --md-sys-color-surface: #000000;
  --md-sys-color-surface-dim: #15081f;
  --md-sys-color-surface-bright: #382347;
  --md-sys-color-surface-container-lowest: #000000;
  --md-sys-color-surface-container-low: #2e2038;
  --md-sys-color-surface-container: #392b43;
  --md-sys-color-surface-container-high: #45364e;
  --md-sys-color-surface-container-highest: #311e3e;
  --md-sys-color-on-surface: #ffffff;
  --md-sys-color-surface-variant: #311e3e;
  --md-sys-color-on-surface-variant: #fffeff;
  --md-sys-color-inverse-surface: #fff7fd;
  --md-sys-color-inverse-on-surface: #41324b;
  --md-sys-color-outline: #dcc7e6;
  --md-sys-color-outline-variant: #b39fbd;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #fffeff;
  --md-sys-color-primary: #fffeff;
  --md-sys-color-primary-dim: #dbc4ff;
  --md-sys-color-on-primary: #250053;
  --md-sys-color-primary-container: #572e96;
  --md-sys-color-on-primary-container: #ffffff;
  --md-sys-color-inverse-primary: #481c87;
  --md-sys-color-primary-fixed: #572e96;
  --md-sys-color-primary-fixed-dim: #4c218a;
  --md-sys-color-on-primary-fixed: #fffeff;
  --md-sys-color-on-primary-fixed-variant: #dbc4ff;
  --md-sys-color-secondary: #fffeff;
  --md-sys-color-secondary-dim: #e7c0ff;
  --md-sys-color-on-secondary: #28093e;
  --md-sys-color-secondary-container: #593a6f;
  --md-sys-color-on-secondary-container: #ffffff;
  --md-sys-color-secondary-fixed: #593a6f;
  --md-sys-color-secondary-fixed-dim: #4d2e62;
  --md-sys-color-on-secondary-fixed: #fffeff;
  --md-sys-color-on-secondary-fixed-variant: #e7c0ff;
  --md-sys-color-tertiary: #fffeff;
  --md-sys-color-tertiary-dim: #ffbdc8;
  --md-sys-color-on-tertiary: #3c0015;
  --md-sys-color-tertiary-container: #f57997;
  --md-sys-color-on-tertiary-container: #000000;
  --md-sys-color-tertiary-fixed: #f27794;
  --md-sys-color-tertiary-fixed-dim: #e26a87;
  --md-sys-color-on-tertiary-fixed: #000000;
  --md-sys-color-on-tertiary-fixed-variant: #000000;
  --md-sys-color-error: #fffeff;
  --md-sys-color-error-dim: #ffbdc3;
  --md-sys-color-on-error: #3d000f;
  --md-sys-color-error-container: #871c34;
  --md-sys-color-on-error-container: #ffffff;
}

.light-high-contrast {
  --md-sys-color-primary-palette-key-color: #8a62cb;
  --md-sys-color-secondary-palette-key-color: #8c6aa3;
  --md-sys-color-tertiary-palette-key-color: #c2516e;
  --md-sys-color-neutral-palette-key-color: #83718d;
  --md-sys-color-neutral-variant-palette-key-color: #866e94;
  --md-sys-color-error-palette-key-color: #c74d61;
  --md-sys-color-background: #000000;
  --md-sys-color-on-background: #ffffff;
  --md-sys-color-surface: #000000;
  --md-sys-color-surface-dim: #15081f;
  --md-sys-color-surface-bright: #382347;
  --md-sys-color-surface-container-lowest: #000000;
  --md-sys-color-surface-container-low: #2e2038;
  --md-sys-color-surface-container: #392b43;
  --md-sys-color-surface-container-high: #45364e;
  --md-sys-color-surface-container-highest: #311e3e;
  --md-sys-color-on-surface: #ffffff;
  --md-sys-color-surface-variant: #311e3e;
  --md-sys-color-on-surface-variant: #ffffff;
  --md-sys-color-inverse-surface: #fff7fd;
  --md-sys-color-inverse-on-surface: #000000;
  --md-sys-color-outline: #fffeff;
  --md-sys-color-outline-variant: #dcc7e6;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #ffffff;
  --md-sys-color-primary: #ffffff;
  --md-sys-color-primary-dim: #fffeff;
  --md-sys-color-on-primary: #000000;
  --md-sys-color-primary-container: #572e96;
  --md-sys-color-on-primary-container: #ffffff;
  --md-sys-color-inverse-primary: #000000;
  --md-sys-color-primary-fixed: #572e96;
  --md-sys-color-primary-fixed-dim: #4c218a;
  --md-sys-color-on-primary-fixed: #ffffff;
  --md-sys-color-on-primary-fixed-variant: #fffeff;
  --md-sys-color-secondary: #ffffff;
  --md-sys-color-secondary-dim: #fffeff;
  --md-sys-color-on-secondary: #000000;
  --md-sys-color-secondary-container: #593a6f;
  --md-sys-color-on-secondary-container: #ffffff;
  --md-sys-color-secondary-fixed: #593a6f;
  --md-sys-color-secondary-fixed-dim: #4d2e62;
  --md-sys-color-on-secondary-fixed: #ffffff;
  --md-sys-color-on-secondary-fixed-variant: #fffeff;
  --md-sys-color-tertiary: #ffffff;
  --md-sys-color-tertiary-dim: #fffeff;
  --md-sys-color-on-tertiary: #000000;
  --md-sys-color-tertiary-container: #f57997;
  --md-sys-color-on-tertiary-container: #000000;
  --md-sys-color-tertiary-fixed: #f27794;
  --md-sys-color-tertiary-fixed-dim: #e26a87;
  --md-sys-color-on-tertiary-fixed: #000000;
  --md-sys-color-on-tertiary-fixed-variant: #000000;
  --md-sys-color-error: #ffffff;
  --md-sys-color-error-dim: #fffeff;
  --md-sys-color-on-error: #000000;
  --md-sys-color-error-container: #871c34;
  --md-sys-color-on-error-container: #ffffff;
}

.dark {
  --md-sys-color-primary-palette-key-color: #8a62cb;
  --md-sys-color-secondary-palette-key-color: #8c6aa3;
  --md-sys-color-tertiary-palette-key-color: #c2516e;
  --md-sys-color-neutral-palette-key-color: #83718d;
  --md-sys-color-neutral-variant-palette-key-color: #866e94;
  --md-sys-color-error-palette-key-color: #c74d61;
  --md-sys-color-background: #000000;
  --md-sys-color-on-background: #ffffff;
  --md-sys-color-surface: #000000;
  --md-sys-color-surface-dim: #15081f;
  --md-sys-color-surface-bright: #382347;
  --md-sys-color-surface-container-lowest: #000000;
  --md-sys-color-surface-container-low: #2e2038;
  --md-sys-color-surface-container: #392b43;
  --md-sys-color-surface-container-high: #45364e;
  --md-sys-color-surface-container-highest: #311e3e;
  --md-sys-color-on-surface: #fffeff;
  --md-sys-color-surface-variant: #311e3e;
  --md-sys-color-on-surface-variant: #dcc7e6;
  --md-sys-color-inverse-surface: #fff7fd;
  --md-sys-color-inverse-on-surface: #5f4f69;
  --md-sys-color-outline: #b39fbd;
  --md-sys-color-outline-variant: #927f9c;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #dbc4ff;
  --md-sys-color-primary: #dbc4ff;
  --md-sys-color-primary-dim: #ba91fe;
  --md-sys-color-on-primary: #260055;
  --md-sys-color-primary-container: #572e96;
  --md-sys-color-on-primary-container: #ead9ff;
  --md-sys-color-inverse-primary: #663ea6;
  --md-sys-color-primary-fixed: #572e96;
  --md-sys-color-primary-fixed-dim: #4c218a;
  --md-sys-color-on-primary-fixed: #dbc4ff;
  --md-sys-color-on-primary-fixed-variant: #ba91fe;
  --md-sys-color-secondary: #e7c0ff;
  --md-sys-color-secondary-dim: #d8b2f0;
  --md-sys-color-on-secondary: #422458;
  --md-sys-color-secondary-container: #593a6f;
  --md-sys-color-on-secondary-container: #f1d7ff;
  --md-sys-color-secondary-fixed: #593a6f;
  --md-sys-color-secondary-fixed-dim: #4d2e62;
  --md-sys-color-on-secondary-fixed: #e7c0ff;
  --md-sys-color-on-secondary-fixed-variant: #bc98d4;
  --md-sys-color-tertiary: #ffbdc8;
  --md-sys-color-tertiary-dim: #fb7e9c;
  --md-sys-color-on-tertiary: #3e0016;
  --md-sys-color-tertiary-container: #f27794;
  --md-sys-color-on-tertiary-container: #2b000d;
  --md-sys-color-tertiary-fixed: #f27794;
  --md-sys-color-tertiary-fixed-dim: #e26a87;
  --md-sys-color-on-tertiary-fixed: #000000;
  --md-sys-color-on-tertiary-fixed-variant: #5a0023;
  --md-sys-color-error: #ffbdc3;
  --md-sys-color-error-dim: #ff7d8f;
  --md-sys-color-on-error: #3f000f;
  --md-sys-color-error-container: #871c34;
  --md-sys-color-on-error-container: #ffd6d9;
}

.dark-medium-contrast {
  --md-sys-color-primary-palette-key-color: #8a62cb;
  --md-sys-color-secondary-palette-key-color: #8c6aa3;
  --md-sys-color-tertiary-palette-key-color: #c2516e;
  --md-sys-color-neutral-palette-key-color: #83718d;
  --md-sys-color-neutral-variant-palette-key-color: #866e94;
  --md-sys-color-error-palette-key-color: #c74d61;
  --md-sys-color-background: #000000;
  --md-sys-color-on-background: #ffffff;
  --md-sys-color-surface: #000000;
  --md-sys-color-surface-dim: #15081f;
  --md-sys-color-surface-bright: #382347;
  --md-sys-color-surface-container-lowest: #000000;
  --md-sys-color-surface-container-low: #2e2038;
  --md-sys-color-surface-container: #392b43;
  --md-sys-color-surface-container-high: #45364e;
  --md-sys-color-surface-container-highest: #311e3e;
  --md-sys-color-on-surface: #ffffff;
  --md-sys-color-surface-variant: #311e3e;
  --md-sys-color-on-surface-variant: #fffeff;
  --md-sys-color-inverse-surface: #fff7fd;
  --md-sys-color-inverse-on-surface: #41324b;
  --md-sys-color-outline: #dcc7e6;
  --md-sys-color-outline-variant: #b39fbd;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #fffeff;
  --md-sys-color-primary: #fffeff;
  --md-sys-color-primary-dim: #dbc4ff;
  --md-sys-color-on-primary: #250053;
  --md-sys-color-primary-container: #572e96;
  --md-sys-color-on-primary-container: #ffffff;
  --md-sys-color-inverse-primary: #481c87;
  --md-sys-color-primary-fixed: #572e96;
  --md-sys-color-primary-fixed-dim: #4c218a;
  --md-sys-color-on-primary-fixed: #fffeff;
  --md-sys-color-on-primary-fixed-variant: #dbc4ff;
  --md-sys-color-secondary: #fffeff;
  --md-sys-color-secondary-dim: #e7c0ff;
  --md-sys-color-on-secondary: #28093e;
  --md-sys-color-secondary-container: #593a6f;
  --md-sys-color-on-secondary-container: #ffffff;
  --md-sys-color-secondary-fixed: #593a6f;
  --md-sys-color-secondary-fixed-dim: #4d2e62;
  --md-sys-color-on-secondary-fixed: #fffeff;
  --md-sys-color-on-secondary-fixed-variant: #e7c0ff;
  --md-sys-color-tertiary: #fffeff;
  --md-sys-color-tertiary-dim: #ffbdc8;
  --md-sys-color-on-tertiary: #3c0015;
  --md-sys-color-tertiary-container: #f57997;
  --md-sys-color-on-tertiary-container: #000000;
  --md-sys-color-tertiary-fixed: #f27794;
  --md-sys-color-tertiary-fixed-dim: #e26a87;
  --md-sys-color-on-tertiary-fixed: #000000;
  --md-sys-color-on-tertiary-fixed-variant: #000000;
  --md-sys-color-error: #fffeff;
  --md-sys-color-error-dim: #ffbdc3;
  --md-sys-color-on-error: #3d000f;
  --md-sys-color-error-container: #871c34;
  --md-sys-color-on-error-container: #ffffff;
}

.dark-high-contrast {
  --md-sys-color-primary-palette-key-color: #8a62cb;
  --md-sys-color-secondary-palette-key-color: #8c6aa3;
  --md-sys-color-tertiary-palette-key-color: #c2516e;
  --md-sys-color-neutral-palette-key-color: #83718d;
  --md-sys-color-neutral-variant-palette-key-color: #866e94;
  --md-sys-color-error-palette-key-color: #c74d61;
  --md-sys-color-background: #000000;
  --md-sys-color-on-background: #ffffff;
  --md-sys-color-surface: #000000;
  --md-sys-color-surface-dim: #15081f;
  --md-sys-color-surface-bright: #382347;
  --md-sys-color-surface-container-lowest: #000000;
  --md-sys-color-surface-container-low: #2e2038;
  --md-sys-color-surface-container: #392b43;
  --md-sys-color-surface-container-high: #45364e;
  --md-sys-color-surface-container-highest: #311e3e;
  --md-sys-color-on-surface: #ffffff;
  --md-sys-color-surface-variant: #311e3e;
  --md-sys-color-on-surface-variant: #ffffff;
  --md-sys-color-inverse-surface: #fff7fd;
  --md-sys-color-inverse-on-surface: #000000;
  --md-sys-color-outline: #fffeff;
  --md-sys-color-outline-variant: #dcc7e6;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #ffffff;
  --md-sys-color-primary: #ffffff;
  --md-sys-color-primary-dim: #fffeff;
  --md-sys-color-on-primary: #000000;
  --md-sys-color-primary-container: #572e96;
  --md-sys-color-on-primary-container: #ffffff;
  --md-sys-color-inverse-primary: #000000;
  --md-sys-color-primary-fixed: #572e96;
  --md-sys-color-primary-fixed-dim: #4c218a;
  --md-sys-color-on-primary-fixed: #ffffff;
  --md-sys-color-on-primary-fixed-variant: #fffeff;
  --md-sys-color-secondary: #ffffff;
  --md-sys-color-secondary-dim: #fffeff;
  --md-sys-color-on-secondary: #000000;
  --md-sys-color-secondary-container: #593a6f;
  --md-sys-color-on-secondary-container: #ffffff;
  --md-sys-color-secondary-fixed: #593a6f;
  --md-sys-color-secondary-fixed-dim: #4d2e62;
  --md-sys-color-on-secondary-fixed: #ffffff;
  --md-sys-color-on-secondary-fixed-variant: #fffeff;
  --md-sys-color-tertiary: #ffffff;
  --md-sys-color-tertiary-dim: #fffeff;
  --md-sys-color-on-tertiary: #000000;
  --md-sys-color-tertiary-container: #f57997;
  --md-sys-color-on-tertiary-container: #000000;
  --md-sys-color-tertiary-fixed: #f27794;
  --md-sys-color-tertiary-fixed-dim: #e26a87;
  --md-sys-color-on-tertiary-fixed: #000000;
  --md-sys-color-on-tertiary-fixed-variant: #000000;
  --md-sys-color-error: #ffffff;
  --md-sys-color-error-dim: #fffeff;
  --md-sys-color-on-error: #000000;
  --md-sys-color-error-container: #871c34;
  --md-sys-color-on-error-container: #ffffff;
}

