.light {
  --md-sys-color-primary-palette-key-color: #8005ff;
  --md-sys-color-secondary-palette-key-color: #866f91;
  --md-sys-color-tertiary-palette-key-color: #946994;
  --md-sys-color-neutral-palette-key-color: #7b7582;
  --md-sys-color-neutral-variant-palette-key-color: #7c7484;
  --md-sys-color-error-palette-key-color: #de3730;
  --md-sys-color-background: #fef7ff;
  --md-sys-color-on-background: #1e1a24;
  --md-sys-color-surface: #fef7ff;
  --md-sys-color-surface-dim: #e0d7e5;
  --md-sys-color-surface-bright: #fef7ff;
  --md-sys-color-surface-container-lowest: #ffffff;
  --md-sys-color-surface-container-low: #faf0ff;
  --md-sys-color-surface-container: #f4ebfa;
  --md-sys-color-surface-container-high: #eee5f4;
  --md-sys-color-surface-container-highest: #e8dfee;
  --md-sys-color-on-surface: #1e1a24;
  --md-sys-color-surface-variant: #e9dff1;
  --md-sys-color-on-surface-variant: #4a4453;
  --md-sys-color-inverse-surface: #332e39;
  --md-sys-color-inverse-on-surface: #f7edfc;
  --md-sys-color-outline: #7c7484;
  --md-sys-color-outline-variant: #ccc3d5;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #7d00fa;
  --md-sys-color-primary: #7d00fa;
  --md-sys-color-primary-dim: #8004ff;
  --md-sys-color-on-primary: #ffffff;
  --md-sys-color-primary-container: #ecdcff;
  --md-sys-color-on-primary-container: #5e00c1;
  --md-sys-color-inverse-primary: #d5baff;
  --md-sys-color-primary-fixed: #ecdcff;
  --md-sys-color-primary-fixed-dim: #d5baff;
  --md-sys-color-on-primary-fixed: #270057;
  --md-sys-color-on-primary-fixed-variant: #5e00c1;
  --md-sys-color-secondary: #6c5677;
  --md-sys-color-secondary-dim: #766081;
  --md-sys-color-on-secondary: #ffffff;
  --md-sys-color-secondary-container: #f4d9ff;
  --md-sys-color-on-secondary-container: #533f5e;
  --md-sys-color-secondary-fixed: #f4d9ff;
  --md-sys-color-secondary-fixed-dim: #d8bde3;
  --md-sys-color-on-secondary-fixed: #261431;
  --md-sys-color-on-secondary-fixed-variant: #533f5e;
  --md-sys-color-tertiary: #79507a;
  --md-sys-color-tertiary-dim: #835a84;
  --md-sys-color-on-tertiary: #ffffff;
  --md-sys-color-tertiary-container: #ffd6fc;
  --md-sys-color-on-tertiary-container: #5f3961;
  --md-sys-color-tertiary-fixed: #ffd6fc;
  --md-sys-color-tertiary-fixed-dim: #e8b7e6;
  --md-sys-color-on-tertiary-fixed: #2f0d33;
  --md-sys-color-on-tertiary-fixed-variant: #5f3961;
  --md-sys-color-error: #ba1a1a;
  --md-sys-color-error-dim: #ac0c12;
  --md-sys-color-on-error: #ffffff;
  --md-sys-color-error-container: #ffdad6;
  --md-sys-color-on-error-container: #93000a;
  --md-sys-color-control-activated: #ecdcff;
  --md-sys-color-control-normal: #4a4453;
  --md-sys-color-control-highlight: #0000001f;
  --md-sys-color-text-primary-inverse: #e8dfee;
  --md-sys-color-text-secondary-and-tertiary-inverse: #ccc3d5;
  --md-sys-color-text-primary-inverse-disable-only: #e8dfee;
  --md-sys-color-text-secondary-and-tertiary-inverse-disabled: #e8dfee;
  --md-sys-color-text-hint-inverse: #e8dfee;
}

.light-medium-contrast {
  --md-sys-color-primary-palette-key-color: #8005ff;
  --md-sys-color-secondary-palette-key-color: #866f91;
  --md-sys-color-tertiary-palette-key-color: #946994;
  --md-sys-color-neutral-palette-key-color: #7b7582;
  --md-sys-color-neutral-variant-palette-key-color: #7c7484;
  --md-sys-color-error-palette-key-color: #de3730;
  --md-sys-color-background: #fef7ff;
  --md-sys-color-on-background: #1e1a24;
  --md-sys-color-surface: #fef7ff;
  --md-sys-color-surface-dim: #ccc3d2;
  --md-sys-color-surface-bright: #fef7ff;
  --md-sys-color-surface-container-lowest: #ffffff;
  --md-sys-color-surface-container-low: #faf0ff;
  --md-sys-color-surface-container: #eee5f4;
  --md-sys-color-surface-container-high: #e3dae8;
  --md-sys-color-surface-container-highest: #d7cedd;
  --md-sys-color-on-surface: #130f19;
  --md-sys-color-surface-variant: #e9dff1;
  --md-sys-color-on-surface-variant: #393441;
  --md-sys-color-inverse-surface: #332e39;
  --md-sys-color-inverse-on-surface: #f7edfc;
  --md-sys-color-outline: #56505f;
  --md-sys-color-outline-variant: #716a7a;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #7d00fa;
  --md-sys-color-primary: #490098;
  --md-sys-color-primary-dim: #5c00bb;
  --md-sys-color-on-primary: #ffffff;
  --md-sys-color-primary-container: #8a36ff;
  --md-sys-color-on-primary-container: #ffffff;
  --md-sys-color-inverse-primary: #d5baff;
  --md-sys-color-primary-fixed: #8a36ff;
  --md-sys-color-primary-fixed-dim: #7000e3;
  --md-sys-color-on-primary-fixed: #ffffff;
  --md-sys-color-on-primary-fixed-variant: #ffffff;
  --md-sys-color-secondary: #422f4d;
  --md-sys-color-secondary-dim: #513d5c;
  --md-sys-color-on-secondary: #ffffff;
  --md-sys-color-secondary-container: #7b6587;
  --md-sys-color-on-secondary-container: #ffffff;
  --md-sys-color-secondary-fixed: #7b6587;
  --md-sys-color-secondary-fixed-dim: #624d6d;
  --md-sys-color-on-secondary-fixed: #ffffff;
  --md-sys-color-on-secondary-fixed-variant: #ffffff;
  --md-sys-color-tertiary: #4d284f;
  --md-sys-color-tertiary-dim: #5d375e;
  --md-sys-color-on-tertiary: #ffffff;
  --md-sys-color-tertiary-container: #895f89;
  --md-sys-color-on-tertiary-container: #ffffff;
  --md-sys-color-tertiary-fixed: #895f89;
  --md-sys-color-tertiary-fixed-dim: #6f4770;
  --md-sys-color-on-tertiary-fixed: #ffffff;
  --md-sys-color-on-tertiary-fixed-variant: #ffffff;
  --md-sys-color-error: #740006;
  --md-sys-color-error-dim: #8f0009;
  --md-sys-color-on-error: #ffffff;
  --md-sys-color-error-container: #cf2c27;
  --md-sys-color-on-error-container: #ffffff;
  --md-sys-color-control-activated: #ecdcff;
  --md-sys-color-control-normal: #4a4453;
  --md-sys-color-control-highlight: #0000001f;
  --md-sys-color-text-primary-inverse: #e8dfee;
  --md-sys-color-text-secondary-and-tertiary-inverse: #ccc3d5;
  --md-sys-color-text-primary-inverse-disable-only: #e8dfee;
  --md-sys-color-text-secondary-and-tertiary-inverse-disabled: #e8dfee;
  --md-sys-color-text-hint-inverse: #e8dfee;
}

.light-high-contrast {
  --md-sys-color-primary-palette-key-color: #8005ff;
  --md-sys-color-secondary-palette-key-color: #866f91;
  --md-sys-color-tertiary-palette-key-color: #946994;
  --md-sys-color-neutral-palette-key-color: #7b7582;
  --md-sys-color-neutral-variant-palette-key-color: #7c7484;
  --md-sys-color-error-palette-key-color: #de3730;
  --md-sys-color-background: #fef7ff;
  --md-sys-color-on-background: #1e1a24;
  --md-sys-color-surface: #fef7ff;
  --md-sys-color-surface-dim: #beb6c4;
  --md-sys-color-surface-bright: #fef7ff;
  --md-sys-color-surface-container-lowest: #ffffff;
  --md-sys-color-surface-container-low: #f7edfc;
  --md-sys-color-surface-container: #e8dfee;
  --md-sys-color-surface-container-high: #dad1e0;
  --md-sys-color-surface-container-highest: #ccc3d2;
  --md-sys-color-on-surface: #000000;
  --md-sys-color-surface-variant: #e9dff1;
  --md-sys-color-on-surface-variant: #000000;
  --md-sys-color-inverse-surface: #332e39;
  --md-sys-color-inverse-on-surface: #ffffff;
  --md-sys-color-outline: #2f2a37;
  --md-sys-color-outline-variant: #4d4655;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #7d00fa;
  --md-sys-color-primary: #3c0080;
  --md-sys-color-primary-dim: #2c0061;
  --md-sys-color-on-primary: #ffffff;
  --md-sys-color-primary-container: #6200c6;
  --md-sys-color-on-primary-container: #ffffff;
  --md-sys-color-inverse-primary: #d5baff;
  --md-sys-color-primary-fixed: #6200c6;
  --md-sys-color-primary-fixed-dim: #450090;
  --md-sys-color-on-primary-fixed: #ffffff;
  --md-sys-color-on-primary-fixed-variant: #ffffff;
  --md-sys-color-secondary: #372542;
  --md-sys-color-secondary-dim: #2a1835;
  --md-sys-color-on-secondary: #ffffff;
  --md-sys-color-secondary-container: #564161;
  --md-sys-color-on-secondary-container: #ffffff;
  --md-sys-color-secondary-fixed: #564161;
  --md-sys-color-secondary-fixed-dim: #3e2b49;
  --md-sys-color-on-secondary-fixed: #ffffff;
  --md-sys-color-on-secondary-fixed-variant: #ffffff;
  --md-sys-color-tertiary: #421e44;
  --md-sys-color-tertiary-dim: #341137;
  --md-sys-color-on-tertiary: #ffffff;
  --md-sys-color-tertiary-container: #623b63;
  --md-sys-color-on-tertiary-container: #ffffff;
  --md-sys-color-tertiary-fixed: #623b63;
  --md-sys-color-tertiary-fixed-dim: #49254b;
  --md-sys-color-on-tertiary-fixed: #ffffff;
  --md-sys-color-on-tertiary-fixed-variant: #ffffff;
  --md-sys-color-error: #600004;
  --md-sys-color-error-dim: #480002;
  --md-sys-color-on-error: #ffffff;
  --md-sys-color-error-container: #98000a;
  --md-sys-color-on-error-container: #ffffff;
  --md-sys-color-control-activated: #ecdcff;
  --md-sys-color-control-normal: #4a4453;
  --md-sys-color-control-highlight: #0000001f;
  --md-sys-color-text-primary-inverse: #e8dfee;
  --md-sys-color-text-secondary-and-tertiary-inverse: #ccc3d5;
  --md-sys-color-text-primary-inverse-disable-only: #e8dfee;
  --md-sys-color-text-secondary-and-tertiary-inverse-disabled: #e8dfee;
  --md-sys-color-text-hint-inverse: #e8dfee;
}

.dark {
  --md-sys-color-primary-palette-key-color: #8005ff;
  --md-sys-color-secondary-palette-key-color: #866f91;
  --md-sys-color-tertiary-palette-key-color: #946994;
  --md-sys-color-neutral-palette-key-color: #7b7582;
  --md-sys-color-neutral-variant-palette-key-color: #7c7484;
  --md-sys-color-error-palette-key-color: #de3730;
  --md-sys-color-background: #15121b;
  --md-sys-color-on-background: #e8dfee;
  --md-sys-color-surface: #15121b;
  --md-sys-color-surface-dim: #15121b;
  --md-sys-color-surface-bright: #3c3742;
  --md-sys-color-surface-container-lowest: #100c16;
  --md-sys-color-surface-container-low: #1e1a24;
  --md-sys-color-surface-container: #221e28;
  --md-sys-color-surface-container-high: #2d2833;
  --md-sys-color-surface-container-highest: #38333e;
  --md-sys-color-on-surface: #e8dfee;
  --md-sys-color-surface-variant: #4a4453;
  --md-sys-color-on-surface-variant: #ccc3d5;
  --md-sys-color-inverse-surface: #e8dfee;
  --md-sys-color-inverse-on-surface: #332e39;
  --md-sys-color-outline: #968d9e;
  --md-sys-color-outline-variant: #4a4453;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #d5baff;
  --md-sys-color-primary: #d5baff;
  --md-sys-color-primary-dim: #e0cbff;
  --md-sys-color-on-primary: #42008a;
  --md-sys-color-primary-container: #5e00c1;
  --md-sys-color-on-primary-container: #ecdcff;
  --md-sys-color-inverse-primary: #7d00fa;
  --md-sys-color-primary-fixed: #ecdcff;
  --md-sys-color-primary-fixed-dim: #d5baff;
  --md-sys-color-on-primary-fixed: #270057;
  --md-sys-color-on-primary-fixed-variant: #5e00c1;
  --md-sys-color-secondary: #d8bde3;
  --md-sys-color-secondary-dim: #e6cbf2;
  --md-sys-color-on-secondary: #3c2947;
  --md-sys-color-secondary-container: #533f5e;
  --md-sys-color-on-secondary-container: #f4d9ff;
  --md-sys-color-secondary-fixed: #f4d9ff;
  --md-sys-color-secondary-fixed-dim: #d8bde3;
  --md-sys-color-on-secondary-fixed: #261431;
  --md-sys-color-on-secondary-fixed-variant: #533f5e;
  --md-sys-color-tertiary: #e8b7e6;
  --md-sys-color-tertiary-dim: #fdcafb;
  --md-sys-color-on-tertiary: #472349;
  --md-sys-color-tertiary-container: #5f3961;
  --md-sys-color-on-tertiary-container: #ffd6fc;
  --md-sys-color-tertiary-fixed: #ffd6fc;
  --md-sys-color-tertiary-fixed-dim: #e8b7e6;
  --md-sys-color-on-tertiary-fixed: #2f0d33;
  --md-sys-color-on-tertiary-fixed-variant: #5f3961;
  --md-sys-color-error: #ffb4ab;
  --md-sys-color-error-dim: #ffc7c0;
  --md-sys-color-on-error: #690005;
  --md-sys-color-error-container: #93000a;
  --md-sys-color-on-error-container: #ffdad6;
  --md-sys-color-control-activated: #5e00c1;
  --md-sys-color-control-normal: #ccc3d5;
  --md-sys-color-control-highlight: #ffffff33;
  --md-sys-color-text-primary-inverse: #1e1a24;
  --md-sys-color-text-secondary-and-tertiary-inverse: #4a4453;
  --md-sys-color-text-primary-inverse-disable-only: #1e1a24;
  --md-sys-color-text-secondary-and-tertiary-inverse-disabled: #1e1a24;
  --md-sys-color-text-hint-inverse: #1e1a24;
}

.dark-medium-contrast {
  --md-sys-color-primary-palette-key-color: #8005ff;
  --md-sys-color-secondary-palette-key-color: #866f91;
  --md-sys-color-tertiary-palette-key-color: #946994;
  --md-sys-color-neutral-palette-key-color: #7b7582;
  --md-sys-color-neutral-variant-palette-key-color: #7c7484;
  --md-sys-color-error-palette-key-color: #de3730;
  --md-sys-color-background: #15121b;
  --md-sys-color-on-background: #e8dfee;
  --md-sys-color-surface: #15121b;
  --md-sys-color-surface-dim: #15121b;
  --md-sys-color-surface-bright: #48424e;
  --md-sys-color-surface-container-lowest: #09060f;
  --md-sys-color-surface-container-low: #201c26;
  --md-sys-color-surface-container: #2a2631;
  --md-sys-color-surface-container-high: #35313c;
  --md-sys-color-surface-container-highest: #413c47;
  --md-sys-color-on-surface: #ffffff;
  --md-sys-color-surface-variant: #4a4453;
  --md-sys-color-on-surface-variant: #e3d9eb;
  --md-sys-color-inverse-surface: #e8dfee;
  --md-sys-color-inverse-on-surface: #2d2833;
  --md-sys-color-outline: #b7aec0;
  --md-sys-color-outline-variant: #958d9e;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #d5baff;
  --md-sys-color-primary: #e7d5ff;
  --md-sys-color-primary-dim: #e0cbff;
  --md-sys-color-on-primary: #340070;
  --md-sys-color-primary-container: #a974ff;
  --md-sys-color-on-primary-container: #000000;
  --md-sys-color-inverse-primary: #6000c3;
  --md-sys-color-primary-fixed: #ecdcff;
  --md-sys-color-primary-fixed-dim: #d5baff;
  --md-sys-color-on-primary-fixed: #1a003e;
  --md-sys-color-on-primary-fixed-variant: #490098;
  --md-sys-color-secondary: #efd3fa;
  --md-sys-color-secondary-dim: #e6cbf2;
  --md-sys-color-on-secondary: #311e3b;
  --md-sys-color-secondary-container: #a088ac;
  --md-sys-color-on-secondary-container: #000000;
  --md-sys-color-secondary-fixed: #f4d9ff;
  --md-sys-color-secondary-fixed-dim: #d8bde3;
  --md-sys-color-on-secondary-fixed: #1b0926;
  --md-sys-color-on-secondary-fixed-variant: #422f4d;
  --md-sys-color-tertiary: #ffccfc;
  --md-sys-color-tertiary-dim: #fdcafb;
  --md-sys-color-on-tertiary: #3b183d;
  --md-sys-color-tertiary-container: #af82af;
  --md-sys-color-on-tertiary-container: #000000;
  --md-sys-color-tertiary-fixed: #ffd6fc;
  --md-sys-color-tertiary-fixed-dim: #e8b7e6;
  --md-sys-color-on-tertiary-fixed: #230327;
  --md-sys-color-on-tertiary-fixed-variant: #4d284f;
  --md-sys-color-error: #ffd2cc;
  --md-sys-color-error-dim: #ffc7c0;
  --md-sys-color-on-error: #540003;
  --md-sys-color-error-container: #ff5449;
  --md-sys-color-on-error-container: #000000;
  --md-sys-color-control-activated: #5e00c1;
  --md-sys-color-control-normal: #ccc3d5;
  --md-sys-color-control-highlight: #ffffff33;
  --md-sys-color-text-primary-inverse: #1e1a24;
  --md-sys-color-text-secondary-and-tertiary-inverse: #4a4453;
  --md-sys-color-text-primary-inverse-disable-only: #1e1a24;
  --md-sys-color-text-secondary-and-tertiary-inverse-disabled: #1e1a24;
  --md-sys-color-text-hint-inverse: #1e1a24;
}

.dark-high-contrast {
  --md-sys-color-primary-palette-key-color: #8005ff;
  --md-sys-color-secondary-palette-key-color: #866f91;
  --md-sys-color-tertiary-palette-key-color: #946994;
  --md-sys-color-neutral-palette-key-color: #7b7582;
  --md-sys-color-neutral-variant-palette-key-color: #7c7484;
  --md-sys-color-error-palette-key-color: #de3730;
  --md-sys-color-background: #15121b;
  --md-sys-color-on-background: #e8dfee;
  --md-sys-color-surface: #15121b;
  --md-sys-color-surface-dim: #15121b;
  --md-sys-color-surface-bright: #534e5a;
  --md-sys-color-surface-container-lowest: #000000;
  --md-sys-color-surface-container-low: #221e28;
  --md-sys-color-surface-container: #332e39;
  --md-sys-color-surface-container-high: #3e3945;
  --md-sys-color-surface-container-highest: #4a4550;
  --md-sys-color-on-surface: #ffffff;
  --md-sys-color-surface-variant: #4a4453;
  --md-sys-color-on-surface-variant: #ffffff;
  --md-sys-color-inverse-surface: #e8dfee;
  --md-sys-color-inverse-on-surface: #000000;
  --md-sys-color-outline: #f7ecff;
  --md-sys-color-outline-variant: #c8bfd1;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-surface-tint: #d5baff;
  --md-sys-color-primary: #f7ecff;
  --md-sys-color-primary-dim: #fffeff;
  --md-sys-color-on-primary: #000000;
  --md-sys-color-primary-container: #d2b6ff;
  --md-sys-color-on-primary-container: #12002f;
  --md-sys-color-inverse-primary: #6000c3;
  --md-sys-color-primary-fixed: #ecdcff;
  --md-sys-color-primary-fixed-dim: #d5baff;
  --md-sys-color-on-primary-fixed: #000000;
  --md-sys-color-on-primary-fixed-variant: #1a003e;
  --md-sys-color-secondary: #fcebff;
  --md-sys-color-secondary-dim: #fffeff;
  --md-sys-color-on-secondary: #000000;
  --md-sys-color-secondary-container: #d4b9df;
  --md-sys-color-on-secondary-container: #14041f;
  --md-sys-color-secondary-fixed: #f4d9ff;
  --md-sys-color-secondary-fixed-dim: #d8bde3;
  --md-sys-color-on-secondary-fixed: #000000;
  --md-sys-color-on-secondary-fixed-variant: #1b0926;
  --md-sys-color-tertiary: #ffeafa;
  --md-sys-color-tertiary-dim: #fffeff;
  --md-sys-color-on-tertiary: #000000;
  --md-sys-color-tertiary-container: #e4b3e2;
  --md-sys-color-on-tertiary-container: #1b0020;
  --md-sys-color-tertiary-fixed: #ffd6fc;
  --md-sys-color-tertiary-fixed-dim: #e8b7e6;
  --md-sys-color-on-tertiary-fixed: #000000;
  --md-sys-color-on-tertiary-fixed-variant: #230327;
  --md-sys-color-error: #ffece9;
  --md-sys-color-error-dim: #fffeff;
  --md-sys-color-on-error: #000000;
  --md-sys-color-error-container: #ffaea4;
  --md-sys-color-on-error-container: #220001;
  --md-sys-color-control-activated: #5e00c1;
  --md-sys-color-control-normal: #ccc3d5;
  --md-sys-color-control-highlight: #ffffff33;
  --md-sys-color-text-primary-inverse: #1e1a24;
  --md-sys-color-text-secondary-and-tertiary-inverse: #4a4453;
  --md-sys-color-text-primary-inverse-disable-only: #1e1a24;
  --md-sys-color-text-secondary-and-tertiary-inverse-disabled: #1e1a24;
  --md-sys-color-text-hint-inverse: #1e1a24;
}

